[2020-11-30 17:08] hishamco commented on #7817
@Skrypt is this a regression of the latest changes you made?

[2020-11-30 17:18] aaronamm commented on #7750
I will try but I am not sure it will work on my query.

In code example.
[code]
We join two index of articles which are `PublishedArticle` and 1ArticlesByDay` and then get `Article` model with is a main document.
It is index join index => main document

My is 'Index table of User' join 'Province table' =>  new join result set that container Username + Fields from Province table.

I don't know if Y

[2020-12-01 10:57] aaronamm commented on #7778
@Skrypt
Here is my PoC to make sure we can use Yarn Workspace when deploy to Azure App Service
https://github.com/codesanook/CoreMvcAppService/blob/develop/.github/workflows/deploy-app-service.yml

[2020-12-01 11:08] aaronamm opened #7819 "Add GitHub action to deploy OrchardCore to Azure App Service"
Hello everyone

I think it would be nice if we can add GitHub action to deploy OrchardCore to Azure App Service automatically or add a document/guide of how to deploy the website with GitHub action.

This is starting from the issue that I open (https://github.com/OrchardCMS/OrchardCore/issues/7778).
I want to add Yarn Workspace to the project and want to to make sure it work if we deploy to App Se

[2020-12-01 13:33] deanmarcussen commented on #7819
This actually sounds like something that might suit a blog post best.

The focus could be on deploying Orchard Core through NuGet packages.

We are actively encouraging users to develop and deploy with the NuGet packages, rather than the source code directly.

The issues with adding a build script, or docs about it is that we are then supporting github actions, and being opinionated about what peo

[2020-12-01 14:47] aaronamm commented on #7819
@deanmarcussen Agree, but how about support add yarn workspaces.
This is because I want to add this to my personal Orchard project and want to contribute it back to the community.

[2020-12-01 14:57] aaronamm commented on #7819
FYI, I found this is interesting blog post that mention as below but I am not sure it is right.
`
from what was seen at Microsoft Build, many of the new features are going to GitHub Actions CICD — and not Azure DevOps.
`
From https://www.cbtnuggets.com/blog/certifications/microsoft/github-actions-vs-azure-devops-a-guide-to-microsofts-new-ci-cd-platform

[2020-12-01 15:17] jptissot commented on #7783
Makes sense. I thought the translations were included in all targets. I will add this package

[2020-12-01 15:17] #7783 closed

[2020-12-01 16:37] #7623 closed

[2020-12-01 17:31] #7756 closed

[2020-12-01 18:15] Skrypt commented on #7817
I can't repro. This is probably related to a custom admin theme.

![image](https://user-images.githubusercontent.com/3228637/100780006-3380db00-33d7-11eb-9ac9-cfd92adcfc94.png)

![image](https://user-images.githubusercontent.com/3228637/100780063-45fb1480-33d7-11eb-8044-accbbd347baf.png)

Here is a repro I made and I don't get the same results.

[2020-12-01 18:23] Skrypt commented on #7816
I can't repro.
Here are some tests I made :

![screencapture-localhost-5001-Admin-Contents-ContentTypes-LiquidPage-Create-2020-12-01-13_22_23](https://user-images.githubusercontent.com/3228637/100780901-52cc3800-33d8-11eb-9f22-825be10d7f0b.png)
![screencapture-localhost-5001-Admin-Templates-Create-2020-12-01-13_22_47](https://user-images.githubusercontent.com/3228637/100780911-53fd6500-33d8-11eb-8

[2020-12-01 18:25] #7741 closed

[2020-12-01 18:31] Skrypt commented on #7778
It is worth investigating if building our Assets should be done from CI. That would avoid a lot of merge issues happening right now because sometimes assets rebuild themselves based on if you use a different version of npm which will also change our package.lock.json files.

We currently are pre-building these assets so we don't build them again in the CI. I can see an issue here where the CI coul

[2020-12-01 18:34] agriffard commented on #7816
PLease try with a large text line that goes after the width of th screen.

[2020-12-01 18:38] Skrypt commented on #7816
![image](https://user-images.githubusercontent.com/3228637/100782468-798b6e00-33da-11eb-8407-1cc136d062ab.png)

[2020-12-01 18:52] jptissot commented on #7816
Try it inside a widget, then inside a tab. This is where I get the issue.

[2020-12-01 19:01] Skrypt commented on #7816
Okay! Fixed in #7813

[2020-12-01 19:08] EternityTeam commented on #7817
@Skrypt thx for reply!

I guess you're missing the following code, so using class selectpicker has no effect.

`<script asp-name="bootstrap-select" at="Foot"></script>
<style asp-name="bootstrap-select"></style>`

![Snipaste_2020-12-02_02-59-35](https://user-images.githubusercontent.com/14150259/100785069-1980e000-344b-11eb-9b15-978a65c49099.png)
![Snipaste_2020-12-02_03-01-56](https://user-images

[2020-12-01 19:13] Skrypt commented on #7817
<style asp-name="bootstrap-select" depends-on="admin"></style>

[2020-12-01 19:29] EternityTeam commented on #7817
Should not be the reason, even if depens-on is missing, the script is still loaded in the correct order.The loading sequence is shown in the picture above.

![Snipaste_2020-12-02_03-28-00](https://user-images.githubusercontent.com/14150259/100787330-70d47f80-344e-11eb-91e9-8e5e3c0a7ad5.png)

[2020-12-01 19:45] EternityTeam commented on #7817
I made a demo to reproduce it
[AdminUI.zip](https://github.com/OrchardCMS/OrchardCore/files/5625047/AdminUI.zip)

[2020-12-01 19:46] Skrypt commented on #7817
Yeah, I'm looking at it and it seems you are right. I'm trying to figure out why the styles are not applied correctly now.

[2020-12-01 20:13] giannik opened #7823 "Allow json token as parameter name in recipe"
Currenty in recipes you can only  use simple json parameter names  passed in as parameter to parameters function

eg

[code]

I would like to use complex json names like

[code]

my recipe  I want to use looks like this  :

[code]

submitting a pr to support this.

[2020-12-01 20:16] deanmarcussen commented on #6592
I believe this may have been fixed in https://github.com/OrchardCMS/OrchardCore/pull/7747

Please could someone confirm it achieves the requested behaviour

[2020-12-01 22:07] #6592 closed

[2020-12-01 23:25] issue-media-group commented on #7665
The error appeared (in OrchardCore.Lucene.LuceneQuerySource.cs for /api/lucene/document...) when a lucene document had multiple fields with the same key, i.e. for any multi-valued field. Adding a JProperty with a duplicate property name cuased the exception.

[2020-12-02 02:12] olegbogomaz opened #7826 "ImageSharp Potential Memory Leak"
We are currently running a single non production Orchard Code instance and have encountered a performance issue. Our current investigations and research are pointing to a memory leak. It appears the application does not always release memory so performance deteriorates over time and the application ends up crashing eventually. We currently run approximately 200 test tenants and use media with real

[2020-12-02 04:12] webmedia1012 opened #7827 ""media" folder is not connecting to azure CDN, still points to app_data"
Hi all,

Just a clarification, when I updated the appsettings to point to cdn, everything worked as far as uploading new media and creating a folder from cms admin, it gets replicated on ourcontainer, but now since our cms content has a relative url like "\media\slideshow\banner1.jpg" it's not displaying but when I go to https://ourcdn.azureedge.net/images/slideshow/banner1.jpg it shows up.

Did I

[2020-12-02 05:14] CrestApps opened #7828 "Bad Request - Invalid Hostname"
I am experimenting with OrchardCms.
 I created a site using the SaaS recipe. I was able to add and setup one tenant. I tried adding new tenant which also worked. However, when I click on "Setup" to set the tenant I get  the following error

[code]

Here are my tenants and you can see I can't setup the last two due to the same error. Any idea why this is happening? How can I fix this issue?

![imag

[2020-12-02 05:14] CrestApps opened #7829 "Bad Request - Invalid Hostname"
I am experimenting with OrchardCms.
 I created a site using the SaaS recipe. I was able to add and setup one tenant. I tried adding new tenant which also worked. However, when I click on "Setup" to set the tenant I get  the following error

[code]

Here are my tenants and you can see I can't setup the last two due to the same error. Any idea why this is happening? How can I fix this issue?

![imag

[2020-12-02 05:15] CrestApps commented on #7829
Duplicate #7828

[2020-12-02 05:15] #7829 closed

[2020-12-02 05:31] CrestApps commented on #7828
It was my mistake. I had to add the  site manually to the `/.vs/ProjectName/config/applicationhost.config`file

[2020-12-02 05:31] #7828 closed

[2020-12-02 05:32] aaronamm commented on #7778
@Skrypt, could you please let me if you need someone to work on build TS/Sass after you have done with investigating, I am happy to help working on this.

[2020-12-02 06:10] Skrypt commented on #7778
Will do, right now the focus is on releasing 1.0 these things can wait a little. I will let @sebastienros triage this on next meeting and see from there. We need to discuss it first.

[2020-12-02 06:27] aaronamm commented on #7778
@Skrypt  Thanks for prompt reply. Can't wait for the 1.0 official release. 🙏🙏🙏

[2020-12-02 07:23] scleaver opened #7830 "Admin them CSS now has too much specificity"
Sorry this is long... but it needs a rationale - I like the new dark theme and I don't want to knock all the great work that has been done on the new admin theme but one of the things that has always troubled me about the admin was the high specificity of the way the CSS has been done but with the new admin rewrite it is now so high that I felt it was time to raise the issue.

On upgrade to a rele

[2020-12-02 08:09] deanmarcussen opened #7831 "Proposal for ContentItemField"
There are times when it is useful to be able to compose a content item for reuse among many content types.

Example is a Media Content Type which has a BagPart, which can contain multiple contained content items, say carousel items, which need more meta data than just a simple Media Field can contain.

But you want to be able to attach/contain this Media Content Type to many content types.

You ca

[2020-12-02 08:27] Skrypt commented on #7830
Admin theme has now strict styling due to the fact that it bundles 2 different themes in one.
Moving forward, and based on Bootstrap themselves, this is the way to go to allow having multiple Bootstrap themes color schemes. These changes have been made also, so that the admin theme provides a flicker free experience.

Also, it should not be too complicated to make your custom styles work back.
You

[2020-12-02 09:22] scleaver commented on #7830
Thanks for the reply.

Don't quite follow why having two themes explains why styling has to be so specific thought. You should be able to have many colour themes and still use mostly single selectors for default theme styling like `a { color: #123123; text-decoration: none }` and then `:root[data-theme="orange"] a { color: #123123; text-decoration: none }` only for the overrides... actually not su

[2020-12-02 09:32] Skrypt commented on #7830
Yeah but ultimately what we need is to use pure CSS variables to do this and Bootstrap is not there yet. I built something more strict to be able to get there when it happens.

[2020-12-02 11:16] #7816 closed

[2020-12-02 11:16] #7817 closed

[2020-12-02 13:19] devlife commented on #7831
I have a similar scenario where I want to create a custom Part and attach a BagPart to it. Using the Content Picker doesn't seem quite right here either as the user experience becomes a bit more convoluted.

[2020-12-02 14:16] #7664 closed

[2020-12-02 16:44] #7731 closed

[2020-12-02 16:49] aaronamm commented on #7819
@deanmarcussen Could you please give me more details about automated deploy to Azure App Service by Nuget package?
It can be sudo build steps or useful documents/articles.  I can help contribute on this.

FYI, here is PoC ( not include Yarn build yet)  for Azure Devops Pipelines by code. https://github.com/codesanook/CoreMvcAppService/blob/develop/azure-pipelines-app-service.yml

[2020-12-02 16:58] jptissot opened #7835 "[CI] Add schedule run for manual tests"
Run the `Functional Tests - all Databases` and the `Frontend Assets build validation` periodically (weekly ?)
Automatically create an issue if the `Functional Tests - all Databases` fails
Automatically create a PR when the `Frontend Assets build validation` if there are any changes.

[2020-12-02 18:34] #7791 closed

[2020-12-02 18:40] jptissot opened #7836 "OpenId connect issue"
I am trying to test the OpenId connect client / server configuration on a local machine. However, when I try logging in, I get this exception.
[code]

## Server tenant
![image](https://user-images.githubusercontent.com/4681586/100915882-f97d0b00-34a2-11eb-88ce-79b4b3c5bee2.png)
![image](https://user-images.githubusercontent.com/4681586/100915902-01d54600-34a3-11eb-9283-e3f4633761be.png)
![image](h

[2020-12-02 18:41] jptissot commented on #7836
/cc @kevinchalet

[2020-12-02 19:33] jptissot commented on #7836
With info logging:
[code]

[2020-12-02 19:42] jptissot commented on #7836
Turns out my client settings had the wrong `Authority` url and this was the exception that it was spitting out when trying to login. I suggest we validate the AuthorityUrl when saving the settings to validate that the url is an openid server.

[2020-12-02 20:13] pbros opened #7839 "PO Localization not working on published site"
Hello,

I'm having trouble with having my Localization PO files being applied on my published site. I have a web project (Company.CMS.Web) and a custom theme (Company.CMS.Theme).

I've created a localization PO file in Company.CMS.Web/Localization/fr/Company.CMS.Theme.po and added the following to my Company.CMS.Web.csproj
[code]
When running on my dev instance using Visual Studio, the localizatio

[2020-12-02 20:18] hishamco commented on #7839
The should be located in the `Localization` folder, but if you add your own I need to ask @jtkech if there's a way to publish them

[2020-12-02 20:22] pbros commented on #7839
@hishamco I need to add my own, because I have some custom strings in my theme's views for headers and such.

Would there be another way of configuring localized strings not tied to a specific content item?

[2020-12-02 20:25] hishamco commented on #7839
This is common case

Could you please elaborate?

[2020-12-02 20:40] pbros commented on #7839
@jtkech is there anything that I need to validate to make sure that my custom PO files are included in my publish?

I am simply looking for alternatives to using PO files in the Orchard Core framework for my headers if I can't get them to work.

[2020-12-02 20:48] Skrypt commented on #7839
The /Localization folder located in your OrchardCore.Cms.Web project will get erased every time you publish or compile. You need to add a different .po file in one of your themes or module. I think you can also use the /Localization folder but with a different .po file than the one already standing in that folder.

[2020-12-02 20:59] hishamco commented on #7839
That mean MyModule.Header.po should work, Am I right Jasmin?

[2020-12-02 21:19] pbros commented on #7839
What do you mean by a different .po file standing in that folder? I currently don't have a .po file or a localization folder in my Theme project, but that might be because I created it with an older version?

[2020-12-02 21:35] Skrypt commented on #7839
The only module that will add a /Localization folder automatically is the OrchardCore.Cms.Web.
You can also add a /Localization to any other Orchard module or theme.
What I meant is that if you want to add a custom .po file in the OrchardCore.Cms.Web module it will likely be removed when the Localizations are updated on our side. So, to avoid that from happening I suggest that you read this docume

[2020-12-02 23:35] agriffard commented on #6954
See note in https://docs.orchardcore.net/en/dev/docs/reference/core/Configuration/#ioptions-configuration for SMTP Settings

Find a way to display the UI accordingly if it is configured in appsettings.

[2020-12-03 08:23] aaronamm commented on #7819
@deanmarcussen  I haven't noticed, we already have some GitHub actions work flows.
Here there are:
https://github.com/OrchardCMS/OrchardCore/tree/dev/.github/workflows

[2020-12-03 09:33] deanmarcussen commented on #7819
Yes @aaronamm we are using github actions.

Our github solution is quite different from a nuget version of Orchard Core, so has many different needs.

- We build nugets out, and docker containers, and a lot of things, that you are unlikely to need on an Orchard Core NuGet project.
- We also need to include all out build assets in the solution, so that contributors can use the solution, rather than

[2020-12-03 10:25] deanmarcussen commented on #7827
You maybe confusing the idea of blob storage with cdns?

I think maybe we've had this conversation already.

They're two different things

The configuration you maybe missing is listed here in the Media section
https://docs.orchardcore.net/en/dev/docs/reference/modules/Media/#configuration

`CdnBaseUrl`

To use a cdn with Orchard Core (unrelated to blob storage completely - though blob storage may

[2020-12-03 10:33] deanmarcussen commented on #7826
I can't offer any special insights into ImageSharp memory management - other than to say I have used some of the constrained memory configurations with Azure Functions (limited ram) previously.

What I have seen is that in a constrained memory environment it is possible to force, or receive, bad requests, when trying to real time resize many images at once - these generally result in a 500 error,

[2020-12-03 10:34] aaronamm commented on #7625
FYI, it happens to me as well.
Content go under tool bar.
Here is the screenshot and please ignore my dark theme.

![image](https://user-images.githubusercontent.com/2938310/100997612-0b3add00-358d-11eb-9367-d64def672373.png)

For @agriffard when say

I don't quite understand it but I think https://github.com/sparksuite/simplemde-markdown-editor is an inactive project.
Right now, we use https://gi

[2020-12-03 10:34] deanmarcussen commented on #7805
That is correct. The BagPart would need a feature to handle managing the contained items into a sitemap.

[2020-12-03 10:34] #7781 closed

[2020-12-03 12:40] aaronamm commented on #7819
@deanmarcussen Thank you so much for the answer in details.
It is very useful.

[2020-12-03 14:31] pbros commented on #7839
Hi @Skrypt

Thanks for the info. I was able to get it to work by placing the file as

`CMS.Theme/Localization/fr.po`

The documentation is a a bit unclear, as there are 2 bullets for **For each module and theme all files matching**, but only the first (`[ModuleLocation]/Localization/[CultureName].po`) is correct. I had tried with the other variations, but none had worked
[code]

Thanks again for b

[2020-12-03 14:31] #7839 closed

[2020-12-03 14:35] fzadrazil opened #7842 "PublishLater causes repeated errors in log"
When using PostgreSQL data storage, PublishLater module repeatedly logs error:

`2020-12-03 13:48:32.4132|Default|0HM4NH599E44F||OrchardCore.Modules.ModularBackgroundService|ERROR|Error while processing background task 'OrchardCore.PublishLater.Services.ScheduledPublishingBackgroundTask' on tenant 'Default'. Npgsql.PostgresException (0x80004005): 42883: operator does not exist: character varying <

[2020-12-03 15:55] maksudcs opened #7843 "OpenId"
Hey,

I am a dot net developer and thinking to build a blog using OrchardCore. Finally, started the development, but getting a few exceptions with the first build. Stated one exception among others.

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0738	'OpenIdApplicationManager<TApplication>' does not implement interface member 'IOpenIddictApplicationManager.CreateAsync(OpenI

[2020-12-03 16:04] deanmarcussen commented on #1820
@sfmskywalker I appear to be working on something to do with this, and found some old code of yours, that is disabled/ unused - `SelectWorkflowTypeViewComponent`

The approach I am taking is somewhat different maybe to what you had intended, so worth gathering some info.

I'm working on a Secrets module, which allows an abstraction of things like Passwords, RSA keys - you remember our conversation

[2020-12-03 16:10] deanmarcussen commented on #7843
You will need to update to the dotnet 5 SDK, and latest version of Visual Studio 2019 if you are using it

[2020-12-03 16:10] #7843 closed

[2020-12-03 17:29] Skrypt commented on #7625
I thought this issue was fixed I will take a look at it today.

[2020-12-03 17:33] Skrypt commented on #7842
Your timezone must be set to null or something like that in your tenant settings.

[2020-12-03 18:15] fzadrazil commented on #7842
Nope, timezone is set to GMT+01 in /Admin/Settings/general. We have the same settings, same installation process of OrchardCore, on SQL Server instance and no errors in log.

[2020-12-03 22:22] Skrypt commented on #7842
Ok I think I might know what's happening. I had issues with the publish later module concerning timezones too. It's maybe not even related with PostgreSQL.

[2020-12-04 00:23] MikeAlhayek opened #7847 "InvalidOperationException: Cannot resolve scoped service 'System.Collections.Generic.IEnumerable`1[YesSql.Indexes.IIndexProvider]' from root provider."
I created the following model

    public class Location : ContentItem
    {
        public string Name { get; set; }
    }

Then created the following index and index-provider

    public class LocationIndex : MapIndex
    {
        public string ContentItemId { get; set; }

        public string Name { get; set; }
    }

    public class LocationIndexProvider : IndexProvider<Location>
    {

[2020-12-04 00:38] jtkech commented on #7847
You need to register it as a singleton, otherwise it would need to be an `IScopeIndexProvider`, but you don't need it here as it is used e.g. when it needs to inject scoped services

[2020-12-04 02:09] CrestApps commented on #7847
@jtkech That did work! Thank you. But now the index table is not populating when a new content item is added. Any reason why it is not updating?

[2020-12-04 02:10] CrestApps commented on #7847
@jtkech That did work! Thank you. But now the index table is not populating when a new content item is added. Any reason why it is not updating?

[2020-12-04 02:21] jtkech commented on #7847
To do that, you need to implement an `IndexProvider<ContentItem>`

[2020-12-04 04:47] maksudcs commented on #7843
Thanks, @deanmarcussen , it's working 👍

[2020-12-04 04:52] CrestApps commented on #7847
@jtkech that is what I am doing above. The Location model inherents from ContentItem the my LocationIndexProvider implements IndexProvider<Location> but the index is empty event after I added née content item from the UI.

[2020-12-04 07:11] aaronamm commented on #7625
@Skrypt Thanks for following up.
Please let me know if there is a proplem that I need to build JavaScript to fix.

[2020-12-04 07:47] Skrypt commented on #7625
Tomorrow first thing.

[2020-12-04 08:54] TimF5 commented on #7798
Hi Dean, thx for your responses and sorry for my rather late reply. I'll try to look into it. I broke my arm last sunday alas so it won't be for the very near future. I'll keep you posted. Thx again.

[2020-12-04 09:07] sfmskywalker commented on #1820
The Secrets module makes a lot of sense, nice work!

Regarding the **Select Workflow Type** view component, its purpose is not to trigger a workflow using HTTP, but to actually invoke the selected workflow, regardless of its starting activity being an event or not. For example, such a selected workflow might start immediately by storing the submitted form values in some database. No HTTP events in

[2020-12-04 09:27] sfmskywalker commented on #1820
Regarding the discussion about **secret binding** vs **secret**, it's an interesting one. One can bind a configuration source against some options object, but in Orchard, there's of course the `IConfiguration` API built from various sources such as appsettings.json and ENV, but also Orchard Settings which can be managed at runtime by a user. In any case, this is all databinding a IConfiguration ag

[2020-12-04 09:35] sfmskywalker commented on #1820
On second thought, after watching the video some more, I just realized that the view component you are working on is really just a secret editor allowing you to either select an existing secret or create a new secret on demand. So forget what I said earlier.

Being able to select an arbitrary workflow to execute upon form submission should be considered out of scope and be revisited when the need

[2020-12-04 10:51] deanmarcussen commented on #1820
We love a good naming debate ;)

So I think I ended up agreeing better to just use `Secret` in the UI, as you're right, that is what you're editing.

I think I kept it in the demo, because I wanted to demo / easily explain that it was both a binding arrangement, and possibly creating a secret.

e.g. the secrets that come from an `IConfiguration` secret store, are readonly, so they're already there

[2020-12-04 12:55] dannoh commented on #6749
@sebastienros Sorry for posting on a closed issue, but to clarify.  We would like the ContentItem to be Versionable, but only if they for example change the Name property, but not if they change the Description property.

If they change Description on a published item, it should stay published.  Possible?

[2020-12-04 14:53] serverside-is opened #7852 "Bug: Exporting a Deployment Plan that includes the Admin settings step produces wrong json"
![image](https://user-images.githubusercontent.com/3681658/101177599-e81d3580-363f-11eb-9d1e-9a2b70fd9efc.png)

Adding the `Admin Settings` step and the `Deployment Plans`  to a `Deployment Plan`  (as in the above picture), and downloading the json file, produces something like this:

[code]
When we import this package, we get:

[code]
This seems to work just fine:

[code]

To produce the second r

[2020-12-04 16:09] NogginBox opened #7853 "Setup recipe error with feature "OrchardCore.Contents.Deployment.ExportContentToDeploymentTarget""
I created a recipe using export. While trying to setup a new site using this there was an error and the setup did not finish.

With some investigation and slowing retying with less and less of the recipe I narrowed it down to the features step and enabling "OrchardCore.Contents.Deployment.ExportContentToDeploymentTarget".

This is the error:
[code]

This is the offending features step recipe:
[cod

[2020-12-04 16:55] jtkech commented on #7847
@CrestApps

Try to use the `Contentitem` base class, and then in your mapping check if it is a `Location`

[2020-12-04 17:50] jtkech commented on #7853
Maybe a missing dependency

In the `OC.Contents` manifest file, i think that the `ExportContentToDeploymentTarget` feature needs to depend on `OC.ContentTypes` in place of `OC.Contents`. Note: `OC.ContentTypes` depends on `OC.Contents`

[2020-12-04 18:13] webmedia1012 commented on #7827
Thank you Dean, it might be helpful to run you to the steps I did.
1. I setup the feature on CMS to enable Azure CDN (which is on the docs)
2. I copied the configuration on your docs here :https://docs.orchardcore.net/en/dev/docs/reference/modules/Media.Azure/
3. Modified the values

I am able to upload files from CMS media section (admin) all the way to my Storage using config on item #2

So I un

[2020-12-04 23:34] rserj opened #7860 "Icon picker does not work in dark mode"
Can not see icons in dark-mode, please see the image below

![2020-12-04-icon-picker](https://user-images.githubusercontent.com/13991195/101225338-06862f80-3646-11eb-8430-f84139b0c4cf.png)

[2020-12-04 23:38] Skrypt commented on #7860
How did you add the Icon Picker to the Link Menu Item?

[2020-12-04 23:42] rserj commented on #7860
I added "Text Field" to "Link Menu Item" type in Content Definition

![image](https://user-images.githubusercontent.com/13991195/101225770-2c600400-3647-11eb-875d-e371dd000eb0.png)

[2020-12-04 23:43] rserj commented on #7860
Ohh ok I'll try to check out the last version, thank you

[2020-12-04 23:51] Skrypt commented on #7860
Actually I'm trying it right now and it's broken in latest version. I'm surprised, maybe it's using a different component than the Boostrap-select one.

[2020-12-05 00:01] Skrypt commented on #7860
Yeah it is using https://github.com/itsjavi/fontawesome-iconpicker

[2020-12-05 12:26] MikeKry opened #7865 "Improvement idea: Import custom content"
Hi, I believe that I have searched every bit of documentation of OC but did not found a way to import custom data from excel or something.

Just got idea which could help devs to import their own content and it should not cost too much time to include in OC..

Idea: Use orchard import / export and just modify "ContentStep" to allow inserting, if there is no VersionId and ContentItemId provided. Th

[2020-12-05 17:28] #6503 closed

[2020-12-05 18:04] agriffard opened #7868 "Admin Users"
Add filters in admin users page like:
- Only enabled.
- Only not email confirmed.

[2020-12-05 18:04] agriffard opened #7869 "Hint with dashes"
Check css for the separator added with @scleaver changes on divs with `hint dashed`.

It needs some space between the dash and the previous word:
![image](https://user-images.githubusercontent.com/703248/101259907-3871c180-372c-11eb-9415-03364a5af2df.png)

[2020-12-05 20:32] hishamco commented on #7868
Filter by:

- Activity (Enable, Disable, All)

- Email Confirmation (Confirmed, Not Confirmed, All)

- Role

I can work on this if you are not started yet

[2020-12-05 22:13] agriffard commented on #4659
Closing. Will make separate issues if needed.

[2020-12-05 22:13] #4659 closed

[2020-12-05 22:50] #7823 closed

[2020-12-05 23:15] agriffard commented on #7806
Tooltips added:

![media](https://user-images.githubusercontent.com/703248/101267367-1726ca80-3758-11eb-808d-55246464cf72.gif)

[2020-12-06 08:05] hishamco commented on #7806
I like the tooltip on filter textbox because it's more useful, but I still don't like the link to the site and tooltips for both logo and title, probably adding a new link to the right with title "Live Site" make sense

[2020-12-06 13:30] agriffard commented on #7806
![image](https://user-images.githubusercontent.com/703248/101281507-8c81b200-37cf-11eb-9304-f47c3acef897.png)

[2020-12-06 13:32] agriffard commented on #7806
![media](https://user-images.githubusercontent.com/703248/101281515-a1f6dc00-37cf-11eb-97b5-94663f652c05.gif)

[2020-12-06 14:50] hishamco commented on #7806
Nice!!

[2020-12-07 01:26] DiomedesDominguez opened #7879 "Could not load file or assembly 'Microsoft.Extensions.DependencyInjection.Abstractions"
In the latest docker image I got this error message:
[code]

![image](https://user-images.githubusercontent.com/4379316/101299739-988a6580-3809-11eb-92cc-b90f7ecd759f.png)

[2020-12-07 02:07] scleaver opened #7880 "Multiple select widgets in forms doesn't work"
Multiple problems when adding more than one Select widget to a form:

1. Setting the default option for a select widget removes the default from other select widgets. This is because the `name` attribute on the default radios is the same across select widgets.
2. Adding options to the second+ select widget - the options are not saved.
3. Click the edit button to see the options in JSON opens multi

[2020-12-07 02:28] scleaver commented on #7869
@agriffard - Where is this example? I have checked lots of the instances and can't find where it occurs.

[2020-12-07 04:10] hishamco commented on #7879
/cc @Skrypt

[2020-12-07 04:31] Skrypt commented on #7869
It's the User module Razor templates and it's caused because it needs a refresh on the HTML composition.

[2020-12-07 05:47] aaronamm opened #7881 "Update Markdown editor to the latest version of EasyMDE"
For a WYSIWYG markdown editor, we use a fork of SimpleMDE and I think the author has renamed the project to EasyMDE.
If you navigate URL https://github.com/ionaru/simplemde-markdown-editor, you will be redirected to https://github.com/Ionaru/easy-markdown-editor.

I think we should update this script to the latest version of EasyMDE which is 2.13.0 and use it from NPM package reference
https://www

[2020-12-07 05:59] aaronamm commented on #7778
@Skrypt  just for my curiosity, if we have a simple Node project in each OC modules, can yarn workspace help us to maintain updating NPM package in each project easily like in this video? https://egghead.io/lessons/yarn-use-yarn-up-to-update-dependencies-in-a-yarn-workspace.

We can also use `yarn workspaces run build` to build all Node projects in each OC module with a single command.

[2020-12-07 07:17] Skrypt commented on #7778
I don't think the issue is there. The problem is that we have custom assets in each modules which needs to be built only when a change is found in one of these files. With the gulpfile.js pipeline we harvest for each modules assets using the Assets.json file standing in each of thems. So using yarn workspace here would only be only usefull for assets that are retrieved from NPM. We also have modul

[2020-12-07 08:16] giannik opened #7882 "Pass in arbitrary data to setup context"
When setting up a tenant or site sometimes you need to pass in some custom data  and use it in your setup recipes.

Example :
1. When a user registers on my site he submits a form with firstname, lastname  etc.  I then call a workflow  that creates the tenant and executes a setup recipe. In this setup recipe I create a landing page and i want  to assign the fisrtname , lastname  to be set as the d

[2020-12-07 08:22] aaronamm commented on #7778
@Skrypt  Thanks for the information and totally agree with you that it's too late call when closing to RC 1.0.

[2020-12-07 09:18] deanmarcussen commented on #7879
I am guessing this maybe related to a recent YesSql change / then reversion https://github.com/sebastienros/yessql/pull/306

@sebastienros can you merge it to master?

[2020-12-07 09:39] davidbuckleyni opened #7883 "Using OrchardCore.Application.Mvc.Targets in own Application"
I am building a warehouse managment system where I would love the ability to have plugins I am using your moduler test sample as a basis for it.

I would love the ability to add these modules at runtime is that possible cause I dont see the point if I am adding them as a reference is that not just the same as dependancy injection.

Also how does one display a list for the user of modules so that h

[2020-12-07 09:47] davidbuckleyni opened #7884 ".net 5 web site getting the following error on startup"
In a .net 5 web site mvc application following the tennant example I am getting the following error.

[code]

[2020-12-07 10:03] NogginBox commented on #7853
@jtkech I switched the dependency as suggested, but it does not fix the error. The error says ```Error while running migration version 0 for 'OrchardCore.Contents'.```, but I can't figure out why that is affected by having the ```ExportContentToDeploymentTarget ``` feature enabled.

[2020-12-07 12:08] #6404 closed

[2020-12-07 12:24] IsQiao opened #7889 "call GraphQL API return 400 bad request when anonymous"
expect: 401 Unauthorized

[2020-12-07 13:42] DiomedesDominguez commented on #7879
I notice in that the dockerfile use the .NET SDK 5 but the runtime is 3.1, can be this the issue?

[2020-12-07 13:50] deanmarcussen opened #7890 "Sourcelink is an unmanaged package reference"
From the recent nuget pr `SourceLink` is now giving a warning that is an unmanaged package reference.

Probably just needs to be added to the dependencies

[2020-12-07 17:42] rserj commented on #7860
@Skrypt thanks for the fix!

[2020-12-07 19:19] Skrypt commented on #7879
Yes this is because you need to have both .NET 3.1 and 5.0 installed.

[2020-12-07 19:22] DiomedesDominguez commented on #7879
Yes, but the docker image is using only one.

[2020-12-07 19:29] Skrypt commented on #7879
The Docker images are built by the CI

https://github.com/OrchardCMS/OrchardCore/blob/f53933f678fea62af1e220f171163226e706588b/.github/workflows/release_ci.yml#L26-L30

And you can see that we install both framework there.
And if you build an image by yourself :  https://github.com/OrchardCMS/OrchardCore/blob/dev/Dockerfile
The Dockerfile uses .NET SDK 5.0 for building OC and 3.1 runtime for runni

[2020-12-08 05:11] jtkech commented on #7853
@NogginBox

Okay i could repro by adding these features to the blog recipe

So, here the problem is that when the `ExportContentToDeploymentTarget` migration recipe is executed, the `OC.Deployment` migration was not executed yet and then the `DeploymentPlanIndex` table was not created.

Feature dependencies are important e.g. for the order services are registered, also for the order of migrations

[2020-12-08 05:50] #7853 closed

[2020-12-08 08:04] #7890 closed

[2020-12-08 09:11] aaronamm commented on #7625
@Skrypt
FYI, I have tried to fix this issue by creating a custom module to override `MarkdownBodyPart_Edit__Wysiwyg` shape to use the latest version of EasyMDE. (https://www.npmjs.com/package/easymde)

Here are what I found. EasyMDE two main components which are:
- EditorToolbar for tool bar icon
- CodeMirror for markdown content

Therefore, to make the editor shows properly in full screen mode, I

[2020-12-08 09:29] deanmarcussen opened #7896 "Why is Email settings listed under Security?"
Seems to me it's a Configuration Setting, not a Security Setting

<img width="362" alt="Screenshot 2020-12-08 at 09 28 06" src="https://user-images.githubusercontent.com/13782679/101465415-d2598a00-3937-11eb-9615-a75988ad48b9.png">

/cc @agriffard

[2020-12-08 09:35] agriffard commented on #7896
It is the 'Change email' settings.
I will rename it.

[2020-12-08 10:02] hishamco commented on #7625
@aaronamm could you please send a PR and share a screenshot shows the final fix

[2020-12-08 10:09] aaronamm commented on #7625
@hishamco I can make a PR and I want to improve it as well.
Could you please reply the issue https://github.com/OrchardCMS/OrchardCore/issues/7881 that I opened?

[2020-12-08 10:10] hishamco commented on #7882
I think we have similar discussion in another PR where we want to set the CDN support from within setup using recieps

[2020-12-08 10:28] hishamco commented on #7625
I saw the other issue, I think it introduces a new package or editor, Am I right?

[2020-12-08 10:34] aaronamm commented on #7625
@hishamco  You are right.
However, the idea is to use the latest version of EasyMDE and use NPM package instead of adding JavaScript file in the module.
We use a fork of SimpleMDE which has been renamed to EasyMDE.
Technically, I think we don't introduce a new editor.

[2020-12-08 10:48] hishamco commented on #7625
Please submit a PR that update the package and fix this issue, hope @agriffard don't mind with changing the package

[2020-12-08 11:14] agriffard commented on #7881
Yes, you can create a PR.
I don't mind changing to this library because it seems to be a fork that is more maintained and has a npm repo.
Please use Assets.json and ResourceManifest (and add the version into the docs).

[2020-12-08 11:15] agriffard commented on #7881
We need of course the same plugins: Image and Shortcodes modals.

[2020-12-08 11:20] aaronamm commented on #7881
@agriffard  Thank you for your reply and suggestion. I will use Assets.json and ResourceManifest.

[2020-12-08 11:23] aaronamm commented on #7625
@agriffard has replied me in this issue https://github.com/OrchardCMS/OrchardCore/issues/7881#issuecomment-740559462 already.
@hishamco Thanks for supporting.

[2020-12-08 11:50] #7896 closed

[2020-12-08 12:09] agriffard opened #7901 "The Agency: No title"
If you use a theme with TheAgencyTheme as BasedTheme, the title (meta in head) is not displayed on the homepage.

[2020-12-08 17:04] deanmarcussen opened #7908 "Replace Content Definitions Step"
This step is not correctly including all the fields for a content type definition.

[2020-12-08 18:40] DiomedesDominguez commented on #7879
The problem persists in the latest docker image

![image](https://user-images.githubusercontent.com/4379316/101526579-30e82d80-3963-11eb-810c-c9b86885c0bd.png)

[2020-12-08 18:44] deanmarcussen commented on #7879
I'm going to merge a pr that may be (and also may not be) related to this issue.

Note: I couldn't repro myself.

Can you try in half an hour after the latest image has been pushed @DiomedesDominguez

[2020-12-08 18:51] DiomedesDominguez commented on #7879
No problem, I can wait.

As you can see I'm just pulling the docker image from the docker hub.

[2020-12-08 20:39] DiomedesDominguez commented on #7879
Now is running!

[2020-12-08 20:39] #7879 closed

[2020-12-08 21:52] deanmarcussen commented on #7879
@sebastienros it was yessql!

[2020-12-08 22:13] sliu001 opened #7911 "Icon Picker doesn't work since 15533"
Icon Picker hasn't been working **since 1.0.0-rc2-15533**. The dropdown area with search textbox and all the icons is not available. I've tried the latest version which is 1.0.0-rc2-15588. The **last working version is 1.0.0-rc2-15532**. Thanks.

**Issue:**
![IconPickerIssue](https://user-images.githubusercontent.com/7218894/101547364-1f5d5080-3978-11eb-8df2-98d79ac3949d.PNG)

**My setup:**
![Icon

[2020-12-08 22:24] Skrypt commented on #7911
duplicate and fixed in https://github.com/OrchardCMS/OrchardCore/pull/7862

[2020-12-08 22:24] #7911 closed

[2020-12-08 22:24] agriffard opened #7912 "IsImage method in OrchardHelper"
In order to use it in the MediaField display instead of a Regex.

[2020-12-08 22:26] #7625 closed

[2020-12-08 22:26] #7860 closed

[2020-12-08 22:26] #7881 closed

[2020-12-09 03:11] sleeplessninja commented on #3817
Not looking to open this up again, but because this is where I first came to when I ran into this issue, I thought it would be useful for others.  The current version of Orchard Core converts div for p out of the box for the Wysiwyg editors, but the way to fix this issue is much more flexible.

Go to your HTML part/field.   Select Trumbowyg editor. There are editor options, add to those options:

[2020-12-09 07:27] MikeKry opened #7915 "Security issue: Managing Users permission"
When defining role for user that can manage users (add/edit) it allows also to delete users with administrator role, or to change role of administrator user, even though managing roles / assign roles is not allowed.

1.0.0-rc2-15584

[2020-12-09 09:22] HengzheLi opened #7916 "Does Admin panel only can be accessed using HTTPS?"
My app is exposed to be accessed via http. But when I login to the admin panel like http://localhost:5000/admin, it redirect me to the login page again http://localhost:5000/Login?ReturnUrl=%2Fadmin.

I can confirm that my username and password are correct. Because it works correctly when I use HTTPS.

[2020-12-09 10:12] deanmarcussen commented on #7916
Generally this is due to chromes same site cookie changes that occurred earlier in the year.

It is resolved on the preview feed https://docs.orchardcore.net/en/dev/docs/getting-started/preview-package-source/

Please upgrade to the preview feed and reopen if the issue still occurs

[2020-12-09 10:12] #7916 closed

[2020-12-09 10:29] HengzheLi commented on #7916
May I know the PR that fixes this issue?

[2020-12-09 11:46] hishamco commented on #7915
This is already done by @Skrypt since month or two ago in the dev branch

[2020-12-09 12:22] HengzheLi commented on #7916
I download the latest dev branch code and try again. The issue still exists.

[2020-12-09 12:27] jtkech commented on #7916
Just tried on my side, it works

As i remember, as soon you logged in with https, then you can't with http

You need to clear the cookies of your browser and / or close all insatnces of you browser

And / or try with another browser ;)

[2020-12-09 12:35] MikeKry commented on #7915
@hishamco If it is in dev branch, then it should work on my version, I have updated nuggets yesterday.

[2020-12-09 12:40] jtkech commented on #7915
On nuget this is the master branch

The dev branch is on the cloudsmith feed

[2020-12-09 12:49] deanmarcussen commented on #7915
This wasn't fixed by @Skrypt recently. @Skrypt fixed another issue.

I opened an issue around this https://github.com/OrchardCMS/OrchardCore/issues/7619

The assign roles permission is currently unused / unchecked so rather useless right now.

The idea being that we need to
- use the permission
- probably move it to the users module, rather than roles
- update the user role editing view to come fr

[2020-12-09 13:04] HengzheLi commented on #7916
OK. Tried again. It works.

I think I might in this case before

[2020-12-09 13:19] hishamco commented on #7915
Nope, please refer to @jtkech comment

@deanmarcussen I will have a look to the issues that you refer to

Thanks

[2020-12-09 14:04] MikeKry commented on #7915
@jtkech

I am using nuget feed from cloudsmith :)

[2020-12-09 14:56] agriffard opened #7920 "Fields display"
The idea is to use the display name everywhere in fields display and to provide some default positions for each kind of field, except for the Html and Markdown.

Sorry, I pushed the changes to dev (Forgot to make a branch): https://github.com/OrchardCMS/OrchardCore/commit/4044d7d38f825179b94a6929f1bad0efdd8b55e6

[2020-12-09 14:59] agriffard commented on #7920
Without the DisplayNames:

![image](https://user-images.githubusercontent.com/703248/101646087-5f373d00-3a37-11eb-828c-88c5cb574272.png)

Now:

![image](https://user-images.githubusercontent.com/703248/101645960-3f077e00-3a37-11eb-9e9c-b51be457870f.png)

[2020-12-09 15:08] jtkech commented on #7915
Ah okay, sorry i thought you were using nuget from nuget ;)

[2020-12-09 15:14] hishamco commented on #7915
Sorry seems we thought you are using a NuGet feed ;)

I will have a look to the refered issue

[2020-12-09 15:29] agriffard commented on #7920
Colon (`:`) removed because in RTL, they wouldn't be on the right.

@hishamco Should we generate the separators (`,`) depending on LTR/RTL?
LTR:  if != .Last()
RTL:  if != .First()

[2020-12-09 15:56] DiomedesDominguez opened #7923 "Add Application Insights"
I was searching in all the issues (closed and opened) regarding the implementation of Azure Application Insights and I couldn't find any related one. The idea I have is that, as the same we can ```.AddAzureShellsConfiguration() ``` we can have ```.AddApplicationInsights() ``` and read from the ``` appsettings.json``` file the instrumentation key and URI.

This add a great value because if we use f

[2020-12-09 16:25] hishamco commented on #7920
I don't think there is an issue with the separator, almost the issue happen in RTL languages whenever ends with special charcter, example:

هشام:

it should be

:هشام

[2020-12-09 16:43] deanmarcussen commented on #7920
@agriffard this significantly changes the default templates, by applying bootstrap classes everywhere.

It means someone has to theme / rewrite every one of these templates to get rid of the column layout and display that it imposes.

Can you revert and propose as a pr please?

[2020-12-09 16:48] agriffard commented on #7920
Reverted

[2020-12-09 16:50] agriffard commented on #7920
We should find a way to have field / label classes generated in bootstrap-oc.css, inheriting from `form-group` and `col`.

[2020-12-09 17:06] deanmarcussen commented on #7920
Thank you.

What problem are you trying to solve here?

[2020-12-09 18:50] agriffard commented on #7920
- Be consistent in the use of label with DisplayName in all fields.
- Order the positions of fields in a default way (I'd love to have a drag and drop for the display, like the editors).
- Obtain by default the kind of UI I showed when I use a Bootstrap theme.

Should I add alternates in TheTheme?

[2020-12-09 19:31] DiomedesDominguez opened #7924 "AdminUrlPrefix wrong config"
In some links in the admin panel aren't working as expecting:

For example, I set mine to be "olimpo" but some menu links still point to "admin" instead:

![image](https://user-images.githubusercontent.com/4379316/101677674-40cf4280-3a33-11eb-98ce-ee8bce1715fc.png)

After think about it, I will create a PR at EOD.

[2020-12-09 19:38] hishamco commented on #7924
Feel free to submit a PR if there's an issue with the `AdminUrlPrefix`

[2020-12-09 19:57] #7827 closed

[2020-12-09 19:58] webmedia1012 commented on #7827
Ok I finally figured out how this whole media to media azure works. Essentially I have to wait like what it says on the documentation for the cache to download the image back to cms.  Thank you for all the help @deanmarcussen

[2020-12-09 20:46] DiomedesDominguez commented on #7924
Thanks, but I'm still a noob in OrchardCore. I found that the problem is in the blogrecipe.json that has _Admin_ in the LinkUrl parameter. I couldn't recognize a variable to use as _AdminUrlPrefix_  in none of the other recipes.

![image](https://user-images.githubusercontent.com/4379316/101684856-6c572a80-3a3d-11eb-9f17-8e3c83057792.png)

[2020-12-10 00:53] Piedone commented on #7923
We might update our [Orchard 1 Application Insights module](https://github.com/Lombiq/Orchard-Azure-Application-Insights) with a similar goal.

[2020-12-10 01:28] hishamco commented on #7924
I will have a look

[2020-12-10 03:39] hishamco opened #7928 "Unable to compile OC source"
While I'm working on PR #7927 when I tried to run the unit tests I got the following errors

![Error](https://user-images.githubusercontent.com/3237266/101718501-60598000-3ab2-11eb-9524-ece2c20eeedc.png)

I tried to clean the solution without luck :(

/cc @jtkech @deanmarcussen

[2020-12-10 05:19] jtkech commented on #7928
Yes i had the same, do a `git clean -xdf` under the root folder of the solution

Then open Visual Studio, wait for the packages to be restored before building, or do a `dotnet restore` from the command line under the cms web app folder

[2020-12-10 09:29] deanmarcussen opened #7931 "Web project shouldn't provide default configuration values"
The `OrchardCore.Cms.Web` project should not provide default appsettings.json values.

Doing so makes it inconsistent with what is used by a NuGet installation of OrchardCore.

It can provide commented values.

[2020-12-10 10:11] #7912 closed

[2020-12-10 11:20] deanmarcussen opened #7935 "Media Tokens invalidating browser / cdn cache"
The Media Tokens feature has a few little problems :(

Underlying it is using DP to encrypt the command dictionary.

It is cached, but on server restart, it generates a different string (as DP does on each encrypt).

This is invalidating the browsers cache, every time a server is restarted, and also then a CDN cache.

I don't think it's contributing to any growth in the IS cache, (but have to chec

[2020-12-10 11:54] deanmarcussen commented on #7931
Fixed by https://github.com/OrchardCMS/OrchardCore/pull/7932

[2020-12-10 11:54] #7931 closed

[2020-12-10 15:28] DiomedesDominguez commented on #7923
For now, this implementation works for me:
1) Download the source code from dev branch
2) Add the AI and the required settings.
3) Copy the required DLLs to a docker image or any other environment.

https://github.com/LinuxDominicana/OrchardCore/commit/a08adb43d1f18047e8d35b354445346148629ff3

[2020-12-10 16:39] hishamco commented on #7928
This is wierd it happen to be long time back, but I didn't think it's back again ;)

Thanks Jean-Thierry

[2020-12-10 16:48] JoshLefebvre opened #7937 "Adding ability to update logo and favicon in Admin Portal"
I've created a very simple module called "[OrchardCore.CustomStyleSettings](https://github.com/JoshLefebvre/OrchardCore.CustomStyleSettings)" a while back with the goal of allowing my tenants to update their logo and favicon in the portal admin theme (I give tenants limited ability to the admin portal).

After reviewing what is in the OrchardCore.Admin module I am seeing a lot of similarities with

[2020-12-10 17:34] hishamco commented on #7937
I think you already can do this from site settings

/cc @agriffard

[2020-12-10 17:43] JoshLefebvre commented on #7937
It sets the navbar-brand to the Sitename text, but doesn't allow you to set a logo image. I can imagine people would also like to use their own fonts here too for their site/company name

[2020-12-10 17:54] sebastienros commented on #2246
Meeting notes from discussion with @agriffard

DashboardPart
- Position (like in LayerMetadata)
- % (size) 100 for full line (like widgets)
- (Shared/Local (for the current user) ... later)
- (Rules (IsInRole ...) ... later)

Stereotype "Dashboard" (DashboardItem, DashboardWidget)
- Filter list of elements that can be added to the dashboard, and not list other front-end widgets like RawHtml, Butto

[2020-12-10 18:09] sebastienros commented on #7648
The static files are served by the host, not tenants and are supposed to be public.
Enabled modules are tenant-specific, so it would not be possible to do that.

@jtkech correct?

[2020-12-10 18:09] #7648 closed

[2020-12-10 18:11] sebastienros commented on #7661
It should update the draft version?

[2020-12-10 18:14] sebastienros commented on #7628
That is something reasonable to do. And maybe suggest to do a copy of the media with the old name, or eventually create a redirection for the file. These could be action links in the notification. Like these "undo" link when you soft delete an email.

[2020-12-10 18:15] #7668 closed

[2020-12-10 18:18] sebastienros commented on #7448
Looks like a bug in Fluid that should not throw but return an empty string.

And maybe catch any exceptions too.

[2020-12-10 18:19] #7686 closed

[2020-12-10 18:21] sebastienros commented on #7698
I like the strings, since they are stored in the db, and any code change would then break the apps, even if it compiles.

[2020-12-10 18:24] sebastienros commented on #7717
We don't have any implementation of `IUserTwoFactorTokenProvider<TUser>`, so the question is what component is registered in your app, or what settings, will ask for this service.

[2020-12-10 18:30] sebastienros commented on #7712
Seems like a concurrency issue, where two threads are accessing the same list. Do you have custom templates? And are you missing some await calls on async operations that could trigger this issue?

Are you executing some code to render templates? Or is that the standard way of serving pages?

[2020-12-10 18:32] jtkech commented on #7648
@sebastienros yes

[2020-12-10 18:54] sebastienros commented on #7715
I am thinking that we could configure the parser to ignore some sections, ideally configurable, like by stating that ` or ``` blocks should not be parsed. Same with using `<pre></pre>` or `<code></code>` but that could be hard to manage.

Another option would be to use a shortcode to use raw content, like `[raw]...[/raw]`. (preferred option)
Final option would be to render the unknown ones as is,

[2020-12-10 19:50] hishamco commented on #7448
I think it should return the input string not empty or throw

[2020-12-10 20:02] hishamco commented on #7448
I fixed the issue, hope we close this when we publish a new Fluid NuGet package

[2020-12-10 21:47] sebastienros commented on #7715
I assume the default behavior could also return the original text if no shortcode matches ...
I am also looking at how wordpress is handling this

[2020-12-10 22:48] sebastienros commented on #7715
Wordpress seems to ignore shortcodes that are unknown or don't have the correct arguments.
Right now our behavior is the strip the shortcode. Should it be an option on the library?

[2020-12-10 23:26] arkadiuszwojcik opened #7939 "Probably race condition in ResorceDefinition class"
This happend to me two times but I can't replicate it now. Basically I created new website using TheAgencyTheme and when I tried to access `Content -> Content Items` in Admin page crached with `ArgumentException`. Something like:

`System.ArgumentException: Source array was not long enough. Check the source index, length, and the array's lower bounds.`

It was in line `180 `of file `ResourceDefini

[2020-12-10 23:42] davidhayden commented on #7715
I think so. I thought it would be the default functionality and was surprised when it stripped the text.

[2020-12-11 06:04] jtkech commented on #7712
@4m-world @sebastienros

Seeing this in the above traces

    at DefaultHtmlDisplay.<ProcessAsync>g__Awaited|12_0(Task`1 task) in DefaultHtmlDisplay.cs:line 297
    at DefaultHtmlDisplay.ExecuteAsync(DisplayContext context) in DefaultHtmlDisplay.cs:line 178
    at DefaultHtmlDisplay.ExecuteAsync(DisplayContext context) in DefaultHtmlDisplay.cs:line 178

Maybe because `ProcessAsync()` is **static**

[2020-12-11 06:10] jtkech commented on #7939
Related to #7712

[2020-12-11 06:59] chinasqzl opened #7940 "Liquid ：Get user ProviderKey by LoginProvider"
{% assign providerKey = User | provider_key : 'WechatWork' %}

![image](https://user-images.githubusercontent.com/16968103/101872896-faa7e980-3bc0-11eb-8f4c-54f2f7a43821.png)

Push messages through the service provider to get Key。

通过服务商向用户推送消息一类的业务。

[2020-12-11 08:42] jersiovic opened #7941 "Race conditions running Orchard migrations on multiple instances"
Hello

We are facing race conditions on migration when we use two instances in an Azure App Service with Container.

We receive exceptions cause another instance executed a migration and the changes on migrations are attempeted to be executed by both instances. This causes problems cause one of the two instances didn't complete its initialization.

Taking a look at the code we saw Orchard uses Sem

[2020-12-11 10:28] MikeKry opened #7942 "Taxonomies: default option"
Hello,

just found a minor problem, when taxonomy is not required, but is using standard tree display and has disabled multiple selection, there is no default option, so when someone selects taxonomy term by mistake, then it is not possible to remove it.

I will probably fix this myself, just letting you know if someone would be working on taxonomies..

[2020-12-11 11:16] jtkech commented on #7941
We have an `IDistributedLock` that we don't use yet, the default implementation is a `LocalLock` based on multiple `SemaphoreSlim` per tenant, and we have a concrete implementation based on Redis.

The interface allows to `TryAcquireLockAsync()` a named lock (for a given tenant) in a given timeout and that will be valid for a given expiration, allowing to do e.g. atomic operations in a distributed

[2020-12-11 14:49] hishamco commented on #7942
/cc @deanmarcussen

[2020-12-11 14:49] serverside-is commented on #7942
A "default option" sounds strange to me.

There could be a "clear" button.

Or, allow a second click to "uncheck" the selection [(something like this)](https://jsfiddle.net/tuanvuf4/b5w9cd3L). In this case the user would need to know this was possible, of course.

Just my 2 cents :-)

[2020-12-11 15:29] fzadrazil commented on #7842
Any idea what is causing this issue then? I will be glad for any advice.

[2020-12-11 16:32] jtkech commented on #7712
Okay, at least in debug mode i could see the symptom, the admin dependency is cummulative, **the `Dependencies` collection grows up on each request**, like a scoped service using a singleton collection that is not cleared.

![Admin Dependency](https://user-images.githubusercontent.com/8586360/101926672-c8ec4e00-3bd3-11eb-8a41-d18f9d3f7048.png)

[2020-12-11 17:01] hishamco commented on #7368
Time to close

[2020-12-11 17:01] #7368 closed

[2020-12-11 21:08] MikeKry commented on #7942
@serverside-is

sure, I was just pointing out that there is no possibility to reset it to default, it does not really matter, if it would mean adding reset button / checkbox-like behavior or even just another option e.g. with text "no selection".

Personally I would go with a button or another radio button for default, uncheckable radio is pretty uncommon for many users..

maybe we could try to im

[2020-12-11 21:15] xkuzel06 commented on #7942
I should have some spare time on end of january/february so if no one takes this then I can look at it, but I guess it is needed to have this change approved from someone?

[2020-12-11 22:23] jersiovic commented on #7941
Yes, that is our scenario. We update the container of the webapp with a new docker imame that contain new version of our custom modules. That makes both instances to execute pending migrations of updated modules

It throws the exception on migrations cause an alter table removing a column cannot be executed because a previous instance did the job. This exception is logged. The instance which throw

[2020-12-12 01:05] Piedone opened #7949 "Deletes for all indices when publishing draft"
This might be more of a YesSql thing.

When you publish a content item's draft version then SQL `DELETE`s will be issued for the given document for all `ContentItem` indices, even if the item has nothing to do with it (like `LayerMetadataIndex` for a Page). You can see this e.g. when publishing an Article with a vanilla Blog recipe setup. Actually, if you change something on the item and then publ

[2020-12-12 01:16] sliu001 commented on #7911
Just tried version 1.0.0-rc2-15603, it works! Thank you.

[2020-12-12 02:15] Piedone opened #7950 "Introduce static code analysis"
Static code analysis is when analyzer programs check our code and pinpoint issues. Visual Studio has a lot of such analyzers built-in, for example, if you see build warnings or other hints, those are also added by analyzers. If you bring up automatic code fixes with Ctrl+. then those are something similar too (analyzer packages commonly include a lot of code fixes for issues they uncover). My sugg

[2020-12-12 03:33] justlucky commented on #7248
Reason found, translation file error.

https://github.com/OrchardCMS/OrchardCore.Translations/blob/dev/Localization/zh-CN/OrchardCore.Workflows.po

![image](https://user-images.githubusercontent.com/247791/101971627-cb02eb00-3c6d-11eb-83c8-efc4b4846f04.png)

[2020-12-12 05:50] hishamco commented on #7950
Totally agree, I was thinking in the past to write an analyzer to fix the localizer type in constructor because I have seen many localization issues happen accidently by providing a wrong type

[2020-12-12 07:01] jtkech commented on #7941
@jersiovic

Okay, so i think for now there is nothing to do in the source code, just if we provide a new migration step in the future, and people will have to do the same for their own modules.

I will show you asap how to do it with the existing `IDistributedLock` based on redis, so that only one instance will do a migration step, and other instances will have to wait before continuing their own

[2020-12-12 07:55] jersiovic commented on #7941
Cool, thank you

[2020-12-12 08:44] deanmarcussen commented on #7949
This is actually how YesSql works, by design.

Suggest you open an issue there if you want to suggest changes to that design.

One thing you can do (and we're only just starting to make the changes to the indexes in OC to support this), to improve performance is to include the `DocumentId` on a SQL index of the index table.

Refer https://github.com/OrchardCMS/OrchardCore/pull/7859 for some recent

[2020-12-12 08:59] deanmarcussen commented on #7942
The last time we talked about the default taxonomy browser we decided it would be good to reimplement it with this https://vue-treeselect.js.org/ vuejs plugin.

It's similar to the tags editor, so there shuld not be much to do, and then you will have both a nicer control for selecting normal taxonomies (that takes a lot less screen space, when there are a lot of terms), and a much improved ability

[2020-12-12 09:09] deanmarcussen commented on #7852
Yes, your code will probably work, but later implications...

What the `Source needs to do is a similar action to the `RecipeStep`
https://github.com/OrchardCMS/OrchardCore/blob/dedf32dbb60573f1cf48addc0a94f126f42f3010/src/OrchardCore.Modules/OrchardCore.Deployment/Recipes/DeploymentPlansRecipeStep.cs#L53

where it will need to find the factory that matches the `Name` and asks the factory for it's

[2020-12-12 11:37] giannik opened #7952 "Using the shape name convention dot and dash not working for edit alternates."
Trying to add some edit part alternates to customize the layout of my part using the following code

[code]

But when adding a file named MyPart-ContentPart.Edit.cshtml in the admin theme its not getting picked up.

If I remove the dash convention in the name of shape as follows :
[code]
and add the file

[code]
then it works.

So, is this intended or has something broke ?

The part has been creat

[2020-12-12 12:30] #7712 closed

[2020-12-12 12:30] #7939 closed

[2020-12-12 13:24] Piedone commented on #7950
Now writing Orchard-specific analyzers would make this even more awesome!

[2020-12-12 13:38] Piedone commented on #7949
Thanks for your quick reply, Dean.

Can you point me to something that sheds some light on why would this be by design? Deleting all indices when a given document is deleted I of course understand. I can also understand why one would implement this as a delete issued for all indices of the given document type though I think that can be optimized by checking whether that particular item actually ha

[2020-12-12 14:03] MikeKry commented on #7942
@deanmarcussen

Cool, I just wanted to have quick fix for this problem, but that looks way better.

Is there any PR/Task already in progress on that?

If not, I will have some spare time in month or two, so I could look into this..

[2020-12-12 19:46] sheryever commented on #7206
I think version 1 should target netcore 3.1 because it has the LTS, .NET5 is not LTS.

It is mid December and we are waiting for release 1.0 to use in production, Is there any clue when will we receive or we can use the current master repo for production?

[2020-12-12 19:54] agriffard opened #7959 "Setup recipe"
When I execute this recipe after I created a tenant with the Blank recipe, the content type is created but the sample content is not added:

[code]

Can you help me to understand why?

This json imported afterwards is correctly imported though:

[code]

[2020-12-12 20:48] agriffard opened #7960 "Filters: Top border disappear on search"
When you filter a page (ex: Content types), the first item can disappear so there is no top border anymore:

![media](https://user-images.githubusercontent.com/703248/101994560-7ee29580-3cc3-11eb-96a7-22abe8cd7b86.gif)

[2020-12-12 20:48] Piedone commented on #7206
The current master branch is the latest released version, i.e. RC2, and it's suitable for production use. You can use the current dev branch in production as well, which is the most up to date, and this is what a lot of people are doing too.

[2020-12-12 20:51] agriffard commented on #7960
Do you also see those strange corners around the search? :
![image](https://user-images.githubusercontent.com/703248/101994620-10ea9e00-3cc4-11eb-81ad-98494ff3e134.png)

[2020-12-12 21:04] hishamco commented on #7960
I think this because the filter hide the rows based on thier order, that's why you didn't see the border when you search for a `Page`, could try search for `Button`, I expect it should show up

[2020-12-12 21:25] agriffard commented on #7960
Here is a proposal: Use `list-item-group` (less borders) and alternating background color on odd lines:

![media](https://user-images.githubusercontent.com/703248/101995196-a8ea8680-3cc8-11eb-9ba1-19d01ae3ccf1.gif)

Filtering can mix the lines colors though.

[2020-12-12 21:33] hishamco opened #7961 "Ability to set the theme mode from the user menu"
I think it would be nice if we add a menu item called `Appearance` on the user menu, that allow user to set the theme mode:

- Default to the system

- Light

- Dark

something similar to

![Themes](https://user-images.githubusercontent.com/3237266/101995413-b6107100-3cda-11eb-9a7c-e5a6cfe31850.png)

With that no need to enable the dark mode from the settings, all the modes will be there and the d

[2020-12-12 22:05] davidhayden opened #7963 "NRE When Displaying Content Items That Have Null Content Type Definition"
Similar to Issue #1794.

If one creates a new tenant using _TheBlogTheme_ and subsequently delete the `RawHtml` Content Type, one will receive a null reference exception both on the frontend and in the backend when [ContentDisplayManager](https://github.com/OrchardCMS/OrchardCore/blob/b5fa5f6e73526e58050482b7ccdea0c640232409/src/OrchardCore/OrchardCore.ContentManagement.Display/ContentDisplayManag

[2020-12-13 08:44] jtkech commented on #7959
@agriffard

First i needed to add a `Tags` property to be able to display the recipes page

    "tags": [ "homepage" ],

Then, after a fresh setup using the Blank recipe, i tried it under the default tenant and it works

Just tried after creating a new tenant using the Blank recipe, it also works

Hmm, i did a quite recent change allowing to add content but it was through a migration recipe

Did y

[2020-12-13 09:10] agriffard opened #7968 "Search in Lucene indices and Queries"
If you type a search and press Enter, the resuls are not filtered on those admin pages.
It only works by clicking Search.

/cc @Skrypt

[2020-12-13 09:13] LMSSonos commented on #7206
@sheryever we are using orchard betas since multiple months in production and work stable. Upgrades have never been an issue

[2020-12-13 10:21] agriffard commented on #7959
It works also for me with the source code, but with latest packages, with the recipe in a module, I get the problem.

[2020-12-13 10:50] agriffard commented on #7968
This is the reason why I originaly started #7957.

[2020-12-13 11:00] #7924 closed

[2020-12-13 11:09] agriffard opened #7972 "Measure performance"
We should be able to measure the performance of the system (to check if it improves when we use a new sdk for example).

Ram/Cpu usage.
How many req/s with one instance.
How many tenants are supported.
Does Redis enhance the perfs.

Could we use something like Benchmark.NET for some measurements?

[2020-12-13 11:10] agriffard commented on #7972
If only we knew someone that works on measuring performance improvements ;-)

/cc @sebastienros

[2020-12-13 11:14] agriffard opened #7973 "Placements feature improvements"
A few things to solve:
- List of placements should be ordered by name.
- The 'Nothing ...' message is not displayed the first time.
- Consider adding some bulk delete actions.

Provide examples/suggestions or improve the docs and add link to it.

[2020-12-13 11:25] deanmarcussen commented on #7884
Can you provide some more details about what version of OC you are using (you will need the latest form the dev branch to use .NET 5)

And your startup?

From the exception I can't understand why you would be trying to resolve `System.String` as a service

[2020-12-13 11:29] deanmarcussen commented on #7847
@CrestApps you can't use inheritance this way on a content item. They're based on composition not inheritance.
Correct usage would be

[code]

[2020-12-13 13:47] jtkech commented on #7959
Does your module depends on `OC.ContentTypes`?

If not already done, try to add this dependency in your module manifest

[2020-12-13 14:44] hishamco commented on #7968
We can trigger the click event whenever `Enter` has been clicked

[2020-12-13 15:23] agriffard commented on #7973
In order to place some fields in a Detail page, I need to create those placements:

![image](https://user-images.githubusercontent.com/703248/102016084-527c5700-3d5f-11eb-83a0-281d38f4599c.png)

Would it be possible to recall some of the properties as a summary in this list? Like the differentiator and the place.

[2020-12-13 15:43] arkadiuszwojcik commented on #7245
This is what I found so far. Prefix is appended by inter MVC method: `GetFullHtmlFieldName `executing while generating fields. Prefix is obtained this way: `var htmlFieldPrefix = viewContext.ViewData.TemplateInfo.HtmlFieldPrefix;` In our case it is `ContentItem` that is why finally we see: `ContentItem_FieldName` So I guess this is expected behaviour?

[2020-12-13 15:44] #7869 closed

[2020-12-13 22:57] orchardc opened #7978 "Can't set AliasPart value during record creation?? Is it a bug?"
While creating a record (MyProduct ) using ContentManager, the record will not be created if set the AliasPart's Alias value. But it works fine for the TitlePart.

`    public class TitlePart : ContentPart
    {
        public string Title { get; set; }
    }
    public class AliasPart : ContentPart
    {
        public string Alias { get; set; }
    }
`

  var contentItem = await _contentManager.

[2020-12-14 09:03] #7935 closed

[2020-12-14 09:06] orchardc commented on #7978
Solved by using the Orchard out of box alias model

`using OrchardCore.ContentManagement;

namespace OrchardCore.Alias.Models
{
    public class AliasPart : ContentPart
    {
        public AliasPart();

        public string Alias { get; set; }
    }
}`

[2020-12-14 09:06] #7978 closed

[2020-12-14 11:59] PiemP opened #7983 "trumbowyg, highlight plugin generate errors"
Hi all,

I have see in my chrome console an error coming from highlight plugin of trumbowyg:

[code]

For now, the only issue I have seen, it's about the missing translation of the interface.
Thank you.

[2020-12-14 12:45] #7983 closed

[2020-12-14 13:34] #7920 closed

[2020-12-14 13:40] deanmarcussen commented on #7949
Seb will describe the why, but when you look at how YesSql operates, it is intended to clear all indexes when saving. Otherwise it would have to make a query to know what is in these indexes, to do any comparison. Otherwise how would it know what might have changed?

I'm not sure you're actiually getting roundtrips on this. I think they're just executes. But opening an issue on YesSql is the way t

[2020-12-14 13:55] agriffard opened #7986 "Shortcodes 1.0.0"
Update Shortcodes to version 1.0.0:
https://www.nuget.org/packages/Shortcodes

[2020-12-14 14:03] Piedone commented on #7949
That's the "probing" I mentioned but as I said later, I can accept that being error-prone. However, I don't see why these need to be individual queries; Mini Profiler shows them as such too, and it's apparent from the query time requirements that the network roundtrip to the DB server's penalty is incurred every time.

Without the roundtrip, the queries would be fine. The `DocumentId` columns do h

[2020-12-14 14:43] jtkech commented on #7949
Related to #7859 and #7757 where we discussed about unclustered indexes, here some parts of the discussion

So it's related to the `CreateIndex()` we do for index tables in migrations, where `DocumentId` is important for joined query from `ContentItem` to `SomeIndexTable`, and also when deleting content items. Without at least `DocumentId`, unclustered indexes are not used, and it falls back to a

[2020-12-14 15:26] djampula4 opened #7989 "Unable to resolve service for type OrchardCore.ContentManagement.Metadata.IContentDefinitionManager"
I have created a class 'ProductPart' where these entities will be created in Sql DB.

[code]

To represent those entities in SQL we have to go through Migrations and the class look like the one below

[code]
And in the startup class, I have created a scope instance, which is

[code]
Finally, when I ran this I am getting the below error.

*> Some services are not able to be constructed (Error while

[2020-12-14 15:27] deanmarcussen opened #7990 "Resources CDN replaces inline script src"
When using an external CDN for locally hosted scripts the `CdnBaseUrl` property replaces the inline script with the url src of the cdn.

What should be rendered as
<script>
... some javascript
</script>

becomes
<script src="https://mycdn.azureedge.net"</script>

[2020-12-14 15:38] jtkech commented on #7990
Oops ;)

[2020-12-14 15:43] jtkech commented on #7989
Normally the following need to be done from a **module** startup, so in the context of a tenant (we have at least the `Default` tenant)

            services.AddContentPart<ProductPart>();
            services.AddScoped<IDataMigration, Migrations>();

From the application that can behave as a module we have helper e.g. to register services in a tenant container context

            services.AddOrc

[2020-12-14 15:54] djampula4 commented on #7989
That even did not resolve my issue

[2020-12-14 16:18] jtkech commented on #7989
Hmm, i think it's a manifest dependency problem, see in our module manifest files how we define dependencies for a given feature, e.g.

    [assembly: Feature(
        Id = "OrchardCore.Contents.FileContentDefinition",
        Name = "File Content Definition",
        Description = "Stores Content Definition in a local file.",
        Dependencies = new[] { "OrchardCore.Contents" },
        Catego

[2020-12-14 16:27] Piedone opened #7992 "Recall (cache) content items retrieved by GetAsync(contentItemIds) too"
Currently, calls to `IContentManager.GetAsync(string contentItemId, VersionOptions options)` use `IContentManagerSession.RecallPublishedItemId()` to retrieve an already loaded content item if the request is to get a published item. The same could be used in `GetAsync(IEnumerable<string> contentItemIds, bool latest = false)` (i.e. the overload accepting multiple IDs).

[2020-12-14 18:00] deanmarcussen commented on #7949
Just checking that you are sure of that @Piedone .

I'm quite interested in the perf difference if they don't. Particularly as you have so many index tables, so it would be a great indicator of how much difference it would make.

On the YesSql issue you said it was the primary key being checked. It's not, on an index table, there is an Id, which is the primary key, and the DocumentId which is not

[2020-12-14 18:26] Skrypt commented on #7923
Yeah this is a simple change. We should not provide this by default in the source code. And if you have a Nuget packages solution then it is on your own OrchardCore.Cms.Web project that this should be added. So, I think we should just produce some documentation in this case. A module could work too, but that would be really simple.

[2020-12-14 18:26] #7923 closed

[2020-12-14 18:30] Skrypt commented on #7937
The common thing to do is to create a new Admin Theme simply here. This way you get to have control over templates and styles. I'm not against the suggestion but is it worth adding a AdminSetting for these UI things. Because there might be others over time too if we start doing this. Just a thought.

[2020-12-14 18:35] Piedone commented on #7949
You're right, it's not a primary key indeed, I mixed it up, so scratch my comments about indices. We'll try SQL indices.

[2020-12-14 18:40] Skrypt commented on #7248
Someone fixed this?
/cc @agriffard

[2020-12-14 18:49] Skrypt commented on #7950
I like the idea. Though, we recently found that we can simply use Visual Studio to analyze everything and fix the issues based on the .editorconfig file. Running this manually from time to time or adding maybe a separate / manually triggered CI task that would return how many issues are found would be interesting. Unless this would fix the actual issues in the code from the CI tasks then I don't t

[2020-12-14 18:54] Skrypt commented on #7884
There is a mismatch between the service name and the service it's trying to activate.

[2020-12-14 18:56] Skrypt commented on #7961
Maybe, but the menu would be rendered on frontend so the frontend theme needs to support it.
That's a specific theme setting then, not a global menu setting.

[2020-12-14 19:10] Piedone commented on #7950
The warnings VS can show would be included here (.NET code style analysis and .NET code quality analysis from the .NET SDK, as well as warnings of the C# compiler). I'm talking about that and additional analyzers that greatly extend what's in there.

I'll set up a PoC in the coming weeks and we can continue from there.

[2020-12-14 19:13] Skrypt commented on #7950
Would that work with VS Code too?

[2020-12-14 19:15] Piedone commented on #7950
Yes: The analyzers mostly come from NuGet packages, .NET code quality analysis from the .NET SDK. I guess there are analyzers only available in VS though I'm not aware of any significant ones.

[2020-12-14 20:11] #7806 closed

[2020-12-14 20:17] Skrypt opened #7994 "Darkmode button tooltip"
The tooltip title should be translatable and should also change when we click on it.
It should toggle from "Light Mode" to "Dark Mode".
The issue is that we need to have a **global javascript dictionary for client side translations**.
Else this will become unmanageable over time.

[2020-12-14 20:17] hishamco commented on #7961
Why we need to render it on frontend?

This could be if the front theme supports theming modes

[2020-12-14 20:19] hishamco commented on #7950
@Piedone could we add something like `OrchardCore.Analyzers` in the code base or shall do outside, then we can list the common used one in the docs?

[2020-12-14 20:26] Skrypt commented on #7961
Well you can render these menus on backend if you want but we have an AdminMenu that is more specialized for admin.
I would opt extending the AdminMenus before using the Menus for the admin side of things.

If the front theme supports theming modes then it's a theme setting which we let people decide of.
Should we add a setting for every potential settings a frontend theme could have in the source

[2020-12-14 20:28] hishamco commented on #7961
Let me check what should I come up with ...

[2020-12-14 20:40] Piedone commented on #7950
The configuration can be part of the codebase (in Directory.Build.props, ruleset and editorconfig files). If we'd write our own analyzers then that could would most possibly need to be a separate solution with its own build and publish to NuGet (you can't use analyzers as source).

[2020-12-14 20:48] Skrypt commented on #7963
I think this is an issue that everyone has faced before. This is related with migration of data when someone changes it's ContentDefinition. I personally use SQL scripts to migrate data manually when I have structural changes in my ContentDefinitions because in the end it is what it is. Adding a warning could prevent this to happen but in the end if the structural changes are required then you hav

[2020-12-14 21:52] hishamco opened #7995 "Run Blog Recipe throws Validation Exception"
If you tried to run the blog recipe from with the admin site, a `ValidationException` will be thrown, because the alias is already in use

[2020-12-14 21:59] hishamco commented on #4726
@ampadashi this has been fixed

![Pagination RTL](https://user-images.githubusercontent.com/3237266/102140724-bc385600-3e70-11eb-82be-d02c8cc33c20.png)

[2020-12-14 21:59] #4726 closed

[2020-12-14 22:36] sebastienros commented on #7884
Yeah, I bet the `Warehouse.Web.Startup` class has a `string` argument in its constructor.

[2020-12-14 22:37] sebastienros commented on #7884
@davidbuckleyni to be clear, if that's the case then that something that is not permitted in aspnet core. You should fix it.

[2020-12-15 02:22] Piedone commented on #7949
I tried out with tables in our system (~3000 rows at most) and I didn't measure any significant performance advantage with an SQL index. I tried this in Azure SQL so maybe any difference is masked by the variance of the service's performance. I guess around 3000 rows is too small for an index to really have an effect. At this scale, the whole operation's performance is dominated by the base latenc

[2020-12-15 04:57] aderderian opened #7998 "HttpRedirectTask does not work after LoggedInEvent or UserRegisteredEvent"
The following workflow fails to redirect :
![image](https://user-images.githubusercontent.com/868165/102172978-fcdfa180-3e67-11eb-9088-b9f07769330f.png)

I tested using a simple HTTPRequestEvent and it did work. I believe it is related to the potential redirects occurring after logging in.

Perhaps as the code before fires the event, the redirectolocal is interferring?

private async Task<IActionR

[2020-12-15 05:00] aderderian opened #7999 "IsEnabled flag for User is not respected when authenticating via third party identity providers"
I am not clear if the local account property of IsEnabled should be respected or not when authenticating via a third party provider. Since there is an account linkage I believe it should be and so we ca use this flag for pending accounts to be processed via workflows, etc.

Secondarily, my workaround is to check this in a custom AuthorizationHandler in my Razor Pages and then redirect a use to a 4

[2020-12-15 08:25] hishamco commented on #7999
Hi @aderderian the property should respect other AUTH providers too

Could please submit a PR for it

[2020-12-15 09:53] hishamco opened #8001 "Setup Incorrect GitHub App information blocks the access of the admin site"

[2020-12-15 13:44] stevetayloruk opened #8003 "SQL query table alias conflicts with table prefix of tenant"
When doing a table alias in a sql query like so:

`SELECT c.DocumentId FROM taxonomyindex c join NumericFieldIndex n on c.ContentItemId = n.ContentItemId WHERE (n.ContentType = 'BlogPost' and c.ContentField = @contentField:'Category') and (c.ContentType = 'BlogPost') and (n.Published = 1 and n.Latest = 1) and n.Numeric

But on a tenant that has a table prefix, it doesn't work and translates to the

[2020-12-15 14:17] deanmarcussen opened #8005 "Default Media File Store virtual methods"
Recently I had to override one method on the `DefaultMediaFileStore`, which meant copying the entire code over, instead of inheriting, and tweaking the bit I needed.

Think it makes sense to make the methods virtual, to make changing the behaviour a little easier.

[2020-12-15 14:49] hishamco commented on #8005
Does make all the methods `virtual` make sense? or there some of them that are really could be overriden

[2020-12-15 15:08] deanmarcussen opened #8007 "Remote Clients module needs tag helper reference"
The remote clients list has a jquery error in production. (so does the remote instances list)

<img width="1537" alt="Screenshot 2020-12-15 at 15 07 23" src="https://user-images.githubusercontent.com/13782679/102232609-43281580-3ee7-11eb-9903-baae1a226351.png">

The module needs a direct reference to `OrchardCore.ResourceManagement` project

/cc @agriffard

[2020-12-15 15:09] deanmarcussen commented on #8007
P.S. So does every other module that had these bulk actions added recently.

I can't remember who added them @Skrypt or @agriffard  ?

[2020-12-15 16:57] MikeKry opened #8009 "Enhancement: Deleted content items"
Hello,

since content items are not really removed from DB when you hit "delete", could we show them in content items list, e.g. with some filter?

[2020-12-15 17:17] deanmarcussen commented on #7949
Thank you @Piedone that helps clear up how useful / priority that part of your issue is.

So @jtkech I figure worth doing when one of us has time

[2020-12-15 17:33] #7986 closed

[2020-12-15 21:46] alandillon opened #8010 "Shape type 'HtmlPage_Edit' not found"
Having an issue after adding a HTML Part to a content type.

`System.Exception: Shape type 'HtmlPage_Edit' not found
   at OrchardCore.DisplayManagement.Implementation.DefaultHtmlDisplay.ExecuteAsync(DisplayContext context) in C:\Users\\Downloads\OrchardCore\OrchardCore-1.0.0-rc2\src\OrchardCore\OrchardCore.DisplayManagement\Implementation\DefaultHtmlDisplay.cs:line 122
   at OrchardCore.DisplayMa

[2020-12-15 21:59] Skrypt opened #8011 "Build warning snupkg"
warning : Source control information is not available - the generated source link is empty.

Must be related to recent changes.

/cc @ns8482e

[2020-12-15 22:18] arkadiuszwojcik opened #8012 "Multiple liquid tag helpers not supported"
Today I was experimenting with liqid helpers and tried to make use of `input`. Liquid script I had was:

`{% helper "input", type: "text", value: "some_val", for: "some_field" %}`

I could not make this code work, what was rendered was empty input control: `<input>`

What I found out debuging Orchard source code was that: `LiquidTagHelperFactory.GetActivator("input" ...)` is not returning `InputTa

[2020-12-15 22:26] orchardc opened #8013 "IOrchardHelper throw null error with a simple query"
A very simple Razor page, the IOrchardHelper thrown null error with a simple query.

I took it from here and move the logic to the .cs file: https://docs.orchardcore.net/en/dev/docs/reference/modules/Queries/#razor-helpers

![image](https://user-images.githubusercontent.com/16193516/102280358-ea776d80-3f24-11eb-9b38-7c1938d8724d.png)

[2020-12-15 22:26] #7968 closed

[2020-12-15 22:32] hishamco commented on #8013
AFAIK `IOrchardHelper` is intend to be accessed from within the views

[2020-12-15 23:21] Skrypt commented on #8003
Ok so the table name alias on the SELECT part of the Query is not changed to [smp_c] but the other parts of the Query aliases references are. That's a YesSQL issue (I think). I could be wrong.

[2020-12-15 23:53] orchardc commented on #8013
Got it thanks!

[2020-12-15 23:53] #8013 closed

[2020-12-15 23:54] Skrypt opened #8016 "Remove JQuery UI dependency"
Consider removing JQuery-UI dependency progressively.
We are using it mainly for file upload and drag and drop in different views.
We should favor single specialized libraries instead.

Here is one for uploading files.
https://github.com/23/resumable.js/

drag and drop :

https://shopify.github.io/draggable/examples/simple-list.html

[2020-12-16 01:04] Skrypt opened #8017 "Admin Menu (regression) : Menu Items collapsible icon are all opened"
Regression introduced by #7851

![image](https://user-images.githubusercontent.com/3228637/102291348-eb9e9f80-3f10-11eb-8bd2-b77ee31742ae.png)

See the admin menu > icon are all opened by default. It should be the opposite.

[2020-12-16 04:08] scleaver commented on #6593
Hi @ns8482e sorry I haven't got back to you on this. Here is an explaination: https://www.loom.com/share/c69f661afe724304aea66c041a0a3872

Yes this indeed helps you to eliminate all the need to guard you own CSS styles from being ruined by the host website.

I want to use external css files rather than VueJs internal styles for increased maintainability and performance so I still need a way to use

[2020-12-16 04:47] jtkech commented on #8013
@orchardc @hishamco

Yes we can inject `IOrchardHelper` in a razor page or through its `PageModel`

With our custom `Razor.RazorPage` (razor view) and `RazorPages.Page` (razor page), we can also use the `Orchard` property to get an helper derived from `IOrchardHelper` and used it directly in the view / page.

    await Orchard.ContentQueryAsync(...)

To use the `Orchard` property you need in your

[2020-12-16 05:12] jtkech commented on #8011
@ns8482e is it related to the discussion we had about using `snupkg` in place of our embedded pdb files that also embed the related source files? And that cloudsmith doesn't support yet `snupkg` ;)

[2020-12-16 05:21] jtkech commented on #7949
@deanmarcussen @Piedone I already started something locally 2 days ago, will open a PR soon

@deanmarcussen i will do it step by step as we wil need to review carefully some interleaved migrations versions.

[2020-12-16 05:50] jtkech commented on #8012
@arkadiuszwojcik

Good catch, we already have the same issue with our `cache` tag helper that we renamed `dynamic-cache` as i remember, so that it doesn't conflict with the mvc `cache` one that is only selected on the `cache` tag name.

Here easy to fix, we only need to add the `asp-is-disabled` attribute to the `HtmlTargetElement`

    [HtmlTargetElement("input", Attributes = ForAndIsDisabledAttr

[2020-12-16 07:06] hishamco commented on #8013
Thanks @jtkech I knew that it requires few imports but I thought that the intend to use it in the views only

[2020-12-16 07:49] arkadiuszwojcik commented on #8012
@jtkech I will do PR today with this fix. Besides that, is it reasonable to create story that will request multiple TagHelpers support for liquid or is it too much effort?

[2020-12-16 08:01] deanmarcussen commented on #8012
@arkadiuszwojcik @jtkech

We've seen a little issue with this tag helper before.

I don't think it should be inheriting from `InputTagHelper` - there is no need for it too, and it is why it can get triggered when it shouldn't. Just inherited from `TagHelper` should be enough for it.

The changes you suggest to the attributes are good as well JT

[2020-12-16 08:11] jtkech commented on #8012
I'm doing some tests

Yes, through liquid we don't execute a set of tag helpers

So, with the above issue we can get the mvc input working through liquid, but then we can't get the `InputIsDisabledTagHelper` working, but it's better to have the mvc one working

But because `InputIsDisabledTagHelper` inherits from the `InputTagHelper`, maybe we could just also process the base one, but then it may

[2020-12-16 08:40] deanmarcussen commented on #8012
@jtkech cool.

For infos.

We fixed another issue a while back by stopping the call to base (it was triggering twice), but I think the right fix, was to not inherit.

[2020-12-16 08:52] arkadiuszwojcik opened #8019 "Liquid: support multiple matching TagHelpers"
This story resulted from issue #8012 . Currently when using liquid script like this: `{% helper "input" ... %}` underneath implementation call at some point: `LiquidTagHelperFactory.GetActivator("input" ...)` which return first matching TagHelper from registred TagHelpers list, so only one matching TagHelper will be returned. Desired behavior would be to return all matching TagHelper and applay th

[2020-12-16 08:53] agriffard commented on #7270
@hishamco Still todo, if you have some time that would help us.

[2020-12-16 08:56] agriffard commented on #1087
Other interesting UI improvement:
Always have the buttons visible, even if the codemirror area is long.

Like the filter bar on some list pages.

/cc @hishamco

[2020-12-16 09:10] deanmarcussen commented on #8016
Drag and drop https://github.com/SortableJS/sortablejs

Suggested because it is the one that all the vue draggable libraries rely on. So we have it, and its good

[2020-12-16 09:27] giannik opened #8020 "Admin filters in contents list dont work nicely with placement"
When in the admin in the contents list I would like to reposition the admin filters using placement  files :

So there seems to be the following shapes used in the filters display :
ContentsAdminList
-ContentsAdminList__Search
-ContentsAdminList__Create
-ContentsAdminList__Summary
-ContentsAdminList__Filters

which give out the following layout :

![image](https://user-images.githubusercontent.com

[2020-12-16 09:34] jtkech commented on #8012
@arkadiuszwojcik @deanmarcussen

Okay in razor all matching helpers are executed which is intended when doing complementary works and in the order of the overridable `Order` property. The problem we had with our `cache` tag helper was that it is not complementary with the mvc one and we needed to not execute the mvc one, so we renamed our tag helper.

Yes indeed if it was only doing a complementar

[2020-12-16 09:47] jtkech commented on #8019
Cool, feel free to open a PR if you want to work on this

[2020-12-16 09:47] TFleury opened #8021 "Unable to build liquid Form_Wrapper"
It seems it's not possible to override `Form_Wrapper` with Liquid.

The default Razor template is :
[code]

So, the Liquid equivalent should be :
[code]

But `Model.Metadata.ChildContent` doesn't evalutes in Liquid, and it's not `IShape` but `IHtmlContent`.

[2020-12-16 10:35] jtkech commented on #8021
Can't right now but i will take a look asap

I think the fix should be easy, maybe just also check that it is an `IHtmlContent` in the filter

[2020-12-16 13:09] #8017 closed

[2020-12-16 13:09] hishamco commented on #7270
Hopefully I will start on this today or tomorrow, thanks for your reminder

[2020-12-16 13:11] #8005 closed

[2020-12-16 13:13] agriffard opened #8025 "Draft and Published content: Show Preview and View buttons"
/cc @urbanit

[2020-12-16 15:00] agriffard opened #8027 "Login screen"
We should find another title for the Login screen than `Use a local account to log in.`

[2020-12-16 15:07] agriffard opened #8029 "Template: Alternate name"
Is it possible in the Edit of a Template to suggest the name of the alternate based on the name?

Ex: `Content_Article` => `Content-Article.cshtml or .liquid` in `YourTheme\Views\`

[2020-12-16 15:52] davidhayden commented on #7715
Awesome work @sebastienros and thank you 👍

I did some quick testing in an HTMLBodyPart to verify the change is **not** stripping unknown shortcodes, executing known shortcodes, and still escaping tags. This solves my concerns, and the issue can be closed from my perspective.

[2020-12-16 16:05] agriffard opened #8031 "Tenant description: Markdown"
Would it be possible to edit the description of a tenant in Markdown, store it in the settings and display it interpreted in the list?

[2020-12-16 16:07] Skrypt commented on #7715
Did we document the final solution?

[2020-12-16 16:17] hishamco commented on #7715
I upgrade Shortcodes to 1.0.0 in #7988 which allow to skip unknown shortcodes

[2020-12-16 16:17] #7715 closed

[2020-12-16 16:22] Skrypt commented on #7715
So the solution is to use any unknown shortcode like :

[code]

Please fix my example if I'm wrong and add it to the documentation.

[2020-12-16 16:47] sebastienros commented on #7715
=> which skips unknown shortcodes

The solution is to not do anything in OC, the library has a different behavior that fixes this issue

[2020-12-16 17:05] sebastienros commented on #7715
But we might still need to add a custom shortcode to escape everything on purpose, with `[raw][/raw]`. This can't be done with a custom shortcode since the inner text would be parsed first. It has to be done in the shortcodes library. I couldn't find how Wordpress is handling this though.

[2020-12-16 18:52] Skrypt commented on #7715
[[shortcode_here]TEXT HERE.[/shortcode_here]]

But I think this already works? I leave you guys at it. I just want to have this documented 😉

[2020-12-16 18:56] sebastienros commented on #7715
Yes that worked, and it still works, but when you write a blog post and you need to add some c# code with attributes, you don't want to have to do it on every attruibute. Then you have arrays, ...

What should be documented? How to escape shortcodes?

[2020-12-16 18:58] #5958 closed

[2020-12-16 19:03] Skrypt commented on #7715
I think escaping shortcodes is already documented. I meant documenting how to achieve what @davidhayden wanted to achieve. Maybe I need to read more about the issue and I'm lost but I feel like either the issue remains or that there is some examples that could be show in the documentation.

[2020-12-16 19:22] Skrypt opened #8033 "Admin UI : content alignment"
Here is one thing that should be fixed and it is the alignment of the description of contents with their title.
This should be fixed in one place first so that we can duplicate it everywhere else where the issue appears.
I just looked at how Github does this and they are using flexboxes combined with a bootstrap grid.
It's a one column layout which expands 100% of the width all the time "flex-auto

[2020-12-16 19:23] Piedone commented on #5958
Thank you Antoine!

[2020-12-16 22:18] arkadiuszwojcik commented on #8012
@jtkech @deanmarcussen

Let me do quick summary of potential fixes:

1. `InputIsDisabledTagHelper ` should inherit `InputTagHelper` and have additional `'asp-is-disabled'` constraint. This will work for Liquid as only one tag helper will be used anyway. But such solution will break Razor tag helper because it will not only match `InputIsDisabledTagHelper` but also `InputTagHelper` (which is less r

[2020-12-16 23:02] Skrypt opened #8034 "Admin UI : header buttons"
Before #7851 :

![image](https://user-images.githubusercontent.com/3228637/102417505-d8033f80-3fc9-11eb-93fd-c96f8ca6258d.png)

After #7851 :

![image](https://user-images.githubusercontent.com/3228637/102416872-a342b880-3fc8-11eb-8b0b-4d0269897308.png)

I found out that we are displaying these buttons inside a hamburger menu now.
I'm not a fan of it. They should be displayed all the time.
If we h

[2020-12-16 23:10] orchardc opened #8036 "Razor page can't render menu"
Followed this link to create a simple Razor OC site: [https://docs.orchardcore.net/en/dev/docs/guides/decoupled-cms/](url)

In the _Layout.cshtml, replaced the default menu with OC menu :

[code]

In _ViewImports.cshtml

[code]

The navbar isn't rendered correctly! I'm sure all css are loaded correctly.

![image](https://user-images.githubusercontent.com/16193516/102417520-c6cf2880-3ff3-11eb-9fd8-

[2020-12-16 23:15] Skrypt commented on #8036
It is CSS related, double check. Maybe you need to update the .css file by doing a SASS compilation of your .scss files.

[2020-12-17 03:19] JoshLefebvre commented on #7937
Yea in my case I do not wish to create a new admin theme for each tenant, but rather have my clients reuse the existing admin theme. However, I can see how the list of admin settings will quickly grow if we allow this.

I will close this task and if anyone does stumble upon this thread feel free to checkout my simple module for extending the existing site settings to upload a logo to a theme: http

[2020-12-17 03:19] #7937 closed

[2020-12-17 03:50] grayjeremy commented on #3799
I came across this error while trying to replicate some tutorials.  I was able to fix with the following .csproj file in my module.  Note the `<Project Sdk="Microsoft.NET.Sdk.Web">` as well as `<OutputType>Library</OutputType>`.  If you create a class library these aren't the defaults.
[code]

[2020-12-17 07:40] orchardc commented on #8036
I found the problem , it's those cshtml files need to copied to the View folder for menu to work.
![image](https://user-images.githubusercontent.com/16193516/102457739-21d83e00-403b-11eb-8df7-9c61149eaa90.png)

[2020-12-17 07:40] #8036 closed

[2020-12-17 14:10] deanmarcussen commented on #8007
Fixed by https://github.com/OrchardCMS/OrchardCore/pull/7957

[2020-12-17 14:10] #8007 closed

[2020-12-17 14:17] deanmarcussen commented on #8020
@giannik it's going to be the same issue as was fixed here https://github.com/OrchardCMS/OrchardCore/pull/7086

Suggest the shape names would need to be renamed to `ContentsAdminListSearch` to work with placement

[2020-12-17 14:20] deanmarcussen commented on #8010
Did you try to turn the `HtmlBodyPart` into a Reusable Shape by any chance?

That would cause an error like that.

Otherwise can you post the json of your content type definition (find it in `App_Data\Sites\Default\contentdefinition.json` that is causing the error.

[2020-12-17 14:22] deanmarcussen commented on #7995
Setup recipes shouldn't be run twice. They're not designed for that, and you will end up with all sorts of duplicated content issues.

It still makes sense to have them as runnable, so that a user can run the blog recipe, and the agency recipe.

[2020-12-17 14:28] deanmarcussen opened #8044 "Markdown script throwing not found error"
There's a reference to a mde.js script which is throwing a not found error.

I don't think we need it, as it is compiled into the toolbar script.

So just left over from your refactor I suspect @Skrypt ?

<img width="1371" alt="Screenshot 2020-12-17 at 14 26 28" src="https://user-images.githubusercontent.com/13782679/102500245-0178a580-4074-11eb-9a8b-a85f51832f15.png">

[2020-12-17 14:35] jtkech commented on #7995
Yes, as i remember when i tried it, when running the blog recipe it was the only one issue

So worth to fix it

[2020-12-17 14:44] #8021 closed

[2020-12-17 15:14] Skrypt commented on #8044
Possibly, but then the issue was there before too because I just renamed assets to make them more universal.

[2020-12-17 15:15] Skrypt commented on #8044
I can't repro locally on latest dev.

[2020-12-17 15:20] Skrypt commented on #8044
Ahh I see it happens only on blogpost

[2020-12-17 15:31] jtkech commented on #8012
@arkadiuszwojcik

No, currently for razor both tag helpers are executed and each only once as `InputIsDisabledTagHelper` doesn't call the `Process()` of its base class. But anyway not good to inherit from `InputTagHelper`, see below

That's okay for razor as the `InputTagHelper` is still selected and processed, and if `InputIsDisabledTagHelper` is also selected by an additional `asp-is-disabled` i

[2020-12-17 15:46] #8044 closed

[2020-12-17 15:51] agriffard commented on #7721
Can this be closed: It seems it has been solved.

[2020-12-17 15:58] sebastienros commented on #7721
Needs documentation

[2020-12-17 16:05] Skrypt commented on #8020
Please take a note that these search forms have small differences for when they use a filter or not.
We are still defining Admin UI elements this is mainly why I did not use a shape for now.
If you want to have a common shape for all lists this might take some params to differenciate some elements.

[2020-12-17 16:14] hishamco commented on #7995
@deanmarcussen if the intend is not run the same recipe I think it will be better to disable the installed recipe to run to avoid such issue

[2020-12-17 16:14] deanmarcussen commented on #8020
Different issue @Skrypt this is about the shape names for the extended filters for the CI list - taxonomies / culture etc.

So not the form, just some shapes that make up the elements

[2020-12-17 16:22] deanmarcussen commented on #7999
To clarify the `IsEnabled` flag is not correctly checked when using an external provider to login.

This bug we need to fix - I have confirmed it's not in the code base to perform the check there.

The behaviour for `IsEnabled` is to prevent a Login, not allow a Login, and prevent access to resources.

It was more intended to allow users to have their accounts disabled, but still remain on the sys

[2020-12-17 17:04] aderderian commented on #7999
I agree with your assessment of the situation @deanmarcussen. I am not familiar with the Auth section of the code, so not sure if you can do this PR? I won't be able to get to it.

[2020-12-17 17:04] hishamco commented on #8034
Seems the icons are wiered in the humberger menu, could we use text instead

[2020-12-17 17:27] Skrypt commented on #8034
No it needs to be removed from that hamburger menu. Make it how it was before.

[2020-12-17 17:59] Skrypt commented on #7995
If everything was idempotent from recipes there should not be any issue.

[2020-12-17 18:08] deanmarcussen commented on #7995
The issue becomes that setup recipes create weirdness when run twice.

Because content item ids are generated during the setup run.

So setup recipes are not idempotent.

You end up with multiple widgets in footers, extra blogs.

[2020-12-17 18:14] sebastienros commented on #7719
Can you comment on each task and the reason for it? I only understand the last point.

[2020-12-17 18:15] sebastienros commented on #7755
Closing until you explain why you would need to do it.

[2020-12-17 18:15] #7755 closed

[2020-12-17 18:16] sebastienros commented on #7759
I don't think there is anything specific to Orchard Core in your question. It looks like a general ASP.NET core one. Have you tried on the aspnet core repository?

[2020-12-17 18:16] #7759 closed

[2020-12-17 18:17] #7764 closed

[2020-12-17 18:18] sebastienros commented on #7769
More generally, building a custom admin theme.

[2020-12-17 18:19] sebastienros commented on #7770
Would be less risky to make it a distinct Admin theme, or be part of the documentation in https://github.com/OrchardCMS/OrchardCore/issues/7769

[2020-12-17 18:24] sebastienros commented on #7763
Needs a doc to explain how to configure OC to use Azure services to get rid of the app data folder.
Lucene remains in the app_data so it's necessary, but tenants, content types, data protection keys should go somewhere else.

[2020-12-17 18:27] sebastienros commented on #7779
It's a custom feature, with a custom permission, and a custom permission handler that will check if the content has been published. Could also be a custom Part with a field to "lock" a content item, and then check a specific permission.

[2020-12-17 18:30] sebastienros commented on #7785
Looks like you can already configure it and there is some documentation about it: https://docs.orchardcore.net/en/dev/docs/reference/modules/Apis.GraphQL/#configuration

[2020-12-17 18:30] #7785 closed

[2020-12-17 18:31] sebastienros commented on #7786
Please add some repro steps

[2020-12-17 18:31] #7786 closed

[2020-12-17 18:37] sebastienros commented on #7775
I think I agree with the request:
- manage tenant features from the default tenant (from the tenants feature)
- be able to enable/disable a feature for a set or all non-default tenants
- be able to run a recipe (text area) for a set or all non-default tenants

But not from the tenant setup screen which has to remain focused.

[2020-12-17 18:39] MikeKry commented on #7785
@sebastienros

I know about this settings, but my point was that it is not possible to disable complexity check completely and when you pass any not null object as ComplexityConfiguration  then graphql performs complexity check and that is a problem for nested queries.

In practice it means that you can not use more than approx. 10 widgets in one request (by design of flow, it has three levels to

[2020-12-17 18:42] sebastienros commented on #7750
I think only the CMS related features should assume that YesSql is used or can be used. All other features (user management, role management, open id, admin dashboard, theming, deployment, media, ...) should be decoupled from yessql, with the notion of Store (like Indentity stores) such that we could use EF or other orms for these features.

We can use YesSql by default but we need to be able to s

[2020-12-17 18:54] sebastienros commented on #7830
Is (part of) the issue that you need to prefix all rules with `:root[data-theme="default"]` and `:root[data-theme="dark"]` ?

Also what you suggest, add a default rule, like `a { color: #123123; text-decoration: none }` I assume it's such that you can create a custom Layout that doesn't have the `data-theme` property (@Skrypt mentions there is one) that would then no require `data-theme` selectors

[2020-12-17 19:04] sebastienros commented on #7915
Custom permissions (dynamic) to add/remove a specific role, implied by "Manage Roles". Only check for Manage Roles, and granted if the specific one is one of the allowed permissions.

[2020-12-17 19:18] hishamco commented on #8034
May be the first screenshot is accepted but the other once introduce a spacing issue which is not needed

[2020-12-17 19:39] Skrypt commented on #8034
Well the hamburger menu is not necessary at all I think. We should keep it if people want to extend the top menu with their own menu items (text links). Else I don't think we need it.

[2020-12-17 19:57] agriffard commented on #8034
What about only show text on small?:
![media](https://user-images.githubusercontent.com/703248/102536789-6222d500-40aa-11eb-95af-8c1732156e31.gif)

[2020-12-17 20:02] CrestApps commented on #7775
@sebastienros I agree with you that the setup screen should remain focused. However, I don't think it eliminate the focus if under the recipe field we add a list of a checkboxes that shows what features will be selected based on this selected recipe. Then if one selected the "Blog" recipe for example, but then check one more additional feature. If you think about it, if you want a new recipe which

[2020-12-17 20:02] CrestApps commented on #7775
@sebastienros I agree with you that the setup screen should remain focused. However, I don't think it eliminate the focus if under the recipe field we add a list of a checkboxes that shows what features will be selected based on this selected recipe. Then if one selected the "Blog" recipe for example, but then check one more additional feature. If you think about it, if you want a new recipe which

[2020-12-17 20:04] Skrypt commented on #7830
The issue is that currently we can't detect on server side the current user color-sheme.

Here is one thing I found as a potential future solution.
https://github.com/w3c/csswg-drafts/issues/4162

[2020-12-17 20:26] jtkech opened #8052 "OC.Setup.Abstractions Package Synchronisation Failed on cloudsmith"
Hi @ns8482e

Just for info, just saw here https://cloudsmith.io/~orchardcore/repos/preview/packages/detail/nuget/OrchardCore.Setup.Abstractions/1.0.0-rc2-15648/id=OBEPfPqZfGkv/

Seems that an empty tag was provided for `OrchardCore.Setup.Abstractions`

    This package synchronisation failed or was canceled while  Parsing Package Metadata. Reason given: Could not parse metadata from the package: A

[2020-12-17 20:37] scleaver opened #8053 "Media slugify removes @"
Media slugify currently removes @ from the image url which is a commonly used convention for naming 2x resolution images eg. 'kitten-@2x.jpg'

[2020-12-17 21:03] #8052 closed

[2020-12-17 21:41] hishamco commented on #1087
@agriffard this could be different coz the action button are on the bottom of the page, I made an experiment to make this happen by triggering scroll event

[2020-12-17 21:53] hishamco commented on #1087
BTW @agriffard we may need to open a new issue related to key binding, so I can apply this in all the pages in the admin site. We need to agree about the suitable shortcuts for each action

[2020-12-17 21:57] hishamco commented on #4217
A lot of UI changes are happen since then, so time to close

[2020-12-17 21:57] #4217 closed

[2020-12-17 21:57] hishamco commented on #4216
A lot of UI changes are happen since then, so time to close

[2020-12-17 21:57] #4216 closed

[2020-12-17 21:57] hishamco commented on #4204
A lot of UI changes are happen since then, so time to close

[2020-12-17 21:57] #4204 closed

[2020-12-17 21:58] hishamco commented on #4209
A lot of UI changes are happen since then, so time to close

[2020-12-17 21:58] hishamco commented on #4186
A lot of UI changes are happen since then, so time to close

[2020-12-17 21:58] #4186 closed

[2020-12-17 21:58] hishamco commented on #3688
A lot of UI changes are happen since then, so time to close

[2020-12-17 21:58] #3688 closed

[2020-12-17 22:21] agriffard opened #8059 "Admin: Key bindings to trigger button actions"
In Create/Edit admin pages, provide some keyboard shortcuts to trigger the button actions.

Ex: Alt+S to save.

Handle the Draft/Publish and the 'and continue' cases.

/cc @hishamco

[2020-12-17 22:27] #1087 closed

[2020-12-18 00:08] #8012 closed

[2020-12-18 00:44] CrestApps opened #8060 "Can all the methods in UserStore be marked virtual to allow the user to override the behavior?"
I am trying to change how the users are stored in my app discussed at #7716

In order to do that, the [UserStore](https://github.com/OrchardCMS/OrchardCore/blob/af6f9b3e17e63db12a8aaf67ac5df1ae34a1489a/src/OrchardCore/OrchardCore.Users.Core/Services/UserStore.cs) methods needs to be marked as virtual.

Also, shouldn't this [code](https://github.com/OrchardCMS/OrchardCore/blob/af6f9b3e17e63db12a8aa

[2020-12-18 01:12] Skrypt commented on #8034
I'm sorry but I have to say that I don't like it. It doesn't look right.
One of the reasons is that the user menu should not open a second modal like this inside the hamburger menu.
Also, the darkmode and frontend website buttons should be accessible directly in the top bar like the notification button is for Github. Also, notice that the page title is never appended in the top navbar either.

![i

[2020-12-18 01:20] Skrypt commented on #8034
Frontend hamburger menu :

![image](https://user-images.githubusercontent.com/3228637/102562531-436e0f80-40a5-11eb-9a81-a016d2c2a2c7.png)

Backend hamburger menu :

![image](https://user-images.githubusercontent.com/3228637/102562557-54b71c00-40a5-11eb-8785-aa41bf8c3a43.png)

Stick to this and I think it will work.

[2020-12-18 01:46] #8019 closed

[2020-12-18 01:49] hishamco commented on #8034
That's why I vote for the text in the menu items at the beginning ;)

[2020-12-18 09:48] agriffard opened #8063 "Redis documentation"
At least a dedicated page and explanations on the configuration section (+ link in appsettings.json).

/cc @jtkech

[2020-12-18 09:51] agriffard opened #8064 "Content Localization: Documentation"
Add CulturePicker configuration section and link in appsettings.json

[2020-12-18 11:42] jtkech commented on #8060
As said on gitter, after `if (!(user is User newUser))` they reference the same object, so that's okay

[2020-12-18 11:54] jtkech commented on #8063
I will do my best, but i have still so much coding and testing to do

[2020-12-18 11:59] hishamco commented on #7270
What should the shortcode recipe have, and what should be deployed?

[2020-12-18 12:11] #8064 closed

[2020-12-18 12:12] deanmarcussen commented on #7270
Just copy the templates recipe and deployment steps

[2020-12-18 12:14] #8025 closed

[2020-12-18 12:42] muradzade commented on #5469
I had the same problem.
For solution: You need to check recipe file.Include your theme name.
    {
      "name": "themes",
      "admin": "TheAdmin",
      "site": "YourTheme"
    }

[2020-12-18 12:46] hishamco commented on #7270
AFAIK I know a recipe should be created with 3 templates, in case of Roles the names are deployed, that's why I asked and sorry if I miss understand you

[2020-12-18 14:46] ScottCreativeTechnologies opened #8071 "Create Tenant should state and/or ensure uniqueness of table prefixes"
On Create Tenant screen if anything other than SQLite is being used then bad data is permitted in the sense that a table prefix is allowed even if it is already in use by an existing tenant (including the case of no prefix). This will lead to the error described here

https://github.com/OrchardCMS/OrchardCore/issues/7547

I'm coming to this as a newbie and it wasn't obvious to me that each tenant

[2020-12-18 16:29] Skrypt opened #8074 "Admin UI (regression) : Content Type list too long (new button)"
This issue was fixed and when I merged the PR from @hishamco it removed the customization on the button that was made to limit it's height and have a scrollbar on it's contextual modal.

[2020-12-18 17:01] sebastienros commented on #8034
We can't have this hamburger menu in mobile view. This is a regression, and we closed a similar PR some time ago for the same reason. Sorry I didn't think about asking about the mobile view during the meeting. We need more time to evaluate all the changes before taking it.

Better create multiple PRs too for instance for the content items list so we can give feedback independently, and not merge a

[2020-12-19 06:19] Skrypt opened #8077 "Admin UI : Admin Template search not working"
The admin template search is not working because it doesn't retain that we are searching for an admin template, it search for a standard template.

[2020-12-19 06:22] Skrypt opened #8078 "Admin UI : Bootstrap selectpicker alignment"
Bootstrap selectpickers are always aligning from the left side of it's parent element/button. When the content is too large the selectpicker modal will display outside of the viewport of the page.

Example :

![image](https://user-images.githubusercontent.com/3228637/102682590-b4daba80-4198-11eb-814f-c2294448bd86.png)

[2020-12-19 06:38] Skrypt opened #8081 "Admin UI : Placements"
When the is no content in a module list view we should not display the header to be consistent with other views. The only views that should still display the header are the ones that are using filters in that content bar.

![image](https://user-images.githubusercontent.com/3228637/102682890-dc328700-419a-11eb-8f02-0007c66a1356.png)

[2020-12-19 07:19] Skrypt opened #8084 "Admin UI : Top navbar titles that are too long will break UI"
And make top navbar buttons unclickable.

![image](https://user-images.githubusercontent.com/3228637/102683676-a6909c80-41a0-11eb-94b4-85dee708a121.png)

[2020-12-19 07:46] hishamco commented on #8084
I think this is a common issue if the long title doesn't have a space

[2020-12-19 07:50] Skrypt commented on #8084
I'm just reporting issues that I find here. There is no issue with a long title when it's either ellipsed or overflow hidden or when using other techniques likes these. Also, depending where it's used these tricks are not necessary. I personally don't see why we added this title in the navbar. If it was because the title disapear when we scroll then it was still disapearing before and we did not h

[2020-12-19 08:04] hishamco commented on #8074
Could you please provide a screenshot shows the reported issue

[2020-12-19 08:05] hishamco commented on #8074
Ok, I just saw it in the PR

[2020-12-19 09:46] giannik commented on #7952
same issue as was fixed here #7086

[2020-12-19 09:46] #7952 closed

[2020-12-19 09:59] #8074 closed

[2020-12-19 10:06] #8078 closed

[2020-12-19 10:07] #8081 closed

[2020-12-19 10:44] agriffard opened #8085 "Rename master branch into main"
Is it possible to rename the `master` branch into `main` as it is now the default on GitHub?

Change it also in the GitHub Actions,

[2020-12-19 11:02] hishamco commented on #8085
Master is a common name

[2020-12-19 11:03] agriffard commented on #8085
https://github.com/github/renaming

[2020-12-19 12:40] deanmarcussen opened #8087 "Sitemap cache handling improvments"
@jtkech think there's a regression from the distributed pr where the sitemap caches are not being cleared when content items are updated / added, so it's serving stale comment.

I see that you're generating a new id, which I assume is for the document to refresh.

But the local cache itself is no longer cleared.

https://github.com/OrchardCMS/OrchardCore/pull/5249/files#r546233524

I haven't dug f

[2020-12-19 15:16] Skrypt opened #8090 "Admin UI (regression) : In contents list (view content button)"
The view button should appear only for content items that have an actual AutoroutePart associated with them.
Now, I click on a Menu content item view button for example and it returns me a 404 page.

[2020-12-19 16:29] CrestApps opened #8091 "Proposal to extend DefaultUserClaimsPrincipalFactory using providers instead of inheritance"
**Problem**

If a module, need to add claims to the user during login, the module will need to inherit the [DefaultUserClaimsPrincipalFactory](https://github.com/OrchardCMS/OrchardCore/blob/ed4250cd4dc3d6983b536d41da0458e9f20a4311/src/OrchardCore/OrchardCore.Users.Core/Services/DefaultUserClaimsPrincipalFactory.cs) then override the [GenerateClaimsAsync(IUser user)](https://github.com/OrchardCMS/O

[2020-12-19 16:32] #8077 closed

[2020-12-19 16:51] deanmarcussen commented on #8091
Duplicate of https://github.com/OrchardCMS/OrchardCore/issues/7671

Yes a `ClaimsProvider` interface pr would be great thanks.

See the associated issue for some of the ins and outs of the design.

[2020-12-19 18:22] giannik opened #8093 "Admin: Display buttons at the top in sticky zone on Create/Edit"
Hey guys,
Looking at the new UI features in the admin I would like to make a suggestion.
I think when viewing a content item in edit mode or dispaly mode (displaytype =DetailAdmin) the actions zone (with buttons for save, publish etc) should be at the top in a sticky zone just under the main Nav bar and always be visible regardless of scrolling.
@Skrypt @agriffard .

[2020-12-19 18:47] agriffard commented on #8093
See https://github.com/OrchardCMS/OrchardCore/pull/8067#issuecomment-748202190

@giannik Please keep your titles concised and descriptive ;-)
You can also link to existing issue/PR with their #number.

[2020-12-19 18:49] hishamco commented on #8093
@giannik we tried the suggestion in edit template and will be demo on Tuesday if all agrees we can generalize this in the create and edit pages that have a long content

[2020-12-19 18:50] hishamco commented on #8093
Related to #8067

[2020-12-19 18:53] giannik commented on #8093
Great, Did'nt see it was already in the agenda.

[2020-12-19 18:58] agriffard commented on #8093
You can keep it open.
@hishamco 's PR is a first try on the Edit Template that really needs it.

[2020-12-19 18:59] jtkech commented on #8087
@deanmarcussen

Yes, and in a distributed env the same happens in a given instance A even the identifier was updated by an instance B.

Yes, for now is it a problem?

I have to go but there might be a better way we can store the file based on the identifier, and retrieve it that way.

Yes, as we discussed and planned to do step by step for remaining things that need to be distributed aware. I work

[2020-12-19 21:53] svd8 opened #8096 "Resize Workflow design area"
![image](https://user-images.githubusercontent.com/76266848/102700298-e749ed80-4254-11eb-9dfc-eac96e7ef585.png)

I made my browser scale smaller via Ctrl + -
Then I moved workflow items to the left.
After I opened it again the large piece of my workflow moved beyond the design area to the left. And I have no idea how to make it visible again.
What can I do to fix that?

Also add ability to enlarge

[2020-12-19 23:15] hishamco commented on #8096
Perhaps we need a horizontal scroll to make this visible

/cc @sfmskywalker

[2020-12-20 16:45] CrestApps commented on #7671
PR #8097 should help here.

[2020-12-20 16:46] CrestApps commented on #8091
PR #8097 was submitted to close this request

[2020-12-20 17:51] #7306 closed

[2020-12-20 18:28] #7999 closed

[2020-12-20 18:57] #8090 closed

[2020-12-20 19:03] Skrypt commented on #8033
Same issue in new UI

![image](https://user-images.githubusercontent.com/3228637/102721977-1780a300-42cc-11eb-8709-6303526d6d05.png)

[2020-12-20 19:33] microposmp opened #8100 "Add IDE support to project templates"
Have made changes to the project templates to support usage from the Visual Studio New Project dialog.

- [x] Update templates #8099
- [x] Update documentation

Currently it's a preview feature in VS 2019 16.8 but it should be enabled by default in VS 2019 16.9.

![image](https://user-images.githubusercontent.com/49494169/102720652-ee750800-42f5-11eb-9330-801f6559c857.png)

Below are some samples:

[2020-12-20 20:44] Skrypt opened #8101 "Publish and Save Draft buttons : add "and create new" option"
Originally I made a PR for this here : https://github.com/OrchardCMS/OrchardCore/pull/3623
It needs to be refactored properly.

[2020-12-20 20:52] Skrypt commented on #8011
Yes closing this and renaming title as a reference for search. I believe the issue will get fixed when Cloudsmith supports it.

[2020-12-20 20:52] #8011 closed

[2020-12-20 20:55] Skrypt commented on #6459
Can't repro anymore.

[2020-12-20 20:55] #6459 closed

[2020-12-20 20:56] Skrypt commented on #5808
Closing as it's related with module implementation details. No issues here.

[2020-12-20 20:56] #5808 closed

[2020-12-20 20:58] Skrypt commented on #3492
Closing as userId is now merged.

[2020-12-20 20:58] #3492 closed

[2020-12-20 20:58] #3632 closed

[2020-12-20 21:00] #4018 closed

[2020-12-20 21:01] #4672 closed

[2020-12-20 21:03] Skrypt commented on #5136
Closing as it will be taken care by @jtkech if anything. There are other issues explaining what needs to be done.

[2020-12-20 21:03] #5136 closed

[2020-12-20 21:05] Skrypt commented on #3835
Fixed

[2020-12-20 21:05] #3835 closed

[2020-12-20 21:08] Skrypt commented on #3166
Closing as it should be moved to Fluid repo

[2020-12-20 21:08] #3166 closed

[2020-12-20 21:16] Skrypt commented on #5179
@sebastienros please, correct me if I'm wrong but I think the FullText aspect now can be used for this?
What was doing Tokenizing and Sanitizing in 01?

[2020-12-20 21:17] Skrypt commented on #3840
Closing as it was related with something else that @jtkech fixed a while ago.

[2020-12-20 21:17] #3840 closed

[2020-12-20 21:20] Skrypt commented on #3103
Closing as it makes more sense with Taxonomies.

[2020-12-20 21:20] #3103 closed

[2020-12-20 21:23] #4952 closed

[2020-12-20 21:29] #5741 closed

[2020-12-20 22:13] xperiandri commented on #8096
The core issue is that on save the workflow is saved from viewport coordinates. This means if I have a horizontal offset different than 0 then from all `X` coordinates horizontal offset is subtracted and they go beyond the screen forever.

[2020-12-20 22:13] xperiandri commented on #8096
It is a huge blocker for workflow usage!

[2020-12-20 22:18] Skrypt commented on #8096
There is already a scrollbar in latest dev for width.

[2020-12-20 22:19] Skrypt commented on #8096
![orchard](https://user-images.githubusercontent.com/3228637/102725808-87e8ed80-42e7-11eb-8f98-92eeafdbd7cb.png)

[2020-12-20 22:23] xperiandri commented on #8096
@Skrypt what if you scroll right and then save?

[2020-12-20 23:34] Skrypt commented on #8096
Ahhhhh I see now 😄

[2020-12-20 23:50] Skrypt commented on #4558
Too old. Closing.

[2020-12-20 23:50] #4558 closed

[2020-12-20 23:59] Skrypt commented on #5595
The issue comes from the fact that Linux uses IANA timezones while Microsoft uses it's own "business" timezones. This is a matter of using a timezone that is present in both Unix or Windows based systems then. Nothing we can fix here in Orchard Core.

Custom mapping of timezones could be a possibility but I believe that it should then be something that is fixed in NodaTime. It should find the clos

[2020-12-21 00:59] Skrypt opened #8103 "Admin UI : Semantics"
### Content Items List :

`<time>7 hours ago</time>`

Error: The text content of element time was not in the required format: The literal did not satisfy the time-datetime format.

### Layout

`<img src="/TheAdmin/logo.png" /><span>`

Error: An img element must have an alt attribute, except under certain conditions. For details, consult guidance on providing text alternatives for images.

[2020-12-21 01:11] Skrypt opened #8105 "Admin UI : Trumbowyg full screen text color in darkmode"
Text color is white in dark mode which makes text invisible.

![orchard](https://user-images.githubusercontent.com/3228637/102729643-875c5100-42ff-11eb-8c5e-ab09491cdc71.png)

[2020-12-21 05:36] microposmp commented on #8100
#8099

[2020-12-21 08:48] arkadiuszwojcik opened #8108 "Forms: LocalRedirect not supported"
I have created simple controller for validation of submited form:

[code]

When this controller method is executed with invalid ModelState `OrchardCore.Forms` module don't export ModelState. Solution that worked for me was modification  of `ExportModelStateAttribute` class:

[code]

I can submit PR if this is valid change.

[2020-12-21 09:27] juergen-de commented on #5065
Is that the reason you do not keep the selected language when you switch to another culture and the keep browsing the site?
An why should the cookie be removed?

[2020-12-21 10:15] MikeKry opened #8109 "Preview part missing"
Hi,

I have just noticed that Preview Part went missing somewhere between OC version 1.0.0-rc2-15533 and 1.0.0-rc2-15673, it also seems like there is no pull request related to this case, so I guess it was not hidden intentionally?

If it was hidden intentionally, is there any other way how to configure preview url as in this article? https://docs.orchardcore.net/en/dev/docs/guides/decoupled-cms/#

[2020-12-21 11:27] #8103 closed

[2020-12-21 14:29] deanmarcussen commented on #8087
@jtkech I've renamed it to improvements. As not a regression, and we can work through some improvements.

It is not a major problem.
But Azure WebApps tend to restart for Azure Reasons (they move them around a lot sometimes, so they restart).\
So the improvement would be to handle restarts as well.

As you say we could also look at cleaning with a background task.

I suspect these are different to

[2020-12-21 14:59] Sen-Gupta opened #8111 "MySQL: Data too long for column 'Content' at row 1"
Hello OrchardCore Team,

While running recipe, in MySQL with around 150 items with around 30 fields we received the following error:

Data too long for column 'Content' at row 1

   at MySql.Data.MySqlClient.MySqlDataReader.ActivateResultSet() in /_/src/MySqlConnector/MySql.Data.MySqlClient/MySqlDataReader.cs:line 116
   at MySql.Data.MySqlClient.MySqlDataReader.CreateAsync(CommandListPosition com

[2020-12-21 15:04] Sen-Gupta commented on #8111
We looked at the definition of "Document" Table in MySQL

CREATE TABLE `<tablePrefix_Document` (
  `Id` int NOT NULL,
  `Type` varchar(255) NOT NULL,
  **`Content` text,**
  `Version` bigint DEFAULT '0',
  PRIMARY KEY (`Id`),
  KEY `IX_Document_Type` (`Type`)
)

Looks like, it Content Field is "Text", should we ahead and make it **LONGTEXT**?

**The first result in google says this:**

**TEXT** is

[2020-12-21 15:24] deanmarcussen commented on #8111
It would be helpful if you could identify the document, i.e. content item or ??? with the error, and post it here.

[2020-12-21 15:42] Sen-Gupta commented on #8111
It has only ContentTypes and ContentParts Definition.

I have linked the file here.

Happy to do a PR for this, just point me to file where the change is [needed.]

https://file.io/fKJZVc4ugVHq (Can only download once)

@deanmarcussen file length: 184051 and it is way above the allowed length for text field: 65,535 in my SQL!

[2020-12-21 15:43] craftyweb opened #8113 "How to use Culture Picker with custom controllers"
HI,
I have a multilingual website with translations of content items, but I have also custom pages via controllers. Is it possible to redirect to the correct url via the Culture Picker shape?

Example of what I get now:

I go to the overview page of my webshop.
**~/en/webshop**

The English translations of the product are shown.

When I change the culture with the Culture Picker to Dutch the Dutch

[2020-12-21 15:55] hishamco commented on #8113
@jptissot is there anything to make this happen, I remembered we can use alias pattern for that

[2020-12-21 16:03] #8105 closed

[2020-12-21 17:12] deanmarcussen commented on #8111
OK, had a look at the file.

Good to know it is a Content Definition Document.

So too many content definitions for the document table.

This is one for https://github.com/sebastienros/yessql

Can you open an issue there please?

Short term you could probably alter the column type yourself (but make a backup!)

[2020-12-21 17:32] Sen-Gupta commented on #8111
@deanmarcussen Thanks!

Is 50 contentTypes too many? (They are actually 49)

[2020-12-21 17:32] Sen-Gupta commented on #8111
@deanmarcussen created an issue on YesSQL project. The issue belonged to YesSql.

[2020-12-21 17:41] deanmarcussen commented on #8111
Great. We'll keep it open here for when the issue is cleared and a YesSql update merged in.

[2020-12-21 17:54] agriffard opened #8114 "Relative time"
Use a web component that extends `time` to render a relative time (`... days ago`):

![image](https://user-images.githubusercontent.com/703248/102806760-c05afb00-43bd-11eb-9a63-c06090f96007.png)

https://github.com/github/time-elements

[2020-12-21 18:17] Skrypt commented on #8114
Related with https://github.com/OrchardCMS/OrchardCore/issues/2965

[2020-12-21 19:36] hishamco commented on #8114
@Skrypt I think you did similar PR that merged today

[2020-12-21 20:14] Skrypt commented on #8114
Nah it was not a shape that returns a complete html element. We forged the element in the view with the result of a shape.

[2020-12-22 04:10] jtkech commented on #8087
@deanmarcussen

So the improvement would be to handle restarts as well.

No problem, it was a choice at some point for simplicity, hmm another scenario where final built data are not persisted in the database and where we need a kind of history, hmm here we can't use an index provider as it is related to a single document, so maybe a time based solution

E.g. a date time of the last update that we

[2020-12-22 09:11] craftyweb commented on #8113
@hishamco Would be great if you have an example of that. Now I define custom routes in my StartUp.cs class.
I use the pattern {culture}/webshop/{controller}/{action} to go to the correct controller and action in the correct culture

[2020-12-22 10:26] #8108 closed

[2020-12-22 11:30] deanmarcussen commented on #7671
@MichaelPetrinolis @kevinchalet reaching out for advice again.

There's a pr in for extending the `DefaultUserClaimsPrincipleFactory` with providers. It needs a bit of work, so not reviewed yet.

However I just saw that @petedavis implemented the `IUserClaimStore` some time back https://github.com/OrchardCMS/OrchardCore/pull/4070

which adds a potentially more useful way of mapping these `CustomUs

[2020-12-22 16:51] jptissot commented on #8113
Hmm I am not familiar with the pattern when using custom controllers. I would need more information about your CulturePicker implementation.

[2020-12-22 16:55] webmedia1012 opened #8115 "How can we customize Preview (content) using master layout"
Hi Guys,

Trying to find a documentation on this, the content preview (before you publish) works, the only thing is that it's just on a page without any css or our site layout (headers and footers), how to I make it so I can see what it's going to look like on the actual site?

I saw that it was rendering on orchardcore.contentpreview/preview/index/id - can I overload or extend this page and put i

[2020-12-22 17:12] jtkech commented on #8115
Normally in that case, you need to add a preview part to your content type, and then in the settings specify the preview url / path

[2020-12-22 18:45] craftyweb commented on #8113
@jptissot I’ve made a custom feature to override the ContentCulturePicker shape so when I click on a culture I will go to a custom controller.

In this controller I would like to check if there is a culture in the url.
Then I would like to redirect to the same url with a different culture.

example:
I’m on ~/en/webshop and I select “nl” from the culture picker. The controller received ~/en/webshop

[2020-12-22 20:34] agriffard commented on #8027
My reason for this change was to not have the typical title from the ASP.NET template.

I don't mind having the name of the site.

Should we remove the name of the site?
Just keep `Log in` ?

[2020-12-22 20:42] agriffard commented on #7973
@sebastienros suggested some changes in the wording for the `Edit placements` dropdown:
Do not repeat Placement of the name of the field.

[2020-12-22 21:04] hishamco commented on #8027
What's the wrong with your previous PR?

[2020-12-22 21:23] agriffard commented on #8027
People might not want to see the site name in this title.

[2020-12-22 21:28] agriffard opened #8118 "Markdown on Dark mode"
During a demo, it seemed to be a black text on a dark background.

[2020-12-22 21:28] agriffard opened #8119 "Preview Draft permission"
Should we use the HasPreviewPermission to display the 'Preview Draft' button?

[2020-12-22 21:32] agriffard opened #8120 "See documentation"
Should we display an icon before the `See documentation` link or remove it?

[2020-12-22 22:59] Skrypt commented on #8118
It was for CKEditor but I think there is maybe an issue still.

[2020-12-22 23:17] Skrypt commented on #8118
See https://github.com/OrchardCMS/OrchardCore/pull/8110

[2020-12-23 00:01] issue-media-group commented on #7665
A potential fix for this problem is in pull request #7825

[2020-12-23 08:29] chinasqzl opened #8121 "Add default values to all fields and support Liquid"
Add default values to all fields and support Liquid
DateField Default today ： {{ "now" | local | date: "%F" }}
TimeField By default, 8 a.m ： 08:00:00

-----------
为所有字段添加默认值，并支持Liquid
如日期字段默认当天:   {{ "now" | local | date: "%F" }}
如时间字段默认早8点:  08:00:00

[2020-12-23 08:47] hishamco commented on #8027
Strange!! the site name already there in the site theme as well, I don't think this is  BIG issue while we can override the login view

[2020-12-23 09:03] deanmarcussen opened #8122 "Localization Part makes too many unneeded sql requests on admin"
When listing content in the admin the `LocalizationPart` makes multiple sql requests to discover the localization set data.

Each of this is done twice for the same `SummaryAdmin` view!

So listing 10 items with a localization part results in
- 1 requests to get the 10 items
- 1 request for the Count
- 2 requests per content item for the same query

Total: 22 requests.

Some minor caching in the `

[2020-12-23 09:17] deanmarcussen commented on #8027
The general point being made here is to do less to the templates / design, and allow people to override them, rather than forcing changes on them, particularly at this late stage.

[2020-12-23 09:26] hishamco commented on #8027
Ok Dean, I can remove the site name from the login view, and leave any customization to the user

[2020-12-23 09:32] hishamco commented on #8027
PR #8123 is created

[2020-12-23 09:45] deanmarcussen opened #8124 "KeyVault Configuration Expose DefaultAzureCredential"
The new KeyVault Configuration feature is great. ty @JoshLefebvre

There are some instances where the default `new DefaultAzureCredential(includeInteractiveCredentials: true)` doesn't work though.

It should work properly with VS Code, but doesn't always.

VS Code w/docker needs to have the default values changed.

Suggest we expose an overload where the credentials can be changed.

[2020-12-23 10:37] MichaelPetrinolis commented on #7671
@deanmarcussen let me write down my understanding and my thoughts for the issue

* we need a mechanism to retrieve and store claims from external providers, which can be done by extending the IExternalLoginEventHandler to define which claims from which provider will be created, updated, or removed from user. We could also use a workflow to transform and store those claims instead of extending the

[2020-12-23 10:45] agriffard opened #8129 "Placements: Enable feature in recipes"
Enable the `Placements` feature in recipes.

[2020-12-23 13:34] deanmarcussen commented on #7671
Thanks @MichaelPetrinolis good summary, all makes sense. Will see what I can come up with ;)

[2020-12-23 14:08] orchardc opened #8133 "RemoveAsync doens't remove item from the Database."
The following code doens't remove item from the Database.
`await _contentManager.RemoveAsync(contentItem);`

Physically remove contents from the database - is it even possible with API? Otherwise the database is growing very fast if not removable.

Any suggestion?

[2020-12-23 14:21] #8133 closed

[2020-12-23 15:55] #7990 closed

[2020-12-23 16:15] JoshLefebvre commented on #8124
Thanks !

I've had it working without issue on VSCode using the "Azure Account" extension with the "Azure: Sign In" command. I've specified this in the documentation. Can you specify what exactly doesn't work in vscode.

As far as getting it to work with Docker (or deployed on any non Azure infra) yes you are correct that this would not work and should have an overload to allow service principle o

[2020-12-23 16:17] JoshLefebvre commented on #8124
Oh actually just saw the PR! Nvm :)

[2020-12-23 18:09] Skrypt opened #8138 "Workflow search layout"
![image](https://user-images.githubusercontent.com/3228637/103025551-0c25b580-4520-11eb-946e-721e7fdfba7f.png)

Button is wrapping under. Make it consistent with others.

[2020-12-23 19:42] #8138 closed

[2020-12-23 21:15] Skrypt opened #8141 "Create new permission for Manage Media Options"
Currently if you have the ManageMedia permission you can ~edit~ see the Media Options.
It should be a separate permission ~as it allows to change the base path of media folder~.

[2020-12-23 21:40] hishamco commented on #8141
It comes back ;)

[2020-12-23 22:55] orchardc commented on #8009
Agree. I think OC should proivde a way to remove (physically) content records from the DB.

Looking into tables: there might only be 5 tables which contains content:

    AliasPartIndex
    AutoroutePartIndex
    ContentItemIndex
    Document
    IndexingTask

[2020-12-24 00:24] rserj opened #8145 "Absent ContentPickerField in "Content Menu Item Type""
I tried to edit "Content Menu Item" - Content Type in  the "Content definition" UI it looks like this

![image](https://user-images.githubusercontent.com/13991195/103045628-210f4280-453a-11eb-9d5b-d84d9288254e.png)

I have noticed there is no "ContentPickerField" but `ContentPickerFieldDisplayDriver` is triggered when I'm trying to add "Content Menu Item"
Plus there is a field in the Menu's module

[2020-12-24 06:16] MRSheikh opened #8146 "adding sessionstate provider to module got error."
hi.
i want to use AddSessionStateTempDataProvider and **not to use session with cookies** .
i add below code in Startup.cs of my module project:
[code]
**but this error occurred:**

[code]
![image](https://user-images.githubusercontent.com/17869166/103066473-3c2b9200-45ce-11eb-955b-ad33cb24bf06.png)

plz help.

[2020-12-24 10:09] #8020 closed

[2020-12-24 15:40] hishamco commented on #8009
Related to #8133

[2020-12-24 16:26] #8124 closed

[2020-12-25 02:32] JoshLefebvre opened #8149 "Feature Request: Color Picker Field"
I would like my tenants to be able to pick their own "primary" and "secondary" colors for their site theme. I don't want to manually have to update css or sass files for each tenant's theme. I already have my own OC module called #[OrchardCore.CustomStyleSettings ](https://github.com/LefeWareSolutions/OrchardCore.CustomStyleSettings) where I would allow them to set this and be used in their theme

[2020-12-25 02:33] JoshLefebvre commented on #8149
Possibly related: https://github.com/OrchardCMS/OrchardCore/issues/5867

[2020-12-25 10:55] arkadiuszwojcik commented on #7245
I really don't understand this behaviour. I have simple form in my liquid page. All fields get auto `ContentItem_` prefix, ok let say I get it, but ReCaptcha in very same form don't have such prefix so this doesn't work:

`{% helper "span", validation_for: "g-recaptcha-response", class: "form-control" %}`

It doesn't work because it exspects: `ContentItem_g-recaptcha-response` but `g-recaptcha-res

[2020-12-25 13:08] arkadiuszwojcik commented on #7245
I don't understand one thing. Why when I use Form with some Workflow (as backend) I don't get any ContentItem prefixes for model fields. But when I use very same form against custom Controller then this prefix is appended? It is very incosistient behaviour.

[2020-12-25 16:43] MRSheikh commented on #8146
no one has idea???

[2020-12-25 16:47] #8146 closed

[2020-12-25 18:31] 4m-world commented on #7722
after further investigation, the issue takes place on MSSQL server version 14.0.2027.2
with server collation: SQL_Latin1_General_CP1_CI_AS

[2020-12-25 19:09] #8034 closed

[2020-12-25 19:09] #8084 closed

[2020-12-25 19:53] giannik opened #8155 "bootstrap-select and bootstrap-slider style Resources"
According to documentation in OrchardCore.Resources
there should exist the relevant style resource for the matching script resource.

The style resource does not exist for :

- bootstrap-select
- bootstrap-slider

making it not possible to use the library in the front end.

These should continue to exist regardless of bundling done for the admin theme.

[2020-12-25 20:46] agriffard opened #8157 "Authentication provider: Reset"
There is no way to reset any of the external authentication provider once it has been configured because all the Save require some values.

/cc @MichaelPetrinolis

[2020-12-25 20:48] agriffard commented on #8149
There is a Color editor for the Text field.
Do you want a specific one?

[2020-12-25 20:51] #8118 closed

[2020-12-25 20:52] #7698 closed

[2020-12-25 20:53] #6954 closed

[2020-12-25 20:54] #5530 closed

[2020-12-25 20:55] #5349 closed

[2020-12-25 20:56] agriffard commented on #4929
Reminder for @Skrypt

[2020-12-25 20:56] #2828 closed

[2020-12-25 20:58] agriffard commented on #5495
Use Secrets

[2020-12-25 20:58] #5495 closed

[2020-12-25 20:58] agriffard commented on #5540
Reminder for @hishamco

[2020-12-25 20:59] #8027 closed

[2020-12-25 21:01] agriffard commented on #7270
Did you manage to progres on this one @hishamco ?

[2020-12-25 21:15] hishamco commented on #7270
I started on this a week ago, but I blocked, that's why I asked before, what should deployed in case of shortcodes

[2020-12-25 21:17] hishamco commented on #5540
Thanks for reminder @agriffard, I already started on a PR 3 months ago, but still there are few things I need to manage. Hopefully I can fix it this week, I gave this a low priority in the past

[2020-12-25 21:30] MRSheikh opened #8160 "adding session state provider to my module project , get error !!"
i want to use session state module without cookies and add this code to my Startup.cs file in my module project.
[code]
but
![image](https://user-images.githubusercontent.com/17869166/103142264-97b46780-4715-11eb-82f4-a5050d3a91f1.png)

[2020-12-25 21:33] hishamco commented on #8160
Your issue is already logged but move to the discussion here https://github.com/OrchardCMS/OrchardCore/discussions/8146

[2020-12-25 21:33] #8160 closed

[2020-12-26 09:00] deanmarcussen commented on #7270
Just copy the templates recipe and deployment steps.

I don't understand what is blocking you @hishamco all you need to do for this is the above.

[2020-12-26 10:53] #8141 closed

[2020-12-26 10:57] hishamco commented on #7270
Seems I was looking for something to export, I just find `ShortcodeTemplatesManager` which the thing that I'm looking for, PR will be pushed soon ...

[2020-12-26 15:56] jtkech commented on #7941
@jersiovic

Look at #8161 where we use a distributed lock while activating a given shell (where migration steps are executed)

Can you try it when you will have time? And see if it fixes your issue

You will need a Redis instance, an `OrchardCore_Redis:Configuration` string as commented in our appsettings.json

And then enable the `RedisLock` feature

[2020-12-26 16:49] #8155 closed

[2020-12-26 17:27] MRSheikh opened #8164 "orchardcore logoff link error !"
i want to logoff my user with html link and when click on href="/Users/LogOff" error occurred.
[code]

[2020-12-26 17:37] #8164 closed

[2020-12-26 20:58] JoshLefebvre commented on #8149
Oh I had no idea! That would work for my use case ! Thanks @agriffard . I will close this issue

[2020-12-26 20:58] #8149 closed

[2020-12-27 10:13] arkadiuszwojcik opened #8166 "Documentation: Add inner recipe feature documentation"
Today while browsing OrchardCore code base I discovered inner recipes feature that is not documented at this moment. Would be nice to explain what `ExecutionId` is responsible for.

[2020-12-27 10:28] #7225 closed

[2020-12-27 10:36] #2680 closed

[2020-12-27 10:44] agriffard commented on #489
To be triaged.

[2020-12-27 11:08] agriffard commented on #1634
/cc @jtkech

[2020-12-27 11:09] agriffard commented on #1851
/cc @Skrypt

[2020-12-27 11:12] agriffard commented on #2065
/cc @deanmarcussen

[2020-12-27 11:15] agriffard commented on #2345
Anyone wants to contribute to a Monaco Editor for Html field and part?

[2020-12-27 11:17] agriffard commented on #2703
Splitted in different modules.

[2020-12-27 11:17] #2703 closed

[2020-12-27 11:19] agriffard commented on #3018
/cc @deanmarcussen

[2020-12-27 11:25] agriffard commented on #3404
Media text as been added.

/cc @deanmarcussen

[2020-12-27 11:27] agriffard commented on #3299
See Custom user settings.

/cc @deanmarcussen

[2020-12-27 11:31] agriffard commented on #3800
/cc @deanmarcussen

[2020-12-27 11:42] agriffard commented on #4959
Is it because of the Html Sanitizer?

[2020-12-27 11:46] agriffard commented on #4959
https://alex-d.github.io/Trumbowyg/documentation/#tags-to-keep might work:

` tagsToKeep: ['i'],`

[2020-12-27 11:49] #5126 closed

[2020-12-27 17:51] microposmp opened #8169 "Edit Widgets and Layers UI navigation"
A PR will be provided with suggested fixes for the 2 issues below.

- **In the screen for adding/editing Layers there is no cancel button to return to the main form without saving**.

![image](https://user-images.githubusercontent.com/49494169/103175770-c09b4080-486c-11eb-87fd-c8f3cf96dd8a.png)

Expected behaviour:
Offer navigation option with a cancel button.
![image](https://user-images.githubus

[2020-12-27 20:45] jagbarcelo commented on #4959
Furthermore, you do not need to publish the content at all to see this behaviour. Just switch forth and back from the code editor to the WYSIWYG editor and back to the code again, and the contents are changed. By the way, `tagsToKeep` already has the `i` tag in it.

![fontawesome2](https://user-images.githubusercontent.com/6704109/103179473-cacd3700-488c-11eb-9dfb-f98b20a0cc18.gif)

[2020-12-27 21:05] jtkech commented on #1634
So here we would need to register `IModuleStaticFileProvider` at the `builder.ApplicationServices` level, just tried it works. And enlist the related middleware at the app level, not through the tenant pipeline that will be executed in a scope context, just tried it works. The only problem is that it is no more tenant aware, make sense for shared static files but we commonly generate url including

[2020-12-27 21:08] #1851 closed

[2020-12-27 21:17] xperiandri opened #8171 "Sort all items of recipe by CreatedDate"
**Is your feature request related to a problem? Please describe.**
When a team develops a site each developer may update a recipe after he did some changes in the admin panel so that the other developers can pick up the changes.
But deployment plan export content items in random order. I guess the way it reads them from the database.
This leads to a merge hell.

**Describe the solution you'd like*

[2020-12-27 21:24] Skrypt commented on #4959
There's maybe a fix for this. I need to investigate.

[2020-12-27 23:37] agriffard commented on #5412
Related PR has been merged. Can this be closed @ns8482e ?

[2020-12-27 23:39] #8120 closed

[2020-12-28 12:46] deanmarcussen commented on #3800
Refer https://github.com/OrchardCMS/OrchardCore/issues/7186 I suspect

[2020-12-28 13:52] #8129 closed

[2020-12-28 14:03] #927 closed

[2020-12-28 14:03] #5409 closed

[2020-12-28 22:02] webmedia1012 commented on #8115
thank you @jean can you elaborate on that? when you say content type, create a new content type from content definition? I don't follow.

[2020-12-29 07:01] 4m-world commented on #7719
Form some reason the `web.config` was not generated in the publishing process, which was resolved after updating VS to the latest version.

The Shared webhost that I'm using has some restrictions with .net core, where OrchardCore did not run using `inprocess` configuration

Some errors that occur during application startup prevent the framework from working. In such cases, enabling the ASP.NET Cor

[2020-12-29 08:35] HengzheLi opened #8176 "Preview deployment plan"
**Is your feature request related to a problem? Please describe.**
Some times, I only want to preview what will be generated in the deployment plan. For now, it have to download the plan and review it in local. Would it be possible to preview it online?

**Describe the solution you'd like**
Provid a choice in the popup Availible Targets dialog of a deployment plan. Then the new choice will navigat

[2020-12-29 15:53] #8100 closed

[2020-12-29 17:04] #7270 closed

[2020-12-29 17:13] #8033 closed

[2020-12-29 17:25] deanmarcussen commented on #2118
Confirmed this is fixed.

[2020-12-29 17:25] #2118 closed

[2020-12-29 17:29] Skrypt commented on #7721
This issue should be taken care in first priority for 1.0
@hishamco is working on a PR https://github.com/OrchardCMS/OrchardCore/pull/7599
But there is also documentation to write about the possible workarounds.

[2020-12-29 17:30] Skrypt commented on #1981
Can we close this now that #7938 is merged?

[2020-12-29 17:37] deanmarcussen commented on #2065
Think is as stream optimized as it can get, unless the `Base64` feature is dropped.

[2020-12-29 17:57] deanmarcussen commented on #7963
related https://github.com/OrchardCMS/OrchardCore/issues/1014

[2020-12-29 17:58] deanmarcussen commented on #1794
Related https://github.com/OrchardCMS/OrchardCore/issues/1014

Solution on https://github.com/OrchardCMS/OrchardCore/issues/1014

[2020-12-29 18:00] deanmarcussen commented on #6751
Related https://github.com/OrchardCMS/OrchardCore/issues/1014

[2020-12-29 18:06] #1981 closed

[2020-12-29 19:02] davidhayden commented on #1014
@sebastienros

I run across this NRE a fair amount when experimenting as mentioned in #7963

Rather than just ignoring the `ContentItem` in the admin section, it might be useful to display an **overridable shape** in its place that tells us the content type definition for that item has been deleted or is corrupt. In the case of a widget that has a deleted content type definition, for example, it w

[2020-12-29 19:17] davidhayden commented on #7963
Thanks @deanmarcussen. I added a comment to #1014 that addresses a couple things I mentioned here that weren't mentioned in the earlier issue.

This issue can be closed from my viewpoint unless there is value to having it remain open.

[2020-12-29 20:27] Skrypt opened #8179 "Admin UI : modal console.warn should be moved to a console alert"
The current action modals we're not using appropriate semantics by using "itemprop" attribute to trigger them.
The `itemprop` attribute has been kept for now for backward compatibility.
And we display a console warning when the itemprop attribute is still used to advise people that it will eventually removed.

Now, we want to move to a console alert in a month or so. This will be even more evident

[2020-12-29 20:56] hishamco commented on #8179
What about displaying a warning alert in the dashboard UI?

[2020-12-30 00:24] barthamark opened #8180 "Prevent ModularBackgroundService from getting stuck on an exception"
In case of specific low-level exceptions during a background task execution, the ModularBackgroundService will stop permanently (see an example exception below). It can be restarted only if we restart the app. Is it possible to somehow log the exception and prevent stopping the service?

To clarify, this is not about figuring out what caused this exception, but to figure out how to avoid stopping

[2020-12-30 00:50] jtkech commented on #8180
I totally agree ;)

We already use a try / catch to execute each task but not on the whole `await shellScope.UsingAsync()`, and in the above trace it fails before disposing the shell scope which calls `YesSql.Session.CommitAsync()`

I will fix it

[2020-12-30 00:56] Piedone commented on #8180
I think maybe the solution is as straightforward as moving this try-catch into the `while` in `ModularBackgroundService`?

[2020-12-30 01:04] jtkech commented on #8180
Yes, this is what i would want to do but i want to test what happens when you stop a process, e.g. run from the command line then ctrl + c, as i remember it throws a specific exception, but not sure and I don't remember which one

I will try it

[2020-12-30 01:05] Piedone commented on #8180
Thank you!

[2020-12-30 01:28] jtkech commented on #8180
That's okay, here also it just cancels the stopping token

[2020-12-30 10:40] arkadiuszwojcik opened #8182 "Add option to hide recipe in admin recipes list"
**Is your feature request related to a problem? Please describe.**
Recently I started using inner recipe feature and I have few inner/sub recipes and one master recipe that use them. What bothers me a bit is that my inner recipes are displayed in admin recipes list even if those recipes are  just internal and intendent to be used only by master recipe and not individualy.

**Describe the solution

[2020-12-30 11:08] barthamark commented on #8180
Thank you @jtkech :) Once we move the try-catch into the `while`, is it possible that it will flood the log file with exceptions?

[2020-12-30 12:19] deanmarcussen commented on #1014
@davidhayden

That is a nice idea, I need to think about how achievable it is. I was probably going to start working on this soon, and had been thinking of an empty shape (easier than null checking everywhere). Possibly a notification could be useful.

The problem we have with flow / bag parts, and the contained items, is that the items collection is rebuilt every time from scratch when the form i

[2020-12-30 12:46] giannik commented on #8182
try hidden attribute

{
  "name": "01_Setup",
  "displayName": "01_Setup",
  "issetuprecipe": false,
  "tags": [
    "hidden"
  ],

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A

[2020-12-30 13:56] #3815 closed

[2020-12-30 15:03] jtkech commented on #8180
@barthamark

Good point, maybe you remind me step by step why I didn't do it originally ;)

Yes, if the issue is persistent, one log per minute

What are you suggesting?

Maybe a counter to check if > MaxExceptionCount, but reset this counter after a certain amount of time

[2020-12-30 15:07] Piedone commented on #8180
I think retrying perpetually and logging it is fine. If it floods the logs it's still because of a critical issue. And I think it also should be retried again and again because if e.g. the DB is down the background tasks should still resume if it comes back after two hours.

[2020-12-30 15:12] jtkech commented on #8180
Okay cool, and that's the simplest solution, nothing to do !

[2020-12-30 15:14] Piedone commented on #8180
Yep :).

[2020-12-30 16:27] Skrypt opened #8184 "Data : User email migration"
### Describe the bug
We recently merged a PR that migrates user names data and replaces the @ with a + char to disallow usage of a email as a user name. The migration is working on the Document table on the UserName field but it should also be applied on the NormalizedUserName field of a `public class User : Entity, IUser`. Also the UserIndex table should be updated accordingly.

**To Reproduce**

[2020-12-30 16:28] stevo-knievo opened #8185 "Cloning doesn't generate new id's for embedded elements"
### Describe the bug
When I clone a document via the CMS UI. The document gets a new ID (and a new version ID) but not the embedded elements, which are included via a bag content part.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create content-type: Bar
2. On Add Parts To "Bar", add: Title
3. Create a second content-type: Foo
4. On Add Parts To "Foo", add: Bag, Title
5. Edit that conten

[2020-12-30 16:45] davidhayden opened #8186 ""adasd" characters on "Select" link when executing deployment plan"
A simple bug fix for a first-time contributor.

The `adasd` characters should be deleted from the [select link](https://github.com/OrchardCMS/OrchardCore/blob/c41f7a457744c2da8ef9910882130986453ae143/src/OrchardCore.Modules/OrchardCore.Deployment/Views/DeploymentPlan/Display.cshtml#L100) shown below.

[code]

![bug](https://user-images.githubusercontent.com/96801/103367736-dfc7e700-4a93-11eb-94da-

[2020-12-30 16:56] arkadiuszwojcik commented on #8182
@giannik thank you. That worked for me.

[2020-12-30 16:56] #8182 closed

[2020-12-30 17:44] #8180 closed

[2020-12-30 17:51] #8186 closed

[2020-12-30 18:31] #8087 closed

[2020-12-30 19:14] TalMcMahon opened #8189 "Setup screen fails when user has a previous failed setup"
Setup screen errors with "The user name is required" even though it is properly filled in (image below).

* If you re-enter the username and submit, the create fails and you end up on the "The requested tenant is currently initializing" screen (also image below)

I have not found an easy way to recover from this state.

This is a tough thing to reproduce, I will do my best to describe it. It seems

[2020-12-30 19:49] jtkech commented on #8189
Yes, the `@` char is no more allowed for an user name

But the validation message is not well descriptive, someone needs to fix it

Then, normally when it fails, it returns back from the `Initializing` state to the `UnInitialized` state

When i will have time i will dig into this last part

[2020-12-30 20:45] Skrypt commented on #8185
It has a new id if you combine the main content item with the sub content items.
Since the data of these content items are contained inside a main content item there is no issue.
Though, could you explain why you would need them to be singular?

[2020-12-30 21:15] jtkech commented on #8185
@Skrypt Yes but now contained items can be routed base on their ContainedContentItemId

[2020-12-30 22:02] stevo-knievo commented on #8185
Thanks @Skrypt, Thanks @jtkech for your replies.

I asked at GITTER if it is possible to override the clone method strategy to change that behaviour to generate new IDs for all of the embedded elements as well.

@deanmarcussen replied:

My use case is outside of the Orchard ecosystem:
I use Orchard as a headless CMS. I utilize the `contentItemId` as a unique identifier which worked until we start

[2020-12-30 22:17] jtkech commented on #8185
@stevo-knievo Cool then, thanks for opening this issue

[2020-12-30 22:41] stevo-knievo commented on #8185
no, no thank you guys for all your great work! I much appreciate it!

[2020-12-31 00:24] Skrypt commented on #8185
Ok so if we have routes then maybe it should be based on ContentItemId dash ContainedContentItemId.

[2020-12-31 02:48] Skrypt opened #8194 "Admin UI : Script defered"
**Is your feature request related to a problem? Please describe.**

Consider using defered scripts instead of declaring them in the page footer.
Declare them all in the header instead like they are supposed to.

**Describe the solution you'd like**

Use `<script defer="defer"></script>`

[2020-12-31 03:53] #8184 closed

[2020-12-31 04:07] Skrypt opened #8195 "Admin UI : CORS module"
**Is your feature request related to a problem? Please describe.**
As reported in #8183 we should enhance this module UI.
It is currently not entirely consistent with what we do in our modules because mainly it uses a Vue.js component to do the entire work.

## TODO

- [ ] Form validations ([VeeValidate](https://vee-validate.logaretm.com/v3)) : same values should not be accepted, empty value shoul

[2020-12-31 04:10] Skrypt commented on #8195
/cc @MatthijsKrempel

[2020-12-31 04:18] Irapuato opened #8196 "Máster/managger"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2020-12-31 04:40] Skrypt opened #8197 "Admin UI : User validation messages"
The validation messages should display under their respective textboxes.
The validation summary is **probably** not necessary too.

~~It's probably missing JQuery UI ...~~

See Bootstrap 4 validation styles

https://getbootstrap.com/docs/4.0/components/forms/#validation
https://getbootstrap.com/docs/5.0/forms/validation/

[2020-12-31 05:30] Irapuato opened #8198 "ReducedRegressionForecaster"
### Describe the bug

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-12-31 08:02] #8198 closed

[2020-12-31 08:03] #8196 closed

[2020-12-31 11:05] HengzheLi opened #8203 "Exception when there is "Deployment" step in recipe"
Get exception when the recipe contains "Deployment" step when create a new tenant. The exception as below:
[code]

My "Deployment" step content is as below:
[code]

And below is my enabled features in my recipe
[code]

[2020-12-31 11:42] #7152 closed

[2020-12-31 11:45] HengzheLi commented on #8203
I am not sure this is a bug. Seems like that github add "bug" label automaticly and I don't know how to remove it

[2020-12-31 11:50] deanmarcussen commented on #8203
Duplicate https://github.com/OrchardCMS/OrchardCore/issues/7852

[2020-12-31 11:50] #8203 closed

[2020-12-31 12:18] deanmarcussen commented on #7949
@jtkech for infos.

I did a lot of performance tests against YesSql while we figured this out.
With only a few items in the `Document` table, a `DocumentId` index on the `MapIndexTable` makes zero performance difference.

With 1,000 items in the `Document` table, and therefore 1,000 items in a `MapIndexTable` a `DocumentId` index on the `MapIndexTable`, all the delete commands improve by about 50%

[2020-12-31 14:21] davidhayden commented on #1014
@deanmarcussen

I think a notification is a great idea in all circumstances, because one might not even realize there is an issue in a bag, flow, widget list, or just lower on the page. I assume a notification will be displayed prominently at the top of the page and another closer to where the error is occurring. This change alone will help a lot as it will keep the UI stable and provide a meaning

[2020-12-31 14:39] TalMcMahon commented on #8189
Is the removal of the "@" char a new thing (last few days)?   It seemed to work around build ...509  Maybe that was why I was so confused as I updated in dev.

[2020-12-31 14:42] davidhayden commented on #1014
Out of curiosity, does anyone know for sure if **solution 2** mentioned above is difficult or a performance nightmare?

When deleting a content type it would be very useful to receive a warning that one is about to delete a content type that has content items associated with it, even if it just detects for a single content item of that type and stops. At this point it is not so much about identify

[2020-12-31 15:33] nogginbox opened #8206 "Admin: Filter content items by owner"
Our content team create pages and review the work of the other content editors. They would like a way to see a list of content items in admin that were created by a specific user.

On the Manage Content screen there is already a filter by content type dropdown. Next to this there could be a filter by owner dropdown. This list would be populated by users who own content items and also include the o

[2020-12-31 17:02] sebastienros commented on #1014
Solution 2 (blocking a deletion if a content item exists) would be doable if we can request a content type definition for its inner types. If the deleted CT is not used by a container type, and there are no content items, we could delete it. If it's used we would block. Then the user would have to remove a content type that is used by bags for instances, but it also means that any item in these ba

[2020-12-31 19:23] Skrypt commented on #1014
Maybe versioning Content Type definitions?

[2020-12-31 21:13] mkizito76 commented on #6585
I am not sure if this issue is fixed or not. I ran into the issue multiple times when using the agency recipe (and also a custom recipe).
Steps:
1. I followed steps to [create a decoupled CMS site](https://docs.orchardcore.net/en/dev/docs/guides/decoupled-cms/) and even used the steps in [creating an orchardcore site](https://docs.orchardcore.net/en/dev/docs/guides/create-cms-application/)
2. Note

[2021-01-01 04:16] jtkech commented on #7949
@deanmarcussen

Cool !!!

Do you mean because of some recent changes on yesSql side?

Yes, anyway

[2021-01-01 04:48] jtkech commented on #8189
@TalMcMahon

Yes

Didn't have enough time to work on it yet, will do it asap

[2021-01-01 04:56] jtkech commented on #8185
@stevo-knievo @Skrypt

Just wrote the following in the existing `BagPartHandler`, but didn't try it yet, will do it when i will have time, or if someone want to do a PR.

@deanmarcussen there is a cloning handler in `AutoroutePartHandler` that may execute first as there is no inter-dependency between `OC.Flows` and `OC.Autoroute`. So here maybe too late to update the ids, so we may have to move th

[2021-01-01 10:12] deanmarcussen commented on #8189
Yes, I'll sort that out.

[2021-01-01 10:29] deanmarcussen commented on #8185
@jtkech looks good.

I have to have a little think about Autoroute. Normally it wouldn't matter, looks like I already wrote the code to handle it.
For the most part it will be ok, because the contained routes tend to be relative to the parent. There is an option for absolute routing, which I think has an issue anyway (see https://github.com/OrchardCMS/OrchardCore/pull/7907 ).

So moving it to `Clo

[2021-01-01 10:36] deanmarcussen commented on #7949
Yes all commands now batched into one sql execution (so no more round trips).

[2021-01-01 13:24] deanmarcussen commented on #8189
Fixed the validation JT

This bit doesn't look like it's happening

The SetupEventHandler to create the user would have returned errors, but there's nothing here to set the state back to uninitialized. As far as I know it never did that behaviour (would be kinda nice for when you put the wrong connection string, but maybe there are other implications?)

https://github.com/OrchardCMS/OrchardCore/bl

[2021-01-01 16:33] jtkech commented on #8189
@deanmarcussen

Cool

It works if returning after the same check `if (context.Errors.Any())` but before line 187, because it returns to `SetupAsync()` that does

https://github.com/OrchardCMS/OrchardCore/blob/afa69a541bd2b22c3e4197931d23171af7fcc674/src/OrchardCore/OrchardCore.Setup.Core/SetupService.cs#L87-L92

The problem with the last error checking is that the new `shellSettings` we created li

[2021-01-01 17:30] jtkech commented on #7949
Cool 👍

[2021-01-01 18:50] jtkech commented on #8185
@deanmarcussen Okay, i will take a deeper look at it asap

[2021-01-01 19:44] agriffard commented on #7972
Check:
- Load tests (Page calls, Response times)
- Improvements with new version of framework.
- YesSQL performance (new version, add index).
- CPU/Ram consumption, depending on number of tenants.

[2021-01-01 19:47] #7949 closed

[2021-01-01 21:31] hishamco opened #8214 "Build SQL Grammer on top of Parlot"

[2021-01-02 06:05] 4m-world commented on #7560
Hi I noticed in the new build that content resumed reflecting username under Owner, and Author properties of the ContentItem. Is that a permanent change?
Because when you run the the "users_by_id" update the contentItem user details moved to store user id.

[2021-01-02 06:09] MRSheikh opened #8216 "Admin UI: Depend on https://cdn.jsdelivr.net/"
my Admin UI site depends on https://cdn.jsdelivr.net/ for JQuery libraries but my site and clients are inside LAN and don't connect to internet.
i think there was an option to bind local resource to admin area default theme.

![image](https://user-images.githubusercontent.com/17869166/103451855-6ec83f80-4cde-11eb-86c8-fb67db19c6f8.png)

[2021-01-02 09:11] deanmarcussen commented on #8216
Duplicate https://github.com/OrchardCMS/OrchardCore/issues/7721

Just disabled the cdn option

[2021-01-02 09:11] #8216 closed

[2021-01-02 10:36] agriffard commented on #7721
The Resource settings are in the second tab in General and if jQuery is not loaded, you cannot switch to change the CDN options.

[2021-01-02 11:01] agriffard commented on #7721
See also #8154

[2021-01-02 13:21] giannik opened #8217 "Trumbowyg editor produces javascript error when used with media picker"
Using the blog recipe when I edit a blog using the trumbowig editor and inserting a media item an error occurs when selecting a media item from the modal picker dialog, as shown below.

context
![image](https://user-images.githubusercontent.com/1516981/103458121-c0d48980-4d0d-11eb-9886-e3251b47d4ff.png)

[2021-01-02 18:09] jersiovic commented on #7941
Cool thank you @jtkech

[2021-01-02 19:43] Skrypt commented on #8217
Can't repro on latest dev when I add a `HtmlBodyPart` to the `BlogPost` Content Type.

[2021-01-02 21:30] #1665 closed

[2021-01-02 21:30] #8189 closed

[2021-01-02 21:36] #6593 closed

[2021-01-03 02:24] jtkech opened #8223 "Workflow fails to persist after upgrading YesSql"
### Describe the bug
Workflow fails to persist after upgrading YesSql

**To Reproduce**
Run a Workflow

**Expected behavior**
The instance is persisted

But the WF instance fails to be persisted and then can't be resumed afterwards

Fixed by #8222 but keep it open waiting maybe for a fix on YesSql side

---

After the YesSql upgrade, running a Worflow fails on YesSql side

    ...
    System.Inval

[2021-01-03 04:53] scleaver opened #8224 "Changing language in setup causes redirect to /undefined"
On the initial setup screen change the language results in a redirect to https://localhost:5001/undefined and nothing is displayed.

[2021-01-03 10:30] hishamco commented on #8224
What? Is this happening in the latest bits? I will give it some priority

[2021-01-03 14:28] arkadiuszwojcik commented on #6173
Probably same issue as in: #4237

[2021-01-03 17:13] #8224 closed

[2021-01-03 20:14] Skrypt opened #8226 "ListPart.DetailAdmin data-url wrongly renamed to data-url-af"
Same as #8225

[2021-01-03 20:29] #8226 closed

[2021-01-04 16:15] Sen-Gupta opened #8230 "[Not Showstopper] LuceneIndexing does not honour if ContentType Versioning is disabled"
We observed that if we disable ContentType Versioning,

The ContentItemIndex table has [Null] for ContentItemVersionId, which is correct behavior.
![image](https://user-images.githubusercontent.com/8068582/103548699-338b6380-4ecc-11eb-8f75-c0c3493fe2c1.png)

The JSON in the Document Table has correct data. [Null].
![image](https://user-images.githubusercontent.com/8068582/103548584-0474f200-4ecc-1

[2021-01-05 11:26] MikeKry commented on #8121
This would be great also for textfields

[2021-01-05 11:41] hishamco commented on #8121
I agree for DateField, regarding the TimeField may be the current time will be better, @chinasqzl could you please send a PR for this?

[2021-01-05 13:03] agriffard opened #8239 "AngleSharp version"
With the latest dev packages, this error is returned:

[code]

[2021-01-05 13:11] agriffard commented on #8239
Does it need an explicit dependency in Dependencies.props?

[2021-01-05 13:16] agriffard commented on #8239
Missing dlls when published.

[2021-01-05 13:16] #8239 closed

[2021-01-05 13:53] MikeKry opened #8241 "Wysiwyg: Content item link"
When user inserts link to a content item through wysiwyg, it will become invalid when document permalink changes.

It would be great, if we could link content items directly (e.g. like in menu), through contentitemid / alias

[2021-01-05 14:58] MikeKry opened #8242 "GraphQL + OpenID Error after update to newest version"
Hi, after updating OC, there is a failure when generating token by /connect/token endpoint.

System.InvalidCastException: Failed to convert parameter value from a DateTimeOffset to a DateTime.
 ---> System.InvalidCastException: Object must implement IConvertible.
   at System.Convert.ChangeType(Object value, Type conversionType, IFormatProvider provider)
   at Microsoft.Data.SqlClient.SqlParameter

[2021-01-05 15:10] deanmarcussen commented on #8242
Yes it's already been reported on YesSql https://github.com/sebastienros/yessql/issues/325

[2021-01-05 15:52] Skrypt commented on #8242
DatetimeOffset is not supported with all DB providers.

[2021-01-05 15:54] Skrypt commented on #8241
You can do this by using a Content Picker outside of the Wysiwyg editor as a Content Picker Field.

[2021-01-05 16:10] MikeKry commented on #8241
@Skrypt

But content picker field cannot be referenced from wywisyg, as far as I know.

That was my suggestion at first, but it appears that content editors need urls inside text :)

[2021-01-05 16:58] Skrypt commented on #8241
Make a shortcode?

[2021-01-05 18:14] lampersky commented on #7003
@qadirkanore as far as I know MySql has no support for MultipleActiveResultSets (which is required to handle such complex graphql query), but as @carlwoodhouse mentioned it would be good to expose exceptions to make sure if this is the case, I've tried to reproduce your issue but have only SQL Server with MultipleActiveResultSets=True, and here everything works like a charm

[2021-01-05 18:25] carlwoodhouse commented on #7003
You shouldn’t actually need Mars enabled even in sql server but yeah we
need to see the underlying exception

On Tue, 5 Jan 2021 at 18:15, lampersky <notifications@github.com> wrote:

[2021-01-05 19:43] sfmskywalker commented on #8242
Actually, it was working fine before. I've been using DateTimeOffset for months with YesSql. It broke when updating to latest versions. It looks like it's broken with the re-implementation of the batching thing.

[2021-01-05 19:48] Skrypt commented on #8242
Yes maybe because DateTimeOffset was converted to a string before. I don't know I'd need to check in details.

[2021-01-05 19:50] Skrypt commented on #8242
Actually it makes no sense to convert a DatetimeOffset to a Datetime because it will miss the zone part.

[2021-01-05 19:53] sfmskywalker commented on #8242
Hence the exception? Somewhere the mapping to the Parameters of the Batching Command thinks that DateTimeOffset are to be mapped to DbType.DateTime rather than DbType.DateTimeOffset.

[2021-01-05 19:55] Skrypt commented on #8242
Yeah, but SQLite for example doesn't have a DatetimeOffset db type. So, it needs to be converted to a string to be consistent between DB providers.

[2021-01-05 19:59] hishamco opened #8243 "Add docs for OrchardCore VS Templates"

[2021-01-05 20:00] Skrypt commented on #8242
Maybe this should be moved to use a db colum for the offset to keep the Datetime part saved as UTC.
DatetimeOffset db type is a SQL Server only thing.

[2021-01-05 20:08] sfmskywalker commented on #8242
Converting to a string makes sense for Sqlite. Sounds easier than having to deal with an extra column.

[2021-01-06 00:04] kevinchalet commented on #8242
FWIW, we also had to move back to `DateTime` in the OpenIddict EF 6/EF Core stores to work around issues in the PostgreSQL/Oracle MySQL providers (e.g https://github.com/openiddict/openiddict-core/issues/1097 or https://github.com/openiddict/openiddict-core/issues/1115). It was not a big deal as we only needed UTC dates support anyway, but it was definitely a breaking change.

In this case, we cou

[2021-01-06 09:05] scleaver opened #8246 "Purpose of huge magnifying glass lurking behind the search field"
### Describe the bug
There is a huge invisible magnifying icon lurking behind the search field in some of the admin pages. I have used a few different devices to see if there it has a purpose but it doesn't seem to have one.

Maybe it's an easter egg with a $1M prize money to the person who finds it?

It is represented by the orange box in the screen shot... because the SVG has oveflow:hidden it i

[2021-01-06 09:18] agriffard commented on #8246
It is coming from this html:
`<i class="fa fa-search form-control-feedback"></i>`

It should look like this:

![image](https://user-images.githubusercontent.com/703248/103751132-1cea2700-5008-11eb-8029-1e4d9136d2d2.png)

[2021-01-06 10:29] MikeKry commented on #8242
I have found another issue, possibly related to yessql?

Error> The connection does not support MultipleActiveResultSets.
<details>
GraphQL.ExecutionError: Error trying to resolve contentItems.
 ---> System.InvalidOperationException: The connection does not support MultipleActiveResultSets.
   at Microsoft.Data.SqlClient.SqlInternalConnectionTds.ValidateConnectionForExecute(SqlCommand command)

[2021-01-06 11:22] overstartup opened #8248 "Deployment Plan has an error"
i want to export some content definitions to add in my published website.
I'm using 1.0.0-rc2-15743 dev neuget version.

1- i create new Deployment Plan
2- i selected "Update Content Definitions"  from  Steps
 model
 3-check 5 "Content Types"
4- after execute  i got this error"An error occurred while executing this request."

[2021-01-06 13:04] MikeKry commented on #8241
@Skrypt

Do you have any example? I cant find any example of using fields in shortcode..

Anyway, afaik shortcodes are evaluated in client app, so that is not going to help me with headless implementation.. maybe we add add optional shortcode resolver into GraphQL queries - to allow resolving shortcodes in fields, not only in render?

[2021-01-06 14:19] MikeKry commented on #8109
Apparently preview part is back in newest version, only problems 1 and 2 remains, will check it myself.

[2021-01-06 15:30] #8246 closed

[2021-01-06 15:43] Skrypt commented on #8241
Normally, you're supposed to be able to render a Content Item entire HTML from GraphQL. Though, I would need to test with a Shortcode to see if it's rendered. And, shortcodes are rendered from server side, not client side.

[2021-01-06 16:13] Skrypt commented on #8241
Ok, one issue I found is that the Shortcode Liquid template can't use the ContentLiquidTemplateEventHandler to retrieve a content item with a specific ContentItemId.

https://docs.orchardcore.net/en/dev/docs/reference/modules/Contents/#loading-from-a-content-item-id

Then the shortcode liquid template could be something like (without taking any parameters to make it simple) :

[code]

And then lat

[2021-01-06 17:23] agriffard opened #8249 "TheAgency: script url"
The folder has been renamed into scripts (previously Scripts) so the url does not work when deployed on production:
`/TheAgencyTheme/Scripts/scripts.js`

https://github.com/OrchardCMS/OrchardCore/blob/b9019ae5dacc64d657cb3ec83f7639cde53bd95c/src/OrchardCore.Themes/TheAgencyTheme/ResourceManifest.cs#L14

[2021-01-06 18:15] #8249 closed

[2021-01-06 19:41] MikeKry commented on #8241
@Skrypt

Nice, thanks for example, will try to play with it tomorrow!

About qraphql - I know, that it can render shortcode in render of complete content item (as I mentioned in my earlier comment), but the thing is that we do not use it, and I think many others will not be using render from orchard, as it is not very useful for e.g. react based frontend client.

So I think it would be nice to hav

[2021-01-06 19:46] deanmarcussen commented on #8241
HTML and markdown parts and fields should both render shortcodes. Or at least they did when I wrote it

[2021-01-06 19:51] MikeKry commented on #8241
@deanmarcussen

I may try it tomorrow with different parts/fields. I did test it today only on HtmlField, but e.g. HtmlBodyPart has different structure, so maybe it works somewhere.

Anyway, if it does not work, the correct solution according to you would be just to make it resolve shortcodes by default on text fields?

[2021-01-06 20:06] MikeKry commented on #8241
@deanmarcussen

ok, according to this file, it should really work on htmlbodypart
https://github.com/OrchardCMS/OrchardCore/blob/0089096efc3968c4451f8d7442db666f53e577c9/src/OrchardCore.Modules/OrchardCore.Html/GraphQL/HtmlBodyQueryObjectType.cs

but If I am searching correctly, there is nothing similiar for HtmlField, looks like it just returns its value:
https://github.com/OrchardCMS/OrchardCore

[2021-01-06 20:14] MikeKry commented on #8248
@overstartup  Can you add error message from log file?

[2021-01-06 20:47] Skrypt commented on #8241
This right now doesn't work for me on a MarkdownBodyPart :

[code]

And I'm trying to move the ContentLiquidTemplateEventHandler which gets called but returns no data.

[2021-01-06 20:49] Skrypt commented on #8241
![image](https://user-images.githubusercontent.com/3228637/103818512-ab759d00-5036-11eb-8617-655abf306d56.png)
![image](https://user-images.githubusercontent.com/3228637/103818534-b5979b80-5036-11eb-8ccf-5a1e1390d41c.png)
![image](https://user-images.githubusercontent.com/3228637/103818555-c0523080-5036-11eb-9165-114de3052083.png)

[2021-01-06 21:07] MikeKry commented on #8241
@Skrypt

and does it work at least with Content["alias:main-menu"] ?

[2021-01-06 21:09] Skrypt commented on #8241
No it doesn't, I'm trying to find why right now.

[2021-01-06 21:36] Skrypt commented on #8241
From a Template it works.

![image](https://user-images.githubusercontent.com/3228637/103822003-51c4a100-503d-11eb-9eb6-e8de7ad70fad.png)
![image](https://user-images.githubusercontent.com/3228637/103822031-5be69f80-503d-11eb-8878-e85606db2862.png)

Though the shortcode can't be parsed.

[2021-01-07 03:41] jtkech commented on #8242
@MikeKry

About your MARS issue, most of the time is when there are some non awaited async call, or when doing explicitly some parallel execution => e.g. parallel yesSql queries on the scoped session, which is not good.

So i suspect that `GraphQL.DataLoader.BatchDataLoader`2.LoadAsync` makes some parallel yesSql queries

Did you configure graphQL to do this (or maybe this is how we configure it)?

[2021-01-07 04:37] jtkech commented on #8242
@Skrypt @deanmarcussen @sfmskywalker @kevinchalet @MikeKry Just for infos

Working on indexes, see #8245, we already saw a similar issue related to a "missing" DbType for indexes, it was an enum type, see #8222 for the workaround waiting for a fix on yesSql side.

@sfmskywalker it was for the `WorkflowStatus` enum type

@kevinchalet i think it can be fixed on yesSql side by adding the missing Date

[2021-01-07 04:47] kevinchalet commented on #8242
@jtkech if we decide moving to `DateTime` is the right thing to do, I think we should also update the entities to use it, for consistency (it would be a bit weird to have properties of the same name with a different type:  `DateTimeOffset` in the entities and `DateTime` in the indexes). What do you think?

[2021-01-07 04:52] jtkech commented on #8242
Exactly, i thought about it but "je n'ai pas osé" ;)

I opened a PR, for now it's just a workaround

But what is better, to keep DateTimeOffset if it is added to the DbTypes on YesSql side?

[2021-01-07 04:57] kevinchalet commented on #8242
If we're fine adopting a breaking change at this point, moving to `DateTime` shouldn't be a problem and may help a bit with compat' as it has better support outside the SQL Server world.

[2021-01-07 05:01] jtkech commented on #8242
Okay, thanks

[2021-01-07 05:03] Skrypt commented on #8242
I don't agree 100% on moving everything to a DateTime.SpecifyKind(value, DateTimeKind.Utc). We have an issue with people requiring to use a DateTime with a specific offset somewhere which I'd need to find. Maybe we need a content part then for this special use case instead of using a field. This could be a Content Part that has a Datetime + numeric field for storing the offset. Then on the DB side

[2021-01-07 05:23] kevinchalet commented on #8242
FWIW, when I need to deal with user-"local" dates, I personally prefer storing the time zone identifier/name rather than the offset, which is much safer when dealing with time zone changes (e.g last month, `Europe/Volgograd` changed from +4 hours to +3).

[2021-01-07 05:36] chinasqzl commented on #8121
ok @hishamco

[2021-01-07 08:06] deanmarcussen commented on #8241
Yes looks like it was just missed on the `HtmlField`. Code should be as per the `MarkdownField`, so yes please create a pr.

@Skrypt not sure why the accessors are not working in shortcodes. Will have a look when I have a minute. (for infos in a template, you would have to parse the shortcode with a filter, it's not automatic there. so `| shortcode`)

[2021-01-07 16:35] Skrypt commented on #8241
Yeah we miss a liquid filter. I agree with that.
Though, I showed the issue last night to @jtkech and we've not been able to find why the ContentLiquidTemplateEventHandler.RenderAsync method doesn't work when rendering a shortcode. So, it renders the shortcode and it passes in the ContentLiquidTemplateEventHandler but it never reach the line where it gathers the ContentItemId of the ContentItem we

[2021-01-07 16:37] Skrypt commented on #8242
Exactly what I explained to @jtkech last night while we we're looking at his PR.

[2021-01-07 17:05] deanmarcussen commented on #8241
We already have the filter, it's called ` | shortcode`

Is probably here, where I am setting the `Content` value, overriding the liquidtemplate event handler.
https://github.com/OrchardCMS/OrchardCore/blob/8c43b50b2c99cdb2743c0a6604a2bbe0d95069f2/src/OrchardCore.Modules/OrchardCore.Shortcodes/Services/TemplateShortcodeProvider.cs#L47

[2021-01-07 18:01] Skrypt commented on #8241
I looked and it did not seem to be an issue but I can do a double check. It's just a lambda...

[2021-01-07 18:04] Skrypt commented on #8241
Ok I confirm for the shortcode filter

![image](https://user-images.githubusercontent.com/3228637/103927717-d0c2e380-50e8-11eb-8ec5-f5bfecb56b49.png)

![image](https://user-images.githubusercontent.com/3228637/103927725-d4566a80-50e8-11eb-8c48-d3e0470df369.png)

[2021-01-07 18:10] sebastienros commented on #8053
Is that the new feature from Lombiq?

[2021-01-07 18:12] sebastienros commented on #8059
If we do it please take a look at the common shortcuts in other web apps. At least WP, or apps that have got some accessibility work.

[2021-01-07 18:20] sebastienros commented on #8060
You can already create your own stores and wrap the current implementation instead of inheriting from it.

[2021-01-07 18:20] #8060 closed

[2021-01-07 18:32] sebastienros commented on #8101
Checking permissions before generating the link

[2021-01-07 18:40] sebastienros commented on #5179
Remove Tokenized and Sanitized from the fields since this can be done with full text options.
Keep stored and analyzed.

[2021-01-07 18:45] sebastienros commented on #5595
https://github.com/mj1856/TimeZoneConverter

[2021-01-07 18:45] kevinchalet commented on #8242
Yeah, NodaTime is great! And thanks to its JSON.NET integration, you could directly use things like `ZonedDateTime` in your YesSql entities (for indexes, well... it won't be as easy) 😃

[2021-01-07 18:53] sebastienros commented on #8114
Where, when, why?

[2021-01-07 18:59] sebastienros commented on #8114
After talking with @agriffard the suggestion is to use a client-side component to render the tooltip with the client's timezone instead of the settings one.

[2021-01-07 19:01] sebastienros commented on #8113
Then I would like to redirect to the same url with a different culture.

Isn't it exactly what the current culture picker and its associated controller already do?

[2021-01-07 19:05] sebastienros commented on #7973
Improvement I'd like to see: Provide a form instead of raw json

[2021-01-07 19:18] sebastienros commented on #8122
Note:
It's not recommended to do paging by counts. Load 11 and display a next if there are 11 results, display only ten.
Like on the blog post homepage, pager slim.

I have seen other duplicate content item queries in the same request, which is weird since it should be using a Get(id) which will prevent it. Doing a full YesSql.Query<> won't prevent it.

[2021-01-07 22:38] jtkech commented on #8241
@Skrypt

I found why your custom shortcode template was not working, i will open an issue / PR to fix it

Here i could get it working from a liquid view with the `shortcode` filter, and from an html body part

![Shortcode](https://user-images.githubusercontent.com/8586360/103952381-9b49e480-5140-11eb-9653-7439f89c4fe6.png)

[2021-01-07 23:18] scleaver commented on #8053
Looking at this now actually and looking for some advice.

"Media Slugify" feature is contained in the Media lib. It signifies new folder name and filenames but I believe the @ symbol should only be allowed on filenames, not folders - can't see it necessary on folders. The actual work is done by the SlugService in OrchardCore.Liquid, specifically the `Slugify(string text)` method.

So I need to ma

[2021-01-07 23:30] Skrypt commented on #8053
Well, it would not be slugifying anymore though.

[2021-01-07 23:48] sebastienros commented on #8053
I assume it's fine to add an argument for extra chars (an array of it) to not be slugified.

[2021-01-08 03:40] Skrypt commented on #8053
Okay, makes more sense than allowing just one specific char.

[2021-01-08 10:03] AmadeuAntunes opened #8260 "The item of list get displayed with Conten type Name + (uuid) instant of its value"
![image](https://user-images.githubusercontent.com/47931101/104001385-7b91db00-5197-11eb-92cf-367f5cabaaa0.png)

When I add a new category it display a **category(uuid)**

This data get generated when  clicked  **Add Category** however the "test" word is not displayed but **category(uuid)**

Note the others fields of list get displayed well but it was set from **Recipe**

![image](https://user-ima

[2021-01-08 10:48] deanmarcussen commented on #8260
You need to use the `TitlePart` which will set the `DisplayText` property of the term, rather than using a field value.

When the `DisplayText` is empty it will fallback to displaying the content type and id together.

Put a `TitlePart` on your `Category` definition.

[2021-01-08 10:48] #8260 closed

[2021-01-08 17:10] #5179 closed

[2021-01-08 17:44] sea-4 opened #8263 "Error installing Orchard core project templates from Cloudsmith"
I received an error when trying to install Orchard core project templates from the latest dev branch on Cloudsmith. I have .net 3.0, .net 3.1 and .net 5.0 sdks installed.
C:\Users\name\.templateengine\dotnetcli\v5.0.101\scratch\restore.csproj : error NU1101: Unable to find package RoslynCodeTaskFactory. No packages exist with this id in source(s): Orchard Core Preview
Failed to restore C:\Users\na

[2021-01-08 18:12] luis3199correia opened #8264 "Runtime Compilation not working"
### Describe the bug
I've created a module with Razor views to add in my orchard, and when I'm editing my views I need to restart the server to update the page.
OrchardCore version 1.0.0-rc2-15532

**Expected behavior**
After editing a view, should see the changes on the page.

[2021-01-08 18:18] agriffard commented on #8264
You need to add this environment variable in your web project properties (the project that hosts the OC instance):
ASPNETCORE_ENVIRONMENT = Development

![image](https://user-images.githubusercontent.com/703248/104049994-31841600-51e6-11eb-826f-7e8816302a90.png)

[2021-01-08 19:26] Skrypt commented on #8263
It could be because of -rc2-* target which was not uploaded entirely yet. When you want to use latest we recommend using the nuget package version pinned on the main readme of the repository to avoid this.

[2021-01-08 19:55] MichaelPetrinolis commented on #2345
Hello, i created #8266 to use Monaco in HTML and Text fields. I added monaco in the Recources project, it works with cdn and local scripts. To load monaco last and avoid conflicts with other scripts, i added a special dependency '*' that places the scripts with it last when loading (#8265). A property LoadLast would be better, but i prefered to use the existing properties.

[2021-01-08 21:10] MichaelPetrinolis commented on #2345
@hishamco thanx, is nice to have monaco in the CMS, especially in the resources, eg. we could use the diffEditor in the audit trail module to display differences and many other use cases. Don't know what to make a gif about, it is just another editor for TextField and HtmlField, with settings to define a json configuration for creating the editor.

[2021-01-08 21:30] sebastienros commented on #2345
- These are custom editors that we can pick in the field/part settings?
- For other places like json editors, it would be great to be able to leverage the json schemas. At least if defined when the resource is imported, like it's done for codemirror.
- There is  a Liquid extension in VsCode, would it be possible that it works there too?
- What about the Workflow JavaScript/Json editors?

[2021-01-08 21:30] sebastienros commented on #2345
And finally, how does it look like in mobile mode? I tried it recently and it was fine, but how about in OC.

[2021-01-08 21:55] #8263 closed

[2021-01-08 22:14] issue-media-group opened #8267 "Content item save/publish fails (HTTP 400) when the item contains a bag part and an item containing a taxonomy using the "Tag" editor is added to the bag part"
### Describe the bug
The problem appears when attempting to save a content item containing a bag part under the following conditions:
1. The bag part is configured to contain a content type which has a taxonomy field.
2. The taxonomy field for the contained content type  is configured to use the "Tag" editor.
3. A new bag item of the above type is added to the bag using the admin interface.

Under