[2016-12-22 22:28] sebastienros commented on #464
Ok, then simply ignore the middlewares in this case, and don't care about controller issues, it's a temporary state (first configuration phase).

[2016-12-22 22:29] PinpointTownes commented on #462
Okay, thanks. That was not obvious for me :smile:

I see how quick it is with the sample. In a more realistic app (with more complex modules), it might take more time.

[2016-12-22 22:51] PinpointTownes commented on #464
That's already what it does.

That too. But IMHO, it's not really ideal, specially since it's easy to fix. Meh heh, your project, your rules :running_man:

[2016-12-22 22:54] sebastienros commented on #462
Isolation per module is what Dan Roth is working on and showed to the MVPs, not what orchard does ;) maybe he confusion comes from here.

The issue is that because of how options are loaded and invalidated, there is no other choice. And I am not worried by the perf, because even with 10 times more  modules, openid configuration is not something that happens frequently. Not even sure it will be slo

[2016-12-22 22:55] PinpointTownes commented on #462
Nah nah, it's easier: I'm just an Orchard nub... :sweat_smile:

[2016-12-22 23:20] sebastienros commented on #464
If there is an easy, GTG, I just want to prevent useless complexity.

[2016-12-22 23:20] sebastienros commented on #464
Not my project ;) Our project, our rules

[2016-12-22 23:59] PinpointTownes commented on #464
PR submitted: https://github.com/OrchardCMS/Orchard2/issues/465 :sweat_smile:

[2016-12-23 00:45] jtkech opened #466 "Last little concerns on shapes and features ordering."
**Shapes ordering**

- Now, when creating a shape table, not to add overhead time by re-using the ordering strategies, we now re-order things by using a simple `IndexOf()` on the already ordered list of enabled shell features.

- It's good because it is even faster than before. But now, because the `CoreFeature` which provides `Shapes` is not in the enabled features list, when we order shapes core

[2016-12-23 00:47] PinpointTownes commented on #464
Fixed by https://github.com/OrchardCMS/Orchard2/commit/a8a6c5fe00257dccae8a74a706117459342fd720.

FYI, here's what you now get when the configuration is invalid:

Token response:

[code]

Authorization/logout response:

![image](https://cloud.githubusercontent.com/assets/6998306/21444784/bafb0a96-c8b1-11e6-83c6-840d860dc704.png)

[2016-12-23 00:47] #464 closed

[2016-12-23 01:03] sebastienros opened #468 "Admin navigation suggestions"
- use a different background and pad the inner sections
- add an independent scrollbar
- move the menu toggle on the left
- convert the top right links to a dropdown on small devices

Open question:
- how should the chevrons be rendered: still on the right? use different icons?
- should specific pages have their own navigation logic and collapse this one
  - Content, Media

[2016-12-23 01:10] sebastienros commented on #300
Should we have one file per tenant?

If we see an issue, it's easy to know on which tenant and open the log file. But if we want to track issues we might not want to have to track all tenant files.

[2016-12-23 02:52] Jetski5822 commented on #300
Yes we should.

Sent from my iPhone

[2016-12-23 09:14] agriffard commented on #458
See #300 for logging support.

[2016-12-23 09:14] #458 closed

[2016-12-23 15:47] agriffard opened #469 "Manage Themes"
The Themes admin pages has to list all the available themes, allow to Enable/Disable theme and select the Front and the Admin One.

We will use cards to display these informations:
- The title of the theme (in Theme.txt)
- The description
- The author
- The version
- The website
- The thumbnail (Look for Theme.png or use default one if not found)

[2016-12-23 15:50] agriffard opened #470 "Display search results"
Currently, search results are displayed as Details.

They should be displayed as Summary.

[2016-12-23 16:02] agriffard opened #471 "Prev/Next pager on Details page of a list item"
Is it possible to display a Prev/Next pager on the Details page of an item that has a ListPart?

I guess, we have to add the pager shape to the detail but I don't know where exactly, in which Driver?

[2016-12-23 16:07] agriffard opened #472 "Edit fields and parts definition settings on one page in Content type"
When you edit a content type, is it possible to display all the fields and parts definition settings on the same page (as in O1) and be able to change theme, instead of going to another page for each field or part?

[2016-12-23 16:42] jtkech commented on #466
So, if we need to re-use the ordering utility when ordering shapes, this because of the special case of the `CoreFeature` (see above), i think i've found a good compromize. This by applying some suggestions described above on dependencies checking which is applied on all items and we have hundred of shapes.

- Because we only need one direction dependencies, to check implicit dependencies the orde

[2016-12-24 17:44] agriffard opened #474 "Collapsible Index settings"
In Lucene\Views\ContentIndexSettings.Edit.cshtml, the first checkbox is also the control that allows to expand/collapse the other indexing options.

Make them expand/collapse from another control. Ex: An anchor with chevron icon.
Add a css style to display a chevron expanded or collapsed, if the control with `data-toggle` attribute has a `collapsed` class.

[2016-12-24 18:06] agriffard commented on #384
It needs content metadata admin and summary views.

I suggest to make one for the 'dates and draft/published states' and one for the 'modified by'.

It will need some DateTime Shapes herlpers: Utc, Relative.

[2016-12-24 18:07] agriffard commented on #384
At the same time, we can fix the admin Preview link #441

[2016-12-27 20:25] jersiovic opened #478 "Version was removed at some point from IExtensionInfo"
Was there any reason for removing Version property from IExtensionInfo?
Don't you think version is a useful info for a module.

[2016-12-27 22:53] sebastienros commented on #472
The way you add/edit fields in Drupal might be a better solution actually. It relies on a client MVVM  library, we should have something like this. I kept it simple at first for an easier development model.

[2016-12-27 22:54] sebastienros commented on #471
`@await DisplayAsync(Model.Pager)` from the `ListPart` shape.

[2016-12-27 22:57] sebastienros commented on #468
During the meetings we suggested:
- Chevrons can remain on the right side if they are up/down arrows.
- Have a toggle icon always visible to collapse the menu to icons only.
- Have each admin page decide if it needs a custom extra menu (Content, Media).
- When a second navigation is open, it automatically collapses the main navigation. The toggle button can still make it appear.

[2016-12-28 08:42] jersiovic commented on #300
As I have said here https://github.com/OrchardCMS/Orchard2/pull/299#issuecomment-268924196
In NLog sth like that can be done with this https://github.com/NLog/NLog/wiki/Event-Context-Layout-Renderer but maybe it would be more desirable to use one of those renderers, storing in httpcontext or in request the tenant name https://github.com/NLog/NLog/wiki/Layout-Renderers#nlogweb-package-
Next in NLog

[2016-12-28 08:49] jersiovic commented on #300
Well I forgot to mention we can use When-Filter https://github.com/nlog/NLog/wiki/When-Filter#extensibility to decide which log messages should go to each tenant log

[2016-12-28 09:01] jersiovic commented on #300
Related to the topic of having one nlog config file per tenant what would be nice is we could add programmatically the include for tenants log config using NLog config API https://github.com/nlog/NLog/wiki/Configuration-API instead of adding the include lines directly to the main nlog config file.

[2016-12-28 09:19] jersiovic commented on #478
I'm using module version for informing consumers of the module of the version of the module. This module is offering a Web Api so it is important it can provide this info.
By the moment I fix it hardcoding the version in the controller. But I think it would be good version would be another time available from IExtensionInfo or from any other way.

[2016-12-28 14:54] agriffard opened #480 "Html in menu item"
Am I allowed to enter text with HTML in a Link menu item?
Ex: In the Name of a link menu item, enter `<i class="fa fa-twitter"></i>`
The text is encoded so it is not well displayed.

Do we have to change the view MenuItemLink-LinkMenuItem.cshtml ?
`<a href="@Url.Content(linkMenuItemPart.Url)">@Html.Raw(linkMenuItemPart.Name)</a>`
Or do we have to create another kind of menu item that allows HTML ?

[2016-12-28 14:59] agriffard opened #481 "Link menu item: Preview"
The Preview of a link menu item is not well displayed because it is appearing in the Content section, not in the menu.

If we can't fix it, we should hide the preview button for this kind of content.

[2016-12-28 15:01] agriffard opened #482 "Menu: Cache not refreshed when published"
The cache doesn't seem to be refreshed when a menu is published.

If I add, delete or change menu items and reloads my homepage, the menu stays the same.

[2016-12-28 15:03] agriffard commented on #108
AddDataAccess moved to Orchard.Commons.

[2016-12-28 15:03] #108 closed

[2016-12-28 15:11] agriffard commented on #335
By what do we replace `NullLocalizer` and `Localizer` in the classes in which they are used?

[2016-12-28 15:14] agriffard commented on #382
See #467 Adding Feeds module.

[2016-12-28 20:10] agriffard opened #483 "Special characters and diacritics in Autoroute path generated by token"
Repro:
- Content type with Title and Autoroute parts.
- In the Autoroute settings, define a token for the generation of the path with a pattern like this: {{slug}}.
- Add a new content item with a title that contains a special characters like é and don't specify a permalink.

Result:
The generated path contains an encoded character `&#233;`

The diacritics have to be removed: é => e, ...

[2016-12-29 00:18] sebastienros commented on #480
Another kind of menu item. Html menu item. The name is only used on the menu editor, and the content of the menu item is rendered in Raw,

[2016-12-29 00:19] #470 closed

[2016-12-29 02:09] sebastienros commented on #481
Whatever we do for its shapes, I think we should add a custom setting property for Preview (like Listable, ...)

[2016-12-29 22:11] PinpointTownes opened #486 "NullReferenceException in Orchard.OpenId's Create view when the model state is invalid"
![image](https://cloud.githubusercontent.com/assets/6998306/21555815/dc6667ec-ce1b-11e6-8b83-89cf79a5a113.png)

The root cause was quite easy to find: when the model state is invalid, `AdminController.Create` redisplays the form but doesn't add `OpenIdSettings` in the `ViewData` bag, which causes the NRE in the `Create` view.

[2016-12-29 22:30] PinpointTownes commented on #416
Fixed by https://github.com/OrchardCMS/Orchard2/commit/aed6b02b9260daad95776c5a6dfd1411a6434a84.

[2016-12-29 22:30] #416 closed

[2016-12-29 22:31] PinpointTownes commented on #310
Fixed by https://github.com/OrchardCMS/Orchard2/commit/aed6b02b9260daad95776c5a6dfd1411a6434a84.

[2016-12-29 22:31] #310 closed

[2016-12-29 22:32] PinpointTownes commented on #242
Done.

[2016-12-29 22:32] #242 closed

[2016-12-30 03:14] Jetski5822 commented on #335
We don't need null localiser do we? If we rely on di...

[2016-12-30 15:37] agriffard opened #488 "Autoroute: Path generation"
The generation of the path from a token doesn't work with the latest version.
I can't identify since when.

The path is correctly created from the pattern in Orchard.Autoroute\Handlers\AutoroutePartHandler.cs line 87 in the Updated method :
`part.Path = _tokenizer.Tokenize(pattern, ctx);`
But it is not stored with this value in the database.

[2016-12-30 17:52] agriffard commented on #471
Your answer works for the ListPart to display the List and its items, but for a contained item on the Details page, we don't have the pager and no view displayed.

[2016-12-30 17:59] agriffard commented on #435
duplicate #469

[2016-12-30 17:59] #435 closed

[2016-12-30 18:16] sebastienros commented on #471
`Model.Content.Named("ListPart").Pager` should work then.

If that works then it could use some documentation. That's a nice way to reuse content shapes together with the new `Remove(shapeType)`

[2016-12-30 18:27] #482 closed

[2016-12-30 18:30] sebastienros commented on #471
Maybe I could also add an extension to the `Content` zone shape so that named properties would resolve a shape type, so we could do: `Model.Content.ListPart.Pager`

[2016-12-30 21:05] sebastienros commented on #488
Probably since I am not calling Apply on every event handler call. I will fix it.

[2016-12-30 21:15] sebastienros opened #489 "Cache purge screen"
We should have some admin screen to purge the cache. For instance one listing all the `ITagCache` entries so that it's easy to purge tagged entries on demand. With a search filter and probably a purge all tags too.

[2016-12-30 21:15] sebastienros commented on #489
/cc @DanielStolt just because you will approve ;)

[2016-12-30 22:31] #488 closed

[2016-12-30 22:48] sebastienros opened #491 "Owner property"
Related to https://github.com/OrchardCMS/Orchard2/issues/384

In O1 there is an `Owner` property on a content item. It doesn't vary by version. It is used on the admin screens to represent the author, and in the security layer to asses ownership.
I changed it to call it `ModifiedBy` in O2 so we can use the latest user who modified a content instead, and it's attached to each version.
In the end I

[2016-12-30 22:48] sebastienros commented on #491
/cc @bleroy

[2016-12-30 22:51] bleroy commented on #491
Yes, being the owner actually gives you rights. Last modifier is only informative, and useful for auditing, but doesn't give rights. Those are two distinct properties.

[2016-12-30 22:53] sebastienros commented on #491
I could only find `author` in DecentCMS, which I assume could be used as the modifier.

[2016-12-30 23:08] bleroy commented on #491
Yes, author in Decent is informative only. There's no notion of permissions yet in there, so owner has not been necessary yet, and I haven't introduced it.

[2017-01-01 22:55] DanielStolt commented on #489
I approve of course. :)

[2017-01-02 21:48] christianscheuer opened #493 "Unable to build on OSX"
I get the following output when producing the nuget package for Orchard.Feeds when building on OSX.
Is there a workaround/fix for this?

[code]
[...]
[code]

[2017-01-03 04:34] jtkech commented on #493
Would need to try it (i don't use the build command) but just after a quick look i can see

    Orchard.Cms.Web/Modules/Orchard.Identity/project.json

We don't have anymore this module on the master branch, so maybe you just need to clean your repo

    git clean -xdf

Best.

[2017-01-03 17:17] sebastienros commented on #493
I am closing as @jtkech 's suggestion should fix it. Plesae reopen if you still have the issue.

[2017-01-03 17:17] #493 closed

[2017-01-03 20:01] christianscheuer commented on #493
@jtkech thank you for your quick response. That was indeed the issue 👍

[2017-01-03 21:09] jersiovic opened #494 "Mutable recipe variable"
It would be useful we can set a value for a variable in a recipe from a command step.

In my scenario I will provide a command for creating an autogenerated certificate. This command will set thumbprint and certification store name to variables. I will use these variable to set Orchard open id settings.

It would be interesting also that I can use a parammeter value as a parammeter for calling a c

[2017-01-03 21:45] jersiovic opened #495 "[Feature Request] Setup Wizard"
It would be useful to split setup in 1+ N steps: First step will be only for select recipe, next steps to fullfill other data (site name, connection string).

Why? Because based on this feature https://github.com/OrchardCMS/Orchard2/issues/396 it would allow to a recipe to take the control of the setup process very early and customise the data required to the user.

Examples of scenarios:
An scena

[2017-01-05 02:35] sebastienros opened #498 "[Design] Layouts and Widgets"
I have given some thoughts about how to improve content placement, which include widgets and layout, as they are known in O1.

TL;DR;

Nothing much to change in Widgets, reuse Widgets as the fragments for Layouts, build a new Layout editor like CraftCms.

## Current state

Here is my current understanding of these two modules in O1.

### Widgets

Be able to place some content in specific locations

[2017-01-05 02:37] sebastienros commented on #498
Layouts -> Flow ?

[2017-01-05 08:02] sfmskywalker commented on #498
Flow, as in the name for the Layouts module?

[2017-01-05 18:58] #382 closed

[2017-01-05 19:02] sebastienros commented on #385
`Page` makes more sense that `Story` or `Article` as it represent a generic routable content. Users should be able to create more semantically adapted types if they need to. We do it in the Blogs recipe with a `Blog Post`.

TODO:
- Add Page type to the CMS recipe
- Change `Article` to `Page` in the Blogs recipe

Working on it

[2017-01-05 19:14] sebastienros opened #500 "Localized text values"
Some stored elements should be localized. In O1 the recommendation is to create a custom module to localize these strings, and use a helper when rendering them.

In O2 I would suggest a different approach:

When such string are used, for instance the `Description` of a content type or a content part, because the content is stored in the metadata we can't use `T`. We should instead store all the po

[2017-01-05 21:24] Piedone commented on #500
I think the question should rather be: how can we make `T()` (or otherwise the technique used in any other UI string) working?

`DisplayName` or `Description`, while being content type metadata, still (at least initially) come from code, like UI labels: the developer specifies it when implementing the type. Now we know that this metadata will then be saved into the DB (or at least this happens in

[2017-01-05 22:21] sebastienros commented on #500
What have you smoked 🚬 They come from code as much as content localization, like zero!

[2017-01-05 23:24] Piedone commented on #500
:-D What about migrations?

[2017-01-05 23:37] sebastienros commented on #500
Ah ah! I see what you mean. I focused mainly on UI driven definitions, and took this one as an example. Look at Queries for instance. But I get what you mean.

Now try to understand what I meant and think of a solution that would solve it from the UI too. As my suggestion is also valid for migrations, if you not also much more practical than what you suggest.

[2017-01-06 19:49] #474 closed

[2017-01-07 02:35] DanielStolt commented on #498
We have had a couple of discussions about this offline, so I would like to paraphrase how I interpret this proposal, expressed a little differently. And at the same time add my personal dreams and desires into the mix. :)

## Widget is the new block

Widgets simply become the new "universal block" for every type of reusable/embeddable content. Elements (which are part of layouts today) would no lo

[2017-01-07 17:44] sebastienros commented on #498
This is super easy to achieve, like it was done to render the Menu using the menu shape, using the content item id or an alias, also reusing caching options, and selection which display type to use. And it's for any content item, not just Widgets.

[2017-01-08 00:36] jtkech opened #503 "Suggestion for adding the IUpdateModel to the UpdateContentContext."
Not an issue just a suggestion that may be useful. As i remember here the idea.

In `ContentItemDisplayManager.UpdateEditorAsync()`, when calling the `UpdateEditorAsync()` we pass an `UpdateEditorContext` which references the `IUpdateModel`. So each handler can check if the model is still valid but at this point not all handlers have been called.

    _contentHandlers.Invoke(handler => handler.Upd

[2017-01-08 00:50] jtkech commented on #469
Just for infos with what @Jetski5822 has done where a base theme now is somewhere implemented as a regular dependency, enabling / disabling themes will be as simple as for modules.

Because i needed it in one of my tests, i already tried it through the Modules Service just by displaying all features, not only modules.

Best.

[2017-01-08 13:23] agriffard commented on #469
FYI, I started to change the themes admin screen to display all the available themes.
I will try to push a first commit soon, even if it is still in early stage.

[2017-01-08 13:28] agriffard opened #505 "Error if Body is Tokenizable with a null value"
Repro:
- Create a content type with BodyPart, Edit the definition settings and check 'Check to render the tokens present in the body'.
- Add a new content item and don't specify a value in the Body.
- Go to the preview of the content.

It throws an exception because the value of the body is null.

[2017-01-08 13:36] agriffard opened #506 "Versions History"
If a content is versionable, it would be interesting to display a list of the versions and allow to switch between each of them and see the changes made and compare between two version.

[2017-01-08 13:39] agriffard commented on #384
Are there permissions to edit the owner or the creation date?

[2017-01-08 13:40] agriffard commented on #441
See #502 for preview draft link.

[2017-01-08 14:37] agriffard commented on #432
Do we retrieve the version from Orchard.Cms.Web Assembly?

[2017-01-08 16:23] agriffard commented on #469
I created a pull request #507 but there are many things to improve:
- UI : I tried to use cards.
- Disable/Enable actions
- Theme informations : Author, Version, Web site, thumbnail.

[2017-01-08 16:35] agriffard commented on #491
Author and Owner Implemented in #496

[2017-01-08 16:35] #491 closed

[2017-01-08 17:05] agriffard commented on #457
Reminder : Indexing still need to be fixed.

[2017-01-08 19:59] DanielStolt commented on #300
I agree that logging should not be an extension; it needs to be very core.

Also agree with @jersiovic that logging framework should probably not be substitutable. Instead we should use a logging framework that *itself* supports plugging different providers. In any case, Startup.cs change is totally fine if you need to change it out.

I'm torn when it comes to logging per tenant, but I think the w

[2017-01-08 22:43] DanielStolt commented on #451
Been thinking a lot about this lately.

I realize I am probably biased by how I personally use Orchard, but I would actually prefer if we went all the way and fully embraced the notion of O2 being a **development-time extensible** CMS rather than a runtime extensible one.

Personally I think it makes sense as a general philosophy for Orchard. It is more of a development framework than an out-of-bo

[2017-01-09 01:26] jtkech commented on #451
I remember a recent discussion with @sebastienros where i said "wow, all this stuff just because we don't want to modify the `Orchard.Cms.Web/project.json` file". Need more thinking, will let you know my findings.

But as you said it depends on the philosophy of Orchard.

I've no closed opinions and it doesn't depend on me, but maybe we really want e.g to be able to add a [precompiled] extension w

[2017-01-09 09:28] agriffard commented on #478
We also have to retrieve Author, Version, Web site, ... from manifest files.

[2017-01-09 10:12] sfmskywalker commented on #451
My initial thoughts when I reading some of this thread were against removing dynamic compilation and extension loading, because they seemed too powerful notions. And what about the Modules & Themes gallery?

But I then realized that one or more NuGet feeds would be the new gallery. Although one would not be able to quickly try out a theme at run-time, that goes the same for any NuGet package - you

[2017-01-09 17:58] sebastienros commented on #503
Ok, doesn't hurt to add it.

[2017-01-09 20:12] sebastienros commented on #300
After I wrote the my latest comment I also realized it would be very hard to maintain the logs if they were spread across tenant folders. Having a single one is better IMO.

Also agreed it's a host decision, and anyone could create their own host to change the logger. As long as we don't add any dependency in the modules. It's our decision in the OrchardCms project to select which logger we use by

[2017-01-09 20:23] sebastienros commented on #471
I think I misunderstood your question. You want a way to navigate from one item to the next one, like documentation pages. This should be a custom part, or a setting on the List. It might also be affected by the order of the list (which is something we still need to do).

[2017-01-09 20:42] sebastienros commented on #457
Fixed in https://github.com/OrchardCMS/Orchard2/commit/90df48f851f44766f868ea9e05ed29598953a2c7

[2017-01-09 20:42] #457 closed

[2017-01-09 20:45] #385 closed

[2017-01-09 20:45] #384 closed

[2017-01-09 21:24] #505 closed

[2017-01-09 21:42] sebastienros opened #509 "Create an Handlebars shape provider"
Exactly the same as Razor, but based on handlebars so that designers could create templates without knowing razor/c#.

Also because it the language for Tokens, and a language for dynamic Templates.

[2017-01-09 21:43] sebastienros opened #510 "Dynamic templates should use Handlebars"
Because it's the language for tokens, and it provides a sandboxed language.

[2017-01-10 02:29] jtkech commented on #451
Just for more infos.

Just realized that, without any change, if you reference in the app project.json a module or a core project (which was only referenced by modules), it is detected as ambient and we use `LoadAmbientExtension()` (for a module) which simply return the already loaded ambient assembly. So this scenario already works.

About NuGet-referenced modules, i would need to learn more (wil

[2017-01-10 09:11] zhhbo opened #512 "creare usercenterfilter"
creare usercenterfilter
usercenterselecter..
support usercenter theme

[2017-01-10 13:27] Jetski5822 commented on #512
Sorry I dont understand, could you give more context?

[2017-01-10 13:29] Jetski5822 commented on #506
I was thinking about this.... you could go back in history and then start from there again, but instead of replacing the other versions, you just branch off again. Similar to git version history.

[2017-01-10 13:29] Jetski5822 commented on #506
^^^ This way a user could compare two outcomes

[2017-01-10 13:31] Jetski5822 commented on #495
This has been talked about before on O1.... any idea where that is?

[2017-01-10 13:48] zhhbo commented on #512
i mean that we can create a filter like AdminFilter to provider a theme or menu for user pool

[2017-01-10 13:59] zhhbo commented on #512
I mean to create a user center to provide users with a user interface and the template is different from the admin ui, but similar to the admin ui, but also a UserCenterFilter, UserCenterMenuFilter, UserCenterThemeSelector

[2017-01-11 05:10] jtkech opened #513 "Precompiled views tool and shape tag helpers."
As a reminder for the issue with the precompiled views tool and our shape tag helpers. Normally shape tag helpers are created at runtime when we run our app, but not when we do things through the tool.

I think i found a fix, i will do a PR when ready. When running from the tool, i also needed to initialize Orchard, create a shell context, service scope, and a fake HttpContext with the required re

[2017-01-11 12:42] DanielStolt commented on #451
@jtkech Very interesting. I didn't know NuGet was being simplified so much for the .NET Core world. But I do think it's a good thing - ultimately I agree with the folks who are saying that NuGet shouldn't try to do scaffolding because those kinds of changes are by nature not reversible/updatable.

However, for referencing themes and modules I don't see why we need any type of scaffolding. As far a

[2017-01-11 12:49] DanielStolt commented on #451
Also - the information in [NuGet pack and restore as MSBuild targets](https://github.com/NuGet/NuGetDocs/blob/master/NuGet.Docs/ndocs/Schema/msbuild-targets.md#including-content-in-package) which was updated more recently seems clear on the support for including content files.

[2017-01-11 13:47] jtkech commented on #451
@DanielStolt

You're right the best is to try it, i will do it but right now i need to learn a little to create custom packages.

Yes, they reference this blog post but as i understood somebody was saying that it applies to the 1st world.

What i have understood is that in the 2nd world immutable files are referenced but stay in the package storage. So, the need of scaffolding packages which suppo

[2017-01-11 14:45] DanielStolt commented on #451
It's my understanding that, by the time O2 is released, everything .NET Core will have moved to `.csproj` and MSBuild. And I don't think it's specific to VS 2017, should work fine from CLI and also cross platform.

[2017-01-11 15:58] sebastienros commented on #451
We should forget about `project.json` completely, as soon as right now. Most asp.net projects have already been migrated to `.csproj` files. I am personally just waiting for a better build of VS.NET 2017, but at the same time it might be too late as module loading might just not work with a simple migration.
@jtkech that should be your next effort if I may ask.

[2017-01-11 16:37] Jetski5822 commented on #451
I'm waiting to find a decent internet connection for VS2017 :)

Sent from my iPhone

[2017-01-11 21:42] jtkech commented on #451
@DanielStolt i heard about `.csproj` files but i was thinking it works only through VS 2017 by using specific scripts, but by reading the following in your above link, i think you're right, thanks ;)

@sebastienros ok for `.csproj` files, but if, as discussed here, we will not need dyn compilation and also dyn loading, my next effort would be easy ;) Otherwise no problem to work on it.

[2017-01-11 23:37] jersiovic commented on #300
PR ready again.
Io maintain things simple and generic I see sensible if Orchard only provides the tenant name to the logger. A module that offers an UI through admin should be offered through a third party module outside of Orchard Core because if it was in Core it would condition everybody on how organize their logs to be read by this module.

[2017-01-12 00:05] jersiovic commented on #495
What do you think if to make things easier to develop in a parameters definition step we also have to indicate a viewname to be rendered.
So, the developer will provide views that post data to a recipecontroller for those views.
Those views will have to follow some requisites to fit with GET and POST operations of recipecontroller.

This approach doesn't force us to generate a view on the fly base

[2017-01-12 01:09] #381 closed

[2017-01-12 09:12] zhhbo opened #517 "How to do make it work on vs 2017rc"
When i do it, I found the Orchard.Cms.Web.xproj Con't load
the error :
E:\Orchard2\Orchard2-master\src\Orchard.Cms.Web>dotnet run
E:\Orchard2\Orchard2-master\src\Orchard.Cms.Web\Orchard.Cms.Web.xproj(7,3): error MSB4019: The imported project "C:\Program Files\dotnet\sdk\1.0.0-preview4-004233\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Props" was not found. Confirm that the path in the <Im

[2017-01-13 22:26] jersiovic opened #518 "Bootstrap radio/checkbox fix doesn't fix all the scenarios"
I thought this commit "Patching Boostrap collapse behavior on radio/checkbox (#499)" will solve problems with OpenIdSetting in Oauth2 branch. However it doesn't solves the Bootstrap bug I faced.
The problem I face happens when you want to collapse sth when a check is checked.
I have reviewed how is used this patch in ContentIndexSettings.Edit.cshtml, but the point is there when a check is checked

[2017-01-14 07:10] #367 closed

[2017-01-14 14:03] agriffard opened #520 "Theme commands"
Create commands for themes :
- `theme list` to list the available themes.
- `theme activate <theme-name>` to enable and set the site theme.

Do we create a separate one to set the admin theme?

[2017-01-14 17:17] sebastienros commented on #518
Can you point me to the property that will behave like this? I have thought about this and it sound weird to show more checkboxes when you unselect one. I want to understand what you are trying to do.

[2017-01-14 18:28] jersiovic commented on #518
Yes, it is needed in the open id settings https://github.com/OrchardCMS/Orchard2/blob/oauth2/src/Orchard.Cms.Web/Modules/Orchard.OpenId/Views/OpenIdSettings.Edit.cshtml for the checkbox TestingModeEnabled. When it is checked we hide certificate select lists cause they are not needed.

[2017-01-15 11:58] agriffard opened #523 "Menu items reordering are not saved with flows branch"
On the flows branch, if I reorder some sub menus and I publish, they are not saved and the previous version is re-displayed.

[2017-01-15 13:48] #441 closed

[2017-01-15 14:22] agriffard opened #524 "Edit Owner : User picker"
To edit the owner of a content, we should display a control that allows to select a user.

If the content definition setting 'allow to edit the owner' is enabled, the owner name would be displayed as a label and a change link would open a popup to select a user in a filterable list.

[2017-01-15 14:29] agriffard opened #525 "Date/time picker : Edit Creation Date"
Please give your suggestions about what kind of client-side component we should choose to select a date/time.

There is a lot of pre-requisite work to do before because it will need to use the current culture and timezone (and later, the calendar settings as in O1).

It will be used for the date time field and for the editor of the 'creation date'.

[2017-01-15 14:30] agriffard commented on #525
See #434 to manage the cultures.

[2017-01-15 15:10] agriffard commented on #352
I tried CraftCms and they have many interesting fields.

There is also an important difference concerning the way you add and edit a field:
In Orchard, the type of field is chosen depending on what kind of value we want to handle.
In CraftCms, the type of field is chosen depending on what kind of control will be displayed to the user.

Orchard is more 'developer or advanced user' centric and Craft

[2017-01-16 04:50] jtkech opened #527 "Question about Content type part ordering"
When you add a part(s), maybe better to always add it (them) at the very top, before the other parts which are already persisted, even before a part which currently has a position of 0 or not already defined.

 Can be easily fixed e.g by using a negative position.

**UPDATE**: Same remark when adding a field to a part.

[2017-01-16 11:23] jersiovic commented on #486
Fixed at https://github.com/OrchardCMS/Orchard2/commit/8033a01ec51c434a317a2b2f20bbf98de4da0063

[2017-01-16 11:23] #486 closed

[2017-01-16 11:39] agriffard commented on #527
I would like to be able to 'Edit placement' in a separate page in which I can drag and drop fields and parts together, not just fields in the owned part and then parts.

[2017-01-16 16:15] Jetski5822 opened #528 "Orchard 2 vs Orchard Core"
The name Orchard 2 is not growing on me, and Orchard Core 1.0 sounds much nicer.... what do you prefer?

@agriffard said his favourite is "Hard Core CMS".... but im not so sure on that one :)

[2017-01-16 17:07] DanielStolt commented on #528
I don't like Orchard 2 either.

Orchard Core is much better, because it clearly indicates its relationship with ASP.NET Core. But it also has a couple of problems:

- trying to ride the ".NET Core" wave, but what happens when MS marketing geniuses once again decide to rebrand, will the reference to the ".NET Core" wave of products feel as fresh in a few years?
- overloaded, we often talk about for

[2017-01-16 17:19] jtkech commented on #527
Just realized i was wrong, maybe too tired. Indeed we need to display and be able to order the owner part, this to place the owned part and its embeded fields relative to other parts.

Will re-try it this night and reformulate my first comment.

Then, good idea to be able to order fields and parts together, but maybe not so simple to do.

[2017-01-16 21:18] jersiovic commented on #528
Orchard Mecano CMS ?

[2017-01-16 21:49] jtkech commented on #527
Currently, to do this you would need to create a named part for each individual field.

[2017-01-16 21:55] jersiovic commented on #528
Orchard Construct CMS
Orchard Construct Framework

[2017-01-16 23:23] agriffard commented on #528
Graft Cms

[2017-01-16 23:24] agriffard commented on #528
https://en.wikisource.org/wiki/1911_Encyclop%C3%A6dia_Britannica/Orchard
ORCHARD (O. Eng. ort-geard, later orceard; a combination apparently of Lat. hortus, garden, and “yard” or “garth”), a piece of ground enclosed for the purposes of horticulture.

[2017-01-16 23:26] Jetski5822 commented on #517
We need to migrate the project files to csproj, we havent done that yet as a few of us are waiting for a more stable VS2017 build

[2017-01-17 16:31] sebastienros commented on #528
Not sure we should try to add one more probably bad noun to the title (genesis, meccano, blah). Also think we should keep the Orchard lineage.
Core will probably never be dropper until there is a new framework, let;s say 10 years. It's in all the namespaces.
Agreed with the fact it should not have the number in it. This is Orchard, just a new major version.

Orchard Core - free, open source, modul

[2017-01-17 17:08] sebastienros commented on #525
@DanielStolt and I have recently talked about datetime localization offline. First thing is to reference the issue that was opened in O1 related to the types of fields we actually need (Date, Time and DateTime AFAIR). It explained why. We might not have to care about Cultures for now if you want to make some progress on the fields. Timezone is already supported so you can use it at least.

[2017-01-18 14:09] jersiovic opened #534 "Oauth: Refresh token is revoked despite apparently never was issued a new one"
I'm experiencing problems with refresh token flow.
First, I get an access token and refresh token using password grant flow.
Next, the app uses the access token successfully for getting data from a Web API.
When access token is outdated another access token and refresh token is obtained successfully using Refresh token flow.
After a while of repeating last two steps I get an exception when a refre

[2017-01-18 14:37] PinpointTownes commented on #534
By default, OpenIddict treats refresh tokens as one-time tokens: when you make a `grant_type=refresh_token` request with a refresh token, it's immediately removed from the DB, so you can't use it twice.

In your case, I presume there's a "race condition" at some point that makes your client app' try to use the same refresh token twice instead.

That said, you shouldn't get an exception. I suspect

[2017-01-18 15:29] jersiovic commented on #534
@PinpointTownes  Well, in the client app I was logging every request to Web API and access url to be sure that what you point was not the problem.

Looking at that log t doesn't look a problem with race conditions:

- 2017-01-17 12:56:06 Successful Password Grant request
- 2017-01-18 09:45:57 Successful Refresh Token request
- 2017-01-18 10:29:47 Successful Refresh Token request
- 2017-01-18 12:46

[2017-01-18 15:46] jersiovic commented on #534
@PinpointTownes I think in the line accessing data there is a bug. Forget by the moment I will check that with this change it works properly:
[code]

[2017-01-18 16:08] PinpointTownes commented on #534
The 4th request fails because you tried to reuse the same refresh token, that was revoked when processing the 3rd request.

Introducing new debug traces is planned for the next version. In the meantime, you can create your own middleware to intercept the whole HTTP response (by replacing `context.Response.Body` with a `MemoryStream`). You can also do that directly in the client.

[2017-01-18 16:13] jersiovic commented on #534
👍 great
Thank you

[2017-01-18 17:15] jersiovic commented on #534
Bug fixed in commit https://github.com/OrchardCMS/Orchard2/commit/5675b47abce9110b290dfa06eb17bb8247c901c8

[2017-01-18 17:15] #534 closed

[2017-01-18 19:13] jersiovic opened #535 "Add RefreshTokenLifetime setting to OpenIdSettings"
By default refreshtoken lifetime used by OpenIddict library is 6 hours.
We need to add RefreshTokenLifetime setting to OpenIdSettings to allow users to set this value

[2017-01-18 23:03] Piedone commented on #528
Why not just keep Orchard and specify the version as 2.0? As it happened with all the other releases?

[2017-01-18 23:06] sebastienros commented on #528
@Piedone We had a meeting yesterday, it seems everyone agreed with this change. Watch it.

[2017-01-18 23:35] jersiovic opened #536 "Jint throws an exception interpreting Date().toLocaleDateString()"
Using this var in a recipe:
`"today": "[js:Date().toLocaleDateString()]"`

I get following exception:
![image](https://cloud.githubusercontent.com/assets/4950766/22087462/53fbd374-ddde-11e6-8f2e-662916520391.png)

However, looking at the tests of Jint apparently it should be supported: https://github.com/sebastienros/jint/blob/master/Jint.Tests/Runtime/EngineTests.cs#L1712

[2017-01-19 00:20] sebastienros commented on #536
Try to learn javascript first ;)

[2017-01-19 00:20] #536 closed

[2017-01-19 00:21] sebastienros commented on #536
http://www.ecma-international.org/ecma-262/5.1/#sec-15.9.2

[code]

[2017-01-19 00:23] sebastienros commented on #536
Note for later, whenever you think Jint doesn't support something, you are probably wrong. 😄

[2017-01-19 09:24] jersiovic commented on #536
To learn javscript ???
Are you crazy? Javascript is for losers 😄

[2017-01-19 12:48] agriffard commented on #524
Right now, you can change the user name by passing a user that doesn't exist.

[2017-01-19 12:49] agriffard commented on #524
It seems that only the site admin can see the Owner editor.

Is it on purpose?

[2017-01-19 12:50] agriffard opened #539 "User with Author role can't access the admin"
If I create a user with only Author role, I can't log to the admin, I am redirected to the login page.

[2017-01-19 12:55] agriffard opened #540 "Edit User : The Password field is required"
If I edit a user (ex: I want to change a role), an error message 'The Password field is required' appears.

And if I type a password, it will show an error message 'The user already exists'.

Do we have to separate create and edit user? or hide password when editing a user?

[2017-01-20 00:22] jtkech commented on #498
Just one idea on the fly because i don't remember the details and maybe too late.

Ok about the `Preview` and unification. So, maybe we could always use the main concept of content items in which, with the flow editor, we define zones in which we add items ... The idea being to also use the flow editor for theme zones.

- So, Maybe a theme could be tied to a content item where, with the flow edito

[2017-01-20 00:26] sebastienros commented on #498
If you mean being able to add a widget to a zone, from a content item editor, we have that in mind too. Sipke made a module for that in O1.

[2017-01-20 00:39] jtkech commented on #498
Yes i know so we can do things as normally done with theme zones in the widgets page. But when we want to do the exact same things for multiples items, there is the need of having layout templates.

But layout templates are not simple to implement because e.g when you update a template you need to update all its related items. So the idea to apply the flow editor directly to the theme zones, a the

[2017-01-20 00:41] sebastienros commented on #498
skype me, I don't understand

[2017-01-20 02:43] jtkech commented on #498
But Sebastien explained to me that also using the flows editor for the placement of theme zones themselves would be too limited comparing to e.g what we can do with razor files.

[2017-01-20 22:59] #503 closed

[2017-01-21 01:26] #466 closed

[2017-01-21 15:42] agriffard commented on #380
Orchard 2 should now be named Orchard Core to differentiate with O1: see #528

But we could still use the existing documentation if we organize it well.

All the files related to O1 would stay below http://docs.orchardproject.net/en/latest/Documentation and we could create a folder /Core and add every new articles related to Orchard Core and they would be accessible in  http://docs.orchardproject.

[2017-01-21 21:55] agriffard opened #542 "Menu active item"
Todo: Improve the menu view to add an 'active' css class on the menu item corresponding to the current displayed page (url == autoroute permalink).

[2017-01-21 21:58] agriffard commented on #471
Another question: Is it possible to have the choice to display the title of the previous and next page in the links?

What do I have to change in the pager.cshtml view?

[2017-01-22 14:50] infofromca opened #543 "Orchard.OpenId name conflict"
I think Orchard.OpenId in orchard 2 (which is server) is diff from Orchard.OpenId in orchard1(which is client), so it will create potencial conflict in future

[2017-01-22 14:56] infofromca opened #544 "can not set up site from master branch"
start project is Orchard.Cms.Web, it said:
need App_Data\Sites\Default\settings.txt

[2017-01-22 18:21] agriffard opened #545 "Update Bootstrap 4 to alpha 6"
I am working on a pull request to update Bootstrap 4 to alpha 6.

There are many impacts in the views. See: http://v4-alpha.getbootstrap.com/migration/

[2017-01-22 19:43] agriffard opened #547 "Add css class to li in pager"
Changes in bootstrap 4 alpha 6, `.pager` css class is removed.

 http://v4-alpha.getbootstrap.com/components/pagination/

[code]

How can I specify `page-item` class on the `<li>` for the Pager and PagerSlim shapes?

[2017-01-22 19:51] agriffard opened #548 "UserCacheContextProvider: IsAuthenticated"
In UserCacheContextProvider:.cs, the test should be inverted: => `!httpContext.User.Identity.IsAuthenticated`
Currently, it is :
[code]

[2017-01-22 21:14] jersiovic commented on #543
I think that when a client module is going to be created in Orchard 2 we can name it Orchard.OpenId.Client and even we can rename existing one to Orchard.OpenId.Server. Other option is to left it as it is and merge client features in current Orchard.OpenId as an extra feature. The point is Orchard 1 and Orchard 2 are separate solutions with different modules I don't see why name in Orchard 1 shoul

[2017-01-23 02:22] infofromca commented on #543
I think this option is good
I think that when a client module is going to be created in Orchard 2 we can name it Orchard.OpenId.Client and even we can rename existing one to Orchard.OpenId.Server
====
but merge is not good idea because the user maybe only need logon by google.
or the user only create token as third party server

[2017-01-23 09:14] Jetski5822 opened #550 "Update Gulp dependencies"
Ive notices quite a few are outta date, we should bring them all up to date.

[2017-01-23 10:29] DanielStolt commented on #550
I've done a complete refresh of the Gulp pipeline and all its dependencies in `dev` a few days back - I'm guessing you should be able to bring that over to OC pretty much copy-paste.

[2017-01-23 19:58] PinpointTownes commented on #535
Ooops, sorry, the wiki page where you probably found this information was obsolete. The default refresh token lifetime was re-evaluated and was changed to 14 days: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/146

[2017-01-23 20:00] PinpointTownes commented on #276
FYI, the `alpha1`/`alpha2`/`beta1` packages will be removed in the near future: https://github.com/openiddict/openiddict-core/issues/341.

[2017-01-24 21:42] matiasmolleja commented on #544
I had the  same issue. Deleting default folder and creating a new empty db worked for me.

[2017-01-24 22:41] sebastienros commented on #544
in doubt, do a `git clean -xdf` to fully clean your repository.

[2017-01-24 22:41] #544 closed

[2017-01-24 22:47] agriffard opened #551 "Update Field Editor to Standard doesn't work"
If I want to change the definition setting 'Editor' of a Text field and set Standard, it is not saved when I come back.

[2017-01-25 08:27] jersiovic commented on #276
Ok I will take it into account for upgrading it sooner than latter

[2017-01-25 21:32] agriffard opened #555 "Duplicated url with AutoroutePart"
Repro:
- Create a content type with AutoroutePart.
- Add two content items with the same url.

The second url should have a suffix or the editor should prevent this duplication.

[2017-01-25 21:58] jersiovic commented on #555
In Orchard 1 if programmatically you store a content item (new or modified) with same url as other one that exists it arise problems cause both have same alias. So, then you need to add code to prevent it.
It would be interesting in Orchard 2 this is checked by the framework every time you store a content item with autoroute part no matter the scenario (editing it through admin UI, through recipe

[2017-01-25 22:53] agriffard opened #556 "Content Preview"
When I open a content Preview and I move the vertical split bar, sometimes I unclick and the mouse stay as if it was stuck (the split bar is still following the mouse)

[2017-01-25 22:59] agriffard commented on #556
If I have a edit page long enough to have a vertical scrollbar (ex: add multiple widgets and expand them), sometimes when I type in an input, the page goes to the top.

[2017-01-26 20:54] #545 closed

[2017-01-27 09:55] jersiovic opened #558 "Reboot tenant button in AdminUI"
After a investigate dependencies of OpenIdSettings on Microsoft.AspNetCore.Builder.JwtBearerOptions and AspNet.Security.OAuth.Validation.OAuthValidationOptions @sebastienros saw there is no other alternative to restart the tenant if we want changes on those settings take effect.

How a user not always can restart the server we need to provide a button for restarting it. That button will be only av

[2017-01-27 09:58] jersiovic commented on #558
I would add a method to ShellDescriptorManager that allows to restart a tenant without the need of enable or disable a module. Like this https://github.com/OrchardCMS/Orchard2/pull/553/commits/849d3bafa6501b2144d4cade54f15cdd28ce9a8f

The question is where do you think should be added the code (view, controller, ...) for that button? In the Orchard.Environment.Shell project or in an extra module?

[2017-01-27 16:39] sebastienros commented on #558
I don't think there is any method to add anywhere. Use `IOrchardHost.ReloadShellContext()` and pass the `ShellSettings` that is resolved from DI.
Next request will reload the tenant.

[2017-01-27 21:56] jtkech commented on #510
@sebastienros

Some progress on this one, see below what i begin to be able to do with helpers.

If i cache compilations in a static dictionary, handlebars files changes are not taken into account. We would need a files watcher or e.g also cache the file date and then check if it has been updated.

If i cache compilations at the scope / request level it's ok, then compilation is done only once but

[2017-01-27 22:51] sebastienros commented on #510
Apparently there is another syntax you might want to test:

{{{DisplayAsync shape=Items}}}

[2017-01-27 23:16] jtkech commented on #510
Yes, i'm trying all possibilities. Named parameters was not working as expected but it was just because i was using spaces before and after the equal operator, now it's ok ...

But first, one question, do we need to implement handlebars files changes without restarting the app?

[2017-01-27 23:34] sebastienros commented on #510
bonus, like for razor shapes

[2017-01-27 23:35] sebastienros commented on #510
Don't do that for now, because we might need to make it optional for performance reasons. Tracking files is expensive.

[2017-01-27 23:50] jtkech commented on #510
Ok. The other solution i'm using for testing is to only cache compilations at the request level. But at the end i will cache them in a static dictionary to prevent compilation on each request.

[2017-01-28 03:02] marquish opened #559 "Migration Report: Error"
Failed to migrate XProj project Orchard.Cms.Web. 'dotnet migrate --skip-backup -s -p
on master.

Log (zip) file here.

[UpgradeLog.zip](https://github.com/OrchardCMS/Orchard2/files/736665/UpgradeLog.zip)

[2017-01-28 03:09] sebastienros commented on #559
Do you mean to do this: https://github.com/OrchardCMS/Orchard2/pull/552

[2017-01-28 03:28] marquish commented on #559
I Just opened the solution
and found The following error in VS 17
[vs17_errors_opening_orchard2_sln.txt](https://github.com/OrchardCMS/Orchard2/files/736678/vs17_errors_opening_orchard2_sln.txt)

[2017-01-28 04:02] marquish commented on #559
Used NuGet Package manager to fix issue with Reflection.
Manual intervention, solved the issue on downgrading.

[2017-01-28 23:31] agriffard commented on #542
We need to set the Selected property of the MenuItem shape to be able to do as in the NavigationItem :
[code]
but I don't really understand where to do this.

[2017-02-01 19:33] sebastienros commented on #559
Can you create a PR targeting the __csproj__ branch?

[2017-02-01 19:59] sebastienros opened #561 "[Design] Media Services"
Before I even start thinking about the design of this feature, I want people to comment on the existing implementation (Orchard1) or suggest changes.

The issue includes these topics
- The file storage abstractions to store Media items
- The way we manage media items (content items, admin UI, edition)
- Media transformation (profiles in Orchard1)

Some open questions to start the discussion:
- Wha

[2017-02-02 00:52] Piedone commented on #561
I've never used Profiles or have seen them be used, but that doesn't mean it's useless...

I'd made the Media import workflow easier: currently it's create folder if not already > Import > do stuff > OK. If it would be just a drop zone and upload button in the folder view that would be much simpler. This also relates to extensible Media import, what I have never used or seen being used either (but

[2017-02-02 01:05] sebastienros commented on #561
The "per user media" is the special folder of Media items that are only editable by the current user.

[2017-02-02 04:51] sebastienros commented on #561
Drupal is very flexible, but man I was lost after half the article. Not even sure how beneficial this is compared to what we have in O1 https://www.webwash.net/manage-media-assets-drupal-8/

[2017-02-02 12:11] DanielStolt commented on #561
I never use profiles either, and haven't seen them used. But as @Piedone says, doesn't mean they're not useful, maybe people are just not aware, maybe they are not discoverable enough?

Storage abstractions are super important. Custom import providers I think should definitely be there - for example, the Azure Media Services solution would not be possible without them.

Well, "even" better... :) T

[2017-02-02 21:03] stevetayloruk commented on #547
Cant seem to create a Pager.cshtml alternate too. It seems that if a PagerId is not supplied, then it doesn't create any alternates.

[2017-02-02 21:40] agriffard commented on #547
At least, I can do this in my `ListPart-Blog.cshtml` view :

[code]

[2017-02-04 17:19] agriffard opened #565 "Edit tenant: prefix validation"
If you edit a tenant with an url prefix, there is an error message :
`The url prefix is already used by another tenant`

This is the same test than during create, but during edit, the test should exclude the prefix of the current edited tenant.

[2017-02-06 22:40] sebastienros commented on #547
I will add these classes by default then, but otherwise because a Pager morphes to a List shape you can do
`Model.Pager.ItemClasses.Add("page-item")`

[2017-02-06 22:51] agriffard opened #566 "Setup: Fix password indicator progress"
With Bootstrap alpha 6, the progress changed:
http://v4-alpha.getbootstrap.com/components/progress/

It should look like this:
[code]

[2017-02-06 23:06] #498 closed

[2017-02-07 00:46] sebastienros commented on #566
Fixed while you were creating the issue

[2017-02-07 00:46] #566 closed

[2017-02-07 02:21] sebastienros commented on #547
Fixed with this commit https://github.com/OrchardCMS/Orchard2/commit/5730a221c442524c80a024f235a83a96d4319882

[2017-02-07 02:22] sebastienros commented on #547
I am keeping the current classes (pager) as the css will automatically extend the one for boostrap, it hasn't changed apparently.

I added the documentation to answer your questions, if it's not clear then let me know.

[2017-02-07 12:24] agriffard opened #567 "jQuery UI and sortable"
It seems jQuery UI is only required to use sortable script.

May be it would be worth investigating on an alternative?
Ex: https://johnny.github.io/jquery-sortable/

[2017-02-07 17:37] sebastienros commented on #567
We are already using a plugin to do that for Menus, https://github.com/ilikenwf/nestedSortable, not sure which one is better. The one we are already using does the job. Open to pros and cons, jquery-sortable might support more features, but it's also older, and doesn't seem to support touch (there is a PR for that).

Other than that, don't try to fix what's not broken. We can always remove this de

[2017-02-07 17:49] Jetski5822 commented on #567
Be good if we can use just one, might be an easy win tag thing?

Sent from my iPhone

[2017-02-07 18:29] sebastienros commented on #567
Just to be clear, we do nothing right now. There is no easy win here ;) The easy win is to change nothing as it already works.

[2017-02-07 18:57] stevetayloruk commented on #547
Thanks @sebastienros for looking at this, but I still can't seem to customise the PagerSlim that gets used by the ListPart.

When I add an alternate such as `Pager.Previous.cshtml` I get the following error:

```ArgumentException: An item with the same key has already been added. Key: pager_previous```

When adding a PagerId such as `Pager-MainBlog.Previous.cshtml` it doesn't pick it up.

Ultimate

[2017-02-07 19:01] sebastienros commented on #547
Have you tried `PagerSlim-MainBlog.Previous` ?

[2017-02-07 19:21] stevetayloruk commented on #547
Yes, I did try that but still no good.

thanks

[2017-02-09 01:15] sebastienros commented on #517
https://github.com/OrchardCMS/Orchard2/pull/552

[2017-02-09 01:18] sebastienros commented on #451
There are too many comments here, too lazy to read everything, can someone write a summary if there is agreement on dropping dynamic compilation and dynamic loading but only support Package references?

[2017-02-09 12:35] DanielStolt commented on #451
@sebastienros Here is a summary:

- All participants in the discussion seem to agree on the direction
- The reservations expressed are only about whether it would work as we think or not
- Only @jtkech, @Jetski5822, @sfmskywalker, @Skrypt, you and me have participated, maybe we want agreement from more people?
- We are not 100% sure the proposed use of package references would work for every possi

[2017-02-09 14:09] Jetski5822 opened #570 "GlobalMethodProviders on IScriptingManager should be move to IOptions"
i.e.

[code]

[2017-02-09 21:08] Skrypt commented on #451
1 - Orchard Core assemblies could be Nuget packages themselves.
2 - The reservations expressed on my side concerns mostly making this work with CI. In the scenario that a module would reference another module directly this would never work. With Nuget/Myget packages we know that modules are already compiling and that all dependencies resolves. Versioning of packages can then be automated from the

[2017-02-09 21:11] Jetski5822 commented on #451
All Orchard Core projects will be released as nuget packages, except maybe the clients.

Sent from my iPhone

[2017-02-09 21:16] sebastienros commented on #451
Ideally everything should be a Nuget package, but the web app and custom/customized modules.

[2017-02-09 21:20] Skrypt commented on #451
Right. The web app could be a separate project itself. In the scenario of a SaaS frontend the only thing you need is the Web API access to the Core backend.

[2017-02-09 21:43] Skrypt commented on #451
Thinking about this and custom/customized modules should be also Nuget packages if you want them to reference each others.

[2017-02-09 21:54] Skrypt commented on #451
https://github.com/fsprojects/Paket
Found this the other day.

[2017-02-10 02:42] sebastienros opened #571 "Shape alternates conflic"
Setup the Blog recipe.

In the TheBlog theme add a template named `Pager.Previous.cshtml` which is supposed to override `Page_Previous` shape attribute from `PagerShapes`.

There is an exception on startup.

[2017-02-10 02:43] sebastienros commented on #547
In `ListPart-Blog.cshtml` I did

` Model.Pager.PagerId = "Blog";`

Then I created `Pager-Blog.Previous.cshtml` and it worked fine.

[2017-02-10 08:19] stevetayloruk commented on #547
Ha, this does work. I was confused based on the terminology that was outputted and thought "Previous" would be for Older Posts but in fact "Next" is for older posts and "Previous" is for newer posts.

Thanks!

[2017-02-10 16:17] sebastienros commented on #547
I get it, on the first page you see only one link so if you use the wrong one you think it doesn't work ;)

[2017-02-10 16:19] stevetayloruk commented on #547
yep, _facepalm_.

But the issue still remains with the Pager itself to be overridden. But there is no rush on that I think you have created another issue for it.

thanks

[2017-02-10 16:25] sebastienros commented on #547
Not aware of another issue, please point me to it.

Also even though this is super flexible, this is super not obvious ;) And without this piece of code https://github.com/OrchardCMS/Orchard2/blob/master/src/Orchard.Cms.Web/Modules/Orchard.Navigation/PagerShapes.cs#L411 you can't even know how to get the url in order to render the link.

So I think I will provide a Url property on the pager link e

[2017-02-10 16:34] stevetayloruk commented on #547
Here is the other issue: #571

Yeah, a URL property would be useful. Currently, I'm replicated the behaviour:

[code]

[2017-02-10 16:36] sebastienros commented on #547
This issue, ok.

[2017-02-11 19:54] #571 closed

[2017-02-11 21:05] DaRosenberg opened #574 "Design: Improved modules/features management UI"
In Orchard Core it would be great if we could provide a better UI for this than what we have in Orchard 1.x.

In particular I would love the following enhancements:

- Move from a card/grid based layout to a tree list where the hierarchy is based on feature ID namespace. This will make many features such as "Google" more clear because they will be shown in the context of "OpenID".
- Visualize modu

[2017-02-11 21:08] sebastienros commented on #574
Take a look at Drupal

[2017-02-11 21:19] DanielStolt commented on #574
Drupal schmupal, let's discuss how we want in Orchard. Do you agree with the suggestions?

[2017-02-11 21:21] sebastienros commented on #574
Then you look at Drupal's solution and you decide to change your suggestions ;)

[2017-02-11 22:59] stevetayloruk opened #575 "Edit Blog Post Field generates error"
Using the blog theme recipe, go into the admin > content types > blog post and then click on edit button of the `SubTitle` Text Field.

Error page appears:

`There is no argument given that corresponds to the required formal parameter 'shapeFactory' of 'IShapeFactory.Create(string, Func<dynamic>)'`

In fact, looks like it happens on all fields of all types.

Thanks

[2017-02-12 00:04] jtkech commented on #575
Just tried and i could repro.

For infos it works for this field if i add in `TextFieldSettings.Edit.cshtml`.

    @using Orchard.DisplayManagement

Best.

[2017-02-12 00:07] sebastienros commented on #575
Right, this has been moved to an extension method, so we need to `using`, I will add it in the ViewImports instead.

[2017-02-12 00:26] #575 closed

[2017-02-12 21:51] weedkiller opened #578 "Tenant diagnostics"
Hi, in both Orchard versions there is no help explanation on handling tenant/data/members in the modules development, and when to choose the widget option vs module, perhaps a new end-toend sample on plugin modules and upgrading from v1 to v2 would aid the devs

The multi-tenant module is available but as a developer we need more help.

- [ ] **Storage Isolation:** option to save to separate db, o

[2017-02-15 01:39] infofromca opened #579 "rename sln and proj"
I suggest to rename all of the projects from orchard team to have **Orchard.** prefix,
for ex, change Lucene to Orchard.Lucene

[2017-02-15 13:57] DanielStolt commented on #579
Yes please, let's take this opportunity to get some consistency!

[2017-02-16 05:14] jtkech commented on #513
No more useful.

[2017-02-16 05:14] #513 closed

[2017-02-16 05:16] jtkech commented on #292
Obsolete

[2017-02-16 05:16] #292 closed

[2017-02-16 05:26] jtkech commented on #527
Need to be re-tried and re-formulated.
Will open another issue if i find something.

[2017-02-16 05:26] #527 closed

[2017-02-16 10:07] #567 closed

[2017-02-16 10:08] #547 closed

[2017-02-16 10:11] agriffard commented on #556
These are known problems.
The preview itself will be improved (ex : allow to open it in a different window).

[2017-02-16 10:11] #556 closed

[2017-02-16 10:16] agriffard commented on #471
Answer for Next/Prev pager : This should be a custom part, or a setting on the List.

Answer to change the title of links : Alternates can be used.

[2017-02-16 10:16] #471 closed

[2017-02-16 10:22] agriffard commented on #422
Sign out link and Username added in admin header.

[2017-02-16 10:22] #422 closed

[2017-02-16 10:23] agriffard commented on #370
See Media Services Design thread #561

[2017-02-16 10:31] agriffard commented on #528
Discussed again during Tuesday meeting:
There could be some renaming (Repo, Project, Namespaces) once the big PRs (on which @Jetski5822 @jtkech and @sebastienros are working on : `mvless`, `modular`) are merged.

[2017-02-18 13:08] pdxl commented on #528
Corechard??

[2017-02-19 13:55] Jetski5822 commented on #528
Lol

Sent from my iPhone

[2017-02-22 14:03] #355 closed

[2017-02-22 19:36] agriffard opened #586 "Codegen : Use Orchard command or dotnet new?"
As @DanielStolt suggested during Orchard Harvest, should we continue to use Orchard command to make codegen or would it be easier to use `dotnet new` command?

See https://github.com/dotnet/templating

[2017-02-23 05:16] sfmskywalker commented on #469
I updated your PR with:

* Improved Cards UI
* Enable/Disable actions (with HTTP POST)
* Theme info: Author, Version, Website, Thumbnail

Current state:

![image](https://cloud.githubusercontent.com/assets/938393/23245768/6092f528-f98f-11e6-966a-c5dc5310fe4a.png)

If you like it, we can remove the 'dontmerge' label and get it merged in.

[2017-02-23 05:24] sfmskywalker commented on #478
I added the following to `IManifestInfo`:

* Tags - `IEnumerable<string>
* Website - `string`
* Author - `string`
* Version - `Version`

As you see, I took the liberty of making the Tags field an enumerable instead of a string (which is how it is in O1), and the Version field of type `System.Version`. I'm thinking having Version as an actual Version type (as opposed to a simple string) might be us

[2017-02-23 05:26] sfmskywalker commented on #478
Related PR: #507

[2017-02-24 03:05] EagleSmith opened #588 "dotnet-ubuntu.16.10-x64.1.0.0.tar.gz can't downloaded"
dotnet-install: Downloading https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0/dotnet-ubuntu.16.10-x64.1.0.0.tar.gz
dotnet_install: Error: Download failed

[2017-02-24 03:45] EagleSmith opened #589 "Documentation for Linux deployment"
thanks!

[2017-02-24 15:48] Skrypt commented on #588
If you are trying to install by following the Wiki post I'm not 100% sure this will work since I wrote it when we we're on pre-releases of .NET Core.

[2017-02-24 15:50] Skrypt commented on #589
It is there https://github.com/OrchardCMS/Orchard2/wiki/Running-on-Linux
But it needs to be refreshed

[2017-02-25 13:11] Jetski5822 commented on #589
Yeah, we probably need to update this :/

[2017-02-25 13:13] Jetski5822 commented on #550
@danielstolt saweeeeet :)

[2017-02-27 17:37] stevetayloruk opened #591 "Password indicator shows amber on good password"
When using a password that uses a special char that isn't in the regex, the password strength indicator shows amber but the site is still created.

Pull request for the fix here: #590

[2017-02-27 18:21] Jetski5822 opened #592 "Remove Manifest.txt files"
We dont need them.

I suggest we move most things to the Assembly Info file.

Name = AssemblyTitle
Version = AssemblyVersion
Orchard Version = Obsolete... as we rely on nuget package compatibility.

Sure there will be more

[2017-02-27 18:23] sebastienros commented on #592
Didn't we talk about it and found that we needed them ;)

[2017-02-27 18:24] sebastienros commented on #592
oh, we said we needed the information but it could be assembly metadata or custom service, cool.

[2017-02-27 18:29] Jetski5822 commented on #592
Yup! - The pipeline will be quicker, cleaner... however, lots to change to do it.

[2017-02-27 18:32] Jetski5822 commented on #578
Most of this we already have I think.... except maybe the last two?

[2017-02-27 18:32] sebastienros commented on #592
It's dependent on the fact that we are using references to modules too, so it has to be based on this change. Maybe after we merge your mvcless PR.

[2017-02-27 19:20] sebastienros commented on #578
I don't see any solution to find out RAM usage per tenant. We could do snapshots before and after starting a tenant, but it would be useless as it will depend on dynamic behaviors too.

[2017-02-27 22:07] #591 closed

[2017-02-27 22:36] jtkech commented on #592
To share some thinkings.

**Manifest.txt**

- Great idea. Indeed, modules will not be really dynamically loaded, so all runtime assemblies will be naturally in the default dependency context.

- So, maybe other things can be simplified, e.g `GetExtensions()` could be processed by simply using `DependencyContext.Default.RuntimeLibraries` filtered by extensions ids.

- We could also deduct modules i

[2017-02-28 01:43] DanielStolt commented on #592
I love this idea. We would need to add some custom assembly attributes beyond the ones that are normally included in AssemblyInfo.cs I'm guessing.

But one question: `Module.txt` currently also declares the *features* of a module. Are you suggesting we move this into assembly metadata too? If so, how do we handle the cardinality of 1-to-n, i.e. how do we add metadata for n number of features to ju

[2017-02-28 02:11] sebastienros commented on #592
We are not thinking about metadata, but a POCO with some fluent methods, like the `SchemaBuilder` does for migration:
[code]

[2017-02-28 02:23] DanielStolt commented on #592
Hmm... ok, interesting. So if you have a module DLL, how do you extract this metadata without actually loading the DLL into the process first?

[2017-02-28 02:41] sebastienros commented on #592
You don't, you can't, but all modules are loaded statically, why would you want to do such things?

[2017-02-28 02:52] DanielStolt commented on #592
You're right - I forgot I managed to get dynamic loading removed. :)

But then, what does it have to do with AssemblyInfo? When/how would the above code get called?

[2017-02-28 02:56] sebastienros commented on #592
It has nothing to do with it. I assume Nick suggested AssemblyInfo, but I think we can do it this way. just the way I am suggesting.

[2017-02-28 08:50] Jetski5822 commented on #592
That looks like a nice design there @sebastienros

I still dont see why we cant do this even if we still have dynamic loading... which I am determined to put back - at some stage :)

[2017-02-28 09:03] Jetski5822 commented on #592
Maybe something like this...

[code]

[2017-02-28 11:24] Phiph commented on #578
Instead of RAM usage which how about count the amount of requests a tenant has received in the past hour?

[2017-02-28 15:01] DanielStolt commented on #578
RAM usage is all but impossible - I actually looked into this a while back. There are only two ways:

1. Go through all objects in the root DI container of the tenant and binary-serialize them, and check the size of the serialized output. This is extremely slow and also inaccurate, because serialized size might be very different from memory footprint.
2. Use the profiling API from an external proc

[2017-02-28 18:47] Jetski5822 commented on #592
What about something like this?

[code]

So benefits of having it in the Assembly is that this information gets compiled in to the assembly manifest... You can right click on the assembly, view details and there is it. Again, im not sure... something about this bugs me too.... Ideas!?

[2017-02-28 19:08] sebastienros commented on #592
It's not intuitive. We'd better embed the manifest.txt in the assembly at that point.

There are no issues with having a simple interface to implement.

[2017-02-28 21:31] Jetski5822 commented on #592
Okay so extending on yours

[code]

[2017-03-02 03:49] weedkiller commented on #578
I realize the RAM usage changes, but don't you think AWS, WP etc _display a RAM usage at that point in time._

IMHO - this will help people report any abnormal issues, which could help with troubleshooting or performance.

[2017-03-02 05:58] jtkech commented on #592
And maybe `.WithPriority()`.

Forgot what i said above, i was too polarized on assemblies deps and then not on features ones.

You're right. I was thinking, when a precompiled module is dyn loaded, that it's still useful e.g to inhibit a module by renaming / deleting its manifest file.

Wow. We already do this (in master) when a precompiled module has no project.json file. So, we don't use the pro

[2017-03-02 09:33] DanielStolt commented on #578
@weedkiller the difficult part is not RAM usage per se, but rather RAM usage *per tenant* as you mentioned in your initial post.

[2017-03-02 11:26] agriffard commented on #469
There are still some improvements to make to the UI but there will be some incremental changes:

- Separate Front and Admin themes.
- Search, filters, tags.
- Retrieve manifest infos.

And in the future:

- Download from nuget gallery.
- Install themes from computer.
- Upgrade latest version of theme.

[2017-03-02 11:26] #469 closed

[2017-03-02 23:49] Jetski5822 opened #594 "Configure tenants from code"
Have the ability to create and configure tenants from code... details to follow

[2017-03-03 12:33] agriffard commented on #525
there is an issue when you add a content item: if the owner part is displayed and you enter a user name, it will create the item using the current one, not the specified one.

[2017-03-03 12:35] agriffard commented on #524
There is an issue when you add a content item: if the owner part is displayed and you enter a user name, it will create the item using the current one, not the specified one.

[2017-03-03 12:42] agriffard opened #595 "LayerMetadataIndex not created when I enable Layers"
I enabled the Layers module but the Migrations didn't create the LayerMetadataIndex MapIndex.

[2017-03-03 12:51] agriffard commented on #595
After I removed manually the feature from the data migration and restarted, the migration has been executed and the map index created.

One remaining weird behavior is that, in my Features item in the Content table, I have many features with
`"InstallState":"Rising","EnableState":"Rising"`

[2017-03-04 17:11] Jetski5822 commented on #594
[code]

[2017-03-07 00:29] sebastienros commented on #579
Fixed in VS2017 branch, merged tomorrow.

[2017-03-07 00:29] #579 closed

[2017-03-07 01:20] sebastienros commented on #561
I am suggesting to just rely on "Manage Own Media" to prevent a user from editing media items that are not his own. Users can create personal folders if they need. All media items can be selected, even with "Manage Own Media" only.

As a reminder, the scenario is for a multi-blog site, each user might want to organize it's media independently. Or we might not want someone to edit existing media th

[2017-03-07 13:28] infofromca opened #597 "one config (setting) for multiple tenants"
for example, The super Admin only need process one time for login, workflow, send email which can be used by multiple tenants.
I think @Piedone had a module about that in orchard1

[2017-03-08 01:04] sebastienros commented on #561
To simplify the UI, I am suggesting to keep the current screens for Media management, but when we need to select media use a specific media selection that would only allow Image creation on the fly. Any other complex media operation would require to go to the media management screen instead. Then there would be a single dialog to select a media or drag and drop an image. Other screens would be ful

[2017-03-08 11:10] leoniDEV commented on #586
I'm new to the Orchard world and I'm going to start a new project based on Orchard for one of my customer and I'm evaluating Orcard2.

First I usually prefer consistency and the use of built-in tools (as much as possible).
So from the perspective of a new user which never uses Orchard, when I start a project with Orcard2 what I ask to myself is: why I need a second tool to do a thing that could be

[2017-03-08 11:15] Jetski5822 commented on #586
Hi @leoniDEV - I completely agree, I hate having to use a third party tool when the built in stuff should jsut be enough.

What @agriffard is suggesting is actually something that would be built in to your pipeline just by pulling the orchard code base, which is kind of cool.

One thing I want to avoid is the use of a custom build scaffolding system, i.e. I dont want to build one :)

One of the go

[2017-03-08 13:11] leoniDEV commented on #586
mine was a rhetorical question ;)
One of the my customer offer some services to some gov authorities and for each of these authorities we need a separate site where publish some infos, updates, news, stats and other stuff about these services.
The primary feature (other then C#) that drive my choice for this project was the support of multi-tenacy in Orchard.

I also experimenting with the Microso

[2017-03-08 14:46] Piedone commented on #597
Not exactly. Worked with sharing data across tenants and cross-tenant features (see e.g.: https://orcharddojo.net/blog/advanced-orchard-accessing-other-tenants-services) but not making complex features like the ones you mentioned cross-tenant.

[2017-03-08 16:04] sebastienros commented on #586
`dotnet new` is fine as it's a development time tool, but not sure we can get rid of a custom command interpreter altogether:
- will `dotnet.exe` be available in the hosting environment?
- will recipes be able to execute them

We need to provide commands for sure, but how much more or less work will it be to implement `dotnet orchard foo bar` compared to `orchard foo bar`? And how much more or les

[2017-03-08 23:52] DanielStolt commented on #586
To clarify, my initial suggestion during Harvest was not intended to get rid of Orchard command line! My suggestion was only to replace the **codegen** part with `dotnet new`. The CLI of Orchard will still be very much necessary, and IMO does not make sense to try to replace with `dotnet` commands, because Orchard CLI should be about runtime things while `dotnet` is about development/compile/build

[2017-03-09 09:01] zhhbo opened #599 "Do you consider that Orchard1 up to Orchard2"
How to handle the Data? I think the problem must in mind when design

[2017-03-09 15:59] #517 closed

[2017-03-10 01:14] PinpointTownes opened #600 "Authorization policies are not enforced in MVC controllers"
While testing the OpenID module, I discovered a (big) bug in the latest Orchard bits: the `[Authorize]` attributes have absolutely no effect. The reason is actually quite simple: the MVC modules stack doesn't call `builder.AddAuthorization()` here, so the authorization filter is never executed: https://github.com/OrchardCMS/Orchard2/blob/master/src/OrchardCore/Microsoft.AspNetCore.Mvc.Modules/Exte

[2017-03-10 01:27] sebastienros commented on #600
I think we've had the same issue by the past, or maybe the opposite, that it was called twice.

Thanks for reporting.

[2017-03-11 19:01] agriffard commented on #595
Closing since I haven't been able to reproduce afterwards.

[2017-03-11 19:01] #595 closed

[2017-03-12 12:54] PinpointTownes opened #606 "Fix the Orchard.Users module to ensure authentication cookies are correctly isolated and can't be shared across tenants"
This issue was fixed a while ago in the `oauth2` branch, but it has never been merged into `master`:
https://github.com/OrchardCMS/Orchard2/pull/215#r85806573
https://github.com/OrchardCMS/Orchard2/pull/605#discussion_r105554163

[2017-03-12 18:55] matiasmolleja opened #607 "Layers UI suggested changes"
I had a conversation with Seb in gitter about this topic. He suggested to file an issue for future reference.
When using the Layers feature I find what I think are some usability issues.

I designed an sketch that addresses some of them so that you can evaluate if the changes make sense.  Please don't pay attention to the adminLTE that it is using. I used it only because it's easier for me.
![2017

[2017-03-13 15:35] #600 closed

[2017-03-14 12:56] Jetski5822 commented on #597
Need to have a think about this. At the moment I am focused on true tenant isolation, however we do have services within the ApplicationServices stuff that go across tenants. Need to think of the security implications too.

[2017-03-14 19:19] jersiovic opened #609 "Beta2 version of OpenIddict throws an exception editing a Confidential Application"
Problems is it requires we provide a client secret for confidential applications but it doesn't provides an UpdateAsync overload accepting the client secret parameter.

On the other hand user could want to edit a confidential application without setting a new client secret, so current UpdateAsync overload without password shouldn't throw an exception, an simply update application without changing

[2017-03-14 20:46] PinpointTownes commented on #609
I'll take care of it, thanks for reporting it.

[2017-03-15 07:04] xewn opened #610 "use front-end"
会不会，考虑 使用 前后端分离。
比如wordpress的wp-calypso。

[2017-03-15 12:26] Jetski5822 commented on #610
what do you mean?

[2017-03-15 16:22] DanielStolt commented on #607
Great mockup!

I agree with pretty much every suggestion you are making. The suggestion to enable/disable visibility per layer raises an interesting challenge though: what is the defined relationship to the hidden widgets when dragging and dropping to reorder only the **visible** widgets within a given zone? How will the visible widgets be ordered versus the hidden widgets?

[2017-03-15 18:46] matiasmolleja commented on #607
Yes. To be honest I did not noticed that :(

I think that the question here is  : does the order of the widgets in this page affect the rendering in the frontend?
I tried changing the order and it does not seem to affect the position of the widgets when rendered in frontend. Maybe I'm missing something.

If the order here does not affect the rendering maybe we can use a solution like this :
![posi

[2017-03-15 18:48] sebastienros commented on #607
The order of the widgets is respected in the output. I tried it multiple times and showed it during Harvest on purpose. Or it's broken.

[2017-03-15 18:51] matiasmolleja commented on #607
I will test again then. Maybe I did something wrong. I can not test again right now. VS is updating now.
And then,  everything I wrote is wrong. :(

[2017-03-15 19:14] matiasmolleja commented on #607
I think this can solve the issue. Or is it confusing?

![20170315_191004](https://cloud.githubusercontent.com/assets/2589629/23966529/fb7df7ea-09bb-11e7-8d58-c192efb7b965.gif)

[2017-03-15 20:17] agriffard commented on #561
Will there be a possibility to add files in the Media directory on the disk and have an action from the admin UI to 'import as content' the files that are in the physical folder but not yet appearing in the Media library?

[2017-03-15 20:34] agriffard commented on #561
BTW, Media upload doesn't work for me anymore.

I managed to upload an image when I tested the first commit of the `media` branch.
Now, the file is uploaded to the folder, I can see in debug that a content item is created but nothing is saved in the database anymore and the UI doesn't display the uploaded file.

[2017-03-15 21:22] anwaramoon commented on #610
@Jetski5822
会不会，考虑 使用 前后端分离。 比如wordpress的wp-calypso

ENGLISH
Will not, consider using front and back separation. Such as wordpress wp-calypso

[2017-03-15 22:02] sebastienros commented on #561
It should work with the latest commit, I can create and delete folders too.

Yes, I think the Media Import should be part of it. But not sure we need it for a v1, unless someone does it for free. Would be better to have it as part of the Import Media tab that we'll have after the common features are implemented. The code is already in the Update module for O1.And it only applies to the FileSystem

[2017-03-16 03:23] infofromca commented on #610
Will you guys consider using the separation of  front and back end, Such as wordpress wp-calypso?

[2017-03-16 05:29] jersiovic opened #611 "Is there a style guide for writting css+sass ?"
Does Orchard 2 or Orchard 1 follows any convention for deciding the default css classes Orchard  renders with html? I mean like SMACSS, BEM or a combination of both ... https://thesocietea.org/2016/06/combining-bem-and-smacss/

[2017-03-16 06:04] xewn commented on #610
Thanks @anwaramoon  @infofromca

[2017-03-16 08:15] Xceno opened #612 "Prevent disabling the Default Tenant"
Currently it is possible to disable the default tenant, which renders your site unusable.
So we need a validation step in the controller action and hide the Disable-Button on the Frontend.

I'll have a PR ready later.

[2017-03-16 08:17] zhhbo commented on #606
Is there can give a setting button that will allow user shared across tenants?

[2017-03-16 10:57] jersiovic opened #614 "Problem deploying Orchard 2"
I can execute without problems Orchard from VS2017 or calling `dotnet run` from `D:\Orchard2\src\Orchard.Cms.Web`. It responds to requests without throw any exception.

If I deploy orchard calling `run dotnet publish --configuration Release --output d:\OrchardDeploy`
I call `dotnet OrchardCore.Cms.dll` from `d:\OrchardDeploy` and Orchard apparently runs properly.
However, for any request I receive

[2017-03-16 12:52] PinpointTownes commented on #609
Reopening, as we need to use the new `UpdateAsync` overload in Orchard.

[2017-03-16 15:00] #612 closed

[2017-03-16 15:38] sebastienros commented on #614
@jtkech have you had the issue on your side?
@Jetski5822 any idea?

[2017-03-16 16:45] jersiovic commented on #614
This explains what happen:
![image](https://cloud.githubusercontent.com/assets/4950766/24007852/2527b2b6-0a70-11e7-97cc-6cfc46ef4b0b.png)
When app is published dlls are flattened at root folder of the app and no folder with dlls or manifest are published. However Orchard is looking for manifests in folders.
Copying Themes and Modules in the folder where I published the app it works properly.
So, w

[2017-03-16 16:57] sebastienros commented on #614
Great, exactly what @jtkech is working on right now.

Can you try to add this file in the modules folder and rebuid/publish to see if that fixes everything?

https://github.com/OrchardCMS/Orchard2/blob/b7cc8bee80dfa3bc4e4422a2cb228c8fb185e684/src/Orchard.Cms.Web/Modules/Directory.Build.props

[2017-03-16 18:16] kevinchalet opened #616 "Consider using AuthorizeAttribute instead of IAuthorizationService.AuthorizeAsync"
Many OrchardCore modules (including the OpenID module) use `IAuthorizationService.AuthorizeAsync` to determine whether a user is allowed to perform a given action:

[code]

These (ugly) calls could be replaced by attribute-oriented programming, which would make the code cleaner and would help avoid code duplication when applied at the controller level:

[code]

(note: authorization policies could

[2017-03-16 18:18] sebastienros commented on #616
It's not AOP per se, but we surely can use an attribute in most cases.
It also prevents from resolving the service if there is no need for it.

To be clear we have had the service based one since O1 as it allows to be called with some state (resource in netcore) and from Views or other services.

[2017-03-16 18:23] PinpointTownes commented on #616
I guess [we don't have the same definition](https://en.wikipedia.org/wiki/Attribute-oriented_programming), then :sweat_smile:

Yeah sure. The code paths using the resource-based `AuthorizeAsync()` overload shouldn't be updated (they are really in minority, AFAICT)

[2017-03-16 18:27] sebastienros commented on #616
Alternative facts!

[2017-03-16 18:29] sebastienros commented on #616
Not sure you used the correct AOP acronym.

https://en.wikipedia.org/wiki/Aspect-oriented_programming

[2017-03-16 18:31] PinpointTownes commented on #616
I was tempted to use [@]OP, but it would have sent a notification to https://github.com/OP :sweat_smile:

[2017-03-16 18:35] PinpointTownes commented on #609
Done: https://github.com/OrchardCMS/Orchard2/commit/c4ab7f306e2eef68a99486b5f9ba6866de09d5f8.

[2017-03-16 20:47] jtkech commented on #614
Yes i know, they were published through project.json but not yet done since we migrated to csproj.

About the above file, it's a shared project part but only intended to be used for packaging purpose.

So, for publishing we just need to update the csproj file by using globbing patterns to define the assets we want to publish and by applying on them `CopyToPublishDirectory`.

**I will do it soon**,

[2017-03-16 21:05] DanielStolt commented on #611
Not one that I've ever been able to discern. :)

I would be hugely in favor of adopting BEM methodology, and some BEM-based naming convention. I think the author of the article you linked to has slightly misinterpreted the main focus of BEM though, to me BEM is much more about how to mentally reason about the structure of markup in terms of blocks and elements, than the practicalities of how you s

[2017-03-16 21:14] stevetayloruk commented on #611
I like BEM too. But bootstrap and MDL do not use this.

[2017-03-16 21:34] DanielStolt commented on #611
That's a good point Steve. It would be awkward to mix BEM for everything we add, with the "let the name parts fall where they may and then put dashes between" style for everything that Bootstrap adds.

[2017-03-16 21:40] jtkech commented on #614
Quickly done so it will be updated.

Just tried `dotnet OrchardCore.Cms.dll` from the published directory, seems to work.

It also works for a testing `HelloWorld` module referenced as a package.

So, meanwhile you can grab from the **packages branch** in `OrchardCore.Cms.csproj` the item group which is just before all project references.

Best.

[2017-03-16 21:51] sebastienros commented on #614
Can you add a PR to master instead with this only fix?

[2017-03-16 22:35] sebastienros opened #617 "Generate Nuget packages on a feed"
@alexbocharov

We need the nuget packages to be generated, at least for the ones in /OrchardCore.
Can you configure appveyor to build and host them?

[2017-03-16 22:54] jersiovic commented on #609
After the PR still is not possible to update a confidential app without providing a password because the EditOpenIdApplicationViewModel has this annotation [StringLength(100, MinimumLength = 6)] for the client secret.
When this validation fails the user doesn't see nothing because the input of the password and its text alerting of the error is hidden.
I'm going to add a PR for fixing it

[2017-03-16 22:59] PinpointTownes commented on #609
Note that this attribute is ignored when the value is null (it's why it's often used with `[Required]`), so this shouldn't be a problem.

[2017-03-16 23:08] sebastienros commented on #609
Try not to use data annotation, it's terrible with localization, prefer adding validation in the controller.

[2017-03-16 23:27] jersiovic commented on #609
@PinpointTownes you are right that was not the problem. I have fixed it finally only improving js. https://github.com/OrchardCMS/Orchard2/compare/oauth2...%23609saveConfidentialApp?expand=1
@sebastienros I see, I will do it tomorrow.

[2017-03-16 23:47] #614 closed

[2017-03-16 23:55] stevetayloruk commented on #611
This may be irrelevant. I've made a start on creating a set of common tag helpers for the admin which abstracts all the markup. So, the author can just use custom tags and attributes and it just works. No need to know specific bootstrap styles and therefore you could easily switch from bootstrap to mdl for example.

These common components will make it super quick and consistent to author admin sc

[2017-03-17 00:46] sebastienros commented on #611
Tag Helpers baked by shapes I hope.

[2017-03-17 05:31] jersiovic commented on #611
@stevetaylor yes use custom attributes and tags instead of ones related to technology. If we are able to agree a consistent naming we are going to save a lot of work for each new theme we want to create, because we won't need to fight vs the technology and arbitrary decisions taken in default templates creating new templates for everything. This also will make our sites more friendly for third par

[2017-03-17 06:21] jersiovic commented on #611
Another point is that Orchard needs to provide infrastructure for supporting the convention. For example BEM allows to mix blocks. But for that in child block you need to know the parent block to reflect it in the child class. https://en.bem.info/forum/4/
If we consider the zones as blocks, we will need to know in blocks rendered within zones the name of the area in which they are rendered to refl

[2017-03-17 10:51] jersiovic opened #620 "Access token issued by refresh flow seems to be not valid"
After update oauth2 branch from alpha to beta version of OpenIddict refresh flow seems to be broken.

I get an access token and a refresh token using Password Grant
![image](https://cloud.githubusercontent.com/assets/4950766/24039880/1820a04a-0b07-11e7-89dd-11ae26f776d2.png)

I use that access token as bearer token to access web api controller protected by [Authorize] annotation without problems.

[2017-03-17 10:53] jersiovic commented on #620
@PinpointTownes this sounds me familiar, sth similar happened time ago because there was a bug in TokenStore

[2017-03-17 11:02] jersiovic commented on #620
Still not sure if this is the only thing is causing problems but I see here sth that looks like a bug https://github.com/OrchardCMS/Orchard2/blob/oauth2/src/Orchard.Cms.Web/Modules/Orchard.OpenId/Migrations.cs#L17
`.Column<int>(nameof(OpenIdTokenIndex.Subject))`
should be
`.Column<string>(nameof(OpenIdTokenIndex.Subject))`

[2017-03-17 12:57] PinpointTownes commented on #620
Here's the relevant error:

I took a brief look and it's indeed a bug, caused by this line: https://github.com/OrchardCMS/Orchard2/blob/oauth2/src/Orchard.Cms.Web/Modules/Orchard.OpenId/Controllers/AccessController.cs#L520

It should be included in the `if` block instead (because otherwise, it always overrides the resources stored in the refresh token by the resources specified in the refresh toke

[2017-03-17 13:39] jersiovic commented on #620
Oh great! this problem was driving me crazy

[2017-03-17 18:14] jersiovic opened #622 "Authorization Code Flow doesn't work"
I'm not using this flow for my customers, but simply for checking everything is all right I've tested Authorization Code Flow using Postman. The point is it doesn't work, in fact I put a breakpoint in Authorize action within AccessController but it never stops there.

The log doesn't say anything interesting:
[code]
@PinpointTownes do you experencie similar problem?

[2017-03-17 18:18] PinpointTownes commented on #622
There's a space (encoded to `%20`) between the request path and the query string.

[2017-03-17 18:24] PinpointTownes commented on #620
@jersiovic issue fixed?

[2017-03-17 18:30] jersiovic commented on #622
ups thank you.
After fix it and accept consent I get this:
![image](https://cloud.githubusercontent.com/assets/4950766/24057602/33eeb776-0b48-11e7-976e-186d4491e82b.png)

[code]

[2017-03-17 18:33] PinpointTownes commented on #622
This error is returned from this path: https://github.com/OrchardCMS/Orchard2/blob/oauth2/src/Orchard.Cms.Web/Modules/Orchard.OpenId/Controllers/AccessController.cs#L468-L476

Are you sure your user profile is still in the database?

(we should consider improving the error message, BTW)

[2017-03-17 18:53] jersiovic commented on #622
It is the admin user the one I used to login, and it still exist.
I've debugged at those lines but there is not any problem there.
Do you have same problem?

[2017-03-17 19:01] PinpointTownes commented on #622
I experienced a similar issue when working on the module last week: I came to the conclusion it was likely a Postman bug, because the Orchard authentication cookie was not correctly sent.

That said, you shouldn't hit this code path because you're supposed to be redirected to the login page (there was a bug with the authorization attribute, but I fixed it). Due to the Postman bug, you should get c

[2017-03-17 19:02] jersiovic commented on #622
Related with that, despite I click on logout, and I called /Orchard.OpenId/Access/Logout and I clear cookies from browser when postman starts  Code Flow I directly see the consent view, but I'm not able to be asked another time for my user and password

[2017-03-17 19:03] PinpointTownes commented on #622
Oh wait, the authorization attribute fix is not in the oauth2 branch: https://github.com/OrchardCMS/Orchard2/commit/8c98dcef35ff007e7edb2e14abec03490d47b3e6

[2017-03-17 19:06] jersiovic commented on #622
ah ok, i'm going to merge it on my branch locally for testing it and if everything is ok for me there is no problem on merging oauth2 branch on master

[2017-03-17 19:08] PinpointTownes commented on #622
With this fix, you'll likely hit the same issue and be caught in a login loop. Can you confirm that?

If so, we should try with another client (I tested manually and it worked)

[2017-03-17 19:15] jersiovic commented on #622
It worked properly. I didn't suffered that loop.
I have added the PR https://github.com/OrchardCMS/Orchard2/pull/623
@sebastienros

[2017-03-17 19:37] #192 closed

[2017-03-17 19:38] #622 closed

[2017-03-17 19:40] alexbocharov commented on #617
@sebastienros
Appveyor or MyGet?

[2017-03-17 19:48] sebastienros commented on #617
No preferences whatsoever, maybe myget makes more sense.

[2017-03-17 20:40] PinpointTownes commented on #622
FYI, I tested with the Chrome version of Postman and it indeed worked like a charm.
Looks like this bug only impacts the desktop version.

[2017-03-18 06:16] jersiovic commented on #620
yes

[2017-03-18 06:16] #620 closed

[2017-03-18 06:48] matiasmolleja commented on #607
OK, I don't know if it is broken or it is the expected behavior. When you use published content items positioning works right.
But if you save a draft to a widget, then it is the draft version which appears in the layers page. And then changing the position of that item does not not reflect anymore on the frontend. Until you discard or publish the draft.
Should I file an issue?

[2017-03-19 21:21] jersiovic commented on #606
It looks a good idea to me to make it configurable. What do you think @sebastienros ?
Maybe @zhhbo or other interested in can add a new feature to Orchard.Users called "Orchard.Users.CookieConfiguration" which by default will be disabled. That feature will allow to set for a tenant the cookie name and the purpose string used for creating the DataProtectorProvider.
By default those two would be bas

[2017-03-19 21:51] jersiovic commented on #561
My two cents.
Yes we use profiles, I think they are very convenient. We provide same theme for different tenants. Using Profiles allow admin of each tenant to set the size of images used on different areas of the web without contacting us.

[2017-03-19 21:58] #518 closed

[2017-03-19 22:12] mdockal opened #625 "Security Menu in wrong place."
Why is the Security Menu under the Design Menu in the dashboard?   Should be at the root of menu.    Makes no sense!

[2017-03-19 23:34] Jetski5822 commented on #617
@alexbocharov how are you getting on?

[2017-03-20 13:19] BilalHasanKhan opened #628 "InvalidOperationException: Unable to resolve service for type 'Microsoft.AspNetCore.Identity.RoleManager`1[Orchard.Security.Role]'"
I am using VS2017 and setup a SAAS recipe site everything worked well until this point then in DashboardI went in and tried to enable Security-> Role which gave an exception and since then I am unable to performa any action and keep getting the same error.
I conveyed this to @Jetski5822  who suggested to delete App_Data\Site folder and then I removed the database as well and created a fresh site w

[2017-03-20 17:22] sebastienros commented on #606
@jersiovic  No, even if user auth cookies are shared the user objects are not. The solution is to use an external SSO service, even an Orchard tenant.

[2017-03-20 17:26] sebastienros commented on #625
Please watch the meeting we had on 9/13/2016 where we talked about the menu organization. It made some sense for all the people at the meeting. At the same time we are not even in beta, so we can always reconsider it once the menu is more complete, along with all other items. We might find some discrepancies then.

Right now if you really care about it you can create a module that would override i

[2017-03-20 17:26] #625 closed

[2017-03-20 17:29] Jetski5822 commented on #625
Here we go: https://www.youtube.com/watch?v=fOZGjZUcl00

[2017-03-20 19:17] alexbocharov commented on #617
@sebastienros @Jetski5822
We no longer plan to use KoreBuild?

[2017-03-20 19:20] Jetski5822 commented on #617
@alexbocharov yeah we should use

[code]

do you want me to make the changes?

[2017-03-20 19:27] alexbocharov commented on #617
I can configure the KoreBuild for correct build packages.
But it is not the same as the https://github.com/OrchardCMS/Orchard2/pull/598

[2017-03-20 19:34] alexbocharov commented on #617
@Jetski5822 I will configure via KoreBuild

[2017-03-20 19:36] Jetski5822 commented on #617
@alexbocharov sweet dude, I can help if you need. Check out the MVC ones: https://github.com/aspnet/mvc

[2017-03-20 19:41] Jetski5822 commented on #617
@alexbocharov I also have a myget feed, could we publish to that if I give you the creds?

[2017-03-20 20:02] alexbocharov commented on #617
@Jetski5822 Yes

[2017-03-20 20:04] alexbocharov commented on #617
Ok, I do it

[2017-03-21 12:03] jersiovic opened #630 "How can I mark that a class is related to a feature?"
I want to provide two features within a module. I know how to reflect it in module.txt but I don't find an annotation to say that a controller should be enabled if a feature is enabled.
Only thing I see is `ModuleService.GetAvailableFeaturesAsync()` but maybe it is too much to retrieve all the features just to check if one feature is enabled.

Is this a To-Do?

[2017-03-21 12:24] #113 closed

[2017-03-21 12:27] #334 closed

[2017-03-21 12:27] Jetski5822 commented on #317
@sebastienros Can we close?

[2017-03-21 12:28] #335 closed

[2017-03-21 12:31] Jetski5822 commented on #430
Sure!!! Its just a different connectionstring.

[2017-03-21 12:31] #430 closed

[2017-03-21 12:32] Jetski5822 commented on #362
@sebastienros got an example? are you talking about the setup ones?

[2017-03-21 12:50] jersiovic commented on #630
Most simple solution seems that IModuleService provides a method to evaluate the state of a feature and each module Startup registers those services related with its enabled features.
Only doubt is how do we act for controllers, currently they are automatically registered.

[2017-03-21 13:57] Jetski5822 commented on #630
The Controller is a Feature right? Features have a Dependencies: attribute against them?

[2017-03-21 13:58] Jetski5822 commented on #630
[OrchardFeature("Foo")]

[2017-03-21 15:04] #317 closed

[2017-03-21 15:26] sebastienros commented on #630
That is the correct way, if it doesn't work we'll fix this bug but it should already bee handled, @jtkech has tried it.
You should also do it for your `Startup` if you need, so you get several of them.
And new in O2, you can add a service/controller for a feature that is defined in another module, so that if the module is there then the matching feature will be enabled automatically. Example Token

[2017-03-21 15:27] sebastienros commented on #630
Please reopen if there is a bug with the feature.

[2017-03-21 15:27] #630 closed

[2017-03-21 18:47] PinpointTownes commented on #609
@jersiovic was that fixed as part of the big PR?

[2017-03-21 18:49] PinpointTownes commented on #606
Closing, as this issue was fixed as part of https://github.com/OrchardCMS/Orchard2/commit/03468ae6e5d89a61075a28104e24d168213030ae.

Feel free to open a new ticket if you think it's worth investigating the "separate tenant approach" suggested by @sebastienros.

[2017-03-21 18:49] #606 closed

[2017-03-21 19:05] PinpointTownes opened #631 "Consider relaxing the OpenID settings validation policy to allow using non-interactive flows without having to register a certificate"
http://kevinchalet.com/2017/03/14/migrating-to-aspnet-security-openidconnect-server-rc1/

/cc @jersiovic

[2017-03-21 19:17] jersiovic commented on #609
No, after that I faced other problems testing web and I forgot about that. Now I'm a bit busy ... maybe on next days. But if you want to do it, feel free to assign it to you.

[2017-03-22 05:53] jersiovic commented on #631
That feature would had saved me a lot of work invested on scripts for creating and renew autogenerated certificates. I faced more problems than expected with that due to some inconsistencies of Windows and .net in relation to certificates.
I agree it would be good this configuration is allowed from Orchard.

[2017-03-23 13:36] domonkosgabor opened #632 "Cannot create content items with reusable parts"
Let's say I would like to define a content type that has two reusable content parts. To do that, first I have to define the part in the migration in the following way:

[code]
that makes the `AddressPart` ContentPart reusable. To attach this part twice to a `Person` content type, I need to use the following type definition:

[code]

The first parameter of the `.WithPart()` method will be the named

[2017-03-23 15:08] sebastienros commented on #632
I might have broken it recently, I also noticed the editors didn't work anymore with named parts, I will look at this:

Looks like where the issue is

[2017-03-23 15:32] sebastienros commented on #632
The code in Orchard looks good, but in your code you are doing `.As<AddressPart>()` which you are not allowed to for accessing named parts.
Instead do `contentItem.Get<AdressePart>("HomeAddress")`

[2017-03-23 15:52] sebastienros commented on #632
I found out what you meant in the `.New()` call, I am fixing it, but what I said in the previous one about `As()` still applies.

[2017-03-23 16:00] #632 closed

[2017-03-23 21:10] muratder88 commented on #586
hdgh

[2017-03-26 05:05] Hazzamanic commented on #561
My two cents, which seem to be resisting the general wisdom, though I'm sure I can be converted...

**Moving to content items**
I didn't much like this change.

- Although not an argument against the theory of db backed media, O1 really was a half-assed effort (as others have already pointed out). We moved to content items then stuck direct urls into content? It really made the whole move pretty p

[2017-03-26 13:55] #370 closed

[2017-03-26 14:13] agriffard commented on #561
For th UI, I like the way http://jeremyfagis.github.io/dropify/ allows to replace and enhance a fileupload.

I think Profiles (or transformations as you seem to call them) has to be taken from O1 but a MediaPickerField should have options like:

- Allowed file types.
- Default Upload Location (tokenizable)
- Maximum number of files allowed to be selected.
- Sources (from where can I pick a file)

[2017-03-26 16:34] #594 closed

[2017-03-27 00:49] hishamco opened #638 "Prettify Data Provider APIs"
AFAIK YesSql support variety of RDBMS, nothing but what I have seen [here](https://github.com/OrchardCMS/Orchard2/blob/master/src/OrchardCore/Orchard.Data/ServiceCollectionExtensions.cs) is:

- Add supported databases
- Using `TryAddDataProvider` multiple times, to add the supported databases
- All the database providers and their configuration in one place

so, I come up with similar approach tha

[2017-03-27 01:19] hishamco commented on #638
FYI https://github.com/hishamco/yessql/commit/61da035bc81678562ef45a356cd7ed20fb859e1c

[2017-03-27 07:50] Jetski5822 commented on #638
Awesome work, I like it. Seb what do you think?

Sent from my iPhone

[2017-03-27 07:51] Jetski5822 commented on #638
It might be worth doing a PR for this too, if you have time.

Sent from my iPhone

[2017-03-27 10:07] hishamco commented on #638
Of course I'll do @Jetski5822, but I have one question, shall we make the ASP.NET Core stuff built-in in YesSQL so anyone can use in his web application(s) or shall we do it here

Of course I don't wanna bring dependencies to YesSQL, but this worth specially if we doing web development stuff

[2017-03-27 12:51] hishamco commented on #638
After digging into the code I notice that the `ConnectionString` came from `ShellSettings`, is there a plan to use the Configuration APIs to make the proposal readable like this:
[code]
For now I can make another overload like this:
[code]
to hide the heavy lifting for bringing the `ConnectionString`

Last point I'd like to mention is what's the default database provider that we need to ship? Shal

[2017-03-27 15:20] Jetski5822 commented on #638
That sounds like a good approach.

+1

[2017-03-27 15:24] hishamco commented on #638
What about my previous comment about the `ConnectionString` shall I add another overload for now until the `ShellSettings` access via Configuration APIs?

[2017-03-27 15:34] sebastienros commented on #638
From what I understand you are suggesting something like this:
[code]

But the goal of the Orchard.Data __Module__ is to provide a list of providers, names of servers and capabilities.

I think your suggestion is good for YesSql but Orchard (the CMS part) cannot use it. It need to create the `DbFactory` dynamically from the tenant settings.

@hishamco I think you didn't realize how Orchard Core CM

[2017-03-27 15:46] hishamco commented on #638
The current proposal can list all data providers if we do so, by having: `Orchard.Data.SqlServer`, `Orchard.Data.Sqlite`, `Orchard.Data.MySQL` and `Orchard.Data.Postgres`, separate these providers will be better for us, because the Orchard Core will data provider(s) independent, but when it find a `XXXDbProvider` it be listed as you want

Of course it will be good for YesSQL, but Orchard CMS can u

[2017-03-27 17:24] sebastienros commented on #638
Now I can see how it would allow Db extensibility. Good then. And then each provider comes from a specific module, and they are enabled by Default for the Setup.  Thanks Hisham.

[2017-03-27 18:23] Jetski5822 commented on #597
Done https://github.com/OrchardCMS/Orchard2/commit/a02cbe29c69c18588ecb1a5fe4ce474f71506ee9

[2017-03-27 18:23] #597 closed

[2017-03-27 21:50] hishamco commented on #638
IMHO we can simplify the process by adding such APIs in YesSQL, I already blogged about this today [Prettify YesSQL Data Access APIs in ASP.NET Core](http://www.hishambinateya.com/prettify-yessql-data-access-apis-in-asp.net-core) as well as Orchard CMS can use the same approach, plus adding the data provider(s) module(s). No need to write the code twice for both YesSQL & Orchard, but each one will

[2017-03-27 22:29] lukaskabrt opened #640 "Issues with tenant administration"
- if I create a tenant with an URL prefix and later I want to edit it, I am unable to save the changes. The message "The url prefix is already used by another tenant" appears
- if I create a tenant with a host and a prefix and another tenant with a different host but the same prefix, I am unable to save changes to either of them without changing the prefix

[2017-03-27 22:40] sebastienros commented on #640
Where is the PR 😅

[2017-03-27 22:43] lukaskabrt commented on #640
It is there #641 ;-)

[2017-03-27 23:20] sebastienros commented on #638
I don't agree here:

YesSql needs to be configured with a `DbFactory` instance containing a connection string, which you are showing correctly in your blog post about YesSql.

Orchard Core CMS needs to be configured with `DbProvider` types, and other metadata to drive the UI. So it can itself generate a `DbFactory` instance.

So in my opinion, changes need to be done in both repos, and they are no

[2017-03-27 23:55] hishamco commented on #638
Yep, exactly .. let me open another issue in YesSQL repo, so can track both as per their needs. Also I will dig into the source code here to see how the `DbProvider types and other metadata drives the UI

thanks

[2017-03-28 15:53] meatballcoder opened #642 "Design Question"
I have a design question, more general, so I can learn.  When you get a system running and say someone needs a change.  Do you have to recompile the entire Solution?  How do you manage small changes and push them out without blowing everything up?

[2017-03-28 16:41] sebastienros commented on #642
Like any other .NET app you would need to recompile the changed bits and update these at least, and restart the application. In the case of a simple View change, this should not need any restart or recompilation.

[2017-03-28 16:41] #642 closed

[2017-03-29 21:41] #559 closed

[2017-03-30 06:42] #610 closed

[2017-03-30 12:01] zhhbo opened #644 "I think tags should be a contenttype"
it can have a body for description eg.

[2017-04-01 00:14] hishamco commented on #638
@sebastienros after the latest changes that we have done in YesSql repo, what's the changes that you suggest to reuse some of the APIs that a;ready done there

[2017-04-01 00:20] sebastienros commented on #638
This lambda could be simplified then:
https://github.com/OrchardCMS/Orchard2/blob/master/src/OrchardCore/Orchard.Data/ServiceCollectionExtensions.cs#L36

But nothing outside of it. And it might be helped by other improvements in YesSql API for instance to add index providers. Maybe it will require an options object, who knows ;)

[2017-04-01 00:26] hishamco commented on #638
What about those https://github.com/OrchardCMS/Orchard2/blob/master/src/OrchardCore/Orchard.Data/ServiceCollectionExtensions.cs#L29-L32

Another benefit may we have here to reduce the amount of the dependencies, so please have a look to your earlier comment

[2017-04-01 00:27] hishamco commented on #638
I think it may needs a good design to make things better ..

[2017-04-01 00:31] sebastienros commented on #638
These are the ones that provide UI metadata. This project exposes available the choices for the user. It also decides what the choices are. So yes, this project should reference the new projects you created instead of the dbproviders directly. But don't change these four lines.

[2017-04-03 12:10] agriffard commented on #352
See PR #650 for Numeric Field

[2017-04-03 12:25] agriffard opened #651 "Fields Placement"
With the latest version (may be since .csproj migration?), the 'part' (I don't remember its name) that appeared in the 'edit content type definition' page to specify where the fields are placed amongst the parts is not available anymore.

Can you confirm it is not there anymore?

I also remember a discussion with @jtkech (May be in one of his PRs?) and that we need to find a solution to specify th

[2017-04-03 12:29] agriffard opened #652 "Edit views"
With the latest version, it doesn't seem possible to make a change in a view and reload the page in the browser to see the changes.

Is there something I am missing? like launch the project with `dotnet watch`?

[2017-04-03 14:56] jtkech commented on #652
Oh yes, to see the change without re-launching the app, you need to make the change directly in the Packages folder under the app. But remember to do the final update in the OrchardCore.Modules folder because the Packages folder will be overwritten.

Note: In my working branch the packages folder is not hidden from the solution, but i think that right now it is hidden in the master branch.

Note:

[2017-04-03 14:57] jtkech commented on #651
The name is the content type where this fake part is added, e.g `Page`.

Just tried it (but on my `csproj-updates` working branch). I added a text field in the Page content type, then i got the following, so it seems to work for me.

     Page - Contains the fields for the current type

About the discussion, i don't remember exactly but the related issue is #527. Need to leave soon but i'll let yo

[2017-04-03 15:09] agriffard commented on #651
OK, thank you. My bad, the '_Content type_ - Contains the fields for the current type' is there.

[2017-04-03 15:09] #651 closed

[2017-04-03 17:13] #640 closed

[2017-04-03 17:31] sebastienros commented on #652
@agriffard try to see if dotnet watch works. Otherwise we'll need to update the gulp pipeline which I'd rather not change.

[2017-04-03 18:51] lukaskabrt commented on #565
@sebastienros This issue has been fixed by #641

[2017-04-03 18:52] #565 closed

[2017-04-03 20:26] lukaskabrt commented on #652
Launching Orchard.Cms.Web project with `dotnet watch run` doesn't work for me. It isn't watching for changes in *.cshtml files and it is by design [dotnet-watch does not watch *.cshtml files](https://github.com/aspnet/DotNetTools/issues/152), another issue with `dotnet watch` is, that it restarts the whole process.

jtkech's workaround with editing files directly in the Packages folder works. To e

[2017-04-04 02:01] jtkech commented on #652
For infos, just seen [this blog post](http://www.natemcmaster.com/blog/2017/01/03/dotnet-watch-msbuild/). Maybe we can include custom items by using `<Watch Include="...">`, and target a custom task on file change (i hope without restarting the process) with `dotnet watch msbuild /t:CustomTask`.

I will try it when i have time.

[2017-04-04 18:55] #548 closed

[2017-04-04 22:25] sebastienros opened #658 "Functional tests"
Create some functional test based on this model:
https://github.com/sebastienros/yessql/commit/1d643b1f89b60592e1e6e2852bd31dc0b46e688d#diff-8fb18935c5447f1d9dc4900e72fe6bd7R14

A first step would be to publish the actual site in a specific location.

- We need to reuse the same deployment as much as possible. Currently O1 does a new Setup for every functional test which is really slow.
- We shoul

[2017-04-04 23:39] #551 closed

[2017-04-05 05:56] zhhbo opened #659 "when i create a content of Page ,I meet the Problem below"
URL:http://localhost:2918/Admin/Contents/ContentTypes/Page/Create
An unhandled exception occurred while processing the request.

MySqlException: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[IndexingTask] where [ContentItemId] in ('4ymg18j5skrahttgsy7nghawc8')' at line 1
MySql.Data.Serialization.PayloadData.T

[2017-04-05 06:07] zhhbo commented on #512
https://github.com/OrchardCMS/Orchard2/pull/660
 I do it but there are some bugs in AdminMenu and route,I hav'nt found the method to solve them

[2017-04-05 06:40] psp589 opened #661 "why do we need to use brackets for ifs with one line?"
I see the code clearer and cleaner removing brackets when there is no need of them

[2017-04-05 14:50] justgfather opened #663 "Menu levels stops to 6"
There seems to be a limit in the UI that only allows for 6 levels of depth in the menu, this is a problem for the breadcrumbs of my website. Can someone help.
![orchard levels limit](https://cloud.githubusercontent.com/assets/22310057/24711328/9f4b60ba-19ed-11e7-9559-08b3e4a85497.PNG)

[2017-04-05 18:44] sebastienros commented on #663
Did you mean to create this issue here: https://github.com/OrchardCMS/Orchard ?

[2017-04-05 18:44] #663 closed

[2017-04-05 22:08] sebastienros commented on #512
I don't think it fits in our scope. I would suggest to keep this module separate from the main repository.

But I'd gladly accept a PR to fix the Lucene bug if you want to.

[2017-04-05 22:08] #512 closed

[2017-04-06 02:43] sebastienros opened #667 "Fix ResourceManagement version"
Use VersionPrefix instead of Version

[2017-04-06 02:50] sebastienros opened #668 "VersionPrefix breaks dependencies"
Some package must be referencing others using the specific 2.0.0 version, so when we have VersionPrefix=preview it can't resolve them when restore.

Repro:
package everything
try to restore OrchardCore.Cms

Result:
[code]

[2017-04-06 03:01] sebastienros commented on #668
Actually it my just be because I remove the old 2.0.0 version from the feed, will try again

[2017-04-06 03:01] #668 closed

[2017-04-06 13:23] #540 closed

[2017-04-06 13:56] yiji opened #669 "can't receive xhr post request"
i develop a module，want add some web api，when i use postmman test my api，i found when request a get method ，api respone success，when request a post method ，response http 400 bad request。

[2017-04-06 14:06] Jetski5822 commented on #658
Specflow isent donet core compliant, and I tried using it this week with a project and it just doesnt work.

I would like to see the use of something like Browser Monkey https://github.com/featurist/browser-monkey - Super quick and nice dsl.

[2017-04-06 14:22] sebastienros commented on #669
You probably need to add [IngoreAntiForgeryToken] to your controller/action. It's on by default in Orchard

[2017-04-06 15:10] yiji commented on #669
it's ok,thank uou

[2017-04-06 15:11] #669 closed

[2017-04-06 15:45] #423 closed

[2017-04-06 16:18] dodyg opened #670 "Crash at setup"
I fill up the setup screen and press the button. I built it based on the latest commit.

On Windows 10

[code]

[2017-04-06 18:23] sebastienros commented on #670
Are you sure you are on the latest as now? I tried this morning several times and it worked great.
If you can still repro I will take a look at how it could fail. It's something I added yesterday and I might have broken something in a specific context.

Which Recipe are you using? Which database?

[2017-04-06 19:16] matiasmolleja opened #671 "Widget position does not change when contentitem has draft"
Hi,
Repro steps:
1. Create two paragraph widgets titled "a" and "b".
2. Edit "b", change title to "bDrafted". Then "bdrafted" appears as the title of content item "b" in the layers admin.
3. Change position of "bDrafted".
4. Go to frontend. The frontend does not reflect the change we did in admin.

[2017-04-06 19:57] sebastienros commented on #671
They are drafts, I assume that's expected. (in this case)
I am not sure how/when they are ordered.

[2017-04-06 20:43] matiasmolleja commented on #671
Yes, I think it is expected when the content item is only a draft before being published.
But not if it is a content item already published to wich the user adds a draft, as a work in progress.

[2017-04-06 20:49] sebastienros commented on #671
I see, what you mean is when you move things around it's live, but if the content item has a draft you are actually moving the draft. I can't imagine any scenario that would be perfect here. Or that when we move a published item it creates a draft automatically.

[2017-04-06 20:49] matiasmolleja commented on #671
In the Index action of AdminController of Layers Module, the widgets are retrieved through this line:
`var widgets = await _layerService.GetLayerWidgetsAsync(c => (c.Latest== true);`

I think we should get:
1. All published items (with or without a draft created).
2. All content items that have only a draft (never published).

[2017-04-06 20:50] matiasmolleja commented on #671
But I don't know how to do that without adding a few lines of really ugly code :)

[2017-04-06 20:51] matiasmolleja commented on #671
That way a user can change position of the currently published items.
And he can too change position of items that are only drafts and he plan to release then in the future.

[2017-04-06 20:57] sebastienros commented on #671
That would mean the same content item would appear twice, and publishing a draft would overwrite the changed location of the published item. Maybe a message or some other way to apply the position change to the published item would be better. So when you move an item which has a draft, we could have another action to apply it on the published version too.

[2017-04-07 08:24] #248 closed

[2017-04-07 08:45] Jetski5822 commented on #670
Just tried it with the Content Management recipe and DB as SQLite...

@dodyg can you give me any more details to repro?

[2017-04-07 12:02] dodyg commented on #670
I pulled the latest changes just now (a131c5102091edcb9719bfb8e0ec93befc4e2755) and now it works.

The setup was SQL Server 2014 + Blog Recipe.

[2017-04-07 12:15] #670 closed

[2017-04-07 22:00] matiasmolleja commented on #671
Yes, but I don't like the idea of having the same content item appearing twice. It is confusing for an end user that does not need to know anything about a content item having two separate versions.
After thinking about this, what you already had was OK, with the only exception that changes in a content item published+drafted were not reflected on the frontend.
I made I PR following in part what y

[2017-04-07 22:06] sebastienros commented on #671
So you are applying the value to the published version by default. I assume that's ok as this is what we do if  there are no drafts anyhow.

[2017-04-07 22:17] #671 closed

[2017-04-09 07:56] matiasmolleja opened #683 "Layers: Widget Position Stored as NaN"
Hi,
The issue occurs when CurrentCulture displays decimals as ",". For example spanish.
Then the javascript Number function returns Nan when the operations to calculate widget position are done.

[2017-04-09 08:25] matiasmolleja commented on #683
I made a PR #684

[2017-04-10 09:28] lszomoru opened #688 "Modules - tenant specific settings"
I just watched [Sébastien's video](https://channel9.msdn.com/Shows/On-NET/Sbastien-Ros-Modular-ASPNET-apps) and I would like to take advantage of the modularity and multi-tenancy in my own ASP.NET Core application. Based on the presentation, the settings that are specific to a tenant should be placed in the tenants.json file. Does that file support strongly types settings, or only key, value (stri

[2017-04-10 13:10] agriffard commented on #652
See #686 for dotnet watch.cmd sample

[2017-04-10 13:19] agriffard commented on #80
Closing it for the moment.
Let's continue on other specific threads like #149, #468, ...

[2017-04-10 13:19] #80 closed

[2017-04-10 13:24] agriffard commented on #661
http://peterkellner.net/2009/10/19/codingstandards-csharp-braces/

[2017-04-10 13:35] agriffard commented on #307
@Piedone When the possibility to choose an analyser is done in O1, it would be interesting to have it in O2.

[2017-04-10 13:37] agriffard commented on #446
Do we make the same kind of feature for gzip compression that has been done for Response caching?

[2017-04-10 13:46] Piedone commented on #307
It's done in O1, up in 1.10.x.

[2017-04-10 13:55] agriffard commented on #417
This is a great idea.
Let's try to add a first example, while we develop the content fields.

Goals :
We want to be able to provide some technical and some user documentation that will help to extend or use the features.

Steps:
At the root of the module, we add information in Readme.md
Add a docs folder.
Add other .md files, e.g: one file by type of field.
Add pictures : screenshots of admin scre

[2017-04-10 13:57] agriffard commented on #417
For the generation of an Api reference based on code comments, may be we could take a look at DocFx, that is used for the ASP.NET docs.

[2017-04-10 14:07] agriffard commented on #468
As a example, I really like this admin theme:
http://themes-lab.com/make/admin/layout1/dashboard.html

It also has a theme builder that shows the available features:
http://themes-lab.com/make/admin-builder/index.html

So, here are some options I would like have or to be able to configure in the admin:
Sidebar
	Change size with collapse button : large, icons
	Content: Top (search, user), Widgets

[2017-04-10 14:10] agriffard commented on #380
Closing. Will try to make a POC on Documentation as a feature.

[2017-04-10 14:10] #380 closed

[2017-04-10 14:12] agriffard commented on #352
Closing. Will create specific issues by field.

[2017-04-10 14:12] #352 closed

[2017-04-10 14:19] #523 closed

[2017-04-10 15:23] agriffard opened #689 "Boolean field: add Bootstrap Toogle editor"
Add Bootstrap Toogle editor to Boolean field:
http://www.bootstraptoggle.com/

[2017-04-10 15:51] matiasmolleja commented on #468
I like the VS Code side bar.
A few buttons covering the most comon tasks that an user would  want to do. That way we avoid having a too long list of links.
Clic one button,  menu  expand. Clic again, menu colapses.
And for the sidebar maybe we can do more than simply display a tree of links. I mean, maybe a module can inject a shape that shows a miniform like the search menu in VS Code?
Or are the

[2017-04-10 15:56] matiasmolleja commented on #468
If you think it can be useful, I can quickly draw some photoshop sketches that can be used to talk about. Just to have something visible that ensures we are all on the same page

[2017-04-10 23:11] #483 closed

[2017-04-11 00:23] zhhbo opened #691 "Discuss the changes to IThemeSelector"
The original interface can only get the template selection result, I think it should give the template settings method the interface and indicate whether the current selector supports template settings. If we give selector a name attribute, you can manage it at orchard.Themes / admin / index (enable, set, replace). so I made a pr 680

[2017-04-11 00:27] zhhbo commented on #691
https://github.com/OrchardCMS/Orchard2/pull/680

[2017-04-11 06:37] psp589 commented on #661
@agriffard Thank you for your answer, I think the good reason is when the code grows and you need to add more lines to an if .. (I mean, to avoid the bug there because the code then will need to be between brackes then)
For me that does not worth the styling.

[2017-04-11 07:07] #661 closed

[2017-04-11 11:31] vivekmishra-sft opened #692 "Unable to build and run Orchard2 on my Windows 10 machine."
I followed the "Getting started" guide on the project page and checked out the master branch. Now when I tried to run **dotnet restore** command, it is giving me error like this:

What should be done to build and successfully run Orchard2 project.
Thanks

[2017-04-11 11:34] #692 closed

[2017-04-11 12:10] agriffard commented on #350
In order to migrate my existing blog, I will try to generate the json data to include in a recipe to import (during the setup, because for for he moment, there is no import page) the existing blog and blogpost.

One way to achieve this would be to create a Migration module in O1 that allows to export the data by serializing them in json.

[2017-04-11 16:48] #683 closed

[2017-04-11 18:02] lukaskabrt commented on #689
It would be nice, if texts for On/Off states are configurable in the field settings.

[2017-04-11 18:31] sebastienros commented on #689
Side note, I assume some editors might also require some configuration that is not part of the field settings. Maybe we should implement a way for editor to have settings, and store it alongside the editor name setting of the field instance. It should work the same way as any other driver based component.

[2017-04-14 08:19] jersiovic commented on #278
Fixed at https://github.com/OrchardCMS/Orchard2/pull/695

[2017-04-14 08:19] #278 closed

[2017-04-15 02:38] dwschreyer opened #696 "TagHelpers defined in an external assembly do not work with AsModule projects."
I attempted a project as per the demo by [Sébastian Ros on On.NET](https://channel9.msdn.com/Shows/On-NET/Sbastien-Ros-Modular-ASPNET-apps). Great demo and works well.

However, it seems that when TagHelpers are defined in an external assembly they do not work with AsModule projects. If the TagHelper is defined in the AsModule project it works fine.

My objective is to allow the TagHelpers to be s

[2017-04-15 07:20] jtkech commented on #696
In an mvc app, through the ApplicationPartManager, each assembly can provide mvc features if they define types of `IApplicationFeatureProvider<TFeature>`. E.g ViewComponentFeature, ControllerFeature, ViewsFeature, TagHelperFeature...

In our modular app, each tenant (you have at least one "Default" tenant) is a kind of a separate mvc app which manages its own ApplicationPartManager. But here we on

[2017-04-15 08:05] dwschreyer commented on #696
Thanks for the explanation.

I have updated my sample project to implement my understanding of your suggestion by introducing another project called ExMClTagHelpers which references OrchardCore.AsModule. In turn Module1 references that project.

However, this does not work.

I have also tried other combinations which includes OrchModuleTagHelperIssue.Portal referencing ExMClTagHelpers. This did no

[2017-04-15 12:57] Jetski5822 commented on #696
@dwschreyer hey man, just cloned your repo.... Its doesnt restore... :(

But no worries, I will get it working!!!! Give me 30.

[2017-04-15 12:59] Jetski5822 opened #697 "Someones published all of Orchard 2 to Nuget"
Guys.....

https://www.nuget.org/packages/OrchardCore.AsModule

@sebastienros @bleroy thoughts?

[2017-04-15 13:09] Jetski5822 commented on #696
It would appear, that someone has taken all the Orchard code and put it on Nuget.... :/

[2017-04-15 13:35] Jetski5822 commented on #696
@jtkech yeah this is a mistake, we should be pulling in all packages that reference MVC... I thought we were doing this???? or at least the code I originally wrote did this. Do you want to fix it?

@dwschreyer sorry about this man, it seems someone has published all the packages on nuget - once we update and fix the bug, the code will be available here:

We wernt planning to release to Nuget until

[2017-04-15 14:53] jtkech commented on #696
Oh yes, when i do some tests in our solution, i pack modules and put them in a local feed. In your case you need a Nuget.config file (see in our repo for an example) and need to use this feed:

    <add key="SomeKeyName" value="https://www.myget.org/F/orchardcore-preview/api/v3/index.json" />

@Jetski5822 yes, no problem, first i will test these scenarios asap in our solution by using project refe

[2017-04-15 16:52] sebastienros commented on #696
We stopped doing this because we were doing this to load the ShellBluePrint and it was fully transitive which means it was thousands of types, for nothing. We decided to only use the modules, and move the tag helpers to these modules. Also we are not registering the whole assemblies because it would expose controllers that are not part of the enabled features.

I can't think of another type than T

[2017-04-15 18:37] dwschreyer commented on #696
Thanks for the quick turn around time on this issue - much appreciated.

@jtkech I have added the NuGet.config to my solution and updated the packages - *TagHelper still not working*.

Also did the following:

- Removed the experimental ExMClTagHelpers project.
- IServiceCollection functions as expected.
- Created a base controller in the ClTagHelpers project and that works for the module too.

I

[2017-04-15 19:30] jtkech commented on #696
@dwschreyer just forked your repo and i got it working.

- I've create a `Nuget.config` file with the mentioned feed.
- I needed to replace in your *.csproj `Version="2.0.0-preview"` with `Version="2.0.0-preview-*"`. Then restart VS, restore packages ...
- Then in your `_ViewImports.cshtml` i just keep `@addTagHelper *, Module1`.
- Then in your Module1, as one of the suggestion, i've defined 2 oth

[2017-04-15 19:38] dwschreyer commented on #696
@jtkech I did consider doing the wrapper. However, that is a less than optimal solution don't you think? For example, if we wanted to use Telerik controls in our modules, we would have to create this wrapper for each TagHelper in the library.

[2017-04-15 19:50] jtkech commented on #696
Yes, i understand, let me think about this.

Note: i can't push my change on your repo, forgot to fork it before. Let me know if you want to repro what i did, then i could re-do it on my own copy. I can also copy / paste here some simple changes i made.

[2017-04-15 19:52] dwschreyer commented on #696
I added the wrapper version to my project and did the other updates. All updated.

[2017-04-15 20:09] jtkech commented on #696
So, @sebastienros i remember a version i made in a PR where we were discovering assembly parts as mvc do but still filtering on enabled extension features ... But i agree, there was unnecessary types, not thousands but still 2 or 3 times more than currently.

So, the implicit option already there is that the assembly reference a primary mvc assembly. But we want to limit this to TagHelpers, and i

[2017-04-15 20:22] jtkech commented on #696
@dwschreyer just seen your updates.

In your Nuget.config you can remove the feed `Orchard2`, but you need this feed:

    <add key="OrchardCore" value="https://www.myget.org/F/orchardcore-preview/api/v3/index.json" />

Best.

[2017-04-15 20:28] dwschreyer commented on #696
Thanks for the update.

Removed Orchard2 from NuGet.config in my solution.

Is there something you would like me to look at?

[2017-04-15 20:38] jtkech commented on #696
And don't forget to add the above feed to be able to restore your packages. Then you can try the wrapped version on your side, but it's as you want.

Otherwise, nothing else at this time, i will try to implement something that allows to import easily external types without having to parse all the dependencies, without to define many wrapped classes ...

[2017-04-15 20:56] dwschreyer commented on #696
OK.

I believe my solution is up to date at the moment.

Question: Does this issue imply that I won't be able to use third-party controls (Telerik, etc) that rely on TagHelpers in the Orchard2 CMS?

[2017-04-15 21:08] jtkech commented on #696
Not necessarily, but we need to think more about this, we will let you know.

[2017-04-15 21:38] sebastienros commented on #696
Can we register another application part from the web app, or from a module. In this case a module or the main app could add an AssemblyPart that contains tag helpers.
If we need the ApplicationBuilder from the AddMvc call, then we really need to expose it somehow because I have already had an issue with this one the way it's not accessible from modules.

[2017-04-15 22:05] jtkech commented on #696
Yes, i will think about this.

Maybe in the `ConfigureServices()` of a module. Here i think you can resolve `ApplicationPartManger` which has been registered as a "shell" singleton by the `Orchard.Mvc` module, and then add an AssemblyPart. This through an extension method to do it easily.

[2017-04-15 22:11] jtkech commented on #696
But just seen that for each module, `ConfigureServices()` is called with a new empty service collection ...

[2017-04-16 04:02] dwschreyer commented on #696
I observed that behavior when I did my sample. My first thought was that this is by design as it would give the module isolation of its own required dependencies. Are you suggesting that this should not be the case? If you are, how would you achieve isolation for the module to resolve dependencies?

[2017-04-16 15:01] jtkech commented on #696
We want shell / tenant isolation, but you're right, somewhere else we separate services by module features. So, here we would need to also pass the tenant services collection to `ConfigureServices()` ...

Another solution would be that modules could register some kind of application part / types providers. Then in our custom `ShellFeatureApplicationPart` we could resolve them and add their types.

[2017-04-16 16:32] sebastienros commented on #696
Maybe add a TagHelperDescriptorProvider (don't recall the name exactly) so TagHelpers can be registered with DI.

[2017-04-16 18:06] jtkech commented on #696
Yes, if we want to limit it to TagHelpers, i will take a look on this.

Just for infos, in the @dwschreyer project, in the Module1 `Startup.Configure()`, i've tried the following that works. So, we could have an extension method to add an application part by providing a type, or maybe better just by providing the name of the assembly.

    using System.Reflection;
    ...
    using Microsoft.AspNe

[2017-04-16 18:46] sebastienros commented on #696
It's weird that it works ... or maybe it works for tag helpers but would not for other things, AFAIK the ApplicationParts is not using DI (but a builder) because it's used to gather data before the container is configured. I might be wrong.

But if it works as you are showing then this issue is closed, this is the way to register tag helpers coming from specific assemblies. We'll need to warn that

[2017-04-16 19:09] Jetski5822 commented on #696
It would still have tenant isolation... as MVC is on the tenant level....

Could we not have something like this?

.AddSatelliteAssemblyTagHelpers()

This would look at the direct references on that assembly for all references to the ASPNet tag helpers dll, then register that assembly is an applicationpart?

I dunno, something thats cleaner and of more help.

[2017-04-16 20:09] jtkech commented on #696
I've put break points to see executing order

- Module ConfigureServices() => AddMvcCore() is done
- Module Configure() => Where we add an app part in our sample
- ShellFeatureApplicationPart Types are requested

There already are `IApplicationFeatureProvider<TFeature>` in `ApplicationManager.Features` and `PopulateFeature()` is called on them to lookup all `ApplicationParts` ... In the case of a

[2017-04-16 20:44] dwschreyer commented on #696
@jtkech this is a great solution and makes total sense. Good work!

[2017-04-16 21:43] jtkech commented on #696
@dwschreyer thanks

@Jetski5822 you're right the external assembly has a direct reference on `TagHelper` and only if it defines a class which inherits from `TagHelper`.

But we still need to provide to `AddSatelliteAssemblyTagHelpers(SomeName)` e.g an assembly name parameter. This because when `Module1` references an external assembly, but uses it only in `_ViewImports.cshtml` with `@addTagHelper

[2017-04-16 22:50] dwschreyer commented on #696
Updated my project and all is working great. Fantastic!

[2017-04-16 23:06] jtkech commented on #696
@dwschreyer cool!!!

So, it also works by doing exactly the same as in my previous solution where we add an `Assemblypart`, but by using a very simple custom `TagHelperAssemblyPart` (see below) in place of a regular `AssemblyPart`. Then we only provide additional types which inherit from `Taghelper`.

    public class TagHelperAssemblyPart : ApplicationPart, IApplicationPartTypeProvider
    {

[2017-04-17 03:19] jtkech commented on #696
Without reconsidering the above solution, here just some other findings.

@sebastienros, not always (see below) but `ApplicationPartManager` is used by special services, this when they are instanciated (e.g `DefaultCompilerCacheProvider`) or through an interface method when needed. I think that's why we can add later application parts.

But I also seen some extensions which add features as service

[2017-04-17 15:21] sebastienros commented on #696
@jtkech I assume you create a custom `ApplicationPart` because you don't want to import a full assembly or use `AssemblyPart`. I assume that can't hurt, even if it's not something we must do.

Just add this one then and close the issue.
And at the same time, please move the resource tag helpers back in the ResourceManagement project and add the TagHelperAssemblyPart in the module. The namespaces w

[2017-04-17 21:14] jtkech commented on #696
Ok, i will do a PR which will close this issue.

Maybe the longer part will be to move back tag helpers. As i remember there were also tag helpers in `Orchard.ContentManagement.Display`. I also remember that you created the `BaseShapeTagHelper` when you moved tag helpers. Maybe we could keep this class ...

---
For infos, above i said that `TagHelperFeatureProvider` was missing, this is true when

[2017-04-18 01:55] petedavis opened #700 "Abstractions of Events look more like abstractions of event handlers"
After listening to the latest podcast I had a look into the events hand how are implemented in Orchard Core and they feel backwards. I understand the desire for a type safe implementation.

It feels like the events are not being abstracted, but the contracts for all the handlers. And if you create a module that wants to handle an event, you are actually implementing the handler contract and then y

[2017-04-18 07:20] kerryjiang opened #702 "Build in command line is broken"
I got a lot of errors like below:

/Users/xxx/yyy/orchard/master/src/OrchardCore/OrchardCore.AsModule/OrchardCore.AsModule.props(26,5): error MSB3021: Unable to copy file "Module.txt" to "/OrchardCorePackages/Orchard.Tenants/Module.txt". Access to the path '/OrchardCorePackages/Orchard.Tenants' is denied. [/Users/xxx/yyy/orchard/master/src/OrchardCore.Modules/Orchard.Tenants/Orchard.Tenants.csproj

[2017-04-18 12:15] dazinator commented on #696
Just commenting on the off chance that may be interested in a way to implement `addTagHelper` directives that support globbing on the assembly name too, not just the type name. i.e:

`@addTagHelper "*, Plugin.*"`

or

`@addTagHelper "*, *"`

This allows you to import all tag helpers, from a range of assemblies.
[Info here](http://darrelltunnell.net/blog/2016/07/25/aspnet-core-taghelper-s-a-better-

[2017-04-18 15:04] abomadi opened #704 "Migration Questions"
Hello,

I just wana ask if you guys will be providing a tool to migrate from O1 to O2 in the future ?

Thanks

[2017-04-18 15:14] sebastienros commented on #702
It's because you are on a mac, that explains.
We will fix it, in the meantime please define an environment variable named Temp that points to a temporary folder. On Windows it's the local user's one.

[2017-04-18 15:14] sebastienros commented on #702
I assume we need to ensure the same solution is applied on Linux.

[2017-04-18 15:16] sebastienros commented on #696
@dazinator thanks, didn't know about it

[2017-04-18 15:21] agriffard commented on #704
Duplicate of #342

[2017-04-18 15:21] #704 closed

[2017-04-18 19:39] jtkech commented on #702
I will try to get rid of the Temp folder.

[2017-04-18 20:41] #696 closed

[2017-04-18 20:49] agriffard commented on #689
See #705 : Bootstrap Switch Editor.

I would like to store additional settings fot the swicth and be able to edit them:
On and Off label

[2017-04-18 22:01] sebastienros commented on #696
@dazinator talked with the TagHelper devs and they don't recommend it as it will kill the Tooling performance. Everytime build is called it would reload all assemblies to intellisense can work.

[2017-04-19 06:11] kerryjiang opened #708 "Unable to find the required services"
My environment is
OS: osx Sierra 10.12.4
dotnet version: 1.0.1

The website can be started successfully, but when I visited http://localhost:5000, I got the error below:

fail: Microsoft.AspNetCore.Server.Kestrel[13]
      Connection id "0HL46T72TAFT2": An unhandled exception was thrown by the application.
System.InvalidOperationException: Unable to find the required services. Please add all the r

[2017-04-19 15:24] jtkech commented on #708
I assume you use the command line. Which command and from which folder? Because in your trace it seems that this is the `ModularTenantRouteBuilder.Build()` from `Microsoft.AspNetCore.Modules` which is used, not the one coming from `Orchard.Mvc.Core`.

Does it work if you use your own fix #703 ? I will take a look this night

[2017-04-19 16:17] kerryjiang commented on #708
Yes, I used "dotnet run" in the src\Orchard.Cms.Web to start the website.
The build was successfully with my fix.

Does the running website use the resources in the folder?
If yes, I have to tell the website where it is?

[2017-04-19 20:34] jtkech commented on #708
So, i think you mean that your fix also solves the building errors but doesn't solve this issue, right?

With your fix, i think modules assets are correctly stored in your temp folder. But, because the Temp folder is also used in `AsBundle.targets`, they are not copied under the main app directory.

This would explain that the startup of the `Orchard.Mvc` module is not executed and then that the c

[2017-04-19 22:05] sebastienros commented on #617
Done, it targets myget right now

[2017-04-19 22:05] #617 closed

[2017-04-19 23:37] sebastienros commented on #702
@kerryjiang would you mind testing the branch for this PR https://github.com/OrchardCMS/Orchard2/pull/707 to ensure it fixes your issues ? At least the build issues.

[2017-04-20 02:57] kerryjiang commented on #702
It works great!
Thank you guys!

[2017-04-20 02:57] #702 closed

[2017-04-20 03:05] kerryjiang commented on #708
Cool, thanks!
This has been fixed by your RP: https://github.com/OrchardCMS/Orchard2/pull/707

[2017-04-20 03:06] #708 closed

[2017-04-20 05:46] sebastienros opened #712 "Drafts are broken"
Tried to create a Blog post Draft, the draft is created but the content is the same as the published one.
Saving a Published version works.

@agriffard can you confirm?

[2017-04-20 06:24] sebastienros opened #713 "Resource TagHelpers don't work from packages"
I created a new web app and referenced the OrchardCore.Cms bundle package.
Typed AddOrchardCms and UseModules.

After Setup, the <resource> tag helpers are not rendered.

[2017-04-20 06:24] sebastienros commented on #713
/cc @jtkech

[2017-04-20 06:25] sebastienros opened #714 "dotnet publish doesn't copy App_Data"
More specifically it's not copying `Settings.txt`.
This is necessary.

@jtkech

[2017-04-20 08:24] agriffard commented on #697
We have to claim the packages ownership:
http://blog.nuget.org/20170417/Package-identity-and-trust.html

[2017-04-20 13:36] agriffard commented on #712
I tested and I confirm that when you create a draft, if you edit the Body of the BodyPart is for example, a new version is added but with the previous BodyPart, without changes.

[2017-04-20 13:42] agriffard commented on #555
@lukaskabrt your fix added a new 'Published' column to the AutoroutePartIndex table so there was an error if as me, your instance has been created before this change.

It is ok because we are in Beta but next time, for that kind of change, please add an UpdateFrom1 function in Migrations.cs

[2017-04-20 15:36] sebastienros commented on #555
I told him to do. He had made a migration, but it was useless as the old values would not be populated.
I know I have to provide a way to mark as index as stale so that it gets rebuilt. I will provide it soon, probably when I work on projections which will need something similar.

[2017-04-20 15:37] agriffard opened #715 "Feature: Theme setup recipe"
May be I am a little too optimistic about the technical feasibility but here is the description of what I would love to be able to do when I install a theme:

- Allow to execute a 'setup' recipe in Theme.
	- Include parameterized steps in which you retrieve informations that are passed to execution.
- Create Content type and data.
	- Detect if Content type already exists.
- Enable dependent module

[2017-04-20 15:39] #555 closed

[2017-04-20 15:46] sebastienros commented on #715
Not crazy at all.
It's also related to the other issue I made to allow parameters in recipes. Two solutions:
- describe which properties we need from the recipe and let the setup build the ui
- provide a driver and shape template for the setup explicitly

Either way you can then run you own recipe that will take these parameters into account.
Also the Setup module exposes custom events that any mo

[2017-04-20 16:00] jtkech commented on #714
Just tried with `Orchard.Cms.Web`, it works on my side. But if you created a new web app, you need to add the following as in `Orchard.Cms.Web.csproj`. Because we decided to not use `App_Data` in `AsBundle.targets`, but can be changed if you want.

    <ItemGroup>
      <Compile Remove="App_Data\**" />
      <Content Remove="App_Data\**" />
      <EmbeddedResource Remove="App_Data\**" />
      <No

[2017-04-20 16:00] jtkech commented on #713
Just tried with our `Orchard.Cms.Web` app but by only referencing packages: `Orchard.Hosting.Console` and  `OrchardCore.Cms` packages from your feed.

And it works.

Can't right now, i will try it with a new web app this night.

[2017-04-20 16:43] sebastienros commented on #714
Ah you are right.
What is weird is that it copied some of the file, but now I remember.
So I will change my web app.

[2017-04-20 16:43] #714 closed

[2017-04-20 16:44] sebastienros commented on #713
ping me on skype plz

[2017-04-20 16:56] sebastienros commented on #713
Did you try from the package on the myget gallery?

[2017-04-20 16:57] #713 closed

[2017-04-20 17:28] jtkech commented on #713
Sorry, not closed to my pc, return back in 2 or 3 hours.
Yes i tried with the myget feed.
But just saw you closed the issue?

[2017-04-20 17:29] sebastienros commented on #713
yes, I trust you, I will check again, I changed the version of RM package and cleared my nuget cache

[2017-04-20 17:39] sebastienros commented on #714
Actually for the OrchardCore.Cms bundle it would make sense to have it.
And also probably define the variable that sets which files will be copied that are specific to Orchard.
Not important for now.

[2017-04-20 18:34] dazinator commented on #696
@sebastienros - Just wanted to add some clarification because it sounds like you are talking about tooling performance at design time (i.e intellisense etc).. Not sure who you spoke too, but AFAIK this globbing pattern will not work at all at design time - as globbing on the assembly name portion of an `addTagHelper` directive isn't supported by the design time tooling at all - probably for that v

[2017-04-20 19:02] #697 closed

[2017-04-20 21:17] jtkech commented on #714
If you agree, in `AsBundle.targets` we could just also include `App_Data\Sites\**`.

[2017-04-20 21:23] jersiovic opened #716 "Provide generic classes for providing a driver and shape template for an entity class"
After spent time working on a PR for developing this feature https://github.com/OrchardCMS/Orchard2/issues/495#issuecomment-272035823 using a simple approach I find limitations of that approach.
Talking with @sebastienros he pointed we can provide a driver and shape template for the setup explicitly. As he also has commented today here https://github.com/OrchardCMS/Orchard2/issues/715#issuecomment

[2017-04-20 21:31] sebastienros commented on #712
The repro is to have an autoroute part with a pattern, for instance `{{slug}}` and to allow custom permalinks, then when editing an already published item, it the permalink is empty it will regenerate it. If it regenerates then the body is correctly taken in the draft, if it's not empty the body is not stored.

The body part is correctly bound to the model, but somehow not saved. Everything else w

[2017-04-20 21:33] jersiovic commented on #495
Just in case anyone is waiting this feature soon. I inform you I'm going to close the PR I started to work on it because what I was attempting is not a good approach. More info on this can be found on this related issue I've just created https://github.com/OrchardCMS/Orchard2/issues/716
The point is due to agenda constraints I don't know when I will have time to work on this issue or the new I've

[2017-04-20 21:37] sebastienros commented on #714
Not AsBundle, it's just for the Orchard.Cms

[2017-04-20 21:44] jersiovic commented on #715
I think the driver and shape template approach is better cause it is more powerful than let setup build the ui and neither require any extra knowledge to use it nor having to develop and maintain specific code for every new parameter type we need.
@agriffard this approach https://github.com/OrchardCMS/Orchard2/issues/716 pointed by @sebastienros maybe is the most sensible for implementing it.
Rela

[2017-04-20 21:45] lukaskabrt commented on #712
It seems, there isn't any call to `ISession.Save` when saving the draft.

If user saves & publishes a content item, `IContentManager.PublishAsync` is called. It sets `Latest` propery on the original and on the new content item and saves them both.

If user saves a draf, there is no call to `ISession.Save` after the content item is updated with posted data (`await _contentItemDisplayManager.UpdateE

[2017-04-20 21:47] sebastienros commented on #712
There is a call to Save, but as you mention, before the content is updated. Which could mean that if a query comes previously, it will be saved before it's modified. I will try to add a save after the changes. We really need you on this project ;)

[2017-04-20 21:57] jtkech commented on #714
Ah, ok, will do it

[2017-04-23 08:21] infofromca opened #720 "can not pass build for Orchard.Cms.Web"
win 10
vs 2017 community
![duplicate](https://cloud.githubusercontent.com/assets/297675/25312027/5f9e403e-27dc-11e7-8279-d2fa434aa5b4.png)

[2017-04-24 11:40] nigel-dewar opened #722 "Question: Is there any OrchardCMS / IdentityServer3 or 4 implementations around?"
Hi Guys,

Is it possible to implement Orchard CMS with IdentityServer 3 or 4? And if so, is there any samples one can reference?

Cheers

[2017-04-24 12:07] alexbocharov commented on #722
Orchard CMS or Orchard 2 (OrchardCore.Cms)?

[2017-04-24 12:09] nigel-dewar commented on #722
Hi Thanks for your reply,

Either one. Id assume if possible then Orchard CMS would likely go with identityserver3 and Orchard 2 would likely go with IdentityServer4 (my assumptions)

[2017-04-24 12:17] alexbocharov commented on #722
Orchard 2 is supports [OpenIddict](https://github.com/openiddict/openiddict-core)([Orchard.OpenId](https://github.com/OrchardCMS/Orchard2/tree/master/src/OrchardCore.Modules/Orchard.OpenId))

[2017-04-24 12:21] nigel-dewar commented on #722
Nice! Thanks for the info.

I'll have a good look into it. Cheers

[2017-04-24 15:51] agriffard commented on #417
As a POC, I tried to create a documentation using mkdocs and it seems really easy.
I just added a mdocs.yml, add some pages from the already existing README.md and configured some extensions and a material theme,

The result is really nice.
It could be hosted with github pages (orchardcms.github.io/orchard2/...).

![image](https://cloud.githubusercontent.com/assets/703248/25345971/a0b04f64-2916-11

[2017-04-25 06:44] zhhbo opened #723 "Rebuilding the index takes a long time to wait"
Reconstruction of the index need to wait too long, can take some optimization measures

[2017-04-25 06:47] zhhbo commented on #723
I'm sorry, wrong place should O1

[2017-04-25 06:48] #723 closed

[2017-04-25 13:36] Jetski5822 opened #724 "remove PackageTargetFallback"
Need to remove this:

and rely on netstandard

[2017-04-26 07:51] yiji opened #725 "when users has more than 10,Users pager throw exception"
There is a syntax error near 'OFFSET'. The use of option FIRST in the FETCH statement is invalid
var results = await users
                .Skip(pager.GetStartIndex())
               .Take(pager.PageSize)
                .List();

[2017-04-26 15:29] sebastienros commented on #725
Which database are you using?

[2017-04-27 01:23] yiji commented on #725
SQLSERVER 2008 R2

[2017-04-27 07:18] yiji opened #726 "Orchard.OpenId, Use Jwt ,has get token but authorize doesn't work"
i want to use openid module create jwt token , to visited protected resource. i has config module below
![default](https://cloud.githubusercontent.com/assets/6138770/25471692/c896959c-2b5a-11e7-8069-0e8b0a9c8f72.png)

![default](https://cloud.githubusercontent.com/assets/6138770/25471794/3404d1b8-2b5b-11e7-9466-48e030c2366c.png)

I have get access token, but authorize doesn't work,redirection to l

[2017-04-27 13:29] infofromca opened #727 "add client side openid module for login"
Transfer client side openid login to orchard 2.
@ThaerAlAjlouni : will you do that?

[2017-04-27 15:46] jersiovic commented on #726
You are requesting contentitem with id=1 Are you sure is there a content ítem with id=1?
Have you tried to log in as admin user through a browser and access that url http://localhost:2918/Orchard.Demo/ContentApi/GetAuthorizedById/1 from the browser?

If you get a not found result then problem is no authorization, problem is you are accesing a resource that doesn't exist.

[2017-04-27 15:48] jersiovic commented on #726
Related to userinfo request. As you showed on first screenshot, it looks you forgot to Enable User Info Endpoint.

[2017-04-27 15:59] jersiovic commented on #726
I close the issue. Feel free to reopen the issue if I'm wrong on the cause of your problems

[2017-04-27 16:11] #722 closed

[2017-04-28 01:39] yiji commented on #726
I open url http://localhost:2918/Orchard.Demo/ContentApi/GetAuthorizedById/1  in the broswer，the resource doesn‘t exist，but it can go into “GetAuthorizedById” action。when i use jwt authorization，can't go into “GetAuthorizedById” action，I did not pass the authorization，redirect to login。
I add request header Authorization between Bearer and token has a  space is that wrong？

[2017-04-28 05:02] jersiovic commented on #726
I miss some scope baluew in your token request. Use the recommended values for scope that are shown in the openid application form, under Allow Passwod Flow. I added there recommended parameters for current configuration.

[2017-04-28 05:34] yiji commented on #726
@jersiovic ![default](https://cloud.githubusercontent.com/assets/6138770/25515407/f85257d2-2c16-11e7-8b28-92cc0c981eec.png)
 I have tried
openid, profile, roles, offline_access
openid
profile
roles
offline_access
still doesn't work

[2017-04-28 06:16] jersiovic commented on #726
The role used by the user has Permissions.DemoAPIAccess enabled?

[2017-04-28 06:37] jersiovic commented on #726
I've tested it configuring a site from scratch and it works for me. Can you request a token for admin user? Does it work with that token?

[2017-04-28 07:18] yiji commented on #726
![default](https://cloud.githubusercontent.com/assets/6138770/25518353/fc792336-2c25-11e7-87cf-dc2bf763b948.png)

host is administrator
can you show me your configration?

[2017-04-28 13:21] jersiovic commented on #726
![image](https://cloud.githubusercontent.com/assets/4950766/25530241/e74c4542-2c25-11e7-88d6-59f599293e39.png)
![image](https://cloud.githubusercontent.com/assets/4950766/25530276/08205f7e-2c26-11e7-9bee-a1e93ec345c3.png)
![image](https://cloud.githubusercontent.com/assets/4950766/25530328/2c990fea-2c26-11e7-85e0-303e6ec086f6.png)
![image](https://cloud.githubusercontent.com/assets/4950766/2553035

[2017-04-28 13:23] jersiovic commented on #726
After changing general openid settings you need to restart orchard. Did you restarted it?

[2017-04-28 13:26] jersiovic commented on #726
You can also set Nlog logging level to Debug in NLog.config to get more info about what can be happening.

[2017-04-29 00:33] sebastienros opened #728 "Indexing fails with SqLite"
SQL error near "100", see logs

[2017-04-29 01:43] yiji commented on #726
[orchard-log-2017-04-29.txt](https://github.com/OrchardCMS/Orchard2/files/965818/orchard-log-2017-04-29.txt)
this is my NLog, i has rebuild Orchard.Cms.Web csproj taht equal restart orchard

[2017-04-29 07:23] jersiovic commented on #726
This line at log seems to explain what is causing your problem:
`Microsoft.IdentityModel.Tokens.SecurityTokenInvalidAudienceException: IDX10214: Audience validation failed. Audiences: 'empty'. Did not match: validationParameters.ValidAudience: 'null' or validationParameters.ValidAudiences: 'http://localhost:2918'`
The point is why? Can you check that there is not any blank space on audiences setti

[2017-04-29 07:32] jersiovic commented on #726
Remember to restart orchard after any change in audiences setting.

[2017-04-29 09:36] agriffard commented on #561
@sebastienros Can please merge the Orchard.Media Module branch?

I will try to make the MetaWeblogHandler to allow `supportsFileUpload`.

[2017-04-29 12:02] yiji commented on #726
I have set Audiences
![default](https://cloud.githubusercontent.com/assets/6138770/25555317/bdf1e44a-2d15-11e7-8e8a-5b62406469a9.png)

![default](https://cloud.githubusercontent.com/assets/6138770/25555325/f5e94dca-2d15-11e7-84c8-9086cae32a75.png)

![default](https://cloud.githubusercontent.com/assets/6138770/25555335/1b59db56-2d16-11e7-9d71-e00f108581ce.png)

**I search the error find [this](http

[2017-04-29 16:52] PinpointTownes commented on #726
The missing audience is likely caused by the fact you've added a space in the `resource` parameter (`resource [space]` != `resource`):

[code]

[2017-04-29 16:53] #726 closed

[2017-04-30 00:14] yiji commented on #726
yes,there is a space after resource request header,thank you,this is my fault.

[2017-04-30 01:13] jtkech opened #730 "Infos about updates on Auth, Identity, Cookies with AspnetCore 2.0"
@jersiovic @PinpointTownes just for infos.

Working on the razor-page branch we use an aspnetcore 2.0 preview version. When trying to use the last packages by using `2.0.0-preview*`, i saw some updates around `Identity, Cookies ...`, new services extensions ... I could do some updates but not all, just to be able to build and to do my tests.

Maybe you already know this, otherwise i think there ar

[2017-04-30 19:03] PinpointTownes commented on #730
@jtkech thanks for the heads-up.

Due to [the massive breaking changes in ASP.NET Core 2.0's authentication stack](https://github.com/aspnet/Security/issues/1179), all the authentication components written for 1.0/1.1 (including OpenIddict, ASOS and the OAuth2 extensions) no longer work and will have to be rewritten to use the new services.

Last week, I started porting ASOS (the OIDC framework be

[2017-04-30 23:09] jtkech commented on #730
Ok, i understand.

Sorry for the timeline, i don't know but my feeling is that we may use 2.0 soon because @sebastienros want to use the new Razor Pages, but this needs to be confirmed by him.

[2017-05-01 17:22] sebastienros commented on #730
We might start on preview2 (not before) unless some big pieces are still missing which will have us wait for closer to release.

[2017-05-01 17:59] sebastienros commented on #725
Maybe the dialect that is generated is only compatible with a more recent version. I need to think about a way to specify the dialect in the connection string then.

[2017-05-01 18:00] sebastienros commented on #725
Looks like the OFFSET keyword was introduced in SQL Server 2012

[2017-05-02 15:48] agriffard opened #733 "LinkEntry: type attribute is encoded"
If you enable XmlRpc and RemotePublishing, these metas are inserted but the type attribute is encoded so the `+` is rendered as `&#x2B;`:

[code]

[2017-05-02 18:39] sebastienros commented on #733
It still works, and it's the new default encoding behavior in ASP.NET, there is nothing we can do. Until someone famous on the internet complains. I am not famous enough yet to make this be changed.

[2017-05-02 18:39] #733 closed

[2017-05-02 22:18] agriffard commented on #417
I set up Github pages and deployed the doc site using this command:
`mkdocs gh-deploy` (http://www.mkdocs.org/user-guide/deploying-your-docs/)
and specifying the gh-pages in the Settings (https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/)

It is available here: http://orchardcms.github.io/Orchard2/

I don't really know how to configure it to be built automatically.

[2017-05-02 22:21] sebastienros commented on #417
If it's a command, we can include it in the CI scripts

[2017-05-03 03:09] PinpointTownes commented on #730
Sounds fine. We'll likely have nightly builds available at this period.

[2017-05-03 03:11] PinpointTownes commented on #730
On a related note, we'll have to come up with a better automatic authentication strategy when moving to 2.0, as this feature - the way the knew it - was removed.

[2017-05-03 03:58] yiji opened #736 "How to use localization"
I want to localize some error message in  Orchard.Users.Services，I don't know where to place the localization resource file and also do not know how to name the localization resource file.

[2017-05-03 15:45] jtkech commented on #736
@yiji Localization is still in the [roadmap](https://github.com/OrchardCMS/Orchard2/wiki/Roadmap). Some works are in progress in this [PR](https://github.com/OrchardCMS/Orchard2/pull/732#pullrequestreview-35661430).

As in Orchard 1, i think there will be `.po` files in specific folders according to the cultures ...

Best.

[2017-05-03 15:49] sebastienros commented on #730
What is that?

[2017-05-03 16:12] PinpointTownes commented on #730
A way to determine whether a given request should use cookie or token authentication, so that `HttpContext.User` is populated using the corresponding principal.

Currently, when both the users and OpenID modules are enabled, automatic authentication is enforced for both the cookies middleware and the JWT/validation middleware and we rely on the end user to decorate his/her API controllers with `[A

[2017-05-03 18:09] sebastienros commented on #730
NB: "his/her" -> "their"

[2017-05-03 18:55] PinpointTownes commented on #730
Nah, I think I'll take the risk of being accused of sexism and use just "his" :trollface:

On a more serious note, I added the `Orchard.Users` label as this module will also be impacted by these changes.

[2017-05-04 10:54] agriffard commented on #417
I made some changes to be able to build the docs on readthedocs.
It is available here: http://orchardcore.readthedocs.io/en/latest/

If we want to use RTD and a custom theme, we have to copy the theme files and specify `theme_dir` in mkdocs.yml

[2017-05-04 16:13] agriffard opened #737 "RSD endpoint returns 'Page not found'"
If you enable the RemotePublishing feature, this meta is added:
`<link href="http://localhost:2918/xmlrpc/metaweblog/4sycaf2c49s4kxdmm421jda0cs/rsd" rel="EditURI" title="RSD" type="application/rsd&#x2B;xml" />`

but the url returns a 'Page not found'.

I don't understand why the request doesn't enter in the Rsd method of the RemotePublishingController in Orchard.Lists because in the startup.cs, th

[2017-05-04 16:20] agriffard opened #738 "TrySaveStreamAsync doesn't create folder if not exist"
I added an `UploadMediaFile `in IMediaService and used this method to save a stream.

`_mediaFileStore.TrySaveStreamAsync(filePath, inputStream);`

But if the directory doesn't exist, there is nothing that creates the folder hierarchy.

[2017-05-04 17:25] sebastienros commented on #737
This controller is assigned to the Orchard.RemotePublishing feature, which is defined by another module.
This is not wrong (new feature in OC) but might have been broken at some point when we played with ShellFeatureApplicationPart.

This controller should be registered if the Orchard.RemotePublishing is enabled.

/cc @jtkech

[2017-05-04 17:26] sebastienros commented on #738
Why did you have to add something to IMediaService.

[2017-05-04 22:30] jtkech commented on #737
Here my findings.

- So, without `[Feature("Orchard.RemotePublishing")]` it works, otherwise it doesn't work.

- In `ModularApplicationModelProvider.OnProvidersExecuted()` there is this line.

      var controllerType = controller.ControllerType.AsType();
      var blueprint = _provider.GetFeatureForDependency(controllerType);
      if (blueprint != null)
      {
        controller.RouteValues.Add

[2017-05-04 23:35] jtkech commented on #737
So, i could get it working just by doing the 2 following changes.

- By using `areaName: "Orchard.XmlRpc"` for the map routing in `Orchard.Lists` startup.

- But also by using `area = "Orchard.XmlRpc"` to register the link in `ListPart.RemotePublishing.cshtml`.

Best

[2017-05-04 23:40] sebastienros commented on #737
For now that will do. This is a new feature with some very advanced scenario, I am ok with it.
Thanks @jtkech.

[2017-05-05 08:50] xperiandri opened #739 "If password contains minus, space or underline it stored incorrectly"
So that login then impossible

[2017-05-05 09:06] xperiandri opened #740 "How to make page as default?"
I initialized site as CMS.
Then I want to have just a single page without any menus.
I created page.
How to set it as default? To be open with no route specified

[2017-05-05 10:42] agriffard commented on #740
In the definition of the `Page `content type, go to the AutoroutePart settings and check 'Show homepage options'.
Then, edit your page and you will see a 'Set as homepage' checkbox.

[2017-05-05 17:40] xperiandri commented on #149
Is there any news about the work in this direction?

[2017-05-05 17:43] xperiandri commented on #234
Do you mean a sample of SPA client side on top of Orchard API?

[2017-05-05 17:46] sebastienros commented on #149
Because the admin is not built for a specific SPA framework, we'll keep it this way. I personally used Vue.js for the Media. Right now there is no reason to prevent another module from using anything else. And there is no required framework for any part of the admin (like navigation or routing).

[2017-05-05 17:46] #149 closed

[2017-05-05 17:46] sebastienros commented on #234
@xperiandri yes, that's the idea.

[2017-05-05 18:08] Jetski5822 commented on #234
+1

[2017-05-05 18:14] xperiandri commented on #234
When could it happen?

[2017-05-05 18:30] sebastienros commented on #234
First one to do it wins. Nobody is assigned to it yet. If you want to help that would be a nice way to help and also learn about the OpendID module

[2017-05-05 18:33] xperiandri commented on #234
OpenID is not a big deal.
I have no idea of how Orchard works and its API.
Do you have Swagger enabled?
So if someone can mentor me it will be more efficient.

[2017-05-06 20:03] jersiovic commented on #234
No, Swagger is not enabled, the point is as far as I know still there is not a generic Rest API for consuming/managing orchard contents and types. That topic IMO should have its own issue to discuss about it.
When I created this issue I was thinking on sth small as a point of start for anyone interested on using an SPA for consuming Orchard APIs based on authorization.
An start could be simply pro

[2017-05-07 06:47] jersiovic opened #742 "UnitOfWork pattern to reduce reads and writes to db caching and tracking changes in entities"
This issue is relate with this PR https://github.com/OrchardCMS/Orchard2/pull/741 that tries to fix this::
``... because handlers could do queries and / or updates, here session Save() are done as late as possible, after handlers, explicit queries .... This to prevent, as much as possible, from losing updates.``

In Orchard 2 we get rid of an ORM that was good because we get rid of its limitations

[2017-05-07 07:38] jersiovic commented on #742
Ups, I think I wake up with a mess in my brain this morning.
YesSQL implements the UoW what I'm not sure it does is the tracking and the caching

[2017-05-07 08:34] zhengxiaosong opened #743 "The configuration file 'Settings.txt' was not found"
Hello:
    I clone from the master branch and run it in my vscode(macOS sierra 10.12.4). After the first configuration, I stop and run it again, it raise an exception tell me the configuration file 'Settings.txt' was not found in "src/Orchard.Cms.Web/App_Data/Sites/Default/". I open the "src/Orchard.Cms.Web/App_Data/Sites/Default/" folder and found that there is only one file named "yessql.db" .
T

[2017-05-07 18:43] xperiandri commented on #727
What do you mean by that?

[2017-05-08 15:13] sebastienros commented on #727
@xperiandri there is a module in Orchard1 that support open id providers as external login providers. This is probably to suggest implementing the same thing in OC.

[2017-05-08 15:17] sebastienros commented on #743
It means the setup failed. Please share the Appl_Data/Logs file with us, then delete the app_data folder to start fresh.

[2017-05-08 15:21] sebastienros commented on #742
It only doesn't track changes. It was intentional as the code to handle this is not simple, necessitating dynamic proxies and deep object graph tracking (we store aggregate roots) and impacts your POCOs as they need to have virtual properties. I preferred to require explicit save.

[2017-05-08 15:41] jersiovic commented on #742
Ok I see, thank you

[2017-05-08 16:01] xperiandri commented on #727
And how is it configured now in Orchard2.
I see it uses OpeIddict, right?
is configuration of identity left for developer like in usual ASP.NET Core app?

[2017-05-08 16:22] jersiovic commented on #727
Take a look to this demo at the weekly meeting https://youtu.be/pjrbhLhFSVg Orchard.OpenID demo starts at minute 35. Maybe you can skip the long into ;)

[2017-05-08 17:17] xperiandri commented on #727
You did amazing job.
I also use OpenIddict in my projects and did a few presentations about it with similar content.
So what's next?
As I understand this issue is related to SPA, isn't it?

[2017-05-08 18:45] sebastienros commented on #250
I think it's done now

[2017-05-08 18:45] #250 closed

[2017-05-09 16:07] jersiovic commented on #727
happy to hear you like it.
What's next?
Well, Orchard.OpenId module in Orchard 1 provides a client to delegate authentication on a third party OpenId server https://github.com/OrchardCMS/Orchard/blob/dev/src/Orchard.Web/Modules/Orchard.OpenId/Module.txt and in Orchard 2 this is another module with the same name but that implements an OpenId server.

IMO the most logical next step is to have in Orc

[2017-05-09 16:14] jersiovic commented on #727
By the moment first approach to SPA would be good to be done in the Ochard.Demo https://github.com/OrchardCMS/Orchard2/issues/234. A sample of an SPA using OpenId for authorization and conusming a demo rest API rquiring authorization could be a good starting point to discuss how and where we have to provide a web API.

[2017-05-09 22:29] xperiandri commented on #234
OK, I want to do this.
However now I don't understand how should I set up a page that returns SPA app bootstrapper?

For example I have this [page template](http://www.free-css.com/free-css-templates/page211/bazinger) and I want to return is as Aurelia SPA as a first simple step.
What do I have to do in order to achieve this in terms of Orchard Core?

Authenticating with OpenId Connect is absolute

[2017-05-10 15:29] infofromca commented on #727
this doesn't have to be a SPA:  for example, it can be useful for xamerin project

[2017-05-10 15:32] sebastienros commented on #727
Just to refocus in case there is a missuderstanding, the goal here is to have a simple controller and view demoing the usage of the openid module. This controller and view don't have to use any MVVM framework, they can just use jquery. In the end a user can look at this code and understand what the openid module can do for APIs, and we can also use it as functional test to ensure it works as expec

[2017-05-10 18:18] xperiandri commented on #727
Basically it does not mater.
As you just need to install oidc-client from [IdentityModel](https://github.com/IdentityModel/oidc-client-js).
Then it becomes trivial.

So if you [explain to me what to do](https://github.com/OrchardCMS/Orchard2/issues/234#issuecomment-300320244) I will make such sample. I just need to know how to set up a custom master page at least.

[2017-05-10 18:26] sebastienros commented on #727
I realize I commented on the wrong issue.

This issue is about adding support for other open servers.

@xperiandri this issue is way to complex for you based on your early knowledge of Orchard. The fact that you are asking how to setup a master page makes it obvious for me that you don't know how theming works. Maybe try to contribute with some simpler task first?

[2017-05-10 18:36] xperiandri commented on #727
I have my company site and a coming project which I would like to build with Orchard Core.
For my site is the primary goal is to have a landing page preferably on SPA. Adding LinkedIn login and submission form then.
The side project is a geo distributed web site with localization.
So I must jump start as quickly as possible.
If you have something else to recommend I will do that.

[2017-05-11 06:44] zhengxiaosong commented on #743
Oh, I had been deleted all files that created by the program, contains "App_Data" and Logs files. then i rebuild it and the exception is not appear again. Sorry i can't provide the log. And thank you for ur attention.

[2017-05-11 06:44] #743 closed

[2017-05-11 19:48] #740 closed

[2017-05-11 19:49] sebastienros opened #746 "The Indexing_Task table is not populated on setup"
Maybe the module is enabled too late?

[2017-05-12 01:58] yiji commented on #746
need background task setting module,now task excute too frequently，it‘s best can custom setting excute period

[2017-05-12 13:56] blachawk opened #747 "Errors generating when trying to run the Orchard 2 solution from Visual Studio 2017"
- I'm using Visual Studio 2017 Community Edition on Windows 10.
- I cloned my fork version the Orchard2 project via Git
- From VS2017, I opened the solution `Orchard.sln`
- The following errors display in my error log next:

![screenshot 2017-05-12 09 46 02](https://cloud.githubusercontent.com/assets/3985279/26000709/023ad224-36f8-11e7-9605-c4d570258481.png)

- I then found and set OrchardCore.Cms

[2017-05-12 14:39] thierholzer commented on #747
I just set the actual cms application project as the startup project and I’m not having any issues running it.  Maybe try that?

[cid:image001.jpg@01D2CB0B.E4F9A350]

Tina Hierholzer

From: kensley [mailto:notifications@github.com]
Sent: Friday, May 12, 2017 9:57 AM
To: OrchardCMS/Orchard2 <Orchard2@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [OrchardCMS/Orchard2] W

[2017-05-12 16:04] #747 closed

[2017-05-12 16:04] sebastienros commented on #747
Set Orchard.Cms.Web as the startup project. It's at the bottom of the solution

[2017-05-12 16:09] jtkech commented on #747
Oh, it seems that there is an error about VS2017 in the `README.md` file.
Thanks @blachawk

[2017-05-12 19:25] blachawk commented on #747
I went ahead and set **Orchard,Cms.Web** as the startup project, and also installed gulp `npm install -g gulp`  via powershell.  I then re-opened the solution and was able to run the project.

Thanks for the help!

[2017-05-12 19:27] sebastienros commented on #747
`npm install` is on;y necessary if you develop modules that require the Assets pipeline.

[2017-05-12 21:08] jtkech commented on #746
Maybe because there is not yet e.g a lucene index. Didn't see in the code an index command that we could use as a command step. And not sure that we can already use a command step in a recipe.

[2017-05-12 21:16] sebastienros commented on #746
this table is independent from lucene indices, it's in its own module.

[2017-05-12 21:45] jtkech commented on #746
Okay.

It seemed to me that to be able to see something in this table i needed to create an index. But just remember that i also re-published a page which could explain this.

I will take a look more in depth.

[2017-05-12 22:33] jtkech commented on #746
Here my first findings.

So, in a content step an item is created with `options.IsPublished`, `Published` handlers are called and then `IndexingTaskManager.CreateTaskAsync()`. But because `contentItem.Id == 0`, no new `IndexingTask` is created. Here, the comment i can see in the code.

    // Ignore that case, when Update is called on a content item which has not be "created" yet

If i remove the

[2017-05-12 22:37] sebastienros commented on #746
Thanks for looking at it, don't try to change anything until we understand the "Ignore that case" reason. What I saw is that we might want to change how the content is imported, it should not force `Published`.

[2017-05-12 22:41] jtkech commented on #746
Okay cool, i understand.

[2017-05-14 08:39] jersiovic commented on #742
After watching Orchard Podcast: 25th of April, 2017 minute 12:34 https://www.youtube.com/watch?v=cIuVMnki9b8&feature=youtu.be hearing problem PR #741 solves, I think it could be good to reopen this issue.
This is what it was explained in the meeting: Currently YesSql when it has changes pending to store in db if a query is done it stores changes before executing the query.
This is a problem when t

[2017-05-14 11:43] jersiovic opened #750 "Parameters for filters and sorts in a query"
As a future work you pointed Queries will accept parameters.
What I propose is parameter should be declared as Entity to harness DisplayManager composition advantages.
We will have different types of parameters with its drivers for edit and display
i.e.: taxonomyFilter Driver, int Driver those like in orchard one will allow us to configure filters, but if we configure them as client side filter th

[2017-05-14 16:45] jersiovic commented on #742
I know most eficient way is using a proxy for tracking changes but it has side effects. What do you think if Yessql requires entities to track that implement IPropertyChanged and we use a solution based on annotations like this which allows to use properychanged at property level or at class level without forcing devs to write too much code: https://github.com/Fody/PropertyChanged/blob/master/READ

[2017-05-16 00:55] sebastienros commented on #750
The solution I implemented is much simpler, it's just a json object to send to the query.

[2017-05-16 03:54] jersiovic commented on #750
Cool. It sounds like you keep query module simple because other will take the responsability of rendering. Looking forward your demo 😊
I will keep attention on how a dev can override default renderization of a param when it is showed to end user for giving him the opportunity of providing a param value for the query.

[2017-05-16 08:21] myomyinthan opened #751 "Cannot Setup"
I tried to set up orchard2 but every time got problems that show on screen short . Any one can help me?

Thanks
Han
![2017-05-16 1](https://cloud.githubusercontent.com/assets/5371354/26096404/a544acfc-3a53-11e7-89f4-59d73e313129.png)

[2017-05-17 11:58] agriffard opened #753 "Deployment plan: Content types step"
With the latest version, If I create a deployement plan, add a 'Content types' step and then select the content types to export, the content types are not selected.

It doesn't work either if I edit the step and re-select the content types.

[2017-05-17 15:23] sebastienros commented on #753
You mean the step editor doesn't work? Or the step itself when exporting?

[2017-05-17 17:21] thierholzer opened #754 "Setting a Home Page"
I have the Orchard CMS Project up and running and this may be a dumb question but I'm having issues getting my content to show up on the home page. I created a page and added some basic text. I tried setting the permalink to "~/", and "/" and just left if blank and it still doesnt render the content on the home page.

I know the Orchard.Demo has an index page, but I don't imagine I have to hook th

[2017-05-17 17:56] sebastienros commented on #754
You need to go to the type settings of your content item, and in AuroroutePart settings check the option to allow it to be set as the homepage.

You are not the first one to be blocked on it, we might want to make this option a default for the types we create in the recipes.

@agriffard Would you mind doing it? (Page and Blog).

[2017-05-17 18:01] thierholzer commented on #754
Ok Thanks, found it I was wondering where that checkbox was hiding!

[2017-05-17 18:21] agriffard commented on #754
OK, I will modify the setup recipes.

[2017-05-17 18:27] #754 closed

[2017-05-17 19:40] sebastienros commented on #754
I didn't mention BlogPost on purpose. How often do you see people set a specific blogpost as homepage when you have a blog. Usually it's the blog itself, or another page.

[2017-05-18 16:16] thierholzer opened #755 "Trumbowyg/Best Practices Question..."
So the wyswig editor defaults replaces all div tags with p tags or removes them on save if there are already nested p tags which is really annoying, and I know where to remove that logic but is it best practice for me to copy the script to my own resources module or is that going to become an issue for updates and upgrades in the future? Just curious what's the best practice for things like this.

[2017-05-18 17:05] sebastienros commented on #755
Right now I'd suggest to use a simple TextArea "editor" for the things that don't work with wysiwyg. Also we might have modules that provide other editors as we find better ones, or you want to use some that suit you better.

Are you using the Flow page or just the page? With a Flow page it would be easier to switch between them.

[2017-05-18 17:53] thierholzer commented on #755
I'm using just the page. I think I left at the conference when you started going over flow page.  :)
Whats the difference between the two? Or is there information somewhere?

Thanks.

[2017-05-18 18:03] sebastienros commented on #755
You should watch the video, it's much more powerful. Instead of editing a monolithic piece of html, you can make it from widgets, and organize the layout of the widgets, without the UI complexity of drag and dropping.

[2017-05-19 01:05] #751 closed, assigned to nobody

[2017-05-19 18:30] jersiovic opened #756 "Publish fails"
I have checked out head of master branch, then executed:
`git clean -df`
`dotnet restore`
`dotnet build`
`dotnet publish --configuration Release --output d:\WebAPI`

Dotnet build works properly, but publish step returns following error after Packaging asset files steps:
[code]

The markdig dependency is from Orchard.Markdown module and it looks ok. In fact project can be executed without problems

[2017-05-19 20:54] jtkech commented on #756
Just tried and it works on my side.

- In your trace the problem seems to occurs during view precompilation.

- But for me it works through vs2017 and also from the cli. Note: For testing i have a nightly built version of dotnet `2.0.0-preview2-006080` which is not used by vs2017, but which is used from the cli, so ...

- This by doing `dotnet restore` under `Orchard2` and `dotnet publish` under `

[2017-05-21 12:10] dodyg opened #758 "Login fails"
I updated to the latest commit https://github.com/OrchardCMS/Orchard2/commit/1c3b9391eeda395db2a866ca3fb3991b4d4c7b61

1. Create a brand new site (Blog recipe) without table prefix
2. Windows 10
3. I created a system account and register a new local account
4. The setup works successfully and shows the default content
5. localhost:5000/admin does not admit my system account and local account (Inva

[2017-05-21 17:25] sebastienros commented on #758
Can you check the user is correctly created in the database?
I tried it myself and it worked fine.
What database are you using?

[2017-05-22 07:43] dodyg commented on #758
[code]
SQL Server 2014

[2017-05-22 07:45] dodyg commented on #758
I deleted the database, the App_Data folder and restart the command several times and retry and got the same result. It's weird.

[2017-05-22 16:41] jersiovic commented on #756
`git clean -xdf` in place of `git clean -df` was what did the magic.
Now it works
Thank you

[2017-05-22 16:41] #756 closed

[2017-05-22 19:54] #638 closed

[2017-05-22 19:54] sebastienros commented on #720
Can't repro.

[2017-05-22 19:54] #720 closed

[2017-05-22 21:25] hishamco commented on #638
Sorry @sebastienros because I late to submit a PR for this, after that changes that I made in YesSql repo, but I notice that you made a PR #757 is it covered this issue?

[2017-05-22 21:29] sebastienros commented on #638
You already made yessql pretty.  I don't see anything else that could be better for Orchard.

[2017-05-22 22:38] hishamco commented on #638
Sure 😄 , but I surprised when the issue was closed, because the lines https://github.com/OrchardCMS/Orchard2/blob/master/src/OrchardCore/Orchard.Data/ServiceCollectionExtensions.cs#L32-L35 still the same, I will make a PR soon

[2017-05-23 00:11] sebastienros opened #760 "Use background Job for search indices"
Once we have the Jobs Queue feature, when rebuilding/resetting and index, use a job.
This will prevent to potentially process a long running task on the request thread. In case there are several content items to process.

[2017-05-23 05:07] jersiovic opened #761 "How to have alternate bundles and projects in different repo"
This is how I have organized our folders to keep all our modules for a Project in a repo.

This is the root folder of our submodule repo and its nested folder and relevant files
[code]
This works properly and can be run from VStudio. However when I publish it I get following error:
[code]
Maybe it is useful for you to know which is the content of this file \Orchard2\src\OrchardCore.DistribWebAPI\B

[2017-05-23 08:04] jersiovic commented on #761
To confirm that if I move my bundle to OrchardCore folder it Works.
So, the key point seems to be, why `<Import Project="..\..\OrchardCore.Build\OrchardCore.Commons.props" />` doesn't work  when it is used in `\src\OrchardCore.DistribWebAPI\Bundles\Directory.Build.props` file

[2017-05-23 11:27] jersiovic commented on #761
By the moment it looks the error doesn't have any effect on what's published.
I reported it because it was first error I get of a number of errors. I thought those were caused by first one. But finally that wasn't the case. Problem was in my bundle I didn't add some dependencies of some modules like Orchard.Contents.

So, if do you think the error that appears when  I put the bundle in a more deep

[2017-05-23 12:55] Jetski5822 commented on #276
@PinpointTownes @jersiovic  was this done?

[2017-05-23 12:56] Jetski5822 commented on #76
@sebastienros can we make a first class implementation for this?

[2017-05-23 12:59] Jetski5822 commented on #280
We have something way better :)

[2017-05-23 12:59] #280 closed

[2017-05-23 12:59] PinpointTownes commented on #276
@Jetski5822 yep!

[2017-05-23 12:59] #276 closed

[2017-05-23 12:59] Jetski5822 commented on #98
@sebastienros do we still need to do this?

[2017-05-23 13:00] Jetski5822 commented on #528
Orchard Core.

[2017-05-23 13:00] #528 closed

[2017-05-23 13:02] Jetski5822 commented on #432
Hmmmm I recon so

[2017-05-23 13:05] Jetski5822 commented on #300
We have NLog, and maybe an implementation of Log4Net soon too. Closing as initial implementation done

[2017-05-23 13:05] #300 closed

[2017-05-23 15:00] sebastienros opened #763 "Making ContentHandler async"
Content handler methods might have to run IO code like database.
We should probably support support async for all its methods.

[2017-05-23 18:15] sebastienros opened #764 "Update Logger.LogError usage on dotnet core 2.0"
Once dotnet core 2.0 is available, we need to review all the calls to Log.LogError to use the newly added overload that accepts a message and an exception.

Right now we are doing calls like `LogError("message", exception)` but it is not doing what we assumed. It's actually doing a `String.Format("message", exception)` so in the end `exception` is not displayed if we didn't use `{0}` in the messag

[2017-05-23 18:16] sebastienros commented on #758
I tried again with SQL 2016 and Sqlite and everything is working.

Maybe you could try to debug the code to see what is happening?

[2017-05-23 20:16] #728 closed

[2017-05-23 20:16] #746 closed

[2017-05-23 20:16] #753 closed

[2017-05-23 20:17] #724 closed

[2017-05-25 17:18] ydenega opened #768 "Orchard does not work with Kendo grid"
If you add a Kendo grid into
Orchard2-master\src\OrchardCore.Modules\Orchard.Users\Views\Admin\Index.cshtml (and
 OrderViewModel + corresponding methods to a controller),  Orchard code throws NullReferenceException.
It works OK if you comment out the following likes (all related to grid being Editable):
      columns.Command(command => { command.Edit(); command.Destroy(); }).Width(160);
      .Too

[2017-05-25 19:19] agriffard commented on #350
I am currently working on an O1 module that allows you to export the contents to a json recipe that you can import with Orchard Core.
I already managed to export the blog posts and generate a OC 'setup like' recipe.

[2017-05-25 20:42] jersiovic opened #770 "Orchard.OpenId module is broken"
After checking out head of master, requesting a token using Password flow I get the following exception:

[code]

@PinpointTownes does have changed sth in OpenIdConnect that explains this problem?

[2017-05-25 20:45] PinpointTownes commented on #770
The ASOS 1.0.0 RTM package that was published to NuGet.org slightly differs from the one we were testing on MyGet.org.

To fix this issue, remove the aspnet-contrib packages from your global packages folder, as indicated in http://kevinchalet.com/2017/05/08/aspnet-security-openidconnect-server-1-0-0-general-availability/.

[2017-05-26 09:07] #770 closed

[2017-05-26 15:08] DannyT commented on #758
Just trying out the latest from master and seeing the same issue.

From the Log:

`2017-05-26 16:04:37.9035|Default|0HL548VHLNSH9|0|Orchard.OpenId.Startup|WARN|The OpenID Connect module is not correctly configured. `

Which presumably is a clue, will keep digging.

[2017-05-26 15:18] DannyT commented on #758
simply deleting the db and app_data folder and trying again worked for me, sorry that's not much use!

[2017-05-27 02:21] awyl opened #775 "SQLite Error 6: 'database table is locked'."
Master branch. Brand new site with SQLite.

After logging in to dashboard, enable and then disable a module, will result in this error.

[2017-05-27 17:13] sebastienros commented on #775
I can repro.

[2017-05-27 21:01] jtkech opened #776 "Background task re-entrance"
Working on background tasks, i could see this comment.

Maybe i misunderstood this comment, but, using a delay higher than the timer period, i could see that the callback is re-called even if the previous call was not ended.

So, maybe we have to check e.g if a given task / group is not already running ...

[2017-05-28 00:41] rserj opened #777 "Can not create OpenId Application and there are no Flows available"
While adding new open Id Client application Web UI always required Client Secret. Even if it is filled.
The Client Secret is required - always appeared.
http://prntscr.com/fcvqg9

Plus Flows are empty (see above screenshot), there are no Flows in Design->Settings->OpenID Connect settings too, even If all endpoints selected http://prntscr.com/fcvr6r.

[2017-05-28 04:44] jtkech commented on #775
Me too and i was thinking about a concurrent write when redirecting ...

So, just for infos i could get it working with one of the following hack.

- By adding `_session.Dispose()` at the end of `ShellDescriptorManager.UpdateShellDescriptorAsync()`.

- Or by adding `_session.Dispose()` at the end of `ShellStateManager.UpdateShellState()` .

[2017-05-28 07:08] jersiovic commented on #777
Empty flows in setting were fixed recently on this PR https://github.com/OrchardCMS/Orchard2/pull/769, can you repro that on the head of master?

I will check the other issue with Client Secret

[2017-05-28 09:53] jersiovic commented on #777
Adding a new OpenId Client app worked initially properly for me. However, if I use a short password I experience same problem you describe.
Currently Client Secret property has this validation attribute: [StringLength(100, MinimumLength = 6)] that's why you get this error. So, by the moment you can use a longer a Password.

To-Do in OpenId module: To move attibute validation to controller for prov