[2021-02-27 12:09] xperiandri commented on #8662
@deanmarcussen it indeed helps! Works after adding that setting

[2021-02-27 12:12] xperiandri commented on #8662
It is only required in an app project. On a theme project, it does not affect anything.

[2021-02-27 12:17] xperiandri commented on #8171
Or is it possible to export into sorted XML?
The first line of the block must uniquely identify it and allow merge comparer to determine the same block.
@sebastienros

[2021-02-27 17:04] JoshTango opened #8685 "Deployment plan failed to execute with related user settings"
I enabled all the user features like registration and recaptcha and login and I also added them to my deployment plan.
When I tried to execute my deployment plan is failed and said error.

[2021-02-27 17:06] JoshTango commented on #8685
Ok I am going to remove them all and add one by one to find the one causing the problem.

[2021-02-27 17:34] JoshTango commented on #8685
All are fine except the Login Settings.
That one throws an error if you add it to the deployment plan.

Not e that I had toggled use site theme for login on and off.

[2021-02-27 19:02] sebastienros commented on #8662
JT told me that you need to add this property when you have your ASPNETCORE_ENVIRONMENT defined to Production. This should appear in the console when the app starts. When you run your app from VS you should always have Development, and it will allow you to change the razor files dynamically. Otherwise you will need this PreserveCompilationReferences property and it will build all razor files at ru

[2021-02-27 19:04] sebastienros commented on #8662
This value is also usually set in the `launchSettings.json` file. Please check what it contains for you if you don't have the ENV defined on your system, or the project settings.

[2021-02-27 19:05] sebastienros commented on #8662
c.f. https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments?view=aspnetcore-5.0

[2021-02-28 09:48] fenngineering opened #8692 "Google Analytics Module"
It would be very nice to see a Google Analytics modules content part which I could plug into every content type and item I create.

This would open up a new chapter into my blog, so I can see what Articles are attracting the most traffic, where people are connecting from and anticipate what users might want to see in the future.

At the moment I can not see any features\modules that would give me

[2021-02-28 12:08] MichaelPetrinolis commented on #8692
Hi, have you tried https://docs.orchardcore.net/en/latest/docs/reference/modules/Google/#Google-analytics?

[2021-02-28 17:25] xperiandri commented on #8662
But if I run with Ctrl+F5 is still sets the environment to Development. But the Razor hot reload does not work.
This is what we used to, doing Razor development on the fly without debugging.

[2021-02-28 17:39] jtkech commented on #8662
Just tried with Ctrl+F5, it works

Having `PreserveCompilationReferences = true` in the main app project file
Also `Sdk="Microsoft.NET.Sdk.Web` in the first line of the project file
And `"ASPNETCORE_ENVIRONMENT": "Development"` for `"IIS Express"` in the `launchSettings.json`

[2021-02-28 19:03] xperiandri commented on #8662
Yes, it is.
@sebastienros told that it forces the same behavior in production scenarios which is bad for performance.
Was it the same in .NET 3.1?

[2021-02-28 19:13] xperiandri commented on #8662
Does it mean the `PreserveCompilationReferences` must be enabled for `Debug` project configuration only or can it be set in `launchSettings.json`?

[2021-02-28 19:24] jtkech commented on #8662
To have razor runtime compilation you need both

 `PreserveCompilationReferences = true` and `ASPNETCORE_ENVIRONMENT = Development`

If in production you actually have e.g. `ASPNETCORE_ENVIRONMENT = Production`, not `Development`

That's okay, you can keep `PreserveCompilationReferences = true`, you will not have runtime compilation

[2021-03-01 01:23] Skrypt opened #8696 "Image could not be resolved"
Updated to the latest dev with the ImageSharp update and now I'm getting a lot of errors like these :

2021-02-28 20:20:14.9507|Default|00-24fb385dbed41e49a8c34cfca024b441-9340c374508a534e-00||SixLabors.ImageSharp.Web.Middleware.ImageSharpMiddleware|ERROR|The image 'https://localhost:5001/media/mediafields/RealEstate/48b0rbxrrhav7tmnzfgxd2n5mw/7aa1364dce1578b1faf2004fc6306b1a.jpg?width=600&token=L

[2021-03-01 01:29] #8696 closed

[2021-03-01 01:31] Skrypt commented on #8696
The ContentItem is deleted on the prod server that's why. And the background service seem like it cleaned the media assets of that content item like it should. All good.

[2021-03-01 03:44] scleaver opened #8697 "Issues with migrations and background tasks"
### Describe the bug
I have two background tasks that run every minute (kind of like the way the PublishLater module background task). I recently had to push some changes to Indexes in a migration step to a multi-tenanted solution. Theses changes required updating all content items that used the index so it wasn't a very quick migration.

Before the migration were completed for all tenants the bac

[2021-03-01 04:53] Skrypt commented on #8697
So, kind of like what I said to @jtkech the other day. These background tasks should not be stopped if their intent is to mutate data. For example ; a publish later task that should publish a content item at X datetime. The timing is also important.

So, if you need to publish a content item while it is beeing mutated, your Workflow or Background task needs to support both data structure "old and

[2021-03-01 05:18] scleaver commented on #8697
@Skrypt - yeah that makes sense. It looks like the Background Tasks are only caught up in the issue.

My issue was actually that I did two index modifications via migrations in one release which required the content to be updated. Both indexes were used by the same content. One migrated then ran the content update to populate the new index which then of course caused an error because the other mig

[2021-03-01 07:39] NickDarvey opened #8698 "ArgumentNullException on CreateContentItemVersionAsync"
### Describe the bug
I'm getting a ArgumentNullException when trying to create a new version with `CreateContentItemVersionAsync`.

### To Reproduce
Steps to reproduce the behavior:
1. Create an updated content item with `Latest = true` and `Published = false`
2. Invoke `CreateContentItemVersionAsync(item)`

[code]

### Expected behavior
If there's an existing draft, it is discarded (`Latest = fal

[2021-03-01 07:51] giannik opened #8699 "Creating a content item from the admin in a different tenant causes Exception: Shape type 'PartyPart_Edit' not found"
I have a custom module called Parties which has a partyPart part to create Party content types.

When activating the module from the default tenant and creating a new Party content item from the admin from the "New" Menu it works as expected.

When creating a new tenant and activating the feature from the new tenant  I then try to create a new Party content item from the tenant admin and I get :
E

[2021-03-01 08:11] scleaver commented on #8692
@fenngineering - as Michael has mentioned, you can enable the GA module and that will populate every page with the GA code that will provide you reporting for you content items from the content reports in Google Analytics.

[2021-03-01 08:48] deanmarcussen commented on #8699
I would check

- that the modules startup is being called (debugger) for the tenant, i.e. is it activated
- your modules `.csproj` to make sure there are no references to the view in question (where VS may have turned it's type into something it shouldn't be)

When's the party?

[2021-03-01 08:52] deanmarcussen commented on #8698
When you are retrieving your content item you should call `_contentManager.GetAsync(myContentItemId, VersionOptions.Latest)` at which point it will retrieve either the current draft (latest), or create a new draft, and place it in the session helpers.

If you do the queries manually like you are you will have to manage the life cycle yourself.

[2021-03-01 09:00] giannik commented on #8699
No parties here , due to covid, only Party data modelling
https://tdan.com/a-universal-person-and-organization-data-model/5014
Will investigate your points @deanmarcussen .
Its just strange that its working from the default tenant but not from a different one.

[2021-03-01 09:25] giannik commented on #8699
I confirmed that the module startup in the tenant is running corrctky and the driver.Edit method is beeing called.
Also checked the .csproj file of the module and its clean.No funny elements.

Im thinking if it could be some shape binding mismatch from the admin from the tenant or some shape caching lookup  in the admin.
Maybe @jtkech  can give some pointers where to place a breakpoint to see wher

[2021-03-01 11:44] NickDarvey commented on #8698
Ok, understood. Is using `_contentManager.CreateContentItemVersionAsync(updated)` to update it correct though?

[2021-03-01 16:04] jtkech commented on #8698
@deanmarcussen @NickDarvey

Regarding the linked code, we assume that `evictionVersions` may be null, and in that case we still init `latestVersion` that may be not null, so below when using `evictionVersions` we need to add a null check, i will add it.

            if (evictionVersions == null)
            {
                latestVersion = await _session.Query<ContentItem, ContentItemIndex>()

[2021-03-01 16:20] #8698 closed

[2021-03-01 17:58] weedkiller opened #8704 "Easy GUI CRUD/Module Scaffolding via OS 3rd party tool EASY.GUI tool"
Hello one major advantage to ABP frameworks is the RAD Tool that creates the entire Module or CRUD operations.

Another [independent owner](https://github.com/EasyAbp/AbpHelper.GUI/issues/53) created and maintains an Excellent EASYABP.GUI is a tool thats much better than the original tool has ~2.5K stars , I have requested that they add support for OrchardCore, by simply implementing an Interface

[2021-03-01 18:00] jtkech commented on #8699
Hmm, maybe because your feature is not the main one of your module, normally the main one is the first one whose id is the module id, and because your feature doesn't depend on the main one in your manifest, because shapes are harvested at the module level, not at the feature level, then they are shared accross tenants but in a given tenant the module need to be enabled, in fact the main feature o

[2021-03-01 18:03] jersiovic opened #8705 "Interlocks caused by transaction management"
### Describe the bug
Since we started to use orchard one year ago for a software as a service project, I'm facing interlock problems that I barely patch adding extra commits. Specialyl if we make load test. However after a while I see more interlock problems in the logs.
This problem was more obvious when we added integration tests that execute in parallel vs an orchard instance. Each of those tes

[2021-03-01 18:31] Skrypt commented on #8699
@jtkech I noticed also last night that now the Liquid Templates passes before a fixed route in a module. That's a behavior that changed recently not sure why yet.

[2021-03-01 18:54] jtkech commented on #8697
Some infos

Normally the background service doesn't call a background task on a tenant that is not yet activated, in fact we check if its pipeline has been built which happen after the activation, and migrations happen while the tenant is activating.

How do you trigger the migrations, by restarting the app, reloading a tenant through the Admin? Hmm, in the last case maybe possible that the bg tas

[2021-03-01 19:08] jtkech commented on #8699
@Skrypt not sure i understand, will talk about it on skipe

[2021-03-01 21:43] JoshTango opened #8709 "FlowPart button needs to be more pronounced in the editor"
The flow part button is impossible to see or notice.
Perhaps work on making the flow part more obvious?

[2021-03-01 21:45] JoshTango opened #8710 "Deleting media file if it is in use"
If a user trys to delte a media file but that file is used in a piece of content then it should:

1.  Not allow it.
2.  give a warning

These both should be in the settings.

This can be put on the backlog, I'm just documenting it for now.

[2021-03-01 21:56] JoshTango commented on #8641
Ok lets assume I want to make a content type called Folder.
A folder can have one parent only and many children.

[2021-03-01 22:39] zippy1981 opened #8711 "Duplicate SQL Running in MSSQLSERVER creating the site"
### Describe the bug

When I create an orchard site with SQL Server it seems to be running T-SQL DDL Twice

### To Reproduce

Create an orchardcore site, with Azure Storage Shell (that part probably irrelevant).

Create a SQL Server database, role and contained user like so:

[code]

Begin a profiler or extended events session to look at DDL and user errors.

Run `dotnet watch run ` in a terminal

[2021-03-01 23:36] jtkech commented on #8711
See from this comment https://github.com/sebastienros/yessql/issues/322#issuecomment-762442375 and the following ones

[2021-03-01 23:44] sebastienros commented on #8711
Can you confirm the setup just worked fine but you could only see this by inspecting the profiler traces?
Did you just do that by curiosity? Feel free to send some feedback on what you see, I believe you have some strong experience with dbs.

[2021-03-02 02:58] zippy1981 commented on #8711
The setup worked fine. I had some issues getting the database to build, but that was because I was using a user that was not db_owner, and purposefully trying to find minimal viable permissions (as mentioned in #8713).  I setup the profiler tracing to help me arrive at the minimal GRANTs and ROLEs to run with no errors.

[2021-03-02 03:03] Skrypt opened #8715 "Blob Storage issue with unreachable network"
When using the blob storage with the Media feature. If we get any kind of network issue that doesn't complete downloading the file from the blob storage to the ms-cache folder it can cause a stack overflow.

You can repro the issue by pointing the blob storage DNS with the Windows host file

192.168.1.100 storagename.blob.core.windows.net
192.168.1.100 storagename.core.windows.net

If you request

[2021-03-02 03:08] Skrypt commented on #8711
PR will close it keep it open.

[2021-03-02 03:10] JimBobSquarePants commented on #8715
Without relevant version information I cannot help you.

[2021-03-02 03:12] Skrypt commented on #8715
I merged latest dev branch of OC on my website project. So I'm using the latest version of ImageSharp.

![image](https://user-images.githubusercontent.com/3228637/109591218-27421200-7adb-11eb-80d3-9e56860c01bd.png)

[2021-03-02 03:13] Skrypt commented on #8715
Oh sorry for the tagging. I think you and Dean merged a PR that fixed the LRU cache recently so I thought I should warn you both about this....

[2021-03-02 03:15] Skrypt commented on #8715
I'll revert to 1.0.1 ...

[2021-03-02 03:26] hishamco commented on #8685
Could you please share the exception details and attach a sample recipe if it's possible

[2021-03-02 03:31] Skrypt commented on #8715
Wow this guy did a thumbsup too 😄
Lesson learned, debug this by myself and advise after.

[2021-03-02 03:43] Skrypt commented on #8715
Here is the cached folder from the actual web server. (running 1.0.1)

![image](https://user-images.githubusercontent.com/3228637/109593608-4478df80-7adf-11eb-9614-9ecc6ae8bfa9.png)

Here is the local cached folder with some images which seems corrupted. (running 1.0.2)

![image](https://user-images.githubusercontent.com/3228637/109593547-27dca780-7adf-11eb-844c-be03795159af.png)

[2021-03-02 03:47] JimBobSquarePants commented on #8715
Can you share the properties of one of the corrupted files?

[2021-03-02 03:52] Skrypt commented on #8715
I kept the files if you need one but definitely reverting to SixLabors.ImageSharp.Web 1.0.1 fixed the issue after I cleared the cache. Maybe the issue is in OC too because this is our own local cache. Need more testing.

[2021-03-02 04:05] JimBobSquarePants commented on #8715
Your own cache implementation? This could be a critical factor.

[2021-03-02 04:07] Skrypt commented on #8715
I'm moving back to 1.0.2 to find that file in the ImageSharp cache.

[2021-03-02 04:57] #8711 closed

[2021-03-02 05:09] Skrypt commented on #8715
Ok found the issue. It's not ImageSharp related. I litterally made my PC crash by adding the Azure Blob Storage DNS in my host file to point to 127.0.0.1

So it's a network issue which corrupted those files in the ms-cache folder. Then it logged that ImageSharp could not open these files.

[2021-03-02 05:26] JimBobSquarePants commented on #8715
StackOverflow is a surprise. I normally just get a timeout if I'm testing my Azure provider locally having forgotten to turn on the local emulator.

[2021-03-02 05:30] Skrypt commented on #8715
I'm going to do a last test and move the OC files to a different drive.

[2021-03-02 07:30] giannik commented on #8699
@jtkech , I did'nt know that you had to have at least 1 module defined at the assembly level. I had only features declared in my assembly. Changing that it worked. Thanks

[2021-03-02 07:30] #8699 closed

[2021-03-02 08:32] deanmarcussen commented on #8715
I'm not sure I totally understand what you did here @Skrypt

- pointed the blob storage dns at a localhost address by messing with your dns?
- crashed as a result?

I think I have seen behaviour from the blob storage client where you can induce a stack overflow by pointing it at a localhost address previously.

i.e. a connection string of `UseDevelopmentStorage=true` will crash an azure web app (i

[2021-03-02 09:27] deanmarcussen commented on #8705
This is an interesting one, and useful that you are able to reproduce with your integration tests.

An initial thought.

We recently updated the indexes on a lot of these tables, to include the `DocumentId` property, which seems to have resolved some deadlock related issues, as it reduced table scanning. See https://github.com/OrchardCMS/OrchardCore/issues/8518

I know you've probably tweaked a lo

[2021-03-02 11:51] NogginBox commented on #8709
Please add a screenshot to illustrate how you can't see the button.

[2021-03-02 12:27] deanmarcussen commented on #8641
A list part allows children, any they can be nested. It is a very normal way of building a hierachy.

An item can only ever be contained in one list.

Please explain how your request is not a `ListPart`.

[2021-03-02 12:40] jersiovic commented on #8705
OMG haha we forgot to add that field to indexes,
I don't now if this will solve the problem but independently ot it, it is clearly is a great improvement.
Thank you guys!

I will try and will keep you informed of the results.
Independently of that the conversation in the PR I sent I think is still worth to have it https://github.com/sebastienros/yessql/pull/349

[2021-03-02 12:57] deanmarcussen commented on #8705
Ha cool!

For infos, we discovered that without a `DocumentId` in the indexes, it would always do a table scan of the index, when doing a `Query<Model,Index>` because of the `Join`

But when added the `DocumentId` it would be a non-clustered scan, rather than the full table. So it may help with deadlocks.

Will it solve everything? I don't know. But you've got the failing tests to check it, so let

[2021-03-02 12:58] JoshTango commented on #8641
I did not know an item could only ever belong to one list?
I believe there is a feature coming to add existing items to a list so therefore an item could belong to more than one list.

That's the problem.

[2021-03-02 12:58] JoshTango commented on #8685
It did not show me the details.

[2021-03-02 12:59] JoshTango commented on #8709
Its opacity is lowered so much.

[2021-03-02 13:46] deanmarcussen commented on #8641
There is no feature coming to do that.

The container only supports one parent. That is by design.

There have been request for features to detach, or move an item, and there are issues tracking these.

Move will only ever support removing from one list and moving to another list.

Anything else would be a different part. If you search there was a design for a container part.

I'm going to close t

[2021-03-02 13:46] #8641 closed

[2021-03-02 14:02] JoshTango commented on #8641
Ok I have a better understanding now of Lists.
Maybe update this documentation:

A ListPart allows you to associate content items to a parent container (Ex: A blog contains a list of blog posts).

and add the fact that a content item can only ever belong to ONE List.

[2021-03-02 14:46] jtkech commented on #8705
I cross my fingers 🤞

[2021-03-02 15:11] Skrypt commented on #8715
Well, I had the stackoverflow issue all day yesterday. The thing is that these 0 bytes files we're trying to get resized by ImageSharp and my PC was litterally freezing while I was on Skype with @jtkech. So, it's not just the Azure Blob Storage. I kept the files to be able to repro, but I should never had a 0 byte file saved on my drive at first.

[2021-03-02 15:24] Skrypt commented on #8715
I kept the 0 byte files to test if we could not add a validation before trying to morph these files with ImageSharp. Though ImageSharp seems to properly fail and log these. Now, the other thing is that if my PC crashed or freezed it means that it does when it tries to read these files still or because of a network or ssd drive issue. But there is definitely an infinite loop happening.

[2021-03-02 18:14] jptissot opened #8721 "Old recipe layer format gives NRE"
### Describe the bug

### To Reproduce
Steps to reproduce the behavior:
1. Setup a site with the old layer recipe format:
[code]

### Expected behavior
Recipe to migrate properly

### Screenshots
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/4681586/109694639-091af700-7b59-11eb-8955-bbe5384bb8f3.png)

[2021-03-02 18:32] #8721 closed

[2021-03-02 19:33] Piedone opened #8726 "Expose events for background task execution"
### Is your feature request related to a problem? Please describe.
Currently, if you want to know from code when a background task is executed and how long it takes there's no easy way to do it, you can't easily tap into background task execution. It's probably a problem unique to application performance monitoring (and otherwise necessary if you want to collect telemetry on background tasks).

##

[2021-03-02 20:01] #7619 closed

[2021-03-02 20:01] #7915 closed

[2021-03-02 20:06] deanmarcussen commented on #8668
You probably need to install the latest Visual Studio.

Also just try and see if it builds from the command line `dotnet build`

[2021-03-02 20:09] deanmarcussen opened #8727 "Layers - rendering in HeadMeta shouldn't use wrapper"
### Is your feature request related to a problem? Please describe.

When rendering resources using `Layers` in the `HeadMeta` zone the widget wrapper is applied, which makes for illegal html code inside the `<head>` of the webpage.

### Describe the solution you'd like
In the list of layer zones, also include a list of `Zones` which do not wrap with the widget wrapper.

This is useful for other sc

[2021-03-02 20:13] deanmarcussen commented on #8639
I agree. I have no trouble with a pr adding a handler for this. It could be based on a setting (optional).

@Skrypt I think your use case has moved into custom handler, rather than the specific issue @micrub-it is discussing

[2021-03-02 20:18] Skrypt commented on #8639
I don't mind a handler for ListPart but honestly I think it should be optional.

[2021-03-02 20:20] deanmarcussen commented on #8685
You'll have to look in your logs @JoshTango otherwise noone will ever be able to know what the issue is.

[2021-03-02 20:28] deanmarcussen commented on #8639
Setting is good

This would always be another part not a change to List, that would be too breaking.

(but really taxonomies is the feature for this)

[2021-03-02 21:00] agriffard opened #8728 "Add new dashboard widget"
We are not able to add a new dashboard widget when we are in Edit Mode.

/cc @ns8482e

[2021-03-02 21:01] agriffard commented on #8728
There is no more href on the links:

![image](https://user-images.githubusercontent.com/703248/109714598-e1508100-7ba2-11eb-9e06-9f9f20aa4c2d.png)

[2021-03-02 21:34] jersiovic commented on #8705
It worked, even removing all my changes for supporting readonly sessions. Only with changes needed for adding DocumentId on all the indexes the problem is fixed. No more interlock exceptions on integration tests!!

My only doubt now is if it is interesting to support in yessql readonly queries (I mean with no transaction for scenaros of heavy load where even indexrd doesn't fix things)

[2021-03-02 21:45] #8631 closed

[2021-03-02 21:49] Skrypt commented on #8715
I'm now using a background task that will empty these cache folder periodically to refresh them as a solution.

[2021-03-02 21:50] Skrypt commented on #8710
This would add a lot of overhead on the process of removing a file. I can't agree.

[2021-03-02 22:04] JoshTango commented on #8710
Well data integrity would trump performance I think.

[2021-03-02 22:04] JoshTango commented on #8710
If I add a image to my html thats the same as a foreign key to an image table.

[2021-03-02 22:05] JoshTango commented on #8710
Again this should be a SETTING.

[2021-03-02 22:16] Skrypt commented on #8710
You can create an indexing provider that does that but we use these images also with shortcodes and in Liquid views where it would be required to parse the templates to make sure we don't remove a media file that is currently in use. I'm not sure this would be reasonable...

[2021-03-02 22:20] JoshTango commented on #8710
Orchard is different.  I have seen some systems where you upload your assets per content item and they are owned by the content item and sometimes you even create a row in a MediaInfo table.  So, in those systems it would be easy.

[2021-03-02 22:21] Skrypt commented on #8710
Use a "Media attached field". One feature here that could be added is that we could secure this folder better in the Media browser though.

[2021-03-02 22:21] JoshTango commented on #8710
This also ties in the approval process.  If a content item has received approval to be published then the creator should not be able to delete the associated media files.

[2021-03-02 22:23] Skrypt commented on #8710
Maybe then we are missing a functionality in the Workflows. We copy the data in the workflow but we don't copy the assets. Maybe one thing here could be done and it is to keep the assets in a temp folder waiting for this approval.

[2021-03-02 22:25] JoshTango commented on #8710
Actually I was thinking of after approval but you just opend up a new issue which is waiting for approval.

Maybe the solution is to copy a set of assets once the content item has been approved.

BUT then comes the subject of Azure Media encoding for large video files which could eat of lots of space with duplication

[2021-03-02 22:28] jtkech commented on #8705
👍

[2021-03-03 08:30] deanmarcussen commented on #8705
Thats great @jersiovic

Well worth that big pr then @jtkech good work!

I'll leave it with you a Seb on YesSql to continue the readonly feature

[2021-03-03 08:33] deanmarcussen commented on #8705
Where are we at with your other pr for the indexes?

Did what @jtkech do satisfy all those requirements?

[2021-03-03 08:44] #8728 closed

[2021-03-03 09:33] deanmarcussen opened #8731 "Spurious notification when editing current user about not being able to disable self"
Editing the current user now always sends a notification that you cannot disable the current user.

This is because the field is now disabled, so doesn't bind, so is always false.

Fix is simple, just need to check it first in the driver to see if it is currently allowed to disable the user being edited.

[2021-03-03 11:41] jersiovic commented on #8705
I don't get exactly what you mean.

My orchard source code is very old in comparison with you dev branch, so instead of merging your changes I did them myself cause there have been many changes in indexes with my base branch.
I added DocumentId field to all indexes defined for MapIndext at  src/OrchardCore.Modules/OrchardCore.Users/Migrations.cs
and /src/OrchardCore/OrchardCore.OpenId.Core/YesSql/

[2021-03-03 12:10] deanmarcussen opened #8734 "Multi targetting with external nuget packages causing issues"
### Describe the bug

When multi targetting an externally built nuget package, it is only discovered as a module, if the entire solution consuming it is also multi targetted.

If the solution isn't also multi targetted the module is not discovered.

### To Reproduce
Steps to reproduce the behavior:

[code]

### Expected behavior

Able to multi target external nuget packages without have to multi t

[2021-03-03 12:55] vitalybrandes opened #8736 "Configuration stay on while Users Reset Password module disabled"
### Describe the bug

### To Reproduce
Steps to reproduce the behavior:
1. Add Users Reset Password module
2. Enable both check boxes
3. Remove module
4. The selection still relevant.

### Expected behavior
Reset settings to default = disabled.

### Screenshots
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/61165619/109808723-24a5010

[2021-03-03 14:54] Skrypt commented on #8736
These are stored as SiteSettings so they are persisted even if we disable the feature.
What would be needed is a migration for when someone disable the feature.
Some people will like it, others won't. I'm not sure to be honest.

[2021-03-03 15:05] jtkech commented on #8734
Just took a look at your package on nuget

Indeed, in your last package you have a build folder with a props file, but not in your previous one targeting both TFMs

So not related to the main app targeting or not multi TFMs, but that your package doesn't include a build folder with the `YourModule.props` file

Okay, i can repro, when a module **references `OC.Module.Targets` as a package** and tar

[2021-03-03 15:14] deanmarcussen commented on #8736
Pretty much of a duplicate of https://github.com/OrchardCMS/OrchardCore/issues/6205

Will close, as there is a good solution on mitigating, or fixing the settings

[2021-03-03 15:14] #8736 closed

[2021-03-03 16:21] jtkech commented on #8734
Okay, i may have found why, when packing a multi TFMs project, it grabs infos in an outer build that doesnt execute the scripts under `build\` of the referenced package, i think we need to put a script under `buildMultiTargeting\`, that will get executed to just import the one under `build\`, as done in this file that is packaged under `buildMultiTargeting\` https://github.com/dotnet/aspnetcore/bl

[2021-03-03 16:36] deanmarcussen commented on #8734
ok thanks @jtkech no rush on this issue from me, working around and just building a single target is no big problem currently.

But if there is anything I can do, or test on that repository with any potential fix, just let me know.

[2021-03-03 16:43] jtkech commented on #8734
Okay cool, no problem

[2021-03-03 17:00] 1silvertiger commented on #8668
I updated Visual Studio and it worked 👍

It also worked running from the command line with `dotnet build` and `dotnet run` before I updated VS. Thanks for the help.

[2021-03-03 17:05] #8668 closed

[2021-03-03 17:26] #8731 closed

[2021-03-03 17:53] olxedew opened #8738 "Sort on hierarchy"
I would like the gantt chart to sort on the hierarchy column.  it is not doing so now, I am not certain on how the gantt chart is sorting.  Any suggestion?

[2021-03-03 19:33] jtkech commented on #8734
@deanmarcussen

I updated `OC.Module.Targets` to use the `buildMultiTargeting`, packing a multi TFMs module referencing `OC.Module.Targets` now produces the `build` folder. I let you retry it on your side when you will have time

I will apply the same change to our other `OC.Xxxx.Targets` projects

[2021-03-03 19:50] sebastienros commented on #8662
How does this last comment make sense?

[2021-03-03 20:26] jtkech commented on #8662
Razor runtime compilation needs compilation libraries in the `refs` folder, otherwise it fails, we check it at runtime before registering the related services, so to have runtime compilation we first need `PreserveCompilationReferences = true` to create and populate the `refs` folder . Then, we need our custom file provider to serve the view contents from their project locations, we activate it on

[2021-03-03 20:29] sebastienros commented on #8662
Does it mean that the default experience for ASP.NET is to not have runtime compilation, and that if you change a Razor file, even in Development then it doesn't refresh?

[2021-03-03 20:37] jtkech commented on #8662
Yes, as i remember, razor runtime compilation is no more the default, and if you want it you now need to reference explicitly the razor compilation package in a given application project

Because of our multi tenants structure, we reference this package automatically per tenant, and we register the related services, but only if the `refs folder` exisits.

[2021-03-03 21:48] Skrypt commented on #8715
I've been able to repro the 0 byte issue.

[2021-03-03 23:19] Graph2133 opened #8743 "Issue with rendering of TaxonomyField"
Hi! I am trying to render  TaxonomyField  tags in razor page but the problem is that I can not see dropdown with options.

My content part:

[code]
Car.Edit.cshtml:
[code]

This view i am passing using `Initialize<T>` method from `ContentPartDisplayDriver ` `Edit `method
CarFields.Edit.cshtml:
[code]
 I am trying to get vue-multiselect dropdown but it is just not rendered:

![image](https://user-i

[2021-03-04 01:04] Skrypt commented on #8715
Rethinking about the stackoverflow I got yesterday. It did happen again today. But it was happening when I got the issue from the previous post leaving me to think these Azure Blob Storage requests that gets cancelled queues up and then made the stackoverflow happen. But, I'm not sure yet. I the stackoverflow is a second issue.

[2021-03-04 10:37] deanmarcussen commented on #8734
@jtkech hmm still doesn't seem to be pulling it in.

Where should I be looking for this `build` folder ?

[2021-03-04 11:30] flew2bits opened #8747 "Recipe Migrations introduce unexpected logical dependencies"
### Describe the bug
The `RecipeMigrator` makes calls to modules that provide implementations of `IRecipeEnvironmentProvider` (currently implemented in `OrchardCore.Users`, `OrchardCore.Settings`, and `OrchardCore.Recipes`). In the situation described below, updates were made to `OrchardCore.Users` that have to occur prior to any recipes that are run, otherwise a SQL error occurs:

```IRecipeEnvir

[2021-03-04 11:33] flew2bits commented on #8747
### Temporary work-around
In my situation, the work-around to this was to start the site, and then disable and re-enable the `OrchardCore.Menus` feature. This allowed the `OrchardCore.Users` migrations to complete.

[2021-03-04 13:16] deanmarcussen commented on #8747
I would suggest the best thing to do here is `try catch` the `RecipeEnvironmentSuperUserProvider`

I wouldn't want to rearrange the module dependencies / ordering for this.

The `RecipeEnvironmentSuperUserProvider` is not going to be useful to provide the `UserId` when upgrading from RC2 because the `UserId` did not exist!

Ultimately all we really need in terms of an upgrade from RC2, is that no

[2021-03-04 13:26] flew2bits commented on #8747
Okay; that's easy enough to fix. I'll get a PR ready shortly.

[2021-03-04 13:32] flew2bits commented on #8747
Submitted PR #8748

[2021-03-04 14:40] jtkech commented on #8734
You need to reference our last packages, update your `OpenApi` module to target multi TFMs

Then re-build / re-pack and re-push it on nuget

Looking at nuget, it seems that you didn't re-pack an re-push it

Open the `.nupkg` file of your module as a zip file, and check if it includes a `build\` folder with a .props file

[2021-03-04 15:26] deanmarcussen commented on #8734
ok, sorry, what I meant was where could I see it locally before the pack?

Right now I haven't pushed anything, because the sample app, which is only targeting `core5`, still can't see the module, when I switch it to multi target.

No problem, if it will only work if I multitarget the sample app, just seemed a bit strange to have to do that.

[2021-03-04 15:30] ruisdias opened #8749 "Admin - creating a item with a bagpart"
### Describe the bug
The Header, in the admin area, has a z-index of 1030, so when I'm creating an item and choosing an option from a bagpart, the dropdown is appearing behind the header.
### To Reproduce
Steps to reproduce the behavior:
1. Go to Backoffice
2. Create an item of type with a bagpart with a lot of options
3. See the bug

### Expected behavior
The dropdown options should appear on top

[2021-03-04 15:47] jtkech commented on #8734
When you pack your module locally, see in the produced `.nupkg` file by opening it as a zip file

This is the module package that contains the logic to be found by an application, through a .props file under its `build` folder. The problem was that when your module was targeting multi TFMs, it was not there when packing it.

No it should work in both cases, but currently on nuget your `OpenApi` mo

[2021-03-04 15:54] jtkech commented on #8734
Oops okay, maybe another use case, need more thinkings

[2021-03-04 16:06] Skrypt commented on #8749
It needs a fixed height and a scrollbar.

[2021-03-04 16:10] luis3199correia commented on #8448
I found a system property that was not defined and should be.

[2021-03-04 16:10] #8448 closed

[2021-03-04 16:25] jtkech commented on #8734
Just need to try this scenario, can't right now as i'm upgrading Visual Studio, will do it toonight

[2021-03-04 17:24] hishamco commented on #8738
Could you please clarify your question, what I undersand that you are talking about Gannt Chart component, how this related to OC?

[2021-03-04 17:48] dafergu2 opened #8752 "Azure AD implementation using obsoleted methods in net5.0"
While implementing multi-targeting for netcoreapp3.1 and net5.0 TFMs, it was discovered that the current Azure AD implementation in OC is using methods that have been deprecated in the latest net5.0 Azure AD libs.  The OC code was surrounded by pragmas to ignore the warnings for now, but the code still needs to be updated to use non-deprecated methods when targeting net5.0.

See: https://github.co

[2021-03-04 18:09] sebastienros commented on #8752
To be done when we move to net6.0 and the method is removed completely.

[2021-03-04 18:11] sebastienros commented on #8749
I think we need a modal with first the same list, and then later the better lists (thumbnails + decriptions)

[2021-03-04 18:14] #8747 closed

[2021-03-04 18:14] agriffard commented on #8749
https://www.codeply.com/go/Uh8qadr3q2/bootstrap-scrollable-dropdown-menu

[2021-03-04 18:15] sebastienros opened #8753 "Test migration from RC2 to 1.0"
And document steps in the release notes.

[2021-03-04 18:25] fpionnmedia commented on #7865
Hi, I have the exact same issue and haven't found any way to import custom data.
I'm rebuilding a client website and I'm upgrading from an old .NET Framework CMS to Orchard Core. I can control the data format (CSV, Excel, JSON, etc.) and I'd like to know if there was a way to import my contents in Orchard Core. There are more than 1,000+ contents in the website and entering them manually is out-of

[2021-03-04 18:30] Skrypt commented on #7865
I will be working on something today for that. At least I think we should be able to import simple content items from an Excel file. Basically it would convert the Excel to JSON so that it can be imported with the Import/Export feature. But I need to try different things first.

[2021-03-04 18:35] sebastienros commented on #8705
I agree with @jersiovic that the index should also be added on the bridge tables (for reduce indexes).

[2021-03-04 18:47] sebastienros commented on #8705
@jersiovic Can you add a unit test in yessql that would show the issue?

Also it seems that FKs don't create indexes as I would have thought. So I'll need to add these indexes on DocumentId (since they are not the primary keys).

For the bridge table, we need to check if yessql is doing two joins or a join with AND. (Document.Id -> B.DocumentId + B.Id -> Index.Id). And change it if necessary, and

[2021-03-04 20:13] MikeKry commented on #7865
Just a thought:
I have ended with implementing my own importer by using code that is already present in OrchardCore.Content.Controllers.ApiController.

Basically what it does = loads csv file, maps fields from csv into json structured content item, calls create/update copied from that api controller.

maybe this could be the way to create some general excel/csv/json importer

[2021-03-04 20:52] jtkech commented on #8734
Hi @deanmarcussen

Just tried your use case, it works on my side

So i created a web app project referencing `OC.Application.Cms.Targets` as a package
A module project referencing `OC.Module.Targets` as a package, and targeting both frameworks
Then i referenced the module project in the web app project, as a project

Then i tried with the web app targeting both TFMs, and then only one net5.0, is t

[2021-03-04 20:56] Skrypt commented on #7865
I would generally tend toward using the Import feature we already have which can handle a lot. I don't know about the ApiController. We do bulk updates with the import feature but not with the ApiController. So the logic and whatnot is already working with the Import feature.

[2021-03-04 21:15] fpionnmedia commented on #7865
@Skrypt Do you have a link on the Import feature? I don't seem the find it in the documentation, nor I do see it in the CMS... (I'm using the **master** branch, I'll take a look at the **dev** branch later).

[2021-03-04 21:22] Skrypt commented on #7865
OrchardCore.Deployment

[2021-03-05 00:35] JoshTango commented on #8685
when I can reproduce I will do that

[2021-03-05 00:38] JoshTango opened #8756 "Reset site"
Create a button to reset the site back to a blank site.  As If you had chosen the blank recipe in the first place.

[2021-03-05 00:46] hishamco commented on #8756
This is good and bad because it's harmful

[2021-03-05 00:48] JoshTango commented on #8756
Well it would make it easier to clear the site and reimport a package.  That's my reasoning

[2021-03-05 00:54] JoshTango opened #8757 "Validation error bug on new tenant"
When I fill out the information for a new tenant I have set a global sql in my appsettings and I do not see a connection string textbox which is good.  However if there is an error on validation then it starts to ask me about which database I want to use.

[2021-03-05 11:45] deanmarcussen commented on #8734
Yes this was the use case (not an especially important one tbf)

So `git -xfd` just to be sure

What works
- all web app modules multitargetting, and the module multitargetting
- webapp not multitargetting, and refering to a locally packed version of the module, i.e. nuget source = `./artifacts`

What still doesn't quite work is
- webapp not multitargetting, module multitargetting, not packed, jus

[2021-03-05 12:15] jtkech commented on #8734
This is exactly what i tried, and that worked

[2021-03-05 13:07] jtkech commented on #8734
When i tried it, i built the app from VStudio, can't right now but tonight i will try it by building from the dotnet cli

How do yo buildyour app? Do you reference your module directly from the app? If not you need `PrivateAssets="none"`

If it still works on my side, would be good that you share a testing app to repro

Or having a call on skipe tonight to see what's the difference on your side, b

[2021-03-05 16:26] jtkech commented on #8734
Okay, just tried, also works by using the donet CLI

[2021-03-05 17:27] deanmarcussen commented on #8734
Ok, thanks @jtkech

I'm going to try in a fresh solution tomorrow and will let you know.

[2021-03-05 18:17] lampersky opened #8763 "support for SQL window functions"
It would be good to have support for SQL window functions.

I know window functions are not the part of **SQL92 syntax**, but they are quite useful and available in all modern database engines. They are part of [SQL:2003](https://en.wikipedia.org/wiki/SQL:2003) standard.

I've extended **SQL Parser** and **SQL Grammar** to support **OVER** clause with **PARTITION BY** and **ORDER BY** so now you s

[2021-03-05 19:44] parisnoble commented on #6279
Hi everyone,

We've made three draft versions for the Orchard Core logo update.

Draft 1, 2, and 3 can be combined with either typography A or B.

Please let us know which logo update meets most the future of Orchard Core, which one shall we proceed with? (Choose one)
Which typography do you prefer? (Choose one)
What do you think about the colors, do they match Orchard's long-term brand goals? (th

[2021-03-05 20:43] JoshTango opened #8765 "Query Permission odd bug?"
1.  I click on queries in admin and run my query and it works just fine.
2. i navigate to a liquid template page in my theme and i get no results for the query displayed.
3. i navigate back to admin queries and try to run my query and I get Page could not be found.

[2021-03-05 23:20] JoshTango opened #8766 "Better permission error page"
Right now if there is an error in the access control it says "The page could not be found".

It should tell you there is a permission problem.

For example: You do not have the permission to access this page.

[2021-03-06 01:09] Skrypt commented on #8766
Be more specific on the page you are talking about because we have this already for most pages.

[2021-03-06 01:12] Skrypt commented on #8763
Maybe then what we need is to start a new parser that would be following the SQL:2003 standards.

[2021-03-06 11:49] JoshTango commented on #8766
I clicked on the RUN button for a query in Admin.

[2021-03-06 11:50] JoshTango commented on #8766
It might be related to these lines but I'm still investigating:

if (!_luceneIndexManager.Exists(model.IndexName))
            {
                return NotFound();
            }

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Lucene/Controllers/AdminController.cs

[2021-03-06 12:05] JoshTango commented on #8766
Admin/Queries/Index?admin=573951066

[2021-03-06 12:55] giannik opened #8769 "Admin dashboard drag and drop in any cell position"
The new admin dashboard is great.
I was wondering if it would be possible when arranging widgets using drag and drop  to drop in any of the  container cells . so for example 1 widget in the far left and one in the far right , leaving an empty cell in the middle.
Or for example drop a widget in the bottom right corner  as shown below :

![image](https://user-images.githubusercontent.com/1516981/110

[2021-03-06 17:20] JoshTango commented on #8766
if (!_luceneIndexManager.Exists(model.IndexName))
{
ModelState.AddModelError(nameof(LuceneIndexSettingsViewModel.IndexName), S["An index named {0} doesn't exist.", model.IndexName]);
}
thats strange
i have an index called Search which originated from cleanblog theme
it shows up in admin
but when i try and edit it and save I get a message saying it does not exist
does this mean in does not exist in

[2021-03-06 17:21] agriffard commented on #5215
It would now be sanitized unless the option is disabled.
Can this be closed?

[2021-03-06 17:28] JoshTango commented on #8766
Maybe there is a problem with exporting and importing search indexes?

[2021-03-06 17:42] agriffard commented on #7448
Can this be closed now?

[2021-03-06 18:11] #7448 closed

[2021-03-06 18:43] sebastienros commented on #8769
It's not really a grid because it's responsive. I don't know if it can go from 6 to 3 columns for instance in an intermediate screen size. I know for sure that it will go to 1 column on small screens, in which case it's fine to convert.

Even if the layout could be replaced, the current object model would not allow for that. A solution might be to add fake empty widgets. So doing would mean reimpl

[2021-03-06 18:47] Piedone commented on #6279
1. Please let us know which logo update meets most the future of Orchard Core, which one shall we proceed with? (Choose one) 1.
2. Which typography do you prefer? (Choose one) A but B has a curious tech-y feeling to it.
3. What do you think about the colors, do they match Orchard's long-term brand goals? (this is one color palette) Can you show what these affect, how would they be used?
4. Which v

[2021-03-06 18:52] Skrypt commented on #8766
Try to rebuild the index.

[2021-03-06 18:55] Skrypt commented on #6279
need some time to think about it. So far, first impression is that I like the first 2.

[2021-03-06 19:03] willnationsdev opened #8771 "Importing workflows with starting HttpRequestEvent does not register URL"
### Describe the bug

If you "Export all Workflows" in a deployment plan, save the recipe json file, go to your deployment target site, and use Packages Import to load up the recipe file, it will successfully port the workflows over. However, I noticed that I would get 404 Not Found errors when attempting to post to my workflows after loading the recipe. I cross-referenced the URL/token between si

[2021-03-06 19:08] Skrypt commented on #8771
I think the token is generated by using the current DataProtection key. So, if you are exporting it to a different tenant that doesn't use the some DataProtection key the url won't work.

[2021-03-06 19:13] JoshTango commented on #8766
Yes I pressed that button and got the same error

[2021-03-06 19:13] JoshTango commented on #8766
If you import a search index what should happen?

[2021-03-06 19:18] willnationsdev commented on #8771
Yeah, I just noticed this and was coming to comment, haha. Hmm, so, I suppose the "fix" would be to add a recipe step that refreshes all URLs for such events automatically.

[2021-03-06 19:23] Skrypt commented on #8771
Maybe or maybe not. Depends if you are exporting to a tenant that uses the same DataProtection key. So, yeah maybe we should have a step.

[2021-03-06 19:25] willnationsdev commented on #8771
Same. I wrote a ILiquidFilter that lets me pass in the name and get the workflow URL (although, geez, your solution was a lot simpler than mine. *Steals* <_<). I could probably open a pull request to add it at some point.

    var servicePath = "{{ Request.Scheme }}://{{ Request.Host }}{{ "My Request Name" | workflow_url }}";

Something like that anyway.

[2021-03-06 19:29] Skrypt commented on #8771
Yeah just `{{ "Your Workflow Name" | workflow_url }}` and 🚀

[2021-03-06 19:52] willnationsdev commented on #8771
Just an FYI, I'm working on a recipe step for this and will also refactor my liquid filter / probably build a tag helper. When it's all done, I'll contribute it back upstream. :-D

[2021-03-06 19:59] JoshTango commented on #8766
Ok so I see the Search index in the admin and I click all the buttons including RESET and I get the same page could not be found error.

[2021-03-06 21:07] Skrypt commented on #8771
Yes it's fine.

[2021-03-06 22:39] willnationsdev commented on #8771
Hmm, so, I've created a RecipeStep, and done all the Deployment stuff, so I can...

1. Create a DeploymentPlan that includes a step to refresh workflow request tokens.
2. Generate a proper GUI for them.
3. Generate a proper recipe file for them.
4. Run the recipe to update the records in the database (confirmed).

I use `IWorkflowTypeStore` for both the recipe step and the `ILiquidFilter`, but the

[2021-03-07 06:47] giannik commented on #8769
Yes sebastien , thought of that too. Add dummy div elements by the number of cols*rows. to act as containers that will be placeholders to drag elements into.
My idea was to add  a footer widget at the bottom to span the entire last row , regardless of the top widgets.
Using css from within chrome dev i can acheive it by setting the css properties : grid-column and grid-row on the widget  , and and

[2021-03-07 08:40] deanmarcussen commented on #8771
Regards this there is a proposal for a `Secrets` module here https://github.com/OrchardCMS/OrchardCore/pull/7891, which probably just needs to be finished, which would make these data protected value transparently managed between instances.

It covers the many related issues where data protected values throw exceptions when moved to different instances.

I think from memory it manages the tokens f

[2021-03-07 08:44] deanmarcussen commented on #8743
Hmm, going to need a few more details of what you're trying to do.

I think you're trying to make a razor page?, possibly on the front end? Using a TaxonomyField?

How are you calling `BuildEditorAsync` if so?

It sounds like you might just be called the `CarPart` `Edit` method.

This would only produce the shapes for the `CarPart` not the taxonomy field.

`BuildEditorAsync` would be the entire co

[2021-03-07 08:57] willnationsdev commented on #8771
@deanmarcussen The code isn't that complicated.

Here's the RecipeStep which is resetting the URLs (tried to copy logic from the `HttpWorkflowController`):

[code]

And here's the LiquidFilter:

[code]

So, from what you're telling me, it sounds like there is some sort of `IMemoryCache` somewhere that I must also refresh? I mean, the process of generating a new security token in `HttpWorkflowContr

[2021-03-07 09:23] deanmarcussen commented on #8734
@jtkech made you a sample where I'm getting the same issue as described above

Left the `App_Data` in, but not the bin / obj files etc

user `admin`, password `Password01_`

[SampleJt.zip](https://github.com/OrchardCMS/OrchardCore/files/6096862/SampleJt.zip)

I updated sdks to make sure I was on the latest `5.0.200`

I left some comments in the `csproj` - works fine if both multitarget, but don't

[2021-03-07 09:51] deanmarcussen commented on #8771
No, there is currently no memory cache. That's a feature of the pr I pointed you at, for information.

It would be to prevent what you are having to do here, which is make a database query everytime you need the url (performance implications)

This regex doesn't look quite right. `var newUrl = Regex.Replace(url, "token=.*", String.Format("token={0}", newToken));`

The use of the `.Wait()` and `.Ge

[2021-03-07 09:56] deanmarcussen commented on #8753
[yessql.db.zip](https://github.com/OrchardCMS/OrchardCore/files/6096904/yessql.db.zip)

As a reference point here is an RC2 database with the blog and workflows setup.

username `admin` password `Password01_`

Now to see how the upgrade goes ;)

[2021-03-07 10:36] willnationsdev commented on #8771
I confirmed that the database does indeed update. My local Sqlite instance shows the updated data and if I go to the edit page of the activity, it also displays the updated URL. So the data *is* definitely getting updated within the database correctly.

**What IS strange though** (cause I was sure I had checked it), is that the LiquidFilter *is* putting out the same value that is in the database,

[2021-03-07 11:15] deanmarcussen commented on #8753
Issues to resolve so far

- Fails to validate cookie when logged in, until `UserId` migration has run. Solution. Log Out first.
- `Layers` migration errors
- `UserPickerField` migration

`while running migration version 5 for 'OrchardCore.Users'. Microsoft.Data.Sqlite.SqliteException (0x80004005): SQLite Error 1: 'no such table: UserPickerFieldIndex'.`

[2021-03-07 11:16] #8538 closed

[2021-03-07 14:03] Sen-Gupta commented on #4316
@sebastienros @jtkech @deanmarcussen @hishamco

We have implemented ElasticSearch (Basic in place), Index, Create, Delete, Rebuild, Indexing and Query using DSL.
Both (Elastic and Lucene can co-exist) ;-)

There are couple of observations, though
1) Lucene Content Search Picker should be better named as "Search Content Picker"? and the result provide must be abstracted higher.
2) The queries modul

[2021-03-07 17:42] Skrypt commented on #8766
That's because the imported indices folders are not created in the App_Data/TenantName/Lucene folder.

[2021-03-07 17:43] JoshTango commented on #8766
i'll go look

[2021-03-07 17:45] JoshTango commented on #8766
the lucene folder exists but it is empty

[2021-03-07 17:48] JoshTango commented on #8766
it was working at one point so what could have removed these folders?

[2021-03-07 17:48] JoshTango commented on #8766
Also does the rebuild button recreate those folders?  But the rebuild button doesn't work either

[2021-03-07 17:50] Skrypt commented on #8766
So, the only reason it would not add anything to those indices is the fact that your Content Types would not be set to index any value(s).

[2021-03-07 17:53] #8509 closed

[2021-03-07 17:57] Skrypt commented on #8766
Ok so the issue originally was about saving a Lucene Query with a non-existing index.

[2021-03-07 18:01] jtkech commented on #8734
@deanmarcussen Okay cool, thanks

Nothing works well these last days, i was not able to load packages from cloudsmith, so i changed the version from rc2-15923 to rc2-15925, but same problem, i had to wait 4 hours to be able to load them ;) So, just to say that i tried it but with the last version rc2-15925, not the rc2-15923 as you.

Okay i could repro with your app project, and i fixed the issue,

[2021-03-07 18:11] JoshTango commented on #8766
well i thought it was permsision but then i found this code:

if (!_luceneIndexManager.Exists(model.IndexName))
{
ModelState.AddModelError(nameof(LuceneIndexSettingsViewModel.IndexName), S["An index named {0} doesn't exist.", model.IndexName]);
}

[2021-03-07 18:11] JoshTango commented on #8766
And the original issue was I could not run a query

[2021-03-07 18:14] JoshTango commented on #8766
I will look through my content types and the blog content types.

[2021-03-07 18:29] JoshTango commented on #8766
When I click on clean blog content types I dont see any indexing chosen in them?
You mean:

Include this element in the index Check to include the value of this element in the index.

Thsi should be cheched?

[2021-03-07 18:40] Skrypt commented on #8766
Here is how the default Search index is set normally :

![image](https://user-images.githubusercontent.com/3228637/110250696-a5bf0980-7f4a-11eb-8097-5553598971df.png)

[2021-03-07 18:42] JoshTango commented on #8766
YEs it is like that for me to and I can see that.
Also I set a global config for sql for all tenants so it shouldn't be using the appdata folder should it?

[2021-03-07 18:44] Skrypt commented on #8766
So show me a screenshot of the page exception then. I don't understand what is happening on your side.

[2021-03-07 18:46] JoshTango commented on #8766
![image](https://user-images.githubusercontent.com/42816989/110250805-680eb080-7f4b-11eb-8525-c97b1993aa85.png)

[2021-03-07 18:46] JoshTango commented on #8766
![image](https://user-images.githubusercontent.com/42816989/110250837-8e345080-7f4b-11eb-9ef7-d380b1ded8c8.png)

[2021-03-07 18:47] JoshTango commented on #8766
When I click on Query button I get The Page could not be found.

[2021-03-07 18:52] Skrypt commented on #8766
Which version of Orchard Core you are using? Because I can't repro on the latest dev branch.

[2021-03-07 18:53] JoshTango commented on #8766
Well I made this site through an import.

[2021-03-07 18:53] JoshTango commented on #8766
I exported everything.  Then I made a new tenant with a blank site theme.
Then I did an import.

[2021-03-07 19:02] JoshTango commented on #8766
Also after that I created a new query called RecentArticles.
It worked at first but then stopped

[2021-03-07 19:05] #8734 closed

[2021-03-07 19:06] jtkech commented on #8734
I merged the fix, re-open if still an issue

[2021-03-07 19:08] JoshTango commented on #8766
Im using the nightly build

[2021-03-07 19:49] JoshTango commented on #8766
I'm wondering if its related to my global sql connection string?
At first it worked so it must have known where to look?
Then it stopped working so maybe it no longer knew where to look for some reason?

[2021-03-07 21:44] JoshTango commented on #8766
{
  "OrchardCore": {
    "ConnectionString": "...",
    "DatabaseProvider": "SqlConnection",
    "Default" : {
      "State": "Uninitialized",
      "TablePrefix": "Default"
    }
  }
}

[2021-03-07 22:10] JoshTango commented on #8766
I'm running this in AZURE web app services

[2021-03-07 23:05] jtkech commented on #4316
@Sen-Gupta Cool !

@Skrypt is better placed to give you some feedbacks, as he is the Lucene expert

Anyway, feel free to open a PR with your suggested code

[2021-03-08 01:45] JoshTango commented on #8766
Hmmm, I have set my vs2019 web deploy to delete all files everytime I do a publish.
MAybe thats when the folders got emptied and it all of a sudden stopped working.

[2021-03-08 08:36] hishamco commented on #7960
@agriffard why this is reopened?

[2021-03-08 08:38] agriffard commented on #7960
I thought it was solved but it is still to be fixed.

[2021-03-08 10:30] parisnoble commented on #6279
Hi there,

Thanks for the feedback.

We shall wait for @Skrypt to think about it. If no feedback is given by Thursday, we shall proceed according to @Piedone's suggestions (including showing the color palette in action).

Regarding the display font, I would totally suggest proceeding with B, Teko. It really does have a more distinctive techy feel to it, and is way less used than Oswald.

[2021-03-08 11:46] jlcummings opened #8783 "DefaultMediaFileStore.MapPathToPublicUrl is not idempotent"
### Describe the bug

The method DefaultMediaFileStore.MapPathToPublicUrl, does not check or sanitize input and will unquestioningly prepend and mangle URLs that are already mapped or should not be mapped.   This has largely not been an issue as the media paths given to the method were coming from other controlled components; however, as it is relied upon by the shortcode providers where content c

[2021-03-08 13:40] ns8482e commented on #8769
yes, Technically it's possible, However current object model use `Position` (int) that stores the Sortable index.

[2021-03-08 14:54] deanmarcussen commented on #8734
All fixed thanks @jtkech

[2021-03-08 14:56] JoshTango commented on #8766
Ok I appeared to have solved it.  I will write up a separate bug with what I have learned.

[2021-03-08 14:57] MikeKry opened #8784 "Lucene index different behavior on save / rebuild"
Hi,

I have a problem with lucene that I am not sure if its a problem with my implementation or with way that OC updates indexes.

In short:
I needed to create faceted search, usually I would use Elastic search, but since OC already had Lucene.Net implemented, I had decided to give it a try (so I would save some time that I would need to spend on admin UI etc.). I have found old project that does

[2021-03-08 14:58] lazcool opened #8785 "Enabling AdminDashboard feature with other SQL modifying features causes SQL mods to fail"
If the AdminDashboard feature is enabled, along with other features that modify the SQL database as part of their migration, then the SQL db isn't modified.

The easiest way to reproduce this, is to add the AdminDashboard feature to the start-up recipe.

[2021-03-08 15:47] jtkech commented on #8734
Cool, happy to know it !!!

[2021-03-08 17:34] deanmarcussen commented on #8785
I would image there must be a exception going into the logs here.

Can you check the related logs @lazcool ?

What I have seen happening with these recipe migrations, that create and save content items, is that other features, which also created content item index, need to be prioritized correctly, so that the indexes they are creating, have been created, byt the time a `FlushAsync` is called (cau

[2021-03-08 20:52] Skrypt commented on #6279
1 B would be me choice, but I have nothing against the second logo. This could be refreshing and making a distinction between the old CMS and the new one ...

[2021-03-08 20:58] Skrypt commented on #8784
I'd need to understand what is the goal you are trying to achieve first. I probably need to read more about the MultiFacetLuceneNet specifications.

[2021-03-08 21:10] dafergu2 opened #8789 "Solution build is failing"
### Describe the bug

Running `dotnet build` in the root directory of the repository results in:

`/Users/df/development/dafergu2/src/Templates/OrchardCore.ProjectTemplates/OrchardCore.ProjectTemplates.csproj(96,5): error MSB4044: The "ReplaceFileText" task was not given a value for the required parameter "ReplacementText".

### To Reproduce
Steps to reproduce the behavior:
1. Clone the repo
2. Ex

[2021-03-08 21:23] dafergu2 commented on #8789
This is due to the change in https://github.com/OrchardCMS/OrchardCore/pull/8717 that builds the project templates for each TFM.

As part of the multi-target build, the project file is process with an empty `$(TargetFramework)`.  This causes the following to fail:

https://github.com/OrchardCMS/OrchardCore/blob/60bad85a0a4ba8699595f98b56e98b8e371a0eb2/src/Templates/OrchardCore.ProjectTemplates/Orc

[2021-03-08 22:06] MikeKry commented on #8784
@Skrypt
Thanks, I will try if that would help. Do you know number of existing issue, so I could watch it in case that is the problem?

[2021-03-08 22:25] jtkech commented on #8789
In fact, before when defining a TFM in a given project, and also TFMs (as it was defined in the global props file), through the dotnet cli, a dotnet build (without specifying --framework xxx) was building only one TFM, but through Visual Studio it was building both. So now we define only a TFM or a TFMs but not both so that it behaves the same.

Then, we first defined a singular TFM for web app, p

[2021-03-09 00:53] JoshTango opened #8791 "Lucene Folders empty"
This bug is related to my experience with the appdata/lucene folder being empty.
I was suing vs2019 and using webdeploy to Azure.
I selected the check box which would alwasy delete any extra files from azure that weren't part of the publish package.
I did this on purpose because I hooked up sql azure and I wanted to see if there were any dependencies on the harddrive files.
It appears there is.
So

[2021-03-09 00:54] JoshTango commented on #8765
#8791

[2021-03-09 00:54] #8765 closed

[2021-03-09 02:12] jtkech commented on #8789
@dafergu2

After a deeper look at the ProjecTemplates, you're right makes no sense to build it for both TFMs as anyway it doesn't pack a lib folder with multiple TFMs, and when building each TFM (that may happen concurrently) it mutates the content of some .json files, and the last wins, currently netcoreapp3.1. I would also prefer to only use one TFM for the web apps

This is what we were doing a

[2021-03-09 02:27] JoshTango opened #8793 "Docs: Query a content type by its content picker field"
I have 2 content types named Article and Profile.
The article has a content picker called Profile which allows you to pick one single Profile. of the person who wrote the Article.
When someone clicks on a Profile page I want to display all Articles written by that Profile.
I need to query all Articles with a Profile == contentitemId of the Profile page.

I would like a sample put into the document

[2021-03-09 02:33] JoshTango commented on #8709
![image](https://user-images.githubusercontent.com/42816989/110409883-fb340d00-8055-11eb-8501-21d14e49d2cc.png)

[2021-03-09 02:43] #8789 closed

[2021-03-09 03:11] chdq0306 commented on #8422
How to use the Tokens?Where set? And other modules ？

[2021-03-09 03:19] jtkech opened #8794 "Update some indexes when upgrading YesSql"
As a reminder when we will upgrade yesSql to the version that automatically create indexes on the map / reduce index tables, related to https://github.com/sebastienros/yessql/pull/353

- For the map index tables, an index only including the `DocumentId` column will be created automatically, so we will have to remove from the migrations the indexes that also only include `DocumentId` column.

    F

[2021-03-09 09:37] vitalybrandes opened #8795 "Notify zone to own Theme"
### Is your feature request related to a problem? Please describe.
Based on #8772  discussion,

i would like to add Notify zone to my own theme.
The module that push the notification using razor page.

Theme build using TheTheme. as example.
I have
[code]
in layout cshtml.
From my module (Razor page)

[code]

[2021-03-09 09:45] deanmarcussen commented on #8795
I'm not sure the Notify Filter will work from a razor page. It might only work from controllers at the moment

It's not an `IAsyncPageFilter`, only an `IAsyncResultFilter`, so might have to be upgraded to support razor pages. (not tested, but I think so)

[2021-03-09 10:40] agriffard commented on #8395
Can you please list the minimum requirements for each db provider?

[2021-03-09 10:49] agriffard commented on #8320
There is a description:

![image](https://user-images.githubusercontent.com/703248/110459493-55bc8000-80cd-11eb-938f-d02fe8e52fcd.png)

[2021-03-09 10:49] agriffard commented on #8320
https://github.com/OrchardCMS/OrchardCore/blob/9bd2e28ac04e4d138cc64fb8189eda56f6623f3b/src/OrchardCore.Modules/OrchardCore.Liquid/Migrations.cs#L20

[2021-03-09 10:49] #8320 closed

[2021-03-09 16:06] MikeKry commented on #8784
Also index is reported as invalid, when I try to open it with Luke (but that applies to both of them).

[2021-03-09 16:36] #8784 closed

[2021-03-09 16:38] Skrypt commented on #5466
TODO : Test this query

[code]

[2021-03-09 19:39] Skrypt commented on #8793
You need to create an IndexingProvider to create a table which will store the ContentItemId of your Articles -> Profile.
The interface for this is IIndexProvider. There is also IScopedIndexProvider that inherits from IIndexProvider.

The other option is to enable the "Content Fields Indexing (SQL)" feature in OC.

[2021-03-09 19:54] lampersky opened #8802 "**InvalidCastException** when using inheritance in my models within IndexProvider"
I'm getting **InvalidCastException** when using inheritance in my models within IndexProvider.

[code]

I have two models, **Person** and **AnotherPerson** which inherit from **Person**.
I've created two Indexes and two IndexProviders.

I've tried exactly the same without OC, just yessql and there everything is working fine, as expected.
So, it looks to me like problem with **registering indexes**

[2021-03-09 20:08] JoshTango commented on #8793
People shouldn't have to do anything in c#.
If queries are supported for this it should be rethought out.

[2021-03-09 20:08] Skrypt commented on #8395
That would take a while to figure out every intricacies between versions.
We develop against latest versions most of the time. We know that right now we have a limitation with SQL Server under 2016. But, I think that the appropriate thing would be to document that we can create SQLDialects for these.

[2021-03-09 20:16] Skrypt commented on #4316
Well, first thing is to have a branch or PR to work with. Then, we can make the changes in that branch if needed.

[2021-03-09 20:19] JoshTango commented on #8793
I can understandmaking a seperate index for Article-->Profile but this should be availabel through the admin UI

[2021-03-09 20:19] JoshTango commented on #8793
what what the query templat elook like?

[2021-03-09 20:24] JoshTango commented on #8793
this:?

https://docs.orchardcore.net/en/dev/docs/reference/modules/SQL/

[2021-03-09 21:35] Skrypt commented on #8793
Well the "Content Fields Indexing (SQL)" was made for people that don't want to do deal with C#. Though, the feature could be enhanced to allow only indexing specific content types. This feature can make your database grow in size pretty quick if you have a lot of Content Types --> Fields. So, I always advise to create a custom IndexingProvider because that's how you will query your SQL Database q

[2021-03-09 22:11] Skrypt commented on #8709
I must agree on that one. It is not obvious for someone who doesn't know that there is a FlowPart there.

[2021-03-10 01:25] infofromca opened #8803 "how to split RequestUrlHost"
under RunningShellTable.cs ,
 shellSettings
                .RequestUrlHost
                .Split(HostSeparators, StringSplitOptions.RemoveEmptyEntries)
which char[] HostSeparators = new[] { ',', ' ' };
-----
under index.cshtml of tenant/admin ,
var host = shellSettings.RequestUrlHost?.Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries).FirstOrDefault();
-------
  under ModularBackgroundS

[2021-03-10 01:49] infofromca commented on #8803
one more under GetEncodedUrl of ApiController.
and apprantly, the (wrong)  code inside of GetEncodedUrl should be changed accordingly

[2021-03-10 02:32] #8803 closed

[2021-03-10 03:48] jtkech commented on #8794
Just started some tests, will continue tomorrow

Just tried the following query, `UserByRoleNameIndex` being created with `CreateReduceIndexTable()`

    await _session.Query<User, UserByRoleNameIndex>(u => u.RoleName == "ADMINISTRATOR").ListAsync();

That produces the following query

    SELECT DISTINCT Document.* FROM Document
    INNER JOIN UserByRoleNameIndex_Document AS UserByRoleNameIndex_D

[2021-03-10 04:25] jersiovic commented on #8705
I tried months ago to reproduce problem in a plain simple test for showing you the problem but I was not able. I will try another time but using UserManager and a UserStore based on YesSql that seems to be what makes the difference.
Maybe if we isolate that scenario, next taking a look to source code o UserManager we can isolate the problem without it

[2021-03-10 05:17] jersiovic opened #8805 "Indexes with multiple records for one document"
### Is your feature request related to a problem?
For some scenarios we need indexes that have multiple records pointing to a document. An example could be if we define a document called productcatalog that contains all the products of a provider. Having all the products in a document helps us to load fast a complete catalog of a provider which is our most frequent use case.
Problem comes when we

[2021-03-10 07:34] MikeKry opened #8806 "Admin UI: Tabs not switching, Bag part title not moving to tabs"
Recently I noticed few UI problems (running on week old OC version):

* Tabs are not switching, if content type has Taxonomy field in Standard mode, but works when using Tags mode
* Taxonomy selection cannot be removed, when Taxonomy field is set as unique (can't deselect active item and select other) or even added (even when it is only field in content item)
* If bag part is placed to other tab,

[2021-03-10 08:17] deanmarcussen opened #8807 "Miniprofiler on admin as a feature"
### Is your feature request related to a problem? Please describe.

The miniprofiler on admin is a great configuration option.

However it requires changing code and recompiling, which if you're on a production site, and just need to check what something in the admin is doing for a query, means rereleasing code.

### Describe the solution you'd like

Add a feature to enable it from the admin.

[2021-03-10 08:42] giannik opened #8808 "In workflows redirect task need to redirect to the referer url"
I am triggering a workflow (using a post incoming request event) from a page and when it completes
I wish to return to the page it was originally called using the redirect task.
So there should be a liquid helper on the Request object to return the referer inside the redirect task as : {{Request.Referer}}

[2021-03-10 08:42] deanmarcussen commented on #8705
Maybe the difference in some of the tests here https://github.com/sebastienros/yessql/blob/dd587b433c990dc18973957794aad88d868fd5f3/test/YesSql.Tests/CoreTests.cs#L3798-L3846

is that they are all query based, whereas with your issue, it is because of session commits, and table updates, rather than just queries

[2021-03-10 08:59] #8749 closed

[2021-03-10 09:05] deanmarcussen commented on #8802
That's an interesting one, especially with the YesSql test passing.

The difference (possibly) is that in OC we register them, and therefore pass them as `IIndexProvider` rather than in your test where they are passed as `AnotherPersonAgeIndexProvider` and `PersonAgeIndexProvider`

Since you have the yessql test, perhaps try registering them as an array of `IIndexProvider` and see if you can repro

[2021-03-10 09:22] lampersky commented on #8802
I will try and will get back to you. Thanks @deanmarcussen

[2021-03-10 09:37] lampersky commented on #8802
I rechecked, and it looks like yesterday I forgot to register both indexes, that's why I was thinking it is working in pure yessql.

Now, I can confirm, the problem can be repro in yessql.
Thanks again @deanmarcussen, I will create issue in yessql repo.

As shown below, no matter how you register indexes, test case fails:

![image](https://user-images.githubusercontent.com/6403130/110607789-df3287

[2021-03-10 09:49] lampersky commented on #8802
https://github.com/sebastienros/yessql/issues/354

[2021-03-10 11:45] parisnoble commented on #6279
Second logo is a more "radical update" compared to the first one. However, it still bears the essential features of the original symbol.

@Piedone & @Skrypt what do you think? Is Orchard community willing to step forward with a more radical update? Or shall we stick to version 1?

Can we agree that typography B (Teko) will be used then?

[2021-03-10 12:28] deanmarcussen opened #8811 "Document Manager does not persist new documents until UpdateAsync is called"
@jtkech this is more of a question than anything else, but I'm questioning the design of the `DocumentManager` / `DocumentStore`

both `GetOrCreateMutableAsync` and the immutable version have factory methods for creating the document.

I'm using them as an initializer to consume data and then cache from an external api, so an expensive call, rather the cheap `new()`.

However because I'm never cal

[2021-03-10 12:47] agriffard commented on #6105
Suggestion: Add an overridable `NeedsConfiguration` property, default to false.

Ex for ListPart: Return `true` if no `Content Types` are selected.
Ex for MultiTexField: Return `true` if list of values is not defined.

If NeedsConfiguration => Display a visual hint in Content Type Edit page.

[2021-03-10 12:50] Piedone commented on #6279
Please present these at the next Tuesday's meeting.

[2021-03-10 12:54] agriffard opened #8812 "Edit layer"
When I edit a layer and the Rules module is not enabled, there is an error:
`Exception: Shape type 'Rule_Summary' not found`

Enabling the feature fixes the problem.

[2021-03-10 13:03] agriffard commented on #6158
No that there is a Rules module, add an example in the corresponding doc?
https://docs.orchardcore.net/en/dev/docs/reference/modules/Rules/

[2021-03-10 13:32] deanmarcussen commented on #8812
There's a migration which should have enabled the `Rules` module.

Can you check in your logs to see if you had an issue, or describe better how you didn't have the feature enabled? i.e. custom setup recipe, or ...?

[2021-03-10 13:59] agriffard commented on #8812
Nothing in the logs.
Only on the default instance (maybe because it was the one on which I tried the Rules module first before merge), worked for the tenants.

[2021-03-10 13:59] #8812 closed

[2021-03-10 14:24] JoshTango commented on #8793
Do I place this class for a custom index in my theme project?

[2021-03-10 14:38] JoshTango commented on #8793
Where is a sample of this custom indexing provider?
And what is a Lucene Content Picker?

[2021-03-10 16:11] parisnoble commented on #6279
Ok

[2021-03-10 16:29] lampersky commented on #8802
I was able to fix this issue, but it would be good if someone could check [this](https://github.com/sebastienros/yessql/issues/354#issuecomment-795227106) solution.
If it's ok, then I can prepare PR for yessql.

[2021-03-10 16:54] Skrypt commented on #8805
Have you also considered using a JSON Function simply in your SQL Query?

[2021-03-10 16:54] hishamco commented on #8806
/cc @deanmarcussen do you see such behavior?

[2021-03-10 19:01] jtkech commented on #8811
Okay @deanmarcussen no problem, need to focus on it a little, i will check it this night

[2021-03-10 20:38] JoshTango commented on #8793
using OrchardCore.ContentManagement;
using System;
using System.Collections.Generic;
using System.Text;
using YesSql.Indexes;

namespace TheNewsTheme.Indexes
{
    public class ContentProfileIndex : MapIndex
    {
        public int DocumentId { get; set; }
        public string ProfileDocumentId { get; set; }

    }

    public class ContentProfileIndexProvider : IndexProvider<ContentItem>
    {

[2021-03-10 20:45] #7960 closed

[2021-03-10 20:50] Skrypt commented on #8793
There's a lot of examples in the source code of OC. WorkflowIndexProvider is one.

[2021-03-10 21:09] JoshTango commented on #8793
yes I took the user one and modified it and pasted it
still examing things

[2021-03-10 21:11] JoshTango commented on #8793
the it seems i need to add this to my themes startup.cs file yes?
services.AddSingleton<IIndexProvider, WorkflowIndexProvider>();

[2021-03-10 22:04] JoshTango commented on #8793
The one that inherits from MapIndex:
public class WorkflowIndex : MapIndex

This is the one which names the columns to be stored in the database?

[2021-03-10 22:17] jtkech commented on #8811
@deanmarcussen

Yes, we don't do an auto update if not yet persisted, all running instances will create (using a factory or not) a new default document (so they are implicitly in sync) which is cached in a local cache, and in a distributed one if provided, this also prevents multiple instances from doing the first time multiple database updates, just to store a default document.

`GetOrCreateImmut

[2021-03-10 22:45] JoshTango commented on #8793
My other problem is that my object is not defined in the module?
Its defined in the Admin portal

[2021-03-10 23:02] JoshTango commented on #8793
I dont see how I will call this from a query template

[2021-03-11 01:57] Skrypt commented on #8793
You will need to create a Table that reflects your MapIndex model by using a Migrations.cs file.

[2021-03-11 03:11] jtkech commented on #8649
@agriffard Nice demo on OC Templates

About the default TFM, didn't re-try it but based on some recent changes (done for another reason), now i think it is net5.0, the json files was copied for each TFM, so the last was winning, now there are only copied for our defined default TFM.

[2021-03-11 04:17] SpikeXy opened #8819 "Wechat/qq/weibo login plugin is Needed"
Now many chinese websites have implemented wechat/qq/weibo login, maybe it also needs to do one, just like twitter.

[2021-03-11 07:32] deanmarcussen commented on #8753
All fixed currently.

Keeping this open to retest prior to any further migration changes.

[2021-03-11 07:43] deanmarcussen commented on #7206
Migration release notes (to be included in any final document)

When migrating from RC2 to xxx please follow this procedure

- Logout from the site before upgrading.
  - If you have not logged out and receive an ASP.NET Claims related exception, please clear your cookies before restarting the migration.
- Start the site, and request the home page. All migrations should complete successfully. Pleas

[2021-03-11 08:14] jersiovic commented on #8805
Well I didn't considered it , thank you for remember it to me.
However but as far as I think on it it doesn't look a very good option in performance terms cause a query like that will need to read all catalogs to look into them if they have some products.

[2021-03-11 08:18] jersiovic commented on #8805
I think it is wrong to post this issue here I should have posted it at yessql repo so I close it here and I open a new one there https://github.com/sebastienros/yessql/issues/355

[2021-03-11 08:18] #8805 closed

[2021-03-11 09:05] #7868 closed

[2021-03-11 10:01] MikeKry commented on #8806
Adding screens for bag part placement issue, if it helps:

Bagpart header on first tab:
![image](https://user-images.githubusercontent.com/52829889/110769588-a0b6ce80-8258-11eb-87d1-41752e809d22.png)

bagpart content on second tab:
![image](https://user-images.githubusercontent.com/52829889/110769978-128f1800-8259-11eb-9f8f-7c33fed6e04a.png)

[2021-03-11 10:03] hishamco commented on #8819
IMHO this is special for certain country, this is good as open source module. If you are interested in this you can add in Orchard Core Contribute repo

[2021-03-11 11:01] JoshTango commented on #8793
So I might as well be making a News Module then I assume?

[2021-03-11 11:41] intellimedhu opened #8822 "Exception when accented characters are used in a custom widget"
I have a custom widget with custom parts. If I fill the string property with accented chars (eg.: "Üdvözöljük") I get an error:
ArgumentOutOfRangeException: Specified argument was out of the range of valid values. (Parameter 'index')

### My code:

#### Parts
[code]

#### Migration
[code]

#### Override the widget's shape: Widget-CustomWidgetContainer.liquid
[code]

#### Override the content shape

[2021-03-11 15:49] #8727 closed

[2021-03-11 16:49] Skrypt commented on #8805
https://techcommunity.microsoft.com/t5/sql-server/indexing-json-documents-in-sql-server-2016/ba-p/384456

[2021-03-11 17:33] serverside-is opened #8829 "Liquid and accented characters"
### When using Liquid in the View, with an accented character at the first position of the content item's Title, the site will eventually crash.
### Additionally, accented characters on any part of the content item Title, will sometimes result in "random" characters instead of the Title.

### To Reproduce
Steps to reproduce the first problem:
1. Create a new site with the Blog recipe (I'm using th

[2021-03-11 18:20] sebastienros opened #8830 "Remove all migration code from pre-1.0"
Any migration to 1.1 should assume that the current code is updated to 1.0 already. Any previous migration code to 1.0 can then be removed.

Example:
As soon as 1.0 has shipped, the dev branch (1.x) can squash all the migration steps to only "Create", and will then have a single `MigrateFromX` based on what X was at the time of 1.0.

[2021-03-11 18:27] sebastienros commented on #7206
Before merging release/1.0, we'll rename the master branch to main.

[2021-03-11 18:46] #6318 closed

[2021-03-11 20:37] Skrypt opened #8832 "Lucene Queries Fluid 2.0 issue"
### Describe the bug

{{ from }} and {{ size }} is not working anymore.

### Screenshots

![image](https://user-images.githubusercontent.com/3228637/110851742-6f052e00-827f-11eb-99a6-b2a97a0f2db6.png)

![image](https://user-images.githubusercontent.com/3228637/110852334-3a45a680-8280-11eb-9908-522385b607c7.png)

### Stack trace

[code]

/cc @sebastienros

[2021-03-11 20:55] Skrypt commented on #8832
See

https://github.com/OrchardCMS/OrchardCore/blob/29d1bd62996cabc775d52be0e9f8d4a35f04aa4f/src/OrchardCore.Modules/OrchardCore.Lucene/Services/LuceneQuerySource.cs#L65

[2021-03-11 21:12] serverside-is commented on #8822
This and #8829 might be due to the same underlying issue.

[2021-03-12 00:17] jtkech commented on #8830
As a reminder,

Special case for migrations (created at some point) but where `Create()` is used as a 1st step, e.g. in `OC.Media`

        // This migration does not need to run on new installations, but because there is no
        // initial migration record, there is no way to shortcut the Create migration.
        public int Create()
        {
            _contentDefinitionManager.MigrateField

[2021-03-12 02:49] #8832 closed

[2021-03-12 03:52] #8649 closed

[2021-03-12 04:04] #6128 closed

[2021-03-12 05:04] scleaver opened #8834 "Available rules modal in Layers JS issue"
### Describe the bug
Looking for hints as to why this might be happening as I think it might be unique to me - the new "available rules" dialog is popping up but the filter and "add" buttons do not work as there is a JS error. When I look at the HTML the script tags are rendering the like `<script at="Foot" depends-on="jQuery">` and they are not being placed in the correct location which is the is

[2021-03-12 05:20] jtkech commented on #8834
I think it has been fixed through #8677

[2021-03-12 05:51] sebastienros opened #8835 "Liquid logical expression are broken"
`a == b and c == d` doesn't respect operator precedence that `a==b`  and `c==d` should be evaluated before `and`.
This is due to a misinterpretation of the fact that operators are evaluated from right to left in liquid.

[2021-03-12 06:09] sebastienros commented on #8835
Just released 2.0.0-beta-9, can someone create a PR and merge? I am going to bed ;)

[2021-03-12 06:48] jtkech commented on #8835
I'm doing it before going to the dentist ;)

[2021-03-12 06:57] #8835 closed

[2021-03-12 07:10] deanmarcussen commented on #8794
Did you upgrade YesSql and remove the `AutorouteIndex` @jtkech ?

I think it should be on nuget now, so I just open this again to remember to do it.

[2021-03-12 07:37] jtkech commented on #8794
Not yet

Need to leave, go to the dentist :(

[2021-03-12 09:11] scleaver commented on #8834
Ahhhh I searched for a fix too!

[2021-03-12 11:13] deanmarcussen opened #8838 "Regression from Dashboard Widgets"
### Describe the bug

### To Reproduce

Go the edit the Blog, a `ListPart`

The `DetailAdmin` display location added for Dashboard Widgets causes both the `TitlePart` and `HtmlBodyPart` to be rendered in the `Content` zone.

### Expected behavior

I didn't follow completely the choice to use `DetailAdmin` for the dashboard widgets.

Feels like it conflicts with existing `DetailAdmin` views (of whi

[2021-03-12 11:16] deanmarcussen commented on #8811
@jtkech

Ok, cool, just checking it's by design, and I understand the potential pain of trying to persist them at that point.

When I see a factory `Task` I assume I can do anything long running in it ;)

But yes I will probably approach this with a loader / migration / activating event to do the long running initialization.

Just checking we weren't missing something we should have :)

Cheers

[2021-03-12 11:16] #8811 closed

[2021-03-12 11:17] deanmarcussen commented on #8830
Agree. Not having that caused the above issue.

[2021-03-12 11:18] deanmarcussen commented on #8829
Can you include a full stack trace (and if you have time try with yesterdays release, as it took Fluid 2.0)

Though I am not sure if this is fluid related.

[2021-03-12 11:33] hishamco commented on #8829
I will try to reproduce this after megre Fluid 2.0

[2021-03-12 12:19] MikeKry opened #8840 "OpenId User roles claims"
I am trying to setup OpenId with two OC apps:

1/ OC OpenID Server app
2/ OC OpenID Client app

I managed to get this setup working, but I can't figure out how to send role claims from server app to client. I have tried to add scope "roles" but that does not help.

Is it possible? If so, I think it would be nice to extend documentation of OID, because for example, there is not even mentioned that

[2021-03-12 12:54] hishamco opened #8842 "Menu arrows has a UI issue in RTL languages"
While I'm working on #8841, I just notice the arrows are not appropriate for RTL

![Menu Arrows](https://user-images.githubusercontent.com/3237266/110942712-40ed2000-834b-11eb-9721-27d5696ccf35.png)

[2021-03-12 13:13] hishamco opened #8844 "Culture switching issue"
@Skrypt I notice I strange behavior, while I'm trying to switch from culture to another, what I have is 2 cultures: `ar` and `en-US`, when I set the default culture to Arabic, no matter I changed to another culture later the OC still show the OC with Arabic culture, did you notice this bahvior?

I will try to fix it there's a bug

[2021-03-12 13:14] hishamco commented on #8844
BTW removing Arabic culture make things right ;) which is weird

[2021-03-12 13:26] hishamco commented on #8829
@serverside-is I check it in the latest bits, the exception is go away

![Blog](https://user-images.githubusercontent.com/3237266/110946190-a3481f80-834f-11eb-824c-dc47e1375ca4.png)

[2021-03-12 13:27] hishamco commented on #8838
I just notice the same bug, hope it could be fixed soon

[2021-03-12 13:38] Skrypt commented on #8844
Could be related with Fluid 2.0

[2021-03-12 13:43] hishamco commented on #8844
I don't think so, I remember I notice same behavior before, but I forgot to report it ;) anyhow I will check what's going on

[2021-03-12 13:53] jptissot commented on #8844
It may be a sync issue with the cookie and the content ? Are you in the English admin and going to a Arabic content page then trying to switch ? If yes, there is an issue where the cookie is not synced properly because the ContentCultureProvider does not set it.

[2021-03-12 14:14] JoshTango commented on #8793
Ok I made a News module and I created 2 content types inside it and I uploaded it and it showed up under features.  I enabled it and my 2 content types showed up in content definitions.

[2021-03-12 14:33] hishamco commented on #8844
Ooh I forgot to ping you @jptissot ;)

I'm expecting it's a cookie issue as you mentioned, but even you didn't enable the Content Localization the issue is happening

[2021-03-12 14:52] hishamco commented on #8840
/cc @kevinchalet

[2021-03-12 17:23] andycyberian commented on #8785
I've stripped out our custom modules from our project and have tried running a fresh setup inlcuding the Admin Dashboard in the recipe, these are the Features being added below:

`    "steps": [
        {
            "name": "feature",
            "disable": [],
            "enable": [
                // SaaS
                "OrchardCore.HomeRoute",
                "OrchardCore.Admin",

[2021-03-12 17:53] hishamco opened #8846 "Darkmode doesn't work with muli tenants in the same browser"
The issue with the current implementation is whenever you have multiple tenants, and you start toggling between the darkmode say 'Light' all the other tenants will use `Light` even you set it previously to `Dark`, this is because the cookie and local storage shared between them

[2021-03-12 19:01] MikeKry commented on #8806
ad. point 2)
I have found an error message:
![image](https://user-images.githubusercontent.com/52829889/110986303-c97cb800-836d-11eb-8740-7338e3c949f2.png)

[2021-03-12 20:33] #8842 closed

[2021-03-12 20:37] Skrypt opened #8848 "OrchardCore.Lucene AdminController refactor"
### Is your feature request related to a problem? Please describe.
The curent AdminController has code redundancy in it's Query method.

### Describe the solution you'd like
We should use the LuceneQuerySource.QueryAsync method if possible.

[2021-03-12 21:02] Skrypt commented on #8844
Try to check which culture is set in your browser config too to figure it out. Maybe it's showing the proper culture because english is prioritary in your browser cultures.

[2021-03-12 21:12] hishamco commented on #8844
The problem it shows Arabic all the time ;) I will try to invistegate on that after finishing the Dark Mode PR

[2021-03-12 21:58] rafaelmohedano commented on #5297
I am working on the Decoupled CMS model, including only the` OrchardCore.Application.Cms.Core.Targets` package.
In order to dynamically create and manage tenants, would I have to use the Full model? Can I just include the `OrchardCore.Application.Cms.Targets` package and continue development as I describe in the documentation? (Https://docs.orchardcore.net/en/dev/docs/guides/decoupled-cms/)

[2021-03-12 22:08] #8846 closed

[2021-03-12 23:00] serverside-is commented on #8829
Looks like I spoke one day too soon!

With Fluid 2.0, I am not able to reproduce any of this problems anymore. They are both gone.

[2021-03-12 23:00] #8829 closed

[2021-03-12 23:06] serverside-is commented on #8822
The problems I described in #8829 have been solved with the most recent commits (Mar 12). Fluid 2.0 was introduced.

I believe this will also solve the problem you describe here.

[2021-03-12 23:49] sebastienros commented on #8838
You bet! I am glad you realized your PR would be controversial, like it was bothering you somehow but couldn't find a better way without going deeper in the reflection ;)

I don't buy the argument of Display controller -> `DisplayAdmin` ... or we would change the front-end display type to `Display` instead of `Details`.
But that's not the issue here. You are creating a new display type such that n

[2021-03-13 00:55] #8794 closed

[2021-03-13 03:05] #8822 closed

[2021-03-13 09:05] hishamco commented on #8822
It should be fixed

[2021-03-13 16:14] agriffard commented on #5681
Setup recipe are not listed anymore in the Recipes admin page.

[2021-03-13 16:14] #5681 closed

[2021-03-13 17:17] infofromca opened #8854 "Facebook -- ScriptsMiddleware should always passes."
### Describe the bug
if return, ScriptsMiddleware will terminate other middlewares.
### To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Expected behavior
ScriptsMiddleware should always passes next to other middlewares

### Screenshots
If applicable, add screenshots to help explain your problem.

[2021-03-13 17:17] agriffard commented on #6453
/cc @sebastienros @dafergu2 @kdubious

[2021-03-13 17:19] agriffard commented on #4505
https://docs.orchardcore.net/en/dev/docs/reference/modules/Widgets/#customizing-the-widget_wrapper-template

[2021-03-13 17:20] agriffard commented on #4059
Related to #6453

[2021-03-13 17:22] agriffard commented on #2191
You can now use Cutsom User Settings.

[2021-03-13 17:22] #2191 closed

[2021-03-13 17:52] kdubious commented on #6453
I suppose there are a ton of extra things a theme builder using Bootstrap (any framework, but Bootstrap for example) would want access to.

Responsive column layout is an obvious example, and it would be great to simple “activate” a Bootstrap feature that works with Flow. How about applying ‘nav’ / ‘navbar’ to Menus. Button styles. Cards.

I’m about to go down this path. I don’t know much about th

[2021-03-13 17:54] deanmarcussen opened #8856 "OpenID Background Task throwing exceptions"
### Describe the bug

The OpenID Background Pruning Task is currently throwing exceptions, due to a missing feature in the YesSQl.IsIn<TIndex> extensions, and support for collections.

Related YesSql issue https://github.com/sebastienros/yessql/issues/359 and pr is in.

@kevinchalet @jtkech just to keep everyone in the loop :)

[2021-03-13 18:48] jtkech commented on #8856
Okay

[2021-03-13 20:19] kdubious commented on #8709
Easy to fix, just needs a "decision"

[2021-03-13 20:20] kdubious opened #8858 "Can't drag-and-drop widget to an empty zone"
I can't drag-and-drop widget to an empty zone, only to a zone with another widget in it.

[2021-03-13 20:25] kdubious opened #8859 "CTRL + S / CTRL + SHIFT + S"
Would be great to have keyboard commands to Save / Save and continue while editing.

[2021-03-13 21:06] hishamco commented on #8859
This is duplicate of #8059

[2021-03-13 21:06] #8859 closed

[2021-03-13 21:07] kdubious commented on #8859
Oops. Thanks.

[2021-03-13 21:30] deanmarcussen commented on #8709
Suggest someone makes a pr, unless you disagree @ns8482e ?

[2021-03-14 04:29] hishamco commented on #8859
Feel free if you are going to push a PR for that one

[2021-03-14 07:06] giannik opened #8860 "In workflows Liquid tags are not resolved."
After upgrading to latest dev with fluid 2 my workflows are not resolving liquid tags.
To repro:

1. Create a form to trigger workflow
2. In the workflow use the CreateContentTask activity to create a content item with liquid expressions like :
[code]

3.trigger the workflow from the form
4. The contentitem created has empty values for the liquid placeholders.

Even putting a breakpoint in
https:/

[2021-03-14 13:14] ns8482e commented on #8709
Usability is debatable,  - IMHO opaque button with primary color was distracting when you have lot of contents with containers.
However ether way, I am fine.

[2021-03-14 15:36] kdubious commented on #8709
This one is both a usability issue and an accessibility issue, too.

[2021-03-14 18:43] giannik opened #8862 "The liquid user filters are not resolved"
Try using the liquid filter  :  {{ User | user_id }}
It returns null.

Seems like this line below does not return a claimsrpincipal an exits

https://github.com/OrchardCMS/OrchardCore/blob/47da5ec7c1a984f3ec545dee4c04d3b9b7f5e5c6/src/OrchardCore.Modules/OrchardCore.Users/Liquid/UserFilters.cs#L26

Similarlly it is not possible to access the properties of the user because this line has been comment

[2021-03-14 19:50] kdubious opened #8864 "Autoroute to include "Redirects""
The Autoroute Part currently allows me to create the 1 path to a content item. For example, I can map `/product1` to the page for "Product 1".

When migrating from another website, or even reorganizing content, it's sometimes needed to map redirects. So, I may need to change my structure to this:

`/products/product1`

It would be nice if on the Product 1 page editor, I could include the various p

[2021-03-15 04:10] Skrypt commented on #8862
This one needs a PR quick.

[2021-03-15 07:57] juergen-de opened #8866 "Menu localizations not working"
In 15966 menu localization causes problems. Existing sites with localized menus throw
"OrchardCore.DisplayManagement.Implementation.DefaultHtmlDisplay: Error: Func`2 thrown from System.Func`2[[OrchardCore.DisplayManagement.Implementation.ShapeDisplayContext, OrchardCore.DisplayManagement, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[System.Threading.Tasks.Task, System.Private.CoreLib, V

[2021-03-15 11:01] giannik opened #8869 "Sql Field Indexing - Limit fields and content types"
I would like to start using the sql field indexing to run sql queries filtering on field values.
But Im concerned that you cant fine tune what you want to index (eg what fields per content type).
And everything is indexed by default , rasining performance and maintanance issues.
Is there some reason we cannot specify what fields per content type to index, like we do in lucene indexing ?
Maybe Im m

[2021-03-15 14:14] Skrypt commented on #8869
That's a feature that would need to be added.

[2021-03-15 15:16] kdubious opened #8870 "Cannot edit / view SuperUser"
There is no UI to edit which account is the Super User account.
There is no UI to indicate which account is the Super User account.

[2021-03-15 15:20] sebastienros commented on #8838
We can chat if you prefer, to find a solution.

[2021-03-15 15:57] hishamco commented on #8870
The `SuperUser` is the first user created in the system, I think we did some restriction to avoid disable it or delete it too

[2021-03-15 15:59] hishamco commented on #8866
@juergen-de please write down the steps to reproduce your issue, so I can verify from the use case and check whether a bug or not

[2021-03-15 16:00] hishamco commented on #8860
@sebastienros is this related to upgrading to Fluid 2.0?

[2021-03-15 16:18] Skrypt commented on #8709
Without making is opaque could we say we make it 10% less transparent?

[2021-03-15 16:22] Skrypt commented on #8864
I think this one is a duplicate from a feature request to be able to regenerate all Autoroutes from it's Content Type patterns. The issue being that the autoroute will not get changed unless you re-publish the content item.

https://github.com/OrchardCMS/OrchardCore/issues/8485

[2021-03-15 16:23] Skrypt commented on #8860
Yes it is.

[2021-03-15 16:28] Skrypt commented on #8870
Hmm, that's worth keeping it open. Nothing allows to filter users to find the super user account.

Should we be able to filter users to find the _Super User_ account?
Should we make the edit user form display a notification that we are currently editing the _Super User_ account?

[2021-03-15 16:31] kdubious commented on #8870
I would think:

1. identify which user is Super User in User List
2. identify which user is Super User in User Edit
3. remove role assignment UI in User Edit for Super User
4. provide UI to select a different user as Super User

[2021-03-15 16:32] Skrypt commented on #8866
Generally we don't use a LocalizationPart on a Menu because we can create multiple Menus that can be loaded by Alias name on a view. So basically, one culture = one menu. If you can give us repro steps we will be able to understand better what you are trying to achieve like @hishamco says. Maybe, also, this could be triaged into "enhancement" or "bug" depending on these.

[2021-03-15 16:35] hishamco commented on #8870
1 & 2 could be done by make the username bold or much better use an icon as indicator

3 Agree, if the super user is there

4. This could be done by impersonation whiched demoed by @agriffard, for more details checkout [OCC](https://github.com/OrchardCoreContrib/OrchardCoreContrib.Modules)

[2021-03-15 16:46] Skrypt commented on #8870
We allow only one Super User per tenant as of now. So, you would need to be logged in as a Super User to create an other one. So, basically, editing the current Super User account should be giving the same result if we agree that we should always have only one Super User account per tenant.

[2021-03-15 16:47] kdubious commented on #8870
A dropdown somewhere that allows you to pick the "only" Super User, which is only visible to the Current Super User

[2021-03-15 16:49] Skrypt commented on #8870
But, why? Can't you just change the Super User "username" or "email" to reflect what would be used on this other user account which you want it to get it assigned to? Here, if we allow to move the Super User account from one UserId to an other then it makes thing more complicated "security wise".

[2021-03-15 16:51] jtkech commented on #8862
@giannik Not so simple ;)

@Skrypt I could get it working but in a way that may need to be discussed

I will suggest a PR soon to show why it's not so simple

[2021-03-15 16:53] kdubious commented on #8870
So if I want to make you the Super User, and me just an admin...
1. Create another user account with my second email address
2. Edit the current Super User account to your name + email (but now all the history of my content authorship moves to you)
3. Sign in as my other email address, and change that account back to the email I really want to use

versus
1. Create your account.
2. Select you as t

[2021-03-15 16:55] Skrypt commented on #8862
Yeah, I think the focus this week should be on fixing these Liquid issues reported by people since we just merged Fluid 2.0.
I almost made plan to work on the Data Localization branch this week 😉 🙊

[2021-03-15 17:03] Skrypt commented on #8870
So, yeah, here is an other issue. That Super User account will have create content items and migrating them to a different user account might take a lot of time depending on how much data this involves.

Have you seen for example how Github handles changing your UserName? Does it migrate all your Commits and PR's and comments and tagging like @skrypt in a issue comment? This is mainly why I don't

[2021-03-15 17:14] Skrypt commented on #8870
Let's wait and see other contributors opinion on this. I think ultimately what you/we need is a module to migrate content items from one user account to the other which a module could subscribe on if it requires to parse some of it's content.

[2021-03-15 17:27] kdubious commented on #8870
"That Super User account will have assigned content items and migrating them to a different user account might take a lot of time depending on how much data this involves."
I think Migrating content is a separate process from assigning a different user as Super User. Typically Super User is a "role" / "claim" assigned to a user. I'd rather not rename users. (but just my opinion)

[2021-03-15 17:37] hishamco commented on #8862
I planned to that too, but still I'm not sure if you want to do it for your own purpose or OC?

[2021-03-15 18:58] Piedone commented on #5297
It's better to open a new discussion than to revive a closed issue :).

No, what you have should be enough to create tenants.

[2021-03-15 20:11] kdubious opened #8877 "Order of Fields and Parts"
In the Content Type Editor:
![image](https://user-images.githubusercontent.com/9756166/111214977-f79a0c00-85a8-11eb-8253-1a4d7014f157.png)

In the Content Item Editor:
![image](https://user-images.githubusercontent.com/9756166/111215102-20220600-85a9-11eb-8155-6141b5737a97.png)

What do we think about having both use the same order?

[2021-03-15 20:22] Skrypt commented on #8870
Super User is not a role in OC.

[2021-03-15 20:28] kdubious commented on #8870
@Skrypt I understand that it is not managed formally by a role, but I think the typical user things of "Super User" as a set of permissions assigned to one (or more) users, rather than an account whose email should be changed to match the person acting in that role.

[2021-03-15 20:31] Skrypt commented on #8870
Yeah, I see your point, I don't want to say you're wrong. Because then I would assume that what we did is perfect which is probably not in some case. I keep this issue opened.

Should we have more than one SuperUser account in OC?
Should we be able to change the SuperUser account to a different UserId?

Lots of questions here which I think needs some reflection 😉

[2021-03-15 20:35] kdubious commented on #8870
@Skrypt Also, I'm not trying to be pushy to "do it my way," just tossing out opinions / experience as someone with "fresh eyes" looking at the system.

I say not necessarily, but it might be nice to have. (Prevents someone from getting locked out when they lose access to an email address)

For this I think yes.

For this I think's it's related, but a separate topic.

[2021-03-15 21:09] deanmarcussen commented on #8870
A lot depends on what you see the super user as.

for us it is and will always be admin - by convention internally. An account which none of us use, but the password for which is available for dr scenarios.

@Skrypt is right, it’s not a role. It’s a magic permission handler which succeeds everything. Another reason we never use it, because testing permissions is difficult when everything succeeds.

[2021-03-15 23:36] kdubious commented on #8870
@deanmarcussen makes sense.
Then perhaps one of the 2 simplest approaches is best:
1. A dropdown to select this user, editable ONLY by the current Super User
2. Do nothing

[2021-03-16 09:47] juergen-de commented on #8866
Skrypt, your comment explains a lot. For many months I add a localization part to the menu and have additionally to use
{% assign valias = "alias:main-menu-" | append: Culture.Name %}
{% shape "menu", alias: valias %}
to make it work. You are right that in that case I do not need the localization part at all

What I want to achieve is just having different menus for different languages. Reading th

[2021-03-16 15:29] deanmarcussen commented on #8785
I imagine the workflow content events are being activiated before the tables are being created. (probably the workflow is doing a flush, before doing a query)

Dependencies ordering may solve the issue.

But we will need a stronger way of achieving this, that doesn't involve dependencies.

In the short term I would try running two feature steps, one after the other. Activate the main set of featur

[2021-03-16 17:04] Skrypt commented on #8866
I leave the issue opened because we need to either document or make it work 😉

[2021-03-16 17:08] #6520 closed

[2021-03-16 17:13] Skrypt opened #8881 "Lucene ApiController"
### Is your feature request related to a problem? Please describe.
The current ApiController should work with every REST verbs possible.

### Describe the solution you'd like
The ApiController should be following what ElasticSearch does. We should be able to insert / edit / remove documents in the Lucene index from a ApiController request.

[2021-03-16 18:19] jtkech commented on #8785
Yes, creating content trigger the related WF events

The problem is that for doing this `OC.Contents` requires `OC.WorkFlows` without depending on it

Hmm, maybe something to fix when the `RequireFeatures` atribute is used, would need to check that the feature is fully "activated", meaning e.g. that the migration is completed, i will think about it

Yes, each recipe step is executed in its own she

[2021-03-16 20:45] #2148 closed

[2021-03-17 07:44] deanmarcussen commented on #8785
Yes @jtkech there maybe something in the `RequireFeatures` attribute.

That was why I needed to move the user picker field index to it's own feature, because in migrations we have no awareness of `RequiresFeatures` in the ordering, so it was always wanting to run before the user migration had finished.

Possibly it might be enough to apply some ordering around `RequireFeatures` during migrations r

[2021-03-17 14:09] JoshTango opened #8886 "Import deployment plan bug"
ValidationException: Your alias is already in use., Your permalink is already in use.

What should the desired behavior be if an alias is already in use?
Skip over it?

[2021-03-17 14:16] deanmarcussen commented on #8886
It's by design.

If it skipped, then you would be left wondering where the content item you tried to import was.

[2021-03-17 14:42] MikeKry commented on #8840
Any idea?
I can create my own claim, if its not possible by default from OC, but I would not like to create duplicate functionality.

[2021-03-17 15:13] JoshTango commented on #8886
Ok fine.  Then there should be an intermediate page which has a list of the collisions and asks if you want to proceed.
Maybe you can even select how you want to handle the collisions.

[2021-03-17 15:14] JoshTango commented on #8886
Then this should be a feature request maybe.

[2021-03-17 17:27] jason8496as opened #8887 "ArgumentOutOfRangeException: Specified argument was out of the range of valid values - 1.0.0-rc2/VS Enterprise newer versions"
### Describe the bug

We have been using **Orchard Core CMS 1.0.0-rc2** to develop a brand new website.

Recently we discovered an interesting issue that only happens when upgrading the Visual Studio version and doesn't let us visualize some of the site pages.

We are not pretty sure if it has something to do with the IDE itself or maybe with any of the individual components that it install when u

[2021-03-17 17:36] jtkech commented on #8887
I'm currently working on the `PagerShapes`

And I got the exact same exception

Repro

- Setup with the blog recipe
- Create more than 10 blog posts
- Go the blog home page that list the first 10 blog posts
- Click on `Older posts` => you get the exception

[2021-03-17 17:37] jason8496as commented on #8887
@antonysb27 please feel free to add any further details you might consider important.

[2021-03-17 17:41] jtkech commented on #8887
No problem, I'm trying it, i will let you know if i find anything

[2021-03-17 19:20] Skrypt commented on #8887
Issue is related with latest merged changes in shapes with Fluid 2.0
I noticed this one last week.

[code]

Issue was there if I remember correctly.

[2021-03-17 19:29] jtkech commented on #8887
For my use case, i tried it before Fluid 2.0, same issue, i'm working on it

[2021-03-17 19:42] sebastienros commented on #8726
Diagnotic counters?

[2021-03-17 19:42] sebastienros commented on #8726
https://docs.microsoft.com/en-us/dotnet/core/diagnostics/event-counters

I believe Application Insights can record them natively?

[2021-03-17 19:44] sebastienros commented on #8726
Here is how npgsql does that https://github.com/npgsql/npgsql/blob/d42cc68e0fa71ce15d4afd60e7f9481ca370cebb/src/Npgsql/NpgsqlSqlEventSource.cs

[2021-03-17 20:14] Piedone commented on #8726
The AI docs recommend starting a dependency operation for background tasks: https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking#long-running-background-tasks So I'd keep doing that and having events raised in Orchard seems to me like the most straightforward integration point, not just for this use-case.

[2021-03-17 21:09] Skrypt opened #8889 "OrchardCore.AdminDashboard packages.json using a non-valid name."
### Describe the bug

String does not match the pattern of "^(?:@[a-z0-9-*~][a-z0-9-*._~]*/)?[a-z0-9-~][a-z0-9-._~]*$".

![image](https://user-images.githubusercontent.com/3228637/111538810-8773bd80-8743-11eb-94d5-f8823f238a24.png)

[2021-03-17 21:26] #8889 closed

[2021-03-17 21:36] Skrypt opened #8891 "npm install failing"
npm install right now fails to install OrchardCore.Markdown module.

[2021-03-17 21:46] #8726 closed

[2021-03-17 23:33] jtkech commented on #8887
I found a fix at least for my use case

It was failing when using a `StringHtmlContent` in the inner html of a `TagBuilder`

Still working on it as i need to understand why

[2021-03-18 02:19] jtkech commented on #8887
@jason8496as

I did a PR #8894 that fixes my use case but maybe not yours

As i can see in your trace, even it is the same exception, it doesn't seem to be the exact same source

Can you copy paste your stack trace, i can't see the details in your image

In your site pages, are you using a pager and under liquid?

[2021-03-18 03:05] jtkech commented on #8785
@deanmarcussen

Yes, i will think about it but so many other things

Hmm, maybe at some point but now i don't think that the Flush is a problem

About migrations, for me it was to alter definitions and tables, not to create contents, this in one shell scope during the shell activation. Then when we did the recipe migrator, for me it was to use recipes but only to do the same kind of definitions an

[2021-03-18 05:14] jtkech commented on #1603
Yes this is a wrong usage of the host name

Yes the tenant prefix allows only one segment

Behind a proxy, it depends on the allowed configurations, you may have to use a map / use middleware to act on the request `PathBase` and or `Path`.

And some little tweaks has been done around the host name string

Feel free to re-open the issue if you still have any problem

[2021-03-18 05:14] #1603 closed

[2021-03-18 07:44] #8856 closed

[2021-03-18 09:30] TFleury opened #8898 "Liquid don't resolves Model.Classes in widgets"
### Describe the bug
Trying to update an existing site to latest dev, `Model.Classes` expression is evaluated to `NilValue` in widgets, wheras it's a widely used pattern in templates :
[code]

It seems to be a property white-listing issue since `Model` and `Model.ContentItem` are correctly evaluated.

[2021-03-18 10:33] tropcicstefan opened #8900 "What could cause two active (latest, published) versions of contentItem?"
Occasionally in production environment some versionable item has two active version, for no reason known to me.
There are two entries in Document table both having Latest and Published on true. Two entries in ContentItemIndex table, same thing. And because they have aliasPart, both entries in AliasPartIndex table.

UI then lists both of them and deleting deactivates all active versions.
In result

[2021-03-18 10:52] hyzx86 commented on #7248
Hi @agriffard  , I just updated the Chinese translation on Crowdin and fixed this problem. Could you update it to OrchardCore?

[2021-03-18 10:59] agriffard commented on #7248
I updated the .po files and built the translations.
You can download them from Crowdin and install them locally to test (but the nuget package won't be updated, it is only updated after a Release).

[2021-03-18 10:59] deanmarcussen commented on #8900
Yes, I've seen this happen before.

I would ask you to check though, do they have different `ContentItemVersionId`'s ?

Once it is in this state, the only thing you can do is fix the documents, and unfortunately all the indexes.

In my experience I think this is caused by concurrency related issues. Either
- double click on the Publish button really quick
- two users publishing the same content it

[2021-03-18 11:04] hyzx86 commented on #7248
Will the po file in the source code repository be updated as well? I haven't seen its update yet.
`https://github.com/OrchardCMS/OrchardCore.Translations/blob/dev/Localization/zh-CN/OrchardCore.Workflows.po`

[2021-03-18 11:39] tropcicstefan commented on #8900
1) They have different ContentItemVersionId.
2) "two users publishing the same content item, at around the same time" - had this issue with taxonomy field that was used as tags, in the end we removed that field, and use custom tags implementation. But with latest occurrence that isn't possible because this contentItem has custom LockingPart that prevents two different users from editing.
3) And so

[2021-03-18 14:01] deanmarcussen commented on #8900
I am confused?

What is the intervention are you making?

[2021-03-18 14:02] Skrypt commented on #8900
Latest = 0 and Published = 0 means the item is "soft deleted". Though the 2 first items got update pretty much at the same time.

[2021-03-18 14:25] #8891 closed

[2021-03-18 15:14] tropcicstefan commented on #8900
when I say intervention I mean fixing indices and document entry

[2021-03-18 16:13] Skrypt opened #8902 "Upgrade popper to v2"
https://github.com/popperjs/popper-core

https://github.com/twbs/bootstrap/pull/31178

We should update to V2 now too.

[2021-03-18 16:21] agriffard commented on #8902
I usually try to stick to the example BS gives in their docs:
https://getbootstrap.com/docs/4.6/getting-started/introduction/#separate
So I kept 1.16.1 for the moment.

[2021-03-18 16:29] Skrypt commented on #8902
Ok, nothing urgent. Just trying to see if it's been merged in the current latest BS version or not.
Seems like there is some PR that got merged in their **_main_** branch but maybe it's WIP on 5.0 version. Need to figure out.

[2021-03-18 16:40] antonysb27 commented on #8887
@jtkech
The complete stack trace is as follows:

### An unhandled exception occurred while processing the request.
ArgumentOutOfRangeException: Specified argument was out of the range of valid values. (Parameter 'index')
Microsoft.AspNetCore.Mvc.ViewFeatures.Buffers.ViewBufferTextWriter.Write(char[] buffer, int index, int count)

#### ArgumentOutOfRangeException: Specified argument was out of the

[2021-03-18 17:10] jtkech commented on #8887
@jason8496as @antonysb27

Okay thanks for the infos

So in my use case i needed to update somewhere what the `StringHtmlContent` does

    encoder.Encode(writer, _input);

by using a new class doing

    writer.Write(encoder.Encode(_value))

Here in your trace we see the usage of a Fluid `StringValue` and in the source code we can see that the same update has been done on Feb 6, 2021
https://githu

[2021-03-18 17:25] sebastienros opened #8903 "Remove SiteSettings.SuperUser"
No need to create custom super user editor.
Can reuse current permissions logic.
Default user has SiteOwner permission.
Only SiteOwner permission can change SiteOwner permission.
Can't remove your own SiteOwner permission.

Related to #8870

[2021-03-18 17:26] sebastienros commented on #8870
Closing in favor of https://github.com/OrchardCMS/OrchardCore/issues/8903
For now please update the database directly, or use a migration.

[2021-03-18 17:26] #8870 closed

[2021-03-18 17:28] sebastienros commented on #8819
Agreed, we suggest you create a community module for it. Ideally available on NuGet.

[2021-03-18 17:28] #8819 closed

[2021-03-18 17:30] jtkech commented on #8898
If i have time i will try to see why

[2021-03-18 17:47] sebastienros opened #8904 "Have a dryrun mode for deployments"
Create a "dryrun" mode that could display error messages before executing the deployment. We could still get error messages back and display them.

[2021-03-18 17:47] sebastienros commented on #8886
TODO: check the logic in the test, to understand what is prevented and what is allowed to confirm there is an issue in the logic

Suggestion for error messages: Create a "dryrun" mode that could display error messages before executing the deployment. We could still get error messages back and display them. https://github.com/OrchardCMS/OrchardCore/issues/8904

[2021-03-18 17:47] TFleury commented on #8898
It took me a long time but I found the reason. It was broken by the upgrade to Fluid 2.0.

In Fluid, Shape and ZoneHoldings uses `ShapeAccessor` which doesn't map all properties (ie: Id, TagName, HasItems, Attributes and Classes)

The update removed this in LiquidViewTemplate :
[code]
and which granted access to all members without using `ShapeAccessor`.

I think it was accidentally working before

[2021-03-18 17:48] jtkech commented on #8900
Yes, the existing concurrency checking option of YesSql may help when mutating the same record version, e.g. when concurrent processes are updating the existing active versions e.g. while publishing, but anyway we don't use this option for `ContentItem`, only for some other documents.

Then yes, when 2 concurrent processes hold e.g. its own new draft version and then save it, YesSql see them as 2

[2021-03-18 17:49] sebastienros commented on #8869
That's something that was designed, by defining something similar to a yessql index provide, in javascript, such that we could create dynamic projections of a content item, and store it in lucene or a sql table. This was postponed because it's not simple to implement.

[2021-03-18 17:53] sebastienros commented on #8866
Menus don't support LocalizationPart for now. Please create different menus for each locale. This example you provide is the correct way to handle it dynamically. If the menu is cache, don't forget to vary it by culture.

[2021-03-18 17:55] hishamco commented on #8898
@sebastienros seems a new issue broken by Fluid 2.0 upgrade ;)

[2021-03-18 17:55] jason8496as commented on #8887
@jtkech

We are using OrchardCore version `1.0.0-rc2-13450` specifically.

Regarding the update you are talking about, I noticed that it was included in Fluid `v2.0.0-beta-1009` and `v2.0.0-beta-1010` pre-releases but we have the following referenced in our project:

`<PackageManagement Include="Fluid.Core" Version="1.0.0-beta-9651" />`

[2021-03-18 17:58] hishamco commented on #8866
I think we need to add a warnning not in our documentation, that the menus don't support localization yet, may be add an alternative solutions as Seb suggested above

[2021-03-18 17:59] jtkech commented on #8898
Yes, it has been removed

I remember when i added these lines of code at some point, so that we don't need to map all needed props

But maybe the right usage is that we should map them to be able to restrict the other ones

If so, yes we have to update these missing mappings

[2021-03-18 18:04] giannik commented on #8869
I was thinking of using the sql field indexing as is and only add an extension point to check if the field should be indexed based on a setting in the field definition screen (like lucene does).
Im not sure if this check should happen inside the index or extenally.
Then maybe hook this into the extensibity with queries that @deanmarcussen  added recently ( with taxonomies, users etc).

I'll give i

[2021-03-18 18:14] jtkech commented on #8887
Ah Okay, so you are using the master branch (nuget feed)

 If you can repro locally, would be good to re-try it with the last dev branch (cloudsmith feed)

[2021-03-18 18:22] TFleury commented on #8898
@jtkech could you check #8905 ?

[2021-03-18 18:24] #8763 closed

[2021-03-18 18:27] jtkech commented on #8898
@TFleury Okay no problem, will do it soon ;)

[2021-03-18 20:56] mariojsnunes opened #8906 "Searching DisplayText with Lucene StandardAnalyzer does not remove hyphens or punctuation"
### Describe the bug
As described here https://lucene.apache.org/core/3_0_3/api/core/org/apache/lucene/analysis/standard/StandardTokenizer.html, the StandardAnalyzer:
- Splits words at punctuation characters, removing punctuation. However, a dot that's not followed by whitespace is considered part of a token.
- Splits words at hyphens, unless there's a number in the token, in which case the whole

[2021-03-18 21:03] hishamco commented on #8906
/cc @Skrypt

[2021-03-18 21:10] Skrypt commented on #8906
Will take a look at it tonight.

[2021-03-18 21:14] Skrypt commented on #8906
![screencapture-localhost-5001-Admin-Lucene-Query-2021-03-18-17_13_02](https://user-images.githubusercontent.com/3228637/111698446-38925a80-880d-11eb-9c9d-0d7524689dd6.png)

From a first test the **Content.ContentItem.DisplayText.Normalized** field is removing accents and making it lowercase.

[2021-03-18 21:18] Skrypt commented on #8906
Seoncd test here :

![image](https://user-images.githubusercontent.com/3228637/111699006-ed2c7c00-880d-11eb-9a4c-8e7c323341dc.png)

[2021-03-18 21:21] mariojsnunes commented on #8906
On the 3rd test, try searching for eaun

[2021-03-18 21:59] Skrypt commented on #8906
![image](https://user-images.githubusercontent.com/3228637/111703178-a5105800-8813-11eb-88e2-ac968d9a9337.png)

Of course searching for only "eaun" would fail. We need to put a wildcard before then. "*eaun"

[2021-03-18 22:18] Skrypt commented on #8906
https://github.com/OrchardCMS/OrchardCore/blob/3f6631b606cfc1b3a6bdb2ff41929abcdea0d6c4/src/OrchardCore.Modules/Orch
ardCore.Contents/Indexing/AspectsContentIndexHandler.cs#L30-L43

Content.ContentItem.DisplayText is a stored field.
Content.ContentItem.DisplayText.Normalized is a stored and normalized (lowercase and no diacritics) field.
Content.ContentItem.DisplayText.Analyzed is an analyzed (tok

[2021-03-18 22:42] mariojsnunes commented on #8906
Ah it works using Content.ContentItem.DisplayText.**Analyzed** !
Didn't know this field existed, great! :)
This should be documented somewhere

Yeah because Normalized doens't split hyphens or punctuation like I was expecting.
Will close this then. Thanks!

[2021-03-18 22:42] #8906 closed

[2021-03-18 22:42] #8898 closed

[2021-03-19 08:11] PiemP commented on #8217
@giannik see https://github.com/OrchardCMS/OrchardCore/issues/6864#issuecomment-769827279

[2021-03-19 08:24] intellimedhu commented on #8822
Fixed! Thank you!

[2021-03-19 08:44] PiemP commented on #4959
I believe is the normal behavior of fontawesome used in the OrcharCore backend. Probably trumbowyg trigger some events and fontawesome translate the html to an SVG. I have used fontawesome and when I load some DOM elements in async way, fontawesome, "translate" the i tag in and SVG way.

If you look in the admin menu code you can see the SVG of the icons and it's the same you can find in you examp

[2021-03-19 09:52] #8862 closed

[2021-03-19 10:08] hishamco commented on #8217
@giannik could you try to set `svgPath: false`

[2021-03-19 10:22] hishamco commented on #4959
@jagbarcelo could you try to set `svgPath: false`

[2021-03-19 10:31] jagbarcelo commented on #4959
Still the same behaviour.
Configuring Trumbowyg editor with this:
![image](https://user-images.githubusercontent.com/6704109/111767034-84451280-88a6-11eb-8b02-8c68ffd2fe45.png)
And it makes no difference.

[2021-03-19 11:05] PiemP commented on #4959
I believe the problem is related to fontawesome. By default it looks at the DOM and convert an HTML tag I into an SVG.

If we want to disable this behavior we have to use `fontawesome-svg-core` instead of the default ones (https://fontawesome.com/how-to-use/on-the-web/advanced/svg-javascript-core#comparing).

I have created a backend theme without load the fontawesome script and trumbowyg doesn't

[2021-03-19 11:27] hishamco commented on #4959
I will try to have a look ...

[2021-03-19 13:32] kdubious opened #8910 "Should not use 'x-powered-by'"
The system returns a value, `orchardcore`, in a `x-powered-by` header.

![image](https://user-images.githubusercontent.com/9756166/111787943-f103e100-8895-11eb-8a94-60f0e1c8f6f5.png)

Why?

Sending these types of HTTP headers:

- does not provide any value to the user experience
- contributes to header bloat
- exposes information to potential attackers about the technology stack being used

[2021-03-19 13:39] Skrypt commented on #8910
That's how @sebastienros tracks us 😉

[2021-03-19 13:41] kdubious opened #8911 "s-max-age should be s-maxage?"
![image](https://user-images.githubusercontent.com/9756166/111789228-47bdea80-8897-11eb-9e90-7727d9ad1504.png)

`max-age`
The max-age directive states the maximum amount of time in seconds that fetched responses are allowed to be used again (from the time when a request is made). For instance, max-age=90 indicates that an asset can be reused (remains in the browser cache) for the next 90 seconds.

[2021-03-19 13:42] kdubious commented on #8910
@Skrypt... all the more reason to kill that header, then. :)

[2021-03-19 13:45] Skrypt commented on #8910
https://github.com/OrchardCMS/OrchardCore/blob/8578439874ca91e6c8bf134995b86f9b3e97c2a4/src/OrchardCore/OrchardCore/Modules/PoweredByMiddleware.cs#L46

[2021-03-19 13:45] kdubious opened #8912 "Inspect and fix Microsoft Edge (Chromium) issues."
Missing x-content-type-options :

![image](https://user-images.githubusercontent.com/9756166/111789558-a84d2780-8897-11eb-8b31-ceef0446b4eb.png)

[2021-03-19 13:51] hishamco commented on #8910
I seen such header in many CMS to know it's powered by certain one, but you can disable it if you like as @Skrypt mentioned above

[2021-03-19 13:53] kdubious commented on #8910
Excellent!

Would be much safer to be `false` by default.

for now:

[code]

[2021-03-19 13:54] Skrypt commented on #8910
Well, it was a secret ... 😉

[2021-03-19 13:54] kdubious commented on #8910
@hishamco I understand, but it's never a good idea to do something insecure by default because you've seen it done other places.

[2021-03-19 13:54] sebastienros commented on #8910
It's documented how to disable it.

However we ask users not to do it as it allows us to know how many public websites are using orchardcore. We don't have any data about our main website usage, we don't do any pings back when you open the dashboard. We have literally nothing but this default header. But yet you can disable it with a simple boolean and again, it is documented.

How can we justify

[2021-03-19 13:56] hishamco commented on #8910
Could you please elaborate what's the security issues if I expose the CMS or Framework name?

[2021-03-19 14:07] kdubious commented on #8910
@sebastienros I didn't read the docs on this item since it was on by default, was just "testing" my site and stumbled on it.

I hate to be disagreeable, but I am 100% not "wrong". Given a site, yes, I can infer the CMS. (`/wp-content`). But, given the Internet, and a specific header, I can FIND a site that is targetable. And that's the risk. A malicious user has access to the source code that is r

[2021-03-19 14:19] sebastienros commented on #8910
Correct. But it doesn't make it safer to remove it.

Here, did I save it ;)

[2021-03-19 14:51] kdubious commented on #8910
Many animals in the wild have what is referred to as a "Fight or Flight Instinct." In reality, there are 3 components... Fight, flight and hide. In very many cases, animals avoid death by hiding. (Some school kids are taught "Run. Hide. Fight." for active shooter situations, a can of worms we can avoid discussing)

Given an animal has a "security issue", **hiding is safer than not hiding**.

Any a

[2021-03-19 14:56] kdubious commented on #8910
@hishamco I think I answered your request to elaborate. Please let me know if I didn't.

[2021-03-19 14:56] Skrypt commented on #8910
You could easily parse a HTML page rendered by Orchard to know it's been rendered by Orchard just by looking at the path of files to be honest. Here an example of a stylesheet that comes from the OrchardCore.Resources module.

`<link href="/OrchardCore.Resources" ...`

Here, the x-powered-by header is just one other way to get to know which CMS is used with a website. At least, we don't provide an

[2021-03-19 15:04] kdubious commented on #8910
@Skrypt `<link href="/OrchardCore.Resources" ...`

I just didn't get to that yet. ;)

Without `/OrchardCore.Resources` and without the header, how else can someone identify a site as an OC site?

*PLEASE* do not use WP as an example. Search for "how do I fix my hacked WP site." (350,000,000 Results on Bing)

[2021-03-19 15:05] Skrypt commented on #8910
Yes, but either they are still arrogant after all these years or they are making huge money with people fixing these.

[2021-03-19 15:10] kdubious commented on #8910
When you have HUGE market share (think Internet Explorer in 2009), you can ignore lots of important things.

![image](https://user-images.githubusercontent.com/9756166/111801739-9c676280-88a3-11eb-9bf4-15b8b31714a2.png)

[2021-03-19 15:10] Skrypt commented on #8910
You can find OC website by different repeated patterns in some of our themes ... or it could be just the fact that we use some specific bootstrap theme ... or because the login page is built with these specific html elements in that specific order ...
Could name thousands of ways.

The important is that it be secure in the end. Which means, if we find security issues then we need to fix them.

[2021-03-19 15:17] kdubious commented on #8910
1. I'm pretty sure most bigger sites make their own theme

2. Possible. Yet easy enough to restrict IP address access to `/admin` without recompiling code

3. I think not and I hope not.

I'm glad to be quiet now. I've said my peace. A site that sends an `x-powered-by` header is less secure than one that doesn't send it. There are financial reasons to keep that feature on by default, and as a smal

[2021-03-19 15:20] Skrypt commented on #8912
Ok let's open up a single issue for these that says. Inspect and fix Microsoft Edge (Chromium) issues.
We need to list them.

[2021-03-19 15:25] Skrypt commented on #8910
I think everything has been said 😄

[2021-03-19 15:25] #8910 closed

[2021-03-19 15:34] NogginBox opened #8914 "Shortcode only works once"
### To Reproduce
1. Create a test shortcode ```[lorem]``` that just replaces itself with ```<strong>lorem ipsum ...</strong>```
2. Create some content with a HTML body and use that shortcode more than once. Something like:
[code]

### Expected behavior
In the final content all the [lorem] shortcodes will be replaced.

### Actual
Only the first [lorem] is transformed. If there are two different sho

[2021-03-19 15:36] kdubious commented on #8912
1. A 'cache-control' header contains directives which are not recommended: 'no-store'
2. A 'cache-control' header contains directives with invalid values: 's-max-age=31557600'
3. A 'set-cookie' header doesn't have the 'httponly' directive.
4. Response should include 'x-content-type-options' header.
5. The 'Pragma' header should not be used, it is deprecated and is a request header only.
6. The 'se

[2021-03-19 15:39] hishamco commented on #8914
@NogginBox is `[lorem]` a custom shortcode if yes, please show us your code

[2021-03-19 15:47] NogginBox commented on #8914
@hishamco it's one I created in /admin/shortcodes/ to test this bug.

**Name:** lorem
**Content:** <strong>lorem ipsum ...</strong>

[2021-03-19 15:55] hishamco commented on #8914
I may need to create a unit test for testing this, may be it's a shortcode bug

[2021-03-19 15:58] jan-chvojka opened #8915 "Liquid Culture tag is empty"
I have just updated to latest version of nuget packages (commit 37459b27) and noticed that liquid tag {{ Culture.Name }} returns nothing. I tested it with clean cloned repo of dev branch with Agency Theme.

### To Reproduce

1. Clone dev branch and run project OrchardCore.Cms.Web.
2. Setup Agency themed site.
3. Look to html source of the homepage.
4. See that **html lang attribute** is empty.

##

[2021-03-19 16:03] Skrypt commented on #8914
I just tried with a Liquid template and the shortcode doesn't work at all.

[2021-03-19 16:05] hishamco commented on #8914
Nah, seems this is another Fluid issue ;)

[2021-03-19 16:08] hishamco commented on #8914
@Skrypt @NogginBox said the first occurance replaced successfully, but what you show off ensure that the shortcodes don't works at all

[2021-03-19 16:13] hishamco commented on #8915
I will test this one too, with #8914

[2021-03-19 16:19] Skrypt commented on #8914
@hishamco This doesn't work either :

https://github.com/OrchardCMS/OrchardCore/blob/37459b27a7437d398998e521a650a65172db6b3e/src/OrchardCore/OrchardCore.DisplayManagement.Liquid/OrchardCoreBuilderExtensions.cs#L73-L95

[2021-03-19 16:39] jtkech commented on #8914
I think they are all related to objects that were added to the liquid scope dynamically through `ILiquidTemplateEventHandler`. And that now are added globally to a Scope options through a custom liquid accessor which needs to define how to access the properties

In the above example maybe we are just missing the Scope options `o.Scope.SetValue("HttpContext"`, and maybe also `o.Scope.SetValue("Requ

[2021-03-19 16:51] hishamco commented on #8915
@jtkech seems this related to #8914

[2021-03-19 16:52] sebastienros commented on #8021
Note that `@await DisplayAsync(Model.Metadata.ChildContent)` should actually be `@Model.Metadata.ChildContent`

[2021-03-19 16:57] sebastienros commented on #8910
That ended too well, too soon.

[2021-03-19 17:02] sebastienros opened #8918 "Convert IHtmlContent to FluidValue"
Register a Fluid converted that will transform an IHtmlContent to a FluidValue in order to be able to render and instance like `{{ myHtmlContent }}`.

c.f. discussion in this PR https://github.com/OrchardCMS/OrchardCore/pull/8908 related to this issue https://github.com/OrchardCMS/OrchardCore/issues/8021

[2021-03-19 17:04] jtkech commented on #8915
Maybe, will check it this night ;)

[2021-03-19 17:10] Skrypt commented on #8910
It didn't it just moved 🐰

[2021-03-19 17:19] sebastienros commented on #8912
Where is that list of issues/recommendations coming from?

Also I read recently that `x-apple-orange` is not recommended anymore, and that we should just use `apple-orange`

[2021-03-19 17:24] kdubious commented on #8912
@sebastienros, it's coming from me. And I am getting it from the "Issues" tab in "Edge."

https://webhint.io/

[2021-03-19 17:24] Skrypt commented on #8912
![image](https://user-images.githubusercontent.com/3228637/111819243-7f885a80-88b6-11eb-91cf-aa809825ae4d.png)

[2021-03-19 17:36] hishamco commented on #8844
The main issue comes from browser languages, I remembered I added Arabic & French while testing localization support in Oqtane, but I forgot to delete them ;), AcceptLanguageHeaders have precendency over cookie once

[2021-03-19 17:36] #8844 closed

[2021-03-19 17:37] jtkech commented on #8918
As a reminder a copy of my coment in the related PR

Maybe i will do it this night while working on other liquid accessors ;)

[2021-03-19 23:41] #8918 closed

[2021-03-20 06:55] #8915 closed

[2021-03-20 10:43] LRathje commented on #5667
If you use MVC views in a module this problem still exist.
You can place a RenderSection in the _Layout.cshtml and a section definition in a cshtml viewpage. The definition is recognized, but the rendersection does not pick it up and you get the exact same error message as @dodyg mentioned above like:
`The following sections have been defined but have not been rendered by the page at '/Areas/.....

[2021-03-20 14:47] sebastienros commented on #5667
@LRathje I would suggest your start a new issue with your own repro steps focusing on views. That will give it more visibility.

[2021-03-20 14:52] LRathje commented on #5667
Thanks - I will :)

[2021-03-20 21:39] jtkech commented on #8860
I think it has been fixed through #8926

Feel free to re-open the issue if it still doen't work

[2021-03-20 21:39] #8860 closed

[2021-03-21 02:09] zhubenben opened #8934 "Blog post cannot be opened when localization is enabled in features. -RC2"
Blog post cannot be opened when localization is enabled in features. -RC2

![2021-03-21_100100](https://user-images.githubusercontent.com/39297211/111891360-71107f00-8a2d-11eb-9cd7-65a513a8cb89.png)

[2021-03-21 02:44] jtkech commented on #8934
Yes, it's an encoding issue that can be bypassed by the way that some `IHtmlContent` use the encoder, here the Fluid `StringValue`. Related to #8887 where i commented

The `StringValue` has been updated in Fluid, we also updated another custom `IHtmlContent` in OrchardCore

So would be good to try it with the last dev branch from the cloudsmith feed

[2021-03-21 04:14] #8914 closed

[2021-03-21 15:23] jptissot commented on #8886
I tested this using various scenarios with the Menu of a Blog.

Here is how I setup the site:
1. Setup the site using the blog recipe
2. Export the Menu ContentItem

Here are the various import paths I tried

### Same `ContentItemId`, different `VersionId`, modified DisplayText
This imported properly and the new version was properly added. No validation errors were triggerred.

### Same `ContentIt

[2021-03-21 17:49] hishamco commented on #7003
@qadirkanore any updates on this, we need more information, so team member can help to resolve this issue

[2021-03-21 19:29] sebastienros commented on #8886
Closing since it seems to work as expected.

[2021-03-21 19:29] #8886 closed

[2021-03-21 22:55] jtkech commented on #6413
@Piedone Just for info

No, if the session has been canceled nothing will be persisted when committing it, and now, even if the transaction is committed and a new one is created in the context of the same scoped session instance, we now keep the `_cancel` state of a given session instance for its whole lifetime.

Hmm yes, maybe still a problem if the WF activity `CommitTransactionTask` is executed

[2021-03-22 01:35] Piedone commented on #6413
At the time I tested whether the invalid state is indeed persisted to the DB and it was. If it is not, now, then great!

[2021-03-22 02:44] jtkech commented on #6413
@Piedone

Just retried the simple WF in your first comment

I edited a blog post and changed the slug to make a duplicate so that the validation will fail on publishing

In that case the WF is not executed, so that's okay

But when i re-edit it, the already created draft version still have the duplicate slug, but not related to the WF that was not executed. Then from the admin actions i discarded

[2021-03-22 03:44] jtkech commented on #6413
**Update**

@Piedone

Yes, you were right, the updated event is triggered regardless the validation result, i didn't see it because the completed WF instance was not persisted because of the cancel done by the validation, but the draft was persisted because of the commit activity (at this point a session save on the WF instance is not yet done).

And when i really remove the commit task, that's ok

[2021-03-22 03:50] #6455 closed

[2021-03-22 04:07] doticca opened #8939 "Support multiple translation providers"
Localization manager should be able to handle multiple instances of ITranslationProvider. This way we can create more methods for storing translations.

[2021-03-22 07:51] hishamco commented on #8939
@doticca could you please tell us the current issue that you are trying to solve? what is the current limitation?

[2021-03-22 11:04] doticca commented on #8939
In our project we have a module under construction that provides the ability to administrators to create translations at the DB level (per culture) without the need to save/load them from a PO.
These translation are served through a singleton that implements ITranslationProvider.
I have already used a version of the LocalizationManager for our needs using service.Replace and it merges the new tran

[2021-03-22 11:46] Piedone commented on #6413
Thank you!

[2021-03-22 12:10] hishamco commented on #8939
You can create a custom localization provider that read your localization resources from within the database without touching PO related types

You just need to register your `DatabaseStringLocalizerFactory` & `DatabaseStringLocalizer` in the same way the `PoStringLocalizer` did, still I don't see any need to support multiple translation providers, unless you need to provide different translations

[2021-03-22 12:39] doticca commented on #8939
Yes I would like to keep the .po translations as the default ones, but at the same time provide the end user with the functionality to replace them with his own.

[2021-03-22 14:43] deanmarcussen opened #8942 "Test upgrade from RC2 with Shortcodes"
Reported on gitter

When upgrading from RC2 the shape type `ShortcodesModal` is not found.

I had thought this was related to the renaming, but I suspect it is because the html editors now depend on shortcodes.

But when upgrading (i.e. on site startup) the site does not recheck it's dependencies.

I suspect we just need a migration, similar to what was done for layers / rules to enable the featur

[2021-03-22 14:52] deanmarcussen commented on #7831
Just needs agreeing on the design

[2021-03-22 16:45] kdubious opened #8943 "Bad Link: https://docs.orchardcore.net/en/dev/docs/reference/modules/SQL/README.md"
https://docs.orchardcore.net/en/dev/docs/reference/modules/SQL/README.md

[2021-03-22 16:47] agriffard commented on #8943
It should now be: https://docs.orchardcore.net/en/dev/docs/reference/modules/SQLIndexing

Where do you still have this link?

[2021-03-22 16:57] kdubious commented on #8943
@agriffard https://docs.orchardcore.net/en/dev/docs/topics/search/

[2021-03-22 17:01] jtkech commented on #8942
Yes, as we have auto migrations we could have an auto update based on new dependencies

But not sure yet when it needs to be done, e.g. at the beginning or at the end of the shell activation

Needs more thinkings ;)

[2021-03-22 17:24] #8943 closed

[2021-03-22 18:00] jtkech commented on #8785
As a reminder

Yes the `RequireFeatures` may introduce somewhere a circular dependency, e.g. when F1 require

Yes if F1 requires F2 to add a functionality, about ordering this functionality would need to be a pseudo feature that depends as usual on the main one F1 but also on F2, interesting, maybe a new kind of dependency strategy

Hmm, but we would have to take care if F2 also depends on F1 as i

[2021-03-22 18:26] Skrypt commented on #8939
We have a PR that needs work that will introduce Data Localization that will come from the DB. Maybe this is not needed like @hishamco is mentioning.

Related with : https://github.com/OrchardCMS/OrchardCore/pull/8098

[2021-03-23 00:03] Piedone commented on #8900
The "two users editing and publishing a content item at the same time" is an amusing one I've seen happening, and an issue even if it doesn't end up causing data inconsistencies. We can lock on content items to prevent inconsistencies (thinking also if not people are saving the items but they're written via a web API or even `IContentManager`) but If two people open the same content item and they

[2021-03-23 00:13] #6413 closed

[2021-03-23 08:39] jagbarcelo opened #8948 "Shape "Menu" and "BreadcrumbMenu" are rendered as a "ContentCulturePicker""
We have a site running OC 1.0.0-rc2-15878 with tree different shapes (`Menu`, `BreadcrumbMenu` and `ContentCulturePicker`) which work perfectly on production. Here's a screnshot:

![image](https://user-images.githubusercontent.com/6704109/112114721-aa292a80-8bb8-11eb-8bfe-b8a737846b1f.png)

You can see the `Menu` at the right of the company logo, the `ContentCulturePicker` at the right-top side an

[2021-03-23 19:59] #7003 closed

[2021-03-23 20:42] jtkech commented on #8609
Fixed

[2021-03-23 20:42] #8609 closed

[2021-03-23 20:59] hishamco commented on #8948
@jtkech when I saw the culture dropdown twice I remembered a recent issue in blog title in the admin site, which you worked on

[2021-03-23 21:16] jtkech commented on #8948
About the blog title rendered twice it is "normal" one is the Title of the admin page, the other is the title of the blog rendered in the DetailAdmin display type, so it's just because the same text and size are rendered twice.

So i think it is not related

Here, at least i will try to render a culture picker shape under liquid

[2021-03-23 21:20] hishamco commented on #8948
I see ..

@jagbarcelo why you add three CCP?

[2021-03-23 21:24] jagbarcelo commented on #8948
There are only one  `{% shape "ContentCulturePicker" %}`, one `{% shape "Menu", alias: ... %}` and one `{% shape "BreadcrumbMenu" %}`. However (see the second image) the latter two shapes end being rendered as if they were CCPs. That's the weird issue.

[2021-03-23 21:34] jtkech commented on #8948
Just tried `{% shape "ContentCulturePicker" %}`, it is not rendered twice

But just for info because i trust you ;)

[2021-03-23 22:48] jtkech opened #8955 "Features dependencies improvments"
@sebastienros

Because of some recent issues e.g. #8942 and #8785 i started to work / think about

- If we upgrade an already enabled feature whose coded dependencies have changed, we could think about auto enableing the features included in the dependencies that are not yet enabled.

- If F1 requires F2 to add a functionality, **about ordering** this functionality would need to be a pseudo featur

[2021-03-23 22:50] jtkech commented on #8948
@jagbarcelo

Just saw some little problems, i will work on it soon

[2021-03-23 23:01] sebastienros commented on #8955
Why "if we upgrade". Can't it be done at startup? Just check that all dependent feature are enabled, and enable them. This is what would have happened if we had enabled the feature in the first place, from the UI for instance.

Either that or we don't enable the feature since it can't work without its dependencies, but that could block the system.

[2021-03-23 23:29] jtkech commented on #8955
Yes, this is what we do currently in a migration step

But not so simple, when enableing through the UI, from memory

- Enable the feature + update shell descriptor + release the shell
- Redirect
- A defferred task update the ShellState (not ShellDescriptor) in the db (but for now we don't use it elsewhere)
- Next request rebuilds the shell (Startups ConfigureServices are called)
    - Activates i

[2021-03-24 00:49] jtkech commented on #8948
Okay i can repro when i put the picker shape before the menu shape

The picker is rendered twice, the menu is not rendered

I saw where the issue is, will be fixed soon

![ShapeTag](https://user-images.githubusercontent.com/8586360/112236627-367f3000-8c41-11eb-92da-466fcbc33d7c.png)

@sebastienros

If we use `{% shape "Type1" %}` then `{% shape "Type2" %}` the same `ShapeTag` instance will be alwa

[2021-03-24 02:14] #8948 closed

[2021-03-24 04:47] jtkech commented on #8955
I began to have some ideas but need more thinkings, maybe just some helpers to do things but only when there are needed, so for now i close it and will open a new issue / PR when ready to rephrase it.

[2021-03-24 04:47] #8955 closed

[2021-03-24 07:35] MikeKry commented on #8806
Adding another UI issue to issue description

[2021-03-24 08:32] deanmarcussen commented on #8806
To many issues list in one, I don't even know where to start

[2021-03-24 08:38] deanmarcussen commented on #8955
Can we not just have a hash of current features vs discovered features (i.e. a new feature was added / and or a dependency hash changed), and then invoke the renable flow on startup?

Sounds super simple when I say it, probably is not?

ok, so I was able to do this without a deffered task, just in the same shell scope, so maybe that is better?  I will look at shortcodes today, so will see what act

[2021-03-24 11:43] MikeKry opened #8959 "Trumbowyg - resizimg plugin"
### Describe the bug
Resizimg plugin is not working = does not resize, on click and blur makes image disappear, I think it could be related to PR #7774

On project older than this PR, it works OK.

### To Reproduce

Use latest version of OC, create trumbowyg editor, add image, try resize

### Screenshots
After clicking on image / trying to resize
![image](https://user-images.githubusercontent.com/

[2021-03-24 12:06] agriffard commented on #8959
Duplicate of #6864

Waiting for PR merge on Trumbowyg repo: https://github.com/Alex-D/Trumbowyg/pull/1192

[2021-03-24 12:54] MikeKry commented on #8959
hm, tried to search for it at first but I didn't find it..

thanks for info, closing duplicate

[2021-03-24 12:54] #8959 closed

[2021-03-24 13:06] agriffard commented on #8877
By default, the fields are rendered where the `NameOfYourContentType` is placed in the Parts (which does not appear in your screenshot).

[2021-03-24 14:00] deanmarcussen commented on #8877
Note: there are actually draggable.

If you dragged the `NameOfYourContentType` to the top of the list (as @agriffard says it's not visible on your screen shot) then the fields would appear first.
Fields being contained in the `NameOfYourContentType` part.

[2021-03-24 14:25] parisnoble commented on #6279
Hi Everyone,

Thanks for yesterday's meeting and the nice feedback.

We've created a one-page slide with all 4 options.

**Goal:** We would like to agree latest by Sunday (28th) on which of the following options shall we proceed with and finalize.
**Question:** Which one of the following 4 options is most likely to best serve Orchard's long-term purpose? (i.e.: 2B)

**Please note that these versio

[2021-03-24 15:17] kdubious commented on #8877
Thanks, I didn't realize that!

[2021-03-24 15:17] #8877 closed

[2021-03-24 16:24] CrestApps opened #8964 "All fields should have validation rules"
### Is your feature request related to a problem? Please describe.
I am trying to create a part with a text field of a type TextField. However, I don't want to allow the user to type more than 120 characters. #8963

### Describe the solution you'd like
During adding field, the user should be able to add some validation rules. For example, for a text field `MaxLength`, `MinLength` and `Required` ar

[2021-03-24 17:26] jptissot opened #8965 "Fluid 2.0 issues"
I got around to trying to Update our codebase to the latest version, which contains the fluid 2.0 update.

Here is the PR https://github.com/StatCan/StatCan.OrchardCore/pull/209

## Issues

### An exception of type 'System.ArgumentException' occurred in StatCan.OrchardCore.DisplayHelpers.dll but was not handled in user code: 'UrlHelper missing while invoking 'return_url''

Code is [here](https://g

[2021-03-24 17:27] jptissot commented on #8965
I will update the description / comment when I find additional issues.

[2021-03-24 17:31] deanmarcussen commented on #8965
The `UrlHelper` is not longer on the ambient values

Here's an example of how to use it now.
 https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.ContentLocalization/Liquid/SwitchCultureUrlFilter.cs

[2021-03-24 18:21] jptissot opened #8967 "Recipe enabling a module throws `SqliteException: SQLite Error 1: 'no such table: WorkflowTypeIndex'.`"
### Describe the bug

Getting this exception when executing a recipe that enables the `OrchardCore.Workflows.Http` module.
Orchard version `1.0.0-rc2-15907`

### To Reproduce
Steps to reproduce the behavior:
1. Run our codebase: https://github.com/StatCan/StatCan.OrchardCore
2. Setup the site with the `HackathonTheme` setup recipe using SQLite
3. Go to the admin site and execute the `Contact form

[2021-03-24 18:24] jptissot commented on #8967
Stack trace:

[code]

[2021-03-24 18:47] #8709 closed

[2021-03-24 19:23] jtkech commented on #8955
@deanmarcussen

There is no problem to check missing enabled features based on the actual dependencies, the "problem" is more to know when doing things, particularly when there are related migrations.

Yes i remember, but nothing urgent, as said there is a shell state that is not updated but currently it is not used elsewhere, maybe we needed this shell state when we had different module loading s

[2021-03-24 19:31] Piedone commented on #6279
1A but again keep in mind that the logo's outer circle is uneven that we need to fix.

[2021-03-24 20:43] jtkech commented on #8967
@jptissot

Maybe related to the execution order issue in #8785, this when a module / feature, adds some functionalities with the `RequireFeatures` attribute, but doesn't depend on the required feature (in the manifest) because the set of these functionalities is not an real feature.

E.g. if in a migration you create contents that trigger WFs through a content handler in the `OC.Contents` module,

[2021-03-25 05:44] Skrypt opened #8969 "Widget shape error handling"
Throw a more explicit exception when a Content Type has been removed.

[2021-03-25 08:12] deanmarcussen commented on #8964
Potentially we could support javascript based rules for field validation.

More flexible, if we just add `MaxLength` and `MinLength` to a text field, someone will want something else.

[2021-03-25 08:58] #4915 closed

[2021-03-25 12:26] Skrypt commented on #6279
2B for a change 😉

[2021-03-25 12:39] Voskoboynik commented on #8887
We actually are experiencing the same weird issues here.

We have been using Orchard Core CMS 1.0.0-rc2-13450 (latest stable) since June 2020 on different environments, including Azure App Service (Windows), dedicated server with Windows Server 2012 R2 Standard, dev machines with Windows 10 Pro (20H2).
Suddenly, approx. in the middle of March 2021 we started to get a lot of "An error has occurred.

[2021-03-25 15:57] jagbarcelo opened #8970 "{% script ... %} within a Liquid widget is not rendered at all"
We have a page where there is a content (a Paragraph widget) and a script (within a Liquid widget). The Liquid widget starts with a `{% script %}` tag in order to load a js library that is only needed in this particular page (there is no need to include it in all pages of the site):

![image](https://user-images.githubusercontent.com/6704109/112501180-50c42580-8d89-11eb-8302-efde37b2a22e.png)

We

[2021-03-25 16:49] deanmarcussen commented on #8970
@jagbarcelo have you tried specifying an `at` location?

By default I would have expected it to turn up at the foot of the page, not inline, as your `<!-- script begins` is suggesting.

And / or have you looked to see if it is being rendered later in the footer?

(the default behaviour may have changed since Fluid 2, in terms of location.)

There are some todos left on the scriptblock tag, which w

[2021-03-25 17:10] jtkech commented on #8887
@Voskoboynik and all others, thanks for the info

Good to know !!!

Yes maybe some others `IHtmlContent` doing a `encoder.Encode(writer, _value)` that seems to be problematic, and that we could replace, and / or something else related to Fuild / Liquid.

Hmm, here seems to be related to an `HtmlContentBuilder` used by the our ResourcesTag

I will try to repro this night, thanks for the feedback

[2021-03-25 17:29] jagbarcelo commented on #8970
Yes, we tried with `at` with `Inline` too, as https://docs.orchardcore.net/en/dev/docs/reference/modules/Resources/#specify-location suggests:
`{% script name:"vendor-uaparser", at:"Inline" %}`
with same results.

No, it is not rendered at the footer either.

As a final test, we combined the use of the `at` location and `src` too and in this case it worked fine:
`{% script name:"vendor-uaparser",

[2021-03-25 17:32] jtkech commented on #8970
@jagbarcelo

Yes, as @deanmarcussen said, the related lines are currently commented out, so it can't work

I will check it this night

[2021-03-25 17:58] chadbengen opened #8973 "Layout renders scripts with broken integrity url"
### Describe the bug
I have the site hosted on Azure.  The layout page is generating scripts for all themes incorrectly:

[code]
However, when i run it locally the scripts generate correctly:
[code]
Note: My local debug using Visual Studio 2019 has the appsettings set to production storage for configuration settings.  Meaning that production and local execution share the same setup.

There are two

[2021-03-25 18:59] jtkech commented on #8887
@Voskoboynik

Okay i could repro with `{% meta property:"og:description", content: "Økonomi" %}` in a liquid page body

We will fix it soon, thanks

[2021-03-25 19:31] scottja88 opened #8974 "IServiceProvider disposed when using Hangfire issue"
We have a production application running multiple tenants that use Hangfire to run background jobs daily. Whenever we update our version of OrchardCore we tend to run in to issues regarding the following error:

![image](https://user-images.githubusercontent.com/7852775/112528096-1d2dcf00-8d7a-11eb-8943-d955c68785ac.png)

Our previous solution was to specifically execute StartAsyncFlow for the she

[2021-03-25 19:52] jtkech commented on #8974
@scottja88

If it fixes your issue, i will make it again public ;)

[2021-03-25 20:18] scottja88 commented on #8974
@jtkech

That would be great! I believe we should be able to function as we did if that was exposed for us to call again.

[2021-03-25 21:15] jason8496as commented on #8887
I just installed the latest package from cloudsmtih (`1.0.0-rc2-16015`) https://cloudsmith.io/~orchardcore/repos/preview/packages/detail/nuget/OrchardCore.Application.Cms.Targets/

Now I'm getting this assembly error.

![image](https://user-images.githubusercontent.com/73246192/112544435-9dedca80-8d7c-11eb-9796-3d014a9ffc6b.png)

I tried to install the `OrchardCore.ResourceManagement.Abstractions`

[2021-03-25 21:44] jtkech commented on #8887
@jason8496as

Yes, it has been changed, see the updated doc https://docs.orchardcore.net/en/dev/docs/reference/modules/Resources/#registering-a-resource-manifest

[2021-03-25 21:46] jtkech commented on #8887
For infis i fixed the above issue on my local machine, just need to find the best way before committing

[2021-03-25 21:54] agriffard opened #8976 "jsplumb version"
Add `ResourceManagementOptionsConfiguration` in Workflows.

Do not use cdn and version directly in cshtml files.

Ex: https://github.com/OrchardCMS/OrchardCore/blob/b3c029136ca6cb2600df098b6c6b53bf68ecb4ca/src/OrchardCore.Modules/OrchardCore.Workflows/Views/Workflow/Details.cshtml#L97

[2021-03-25 22:31] orchardc opened #8977 "The initial site creator (site administrator) cannot add a new role to himself."
### Describe the bug
In the recent month release, the initial site creator (site administrator) cannot add a new role to himself.

### To Reproduce
Steps to reproduce the behavior:
1. Go to '/admin'  panel
2. Click on 'Security/Users'
3. Select the user who's the creator of this site (Site Adminstrator user), then click Edit
4. Add extra roles in addition to Administrator, click Save.

### Expecte

[2021-03-25 22:58] Skrypt commented on #7831
Good one. Need to think about it. Content Type templates?

[2021-03-25 22:59] Skrypt commented on #8977
Not necessary as this user is currently the "super user" so it has all the roles implicitly without having them explicitly.

[2021-03-26 00:01] Skrypt opened #8979 "Saving General site settings fails"
![image](https://user-images.githubusercontent.com/3228637/112558301-d0abb900-8da4-11eb-8895-2d0f048220b8.png)
![image](https://user-images.githubusercontent.com/3228637/112558310-d4d7d680-8da4-11eb-883f-37d56f720bdc.png)

[code]

[2021-03-26 00:20] jtkech commented on #8979
Yes, just tried, i can repro, i will check it

[2021-03-26 00:22] jtkech commented on #8979
Maybe since #8244

[2021-03-26 00:55] gabrielacosta opened #8980 "Issue having CMS as a module, can the Orchard CMS security being reused on Modules?"
Hi,

I'm trying to use Orchard and have:

1. Landing project using CMS
2. Module Admin - using Module
3. Module customer - using Module.

I create a solution with a working example of what I'm trying to achieve.
https://github.com/gabrielacosta/WebApplication1

First, I created everything and it works fine. I added to the landing only the OrchardCore.Module.Targets Nuget.

Landing

![image](https:

[2021-03-26 01:44] Skrypt commented on #8980
This is a bad idea to reference Orchard Core inside a module. It should be referenced only on your main website project like OrchardCore.Cms.Web for example in our templates.

If you need to reference a specific OrchardCore module in your project you can reference these instead.

[2021-03-26 01:48] Skrypt commented on #8980
Please explain what you are trying to achieve so that we can understand better and help you. Else the solution is to revert the changes that makes this fail to run.

[2021-03-26 01:59] gabrielacosta commented on #8980
Hi Skrypt,
Thanks for replying.
What I'm trying to achieve is having one website as landing using the Orchard CMS. Then I want to add to it more modules that will do other functionalities, but still use security model from the CMS.
So, if have two specific roles such as admin and customer, those modules can have dashboards or other CRUD type of code not related with the content of the landing webs

[2021-03-26 02:15] #8979 closed

[2021-03-26 02:29] Skrypt commented on #8980
Create 2 different tenants then.

[2021-03-26 02:34] gabrielacosta commented on #8980
Hi Skrypt,

I just tried.

![image](https://user-images.githubusercontent.com/8519425/112569085-a5be7500-8e37-11eb-9b7b-b8dcec23ef6a.png)

And I got another error.

![image](https://user-images.githubusercontent.com/8519425/112569131-b8d14500-8e37-11eb-809d-74b64a788e25.png)

I checked other possible issues, but I'm quite sure I do not use AddMvc() in the startup of the landing.

![image](https://

[2021-03-26 02:36] Skrypt commented on #8980
Look at the templates for examples :

https://github.com/OrchardCMS/OrchardCore/tree/dev/src/Templates/OrchardCore.ProjectTemplates/content

Your CMSLanding here will be probably needing the startup.cs and program.cs from this template module :

https://github.com/OrchardCMS/OrchardCore/tree/dev/src/Templates/OrchardCore.ProjectTemplates/content/OrchardCore.Templates.Cms.Web

[2021-03-26 02:48] #8974 closed

[2021-03-26 02:50] gabrielacosta commented on #8980
I already the startup and the program as recommended from the templates.

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/Templates/OrchardCore.ProjectTemplates/content/OrchardCore.Templates.Cms.Web/Program.cs

and
https://github.com/OrchardCMS/OrchardCore/blob/dev/src/Templates/OrchardCore.ProjectTemplates/content/OrchardCore.Templates.Cms.Web/Startup.cs

However, the error still appearing

[2021-03-26 04:51] jtkech commented on #8970
@jagbarcelo

Sorry, didn't have enough time to look at it, will see tomorrow

Yes, for the script and style tags we were using a bridge from the related razor `TagHelper`, now there are fully liquid tags

And just remembered that they don't support yet child content block and all cases with the `Inline` location

But for these use cases you can still use the bridge from razor with a little differe

[2021-03-26 05:17] jtkech commented on #8973
Yes but locally you may be in `IsDevelopment()` mode, it loads `bootstrap.min.css`, while in production it tries to load `bootstrap.css`, to check it locally, in your project `launchSettings.json` in the `IIS Express` profile replace `ASPNETCORE_ENVIRONMENT`  from `Development` to `Production`

Maybe an encoding issue with the integrity attribute see #3914, i'm working on other encoding issues, ma

[2021-03-26 05:18] #8942 closed

[2021-03-26 08:04] deanmarcussen commented on #8970
@jtkech @jagbarcelo

looks like it is working with
`{% script name:"vendor-uaparser", at:"Inline", src:"https://cdnjs.cloudflare.com/ajax/libs/UAParser.js/0.7.23/ua-parser.min.js" %}`

So probably we just need to look at the src/name if's and get them consistent.

I think `at:inline` should always be required to render inline. @jtkech I know there may have been some variance there between how the

[2021-03-26 08:10] deanmarcussen commented on #8980
Your module / startup definitions don't seem correct.

Suggest:

Create one Web project which calls `.UseOrchardCore()`

Create as many modules as you want after that.
Do your code in those modules.
Don't call `.UseOrchardCore()` again.

[2021-03-26 08:30] deanmarcussen opened #8985 "Remove Enable Rules feature from Layers migration"
@jtkech think it makes sense to remove the deferred task from the layers migration now as a result of https://github.com/OrchardCMS/OrchardCore/pull/8968

Can't think of a good reason to keep it ?

[2021-03-26 08:34] MikeKry commented on #8806
@deanmarcussen

It is all related to content item editor display, I can split it into multiple issues, but I felt it is unnecessary.

[2021-03-26 08:44] MikeKry opened #8986 "TaxonomyField with Tags display, error 400"
### Describe the bug

Taxonomy field with Tags display placed in ContentPart inside Widget throws error while saving content item.

### To Reproduce
Steps to reproduce the behavior:
1. Create content part with taxonomy field and tags display
2. Create widget, add content part from step 1
3. Add widget to flow of some content item
4. Try save = throws error 400

### Expected behavior

Content item

[2021-03-26 08:49] deanmarcussen commented on #8977
This was done to prevent a user removing themselves from all roles, and then being unable to access the site.

`// The current user cannot alter their own roles. This prevents them removing access to the site for themselves.`

You need to login as a different administrator to change the roles for the current administrator.

The problem was users complained they could remove themselves from the adm

[2021-03-26 09:14] MikeKry commented on #8806
Is https://try.orchardcore.net/  running latest OC version? I am thinking that I could create a test env. there so it would be obvious what are the errors.

[2021-03-26 09:35] MikeKry commented on #8986
I am trying to look into it, and so far it seems there is a problem with __RequestVerificationToken, it is duplicated in this case and in debugger console there are following errors:
Exception thrown: 'System.FormatException' in Microsoft.AspNetCore.WebUtilities.dll
Exception thrown: 'Microsoft.AspNetCore.Antiforgery.AntiforgeryValidationException' in Microsoft.AspNetCore.Antiforgery.dll
Exception

[2021-03-26 09:40] agriffard commented on #8806
@MikeKry I just updated http://try.orchardcore.fr/ (.fr, not .net) to latest dev package version `16018` if you want to test.

[2021-03-26 09:43] MikeKry commented on #8986
Ok, so it definitely is caused by this:
![image](https://user-images.githubusercontent.com/52829889/112612711-8582bc00-8e1f-11eb-95ab-a090f5b52a02.png)

Question is, if it needs to be there, as it is always part of content item and the verification token is send anyway in request for new tag:
![image](https://user-images.githubusercontent.com/52829889/112613074-f9bd5f80-8e1f-11eb-9537-83228e39d8e2

[2021-03-26 09:57] Voskoboynik commented on #8887
@jtkech Thank you for the fix!

[2021-03-26 10:17] deanmarcussen commented on #8986
Looks reasonable to remove it.

Just try it after removing with the blog recipe, it's got tags on by default, and check it works there as well.

(I would have added it for some reason, but that reason may no longer be valid)

[2021-03-26 10:38] MikeKry commented on #8806
@agriffard
Thanks, just placed first demo of
* BagPart Titles stays on different tab than bag part
* and Taxonomy when unique+required cannot be added or removed

if someone would like to look:
http://try.orchardcore.fr/cb2h1vty/admin
admin / t_@$X53F

[2021-03-26 10:45] MikeKry commented on #8986
@deanmarcussen

Ok, I have tested it on blog recipe and it seems ok - antiforgery token is still added into request and tags are successfully created and saved.

Pushed into https://github.com/OrchardCMS/OrchardCore/pull/8988

Can I please ask, if it could be merged today/this week? It currently breaks my content items completely and I cannot even use standard editor because of bug described in 88

[2021-03-26 11:17] deanmarcussen commented on #8806
OK so we're down to two issues now ;) instead of three.

The problem is they are completely unrelated, so it becomes more dificult to advise on.

I'll go with the first one.

in the `ContetPart_Edit` shape we render the title of named parts
[code]

My current workaround is to replace the shape in a module with

[code]

Probably what we should do is generate the `named title` from a driver, and add

[2021-03-26 12:05] gabrielacosta commented on #8980
Hi Dean,

Thanks for the suggestion. I already try that and I know it works. However, I want to use the cms component. I don't get how your suggestion helps me to achieve that.

[2021-03-26 12:12] Piedone commented on #6279
Added a simple poll for this: https://twitter.com/Lombiq/status/1375420046118432773

[2021-03-26 13:01] hishamco commented on #6279
2A ;)

[2021-03-26 13:12] urbanit commented on #6279
2A

[2021-03-26 13:14] abazanov opened #8989 "Image src doubles and blog breaks completely in Azure"
### Describe the bug

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'heartsunited.org.uk' and also 'heartsunited.org.uk/blog'
3. Scroll down to 'Team'
4. See error

It is working fine on my local machine. I am uploading the databases as well for both instances. As soon as it is in Azure, it does not work. But it used to work. I don't know what happened. I published a second page that

[2021-03-26 14:08] deanmarcussen commented on #8989
The dns is not resolving for your url, so couldn't actually visit the site.

From the logs i see two issue.

this one https://github.com/OrchardCMS/OrchardCore/issues/8887

which looks like it may have been resolved in later releases.

What version of OC are you running?

There is some suggestion it maybe due to some .net upgrades.

The second one, i.e. the image src, I can see the error in the lo

[2021-03-26 15:07] deanmarcussen commented on #8986
Fixed by https://github.com/OrchardCMS/OrchardCore/pull/8988

[2021-03-26 15:07] #8986 closed

[2021-03-26 15:38] abazanov commented on #8989
Hi @deanmarcussen Thank you for replying.

That is strange. Are you unable to visit https://www.heartsunited.org.uk/ then?

I am able to see it OK. How do I check the version of OC?

Here are some screenshots.

![image](https://user-images.githubusercontent.com/5940942/112655873-be835680-8e48-11eb-977b-b4a4a9dbe4e1.png)

![image](https://user-images.githubusercontent.com/5940942/112655970-d6f37100

[2021-03-26 16:12] deanmarcussen commented on #8989
I'm going to take a stab in the dark and suggest you're on RC2.

Here's how to upgrade to the preview feed https://docs.orchardcore.net/en/dev/docs/getting-started/preview-package-source/

@jtkech might confirm but it looks like some encoding changes in the latest dotnet security fixes may be causing the problem on earlier RC2 sites.

[2021-03-26 16:28] abazanov commented on #8989
Thanks @deanmarcussen I will give it a try and let you know.

Can I ask, once I add the preview feed, which exact packages do I need to update, and in what project? Sorry, I am not that knowledgeable about OC.

Thank you for your help.

[2021-03-26 16:53] #8976 closed

[2021-03-26 16:53] deanmarcussen commented on #8969
Duplicate ? https://github.com/OrchardCMS/OrchardCore/issues/1014

[2021-03-26 17:03] sebastienros commented on #8965
`Invalid 'if' tag at (1:6)`

Check the liquid, it's not valid I assume, like don't use "&&", only `and` and `or`, and no `!variable`. Also no parenthesis.

If you can't find please share the full tag usage.

[2021-03-26 17:15] jtkech commented on #8989
@deanmarcussen @abazanov

I already had the `System.FormatException` (and also the concatened url issue) but in `MediaImageSharpConfiguration`, not in `MediaResizingFileProvider`, so not the same version i assume, it was trying to parse a `width` that was equals to `2048ab`, so it was failing

This when i tried (for some tests) an older OrchardCore version (from memory before Fluid 2), but because

[2021-03-26 17:16] jtkech commented on #8985
@deanmarcussen

Yes, you can get rid of it ;)

[2021-03-26 17:16] jptissot commented on #8965
Was this working before but no longer works ?

[2021-03-26 17:25] sebastienros commented on #8965
Fluid 2 ~~breaks~~ fixes it. It's not valid Liquid.

[2021-03-26 17:43] Piedone opened #8990 "Document Features config (and related ones?)"
### Is your feature request related to a problem? Please describe.
Just stumbled upon @jtkech's message that [you can do this](https://github.com/OrchardCMS/OrchardCore/discussions/8962#discussioncomment-526298) but this is not apparent from the docs. Furthermore, you can also do this from code with `OrchardCoreBuilder.AddTenantFeatures()`, as well as there are related methods: `AddGlobalFeatures(

[2021-03-26 17:45] Piedone commented on #8964
Related but for form fields: #3980. We could use the same JS validation, check out this WIP PR: https://github.com/Lombiq/OrchardCore/pull/4

[2021-03-26 17:54] jtkech commented on #8970
@deanmarcussen

Yes i agree, i was too lazy to take a deeper look ;) also because of some other issues to fix

So for now i only suggested these workarounds, but yes should be checked afterwards

[2021-03-26 18:46] Skrypt commented on #8969
Nah, I don't want to create a solution for the issue but just return a proper error message.

[2021-03-26 21:10] sebastienros commented on #8887
I confirm there is a bug in aspnet mvc that is triggered by the recent servicing updates, due to how the html encoder is invoking the html buffers in MVC. @jtkech 's changes to use our internal `HtmlContentString` mitigates this issue. I don't think we will provide a fix for rc2 though, it's a bug in dotnet specifically. It's not related to Fluid changes either. An option could be to force the ref

[2021-03-26 21:17] antonysb27 commented on #8887
@Voskoboynik if this can help you in any way.

We validated that the issue occurs when the ASP.NET Core Runtime 3.1.13 version is used. So, we decided as a workaround to publish the application, which uses the RC2, as a self-contained deployment using the ASP.NET Core Runtime 3.1.10 and now it is working well in the Azure app service. We also validated that using the ASP.NET Core Runtime 3.1.11 ve

[2021-03-26 22:11] sebastienros commented on #8887
https://github.com/dotnet/aspnetcore/issues/31299

[2021-03-26 22:31] abazanov commented on #8989
Thanks @jtkech for looking at it so urgently.

I downloaded the latest version of .NET SDK (dotnet-sdk-5.0.201-win-x64.exe and installed it. I also updated my Visual Studio 2019 to the very latest version as well, and now, I can reproduce the error on my workstation as well. So it is definitely tied to the latest version of .NET, because the Azure Hosting Plan would probably have the latest instal

[2021-03-26 22:51] jtkech commented on #8989
@abazanov

We are working on it, a workaround is coming soon, hoping it will fix your use case

[2021-03-26 23:36] jtkech opened #8991 "Workaround of the ViewBufferTextWriter issue to be reverted"
After a recent patch shipped by `AspnetCore`, there is an issue throwing an `ArgumentOutOfRangeException` in `ViewBufferTextWriter`, see https://github.com/dotnet/aspnetcore/issues/31299#issue-842325059

We will push a workaround, see #8984 that will need to be reverted when the pending PR https://github.com/dotnet/aspnetcore/issues/31299#issue-842325059 on AspnetCore side will be merged

[2021-03-26 23:44] jtkech commented on #8887
All, a possible workaround is coming, see #8984

[2021-03-26 23:44] jtkech commented on #8989
All, a possible workaround is coming, see #8984

[2021-03-27 00:22] sebastienros commented on #8989
I have identified the issue, and it's triggered by the newly release dotnet runtime, but the bug is in our code. I believe you are using a version of OC more recent than the nuget version since this component was added more recently. The component should be remove in the same PR JT is already working on and mentioned.

[2021-03-27 01:31] Skrypt commented on #8977
You are probably right but if we remove the super user to use Owner permission like we talked last time then we will need to rethink these things. So the issue here is not relevant if we refactor things.

[2021-03-27 04:47] #8887 closed

[2021-03-27 04:47] #8989 closed

[2021-03-27 05:28] jtkech commented on #8973
Not sure it is related but there is a recent encoding issue on aspnetcore see https://github.com/dotnet/aspnetcore/issues/31299

I think they will provide a patch soon to fix this issue

If you use the Nuget packages feed (master branch) you have to wait for them

If you use the Cloudsmith feed (last dev branch), we did a workaround that has been merged #8984

[2021-03-28 00:56] sebastienros opened #9000 "Fix webpack dependency"
There is a security warning on a dependency from webpack. We might need to upgrade. In the graphql module.
- > 4.46.0
It's completely removed from 5.x also.

[2021-03-28 01:46] #8991 closed

[2021-03-29 09:02] 0liver commented on #6279
I would love to see a different color, e.g. #2fb1b1 which would like this on the homepage:

![image](https://user-images.githubusercontent.com/164360/112812877-e4de0780-907d-11eb-897c-fc589ed162d8.png)

The turquoise colors look a bit nobler to me and make the associated product more desirable than a simple green, which may appear dull or even a bit boring.

[2021-03-29 09:06] 0liver commented on #6279
Regarding the font, I find the B font a bit too aggressive with the sharp edges - I would use something a bit calmer, rounder. A is okay, but I'd use something different, still. Also, I guess we might want to look at an ensemble of fonts for use in logo, headers, and text bodies, because those three will need to go well together. Deciding on only the icon font might make the choice of good, readab

[2021-03-29 09:43] abazanov commented on #8989
To: @jtkech @sebastienros

Guys, you are superstars! We are back online now. Many thanks for your super effort. And so quick as well.

Gob bless!

[2021-03-29 10:59] parisnoble commented on #6279
Hi @0liver ,

Thanks for the feedback. The final colors will be decided once the symbol and fonts are decided on.

The fonts in the logo are only display fonts exclusively used for the logo.

The font mentioned earlier in the PDF is the old font which we are changing to either A or B. And of course, there will be a secondary font family for body text and headers, etc in bold, regular, italic, etc

[2021-03-29 20:15] TFleury opened #9008 "Buffer has already been rendered"
Seems to be related to recent changes in OrchardCore.DisplayManagement.Liquid
It appears when rendering cachable shape (like menu) in liquid.

### Stack trace
[code]

Needs futher invetigations...

[2021-03-29 21:11] Skrypt opened #9009 "BodyAspect is indexed on every Content Items"
If a Content Type doesn't have a BodyPart attached it should not index a BodyAspect.

[2021-03-29 21:41] jtkech commented on #9008
So it fails here, in `WriteTot()` if it has been already called

        public void WriteTo(TextWriter writer, HtmlEncoder encoder)
        {
            // So it fails here if null
            if (_builder == null)
            {
                throw new InvalidOperationException("Buffer has already been rendered");
            }

            if (_previousPooledBuilders != null)
            {

[2021-03-29 21:58] jtkech commented on #9008
Okay, i could repro

This is when you have a cached shape AND the shape is defined through a Liquid Template from the Admin UI

In that case the shape the `ChildContent` of the `ShapeDisplayContext` is a `ViewBufferTextWriterContent`

[2021-03-29 22:51] jtkech commented on #9008
@TFleury

I have a workaround, will do a PR soon

[2021-03-30 03:15] jtkech commented on #8989
@abazanov no problem, thanks

[2021-03-30 13:22] jameshollyhomes opened #9018 "Ordering of list items in Admin when managing content items"
### Describe the bug

In build rc2-15500 you had the ability to reorder list items within a content item.  the cross arrows appeared and you were able to move items up and down.

I am not sure what build this happened in but if i get rc2-16037 the cross arrows for reorder no longer exist.

### To Reproduce

1. Create a Basic Orchard App in VS targeting OrchardCore.Application.Cms.Targets rc2-15500

[2021-03-30 18:38] Skrypt opened #9022 "Lucene "exists" query"
In the Lucene Queries we need to investigate how we could create an "exists" Query.
Basically this Query would return content items on which a specific "field" exists.

See : https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-exists-query.html
Also related with default indexed "NULL" value.

[2021-03-30 20:27] hishamco commented on #9022
I would like to do something related to Lucene, hopefully to find a time for that ;)

[2021-03-31 06:42] MikeKry opened #9023 "Deployment plan: Content Item step duplicities"
Related to #8900
When using deployment plan and adding Content Item steps, user is able to add two same content items to plan, which then results into multiple active items in ContentItemIndex, so it shows duplicates in content items list.

### Describe the solution you'd like
Block adding duplicate Content Item steps.

### Describe alternatives you've considered
Add label to content item, that it

[2021-03-31 11:52] MehranDHN opened #9025 "Exceptions when using foreign language taxonomy as tags"
### Describe the bug
It seems there is a restriction when using taxonomy tags where the user is not allowed to use Unicode foreign language text.
Suppose I want to tag some content with (**متون کهن**) and use that to categorize my content.
As you can see in the screenshot using them in both Category and Tags raises an exception in View/Preview.

### Screenshots
![image](https://user-images.githubu

[2021-03-31 13:55] jameshollyhomes commented on #9018
Further investigations reveal it was working in rc2-15948 but was broken in rc2-15949.

[2021-03-31 15:32] Flarescape opened #9027 "SEO: Rewrite Module"
I know that there are some open issues out there, where other people asking for an extension to the autoroute module for path updates and redirects, but this does not cover actual SEO relevant redirects.

In O1 there was the so called Contrib.RewriteRules module, which worked with apache mod rewrite rules syntax.
I've just created a custom rewrite module with the same functionality for OC, but wit

[2021-03-31 16:24] mmdqq commented on #8318
Can you show the content of the OrchardCore.Media.nuspec file or OrchardCore.Application.Cms.Targets.nuspec

[2021-03-31 16:27] kdubious commented on #2228
I still have this issue today: Removing an image, replacing it with one with the same name, and then getting no thumbnail. Clicking view then shows the old image.

[2021-03-31 17:11] Skrypt commented on #9018
19 days ago which resumes it to these commits.
![image](https://user-images.githubusercontent.com/3228637/113183922-9a49c000-9222-11eb-807e-b1ace51d8c63.png)

[2021-03-31 17:16] jtkech commented on #9025
Yes we already had this issue since a recent aspnetcore patch that may affect any hosted app of any OrchardCore version

We did a fix recently but only for the last dev branch available from the Cloudsmith package feed

Regarding the line 101 of `ViewBufferTextWriterContent` in the trace, it seems that this is not the last dev but an older dev version or the master branch available from the Nuget

[2021-03-31 17:32] jtkech commented on #9027
Cool, are you open to create a PR based on your code? That would suggest a separate module / feature or as you think an additional feature of the SEO module

[2021-03-31 17:47] deanmarcussen commented on #9027
Yes, sounds great. We discussed it at a meeting either last week or the week before, if someone can find the video.

Probably a separate module. But open a pr please

[2021-03-31 18:12] Skrypt commented on #9018
Ok the issue is related with the Fluid 2.0 PR. https://github.com/OrchardCMS/OrchardCore/commit/1f581a14a1f37d0105d93331a83d87e3c4bc310a

[2021-03-31 19:05] #8985 closed

[2021-03-31 19:34] jtkech commented on #9018
And it is a ZOD ;)

Meaning nohing has been added

First i thought about another issue i fixed recently about the messages zone that was rendering only one message, because when 1rst adding a shape to a ZOD it create a new real zone, so before adding other shapes in a loop we first need to retrieve the newly created zone, which can be done easily as it returned by the `.AddAsync()` method.

But lo

[2021-03-31 19:43] Skrypt commented on #9018
ZOD is a vilain 😄

![image](https://user-images.githubusercontent.com/3228637/113201631-b99f1800-9237-11eb-9713-09753d913caa.png)

[2021-03-31 19:46] jtkech commented on #9018
Yes, but here it is not because of it ;)

Just need to replace some remaining `Add()` to `AddAsync()` in some razor views

[2021-03-31 19:47] jtkech commented on #8967
Okay, i will take a look this night, thanks

[2021-03-31 20:51] #9018 closed

[2021-03-31 21:06] hishamco commented on #2228
I will try to reproduce the issue

[2021-04-01 02:45] jtkech commented on #8967
@jptissot

Did not have enough time to try it directly but here what i saw

So before we were using

                await _recipeExecutor.ExecuteAsync(executionId, recipe, new Dictionary<string, object>
                {
                    { "SiteName", site.SiteName },
                    { "AdminUsername", User.Identity.Name },
                    { "AdminUserId", User.FindFirstValue(ClaimType

[2021-04-01 03:20] jtkech commented on #8409
@lampersky

Yes, an `IHostedService` can only be registered at the host level ;)

I thought about supporting `ITenantHostedService` but we didn't do it because we already have `IBackgroundTask` triggered by an hosted service, but yes the granularity is one minute, this to not consume too much processor time by default, hmm maybe a good candidate to be a configurable option.

For now you would need

[2021-04-01 03:30] kdubious opened #9031 "Widget Wrapper to work with Flow Part and Layers"
Currently, we have a workaround where we add 2 Alternates to Widget.cshtml to allow us to override a custom widget template, yet still wrap the widget with this:
`<div class="@String.Join(" ", Model.Classes.ToArray())">`

[code]

Let's work out how to create a wrapper for widgets in a Flow or a Layer.

[2021-04-01 04:38] kdubious opened #9032 "_widgets.scss math error"
For the 33% and 66% columns, the current code calls `make-col` with a decimal value, but it should pass the "bootstrap" col number.

The result is that 33% and 66% end up as 33% and 66%.

If you try to kill the gutters, and make a "full-width" column, you'll see the issue. With gutters, this issue is negligible.

The fix is here:

[code]

[2021-04-01 07:41] deanmarcussen commented on #9031
I think what you're trying to achieve is to be able to write a widget template, without specifying in that widget template this div `<div class="@String.Join(" ", Model.Classes.ToArray())">`?

Unless I'm mistaken?

Wrappers are evil.

I suggest to try and avoid them as much as possible, but that's an opinionated, reasonably hard won voice of experience. We probably spend more time removing wrapper

[2021-04-01 12:57] MikeKry commented on #9023
Probably I will go with creating new state of content item "ready for deploy" and custom step, would that be something that would be useful for OC, so I would create some more general thing from it, or it is too much custom and we will focus only on fixing bugs in current export steps?

btw. when deploy plan has more than ~300 items, it is slow and you can not remve items from it.

[2021-04-01 13:07] deanmarcussen commented on #9023
Could you provide some more explanation of the issue you're describing here.

Which Content Item step are you using?

Is it related to the AddToDeploymentPlanFeature, or another step? there are perhaps 5 content related steps?

A sample deployment plan / recipe, would be also be useful please.

However it is that they are doing this, we should resolve the import routine to cope, there are a lot of

[2021-04-01 13:11] hishamco commented on #9032
Could you please submit a PR?

[2021-04-01 13:30] deanmarcussen commented on #8900
@tropcicstefan

I still haven't got a good repro from you, on how you are creating this error?

I see in your original, you thought you were making them from double clicking the save button, but then maybe, that isn't how you are creating them?

Quite hard to try and repro without some steps to follow.

[2021-04-01 14:00] tropcicstefan commented on #8900
I reproduced it locally by double clicking. But it can occur on double user saving also

[2021-04-01 14:26] deanmarcussen commented on #8900
Ok. thank you.

We have an issue here to disable the save button(s) on click

https://github.com/OrchardCMS/OrchardCore/issues/4227

That seems like a simple option to implement, and will help prevent some scenarios.

We will probably want to look at concurrency as well, but the implementation would have to be different, and is somewhat more complicated.

[2021-04-01 14:50] tropcicstefan commented on #8900
We have overridden buttons shapes and blocked double click with some js, but maybe actionfilters with verification token is way to go.

[2021-04-01 17:05] orchardc opened #9033 "The recent release break the footer: InvalidOperationException: Zone not found: Footer"
### Describe the bug
With required set to true in the Layout.cshtml:
  `  @await RenderSectionAsync("Footer", required: true)`
The Widget footer doesn't show on any pages - even set to "Always"

Then cause error when browsing the website:
**InvalidOperationException: Zone not found: Footer**

[2021-04-01 17:14] sebastienros commented on #9032
Agree with @hishamco

thanks

[2021-04-01 17:17] sebastienros commented on #8900
We have that feature in O1 and it's automatically applied to all buttons that are converted to a POST. We should do it too, it will be much simpler than trying to handle it server-side.

[2021-04-01 17:19] sebastienros commented on #9033
Couldn't find this code in Orchard so I assume you wrote it. If the zone is not filled with anything then don't make it `required: true`.

[2021-04-01 17:27] MikeKry commented on #9023
@deanmarcussen

sure, it is "Conten Item" step, added from Conten Items list by "Add to deployment plan":
![image](https://user-images.githubusercontent.com/52829889/113325905-4968c300-9319-11eb-88ea-eb0bac9d2528.png)

You see, that there can be two same items added and then during import it always creates duplicate items in target environment.

Also when I tested it again, I have noticed, that re

[2021-04-01 17:43] sebastienros commented on #9031
Recommendation is to refactor FlowPart.cshtml and extract the section that defines the classes into a new intermediate shape, like `FlowMetadata.cshtml` based on the c# type `FlowMetadataViewModel { FlowMetadata, IShape Widget }` that will render:

[code]

This won't break any existing site.
Themes can now define a common way to render the chrome/positioning for widgets.

But each widget should st

[2021-04-01 17:44] #8965 closed

[2021-04-01 19:22] orchardc commented on #9033
Hi @sebastienros , I tried the latest 1.0.0-rc2-16044 but the footer still not shown.

In the Admin panel, I can see it in the Widgets and Layer; I have tried to delete it and create a new one but still can't see the footer on the website.

![image](https://user-images.githubusercontent.com/16193516/113343306-92c00f00-9327-11eb-930d-9bd8e15bc11e.png)

The code is in the TheAdmin theme, although "r

[2021-04-01 19:24] orchardc commented on #9033
Maybe the **RenderSectionAsync** doesn't work because I'm missing some references ?

[2021-04-01 19:29] Skrypt commented on #9032
I don't understand what is the issue. We should not round these values like you did there.
From what I understand in your fix, the 12 columns will not fit the entire 100% width of it's container.
Please should me an example of your issue so that I can review it.

[2021-04-01 19:42] kdubious commented on #9032
**Short Version:**

I'm dealing with `.no-gutters`

[Bootstrap: No Gutters](https://getbootstrap.com/docs/4.6/layout/grid/#no-gutters)

**Long version:**
We should get the correct end result when we can.

Bootstrap's function `make-col` takes the Column Width Value (4 in the case of col-md-4), divides it by the column count (typically 12, but its a variable), and gets a percentage. `4 / 12 = 33.33

[2021-04-01 19:43] kdubious commented on #9032
@hishamco I will.

[2021-04-01 19:51] Skrypt commented on #9032
Ok I agree. I did see the issue after seeing that it was not a width calculated there in the widget but the amount of columns.

[2021-04-01 20:38] willnationsdev opened #9034 "SelectPart cannot have more than one instance in a single page."
### Describe the bug

If you have multiple SelectParts on a page, (e.g. a Form FlowPart with multiple Select widgets), then only the first one will actually have a working editor in the edit page or will render options correctly on the display.

I am not experienced with Vue hardly at all, but I have a feeling(?) it has to do with each of the generated SelectOptionsTable/Modal Vue components [rely