[2020-05-14 23:36] Piedone commented on #6190
I see, thanks for explaining. However, I don't see how this is good.

If you don't have a manifest then there's a lot of metadata missing about the module so UX aspects aside (you'll have an uncategorized, technically named feature show up without a description) the lack of dependency declarations cane make this unpredictable too.

[2020-05-14 23:43] jtkech commented on #6190
Yes i agree and i have no closed opinion ;)

It was to allow people to easily do a module from a simple project by only referencing `OrchardCore.Module.Targets`. And yes i agree, as soon as you need a dependency, you need to use the `Module` attribute, **can be in any csharp file, not necessarily in a manifest file**.

[2020-05-15 01:17] jtkech commented on #6171
@deanmarcussen

I would said more like a PUT but the resource would be identified by its content item id, not its version id. Then when run again, as checked for other items, no update if this unique version has not changed in the meantime.

**Anyway, as said i'm fine with it and it would add some complexity**, we would need something like this (quickly done so not sure)

    var versionsToUpdate

[2020-05-15 07:52] jtkech commented on #5305
Maybe not yet or nothing more, so many other things to think about ;)

Hmm, in place of a new `RoutePart` maybe extend the `AutoroutePart` and its settings UI where we could add (or not) multiple key / value pairs route data, e.g. with liquid support, then allow to enter a path as before but also with `/{segmentKey1}/{segmentKey2}` as a route pattern.

Then when updating an item, the autoroute par

[2020-05-15 10:19] deanmarcussen opened #6191 "Support multiple content types for Taxonomies"
Discussed and requested on gitter

We could easily add support for add multiple content types to Taxonomies (similar to how this is possible for menus, but restricting the content types via settings)

[2020-05-15 10:29] deanmarcussen commented on #6172
Not sure of the issue you have found here @PiemP but one way to avoid the multiple id warnings (though these are generally just warnings, not errors), so I'm not sure if it is your issue) on the `MediaFieldEditLocalization` is to add it via a shape provider just once, like is done for the modals

https://github.com/OrchardCMS/OrchardCore/blob/6cddd9f9904ff117ba82587f39fc76f49fac3cc3/src/OrchardCor

[2020-05-15 10:37] sfmskywalker commented on #5305
@jtkech Agreed, extending AutoroutePart makes sense.

Perhaps I misunderstood, but it sounds like that would cause the `AutoroutePart` to store a path with the route placeholders (e.g. `{segmentKey1}` replaced with the provided default values (if any).

For example, let's say I am configuring a route like so:

`/archive/{year}`

And I provide default values for {year} and {month}, maybe using liqu

[2020-05-15 12:13] PiemP commented on #6172
@deanmarcussen The problem with the DOM, at the moment, doesn't give other problems than the remarks on the browser console, but It could create issue in usage because the `MediaFieldEditLocalization` issue is all over MediaField code...
At this moment I don't have repro because I'm working on the second issue I have found in  `MediaField-Attached.Edit.cshtml` file. In the `initializeAttachedMedia

[2020-05-15 14:48] JESUS-PEREZ opened #6192 "[Question] Enabling source link"
Hello,

Would you accept a PR for enabling source link in some of your packages?

We are facing an issue related to indexing in our site, and we would like to debug the source code in order to have more details about the failure.

[2020-05-15 14:50] hishamco commented on #6191
Do you mean if we have for instance Faculty & Department content types, so we could able to do something like this:

- Computer Science & Engineering
    - Computer Science
    - Computer Information System
    - Computer Engineering
- Biology
    - Biochemistry
    - Pathology
    - Pharmacology
- Engineering
    - Electrical Engineering
    - Civil Engineering
... etc

[2020-05-15 15:53] #6192 closed

[2020-05-15 16:28] nickelnext opened #6193 "Author role bugged"
Running 1.0.0-rc1-13211

I create an author

![Author User](https://user-images.githubusercontent.com/8006102/82073384-74363280-96d9-11ea-830a-d1ac3e48c58b.png)

Trying to open contents I get this error
Also, sometimes some pages showing content are showing, but using the paging system (going to page 2 for example) triggers the error.
![Content Items Error](https://user-images.githubusercontent.co

[2020-05-15 17:10] johnrom commented on #6071
Exact repro steps using Agency recipe.

- Enable GraphQL Feature
- Open GraphiQL
- Enter the following:

[code]
- Run Query
- Edit Project Content Type
  - Edit HTML Part
    - [x] Collapsible

- Re-run query
  - Will receive error (schema generated correctly)
- Run modified query
[code]
- Notice that `html` is actually completely missing.
- Restart CMS Project
- `html` returns

[2020-05-15 19:23] carlwoodhouse commented on #6071
Cheers will take a look!

On Fri, 15 May 2020 at 18:11, John Rom <notifications@github.com> wrote:

[2020-05-15 23:04] MichaelPetrinolis opened #6194 "Validation logic is duplicated for AutoroutePart and AliasPart"
We are duplicating the validating login in the display driver and in the handler. For example AutoroutePart and AliasPart have the same set of validation rules, in two different places.

Ideally, we should define the logic in a handler and use this when importing, saving, cloning etc.

[2020-05-16 06:37] jtkech commented on #5305
@sfmskywalker

- Okay, i thought that `/archive/2019` and `/archive/2020` would be related to 2 different content items. With your option the url would be `/archive` and the related item part will provide route values. But maybe @deanmarcussen understood it better, maybe this is the request with the generated url `/archive/2019` or `/archive/2020`, still related to the same content item, that prov

[2020-05-16 08:25] vahid001 commented on #6178
I have not get my answer yet. Any further help would be greatly appreciated.

[2020-05-16 16:00] JoshTango opened #6197 "Theme Bug: Clean Blog bag item title is clickable to 404"
I have a bag using clean blog theme.
I typed "Summary" into the bag template field.
It displays a title for each bag item.
the title is clickable and takes me to a 404 page not found page.
Because these bag items are content usually just for the content parent it is unlikely it would ever need to be clickable.
@deanmarcussen

[2020-05-16 16:30] ns8482e commented on #6197
@JoshTango I guess Bag items now shows Summary by default and routable. Changing default to detail in bag part setting will solve the issue.

[2020-05-16 16:42] sfmskywalker commented on #5305
@jtkech

That is most valuable input, thank you! I think with all of the above I have enough to start with.

[2020-05-16 16:45] JoshTango commented on #6197
If I do Detail then I get no Title at all.
I do get to see all my text.

[2020-05-16 17:03] sebastienros opened #6199 "[Feature] Implement wordpress shortcodes"
These code snippets allow content editors to inject specially constructed html like media, twitter embeds, youtube videos, ...

https://wordpress.com/support/shortcodes/

Right now a content editor would need to use liquid tags. This can also be done with pre-existing shortcodes like `[media]` (https://github.com/OrchardCMS/OrchardCore/pull/6016).

The suggestion is
- To enhance the `IShortCodeSer

[2020-05-16 17:29] sebastienros commented on #6199
From https://developer.wordpress.org/reference/functions/add_shortcode/#more-information

Shortcode attribute names are always converted to lowercase before they are passed into the handler function. Values are untouched.

A shortcode parser should allow for inner shortcodes, building a tree that is processed in post-order (https://en.wikipedia.org/wiki/Tree_traversal#Post-order_(LRN)).

Escaping:

[2020-05-16 17:38] ns8482e commented on #6197
@JoshTango can you share screenshot to understand the issue better?

[2020-05-16 21:45] JoshTango commented on #6197
![dfasdf](https://user-images.githubusercontent.com/42816989/82130858-0b17f300-979d-11ea-8537-d87eb74d7d11.png)

[2020-05-16 21:46] JoshTango commented on #6197
my mouse is over bag item two and you can see it had changed to the highlighted color.  If you click it it goes to 404 page not found.

[2020-05-16 21:46] JoshTango commented on #6197
It would be nice if the title was not clickable and all the text showed up without the dot dot dot.

[2020-05-16 22:37] sebastienros commented on #6178
@vahid001 it's how we think it should be. Default didn't mean "this is the only one you will always see" otherwise just set only persian as they only supported language.

It behaves as a fallback in case no matching language was found between all the requested and supported ones.

What you want is a separate feature that would set which culture to ask for and would have priority over the browser o

[2020-05-17 01:44] asimeonov commented on #2900
Yeah this will be really useful feature for me as well.

[2020-05-17 03:56] jtkech commented on #6171
@deanmarcussen any feedback on my last comment?

Sorry to bother you, if don't have any time here a summary

- I talked a little about idempotency where i might be wrong ;) And i quickly did a piece of code to show what i mean with the not versionable option where the original resource is found by its id, not by its version id as it is a single version resource.

- I may be wrong as i didn't try i

[2020-05-17 03:58] #5997 closed

[2020-05-17 04:37] jtkech commented on #6141
Also fixed by #6156

[2020-05-17 04:37] #6141 closed

[2020-05-17 05:05] #5996 closed

[2020-05-17 17:06] B-Esmaili opened #6204 "Attach user info to content."
Is there any way to attach user info to content type? something like user field.allowing us to attach multiple user to instance of a content item.

[2020-05-17 17:43] Piedone commented on #6204
To my knowledge, you need to implement this yourself, e.g. from a content part where you store the user's ID and then load it when necessary.

[2020-05-17 17:57] B-Esmaili commented on #6204
The hard part is implementing a `UserPicker` . i have no idea how to implement that.

[2020-05-17 18:42] Piedone commented on #6204
I suggest you look around in the `AdminController` class of OrchardCore.Users. You'll see how users are retrieved so you can then do the same in your own content part.

[2020-05-17 22:39] Piedone commented on #6188
I'm not sure I'm following. How would we otherwise know who the user is?

[2020-05-17 22:44] Piedone opened #6205 ""Allow the users to reset their password" config is redundant"
When you enable the Users Reset Password feature then users won't actually be able to reset passwords until the "Allow the users to reset their password" config is checked. I don't see why you'd ever want to have the feature enabled while disabling it; if you want to disable it just disable the feature, that's why it's a separate feature.

If somebody can make the case for the config then I'll acc

[2020-05-18 06:59] giannik opened #6206 "Display mode for parts and named shapes issue."
After creating display mode for various custom parts (added by this pr  #5329) and then tried to alter alter shapes position in my Content.cshtml using with the new part display mode  :
[code]
This does not work. Instead you have to use the name of the custom display mode eg :

[code]
This is a bit cumbersome , having to know the display mode applied to work with the shape.

Would it be possible t

[2020-05-18 09:38] ziyadsv opened #6207 "Orchard core How to localize the string from the Theme. using PO file"
Am using orchard core and am able to localize the string @T["Prices"] from the pages by creating a folder under App_Data->Sites->Defult->Localisation ar.po and this is working fine but my layout is in TheTheme project, how I will localize the string from theme

[2020-05-18 10:35] minhdn2 opened #6208 "HTML field - style broken when copy paste (ctrl + v)"
Hi,

I'm having and issue with HTML field, when I hit `ctrl + v` the current style of the content inside the HTML field will be broken.

**before:**
![image](https://user-images.githubusercontent.com/35803003/82203267-45b09580-992d-11ea-99bd-53d3f29288eb.png)

**after:**
![image](https://user-images.githubusercontent.com/35803003/82203686-cff8f980-992d-11ea-9c10-d903156ea57a.png)

Is this an issue

[2020-05-18 14:05] jptissot commented on #6188
I mean, after sending the token, on the page they reset the password after having recieved a link. We ask for the email again along with both the new password fields.

[2020-05-18 15:01] vesko-k opened #6210 "Autoroute UpdateFrom3 migration error"
Latest from "dev" branch:
2020-05-18 18:00:44.7041|Default||2030f2fc-419987d8858f32d1.||OrchardCore.Data.Migration.DataMigrationManager|ERROR|Error while running migration version 3 for 'OrchardCore.Autoroute'. System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> Microsoft.Data.SqlClient.SqlException (0x80131904): Incorrect syntax near the ke

[2020-05-18 16:02] devlife commented on #6208
Not a direct answer to your question but I always copy and paste using the code view instead of the editor view.

[2020-05-18 16:11] Piedone commented on #6188
I see. However, the ASP.NET `UserManager.ResetPasswordAsync()` needs a user object. Since the token is only handled by `UserManager` we'd need to store the token too, under the user, to be able to retrieve the user by just the token.

[2020-05-18 17:54] deanmarcussen commented on #6171
Sorry @jtkech caught up with other pr's and missed this last comment.

This was intended, because I saw on the issues people were raising, that they were manually editing recipe files to change things. So I did it because I was doing all the other version options, and this allowed the state to be maintained. And it adds the potential for more of a content sync, at some later point (potentially).
S

[2020-05-18 19:06] microposmp commented on #6197
In PR #5904 discusses a related issue where it was decided to change BagPart to render child items as Summary by default.

A possible solution is to override the template for BagPart. The snippets below can be added in the Admin GUI under Design/Templates.

![image](https://user-images.githubusercontent.com/49494169/82248970-5242e700-9949-11ea-831e-05485e62f2a8.png)

Template name: BagPart
[code]

[2020-05-18 19:49] ns8482e opened #6211 "Metadata.Name is null when Shape is created with New shapefactory"
When shape is created as following and added to zone. Doesn't assign Shape Name to `shape.Metadata.Name`

[code]
So when called later as

`Model.Foolter.ToolWidgetSettings` throws `RuntimeBinderException: Cannot perform runtime binding on a null reference`

[2020-05-18 19:58] ns8482e opened #6212 "ShapeFactory OnCreated event doesn't have access to parameters."
I am creating a shape as following

`dynamic cardShape = await New.ContentCard( ContentItem : widgetItem )`

And defining `OnCreated` event as following.
[code]

I am trying to access `ContentItem ` parameter to do some further initialization other shapes based on parameter.  However It seems that parameters are not accessible in `OnCreated` event.

[2020-05-18 21:25] orchardc opened #6213 "How to allow anonymous user access on Page (content type)??"
For some unknown reason, all Orchard Pages (content type) I created requires user login to view; but I want to allow anonymous access.

Any idea?

[2020-05-18 21:29] orchardc opened #6214 "Is it possbile to have a controller to accept HttpPost from external web service?"
For example, I want external webservice to call the following method which is hosted in my Orchard project (a controller). But I receive HTTP 400 error.

[HttpPost]
public async void Callback()
{
 //code ...
}

[2020-05-18 21:31] ns8482e commented on #6214
Disable anti forgery token for your controller

[2020-05-18 21:50] orchardc commented on #6214
Thanks @ns8482e , I added the following but it still doesn't work.

[HttpPost]
[IgnoreAntiforgeryToken(Order = 2000)]
public async void Callback()
{
//code ...
}

[2020-05-18 22:08] webmedia1012 opened #6215 "Taxonomy and Tagging"
Hi Guys,

Quick question, I can't seem to find the taxonomy type, I enabled the taxonomy as a feature but then I don't know where it is on the new content type definition, I added a part called taxonomy field but that seems incorrect. Please help, will be launching the site soon and I just wanted to enable to search functionality using tags.  Thank you so much.

[2020-05-18 23:09] JoshTango opened #6216 "Bug: style override in template"
I made a liquid template for a bag item and sued the following at the top:
{% styleblock name:"custom-style" %}
    p {
        margin: 0;
		color: red;
    }
{% endstyleblock %}

I am using clean blog.
The red color showed up but the margin I set to zero did not override the 30 px set in the clean blog css file

[2020-05-18 23:25] jtkech commented on #6210
Which database and version?

I can repro with sql server 2014, the offending command being

    "drop index if exists [IDX_AutoroutePartIndex_ContentItemId]"

The DROP IF EXISTS syntax was introduced in SQL Server 2016, see [this related comment](https://github.com/microsoft/sql-server-samples/issues/351#issuecomment-354833638)

[2020-05-18 23:26] JoshTango commented on #6216
Also when I inspect the element the margin property has a strike through line right through it.

[2020-05-18 23:34] ns8482e commented on #6216
@JoshTango if your color style is applying then the styleblock is working. May be some other styles for margin is taking precedence over your style. Try with !important

[2020-05-18 23:41] JoshTango commented on #6216
thank you that worked @ns8482e

[2020-05-19 00:34] ns8482e commented on #6214
Try this
[code]

[2020-05-19 02:06] minhdn2 commented on #6208
But in my case, the users don't know about HTML or coding, typically end-users.
Please help to check and advise,
Thanks.

[2020-05-19 06:11] jtkech commented on #6171
Okay then, i also thought about audit trail, just to be sure that importing such items was intended.

Part of the problem with building a new version seems to me that the contentitemversionid would change, and then we would potentially run into problems, when re-running the recipe, or trying to keep those version in sync, particularly when people are editing recipes themselves.

Anyway i agree tha

[2020-05-19 06:11] #6171 closed

[2020-05-19 06:52] vesko-k commented on #6210
Yes MSSQL Server is 2012. I was wondering if the problem exists in other databases, MySql, SqLite or PostgreSQL.

[2020-05-19 07:15] jtkech commented on #6210
A least it works with sqlite, didn't try it with others

I think it is because drop index was never used before, it is now used for autoroute migrations, but you're right should be in the doc

@sebastienros do we have to check that MSSQL Server <= 2014 and then apply e.g. the workaround [described here](https://github.com/microsoft/sql-server-samples/issues/351#issuecomment-354833638), or just say

[2020-05-19 07:29] orchardc commented on #6214
I got the same 400 error when calling this action from an external app (Postman)

![image](https://user-images.githubusercontent.com/16193516/82297606-ca8dc480-99aa-11ea-96a1-42a385632064.png)

[2020-05-19 07:53] #4423 closed

[2020-05-19 07:56] vesko-k commented on #6210
If the problem is just in DDL, it is ridiculous to be the only reason to use SQL Server > 2014. But if other features that exists in only SQL Server > 2014 and are manadatory, then it is reasonable to be described as minimum requirement. In other case, the DDL must be re-written to be compatible. That's my thoughts.

[2020-05-19 08:07] minhdn2 opened #6217 "How to get activities log?"
Hi,

Please help to check and advise on how can I get activities logs for multiple users from Orchard Core.

Many thanks in advance.

[2020-05-19 08:29] deanmarcussen commented on #6210
Are you running SQL Server 2012 in production or for development?

Agree it should be in the docs as well.

It's not just the `DROP INDEX` that we want a higher version of SQL for.

The Index Key Lengths on the older version are also to small for some of the max lengths we use on the `AliasPart` alias lengths, and the Content Fields Indexes.

This results in warnings on earlier versions, and excep

[2020-05-19 09:09] vesko-k commented on #6210
It's development environment. What about other databases SQ Lite, PostgreSQL, MySQL. If we expect compatibility issues then it's questionable why to add providers for them?

[2020-05-19 09:56] deanmarcussen commented on #6215
When `Taxonomies` are enabled in the `New` menu you should see a listing for `Taxonomy`

Note it is not a Part that you add to a content type, it is it's own content type.

Here is a good blog to help you get started with them https://www.davidhayden.me/blog/taxonomies-in-orchard-core-cms

[2020-05-19 10:04] deanmarcussen commented on #6183
Have you tried clearing your browser cache?

ImageSharp uses a default browser cache of 14 days (from memory), so even when evicted from the Media Cache (which would happen automatically if the item is deleted from the media library), the browser will still cache the image for a period of time.

ImageSharp also evaluates based on last modified dates, but when using blob storage this translates int

[2020-05-19 10:37] dodyg commented on #6207
The same way. Check this https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Themes/TheAdmin/Views/Layout.cshtml

[2020-05-19 10:49] agriffard commented on #6207
[code]

You can use this project to extract your strings to localize: https://github.com/lukaskabrt/PoExtractor

[2020-05-19 11:43] devlife commented on #6183
No I haven't tried clearing browser cache. That def seems like a pain. Out of curiosity is there a reason not to reopen the PR?

[2020-05-19 11:46] devlife commented on #6208
I don't know what the correct answer is but they don't need to know HTML or any other programming language. Just tell them to click the `< >` button before they copy/paste and then click it again to see the content. Copying/pasting in WYSIWYG is never a good idea. Without seeing the HTML that you're trying to copy and the end result I can't really give you any other advice other than maybe check o

[2020-05-19 11:52] deanmarcussen commented on #6212
Yes, I discovered this yesterday as well.

It is because the `ShapeDescriptor.Created` events are called before the `createdEvent` action that the shapeFactory uses to populate the shape properties.

Maybe there is a reason it's done in this order, I'm not sure?

[2020-05-19 11:57] deanmarcussen opened #6218 "ShapeCreatedContext does not have service provider"
The `ShapeCreatedContext` does not have a serviceProvider like the `ShapeDisplayContext` do.

This means services resolved through an `IShapeTableProvider` with `OnCreated` either need to be resolved through the constructor, which causes disposed exceptions, and scope capturing, or by directly accessing the `ShellScope.Services`.

Is there any reason not to have a `IServiceProvider` available on t

[2020-05-19 12:07] agriffard commented on #6208
It seems it happens with the `Trumbowyg` editor but not with the `Wysiwyg `editor (which is supposed to be the same but without options defined).

[2020-05-19 12:08] agriffard commented on #6208
Tested with:
[code]

[2020-05-19 12:11] minhdn2 commented on #6208
hi @agriffard ,

I'm using Trumbowyg because it allows me to config it to not automatically change <div> tags to <p> tags.
Can I do the same with Wysiwyg? If yes, please help to check and advise,

Many thanks in advance.

[2020-05-19 12:31] PiemP opened #6219 "Bag of Bags: slow edit UI"
Hi guys,

I have a strange issue over some browser like the new edge, chrome and firefox. If I try to order or edit my contenttype with a bag field that contains elements with a bag field too, the interface become slow if I go over some number of saved elements ( more o less 30 ) in the bag.

I attach a gif to better explain the issue.
![bag of bags slow](https://user-images.githubusercontent.com/

[2020-05-19 13:45] deanmarcussen commented on #6183
It's a pretty simple PR, probably just need to get the design requirements correct, though i know Sebastien was concerned about the performance implications.
(Note they are memory cached after the first request)

Requirements request:

Do we want default media cache busting as a setting?

This would be then applied to the admin thumbnails, and the `asset_url` helpers

[2020-05-19 14:09] JoshTango commented on #6216
or not i'm getting confused

[2020-05-19 15:06] ns8482e commented on #6212
I assumed that `OnCreated` is fired after shape is completely created but it seems shape is available but not initialized with parameter passed on that event.

May be need a `initialized` event?

[2020-05-19 15:22] ns8482e commented on #6216
It don’t think it’s bug in `styleblock`. I am using it and it’s working for me without any issue.

Your style may not override other style that could be because of style order applied in browser, you can easily find that out using browser’s developer tools.

[2020-05-19 15:40] deanmarcussen commented on #6213
It depends on what recipe you ran to set this up, but perhaps you ran one with restricted access to content, or have changed the permissions?

Regardless you can check the View all content security for the `Anonymous` role and see if it is selected.

[2020-05-19 16:57] orchardc commented on #6213
Hi @deanmarcussen, I use the agent template, there is no view but liquid template in Orchard. For some reason all liquid page need authorized to see..

[2020-05-19 17:28] JoshTango commented on #6216
ok i got it working again.

[2020-05-19 18:24] Fermain commented on #5536
@carlwoodhouse Have you made any headway with this?

[2020-05-19 18:29] carlwoodhouse commented on #5536
I looked into it a bit but I need to pick it back up.

There’s an easy fix (as suggested here; the check for did I already build
this part in another  builder is checking the wrong case of the field name;
so it re-adds it; this is technically what breaks it ..) so the simplest
fix is to check the right case.

But this isn’t actually ideal; as you’d never be able to mix types and
dynamic parts; you

[2020-05-19 19:23] #5802 closed

[2020-05-19 19:32] #6216 closed

[2020-05-19 19:47] devlife commented on #6183
Personally I think that would be a good addition assuming I'm not missing some other reason it hasn't been implemented yet. And the memory caching makes sense. If we could clear that specific cached item I think that would be fantastic.

[2020-05-19 20:07] JoshTango opened #6221 "Feature Request: Version Control for Templates"
Is there a plan to bring in version control for the templates?
@sebastienros

[2020-05-19 23:23] webmedia1012 commented on #6215
Thank you @dean for the reply, on the 1004rc version it's not visible until you get to content definition and then you can see the taxonomy type, on the new version however of OrchardCms, you can  see it, however you can't distinguish the name on Manage Taxonomy Content, they all say Taxonomy. And when you attached to a content type, you and edit, you see all the taxonomy content but no name just

[2020-05-20 03:44] minhdn2 commented on #6151
hi @deanmarcussen ,

`/shared_folder'` didn't work, the site cannot start.
I tried with `\\shared_folder` but it only relocate to the root of the current drive (my website is stored in `C:\...\...\...\my_website` and the shared_ folder is created in `C:\shared_folder`)

Could you please advise on how can I relocate to a shared folder in other drive (i.e: `D:\shared_folder`) or a shared folder in o

[2020-05-20 04:14] jtkech opened #6223 "YesSql Session Concerns"
There are some scenarios where the 2 following issues can happen, without going into details, some of them will be introduced by #6054 but this PR fixes other issues where the application can crash.

- A save followed by a query, and then a mutation, needs another save to persist the last mutation.

    It's because the query does an auto flush that is useful to retrieve the non committed but upda

[2020-05-20 04:24] RajasekarPR commented on #6099
@jtkech

Your PR doesn't fix the issue. Getting same timeout expired issue again.

[2020-05-20 04:36] jtkech commented on #6099
Okay so i reopen the issue

Can you give us more info, which database, are you using lucene indexing, workflows ... see my comment https://github.com/OrchardCMS/OrchardCore/issues/6099#issuecomment-626298766, we would also need a more complete trace, maybe a connectivity issue, see https://github.com/OrchardCMS/OrchardCore/issues/5948#issuecomment-614107086.

[2020-05-20 05:52] deanmarcussen commented on #6215
You just need to add a `TitlePart` to your `Taxonomy` `Term` Content Type Definition.

[2020-05-20 05:53] deanmarcussen commented on #6099
Also helpful to see the connection string you are using - without the password :)

[2020-05-20 06:02] datobu commented on #6189
Thanks, I will test and let you know if this works by tomorrow.

[2020-05-20 06:09] deanmarcussen opened #6224 "Change api permissions"
Related to design decisions for sanitization https://github.com/OrchardCMS/OrchardCore/issues/5802

TODO:
- Change GetApiContent permission to AccessContentApi and protect all /api/content methods with it. If you don't want a user to see all the fields, just don't grant access to the apis at all, hence the GetApiContent permission is not required as a separate one. This will also protect POSt that

[2020-05-20 08:37] RajasekarPR commented on #6099
Hi @deanmarcussen @jtkech

We are not using any lucene indexing or workflows.

We are using widgetlistpart where we are adding more than 15 widgets(like paragraph, html etc) in it. Initially it is publishing successfully as expected, but after some time, when i am trying to publish it again, throws timeout expired error.

Database : Sql Server

Connection string :

Data Source=tcp:dummy--beta-sqls

[2020-05-20 09:31] stantoxt commented on #4345
@hishamco I am so sorry to reply this now.

For now,when we use sqlserver to set up OC, it will failed if there is no existing db. Maybe oc could automatically create db for a tenant setup. In a website builder platform, the tenants even don't need to setup the site with db connection config, this db config is ok for developer,but it is hard to operation for customers without dev experience.

[2020-05-20 11:04] dodyg commented on #6221
Oh that would be so sweet. Orchard Core CMS is a development environment.

[2020-05-20 11:06] JoshTango commented on #6221
well somebody did bring it up in one of the videos.

[2020-05-20 13:17] webmedia1012 commented on #6215
Hi Dean, thank you again. As you can see from the screenshot I did have a title part on my Taxonomy Term Am I missing something?

![txn_topic](https://user-images.githubusercontent.com/2730217/82450311-6417ad80-9a61-11ea-918a-d80f1c91612e.PNG)

[2020-05-20 13:18] webmedia1012 commented on #6215
Once I've completed this project I'm going to release a video tutorial to help out those that might encounter some issues, so I'm thankful for your help.

[2020-05-20 13:26] deanmarcussen commented on #6099
It is hard to tell remotely what you might be experiencing.

There have been some reports of deadlock issues in the underlying `SqlClient` NuGet.

Perhaps you can try upgrading the package yourself and see if it resolves your issue
https://www.nuget.org/packages/Microsoft.Data.SqlClient/
v1.1.3 is the latest release and does contain bug fixes.

Otherwise we would need a further stack trace as @jtk

[2020-05-20 13:31] deanmarcussen commented on #6215
Somehow it feels like you didn't enter a Title for your taxonomy (or maybe called it `Taxonomy` and it didn't like that. ?)

here is a working example from `TheBlogTheme`

Perhaps if you are still struggling you should just setup a new site based on `TheBlogTheme` as it has both `Tags` and normal `Taxonomies` in it, which may help you figure out what you're missing

![Screenshot 2020-05-20 at 14 2

[2020-05-20 13:31] PiemP commented on #6219
I have update the perfect-scrollbar in the admin template and seems work better ... but I'm really far to understand what can cause this slowiness at the page loading

[2020-05-20 13:47] Piedone commented on #6217
Isn't this what you're thinking about? https://github.com/OrchardCMS/OrchardCore/issues/4620

[2020-05-20 13:50] Piedone commented on #1325
This can be left open so once the YesSQL issue is resolved we can continue with this one. However, I think Oracle DB support at most can be on some best effort basis, not on part with the other providers.

[2020-05-20 14:09] sebastienros commented on #6221
No plan, but that could be done without breaking anything easily as they are stored in db, we could at least store a draft, if not all versions.

How would you use it? To save changes before "going live"?
Also I don't remember we mentioned that in the meetings, do you have a reference?

[2020-05-20 14:16] sebastienros commented on #6223
Yes, I think I mentioned it during the last triage, and this is how I described a potential fix in yessql. Not sure about this line exactly but will check.

To be sure about side effects it to run the unit tests, or just create a PR and it will run it for you. Even better add another unit test to check the scenario that didn't work. And issue however is that all itemds will need to be rechecked fo

[2020-05-20 14:26] JoshTango commented on #6221
I will try and find the video but I thought someone asked if you could save a copy of each template after a save so you could roll back a template.

All you need is a simple drop down list which has a list of all the saved copies and allows you to rollback to the version you selected.  Or something like that.  Maybe even preview the copies.

[2020-05-20 14:35] webmedia1012 commented on #6215
Hi Dean, thank you for the tip, just one last question, what version of OrchardCore cms is this? Coz my version does not show that, the recent release passed 1004rc. Regards

[2020-05-20 14:39] webmedia1012 commented on #6215
Looks like this when you create a new one.
![taxonomy](https://user-images.githubusercontent.com/2730217/82459675-130db680-9a6d-11ea-8d4c-a71bf2967c24.PNG)

[2020-05-20 14:47] webmedia1012 commented on #6215
Ok I figured it out. When you enable Taxonomy for the first time, you have to Edit and Add in Title Part. Then the only thing that's checked is createable. Thank you again!

[2020-05-20 16:12] dodyg commented on #6221
@sebastienros it's even more basic than that. There's a lot of trial and error in developing templates especially for items that do not have preview. So if I am making making changes, I usually copy the current version to notepad and publish latest change to see if it works or not.

[2020-05-20 17:33] sebastienros commented on #6223
If you look at this PR where I added some unit tests you'll see that it works already. Can you fix my tests to make them fail?

https://github.com/sebastienros/yessql/pull/232

[2020-05-20 17:48] hishamco commented on #4345
Some CMSs doing that, but I think connection to existing database may better, coz the user may don't have permission for creating a database

[2020-05-20 18:39] orchardc commented on #6213
Any idea?

[2020-05-20 20:59] orchardc commented on #6213
This is a very strange problem.

I create a page call: test

![image](https://user-images.githubusercontent.com/16193516/82496661-02992280-9ae5-11ea-8486-01660e9be494.png)

Then when browse the link (http://localhost:2020/test) without login, I will be redirected to the login page.

How can I troubleshot this issue?

Many thanks!

[2020-05-20 22:02] jtkech commented on #6223
So it's about the 1st concern, okay i will commit a change to make them fail

So it's about the 2nd concern, i had already forked YesSql, removing the line where _cancel is set to false doesn't break unit tests.

So maybe worth to find a compromise on OC side, maybe only when acting on a content item through the content manager / display manager that call drivers / handlers. And in the other cases

[2020-05-20 22:07] jtkech commented on #6223
@sebastienros

I was not able to commit my change to your `sebros/saveflush` branch, so here the 2 unit tests where i changed one line to make them failing

        [Fact]
        public async Task AutoflushCanHappenMultipleTimes()
        {
            _store.RegisterIndexes<ArticleIndexProvider>();

            using (var session = _store.CreateSession())
            {
                var d1 = n

[2020-05-20 22:30] webmedia1012 commented on #3479
Hi @sebastienros  Any advise how I can restore the package on azure devops? I'm able do a build on my local machine for this version 1.0.0-rc1-13240, but once it's restoring on devops it can't find that version.

Thanks very much.

[2020-05-20 23:33] jersiovic opened #6228 "Required Annotation without custom error message cannot be localized"
I've checked out head of dev branch.
Then added my es-ES.po to a module which is enabled.
Then set site culture to es-ES
An enable reset password feature and enable its related setting
The po file contains following lines:
[code]
Viewmodel at head of dev looks like that:
[code]
Then I fulfill the form with blank email, the error message that is rendered is the default one in English: ´The UserIden

[2020-05-20 23:48] hishamco commented on #6228
YES, that's why I'm still fighting to accept my PR #467 ;)

[2020-05-20 23:57] jersiovic commented on #6228
:) which one? That one that you point is old and merged

[2020-05-20 23:58] hishamco commented on #6217
I will close this because it's discussed in the Audit module

[2020-05-20 23:58] #6217 closed

[2020-05-21 00:00] hishamco commented on #6213
Strange!! which version you are using, I will try to test it with the nightly build

[2020-05-21 00:05] hishamco commented on #6228
Nah I forgot the last digit ;) it is #4675

[2020-05-21 00:05] sebastienros commented on #6223
Oops!

[2020-05-21 00:06] jersiovic commented on #6228
I would like to add that this "small" problem is a pain in the ass, cause only for that I need to have my own controller and viewmodels version of any Orchard controller I want to localice if it uses an annotation at its viewmodel that is not localizable because has no custom error. , cause I need a new  viewmodel with custom error message to the [required] annotation to avoid this bug.

[2020-05-21 00:18] hishamco opened #6229 "Consider removing IPluralRuleProvider.Order"
While I'm revising localization APIs, I just find there's a default implementation of `IPluralRuleProvider` called `DefaultPluralRuleProvider`. I don't think there will be a new implementation for that because all the cultures have fixed rule

The question is why do we need the `Order` property?!!

according to the comment, if we need to add a new implementation - which I don't think why, but it c

[2020-05-21 02:17] hishamco commented on #6219
/cc @ns8482e

[2020-05-21 06:18] jersiovic opened #6231 "Guidance for publishing orchard packages in custom repository"
When you use Orchard you have to decide if you use the source code to be able of fixing things on your own way without having to wait an approval of a PR, like I would wish with this for this issue https://github.com/OrchardCMS/OrchardCore/issues/6228. Problem is I pay every day this advantage on compilation time and resource consumption of visual studio with the big solution loaded.

The other op

[2020-05-21 06:54] vitalybrandes opened #6232 "Question - User login records"
How can i know when user authorized via UI or open ID?
Log or records?

[2020-05-21 07:11] orchardc commented on #6213
Hi @hishamco I'm using the latest version but I think it's not that. I try it without my solution it works just fine. How can I debug it so that I can see which code cause this? In my controller pages it works all fine, only the Orchard pages have this issue.

[2020-05-21 08:01] hishamco commented on #6213
Please share steps - or minimal repo - to reproduce

[2020-05-21 08:02] hishamco commented on #6232
You could use `HttpContext.User.Identity.IsAuthenticated`

[2020-05-21 08:17] vitalybrandes commented on #6232
Yeah, but i am searching for the way to present list of logins per specific user.
Lets say,
user JohnD   20/05/2019  15:30 login

also, how can i check by code that user allowed to login to Dashboard?

thanks

[2020-05-21 08:56] orchardc commented on #6213
I feel it's not possible to reproduce as this problem happens for a few months but I didn't notice.  If I create a new database with Agent template again, the problem disappears immediately.

[2020-05-21 09:13] orchardc commented on #6213
Problem solved. It's about the security role: Anonymous

For some reasons, all checkbox for that role were unselected. I then select "View all contents", it works fine now. Thank you for your attention.

[2020-05-21 09:13] #6213 closed

[2020-05-21 09:27] hishamco commented on #6231
I'm suffering fro this too ;) I think you need to work without the source code, for the most cases adding a custom module may enough, according to the issue that you mentioned above this not very straightforward, because the change on the Core APIs, probably subclass the `PortableObjectStringLocalizer` with the other changes that I did can works fine

[2020-05-21 09:49] orchardc commented on #6214
Any idea? Can Orchard controller accept HttpPost from external service?

[2020-05-21 10:28] deanmarcussen commented on #6151
Let me more specific.

The check on the folder paths to get an absolute path is if the leading character contains either `/` or `\`

There will be no check for anything like `C:` - that is not platform independant (i.e. would not work for linux), so do not try to do that.

as I said before if you want to locate to network driver use a unc share path.

if you want to move it for development perhaps

[2020-05-21 11:16] HengzheLi opened #6233 "How to customiz MapIndex table name"
For MapIndex, the table name is "[PartName]Index". This looks like a defaut pattern provided by YesSql during the table creation using CreateMapIndexTable in migration.
So must it has this kind of name for YesSql to find the right table when it does the query operation?
Has a way to customize the table?

[2020-05-21 12:15] hishamco commented on #6233
Please move your question to YesSQL repo

[2020-05-21 12:21] jwu-au opened #6234 "Correct way to generate url for a bagged item"
Hi Orchard Team,

Suppose I have below code for generating a content item link for a bagged item `Service`
[code]

So I have to generate a shape from the service `JObject` , and then pass its `ContentItem` to the `a tag` helper. Is there a directly/another way to generate a link for a contained item?

[2020-05-21 13:02] deanmarcussen commented on #6204
We discussed this at the meeting last week https://www.youtube.com/watch?v=hexujWzGV14
and seemed to think it was something we should implement.

The code to look at for similarities on picker design would be the `ContentPickerField`

Probably the thing blocking implementing this in Orchard Core at the moment (for me) is the use of a int `DocumentId` property on the `User` object, as this will not

[2020-05-21 13:06] deanmarcussen commented on #6206
Yes, I'm aware of this limitation and it is inconvenient, and it also ties the `DisplayMode` to the `Template`.

Which makes it difficult to change the display mode (which can be set in the UI), without having to have a corresponding change to the template (which maybe written in code)

the `Shape.Metadata.Name` probably couldn't change, because the display modes are tied to shape names, and it wo

[2020-05-21 14:06] ns8482e commented on #6234
May be you don't need to build display.  you can directly use `service` for `display_for`.

[2020-05-21 14:10] deanmarcussen commented on #3479
You need to specify a location for the myget feed from a `NuGet.config` and set the `dotnet restore` task to use the `NuGet.config`

![dotnetrestore](https://user-images.githubusercontent.com/13782679/82567389-34f26080-9b75-11ea-9726-bab66a280c10.png)

[2020-05-21 14:36] ns8482e commented on #6219
@PiemP Are you seeing slow on drag while sorting?

[2020-05-21 14:54] PiemP commented on #6219
Sorting and when I open an accordion. Seems all the interface been slow, above all when page be loaded. The first browser that give this problem to us is the "new edge". But the other browsers show this behavior too. The console in the example gif is the chrome's console.

[2020-05-21 14:58] JoshTango commented on #6221
@sebastienros well on the template page there could be a "version history" button.
When you press this button it takes you to a version control page for that template.
This code could be put inside a new version control module for templates.
It could start off simple and over time you can evolve this module.

[2020-05-21 15:06] webmedia1012 commented on #3479
Thanks so much Dean, is it in .NET Core? (OrchardCore) coz when I open my repo I couldn't see nuget.config, but I'll try your solution right now.

[2020-05-21 15:07] vitalybrandes commented on #6232
Well, kind of ;-)
Dose orchard store this kind of data?
Mostly i am interested in OpenID.

[2020-05-21 15:10] webmedia1012 commented on #3479
Ok here's what I got
![nugetrestore_issue](https://user-images.githubusercontent.com/2730217/82573350-816c7a80-9b3a-11ea-99c3-72e17276c75f.PNG)

[2020-05-21 15:33] deanmarcussen commented on #3479
Yeah no, you need to make yourself a `NuGet.config` - that's your job ;)

Here's an example
[code]

[2020-05-21 15:37] webmedia1012 commented on #3479
Oh ok, now I get it!! Thank you so much.

[2020-05-21 15:38] B-Esmaili commented on #6204
Glad to hear that. frankly i was disappointed about lack of this feature and i think it is something to be implement as builtin feature. actually the need for this feature originated from assigning user info to content items in workflow tasks and i think user specific tasks are lacking in workflow for that matter.

[2020-05-21 15:57] Piedone commented on #6231
You can publish "releases" for yourself to a custom feed, also from a CI environment. This is what we do at Lombiq too.

[2020-05-21 16:34] webmedia1012 commented on #3479
Just an update that solution worked!! Thanks again @deanmarcussen !

[2020-05-21 16:55] orchardc opened #6235 "Is it possible to change the default home/landing to my own controller /Home/Index ?"
As I'd like to redirect the homepage to use my own controller /Home/Index

[2020-05-21 17:10] deanmarcussen opened #6236 "Provide Field/Part Definition in GraphQl"
It would be useful to provide the Field or Part Definition in GraphQl

This is helpful when access to the field settings is required, example here
https://github.com/OrchardCMS/OrchardCore/pull/6016/files#diff-f626f24883701a8be1900dbd89142848R54-R57

Probably it would need to change to `ResolveFieldContext<MarkdownField>` to be more like
`ResolveFieldContext<DisplayContext<MarkdownField>>`, where

[2020-05-21 17:12] sebastienros commented on #6145
Done in O1, was not hard, there are libraries to do that.

[2020-05-21 17:13] #6114 closed

[2020-05-21 17:15] sebastienros commented on #6102
The generated html should at least have the previous state so the delay of the vuejs app doesn't impact it. Or it might be that vuejs updates the data multiple times, like reinitializing it then setting it.

[2020-05-21 17:30] sebastienros commented on #6095
I can't find a way to do it for now. The FlowPart shape has access to the Widget shapes, but the LiquidPart has only access to the Widget content item.

FlowPart shape can add something to the widget shape, but it would need to add it to the widget content item. Or we could use an ambient content item, like the aspects but at the requests level, like a HttpContext `Feature`. The content item contr

[2020-05-21 17:35] Piedone commented on #6145
Really, it's in O1? Didn't know and tried the latest dev, it doesn't seem to work with TinyMCE.

[2020-05-21 17:39] sebastienros commented on #6147
UI validation might need to do more things that generic validation, because it will validate user inputs instead of model values. The new Validating event from handlers might be the way to validate the data. There is a method in the content manager to call that.

c.f. https://github.com/OrchardCMS/OrchardCore/pull/6195

[2020-05-21 17:46] sebastienros commented on #6158
Maybe add a few examples in the doc:
https://docs.orchardcore.net/en/dev/docs/reference/modules/Layers/

[2020-05-21 17:47] carlwoodhouse commented on #6236
Not sure exactly what you’re trying to achieve .. you need the settings to
know how to render the field or so ? Or ..

Just trying to grasp the use-case

On Thu, 21 May 2020 at 18:11, Dean Marcussen <notifications@github.com>
wrote:

[2020-05-21 17:49] sebastienros commented on #5942
I think it's based on project references that are one GH and that point to our nuget packages.
Few users use the nuget packages (only rc1), even fewer publish their project (site) on GH.

[2020-05-21 17:52] deanmarcussen commented on #6236
Yes, in this case (and it was an edge case) it was about needing the settings for the `MarkdownField` to know whether to sanitize the render html output in `GraphQl` or not.

I was able to get it out of the `JsonPath`, but longer term it would be better if it was less hacky ;)

[2020-05-21 17:52] sebastienros commented on #6159
@jtkech didn't you fix this by having the ContentItemVersioned event?

[2020-05-21 17:52] Piedone commented on #5942
Maybe it's not just the package ID but also the version indeed. So projects that depend on OC packages published somewhere else than NuGet (like the dev feed) won't show up.

[2020-05-21 17:56] sebastienros commented on #6173
Can someone repro the issue and explain why it then tries to find this shape?

[2020-05-21 17:57] sebastienros commented on #6105
WE have talked about rewriting the whole content type editor to make it more dynamic, single page. So you can click on buttons to expand sections without losing the current context (same page).
@agriffard will link to the issue ;)

[2020-05-21 18:00] sebastienros commented on #4620
Someone should make a betteropen source version with a restriction for this customer to not be able to use it.

[2020-05-21 18:03] sebastienros commented on #6169
Definitely interesting, but not sure this should be in this repository.

To manage the api tokens, I would suggest to be able to create multiple "GitHub connections" by name, and then in the workflow tasks you'd chose which connection to use.

[2020-05-21 18:04] carlwoodhouse commented on #6236
Just want to be clear (I know this is an edge case anyway) ...

But you want to know if you the consumer should sanitize it or not based on
the setting; or should graphql be returning it sanitized or not based on
the setting :)

On Thu, 21 May 2020 at 18:52, Dean Marcussen <notifications@github.com>
wrote:

[2020-05-21 18:14] Piedone commented on #4620
They're a nice customer and they agreed to open it up :). In the meantime those issues were resolved and it's up to us to make it ready for public release. We're on it.

[2020-05-21 18:16] deanmarcussen commented on #6236
In this case it's graphql returning it sanitized or not, because we have the `ToHtml` rendering option for `Markdown` in GraphQl.

So it's not about providing more metadata/settings to the consumer, just to the `RenderFieldContext` :)

(all to save this ... )
[code]

[2020-05-21 18:18] sebastienros commented on #4826
does slugify work instead of downcase from @jtkech 's example?

[2020-05-21 18:20] sebastienros commented on #6179
Looks like a module depends on it. We need to understand what component is failing in this case, the stack trace is too small here.

[2020-05-21 18:21] sebastienros commented on #6179
And if we don't want to depend on a specific module, at least have a default implementation that does nothing (for IRoleService in this case)

[2020-05-21 18:23] carlwoodhouse commented on #6236
Maybe we should just have an argument on the field to sanitize or not
regardless of the setting and leave it to the consumer lol ..

On Thu, 21 May 2020 at 19:16, Dean Marcussen <notifications@github.com>
wrote:

[2020-05-21 18:24] sebastienros commented on #6180
Migrate it !
There might be better libraries than Caiman nowadays. But please keep it client-side only.

[2020-05-21 18:30] sebastienros commented on #6190
If it's not a module (i.e. it doesn't have a reference to the targets) it shouldn't be displayed as a module.

[2020-05-21 18:33] Piedone commented on #6190
It does have a reference to Targets. My point is, however, that without a manifest a library shouldn't be considered a module.

[2020-05-21 18:33] carlwoodhouse commented on #6236
If the settings only change per definition though Not per item; you could
technically use metadata like you said ... the schema should be regenerated
on definition change,

On Thu, 21 May 2020 at 19:23, Carl Woodhouse <carl.woodhouse@gmail.com>
wrote:

[2020-05-21 18:45] #5843 closed

[2020-05-21 19:10] deanmarcussen commented on #6236
Yeah let me have a look again there was something that didn’t seem right about the metadata property but worth another look (def easier)

[2020-05-21 19:33] Piedone opened #6237 "Setup favicon invisible on light browser UIs"
I'd like to complain about the setup screen improvements as asked by @sebastienros under https://github.com/OrchardCMS/OrchardCore/pull/5781#issuecomment-606937463. The new favicon is good on dark browser UIs but invisible on light ones:
![image](https://user-images.githubusercontent.com/1976647/82598226-97198880-9baa-11ea-98ab-946db7d8e6cb.png)
This is when the tab is not in focus:
![image](https

[2020-05-21 19:35] sebastienros commented on #6237
Great, now fix it

[2020-05-21 19:35] Piedone commented on #6235
You don't need to redirect anything. If you specify your controller action's route as the home route (I think just "/" should work), like with [attribute routing](https://github.com/Lombiq/Orchard-Training-Demo-Module/blob/orchard-core/Controllers/YourFirstOrchardCoreController.cs#L60) then that's what will come up when you open the homepage.

[2020-05-21 19:40] Piedone commented on #6237
I'm still working on my PhD in Gimp so I'll be able to do that :|.

[2020-05-21 19:57] orchardc commented on #6235
Hi, this doesn't work:
            routes.MapAreaControllerRoute(
                name: "Home",
                areaName: "MyCode",
                pattern: "/",
                defaults: new { controller = "MyController", action = "Index" }
            );

[2020-05-21 19:59] orchardc commented on #6214
@jtkech  could you help?

[2020-05-21 20:01] Piedone opened #6238 "Autoroute startup performance bottleneck"
The `Startup` class of Autoroute fetches all the indices in a single query on shell start:

[code]

While this is no problem for small sites it'll become an issue with hundreds (and especially tens of thousands and more) content items using AutoroutePart. Then all those items' index records will be retrieved in one go. This can be even reached with a blog where you post periodically and especially

[2020-05-21 20:03] Piedone commented on #6235
How exactly is it not working?

[2020-05-21 20:49] sebastienros commented on #6214
Try a GET. If it works then the issue is with the antiforgery token.

[2020-05-21 20:59] sebastienros commented on #6238
Might be a config option to preload instead of doing it by default.
We'd also need to lock on the resolution for a specific url (gating) to prevent bursts of SQL queries on startup, for the homepage for instance. It might also be an MRU collection in the case of lazy loading so we don't store routes that are rarely used.

Would you mind creating a site with thousands or autoroutes and measure star

[2020-05-21 21:04] orchardc commented on #6214
Get works just fine! Thanks @sebastienros , now the question is how to solve the antiforgery token from external service (like postman), and can I not turn it off - only for this TEST action?

![image](https://user-images.githubusercontent.com/16193516/82606442-05604a00-9baf-11ea-9927-eb087e96c868.png)

[2020-05-21 21:23] sebastienros commented on #6214
Make Test return something like the index is doing

[2020-05-21 21:26] sebastienros commented on #6190
A library with a Module.Targets is a module. Remove it if you don't want the library to be a module.

[2020-05-21 22:07] agriffard commented on #6105
Related to #472

[2020-05-21 22:49] jtkech commented on #6204
@deanmarcussen sorry i don't know why the user id is the doc id so tied the the store. Looks good to have an uid added to the `UserIndex` table and then update the `UserStore` `FindByIdAsync()`

[2020-05-21 22:49] jtkech commented on #6159
No, i only fixed the fact that the already existing `ContentItemVersioned` event was not triggering the already existing `ContentVersionedEvent` WF event

[2020-05-21 23:06] orchardc commented on #6214
That's still the same 400 result @sebastienros
![image](https://user-images.githubusercontent.com/16193516/82614541-08b00180-9bc0-11ea-8231-fb8ba338c8f8.png)

[2020-05-22 00:32] Piedone commented on #6190
Well, that's a question of definition. What I'm saying is that without a manifest that library won't be properly usable as a module anyway.

I wanted to say that Module.Targets acts as a useful meta-package shortcut to multiple other packages but I stand corrected, it doesn't do this. I confused it with something else.

[2020-05-22 00:42] jwu-au commented on #6234
Hi @ns8482e ,

Because the `service` inside a bag is a `JObject`, by passing service directly into `display_for`, it throws below:
[code]

[2020-05-22 02:32] HengzheLi commented on #6233
Ok. moving it

[2020-05-22 02:32] #6233 closed

[2020-05-22 02:48] sebastienros commented on #5409
The identifier of a user account should not be editable

1. For security reasons, as if an account is deleted, another account could use a previous identifier to impersonate technical permissions.
2. For data integrity as an identifier is used for referencing to an account, and that would break any reference (e.g. link to user, owner property in content item)
3. For idempotency of import/export su

[2020-05-22 02:50] sebastienros commented on #6233
The table name is defined by each module that creates the part. Each module is free to use the table name it likes. You can only change the table names for the indexes you create.

[2020-05-22 03:34] ns8482e commented on #6214
I am not sure, should work.

This how I have defined and it's working for me.
[code]

[2020-05-22 04:49] jtkech commented on #6206
Hmm not sure, maybe in the `Named` / `Removed` methods, if there is no part with a given name, check if there is one that starts with this name + the `_Display__` token, assuming that the remaining part is a display mode, or maybe include the display mode to the shape metadata.

Oups, would have been better to do it at the same time

[2020-05-22 04:53] stantoxt commented on #4345
Sqlite is good enough for db creation automatically. And security is important.But I think it should be a feature.

[2020-05-22 06:10] jtkech commented on #6173
There is a simple way to repro

- In the already existing `Link Menu Item` type definition, check `Creatable` and `Listable`

- Then create a `Link Menu Item` and go to the Admin Content Items page

- Then it searchs for a `MenuItem_SummaryAdmin` shape because the stereotype is `MenuItem` and the display type `SummaryAdmin`

Unchecking `Creatable` and `Listable` in the custom `MenuItem` type fixes

[2020-05-22 06:40] jtkech commented on #6234
In the `BuildDisplayFilter` if the input value is a `JObject` we do `jObject.ToObject<ContentItem>()`. We would need to do the same in the `ContentLinkTagHelper`

[2020-05-22 07:18] jersiovic opened #6240 "Incomplete information in Localization documentation?"
Here https://docs.orchardcore.net/en/dev/docs/reference/modules/Localize/#publishing-localization-files docs say

However, when I'm creating a new module that I want to provide localizations within the module, that doesn't work like that. The .po file has to be included in the project as an embbeded resource if not it is not taken into account as localization file

[2020-05-22 07:23] jtkech commented on #6238
I agree, it is like this from the beginning, refactored in my `distributedCache` branch where we don't resolve autoroutes on startup but on the first need (e.g. not the home), but still in one go when we first create the related cache, a volatile (only cached) distributed document.

Hmm, if we populate the document lazily, if there is no entry matching a given request path, how could we know that

[2020-05-22 07:59] orchardc commented on #6214
This is same result, unfortunately. Maybe you can paste a screenshot of how Postman works in your environment - could be parameter issue?

![image](https://user-images.githubusercontent.com/16193516/82645166-5e110080-9c0a-11ea-93de-5bfed472d560.png)

[2020-05-22 08:02] orchardc commented on #6235
It ignore this route, still directly go to the landing page.

[2020-05-22 09:57] hishamco commented on #6240
That's what I expect `embedded` not `content`, I will fix it soon

Thanks

[2020-05-22 09:59] jwu-au commented on #6234
Hi @jtkech ,

I created a PR https://github.com/OrchardCMS/OrchardCore/pull/6242 for fixing the issue.
I'm not sure it is the best way to do it.
From my testing, it should fix all properties assignments from jObject in the tag helper.
Have a review.

[2020-05-22 10:10] orchardc commented on #6214
Gents,

I'm able to post now, thank you for your support.

![image](https://user-images.githubusercontent.com/16193516/82657109-b51fd100-9c1c-11ea-8702-d33ac1cb2274.png)

It's because I didn't add the route!

![image](https://user-images.githubusercontent.com/16193516/82657155-d1237280-9c1c-11ea-9584-049ae6783871.png)

[2020-05-22 10:10] #6214 closed

[2020-05-22 10:45] ns8482e commented on #6206
I faced similar situations, Although not related to Display Mode.

I had a shape object that I wanted to remove from parent zone, But I could not because the `Matadata.Name` was null and `Shape` doesn’t provide Remove by object. So I cast `Items` to `IList`

@jtkech @deanmarcussen so I doubt if `Matadata.Name` really is used in rendering

[2020-05-22 11:47] Piedone commented on #6235
Let's try to make this work in a simplest way: Please create a controller in your module where the action just returns a string or something, and use attribute routing to hook it to the homepage. Enable the module, then try it out. If it doesn't work then open the action directly with the default route. Let us know if this works and post your code.

[2020-05-22 11:48] Piedone commented on #6232
If you want to log when users logged in then this will be possible with Audit Trail: https://github.com/OrchardCMS/OrchardCore/issues/4620

[2020-05-22 11:59] Piedone commented on #6231
Why is the nightly build not actually published to nuget.org BTW? @sebastienros ?

[2020-05-22 12:20] jptissot opened #6244 "Rendering order issue with zone defined in a widget"
It is possible to inject html into a zone defined in a widget if this widget with zone is rendered after the widget injecting into this zone. But it is not possible to inject "upwards" into a zone.

### Use Case:
 We have a HeaderHeroWidget that supports having quick links to content below. The idea was to have a zone defined in the Header Hero widget where other flow wigets could "inject up" a bu

[2020-05-22 12:44] jptissot commented on #6231
I would love to see a monthly build on nuget.org. I wonder if we could do an unofficial build somewhere.

[2020-05-22 13:20] ns8482e commented on #6244
@jptissot easy to achieve by defining DisplayDriver that injects custom Shape for  `Header` for your widget e.g. `HeaderHeroWidget`

[2020-05-22 13:29] jptissot commented on #6244
@ns8482e what do you mean ?

[2020-05-22 13:46] ns8482e commented on #6244
[code]
Create `HeaderHeroWidget.Links.liquid` or `HeaderHeroWidget.Links.cshtml`  in `Views` And Register driver in your module startup.

This will inject `HeaderHeroWidget_Links` to `Header` zone of your Layout.

[2020-05-22 13:56] remesq opened #6245 "Is there a way to style the form inputs in a Content Item using OrchardCore.Forms?"
I've not been able to find an answer, so I apologize if it's relatively simple. I'm not sure if it can be done through the UI, much as we previously could with Orchard.DynamicForms by editing properties directly on the Canvas (Orchard.Layouts). Or whether it can be done by using Razor or Liquid.

I'm interested in porting over the forms I used in Orchard with Dynamic Forms. They are fairly complex

[2020-05-22 14:12] sebastienros commented on #6240
Our maybe I didn't understand the issue

[2020-05-22 14:33] Piedone commented on #6231
We can move the nightly from MyGet to Cloudsmith because [it offers 100GB storage for open source](https://cloudsmith.io/package/plans/#feature-section), enough to have a looong time before they roll out. Or set up a static mirror with [Sleet](https://github.com/emgarten/sleet), or just publish the nightly to an Azure Blob directly and ditch MyGet (MyGet has a browser for packages though, however,

[2020-05-22 14:45] jptissot commented on #6245
You could write custom widgets that render inputs and use those in the Form's flow part.

[2020-05-22 15:10] mehranrezaei opened #6246 "Which ORM is used in OrchardCore?"
I started reviewing this project today. I have to say I'm completely confused.
I could not figure out what ORM was used in this project. I know YesSQL is used, but does YesSQL play an ORM role?
Isn't nHibernate or EF Core used anymore?

I am proficient in the architecture and structure of the Orchard 1.x, but I don't understand much about OrchardCore. Can anyone explain in this regard, especially

[2020-05-22 15:15] remesq commented on #6245
It isn't so much the actual form inputs, but rather the styling of all the `<div>` elements that surround the form inputs. I am styling the row/columns, whether they be a row with a column of "12" or a row with two columns of "6" each, for example.

[2020-05-22 15:21] jptissot commented on #6245
What I did for a forms module I implemented is to write custom widgets that handle writing the div that surrounds inputs, the label and input all in 1 widget. Then, it became trivial to add fields to the widget that allow the content editor to add classes to the wrapper div for example

[2020-05-22 15:41] jptissot commented on #6244
Will this work if the zone is defined in another widget that is rendered before the widget that injects into said zone ?

[2020-05-22 15:41] remesq commented on #6245
Sadly I wouldn't even know how to do that, although it sounds like it might be a solution to my problem. Would you happen to have any sample code? And thanks for your guidance.

[2020-05-22 15:41] deanmarcussen opened #6247 "Remove Lists projects dependency on the Contents Module"
The `OrchardCore.Lists` project has a dependency directly on the `OrchardCore.Contents module.

This can be removed, by migrating some more of the `ContentTypePermissions.CreateDynamicPermission` helpers to the `OrchardCore.Contents.Core` project

and referencing more of the abstractions projects for `GraphQl` and `Feeds` etc

(I think this might be the last module, that is referencing another mod

[2020-05-22 15:42] sebastienros commented on #6246
YesSql is the ORM. It's actually mapping object to documents (like a document database).
A few modules that don't require document storage but just raw table use Dapper.

[2020-05-22 15:47] sebastienros commented on #6247
There are abstractions for the permissions already, so this might not even be needed.
Unless it's actually creating new dynamic permissions, which I assume is the case ;)

[2020-05-22 16:00] jptissot commented on #6245
You create a new content type from the admin (or with code) called FormInput and add fields / parts to it. Then you can write a Template for it. You can also use placement to place certain fields in their own tab. Here are some code samples:

FormInput.cs
[code]

Widget-FormInput.cshtml
[code]

example code that can create the FormInput ContentType / Part. This can also be defined from the admin
[

[2020-05-22 16:14] remesq commented on #6245
Thank you for this! Very insightful.

[2020-05-22 16:14] #6245 closed

[2020-05-22 16:32] mehranrezaei commented on #6246
As far as I know, document storage is not suitable for all purposes, including searching one or more specific fields.
Also as I know Dapper provides much less functionality than Entity Framework does.
What is the superiority of Dapper over EF? Why did you prefer it for a multi-purpose project like OrchardCore?

[2020-05-22 16:50] ns8482e commented on #6244
It should work if `Zone` is defined using `ZoneTagHelper`  as  its using `Layout` zone. and you have `RenderSectionAsync` for the zone in `Layout`

[2020-05-22 16:55] ns8482e commented on #6244
Another option that I am using in `Templates` is to define nested layout like `shape` describe here.
https://github.com/OrchardCMS/OrchardCore/issues/3963#issuecomment-580754019

[2020-05-22 17:54] lskillen commented on #6231
You'd be very welcome over on @cloudsmith-io - let us know if we can help. :-)

[2020-05-22 18:13] Piedone commented on #6231
Checking out the referrals in the site analytics, are we? :D

I just quickly looked at it but I think your service would be super useful here. Basically, the issue is that the packages of the nightly build currently roll out very quickly on MyGet, becoming inaccessible within days. So unless you want to use the outdated version from NuGet (why it's outdated is a separate issue) you either have to

[2020-05-22 18:27] lskillen commented on #6231
😊 You got me! 😁

Yep, I think that makes sense. We've got other open-source users that do something similar, plus the same thing with other package formats that have snapshots (e.g. Java/Maven). If you'd like to keep it tidy on purpose, there's retention controls to trim the fat.

You don't need pre-authorisation to create an open-source repository at Cloudsmith. You can just create an account and

[2020-05-22 18:40] sebastienros commented on #6231
This problem has been discussed already and we found some solutions.

We tried to use GH package repository, and it's done on every build (https://github.com/orgs/OrchardCMS/packages). The issues are that to reference the feed we need to be authenticated. Second issue is that there is also a limit in bandwith.

Then we thought about hosting the feed ourself so we are not limited by free offers. We

[2020-05-22 18:42] sebastienros commented on #6231
Now if cloudsmith is really only limiting the project to 100GB and 1TB I don't see why not use it.
Until they don't offer that anymore or kick us out ;)

[2020-05-22 18:54] lskillen commented on #6231
Yep, that's the default. We've offered higher to projects that have needed it, but usually, this is more than enough to get going. It'd be a bit rude of us to kick you out! ;-)

Public feeds in Cloudsmith are properly public. You don't need to be authenticated.

[2020-05-22 19:12] Piedone commented on #6231
A hosted solution (until they inevitably kick us out :D) is much better than having to nurse something ourselves.

Cool, so according to Lee this can be set up straight away. It seems to me that I can just set up an Orchard Core org and add people. If anybody has any objections let me know, otherwise, I'll do what needs to be configured there during the weekend, then the CI will need to be changed

[2020-05-22 19:19] sebastienros commented on #6231
No special email. Use yours or mine, and add more if possible for backup.
You'll need me to update the appveyor file with an encrypted token.

[2020-05-22 19:20] Piedone commented on #6231
Cool, thanks.

[2020-05-22 19:37] pbros commented on #6010
Hi,

So I've managed to expose the Terms Hiearchy in JSON by adding the following to `TaxonomyPartQueryObjectType`

[code]

This allows me to get the full hierarchy, but not the "content" or render of the terms. I could parse the json in my client application, however there is no current mechanism to fetch a term in the hierachy via GraphQL and we cannot query them directly via their content type

[2020-05-22 19:55] ns8482e commented on #6234
@jtkech May be ContentItem should implement implicit operator for `JObject`?

[2020-05-22 21:00] ns8482e commented on #6246
@mehranrezaei you are not restricted to use only `YesSql` or `Dapper` for data storage. You can use `EntityFramework` in your custom module

[2020-05-22 21:27] Piedone commented on #6246
If you check out the [YesSQL docs](https://github.com/sebastienros/yessql) you'll see what makes querying possible (search for `IndexProvider`s in Orchard).

Dapper is very lightweight. As you can see in the code there is very little non-YesSQL querying in Orchard so it's suitable for that. If you want to store something in the DB and not manage it in documents, nor is it enough for you to query i

[2020-05-22 21:27] Piedone commented on #6237
Antoine is already a postdoc!

[2020-05-22 21:27] #6237 closed

[2020-05-22 23:01] Piedone commented on #6238
I've tested the impact with this query on SQLite:

[code]

And this one in a local SQL Server instance:

[code]

- SQLite is not what you'll use for a prod app but still; It'll be slower than a proper DB server but also offers much lower latency than one that is across a network. SQL Server was a local instance so no network latency either. Run through IIS Express with just Ctrl+F5. Hence the funn

[2020-05-23 01:00] sebastienros commented on #6238
Your numbers seem to disprove the issue.

However there might be cases when we want one or the other. Not sure it's worth implementing a different logic right now, as even with 1M items the startup is totally reasonable, and adding lazy loading means
- we need to introduce some locking (gating) when resolving each route that doesn't exist
- each potential 404 issues a db access, and is cache so ev

[2020-05-23 01:26] jtkech commented on #6238
Good idea but the problem is that we map on the following, so the autoroute transformer is executed e.g. for all static assets, so we would have many negative results

            routes.MapDynamicControllerRoute<AutoRouteTransformer>("/{any}/{**slug}");

[2020-05-23 05:39] jtkech commented on #6240
@sebastienros

This is when a module itself provides localizations files under its `Localization` folder, as @jersiovic said they need to be embedded, but this is done automatically.

Note: VStudio may add some item groups in the project file e.g. after having copy / paste some po files, in that case, in place of having to mark these resources as embedded through VStudio commands, you just have to

[2020-05-23 05:43] jtkech commented on #6206
Not sure but I think you're right, hmm as i remember the name is set to the stereotype or the shape type, but for rendering maybe only the shape type is important, need to be tried / checked

[2020-05-23 05:45] jtkech commented on #6223
Fixed through https://github.com/OrchardCMS/OrchardCore/commit/ea2c37859654f432597ef060043701009b879ef3

[2020-05-23 05:45] #6223 closed

[2020-05-23 05:50] jtkech commented on #6234
@jwu-au good idea

@ns8482e good idea also

Need to think about it

[2020-05-23 08:17] #6218 closed

[2020-05-23 08:19] jtkech commented on #6234
Hmm, when working from `ContentItem.Content` we get a `JObject` from which we can get parts that are also `JObject` and so on. So the problem is that we can't get e.g. a real `BagPart` whose `ContentItems` property is really a `ContentItem` collection.

i think the problem is only for liquid because in razor we can use `ContentItemExtensions` as this one `As<TPart>(this ContentItem contentItem)`

[2020-05-23 10:29] ArieGato opened #6252 "DataProtection keys not persisted"
Hi,

I have a problem running a site in a shared hosting environment. During setup I get warnings and an exception with DataProtection keys.
[code]
I can setup the web site and I selected the Coming soon theme. After setup when I click the Notify me button on the home page I get a 400 http error. In the logging there's a warning about the Antiforgery token.
There is one file in the data protection

[2020-05-23 14:09] Piedone commented on #6231
We need an organization e-mail. For now, I've used mine but we need some common one. Added @sebastienros, @agriffard, @BenedekFarkas as owners. Let me know if there should be others.

I've set up a package repository and everything so I think the only thing missing is actually publishing the packages. Who has access to the CI for this? Here're the instructions: https://cloudsmith.io/~orchard-core/

[2020-05-23 16:12] kadamgreene opened #6253 "Adding a ObjectGraphType for a ContentPart that has ContentField(s) causes a "field already added" exception"
I created a `ContentPart` and added 2 `DateTimeFields` to it.  Because it has other, non-field properties, I created a `ObjectGraphType<SchedulePart>`.  But during the building of the `Schema`, it first adds my ObjectGraphType (via `TypedContentTypeBuilder`) and names it `schedule` (via ToFieldName extension method).  But every place where it checks to see if a field already exists, it does this:

[2020-05-23 16:46] Piedone opened #6254 "Domain, e-mail and website management (Microsoft 365?)"
We need shared management of the domains and e-mails of the Orchard ecosystem to allow:
- Multiple people having administrator access so nobody is a single point of failure, or has to do a certain job alone all the time.
- Creating e-mail groups. Notably, we need at least two central e-mail addresses that are forwarding to multiple people: A general one that can be used in places like Cloudsmith (

[2020-05-23 18:06] Piedone commented on #6238
I was curious whether this changes significantly in an actual production-like environment with a remote DB, so I've made some tests on Azure: 50 DTU (S2) standard tier SQL DB, B1 Web App.

- Baseline: 2ms
- 10: 2ms
- 100: 2ms
- 1000: 12ms
- 10k: 75ms
- 100k: 910ms (first request: 20s)
- 1M: 10s (first request: around the same)
- For the joke of it I also checked 4M (couldn't wait for it to finish

[2020-05-23 20:24] jersiovic commented on #6231
Awesome!

[2020-05-23 20:30] jersiovic commented on #6240
Problem happened in combination with problem I reported in other issue with validation annotations.
How they doesn't work with default error message, I read multiple times the docs to find what was the problem. Reading that I have to set po files as content didn't help me at all. Because the problem was even more difficult to understand after doing that

[2020-05-24 01:52] jtkech commented on #6253
Looks good, could you open a new PR to fix it so that a graphQL expert can review it

[2020-05-24 07:10] vitalybrandes commented on #6232
Yes, this is exactly what i need (Open ID login)

[2020-05-24 07:24] deanmarcussen commented on #6238
Cool, interesting to have some actual performance figures.

For infos, it is trivial to use some of the `Api` tests to create and connect to a sql database, and create content items ad nauseam.

The integration tests currently use SqLite to create multiple tenant database, and you can then take that database from the Tests/bin folder and move it to `App_Data` and load it as an actual tenant.

Or c

[2020-05-24 07:42] Tanveer-Singh opened #6258 "[HttpPost] Not working with OrchardModuleMVC and Web Api"
Using OrchardCore MVC Module
1.0.0-rc1-10004 => NuGet package
Using .net core 3.0 Web API
When making the Http Post request is giving me 400 Bad requests whereas Get request is working fine
Here is the sample code -
`
   [ApiController]
    [Produces("application/json")]
    [Route("api/WeatherForecast")]
    public class WeatherForecastController : ControllerBase
    {

        private static rea

[2020-05-24 07:53] sunnykachwala opened #6259 "How to deploy for tenant"
Hi,
I have created three website
1) host https://host.sunnykachwala.com/
2) blog https://blog.sunnykachwala.com/
3) agency https://agency.sunnykachwala.com/

for the host is not working but working in local
created two tenants and for that I would like to host a website.

how can this be achived?

[2020-05-24 08:25] agriffard opened #6260 "Sanitize Html removes css classes"
1) When you use an HtmlField in a content type with a Widget Stereotype, the css classes are removed.

2) With ou without 'Sanitize Html' checked, the line breaks are also removed.

[2020-05-24 09:31] dodyg commented on #6180
CamanJS is no longer maintained (https://github.com/meltingice/CamanJS). I will take a look for alternatives.

[2020-05-24 09:36] dodyg commented on #6180
https://github.com/fabricjs/fabric.js

[2020-05-24 12:21] Piedone commented on #6258
Probably this requires an XSS prevention token (though I'm not sure it should by default). Anything in the logs or any error details? What happens if you put `[IgnoreAntiforgeryToken(Order = 2000)]` on the controller (do note that this will make the controller susceptible to XSS attacks so only use it if this is an API for external apps)?

[2020-05-24 12:31] Piedone commented on #6238
I don't have more time to play with this at the moment but thanks for the info.

[2020-05-24 12:31] Piedone commented on #6232
That will also be available for Open ID logins. Please watch that issue and try the module out once we have it published!

[2020-05-24 12:31] #6232 closed

[2020-05-24 14:11] deanmarcussen commented on #6260
1. Yes, classes are considered susceptible to class jacking (https://html5sec.org/#123) so removed from the sanitizer by default

There's a unit test showing how to configure the sanitizer to accept classes, and other attributes.
https://github.com/OrchardCMS/OrchardCore/blob/736cdd5977196baf7ca2d5f9a77ec28ad3af4e22/test/OrchardCore.Tests/Html/HtmlSanitizerTests.cs#L27

Maybe we could accept class

[2020-05-24 16:58] sebastienros commented on #6231
Updated in the repos:

[code]

[2020-05-24 16:58] #6231 closed

[2020-05-24 19:10] Piedone commented on #6231
I don't think we're done here yet :). I'll test this out next week and update the docs too. With Antoine we're also working on having a custom domain.

[2020-05-24 19:12] Piedone commented on #6231
Does Travis publish now to here or is this syncing from MyGet?

[2020-05-24 19:46] sebastienros commented on #6238
Should we close this issue?

[2020-05-24 21:18] sebastienros commented on #6231
I already updated the docs too

It's still publishing to myget too, until most have switched to cloudsmith

[2020-05-24 22:51] jptissot commented on #6231
Switched one of our repos, works well :)

[2020-05-24 22:54] jptissot commented on #6260
Do we have some docs related to the sanitizer? I was searching how to configure it recently,thanks for the tip Dean.

[2020-05-25 07:01] vitalybrandes opened #6263 "Update UserInfoController to support returning custom user claims"
How to extend OPEN ID claims to my own?
I did extend user profile for some my fields as <Company> AND <Title> and i would like to claim this via OPEN ID infouser.

[2020-05-25 07:10] agriffard commented on #6231
Do they provide badges so we can change it in the ReadMe?

[2020-05-25 07:23] jersiovic commented on #6263
You can replace default IUserClaimsPrincipalFactory by your own one on startup. Like this:

[code]
YourUserClaimsFactory can inherit from the former one: DefaultUserClaimsPrincipalFactory.

Then your override GenerateClaimsAsync like this:
[code]

[2020-05-25 07:45] jersiovic opened #6264 "Set smtp settings though appsettings.json"
Is it possible to set smtp settings though appsettings.json and by extension by environment vars?
We tried it without success?

If not, would you accept a PR to allow that?

[2020-05-25 07:57] quiary opened #6265 "Rawhtml attributes gets deleted automatically."
I've been playing with rc version, and I found that after 1.0.0-rc1-13240, when I edit the rawhtml widget, all the html attributes gets deleted automatically.  For example:

`<div class="copyright">copyright</div>`

but after I clicked publish, the result is

`<div>copyright</div>`

I don't what happened. Had anyone encounter the same problem?

[2020-05-25 08:02] vitalybrandes commented on #6263
Did it exactly the same using claim demo from DEMO MODULE, but when i add some new claim,

[code]

dont see the data in postman.

[2020-05-25 08:14] agriffard commented on #6265
Duplicate of #6260

[2020-05-25 08:42] deanmarcussen commented on #6264
Duplicate of https://github.com/OrchardCMS/OrchardCore/issues/6036

so yes, but we need to figure out how the ui copes :)

You can set them yourselves (I think @Piedone included a link in the issue) by registering your own `services.AddTransient<IConfigureOptions<SmtpSettings>, SmtpSettingsConfiguration>();` or using `services.PostConfigure<SmtpSettings>(x => x)`

[2020-05-25 09:14] Tanveer-Singh commented on #6258
Yes, I figured it out
it requires both attributes on the top of the Controller class
Fix -
 `    [ApiController]
    [Route("api/[controller]")]
    [IgnoreAntiforgeryToken, AllowAnonymous]
`
It has been fixed we close it.

[2020-05-25 09:43] agriffard commented on #6260
Yes, please accept classes by default.

[2020-05-25 10:43] deanmarcussen commented on #6260
Haven't got docs yet :(

Can you do a bit of research @agriffard and see if classes are going to be safe for us?

I think they will because there's nowhere for the user to enter a malicious script that could be used to classjack.

It is easy to configure this by default, so pending some research I'll put a pr in :)

[2020-05-25 11:22] agriffard commented on #6260
It might be safe, you can not inject javascript with the class attribute, only with scripts, `on` events, img src or a href.

[2020-05-25 13:13] Piedone commented on #6238
Let's keep it open. It is an issue, just not an immediate one and not for everybody.

BTW I'm less concerned about the time a startup takes but more about potential timeouts. Depending on your configuration this can reach a level where the tenant is permanently stuck in a startup timeout, failing to start up at all. On Azure the DB connection timeout is 30s (which I'd argue is actually too high fo

[2020-05-25 13:24] Piedone commented on #6231
Great then!

Badges: I'd swear I've seen this somewhere but kind find anything. @lskillen do you have badges that we could add to the Readme like the NuGet one you can see here: https://github.com/OrchardCMS/OrchardCore/blob/dev/README.md?

[2020-05-25 13:34] Piedone commented on #6258
Great then!

[2020-05-25 13:34] #6258 closed

[2020-05-25 13:36] Piedone commented on #6264
You can set all the [SMTP settings](https://docs.orchardcore.net/en/dev/docs/reference/modules/Email/#smtp-settings) from [configuration](https://docs.orchardcore.net/en/dev/docs/reference/core/Configuration/), including appsettings. If you want to do that from code the example there is actually for `SmtpSettings` too

Having SMTP settings on the UI too is useful, I'd be very much against removing

[2020-05-25 13:40] lskillen commented on #6231
Sure thing! See here:
https://cloudsmith.io/~orchardcore/repos/preview/packages/detail/nuget/OrchardCore.Application.Cms.Targets/1.0.0-rc1-13293/#badges

The bottom markdown on the page gives you the "latest" version for that package, but should be OK for your purposes of a README badge. It's worth bearing in mind that GitHub caches badges, but there are ways to invalidate (can cover that later).

[2020-05-25 14:55] Piedone commented on #6231
Ah OK, I should've looked under a given package, not the repo, thank you!

[2020-05-25 16:13] ArieGato opened #6267 "Antiforgery token validation failed"
Hi,

I created a site in the OC repo with the ComingSoon theme. When I enter an email address and click Notify Me! A 400 error page is shown. In the log I see this:
[code]
Is there something I forgot to configure?
Thnx,
Arjan

[2020-05-25 21:46] quiary commented on #6265
Thanks.

[2020-05-25 21:46] #6265 closed

[2020-05-25 23:42] Piedone commented on #5841
Any progress on the remaining tasks? Where can I help the most?

[2020-05-26 04:11] Shilpa-V opened #6269 "No support for serverless"
We are using `orchardcore.localization` package for a few of our localization projects and trying to get it into one of our serverless dotnet core projects which use Azure.WebJobs. It doesn't hit our custom implementation of `ILocalizationFileLocationProvider` and won't be able to load all the PO files for translations.
I think it is because of the `IHostEnvironment` dependency of `ILocalizationFi

[2020-05-26 08:20] HengzheLi opened #6270 "MapIndex type variable could not be bound in session QueryIndex/Query method"
Below is my MapIndex type
[code]
And the index provider is added to IoC in the module startup class
[code]
But when I query the index using Session with QueryIndex method, OrchardCore throw below exception to me:
[code]

What did I missed?

[2020-05-26 08:57] cesarktp commented on #6264
If I configure smtp settings from the UI, sending email works (to a file). If I don't configure the smtp settings from the UI and use this appsettings.json:

{
	"OrchardCore":{
		"OrchardCore.Email":{
			"DefaultSender":"sender@contoso.com",
			"DeliveryMethod":"SpecifiedPickupDirectory",
			"PickupDirectoryLocation":"/app/App_Data",
			"Host":null,
			"Port":25,
			"AutoSelectEncryption":false,

[2020-05-26 10:07] PixPunch opened #6271 "Page size at PagerSlim"
Hi everyone.
As a web designer I do use TheBlogTheme for one of projects and want to render blog posts as a grid of cards (3 columns x 5 rows) instead of a list.
As I understood from documentation PagerSlim doesn't have an option to change number of items per page (but it used at BlogTheme by default). Is there easy way to modify page size in ".Blog-ListPart.liquid" at TheBlogTheme?

Thank you in

[2020-05-26 10:11] vesko-k opened #6272 "FileSystemStore issues"
When getting file system info a relative path is passed to the FileSystemStoreEntry.
[code]
When calling
[code]
File operations are made with relative path. I think path must be converted to physical one or in FileStoreEntry ctor a physical one should be passed.

[2020-05-26 10:30] mehranrezaei commented on #6246
@ns8482e, @Piedone
I know I can use any ORM in my module, But I use a framework or CMS to make development easier and more standardized.

It is not very interesting that in each module we have to set up and configure ORM and there are no integrated settings at the solution level.

Also, as I know, Dapper does not handle database migrations. Has this feature (automatic database migrations) been rem

[2020-05-26 10:41] deanmarcussen commented on #6271
The Blog settings for the `ListPart` have an options for how many items you would like to retrieve.

It is 10 by default, but can be changed to whatever you prefer.

Does this resolve the issue?

[2020-05-26 10:43] deanmarcussen commented on #6272
Can you explain the actual problem you are experiencing?

The `FileSystemStore` is wrapped for the `MediaFileStore` which resolves a base path, which is the intended usage.

[2020-05-26 10:56] vesko-k commented on #6272
The problem is when you call
[code]

the `filename` is translated to physical path and File operations work as assumed. But when you pass FileSystemStoreEntry, which is obtained through the 'GetFileInfoAsync' the Path member contains relative path, then when you pass 'FileSystemStoreEntry' to any operation e.g. `GetFileStreamAsync(IFileStoreEntry fileStoreEntry)`, the FileStoreEntry.Path is used a

[2020-05-26 12:39] Piedone commented on #6246
As we've written above, Orchard does use an ORM, YesSQL :). This is the built-in, standardized way. Dapper is a lightweight alternative for simpler use-cases. If all of this is not suitable for you then you can use any other ORM but you don't have to start by selecting an ORM for each of your modules.

Yes, database migrations are available (regardless of what kind of ORM you use for the table).

[2020-05-26 13:17] deanmarcussen commented on #6272
Hmm, yes I understand.

We can't expose the absolute `Path` directly, because this interface is exposed by `GraphQl` and the design is to never expose an underlying path.

I wrote this for `BlogFileStore` some time ago, and may have only tested it with blob storage, so it might be that it's not correctly implemented for the `FileSystemStore`.

What it should do, probably, is `var physicalPath = Ge

[2020-05-26 14:53] PixPunch commented on #6271
@deanmarcussen, when I saw this setting I had same thoughts about this option :)

But this option changes only number of items in public RSS feed, not the Blog page showing `ListPart` (list of  `BlogPosts`).

**Example**
At the RSS feed URL it shows the exact number I have set at `ListPart`
_https://localhost:44345/..../Contents/Lists/4xq1x9sw031qa29wm5yhkrp6wm/rss_

At the page created based on `

[2020-05-26 14:54] PixPunch commented on #5908
Thank you, works as expected!

[2020-05-26 14:57] sebastienros commented on #6271
This is a bug then. Should be easy to change if you want to provide a PR.

[2020-05-26 14:59] jagbarcelo opened #6276 "Content Types with restricted FlowParts are only enforced the first time"
We have created a custom ContentType with the following parts:
* Title
* Autoroute
* Flow
* Location

We have also restricted the FlowPart so that it can only contain *Html* ContentType instances.

When we create a new content of this new type, the available types to use are in fact restricted to just *Html*.

Howerver, after having inserted the first (restricted) one, if we try to further add mor

[2020-05-26 15:15] sebastienros commented on #6271
I checked the code and tested it, it works as @deanmarcussen suggested. I also found that the Blog edit screen has an RSS page size that you can change, so I think that's where you got confised. The rss page size is changed in the Blog content properties, while the "Blog" type page size is defined in "Content -> Content Definition -> Blog -> List part" settings. So all Blogs will have the same pag

[2020-05-26 15:17] sebastienros commented on #6276
Probably that the drop down lists that are dynamically generated don't comply with that constraint.

[2020-05-26 17:45] ns8482e commented on #6276
@jagbarcelo restriction applied to the `Content Type` only. If you have defined restriction to `Page` then `FlowPart` within `Page` has restriction. If you allow `Container` within `Page`  and if you don't have restriction on `Container`  then it will allow any `Widgets` inside `Container` within `Page`

[2020-05-26 17:55] ns8482e commented on #6246
@mehranrezaei If you  need to use built in CMS features then yes it uses YesSQL.

If you don't need CMS features then there is way to use your own choice of database and ORM without needing to use YesSQL to store your data.

Configure scoped data access service in startup, and use that directly in your controller in your modules.

[2020-05-26 17:59] sebastienros commented on #6276
Good find. but it means the restrictions are almost vain if Container is not part of this list too ...

[2020-05-26 18:03] ns8482e commented on #6276
And drag/drop too. Widgets from one `FlowPart` can be dropped to any `FlowPart`

[2020-05-26 18:31] PixPunch commented on #6271
@sebastienros, you are right I got confused about the setting.
We are really planning from 2 to 5 Blog pages at several sites.
For now common number of items per page is good enough solution.
@deanmarcussen, sorry for the misunderstanding.
Thank you guys for assistance!

[2020-05-26 18:31] #6271 closed

[2020-05-26 19:03] jersiovic commented on #6264
@cesarktp is a felllow at the IT deparment I'm trying to make he falls in love with Orchard.
Any help with this task will be very welcome :)

[2020-05-26 19:11] Piedone commented on #6264
I wanted to update the docs first as an answer :D.

This won't work by default. Maybe the docs is misleading, as was my message but unless the module specifically supports it you won't be able to just add such static configs. For every module supporting `IOptions`-based configs you can, however, set up arbitrary configuration from your web project's `Startup` class. If you want to load this config

[2020-05-26 19:15] johnrom commented on #4381
From what I'm seeing, the ContentItemOrderByInput isn't pluggable either. This should extensible by both code and CMS to add custom part/field types and linq selectors.

[2020-05-26 19:54] jersiovic commented on #6264
Ok very clear. we will do as you explain.  Thank you!

[2020-05-26 20:38] Piedone opened #6279 "Update branding"
We don't really have concise branding guidelines or even proper branding assets, just what's left over from a long time ago: https://docs.orchardcore.net/projects/O1/en/latest/Documentation/Walkthroughs/#orchard-branding

What I'd imagine:

- Possibly retouch the existing design a bit: E.g. the current logo's outer circle is strangely uneven.
- Maybe use a different branding color than the green t

[2020-05-26 21:22] mountaingeru opened #6280 "Fetching Data from a GraphQL API to create a website"
Hi,

Before telling you about my issue, I want to show my gratitude and appreciation for this product, which I have recently discovered, and what I have been able to see really pleased very much. Thank you very much!!!

And now the issue.

I am trying to create web pages from content obtained through requests to the GraphQL API. The CMS project is published on an IIS Server and I make successful r

[2020-05-26 22:22] sebastienros commented on #6280
You are sending a POST request which will require an antiforgery token.
Another option with graphql is to use GET requests, which is documented here:
https://docs.orchardcore.net/en/dev/docs/reference/modules/Apis.GraphQL/#get-request

[2020-05-26 23:35] Piedone commented on #6264
So I think this confusion is cleared up. Added some clarification to the docs too.

[2020-05-26 23:35] #6264 closed

[2020-05-27 07:57] hishamco commented on #6279
@Piedone is this the official logo, or we design a new one

[2020-05-27 08:16] longchangvn opened #6283 "Session Object Disposed in IndexProvider"
I Tried to query document by `contentManager.GetAsync(ids).Result` inside indexProvider and sometime i got the session disposed issue: **AggregateException: One or more errors occurred. (Cannot access a disposed object. Object name: 'Session'.)**

Any help would be appreciated.
OC version: 1.0.0-rc1-13272

This is the sample code:

`public override void Describe(DescribeContext<ContentItem> contex

[2020-05-27 08:19] hishamco opened #6284 "How can I override an admin page"
I just created a module that I need to test in a sample website that uses TheAdmin theme, what I need to do is to customize one of the admin pages or perhaps the layout, I tried many ways to do that with no luck :(

Any idea for doing that without introducing a new theme

[2020-05-27 08:22] hishamco opened #6285 "How can I activate a TagHelper when the module is enabled"
I'm working on a certain module, I created a TagHelper for that, which is registered when the module is enabled, my question is how can I toggle the visibility depending on module activation, something like what I have seen in most modules that are using Liquid filters

[2020-05-27 08:28] hishamco commented on #6269
I didn't work with `IFunctionsHostBuilder`, nothing but `ILocalizationFileLocationProvider` doesn't depend on `IHostEnvironment` but `ContentRootPoFileLocationProvider` depend on it, so I suggest to create a custom implementation that fits your need

/cc @sebastienros

[2020-05-27 08:29] hishamco commented on #6259
did you map them into your sub domains?

[2020-05-27 08:55] chrisvdb opened #6286 "Update roadmap"
The roadmap ([https://github.com/OrchardCMS/OrchardCore/wiki/Roadmap](https://github.com/OrchardCMS/OrchardCore/wiki/Roadmap)) shows October 2019 for version 1.0, which has obviously not materialized.

We are currently assessing various CMS technologies for customer project, and would like to understand when version 1.0 is expected to be released. We understand from the homepage that "The software

[2020-05-27 08:59] HengzheLi commented on #6270
Found the issue. I used List<T>.Contains(XX) in QueryIndex which could not be convert to sql in YesSql. Use IsIn solve the issue.

[2020-05-27 08:59] #6270 closed

[2020-05-27 09:04] hishamco commented on #6286
@agriffard I think we need to update the roadmap and add RC2

[2020-05-27 11:05] deanmarcussen opened #6287 "BagPart should render in Summary and Detail locations"
When placing a BagPart inside another BagPart you do not get recursive rendering in Summary display mode.

So the following does not render the `1ColBlock` items by default
- PageBuilder
  - Block Container
     - 1ColBlock
     - 1ColBlock

The issue is that the `BagPartDisplayDriver` only renders in `Detail` (for the nested bag).

It should also render in `Summary`.

[2020-05-27 11:37] #6272 closed

[2020-05-27 11:42] Piedone commented on #6279
I'd keep the central "leaves in circle" motive, but probably update it somewhat. I'd prefer not to have a completely new one though.

[2020-05-27 11:58] jagbarcelo commented on #6276
We have applied the restriction to the `Part` within the `RestrictedPage`  (or new content type). The restriction for that `Part` is that it can only contain `Html` widgets. Nothing more is allowed:

![image](https://user-images.githubusercontent.com/6704109/83015611-fb13d500-a020-11ea-99e3-0afa2b5e9649.png)

The first time the drow down list is restricted (Ok):

![image](https://user-images.githu

[2020-05-27 12:04] deanmarcussen opened #6289 "Potential Sanitizer Improvements"
Discussed yesterday in the meeting where some potential improvements to the `HtmlSanitizer`

We should be able to get events from the sanitizer.

This would allow us to display a notification, via `INotifier` when something has been sanitized.

This might also allow us to sanitize markdown at edit time, by displaying a model error, when the sanitizer fires an event (so render from markdown to html

[2020-05-27 12:14] jersiovic opened #6290 "It seems Orchard OpenId certificate is not supported on an Azure App Service based on a linux container"
This scenario is not supported by Orchard. It expects to load OpenId certificate from windows stores instead of the concrete path provided for linux containers

https://stackoverflow.com/questions/56702393/loading-a-tls-certificate-uploaded-to-the-azure-portal-into-a-linux-app-service

[2020-05-27 14:05] PiemP opened #6291 "Media Library: column for last modified date time"
Hello guys,

Could interest to show last modified date time of a file in the media library and sort by this column? If yes, could I do a PR to add this functionality?

Thank you.

[2020-05-27 14:23] deanmarcussen opened #6292 "Rename Media Short Code"
We should consider renaming the `[media]` short code to `[image]` because it generates an img tag.

We will also need a `[link]` short code to generate an `a` tag to an asset, for example a pdf.

We should not have a short code that just returns the file path as this is not sanitizable

This also gives us the possiblities to have short codes for `[audio]` and `[video]` and other tag types.

[2020-05-27 15:12] ns8482e commented on #6276
@jagbarcelo oh ! It seems `Add` below showing your selection, but `Insert` above is not showing all options. I'll create PR soon

[2020-05-27 15:16] sebastienros commented on #6292
How can't it be safe? What's the attack vector?

[2020-05-27 15:40] ns8482e commented on #6284
You can't override `Views` from module, however you can override it from `Theme` #5128

[2020-05-27 17:19] deanmarcussen commented on #6292
Maybe it is ok, we originally said any of the short codes, should always be safe.

So we can't sanitize a short code that doesn't produce an html snippet (to sanitize), but probably it will be picked up by the sanitizer editing it anyway, unless the short codes ever make it somewhere that isn't an html field, in which case, there would be the opportunity to play games with `onload=` without tags (

[2020-05-27 20:15] ns8482e commented on #6285
I guess you need `RequireFeatures` on your feature `Startup`

e.g. Following configures Liquid filters from `Contents` module only if feature `OrchardCore.Liquid` is enabled.

https://github.com/OrchardCMS/OrchardCore/blob/815e29753e1455b830bf75886b6f5063abed5cf2/src/OrchardCore.Modules/OrchardCore.Contents/Startup.cs#L210-L220

[2020-05-27 21:41] hishamco commented on #6284
I'm utilizing the module from within an ASP.NET Core web app, let me have a look to a referenced issue

Thanks

[2020-05-27 21:53] hishamco commented on #6285
This will register the liquid filters when the specified feature(s) is enabled, I'm not sure if the TagHelper in the view, and not registered it will render nothing or show an error

Let me try .. thanks

[2020-05-27 22:00] hishamco commented on #6284
I tried `Views\OrchardCore.Admin\Admin\Index.cshtml` but it doesn't work

[2020-05-28 06:45] Shilpa-V commented on #6269
Ya, I found that. Have implemented with custom implementation. Thanks.

[2020-05-28 06:45] #6269 closed

[2020-05-28 11:36] ns8482e commented on #6284
@hishamco If you only concerned about overriding `AdminDashboard` then define alternate using `OnDisplay` events in your module and add alternate shape for it.

[2020-05-28 12:34] jptissot opened #6294 "Secret keys should be obfuscated"
When we input a secret in the admin (google authentication module "API secret key" for example). The value should not be returned to the client when visiting the page a second time. Currently, the secret is decrypted and is passed back to the client in a password field, but the value is available in the browser's dev tools. I think we should instead use a magic string ("<filled-secret>" for exampl

[2020-05-28 13:52] carlwoodhouse commented on #6018
urg; postgres case-sensitivity again arg ;p will think on this some.

[2020-05-28 14:18] PauloSRH opened #6295 "Issue with multi_match elastic search"
When performing the following lucene query, in the admin interface of OrchardCore, I have issues.

[code]

I get the error: "Invalid query : Object reference not set to an instance of an object."
And the logs:

Note: If I performed the query individually like this:

[code]

It works fine.

[2020-05-28 16:00] ExeedFit opened #6296 "MySQL Exception in basic OrchardCore CMS deployment without any customization"
Any Idea why I am getting following exception in Debug console.
'iisexpress.exe' (CoreCLR: clrhost): Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\3.0.0\System.Diagnostics.Process.dll'. Symbols loaded.
Exception thrown: 'MySql.Data.MySqlClient.MySqlException' in System.Private.CoreLib.dll
Exception thrown: 'MySql.Data.MySqlClient.MySqlException' in MySqlConnector.dll
Exception throw

[2020-05-28 17:05] deanmarcussen commented on #6183
@devlife have you verified this was browser cache related?

[2020-05-28 17:47] #6287 closed

[2020-05-28 18:15] jersiovic commented on #6263
When you say you don't see data in postman, do you mean you configured open id to server JWT Tokens instead of encrypted ones, and you decode the returned token and it doesn't contain the added claim?

[2020-05-28 19:06] dhawal-mrm commented on #6082
Any solution for this? I'm also getting same error.

[2020-05-28 20:12] sebastienros opened #6299 "Blog post recipe doesn't have images in media"
Gives a bad experience when we try to create new posts as we have to provide a background image. The field is mandatory. Or also make the field not mandatory so it can fallback to the default background.

[2020-05-28 20:40] agriffard commented on #6299
You experienced this when you tested on try.oc.
With the current version, there are 3 media available.

[2020-05-28 21:41] vitalybrandes commented on #6263
Exactly!
I do receive other info as username , email , full name etc, but my own claims (Company name) Not.

[2020-05-28 22:44] hishamco commented on #6284
AdminDashboard is one thing, but also I need to change something in the admin layout

[2020-05-28 23:00] hishamco commented on #6082
I think I saw this issue two times ago

[2020-05-28 23:34] hishamco commented on #6082
Please check the answer [here](https://github.com/OrchardCMS/OrchardCore/issues/6189#issuecomment-628933260)

[2020-05-29 02:49] ns8482e commented on #6284
You can use `ViewLayout` property in your views to change the layout from module

[2020-05-29 03:17] hishamco commented on #6284
I forgot about `ViewLayout` ;) but again I don't know why I can't override a view while I'm working on AspNetCore website

[2020-05-29 03:22] hishamco commented on #6284
I'm trying to avoid shapes ;) overriding the `Index` view should be a replacement for that

[2020-05-29 07:11] PiemP commented on #6291
Some image to clarify what I intent.
before:
![before](https://user-images.githubusercontent.com/2736009/83231679-2cf57a80-a18c-11ea-90c4-9d4aa385e070.jpg)

after:
![after](https://user-images.githubusercontent.com/2736009/83231691-3383f200-a18c-11ea-948c-2bc5e32989ba.jpg)

[2020-05-29 08:24] BJury opened #6300 "Deleting Content Types that are still in use leaves the system in a error prone state."
I had a Taxonomy that was used by many pages, where somehow the underlying Term Content Type was deleted in the UI.

The site continues to work, with the taxonomy showing and being used correctly. (Including creating posts where you can select an item from the taxonomy!)

However when trying to edit it to add items the system throws 'Object Not Set' errors.

My guess is the delete button needs to

[2020-05-29 12:24] alin-devnet commented on #5288
Did you manage to get this working?

[2020-05-29 12:41] netwavebe commented on #6122
@sebastienros are you sure this issue needs to be closed?

`| raw` does not produce valid html; it outputs `België` but it needs to be `Belgi&euml;`

[2020-05-29 12:47] netwavebe commented on #6122
In my case, it's the confirmation email of an order, using 292 lines of liquid with data from various sources (product, customer, ...).

There are a lot of places where the JavaScriptEncoder might produce invalid html (product description, client name or address, ...).

I know it's possible to write a custom liquid filter, but I would need to use it almost everywhere.

In the case of an email acti

[2020-05-29 13:31] sebastienros commented on #6122
| html_encode | raw

[2020-05-29 15:21] jasper22 opened #6302 "jQuery is not defined"
Hi

I'd like to report an issue with incorrect order of `javascript` files include order that lead to this issue:

1. 'ComingSoon' template is not fully loaded: Only the background movie is played in a loop. No additional images, no 'welcome' banner, just the movie
2. There's an error output in 'Console' tab that says: ReferenceError: jQuery is not defined

Steps to reproduce:

1. Git clone the la

[2020-05-29 15:23] sebastienros commented on #6122
So you are using an Email task? And the body of the email contains liquid?
So yes it should not have been evaluated by the workflow expression.

Reopening to understand why it has been.

[2020-05-29 15:34] netwavebe commented on #6122
Correct, I'm using an email task and the body contains liquid. This is evaluated by LiquidWorkflowExpressionEvaluator that uses JavaScriptEncoder.

[2020-05-29 15:47] deanmarcussen commented on #6122
I think the workflow evaluator needs an overload for the encoder (defaults to JavaScript) and the email task can provide the html encoder.
Also the javascript encoder should be loaded from di.

[2020-05-29 16:03] randaratceridian opened #6303 "Orchard Core in a Web Farm"
Is there any documentation that lists what is required to run Orchard Core in a web farm? We were running with multiple servers and saw some odd behavior with saving, so we quickly fell back to a single web server until we could figure it out. But we need to bring up another web server soon.

Are there any docs we can refer to?

[2020-05-29 16:26] sebastienros commented on #6122
@deanmarcussen that's it. I assume that when I refactored all the encodings I thought that this service was only called by tasks that were using json. But I see that some other tasks still need the "workflow" properties in the templates. So we should require an encore when calling it. And it's logical to inject the javascript decoder as we do it for the html encoder already.

[2020-05-29 18:03] agriffard opened #6305 "Coming soon: Form issue"
The form is generated two times causing this problem:

![image](https://user-images.githubusercontent.com/703248/83284331-d2383f00-a1dc-11ea-98df-4f81192a8a13.png)

[2020-05-29 18:44] #6302 closed

[2020-05-29 21:23] pbros opened #6306 "Cannot filter Content Item by TaxonomyField in GraphQL"
I have created a taxonomy and added a Taxonomy Field to a Content Type.

Using GraphQL, I can see the values of the Taxonomy Field (TaxonomyContentItemId and TermContentItemIds). However, there is no way to include these values in a where clause.

I tried creating a `WhereInputObjectGraphType` using `TaxonomyField`, but this does not seem to work, as only the input types referring a Part seem to w

[2020-05-30 10:07] ArieGato commented on #6305
Is this related? #6267

[2020-05-30 12:59] agriffard commented on #6305
It must be because of the change that introduced a Form.Wrapper:
https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Forms/Views/Form.Wrapper.cshtml

@ns8482e Can you please have a look?

[2020-05-30 14:34] boraster opened #6307 "InsertMediaWithUrl Option"
Hello,

I downloaded and started working with RC, yet I recently discovered that **InsertMediaWithUrl** option is only in Dev. What's the easiest way to append this functionality without breaking anything in the currently used RC-based solution?

[2020-05-30 14:36] jwu-au opened #6308 "Release of ModernBusiness.OrchardCore"
Hello Everyone,

In the past a couple of weeks, I have used my spare time to learn OC2, and I have developed a theme as my learning outcome. I'm happy to share with you, and continually learn from you. If you're interested in it, you can head to:
https://github.com/jwu-au/ModernBusiness.OrchardCore

Many thanks to the Orchard Team, and the community.

[2020-05-30 15:09] mountaingeru commented on #6280
Thank you very much for your answer and I am sorry I was late in answering.

I have create a MVC project and included the following code in ConfigureServices

[code]
I include the js code to fetch the GraphQL API using a POST request. I tried several combinations

[code]

In the developer tools of the brower I see three cookies related to authoritation: orchauth_Default, orchantiforgery_Default an

[2020-05-30 20:56] hishamco commented on #6308
Thanks @jwu-au for sharing this, I'm glad to add your theme into https://github.com/OrchardCoreContrib/OrchardCoreContrib.Themes if you're interested

[2020-05-30 22:50] jwu-au commented on #6308
Hi @hishamco , I'm more than happy if you add in. Thank you.

[2020-05-30 23:33] aprokopyev opened #6309 "OpenCart integration"
Hello,

It seems OpenCart is the most advanced open source cart and much better than nopCommerce in terms of amount of plugins.

Please suggest what is the best method to integrate it with your CMS?

There are ready integrations with Wordpress and other PHP CMSes:

https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32346
https://wordpress.org/plugins/single-sign-on-ss

[2020-05-31 00:00] ns8482e commented on #6305
@agriffard in the original issue #5801

And required to define `<form>` in every custom content type template to use form part.

After PR #6053  Now, It’s no longer required to define `<form> ` In custom template of content type that has `FormPart` and need to update recipe to remove form tag

[2020-05-31 00:11] ns8482e commented on #6305
It Possibly

Possible!  try removing `<form>`  tag from the template above and see if it solves #6267 too?

[2020-05-31 00:20] hishamco commented on #6308
Let me arrange this with you or let you add a PR

[2020-05-31 00:23] hishamco commented on #6309
OpenCart is an ecommerce solution, the Orchard team working on OrchardCore.Commerce module, please follow up its repo https://github.com/OrchardCMS/OrchardCore.Commerce

[2020-05-31 00:23] #6309 closed

[2020-05-31 00:47] aprokopyev opened #6310 "OpenCart integration 2"
Dear developers,

Regarding to issue:

https://github.com/OrchardCMS/OrchardCore/issues/6309

AllOne SSO could be used to integrate with other useful software too, not only commerce.

And your commerce module looks too poor and unusable for me, if looking at amount of plugins of OpenCart:
https://www.opencart.com/index.php?route=marketplace/extension

You notice that even nopCommerce is not a comp

[2020-05-31 01:19] hishamco commented on #6310
@aprokopyev as I told you before the Commerce module is still in progress, so don't expect too much until a stable release ;)

In terms of SSO, there's already an issue create by someone suggesting such thing, I will try to send you the link to follow up

We're plan to release an RC2 soon, but believe me at this stage the Orchard Core is powerful and more architect one, it contains many many modul

[2020-05-31 01:21] hishamco commented on #6310
Please have a look to #2900

[2020-05-31 01:31] aprokopyev commented on #6310
May I know, when is it going to come?

Waiting for release, and please let me know, what is the best way to have a custom page integrated with Orchard using Blazor controls like:

https://blazor.syncfusion.com/demos/datagrid/inline-editing?theme=material
or
https://demos.devexpress.com/blazor/GridCascadingEditors

It would even be acceptable if CMS structure is lost on it (header, footer, menu, et

[2020-05-31 01:56] hishamco commented on #6310
@bleroy

Orchard Core hasn't built-in support for Blazor, there's already issue logged, please if you have any question other to the one you asked, feel free to log an issue

[2020-05-31 02:13] aprokopyev commented on #6310
I have asked him already a few months ago:
https://github.com/OrchardCMS/OrchardCore.Commerce/issues/59

He suggested to make me it by myself :)
Getting something popular like OpenCart most likely would take me hundreds of years alone and without a budget ...

I have already seen that issue, and they suggested to use client side Blazor which I am not interested in. Looking for a workaround though.

[2020-05-31 04:13] jwu-au commented on #6308
Sure thing, I can definitely do a PR, let me know how do you plan to arrange it such as the folder structure, any special content in readme, and etc. One more thing is that I prefer to maintain one repo for any further updates, and what's your thinking for this?

[2020-05-31 05:28] hishamco commented on #6308
Sure, let me update the `README.md`

Can we chat on gitter for further details?

[2020-05-31 05:50] hishamco commented on #6308
@jwu-au I updated the `README.md`, feel free to share your them with Orchard Core community

Thanks

[2020-05-31 05:53] hishamco commented on #6308
You could maintain it in the OCC repo, it's not my or your repo only, it's built for OC community, so it's our repo ;)

In case you need to maintain further details into your repo, no problem we can link to your repo

[2020-05-31 06:34] jersiovic commented on #6263
It sounds weird. I imagine that you checked YourUserClaimsFactory code is called putting a breakpoint there, isn't it?
Can you provide a simple example on a public github repo that shows the behavior you describe?

[2020-05-31 08:03] jagbarcelo commented on #6300
I think OC would benefit from having a single view (probably readonly) where a [directed graph](https://en.wikipedia.org/wiki/Directed_graph) shows the interactions among ContentTypes, Parts, and Content items: which ContenType has instances, which does not, which one is used within another one, etc.

That graph would help to avoid deletions that might led to such state and also to better understa

[2020-05-31 10:34] vitalybrandes commented on #6263
Unfortunately not,
this is commercial product,
here is my CliamPrincipalsFactory,cs

`
    internal class UserClaimsPrincipalFactory : DefaultUserClaimsPrincipalFactory
    {
        public UserClaimsPrincipalFactory(UserManager<IUser> userManager, RoleManager<IRole> roleManager,
            IOptions<IdentityOptions> identityOptions) : base(userManager, roleManager, identityOptions)
        {

[2020-05-31 10:36] jwu-au commented on #6308
@hishamco I created the PR as per your instructions.
https://github.com/OrchardCoreContrib/OrchardCoreContrib.Themes/pull/1
Let me know anything you want me to update. And if you can add a back link to my repo somewhere would be great.
Ping me anytime in gitter if you want, I'll get back to you as soon as I can.
Thank you.

[2020-05-31 11:17] hishamco commented on #6308
Thanks a lot

[2020-05-31 11:51] scleaver opened #6311 "Deleting content items from admin leaves old versions of the content in the database"
Version rc1-12811: I have deleted all the content using admin UI and then noticed that there are still thousands of version records for these delete content items in the database.

I thought ok I will delete the rows using an SQL query but they won't delete because of a constraint: The DELETE statement conflicted with the REFERENCE constraint "XXXX_ContentItemIndex". The conflict occurred in datab

[2020-05-31 13:52] ArieGato commented on #6305
Removing the form tag **and** the ```{% antiforgerytoken %}``` solves that issue.

[2020-05-31 14:03] Piedone commented on #6286
While the roadmap is outdated and there is some disagreement in the community on what may be called a 1.0 version but for most purposes, Orchard Core is production-ready already. It's used in production from small websites to more complex websites, and in apps used in health care, community management, fintech.

[2020-05-31 15:16] #6267 closed

[2020-05-31 15:17] deanmarcussen opened #6312 "Content Api should use merge ArrayHandling.Replace"
The Content ApiController needs to use `ArrayHandling.Replace` when updating existing content, or array values are duplicated.

The same applies to the `ImportAsync()` and potentially other places.

[2020-05-31 15:43] ns8482e commented on #6311
I guess content Item is soft delete.

[2020-05-31 17:28] ns8482e commented on #6147
Nice to have Field Handler having Validating event too

[2020-05-31 21:48] Piedone commented on #6311
A content item removal is intentionally a soft delete in Orchard. While there is no similar hard delete surfaced, I think `ISession.Delete(contentItem)` should do the trick.

[2020-06-01 00:05] Piedone commented on #6296
I don't see any exception details here. Could you share the Orchard logs (App_Data/logs)?

[2020-06-01 00:09] Piedone commented on #6283
I guess the `GetService()` call is rather `GetService<IContentManager>()`, right?

The issue here is that you get the Content Manager instance outside of `Map()`, when `Describe()` runs. Your delegate that you supply to `Map()` is executed at a later stage, and multiple times, in different HTTP requests. Since `IContentManager` shouldn't be shared among requests (it's a dependency that lives as lo

[2020-06-01 01:19] scleaver commented on #6311
Over time the DB is going to be littered with thousands of orphaned content item versions that have no real purpose - this doesn't seem like a great strategy and there is no easy way to clean them up either.

[2020-06-01 13:52] deanmarcussen commented on #5942
So my guess here, is that very few packages are depending on the `OrchardCore` nuget package directly. It's generally through the `OrchardCore.Application.Cms.Targets` which indirectly has the reference.

So maybe github is not reading the indirect reference?

[2020-06-01 14:18] EternityTeam commented on #6311
I've had this problem for a long time

[2020-06-01 14:24] Piedone commented on #6311
If you never need those old versions for compliance reasons or to be able to restore them (with Audit Trail: https://github.com/OrchardCMS/OrchardCore/issues/4620) then those are indeed clutter. We could surface the hard delete operation via e.g. `IContentManager.Destroy()`, and have a corresponding UI for that (also probably in Audit Trail as in O1).

Related: https://github.com/OrchardCMS/Orchar

[2020-06-01 15:37] jptissot commented on #6169
@sebastienros implemented the suggestion.

[2020-06-01 15:38] Piedone commented on #5942
Probably. I'd like to get a firm answer from GitHub on how actually this works but I couldn't achieve this within 1.5 months.

[2020-06-01 16:10] urbanit commented on #4845
- [x] Localized Version of Taxonomy with #6316
- [ ] Add Alias to sync terms of localized taxonomies
- [ ] Extend CulturePicker to support Term Aliases

[2020-06-01 16:12] jersiovic opened #6317 "Why there is not any any index for MapIndexes columns?"
We are making load tests in azure of our app bases on Orchard Core, and we experience timeouts for diffrent queries to Azure Sql Server.
Trying to understand the reasons for the problem I've seen there is almost none db index defined on migrations for columns in MapIndex tables.

Is there any reason for that?

Thank you

[2020-06-01 16:35] jersiovic opened #6318 "Store tokens in Document table still is too much"
Currently the tokens and authorizations issued are stores at Content table.
As I mentioned in the past, this is too much https://github.com/OrchardCMS/OrchardCore/issues/233

In fact, in the issue mentioned it was solved with a background task that removes outdated tokens.
However I still think this can cause problems with a big site with a lot of grow which consumes the ids counter quickly. At le

[2020-06-01 16:51] deanmarcussen commented on #6317
Which `MapIndexes` are you not seeing indexes on?

I reviewed some of them a while ago (particularly `Autoroute` and `Alias`), and some others, but that does not mean there is not plenty of room for more improvements.

Especially useful if you are using profiler to examine the queries.

Can you show a couple of sample queries?

Also have you updated versions recently?

A new version of YesSql went

[2020-06-01 18:16] jersiovic commented on #6318
Well, I will provide that PR if this other PR at YesSQL #241 is approved cause I need the feature added to YesSql for fixing this at Orchard.

In fact if that is done I see feasible in a future PR to add a feature that allows to make configurable the collections where entities of a module are stored

[2020-06-01 19:11] #6292 closed

[2020-06-01 19:13] #6312 closed

[2020-06-01 19:20] bleroy commented on #6310
Yeah, since I'm being summoned, and without sounding too dismissive, here's some additional info and perspective from the Core Commerce viewpoint.

If you have a commerce project big or small that needs to go into production soon, you have two responsible options, none of which is Orchard Core Commerce at this point:

* Use an established commercial or open source product without Orchard integrati

[2020-06-01 22:17] aprokopyev commented on #6310
Please look at:

https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1
https://www.grapecity.com/blogs/intro-to-blazor-and-web-assembly
https://www.telerik.com/blogs/difference-between-blazor-vs-razor

Actually I did not code anything except WebForms and WinForms, but IMHO server side Blazor looks for me like an advanced Razor page with a permanent signal connectio

[2020-06-01 22:27] bleroy commented on #6310
I see, it's all about state, it seems, thanks for the pointer. Damn, the more I learn about Blazor...

[2020-06-01 22:29] aprokopyev commented on #6310
Most likely I will try Wordpress with Woocommerce, it takes about 30% of the whole amount of sites with their own shopping carts. Not sure how good its architecture is:
https://web.archive.org/web/20200511003412/https://kinsta.com/blog/is-wordpress-code-really-a-mess/
https://www.nopcommerce.com/en/nopcommerce-vs-woocommerce-differences-in-functionality-and-performance

, anyway I am not going to

[2020-06-02 04:54] ziyadsv commented on #6207
If am adding under the folder of Pages or View its showing but if i add new folder its not working.

msgctxt ""ProjectName.Pages.Home.Index""
msgid "Prices"
msgstr "Prices translation"

msgctxt "TheTheme.Views.Shared.Layout"
msgid "Prices"
msgstr "Prices translation"

[2020-06-02 05:18] ziyadsv opened #6319 "Content Items with Listpart is Confusing"
Instead of naming Edit button, How can I give a different name[Master Page] for the ContentItems with ListPart.

When I click Content - >Content Items ,  Content Items with Listpart and without is showing same. To differentiate i wish to give some other name instead of "Edit" button.

[2020-06-02 06:00] ziyadsv opened #6320 "Categorized BagPart in Admin"
How can i Categorize the Bagpart with Heading inside the Admin page. Am using multiple Bagpart in one ContentItem. I need to show the bagpart with heading

I go through the following link to achieve it but unfortunately graphiql  showing error
https://www.davidhayden.me/blog/orchard-core-cms-graphql-using-graphiql

[2020-06-02 06:49] ziyadsv commented on #5338
I miss the <Project Sdk="Microsoft.NET.Sdk.Razor"> . thank you

[2020-06-02 06:49] #5338 closed

[2020-06-02 08:14] agriffard opened #6321 "RegisterUserTask: ConfirmationSubject is not editable"
ConfirmationSubject missing in the Edit view of RegisterUserTask.

That is what caused the Workflow error I had with the coming soon theme.

Will do a PR.

/cc @MichaelPetrinolis

[2020-06-02 10:11] deanmarcussen commented on #6320
Sounds like two questions in one.

- For the Heading, perhaps you need to add a TitlePart?
- for a graphiql error you might need to check your logs and see what the error is

[2020-06-02 10:53] #6321 closed

[2020-06-02 11:27] hishamco opened #6323 "ShortCodes Improvements"
Yesterday I started playing with shortcode, there's already work done by @deanmarcussen in this area, this is just a continuation of what we already have

The aim is to improve many areas including:

- [x] Create Rich APIs, that allow us to manipulate with each piece in shortcode such as tags, attributes .. etc

- [ ] Enhance shortcode by adding `Attributes` collection coz some advance scenario wi

[2020-06-02 11:57] jwu-au opened #6325 ""null reference" error in ContentItemDisplayManager"
* Error branch: **dev**
* Error Details
[code]
### Reproduce:
1. Have a, for example, `SubtitlePart` defined, and it is Attachable.
1. Have a content type, for example, `LiquidPage` uses above part.
1. Have a  placement.json to omit the display of the `SubtitlePart` part.
[code]
4. Hit the Url of the `LiquidPage` content item, error throws, but display normally.

### Error Analytics:
1. In method

[2020-06-02 12:27] jersiovic commented on #6317
Well we are using load tests with 100 sets of requests per second during 15 seconds.
This sets do it the following:
1 -  Requesting a refresh token and access token with password flow
2 - Request one document stored on db
3 - Request another document stored on db

Only a half of the refresh token request woks properly.

I've updated Orchard packages to yesterday packages at myget and now timeout d

[2020-06-02 12:46] ziyadsv commented on #6320
I miss the Titlepart. Thank you very much

[2020-06-02 12:46] #6320 closed

[2020-06-02 14:10] deanmarcussen commented on #6317
Cool, this is interesting. If the timeout reappears, please let us know.

Yes, make a pr for the indexes you need.

For infos, there were some issues around index key length (on both SQL and MySql) which is what I was mostly working on with `Autoroute` and `Alias`, and SQL Fields Indexing feature.

There's some tests over on a YesSql pr, https://github.com/sebastienros/yessql/pull/223, proving the

[2020-06-02 14:41] #6260 closed

[2020-06-02 14:42] sebastienros commented on #6299
And locally it's fine too, is it just me?

[2020-06-02 14:54] deanmarcussen commented on #6299
I'd be keen to see the media field and category / tags fields optional, not required.

I'm not seeing any media in the library by default on a new install of the blog theme either

[2020-06-02 15:19] sebastienros commented on #6299
I agree that everything should be optional, in terms of experience that's harder to create a demo blog post, and even in terms of blogging, why would you force to have a tag, a category. For the background even if it was mandatory, then a default should be set. But in that case I prefer it to be optional too. Also maybe we could put the content under the title so it's easier as an editor.

[2020-06-02 15:26] remesq opened #6326 "Insight into how complex an OrchardCore.Form can get?"
Working with O1 recently and I ran into a rather frustrating problem. I have a complex form in which I use jQuery to show/hide and enable/disable form inputs based on certain conditions (e.g., radio button with Yes > opens a new question, with No > either move on or present a different question, etc.).

This weekend, in preparation for moving to OC, I was expanding some of my O1 forms while I anti

[2020-06-02 15:41] deanmarcussen commented on #6299
I'm pretty sure the view was written to fall back to a default image anyway (to allow for backwards compatibility), which should would work ok as a default

[2020-06-02 17:27] Piedone commented on #5942
I got a reply from support and they've recalculated the dependencies. Now there are more packages listed but the list is truncated:
![image](https://user-images.githubusercontent.com/1976647/83550334-fbbbd800-a506-11ea-8eae-547b3dcc1f84.png)
I'm again waiting for their reply but it seems that this feature is not really suited to handle a project like Orchard with dozens of packages.

[2020-06-02 17:28] Piedone commented on #6246
Please re-open if you have still questions.

[2020-06-02 17:28] #6246 closed

[2020-06-02 18:19] jeffolmstead opened #6327 "Lucene Index Should Self-Generate Off Definition"
In my push to get to a stateless web server, the Lucene Index is my only "problem" left thanks to pull request #5678 resolving the majority of the problems.

Here is my example. If I have a production site that is being used where Lucene is enabled, and I then deploy updated code to a sandbox (where there is no Lucene index) and swap the sandbox into production, the Lucene Index is gone and has no

[2020-06-02 19:28] jeffolmstead commented on #6327
I had a good conversation with @Skrypt regarding this topic and here are the highlights:
1. Tap into LuceneIndexSettingsService (or a similar service which fires on startup) to ensure index folders are at least existent based on lucene.settins.json which is stored in database (otherwise the user cannot rebuild the index in the admin area, it throws an error)
2. Leave the user to rebuild the actual

[2020-06-02 19:36] adelemam opened #6328 "Form Arabic Data not correct when sending Email"
When Making a form to send an email ( using work flow) ,
all data in Arabic appears at email as rabbish data , like
**\u0625\u0633\u062A\u0641\u0633\u0627\u0631**

can you help please
@hishamco  ( hope you can help as you are aware of Arabic )

[2020-06-02 19:46] Skrypt commented on #6327
Preferably I'd see a Workflow task to make the rebuild/reset index/indices configurable with a CRON task timer task.

[2020-06-02 20:12] Skrypt commented on #6310
Ok this post turns into an apology of Wordpress and Woocommerce. My opinion is that it's the worst path that you could get into. Sorry for sharing my thought. I think @bleroy summarized and explained pretty well his opinion and I agree with him. If you need a mature .NET Core ecommerce platform please look at alternatives as OrchardCore.Commerce is not ready yet.

I'm not advertising any other sol

[2020-06-02 20:13] sebastienros commented on #6328
Duplicate of https://github.com/OrchardCMS/OrchardCore/issues/6122

[2020-06-02 20:13] #6328 closed

[2020-06-02 20:18] sebastienros commented on #6122
Currently working on the PR

[2020-06-02 20:28] aprokopyev commented on #6310
Woocommerce looks nice for me because it has a ready working plugin almost for any payment gateway having plugins for other CMSes.

nopCommerce has very few plugins for accepting coin payments.

As I told nopCommerce looks nice for a big shop, but for a small site with a few of pages which I need only for a few of scripts sold it is an overkill also missing ready needed plugins.

[2020-06-03 00:59] jptissot opened #6329 "Matomo analytics module"
I wrote a matomo analytics module that is very similar to google analytics. Should something like this be in OrchardCore ? If yes, I can make a PR.

https://github.com/StatCan/StatCan.OrchardCore/tree/master/src/Modules/StatCan.OrchardCore.Matomo

[2020-06-03 02:39] Skrypt commented on #6310
Every paiement processor have their own documented API's which are most of the time easy to implement. Stripe for example has a documented javascript API which would take around 2 or 3 days of work time to implement in the current OC Commerce module. Maybe I'm wrong but you should look into those bitcoins processors and open an issue on that topic in the proper repository.

As for WooCommerce, I'm

[2020-06-03 03:13] hishamco commented on #6310
I think this enough for this topic, we are not comparing WooCommerce, OpenCart .. etc to OC Commerce module, as I said it's still in progress, furthermore that guys mentioned that it's enough for eCommerce - not fully feature -

So my advice to start with OC and you could do some contribution to Commerce module if you like, I will close this for now, if there's anything else related to OC, please

[2020-06-03 03:13] #6310 closed

[2020-06-03 03:13] hishamco commented on #6329
If YES I'm happy to be in OC, if NO, I'm glad to add it into OCC https://github.com/OrchardCoreContrib/OrchardCoreContrib.Modules

[2020-06-03 03:34] hishamco commented on #6319
Can you give me an example of what you did? Which content types that are created? Why you need to change the `Edit` label?

[2020-06-03 05:15] Skrypt commented on #6317
Even though I created the feature "SQL Fields Indexing" I strongly suggest that you make your owns as these table index can rapidly grow fast. It's always better to make a custom index per content type you create if that's what you are looking for.

Also, the "SQL Fields Indexing" misses badly an option to enable/disable it per field on a content type to make the feature more respectable.

[2020-06-03 05:22] Skrypt commented on #6295
"multi_match" is not currently supported.

[2020-06-03 05:47] Skrypt commented on #6259
Each tenants needs to have the proper subdomain set for them on the tenant configuration for this to work.

[2020-06-03 05:47] #6259 closed

[2020-06-03 05:57] Skrypt commented on #6303
The Distributed Cache feature is currently developped by @jtkech which should solve most issues with scaling up OC. There is no documentation yet as it is WIP.

[2020-06-03 06:37] Skrypt commented on #6120
This should be somewhere else than on that page. This is the page for the Field indexes.
Maybe we should regroup all indexes in a single documentation page @agriffard

[2020-06-03 07:17] Skrypt commented on #6284
The correct path for overriding templates is `/Views/Module.Name/index.cshtml` or if the module has a folder then it would be `/Views/Module.Name/FolderName/index.cshtml`

[2020-06-03 07:35] Skrypt commented on #6291
Ok, are you changing the last modified date on this file when it's uploaded on the server. I mean, you need to modify it's last modified date with the upload date to make this relevant? Should we do this or simply wait for a proper audit trail on file uploads?

[2020-06-03 07:43] Skrypt commented on #6311
We need a content item _trash can_ feature. That way we could clean up the database from some drafts/published content items manually ... audit trail apart.

[2020-06-03 07:52] Skrypt commented on #6300
Content Items are soft delete in OC but not the Content Types. You can create back the Content Type with the same technical name though and it should work back. Look at your content items to know the technical name first and create it back if that fixes your issue.

Or, you can create a new Content Type with a new technical name and migrate your content items with a SQL Query also.

Dependency gra

[2020-06-03 07:54] PiemP commented on #6291
I don't know the behavior on other system like azure or Linux server but on my dev Windows server the LastModify field have the value of the moment when the file is uploaded: without do anything.

The reason of this is to have a way to identify the last file uploaded on the system, I don't know if could be useful for other guys: we have this necessity and I try to ask to you if exists the same int

[2020-06-03 07:59] hishamco commented on #6284
I don't have a custom theme, just a simple web app that reference OC

[2020-06-03 07:59] Skrypt commented on #6235
You can change the homepage route by changing it in the database.

You will do this SQL Query to find the proper record in the DB :

[code]

And then change this part of the JSON data with what you need :

[code]

[2020-06-03 08:04] Skrypt commented on #6284
I don't think you can override a module from the base web app. You will need to create a Module that references the OrchardCore.Admin module and extend it. Then reference your custom module in the web app project.

[2020-06-03 08:07] Skrypt commented on #6204
This issue is getting old. I should probably work on it since I'm concerned by this issue.

[2020-06-03 08:07] hishamco commented on #6284
Hmm, If I'm not wrong RCL allow us to override views from within app, unless there's something custom in OC

Simply what I wanna do it to create a bunch of modules separately and create a test web app, similar to `OrchardCore.Cms.Web`. Some modules needs to inject some tag helpers in TheAdmin views

[2020-06-03 08:12] kevinvdm88 commented on #2966
Blazor Webassembly  3.2.0 is now fully released.
https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-now-available/

Do you guys have plans to add a testproject with it in Orchard ?

[2020-06-03 08:19] deanmarcussen commented on #6291
The issue might be that on Azure the `LastModifiedDate` is actually the uploaded date, not the `LastModifiedDate`

The last modified date on windows is actually the last time the file was edited, and is preserved when uploading an image to the local file system, but not to azure.

So I wouldn't think `LastModifiedDate` is a good consistent / accurate value to use.

[2020-06-03 08:30] hishamco commented on #6284
The above path doesn't work either :(

[2020-06-03 08:39] hishamco commented on #2966
@kevinvdm88 we could add this into https://github.com/OrchardCoreContrib/OrchardCoreContrib.Themes

[2020-06-03 09:20] deanmarcussen opened #6331 "Cache tag helpers should have environment option"
When working with menu templates that are cached you have to put `enabled=false` to disable the cache tag helper, or the template changes are not respected.

This is then something you have to disable when finished with the templates, which is easy to forget, and easy to forget when you are working on templates again.

I can use the `<environment` tag helper to alter this behaviour, but it is long

[2020-06-03 09:27] PiemP commented on #6291
I believe to have write something wrong in English 😅 ... btw the behavior on the windows server is the same of the Azure ones ... `LastModifiedDate` is actually the uploaded date.

If you believe is better to edit file information on the upload I could try to do it. But for what I have seen, If you upload file from media library, the file already have `LastModifiedDate` to the uploaded date.

Miss

[2020-06-03 09:59] ziyadsv commented on #6319
I have a ContentType named "Projects" having a list (ListPart) of another ContentType "Project".
lets say another ContentType named "About"

when we click ContentItems, both Projects and About will listed and showing same design with Title link,Edit,Action button .
 if we click the Titlelink  of About it will show detail page of About. but If we on Projects, it will show anther list of Project (Li

[2020-06-03 10:31] devlife commented on #6183
@deanmarcussen sorry I didn't realize you were waiting for me to verify. I will do so this week.

[2020-06-03 10:36] devlife commented on #6319
I found this feature incredibly confusing as well. For every other content item I just click the content item name to view/edit it's fields. IMO it would be better to make all of the fields/parts display when you click that link _in addition_ to showing the list part contents. Or even just add a link to the page where you edit the list part contents.

[2020-06-03 12:02] hishamco commented on #6319
We may add a badge like a stereotype, widget .. etc at least

[2020-06-03 13:52] Piedone commented on #6311
There will be a recycle bin in Audit Trail.

[2020-06-03 15:07] Piedone commented on #6331
Probably have this similar to the CDN option?

[2020-06-03 15:11] jptissot commented on #6311
Maybe we could also have a setting with the number of versions to keep for versionalble content ? And if a ContentItem is not versionable, we should do hard deletes!

[2020-06-03 15:12] Piedone commented on #6329
I wouldn't add such very specific features to the official codebase. Probably more along the lines of a generic feature to inject analytics scripts, like our O1 Simple Analytics module: https://github.com/Lombiq/Orchard-Simple-Analytics This has an admin textbox for the analytics script (will be wrapped into `<script>` if it doesn't contain the tag already) and a checkbox to enable it on the admin

[2020-06-03 15:23] szilardcsere89 opened #6332 "Controls of "Publish Later" are disappearing on submitting the form with validation errors."
# Before submit:
![image](https://user-images.githubusercontent.com/5823033/83654149-fa4ce700-a5bc-11ea-8b64-309b60125e44.png)

---

# After submit:
![image](https://user-images.githubusercontent.com/5823033/83654323-3b44fb80-a5bd-11ea-905b-765c176d3044.png)

It doesn't matter which submit button is clicked.

[2020-06-03 15:27] Piedone commented on #5942
Now we're talking:
![image](https://user-images.githubusercontent.com/1976647/83654827-ed7cc300-a5bd-11ea-852c-8658215f20a1.png)

The dropdown has a hard limit of 100 but the most important packages are there anyway (Module.Targets but not Theme.Targets, Cms.Targets). However, the "Used by" button will only use the OrchardCore package. I'm in touch with support about this but apparently this can't

[2020-06-03 15:37] deanmarcussen commented on #6331
Yeah good idea, might be better as a system default.

Least that ways when you want to test the cache is working, you can just turn it on and off somewhere

[2020-06-03 15:41] RockNHawk commented on #5971
after I re setup site with another recipes, it works well.

[2020-06-03 15:43] sebastienros commented on #6331
Setting, based on environment, there is an issue for that already ;)

[2020-06-03 15:44] sebastienros commented on #6331
I mean a global setting

[2020-06-03 15:44] deanmarcussen commented on #6332
The `Update` part of the driver is returning to the wrong `Edit` method. It needs to return the same signature as the `Edit` implementation

[2020-06-03 15:47] Piedone commented on #6331
Site settings and `IOptions` for flexible overrides (per tenant/global/per environment)?

[2020-06-03 15:52] sebastienros commented on #6331
I'd suggest to do exactly like CDN. Just in the UI, and per tenant. Doesn't need to be more complex.

Disabled
Enabled
Environment based (prod on, dev off)

I think there is already an option to purge the cache. And if not there might also be an opportunity.

[2020-06-03 15:54] sebastienros commented on #6331
https://github.com/OrchardCMS/OrchardCore/issues/1868

[2020-06-03 15:57] ns8482e opened #6334 "Sometimes Admin Left menu doesn't respond"
Sometimes, Admin left menu doesn't respond when click to open sub-menu or try to expand/collapse.
![leftnav](https://user-images.githubusercontent.com/23270244/83659371-09b23d00-a589-11ea-8616-a9d9d69ea43e.gif)

[2020-06-03 15:59] sebastienros commented on #5942
Awesome! would be great if we could set Module.Targets as the default one though.

[2020-06-03 18:06] Skrypt commented on #6284
Of course the modules works differently in OC because we are using tenants and different folder structure so @jtkech wrote some custom code to mimic most of the Razor folder structure logic but some might still be missing for a reason or some things could still be implemented to make it better.

[2020-06-03 18:08] Skrypt commented on #6291
Share a PR so that we can test this.

[2020-06-03 18:20] ns8482e commented on #6334
No error reported in console

[2020-06-03 18:24] Skrypt commented on #6334
Repro?

[2020-06-03 18:44] Skrypt commented on #6332
/cc @Piedone

[2020-06-03 18:44] Skrypt commented on #6329
I really like this module honestly. Great work @jptissot

[2020-06-03 18:55] Skrypt commented on #6147
Yeah I agree that the validation in the drivers should be moved into a common method that everything uses.

[2020-06-03 19:55] sunnykachwala commented on #6259
this is host website
I updated CName records for tenant website
This is a tenant website
https://sunnykachwala.com
What else I need to do?

[2020-06-03 20:05] randaratceridian commented on #6303
Thanks @Skrypt. Reading between the lines, does that mean that OC will not work in a web farm right now?

[2020-06-03 20:26] Skrypt commented on #6259
On the tenants configuration. There is **Hostname** field in which you need to set your subdomain for each tenants that you want to be resolved with this specific subdomain. Else the tenants resolution won't work. You subdomains needs to point to the same ip address than your main domain in your DNS records.

[2020-06-03 20:29] Skrypt commented on #6303
It works, but the data cached on each instance will be different unless you do an app restart periodically to refresh the local cache of each instance. So you will experience unsynced data from one instance to the other which might not be so great for production on some use cases.

[2020-06-03 20:54] randaratceridian commented on #6303
@Skrypt or @jtkech. Any estimate on when distributed caching will be available in dev branch or released?

[2020-06-03 20:57] Skrypt commented on #6303
There's a PR for Redis and DistributedCache. Feel free to try it and provide feedback to @jtkech.

https://github.com/OrchardCMS/OrchardCore/pull/5249
https://github.com/OrchardCMS/OrchardCore/pull/5815

I can't say for the estimate.

[2020-06-03 22:22] remesq opened #6336 "Create Content Type > Add Html Field > Multiline only shows plain text"
Not sure if this is intended, but if you create an Html Field and select "Mutliline" as the editor in the settings it only shows plain text in the Content Item editor. Whereas if you select "Standard" as the editor, the Html is "prettified".

Here is a screen shot in the Content Item editor showing what I mean:
![image](https://user-images.githubusercontent.com/727061/83694986-338a5480-a5c7-11ea-9

[2020-06-03 22:26] Piedone commented on #6332
It used the right one before *somebody* changed it :D. Fixed.

[2020-06-04 01:06] ns8482e commented on #6334
yes its random

[2020-06-04 02:19] jtkech commented on #6284
So here we have shape view template files and mvc controller view files

- A shape view defined in a module1 can be overridden through the current theme (that may be a derived theme), through another module that needs a manifest dependency on module1, or through the app that behaves as a module but also as a super theme.

- An mvc controller view can be overridden through the current theme as @Skr

[2020-06-04 02:26] remesq commented on #5375
@JoshTango, can you share how you got multiple layout pages to work by using the {% layout %} tag? I'm assuming you used in a template (either Admin created, or a .liquid/.cshtml file in your theme), but I just wanted to know if you had a Content Template, what you inserted there to get it to work.

[2020-06-04 02:33] jtkech commented on #6303
Not before rc2 that will come very soon, then maybe one or two months after

#5249 uses new caching / states patterns using distributed services and #5815 defines concrete implementations of these distributed services, so we will need both PRs. That said #5815 can be tested alone as it is compatible with the previous caching and signal token rules.

Note: Not completely finished but most of the wo

[2020-06-04 04:07] devhomecali opened #6338 "There is no preview part to add"
Configuring the Preview feature for Blog Posts [this guide](https://docs.orchardcore.net/en/dev/docs/guides/decoupled-cms/), you describe:

- Edit the content definition of Blog Post, click Add Parts, then select Preview. Click Save.
- In the list of parts, for Preview, click on Edit to change its settings for this content type.
- In the Pattern textbox, enter /blogpost/{{ ContentItem.Content.Alia

[2020-06-04 04:50] hishamco commented on #6284
I hope we add it, for now I will try to override the `AdminDashboard`, one more thing can I override the layouts too from within the app, or this is not supported yet?

[2020-06-04 05:25] hishamco commented on #6284
This is working, nothing but is the override shape stored in the database instead of file system? second thing it would be nice to have all available shapes to avoid user type, I may file an issue for that

[2020-06-04 06:07] jtkech commented on #6284
Yes you can override any **shape** views from the app, but for the Layout, because the app is a super theme, it will override the Layout of the admin but also the Layout of the front end ;) So here better to override shape views whose name are specific to e.g. the admin.

Yes you can also override any shape through the Templates (front end) and Admin Templates features, this only with liquid synta

[2020-06-04 06:11] hishamco commented on #6284
I see, any workaround to use it for admin views one? what if I place it in `OrchardCore.Admin`?

[2020-06-04 06:35] deanmarcussen commented on #6338
You probably need to upgrade to the preview package feed as I think we added the `Preview Part` after RC1

See the guide here
https://docs.orchardcore.net/en/dev/docs/getting-started/preview-package-source/

[2020-06-04 07:14] qadirkanore commented on #6018
@carlwoodhouse we are also facing same issue with the Postgres database.Will it be fixed soon or it is better to switch to MS SQL or Mysql database

[2020-06-04 07:52] Skrypt commented on #6018
I did a little search and seems like by adding double quotes around the table name would fix the issue.

Example :

`SELECT * FROM "personS" WHERE "Persons.first_Name" = 'xyz';`

[2020-06-04 08:09] Skrypt commented on #6018
Ok the issue is that in PostgreSQL table and column name are case sensitive when they are double quoted.

Example `"SELECT * FROM "Table"`

Whereas unquoted names are always folded to lower case.
One solution would be to remove the double quotes in the SQL Dialect simply.
Because FOO, foo and "foo" are the same for PostgreSQL.
For that matter we should always use lower case names for table and col

[2020-06-04 08:26] PiemP commented on #6291
#6341

I add a gif that show the behavior that I see when I upload an image to media library:
![upload image](https://user-images.githubusercontent.com/2736009/83733197-860e5400-a64d-11ea-935a-ea5caf3cf93b.gif)

[2020-06-04 08:38] hishamco commented on #6284
@Skrypt I reference my module with `OrchardCore.Admin` and place `AdminDashboard.cshtml` into `Views\OrchardCore.Admin`, but nothing overridden!! did I miss something else

[2020-06-04 08:42] deanmarcussen commented on #6284
AdminDashboard is a shape. Place it in `Views/AdminDashboard`

[2020-06-04 08:45] hishamco commented on #6284
Just another related question is the shape will be override when the module disable? Or do I need to control it's visibility?

[2020-06-04 10:01] AntonOttoIQ opened #6342 "When will the final version be released?"
As per your roadmap the initial release was suppose to be in October 2019. Could you please indicate when the final release will be available? The latest release is 1.0.0-RC1

[2020-06-04 10:58] JoshTango commented on #5375
I used:
{% layout "Layout2" %}
at the top of the content page for my content type.

[2020-06-04 11:41] MuhammadTalha10 opened #6343 "Upload document in Database using CSV"
Hi, i want to upload data in DocumentTable in Orchard core database by CSV file is there any possibility for this ? (I am using SQL Server DB)

[2020-06-04 12:34] deanmarcussen commented on #6343
The easiest option is to convert your csv file to a json `recipe` format and upload it via the admin.

See the Import/Export feature

[2020-06-04 13:06] jptissot commented on #6342
Please see:
https://github.com/OrchardCMS/OrchardCore/issues/5080
https://github.com/OrchardCMS/OrchardCore/issues/5841

RC2 will be released soon. Everyone is welcome to pitch in and help with PR's to get us closer to an official release.

[2020-06-04 13:06] #6342 closed

[2020-06-04 13:30] Skrypt commented on #6018
Quick first draft on this which works :

[code]

[2020-06-04 13:36] carlwoodhouse commented on #6018
Maybe we could just store the original casing of the field in the input on metadata in graphql and pass that, incase someone is crazy and has all upper case letters in their index names or something weird :p not sure.

[2020-06-04 13:38] carlwoodhouse commented on #6018
or in a similar way; maybe we could get all the indexes used by aliases .. then populate a dictionary from the index object based on it (see what we do with ContentItemIndex in here - which was to fix this same thing.)

[2020-06-04 13:40] carlwoodhouse commented on #6018
hell you could just get EVERY alias and dictionary them up; and it would probably be quicker then processing this each time.

[2020-06-04 13:46] carlwoodhouse commented on #6018
ofc we could just simplify that ToPascalCase a lot to be more fitting ;P the issue originates in that graphql converts part fields to camelcase, so we could effectively just change the first char to upper, or a char following `.` to upper; im not sure it would cover every use case tho.

[2020-06-04 13:50] carlwoodhouse commented on #6018
`string.Join(".", string.Split(".", original).Select(x => char.ToUpper(x[0]) + x.Substring(1)));` or something ;)

[2020-06-04 13:56] carlwoodhouse commented on #6018
oh actually the `.` is already handled at the point your calling it ... but im not sure that we shouldnt do the conversion earlier ....

otherwise something could potentially still call

`Table.property` not `Table.Property` at the end if it found no aliases (this is an expected outcome)

[2020-06-04 13:58] RajasekarPR opened #6344 "WidgetsList Part shuffles in UI"
Added a WidgetList Part in Custom Content Type and tried to add a widgets more than 15, when previewing the order shuffles.

Kindly do the needful.

Note : When the number of widgets < 16, the UI works perfectly.

[2020-06-04 14:42] thomasebsmith commented on #6344
I've noticed the same bug when adding widgets to zones. I'm not very familiar with Orchard Core's codebase, but I did some investigating and it seems like the sorting in [Shape.cs ](https://github.com/OrchardCMS/OrchardCore/blob/a202ae204ac02b40de1c82d6af16468f54e7ccc6/src/OrchardCore/OrchardCore.DisplayManagement/Shapes/Shape.cs) is the problem.

When [widgets are added to a content zone](https:/

[2020-06-04 15:01] randaratceridian commented on #6303
@Skrypt or @jtkech. I know this is a change of topic, but "rc2 that will come very soon" confused me. I thought rc2 was already out based on this https://docs.orchardcore.net/en/ag-releasenotes/docs/releases/1.0.0-rc2/ ? We were just about to start upgrading to rc2. If it's not out, when will it be out?

[2020-06-04 15:06] #6122 closed

[2020-06-04 15:10] sebastienros commented on #6018
@carlwoodhouse can you find a fix for that, using a way to keep the original column names around? Or do you need help to implement it. rc2 is coming and that issue makes graphql unusable with pgsql.

[2020-06-04 15:13] carlwoodhouse commented on #6018
i think the better fix is to find a way to reference the original names; either by the dictionary i discussed or using the metadata and passing it; rather then assuming case.

I can work on it if @Skrypt isn't doing so

[2020-06-04 15:27] aprokopyev commented on #6310
For me Blazor looks like a Windows Terminal Services with following differences

Instead of keeping a screen framebuffer Blazor keeps a rended tree of components
Instead of sending to client sprite diffs Blazor sends diffs of HTML DOM applied on a light browser site.

[2020-06-04 15:55] aghili371 opened #6345 "How can create new filtter?"
I have a new module. i wanna show some user information in layout.liquid master page.

my filter:
[code]

my startup.cs

[code]

and at the end I'm calling "{{user_fullname}}" in my layout. but it doesn't run the filter and it doesn't return any result.

please inform me what I should do else?

[2020-06-04 17:21] PiemP commented on #6210
Hi guys,

I have the same problem. How can I solve it? I have to manually drop the index?
Thank you.

[2020-06-04 17:44] #6305 closed

[2020-06-04 18:35] Piedone commented on #6303
Not yet, the docs page you linked is in the in-progress ag-releasenotes branch. The latest current docs you can see under https://docs.orchardcore.net/.

[2020-06-04 18:41] johnrom commented on #6102
@skrypt I just reproduced this directly on Dev branch

- Windows 10 Pro (64-bit)
- Chrome Version 83.0.4103.61 (Official Build) (64-bit)
- VS Code -> web debug
- Install using Agency Recipe + SQLite
- Edit main Landing Page
- Refresh the page, click the title and hit enter as fast as possible.

Depending on the speed of your PC, you may initialize Vue faster than it's possible to perform this inte

[2020-06-04 19:56] ns8482e commented on #6344
@sebastienros @deanmarcussen  It seems `WidgetListPart` is missing driver to edit `WidgetMetadata`. It's attaching while saving it but no way to change the position.

`contentItem.Weld(new WidgetMetadata());`

[2020-06-04 20:12] micnyk opened #6347 "Action on user log in"
Hi, I would like to perform an action when user logs in.
It's about to check user's groups in Azure Active Directory and assign roles depending on those groups.
How can I do that using Orchard Core builtin Azure Active Directory Authentication?

[2020-06-04 20:20] jptissot commented on #6347
Yes, I believe there is a script that runs on login. Check the user's settings.

[2020-06-04 22:17] Skrypt commented on #6018
I didn't have time to look into the dictionaries yet. I thought that in the PredictateQuery class we only had the ContentItemIndex columns as metadata from first look. So I've just set a quick code patch to illustrate the issue. You can work on it. I'd prefer so, you know where to go faster than me in these classes.

[2020-06-04 22:20] carlwoodhouse commented on #6018
Ok i will take it; will try to take a proper look at it over the weekend

[2020-06-04 22:46] devhomecali opened #6348 "Content of BlogPost in not updated"
Following the guide https://docs.orchardcore.net/en/dev/docs/guides/decoupled-cms/#configuring-the-preview-feature-for-blog-posts.

Following @deanmarcussen's suggestion to solve the problem of (https://github.com/OrchardCMS/OrchardCore/issues/6338), I installed **OrchardCore.Application.Cms.Tarjets package version v1.0.0-rc1-13380**.

But now, the modifications to the content of the post are not

[2020-06-04 22:54] sebastienros commented on #6348
Can to try to go through a new Setup? A Blog recipe has way more fields these days.

[2020-06-04 22:54] devhomecali opened #6349 "Syntax Error Updating content of BlogPost"
Following the guide https://docs.orchardcore.net/en/dev/docs/guides/decoupled-cms/#configuring-the-preview-feature-for-blog-posts.

Following @deanmarcussen's suggestion to solve the problem of (https://github.com/OrchardCMS/OrchardCore/issues/6338), I installed **OrchardCore.Application.Cms.Tarjets package version v1.0.0-rc1-13380**.

But now Update generate syntax error. [See this video](https:/

[2020-06-04 23:13] devhomecali commented on #6338
@deanmarcussen Following your suggestion I installed the preview version: **_OrchardCore.Application.Cms.Tarjets v1.0.0-rc1-13380_**. But although the Preview part can now be added to the definition of the BlogPost, it did not solve the described problem. Doing the settings described in the guide for the preview does not have any effect, the custom url does not look: the standard url of the previe

[2020-06-05 00:03] jtkech commented on #6284
No, only shapes of enabled modules are harvested.

Notice that the application (behaving as a module) is always enabled

[2020-06-05 03:06] Skrypt commented on #6102
Ok so while the Vue.js component initialize itself the values are not present in the form hidden inputs leading to removing the images if you are for example double clicking the publish button.

2 things here.

- We should probably initialize those hidden inputs outside of the Vue.js component to have them rendered before rendering the Vue.js component.

- We should use something like `e.preventDe

[2020-06-05 03:25] johnsonzhong commented on #6286
Since it's production-ready, why not release the final v1.0?  If there any specific reason? You know even it's just a very small difference with the version number, but from the customers' perspective, especially  who don't know much detail on Orchard Core, it means "unstable", "unofficial". As a developer it's very hard to convince the customers to believe it's the good timing to use it in the pr

[2020-06-05 03:28] ns8482e commented on #6284
But it seems MVC views and controller actions are always available even when feature is disabled

[2020-06-05 04:13] jtkech commented on #6284
Normally not, with our `ShellFeatureApplicationPart` we only take into account controller types of enabled modules / enabled features if decorated with the `[Feature()]` attribute. And our mvc view location expanders only take into account enabled modules.

Let me know if you have a repro where it is not the case.

[2020-06-05 04:23] devhomecali commented on #6348
**Describe the bug**
@sebastienros error in new setup

**To Reproduce**
Steps to reproduce the behavior:

1. [Follow this guide](https://docs.orchardcore.net/en/dev/docs/guides/decoupled-cms/). Configure **LocalDb\MsSqlLocalDb** database and use **dm3** prefix for tables.
2. Change the package: install preview version: **_OrchardCore.Application.Cms.Tarjets v1.0.0-rc1-13380_**.
3. Delete **Sites**

[2020-06-05 04:35] chrisvdb commented on #6286
Exactly, @johnsonzhong. It's hard to convince customers to use software that isn't labeled stable.

(sorry, accidentally closed/reopened the issue)

[2020-06-05 05:08] jtkech commented on #6102
For infos just tried and i could repro by doing this

[2020-06-05 05:22] ns8482e commented on #6286
@chrisvdb  IMO CMS functionality and Framework is production ready in RC1 and stable

However there are some modules that are not completed  or available compared to Orchard 1.

I would suggest If you are not concerned about features/modules still under dev, then don’t wait for 1.0 start using it now

[2020-06-05 05:36] ns8482e commented on #6336
That’s awesome isn’t it?  You can configure `HTML Field` Editor to `Multiline` for content type A and `Standard` for content type `B`

[2020-06-05 06:54] Skrypt commented on #6286
The reason why it's not labelled 1.0 is because it should not be a decision driven by marketing reasons but logical reasons, like the fact that we miss a lot of features in Orchard Core that remains to be done. Also, I believe that we don't want to reproduce the same issue that happened with 1.0. Orchard Core is ready to be used for workshops that wants to use it as a framework if they don't matte

[2020-06-05 06:55] MuhammadTalha10 commented on #6343
System.IO.FileNotFoundException: Could not find file '/tmp/xd45y2ua.2qj/Recipe.json'.
File name: '/tmp/xd45y2ua.2qj/Recipe.json'
   at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, String path, Boolean isDirectory, Func`2 errorRewriter)
   at Microsoft.Win32.SafeHandles.SafeFileHandle.Open(String path, OpenFlags flags, Int32 mode)
   at System.IO.FileStream..ctor(String path, FileMode mode

[2020-06-05 06:56] MuhammadTalha10 commented on #6343
{
  "name": "Product upload",
  "displayName": "Product upload by json file",
  "description": "Product upload by json file to fulfil need of bulk upload",
  "author": "admin",
  "website": "https://magna.azurewebsites.net",
  "version": "2.0",
  "issetuprecipe": false,
  "categories": [ "default" ],
  "tags": [ "tag" ],
  "variables": {
    "variable1": "[js:uuid()]"
  },
  "steps": [
    {

[2020-06-05 06:57] MuhammadTalha10 commented on #6343
@deanmarcussen  I have share my json file content i am facing this error can you please guide me!

[2020-06-05 06:59] MuhammadTalha10 commented on #6343
i want to add a taxonomy part in content item products

[2020-06-05 08:04] vesko-k commented on #6210
Even you manually drop the index, the migration will not pass, because the version of the migration record will still show that an update is needed. In theory you may do migrations manually and manually update the migration record for the autoroute, but it's risky and I don't recommend that approach.

[2020-06-05 08:26] micnyk commented on #6347
@jptissot I found `IUserEventHandler` interface which would be a great fit but I can't access it from my module :/
I tried installing OrchardCore.Users, OrchardCore.Users.Abstraction packages but still can't implement this interface in my module.

[2020-06-05 09:06] PiemP commented on #6210
I believe (**not sure**) to have solved the issue by manually dropping the index **IDX_AutoroutePartIndex_Published** and **IDX_AutoroutePartIndex_ContentItemId** , editing the source code and comment this lines in the `Migration.cs` file of the `OrchardCore.Autoroute` module:
[code]

[2020-06-05 12:12] dodyg commented on #6345
Try `{ "" | user_fullname }}`

[2020-06-05 12:19] szilardcsere89 commented on #6210
That worked for me:
1. Create a new site installation with a new database
2. Enable autoroute (if it weren't)
3. Compare the indexes and columns in the table with the existing one (`AutoroutePartIndex`)
4. Make all the changes that are required
5. Don't forget to update the `version` in the corresponding record of the Document table (not in the column but JSON, see the image below) (usually, the f

[2020-06-05 12:33] Piedone commented on #6286
Yeah, we have our differences with Jasmin on whether what can we call 1.0 :) (also see https://github.com/OrchardCMS/OrchardCore/issues/5814). But there are just a couple of 1.0 issues remaining now: https://github.com/OrchardCMS/OrchardCore/milestone/8

[2020-06-05 12:58] MichaelPetrinolis commented on #6347
Hi @micnyk, as @jptissot mentioned, you could use server side javascript to define the roles based on the claims received or register an implementation of IExternalLoginEventHandler in a module

[2020-06-05 13:50] johnrom commented on #6102
Agree with server side filling of input values.

Never noticed the ability to double post, but duplicate submissions should be blocked on both the front-end and back-end. In WordPress, if a second person starts editing a post, the site keeps track of what is being edited and blocks a second person from editing a post (and asks them if they want to take over). If the lock version submitted with the

[2020-06-05 15:18] szilardcsere89 commented on #6345
`{{ User.Identity.Name | user_fullname }}`

[2020-06-05 15:28] remesq commented on #6336
Actually, that's the same Content Type "A", with two HTML Fields, one with Multiline, the other with Standard. I just thought the behavior was weird. Standard expands with the text you input, but it also doesn't add a line space and formats the HTML, whereas the multiline does neither and is a set height.

[2020-06-05 15:29] remesq commented on #6336
Woops, did not mean to close unless your comment meant that this behavior is intended.

[2020-06-05 15:53] MuhammadTalha10 opened #6352 "Do we have two factor Authentication in Orchard Core CMS ?"

[2020-06-05 16:06] sebastienros commented on #6352
There isn't any default option right now.

I would suggest to follow the asp.net mvc implementation, and maybe this could be added as a PR?
Our User controller is following the default asp.net mvc templates, so it should be straightforward to add. And this could be done as a feature so it's not enabled by default. Each method of second auth could then be another feature. Like email, sms, ...

[2020-06-05 16:08] sebastienros commented on #6336
@remesq

@ns8482e was being sarcastic I think. What he means is that each field can provide many ways to edit the content, and if you think an editor is not sufficient then you can always add more to your own system. There are a few out of the box and they definitely don't cover all the requirements.

[2020-06-05 16:09] sebastienros commented on #6336
And yes, this behavior is what is expected. Not everyone wants or can use codemirror

[2020-06-05 16:09] #6336 closed

[2020-06-05 16:11] MuhammadTalha10 commented on #6352
It may Included In future ? Or Orchard Core is not targeting to have this ?

[2020-06-05 16:22] Skrypt commented on #6286
You could be surprised to see how many other issues/pr will emerge from only those. But yeah I'm opiniated, nothing to take personal 😸

[2020-06-05 22:31] #6332 closed

[2020-06-05 23:49] ns8482e commented on #6336
@sebastienros @remesq sorry if you feel that way! Neither intend to offend anyone nor being sarcastic, just exited about having a functionality that can be configured differently

[2020-06-06 00:01] ns8482e opened #6353 "Coming Soon with other content type"
I tried coming soon theme today with custom content types. It seems it’s not usable for content preparation and preview before final theme change at site launch.

[2020-06-06 00:18] sebastienros commented on #6353
We mentioned that during the triage meeting yesterday and I personally think it's totally fine. It's not meant to be a theme that can be used to create other content types. It's a "single page" site that shows how to use setup a workflow to register email addresses. If we start and try to handle more than that, then it's a never ending story, and we don't have the capacity to support every scenari

[2020-06-06 00:28] ns8482e commented on #6353
Ok. my assumption was that `ComingSoon`  theme will allow site owner to set coming soon page and continue to build the website back-end with ability to preview content without changing the theme.

If that is not the intention of the `ComingSoon` theme then, I'll close this issue.

[2020-06-06 00:52] #6353 closed

[2020-06-06 01:05] devhomecali opened #6354 "Error Setup Connection appsettings.json > "OrchardCore""
**Describe the bug**
The following may be an error. Setup does not display connection configuration information in appsettings.json> "OrchardCore"> "OrchardCore_Shells_Database".

**To Reproduce**
Steps to reproduce the behavior:
1. Download updated source code.
2. Set **OrchardCore.Cms.Web** as your startup project. Configure the connection to the database in the file appsettings.json> "OrchardCo

[2020-06-06 01:46] sebastienros commented on #6354
I don't see the issue with your screenshot. Even if you select a database to store the shell settings, i.e. the list of tenants, each tenant can have its own database, even Sqlite.

However I found a discrepancy in the documentation. You used `_` whereas the documentation uses `.`  for `Orchard.Shell.Database` at https://docs.orchardcore.net/en/ag-releasenotes/docs/reference/core/Shells/#enable-da

[2020-06-06 01:48] sebastienros commented on #6336
@ns8482e

When you said "That’s awesome isn’t it?" about an "issue", I found it sarcastic, and I liked it ;)

[2020-06-06 02:21] devhomecali commented on #6354
@sebastienros I have changed **OrchardCore_Shells_Database** to **OrchardCore.Shells.Database**.

But in the Setup page the **SqLite** database type is preconfigured. **It should be Sql Server** based on the settings in appsettings.json.

[See Screeshot](https://github.com/devhomecali/OrchardCore/blob/master/OrchardCore-Error-Setup-AppSettingsDatabase-2.png).

[2020-06-06 02:29] sebastienros commented on #6354
I think you didn't understand the first part of my comment.

The settings you have set are not to define what is the default database of the Setup screen.
They are related to some other database settings.

Now let me explain this setting in detail:
Orchard can host multiple tenants. Meaning with one deployment you can host multiple sites, on different urls, with different databases and content and

[2020-06-06 02:59] devhomecali commented on #6354
@sebastienros OK. Thanks.

[2020-06-06 06:01] hishamco commented on #6284
@jtkech I ended up with creating a custom theme and override the default TheAdminTheme

- I'm able to override the `AdminDashboard` from within the new theme and web app, but

- I'm unable to override the layout from the theme

- If create a new shape in the custom theme, should I reference the new theme in my module in case I need to override the new one?

[2020-06-06 06:04] hishamco commented on #6352
@MuhammadTalha10 I will try to add it in [OCC](https://github.com/OrchardCoreContrib/OrchardCoreContrib.Modules) in case OC doesn't include it yet

[2020-06-06 06:09] hishamco commented on #6343
Also I think you could register a custom `ContentSerializer` for YesSQL, then you can use DI to return `IEnumerable<IContentSerializer>` and pickup the right implementation

@sebastienros correct me if this is doable

[2020-06-06 06:14] remesq commented on #6336
No worries @ns8482e.

[2020-06-06 09:14] MuhammadTalha10 commented on #6352
@sebastienros  @hishamco Thanks for your response

[2020-06-06 12:48] ArieGato opened #6356 "Content step in a migration recipe fails"
Hi,

A taxonomy field is not added to a custom part when I use a TaxonomyContentItemId that was added by a recipe migration in the same data migration.

I created a repo for this: https://github.com/ArieGato/OrchardCore/tree/ariegato/recipe-migration

To reproduce follow these steps:

1. Create a new web site by using the Coming Soon theme.
2. Activate the 'Recipe Migration Issue' module.
The migr

[2020-06-06 13:40] hishamco commented on #6356
/cc @deanmarcussen

[2020-06-06 14:45] agriffard opened #6358 "Setup cultures"
Initialize Setup supported cultures with only the ones that are in the Translations meta package.

[2020-06-06 17:11] aghili371 commented on #6345
@dodyg @szilardcsere89 Thank you guys.

[2020-06-06 17:11] #6345 closed

[2020-06-06 22:12] ns8482e commented on #6284
If your new theme is active theme then it should take `Layout`  from that theme

[2020-06-06 22:45] JoshLefebvre opened #6359 "Unable to Store OrchardCore.Media.Azure Connection Strings in Azure KeyVault"
I am trying to store some of my appsettings value in my Azure KeyVault for security purposes, however due to the current naming conventions used in the appsettings.json files I am unable to due to illegal dot characters in some of the setting names:
![image](https://user-images.githubusercontent.com/22512098/83955830-4f8b3180-a825-11ea-88ad-5c0902895918.png)

From the Azure Documentation:

As far

[2020-06-06 23:17] jtkech commented on #6359
We also allow underscores (which is the new rule) in place of dots, this to be compatible with linux env variables, so try the following

    OrchardCore_Media_Azure--ConnectionString

[2020-06-07 00:35] JoshLefebvre commented on #6359
Yea Az Key Vault is still complaining:
![image](https://user-images.githubusercontent.com/22512098/83957310-34282280-a835-11ea-9352-127dbcd1a710.png)
Seems only dashes and alpha numeric.

[2020-06-07 04:52] devhomecali opened #6360 "Error installation of the master branch"
**Describe the bug**
The installation of the master branch generates an error related to the Drapper component.

**To Reproduce**
Steps to reproduce the behavior:

1. [Follow this guide Lombiq Training Demo for Orchard Core - Using a full Orchard Core source](https://github.com/Lombiq/Orchard-Training-Demo-Module). Only Point 1: Download master branch.
2. Run command: git clone -b master --single-

[2020-06-07 05:16] hishamco commented on #6284
Yes it is the active theme, I just drop a view named `Layout` in the views folder, but nothing changed

[2020-06-07 08:51] hamdiRuwiss opened #6363 "Content item type UI Listing"
Hello, If I make the content type unlistable i don't see it the content items list when the user is admin, but if the user is in another role like contributor or author i still see the content type listable

another question? is it possible for the user in role to manage his own content in the dashboard ,I can see a permission for media to manage his own , but nothing similar for content items. of

[2020-06-07 09:00] ziyadsv commented on #6319
yeah the best way is an additional button or link to show list part contents.

[2020-06-07 12:32] JoshLefebvre commented on #6359
Do you think it would be worth filing a change request ?

[2020-06-07 15:02] jtkech commented on #6359
Yes i think it is worth to have an override of [KeyVaultSecretManager](https://github.com/Azure/azure-sdk-for-net/blob/779ddcd153436ce9105c6d3765463e3da26d52d3/sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/KeyVaultSecretManager.cs#L24), and maybe an extension helper using [AddAzureKeyVault](https://github.com/Azure/azure-sdk-for-net/blob/779ddcd153436ce9105c6d3765463e3da26d5

[2020-06-07 15:19] deanmarcussen opened #6364 "OpenId Deployment and Recipes have some issues"
There are a number of issues with the OpenId Recipe and Deployment Steps

- The Deployment Step for the Server Settings produces **completely incorrect** JSON to match what the Recipe Step is expecting (the settings directly, when the step expects a Model)

- Some of the Steps use Models, some use `CreateViewModels`

- Most of the Steps are storing their data directly in the step property, where t

[2020-06-07 15:39] JoshLefebvre commented on #6359
Awesome! I realize you guys are quite busy and this might be low on the priority list so I will start my own repo (as I have done with many other custom modules I am developing) with an implementation and if it is something that may be of interest I would be happy to integrate it into the project!

Thanks :)

[2020-06-07 17:08] hishamco commented on #6363
This is weird!!

[2020-06-07 17:46] Piedone commented on #6360
First of all, thank you for the very thorough bugreport.

Can you confirm this is only an issue with LocalDB? (So e.g. SQL Server or SQLite works?)

[2020-06-07 17:59] hishamco opened #6365 "Add ability to reset the admin user from the default tenant"
I think it's useful if we have an option to reset the tenant admin password from within the default tenant, coz if the password is forgotten for any reason there's no way to access the tenant

[2020-06-07 18:03] hishamco commented on #6363
FYI there's `Edit own content`, `Delete own content`,  `View own content ` and `Clone own content` permissions, which manage everything related to your content

[2020-06-07 18:10] hishamco commented on #6363
I can reproduce the bug for show, non listable content

[2020-06-07 19:25] hishamco commented on #6360
I tried to use LocalDb with the `dev` branch and everything work as expected!!

@devhomecali could please try the nightly build instead, may there was a bug in the RC1 release, more specifically in YesSQL

Also check you can check your connection string, before doing anything else

[2020-06-07 21:11] hishamco commented on #6348
@devhomecali we answered to your question about previous error in another thread

[2020-06-07 21:11] #6348 closed

[2020-06-08 08:43] deanmarcussen commented on #2818
Can this be closed now @agriffard ?

(we have another issue to support the idea of templated routes)

[2020-06-08 08:45] #2818 closed

[2020-06-08 08:45] ziyadsv commented on #6319
@hishamco You are awesome.Thank you ,You save my day ... it working well

[2020-06-08 09:35] hishamco commented on #6319
I reopen this, it will be closed when the PR is merge ;)

[2020-06-08 09:41] boraster opened #6371 "Widget Header Button Toggle Problem"
I am on OrchardCore-1.0.0-rc1 . Expand and collapse buttons are visible at the same time and not working at all.

![widgetslist](https://user-images.githubusercontent.com/31406913/84015956-46b17180-a985-11ea-8847-e555ac5d2a16.png)

Is there anyone else reproducing the same problem?

[2020-06-08 16:24] agriffard opened #6373 "'TwitterClient could not be located' error."
Error occuring with the latest version of the source code when I login to the admin:

Error while processing background task 'OrchardCore.Workflows.Timers.TimerBackgroundTask' on tenant 'Default'. System.InvalidOperationException: A suitable constructor for type 'OrchardCore.Twitter.Services.TwitterClient' could not be located. Ensure the type is concrete and services are registered for all parame

[2020-06-08 16:38] deanmarcussen commented on #6373
It's a minor regression from the encoders change. Have commented on the original pr

[2020-06-08 17:00] sebastienros commented on #6373
Yes, probably go back with HttpClientFactory. We'll have to ensure that it's correctly done though, I changed the code because I think it was not the correct way to do it. It was disposing the HttpClient. But maybe it's ok to do so when using HttpClientFactory.

[2020-06-08 17:39] ArieGato opened #6374 "Invalidate menu cache after changing permalink of ContentMenuItem"
Hi,

Is it possible to invalidate the menu cache after changing the permalink of a content item used as a contentMenuItem? Now the old link is cached resulting in a 404.

Thnx,
Arjan

[2020-06-08 20:10] MichaelPetrinolis commented on #6373
in https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.1#httpclient-and-lifetime-management says that IHttpClientFactory tracks and disposes resources used by httpclient instances. The TwitterClientMessageHandler instances are pooled and used by created HttpClient instances. And also mentions that keeping a single HttpClient instance for a long duration is unn

[2020-06-09 01:30] remesq opened #6376 "Displaying .cshmtl files (i.e., partials) through Layout.cshtml"
I'm getting a Shape type "Resources" not found error in my custom Theme layout, where I have a `Resources.cshtml` file in my `~/Views/Shared` folder.

I am trying to insert it like this:
`@{ await DisplayAsync(await New.Resources()); }`

at the top of my `Layout.cshtml` page, or within that layout `<body>` thusly:
`@await DisplayAsync(await New.Resources()).`

I think I saw the answer as to how to

[2020-06-09 02:44] jtkech commented on #6376
Only mvc view files can be found under `Views/Shared`, not **shape** template files.

Shape templates are only harvested from the following folders

    public IEnumerable<string> SubPaths()
    {
        return new[] { "Views", "Views/Items", "Views/Parts", "Views/Fields", "Views/Elements" };
    }

As i remember, concretely our modules / themes only have shapes under `Views` and `Views/Items`.

[2020-06-09 04:35] RockNHawk opened #6378 "UseDisplayDriver make Orchard Crash"
Orchard Version: dev latest

Hi,I just add an empty DisplayDriver to a Part, then visit Orchard Core /admin page, Orchard Core crashed (I tried many times), if visit the api url, site not crashed.

    services.AddContentPart<AppUserPart>()
    .UseDisplayDriver<CustomAppUserPartDisplay>();

    public class CustomAppUserPartDisplay : ContentPartDisplayDriver<AppUserPart>{
    // empty
    }

Log:

[2020-06-09 04:46] #6378 closed

[2020-06-09 05:54] deanmarcussen commented on #6371
This was an issue on RC1 which I believe has been resolved on the latest dev.

Please try with the preview feed and reopen if you still have an issue https://docs.orchardcore.net/en/dev/docs/getting-started/preview-package-source/

[2020-06-09 05:54] #6371 closed

[2020-06-09 06:14] Skrypt opened #6381 "EmailTask should have a "Reply To""
[code]

[2020-06-09 06:22] Shilpa-V opened #6382 "ArgumentNullException for PortableObjectStringLocalizer."
I am looking to create custom PortableObjectStringLocalizer for my dotnet core project, which doesn't throw `ArgumentNullException` for null values.
Instead, it should return null for null values. Is this possible?

[2020-06-09 06:39] Skrypt commented on #6382
Example? I mean, normally these localizations are all strings so how do you plan to set a "null" value for a term?

[2020-06-09 06:53] Shilpa-V commented on #6382
We are using this for a few dynamic data for which we have created PO file entries.
At some places we are using dynamic data such as `S[validateExchangeResult.SelectedCommodityName]` so, we need to do explicit check like:

`validateExchangeResult.SelectedCommodityName = !validateExchangeResult.SelectedCommodityName.IsNullOrEmpty()
? S[validateExchangeResult.SelectedCommodityName]
: validateExchang

[2020-06-09 07:10] Skrypt commented on #6382
Ok but using dynamic data is not advised to be used for localizable strings. Main reason is that we have a tool that harvests localizable strings to automate the creation of .PO files in your projects. Also, obviously it can throw NRE and if you want to keep using dynamic strings then you should totally make null checks because it's not logical to request for localization of a NULL string... it sh

[2020-06-09 07:22] Shilpa-V commented on #6382
Most of the dynamic data we use are reference data and we have defined Enum for them. We wanted to have the responsibility of the caller to check for NRE.

[2020-06-09 07:27] Skrypt commented on #6382
Well, wait for @sebastienros answer on that one.

[2020-06-09 08:52] boraster commented on #6371
@deanmarcussen Thanks for the reply.
I still experience the problem after preview feed update.
Do I need to update something else additionally?

![preview](https://user-images.githubusercontent.com/31406913/84127179-9193bd80-aa47-11ea-88db-7b43bd4e2199.png)

[2020-06-09 09:42] deanmarcussen commented on #6371
Did you update your nuget references to use the versions on cloudsmith?

[2020-06-09 09:59] boraster commented on #6371
@deanmarcussen Yes, I did. Therefore, it seems weird to be still experiencing this problem.

[2020-06-09 10:14] deanmarcussen commented on #6371
did you clear your cache?

[2020-06-09 10:17] hishamco commented on #6382
IMHO dynamic data is fine, it doesn't support yet in OC, but hopefully after 1.0.0 release, for your case you could simply subclass the `PortableObjectStringLocalizer` and do the null check there, so it will be central and no need to do it everywhere

Another options we can go for it if everyone agree, to introduce lookup behavior, in case the value is missing:

- Return the key

- Throws an excep

[2020-06-09 10:19] boraster commented on #6371
Cleared the cache, restarted VS, then restarted PC. Now, I will try to update VS; there seems to be a pending update. Maybe, this is the reason for the weird issue.

[2020-06-09 11:49] vesko-k opened #6385 "Import RecipeExecutor json issue"
I have a model who has property, which contains a serialized array of objects in json format.
When importing that part of code removes the square braces of the exported json array, thus breakes proper deserialization later. Any ideas  for an approach?

https://github.com/OrchardCMS/OrchardCore/blob/c912f20ba57b4da0473c32d54a7817b0e24ce435/src/OrchardCore/OrchardCore.Recipes.Core/Services/RecipeExe

[2020-06-09 11:53] #6354 closed

[2020-06-09 12:32] jptissot commented on #5340
PostgreSql 12 now supports case insensitive collations https://news.ycombinator.com/item?id=19991452

[2020-06-09 12:46] ruixue8080 opened #6386 "How to configure mysql connection string from Azure web app"
Our project is deployed in Azure web app, and we have different connection string for production and testing environment. Can I configure mysql connection string for Orchard from Azure web app configration? what key should I use if yes.

[2020-06-09 14:13] remesq commented on #6376
Thank you for eliminating my confusion @jktech.

[2020-06-09 14:13] #6376 closed

[2020-06-09 14:33] boraster commented on #6371
I cleared the Nuget cache several times after VS update and tried to update the packages in the PowerShell by "Update-Package" command, but it says "no updates are available".

I think I am missing something.

[2020-06-09 16:50] ns8482e commented on #6349
you can  only use `{{ }}` if it's valid expression

[2020-06-09 17:43] ruixue8080 commented on #6386
according to this article: https://docs.orchardcore.net/en/dev/docs/reference/core/Configuration/, azure web app has the highest priority for configure database connection string, however my configuration in web app just now work.

[2020-06-09 18:57] #6373 closed

[2020-06-09 18:57] #6358 closed

[2020-06-09 23:04] Shilpa-V commented on #6382
Dynamic data is working fine for me in my case. Subclassing the `PortableObjectStringLocalizer` is enough or will it also require to create `CustomPortableObjectStringLocalizerFactory`.

[2020-06-09 23:18] devhomecali opened #6388 "Error creating site from template occms"
**Describe the bug**
Creating a website using the **occms template** from the command prompt, generates an error because it **cannot find a ContentDefinition.json** configuration file. The error only appears when selecting the **Agency recipe** with either a Sqlite or Sql server database. For the blog recipe it does not generate error.

**To Reproduce**
Steps to reproduce the behavior:

1. [Follow

[2020-06-10 05:40] hishamco commented on #6382
Unfortunately you need to create a custom `PortableObjectStringLocalizerFactory` to instantiate the localizer, I think we need to modify it to make it easier to extend, something like what I did before here https://github.com/hishamco/My.Extensions.Localization.Json/blob/master/src/My.Extensions.Localization.Json/JsonStringLocalizerFactory.cs#L78-L87

[2020-06-10 09:07] LegendORC opened #6389 "InvalidDataException: End of Central Directory record could not be found."
Hello, I'm using OrchardCore on Macbook. I can create a new website with OrchardCore and there is no any problem.

The issue is... I want to import `Content Definitions` into my OrchardCore from the file that my friend just sent me.
So, the problem is when i imported the file i got the error message about.

[code]

When I located into the path and try to open the zip file here is the message i got

[2020-06-10 10:26] deanmarcussen commented on #6389
I think the problem is with the file that your colleague sent you.

I use deployment plans with zip files on mac and windows with no problem.

It looks like your colleague has sent you a temp zip file from somewhere.

He should use deployment plans to create a deployment plan for you with a content definition step and then export it. You should get a zip file named after the deployment plan.

[2020-06-10 17:07] MuhammadTalha10 opened #6392 "I want to Change the route of CMS admin Panel !"
The current route is "/admin" is there any possibility that i can change it to something like "/cms" or "/adminpanel" ?

[2020-06-10 17:30] #6392 closed, assigned to nobody

[2020-06-11 02:02] chinasqzl opened #6394 "Taxonomies required verification, should return the display text, not Technical Name"
Taxonomies required verification, should return the display name, not technical name
TaxonomyFieldDisplayDriver：

if (settings.Required && field.TermContentItemIds.Length == 0)
                {
                    updater.ModelState.AddModelError(
                        nameof(EditTaxonomyFieldViewModel.TermEntries),
                        S["A value is required for '{0}'", context.PartFieldDef

[2020-06-11 03:09] LegendORC commented on #6389
@deanmarcussen @Skrypt Thanks for reply.

The file i did try to import can open and try with another file still get same message.

[2020-06-11 03:50] LegendORC commented on #6389
Hmm I think i can import the file.

We must compress the file before import.

Thank you again.

[2020-06-11 09:13] chinasqzl opened #6396 "How do I loop through BagPart in publishing event content in my workflow?"
How do I loop through BagPart in publishing event content in my workflow?
![image](https://user-images.githubusercontent.com/16968103/84369868-14647600-ac0a-11ea-9b6c-46eb478725bc.png)

![image](https://user-images.githubusercontent.com/16968103/84367387-c1d58a80-ac06-11ea-8ecf-54f8b6688078.png)

[2020-06-11 09:19] MuhammadTalha10 commented on #6392
@jtkech  its still same this is my appsetting.json
`{
  "ConnectionString": "Server=tcp:magna.database.windows.net,1433;Initial Catalog=Magna;Persist Security Info=False;User ID=alchemative;Password=Avaya@1209;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;",
  "DatabaseProvider": "SqlConnection",
  "OrchardCore.Media.Azure": {
    "ConnectionString"

[2020-06-11 09:43] deanmarcussen commented on #6392
What version of OC are you using ?

[2020-06-11 09:47] MuhammadTalha10 commented on #6392
OrchardCore.Application.Cms.Targets 1.0.0-rc1-10004

[2020-06-11 10:04] deanmarcussen commented on #6392
The feature you are trying to use was added after RC1 was release.

You can upgrade to the preview feed here https://docs.orchardcore.net/en/dev/docs/getting-started/preview-package-source/

[2020-06-11 12:16] MuhammadTalha10 commented on #6392
its working fine with RC2 latest prerelaese. thanks @deanmarcussen

[2020-06-11 16:38] boraster opened #6398 "MySQL Migration Error with Agency Theme"
I ran into an error recently. There is no problem with Sqlite. Blog theme does not cause any error as well both in Sqlite and MySQL. I didn't try out other themes.

I am on Preview Feed (rc2-13391) and used a couple of fresh install to make sure.
MySQL version is 5.7.28
When I check the Debug.log I see several "**Exception thrown: 'MySql.Data.MySqlClient.MySqlException' in MySqlConnector.dll"** er

[2020-06-11 17:13] ns8482e commented on #6079
@sebastienros @deanmarcussen This needs to be fixed in RC2

[2020-06-11 17:18] ns8482e commented on #5149
Closing this with note that following is not supported and not recommended to target Layout zone in Admin Edit.

[code]

[2020-06-11 17:18] #5149 closed

[2020-06-11 19:53] aghili371 opened #6401 "Add warning when trying to save long title"
in updated content, if we have long text for the Title field, it will remove the first part of the title.

i have RTL content.
i added the new content by coding. the title does work fine with long text. but if I try to edit the content item, it will remove the text from the first part of the value and it just keeps a few words from end part of the title.

i think it needs to check the value contro

[2020-06-11 20:03] hishamco commented on #6401
Could please provide a screenshot?

[2020-06-11 20:13] aghili371 commented on #6401
before edit
![before](https://user-images.githubusercontent.com/24512878/84434664-c1ea8000-ac30-11ea-9045-1346b67b1e19.JPG)
after update
![after](https://user-images.githubusercontent.com/24512878/84434668-c3b44380-ac30-11ea-8670-6ad223f31720.JPG)