[2020-07-09 13:35] TFleury commented on #6503
@ns8482e I did not find the `Placement` event. Could you tell me how you dynamically change the placement ?

[2020-07-09 13:38] deanmarcussen commented on #6613
It is supposed to remember what setting the user last selected by storing the value in localstorage.

If it isn't we should fix that, rather than adding a global setting.

[2020-07-09 13:42] deanmarcussen commented on #6617
We have mentioned a few times to write some unit tests / integration tests to demonstrate usage of this.

Here is some old code from before `UpdateValidateAndCreateAsync()` that makes a content item for me.

[code]

`UpdateValidateAndCreateAsync` is an extension method to assist calling some content manager methods in the correct sequence, to ensure all the events are fired. `Validate` is a reason

[2020-07-09 14:21] hishamco commented on #6613
This should set in application level not user level, unless it can be change from tenant to another

[2020-07-09 15:41] TFleury commented on #6193
I was unable to reproduce it.
Could you confirm and provide logs or close the issue ?

[2020-07-09 15:42] hishamco commented on #6193
@nickelnext please use RC2 and have a try

[2020-07-09 15:52] pbros commented on #6306
I wound up creating a new API controller to get the Taxonomy Terms by autoroute path to achieve my objective since the recursive logic was a bit complex (navigating the Taxonomy Term tree). In my case the controller renders the HTML, but it could also have returned the ContentItemId which would then have been used in a GraphQL query.

[2020-07-09 15:52] #6306 closed

[2020-07-09 15:53] pbros commented on #6010
I have changed my approach and instead use the templates on the CMS to render the correct HTML that already includes what I need

[2020-07-09 15:53] #6010 closed

[2020-07-09 16:12] marlon-tucker commented on #6565
Hello,

Not sure if I should add this here or add a new issue but it seems related.

I've just updated our project to use RC2 and I notice it's doing view compilation for views which are inside the Orchard RC2 nuget dlls, which I assume have compiled views in them?

I'm also seeing extremely long compilation times for the views, I was concerned this was a RC2 issue, but if I run the Orchard source

[2020-07-09 17:13] sebastienros commented on #6565
Should we close this issue?

[2020-07-09 17:14] #6193 closed

[2020-07-09 17:15] sebastienros commented on #6613
If a setting can be changed per user, I am not sure what the point of having an application level value is. Maybe as @deanmarcussen suggest let's try to fix it first if it's broken.

[2020-07-09 17:16] #6617 closed

[2020-07-09 17:37] hishamco commented on #6617
Seb do we need to add a unit test?

[2020-07-09 17:40] sebastienros commented on #6616
Please rephrase the issue, it's not clear if you are missing the preview button, or if it doesn't work (though it has been removed).

[2020-07-09 17:40] #6616 closed

[2020-07-09 17:41] #3865 closed

[2020-07-09 17:42] sebastienros commented on #6404
Also add tags /cc @ns8482e

[2020-07-09 17:42] vitalybrandes commented on #6617
I think whatever that will exist in the Demo module or / and in documentation are welcome.
Personally, using the GitHub issues to search whatever was asked, not best user friendly option.

[2020-07-09 17:43] sebastienros commented on #6603
Merged with https://github.com/OrchardCMS/OrchardCore/issues/6404

[2020-07-09 17:43] #6603 closed

[2020-07-09 17:44] sebastienros commented on #6585
Closing until more repro steps are provided

[2020-07-09 17:44] #6585 closed

[2020-07-09 17:51] sebastienros commented on #6593
In the templates we just register resources to be rendered later. This might need another attribute (tag is too heavy) to change the behavior of the tags such that they render the resource inline.

Something line `<script asp-name="bootstrap" at="inline" />` which would not use the ResourceManager.Register call, but render the resource inline.

[2020-07-09 17:53] sebastienros commented on #6590
Duplicate of https://github.com/OrchardCMS/OrchardCore/issues/5536

[2020-07-09 17:53] #6590 closed

[2020-07-09 19:46] kevinchalet commented on #6605
Fantastic, thanks! @jtkech

Yeah, that sucks: Postman doesn't use Schannel and doesn't support the Windows Certificate store, so even if the TLS self-signed certificate used by ASP.NET Core is trusted, it doesn't work with Postman... 😕

Anyway, thanks a lot for taking a look at this issue 👏

[2020-07-09 22:25] jtkech commented on #6356
@ArieGato

Yes you're right

Each recipe step are excuted in a new scope where the session is committed at the end of the scope, so normally it is okay. But migrations are done first when activating the shell, and idem for migration recipes (through the `RecipeMigrator`) that are only intended to act on content definitions. And all of these need and are done in the same scope, that's why it doesn'

[2020-07-09 22:35] jtkech commented on #6565
Yes i will close it at it was mainly a discussion for people that want to prevent some view compilations even if we are in dev mode, this for module that are referenced as packages, and @ns8482e found a nice way to do that by implementing a custom `IApplicationFeatureProvider`.

@marlon-tucker you're right it's not related to rc2, feel free to open a new issue if you have any problem

[2020-07-09 22:35] #6565 closed

[2020-07-09 22:45] arkadiuszwojcik opened #6620 "Containers liquid filter"
Currently existing `container` liquid filter is very useful but it is limited to return just one, direct parent element for list item. However there are scenarious where we would like to return whole list of parents up to the root. In my particular case such list is required to render breadcrumbs (hierarchy of elements have few levels). I have created my own filter `containers` and now I wonder if

[2020-07-09 23:02] jtkech commented on #6620
Looks like a good idea, feel free to open a new PR to suggest it

[2020-07-09 23:29] ns8482e commented on #6593
If you want to render inline you could use plain html `<script>` or `<style>` tag

[2020-07-09 23:37] ns8482e commented on #6575
It’s `Antiforgery`  see #6214

[2020-07-10 02:23] ns8482e commented on #6565
@marlon-tucker It's not related.

This issue is all about excluding `cshtml` source from being `embedded in `assembly`  -  in case if you don't want to include `cshtml` source when you publish `nuget package` - by default Orchard Module embed everything in `assembly`

Thank you @jtkech @sebastienros

[2020-07-10 02:53] RockNHawk opened #6621 "The user has been disabled, but can still authenticated by OpenId."
The OpenId module does not seem to handle the User.IsEnabled field.

[2020-07-10 03:19] RockNHawk opened #6622 "How can I replace the service that registration by another module?"
In .NET Core, I can replace the service by these code, but in Orchard Core, the IServiceCollection is modularized, can't do with this:

           var descriptor = new ServiceDescriptor(
                    typeof(IUserService),
                    typeof(CustomUserService),
                    ServiceLifetime.Scoped);
            services.Replace(descriptor);

How can I replace the service that r

[2020-07-10 03:37] RockNHawk commented on #6622
It's OK, I must add the `OrchardCore.Users` module dependency declaration in my module's manifest.
Otherwise, my module may register Service before the `OrchardCore.Users` module, so the replacement operation is invalid.

[2020-07-10 03:37] #6622 closed

[2020-07-10 03:44] KshitizGIT opened #6623 "Custom recipe doesnot create contents"
Hi,

I created a custom recipe. It runs perfectly when running on Sqlite Database. But doesn't create contents while running on MySql and MSSQL. I have not yet tested for POSTGRES.

Could you instruct in understanding why this is the case ?

[2020-07-10 04:23] hishamco commented on #6623
Which version you are using?

[2020-07-10 04:23] hishamco commented on #6621
@kevinchalet any idea?

[2020-07-10 04:27] KshitizGIT commented on #6623
Do you mean Orchard version ?

[2020-07-10 04:29] hishamco commented on #6623
Yep

[2020-07-10 04:31] KshitizGIT commented on #6623
I used the ocms templates. So version is 1.0.0-rc2-13450

[2020-07-10 04:33] hishamco commented on #6623
I see, just last question are all the recipes reproduce the same issue or some of them?

[2020-07-10 04:52] KshitizGIT commented on #6623
I didn't understand what do you mean by all the recipes. Do you mean the steps ? All Query steps , Content Type Definition, Templates  are successful. I think the issues is in the executing the step "content"
[code]
This is the step defined in content.

[2020-07-10 05:57] RockNHawk commented on #6621
I found that openid uses `IUserService.AuthenticateAsync` to determine whether the user is effectively authorized, so I customized a UserService and rewritten `AuthenticateAsync` to solve this problem.

see also:

https://github.com/OrchardCMS/OrchardCore/issues/6622

    public class CustomUserService : UserService, IUserService
    {
        public CustomUserService(SignInManager<IUser> signInMa

[2020-07-10 06:37] hishamco commented on #6621
@RockNHawk could please open a PR to solve the bug?

[2020-07-10 06:37] KshitizGIT commented on #6623
The issue was because of the missing closing large bracked in ']' in my recipe.json file
[code]

[2020-07-10 06:56] hishamco commented on #6623
Strange!! BTW are using a built-in recipe or a custom one?

[2020-07-10 07:33] deanmarcussen commented on #6615
Update on this.

There are two / three issues to resolve.

One is a regression from https://github.com/OrchardCMS/OrchardCore/pull/6509
The second is a semantic regression / change from a long time ago when we migrated from bootstrap 3 to bootstrap 4
The third is the actual sizing of fields editors in the admin (`col-md-6`)

Let me explain (and sorry for the novel)

Bootstrap 3 had no auto sizing

[2020-07-10 08:35] xJonathanLEI opened #6625 "Website in portfolio seems to be built with WordPress"
The first showcase website [Sexual Assault Centre of Edmonton](https://www.sace.ca/) seems to be built with WordPress instead of Orchard...

I'm not a WordPress expert but I'm seeing things that seem to indicate a WordPress backend:

- WordPress folders:

![image](https://user-images.githubusercontent.com/19556359/87133807-70362380-c2ca-11ea-9647-cb70f2728093.png)

- builtwith.com [suggests](https

[2020-07-10 08:49] deanmarcussen commented on #6594
Thanks for the extra info @ruisdias without it I would have thought I fixed the issue.

But actually there are two issues here.
- Content Item Ids not being maintained across nested bags/widgets (easy fix)
- The Attached Media editor has an issue with it's handling of temp files. (hard to fix)

The attached media editor breaks it's images when you start creating a content item and then run the liv

[2020-07-10 09:01] hishamco commented on #6615
Aha, that's why I surprised when I saw this class ;)

I started the PR based on the latest dev

[2020-07-10 09:06] hishamco commented on #6625
If there's a `Powered-By` header has a `OrchardCore` that means it uses OC

[2020-07-10 10:01] xJonathanLEI commented on #6625
Fair enough. Then where is that header specifically?

![image](https://user-images.githubusercontent.com/19556359/87142574-518a5980-c2d7-11ea-8fda-7bb24dd9490f.png)

[2020-07-10 10:01] xJonathanLEI commented on #6625
By contrast:

![image](https://user-images.githubusercontent.com/19556359/87142647-6d8dfb00-c2d7-11ea-9ddf-4e7466af434d.png)

[2020-07-10 10:08] ns8482e commented on #6625
@xJonathanLEI @hishamco may be the site has switched to wp after listed?

[2020-07-10 10:19] deanmarcussen commented on #6625
Yes, it looks like they may have moved to WP

Thanks for discovering this @xJonathanLEI

/cc @agriffard to delist ?

[2020-07-10 10:20] deanmarcussen commented on #6625
and @Piedone for ShowOrchard

[2020-07-10 10:28] ns8482e commented on #6563
I guess it just need to `Forbid` the request

[2020-07-10 10:30] ns8482e commented on #6562
It also means `Vue.min.js` is not used

[2020-07-10 10:35] deanmarcussen opened #6627 "Placement does not work for fields on Dynamic Parts"
To repro

- create a dynamic part
- add a text field
- add a placement file, `placement.json` to the theme

specify
[code]

render, field will still show.

The issue is because we are building a new shape display context for dynamic parts, which has just the `FindDefaultPlacement` delegate that returns null

[2020-07-10 11:10] hishamco commented on #6625
May be

[2020-07-10 11:13] ns8482e commented on #6285
`@addTagHelper` makes tag helper available in view so if you have reference to the `assembly` then the tag helper is available in view/shape.

So you control the visibility of view/shape not TagHelper.

If a view is for specific `feature`  then only add `TagHelper` related to that feature on that view.

MVC controller (views) can be bound to feature, but shapes are discovered on module.

I would s

[2020-07-10 11:28] hishamco commented on #6285
Make sense, but the scenario I have to add it in the layout ;)

[2020-07-10 11:36] ns8482e commented on #6285
Tb

`Layout ` is shape so above mentioned will work for it,

E.g. default will be `Layout`  `Feature1` will show `Layout__FeatureOne` and Feature2 will show `Layout__FeaturTwo`

[2020-07-10 11:51] hishamco commented on #6285
Thanks a lot, I think I need to deep dive into shapes and zones ;)

[2020-07-10 12:15] ns8482e commented on #6285
Example of this scenario - injecting Zone is `AdminMenu`.

[2020-07-10 12:17] hishamco commented on #6285
Exactly!!

[2020-07-10 12:20] kevinchalet commented on #6621
Nice catch @RockNHawk. As @hishamco said, it would be great if you could send a PR! 👏

[2020-07-10 12:34] ArieGato commented on #6356
@jtkech

So, is this a bug?

[2020-07-10 13:11] marlon-tucker opened #6629 "I'm experiencing very slow razor compilations (at runtime), both on RC1 and RC2"
Hello,

I understand no one else is experiencing this which means it is very likely down to the environmental setup on my machine, however I would appreciate it if anyone has any ideas as to how I can diagnose what the root issue may be? I first noticed this issue when upgrading our projects to RC2, so I attempted to replicate it using the OrchardCore repository, and I could.

Here are the followi

[2020-07-10 13:35] ns8482e commented on #6338
@devhomecali `Preview` part allows you to configure `PreviewUrl` for `Preview` button in add/edit screen.

It doesn’t replace ootb content management UI.

You are still able see `view` OOTB screen.

[2020-07-10 13:41] ns8482e commented on #6629
If you are targeting only `rc2` and not dev and not intending to change source code,  then you can use NuGet packages from NuGet.org. Saves you compile time.

You don’t need full source code to use orchard core.

[2020-07-10 13:42] marlon-tucker opened #6630 "[Workflows] Http Request Event does not store the invocation token in a recipe"
Hello,

When workflows are saved into recipes it appears  the invocation token does not get persisted. I understand why this is as that token has various pieces of information encoded within it. However, it means the recipe can not auto link forms to workflows. After the recipe has been installed, someone has to go through all the forms and workflows making sure they are linked up correctly.

Is t

[2020-07-10 13:49] marlon-tucker commented on #6629
That was just to see if I could replicate this issue, and it happens even with referencing the OrchardCore Nuget dlls as Runtime Compilation is enabled if Orchard finds a `refs` folder.

[2020-07-10 13:52] Piedone commented on #6625
Yep, they moved to WP, sad. I've removed it from Show Orchard. Plenty others remain though: https://showorchard.com/gallery/category/orchard-core

[2020-07-10 14:01] ns8482e commented on #6629
For that @jtkech suggested following in #6565

Creat your own web project and use NuGet to achieve intended behavior by changing value of PreserveCompilationReferences

[2020-07-10 14:15] marlon-tucker commented on #6629
Thanks I'll give that a go for the project, but it still doesn't explain why my compile times are so long, unless 2.5s is a normal amount of time to compile each `cshtml` file?

[2020-07-10 14:16] kevinchalet commented on #6318
Looks like YesSql now supports having separate tables per entity. @jersiovic if it's still something you're interesting in implementing, we should probably do it before RTM. Otherwise, it will be a massive breaking change.

[2020-07-10 14:29] marlon-tucker commented on #6629
I added that into our project and it didn't seem to have any affect;.

[code]

[code]

I'm also noticing a huge number of logs similar to this:

`2020-07-10 15:23:50.445 +01:00 [DBG] ActId:|1cfb0db0-44f42ee2869709d9. => Failed to process the template Admin/{area}/{controller}/Index/{id?} for Route: Admin/{area}/{controller}/Index/{id?}. A required route value is missing, or has a different value f

[2020-07-10 14:43] agriffard commented on #6625
ok, site changed by another one on orchardcore.net.

[2020-07-10 14:44] #6625 closed

[2020-07-10 15:09] #6573 closed

[2020-07-10 15:28] ns8482e commented on #6629
try setting it to `false` and `publish`

[2020-07-10 15:50] ns8482e commented on #6629
@jtkech I just verified  `refs` is always exists even if there is no entry for `PreserveCompilationReferences` in app's `csproj`.
It seems orchard application target always use runtime compilation?

I think there should be a way to opt-out for runtime compilation when using nuget package.

[2020-07-10 18:16] jtkech commented on #6629
@ns8482e

Good catch things have changed, it was working [see this comment](https://github.com/OrchardCMS/OrchardCore/issues/4451#issuecomment-538112607). This property is set by a msbuild targets when you reference the runtime compilation package, but we don't reference it through the main app, only through `OC.Mvc.Core` where we use `ExcludeAssets="build"` to prevent the targets script, in the `

[2020-07-10 18:39] ns8482e commented on #6629
After your PR - is this something can be done in `OC.Cms.Web.csproj` such a way that for debug it takes `true`  and for `publish` it takes `false`?

[2020-07-10 18:49] marlon-tucker commented on #6629
So is it normal for razor compilations to take over 2 seconds for each `cshtml` file?

[2020-07-10 19:00] jtkech commented on #6629
@ns8482e

Maybe we could but we keep `PreserveCompilationReferences` to true by default for people having e.g. app level razor **shape** views for which runtime compilation is still required [as said in this comment](https://github.com/OrchardCMS/OrchardCore/issues/4451#issuecomment-538112607), so if they don't have any such app level **shape** views and don't want to output the `refs` folder on p

[2020-07-10 19:03] andrew2241 opened #6633 "Sitemap/SEO Exclusion Not Working"
I have enabled the Sitemap module in the admin area.  I have a particular content item that I have gone onto the SEO tab and checked the "Override sitemap configuration". I then check the Exclude checkbox, but the item still shows in my Sitemap.xml.

Things I have tried:
I have purged the cache.
I have cleared my browser cache,
I opened the sitemap.xml in incognito.
I updated all packages to lates

[2020-07-10 19:14] ns8482e commented on #6629
App level shape views are also compiled in in `.Views.dll` isn't it?

[2020-07-10 19:18] ns8482e commented on #6629
For dev using orchard core source, for me `vs code` is more efficient than visual studio 2019

[2020-07-10 19:55] ns8482e commented on #6629
@jtkech for RC2 Apps , If we set following in  WebApp.csproj will it work then to remove `refs` folder

[code]

[2020-07-10 20:18] jtkech commented on #6629
No, need to be applied to the right package, hmm maybe by referencing it again through the app, i will try it this night

Hmm, maybe i meant that app level shape views still need to be there (related to your other issue) and also outputed on publishing, i will check it this night

[2020-07-10 20:31] ns8482e commented on #6629
I guess App level should work without the issue as `.cshtml` are embedded for Shape harvesting.

[2020-07-10 20:54] jtkech commented on #6629
step by step

First, as said in the related PR, for rc2 apps you can set `PreserveCompilationReferences` to false as you tried and then reference the runtime compilation package directly from your app like this

    <PackageReference Include="Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation" ExcludeAssets="build;buildtransitive" />

[2020-07-10 21:01] jtkech commented on #6629
But app level shape views contents are not embedded in the application assembly that's why they need to be there (as liquid shapes views) unless maybe with a custom harvesting as you did. Then i will try again to see what happens if an app level shape is precompiled and if there is no refs folder

[2020-07-10 21:39] jtkech commented on #6629
Okay it works, even for an app level shape view, the precompiled view in `OC.Cms.Web.Views.dll` is used if there is no refs folder (make sense, i was wrong at some point).

The only restriction is that an **app level shape** needs to be there to be harvested, knowing that for modules shapes view contents are embedded in module assemblies. If it is worth, in another PR we could make a custom harves

[2020-07-10 23:02] jtkech commented on #6629
@marlon-tucker just tried on my old machine ;) seems to be 3 or 4 time faster

E.g. in your log

    at 'C:\github\OrchardCore\src\OrchardCore.Modules\OrchardCore.Admin\Views\Admin\Index.cshtml'
        completed in 2172.8166ms.

In my log

    at 'C:\Sources\Orchard2\src\OrchardCore.Modules\OrchardCore.Admin\Views\Admin\Index.cshtml'
        completed in 410.2631ms.

But as said in this thread if

[2020-07-10 23:26] jtkech commented on #6356
@ArieGato

No, the migration recipe executed in your `Migrations` so through the `RecipeMigrator` (and with other automatic migrations) should not include a `Content` step.

[2020-07-11 00:49] khurram4u2 opened #6634 "Trumbowyg icons don't display"
Hi, I have create a content type with following parts
![image](https://user-images.githubusercontent.com/56805276/87212765-a2479400-c363-11ea-9d6a-3b408002902a.png)

When I try to use trumbowyg editor for htmlbody part as per following SS
![image](https://user-images.githubusercontent.com/56805276/87212796-d458f600-c363-11ea-8153-ade72665ecd4.png)

trumbowyg editor bar icon doesn't show
![image](h

[2020-07-11 04:29] jtkech commented on #6594
@deanmarcussen

Yes at least i could repro, but as you said need to look, and think a little further

No problem i will try to help you on this one, but too lazy to start on it this night ;)

**Update**: That said just tried the following in `MediaFieldDisplayDriver` that seems to work

    // If it's an attached media field editor the files are automatically handled by _attachedMediaFieldFileServ

[2020-07-11 08:58] ArieGato commented on #6356
@jtkech
I have to disagree on this one. In the [docs](https://docs.orchardcore.net/en/dev/docs/reference/modules/Recipes/#recipe-migrations) it clearly states that anything from a normal recipe can be used in a recipie migration.

[2020-07-11 09:37] khurram4u2 opened #6636 "SubMenu on Side bar"
Hi there, is there a way to achive that submenu shows in side bar like following SS, where sub menu item of about us display on left side of page.

![image](https://user-images.githubusercontent.com/56805276/87221263-ef505800-c3ad-11ea-9399-f4cf2c5df87d.png)

[2020-07-11 11:39] ns8482e commented on #6636
Using Taxonomy feature, You can organize your content in hierarchy

[2020-07-11 11:51] hishamco commented on #6636
This is #4494 a good explanation from @dodyg

[2020-07-11 12:06] hishamco commented on #6634
@agriffard is there any regression bug?

[2020-07-11 12:17] agriffard commented on #6634
Your example works for me, but should keep the btnsDef if you want to see the image and align buttons:

[code]

![image](https://user-images.githubusercontent.com/703248/87223916-21979080-c381-11ea-9100-50bf514d27bf.png)

[2020-07-11 12:18] agriffard commented on #6634
Are you using the source code or a specific package version?

[2020-07-11 12:21] khurram4u2 commented on #6634
@agriffard I am using following package versions.

![image](https://user-images.githubusercontent.com/56805276/87224008-e8810f80-c3c4-11ea-9191-5e5ad989a810.png)

[2020-07-11 12:26] mohsinxmushtaq opened #6638 "Filter http request post workflow read body"
Hi, Im trying to read the body of http filter request workflow event, I have a API controller with post method, so I have setup the workflow event with controller name, action and area, when i post it triggers but the readbody() is always empty, now there is one catch if i remove view model parameters from my post, readbody() returns i have tried to enable content buffering in startup also

[code]

[2020-07-11 12:55] khurram4u2 commented on #6636
@hishamco is there any video tutorial to explain it a bit more in detail as I haven't used Taxonomy feature.

[2020-07-11 12:58] hishamco commented on #6636
I think @deanmarcussen did a lot of demos about Taxonomies, you could check the Lombiq YoubTue channel

[2020-07-11 13:59] #6627 closed

[2020-07-11 14:14] agriffard commented on #6416
Duplicate of #6634

[2020-07-11 14:14] #6416 closed

[2020-07-11 17:00] agriffard commented on #5434
See #6639 to export the GraphQL Schema.

[2020-07-11 23:26] jtkech commented on #6356
@ArieGato

Yes regarding the doc you're right ;)

The technical problem is that the first time we create a scope on a shell we activate it by calling activating handlers and this is where migrations are executed, so if in migrations we create a new scope on this shell whose activation is not completed we would call activating handlers again and again.

That said, in the same scope it may work beca

[2020-07-12 04:35] jtkech commented on #6356
@ArieGato

Okay i could repro, there are 2 definition records and the 1rst one doesn't include the `Custom` type

If in your migrations i add the `Custom` type before executing your migration recipe, so that all migrations stuff is done before the content step (included in your migration recipe), it works there is only one definition and with the custom type

That said i found 3 ways to fix it, no

[2020-07-12 07:13] B-Esmaili opened #6640 "How Users are informed of pending (halted) User Task activity of workflow operations?"
In Workflow we have a User Task activity which halts the workflow and wait's for user interactions to continue.Now the question is how users are informed there is pending works in dashboard? something like notification or whatsoever.

[2020-07-12 07:58] khurram4u2 opened #6641 "Render a Menu with 2 different template"
Hi, I want to using 2 different templates for same Menu using alternate. I am trying to render main menu using following shap tag. Could you please advise what will be template name, so it overides the default template.

{% shape "menu", alias: "alias:main-menu" , alternate: "Menu_Footer", required: true  %}

[2020-07-12 08:06] ArieGato commented on #6356
@jtkech

that's great!

Do you want me to create a more complex migration with multiple steps and the original TaxonomyField included in the CustomPart?

Also, maybe you can change the title of the issue? It has nothing to do with Taxonomies, but with the Content step in the recipe migration.

[2020-07-12 08:23] deanmarcussen commented on #6594
Thanks @jtkech for confirming.

Yes I tried the `-1` as well, and it will work, but not if the attached field is in a bag or a flow, because then it's content item id is == 0, because it will never be saved in the db.

I will look further, but my initial thought is that we should not be doing this file moving in the `DisplayDriver`, but in a `Handler`, on publish. Much like how we would manage aut

[2020-07-12 09:39] vitalybrandes opened #6642 "Create IndexProvider Issue"
Hi ,
please assist me, i am lost,
I have UI with Multi select combo, (I extend the user Info / Profile),
(Combo selection are between 0 to multiple..)
Once user click save (User Settings)  need to create IndexProvider forEach selection in the combox and i lost with it ;-(
please help me

pars of my code;

UserProfile.Edit.cshtml
[code]

How to create IndexTable from this FOREACH   --- - ExtendUser

[2020-07-12 11:08] staymo opened #6645 "Manage Own Media issue"
Just found that the permission "Manage Own Media" is not acting as what it means -- user with this permission can view/edit/delete all the media files. Is this a bug?
To reproduce,  just create a new user, don't assign it to any role, then give the role authenticated following permissions:
View all content;
Access admin panel;
Manage Own Media

version:     <PackageReference Include="OrchardCore.A

[2020-07-12 11:22] hishamco commented on #6645
I think I saw similar issue before, let me try to find it ...

[2020-07-12 14:48] ns8482e commented on #6641
@khurram4u2 Menu alternate is added based on MenuName, if you are using same menu `main-menu` then alternate rendered is same.

[2020-07-12 15:23] staymo commented on #6645
@hishamco Thanks.
Just noticed that I failed to put the version. my version is:
 "OrchardCore.Application.Cms.Core.Targets" Version="1.0.0-rc2-13799"

[2020-07-12 15:26] ns8482e commented on #6641
@khurram4u2 I have not tried, following is in documentation, see how alternates are added for menu

https://docs.orchardcore.net/en/dev/docs/reference/core/Placement/#manipulating-shape-metadata

[2020-07-12 16:00] hishamco commented on #6645
Thanks @staymo I will try to reproduce that too, @deanmarcussen is `Manage Own Media` works as expected

[2020-07-12 18:49] captmomo commented on #6465
My solution for this was to create a cutom input part, which has a field for max file size and a javascript portion in the template that checks the file size selected against the field when the onchange event is fired.

[2020-07-12 23:24] jptissot commented on #6640
I think right now it's meant to be an email notification. I think there is nothing preventing you from implementing a content type / item that holds user notifications

[2020-07-13 01:14] scleaver commented on #6593
@ns8482e - If you are using the resource management features like named resources, use-cdn etc then a plain HTML tag is not going to cut it unfortunately.

@sebastienros - I like your suggestion. I will have a go at creating a PR for this.

[2020-07-13 01:45] ns8482e commented on #6593
@scleaver if you are using cdn url and named resource then there’s no benefit  adding it at inline as it’s already an external url loaded separately from the document html

[2020-07-13 04:43] RockNHawk commented on #6621
I have opened a PR :-) @hishamco @kevinchalet

[2020-07-13 05:20] ns8482e opened #6649 "Released Device Preview Module on Nuget.org"
## Released Device Preview Module for RC2+
Device Preview module for RC2+ . This module adds an ability to see live preview for different devices while editing content item.

### Nuget Package
https://www.nuget.org/packages/Surevelox.OrchardCore.DevicePreview/

### Documentation Url
https://github.com/surevelox/OrchardCore.Modules/blob/master/DevicePreview/README.md

![image](https://user-images.g

[2020-07-13 05:57] jtkech commented on #6594
@deanmarcussen

Okay cool, didn't have any time to look at it further

Easy to say but we just need to know that we are in a `Preview` mode ;)

[2020-07-13 06:32] sturatcliffe opened #6650 "Publish Later CSS file not injected properly in production"
The publish later module needs a reference to ResourceManagement adding so the tag helpers work in prod.

[2020-07-13 09:19] vitalybrandes commented on #6642
For any one need it, closes to solution for me
https://github.com/OrchardCMS/OrchardCore/blob/f773246e47095945f207911479749732d1bad429/src/OrchardCore.Modules/OrchardCore.Taxonomies/Indexing/TaxonomyIndex.cs

[2020-07-13 09:19] #6642 closed

[2020-07-13 09:30] hishamco commented on #6621
I already did that 2 days ago, after I didn't get respond from you

Thanks

[2020-07-13 11:30] FelixStumvoll opened #6651 "Can't setup Registration and Login Script with Recipe"
I'm currently trying to setup a recipe to "bootstrap" my cms.
however i the login/register script wont get set.

the login settings (inside the settings step) look like this:
[code]

but the script wont get set. the same applies for the register script

[2020-07-13 12:27] agriffard commented on #6651
The script is correctly imported but there is a condition that displays the defaut commented script if the lineCount is equal to 1 (which is your case).

[2020-07-13 13:45] andrew2241 opened #6653 "Autoroute SetHomepage not setting value when homepage changes"
I am having an issue where the Autoroute.SetHomepage is always set to false.

I created a check in my alternate view for a content item that looks at the Autoroute.SetHomepage. When I load my homepage this value is set to false. I went in to the database and noticed that on 6/15/2020 my homepage had the Autoroute.SetHomepage = true. Then I had made some modifications or republished the homepage on

[2020-07-13 14:06] deanmarcussen commented on #6653
This is actually by design.

I fixed a bug recently where the property was being allowed to be set true and saved to the database.

The reason for this design is because otherwise this property would be set true for many homepages when you changed the homeroute. Otherwise we would have to look up the existing, set it false, save it as well, then allow the new one to be true.

Not sure what workaro

[2020-07-13 14:12] hishamco commented on #6621
@RockNHawk I reopen this for tracking, it will be closed when the PR is merged

Thanks again

[2020-07-13 14:24] ArieGato commented on #6356
@jtkech

I cherry picked the commit and tested it. It looks like something doesn't work anymore. The newly created content by the recipe migrator is not available to the ContentAliasManager.

1. Add a content item with a recipe migration.
2. Get the ContentItemId of the created content with the ContentAliasManager
3. The id is null

[code]

[2020-07-13 15:16] andrew2241 commented on #6653
Thank you Dean.  This helps out a lot.

[2020-07-13 15:16] #6653 closed

[2020-07-13 15:35] marlon-tucker commented on #6629
Hello,

Thank you all for your help in this, I have now successfully got Orchard to use the pre-compiled view files instead. We generally don't modify `cshtml` files at debug time anyway so having to turn off that feature is acceptable.

As for why view compilation is so slow on my machine, no idea, but am happy to put that down to an environmental issue.

[2020-07-13 15:53] marlon-tucker opened #6654 "Routing.DefaultLinkGenerator Performance issues (RC2)"
Hello,

Something odd is happening with the `DefaultLinkGenerator`. I'm unsure if this is an issue with Net Core or if it's something to do with the way Orchard is registering Endpoints from within the various modules.

In our main theme's `Layout.cshtml` we have the following piece of cshtml snippet:

[code]

This generates the following in the log:

[code]

This takes 250ms to complete, which is

[2020-07-13 15:57] sebastienros commented on #6654
How do you proceed to see this level of logging? Do you see a perf issue then enable logging for a specific component? Or do you have it enabled for all compoenents all the time?

[2020-07-13 16:16] marlon-tucker commented on #6654
hmm now I feel a bit of a numpty, I had debug logging turned on for everything. After adding some overrides to restrict that a bit, the admin page now renders in 95ms.

I know logging hurt performance, but not to that extent!

Anyway, apologies, and now closing this issue...

[2020-07-13 16:16] #6654 closed

[2020-07-13 16:27] sebastienros commented on #6654
Was my guess, and maybe for your other compilation issues. I had never seen this detailed level of logging, and in this case it's in a file so it's might be bad if you hard drive is slow too.

[2020-07-13 16:30] marlon-tucker commented on #6654
It's using Serilog File Sink wrapped in the Async Sink so in theory logging should be disconnected from disk write speed, plus it's an SSD. But yeah, was a big difference reducing the logging.

[2020-07-13 18:24] deanmarcussen commented on #6594
@jtkech yes I haven't had any time either.

I remember @sebastienros had an idea when we introduced `-1` to improve it, but I can't remember what it is.

I can check the route dictionary for a `contentItemId` - there will be one if it has been routed, but not in preview mode I suspect.

Handlers will be challenging when I looked, there is it would still need to know if it's in preview.

And it can

[2020-07-13 19:37] ns8482e commented on #6503
@TFleury `ShapeAlterationBuilder` has `Placement` event

https://github.com/OrchardCMS/OrchardCore/blob/acee23ef121a09568198ebda164d591ae9f084ed/src/OrchardCore/OrchardCore.DisplayManagement/Descriptors/ShapeAlterationBuilder.cs#L185

[2020-07-13 20:19] ns8482e commented on #6503
@TFleury All I was doing is defining `IShapeTableProvider` and calling as following,

[code]

[2020-07-13 21:14] jtkech commented on #6356
@ArieGato

See my comment in the related PR

So in my PR, when you call `_recipeMigrator.ExecuteAsync()` the steps will be executed in a deferred task at the end of the current scope, so when you call `GetContentItemIdAsync()` your recipe has not been executed yet.

If you use it in a `DataMigration` the current scope is the one used to activate the shell and normally here you don't have to do thi

[2020-07-13 21:20] jtkech commented on #6629
@marlon-tucker

Okay cool, i keep this issue open as it will be automatically closed if the related PR get merged

[2020-07-13 21:36] agriffard opened #6655 "Edit CommonPart Created date"
If you want to edit the CreatedDate of a content by adding a CommonPart and checking the 'Display date editor' setting, then the input is displayed with seconds and milliseconds.

Ex if the value is 2020-07-14T00:00:12.345:

![image](https://user-images.githubusercontent.com/703248/87355928-7f82ce80-c561-11ea-8927-95ca3d566c4d.png)

Unfortunately, a datetime-local input doesn't let you edit the se

[2020-07-13 23:34] Piedone opened #6657 "Add helper for generic site settings deployment step"
Small improvement on https://github.com/OrchardCMS/OrchardCore/pull/6570/files: Add a helper/extension method for registering a site settings deployment step (i.e. what you can see in all the `DeploymentStartup`s) in the common configuration (that all registrations under the PR seem to be doing). Would maybe need a type parameter for the settings class, another one for the startup class (to resolv

[2020-07-13 23:38] jtkech commented on #6594
@deanmarcussen

Still a little hacky but the following also works if the attached field is in a bag

    private readonly bool _isPreview;

    public MediaFieldDisplayDriver(
        IHttpContextAccessor httpContextAccessor,
        AttachedMediaFieldFileService attachedMediaFieldFileService,
        IStringLocalizer<MediaFieldDisplayDriver> localizer,
        ILogger<MediaFieldDisplayDriver> log

[2020-07-14 04:13] ns8482e opened #6658 "De-list Github packages"
Github packages are confusing - current release is `RC 2 (latest)`.
However Github packages are showing `1.0.0-rc1-13285`

If Github packages are not being updated on every release, it's better to de-list them to avoid confusion.

[2020-07-14 04:18] ns8482e commented on #1249
Related #6404

[2020-07-14 04:57] rserj commented on #6585
I had the same issue, I run orchardcore in a docker container (latest dev "orchardproject/orchardcore-cms-linux:dev" via AWS Fargate) I'm installing one by using MySql and Agency recipe. After I hit the install button I got the same error

`An unhandled exception occurred while processing the request. DirectoryNotFoundException: Could not find a part of the path '/app/App_Data/Sites/Default/Conten

[2020-07-14 05:49] FelixStumvoll commented on #6651
ah thanks for the info

[2020-07-14 05:49] #6651 closed

[2020-07-14 06:09] ChocoMachine commented on #5522
We have this issue again in Version="1.0.0-rc2-13809"...

![image](https://user-images.githubusercontent.com/7971514/87390481-48a5ca80-c5ec-11ea-8303-fe3f827aa0b9.png)

[2020-07-14 06:17] ChocoMachine commented on #5522
![image](https://user-images.githubusercontent.com/7971514/87391029-5445c100-c5ed-11ea-9b60-f48fbc9bd2c6.png)

and lang = "ltr"
![image](https://user-images.githubusercontent.com/7971514/87391145-8c4d0400-c5ed-11ea-99cb-d9331549cc5c.png)

[2020-07-14 06:19] FelixStumvoll opened #6659 "OpenId Connect Recipe Step not working"
Im trying to setup the `OpenIdServerSettings` with a Recipe as shown [here](https://docs.orchardcore.net/en/dev/docs/reference/modules/OpenId/).
This is my current step:
[code]
however if `EnableAuthorizationEndpoint` is disabled, it crashes and bricks the cms showing this error:
![image](https://user-images.githubusercontent.com/22666794/87391252-b03b2600-c5aa-11ea-8da2-292602521f60.png)

also if

[2020-07-14 08:38] deanmarcussen commented on #5522
Yes, I just fixed the issue here for another pr.

Someone has added this code in a few places.
[code]

which is overwriting the entire trumbowyg lang dictionary.

Equally I don't understand what adding this `_dir` would do to trumbowyg.

@hishamco did you add this?

the fix is to do this instead
[code]

but I would like to know what adding this achieves

[2020-07-14 08:40] ArieGato commented on #6356
@jtkech

I need the Id of the new Taxonomy content item for the Taxonomy field settings. If I understand correctly this is not possible.

Then how can I add a Taxonomy field to a ContentPart in a DataMigration when the Taxonomy content item has not yet been created?

[2020-07-14 09:05] FelixStumvoll commented on #6659
i just tried it with a asp.net application and orchard core as a nuget dependency and there it works just fine

[2020-07-14 09:28] deanmarcussen commented on #6659
I think this was fixed recently in
https://github.com/OrchardCMS/OrchardCore/pull/4720 to resolve this issue https://github.com/OrchardCMS/OrchardCore/issues/6602

You didn't say which version you are using initially but maybe an older one?

Also worth seeing the announcement on the changes to open id that happened last week. It is pinned

[2020-07-14 09:46] deanmarcussen commented on #6657
@Piedone you should come or listen to the meetings where we discuss these things more often ;)

The issue is the the https://github.com/lukaskabrt/PoExtractor will not find these strings if held in an extension method.

The suggestion was to open an issue there, to provide, possibly an attribute which could serve as an identifier, on the startup classes so that the extractor would look at the func

[2020-07-14 10:40] deanmarcussen commented on #6199
For notes on O1 tokens.

Here's the current list from O1, which is a good indicator of where they were used, and maybe useful. Noting that many of these currently have very appropriate liquid equivalents, so there is no suggestion they should go everywhere...

![tokenspage1](https://user-images.githubusercontent.com/13782679/87416558-c951d000-c5c6-11ea-9e0d-6bda16502a7a.PNG)
![tokenspage2](https:/

[2020-07-14 10:52] hishamco commented on #6657
@deanmarcussen if the lack is that PoExtractor not find the localized strings in extensions methods, I can work to support this

[2020-07-14 10:58] hishamco commented on #5522
If I'm not wrong I did that long time ago, for RTL issues, but what's the wrong with that, while it relies on the current culture?

[2020-07-14 10:59] hishamco commented on #1249
Can we close this while it's a duplicate of #6404?

[2020-07-14 11:01] deanmarcussen commented on #5522
Ok, yes, i had a read of the trumbowyg docs.

The problem here (and in their docs) is you have replaced the entire trumbowyg lang dictionary, where you needed to just add a key.

I fixed it in https://github.com/OrchardCMS/OrchardCore/pull/6661

[2020-07-14 11:02] deanmarcussen commented on #6657
@hishamco have a watch of last weeks meeting video for the suggestion and explanation of the issue

[2020-07-14 11:06] hishamco commented on #6657
I didn't see the last meeting, I'm not sure if it's published on YouTube yet, is the issue explained during the demos?

[2020-07-14 11:08] hishamco commented on #5522
I see, thanks

[2020-07-14 12:01] agriffard commented on #6199
It is also very clear to me than the equivalent of 01 tokens are Liquid filters.

Shortcodes are a way to render more complex html from a simple tag under bracket with parameter(s).

[2020-07-14 12:11] agriffard commented on #6199
Sometimes, we will have to make a choice, for example with some helper that generates a small amount of html from a parameter.

Let's think about a Gravatar link that generates an `<img/>` from an email address:
Do we provide a Liquid filter, a Shortcode or both?

- Liquid is interesting because it can be used in HtmlBody, Markdown and Liquid (Parts and Fields).
- Shortcode is interesting because

[2020-07-14 12:21] deanmarcussen commented on #6199
For me the difference is shortcodes are discoverable, and liquid will not be.
so shortcodes are more for content editors (i.e. html fields etc al), and liquid filters are for developers (of templates / site etc).

shortcodes are always considered safe

[2020-07-14 12:21] FelixStumvoll commented on #6659
ah yes im sorry
i think i was using an older version, my bad

[2020-07-14 12:21] #6659 closed

[2020-07-14 12:43] #6496 closed

[2020-07-14 13:08] #6650 closed

[2020-07-14 13:17] Piedone commented on #6657
Ah, thanks Dean!

[2020-07-14 14:33] hishamco opened #6663 "Git Issue"
Suddenly my laptop shutdown when I'm trying to push a commit into `hishamco/open-id` branch, now when I'm trying to use `git` the following message show up "**fatal: not a git repository (or any of the parent directories): .git**"

I'm still struggling to recover the repo, coz I don't wanna lose all the working local branches

[2020-07-14 14:33] serverside-is opened #6664 "Order Categorized Items for each Taxonomy Term"
Just like has been done with Lists and Contained items, we need to be able to sort/order the items categorized with a taxonomy term.

As an example, please look at the Orchard1 site [https://www.spgl.pt](https://www.spgl.pt), where the first page has widgets, each of them showing/projecting content items categorized with a particular taxonomy term (belonging to a taxonomy called Featured, with ter

[2020-07-14 14:57] agriffard opened #6666 "Content Edit: Link to go back to content items"
When you edit a content, if the content type is Listable, we should display a breadcrumb menu to allow to go back to the list of content items of the same type or to a returnUrl we came from if set.

[2020-07-14 15:00] agriffard commented on #6666
The use case I often encounter is that I create a content item from the `New` menu.
Then it redirects to the Edit page and if I want to go to the content items, I need to expand the `Content` menu, click on `Content items` and filter on the expected Content type if needed.

[2020-07-14 15:18] remesq opened #6667 "OrchardCore.Forms Checkboxes Not Maintaining State Upon Re-Displaying Page After Validation Error"
I brought up an issue last month regarding Workflow validation of a Checkbox List that I was trying to create. See https://github.com/OrchardCMS/OrchardCore/issues/6472. Basically, although I could set up a Workflow to validate this Checkbox List, the problem was that the values of the individual checkboxes were not being maintained when the form was re-displayed if there were other validation err

[2020-07-14 15:46] RobinC4 opened #6668 "Help on OpenID"
Hi,
Just a question if someone can help me or point in the right direction.
I'm a bit new to the identityserver and openid, and the documentation on both orchard core as other sources like openiddict are a bit overwhelming for me with all the types of flows and all...

The question is on how to set it up working. The openId module probably makes it easy, but I can't get it right.
Idea is to have t

[2020-07-14 16:23] hishamco commented on #6668
I'm new to Identity Server too ;) It's in your plate @kevinchalet

[2020-07-14 16:24] hishamco commented on #6668
Regarding SSO it's not supported but it's doable in OC

[2020-07-14 16:37] kevinchalet commented on #6668
Hey,

The token validation feature is for API endpoints. What you're looking for is the client feature if you want a tenant to authenticate users using an OpenID server located in another tenant.

For that, create a new client in the server tenant and enable the client feature in your other tenant. You'll then need to populate the server details in the configuration UI (we don't currently offer a

[2020-07-14 17:12] deanmarcussen commented on #6594
@jtkech will work.

But I am more tempted to put something in the `httpcontext.items` dictionary in the `PreviewController` to say `Preview` is active, and check that, rather than checking route values here.

Possibly because others might implement their own preview controllers, so that way we would have a more defined way to say we are in preview mode - thinking of you @ns8482e and your new previ

[2020-07-14 17:19] nitewulf opened #6669 "OpenId Audiences settings is missing from RC2"
I feel like that setting is the missing sauce to enable accessing protected routes on my Strapi server.  I was reading through the doc here: https://docs.orchardcore.net/en/dev/docs/reference/modules/OpenId/

and see that I need to tell the OpenId module that I want to have access to an external resource server.  These are all the settings that I see on my server.  How do I get that Audiences set?

[2020-07-14 17:31] hishamco commented on #6669
/cc @KeithRaven

[2020-07-14 18:22] ns8482e commented on #6594
Thanks @deanmarcussen , I am also using ootb preview feature in my device preview module. I like the idea of using `httpcontext.items` How about using `[Preview]` attribute defined on controller/razor page defines it as preview request ? similar to what we do for admin

[2020-07-14 18:28] agriffard commented on #6658
We need to contact GitHub support to delete public packages:
https://docs.github.com/en/packages/publishing-and-managing-packages/deleting-a-package#about-public-package-deletion

[2020-07-14 18:51] ns8482e commented on #6658
@agriffard not asking to delete  - just hiding it. Isn't there any option to un-list the package?

[2020-07-14 18:52] nitewulf opened #6671 "Tenants is greyed out for adding a new scope"
I am trying to access a protected route on a Strapi server after logging in with OrchardCore.  I have been able to add Orchard as a provider in Strapi and get an Authorization token back from Orchard.  I believe I need to pass in additional Scopes during the auth process to get access to the protected routes.  For example, Strapi tells me one of my routes is bound to "storage-location.find".  So I

[2020-07-14 19:41] agriffard commented on #6172
Reopened because @sebastienros argued about the related PR during the meeting that the use of the shapes was a complex solution and might be hard to understand why we did it like this in the future.
Ex: `editor.Metadata.Wrappers.Add("Resource_Wrapper__MediaField");`

[2020-07-14 19:42] agriffard commented on #6172
Also, @PiemP please find shorter titles for your future PRs ;-)

[2020-07-15 00:37] jtkech commented on #6594
@ns8482e @deanmarcussen

Okay let's use `httpContext.Items`, i also like to use `httpContext.Features` often used by aspnetcore, but just saw that if there is a `PreviewPart` and a `PreviewAspect`, the `PreviewController` already uses `HttpContext.Items["PreviewPath"]`.

Note: Just to say that the `ShellScope` also has items and features collections.

[2020-07-15 03:10] mbarsott commented on #5935
Pull Request #6611 submitted. Also resolved some comments about the use of constants instead of string literals.

[2020-07-15 07:11] deanmarcussen commented on #6594
Hey, we all agree on something ;)

[2020-07-15 07:28] PiemP commented on #6172
I try to do my best ... be clear with words is not my feature 🤣

Ex: editor.Metadata.Wrappers.Add("Resource_Wrapper__MediaField");

If you have some example in code I could try to do a PR to fix the loading of multiple scripts and localization labels with the preferred method.

[2020-07-15 08:03] deanmarcussen commented on #6247
Yes, the issue is it's creating new dynamic permissions, so will move that to core

[2020-07-15 08:03] deanmarcussen opened #6672 "Modules should not reference other modules"
While working on another pr I noticed just how many modules are referencing other modules for no need.

Mostly this is just because they are doing so to get transitive references.

The lists project is an exception to this (dynamic permissions) and a seperate issue https://github.com/OrchardCMS/OrchardCore/issues/6247

[2020-07-15 08:08] RobinC4 commented on #6668
Thanks a lot, I will look into this then.

Thanks, so I was indeed not using the right module.
I've done the steps of adding the client application in the authorization server, then enabled the client feature in the tenant and set the details:
- authority: https://localhost:5001/connect/authorize
- selected Code Authentication Flow with Use 'code' response type and set the client secret at the bot

[2020-07-15 08:50] Flarescape opened #6674 "Liquid "container" not working correctly inside flow part of content items inside list part"
Because the title is a little bit confusing, the following explanation also provides the repro steps for this scenario.

1. Create a `ContentType (**A**)` with a `ListPart`
2. Create a `ContentType (**B**)` with a `FlowPart`
3. Add **B** to the `ListPart `of **A**
4. Create a new `Item A`
5. Create a new `Item B` inside the `ListPart` of **A**
6. Create a nested layout inside the `FlowPart` of new

[2020-07-15 09:21] serverside-is opened #6675 "Pager issue with taxonomy term lists of categorized items on the front end"
The pager is not working with the list of categorized content items for a taxonomy term.

Repro:

1. Create a Blog using the Blog recipe
2. Add/Clone a few Blog Posts. Use the Taxonomy Picker to categorize many of them with the same Term (e.g. "Earth").
3. Go to the Site and enter the Term page (e.g. https://localhost:5001/tags/earth)
4. Try the pager

At a first glance, looks like the pager is cr

[2020-07-15 10:22] deanmarcussen commented on #6172
Mostly it is some formatting issues @PiemP and with the wrappers.

It is easier to just do a pr than explain, so I will do one, and put some comments on so you can review, and perhaps test

[2020-07-15 10:26] RobinC4 commented on #6668
I added something in startup.cs for that PII is hidden, and got this message to show now also:
IOException: IDX20807: Unable to retrieve document from: 'https://localhost:5001/connect/authorize/.well-known/openid-configuration'. HttpResponseMessage: 'StatusCode: 404, ReasonPhrase: 'Not Found', Version: 1.1, Content: System.Net.Http.HttpConnectionResponseContent, Headers:
{
Date: Wed, 15 Jul 2020 1

[2020-07-15 10:56] marlon-tucker opened #6677 "Adding HttpClient Service out of order causes NullReferenceException"
Hello,

We were originally experiencing this with Orchard RC1, but due to the stack trace I suspected it may be an dot net 3.0.x issue, however after upgrading to RC2 and dotnet 3.1.5, the same behavior is happening.

When we enable the `OrchardCore.Recaptcha` module, an error page is presented showing the following stack trace:

[code]

After much digging, this issue is caused by a combination of

[2020-07-15 11:34] marlon-tucker commented on #6677
I've tried this using the `OrchardCore.Cms.Web` project that's in the OrchardCore git repo using the RC2 tag and it works, so it must be something to do with the way our web project is initiated.

So the urgency on this has decreased as it isn't an issue with Orchard Core itself, but if anyone has any ideas on where I should be looking I would be grateful.

[2020-07-15 11:49] hishamco commented on #6677
Do you mean that when you enable ReCaptcha module from your app - which I supposed used the latest bits - it throws NRE?

[2020-07-15 12:45] marlon-tucker commented on #6677
Yeah, our app references the RC2 Nugets

[2020-07-15 12:59] hishamco commented on #6677
How your `Startup` is look like?

[2020-07-15 13:17] marlon-tucker commented on #6677
The line that is going pop is this:

SourceLinked from HttpClientBuilderExtensions.cs
[code]
I'm still not sure where the NRE is originating from, as the `Single()` call should throw a InvalidOperationException if no items meet the given predicate.

I notice `builder.Services` is a Orchard type of `OrchardCore.Environment.Shell.Builders.FeatureAwareServiceCollection`

Our `StartUp` file is quite l

[2020-07-15 13:39] Jetski5822 opened #6678 "Create ambient Activity on IBackgroundTask"
For IBackgroundTasks, we should be creating an ambient Activity for diagnostics

[2020-07-15 13:43] RobinC4 commented on #6668
Okay, so after a break doing something else, took a new look, saw in the console some more logs and figured I needed to put the callbackpath settings of the tenant on the main server tenant. Then everything worked.
Am happy!
This will be easier to set up again now I know some more, but there's still a lot of information to process like the different flows.

We will take a look at doing the SSO in

[2020-07-15 14:06] deanmarcussen commented on #6674
I am struggling to understand your description. But I suspect what you are trying to do would not work.

Can you post a screen shot of your content item?

`{{ Model.ContentItem | container }}` will only work on the item that is a member of a list, not any nested items.

[2020-07-15 14:24] marlon-tucker commented on #6677
A bit closer,

I added a test HttpClient to one of our project modules to see if the NRE is thrown for any typed HttpClient, and it does. I then used a bit of refection to mimic what the net core code is doing:

[code]

Turns out the service descriptor for `HttpClientMappingRegistry` has somehow been swapped out for one which uses a implementation factory, which the dot net core code is not expect

[2020-07-15 14:39] agriffard commented on #6653
Can you please tell me what is the reference to the fix you mention @deanmarcussen?

[2020-07-15 14:46] deanmarcussen commented on #6653
https://github.com/OrchardCMS/OrchardCore/blob/ab3a1e4ec060dd30b0a19736e05f4db30b56151e/src/OrchardCore.Modules/OrchardCore.Autoroute/Handlers/AutoroutePartHandler.cs#L117

[2020-07-15 14:49] ns8482e commented on #6674
@deanmarcussen IMO liquid filter `container` name is misleading, it seems its only for `ListPart`  but it's name adds confusion to content type `Container` which uses `FlowPart`

https://github.com/OrchardCMS/OrchardCore/blob/6cddd9f9904ff117ba82587f39fc76f49fac3cc3/src/OrchardCore.Modules/OrchardCore.Liquid/Filters/ContainerFilter.cs#L27

[2020-07-15 14:58] vitalybrandes commented on #6263
I test it again and what actually happen is that AddClaim was successfully done, but once i am authenticating via /connect/userinfo  (WPF Desktop app) i am receive everything except "company"

@kevinchalet  Do you know why that can be?

[2020-07-15 15:05] kevinchalet commented on #6263
The userinfo endpoint only returns a limited predefined set, so your custom claims are simply ignored: https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/UserInfoController.cs

There's currently no hook to allow you to return custom claims from the default userinfo action.

[2020-07-15 15:23] vitalybrandes opened #6680 "Admin Menu Content Type , show list of all content types"
Added admin menu for specific content type, and in the list its shoes all content types

![image](https://user-images.githubusercontent.com/61165619/87563686-30a37900-c6c8-11ea-8ce6-499d330eff0d.png)

[2020-07-15 16:38] micnyk commented on #6208
+1
I'm facing the same issue

[2020-07-15 16:56] marlon-tucker commented on #6677
I found out why it's happening on our code base. In `OrchardCore.Environment.Shell.Builders.ServiceProviderExtensions.CreateChildContainer(...)` It creates a cloned `IServiceCollection` and the `HttpClientMappingRegistry` gets cloned as a factory method because it does not implement 'IDisposable`.

The code for `AddHttpClient` assumes this service has an instance. IMO slightly hacky of them but it

[2020-07-15 17:08] vitalybrandes commented on #6263
Can I some how add my own scope?
Otherwise, is there any way I can return on authorization - my user profile? (Include company and some.more fields)?

[2020-07-15 17:15] deanmarcussen commented on #6677
@marlon-tucker from the look of your startup you are adding a lot of services at application host level, rather than at tenant services / modular level.

One of those maybe overriding something that `.AddOrchardCms()` is doing

I would suggest trying to disable much of your startup and work backwards.

To register things at a tenant services level you can use `AddOrchardCms().ConfigureServices()`

[2020-07-15 17:32] thomasebsmith opened #6681 "DiscardDraft Removes Autoroute Data"
When discarding a draft of a routed content item, the route is discarded even if a version of the content item remains published.

This issue is almost exactly the same as #4763, but for the [Autoroute module](https://github.com/OrchardCMS/OrchardCore/blob/ab3a1e4ec060dd30b0a19736e05f4db30b56151e/src/OrchardCore.Modules/OrchardCore.Autoroute/Handlers/AutoroutePartHandler.cs#L137).

### Reproducing

[2020-07-15 17:51] marlon-tucker commented on #6677
Will doing that add them into the `FeatureAwareServiceCollection`?

[2020-07-15 18:27] nitewulf commented on #6669
I also have tried using a recipe as shown in the doc:
https://docs.orchardcore.net/en/dev/docs/reference/modules/OpenId/#configuration

I get an exception when I try and run it:
Error converting value "JsonWebToken" to type 'OrchardCore.OpenId.Settings.OpenIdServerSettings+TokenFormat'. Path 'AccessTokenFormat', line 15, position 38.

Is this doc outdated:
"AccessTokenFormat": "JsonWebToken", // J

[2020-07-15 18:58] nitewulf opened #6682 "OpenIdServerSettings Recipe Ignoring Audiences"
My recipe which does execute is not working fully.  I have noticed three issues.

1.  The Signing/Encryption appears to be ignored.  I know the settings are correct but in the UI for the settings I have to configure it manually.

2. The AccessTokenFormat in the doc says to use JsonWebToken as the value.  That is wrong.  It just needs to be JWT.

3. Most importantly, the Audiences are ignored.  Her

[2020-07-15 19:39] kevinchalet commented on #6671
The server tenant is always disabled because it's always included in the access token audiences, even if you use no scope.
That said, I agree it's not super clear: we should probably check the server tenant checkbox even if it's always greyed out.

[2020-07-15 19:41] kevinchalet commented on #6669
Exclusively via scopes. The `Audiences` mentioned in the documentation is a quite old leftover. I'll make sure it's removed.

Actually no, it's the opposite: the documentation applies to the latest nightly builds, where the values have been tweaked for clarity.

[2020-07-15 19:42] kevinchalet commented on #6682
Please don't open multiple threads for what is basically the same question.

[2020-07-15 19:44] kevinchalet commented on #6669
Fixed: https://github.com/OrchardCMS/OrchardCore/commit/1362bf3d06ede66a69c981fee5113e9d1433866c

[2020-07-15 19:44] #6669 closed

[2020-07-15 20:19] agriffard opened #6684 "Create Template for Content Type: Improve user experience"
The UX needs some improvements when you create a template from the Edit page of a content type, clicking on the 'Edit Templates' dropdown button and selecting an action to create a Details or Summary view.

It is not obvious, for people that don't know what Templates are, to understand what happened.

Some people reported on Gitter that they clicked on the button and then didn't know why the Detai

[2020-07-15 20:20] pbros opened #6685 "View Localization from PO translation not working with GraphQL for Localized Content"
When rendering HTML from a GraphQL query using the "render" field, the CurrentUICulture is not being set. This means that any string localization in a Razor template is not being translated.

Repro Steps:
* In a theme, edit a Razor View and add a `@T["My text to translate"]` (use that view of a ContentItem that has a LocalizationPart)
* Create the translation in a .po file
* Query the content item

[2020-07-15 20:53] #6671 closed

[2020-07-15 20:54] kevinchalet commented on #6668
Glad you sorted it out, @RobinC4! 👏

[2020-07-15 20:54] #6668 closed

[2020-07-15 20:57] kevinchalet commented on #6682
As said in the other thread, audiences are configured via scopes and not globally via the server settings.

Regarding your other questions, the name changed in the nightly builds - as announced in https://github.com/OrchardCMS/OrchardCore/issues/6608.

The docs for RC2 can be found here: https://github.com/OrchardCMS/OrchardCore/blob/1.0.0-rc2/src/docs/reference/modules/OpenId/README.md

[2020-07-15 20:57] #6682 closed

[2020-07-15 21:02] thomasebsmith opened #6686 "NullReferenceException When Displaying Blank HtmlBodyParts"
When displaying a blank HtmlBodyPart while sanitizing is off, a NullReferenceException is thrown:

   at Shortcodes.ShortcodesProcessor.EvaluateAsync(String input)
   at OrchardCore.Html.Drivers.HtmlBodyPartDisplayDriver.BuildViewModelAsync(HtmlBodyPartViewModel model, HtmlBodyPart htmlBodyPart, HtmlBodyPartSettings settings) in orchardcore\src\OrchardCore.Modules\OrchardCore.Html\Drivers\HtmlBody

[2020-07-15 22:00] sebastienros opened #6687 "Render better error message with AntiforgeryToken"
Create a filter that will intercept IAntiforgeryValidationFailedResult and write a meaningful response.

Example:

https://github.com/dotnet/aspnetcore/blob/321327f84b2b22dcff2e9beb06a9a64236c5cced/src/Mvc/test/WebSites/BasicWebSite/Filters/RedirectAntiforgeryValidationFailedResultFilter.cs#L11

Test that Views are not impacted, and APIs return a message on top of the 400 result.

[2020-07-15 22:37] nitewulf opened #6688 "New Tenant non HTTPS"
I've learned that I need to create a Tenant and tell a newly created Scope that it is associated with that tenant for the generated JWT to include the correct resource server.  I'm in the processing of setting up the new Tenant, but it is just running over HTTP

After setting the host name, I see that the Tenant URI is automatically prepended with https://.  Is there a config file that can be upda

[2020-07-16 00:08] scleaver commented on #6593
@ns8482e - you seem to be suggesting that there is another way around my need without creating an at="inline" enhancement but your not explaining your alternative solution. I would like to hear you out and understand your alternative.

First let me explain again in my use case - I want to use managed resources and managed resource features but I do not want the output (the link) of my managed reso

[2020-07-16 00:30] jtkech commented on #6356
@ArieGato

I found a better and simpler way to fix it, see my last comment in #6648, here the main part

And **without doing a session detach** on this already loaded document, so it fixes the issue and without having to execute a migration recipe in a deferred task, as before. **I retried your module in this context and it was working**

[2020-07-16 02:06] jtkech opened #6691 "Manifest circular dependency"
Just saw in the manifests this circular dependency

    OC.Contents => OC.Liquid => OC.Contents

Also the `ContainerFilter` defined in `OC.Liquid` may have to be defined in `OC.Lists`, didn't check other ones.

[2020-07-16 02:07] jtkech commented on #6674
@ns8482e I agree and maybe it would have to be defined / registered in `OC.Lists`, see #6691

[2020-07-16 03:20] ns8482e commented on #6593
IMHO having named resource defined with `inline` won't help,

As,

1.  `css`  is applied to whole document, regardless of location of  `<style>` tag within document,  - In case If same style is defined more than once, browser takes the later definition by overriding first definition

2.  named resource gets rendered only once in the document. so due above reason,  It really doesn't matter if it's

[2020-07-16 05:34] khurram4u2 opened #6692 "Accessing Menu using API Query - Question"
Hi, I exposed my menus to a third party application using API query.  it was  working fine before ContentMenuItem was added to Menu as I was getting name and the path of the content. But now for ContentMenuItems, it returns the content name and Id.

I know we can use the following liquid code to get the code within CMS.
{{ contentMenuItem.SelectedContentItem.ContentItemIds.first | display_url }}.

[2020-07-16 06:55] deanmarcussen commented on #6691
Yes, it should be defined in lists

[2020-07-16 06:57] deanmarcussen commented on #6674
@ns8482e @jtkech yes I also agree the name is deceptive.

Still not sure if that is what @Flarescape is struggling with, but quite possibly it is?

It would be ok to register it under a new name, but only if the existing name is also registered, or it is breaking.

Agree it should be in the lists project and it should not be doing this `contentItem.Content?.ContainedPart?.ListContentItemId` but lo

[2020-07-16 07:51] #6621 closed

[2020-07-16 07:52] #6672 closed

[2020-07-16 08:00] ArieGato commented on #6356
Very nice!! I tested a more complex scenario and all works well. I'll try to come up with some more edge cases, but I'm confident it works nice!

Thnx. I really appreciate this.

[2020-07-16 08:38] deanmarcussen commented on #6686
Which version of OC are you running?

[2020-07-16 10:51] marlon-tucker commented on #6677
I have edited the issue to reflect the current findings. However I'm facing an issue, in my web app `StartUp` I have this in the Configure method:

[code]

This expects to find a `HealthCheckService` in the service provider, which is not present as I changed those registrations to happen in the `AddOrchardCms().ConfigureServices()` due to `services.AddHealthChecks()` adding a `HttpClient`. Is ther

[2020-07-16 11:21] hishamco commented on #6684
Exactly!! even me I don't totally know what are features supported by templates

So, is the action needed to:

- Create a notification after creation

- Avoid saving empty templates

- Writing some extra docs

or is there something else we can add on the list?

[2020-07-16 11:21] hishamco commented on #6684
I can handle the first two points

[2020-07-16 11:26] hishamco commented on #6691
@deanmarcussen did your last changes about the references update the projects only or it include the manifests?

[2020-07-16 11:40] FelixStumvoll opened #6696 "Feature-Request: Insert Images from the Media Library as MD Images"
i was just creating a document with the wysiwyg editor and i thought i would be nice, to insert media as a Markdown image
for example instead of inserting this `[image]image1.jpg[/image]` to the image it would insert something like this `![altText](https://localhost:6001/media/image1.jpg)`.
this would mean it would show the actual image in the preview

[2020-07-16 11:42] deanmarcussen opened #6697 "Apply dash to render title checkbox in title part settings"
The new `RenderTitle` setting for title parts is missing some formatting

[2020-07-16 11:46] hishamco commented on #6696
The is nice feature especially for Markdown editors, @deanmarcussen is adding image shortcode in Markdown editor by intention? or it is a missing feature?

[2020-07-16 11:47] deanmarcussen commented on #6696
It's not possible because the `media` component of the url changes from tenant to tenant when using prefixing.

i.e.
`[image]image1.jpg[/image]`

becomes
`/media/image1.jpg` or
`/my-tenant/media/image1.jpg`

this is why we use the shortcode

[2020-07-16 11:48] #6697 closed

[2020-07-16 11:49] marlon-tucker commented on #6677
I have attempted to use `RegisterStartup` on the `OrchardCoreBuilder` to register the routes, however it seems both `ConfigureServices` and `Configure` on the Startup classes that are registered with `RegisterStartup` are executed twice during the shell startup process, resulting in duplicated routes being added

[2020-07-16 11:51] hishamco commented on #6696
What if we check the current tenant is the default tenant, so we can use `/media/image1.jpg` otherwise `/media/image1.jpg`

[2020-07-16 11:51] deanmarcussen commented on #6677
try moving your `app.UseEndPoints` code to `AddOrchardCms().Configure((app, etc, etc)) =>`

[2020-07-16 11:54] FelixStumvoll commented on #6696
if i am understanding this correctly images are stored in the corresponding tenant so it should be possible to check for the current tentant or am i wrong here

[2020-07-16 11:59] deanmarcussen commented on #6696
Nope, it's dynamic. and may change across server deployments.

This was designed quite specifically, I would not be wanting to change any behaviour here.

[2020-07-16 12:12] marlon-tucker commented on #6677
I couldn't find that extension method, but `AddOrchardCms()` has an overload which takes an `Action<IApplicationBuilder>`. However this appears to register the routes before the shell services have been initiated as the `MapHealthChecks` fails to find the requires service.

I managed to get it working, it seems the `RegisterStartup` call is not required, as Orchard seems to find the Module Startup

[2020-07-16 12:26] FelixStumvoll commented on #6696
okay i see how this could be an issue when you deploy it to a different server

i mean you could intercept the http request and prepend the corresponding tenant base uri but that would be kinda cursed/hacky

[2020-07-16 12:31] FelixStumvoll commented on #6696
actually i just checked, if you write ![altText](/media/image.jpg) it correctly shows the image

[2020-07-16 12:34] thomasebsmith commented on #6686
I tested this on rc2-13809 and rc2-13837. It seems to happen on rc2-13852 too.

[2020-07-16 12:48] micnyk opened #6699 "HTML field - style broken when copy paste (ctrl + v)"
Hi,
I'm facing critical for me issue similar to https://github.com/OrchardCMS/OrchardCore/issues/6208
Are you going to fix that?

[2020-07-16 12:56] deanmarcussen commented on #6699
Please don't open new issues when there is already an issue open

[2020-07-16 12:56] #6699 closed

[2020-07-16 13:13] deanmarcussen commented on #6338
I can confirm the `PreviewPart` is working fine.

![image](https://user-images.githubusercontent.com/13782679/87672141-5ed99500-c76a-11ea-98db-2f7dd6082392.png)

What @devhomecali is expecting as shown in the image above is that the Content Admin List's `View` button would also reflect the url configured in the `PreviewPart`, rather than the standard Content Controller routes.

i.e. the view link

[2020-07-16 14:38] Ghasan opened #6701 "Uploaded image not appearing in media library"
Hi,

I am running the latest 1.0.0-rc2 inside a linux docker.

Steps to reproduce:
1- Setup a new orchard core instance.
2- Go to media library, upload an image.
3- Open a new window, go to media library.
4- Nothing shows.
5- Add a folder to media library.
6- Uploaded image miraculously shows :)

Thanks!

[2020-07-16 14:57] agriffard commented on #6208
When the cleanpaste plugin is added, this behaviour occurs.

You can test here: https://alex-d.github.io/Trumbowyg/demos/#plugins-cleanpaste

[2020-07-16 15:55] Flarescape commented on #6674
I'm sorry that my explanation is a little bit confusing.
I'll try to describe my current scenario.

Inside our new company website I've created a `ContentType` named `LayoutPage` which is used to create "normal" content pages.
This `LayoutPage` has a `FlowPart`.
To match the bootstrap layout, I've also created some more content types with stereotype **widget** like "Container", "Row", "Column".
Th

[2020-07-16 16:14] FelixStumvoll commented on #6696
wait its the same issue with multiple tenants isn't it

[2020-07-16 16:40] deanmarcussen commented on #6674
Thanks for the image, it is making more sense now.

The `container` filter, only works on an item contained by `List`, and it will return either the list item or the current item.

So I suspect when you try to use it on a flow, Column, it will return the Column item.

It is not designed to work for flow items.

Flow Items do not track their parent content item, so there is no way to know this info

[2020-07-16 16:41] hishamco commented on #6663
I ended up with no luck ;(  Just clone the repo again

[2020-07-16 16:41] #6663 closed

[2020-07-16 17:11] sebastienros commented on #6521
The CreateContentTask accepts json as input that can be built with these arguments.
Maybe using two tasks would create two content items.

[2020-07-16 17:26] sebastienros commented on #6524
Create a new ShapeViewModel that implements IShapeContainer and has Items. You can inherit from it.
Or just inherit from Shape

[2020-07-16 17:28] sebastienros commented on #6520
We might want to accept the query in the body if it's a POST. @hamdiRuwiss Do you want to provide a PR for that?
That would probably mean split the current method in two.

[2020-07-16 17:30] sebastienros commented on #6525
Duplicate

[2020-07-16 17:30] #6525 closed

[2020-07-16 17:46] sebastienros commented on #3665
This could be a new "Default admin culture" separate from the "Default culture" which is also used for the content localization.
And also a user based setting, that would override the "default admin culture". I think it's more of a database value, that would flow across browsers instead of a local storage one.

We need to ensure that the User Settings page will hide the settings that the user can'

[2020-07-16 17:46] #2839 closed

[2020-07-16 17:48] sebastienros commented on #6098
Please provide repro steps and errors that you are facing.

[2020-07-16 17:48] #6098 closed

[2020-07-16 17:49] sebastienros commented on #6543
When we setup a site we want to see all recipes, even from the ones which are not enabled. From the admin, we could hide them.

[2020-07-16 17:54] sebastienros commented on #6548
New name

Two hard things, caching and naming

[2020-07-16 17:56] sebastienros commented on #6544
Break it, and add another option if people complain because we broke it then add it

[2020-07-16 17:59] sebastienros commented on #6453
@ns8482e  Can you create a PR for the documentation?

[2020-07-16 17:59] #6457 closed

[2020-07-16 18:00] sebastienros commented on #6554
We need to remove these text boxes, or put them in separate tabs, and document them.

[2020-07-16 18:02] sebastienros commented on #6554
Also make it visible only if the graphql feature is enabled.

[2020-07-16 18:03] #6555 closed

[2020-07-16 18:04] sebastienros commented on #6559
I have been told you found how to export them, so closing.

[2020-07-16 18:04] #6559 closed

[2020-07-16 18:06] sebastienros commented on #6537
Please provide detailed repro step, including which version of OC you are using (hopefully RC2)

[2020-07-16 18:06] #6537 closed

[2020-07-16 18:06] sebastienros commented on #6571
Site setup will fail.

[2020-07-16 18:06] #6571 closed

[2020-07-16 18:08] sebastienros commented on #6567
This

[2020-07-16 18:08] #6567 closed

[2020-07-16 18:11] sebastienros commented on #6567
Just to explain, it was made when I implemented dynamic cache, and we needed a way to identify dependencies on content items from different ways. So I made the notion of  "alias" (actually a handle) such that the cache doesn't rely on anything directly (alias, autoroute, ...) and content items can be logically linked by anything.

But I understand that it's bad to expose it as a way to load conten

[2020-07-16 18:14] sebastienros commented on #6579
The sql parser itself needs to be able to understand it too.

[2020-07-16 18:15] sebastienros commented on #6572
We need a guide for that

[2020-07-16 18:17] sebastienros commented on #6581
We have some javascript code in O1 to prevent these. Maybe we should do the same for POST actions.

[2020-07-16 19:07] rserj opened #6702 "Different menu style behavior in Agency theme Linux vs Windows"
Windows
![Windows-OrchardCore](https://user-images.githubusercontent.com/13991195/87711827-ace79c00-c75c-11ea-92c9-ea7716f99ad1.gif)

Docker Linux
![Linux-OrchardCore](https://user-images.githubusercontent.com/13991195/87711874-bd981200-c75c-11ea-858b-877bd809e396.gif)

Tested on last MS Edge

[2020-07-16 19:33] nitewulf commented on #6688
I did some more reading and it appears that additional Tenants are just other orchard instances running under the default Tenant.

If that's true... is it impossible to get a JWT by authorizing with an Orchard user and accessing a REST API from a Resource Server that is not Orchard?

[2020-07-16 22:13] sebastienros commented on #6658
We are not generating github packages anymore, we can just remove them.
The "used by" is based on NuGet.org packages, not the ones in GH.

[2020-07-16 22:19] jtkech commented on #6677
@marlon-tucker

As @deanmarcussen said you can use `AddOrchardCms().ConfigureServices()` and also `AddOrchardCms().Configure()`. If you were able to use the 1st one you should be able to use the 2nd one. These helpers is part of the things that allow the application to behave as a module and then collaborate at the tenant level, without having to write a module.

With this 2 helpers it's like you

[2020-07-16 22:28] ns8482e commented on #6658
Oh, i see - then why it's showing only `Used by 6`, hard to believe

[2020-07-16 22:30] jtkech commented on #6356
@ArieGato Cool, thanks for having tried it

[2020-07-16 22:48] marlon-tucker commented on #6677
Apologies, I now realise I was looking  at `UseOrchardCms().Configure(...)` instead of `AddOrchardCms().Configure(...)`.

Do you mind if I ask what the use case is for the `AddOrchardCms().RegisterStartup(...)` method is? As if you are able to reference the module startup class to call that method, then it will also be in the dependency list of the application.

If I called `RegisterStartup`, the

[2020-07-16 22:56] sebastienros commented on #6658
Becuase it's only looking at a small subset of the packages, and also because not many project actually reference these packages. When you build a website, you are not often on GH, and might not reference the packages that GH it looking at.

[2020-07-16 23:26] jtkech commented on #6677
From the app, `RegisterStartup()` may replace the usage of the 2 above helpers by defining at the app level a startup class (but with another name than the main startup) and that inherit form `StartupBase` that implements `IStartup`.

We [use it here](https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore.Mvc.Core/Extensions/OrchardCoreBuilderExtensions.cs#L22) to register

[2020-07-16 23:38] #6655 closed

[2020-07-16 23:50] marlon-tucker commented on #6677
That's what I did, I created a class called `OrchardStartup` which inherited from `StartupBase` and registered it with `RegisterStartup()`.

However, when the application ran, both the `Configure` and `ConfigureServices` methods inside the `OrchardStartup` class were executed twice (which lead to duplicate endpoints being created).

I would guess this process was also adding my `OrchardStartup` cl

[2020-07-17 00:17] jtkech commented on #6677
Okay i will try it soon ;)

[2020-07-17 01:10] jtkech commented on #6677
@marlon-tucker

You are totally right, your startup is first found by reflexion, because the app is module and we lookup to any public type of the assembly, here the app assembly, and then registered in the tenant container, and the registration made at the app level through `RegisterStartup` is also found.

It works for the startup defined in `OC.Mvc.Core` that is not a module, because it is not

[2020-07-17 01:10] captmomo commented on #6559
Hi

I still have not figured this out.

On Fri, 17 Jul 2020 at 2:05 AM, Sébastien Ros <notifications@github.com>
wrote:

[2020-07-17 06:45] deanmarcussen commented on #6658
If it is the `Used By` feature you are concerned about @ns8482e see this issue https://github.com/OrchardCMS/OrchardCore/issues/5942

`Used By` is not related to github packages

[2020-07-17 07:29] Skrypt commented on #6615
Here we should never require to use the grid for form elements that are displayed inline. We should instead use w-sm-25, w-md-50, w-lg-100 to size these elements from what I remember.

[2020-07-17 08:16] hamdiRuwiss commented on #6520
Yes i would like to do it

[2020-07-17 09:32] agriffard opened #6704 "Remove obsolete method GetContentItemByAliasAsync"
See https://github.com/OrchardCMS/OrchardCore/issues/6567#issuecomment-653383721

[2020-07-17 13:30] deanmarcussen commented on #6615
Yeah, I think you're right @Skrypt it makes no sense to be the grid for sizing.

[2020-07-17 13:37] hishamco commented on #6548
What if we prefix all Orchard Core TagHelper using `oc` to avoid such collision?

[2020-07-17 13:46] hishamco commented on #6615
Let me have a try ...

[2020-07-17 13:48] hishamco commented on #6581
I will have a try and post a gif screenshot for how it looks like

[2020-07-17 14:20] ns8482e commented on #6658
@deanmarcussen thank you for `Used by` - it's informative.

However my concern is relatively simple (uncheck in settings below), to remove packages from repository home as it's adds to confusion as it's not matching with current release.

![image](https://user-images.githubusercontent.com/23270244/87796167-9c8ff980-c80e-11ea-9b9c-cabdded6e825.png)

[2020-07-17 15:22] hishamco commented on #5522
#4709

[2020-07-17 15:25] hishamco opened #6706 "React to change the OC favorite icon"
From UI/UX seems the logo in the admin theme not align with the updated favorite icon, here is how the new logo is look like

![Logo](https://user-images.githubusercontent.com/3237266/87803250-e43c7280-c85a-11ea-953b-9a1d16a919bd.png)

/cc @agriffard

[2020-07-17 15:43] agriffard commented on #6706
The favicon and the logo in admin are not supposed to be the same.

I only changed the favicon because it was black and didn't render well on dark tabs.

[2020-07-17 15:52] hishamco commented on #6706
From UI/UX perspective one of them should be changed coz they should respect the color schema

[2020-07-17 16:58] hishamco commented on #6615
Seems `row` class conflict with the above classes, i just remove it, and works great!! Shall I did the change for the other fields?

[2020-07-17 17:16] Piedone commented on #6706
Also see: https://github.com/OrchardCMS/OrchardCore/issues/6279

[2020-07-17 18:44] pbros commented on #4845
Any updates on this?

[2020-07-17 19:23] andrew2241 commented on #6633
Is there any advice on this?

[2020-07-18 01:33] hishamco opened #6709 "Routing in a custom module"
I just extend the current users module to add a new feature, my route in my new module looks like

[code]

whenever I click the link the address bar shows the correct route but I got 404!! @jtkech any idea?

[2020-07-18 01:43] jtkech commented on #6709
The area name needs to be the module assembly name where the controller is defined

So you can keep your pattern but try to use your module name for the area

[2020-07-18 01:57] hishamco commented on #6709
Let me have a try

[2020-07-18 02:24] hishamco commented on #6709
Same thing ;( my expectation was to find  a named param `namespace` like what we have in the previous version of ASP.NET MVC, without changing the area name

[2020-07-18 03:11] jtkech commented on #6709
Did you enable your module

Otherwise i will try it as i have time

[2020-07-18 03:33] jtkech commented on #6709
What is `TestController.ActionName`?

Just tried the following in the `OC.Contents` module, it works

    public class TestController : Controller
    {
        public IActionResult Index() => Content("Hello");
    }

    routes.MapAreaControllerRoute(
        name: "XXX",
        areaName: "OrchardCore.Contents",
        pattern: _adminOptions.AdminUrlPrefix + "/Users/XYZ",
        defaults: new

[2020-07-18 04:36] rserj opened #6710 "Page Flow part broken"
![image](https://user-images.githubusercontent.com/13991195/87844705-a6e4de80-c874-11ea-9bbd-7ec3f2b5b88b.png)
The container positioning broke, I can't position it  on the center or the right

[2020-07-18 04:43] #6629 closed

[2020-07-18 04:45] #6605 closed

[2020-07-18 05:02] #6677 closed

[2020-07-18 09:54] khurram4u2 opened #6711 "Error While enable OpenID feater"
Hi, I am receiving following error while enabling openId Client module.

![image](https://user-images.githubusercontent.com/56805276/87850037-7498b700-c930-11ea-9945-7f914f37c854.png)

[2020-07-18 10:09] hishamco commented on #6709
Of course ;)

`OrchardCore.Contents` as area name is assembly name not namespace, right?

I did exact same thing, let me try one more time ...

[2020-07-18 10:10] hishamco commented on #6710
/cc @ns8482e

[2020-07-18 10:33] ns8482e commented on #6710
@rserj It’s for text alignment

[2020-07-18 11:50] agriffard commented on #6658
Where do you see this 'Include in the home page' section?
I don't find anything similar in th project settings.

[2020-07-18 15:15] ns8482e commented on #6658
You can access by clicking on gear icon next to About on main page.
![image](https://user-images.githubusercontent.com/23270244/87855702-91f16500-c8df-11ea-8c4f-66847486af59.png)

[2020-07-18 15:24] agriffard commented on #6658
Ok, I unckecked the packages.

[2020-07-18 16:20] rserj commented on #6710
@ns8482e thanks for your feedback.
It looks like, in order to position a container on the right, I have create another empty one on the left first, otherwise, it won't work

![image](https://user-images.githubusercontent.com/13991195/87856902-2a371c00-c8d7-11ea-8265-650526374683.png)

I think I'll close the issue

[2020-07-18 16:20] #6710 closed

[2020-07-18 16:55] hishamco commented on #6709
Here is the route on action:

https://github.com/OrchardCoreContrib/OrchardCoreContrib.Modules/blob/impersonation/src/OrchardCoreContrib.Users/Startup.cs#L61-L69

[2020-07-18 18:10] willnationsdev commented on #6326
@remesq Did you ever find out more info about this. I work on developing very similar forms in PHP using a custom framework and our team is interested in porting those apps to Orchard Core, but this Issue raises some eyebrows on whether we'd need to write a custom solution again.

[2020-07-18 18:45] jptissot commented on #6326
I am working on a forms module here: https://github.com/StatCan/StatCan.OrchardCore/pull/53 if anyone is interested. I'm hoping to have some basic version ready by then end of next week.

[2020-07-18 20:21] remesq commented on #6326
Awesome @jptissot! Could you share some insight into where you are going with it? I've started creating a custom module to handle forms I had on O1 and it's really daunting. Primarily, I am concerned about lists (radio button lists, checkbox lists, dropdown lists), which I could not really get to work with OrchardCore.Forms.

I used your examples here https://github.com/OrchardCMS/OrchardCore/issu

[2020-07-18 20:30] remesq commented on #6326
As I mentioned directly above, I started thinking I would have to create a custom solution for myself. OrchardCore.Forms is not complete. It will work well with Workflows to handle simple forms, but anything more complex with conditions and dealing with lists (like `enums`), it requires more work. This is unfortunate, as something like O1's Dynamic Forms really worked well for what it did and I pe

[2020-07-18 21:47] jtkech commented on #6709
@hishamco

It's because of your `Manifest.cs`

You always need the `[assembly: Module(` attribute, then if you only have one main feature it's sufficient, if there is no feature attribute a single feature is registered with an `Id` equal to the module id which by default is equal to the module assembly name. But, even if there is only one feature, it's good to also use the `[assembly: Feature(` at

[2020-07-18 22:55] marlon-tucker commented on #6677
@jtkech  I'm not sure this issue should be closed from the PR you did as the PR only fixes a problem I encountered when attempting to work around the original issue I submitted.

[2020-07-18 23:09] infofromca opened #6713 "Use CacheManager"
The reason are
1. One interface
2. Support many
3. Mature

[2020-07-18 23:12] jtkech commented on #6677
Okay, i thought that the first part was solved with the provided infos, and that the only remaining part was only related to the duplicate statup when using `RegisterStartup()` from the application.

Feel free to open a new issue but taking into account all the infos already provided here, as the usage of the 2 OrchardCoreBuilder helpers, and knowing that `RegisterStartup()` doesn't register a dup

[2020-07-19 00:47] marlon-tucker commented on #6677
Fair enough, It's just quite the gotcha if anyone does add a HttpClient service in the main application's `ConfigureServices` method, as the exception that is produced is not at all helpful in determining the underlying cause.

Though at least now if they search, they should find this issue and see the work around.

[2020-07-19 01:19] sebastienros commented on #6713
What is CacheManager ?

[2020-07-19 07:15] hishamco opened #6714 "Smtp -> Email"
IMHO using `Email` instead of `Smtp` in Admin menu is better, because `Smtp` is more technical term

[2020-07-19 08:09] hishamco commented on #6709
Seems I follow the email module where there's no `FeatureAttribute`

Thanks a lot

[2020-07-19 09:14] hishamco commented on #6709
I ended up to user another Id in this case, but I think it would be nice if we have an optional params in `FeatureAttribute` to supply all the classes instead of decorating each one, or add a services that can register this in our behalf

Thanks again

[2020-07-19 09:14] #6709 closed

[2020-07-19 09:15] deanmarcussen commented on #6711
Can you check your versions and refer to this announcement regarding `OpenId` https://github.com/OrchardCMS/OrchardCore/issues/6608 to see if you have followed the correct procedure upgrading.

If still having an issue please post log files.

[2020-07-19 11:11] deanmarcussen opened #6717 "Recipes within recipes overwrite variables configuration"
When running a recipe inside a recipe with the `Recipes` step the `variables` section / `_variablesMethodProvider` is overwritten with the values from the inner recipe.

Example
[code]

This happens because the `IRecipeExecutor` is a Singleton, and assigns the `variableMethodsProvider` to a private variable as it reads the `recipe.json`, so on the second recipe run it overwrites the value.

This s

[2020-07-19 11:15] infofromca commented on #6713
http://cachemanager.michaco.net/

[2020-07-19 11:30] hishamco opened #6718 "Disable some actions for logged users who have "Manage Users" permission"
Users with "Manage Users" permission can't:

    Enable / Disable their accounts

    Change their roles

    Delete themselves

[2020-07-19 13:07] deanmarcussen commented on #6686
cool thanks @thomasebsmith I can repro

[2020-07-19 13:23] DAud-IcI opened #6719 "Add user deleted event"
In `OrchardCore.Users.Handlers.IUserEventHandler` there is a `CreatedAsync` but no `DeletedAsync`.

It should be added with an empty interface default implementation to preserve compatibility. It should be invoked from `OrchardCore.Users.Services.UserStore` like its counterpart for created event.

[2020-07-19 13:25] hishamco commented on #6719
Perhaps it is missed

[2020-07-19 14:29] DAud-IcI commented on #6719
PR is up at #6719

[2020-07-19 15:06] CrestApps opened #6721 "Fields are not showing up in the admin panel after migrating them."
Using code, I am trying to create a “Widget” Content-Type called `FeaturedProperties` with an editable field called `MaxVisibleField`. I want the `MaxVisibleField` field to show up under the `Fields` section when editing the content-type.

I used a migration to create a new Contact-Part `MaxPropertiesToShow` and created a field called `MaxVisibleField` for the `MaxPropertiesToShow` part.

I am exp

[2020-07-19 15:31] ns8482e commented on #6721
In your migration you have created type that only has part `FeaturedPropertyPart`

You have added field `MaxVisibleField` to part `MaxPropertiesToShow` and not to content type Definition

[2020-07-19 23:31] jtkech commented on #6713
See #5249, we plan to use a generic and configurable `IDocumentManager<TDocument>` for any type of single document that can be persisted or volatile (only in memory) and that needs to be kept in sync with a shared cache.

We use a multi level cache from a scoped cache, then a memory cache for each app instance, and at the last level an `IDistributedCache` whose default implementation is a `MemoryD

[2020-07-20 01:55] jtkech commented on #6717
Yes easy to fix for this one but see below, i think that more things need to be fixed.

Not just because there is a nested recipe, **but yes if recipes are executed concurently** (e.g. through the admin UI) on the same instance. Otherwise, if only one recipe is executed, all steps are executed asynchronously in their own scope but the whole flow of a given recipe (including nested ones) is intende

[2020-07-20 02:13] khurram4u2 commented on #6711
Hi @deanmarcussen, I am just trying to enable the OpenId client feature not upgrading. As soon as I enable it my deployment crashes.

[2020-07-20 04:26] jtkech commented on #6717
So only the `VariablesMethodProvider` and the `ParametersMethodProvider` need to be tied to a given recipe as they use parameters passed to the recipe executor `ExecuteAsync()`. The `ConfigurationMethodProvider` only needs the ShellConfiguration that is a singleton so it can be injected once (as the `IScriptingManager` itself).

Then i think this is the recipe executor that would need to hold, e.g

[2020-07-20 08:21] vitalybrandes opened #6722 "Open Id - UserInfo recive only sub (Id) of user"
Did update to latest nugets, once done, the Claim for user info return only "sub" instead full profile

![image](https://user-images.githubusercontent.com/61165619/87915665-1debc400-ca7b-11ea-9e77-f02e28823aa0.png)

cc @kevinchalet

[2020-07-20 08:26] deanmarcussen commented on #6711
Please specify the version you are using and post the exception details from your log files.

(Very hard to try and repro without further information)

[2020-07-20 08:26] vitalybrandes opened #6723 "UX Improvement for new ContentItem"
### I think that "Cancel" or "Close" btn need to be added to Create New content.
Once user change his mind to open it, there is no "Right" way to go back.

![image](https://user-images.githubusercontent.com/61165619/87916264-e16c9800-ca7b-11ea-8c5f-bb4b7a979fc2.png)

[2020-07-20 08:50] vitalybrandes opened #6724 "Recommendation UX Improvement in Features sections / Admin"
Once user going thru the Feature list, select required components he need to goes up till the beginning to enable / disable them.
Recommendation to add btn at the end.

![image](https://user-images.githubusercontent.com/61165619/87918481-2cd47580-ca7f-11ea-861f-24bb3d140103.png)

[2020-07-20 09:12] chinasqzl opened #6725 "How to block a content item when you remove it, and give friendly hints."
![image](https://user-images.githubusercontent.com/16968103/87920552-f6611f80-caab-11ea-9661-5036d6d1a0de.png)

![image](https://user-images.githubusercontent.com/16968103/87920728-2e686280-caac-11ea-9af1-e9ae9302018c.png)

[2020-07-20 09:57] hishamco commented on #6724
IMHO you can pick the features by selecting the their checkboxes then go to `Bulk Action` button, you can check GitHub notification for instance, if you have tens of notifications and you want to delete them, you should do the same

[2020-07-20 09:59] hishamco commented on #6723
Perhaps we need to add a back or cancel button to return back to the content items list, @vitalybrandes could you please add a PR for that

[2020-07-20 10:00] hishamco commented on #6725
I think you can use content events for that

[2020-07-20 10:09] deanmarcussen commented on #6717
Yes, there are a few things in here. (so not so simple)

Agree.
Or just for ideas, maybe the recipe executor should be transient, rather than a singleton. And when running inner recipes, resolve a new instance.
But equally this may cause other complications.

Probably, but for later as you say.

Yes, we discussed this, and agreed setup recipes were only intended to be ran once. Otherwise they cann

[2020-07-20 10:22] vitalybrandes commented on #6723
I found now that while you editing exiting content item the btn exist

![image](https://user-images.githubusercontent.com/61165619/87927544-0b2dbb00-ca8c-11ea-9243-9adf9275feb0.png)

[2020-07-20 10:24] vitalybrandes commented on #6724
Well,
I just go thue the all features, select the relevant for me and the  Bulk actions control at the end of page was missing , this was my flow..
then i required to go up to the top Bulk actions control

[2020-07-20 10:37] hishamco commented on #6723
It would be nice if you make a PR or I will do it then ;)

[2020-07-20 10:43] Flarescape commented on #6674
@deanmarcussen The thing is, that the `container filter` **IS** working with `FlowParts`, but only if the the content item with a `FlowPart` attached is not inside a `ListPart`.
Here is an example:

Scenario 1 - A content type ListContainer (**not inside a ListPart**) with a FlowPart:
![image](https://user-images.githubusercontent.com/1375119/87928558-4ed0f680-ca85-11ea-80fe-5fa5fe25ab55.png)
----

[2020-07-20 10:53] vitalybrandes commented on #6723
Emmm, I am not sure that I know how 😬

[2020-07-20 11:22] hishamco commented on #6723
No problem, I will take care about this

Thanks

[2020-07-20 12:41] deanmarcussen commented on #6674
Just read your edit @Flarescape

So it works as it is designed, but not how you would like it to work?

Perhaps you could update the docs if it is missing to help out others in the future?

[2020-07-20 12:53] deanmarcussen commented on #6633
I could not repro this.

Are you using any language related sitemap features?

Without excluding content item :
[code]

With `Exclude` set to true
[code]

[2020-07-20 13:23] hishamco commented on #6723
@agriffard why `Create` doesn't have `Models.Actions` or the cancel button should be added via display driver

[2020-07-20 13:27] agriffard commented on #1943
Closed in favor of #6279

[2020-07-20 13:27] #1943 closed

[2020-07-20 14:17] andrew2241 commented on #6633
Thank you Dean that keyed me into fixing it.  I did have Localized Content Item Sitemaps enabled.  Once I disabled that, I went and unchecked the Exclude, then Published.  I went back into the SEO tab settings and checked the Exclude and Published and it is now not being displayed.

[2020-07-20 14:17] #6633 closed

[2020-07-20 14:33] kevinchalet commented on #6711
I suspect this commit broke it by no longer returning `null` for invalid settings and causing a null-ref in the `settings.ResponseType.Contains(..)` check: https://github.com/OrchardCMS/OrchardCore/commit/920d00265d5e5a07dc5330339e66a58ad6f6c261#diff-8c6ffad9a5ad70f3e670808033758924R105.

[2020-07-20 14:41] kevinchalet commented on #6722
Thanks for the report. I forgot to update the userinfo controller to use `HasScope()` (`HasClaim(Claims.Scope, "scope")` no longer works as the scopes are now formatted as a unique space-separated `scope` claim, as required by the JWT access tokens spec).

[2020-07-20 15:02] DannyT opened #6728 "Allow management of recipe metadata in deployment plans"
We use deployment plans to keep project recipes updated. This typically involves taking 95% of the json output from the DP and pasting it into the existing recipe because by default all of the recipe metadata is blank.

It's a small thing but being able to manage the meta data on the deployment plan would be a nice way to allow us to more seamlessly update recipes within our projects.

[2020-07-20 15:06] agriffard commented on #6728
You can use the `RecipeFileDeploymentStep` to specify the metadata of the recipe that will be generated.

[2020-07-20 15:31] DannyT commented on #6728
Ha, right, yes that's exactly what we were after. I should have checked first!

[2020-07-20 15:31] #6728 closed

[2020-07-20 15:32] #6711 closed

[2020-07-20 15:32] #6722 closed

[2020-07-20 15:44] kevinchalet commented on #6711
Thanks for your report @khurram4u2.

I fixed this bug as part of https://github.com/OrchardCMS/OrchardCore/pull/6727. Let us know if it still throws an exception after updating your packages.

[2020-07-20 18:19] Nowhk opened #6729 "Load a index.html page when open a Blank project"
I've setup the CMS orchardcore as Blank, using it to only manage content via API, and the website is rendered using a frontend framework like Vue.js

So, all the front end project is build within wwwroot folder, and is accessible by index.html.

I'd like to recall that page calling www.mydomain.com, instead of www.mydomain.com/index.html

Would be nice to do it directly. Not sure if its achievable

[2020-07-20 18:23] ns8482e commented on #6729
You can set Home page  in  MVC / Razor - see following comment by @jtkech in another related issue.

https://github.com/OrchardCMS/OrchardCore/issues/6235#issuecomment-648353184

[2020-07-20 19:10] ArieGato opened #6730 "placement via json file only works for Content zone"
I'm trying to place shapes in specific zones through the placement.json file, but it only works for the Content zone.

To reproduce follow these steps:

1. Change the Content-Blog.liquid file to this:
[code]
2. Add a placement.json file with the following contents
[code]
3. Start OrchardCore and create a web site with the TheBlogTheme.
Now the HtmlBodyPart is not shown.

4. Change the place in the

[2020-07-20 20:20] jtkech commented on #6717
Good idea but as it is implemented the `RecipesStep` just updates the `InnerRecipes` of the "parent" `RecipeExecutionContext`

[2020-07-20 23:53] ns8482e commented on #6730
To target Layout zone use prefix it with `/` i.e. `"place": "/Header:5"`

When you define placement as `"place": "Header:5"` you are defining only local zone created within the shape of  your content item.

For example, if you define `"place": "CustomZone:5"` in placement, It won't be rendered by default. As  the default  OC provided content template is not aware of your `CustomZone` ( default loc

[2020-07-21 01:04] chinasqzl commented on #6725
@hishamco Don't understand, when the event is triggered, the deletion is complete. Is there an example in the source code?

[2020-07-21 02:27] Ghasan commented on #6701
The issumes seems that I set `ORCHARD_APP_DATA` to a non existant folder. Now it works fine, but still a bit weird considering in docker docs it is mentioned:

[2020-07-21 02:27] #6701 closed

[2020-07-21 08:03] ArieGato commented on #6730
I knew this from OC1. I couldn't find it in de documentation though, or I missed it somewhere.

[2020-07-21 08:03] #6730 closed

[2020-07-21 08:32] hishamco commented on #6725
There are many event for the content such as: created, loaded, removed .. etc

[2020-07-21 10:16] TFleury commented on #6503
@ns8482e Thank you. So, it also relies on `IShapeTableProvider` and requires to rebuild ShapeTable if we want to add alteration to new shape, unless we add alteration for each possible shape.

[2020-07-21 10:54] vitalybrandes commented on #6680
In 1.0.0-rc2-13911 looks ok.

[2020-07-21 10:54] #6680 closed

[2020-07-21 10:56] deanmarcussen commented on #6503
@TFleury Yes, this is why I wondered on your pr if having something `IPlacementResolvers` in the `FindPlacementDelegate` might be an idea, rather than having to rebuild the shape table

Did you look at the way the templates feature is working with the `IShapeBindingResolver` ?

[2020-07-21 11:05] vitalybrandes opened #6733 "Login form as first page for the site"
Best practice to lock any unauthorized access to the all website pages?
Once user redirected to URL, login form will appear for authentication.

[2020-07-21 11:12] khurram4u2 opened #6734 "OpenID Help"
Hi, I have an open ID server setup on an external application. I want it to authenticate the users. I have enabled the OpenID client feature and provide the required detail. However, I can not see the open to login from external provider.

Could you please guide me?

Thanks.

[2020-07-21 11:20] vitalybrandes opened #6735 "What is "UserClaims":[], "LoginInfos":[], "UserTokens":[]"
What is "UserClaims":[], "LoginInfos":[], "UserTokens":[], in
OrchardCore.Users.Models.User, OrchardCore.Users.Core

(From DB, Document)

[2020-07-21 11:34] deanmarcussen commented on #6733
Generally I would just disable the `View all Content` permission for the `Anonymous` role

[2020-07-21 12:07] vitalybrandes commented on #6733
Did it, SAME,
Maybe i am missing something in my custom theme?

[2020-07-21 12:29] urbanit commented on #4845
Not yet, probably this week (at least for the PR)

[2020-07-21 12:46] vitalybrandes opened #6736 "How do i Query 10 First / Last added users?"
How do i Query **10** First / Last added users?

 var _Users = await _session.Query<User, UserIndex>().ListAsync();

[2020-07-21 13:19] deanmarcussen commented on #6692
I think this is a duplicate of https://github.com/OrchardCMS/OrchardCore/issues/6100

But I'm not sure, I assume you are using the GraphQL API @khurram4u2 ?

In which case it is not implemented @khurram4u2 but feel free to provide a pr for it

[2020-07-21 13:21] deanmarcussen commented on #6733
Not sure what SAME means.

Can you explain further what is happening, and what you want to happen?

[2020-07-21 13:27] TFleury commented on #6503
Yes, that's what I was searching for before creating `ITenantShapeTableProvider`. It seems to be a better way as it don't interfer with ShapeTable and could also allow some Preview (I think it's not possible with `IShapeTableProvider`).

[2020-07-21 14:03] vitalybrandes commented on #6733
Ok, Sorry,
I removed the View All from anonymous,

Now i am wondering, hot in best way to set all content of my my Index.CSHTML to be protected by Login .
Is any nicer way except "User.Identity.IsAuthenticated"

[2020-07-21 14:44] MichaelPetrinolis commented on #6734
That would be a great getting started tutorial in the documentation. For now, I suggest you to enable the Registration module, and allow users to register with external provider. If you want only to be authenticated by the external provider, there is an option in the login settings I think. But you should provide the roles you want to assign to the users based on the claims you receive from your I

[2020-07-21 14:57] #6719 closed

[2020-07-21 15:30] vulfh commented on #4558
Hi ,
I would like to take this issue as my first issue. With whom can I discuss it ?

[2020-07-21 15:35] Nowhk opened #6738 "Permalink not generated automatically"
When I save a Custom content, Permalink is not generated automatically:

![image](https://user-images.githubusercontent.com/19835752/88075027-853b6e00-cb78-11ea-9fa6-beac4f242981.png)
As well in the GraphiQL, the value of "path" is null.

What do I need to activate to generate permalink automatically?

[2020-07-21 16:04] ns8482e commented on #6503
@deanmarcussen @TFleury But what stops you using `IShapeTableProvider`?

[2020-07-21 17:07] TFleury commented on #6503
@ns8482e Using `IShapeTableProvider` requires to rebuild ShapeTable (which is cached per tenant and theme) each time you add or remove a shape alteration, and there is currently no way to expire this cache and rebuild ShapeTable at runtime.

[2020-07-21 17:43] ns8482e commented on #6503
@TFleury @deanmarcussen May be I am not following you a bit, But I guess this feature is for placement for shapes that are already harvested and available in `ShapeTable` cache - I guess you are not rebuilding the shape table here.

[2020-07-21 18:27] TFleury commented on #6503
@ns8482e Assume that we are on a running tenant and the ShapeTable was already built.
An admin user adds a rule to hide TitlePart (Location="-")

How do you add this rule without rebuilding the ShapeTable ?

It's not possible unless you have already registered a ShapeAlteration on the "TitlePart" (or I missed something).
So, if you want to be able to alter any shape location at runtime - without r

[2020-07-21 18:34] ns8482e commented on #6503
Correct, I guess you don't need to rebuild the ShapeTable for every dynamic shape add in admin. All we need to do is to register a Function to handle `Placement` event, Same function for all shapes.

[2020-07-21 19:35] ns8482e commented on #6503
Another option is have some kind of event hook when `BindPlacementAsync` is called from BaseDisplayManager which returns Placement either from event handler -or from ShapeTable descriptor.

[2020-07-22 00:17] scleaver opened #6740 "Script helper no longer registering script at Foot by default"
The documentation says that scripts using the tag helper will render in the FootScript by default if no “at” is declared however I noticed instead scripts are being rendered in the head section by default.

Is the documentation wrong or the code wrong?

[2020-07-22 01:49] chinasqzl commented on #6725
@hishamco Blocking deletions is determined by the parts business, and using content events is not good.

[2020-07-22 01:50] jaliao commented on #6613
thanks~ : )

[2020-07-22 02:27] scleaver commented on #6593
@ns8482e thanks for the detailed response. Maybe this is unique to our use case but perhaps others will want the feature for the same reasons we want it.

In response to your comments:

1. CSS is not applied to the whole document if the app and external stylesheet is loaded within the shadow dom. This is perfect for our use case as we don't want the app's CSS to be messed up by the CSS of the webs

[2020-07-22 02:43] ns8482e commented on #6593
@scleaver  I'd love to learn and see an example of css loaded via external url within a shadow dom which only applies to specific dom element  within the document but doesn't apply to whole document.  I think that would eliminate all my needs of having unnecessary css resets and bootstrap css overrides in my projects.

[2020-07-22 03:24] DAud-IcI opened #6741 "Active Directory logs an unnecessary warning during setup"
I activate the "OrchardCore.Microsoft.Authentication.AzureAD" feature during setup and also configure it from the same recipe in the next step, but I still get this log:
[code]

I tried placing the configuration recipe with the "azureADSettings" step before the feature, but then it doesn't get executed at all. Could this be avoided?

[2020-07-22 05:19] jtkech commented on #6503
@ns8482e Yes i think this is the right place to start, then i would say, as @deanmarcussen suggested, by using maybe `IPlacementInfoResolver` in `FindPlacementImpl()` used to build the `FindPlacementDelegate`.

Then a custom resolver using a placement manager service returning placement infos built from a db document, the db document would be cached and invalidated by a signal token as done for th

[2020-07-22 07:20] deanmarcussen commented on #6736
We don't track anywhere a created / modified date for users, so it would be database ordered.

Maybe we need too, can you describe the use case?

[2020-07-22 07:23] deanmarcussen commented on #6735
See this pr for when UserTokens were added https://github.com/OrchardCMS/OrchardCore/pull/6057

The others are related to using external login providers, and the implementation of a user claims store

[2020-07-22 07:26] vitalybrandes commented on #6736
I am creating some kind of dashboard where i would like to present 10 last created users
![image](https://user-images.githubusercontent.com/61165619/88147376-c463d080-cc05-11ea-96e0-149f5d0e4410.png)

[2020-07-22 07:34] vitalybrandes commented on #6735
Questions:
1.Why we don't save "last login date and time" in the LoginsInfo" for Orchard authentication?
2. Just to understand, if i am making signal R module (Desktop client to server), using this Tokens i can protect the connection instead generate new one?

[2020-07-22 07:42] deanmarcussen commented on #6735
That property is more related to external login providers, so probably not the place for that kind of information.

I believe (best to read the pr, it has a lot of notes on it) this is more related to external open id providers.

Can we close this issue? and pursue login related info on the other issue you have opened?

[2020-07-22 07:53] vitalybrandes commented on #6735
Yes, Thank you!

[2020-07-22 07:53] #6735 closed

[2020-07-22 08:02] ArieGato opened #6744 "correct alternates order in shape metadata"
Hi,

I have a question about the order of alternates in the shape metadata. As I understand the last matching one in the array is the selected template. Does it make sense that [ContentType]\_\_[FieldType] is preferred over [ContentType]\_\_[PartName]\_\_[FieldName]? I think the first one is less specific than the second.

 I think I tracked it down to this code:
https://github.com/OrchardCMS/Orch

[2020-07-22 08:15] FelixStumvoll opened #6745 "Feature Request: Alternative Text for Markdown Images"
Since it is not possible to set an alternative text for an image it would be nice, to add one to the image, when you insert it into a markdown field

[2020-07-22 08:40] deanmarcussen commented on #6736
Ok, so two questions came out of this.

1. why don't we track last login date  (ref https://github.com/OrchardCMS/OrchardCore/issues/6735#issuecomment-662294237)
    - This is probably performance related, as it would involve saving the user on every login.
    - There is a Workflow Event `UserLoggedInEvent` so you could implement something here

2. Created Date / Modified Date for users.
    - No

[2020-07-22 08:52] vitalybrandes commented on #6736
If so why we do that for external logins?

@deanmarcussen  How can i query only 10 first users?

[2020-07-22 10:18] khurram4u2 opened #6746 "trumbowyg editor ICON doesn't show"
Hi guys, I having problem with trumbowyg editor it is not showing the icons as they are not loading in page see the following image.

![image](https://user-images.githubusercontent.com/56805276/88165058-6f04df00-cc58-11ea-802a-3e9134511e8b.png)

Could you please advise?

[2020-07-22 10:43] agriffard commented on #6746
Do you have a client side error?

[2020-07-22 10:59] khurram4u2 commented on #6746
Here is there error.

![image](https://user-images.githubusercontent.com/56805276/88168763-3831c780-cc5e-11ea-9d7e-e3f1367e4401.png)

[2020-07-22 10:59] #6405 closed

[2020-07-22 11:08] deanmarcussen commented on #6745
This one we can do :)

It could be an argument on the shortcode if you would like to add it as a pr?

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Media/Shortcodes/ImageShortcodeProvider.cs

[2020-07-22 11:35] khurram4u2 commented on #6746
@agriffard Issue has been fixed. Thanks for your help. I have postfix (/content) which was causing issue.

[2020-07-22 11:35] #6746 closed

[2020-07-22 12:10] #6634 closed

[2020-07-22 12:41] #6636 closed

[2020-07-22 12:41] #6641 closed

[2020-07-22 12:42] #6588 closed

[2020-07-22 15:17] ns8482e commented on #6744
@ArieGato IMHO both alternates are specific to `[ContentType]_[DisplayType]` hence one should create either one or other but not both as same time.

i.e. If you customize Blog and add `CustomPart` Part having three `TextField `and you want to target all `TextField` in the Blog (**regardless of Parts** they are in based on `FieldType`) to render the same then you would use `Blog-TextField.liquid`.

[2020-07-22 15:28] ArieGato commented on #6744
Lets say I have a ContentPart containing 4 MediaFields. I want to create a template the same for all but one. Then I want to use [ContentType]\_\_[FieldType] for those. And for the single one I want to use [ContentType]\_\_[PartName]\_\_[FieldName] to differentiate. Now it's not possible. I think it's a shame to duplicate templates for this.
And when you alter the sequence of the two code lines yo

[2020-07-22 15:46] ns8482e commented on #6744
@ArieGato May be you need DisplayMode

[2020-07-22 16:13] ArieGato commented on #6744
That could work as well.

But again imho it is not necessay to add these files when the sequence of alternates is changed. And I can't think of a reason why not to. Nothing will break.

Alternates give a fine grained control of which template will be used. A sort of cascading mechanism where the most specific template should be used.

[2020-07-22 17:03] ns8482e commented on #6744
@ArieGato IMHO here idea of having `[ContentType]__[FieldType]` is to have common shape for **All** `FieldType` within your content type and current order of alternate seems ok as you choose one way or other.

@deanmarcussen correct me if I am wrong -

If you really don't want **All**  then you should not use `[ContentType]__[FieldType]`. If you required **All but except** then differentiate with

[2020-07-22 17:27] ArieGato commented on #6744
I'm not saying that this should work any other way. And it will still work that way when `[ContentType]__[PartName]__[FieldName]` is added after `[ContentType]__[FieldType]`. But when the sequence is changed you have an extra option of determining the template to use.

I think the same goes for the following example. Consider the folling two templates: `HtmlBodyPart__Description` and `Blog__HtmlBo

[2020-07-22 17:53] ns8482e commented on #6744
@ArieGato my personal opinion, orchard provides different ways to have alternates - however if driving force behind defining alternate is `FieldType` that i'd like to render the same for the content type regardless parts they are in then I'll use `[ContentType]__[FieldType]` and it should win as that's the intention of defining of such template as first place.

[2020-07-22 18:28] ArieGato commented on #6744
@ns8482e I disagree on that. My opinion is that they are not mutually exclusive. And that the template `[ContentType]__[PartName]__[FieldName]` better descibes the shape than `[ContentType]__[FieldType]`.

[2020-07-22 19:19] ns8482e commented on #6744
@ArieGato I understand your opinion - however current implementation is not working as you wanted to work and I guess that's how it designed to work.

However It's possible to define the alternate as you described - following are different ways to achieve the same-

1. Use different DisplayMode for the image that you want to show differently.
1. Use `OnDisplaying`  event and  change the order  of

[2020-07-22 19:38] ArieGato commented on #6744
Wether it is or isn't designed this way is essentially my question. I think it is always good to question why something was done and if (in hindsight) it is still the best solution.

I still believe the sequence can be changed without breaking changes or loss of functionality. All will remain to work as it does right now. The worst case scenario is that someone has added a template in the past tha

[2020-07-22 19:53] randaratceridian opened #6749 "Update ContentItem without making it Draft"
I know this may seem like an odd request, but is there a way to update a ContentItem without it going into a Draft status?

To keep things in a single location, we added a number of properties to ContentItems. Many of these are hidden MetaData and only accessed via code. But when they are published, we would like to update them without Orchard Core creating a new draft version.

One option seems t

[2020-07-22 19:55] sebastienros commented on #6749
There should be a checkbox to uncheck in the type definition, to disable Versioning.

[2020-07-22 20:05] hishamco commented on #6740
/cc @agriffard

[2020-07-22 20:17] hishamco commented on #6725
I didn't under stand you, and how telling that using content events is not good?!!

[2020-07-22 22:07] hishamco commented on #6736
What about using `Take(10)` LINQ operator to fetch the first 10 users based on their order in the users table

[2020-07-22 22:08] hishamco commented on #4558
@vulfh AFAIK @Skrypt is the Lucene guy who I knew ;)

[2020-07-22 22:22] CrestApps opened #6751 "Deleteing a content-type that is inuse causes an exception"
When creating a content-type "i,e. Widget", then adding it to a Widget. Then deleting the content-type, the system throws an exception, and is hard to use the GUI to recover from it.

**Solution:** prior to performing the "delete" operation content-type or content-part, check that it isn't being used. If it is used, you might want to throw an alert to the user and prevent the delete.

[2020-07-22 22:25] hishamco commented on #6751
Showing a warning alert may good for this case, @CrestApps would you like to push a PR for this?

[2020-07-22 22:41] CrestApps commented on #6751
I could mess with it. But it won't be any time soon.

[2020-07-22 23:00] scleaver opened #6752 "Cannot find reference assembly 'Microsoft.AspNetCore.Antiforgery.dll'"
When running the OrchardCore.Mvc.Web sample project there is an error:

An unhandled exception occurred while processing the request.
InvalidOperationException: Cannot find reference assembly 'Microsoft.AspNetCore.Antiforgery.dll' file for package Microsoft.AspNetCore.Antiforgery

[2020-07-23 00:40] scleaver commented on #6740
Further testing on this reveals that actually it is just rendering the script wherever it is placed when it has no "at" declared rather than in the FootScript. Here is what I used to test - I threw this into the content.liquid file of the Agency Theme and the content.cshtml of the blank theme:

[code]

[code]

[2020-07-23 00:43] chinasqzl commented on #6725
InStockPicking (contentType)
-TitlePart
-StockPicking

Stock picking part, after publication, can not be deleted, can not be modified.
Non-removable properties are determined by the part, so should be written in the part's StockPickingPartHandler.RemovingAsync.

In content events, i want to determine whether StockPickingPart is included?

[2020-07-23 05:48] vitalybrandes commented on #6736
Only last question, why not to log last login for all users?
Probably for blog this is irrelevant, but for different product...
if this affect performance, so can do it by checkbox , Yes/no.

[2020-07-23 12:43] deanmarcussen opened #6756 "ContentManager should return null instead of throwing exception"
A change was made a while back to the `ContentManager.GetAsync()` method to throw an exception if the supplied `contentItemId` was null or empty.

I like the principle, but it's causing too much boilerplate code in my apps, and it should noop returning null, if no id is supplied.

Consider :
[code]

Versus :
[code]

even our `ItemController` is having to do two checks to avoid a null reference exc

[2020-07-23 12:50] hishamco commented on #6736
Where should we log?!! could you please clarify what you mean in last paragraph

[2020-07-23 12:55] hishamco commented on #6756
Agree for this change

[2020-07-23 12:58] Nowhk commented on #6729
@ns8482e hi, thanks for the reply.

Tried this way:

`public void ConfigureServices(IServiceCollection services)
{
	services.AddMvc().AddRazorPagesOptions(options =>
	{
		options.Conventions.AddPageRoute("/", "index.html");
	});

	services.AddOrchardCms();
}`

But I got 500, and nothing load.

[2020-07-23 13:18] hishamco commented on #6751
Which version you are using? I just deleted an Article content type successfully

[2020-07-23 13:23] hishamco opened #6758 "Content Type User Experience should be improved"
There are few places that we need to change to improve the UX for the content types including:

- Ability to delete the content types directly from Content Types List

- Avoid to delete a content type if there's an associated content items, because this is harmful, unless the intend is delete everything related. Very detailed confirm message may suitable in this case

I will keep this list for oth

[2020-07-23 13:24] vitalybrandes commented on #6736
Yes sure,
[ (ref #6735 (comment))](https://github.com/OrchardCMS/OrchardCore/issues/6735#issuecomment-662294237)
Original question:
What is "UserClaims":[], "LoginInfos":[], "UserTokens":[], in
OrchardCore.Users.Models.User, OrchardCore.Users.Core

[2020-07-23 13:37] Nowhk commented on #6729
I think I've fixed it. I've simply add `app.UseDefaultFiles();` before `app.UseStaticFiles();` and it find index.html within wwwroot.

Is it correct in your opinion? Thanks

[2020-07-23 13:54] jptissot commented on #6326
@remesq My forms module aims to simplify some things compared to OC's built in forms module. Namely:
- Easily support client / server side validation with the help of jquery.validate.unobstrusive library without the need of a workflow
- a11y built in
- Ajax validation and submission
- Worfklow hook on form submission
- Client side OnChange function defined in the admin to add custom show / hide lo

[2020-07-23 14:04] #6729 closed

[2020-07-23 14:18] ns8482e commented on #6729
@Nowhk  Nice!,

However there is an open issue #6505 with `UseStaticFiles()` - currently it only works with Default tenant.

If you plan to use your vuejs app in multi tenant scenario i.e.  www.mydomain.com/index.html, www.mydomain.com/tenant1/index.html ,  www.mydomain.com/tenant2/index.html then It's suggested that you use `indext.cshtml` instead of static `index.html`

[2020-07-23 14:31] ns8482e commented on #6740
@scleaver I guess it's intended behavior see below code.

https://github.com/OrchardCMS/OrchardCore/blob/e3c6488578e73dc14f160f8f46a213a8c47cc0ce/src/OrchardCore/OrchardCore.ResourceManagement/TagHelpers/ScriptTagHelper.cs#L138-L141

https://github.com/OrchardCMS/OrchardCore/blob/cb45b4ec37ecb663b06e8ca1f451f0e69c02747d/src/OrchardCore/OrchardCore.ResourceManagement/TagHelpers/ScriptTagHelper.cs#L

[2020-07-23 14:41] deanmarcussen opened #6760 "Write guide explaining the file content definition feature"
Small guide to explain what the file content definition feature is, and how to disable it and use the database when in production

[2020-07-23 14:47] sebastienros commented on #6740
I also thought the default was the footer. But since there is an "Unspecified" enum, and the code seems on purpose, that looks like the way it should be documented. Didn't we file an issue recently to allow this feature too? Also we might want to check the history in case the behavior was changed for a reason. I think I wrote most of this, but I don't remember the details. Maybe also check the csh

[2020-07-23 15:00] scleaver commented on #6740
Unspecified is the default of course when you don't put "at" - so a decision just needs to be made. Is the default behaviour of the SCRIPT tag helper to register in FootScript OR to not implement a default location and just change the documentation?

I will take a look at the historyl

@sebastienros - yes I created a different issue to have an Inline location allowing the style to register where t

[2020-07-23 15:04] deanmarcussen commented on #6740
Yeah, we just need to ping @TFleury because he last added features here, and I have a vague memory he might have needed `at` as a targeting element for the feature he added

[2020-07-23 15:29] ns8482e commented on #6740
@sebastienros @deanmarcussen It's available before @TFleury's change.

If you define script with only `<script asp-name="xyz">` or `<script asp-src="xyz">` then it renders at local

[2020-07-23 17:13] sebastienros commented on #6645
I don't remember if we implemented the "username" folder /cc @matiasmolleja

[2020-07-23 17:20] sebastienros commented on #6465
I think we are fine with a global solution. Otherwise we would need to set custom limits every time we create new actions like this one.

Maybe nice to copy the steps from the aspnet issue into our docs.

[2020-07-23 17:21] #6640 closed

[2020-07-23 17:23] sebastienros commented on #6649
If it was open sourced we should copy the code.

[2020-07-23 17:23] #6649 closed

[2020-07-23 17:23] #1249 closed

[2020-07-23 17:35] vulfh commented on #4558
@Skrypt  could you please give some details regarding the issue (I am new in the project, but I want to become a contributor)

[2020-07-23 18:07] #6172 closed

[2020-07-23 18:08] sebastienros commented on #6678
?

[2020-07-23 18:10] sebastienros commented on #6685
Better to use the localized aspect that the part directly.

[2020-07-23 18:24] pbros commented on #6685
@sebastienros how do I achieve that? Do I need to set something in my views (Razor or Liquid) or via GraphQL?

[2020-07-23 19:01] hishamco commented on #6685
@pbros try to look for `CultureAspect` and you will find an example for it, instead of doing the casting `contentItem.As<LocalizationPart>()`

[2020-07-23 19:52] pbros commented on #6685
@hishamco I've change my code to this, which seems to work. Much cleaner :)

[code]

However, should this not be the default behavior in GraphQL without having to add a piece of code to each Content-XXXX template?

[2020-07-23 20:00] hishamco commented on #6685
I'm not sure why you are setting the `CurrentUICulture` yourself?!! if this is necessary I'm sure there will be a bug somewhere

[2020-07-23 20:08] pbros commented on #6685
I do think it's a bug. See the Repro steps above.

I'm using the render "field" in GraphQL, which calls my views. In my razor view I use the `@T[]` IViewLocalizer, which in turns uses the CurrentUICulture to find the appropriate translation in the PO file.

The easiest way to see it is actually to simply add this to your Content.cshtml view and you will see it always returns en-US, even for locali

[2020-07-23 20:12] ns8482e commented on #5093
@jtkech To support light themes - that includes only liquid and static assets - that do not require any compilation - the module discovery needs to be based on theme.json file and not based on assembly - needs changes in Module.cs

[2020-07-23 20:17] ns8482e commented on #5128
Closing this as I guess `/Views/Shared` is enough.  - the base module can have `cshtml` placed in `Shared` if required to be overridden by dependent module.

[2020-07-23 20:17] #5128 closed

[2020-07-23 20:22] hishamco commented on #6685
Hopefully I can check this

[2020-07-23 22:02] ns8482e commented on #6760
@deanmarcussen IMHO moving from file store to database store or vise versa should be seamless.

[2020-07-23 22:46] jtkech commented on #5093
@ns8482e

This would not be a regular theme that would need to be discovered, but a feature that allows the following

About liquid, as i remember, it would just add templates with an higher priority (maybe lower than the existing templates feature), but grouped by light themes that could be enabled / disabled, and maybe with file naming conventions

Then yes we could also think about static asset

[2020-07-23 22:49] jtkech commented on #6760
For infos, at least we have a config option to migrate automatically from file to database

[2020-07-24 00:22] ns8482e commented on #5093
@jtkech I was assuming to have IModuleNamesProvider implementation that returns module object from different way of discovering  like module.json or folder instead of just assembly. But found that IModuleNamesProvider only returns names and module code is tied to Module.cs in constructor.

[2020-07-24 06:19] FelixStumvoll opened #6761 "issues with markdown field html sanitation"
im not quire sure if the _Sanitize Html_ option in the Markdown field is not working correctly or if my assumption of its functionality is wrong.

when i input this text `<u>i am underlined</u>` into a markdown field with disabled html sanitation i would assume the u-tag will be kept in the final html. however it escapes it to `&lt;u&gt;i am underlined&lt;/u&gt;` (when i fetch the html via the gra

[2020-07-24 07:21] deanmarcussen commented on #3846
This can be closed as the feature has been implement as `IOptions<MarkdownPipelineOptions>` registrations on the `MarkdownPipeline`

e.g
[code]

Docs coming very shortly

[2020-07-24 07:21] deanmarcussen commented on #4974
This should be possible now as the feature has been implemented as `IOptions<MarkdownPipelineOptions>` registrations on the `MarkdownPipeline`

e.g
[code]

Docs coming very shortly

[2020-07-24 07:36] ArieGato commented on #6744
@ns8482e @deanmarcussen Is anyone going to decide wether it is an improvement to change the sequence? I think both sides have produced some good arguments.

[2020-07-24 07:40] jaliao opened #6762 "Issues with *.vue"
I have a project using xxx.vue.
I put the xxx.vue under the folder named wwwroot
But it return 404 from liquid file when I browse this file using Chrome.
the other static file is correct return.

How to config static file list in Orchard Core.

thanks
Justin

[2020-07-24 07:47] deanmarcussen commented on #6761
I've added some overdue documentation here https://github.com/OrchardCMS/OrchardCore/pull/6763

In this case you need to configure the markdown pipeline (see docs pr for example)

[2020-07-24 07:55] deanmarcussen commented on #6760
@ns8482e make it so!

but I'm wary of it being automatic, because of potential conflicts when both database and file have data, so either with config as @jtkech but definitely only if the destination (i.e. database record), is empty

Regardless we need a guide to explain what it does, I'm bored of explaining on gitter

[2020-07-24 08:32] deanmarcussen commented on #6744
@ArieGato Needs Triage

[2020-07-24 09:06] deanmarcussen opened #6765 "Incorrect warning shown when deleting roles"
Repro:

Create site, with admin user

Try to delete `Moderator` role (with no users assigned to this role)

Warning shown that this role is associated with users.
![Screenshot 2020-07-24 at 10 01 36](https://user-images.githubusercontent.com/13782679/88376186-d162fa00-cd94-11ea-8ce0-f113c7d1bb3e.png)

@hishamco you added this feature I think? It doesn't seem to be working right

[2020-07-24 09:34] leone-91 opened #6766 "Update content Task workflow"
Hi,
I have a "basic" question concerning the update content task in the workflows. I would like to use that task in order to add some content elements in my page (comments of users). I created a form on that page and I would like to publish on that same page the content of the form when the user submit it. However I do not understand how I can update the content without deleting the previous comme

[2020-07-24 09:46] leone-91 commented on #6738
When you go to the Content type definition of your page, if you click on modify for the autoroute part, check if the model is this one: {{ ContentItem.DisplayText | slugify }}

[2020-07-24 09:50] Nowhk commented on #6738
Where is this "model"? Here's the screenshot:

![image](https://user-images.githubusercontent.com/19835752/88379857-e2ffce00-cda3-11ea-926d-542c5281764e.png)

[2020-07-24 10:01] ruisdias opened #6767 "MediaField just checking file extensions"
Hello,

During some tests, it was discovered that we can upload any type of file if we just change the extension to one which is accepted (defined in the appsettings).
It has been tested with .svg extension files.

In order to solve it, the MIME-type could be checked to see it the upload could be done or no.

I was checking in the source code and I got to this conclusion, please correct me if I'm

[2020-07-24 10:09] leone-91 commented on #6738
It is "Pattern", sorry for that mistake, my admin dashboard is configured in french!
I think you just need to add: {{ ContentItem.DisplayText | slugify }} in that pattern input

[2020-07-24 10:16] Nowhk commented on #6738
I see, nice! Is it possible to enable this by default? Otherwise every time users need to remember this expression :O

[2020-07-24 10:23] leone-91 commented on #6738
I am not sure but I think that in some themes it is enabled by default. Personnally I didn't have to add it manually

[2020-07-24 10:39] deanmarcussen commented on #6738
`{{ ContentItem.DisplayText | slugify }}` this should be the default setting when you add an `AutoroutePart` to a content type.

If it isn't doing that for you when you create content types, could you post some repro steps / or images of the settings for your content type that isn't doing that.

Also noting the default setting was added during RC1, so we should check your version as well, and make

[2020-07-24 11:40] Nowhk commented on #6738
I take it using dotnet new -i OrchardCore.ProjectTemplates::1.0.0-rc1-*
So probably that's the reason.

[2020-07-24 11:49] #6738 closed

[2020-07-24 13:05] #6756 closed

[2020-07-24 15:42] jaliao commented on #6762
How to add a new FileExtensionContentTypeProvider in OC project?

[2020-07-24 16:15] TFleury commented on #6740
`at` attribute was added to `StyleTagHelper` just to activate the tag helper when there is no 'name' nor 'src' attribute defined. So, not related to this issue.

Looks like it's been like this for a while, I'm much more for a documentation update.

[2020-07-24 18:43] vitalybrandes commented on #6723
@hishamco  following this issue,
See attached link to nice article regarding UI if cancel btn
https://medium.com/@uxmovement/why-cancel-buttons-should-never-have-a-color-6ce7e763d7f1

[2020-07-24 21:54] KaloyanIT commented on #6751
I'm interested in contributing. Could you provide a little more detail on exactly what should be accomplished to resolve this issue?

[2020-07-24 21:56] ns8482e commented on #6762
@jaliao Are you using Vue CLI?

[2020-07-24 22:39] jtkech commented on #6744
All are good comments but for me `{contentType}{displayType}__{partType}__{fieldName}` is more specialized than `{contentType}{displayType}__{fieldType}`, so i would vote to place it after

Similarly line 120 `{contentType}{displayType}__{partName}__{fieldName}__{shapeType}` is more specialized than `{contentType}{displayType}__{fieldType}__{shapeType}`

[2020-07-25 01:39] uussoft opened #6770 "MySqlException: Table 'exam.identifiers' doesn't exist"
When I installed orchardcore, this exception occurred when selecting MySQL database

![微信图片_20200725093805](https://user-images.githubusercontent.com/3772962/88446223-b9ee4480-ce5a-11ea-8756-fcc328abb905.png)

[2020-07-25 01:41] uussoft commented on #6770
My database version is mysql-5.5

[2020-07-25 01:51] justlucky opened #6771 "Can I remove jqueryui because bootstrap is already used in the project"
Can I remove jqueryui because bootstrap is already used in the project

[2020-07-25 03:43] ns8482e commented on #6740
It added long time back - seems intended behavior - added in PR #2973

[2020-07-25 03:56] ns8482e commented on #6649
Yes! That's the plan

[2020-07-25 12:21] #3846 closed

[2020-07-25 12:21] #4974 closed

[2020-07-25 12:21] #6761 closed

[2020-07-25 18:02] hishamco commented on #6771
Which project do you mean?

[2020-07-25 18:03] hishamco commented on #6770
Please provide us with the steps to reproduce

[2020-07-25 18:16] hishamco commented on #6723
Thanks @vitalybrandes, I'm still have a doubt about the current button's color, but this is a good article

[2020-07-25 18:23] hishamco commented on #6751
Glad to hear that @KaloyanIT!! the idea basically to avoid deleting the content type who has already some content items, unless we show a warning alert or confirm message telling that the current content type has associated content types. @CrestApps still waiting for you

[2020-07-25 18:28] hishamco commented on #6767
There's an option to allow specific media extensions @deanmarcussen correct me if I'm wrong

[2020-07-25 18:30] hishamco commented on #6765
I think I added this, I just assign it to me, I will take care about this

Thanks

[2020-07-25 22:51] hishamco commented on #6765
I was totally wrong when I used `GetRoleClaimsAsync()`, @deanmarcussen is there better way instead of have a dependency on Users?

[2020-07-26 00:57] ns8482e commented on #6771
@justlucky `TheAdmin` theme and out-of-the-box modules uses multiple frameworks like - bootstrap, jquery, jqueryui, vuejs and others - these resources are defined in `Resources`  module.

However, for your themes and modules - you are not required to uses these resources - you can use your choice of frameworks and version, by defining your resources in `ResourceManifest` .

[2020-07-26 08:35] #6174 closed

[2020-07-26 08:35] #6177 closed

[2020-07-26 08:40] deanmarcussen commented on #6765
I would imagine you need to use `UserByRoleNameIndex` which is in `User.Core` but I would not want to create that dependency, or make the query every time the role list is displayed.

Perhaps instead make it a server side validation and call `GetUsersInRoleAsync` from the user store instead.

[2020-07-26 08:42] khurram4u2 opened #6772 "Culture Localization"
Hi, When I enabled the localization and went to culture setting admin page. I can't see the list of cultures

![image](https://user-images.githubusercontent.com/56805276/88475042-be585180-cf6f-11ea-9ee8-31f56d23bd6f.png)

I am receiving following error. Don't worry about svgpath error.

![image](https://user-images.githubusercontent.com/56805276/88475036-b0a2cc00-cf6f-11ea-8eeb-e16e0110984d.png)

[2020-07-26 11:31] deanmarcussen opened #6774 "Deployment plans should be unique by name"
Deployment Plans are keyed by name as the unique identifier by the recipe step (and other places), however duplicate names are creatable in the UI.

The UI should prevent adding plans / keys with the same name.

The `CreateOrUpdateDeploymentPlans` in the `DeploymentPlanService` just acts as `Create` and should also handle `Update`

Currently creating a deployment plan recipe, and running it multip

[2020-07-26 11:38] #5348 closed

[2020-07-26 11:40] #6772 closed

[2020-07-26 11:57] #6692 closed

[2020-07-26 12:22] hishamco commented on #6765
Me too ;)

Let me think about it

[2020-07-26 12:23] hishamco commented on #6774
Can we use `IdGenerator` with `dp` prefix?

[2020-07-26 12:31] hishamco commented on #6765
What if we create a new index to count users per role? This will avoid the dependency and will not retrieve much data, then we can use the `UsersCount` as a part of `RoleDocument`

[2020-07-26 13:13] asimeonov opened #6775 "Slow page load and browser blocking in Admin caused by font-awesome in Media picker field"
Hi Orchard team.

I found a poor behavior related to fas svg icons generation from all.js file. It kills the browser from promises when there are large number of folders (I have 600) in Media picker. https://stackoverflow.com/questions/55164958/font-awesome-performance give me a hint where the issue may be.

[**solution / workaround**] I was able to work around it as suggested in the article above

[2020-07-26 13:43] hishamco opened #6776 "Security Critical Permission badge is missing"
@agriffard if I'm not wrong there was a badge for a `Security Critical` permission in the feature, but now there's no indicator for that, is there something change? Or it's deleted accidentally

[2020-07-26 13:49] agriffard commented on #6776
![image](https://user-images.githubusercontent.com/703248/88480668-85ac7e00-cf57-11ea-8b71-272517b480f7.png)

[2020-07-26 13:51] hishamco commented on #6776
I see, I thought it was show up on the enable / disable features

Thanks

[2020-07-26 14:10] #4124 closed

[2020-07-26 14:11] #5213 closed

[2020-07-26 16:27] hung-doan commented on #5655
The same problem here, mistaken remove the parts/type that is used by the modules (Taxonomy in my case), and It won't appear again. There would also be some mechanism to prevent users to manually remove the parts/type that could break the plugin.

[2020-07-26 17:14] hishamco commented on #6776
Is this include custom modules and features?

[2020-07-26 17:40] stevetayloruk opened #6777 "Mixed content with OpenID, authorize endpoint in an iframe"
Hi,

I'm experiencing an issue where the authorization code flow is failing due to mixed content (everything is https), but when doing the handshake it looks like its using http in the process.  I have an embedded iframe that contains a tableau embed from tableau server and all configurated to use open id.  It all works outside of the iframe but not inside.

[code]

All references are using https

[2020-07-27 02:30] scleaver commented on #6740
I have closed the code changes PR and updated the documentation to reflect the decision here to have no default location for script tag helper.

[2020-07-27 03:19] #6771 closed

[2020-07-27 05:47] vitalybrandes commented on #6736
@kevinchalet maybe you know what for is  UserTokens in user profile?
My issue:
We are adding signal r app as module to our solution,
This module will send notifications from desktop client to server and back.
My client authenticate with Open ID at login using password auth.
My problem is to protect signal r communication using same tokens?

[2020-07-27 07:52] vitalybrandes opened #6778 "Export / Import Existing users"
How can i export and import existing users in the system?

[2020-07-27 09:32] Nowhk opened #6779 "WebDeploy always push local App_Data"
I've a problem with Publish the CMS on the server.
Every time it deploy also the local App_Data on the server, removing all the server setup I've.

I noticed that the folder App_Data is not present in the project when I:

`dotnet new -i OrchardCore.ProjectTemplates::1.0.0-rc1-*`
`dotnet new occms -o cms`

This I think will ignore  pubxml and csporj settings, so it publish it every time.
How can I

[2020-07-27 11:16] jdnow commented on #6451
@FelixStumvoll Having the same problem with Azure authentication. Have you figured anything out?

[2020-07-27 12:43] hishamco commented on #6778
You can use deployment steps, but let me check if it's in the TODO list that @agriffard prepared while ago

[2020-07-27 12:46] hishamco commented on #6778
#5558

[2020-07-27 18:32] kevinchalet commented on #6736
This is a non-Orchard-specific ASP.NET Core Identity artifact that is typically used to store the access, identity and refresh tokens retrieved after an external authentication dance with an OAuth 2.0 or OIDC provider.

[2020-07-27 20:13] jtkech commented on #6779
You would need to update to rc2, see #6431

[2020-07-27 20:48] randaratceridian commented on #6303
One thing to clarify. Is all the information in Redis transient? i.e. is it only used as a cache and not as something like a message queue? We just want to know how much we care if we lose all the data in Redis.

[2020-07-28 00:16] jtkech commented on #6303
If you make a service needing persistent data in redis, it's up to you to configure your redis instance, right now we only use it for caching, not as a persistent store by itself, so all data can be flushed, they will be retrieved (or rebuilt from other data) from a shared store. Also used for shared states that are transient by nature and doesn't need any persistent data.

In fact it is a multi l

[2020-07-28 05:55] vitalybrandes commented on #5558
Can i export and import existing users using deployment?

[2020-07-28 05:55] vitalybrandes commented on #6778
Closing this issue move to #5558

[2020-07-28 05:55] #6778 closed

[2020-07-28 06:00] #6736 closed

[2020-07-28 07:04] deanmarcussen commented on #5558
You cannot currently do this.

I am working towards being able to handle secrets during deployment on tis pr https://github.com/OrchardCMS/OrchardCore/pull/6421

When that is completed - it's not ready, we might be able to consider import and export of users through deployment.

[2020-07-28 07:11] Nowhk commented on #6779
Thanks.

[2020-07-28 07:11] #6779 closed

[2020-07-28 09:00] ruisdias commented on #6767
@hishamco yes, it exists. But my point is that the extensions don't ensure that the file is exactly what the extension says it is. For example, I can send a .exe change it to .svg and the application will accept it.

[2020-07-28 10:46] deanmarcussen commented on #6767
You are correct @ruisdias

We check file extensions - that's why it's called `AllowedFileExtensions`, as does the underlying ASP.NET Core `StaticFileMiddleware` when serving the file, so it is based on that.

Many browsers apply the same technique to calculate a mime type, so I'm not sure checking the mime types would achieve anything.

We've already validate that you can't rename a file if it is

[2020-07-28 10:50] hishamco commented on #6767
You are right, @deanmarcussen seems the point is if the `.svg` is allowed extension, so any `.exe` file after alter its extension to `.svg` will be accepted

[2020-07-28 11:13] pchoisnard opened #6781 "not contains"
HI.
I try this methods, it's work

_orchardHelper.QueryContentItemsAsync(query => query.Where(x => x.ContentType.Contains("gg"))).Result.ToList();

The same with a ! not work with an exception.
_orchardHelper.QueryContentItemsAsync(query => query.Where(x => !x.ContentType.Contains("gg"))).Result.ToList();

I have miss something to make a not contains request ?

[2020-07-28 12:35] Piedone commented on #5558
While you can't export and import users per se but you can create users from a recipe with the ˙`createUser` command ([see](https://github.com/OrchardCMS/OrchardCore/blob/acee23ef121a09568198ebda164d591ae9f084ed/src/OrchardCore.Modules/OrchardCore.Users/Commands/UserCommands.cs)).

[2020-07-28 21:22] jtkech commented on #6781
Yes, YesSql is doing method mappings to build an sql query in a given dialect where you can't use the `!` operator.

One solution is to use the content definition manager to first filter the existing types (that are cached), and then use the `IsIn()` or `IsNotIn()` extension. I tried the following in a razor view.

    @using OrchardCore.ContentManagement.Metadata
    @using YesSql.Services;
    @

[2020-07-28 22:53] daene17 opened #6782 "How to format Lucene search in Razor page"
Hello, I am trying to use the Lucene search function to query content which is working fine.
![image](https://user-images.githubusercontent.com/8889105/88729692-5594e480-d0e9-11ea-87ab-7344f5ba6c1a.png)

But I want to format the page so its not just plain.

I see they have a solution on how to do that for .liquid pages in the documentation.

But I was wondering how this would be possible with a ra

[2020-07-29 07:24] ArieGato commented on #6744
@jtkech So should I make a PR for the change?

[2020-07-29 07:39] pchoisnard commented on #6781
Thank you for your reply.

It works if we have a list of predefined values.

But if we want to do a search as not like '% xxx%' on a text field in an index table which can contain any value ?

[2020-07-29 12:23] douwinga opened #6784 "Ability to add an admin template for a dynamic part"
With the admin template feature, it appears that it is not possible to create a template for a dynamic part (a part created via the UI). It appears that there is no shape name to target, but it is possible I am missing something. Currently seeing this with RC2.

[2020-07-29 12:39] nuno-tiago-reis opened #6785 "Question: Custom Content Item Type Layout in the Admin Section"
Hello,

I would like to have the Hint for one of the fields in a Content Item Type be populated dynamically (e.g. show a list of available tokens that are stored in a database). Is there a way I can customize the layout for the form in the Admin section for that specific Content Item Type?

[2020-07-29 13:03] deanmarcussen commented on #6784
Yes, that is correct.
We render a dynamic part template on `BuildDisplayAsync` (special as it has some alternates)

`BuildEditorAsync` just uses `ContentPart_Edit` to group all the shapes for each part together (no alternates)

You could add an alternate in with an `IShapeTableProvider`, but ultimately it's just going to render the parts and fields that are contained inside it.

So depends on what

[2020-07-29 13:12] ns8482e commented on #6784
Edit experience is controlled by editor shape, so there won’t be any benefit adding alternates for edit

[2020-07-29 13:13] #6740 closed

[2020-07-29 13:16] #6717 closed

[2020-07-29 13:23] agriffard opened #6786 "Theme version with prerelease not displayed correctly"
The built-in themes have this version:
`Version = ManifestConstants.OrchardCoreVersion`
which is currently `1.0.0-rc2`

They are displayed like this with a version `0.0`:
![image](https://user-images.githubusercontent.com/703248/88805433-6f006400-d1af-11ea-89a1-0189473d2c6f.png)

[2020-07-29 13:32] douwinga commented on #6784
Ya, already tried adding an alternate for `ContentPart_Edit` with an `IShapeTableProvider` and as @ns8482e  pointed out it does not work.

Just trying to have a template for a named part with a bunch of fields on it multiple times on the same content type and have it styled a specific way.

[2020-07-29 14:30] OrchardSkills opened #6787 "When executing a Set Property Task (Workflows) the Esprima .NET is throwing the exception argument was out of range."
Found the issue.

Set Property not needed. Updated Create Content Task and read from the form. Please close the issue.

When executing a Set Property Task (Workflows) in the Esprima .NET assembly an exception argument was out of range occurs.

![image](https://user-images.githubusercontent.com/59172485/88810540-b74d6100-d172-11ea-8849-77f4bb508e94.png)

JavaScript parsing: "JSON.parse(readBody())"

[2020-07-29 14:52] deanmarcussen commented on #6784
I don't know why adding an alternate would not work - works fine for me, as I do alternate the `ContentPart_Edit` occasionally - mostly to get rid of the named part descriptions when I've moved the parts contents into a tab.

[code]

But it depends what kind of styling you are trying to achieve, as @ns8482e says it is just a holder for the field editors.

[2020-07-29 15:40] ns8482e commented on #6784
Yes, as @deanmarcussen suggested you can add alternates to `ContentPart_Edit`. But IMO - the editor is driven by Editor shape - and  `ContentPart_Edit` is simply rendering all `Fields` without any `html` rendering - so technically there no benefit adding alternate to  `ContentPart_Edit` - so it's better to provide custom editor shape for the filed that you want to render differently for the part.

[2020-07-29 15:48] ns8482e commented on #6784
@douwinga if you are looking for only to change `widget` editing experience in `Flow`
you could use  `ContentCard_Frame` template to customize shape.

Here are some example that might help you - https://github.com/OrchardCMS/OrchardCore/pull/4470#issuecomment-540891941

[2020-07-29 15:57] douwinga commented on #6784
@deanmarcussen that is essentially what I was doing and then having the `ContentPart_Edit__{contentPartName}` be an admin template. Not sure why I couldn't make it work.

By styling I really mean layout. Being able to create something like this like we did in O1 where we can have a bootstrap row and fields in columns. You could then just add the part and it will always be laid out the same way.
![

[2020-07-29 16:14] deanmarcussen commented on #6784
yeah I wondered if you meant layout @douwinga

So I've had a similar need, and have done a couple of things around it recently (so depends on your version here)

Implemented some placement rules for tabs/cards/columns - bootstrap ones
and tweaked something last week so placement is applied to dynamic content parts

Docs on cards & cols are here https://docs.orchardcore.net/en/dev/docs/reference/co

[2020-07-29 16:27] CrestApps opened #6788 "The placement.json file is ignoring Widget content type"
I am trying to force multiple content-types to render using a common predefined view. I created two content-types (that is: `FancyInputPropertyType` and `FancyInputCities`.) Each content-type has `InputGroupWithAddonPart` part attached and has an `Input` shape. Both of the content-types are `Widget` type and should be rendered using the following loosely typed view (`FancyInput.cshtml`.)

[code]

[2020-07-29 17:27] OrchardSkills commented on #6787
Found the issue.

Set Property not needed. Updated Create Content Task and read from the form.

[2020-07-29 17:27] #6787 closed

[2020-07-29 18:23] CrestApps commented on #6788
I am still not sure if this is a bug or not. But I accomplished what I need using wrapper as the [form module has done](https://github.com/OrchardCMS/OrchardCore/blob/cd9b5c0f208c50f5f89ddc9243b2530bf7814e97/src/OrchardCore.Modules/OrchardCore.Forms/Drivers/FormContentDisplayDriver.cs#L13-L25)

[2020-07-29 19:22] ns8482e commented on #6784
`Content_Edit` provides alternate out of the box for ContentType like `Content_Edit__ContentType`. May be you can use that in  AdminTemplate

[2020-07-29 21:52] #6786 closed

[2020-07-29 23:07] jtkech commented on #6744
@ArieGato It's just my opinion after a quick look but yes feel free to suggest it through a PR

[2020-07-29 23:23] jtkech commented on #6781
Yes i understand but i'm afraid that we can't do such `not like`, you may have to change your strategy to categorize items.

Maybe by using Taxonomies / terms the expert being @deanmarcussen

Or by using Lucene indexing the expert being @Skrypt

[2020-07-30 00:05] sebastienros commented on #6781
Should be possible to add it in yessql

[2020-07-30 00:38] hung-doan commented on #6572
@deanmarcussen It doesn't work
- using `[Authorize(AuthenticationSchemes = "Api"), IgnoreAntiforgeryToken]`
- Enabled OpenId
- Issued a token
- Passed the token to Bearer

Is manual checking via `IAuthorizationService` required ?.  In the simple scenario above, I just want to check if the user logged in or not.

[2020-07-30 00:49] jtkech commented on #6781
Cool

[2020-07-30 04:10] willnationsdev commented on #4040
Hello @bakintunde. I was curious how your work on this was coming along (currently at bakintunde/OrchardCore@8a209b47b61036b89ed035e0a319d79bd262962a). I can't quite tell based on the commit history, but development appears to have stalled. Are there any particular obstacles you encountered that this Issue could be updated with?

I have a team that may be interested in OrchardCore. If we end up ch

[2020-07-30 07:20] pchoisnard commented on #6781
thank you
it might be a good idea

[2020-07-30 15:59] deanmarcussen commented on #6572
@hung-doan you manually check `IAuthorizationService` to authorize against resources, i.e. content items, for the correct permissions, (or other alternate permissions you might have / be using.)

So for your simple scenario possibly not required, but still recommended.

Regardless it shouldn't stop it working.

Would need to understand what "doesn't work" to help further?

[2020-07-30 17:09] sebastienros commented on #6733
Remove the "View all Content" permission, and in your custom pages, check for this permission too.

[2020-07-30 17:09] #6733 closed

[2020-07-30 17:23] sebastienros commented on #6326
@jptissot I read you code and I don't understand the fundamental differences between the current module and yours. They both use a form part, and form elements as widgets. What is deserving a custom module?

[2020-07-30 17:30] agriffard commented on #6758
Can be related to #6751, #6300, #5669

[2020-07-30 17:39] sebastienros commented on #6725
the content admin controller needs to check if the ModelState is valid before invoking RemoveAsync(), and call `session.Cancel()` if not.

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Contents/Controllers/AdminController.cs#L583

I think it's up to the called or RemoveAsync (or UpdateAsync) to check for ModelState errors and cancel the transaction or displ

[2020-07-30 17:40] sebastienros commented on #6725
As a mitigation, you can call `_session.Cancel()` until we fix the issue. That will prevent the database from being committed. Yo ucan also use `INotifier` to render an error message.

[2020-07-30 17:43] #6749 closed

[2020-07-30 17:45] #6760 closed

[2020-07-30 17:52] sebastienros commented on #6762
Unknown file types are not served by default in ASP.NET. We should document how to configure the static file provider (@jtkech can you provide an example?), either to accept all files (ServerUnknownFileTypes) or by adding a custom mime type mapping.

[2020-07-30 17:58] sebastienros commented on #6751
Will be hard for types that are contained (widgets, bag part content items, menu items...)

I assume we should just log the issue, and ignore the content items without throwing exceptions.

[2020-07-30 18:02] sebastienros commented on #6765
Remove the UI notification altogether

[2020-07-30 18:04] #6776 closed

[2020-07-30 18:05] sebastienros commented on #6777
@kevinchalet  could it be a header generated by openiddict?

[2020-07-30 18:06] sebastienros commented on #6775
@agriffard is it back>

[2020-07-30 18:08] sebastienros commented on #6767
You can also alter the headers, so checking the mime type is not a solution.
There is no way around this issue. At least, when the file is downloaded, it won't trigger the automatic execution (for exe).

[2020-07-30 18:08] #6767 closed

[2020-07-30 18:09] kevinchalet commented on #6777
It is, but OpenIddict simply uses `HttpRequest.Scheme` to build an absolute URL as part of its request caching feature. If an incorrect URL is generated, this means your app is not correctly configured to resolve the scheme (which typically happens when a proxy does TLS termination). Take a look at the ASP.NET Core docs to see how to fix that.

[2020-07-30 18:10] sebastienros commented on #6782
You create a Razor Page (@page) instead of a Razor View/Template. That might explain your issue.
Put the file in the Views folder too.

[2020-07-30 18:11] sebastienros commented on #6785
You can create a custom template if you have a custom admin theme. Find the existing template file, and change it in your admin theme.

[2020-07-30 18:11] #6785 closed

[2020-07-30 18:11] sebastienros commented on #6785
Note that's something that almost nobody does.

[2020-07-30 18:15] sebastienros commented on #6784
Ok to add part alternates with the part name and also the type name

[2020-07-30 18:19] sebastienros commented on #6781
Not for myself:
add IsLike("foo%bar"), IsNotLike
Maybe too hard to detect the `!` before Contains. Or maybe add a `NotContains` if it doesn't work.

[2020-07-30 19:55] thomasebsmith opened #6791 "Search Results Not Displayed in Correct Order"
When search results are displayed, they are often in the wrong order.

I have reproduced this issue on version 1.0.0-rc2-13968 and on the dev branch at edc370705709a7ee94c2940fb17859701afb1b75.

### Reproducing
1. Create a new Orchard Core CMS site.
2. Start the site, and initialize it with the blog recipe.
3. Go to the admin backend, and create two new articles: one with the title "Matches Worse"

[2020-07-30 20:45] stevetayloruk commented on #6777
Maybe its based on the configuration....

SSL provided by cloudflare and is confgured in "strict mode".  All requests are also forced to SSL.

Azure web app using CurrentUser > My as settings for cert in OC. (set fo both signing cert)

I've just cloned the latest dev branch and noticed that there is now settings for encryption certificate (wasnt an option before in RC2 release), I've set these to

[2020-07-31 01:45] jtkech commented on #6762
@sebastienros i will look at it asap

[2020-07-31 02:35] jtkech commented on #6762
@jaliao @sebastienros

First you would need a custom `IContentTypeProvider`, e.g.

        public class CustomContentTypeProvider : IContentTypeProvider
        {
            private readonly FileExtensionContentTypeProvider _contentTypeProvider =
                new FileExtensionContentTypeProvider();

            public bool TryGetContentType(string subpath, out string contentType)
            {

[2020-07-31 03:08] jaliao commented on #6762
thank you : )

[2020-07-31 05:02] khurram4u2 opened #6793 "Upload assests to wwwroot of tenant"
Hi, I have created a multi tenant cms. I want each tenant to upload the assests in "wwwroot" folder using media library. By default it is linked with Media folder. How can I allow clients to upload assests like custom css files or font in wwwroot folder.

Regards.

[2020-07-31 07:40] vahid001 opened #6794 "Confirmation form"
In Workflow we need the Confirmation form
That we can put different  actions(such as 'Are You delete record ?' or 'Are you confirm action?' ----> actions :'ok','cancel','Yes','Cancel',. . . ) in it and open it in a modal or alert
If possible, consider this as a future work
Thanks a lot

[2020-07-31 07:47] kevinchalet commented on #6777
Nope, it's completely unrelated. You're facing a very general issue that is not specific to Orchard nor to its OpenID module: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1

[2020-07-31 14:48] hishamco commented on #6791
@thomasebsmith can you send a PR for it?

[2020-07-31 14:52] hishamco commented on #6793
The media folder is configurable, please checkout [MediaOptionsConfiguration](https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Media/Services/MediaOptionsConfiguration.cs)

[2020-07-31 14:58] hishamco commented on #6758
Seems the issues that you referred to are duplicates, this includes the deletion issue plus the ability to add a deletion feature on content types page, you can close the duplicates and keep one for tracking

[2020-07-31 15:04] hishamco commented on #6765
We can change the message, but we should think about such cases where there's a dependency such as ContentTypes with Content Items ... etc.

[2020-07-31 15:57] vahid001 commented on #6521
This will help you
![Receive Data From IoT](https://user-images.githubusercontent.com/3223934/89053274-3659b980-d36c-11ea-986e-01a5c3517cdf.jpg)

[2020-07-31 16:29] rjpowers10 opened #6795 "Add user updated event"
I'm wondering if we can add an `UpdatedAsync` to `OrchardCore.Users.Handlers.IUserEventHandler` and invoke it from `OrchardCore.Users.Services.UserStore`. I want to notify an outside system when the Orchard user is updated.

Looks like a `DeletedAsync` was recently added under #6719 so presumably it wouldn't be too much trouble to add `UpdatedAsync` as well.

[2020-07-31 17:33] rserj opened #6796 "Consider use of IAsyncEnumerable<T> for our services"
https://docs.microsoft.com/en-us/archive/msdn-magazine/2019/november/csharp-iterating-with-async-enumerables-in-csharp-8
I think it will be beneficial in terms of performance for services like
- IFileStore.GetDirectoryContentAsync
- YesSQL?
- other services where we return Task<IEnumerable<T>>

[2020-07-31 21:04] stevetayloruk commented on #6777
Thanks @kevinchalet & @sebastienros.

Added in the header forwards and all is working now.

Thank You!

[2020-07-31 21:04] #6777 closed

[2020-07-31 21:42] kevinchalet commented on #6777
@stevetayloruk you're welcome 👍

[2020-07-31 21:58] CrestApps opened #6799 "HtmlField is showing 2 textarea standard and Wysiwyg"
I create a part called `FancyPagePart`  class like this

[code]

Then using a migration I create `FancyPagePart` part and `FancyPage` type like so
[code]

When I create a new content-item of "FancyPage" type, the editor shows 2 separate fields called "Details". A standard `textarea` editor and another `textarea` with `Wysiwyg` editor.

The generated html show the input name `FancyPagePart.Summary.

[2020-08-01 03:58] khurram4u2 commented on #6793
@hishamco thanks got it. I used appsetting.json.

[2020-08-01 03:58] #6793 closed

[2020-08-01 11:37] #6795 closed

[2020-08-01 14:18] deanmarcussen commented on #6799
Have a look to the type definition in the admin area, and see if you haven't run this migration on an existing content definition record and created the fields twice.

Otherwise please try from a fresh install and post the type definition from your `ContentDefinition.json` file.

Somehow you appear to have ended up with two definitions for the same field name, but the code looks ok, so I suspect y

[2020-08-01 22:03] MichaelPetrinolis opened #6805 "Bug when using log Global Method without args"
if you use log('Information',JSON.stringify(context)) in a script, ex. Registration Script, the GlobalMethod calls log and passes an array of one null object, the method fails because logger treats serialized json objects as parameters.
[code]

[2020-08-01 23:31] staymo commented on #1211
Any progress in the current version? Yes I can implement a role matcher to hide specific shape, but it looks like impossible to set the shape "readonly" in a edit view.

[2020-08-02 03:39] staymo opened #6807 "Is it possible to set "readonly" or "disabled" by placement file?"
This should be doable with Placement. Such that shapes would not be rendered based on the current roles.

_Originally posted by @sebastienros in https://github.com/OrchardCMS/OrchardCore/issues/1211#issuecomment-345054193_

[2020-08-02 09:49] vitalybrandes commented on #6232
@Piedone
Hi
Is it available?

[2020-08-02 11:08] khurram4u2 opened #6808 "Changing svgpath for Trumbowyg"
Hi Guys, in following two files you have set the svg path to

$.trumbowyg.svgPath = '/OrchardCore.Resources/Styles/ui/icons.svg'; can it be change to
$.trumbowyg.svgPath = '~/OrchardCore.Resources/Styles/ui/icons.svg';

as I have set URL prefix to Content which causing issue to load svg file for trumbowyg. it gives error rescource not found.

it has been used in

HtmlBodyPart-Trumbowyg.Edit.cshtml

[2020-08-02 11:51] ns8482e commented on #6807
@staymo You can change the shape type by specifying `shape` in placement

[2020-08-02 12:03] Piedone commented on #6232
Not yet integrated into the dev branch but yes, check it out here: https://github.com/OrchardCMS/OrchardCore/pull/6679

[2020-08-02 13:21] staymo commented on #6807
Thank you.
I tried to set the shape as "TextField" in placement.json:
{
  "TextField_Edit": [
    {
      "inRoles": "Student",  //A matcher I just implemented
      "displayType": "Edit",
      "differentiator": "Profile-RealName",
      "contentType": [ "Profile" ],
      "shape": "TextField"
    }
  ]
}

But I got this exception:
InvalidOperationException: The model item passed into the ViewDat

[2020-08-02 14:25] ns8482e commented on #6807
Display shape and edit shape have different view model in this case. With placement, You can change the shape type however the model will still be for Edit.

Suggested to create your own shape type `TextField_Readonly` That render html from edit model instead of using `TextField` shape

[2020-08-02 14:41] staymo commented on #6807
Yes, it works! Thanks.

[2020-08-02 14:41] #6807 closed

[2020-08-02 15:45] infofromca commented on #4345
I think we can set  a  default connection string which is from default tenant, then if you need diff. db, set a custom indication(settings)

[2020-08-02 15:55] kevinchalet opened #6810 "Consider updating the applications/scopes management UI to support localized display names/descriptions"
More info: https://github.com/OrchardCMS/OrchardCore/pull/6809

[2020-08-02 17:07] kevinchalet opened #6811 "Consider giving the localization module an explicit (negative) order to ensure it's always invoked early enough"
Currently, the localization module doesn't play well with the new OpenIddict 3.0 beta3 built-in localization support as it's not invoked early enough to have a chance to set `CurrentCulture`/`CurrentUICulture` before OpenIddict returns an error message.

@jtkech any idea what would be an ideal value for `Order` here?

[2020-08-02 21:09] jtkech commented on #6811
We also have a `ConfigureOrder` that only acts on the `Configure()` ordering

        public override int ConfigureOrder => -100;

I will do a PR with the above and merge it if it fixes your issue

[2020-08-02 21:54] jtkech commented on #6808
Better to use

    $.trumbowyg.svgPath = @Url.Content("~/OrchardCore.Resources/Styles/ui/icons.svg");

Note: In many places we pass such data through an html data attribute and retrieve them in the script, e.g. see `ContentPreview.Button.cshtml` and `contentpreview.edit.js`. But not sure it's worth here as it already uses the razor `@` operator in the script with `@Html.IdFor(m => m.Html)`.

Would

[2020-08-02 21:56] CrestApps commented on #6799
@deanmarcussen I am not sure where should I look to know if the migration ran twice or now. Here is a screenshot from the admin panel

![FancyPage Type](https://user-images.githubusercontent.com/24724371/89133357-0cb9a300-d4d0-11ea-8ebc-891e5ddefc56.png)
![FancyPagePart](https://user-images.githubusercontent.com/24724371/89133358-0dead000-d4d0-11ea-99f0-8b24f144a21b.png)

[2020-08-03 00:36] #6811 closed

[2020-08-03 01:03] CrestApps commented on #6799
It turns out that I was using the wrong view to render my view model which is the reason I was seeing the extra fields.
Sorry my mistake.

[2020-08-03 01:03] #6799 closed

[2020-08-03 07:01] hung-doan commented on #6572
thanks, @deanmarcussen I managed to make it works.  I didn't enable "OpenID Token Validation"  so that It doesn't work.

To authorize a custom API we must
#### 1. Add this attribute to your controller or action:  [Authorize(AuthenticationSchemes = "Api"), IgnoreAntiforgeryToken]
**Where:**
- AuthenticationSchemes = "Api": to tell the API to use "Api" schemes which is defined via the core - https:/

[2020-08-03 09:27] zhyack opened #6814 "There is a bug in rename operation."
https://github.com/OrchardCMS/OrchardCore/blob/dc1c2016e5fbbafd7033928ebd124d85faf79f37/src/OrchardCore.Modules/OrchardCore.Media/wwwroot/Scripts/media.js#L602

After rename operation, if we don't refresh the page, there will be no update for the link of the corresponding media item. This problem will cause error if the users want to view the image right after renaming it. A simple way to fix this

[2020-08-03 09:57] hishamco commented on #6814
Thanks @zhyack for reporting this, could you please provide a PR for this?

[2020-08-03 10:23] hishamco opened #6815 "Inject Partials at Runtime"
Is there a way to inject partials into layout at runtime, without creating a custom them? I need to inject a partial into a the site layout dynamically, I was thinking about zones, but it would not work for my case because I can't predict if there's zones in the site layout, also I was thinking about partial views too, but I need the injection happen automatically without URL invocation

[2020-08-03 11:33] deanmarcussen commented on #6815
Realistically no, there isn't.

Without knowing exactly what you are trying to inject it is hard to suggest a solution.

However using a `IAsyncResultFilter` to inject to a `Zone` would be the appropriate solution.

You could look at the `LayersFilter` or the `ReCaptchaLoginFilter` for examples of this.

If you're concerned about the zone not being available render to the `Content` zone (which is

[2020-08-03 13:48] #6805 closed

[2020-08-03 14:34] vitalybrandes opened #6816 "NullReferenceException on Razor page multiple query contentitems"
Not sure if this is Orchard issue, but ask anyway,
.NET 3.1
Using Razor page,
multi query for orchard content, for first page load get Null exceptions, once refresh the page, everything is ok.
Happen only to page with multiple query's.

**Error:**
[code]

[2020-08-03 16:10] hishamco commented on #6815
Basically I need to inject a piece code of markup something like alert into the layout, it's quite useful for many scenarios one of them which I'm working on it `GDPR`

I will have a try ... thanks Dean

[2020-08-03 17:09] MichaelPetrinolis opened #6817 "Create a how-to guide for AzureAD integration"
Many users ask for help on how to use external providers.
A How to guide on azure active directory would show most of the aspects of registration and login settings

[2020-08-03 17:13] hishamco commented on #6815
Thanks a lot @deanmarcussen, `AsyncResultFilter` works perfectly, after I convert my partial to shape and tweak the style little bit to make it as expected.

Last question, how can I control the position if I need to put the shape before the Content Zone?

[2020-08-03 17:16] KshitizGIT opened #6819 "Shortcodes with parameters"
I need to add a custom class to the image rendered by the ImageShortCode.  I was hoping it could be achieved by this
[image class="image-fluid"] path of image [/image].

But it doesn't work. Can anyone suggest any other approaches ?

[2020-08-03 19:29] hishamco opened #6820 "Revise Contributor role"
As we all knew the `Contributor` role not be able to add a new content items, so how the user in this role should be called contributor?!!

I think we need to discuss and agree about the permission for this role before 1.0.0 release

/cc @agriffard @deanmarcussen @sebastienros

[2020-08-03 19:32] sebastienros commented on #6820
Write and publish own content? Editor can write and publish all content, right? What are the differences in O1?

[2020-08-03 19:36] hishamco commented on #6820
That's my expectation, @agriffard what are the differences between Contributor and editor in O1? Because I'm not aware too much about O1

[2020-08-03 19:53] hishamco commented on #6765
I just made a PR to revert the role deletion message, let us think later for appropriate solution to fix the message if there are a users belong to the deleted role

[2020-08-03 20:01] hishamco commented on #6820
I quote from OC1 docs https://docs.orchardproject.net/en/latest/Documentation/Managing-users-and-roles/

    - Administrator - Can perform any operation (has all permissions)
    - Editor - Can author, publish and edit his own and others' content items.
    - Moderator - Can moderate comments and tags only. No authoring permissions.
    - Author - Can author, publish and edit his own content items

[2020-08-03 20:03] sebastienros commented on #6820
O1 looks good to me

[2020-08-03 20:05] hishamco commented on #6820
Then I will push a PR ASAP

[2020-08-03 20:07] hishamco commented on #6819
AFAIK there's no `class` attribute in the `ImageShortcodeProvider`, @deanmarcussen can we add this while It's common and useful?

[2020-08-03 21:44] #4275 closed

[2020-08-03 23:30] hishamco commented on #6820
Seems the permission are fine, but the issue in the UI permission, we should toggle the action buttons based on the role permission

[2020-08-03 23:44] stevo-knievo commented on #3766
Hi,
I'm using the RC1 orchardproject/orchardcore-cms-linux docker image with Azure App Service. I'm trying to set the Azure Blob Storage appsettings via environment variables.

[code]

I tried a couple of combinations. e.g `OrchardCore__Media__Azure__ConnectionString="DefaultEndpointsProtocol=https;..."`

Here my local docker-composer attempt:

[code]

Unfortunately without any luck.

Thanks

[2020-08-04 00:09] jtkech commented on #3766
Through an env variable you still need the `OrchardCore` main section, so as i remember, by only replacing the section separator from `:` to a double underscore `__`, not the simple underscores of `OrchardCore_Media_Azure`

    OrchardCore__OrchardCore_Media_Azure__ConnectionString

[2020-08-04 00:35] stevo-knievo commented on #3766
@jtkech Thanks for your quick replay! I much appreciate it!

I change it. http://localhost:8080 is returning a 500er now.

`docker-compose logs --tail=all -f ` isn't showing any errors. I need to get the logging working.

[code]

[2020-08-04 00:45] jtkech commented on #3766
At least now it is another issue ;)

Yes, would need more logging info, do you have something under `App_Data/logs`?

[2020-08-04 00:48] stevo-knievo commented on #3766
I got it!! Thank you so much @jtkech!

I needed to remove the double quotation marks:

`OrchardCore__OrchardCore_Media_Azure__ConnectionString=DefaultEndpointsProtocol=https;...`

[2020-08-04 00:52] jtkech commented on #3766
Cool ;)

[2020-08-04 01:04] stevo-knievo commented on #3766
I wonder if we should document that and where?

[2020-08-04 01:16] jtkech commented on #3766
I found [this here](https://github.com/OrchardCMS/OrchardCore/tree/dev/src/docs/reference/core/Configuration)

    Orchard Core stores all Configuration data under the OrchardCore section in appsettings.json files:

    {
      "OrchardCore": {
          ... module configurations ...
      }
    }

[2020-08-04 02:40] zhyack commented on #6814
@hishamco Please check PR [6824](https://github.com/OrchardCMS/OrchardCore/pull/6824).
I will appreciate if you can notify me if there is any other similar bug. Thank you!

[2020-08-04 04:18] stantoxt commented on #4345
It's great.For now we can't create database from tenant setup.

[2020-08-04 07:41] #5023 closed

[2020-08-04 08:36] hishamco commented on #4345
What the feature that you refer to?

Why?!!

[2020-08-04 12:36] ArieGato opened #6828 "Render content items in ListPart in Summary display"
Hi,

I created an ImageGallery content type with a ListPart containing content of type Image (from TheBlogTheme). When I view the ImageGallery in Detail display mode everything works fine.
Then I created a Lucine query  returning all image galleries and display them in a Liquid Page. I use `shape_build_display: "Summary". Now the ListPart is not rendered. From what I see in the Display Driver I th

[2020-08-04 14:18] thomasebsmith opened #6829 "Add option to not escape search queries"
Right now, all search queries are [escaped](https://github.com/OrchardCMS/OrchardCore/blob/acee23ef121a09568198ebda164d591ae9f084ed/src/OrchardCore.Modules/OrchardCore.Lucene/Controllers/SearchController.cs#L123) before being sent to Lucene. This makes sense in most cases, but in some cases, it would be useful to let the user write Lucene query parser syntax directly.

An option should be added to

[2020-08-04 15:37] andreatosato opened #6830 "Laravel - Passport integration"
Hi all, I need to integrate Laravel passport auth to OrchardCore (https://laravel.com/docs/7.x/passport).
I write custom module like Azure Active Directory but we need OpenIdConnect standard. (https://github.com/OrchardCMS/OrchardCore/tree/dev/src/OrchardCore.Modules/OrchardCore.Microsoft.Authentication)
Google implementation is very similar.

Unfortunaly Laravel password not implement OpenIdConne

[2020-08-04 15:42] jptissot commented on #6830
I did write a module like this before. I based myself off of the Github authentication module.

[2020-08-04 16:38] ns8482e opened #6831 "Material Icon themes in Admin"
Include material icons for all themes

[2020-08-04 17:47] pbros commented on #6018
@carlwoodhouse any updates on this? I just tried migrating from MSSQL to Postgre thinking it would work as-is, but I'm relying on GraphQL to fetch the CMS content.

[2020-08-04 17:51] nasimnk opened #6833 "InvalidOperationException: Invalid serial number for shell descriptor ERROR in Orchard Core"
I am using orchard core in .net core 3 and in the start page of setup orchard, when select sql server and click Finish Setup button, this error shown up:

**InvalidOperationException: Invalid serial number for shell descriptor**
OrchardCore.Environment.Shell.Data.Descriptors.ShellDescriptorManager.UpdateShellDescriptorAsync(int priorSerialNumber, IEnumerable<ShellFeature> enabledFeatures, IEnumera

[2020-08-04 18:51] hishamco commented on #6833
Which version of OC and SQL Server are you using?

[2020-08-05 02:38] Skrypt commented on #6327
Knowing that for myself rebuilding the all the indexes can take quite some time on my website. I would probably see the automatic rebuild of the indexes as an option only. That's why having it as a workflow for me makes more sense. Also, everytime I republish the website on a new Azure Node I get to rebuild the indexes, so if I want this to be available as soon as it's published by the CI I would

[2020-08-05 03:01] RockNHawk opened #6835 "How to run unit test in Application instance context in Orchard Core"
Hi,

I have defain a StartupFixture to start Orchard Applicaiton instance, but I could not works will `ShellScope`.

Defina a OcAppStartupFixture for xUnit test to start an Orchard Core `Application instance`  by `Startup.cs` :

		public class OcAppStartupFixture
		{
			public OcAppStartupFixture()
			{
				var hostBuilder = Host.CreateDefaultBuilder(new string[0])
					.ConfigureLogging(logging =

[2020-08-05 03:32] stantoxt commented on #4345
It's about this.

The saas host institution should supply database storage, and the database storage can't be limited to sqlite-like database. Relational Database should be an option,if a tenant use this feature they can create their own database and setup web with the database.

If oc use relational sql server like postgresql or sql server, tenant must fill in connectionstring field with existing

[2020-08-05 03:42] RockNHawk commented on #6835
Just add Database setting in ShellSettings can Resove this issue.

	settings["DatabaseProvider"] ="SqlConnection";
	settings["ConnectionString"] = "Server=localhost;Database=xxx;User Id=sa;Password=xxxxxxx";
	settings["TablePrefix"] = "xxx";

	internal static Task<ShellContext> CreateDefaultShellContext(this IShellContextFactory shellContextFactory)
	{
			var settings = new ShellSettings()
			{

[2020-08-05 03:43] keepRunM opened #6836 "Menu click on admin page is invalid"
I downloaded the release version 1.0.0-rc2. After I created the site, I entered the admin page and clicked the menu without any response. No abnormal information

[2020-08-05 03:46] KshitizGIT commented on #6819
It was useful for me, so I have fixed this issue ? Can I send a pull request for this ?

[2020-08-05 05:48] jtkech commented on #6835
We don't register controllers as services, you may need to do so, at least for your controller, in your unit test context.

We do such things e.g. for GraphQL unit tests but then we use http clients to send requests to API controllers. In fact we have a fixture that is a `WebApplicationFactory<TEntryPoint>` from which we can get http clients.

But see in our `Tests` project what is done e.g. in `O

[2020-08-05 05:49] stevo-knievo opened #6837 "How to display the content-type title in the admin list view if the title isn't from type TitlePart?"
I have a content-type where I don't use the `TitlePart` as the title of the content-type instead I'm using taxonomy type. I noticed even if I use a simple `Text Field` as the title for `content-type` it won't show up.

In the admin under _Content -> Content Items_ the title is the `content-type` name instead of the value. I'm not sure what the best way to fix it. I'm struggling to find some (the "

[2020-08-05 06:25] jtkech commented on #6837
This is what is done in `TitlePartDisplay.cs` by the TilePart driver in its `UpdateAsync()` method.

So you may have a part whose driver do the same on updating but that do nothing in `Display()` for the front end.

That said, look at `TitlePartDisplay.cs`, there is already a `RenderTitle` option in the `TitlePartSettings`. So, if you only want to have a display text but that is not rendered on th

[2020-08-05 06:27] RockNHawk commented on #6835
@jtkech
Thank you for response.

I refactor the ASP.NET Core framework, and I resolve controller by `IControllerActivatorProvider`.

To work with Orchard Core, these code may helpful, it works for me:

    public class AppTestBase<TFixture> : IClassFixture<TFixture> where TFixture : class, IApplicationStartupFixture
    {
        public readonly TFixture Application;

        public AppTestBase(TF

[2020-08-05 06:54] deanmarcussen commented on #6819
Yes, please send a pr.

If you wanted you could add this feature request as well https://github.com/OrchardCMS/OrchardCore/issues/6745

There was no class attribute added originally because shortcodes are intended to be simple, and not require the content editor to know about html classes, however the `[image]` shortcode is a little bit of an exception as it is also needed to be used by developers

[2020-08-05 06:55] nasimnk commented on #6833
OrchardCore.Application.Cms.Targets  [v: 1.0.0-rc2-13450]
SQL Server 2017

[2020-08-05 07:16] deanmarcussen commented on #6833
The problem you're experiencing is trying to run setup on a database that has already had setup run against it.

You would need to delete your existing database (or properly clear it's contents) before running setup again.

[2020-08-05 07:17] deanmarcussen commented on #6837
There is also a liquid pattern and option available for the title part to calculate it from another field, which can be a simple approach when the actual title value is held elsewhere

[2020-08-05 07:21] deanmarcussen commented on #6828
This is by design.

There are two approaches
- Render in `Detail` (too obvious?)
- Placement for the `ListPart` to have it render in `Summary` for your particular content type.

i.e.
[code]

Something like that should work.

[2020-08-05 07:22] deanmarcussen commented on #6775
It might help to test this if you could provide a repro zip with something one of us can pop into a media gallery to see the issue.

Also which version of OC?

[2020-08-05 07:30] nasimnk commented on #6833
Yes I deleted existing database and created it again, the error changed:
DirectoryNotFoundException: Could not find a part of the path '...........\App_Data\Sites\Default\ContentDefinition.json'.

Did I something wrong?

[2020-08-05 07:35] deanmarcussen commented on #6833
Just delete the whole `App_Data` folder and your database

[2020-08-05 07:45] nasimnk commented on #6833
Deleted DB and App_Data folder but the error is still the same.

[2020-08-05 07:54] #6831 closed

[2020-08-05 07:54] #6791 closed

[2020-08-05 08:23] nasimnk commented on #6833
I created full directory (....\App_Data\Sites\Default) and it worked!!
Thanks

[2020-08-05 08:41] andreatosato commented on #6830
Thanks @jptissot your sample are great!

[2020-08-05 08:41] #6830 closed

[2020-08-05 08:45] #6833 closed

[2020-08-05 08:48] andreatosato commented on #6830
@jptissot  I need to change default **response_type=code** to **response_type=token**.
How can I complete this task?
Thanks a lot

[2020-08-05 10:56] ropstah commented on #3870
@jtkech this worked!

Rather hard to find in documentation how this works or how to add your own icon set.

[2020-08-05 11:01] hishamco commented on #6836
Perhaps it was a browser cache or internet issue, could you please try again without steps to reproduce we aren't able to validate if it's a bug or not

[2020-08-05 12:59] asimeonov commented on #6775
deanmarcussen I can create a console app for you if you like but it is quite simple to make for and to create 300 folders with random names in the "Media" folder. After this every content type that contains Media Field in it after opening will cause the browser to notify you that there is an script that is killing it. Here is the output of firefox 79.0 on windows 10

[code]

[2020-08-05 15:07] #6819 closed

[2020-08-05 15:08] agriffard commented on #6745
Closed by #6838

[2020-08-05 15:08] #6745 closed

[2020-08-05 15:09] stevo-knievo commented on #6837
First of all, thank you both @jtkech and @deanmarcussen for taking the time to reply. I much appreciate it.

Unfortunately, I have no idea what your guys talking about. I'm a newbie in the Orchard world. I'm using Orchard in the headless mode. The content will get served via REST API or GraphQL. But I'm not there yet.

I'm guessing both of my solutions attempted were not on track :)

Unfortunately

[2020-08-05 15:55] willnationsdev commented on #6833
So, I am encountering this same error, but I would like to find a resolution that doesn't involve deleting the entire database / App_Data folder.

We have our Default site, and it works, and we have created some test sites for experimentation (just getting started with OCC). `test` at `/test` got set up with a SQL Server connection and a `test_` database successfully. We then wanted to see if it w

[2020-08-05 16:17] mattobox opened #6839 "How to enable header in razor pages"
I'm using razor pages to display content from the Orchard Core CMS. By default the user theme is used, however the header is not showing. I'm using the blog theme and layout.liquid shows this:

`{% render_section "Header", required: false %}`

Is there a way I can render the header or other defined sections of the liquid view from within the razor page? I hope there is some way I can instruct the

[2020-08-05 17:19] hishamco commented on #6839
Have a look to Zones

[2020-08-05 17:38] mattobox commented on #6839
Thanks for that clue. I apologize, but I'm pretty new to Orchard Core. Is there any sample code on how to call a specific zone within a razor page?

[2020-08-05 17:47] hishamco commented on #6839
I will refer you to a little partial that I need to inject into the layout few days ago https://github.com/OrchardCoreContrib/OrchardCoreContrib.Modules/commit/33b15dc6784e9e7b85bea7c16658342228535be1#diff-a72f4e7a6172b278b23ddc5c21640877R50-R52

[2020-08-05 17:47] ArieGato commented on #6828
yeah, just a bit.
I really need to distinguish between the two. The layout of the ImageGallery differs between the two.

This works, but a little too good. For some reason the ListPart is rendered twice.

[2020-08-05 17:49] hishamco commented on #6839
This is the issue that I open #6815, I think its quite similar to what I asked for

[2020-08-05 18:00] ns8482e commented on #6839
@mattobox

You can define `Zone`  with `ZoneTagHelper` as following
[code]

That you can render using following in `liquid`

[code]

or in `cshtml`
[code]

All content of `MVC View` or `Razor Pages` are rendered at ` @await RenderBodyAsync()`  of your layout

However if you need sub sections withn `Razor Pages` (like nested layouts) than you could use solution provided in https://github.com/Orchar

[2020-08-05 18:09] mattobox commented on #6839
@ns8482e thanks for your response. This is helpful. For some reason the RenderSectionAsync does not exist in page context. Here is my simple razor page. Any clues?
![image](https://user-images.githubusercontent.com/52262927/89448174-70341280-d714-11ea-99f3-c536cee0eaa5.png)

[2020-08-05 18:15] hishamco commented on #6839
Please check the `_ViewImports.cshtml`

[2020-08-05 18:28] ns8482e commented on #6839
@mattobox Sorry It's working for MVC view but not for Razor Pages, I didn't realize that PR #6135 is still open.

For Now mitigation would be to use `ViewComponent`

[2020-08-05 18:40] mattobox commented on #6839
I'm sure I'm missing something easy, but it won't compile. Here's the two files:
![image](https://user-images.githubusercontent.com/52262927/89450947-a83d5480-d718-11ea-8d21-8c46e5a5214f.png)
Here are the errors:
![image](https://user-images.githubusercontent.com/52262927/89451014-c5722300-d718-11ea-9045-b85978dcbd66.png)

[2020-08-05 19:08] stevo-knievo commented on #6837
I got it semi to work with a simple text field using `Liquid` pattern! As described [here](https://docs.orchardcore.net/en/dev/docs/reference/modules/Title/#titlepart-settings):

`{{ ContentItem.Content.Product.Name.Text }}`

Now, I'm trying to figure out the `Liquid` pattern to display the selected tag.

[2020-08-05 19:23] stevo-knievo commented on #6837
**I got it!!**

`{{ ContentItem.Content.Product.Title.TagNames[0] }}`

Thanks again! @jtkech  @deanmarcussen

[2020-08-05 19:23] #6837 closed

[2020-08-05 20:23] ns8482e commented on #6839
@mattobox Sorry for the confusion
For `RazorPages` you inherit from `OrchardCore.DisplayManagement.RazorPages.Page`
and For `MVC Views` rendered from `Controller` inherit from  `OrchardCore.DisplayManagement.Razor.RazorPage<TModel>`

Solution that I suggested above is currently working only for `MVC Views` and not for `RazorPages` as related PR for `RazorPages` #6135 is still open.

[2020-08-05 20:33] ns8482e commented on #6839
@mattobox I would suggest you use `ViewComponent` for `RazorPages`

[code]

Define `/Pages/Components/Header/Default.cshtml`

and Use in your `Page.cshtml` as

[code]

[2020-08-05 20:47] ns8482e commented on #6836
@keepRunM Are you experiencing similar to this #6334 ?

[2020-08-05 20:54] mattobox commented on #6839
Thanks for providing this workaround. I may be mistaken, but I believe this would require me to create an additional header separate from the CMS. My hope is to use the header already defined in the CMS. The theme is working, but the header isn't showing by default. I'm hoping to enable it in someway.