[2019-08-29 22:23] jtkech commented on #4107
The extension points are `IShellConfigurationSources` and `IShellsSettingsSources`. There are config sources using existing config providers but there are also mutable.

As i remember i did an experimental work to keep instances in sync with distributed signals / messages that was also holding some tenant transition states. That's ok to keep running instances in sync but anyway we will still need

[2019-08-29 22:37] sebastienros commented on #4107
I think we'll need an implementation that will make use of a distributed event broker (SQL Server or Redis). How ready is your branch? We haven't looked at it in a year I assume ;)

[2019-08-29 22:55] jtkech commented on #4107
Yes, by using a message bus and we opted to do a 1st concrete implementation based on Redis.

Last commit of this branch is on 7 dec 2018.

I remember the general concepts but i forgot all the details ;)

[2019-08-29 22:59] sebastienros commented on #4107
I assume we need to store the properties in the database (same json structure/document with yessql) and then send a notification on other nodes to load the tenant. Let's get a quick look at it together if you want. And I am sure @deanmarcussen would love to see that too.

[2019-08-29 23:05] jtkech commented on #4107
Yes, this is okay for the shared store and for the notification this is already implemented in the distributed branch through a message bus (but based on redis).

[2019-08-29 23:10] jtkech commented on #4107
Ah okay when you want but after all this time not sure i'm ready for the details.

[2019-08-29 23:22] sebastienros commented on #4107
We have to fight Alzheimer before it's too late

[2019-08-29 23:27] jtkech commented on #4107
😄

[2019-08-29 23:39] #3740 closed

[2019-08-29 23:40] sebastienros commented on #3209
We need to replace all occurrences of `return Unauthorized();` by `return User.Identity.IsAuthenticated ? Forbid() : Challenge();`.

We can also make an extension method on `Controller` to simplify it.

[2019-08-29 23:40] sebastienros commented on #3209
Note that sometimes we really need to send a 401 directly.

[2019-08-29 23:47] sebastienros opened #4124 "Create an email address validation service"
Following this pattern:
https://html.spec.whatwg.org/multipage/input.html#valid-e-mail-address

`IEmailAddressValidator` defined in `OrchardCore.Abstractions`

[2019-08-29 23:50] hishamco commented on #4124
Could we move it to `Orchard.Email` instead?

[2019-08-30 00:13] sebastienros commented on #4124
No actually. It can provide service for validating email addresses. For instance a login page, or a form element would need that, and not necessarily  the Email module.

[2019-08-30 00:24] hishamco commented on #4124
Make sense

[2019-08-30 01:08] mattcrossmarc commented on #4107
Thanks for considering picking this up. And, thanks for the pointers to the existing interfaces @jtkech.

[2019-08-30 01:51] hishamco commented on #4046
I can confirm it's not a bug in Fluid, you could checkout with latest bits

[2019-08-30 07:34] deanmarcussen opened #4125 "Concrete Classes and Definitions for Content Types"
A great suggestion from Sebastien on gitter last night that's worth tracking

This is the idea, to be able to register a class as a content type, and when we resolve the ContentDefinitionManager they would be there too. So all statically. And yes we can also provide some helper to cast a content item to a class. IT can't be without some custom call as the intellsiense wouldn't know the actual type

[2019-08-30 07:44] deanmarcussen opened #4126 "Restrict Remove and Edit Settings for Fixed Part Definitions"
Following on from suggestion on #4125

If we create a Part Definition in a migration which has fields, and we define those fields on a Class, it would be great if we could restrict a couple of actions in the Admin

- Can or cannot, Delete the field from the Admin
- Can or cannot, edit the settings for the field

For me, when I've defined a Part Definition through a migration with Fields, it's ofte

[2019-08-30 07:46] PiemP commented on #4109
hmmmmm... I'm a little bit embarrassed...I'm new to team work...I prepare the branch, test the issue and then I try to send a PR.

If you prefer to do it by yourself I'm not jealous ;) .

I hope to doesn't do some mistake.

[2019-08-30 08:23] chinasqzl commented on #3431
![image](https://user-images.githubusercontent.com/16968103/64005122-49538080-cb42-11e9-9c96-69806737e360.png)
@Skrypt The above method does not solve the problem

[2019-08-30 08:37] dazinator commented on #3700
@jktech I was wondering with respect to this:

I am designing something similar to orchard (in that it's an extensible platform) and I considered how to make MVC behave in a multi tenant way. The orchard approach derices custom MVC services to reach that goal. I ended up just registering MVC multiple times (once in each tenants context). This way you can configure mvc for the tenant based on what

[2019-08-30 09:32] deanmarcussen commented on #4107
So Distributed before OCC @jtkech  :)

Some thoughts
- It could be interesting for `ShellsSettingsSources` to potentially become accessable via `IShellConfiguration`. This is newish from Azure https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview and if tenants.json was accessed through `IConfiguration` then it would have good potential for Azure. Still the message broker to rese

[2019-08-30 10:31] MichaelPetrinolis commented on #2029
This is supported today, you can enable the OpenID client module and check it out. What is missing is the mapping of your Idp roles with application roles. Also orchard should have an option to disable local users login, and auto redirect users to Idp for authentication. Now it presents a list with external providers to login. If you need and social logins, you could setup a tenant with OpenID con

[2019-08-30 11:06] AcellaEDU opened #4127 "Asset layout trouble"
![image](https://user-images.githubusercontent.com/6829626/64016160-eb696d80-cb2e-11e9-88bb-ca3c492fdee4.png)

![image](https://user-images.githubusercontent.com/6829626/64016188-f91ef300-cb2e-11e9-8c53-7c655518d2aa.png)

[2019-08-30 11:50] dodyg commented on #3807
Is there any workaround for this?

[2019-08-30 11:52] dodyg commented on #4121
svg aren't  cached https://github.com/OrchardCMS/OrchardCore/issues/3807

[2019-08-30 12:24] hishamco commented on #4127
Could please try to remove browser cache and try again, coz sometimes is happen

[2019-08-30 12:59] deanmarcussen commented on #3807
@dodyg What cache control setting are you seeing with svg's ?

Static files which aren't managed by ImageSharp should be picking up the default configuration of
[code]

from the `ServiceCollectionExtensions` defaults but it might be that we need to apply the same options to `UseStaticFiles` in the Media `UseStaticFiles` for media that isn't handled by ImageSharp, and is missing this configuration

[2019-08-30 13:38] Skrypt commented on #3431
Missing the tenant prefix

[2019-08-30 14:08] johnrom commented on #4126
I like the added properties, and I would lean towards the `Is*` versions. However, I wonder if this will be too limiting. Imagine I have a code-first content type, but I want to be able to _add_ something to it. That new added part or field should be editable, and all the fields could be rearranged visually. So I wonder if IsRemovable for example would apply on the Field / Part level in relation t

[2019-08-30 14:10] johnrom commented on #4125
My initial thought is:

- `ContentItem.As<TContentType extends ContentType>()`
- `GetContentItemByIdAsync<ContentType>(id)`

[2019-08-30 14:54] hishamco opened #4130 "Route translations with dynamic routing"
Seems ASP.NET Core 3.0.0 Preview 7 introduces `MapDynamicControllerRoute` and `DynamicRouteValueTransformer` which makes localization routes easier.

This could be useful for multi tenant applications where tenant routes can be activated/deactivated at any point

Have a look to this great article https://www.strathweb.com/2019/08/dynamic-controller-routing-in-asp-net-core-3-0/ by @FilipW

[2019-08-30 17:35] #4119 closed

[2019-08-30 18:29] sebastienros commented on #2345
Note that Monaco doesn't work correctly on mobile.

[2019-08-30 21:37] jtkech commented on #3700
We are doing quite the same, each tenant has its own isolated child container, a shell context (shell = tenant) with its own service provider, from which we can create isolated shell scopes, also its own pipeline and so on. When using mvc (not mandatory with the OC framework) `AddMvc` is called for each tenant, we also register an isolated `ApplicationPartManager` for each one ...

In fact, most o

[2019-08-30 21:47] sebastienros commented on #3700
Do make risky statements like this ;)

Why don't you join us then?

[2019-08-30 21:56] jtkech commented on #3807
Exactly 👍

[2019-08-30 22:22] sebastienros commented on #3807
humm, shouldn't we have one middleware for static files (including modules) and one for media?
We have different settings for these

[2019-08-30 22:23] sebastienros commented on #3807
Or is this svg file in a theme for instance, in which case this makes sense, as it's not a "media"

[2019-08-30 22:31] jtkech commented on #4130
We use them in the 3.0 branch for the home route and autoroutes

[2019-08-30 22:35] #4130 closed

[2019-08-30 22:35] sebastienros commented on #4130
I assume it's fine closing the issue as we already make use of it

[2019-08-30 22:43] hishamco commented on #4130
Happy to hear that, I'm fine Seb to close this one

[2019-08-30 22:53] jtkech commented on #3807
This is what we have but the one for media (for assets not recognized as images by IS)  doesn't use any cache config values. So maybe other options (maybe confusing) or re-use the same shellConfiguration `StaticFileOptions`. Or, from the media cache options `MaxBrowserCacheDays` and `MaxCacheDays`, compute some max ages to be used through a StaticFileOptions for these non images "media" assets, bu

[2019-08-30 23:20] jtkech commented on #3431
Didn't try it yet, so not related to the issue yet, but after a quick look.

So because we are removing the pathBase from the item url (when it doesn't start with `~/`)

    url = menuItem.Href.Replace(viewContext.HttpContext.Request.PathBase, "");

At least, when the url starts with `~/`, this line is wrong

    url = url.Replace("~/", viewContext.HttpContext.Request.PathBase);

I would just use

[2019-08-30 23:24] Skrypt commented on #3431
I can remember doing something with the Substring once.

[2019-08-31 00:58] jtkech commented on #3431
In `NavigationManager` the `~/` is already checked, so the line i mentioned above is wrong but never executed. Then, in `NavigationManager`, if it starts with `~/` the url is prefixed with the tenant prefix which is wrong because in any case just after we do the same with pathBase that contains the tenant prefix.

I tried to use `~/Admin/Contents/ContentItems/` as a menu item node, it doesn't work

[2019-08-31 01:16] #3821 closed

[2019-08-31 11:17] dodyg commented on #3553
# Decoupled CMS

## Pro

- Decoupled mode solves the perennial problem of "I want to build a web system that has CMS functionalities".  This capability alone is worth investing in Orchard Core. It is much better than any of your half-ass 'CMS' implementation.
- The module system takes sometimes to figure out but once you get a hang of it, it is very powerful.
- The content data model is very dynam

[2019-08-31 11:17] #3553 closed

[2019-08-31 11:24] dodyg commented on #4121
![zone-for-layers](https://user-images.githubusercontent.com/1761249/64063268-870fe200-cbf2-11e9-9858-80f73396848b.png)

- What is Zone
- What is Layers

[2019-08-31 11:25] dodyg commented on #4121
![rule](https://user-images.githubusercontent.com/1761249/64063277-c63e3300-cbf2-11e9-8dd8-9cbf92295102.png)

What rule?

[2019-08-31 11:26] dodyg commented on #4121
![widget-layers](https://user-images.githubusercontent.com/1761249/64063285-ec63d300-cbf2-11e9-826d-a76227b692bd.png)

- What is a widget
- Is there only one type of layers, .e.g Widget Layer?

[2019-08-31 13:12] agriffard commented on #4121
This is a condition to display the layer, a javascript boolean expression interpreted by Jint.

ex: `true` if always displayed, `isHomepage()` for the home, `url('~/blog*')` for a url starting by `blog`.
We still need to create the corresponding documentation: #3111

When you use other recipes, some layers are created during the setup.

[2019-08-31 13:14] agriffard commented on #4121
A Widget is a content type that has a `Widget` stereotype.

Some widgets are created when you use other recipes, like `Paragraph`, ...

[2019-08-31 13:18] agriffard commented on #4121
Then, you will ask: What is a zone?

You can define them in the admin `Zones` setting and they have to be the equivalent sections in your theme.

So, to summarize: the Layers page allows you to put widgets in zones for a specific Layer.
Ex: Add a paragraph Widget in the Footer zone on all the pages (= the `Always` layer).

[2019-08-31 15:55] deanmarcussen commented on #3807
I think maybe we can just use the media cache setting `MaxBrowserCacheDays` to calculate the `CacheControl`.

Because the Media StaticFileMiddleware will serve anything from `/media` that is not handled by ImageSharp, so svg's, plus also jpg's and png's that are not resized.

We don't need to worry about `MaxCacheDays` that is just used to validate refreshing the `is-cache`

I'll put a PR in, but

[2019-08-31 16:35] mattcrossmarc commented on #4107
Thanks again for your help with this.

Azure App Configuration sounds like it serves a similar purpose to [AWS Parameter Store](https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-parameter-store.html). I frequently use Parameter Store to centralize storage and management of shared settings and secrets across stateless and serverless architectures. Last night, I successful

[2019-08-31 16:46] deanmarcussen commented on #4073
Also for info
A further update to ImageSharp has improved no-op when no commands are present (for when an Image shouldn't be resized, or if it isn't an Image), so as and when the new release occurs, we can remove some of the extra validation work we do

[2019-08-31 17:53] sebastienros commented on #4107
@mattcrossmarc a common store for tenants.json can be anything, but when we mention redis here is to be able to get all nodes to be aware that the config has changed. Unless there is a way to push notifications when settings have changed?

[2019-08-31 18:15] mattcrossmarc commented on #4107
Thanks @sebastienros. That's good to hear.

Regarding pushing notifications, I would really like to be able to use an AWS SNS topic to which all web app instances subscribe. This could be implemented as an optional OrchardCore module that somehow gets a local, in-app event notification (maybe just a callback I receive from OrchardCore) when tenants.json changes, or more generally when configuratio

[2019-08-31 18:42] mattcrossmarc commented on #4107
Just wanted to report back on progress (note the numbering change relative to my original list since I added Data Protection as a numbered item as I should have done before):

**1. Data Protection in AWS Parameter Store**
I created a custom OrchardCore module for this, and it is working well. The key logic in this module is as follows:

[code]

Also, I set the module priority as was done in the Az

[2019-09-01 00:04] #3400 closed

[2019-09-01 06:04] jtkech commented on #4107
@deanmarcussen thanks in advance

Yes, this was the case at some point but we separate it from other config files for perf reasons by providing the minimum set of settings to run a tenant when requested. We have to remember this if coming from another custom source (maybe still a local cache).

But for infos the **settings reading part** uses the same `IConfiguration` stack meaning that we can eas

[2019-09-01 08:12] orchardc opened #4133 "Compile error: Could not write lines to file "Localization/.placeholder"."
In the new release (72282) , when compile I got the following error: Could not write lines to file "Localization/.placeholder".

[2019-09-01 09:32] dodyg commented on #4121
So let me validation my understanding

Does zone comes first then layers?

eg
There's `Template`

[code]

or Layer first then Zone
[code]

[2019-09-01 11:28] dodyg opened #4134 "Image cache control in /media doesn't work"
Orchard Core version `1.0.0-beta3-72166` decoupled

![cache-control-media](https://user-images.githubusercontent.com/1761249/64075658-429c4900-ccbb-11e9-852e-b0beede98453.png)

Because according to the docs, the cache should be by default 30 days https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Media/

![cache-settings](https://user-images.githubusercontent.com/1761249/640

[2019-09-01 12:37] deanmarcussen commented on #4134
Dup of https://github.com/OrchardCMS/OrchardCore/issues/3807

I have some time, I'll fix it now

[2019-09-01 13:02] deanmarcussen opened #4136 "Resource site settings duplicated"
Merge issue from https://github.com/OrchardCMS/OrchardCore/commit/843f1513cb625767560d8811b4d7c104ae700793

Resource section got duped
![merge-site-settings](https://user-images.githubusercontent.com/13782679/64076786-108de580-ccc1-11e9-8c9e-ea9094116a4c.PNG)

[2019-09-01 13:09] deanmarcussen commented on #4133
Can you provide some details on the environment you are running?

Operating System etc?

[2019-09-01 14:33] AcellaEDU commented on #4127
Does not help

Also
![image](https://user-images.githubusercontent.com/6829626/64077955-252ca680-ccde-11e9-9fb5-0e562c7c4d15.png)

![image](https://user-images.githubusercontent.com/6829626/64077988-7a68b800-ccde-11e9-9942-c46259671e05.png)

![image](https://user-images.githubusercontent.com/6829626/64078005-8a809780-ccde-11e9-832a-730f35d5809f.png)

[2019-09-01 14:55] #4136 closed

[2019-09-01 16:57] dazinator commented on #3700
Quite right, apologies. It seems orchard core repo was first created in 2014 and my efforts didnt start until 2015  - apologies!

Good question. At the moment I prefer to learn through developing my own projects. I think it is the creative freedom that keeps things fun for me and keeps me learning. However who knows what will happen in the future, perhaps I'll look to help out / contribute to the

[2019-09-01 21:27] scleaver opened #4138 "The specificity of base admin theme rules is too strong"
If you want to customise the look and feel of the admin a great thing to do is to simply base your custom admin theme on TheAdmin and then work from there. However, within TheAdmin theme the majority of rules use [dir] as the first selector making most rules difficult to tweak in a custom admin theme without resorting to more complex rules, which could easily be broken by updates to the admin UI,

[2019-09-01 22:17] jtkech commented on #4133
In addition to the `wwwroot` folder a cms app now needs a `Localization` folder whose files are outputed on publishing. See this folder (which includes a `.placeholder` file) under our `OC.Cms.Web`app.

So, if you build your own cms app you need to physically create this folder, then a placeholder file is automatically created on building if it is not already there.

In your project file you can u

[2019-09-02 02:44] scleaver commented on #3807
Sounds like a plan. I also have an issue with compression for svgs but I'll raise in another ticket I think.

[2019-09-02 04:18] chinasqzl commented on #3431
Do you want to edit the route to override the list in order to expand properly?
/Admin/Contents/ContentItems/Article
  /Admin/Contents/ContentItems/{id}/Edit -> /Admin/Contents/ContentItems/Article/{id}/Edit

![image](https://user-images.githubusercontent.com/16968103/64090025-9d957500-cd7b-11e9-9234-8bf9effe9381.png)

[2019-09-02 08:13] hishamco commented on #4138
Hi @scleaver I think this is done automatically in gulp file, I will have a look if I can tweak this, and ignore the [dir=ltr], nothing but I will give a link that shared by @sebastienros which shows that this approach is suitable to support two direction

[2019-09-02 08:51] agriffard commented on #4121
There are only zone sections in the theme.
Ex: `{% render_section "Footer", required: false %}`

You need to set them in the Zones settings
You declare Layers (which are displayed based on their Rule, the interpreted condition).

It allows you to drag and drop and edit widgets inside the zones for a specified layer.
Ex: You add a paragraph Widget in the Footer zone on all the pages (= the Always l

[2019-09-02 12:53] dodyg commented on #4121
OK I think I get it now. Let me study the theme. Thank you for your explanation.

[2019-09-02 12:54] dodyg commented on #4121
https://orchardcore.readthedocs.io/en/dev/docs/getting-started/theme/ needs more details. At the moment it is good enough to start an empty theme project but anything useful people will have to study existing themes.

[2019-09-02 13:08] dodyg commented on #4121
There needs to be a gentler version introduction to theming other than this document. This is hard mode tutorial https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Themes/.

[2019-09-02 13:19] dodyg commented on #4121
I think a better theme tutorial would start from this `layout.liquid` and start expanding from here. This `layout.liquid` is generated by `dotnet new octheme`.

[code]

[2019-09-02 13:44] dodyg commented on #4121
In the traditional CMS, existing theme isn't really a solution because you cannot alter the files of existing theme. You can't modify a theme and switch it from using bootstrap to using bulma.

You have to create a theme.

[2019-09-02 14:10] orchardc commented on #4133
Thanks @jtkech, it works !

[2019-09-02 20:15] aghili371 opened #4140 "List BlogPost Pager"
I have several blogs and i want to have a list for all posts.

i have to use this query to get all  posts to show all   on one liquid page:

[code]

so I'm not using :

`			{{ Model.Content | shape_render }}`

and I'm using for to show list of posts,  how can i have paging?

[2019-09-03 00:20] Skrypt commented on #4140
# Pager template

With previous and next links only. One or 2 requests made to DB and/or Lucene.

[code]

[2019-09-03 00:50] Skrypt commented on #4140
By the way it is possible with Lucene to return the TotalHits as if it was a `SELECT COUNT(*) FROM Table` I made the change for myself for now but I need some time before proposing a PR with it. I need to wrap my head around the reasons why using TotalHits with Lucene could be potentially less scalable.

[2019-09-03 00:55] #4140 closed

[2019-09-03 05:24] jean commented on #4140
FWIW, [from Sébastien on gitter](https://gitter.im/OrchardCMS/OrchardCore?at=5d6df6c0418f705d87838d96):

No need for `counter` just use `item.index`
It's special in liquid.
There are also some helpers for odd/even that are super useful.

[2019-09-03 05:56] Skrypt commented on #4140
It won't do the same. On page 2 for example numbers will start from 1 to 9 if I use `forloop.index`. Here as you can see I assign the base number of my counter to display number 10 to 18 for the page 2 ... and so on. But if what you mean is item.index I tried and it did not work.

[2019-09-03 09:50] orchardc opened #4141 "How to programmatically create 100 pages from a custom module?"
I have defined a custom "ContentType", call MyPage, which contains the following 3 elements: Description, Image, Title.

Fields

    Description
    Image

Parts

    Title

Question: How to programmatically create 100 pages from a custom module?

Many thanks!

[2019-09-03 10:56] BenedekFarkas commented on #3452
@sebastienros based on our previous discussion, I tried naming the connection strings in the Azure Portal for the App Service Configuration as detailed in the [documentation](https://orchardcore.readthedocs.io/en/dev/OrchardCore/OrchardCore/Environment/Shell/).

The issue still remains: When you define App Settings or Connection Strings in the App Service Configuration, in the case of an ASP.NET C

[2019-09-03 11:27] jrestall commented on #4141
I know this doesn't directly answer your question, but one option is to use a recipes file that stores the details for each of the pages and will create them when run.

Here's an example at the end of this recipe:
https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Themes/TheAgencyTheme/Recipes/agency.recipe.json

Add a few MyPage content items and then use the Deployment Plan Impor

[2019-09-03 12:00] hishamco commented on #4141
Have a look to the ContentManagement APIs

[2019-09-03 13:00] jptissot commented on #4112
After investigating, I realized that the tenant prefix is not even used by the workflow. However, the HttpRequest Activity token needs to be generated on the tenant itself. So I suggest to do the following improvements:
- Modify the forms module Action field to support liquid syntax, or the `~/` prefix. Or allow the form to target the workflow HttpRequest Activity directly.
- Modify the recipe exp

[2019-09-03 14:35] mruslan97 opened #4142 "Implementation text search"
This is my Lucene query
`{
  "from" : {{from}},
  "size" : {{size}},
  "query": {
    "bool": {
      "must": [
        { "match": { "HtmlBodyPart":   "{{searchString}}"      }}
      ]
    }
  }
}`
How i can use it? Any examples with forms or http workflows? thx

[2019-09-03 14:37] LMSSonos opened #4143 "Template not applied for Parts within a Bag"
I have created 2 parts, lets call them WeatherPart and NewsPart. For both of them I have created templates named `LandingPage__WeatherPart` and `LandingPage__NewsPart`. Each part has rendercode something like this:
[code]

On the landingpage I have Bag to which I add weatherpart and newspart. The Landingpage template has following code:
[code]

The problem is, that the Templates for Weather and Ne

[2019-09-03 15:21] hishamco commented on #4142
/cc @Skrypt

[2019-09-03 18:18] Skrypt commented on #4140
So as @sebastienros said. We could instead just use `forloop.index` that way too :

[code]

[2019-09-03 18:37] sebastienros opened #4146 "Content Fields indexing should not depend on Content Types"
It should instead `[Require]` the Content Fields feature.

[2019-09-03 18:41] #4032 closed

[2019-09-03 18:43] sebastienros opened #4147 "Create liquid helper to add shape properties"
Continuation of https://github.com/OrchardCMS/OrchardCore/issues/3371

Now that shapes can have custom properties we need to be able to change them from liquid templates.

[2019-09-03 18:44] #3371 closed

[2019-09-03 18:44] #3431 closed

[2019-09-03 18:45] #3807 closed

[2019-09-03 18:45] #4134 closed

[2019-09-03 18:53] #4109 closed

[2019-09-03 18:55] Skrypt commented on #1485
We can close this one?

[2019-09-03 18:59] Skrypt commented on #4141
Migration with a recipe file ; nice one. I'm learning every day.

[2019-09-03 19:00] #1485 closed

[2019-09-03 19:26] hishamco commented on #4141
It depends on the scenario

[2019-09-03 20:16] sebastienros commented on #4141
You would need to inject the content manager in the migration and create these, but usually content created at runtime is not random and you probably have a set of data somewhere.

Recently someone showed me another way to create lots of content, by creating a custom workflow and then call the endpoint with some load generation tool and the values in the request (querystrings or form body).

[2019-09-03 20:25] orchardc commented on #4141
Thanks guys, all I want to do, is when clicking a button in my custom module (a MVC page), it will then create 100 pages content based on the custom ContentType template.  i.e. create 100 pages with same information.

I'd think there is a API simply to do it? something like below:

[code]

[2019-09-03 20:40] orchardc commented on #4141
Thanks @sebastienros , I think workflow also works, only question is how to load 100 pages contents into the Content Property (as highlighted below). The page contents should be different per page.

![image](https://user-images.githubusercontent.com/16193516/64206800-31a63000-ce93-11e9-93b6-39988c1fce92.png)

[2019-09-03 21:17] hishamco commented on #2809
@scleaver could you please let us know what's remaining to close this one? At least I can help you close it if there's something still pending ..

[2019-09-03 21:25] hishamco commented on #3508
@sebastienros is this should be closed after we merge this https://github.com/OrchardCMS/OrchardCore.Translations/pull/13

[2019-09-03 21:30] sebastienros commented on #4143
`{{ item | shape_display | shape_render }}` maybe ?

[2019-09-03 21:30] hishamco commented on #2145
@sebastienros correct me if I'm wrong, I think I resolve this issue after we support RTL to TheAdmin theme

[2019-09-03 21:30] #2145 closed

[2019-09-03 21:32] hishamco commented on #2129
@pgy866 is this still happening with the latest bits?

[2019-09-03 21:36] hishamco commented on #2207
@MatthijsKrempel  did you made any progress on this one?

[2019-09-03 21:39] sebastienros commented on #2129
We might need two things:
- support unicode chars in the generated autoroute
- provide a transliteration liquid filter that could be used in the autoroute pattern

[2019-09-03 22:46] hishamco commented on #500
@sebastienros is this a duplicate of #3607

[2019-09-03 22:47] #3570 closed

[2019-09-03 22:47] #4146 closed

[2019-09-03 22:51] hishamco commented on #1380
Could you elaborate why we need to add such classes? Is it for semantic purpose or you have something else in your mind?

[2019-09-03 22:52] hishamco commented on #1212
@barthamark if you are still interested on this one please start a PR, otherwise I will schedule this on the PRs that I will work on

[2019-09-03 22:57] sebastienros commented on #1380
To be able to customize a page without the need of create a custom template for the type if you only need some custom css.

[2019-09-03 22:58] sebastienros commented on #500
Duplicate of #3607

[2019-09-03 22:58] #500 closed

[2019-09-03 23:11] hishamco commented on #438
I can think of this as:

1- Global / Shared Content Type: which is a singleton content type that created once and used everywhere. This is useful to reuse the same content type across multiple tenants, instead of create it again and again

2- Global Content: which is a piece of data that can be used across multiple tenants, this can divided into:

  2.1- Singleton Content: where the value shared a

[2019-09-03 23:20] hishamco commented on #1380
Got it, but can we go further by created a `CssClassPart` to let the user define the CSS classed for any rendered content item

I was thinking about a scenario where a page render content items with different content type, say: BlogPost, Article, so the body will be

[code]

so any one of them can control the style of the body, which is redundant, nothing but `CssClassPart` can decorate the contai

[2019-09-03 23:33] hishamco commented on #2129
It's working

![unicode-autoroute](https://user-images.githubusercontent.com/3237266/64215122-f8ce8100-cebb-11e9-8067-d96ab9bf06ef.png)

[2019-09-03 23:33] #2129 closed

[2019-09-03 23:40] sebastienros opened #4151 "Provide a transliteration filter"
Related to https://github.com/OrchardCMS/OrchardCore/issues/2129

We should have a transliteration filter if we want to use ascii char from a liquid template.

[2019-09-03 23:40] sebastienros commented on #2129
Thanks for testing. Created this one to follow-up on the transliteration filter. https://github.com/OrchardCMS/OrchardCore/issues/4151

[2019-09-04 00:42] hishamco commented on #1358
@jtkech I think this has been answered, if no action is required please close it

[2019-09-04 00:46] sebastienros commented on #2046
I find it weird to generate a link to do this here. Ideally we should have a Profile page, that can be extended with custom drivers, and this will be one of the things to display, and this custom link would just be removed. But we already track that somewhere, and right now it's ok to just display the link conditionally, though removing it altogether would just be as fine, as we can't even access

[2019-09-04 00:49] #1358 closed

[2019-09-04 02:28] hishamco commented on #1444
Seems it's an old bug

It will cover this in my PR

It will cover this in my PR, if it's necessary

Could you please provide an image, perhaps its a style issue

I think there's already opened issue for that, so it's not a theme related

Is it necessary to edit this from The Admin?

[2019-09-04 02:44] kiventwang opened #4153 "init exception"
I create a module and the web application refence it, when I run the application project I got a excetption that -->An unhandled exception occurred while processing the request.
InvalidOperationException: Unable to resolve service for type 'OrchardCore.Settings.ISiteService' while attempting to activate 'OrchardCore.HomeRoute.HomeRouteMiddleware'.
what can I do

[2019-09-04 03:05] jtkech commented on #4153
The Homeroute feature would need a feature that manage the Homeroute settings. The Autoroute feature does this but another feature could do this so here we don't define an explicit dependency.

Then, to manage the Homeroute settings, the Autoroute feature needs a feature that manage site settings as the `OC.Settings` do, and for the same reason here also without any explicit dependency.

**So, it

[2019-09-04 04:19] hishamco opened #4155 "Make Tenants page pretty"
I notice that Tenants pages has a lot of style issues, for consistency I will make it similar to the content items page

[2019-09-04 06:14] LMSSonos commented on #4143
Thanks for your fast answer. I tried that but the issue is that the template itself is not loaded. I tried to add some static HTML code to it and it does not load, what should the naming be for Templates of parts within a bagpart, is it still `LandingPage__Partname` or should it be `Content__Partname` or something different?

[2019-09-04 06:38] giannik opened #4157 "Specific part rendering not working in razor view."
Following the example here
https://orchardcore.readthedocs.io/en/latest/OrchardCore.Modules/OrchardCore.Themes/README/

 I have created specific razor template for Project content type  Content-Project.cshtml
 and addded

`@await DisplayAsync(Model.Content.MarkdownBodyPart)`

This does not render the part in razor.

The same example in liquid works.

Content-Project.liquid
`  {{ Model.Content.Mark

[2019-09-04 06:49] deanmarcussen commented on #4138
Seth @hishamco is right this is done by a gulp file task which adds the [dir] etc attributes automatically to anything that is direction related.

So the admin theme is based on bootstrap sass and all of the [dir] is actually being added to standard bootstrap sass.

The approach I use to customise the resulting css for the admin is to import the admin sass in the parent admin theme, add some custo

[2019-09-04 06:53] hishamco commented on #4138
Thanks @deanmarcussen I really forgot that I created a flag `generateRTL` which allow us to enable/disable RTL classes

[2019-09-04 06:56] MatthijsKrempel commented on #2207
Yes, you can look at the Login page in the OrhcardCore.Users module and see that there is room to inject additional UI components.
An example of this injection can be found in the OrchardCore.ReCaptcha module with the ReCaptchaLoginFilter.

[2019-09-04 06:58] #4138 closed

[2019-09-04 06:58] deanmarcussen opened #4158 "Resource Manifest bootstrap shouldn't be RTL generated"
The bootstrap and codemirror files in `OrchardCore.Resources` are generated RTL

This doesn't work as soon as you put a site into production as both these files also have a CDN value, and the CDN supplied version will not be RTL.

I think bootstrap probably should not be generated RTL. For the admin we import bootstrap as sass and RTL it there. Bootstrap in the resource manifest is only there for

[2019-09-04 07:08] hishamco commented on #2207
If you are interested on this one, you can push a PR

[2019-09-04 07:12] hishamco commented on #4158
@deanmarcussen RTL is supported into many things bootstrap, Codemirror, trumbowysiwyg .. etc, but when these are using CDN it will break what we did before

Perhaps we need to think deeply about this to support RTL for both development & production environments

[2019-09-04 07:22] deanmarcussen commented on #4158
Let me try and clarify for you @hishamco because I think it help your understanding of how / where the resources are generated.

In Resources we define a bunch of `ResourceManifest` including bootstrap and codemirror.

These are **unused** by anything in the admin theme.
The admin theme imports bootstrap and codemirror independently in **it's own sass** and generates it's rtl because of the gulpta

[2019-09-04 07:41] hishamco commented on #4158
I got what you mean, let us hear @sebastienros thoughts about this one

[2019-09-04 08:34] MatthijsKrempel commented on #2207
@hishamco I think it is already in?

[2019-09-04 10:18] deanmarcussen commented on #3452
Hi @BenedekFarkas

So the trick that @jtkech explained to me, and I wrote up in the docs is to configure on a per tenant basis.

So this works in Azure appsettings for the `Default` tenant

![Screenshot 2019-09-04 at 11 12 16](https://user-images.githubusercontent.com/13782679/64246568-ea588780-cf04-11e9-8716-c86e76047407.png)

Note the `State` appsetting. Which can have any value, just needs to e

[2019-09-04 10:18] hishamco commented on #2207
Could you please refer me to the PR if you did it?

If is that we need to close this one

[2019-09-04 10:19] jean opened #4160 "`Manage supported culture` should _imply_ `Manage Settings`"
It is possible to assign `Manage Settings` and `Manage supported culture` independently.
If `Manage supported culture` is assigned, the link to _manage supported culture_ will show up in the admin interface; however trying to access it will fail (because `Manage Settings`is not assigned).

A permission in Orchard can _imply_ other permissions.
Should `Manage supported culture` _imply_ `Manage Sett

[2019-09-04 10:21] #3508 closed

[2019-09-04 10:26] hishamco commented on #4160
I think it should be, because managing supported cultures is a part of manage setting

Agree

[2019-09-04 10:28] MatthijsKrempel commented on #2207
https://github.com/OrchardCMS/OrchardCore/pull/2192

[2019-09-04 10:29] MatthijsKrempel commented on #2207
Unless you want more extension points?

[2019-09-04 10:36] hishamco commented on #2207
I thought that related to ReCaptcha only, Seb if this resolve the issue, please close it

[2019-09-04 14:22] mruslan97 commented on #4142
[https://github.com/EtchUK/Etch.OrchardCore.Search](Search module)

[2019-09-04 16:18] jptissot opened #4161 "Dynamically created reusable parts not accessible by name"
I was trying to inject a property in a Reusable Part shape but I was not able to access it using the `Shape.Named("")` method.

Example:
- Create a Part called MyReusablePart from the admin UI.
- Attach the part to a `MyContentType` ContentType twice : "RP1", "RP2"
 - Try to access the RP2 shape by using Model.Content.Named("RP2") does not work.

[2019-09-04 16:36] sebastienros opened #4162 "Wrong localization technique"
~~https://github.com/OrchardCMS/OrchardCore/pull/2192/files#diff-ea4a2f43bc79cd708a28cb0b6a64d9e6R5~~

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.ReCaptcha/Views/Items/ReCaptchaPart.Fields.Edit.cshtml

[2019-09-04 16:42] sebastienros commented on #2207
I just checked and the PR satisfies this issue.

What we need though is to document these sections:
`AfterLogin`, ... and point to the code that shows how to inject shapes in it at least.

[2019-09-04 16:42] #2207 closed

[2019-09-04 16:49] jptissot commented on #4161
When adding a reusable part template called `MyReusablePart.cshtml`, the template gets rendered for SummaryAdmin view.

[2019-09-04 17:11] xumix opened #4163 "Any way to set Base url for admin UI?"
I'm hosting orchard behind nginx as reverse proxy, so my admin url looks like http://site.name/cms/admin. How do I setup Orchard to actually work behind this url?
At the moment I'm redirected to http://site.name/Login.aspx which is abviously not present there.

[2019-09-04 17:12] sebastienros commented on #4158
Makes sense if done as described. Action is to remove RTL transformations Bootstrap from the resource module. The admin is using it's own copy which is fine to have RTL transformations applied to it.

Also agreed that if we generate a file from a known source, with rtl tranformation, then this asset should be named foo-rtl to prevent confusion. But I don't we will need this based on your comments.

[2019-09-04 21:32] hishamco commented on #4162
Could you please elaborate?

[2019-09-04 21:33] sebastienros commented on #4162
It's doing a `T` on variables.

[2019-09-04 21:38] hishamco commented on #4158
Sounds good, but I need to revise my old RTL PRs to avoid UI issues

If you remember I suggested that at the beginning but you insist to make one file :) anyhow I don't think it's an issue if we leave everything as its, but we should rethink about RTL with CDN

[2019-09-04 21:44] sebastienros commented on #4158
Then you haven't understood the action to take

What I understand from Dean is that for THIS file the RTL attributes are not necessary. There will still be one file. Just without any rtl variation inside it.

[2019-09-04 21:54] hishamco commented on #4162
How this could happen? we didn't support dynamic translation yet, Am I right?

[2019-09-04 21:56] sebastienros commented on #4162
This link is better to understand the issue:
https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.ReCaptcha/Views/Items/ReCaptchaPart.Fields.Edit.cshtml

[2019-09-04 21:58] hishamco commented on #4158
What I understand from Dean is that we don't need to touch `bootstrap`, instead we can create a new one say `bootstrap-rtl`

[2019-09-04 22:06] sebastienros commented on #4158
No, that's not what "I think" he said. He's suggesting that the bootstrap file from the ResourceManager module should not have the RTL step applied to it, because this file is only used on the front-end themes. He says that the bootstrap file we use is already bundled in the admin.css file we generate.

Waht he suggested is that if one day, in the future, maybe, if some customer really need a BS w

[2019-09-05 03:00] kiventwang commented on #4153
I According to Section (Adding a Menu Item to the Admin Navigation from a Module) of the document
(https://orchardcore.readthedocs.io/en/dev/docs/guides/add-admin-menu/) build the sample,but it is not run and shows the exception,I can't setting anything.

[2019-09-05 04:05] mochirfan opened #4165 "Change Admin Theme"
How to change Admin Theme in Orchard Core ?

[2019-09-05 07:15] hishamco commented on #4165
You can modify The Admin theme or create a new one, after that you can simply change it from Themes menu in the admin section

[2019-09-05 07:15] #4165 closed

[2019-09-05 07:49] sivakumar715 opened #4168 "WidgetsListPart - Existing widgets are removed after adding new widget using Insert Widget(+) option"
**Issue:**  WidgetsListPart - Existing widgets are removed after adding new widget using Insert Widget(+) option

**Steps to reproduce:**

-  Create a new content type **TestType** with **WidgetsList** part.
-  Create few custom widgets (content type with Stereotype as Widget). Seg., TestWidget1,TestWidget2,TestWidget3 etc.,
-  Create a content item of type **TestType**
-  In that content item, ad

[2019-09-05 08:21] deanmarcussen commented on #4165
@mochirfan To create a new admin theme you need to set some things in the manifest for the theme, so it is recognised as an admin theme.

For example (also uses the existing admin theme as a base theme). Note the Tags array which is how Orchard Core knows you registering an admin theme.

[code]

Then you need to `Enable` the theme and `Set as active` in the theme admin area. (It is not currently v

[2019-09-05 08:28] hishamco commented on #4158
Got it

[2019-09-05 08:40] hishamco commented on #4165
FYI have a look to the docs https://orchardcore.readthedocs.io/en/dev/docs/getting-started/theme/

[2019-09-05 12:54] jptissot opened #4170 "Should Content Author be set during CreatingAsync?"
When creating content during a workflow, the Author property of a ContentItem is not set properly. which leads to the "By" field being blank in the ContentItem list.
![image](https://user-images.githubusercontent.com/4681586/64343569-c0fa3300-cfba-11e9-9653-7bee852e7f95.png)

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore.ContentManagement/Handlers/ContentsHandler.c

[2019-09-05 13:28] #2046 closed

[2019-09-05 15:00] ns8482e opened #4172 "Disabling Module should disable Content Parts defined in the module."
1. I created a Blank Site.
2. Enabled "Flows" Module.
3. Using Admin UI,  Created "Paragraph" Content type with stereotype widget.
4. Created "Page" Content type with Title, Alias, Autoroute, Common and Flow Parts, with creatable, listable.
5. Created a New Content Item of content type "Page" titled "Home Page" with some content in "Paragraph", set as home page and Published
On Front end Home Page

[2019-09-05 15:04] hishamco commented on #4172
Make sense, but how the content parts are disable?!!

[2019-09-05 15:14] ns8482e commented on #4172
I disabled the Flow Module

![image](https://user-images.githubusercontent.com/23270244/64354555-484ca400-cfc5-11e9-8e42-26cdc4f39546.png)

But the Part is still visible in Content Type Definition

![image](https://user-images.githubusercontent.com/23270244/64354685-877af500-cfc5-11e9-9105-c0316c28534d.png)

And Part List Page

![image](https://user-images.githubusercontent.com/23270244/64354820-c

[2019-09-05 15:29] hishamco commented on #4172
Probably showing a notification for a use is a good option

[2019-09-05 15:32] BenedekFarkas commented on #3452
Hey @deanmarcussen, thanks for your reply!

My issue is not related to tenants, actually - I'd like an overall, application-level connection string for e.g. Azure Blob Storage for Media Library.

The issue is that the connection strings defined in the Azure Portal are added to the environment variables with a prefix (Custom type connection strings are prefixed with `CUSTOMCONNSTR_`). So that way t

[2019-09-05 15:51] deanmarcussen commented on #3452
Cool, glad it helped even if it wasn't quite what you wanted.

I think Azure Connection Strings settings are more related to aspnet because `web.config` had a specific section for connection strings.

Whereas dotnetcore appsettings comes from environment variables with no prefix.

So I guess that's why they changed Azure to do environment variables in a way core and aspnet understand.

[2019-09-05 16:36] sebastienros commented on #4172
I think the content definitions should be built from different sources. One source is the current document that is managed in the UI, and another one would be by code, such that disabling the feature would hide them. As of today, disabling a feature is not sufficient as it alters the dynamic metadata.
We should also have a flag in the part to note that it's a code part (not a metadata one) and it

[2019-09-05 16:38] sebastienros commented on #4172
Another alternative is to implement the uninstall event and remove the parts that the feature has added.

[2019-09-05 16:53] sebastienros commented on #3505
Are you still seeing the issue?

[2019-09-05 17:16] sebastienros commented on #3452
Is that documented too? Can someone explain to me?

[2019-09-05 17:23] deanmarcussen commented on #3452
Yes, that's documented too (maybe could be clearer!)

It's in the `ShellSettingsManager`. If it finds the tenants name in an `IShellConfiguration` source it includes the values from said source in the general configuration. It's cool what it does.
[code]

[2019-09-05 18:02] ns8482e commented on #4172
Hide or Disabled is non destructive way  compared to removing it from Parts definition.  It would allow Modules/Features can be used in scenarios like subscription based where Features can disabled at the end of subscription that can be re-enabled when the subscription re-activated again at later stage - without affecting Content Type definition or Data

[2019-09-05 18:05] hishamco commented on #4172
You are right, but it depends on the scenario,  while you added the parts from the UI it should be removed, but if they added from code they will be created next time you enable the module

I'm working on a PR for this I will see what can I come up with ..

[2019-09-05 18:55] ns8482e commented on #4172
Assume that for above mentioned scenario, "Flow" module is subscription based module that gets disabled at the end of subscription,

Now Site owner subscribes to Flow module, and creates "Page" content type using Admin UI and starts using the "FlowPart" and create some 10-15 pages.

Now at the end of subscription, "Flow" module gets disabled along with all its View/Edit functionality.
However JSON

[2019-09-05 19:15] #4155 closed

[2019-09-05 19:23] #4158 closed

[2019-09-05 19:25] #4065 closed

[2019-09-05 19:50] sebastienros commented on #4163
https://github.com/OrchardCMS/OrchardCore/issues/2779

[2019-09-05 19:53] sebastienros commented on #3433
Can we still repro this?

[2019-09-05 19:55] #2752 closed

[2019-09-05 19:56] #2695 closed

[2019-09-05 19:59] #2549 closed

[2019-09-05 20:01] sebastienros commented on #2494
Is it still an issue?

[2019-09-05 20:01] #2484 closed

[2019-09-05 20:03] #2384 closed

[2019-09-05 20:04] #2293 closed

[2019-09-05 20:06] sebastienros commented on #2118
I think this has been fixed, can you check again?

[2019-09-05 20:06] #2101 closed

[2019-09-05 20:07] #2067 closed

[2019-09-05 20:10] sebastienros commented on #2029
[code]

Is there a scenario we don't support yet? I could only think about the one without local auth, which we don't have an option to disable right now.

[2019-09-05 20:10] #2012 closed

[2019-09-05 20:14] #1901 closed

[2019-09-05 20:14] #1869 closed

[2019-09-05 20:16] #1773 closed

[2019-09-05 20:16] #1735 closed

[2019-09-05 20:17] #1719 closed

[2019-09-05 22:00] jtkech commented on #4168
Yes, i can repro with the insert button, it works with the add button.

[2019-09-06 04:48] #4090 closed

[2019-09-06 08:34] DannyT commented on #2494
I believe it is, I'm off for a week but will take a look and confirm when I get back

[2019-09-06 11:41] hishamco opened #4174 "404 page in Agency theme has style issue"
Steps to reproduce:

1. Create new Site with Agency Theme
2. Visit `https://localhost:5001//Admin`

the page will look like

![NotFound](https://user-images.githubusercontent.com/3237266/64425423-55948c00-d0b4-11e9-8453-3d2eecbc66e6.png)

[2019-09-06 12:56] AmrTealeb commented on #4121
@hishamco How i can make my CMS web project localized
I tried to add .po files to Localization folder but it didn't work

[2019-09-06 13:33] hishamco opened #4175 "Prettify Features page"
This include:

- Unify the look and feel for the search bar as content items and tenants pages
- Change Features to Modules
- Use Bulk actions drop down and remove the toggle option (optional)
- Use smaller font size for module's names

[2019-09-06 16:46] #3433 closed

[2019-09-06 18:55] hishamco opened #4177 "Customize bootstrap confirm modal"
We may need to customize the header and the button colors of the confirm button, this is useful to use the confirm modal in many places

[2019-09-06 19:11] #4175 closed

[2019-09-06 19:14] #1559 closed

[2019-09-06 19:15] #1583 closed

[2019-09-06 19:15] sebastienros commented on #1661
We have a REST api to setup tenants. Optionally you can create modules that create tenants.

[2019-09-06 19:15] #1661 closed

[2019-09-06 19:34] sebastienros commented on #1665
I can still repro. In the admin when trying to create a new user it fails at server-side validation, I assume from aspnet identity. We should do the same validation on javascript and on the server at least to prevent getting into a bad state.

[2019-09-06 19:38] #1718 closed

[2019-09-06 19:39] #1207 closed

[2019-09-06 19:39] #1259 closed

[2019-09-06 19:40] #1273 closed

[2019-09-06 19:42] sebastienros commented on #1377
Fixed, menu items have the `MenuItem` stereotype

[2019-09-06 19:46] sebastienros commented on #1377
Actually the issue can't be reproduced anymore, adding a menu item creates a new Draft, which can then be published

[2019-09-06 19:46] #1377 closed

[2019-09-06 19:49] sebastienros commented on #1477
You can customize these settings now.

[2019-09-06 19:49] #1477 closed

[2019-09-06 20:58] hishamco commented on #4177
Seem I already did some of what I asked for

[2019-09-06 21:21] hishamco opened #4178 "Prettify Recipes page"

[2019-09-06 22:13] sebastienros commented on #1519
wip on sebros/records

[2019-09-06 22:14] sebastienros commented on #1515
wip on `sebros/records`

[2019-09-06 22:28] #4178 closed

[2019-09-06 22:35] sebastienros commented on #1014
Solution 3

[2019-09-06 22:35] #1092 closed

[2019-09-06 22:36] sebastienros commented on #1121
I think it's fixed, would you be able to try it?

[2019-09-06 22:37] #1196 closed

[2019-09-06 22:38] sebastienros commented on #2771
This should be a setting

[2019-09-06 22:42] sebastienros commented on #1625
I suggest a `shape_property [name], [value]` filter since we have a `Properties` dictionary on `IShape` now

[2019-09-06 23:51] ns8482e commented on #4168
The Zone info is missing for insert drop-down  when loaded from data store.
I can work on it will create PR

[2019-09-07 00:01] hishamco commented on #4046
@sebastienros can you reproduce this bug, coz everything is working fine at my end

[2019-09-07 00:03] hishamco commented on #2809
Any update one this?!!

[2019-09-07 00:22] #2037 closed

[2019-09-07 01:07] sebastienros commented on #4168
Please do a PR for sure

[2019-09-07 01:07] #4046 closed

[2019-09-07 01:08] sebastienros commented on #2809
There is (or was) a PR that applied it to one page, but it should be done everywhere.

[2019-09-07 01:09] sebastienros commented on #2908
Can someone try to repro the issue?

[2019-09-07 01:22] hishamco commented on #2809
I will check it if we didn't get a reply from Seth

[2019-09-07 01:29] sebastienros commented on #3795
Does the new FlushAsync support solve this issue?

[2019-09-07 01:32] sebastienros commented on #2885
We should check all the pages work on mobile

[2019-09-07 01:33] #4083 closed

[2019-09-07 01:36] #4104 closed

[2019-09-07 01:36] hishamco commented on #2885
Of course, I can handle that after polish the admin pages. BTW I already started with one issue that I pinged you few days ago

[2019-09-07 01:40] Skrypt commented on #3497
You fixed it?

[2019-09-07 02:06] ns8482e commented on #4168
This is simple fix to assign Zone in  WidgetsListPart.Edit.cshtml.

The part Widgets are removed and re-inserted in "UpdateAsync" of "WidgetsListPartDisplay". When it encounters Zone being null throws exception.

However, this leads to another important question at architecture level, why the null exception at Part update was not notified to parent Content Item update and the calling controller ?

[2019-09-07 02:06] jtkech commented on #2908
Just tried, yes i could repro as described above

[2019-09-07 02:13] jtkech commented on #3795
i will

[2019-09-07 02:29] jtkech commented on #3795
Same behavior

But maybe not an issue if we have to know to do a session save if we want to update an item after publishing. Maybe at least move the session save in `DefaultContentManager.PublishAsync()` at the end so that a `PublishedAsync` event handler would be able to update an item, even if another one do a query before.

[2019-09-07 04:43] sebastienros commented on #4168
Please file another issue for your last comment, giving an example on how to trigger this issue.

[2019-09-07 04:44] #4168 closed

[2019-09-07 07:32] deanmarcussen commented on #3838
The mitigation for this, for me, was to apply some placement.json in a custom module (as that will affect the admin theme) to remove these fields (I can't remember now if it was `SummaryAdmin` or `DetailAdmin`)

Suggestions for a more permanent fix.
There are ways to fix this:

- Create a custom setting in the content definitions to define placement rules that are applied in the admin
- Create a p

[2019-09-07 12:33] orchardc opened #4185 "SQL query: how to join two Content Types and return all data fields?"
I configured two Content Types: T1 and T2

T1 has a lookup filed to T2 via a Content Picker; so that users can select a T2 record from a T1 record.  It works perfectly.

However,  when doing SQL query, I need to join T1 and T2 together and bring all columns from T1 and T2. But I found that in T1, there is a "**Content**" column contains all data fields in JSON format, the reference to T2 is like t

[2019-09-07 13:20] hishamco opened #4186 "Make The Admin UI mobile friendly"
I just open this as an issue tracker for all the issues related to the mobile views bugs

- [ ] Login
- [ ] Dashboard
- [x] Blog #2885
- [ ] Assets #4204
- [ ] Navigation Bar #3964
- [x] Content Items #4198
- [ ] Content Types #4216
- [ ] Content Parts #4217
- [ ] Menu #5449

I will keep update this list as long as I test the entire pages in The Admin theme

[2019-09-07 14:46] deanmarcussen opened #4188 "Settings menu subitems should all be sorted alphabetically"
I was wondering why the https settings always appear first, when they have a sort order of `100`

![settings-order](https://user-images.githubusercontent.com/13782679/64476451-9a88f300-d186-11e9-9c7e-9d93d44439b6.PNG)

But it is because everything else uses alphabetical sort eg
[code]

Except https and Reverse Proxy

[2019-09-07 14:58] deanmarcussen opened #4190 "Sort Configuration Menu Items Alphabetically"
The menu items under `Configuration` are all in rather random order.

They use `1`, sometimes `1.51 for a sort order often, so appear based on module load order.

![config-sort-order](https://user-images.githubusercontent.com/13782679/64476589-42eb8700-d188-11e9-8a58-b9228c919e97.PNG)

Propose we keep `Settings` at `1` so it always stays at the top and move the rest to alphabetical sort orders `T[

[2019-09-07 15:19] dodyg opened #4191 "Thank you!"
![silverkey-mobile](https://user-images.githubusercontent.com/1761249/64476778-649e3b80-d193-11e9-844c-96d96034aa9e.png)
![silverkey-website](https://user-images.githubusercontent.com/1761249/64476779-649e3b80-d193-11e9-88a7-928081746f73.png)

With the .svg cache bug fixed (https://github.com/OrchardCMS/OrchardCore/issues/3807), finally it's doable to obtain super awesome performance score for a w

[2019-09-07 18:11] jptissot commented on #3820
Closed by https://github.com/OrchardCMS/OrchardCore/pull/3891

[2019-09-07 18:11] #3820 closed

[2019-09-07 18:14] deanmarcussen commented on #4161
@jptissot can you share you driver code? re the `SummaryAdmin` view?

Re the first question. `Shape.Named("")` is looking for the name of the shape from the `Items` list. It's name is recorded in the `ShapeMetadata.Name` property inside the items list. So you can debug it to find what the name is that you're need

[2019-09-07 18:19] jptissot commented on #3405
I think we ran into this yesterday. We accidently ran a recipe that had the ContentItemId's hardcoded and it created duplicates and the content items would dissapear from the admin. I had to manually go into the db and set the Latest and Published flags manually.

[2019-09-07 18:20] jptissot commented on #4161
I did not create a driver. simply created a Reusable Part from the admin.

[2019-09-07 18:23] jptissot commented on #4161
@deanmarcussen The name of the shape is the actual shape name "MyReusablePart" and not the name assigned when attaching to the ContentItem "RP1"

[2019-09-07 18:35] deanmarcussen commented on #4161
Ah, I understand, will see if I can repro

[2019-09-07 19:26] jptissot commented on #4186
I'm not sure if here is the right place to put this.. but in IE 11, the Admin menu does not open or close child menu's making it unusable.

[2019-09-07 19:47] hishamco commented on #4186
I suggest to file a new issue for that, and let this for UI mobile view if only

[2019-09-07 20:10] jtkech commented on #4161
i think we need to use a differentiator, i will take a look and maybe do a PR soon.
right now i'm seeing a football match while installing a new version of visual studio ;)

[2019-09-07 21:31] mattcrossmarc commented on #4107
Another update on my side:

**1. Data Protection in AWS Parameter Store**
Thanks @jtkech. After updating my appsettings to use a parent `OrchardCore` key, I was able to read in the module configurations using IShellConfiguration. Here's an example:

[code]

**3. Use AWS S3 for storing media**
I've successfully implemented an `S3FileStore` and an IMediaFileStore on top as a module. Functionally, it

[2019-09-07 21:46] jtkech commented on #4107
@deanmarcussen is best placed to give you more infos, it has a pending PR where azure media has been refactored (e.g where a blob image can be resized by ISharp) and, i think, that will be merged soon.

Also, we will migrate to netcore 3.0 soon.

[2019-09-07 21:59] mattcrossmarc commented on #4107
Thanks for letting me know about both upcoming changes.

[2019-09-08 02:21] jptissot commented on #1625
Implemented in PR.

[2019-09-08 02:59] jptissot opened #4195 "Admin menu not usable in IE"
Using IE 11, the Admin menu cannot be expanded.

[2019-09-08 04:31] Skrypt commented on #4186
I don't think we should try to target IE 11 as Bootstrap 4 doesn't.

[2019-09-08 04:34] Skrypt commented on #4195
You can try by adding this line on your Layout template :

[code]

[2019-09-08 04:44] scleaver commented on #2809
@hishamco - I started on this but it is a huge task... I mean massive. There are so many views that need to be fixed.

[2019-09-08 04:51] Skrypt commented on #4195
https://stackoverflow.com/questions/27678052/usage-of-the-backtick-character-in-javascript/27678299#27678299

[2019-09-08 06:44] MichaelPetrinolis commented on #4186
Since bs4 supports ie10/11, OC should also support them.
Maybe we could limit support for IE11/Edge. There are many
Enterprises that have prerequisite support of Internet Explorer

[2019-09-08 08:17] hishamco commented on #2809
You can categorize them by module, also I can work with you on this if you want

[2019-09-08 11:30] #4191 closed

[2019-09-08 11:32] dodyg commented on #4121
SVG cache problem  #3807 is fixed.

[2019-09-08 11:37] orchardc commented on #4185
Solution found, use json_extract() function works fine!

[2019-09-08 11:37] #4185 closed

[2019-09-08 12:07] jptissot commented on #4185
You might want to chck the content field indexing fr skrypt

[2019-09-08 12:12] jptissot commented on #4186
I found the issue and it's being fixed. It's because we were using template littlerals and arrow functions in out scripts which were not being transpiled.

[2019-09-08 12:26] hishamco commented on #4186
Hope it supported ASAP :)

[2019-09-08 12:33] hishamco opened #4198 "Content Items mobile UI issues"
This include:
- Select All check box
- Resize Select All & Bulk Actions drop down

![ContentItems](https://user-images.githubusercontent.com/3237266/64488210-d5a22980-d24d-11e9-92d6-404f95f0ae2a.png)

[2019-09-08 12:40] dodyg commented on #4121
![instant-preview](https://user-images.githubusercontent.com/1761249/64488297-84db0280-d246-11e9-9253-4a9235411896.png)

This instant preview feature while modifying template is super sweet.

[2019-09-08 13:03] dodyg commented on #4121
{% resources type: "HeadLink" %}

It's not clear how this tag behaves. If the type is "HeadLink", where do you define the resources associated with it?

[2019-09-08 13:08] rthm93 opened #4199 "Nuget Package for OrchardCore.ContentLocalization?"
I would like to implement `ContentCulturePicker` in my app, based on the [documentation](https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.ContentLocalization/), I need to enable `OrchardCore.Localization` module, but I dont seem to be able to find the nuget package for this module.

Is my only option cloning this repo and add project reference to `OrchardCore.ContentLocali

[2019-09-08 13:13] dodyg commented on #4121
{% meta name:"description", content:"This is a website" %}

Call this to be able to set a meta information from your liquid template

[2019-09-08 13:18] dodyg commented on #4121
This is the relationship between the "zone" in the template and "render_section" in theme.

![relationship](https://user-images.githubusercontent.com/1761249/64488754-e05bbf00-d24b-11e9-83cb-ca9aac11ffd9.png)

[2019-09-08 13:19] deanmarcussen commented on #2415
Hi @jtketch

I had a look at this behaviour and yes, there are no alternates by default for any core shapes.

But by placing a `Message.cshtml` file in `TheAdmin` (or other theme) you would anticipate that it would be able to provide an override for a core shape.

The reason it doesn't anymore is because of this line in `ShapeTableManager` from https://github.com/OrchardCMS/OrchardCore/pull/2290

[2019-09-08 13:28] dodyg commented on #4121
Orchard Core will pick up any changes on your theme (just refresh your browser). Just make sure you make your new custom theme as the default theme for your website.

![auto-refresh](https://user-images.githubusercontent.com/1761249/64488872-15b4dc80-d24d-11e9-977d-8011b26e9871.png)

[2019-09-08 13:37] deanmarcussen commented on #4107
@mattcrossmarc Sounds like you're getting there with S3.

For info the PR changing how azure media works is #4025, which hopefully will go in soon, after core3, so you can take a look there to see the changes to the `IMediaFileStore`. Not too many to the store itself, but there is an addition of a method which reduces some of the head requests that can be made when reading a file.
There are a lot

[2019-09-08 13:41] deanmarcussen commented on #4199
Which version of Orchard Core nuget have you installed?

The beta3 on NuGet does not have content localization in it I think

So you have to use the myget feed https://orchardcore.readthedocs.io/en/dev/docs/getting-started/

I think the culture is based on your browser settings

[2019-09-08 13:42] jiangweiatgithub opened #4200 "How to refer in a workflow a file uploaded through a created content"
Hi,

I am new to Orachard Core.  And I hope my first issue, or rather, a usage quesiton is not repeating an exisiting one. Here it is -

I created a new content type and I was successful in uploading a file by publishing, but how can I refer to this file's location on the disk in a task triggered by "content published" event in a workflow?

Thanks,
Wei

[2019-09-08 13:45] rthm93 commented on #4199
I am currently using this beta 3 `1.0.0-beta3-71077`.
Hmm... AFAIK it is supposed to be passed to the server in request headers either via headers, uri or cookies, I will try to find out more on this

[2019-09-08 13:56] rthm93 commented on #4199
Finally manage to find it, you could [set the culture of the request with cookie](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.2#cookierequestcultureprovider).

Are there any plans to create a nuget package for `OrchardCore.ContentLocalization`?

[2019-09-08 13:59] dodyg commented on #4121
![zone](https://user-images.githubusercontent.com/1761249/64489283-9aa1f500-d251-11e9-8d0a-66b3ea9c10bc.png)
![zone-2](https://user-images.githubusercontent.com/1761249/64489284-9b3a8b80-d251-11e9-97d1-4ac3940f29c9.png)
![zone-3](https://user-images.githubusercontent.com/1761249/64489285-9b3a8b80-d251-11e9-93f8-3ac5b0cd8279.png)
![zone-4](https://user-images.githubusercontent.com/1761249/64489286-

[2019-09-08 14:20] deanmarcussen commented on #4199
See previous comment and link you need to use the dev myget feed

[2019-09-08 14:34] agriffard commented on #3111
Suggestions:

- In Zones (/Admin/Settings/zones), add a link to explain that the zones will be listed and displayed in this order in Layers + link to /OrchardCore.Layers/Admin/Index.
- Add a link to the Layers documentation where we explain how to render a section in Razor and in Liquid.
- In Layers, explain where you can add Zones + link (especially if there are no zones defined).
- Add a link to

[2019-09-08 14:37] #4199 closed

[2019-09-08 14:47] Skrypt commented on #4186
BS4 support of IE11 has been added lately because it was not supporting anything else than Edge a while ago. I still think that this is a small niche of users. Maybe a lot more than what it should be and instead we should encourage people to move away from Internet Explorer. There is absolutely no understandable reason why an Entreprise couldn't advise their employees to use Edge instead.

https:/

[2019-09-08 17:53] matiasmolleja commented on #2342
I think you can close this one. I fixed it after you implemented dynamic permissions for content types.

[2019-09-08 18:05] matiasmolleja commented on #4186
The assets was adapted for mobile in #2576. I did not close #2885 because that issue was about other pages too.
I think you could mark the "assets" checkbox.

[2019-09-08 19:15] infofromca opened #4202 "placement.json seems not working"
`{
  "NumericField": [
    {

      "place": "Content:100000"
    },

    {
      "display-type": "Detail",
      "differentiator": "CarouselWithContentPicker-Height",
      "place": "Content:-"
    },
    {
      "display-type": "Detail",
      "differentiator": "customType-Height",
      "place": "-"
    },
    {
      "display-type": "Detail",
      "differentiator": "customType-Height",

[2019-09-08 20:05] infofromca opened #4203 "should be only one resource"
I added  <style asp-name="bootstrap"></style>
    <script asp-name="bootstrap" at="Foot"></script>
to my module.
but there is already link of bootstrap in  the **some** themes, and it gave me two links.
it should be only one.

[2019-09-08 20:14] #2342 closed

[2019-09-08 20:15] hishamco commented on #4202
Did you check our docs?

[2019-09-08 20:16] hishamco commented on #4203
Styles & scripts are added once

[2019-09-08 20:16] hishamco commented on #4202
Did you check our docs?

[2019-09-08 20:21] hishamco commented on #4203
Styles & scripts are added once

[2019-09-08 20:47] hishamco opened #4204 "Assets mobile UI issues"
This includes:
- Resizing create button
- Prettify media table
- Fix pager
- Fix action buttons

![Assets](https://user-images.githubusercontent.com/3237266/64494204-c2657d00-d292-11e9-972c-9d9678913d91.png)

[2019-09-08 20:58] hishamco commented on #4186
@matiasmolleja please have a look to #4204

[2019-09-08 21:24] hishamco opened #4205 "Replace native confirm dialog with bootstrap in Assets page"
We need to use the confirm bootstrap modal when media item is deleted

[2019-09-08 21:25] jtkech commented on #2415
@deanmarcussen i think you see everything ;)

Yes the template one is based on the presence of a given template file under a given module, that's why it uses `IShellFeaturesManager` to retrieve all the enabled module paths.

The other retrieves registered shapes defined by code, that' why it uses `ITypeFeatureProvider`. And yes it retrieves `OC.Cms.Web` (the app's module) when a shape provider is

[2019-09-08 23:07] hishamco commented on #4190
@deanmarcussen could you please fix this one as same as #4188

[2019-09-08 23:10] hishamco commented on #4163
This could be set from settings instead of use "Admin"

[2019-09-08 23:12] hishamco commented on #4151
Is this should be Orchard or Fluid thing?

[2019-09-08 23:31] hishamco commented on #4160
The problem will face here if we allow this one, the user will be able to change the "General Settings" which is totally wrong. I may check this one

[2019-09-08 23:35] hishamco opened #4208 "Search in editor role need to be improved"
Configuration -> Security -> Roles

Edit any role, on search box start type **Orchard**, the list will be empty which is totally wrong

[2019-09-08 23:37] hishamco opened #4209 "Move action buttons to the top in the editor role page"
IMHO we should move save & cancel buttons to the tops, because the last is too long

[2019-09-09 00:28] infofromca commented on #4202
doc is too simple.
for ex, there is no explation about hiding a shape

[2019-09-09 00:29] infofromca commented on #4203
if there is already there , should avoid adding again

[2019-09-09 00:37] hishamco commented on #4202
Have a look to this PR #4154 we already hide a shape there

[2019-09-09 00:39] hishamco commented on #4203
I'm still not how this happen /cc @deanmarcussen

[2019-09-09 00:43] jiangweiatgithub commented on #4200
It seems that I am repeating this legacy issue:
https://github.com/OrchardCMS/OrchardCore/issues/2240

[2019-09-09 00:58] jiangweiatgithub commented on #2240
I really think we could use a little example here.  I tried Workflow.Content, to no avail.

[2019-09-09 00:59] hishamco commented on #4160
IMHO `ManageSettings` should allow user to manage general settings, other than that all sub menu items underneath should restricted by the permission that defined in the `AdminMenu`

/cc @sebastienros @matiasmolleja

[2019-09-09 07:29] MatthijsKrempel commented on #4162
Fixed in; https://github.com/OrchardCMS/OrchardCore/pull/4159

[2019-09-09 07:31] MatthijsKrempel commented on #4091
Have a look here;

https://github.com/OrchardCMS/OrchardCore/pull/4139

[2019-09-09 07:44] zclmoon commented on #4091
thanks, it is not work now.

[2019-09-09 09:48] deanmarcussen commented on #4202
It is hard to see exactly what you are trying to do because you have so many examples that you try!

But this example works
[code]

to move a field after a markdown body

To remove a field the syntax is

[code]

And to specify other parameters such as display type or differentiators or match on content types you would use like this (in the same block as your placement rule)
[code]

Does that help?

[2019-09-09 10:43] deanmarcussen commented on #4203
Ok, so if you are using the default sample themes, then yes you will have this experience.

In `TheBlogTheme` (for example) we use generated bootstrap files from the theme/wwwroot/vender/styles folder
e.g. in `layout.liquid`
[code]

If you have used `<style asp-name="bootstrap"></style>` in a module, and then used a sample theme then yes, you will get two copies linked in. Because they are differe

[2019-09-09 11:43] hishamco opened #4212 "Prettify Content Parts page"
![ContentParts](https://user-images.githubusercontent.com/3237266/64527998-119dc300-d310-11e9-83ad-e930fb8ffcf5.png)

[2019-09-09 11:43] hishamco opened #4213 "Prettify Content Types page"
![ContentTypes](https://user-images.githubusercontent.com/3237266/64529386-727aca80-d313-11e9-9afb-c8bb543d1e67.png)

[2019-09-09 11:44] hishamco opened #4214 "Prettify Content Types page"
![ContentTypes](https://user-images.githubusercontent.com/3237266/64528057-3e51da80-d310-11e9-9828-339f046da77a.png)

[2019-09-09 11:44] hishamco opened #4215 "Content Types mobile UI issues"

[2019-09-09 11:55] hishamco opened #4216 "Content Types mobile UI issues"
This includes:
- Fix action buttons alignment
- Minimize create button
- Badge should be underneath the content type name

![ContentTypes-Mobile](https://user-images.githubusercontent.com/3237266/64528549-6e4dad80-d311-11e9-8c81-ec8ecb2180dd.png)

[2019-09-09 12:02] hishamco opened #4217 "Content Parts mobile UI issues"
This includes:
- Minimize create button
- Fix filter style

![ContentParts-Mobile](https://user-images.githubusercontent.com/3237266/64529108-ccc75b80-d312-11e9-84c9-862dcb43cf4f.png)

[2019-09-09 12:08] #4214 closed

[2019-09-09 12:14] #4215 closed

[2019-09-09 13:26] hyzx86 commented on #4200
https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Media/

[2019-09-09 13:31] jiangweiatgithub commented on #4200
Thanks, but, how can I make any reference from the "workflow" environment?

[2019-09-09 13:36] hyzx86 commented on #4200
你不是创建了一个ContentItem 么?
直接拿来用就好了啊，具体的用法我给的链接上有的啊
你是不知道怎么获取这个ContentItem？

[2019-09-09 13:40] hyzx86 commented on #4200
你的媒体文件应该保存在 站点数据文件夹里面，如果要获取物理路径地址，可以直接拼接一个站点根目录

[2019-09-09 13:44] jiangweiatgithub commented on #4200
还不是。具体是这样的，我定制了一个Content类型，用户通过它，按“Publish”提交一个或多个文件，以及其他字段信息。我在Contentl列表里，可以看到相应的Content，并且看到这些文件被被保存到Asset文件夹下的某个自动生成的目录下。我现在想做的是，做个Workfllow，在"Content Published”事件触发后，通过Liquid表达式解析相关的信息以及文件位置，进行处理，然后把处理结果返给用户。现在就卡在了“Liquid表达式解析相关的信息以及文件位置”这一步。

[2019-09-09 13:47] hyzx86 commented on #4200
Lquid 没办法直接解析文件吧？你要自己实现一个Activity

[2019-09-09 13:51] jiangweiatgithub commented on #4200
对的，就是在事件激发后，用Activity进行处理，比如通过Liquid表达式，将相应信息插如PPOST命令中，调用另一个服务器上的相应处理机制。

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Tony Han <notifications@github.com>
发送时间: Monday, September 9, 2019 9:48:23 PM
收件人: OrchardCMS/OrchardCore <OrchardCore@noreply.github.com>
抄送: jiangweiatgithub <polytrans2000@hotmail.com>; Author <author@noreply.gith

[2019-09-09 13:53] jiangweiatgithub commented on #4200
对，不同的用户提交一个或多个 content，我需要相关信息对应起来。

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Tony Han <notifications@github.com>
发送时间: Monday, September 9, 2019 9:42:02 PM
收件人: OrchardCMS/OrchardCore <OrchardCore@noreply.github.com>
抄送: jiangweiatgithub <polytrans2000@hotmail.com>; Author <author@noreply.github.com>
主题: Re: [OrchardCMS/OrchardCor

[2019-09-09 14:30] xumix commented on #4163
@sebastienros @hishamco
This is not exactly the problem I'm facing.
The problem is this: my orchard is hosted internally at `/` but it has external access as `/cms`
so I want all the URLs be relative to `/cms`

[2019-09-09 14:50] hishamco commented on #4212
:shipit:

[2019-09-09 15:18] #4205 closed

[2019-09-09 15:19] sebastienros commented on #4198
Is the screenshot showing the issue or the solution?

[2019-09-09 15:34] #4161 closed

[2019-09-09 15:34] #4188 closed

[2019-09-09 15:41] hishamco commented on #4198
It shows the issue, I attach the screenshot after in every PR

[2019-09-09 15:43] #3353 closed

[2019-09-09 15:45] Skrypt commented on #4188
I did reorder settings in #3809 please take a look and do a commit on top of that branch if there is something.

[2019-09-09 15:46] #4177 closed

[2019-09-09 15:46] #4195 closed

[2019-09-09 16:01] PiemP opened #4222 "Content Picker field in Widget"
Hi guys,

I have created a lot of Widget with a content picker field.

For all this items, when I try to add a widget in a page, the content picker field is not shown until I save the page.

I think the problem come out from the fact that the field load items by javascript code...I don't know if there is some "right fix" for that but a workaround can be a first loading of Content Types in the Edit

[2019-09-09 16:10] hishamco commented on #4222
/cc @jptissot

[2019-09-09 16:12] deanmarcussen commented on #4188
@Skrypt Cool, had a look at #3809 all good with me.
This was only a couple of settings on the Settings submenu items.

But your top level menu changes are another good option for my suggestion on https://github.com/OrchardCMS/OrchardCore/issues/4190

See what you think maybe alphabetical is good / maybe just the right numbering as you have done is easier (and less changes!)

[2019-09-09 16:13] Skrypt commented on #4222
hmmm strange one. But yes @jptissot changed the js scripts recently but maybe not related at all.

[2019-09-09 16:15] dodyg commented on #4121
This autoroute description is tricky. You'd assume that just by adding the parts you can define a custom path for your Content Type. Nope, you have to adjust more settings. If you don't, autoroute will generate the path for you.

![autoroute](https://user-images.githubusercontent.com/1761249/64547804-b5e23280-d32d-11e9-8008-3bef37729154.png)
![autoroute-2](https://user-images.githubusercontent.com

[2019-09-09 16:18] Skrypt commented on #4188
I think we should try to keep the most used ones on top for this menu. Things like Templates, Queries are sections that are susceptible of needing to go in back and forth quite a lot ... at least that I found for my usage. I've tried to rearrange the order with that in mind. We could drop a screenshot here of what I've done in that PR and decide if we want to change the order of some of them still

[2019-09-09 16:27] #1519 closed

[2019-09-09 16:27] deanmarcussen commented on #4188
Cool, yeah I only opened the other issue because I was looking to put a top level menu item in, and was like, oh, they're all set at 1, this is a bit random.

Also agree that an actual order is better than alphabetical, Settings, would just be weird being at the top.

[2019-09-09 16:28] deanmarcussen commented on #4190
Alternative (probably better) solution in https://github.com/OrchardCMS/OrchardCore/pull/3809

[2019-09-09 16:28] #4190 closed

[2019-09-09 16:28] #4213 closed

[2019-09-09 16:28] #4212 closed

[2019-09-09 16:30] #3537 closed

[2019-09-09 16:34] jptissot commented on #4222
I will try to repro.

[2019-09-09 16:38] jptissot commented on #4222
Problem is that I only initialize them on load.
I broke this by removing the init function from the html and putting it all in the script. I forgot that widgets added dynamically needed to trigger the picker init script again.

[2019-09-09 18:51] jptissot opened #4223 "Widget scripts being added to the dom before widget is added."
I am not too sure how to report this issue but here is my test case:

1- Run blog recipe
2- Add ContentPickerField to Paragraph and Page Content Types
3- Create a new Page ContentItem and the init script for the ParagraphContentPickerField get's rendered before adding a widget (in this case the script was throwing an error)

![image](https://user-images.githubusercontent.com/4681586/64558113-1fa01

[2019-09-09 18:55] jptissot opened #4224 "Widgets / Flows scripts do not use Assets.json"
We should move the scripts out of wwwroot and use the Assets pipeline for Widget and Flows modules.

[2019-09-09 19:50] #4222 closed

[2019-09-09 19:53] sebastienros commented on #4223
Maybe we should change the way widgets work in the admin by triggering a custom event, with the target as an argument, and the widgets' scripts could register to this event if they want to initialize a newly instantiated widget in the editor. Same for deletion.

Because these scripts have to run only once.

[2019-09-09 20:03] hishamco commented on #3278
@Skrypt could you please handle this, why you are the Lucene guy :)

[2019-09-09 20:04] hishamco commented on #3278
@Skrypt could you please handle this, why you are the Lucene guy :)

[2019-09-09 20:04] jptissot opened #4227 "Workflow Activity Double click issue"
I accidentally double clicked the add button when adding an activity to the workflow and it added the activity twice with the same ID, causing the UI to throw an exception, even after reloading the site. I had to go into the database document and remove the duplicate entry for the UI to unblock. Maybe we should disable the button on click.

[2019-09-09 20:05] jptissot commented on #4223
Yes, this is exactly what I had in mind as a possible fix.

The action of adding a Widget would trigger an event on the dom, and the scripts (VueMultiselectWrapper for example) would react to said event.

[2019-09-09 20:06] sebastienros commented on #3278
@hishamco it's already known

![image](https://user-images.githubusercontent.com/1165805/64562824-a8638300-d302-11e9-9a9b-3820aa74cba1.png)

[2019-09-09 20:08] sebastienros commented on #4227
I am thinking on a feature in the admin.js file that would automatically disable a form button, or link that morphes to a post,. We have this already in O1.

[2019-09-09 20:09] sebastienros commented on #4223
It would only slightly modify the way custom widgets are developed. Feel free to work on it if you feel like it.

[2019-09-09 20:14] hishamco commented on #1121
@agriffard could you please try it as Seb suggest before, if it's still there, I may handle this

[2019-09-09 20:32] hishamco commented on #1665
I will try to do the validation on both client & server, but I think we need to support Unicode characters in username after 1.0.0 at least

[2019-09-09 20:59] Skrypt commented on #3278
The only thing that needs to be fixed in my branch is the range query but the sorts works.

[2019-09-09 21:12] scleaver opened #4228 "Error when accessing asset cache configuration"
When accessing the "Asset cache" configuration the following error occurs:

`ystem.InvalidOperationException: Unable to resolve service for type 'OrchardCore.Media.IMediaFileStoreCache' while attempting to activate 'OrchardCore.Media.Azure.Controllers.MediaCacheController'.
   at Microsoft.Extensions.DependencyInjection.ActivatorUtilities.GetService(IServiceProvider sp, Type type, Type requiredBy,

[2019-09-09 21:14] jptissot commented on #4228
cc @deanmarcussen

[2019-09-09 21:15] hishamco commented on #4228
@matiasmolleja @deanmarcussen could anyone of you look in this one please

[2019-09-09 21:19] hishamco commented on #4228
@matiasmolleja @deanmarcussen could anyone of you look in this one please

[2019-09-09 21:33] aghili371 opened #4229 "input control alignment in RTL is wrong"
![Capture](https://user-images.githubusercontent.com/24512878/64568047-07081b80-d35a-11e9-9c2d-78634f1c5ef3.JPG)

in RTL  the input value is aligned to left, it should be right-aligned.

[2019-09-09 21:42] aghili371 opened #4230 "Design print page in admin theme"
How Can i have a view for printing some information in admin theme?
i mean, i don't want to print menu and admin design, just i want to print the content which i have in the view.

[2019-09-09 21:48] jtkech commented on #4228
Yes, seems to be the case as i can see in the code

The related service is not registered if `CheckOptions` doesn't return true, e.g if there is no settings.

            // Only replace default implementation if options are valid.
            var connectionString = _configuration[$"OrchardCore.Media.Azure:{nameof(MediaBlobStorageOptions.ConnectionString)}"];
            var containerName = _confi

[2019-09-09 21:56] Skrypt commented on #4230
https://getbootstrap.com/docs/4.0/utilities/display/#display-in-print

[2019-09-09 22:00] hishamco commented on #4230
That's what I wanna refer you to

[2019-09-09 22:01] #4230 closed

[2019-09-09 22:02] hishamco commented on #4229
@aghili371 isn't working before?

[2019-09-09 22:16] Skrypt commented on #3278
I'm looking at the current request and it seems that we can add a stored index for sorting with `SortedDocValuesField` but it's probably and certainly equivalent than using a STRING_VAL on a sort query. Though it will index the BytesRef("something") value in the index directly instead of analyzing them on the request. So, we could sort afterward without adding a sort type="STRING_VAL" or else. The

[2019-09-09 22:28] jrestall commented on #2771
I'm thinking this will be a matter of implementing a maximum `first` parameter value of 1,000 that comes from settings.

It would be simplest to make the default the maximum.

If a user wants to retrieve more than 1,000 they could use the `skip` parameter and make multiple requests:
[code]

[2019-09-09 23:14] scleaver commented on #4228
If I recall, previously in the admin UI use to show an error alert when there were no settings.

[2019-09-09 23:30] jtkech commented on #4228
Yes, the related handler is no more used

[2019-09-10 00:46] infofromca commented on #4202
thanks
this time I used:
`{
  "NumericField": [
    {

      "place": "-"
    }

  ],
  "BooleanField": [

    {

      "place": "-"
    }

  ]
}`

but no useful, it is the same.
now the only thing I can think is that I created this placement.json after I created the page.
is it influenced?
I will delete the db , and try again in near future.
![placement_no_hide](https://user-images.githubusercont

[2019-09-10 00:49] #1625 closed

[2019-09-10 01:27] infofromca commented on #4202
created a brand new site. keep
![placement_no_hide2](https://user-images.githubusercontent.com/297675/64576885-90aeed80-d348-11e9-97c6-253527a2d2a7.png)
the same

[2019-09-10 02:53] infofromca commented on #4202
i set breakpoints ,
![5_features](https://user-images.githubusercontent.com/297675/64580405-33b93480-d354-11e9-9b69-b801ea34cb39.png)
strangely, there ronly 5 features:
resources
feeds
homeRoute
indexing
scripting
and for all of them, the  exists are false, so did not go into placement code.
I used blog recipe this time.

[2019-09-10 04:29] #4073 closed

[2019-09-10 05:12] deanmarcussen commented on #4228
Yes, we remove the handler / filter that must check everytime if the configuration is valid, for performance reasons.

However this does mean the asset cache will throw this exception.

But actually this is a good place to show an error that the appsettings.json configuration is missing. So I will do a small PR to resolve the service from the serviceprovider, instead of the constructor, and show a

[2019-09-10 05:28] deanmarcussen commented on #4202
In which location did you put your `placement.json` file?

It should be placed in the root of your theme for what you are trying to do.

[2019-09-10 05:55] jxt-seth opened #4233 "Appsettings inheritance is not working for Azure Media settings"
In the base appsettings.json I put the base Azure media settings like so:
[code]
The plan was to override the container name for each tenant using the tenants appsettings.json like so:
[code]
This didn't work so I tried this in the tenants appsettings.json:
[code]
This also didn't work so I tried the following in the base appsettings.json with no luck either:
[code]
For some reason the appsettings

[2019-09-10 05:56] jxt-seth commented on #4233
@deanmarcussen - otherwise you Azure resizing enhancements are awesomeness.

[2019-09-10 05:58] scleaver commented on #4233
@deanmarcussen - otherwise you Azure resizing enhancements are awesomeness.

[2019-09-10 06:05] deanmarcussen commented on #4233
Cool, cheers guys. Always a few teething problems :)

Ok, I look at your config. Check the docs for overrides here https://orchardcore.readthedocs.io/en/dev/OrchardCore/OrchardCore/Environment/Shell/

This should work, but I think you have the sections wrong.

Tenants appsettings (if you mean `App_Data\Sites\Tenant1\appsettings.json` should be without the `OrchardCore` section, so like this
[code]

[2019-09-10 06:09] scleaver commented on #4233
ha ha "guys" it was the same guy just two different accounts :D

[2019-09-10 06:11] scleaver commented on #4233
Oh thanks @deanmarcussen - let me test this. I followed the Lombiq dojo instruction which said "The other way is to define this in the appsettings.json file of the tenant (under App_Data/Sites/Default) **in the same format**." I will test!

[2019-09-10 06:28] jxt-seth commented on #4233
Thanks for your help Dean. Removing the OrchardCore node form the tenants app settings worked.

[2019-09-10 06:30] scleaver commented on #4233
Thanks for your help Dean. Removing the OrchardCore node form the tenants app settings worked - user error!

[2019-09-10 06:30] #4233 closed

[2019-09-10 07:11] hishamco commented on #2809
Seems I will start on this by module with the alphabetic order that shown here https://github.com/OrchardCMS/OrchardCore/tree/dev/src/OrchardCore.Modules

[2019-09-10 07:20] deanmarcussen opened #4234 "Improve ImageSharp no-op and handling"
Great to see the new ImageSharp version in @lahma

Will you be doing any perf tests against it again?

There are some logic changes that were made to ImageSharp that could, if we tweaked a couple of settings, improve the no-op for Orchard.

But they are probably only worth doing if the command parser is still a performance bottle neck?

Note: There are some other changes we need to make regardless

[2019-09-10 07:59] hishamco opened #4235 "Import Deployment Package throws an exception when the imported is not zip file"

[2019-09-10 08:02] hishamco opened #4236 "Ability to make the alerts dismiss able"

[2019-09-10 10:12] infofromca commented on #4202
root of my module

[2019-09-10 10:13] infofromca commented on #4202
also tried the root of oc.resources, contentenFields

[2019-09-10 10:24] infofromca commented on #4202
just tried putting it under the root of TheBlogTheme, and OrchardCore.Cms.Web , not helpful.
and putting in this two locations is strange for me, and O1 is not like it.

[2019-09-10 10:36] infofromca commented on #4203
This time, I used TheBlogTheme:
![dup_css](https://user-images.githubusercontent.com/297675/64606859-3a1bd080-d395-11e9-9950-c6aaa9853d85.png)
As I remember, O1 can deal with this situation smoothly.

[2019-09-10 10:43] infofromca commented on #4203
sorry, I do not think so. because after I code my module, I should not change it again. and in future, I will use a theme in which there is no bootstrap, for ex, Foundation, material....

[2019-09-10 10:49] infofromca commented on #4203
I think module should be independent with any other modules, themes. in this way, we can show the power of decouple in OC. I remember O1 did that well.

[2019-09-10 10:54] lahma commented on #4234
@deanmarcussen I can run profiling against the agency and blog templates as I don't have any my own production site to test against. They were enough to reveal the optimization opportunities for IS.Web, but if you have any pointers for larger test data I'd happily test that too.

[2019-09-10 11:21] MatthijsKrempel commented on #3403
Is it an idea to make a property on the FeatureAttribute like a FeatureTypeEnum (Setup, Extension, CMS, Core, etc..) and prevent Core features from being disabled?

[2019-09-10 11:28] vishnu612 opened #4237 "Not able to edit Menu from Admin dashboard if use razor template"
I am using **razor templates** to display shapes.

I created one menu (not admin menu ) from the recipe file.
But when I try to edit this menu(add new menu links) from the admin dashboard, I am getting the error "Exception: Shape type 'ContentPart_Thumbnail' not found".

It looks like Thumbnail Part is missing.

Please guide me to resolve this issue.

Also help to create menu and submenu from the

[2019-09-10 12:22] deanmarcussen commented on #4234
@lahma that would be great thanks.

I think the blog template would be the best, as this would only be a worthwhile optimisation if the ImageSharp middleware still revealed a lot of good reasons to try and optimize further, and it would be only for no-op requests, which the blog is best suited for.

I imagine you will know pretty quickly based on your last pref tests if the improvements you have a

[2019-09-10 12:47] RajasekarPR commented on #3867
@sebastienros

1. Added WidgetListPart in one of my custom content type.
2. Edited WidgetListPart and added Content in 'Available Zones' textbox.
3. Created a new content item and added the html widget. ( In html widget added two property along with wyswig editor)
4. On expanding the widget, the controls are aligning in horizontal instead of showing one by one in vertical.

[2019-09-10 14:40] hishamco opened #4238 "Prettify Roles page"
Prettify the search bar

![Roles](https://user-images.githubusercontent.com/3237266/64623681-0de26d00-d3f2-11e9-9c0e-b7459450ee5a.png)

[2019-09-10 14:41] hishamco opened #4239 "Prettify the Users page"
Prettify the search bar

![Users](https://user-images.githubusercontent.com/3237266/64623737-2b173b80-d3f2-11e9-87f8-0ead3ce682db.png)

[2019-09-10 14:43] jiangweiatgithub commented on #2240
Can you please provide a specific example for accessing the Content property?

[2019-09-10 15:22] sfmskywalker commented on #2240
Sure. See [documentation](https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Workflows/) section *Liquid Expressions and ContentItem Events
*):

[code]

[2019-09-10 15:29] jiangweiatgithub commented on #2240
What if I have a form by the name "UserRegister", and it has a field by the name "FullName", and a file upload field by the name "MyPhoto". How can I get the value for each of these two fields by using Liquid expressons within a Workflow activity?

[2019-09-10 15:52] jtkech commented on #3403
Just for infos, if the `Category = "Core"`, it doesn't prevent the feature from being disabled but at least in the admin `Features` page it doesn't show up the disable button.

Maybe the `Category` of some features could be changed to `Core` and / or update the checking in `Features.cshtml`.

[2019-09-10 15:53] hishamco opened #4242 "Improve search capability in Users page"

[2019-09-10 15:56] hishamco opened #4243 "Add more search filters in Users page"
This including:
- Order by: Name, Email, Creation Date, Last Login
- Filter by: All, Approved, Pending

[2019-09-10 16:05] hishamco commented on #3867
@RajasekarPR how you added two properties in step 3?

[2019-09-10 16:23] sfmskywalker commented on #2240
I'm not sure if there's a liquid filter that allows direct access to the HTTP context, but there definitely are javascript methods you can use to read the form. So what you can do in any case to read form values is the following:

1. Use the *Set Property* activity to set a custom property on the workflow. Use a JavaScript expression for the value field, e.g. `requestForm('FullName')`. Alternative

[2019-09-10 16:35] jiangweiatgithub commented on #2240
Thanks for your new info. Before I try it, I am still not sure I have made myself clearn. As I understand, when a "Content created" or "Content published" event triggers, some all the info as submitted by the form woud have been saved, right? (Either as records in the system database, or as disk files.  I can find the uploaded file in OrchardCore\src\OrchardCore.Cms.Web\App_Data\Sites\Default\Medi

[2019-09-10 17:12] sebastienros commented on #3867
What is `WidgetListPart`? I am not aware of anything like this in OC

[2019-09-10 17:28] sebastienros commented on #3867
Found it, `WidgetsListPart`
I don't remember the goals of this part. I will investigate (I probably wrote that thing for a reason)

[2019-09-10 18:20] Skrypt commented on #2240
@sfmskywalker https://orchardcore.readthedocs.io/en/latest/OrchardCore.Modules/OrchardCore.Liquid/README/#request

[2019-09-10 18:43] Skrypt opened #4244 "Login page : remember me checbox style"
Use proper BS4 classes for the remember me checkbox.

[2019-09-10 18:49] #4244 closed

[2019-09-10 20:08] sfmskywalker commented on #2240
@Skrypt Thanks! Looks like I need to do a better job at reading the documentation myself ;)

@jiangweiatgithub Sure, all information that's stored as part of the content item will be accessible to you from the workflow. So if you have a media field attached, you'll be able to access its `Paths` property. The following expression should give you that path (but I haven't tried myself):

[code]

This

[2019-09-10 21:47] sebastienros commented on #4203
Please don't use these themes is your components are trying to inject bootstrap as a resource. Create your own, and use the resources instead of embedding them in a single css/js like we do in these themes.

[2019-09-10 21:47] sebastienros commented on #4203
This is also why our front-end components usually don't call 'require' on the resources, or use any specific tagging.

[2019-09-10 21:48] #4203 closed

[2019-09-10 23:19] surfmuggle opened #4246 "Configuration / Settings / General / Default Culture add indicator that restart is required"
On try.orchard.fr i noticed that setting / changing the default culture requires a restart.

![Configuration_Settings_General_Add_Culture_02](https://user-images.githubusercontent.com/1271555/64657024-e14e4580-d431-11e9-9fd1-5ff1f6ea429d.png)

On the overview page it would be ideal if there was an indicator that the restart still has to take place for the setting to work

![Configuration_Settings_

[2019-09-11 00:38] ns8482e opened #4247 "Razor class library project as Module Target doesn't work"
I have created Razor class library project  "RazorUIClassLib" as per following link

https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-2.2&tabs=visual-studio

and I can access the Page using url /MyFeature/Page1

After that I added Nuget reference of "OrchardCore.Module.Targets" to "RazorUIClassLib" project and converted it into OrchardCore Module and referenced the

[2019-09-11 01:05] jtkech commented on #4247
In OrchardCore a module is an area under the virtual folder `Areas/MyModule`, so your pages need to be under `Areas/MyModule/Pages`, physically under your module project `Pages` folder. And a module can't define sub areas.

A module has at least one feature, the main one, and can have additional features, a controller can be tied to a given feature, but not a razor page defined in a module, they a

[2019-09-11 01:38] jtkech commented on #4202
- What theme are you using? E.g with `TheBlogTheme` when displaying an article, the shape system find the `Content-Article.liquid` template, but then, see in this template file, e.g the `Subtitle` text field is explicitly rendered. So, at this point the shape system is "overridden" and the placement strategies are not used.

- So here i have setup a blog and then i switched to `TheTheme` theme, th

[2019-09-11 01:38] #2415 closed

[2019-09-11 02:19] hishamco commented on #4246
Seems the version little bit old, we changed many things, General Settings now is look like:
![Settings](https://user-images.githubusercontent.com/3237266/64663147-8cbbc200-d453-11e9-805e-44ea67254339.png)

@agriffard seems we need to update the try.orchard.fr

[2019-09-11 02:19] #4246 closed

[2019-09-11 03:35] hishamco commented on #1665
![Setup](https://user-images.githubusercontent.com/3237266/64666195-0b1d6180-d45e-11e9-8302-d06a3d84baff.png)

This is a related issue when the validation is show up, I see the pre-filled configuration fields are show up which is totally wrong

[2019-09-11 04:23] hishamco commented on #1665
I fixed the issue that mentioned above, nothing but I don't think the client-side validation is a good idea, what we should do is to force `TenantState` to be `Uninitialized` if a validation error occurs

/cc @jtkech

[2019-09-11 06:35] liugt34 opened #4248 "Unable to resolve service for type 'Microsoft.AspNetCore.Http.Features.IFeatureCollection'"
when i inject the IFeatureCollection in a Module class, it meet this error? but when i run it in  the sample it worked well, i have not  see an DI of IFeatureCollection in the sample code, so how can i do?need help?

[2019-09-11 06:46] MatthijsKrempel commented on #3403
I see that there is already a boolean in place to not allow certain features not to be disabled, I think the course of action would be to use that boolean and add more modules to it.

[2019-09-11 07:44] EternityTeam opened #4249 "Multi-tenant request log level"
https://github.com/OrchardCMS/OrchardCore/blob/d1c9b264bf56c42a120159dbc9cf61a66f9645c8/src/OrchardCore/OrchardCore/Modules/ModularTenantRouterMiddleware.cs#L45

I think this should be the debug level, because there are too many useless records in the log when the info level is turned on.

[2019-09-11 08:19] arkadiuszwojcik opened #4250 "Forms: Dynamic forms and groups"
Right now when creating dynamic forms by Form widget and `FlowPart` it is impossible to make form groups. By group I mean common scenario when for example `Label` `Input` `Validation` elements are group be one html element.  Question is how such scenario schould be achived? Maybe there should be another widget `FormGroup` acceppting form fields widgets and while rendering it creates just one html

[2019-09-11 09:32] infofromca commented on #4248
search whole code for IFeatureCollection

[2019-09-11 09:34] liugt34 commented on #4248
i've resove it by sending the app.ServiceFeature in UseMiddleWare @infofromca

[2019-09-11 09:34] #4248 closed

[2019-09-11 10:08] hishamco commented on #4249
Agree

[2019-09-11 12:57] ns8482e commented on #4247
Similar to example in doc, the module has Pages are under "Aears/MyFeature/Pages

Module is the the only Feature in Orchard Core.

That means Razor class library into Orchard Core module, I need to move files physically form "Areas\MyFeature" to Root of the module and delete the folder "Areas\MyFeature" so that OrchardCore Module can add "Areas" virtually?

I expected that  just adding reference o

[2019-09-11 16:16] ns8482e commented on #4247
Even when I decide not to use "OrchardCore.Module.Targets" and use it as RCL library directly on "OrchardCore.Cms.Web" I can't  access the Page using url /MyFeature/Page1

If I create "Areas\MyFeature\Page1" within "OrchardCore.Cms.Web" that also doesn't work

[2019-09-11 17:28] lahma commented on #4234
@deanmarcussen I did a quick sweep and didn't find anything super alarming when testing the blog template. I created https://github.com/OrchardCMS/OrchardCore/pull/4251 to show some things.

[2019-09-11 17:39] lahma commented on #4234
OK, looked at [ResourceManager]( https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore.ResourceManagement/ResourceManager.cs) , I think we could do better. `ResourceManager.FindResource` shows some slowness.

But again, not really related to ImageSharp 😃

[2019-09-11 18:09] #4239 closed

[2019-09-11 18:29] ns8482e opened #4252 "Unhandled Exception in UpdateAsync while updating Part should notified to calling controller"
With reference to issue  #4168

Currently, When Content Item is updated, if any attached part throws any Unhandled Exception during update process - the exception is not notified to to the calling controller i.e. EditPOST of Content AdminController and Controller menthod contiues to update the content item in database.

As result, data stored in database for that content item becomes corrupted/inc

[2019-09-11 20:01] aghili371 opened #4253 "edit content frizzing in chrome"
when i try to edit the content, the web site frizzing and i should refresh the page.

this problem just in chrome and i tested by Firefox, it works fine.

this problem happen in different laptops.

i think this issue become from last 2 weeks.

[2019-09-11 20:04] aghili371 commented on #4229
was RTL before new updates

[2019-09-11 20:12] sebastienros commented on #4253
Can you provide some repro steps, or analyze the issue yourself?

[2019-09-11 21:15] aghili371 commented on #4253
it looks has a loop or something like this in js files. I just tried to edit the content information.

![1](https://user-images.githubusercontent.com/24512878/64735952-d820af80-d4e9-11e9-9f16-7e4693068e88.JPG)
![2](https://user-images.githubusercontent.com/24512878/64735953-d9ea7300-d4e9-11e9-9ca4-547d932f614b.JPG)

[2019-09-11 22:00] sebastienros commented on #4253
In the settings there is an option to force using debug versions of the scripts, which would help to see which line exactly is the issue.

[2019-09-11 22:35] hishamco commented on #4229
@deanmarcussen @jptissot seems one of your changes break the RTL work that I did before, could please your changes before I do it again

[2019-09-11 23:21] sebastienros commented on #4229
@deanmarcussen 🤦‍♂

[2019-09-11 23:56] jtkech commented on #1665
Normally, this is what we do in `SetupAsync`.

                if (context.Errors.Any())
                {
                    context.ShellSettings.State = initialState;
                }

Also, just saw in the setup controller

            if (!ModelState.IsValid)
            {
                CopyShellSettingsValues(model);
                return View(model);
            }

Need to be tried but

[2019-09-12 00:19] jtkech commented on #1665
For infos, in aspnetcore identity i saw this options class

    public class UserOptions
    {
        /// <summary>
        /// Gets or sets the list of allowed characters in the username used to validate user names. Defaults to abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-._@+
        /// </summary>
        /// <value>
        /// The list of allowed characters in the username

[2019-09-12 00:42] jtkech commented on #4247
Yes, i understand what you mean.

But this aspect of modularity has been introduced by orchard before RCL ;)

I will think about making it compatible. Would be as easy (or not harder) than making it working when adding pages under the Application `Areas` folder. One of the current problems is that this folder is already managed as a virtual folder under which reside all modules.

[2019-09-12 00:44] jtkech commented on #4252
I will take a look

[2019-09-12 01:02] jtkech commented on #4252
The controller call indirectly the following

                await _partDisplayDrivers.InvokeAsync(async contentDisplay =>
                {
                    var result = await contentDisplay.UpdateEditorAsync(part, typePartDefinition, context);
                    if (result != null)
                    {
                        await result.ApplyAsync(context);
                    }

[2019-09-12 06:07] deanmarcussen commented on #4229
No @hishamco you break this one :)

See your PR https://github.com/OrchardCMS/OrchardCore/pull/4039

Editor direction is being set to left on some fields when using an rtl langauge

![oc-rtl](https://user-images.githubusercontent.com/13782679/64758157-c19b4800-d52b-11e9-8cc0-81a10858e6c9.PNG)

[2019-09-12 06:16] deanmarcussen commented on #4229
[code]

This is returning en-US even when there is only one language set in localization.

Also I don't think you can use a static here as it will be set to the default of the host, for every tenant, that running under the host.

[2019-09-12 07:05] deanmarcussen commented on #4234
Thanks @lahma appreciate your input. Very interesting reading your pr and comments.

I'll put another pr in separately to deal with the recommended logic changes and removal of some other code we don't need anymore :)

[2019-09-12 08:56] jean opened #4255 "Creating content in a nested workflow fails (`database table is locked`)"
We have a workflow where a convenor can create a meeting slot and invite multiple people to meet.

- An item is created to represent the meeting.
- We iterate invitees and kick off a confirm/decline workflow for each of them.

This blows up due to the _create item_ task. If we remove that task, it works.
Is this supposed to work, are we doing something wrong?

Here's a zip to reproduce the issue:

[2019-09-12 10:46] hishamco opened #4256 "Alerts should be located in one place"
![alerts](https://user-images.githubusercontent.com/3237266/64777780-a77d5c00-d563-11e9-8963-6ec87ff46495.png)

[2019-09-12 11:17] carlwoodhouse opened #4257 "[GraphQL] Allow metrics to be enabled"
See: https://graphql-dotnet.github.io/docs/getting-started/metrics

It would be nice if we could enable this behaviour through configuration

[2019-09-12 18:56] jptissot opened #4261 "Core 3.0 update thread"
Will document issues I find when moving to Core 3.0 here.

[2019-09-13 07:00] Patchareeya commented on #4255
I disable this feature already.

Currently, I using PostgreSQL database instead Sqlite. This workflow's work!

[2019-09-13 10:36] PiemP opened #4265 "CustomSettings - field not accesible from liquid"
Hi guys,

I've created a custom settings called ComuneData where i put some data by text/media fields.
When i try to display a field in my layout (es. {{ Site.Properties.ComuneData.logo.Paths[0] }} )  I can't see the value, but when i do something like this:
[code]
I can see all the JSON object's data.

[2019-09-13 10:38] PiemP commented on #4222
Sorry guys,

this issue persist on dev branch.

[2019-09-13 10:41] hishamco commented on #4265
Please write down the result of the JSON data

[2019-09-13 10:43] PiemP commented on #4265
[code]

[2019-09-13 11:02] hishamco commented on #4265
It should work, I tried something similar last week

@jtkech anything related after 3.0 update, which I don't think in particular

[2019-09-13 11:54] jptissot commented on #4222
I tested it and it worked for me. Do you have repro steps?

[2019-09-13 12:19] PiemP commented on #4222
@jptissot you work on windows 10?

[4222.zip](https://github.com/OrchardCMS/OrchardCore/files/3609940/4222.zip)

Hope it can be more clear than me but I try to explain it by words.

I have created a Widget with a content picker field and, when I add it to a Page, the widget doesn't load the content picker field (doesn't load the content item list). If I save the page, the widget load the content i

[2019-09-13 12:26] agriffard opened #4268 "MimeKit error sending email with address containing full name"
There is a MimeKit error when the default sender address is set to something like this:
`Your Name <youraddress@host.com>`

Previously, it was working when we were using System.Net to send the emails.

[2019-09-13 12:26] arkadiuszwojcik commented on #4261
Don't know if related. I just created simple razor page in theme Pages folder:

[code]
when accessing it I get:

[code]

[2019-09-13 13:10] jptissot commented on #4222
Yes, I tested this using window 10.
Hmm I just tried again with a fresh version of latest dev and it works fine in a widget.

If you are targeting the right version ? If you want the latest dev version that has DotnetCore 2.2 support, please use the version 1.0.0-beta3-72452 that is available on myget.

You might also need to force refresh your js (ctrl+f5)

[2019-09-13 13:19] agriffard opened #4270 "Disable Feature popup"
When you disable a feature that has dependencies, they are displayed like this:

![image](https://user-images.githubusercontent.com/703248/64865421-85eea400-d639-11e9-9c54-ac9539884129.png)

Would it be possible to display them a better way, for example with a new line between each feature?

[2019-09-13 13:36] hishamco commented on #4270
Great to report that, I notice that when I was working on the features page, but I forgot to report this

[2019-09-13 13:55] emekaemego commented on #4261
@arkadiuszwojcik add this to the Startup class

`services.AddOrchardCms()
                .AddRazorPages();`

[2019-09-13 14:05] arkadiuszwojcik commented on #4261
@emekaemego when I add this I get exception on startup:

`InvalidOperationException: The view 'Display' was not found. The following locations were searched: /Areas/OrchardCore.Contents/Views/Item/Display.cshtml /Areas/OrchardCore.Contents/Views/Shared/Display.cshtml /Views/Shared/Display.cshtml /Pages/Shared/Display.cshtml`

In my original page I am using liquid views, just wanted to add razor pa

[2019-09-13 14:32] emekaemego commented on #4261
@arkadiuszwojcik If `OrchardCore.Contents` is not referenced in your project, that could be the cause.

[2019-09-13 14:35] PiemP commented on #4222
@jptissot I'm sorry (my written english lack a lot), the question about windows 10 is for the content of the zip package that I think it's work only under windows OS.

When I solve a strange issue with the recipe of my theme I try to test it another time. I'm on dev branch. Thanks

[2019-09-13 14:38] arkadiuszwojcik commented on #4261
@emekaemego I have `OrchardCore.Contents` listed in my setup recipe in dependencies list. Do I need explicit reference in project file?

[2019-09-13 15:01] jtkech commented on #4265
Maybe a missing liquid access registration

    TemplateContext.GlobalMemberAccessStrategy.Register<NewTypeThatNeedsToBeAccessed>();

[2019-09-13 15:32] PiemP commented on #4265
The documentation doesn't talk about the necessity to have an object and register it in the Startup.cs.

I have declared the custom settings from a recipe, I don't have defined it by a class.

It's something bound to content fields and I need to use content parts to do that or it's necessary to write a custom module to define a custom settings and use it in a liquid template?

Sorry guys, hope wha

[2019-09-13 15:38] deanmarcussen commented on #4265
yes, you shouldn't need an extra liquid registration

I think your accessor should be
`{{ Site.Properties.ComuneData.ComuneData.logo.Paths[0] }}`

Because you have added a field directly to a content type, I think.

And content type fields are accessed through `ContentType.ContentType` as they are basically attached to a special fields part inside the content type.

[2019-09-13 15:38] PiemP commented on #4222
🤦‍♂️🤦‍♂️🤦‍♂️

damn cache! Sorry @jptissot my fault

[2019-09-13 15:44] sebastienros commented on #4261
@jtkech can you try the Demo project and all the things it's supposed to show, just to be sure they still work?

[2019-09-13 16:01] PiemP commented on #4265
@deanmarcussen you are the man! I have forgot this behavior of the fields!

Thank you all and sorry.

[2019-09-13 16:01] #4265 closed

[2019-09-13 16:19] emekaemego commented on #4261
@arkadiuszwojcik I don't think `AddRazorPages()` is causing this particular error. You're getting a different error from the initial one before adding `AddRazorPages()`. This could be a bug in OC, but try see if any of these could help show where the error is coming from.

See if you can navigating to a different page without any exception
Try a plain razor page without a layout

[2019-09-13 19:25] jptissot commented on #2632
I will try to do this this weekend

[2019-09-13 20:26] jtkech commented on #4261
I did it at some point but not on every release

Okay, just tried, i could repro the exact same original 1st trace.
I will work on it very soon.

[2019-09-13 21:35] arkadiuszwojcik commented on #4261
So going back to my original issue. Steps to reproduce:

1. Change TheBlogTheme to use Razor SDK `<Project Sdk="Microsoft.NET.Sdk.Razor">`
2. Create empty razor page called 'test' under Pages folder in TheBlogTheme project
3. Run Orchard and try to access:  /TheBlogTheme/test

NOTE: I'm not using `AddRazorPages()` in this example.

I got exception:
[code]

When debugging:

![screen1](https://user-

[2019-09-13 21:43] Piedone opened #4271 "Provide local file for all static resources"
There are certain static resources in the built-in modules and themes that are only available from a CDN (for example: fonts.googleapis.com fonts, https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.7.2/js/all.js, https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.7.2/js/v4-shims.js, https://vuejs.org/js/vue.js). This is not a huge issue in most cases, but it's prohibitive for a

[2019-09-13 22:18] jtkech commented on #4261
You don't need `AddRazorPages` it is called by `AddMvc` that we call at the tenant level.

Yes, we need to find why there is this null endpoint, was not the case before

Thanks for the infos, i'm working on it.

Note: with my bad connection, it is very long to load all symbols to step into aspnetcore code ;)

[2019-09-14 00:43] jtkech commented on #4255
So, it seems that you can repro locally, can you try with the last dev. Note: There is one public version on myget that has been pushed just before we migrated to 3.0.

As @sebastienros said some issues have been fixed in yessql, e.g, as i remember, about session / transaction pool where an instance may not be cleaned correctly and then not ready to be re-used. E.g on an exception the underlying t

[2019-09-14 00:47] jtkech commented on #4261
Okay, there are some conflicts with what we do recently around `Autoroutes`. E.g we now have

    routes.MapDynamicControllerRoute<AutoRouteTransformer>("/{any}/{**slug}");

If i remove this line, i don't have anymore this null endpoint and razor page endpoints work again, at least with the demo module. But then autoroute doesn't work anymore ;) But i made some progress !

[2019-09-14 04:31] jtkech commented on #4261
So, i found a fix / workaround, see #4272

Maybe an issue in `PageLoaderMatcherPolicy`, all razor pages work again if i replace it with a custom implementation where i just added the following checking as it is done in other policies.

                if (!candidates.IsValidCandidate(i))
                {
                    continue;
                }

See my comments in #4272.

[2019-09-14 09:22] agriffard commented on #4261
When I update to .NET Core 3.0, there is this warning in the Build output:

`C:\Program Files\dotnet\sdk\3.0.100-preview9-014004\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.FrameworkReferenceResolution.targets(39,5): warning NETSDK1086: A FrameworkReference for 'Microsoft.AspNetCore.App' was included in the project. This is implicitly referenced by the .NET SDK and you do not typically need t

[2019-09-14 09:42] agriffard commented on #1121
@hishamco The problem is still here.
The `ModifiedUtc` and `PublishedUtc` properties are initiated to utcNow in ContentsHandler:
`context.ContentItem.ModifiedUtc = utcNow; `
so even if you pass a `ModifiedUtc` in the json recipe, it is not taken into account.

[2019-09-14 10:04] hishamco commented on #1121
Ok, no worry I will look into this one

[2019-09-14 10:08] hishamco commented on #1121
@agriffard is this happen when you run the recipe from the admin too?

[2019-09-14 10:10] agriffard commented on #1121
It is when I create a tenant from a recipe that I exported and made it a setup recipe.

[2019-09-14 10:14] hishamco commented on #1121
I will try to examine both cases, thanks

[2019-09-14 10:15] agriffard opened #4273 "Update dependencies"
Here is the report from dotnet-outdated:
[code]
I will update the dependencies.

[2019-09-14 12:44] jptissot commented on #4250
You could create your own widget for this

[2019-09-14 14:02] dodyg commented on #4121
This is new. I haven't checked it out yet but it can potentially solves the issue of sorting, filtering, etc.

https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.ContentFields/Indexing/SQL/

[2019-09-14 14:05] dodyg commented on #4121
This thread is important regarding ASP.NET Core 3.0 upgrade (https://github.com/OrchardCMS/OrchardCore/issues/4261)

[2019-09-14 14:31] hishamco commented on #4121
I tried to add .po files to Localization folder but it didn't work

Sorry I didn't notice your thread, to enable the localization you need to enable **Localization Module** after that the tenant will restart and you will be able to find a new sub menu _Settings  -> Localization_ then add your favorites cultures

[2019-09-14 14:54] jtkech commented on #4261
Sometime we need it but not always, i'ii try to clean it.

As i remember, so not sure, maybe in some places we need it as long as we have a preview version installed. I will check it this night.

[2019-09-14 16:07] deanmarcussen commented on #4261
For info when I remove it from a NuGet .csproj startup everything still works fine

[2019-09-14 17:35] PinpointTownes commented on #1983
@ninad-k negative 😄

[2019-09-14 17:56] Skrypt commented on #4261
I have 2 warnings left :

[code]

[2019-09-14 19:43] arkadiuszwojcik opened #4275 "Forms: Broken Validation widget"
Right now when using validation widget let say for field 'UserName' generated output is:

[code]
This doesn't work if there is field validation message. I played a bit with Orchard source code and applied dirty hack in `DefaultHtmlDisplay `class:

[code]

So basically I ignore `HtmlFieldPrefix ` for ValidationWidget. With this hack validation message is displayed:

[code]

I don't know overall Orc

[2019-09-14 20:22] dborovsky commented on #1983
@PinpointTownes I am sorry.  I tried but I did not understand until exactly about UI settings. If is it still actual, i can implement next week. But tell me please, what need I add in ui setting for OpenIdServerSettings?

[2019-09-14 21:49] jtkech commented on #4261
Yes, we still need to reference explicitly NETStandard.Library@1.6.1, see the comments e.g in `OC.Data.csproj`. Otherwise a self contained publish would not work.

    <PackageReference Include="NETStandard.Library" Version ="1.6.1" />

[2019-09-14 23:01] jtkech commented on #4261
For infos, about the razor pages issue i filled an issue on aspnetcore https://github.com/aspnet/AspNetCore/issues/13996

[2019-09-15 00:04] hishamco opened #4277 "Remove unnecessary translation"
While I'm translating some string in Arabic, I notice there are many strings need to be deleted, because it would not change at all for every culture such as: numbers, symbols .. etc

[2019-09-15 00:16] #4127 closed

[2019-09-15 00:17] #4273 closed

[2019-09-15 00:20] #4234 closed

[2019-09-15 00:37] jtkech commented on #4261
@agriffard i did some tests, maybe we don't have the same sdk version installed. E.g in the sdk *.props and *.tagerts i don't retrieve `NETSDK1086`, but e.g i have the following that said that it is implicit with the `NET.Sdk.Web`, otherwise we need to use a `FrameworkReference` (not a `PackageReference`).

**So, on my machine i only had the 2 warnings mentioned by @Skrypt that is a known "issue".

[2019-09-15 05:42] hishamco opened #4281 "Deployment steps cards should be height equal"
![Steps](https://user-images.githubusercontent.com/3237266/64917087-c282e280-d794-11e9-8631-23985fbd0779.png)

[2019-09-15 08:23] deanmarcussen commented on #4261
Having trouble logging into a site created with the blank site recipe

Thought it might have been fixed with https://github.com/OrchardCMS/OrchardCore/pull/4272 but tried and no.

@jtketch no homeroute on the blank site by default, so maybe similar issue?

Repro.
- Setup new tenant with blank site recipe.
- Navigate to /admin
- Enter password
- Get 404 on post

Log file
2019-09-15 08:48:09.3816|No

[2019-09-15 09:25] #4141 closed

[2019-09-15 15:01] jtkech commented on #4261
@deanmarcussen thanks for the feedback

Yes, we used recently route transformers, which is a good thing because it improved perfs, but i didn't re-do all possible tests ;)

I will fix it this night.

[2019-09-15 15:56] jtkech commented on #4261
@deanmarcussen fixed, a simple fix, i will do a PR this night.

[2019-09-15 16:05] deanmarcussen commented on #4261
Nice one @jtkech . All generally looking great IMO. Got two sites migrated and up on Azure today on 3, all seem just fine, and the speed improvements are great

[2019-09-15 17:13] agriffard opened #4283 "Empty recipe: Cannot access to admin"
With the latest version of OC, if I use the Blank recipe, after the setup, I can't access the admin.

I am always redirected to the login page.

[2019-09-15 17:22] hishamco commented on #4283
Oh really, we should fix this ASAP

[2019-09-15 17:46] jtkech commented on #4283
Already fixed but not commited yet

[2019-09-15 17:56] hishamco commented on #4283
I want to ping you, but your reply was faster 😁

[2019-09-15 20:22] #4229 closed

[2019-09-15 22:40] #4283 closed

[2019-09-16 00:03] Skrypt opened #4285 "Publish content permission issue"
In the OrchardCore.Contents AdminController.cs we check for permissions but the dummyContentItem has no owner set.
Which leads to never evaluate any proper permissions on the contentItem.

[2019-09-16 00:38] #4285 closed

[2019-09-16 07:37] dodyg commented on #4261
One of my module cannot compile

![module](https://user-images.githubusercontent.com/1761249/64940909-879caf80-d865-11e9-8fed-55f60913d19e.png)

[2019-09-16 07:41] dodyg commented on #4261
One of my module doesn't compile.

![module](https://user-images.githubusercontent.com/1761249/64941158-29240100-d866-11e9-8c2a-9f80e638f5f9.png)

[2019-09-16 08:02] dodyg commented on #4261
OK I fixed it by adding ``` <AddRazorSupportForMvc>true</AddRazorSupportForMvc>```

[code]

[2019-09-16 08:17] dodyg commented on #4261
If you have a library that uses ASP.NET Core packages, don't forget to include ```<FrameworkReference />``` (https://github.com/aspnet/AspNetCore/issues/3612)

[code]

[2019-09-16 11:22] jptissot commented on #4261
Awesome work on this guys!

[2019-09-16 11:32] MatthijsKrempel opened #4287 "Allow OpenIdValidation Audience to start with the special 'oct:' prefix"
We run a remote OrchardCore OpenId server, so our audience starts with this prefix. Since there is no way to configure the audience on the server and it is required to enter an audience when you want to use the validation feature on the client, this check is preventing us from using the feature.

I will submit a PR to delete this check.

[2019-09-16 12:23] jptissot opened #4288 "Move Template under Theme Menu"
I suggest we move the Templates menu item under the themes menu in the admin.

[2019-09-16 12:53] NexawoShahid opened #4289 "Add custom field on user setup form"
Is it possible to add a custom field to the tenant user setup screen with its implementation.
As shown highlighted GroupName in attached snapshot.
![Tenant User Setup](https://user-images.githubusercontent.com/55389769/64959533-c99c1480-d8aa-11e9-9165-1527ab649e77.PNG)

[2019-09-16 13:07] dodyg commented on #4261
This is a decoupled project. The problem is that when I deploy, the customization for the shape doesn't work. I need to manually copy over the `Views` folder to the deployed binaries.

I deploy using ` dotnet publish -c Release -o "C:\Releases\SilverKey Website\Web" `

![missing-view](https://user-images.githubusercontent.com/1761249/64960411-87b3a400-d893-11e9-956d-4f6b2a09e0ef.png)

[2019-09-16 13:09] hishamco commented on #4289
AFAIK there's no feature to do such thing, but we could make the setup view extensible by adding fields in dynamic fashion

[2019-09-16 13:11] dodyg commented on #4261
Now my site runs on ASP.NET Core 3. This is the only problem (https://github.com/OrchardCMS/OrchardCore/issues/4261#issuecomment-531768762)

![analytics-1](https://user-images.githubusercontent.com/1761249/64960744-2fc96d00-d894-11e9-804f-77223a989cf9.png)
![analytics-2](https://user-images.githubusercontent.com/1761249/64960745-30620380-d894-11e9-8764-668dba69fc83.png)

[2019-09-16 13:47] jptissot commented on #4261
Steps needed when migrating an application.

Install  dotnet core 3.0 preview 9 SDK.

**Modify all .csproj files to target netcore 3.0**

[code]
to
[code]
**Change docker images to use 3.0 images**
[code]

Change `IHostingEnvironment` to `IWebHostEnvironment`

Add `using Microsoft.Extensions.Hosting;` to be able to use `env.IsDevelopment()`

Change `<PackageReference Include="Microsoft.AspNetCore.

[2019-09-16 13:57] jtkech commented on #4261
Seems that the following is no more needed, i will do a PR.

    <LangVersion>preview</LangVersion>

[2019-09-16 14:00] jtkech commented on #4261
@dodyg so, it's related to shape template views defined at the application level, right?

Just tried in debug mode, it works, i'll try it in a published context.

[2019-09-16 14:07] hishamco commented on #4261
`IWebHostEnvironment` or `IHostEnvironment`

[2019-09-16 14:08] jptissot commented on #4261
Updated comment to reflect suggestions.

[2019-09-16 14:14] jtkech commented on #4261
Yes, `IWebHostEnvironment` in the case you have to use `.WebRootPath` or `.WebRootFileProvider`.

[2019-09-16 14:23] dodyg commented on #4261
@jtkech  yes.

[2019-09-16 15:58] carlwoodhouse commented on #2771
i assume we also want to make the default page size (different to max) configurable ? suggestions on a config name

[2019-09-16 16:04] carlwoodhouse commented on #2771
Draft pr open ^

[2019-09-16 16:29] sebastienros commented on #2771
Where do we use it in GraphQL? I can't think of where we would have it already, as I thought we only had `first`, `last`, and `skip`

[2019-09-16 16:56] sebastienros commented on #2632
A weekend has passed ...

[2019-09-16 17:04] #1134 closed

[2019-09-16 17:05] #3153 closed

[2019-09-16 17:55] jptissot commented on #2632
I did not touch a computer this weekend :) I might have some time this week :)

[2019-09-16 20:46] carlwoodhouse commented on #2771
another query, should we allow both first and last to be specified at the same time ? because we do currently ...

current behaviour is first and skip are ignored if last is specified

[2019-09-16 20:55] #4087 closed

[2019-09-16 21:13] hishamco commented on #4289
@ShahidUser1 as @sebatienros said in gitter before the easiest and the faster way is to implement your, for more info have a look to https://github.com/OrchardCMS/TryOrchardCore

[2019-09-16 22:11] jtkech commented on #4261
@dodyg i did some tests and now i remember what's the only limitation.

- So, we are talking about views defined at the application level and then not outputed on publishing because precompiled.

- It works for razor Pages and for pure mvc views (tied to a controller), i re-tried it.

- Then, for a **shape** view, a file need to exist so that the shape is discovered, then the precompiled version w

[2019-09-16 22:15] jtkech commented on #4261
As a reminder, again due to the home route transformer, if you define an home route and also an application razor `Index` page, we ends up with 2 valid endpoints for the path `/`. So, here it complains that these 2 endpoints for the same path have the same order.

I will fix it soon ;)

[2019-09-16 23:05] #2771 closed

[2019-09-17 00:06] sebastienros opened #4298 "Revive sebros/graphqljobject"
Apparently I have a branch to remove some usage of `JObject` with graphql, for performance reason, as it currently rehydrades a dictionary to a JObject I assume to make things simpler.

[2019-09-17 03:33] laguer71 commented on #4261
I tried  updating Sipke Schoorstra multitenant demo from medium to .net core 3, and got this error when adding multitenant

System.AggregateException
  HResult=0x80131500
  Message=Some services are not able to be constructed (Error while validating the service descriptor 'ServiceType: OrchardCore.Environment.Shell.Descriptor.IShellDescriptorManager Lifetime: Scoped ImplementationType: OrchardCore

[2019-09-17 04:30] jtkech commented on #4261
@laguer71 okay i will try tomorrow this usage of `.WithTenants()` and then `ConfiguredFeaturesShellDescriptorManager`.

[2019-09-17 05:03] ShahidUser1 commented on #4289
@hishamco as @sebastienros  mentioned on gitter setup module isn't extensible now, if I need the same customization then I have to create my custom view and controller with copy pasting existing setup code with my custom changes

[2019-09-17 05:18] hishamco opened #4303 "Prettify Queries page"
![Queries](https://user-images.githubusercontent.com/3237266/65013373-92b61500-d923-11e9-98cd-7a24900f6853.png)

[2019-09-17 05:18] hishamco opened #4304 "Prettify Admin Menus page"
![Admin Menus](https://user-images.githubusercontent.com/3237266/65013383-977ac900-d923-11e9-97a3-a983347c4f99.png)

[2019-09-17 05:34] agriffard opened #4306 "Tenants: Select all"
A 'Select all' check box would be useful in the tenants page.

/cc @hishamco

[2019-09-17 05:37] hishamco commented on #4306
I think we did some discussion on this one with @Skrypt, hope to do it ASAP

[2019-09-17 07:13] deanmarcussen opened #4310 "Workflow images regression"
Something in https://github.com/OrchardCMS/OrchardCore/pull/4187 has created a new `Images` folder in https://github.com/OrchardCMS/OrchardCore/tree/dev/src/OrchardCore.Modules/OrchardCore.Workflows/wwwroot/Styles

so they're now dup'd in `Images` and `images`

Will figure out which capitalization it should be and resolve.

Probably gulp on linux being better at capitalization @jptissot

[2019-09-17 12:22] Skrypt commented on #4310
Make it lowercase I'd say.

[2019-09-17 13:04] jiangweiatgithub commented on #2240
@sfmskywalker  That sample Liquid expression is exactly what I wanted. Thanks!

[2019-09-17 13:14] jptissot opened #4311 "New ContentType and ContentTypes list admin issues"
With the latest version deployed on nuget, I can no longer create new ContentItems in the admin.

The New button is not displayed and the ContentTypes list no longer show stereotypes or create buttons.

This does work fine when using OC source code directtly.

The latest version on myget that works is 1.0.0-beta3-72520

[2019-09-17 13:39] jiangweiatgithub opened #4312 "Media file moved away from temp folder but reported there"
Hi,

This is a follow-up issue from https://github.com/OrchardCMS/OrchardCore/issues/2240 .

After I click "Save draft", the liquid expresson- {{ Workflow.Input.ContentItem.Content.UserRegister.MyPhoto.Paths }} - reports as follows:
mediafields/temp/ba299bda-cb4e-4f2c-b40a-c6c072ad4f38red prime.jpg

I see something is in the temp folder just for a split of a second, Then I see that image in obviou

[2019-09-17 14:10] jiangweiatgithub commented on #4312
Now, after severial trials, the issues seems gone. Was it due to any cache? That is, the "paths" property is not updated in a timely manner?

[2019-09-17 16:30] deanmarcussen commented on #4311
The problems looks like it's related to adapting old recipe migrations running on new installs to the new settings feature.

@jptissot and I are trying to work through what is the correct procedure to update recipe migrations  and will advise

[2019-09-17 16:59] jptissot commented on #4311
I have found the solution and issue that created this weirdness. Will post details in a bit.

[2019-09-17 17:34] hishamco commented on #4312
So, is this still reproducable or we can close it?

[2019-09-17 18:33] hishamco commented on #4311
The **Create new type** button is fine, but I will check the badge for the stereotypes may it's UI related issue

[2019-09-17 18:36] jptissot commented on #4311
Turns out that the issue was caching. Here are the steps I took to successfully migrate my sites and recipes. This [commit](https://github.com/OrchardCMS/OrchardCore/commit/3501367a6dc7dbfd2fef8de36ab2df5862e842ba) was the one that caused some issues for me.

1. Setup the site and tenants while on a previous version of the code (in my case it was 1.0.0-beta3-72520). Run recipes that had the previo

[2019-09-17 18:36] #4311 closed

[2019-09-17 18:58] sebastienros commented on #4162
TODO: I will finalize the PR https://github.com/OrchardCMS/OrchardCore/pull/4159

[2019-09-17 19:02] hishamco commented on #4162
I can finalize this if you have priority on other once

[2019-09-17 19:36] sebastienros opened #4313 "Add Translation metapackage to Cms.Targets"
Not in the Core.Targets.

Update the csproj file.

[2019-09-17 19:41] sebastienros commented on #4172
Note that by keeping the parts around we don't have to delete the content items using these

[2019-09-17 19:48] hishamco commented on #4313
Is this will reference `OrchardCore.Translations.All.nupkg`?

[2019-09-17 19:56] sebastienros opened #4315 "Check OpenID, EF"
And remove NETStandard.Library 1.6.1

[2019-09-17 19:57] sebastienros opened #4316 "Implement ElasticSearch module"
Same as Lucene

[2019-09-17 20:03] hishamco commented on #4316
You read my mind, yesterday I was read a great post on ElasticSearch

[2019-09-17 20:09] sebastienros commented on #4313
Yes

[2019-09-17 20:23] agriffard opened #4317 "StringBuilder performance"
After reading this: https://www.meziantou.net/stringbuilder-performance-pitfalls.htm
I wanted to apply the StringBuilder performance best pratices explained in the article to the existing code.

Even if I don't think that the benefits will be very important according to the usage that we make (SqlParser, GraphQl generation), this is interesting to try to enhance the performance, even a little.

I

[2019-09-17 20:33] agriffard commented on #4313
https://www.myget.org/feed/orchardcore-preview/package/nuget/OrchardCore.Translations.All

[2019-09-17 20:35] agriffard commented on #4313
Upgrade it also to rc1 after the OrchardCore release and reinit to 10000.

[2019-09-17 20:41] hishamco commented on #4313
This is good and bad, good because you will no longer need to reference any translation package, and bad because you will have unnecessary translations, perhaps more than 95% are wastage, I am think for Azure, Amazon.. etc why I need to pay for tons of unnecessary po file

I agree this is very useful for development scenario

[2019-09-17 21:21] sebastienros commented on #4313
The goal is to only add it to the Cms package, not the Core one that doesn't have the themes either. So if you don't want these you can already use the Core target, which I assume you will still do for a new site as you don't want TheBlog and TheAgency.

It should just increase the package download by 5MB. What will you have to pay that you wouldn't if you didn't have these.

My only concern is th

[2019-09-17 21:33] #4303 closed

[2019-09-17 21:34] #4304 closed

[2019-09-17 22:38] Skrypt opened #4319 "Update role on a user with a deleted role"
If we delete a role that is assigned to a user ; we can't assign that user to a new role.

[2019-09-18 01:04] jtkech commented on #4261
@laguer71

Fixed

![Tenants](https://user-images.githubusercontent.com/8586360/65090557-9cd82200-d9bc-11e9-9c26-475eda2a3e17.png)

It is not related to 3.0 but since we did `IShellConfiguration`, so can you file another issue on which i will add comments e.g on how to preconfigure tenants (when using `.WithTenants`) through an `appsettings.json` (no more a root `tenants.json`) under an `OrchardCor

[2019-09-18 01:11] laguer71 opened #4321 "Error constructing ShellDescriptor when adding WithTenants()"
I tried a sample multitenant demo from Sipke Schoostra with the latest bits for Beta 3, and got this  exception
System.AggregateException
HResult=0x80131500
Message=Some services are not able to be constructed (Error while validating the service descriptor 'ServiceType: OrchardCore.Environment.Shell.Descriptor.IShellDescriptorManager Lifetime: Scoped ImplementationType: OrchardCore.Environment.She

[2019-09-18 01:13] laguer71 commented on #4261
TY Jean! Openend the Issue in
https://github.com/OrchardCMS/OrchardCore/issues/4321

[2019-09-18 01:23] jptissot commented on #2632
Does this sound like what we want to do ?
Create a liquid filter called `content_render` Usage: `{{ Content["alias:some-alias"] | content_render "detail" }}` I am not sure how to integrate caching in this one.

Create a tag helper `<content-item  alias="some-alias" />`  We could extend BaseShapeTagHelper to get the caching properties potentially ?

[2019-09-18 01:26] sebastienros commented on #2632
for the caching we don't need to do anything special, we can just rely on other existing tags for now, so don't worry about it

[2019-09-18 01:33] jtkech commented on #4321
I fixed the `ConfiguredFeaturesShellDescriptorManager` registration, i will commit it.

When using `WithTenants()`, we don't use anymore a root `tenants.json` but e.g an `appsettings.json`, a root one or just under `App_Data`, or any other regular config source as env variables, cmd line args and so on.

Anyway, the preconfigured tenants need to be under an `OrchardCore` main section.

Hmm, didn't

[2019-09-18 01:49] jptissot commented on #2632
I think we already have a tag helper

<shape Type="ContentItem" alias="alias:my-alias" display-type="Detail" />

This worked.

[2019-09-18 01:50] jptissot commented on #2632
https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Contents/Shapes.cs#L43

[2019-09-18 01:51] jptissot commented on #2632
Do you think it's worth creating another Tag helper for this or documenting this usage is fine ?

[2019-09-18 02:08] jptissot commented on #2632
Like you mentionned, we could leverage the [Cache Tag Helper](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/cache-tag-helper?view=aspnetcore-2.2) for caching the TagHelper contents.

It would be beneficial to add caching to the liquid filter though.

[2019-09-18 02:17] jptissot commented on #2632
Well, this worked as well:

[code]

[2019-09-18 02:32] jtkech commented on #2632
And that's what we use for the menu itself in the blog theme liquid layout.

    {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", ... %}

Hmm, i think here we could also use something like this `{% helper "menu, alias :..."`

[2019-09-18 02:45] jtkech commented on #4315
As i remember, we would also need to update yesSql that would have to reference an updated version of `Microsoft.Data.Sqlite` that doesn't reference an old netstandard.

[2019-09-18 03:06] sebastienros commented on #2632
Tell me that I made this content item shape already ;) and I just didn't remember ... Oh my

[2019-09-18 03:07] sebastienros commented on #2632
So maybe have the same in liquid (without the tag helper bridge) and reuse the same code if possible by externalizing it

[2019-09-18 03:09] sebastienros commented on #4315
I already published it on nuget before going home. I'll finish tomorrow. And my strategy is to just unreference the ef package from the target.

[2019-09-18 03:09] #4321 closed

[2019-09-18 09:00] m3awadhi opened #4324 "Unable to delete widget"
Hello ,
This is what am getting when i try to delete widget from a page.
![Capture](https://user-images.githubusercontent.com/3107444/65133252-59f56900-da13-11e9-81c3-b8ee13c4209d.png)

Any idea on how to resolve this ?
TargetFramework netcoreapp3.0 TargetFramework

PackageReference Include="OrchardCore.Application.Cms.Targets" Version="1.0.0-beta3-72585"

PackageReference Include="OrchardCore.App

[2019-09-18 11:04] jptissot commented on #2632
Ok will do. And will also document it ;)

[2019-09-18 12:07] hishamco commented on #4324
Strange!! Let me look on this

[2019-09-18 12:46] jptissot commented on #4324
Same for me

![image](https://user-images.githubusercontent.com/4681586/65149811-cf9c0d80-d9f0-11e9-969e-98e05f5cc1df.png)

[2019-09-18 12:48] jptissot commented on #4324
Looks like a regression to me

[2019-09-18 13:21] #4317 closed

[2019-09-18 13:55] PinpointTownes commented on #1610
Reopening for consideration, as it would be very useful in some scenarios: https://github.com/OrchardCMS/OrchardCore/pull/4309#issuecomment-532668220

[2019-09-18 14:38] jptissot opened #4326 "Allow to define alt text in MediaPickerField"
We need to be able to define localizable alt text for Media. I thought the easiest place would be in the MediaPickerField. Thoughts ?

[2019-09-18 14:50] jiangweiatgithub commented on #4312
Sure!

[2019-09-18 14:50] #4312 closed

[2019-09-18 15:08] hishamco commented on #4326
If there's ability to enter the `alt` text from the admin, the current implementation will unable to localize it, but when we add the dynamic string localization, this will be a good enhancement

[2019-09-18 15:42] jiangweiatgithub opened #4327 "Sample script to copy media files"
Hi,

I was just wondering about how to enter the Javascript code into a Script task, for example, copying disk files frome one folder to another. I tried the following script, but nothing happened, it does what I want it to when running the first 5 lines in a standalone js script file.
[code]
And how can I pass into a script like the above  a string returned by a Liquid expression, such as the fol

[2019-09-18 15:53] deanmarcussen commented on #4288
What about actually at top level like Workflows with a nice icon (but still down the bottom of the list near / above the themes menu item?

[2019-09-18 16:56] jptissot commented on #4288
I would probably also remove the Themes page under the Configuration menu as it's used to configure which themes are enabled.
Then, we could move the Templates menu item out of configuration and replace the Theme menu.

[2019-09-18 16:57] jptissot commented on #4288
I would also like to be able to easily modify the templates of a ContentType while on the edit ContentType page.

[2019-09-18 18:39] sebastienros commented on #1610
Ok, I am fine with it. Tenant names can be spoofed, not automatically generated guids (or at least not without system privileges).

Guid is fine, also is the format for content item ids (guids to base26 with improvements). Can be defined when the new tenants are created.

[2019-09-18 18:55] #4313 closed

[2019-09-18 18:58] #4310 closed

[2019-09-18 19:08] #4315 closed

[2019-09-18 19:58] sebastienros commented on #2632
We might need to think on how to get a culture content item too. That might incur some changes in the format of the filter. Maybe we'll need to make it extensible. But I assume we already have a service to retrieve a content item with a specific culture, and we can use its id then. Though ideally we should be able to set `alias:foo` and `culture:fr`. So maybe a small interface to resolve these seg

[2019-09-18 20:01] jtkech opened #4329 "Localization packages need some msbuild scripts"
About the localization packages.

As i remember, with the new nuget package system content files are not copied under the project, they are immutable contents that may be referenced but as link items. Hmm, maybe with the right option they can be outputed on building but they will be under the bin folder, not under the project root.

So, i think that the localization packages need to be packed with

[2019-09-18 20:56] sebastienros commented on #4329
Can't we just include the localization folder, like the wwwroot is? As part of the csproj. And do it in the template too?

[2019-09-18 21:26] jtkech commented on #4329
I don't think so, about `wwwroot` folders, each module embeds its own static assets, and for application static assets they need to be physically under the application `wwwroot` folder.

As i remember, the solution would be to inject for each localization an msbuild script file (with a different name) so that on building each package will  enlist itself its `*.po files` e.g in an msbuild `$(Locali

[2019-09-18 21:46] jtkech commented on #4329
Just saw in the `OrchardCore.Translations` repo that packages are not built through `*.csproj` files.

If we keep things like this, i would have to explain to @hishamco how things are done for module so that it could reproduce what is done when using e.g the following in a `csproj` file.

    <ItemGroup>
      <None Include="$(MSBuildThisFileDirectory)Package.Build.props" Pack="true">
        <Pac

[2019-09-18 21:59] jtkech commented on #4329
Hmm, maybe just a simpler marker so that these packages are recognized as translation packages. Or simpler, just because their names start with `OrchardCore.Translations`.

I will try something without having to change the current localization packages.

[2019-09-18 21:59] sebastienros commented on #4329
This is what I see in the current OrchardCore.Cms.Web:

[code]

[2019-09-18 22:01] jtkech commented on #4329
Yes, this is necessary but not enough.

But as said above, i will try something without having to change the current localization packages.

[2019-09-18 22:30] hishamco commented on #4329
@jtkech try what's in your mind, or let me know what should I do

One point it needs a clarification, while the translations could be in different places, how the translation packages will aware about this?!!

[2019-09-18 22:40] jtkech commented on #4329
Okay.

Hmm, i think that to be used from other locations they have to be manually copied and then marked to be published. E.g, as i remember, for a given module under its `App_Data` folder, then here the *.po files will be embedded in the module assembly, so here no need to do anything on publishing.

[2019-09-18 22:42] sebastienros commented on #4329
I did that in the csproj and it worked:

[code]

[2019-09-18 22:46] sebastienros commented on #4329
But I can also confirm that the Translation projects didn't export their po files in my Localization contente, even before publishing /cc @hishamco

[2019-09-18 22:50] hishamco commented on #4329
Is that mean that the po files don't copied into the Localization folder?!!

[2019-09-18 22:51] sebastienros commented on #4329
@hishamco my last comment yes

[2019-09-18 22:51] sebastienros commented on #4329
Checkout the dev branch, it's supposed to copy these

[2019-09-18 22:51] jtkech commented on #4329
`CopyToOutputDirectory` just outputs what you **already have** under `Localization`, and then under the bin folder (not the app root), and do nothing on publishing

[2019-09-18 22:52] hishamco commented on #4329
Really!! could you please let me know what happen after you install any translation package?

Now

[2019-09-18 22:52] jtkech commented on #4329
I did some progress, in a targets file i could grab all package dependencies (so even transitively referenced) whose name start with `OC.Translations`.

[2019-09-18 22:54] jtkech commented on #4329
This was possible with the previous `package.config` system.

[2019-09-18 22:57] hishamco commented on #4329
I referred to Microsoft Docs for that one, I will download a sample translation and come back to you

[2019-09-18 22:59] sebastienros commented on #4329
I added a file in the Localization folder, called a `dotnet publish` and it got my file in the correct folder on the published target. Not in the bin, where I wanted it.

[2019-09-18 23:05] hishamco commented on #4329
https://docs.microsoft.com/en-us/nuget/reference/nuspec#including-content-files

I read before that the `contentFiles` is not necessary, it will pick up it's content automatically, but when I open any package with NuGet Explorer and export its metadata, it adds that tag and list all the files inside `content/{culture}`. Could this be the issue?

I remember I try it in another project and it's work

[2019-09-18 23:12] jtkech commented on #4329
Yes because we also and already have

    <ResolvedFileToPublish Include="Localization\**">
      <RelativePath>Localization\%(RecursiveDir)%(Filename)%(Extension)</RelativePath>
    </ResolvedFileToPublish>
  </ItemGroup>

[2019-09-18 23:20] jtkech commented on #4329
Okay, in a targets file i could grab easily the full path of all package dependencies (so even if transitively referenced) by using the following. So, it will be possible to copy them if not done automatically.

![Translations](https://user-images.githubusercontent.com/8586360/65193477-8f35a180-da7b-11e9-8242-897ebe4eca6a.png)

[2019-09-18 23:26] jtkech commented on #4329
Yes, i could see this under my local package storage.

I don't think so.

Wich kind of project? Maybe not with the `*.csproj` and `PackageReference` system.

[2019-09-18 23:30] hishamco commented on #4329
`*.csproj`

[2019-09-18 23:31] jtkech commented on #4329
So, i think i can do this by completing the `OrchardCore.Application.Cms.Core.Targets.targets` file. @sebastienros is it the right place?

[2019-09-18 23:34] hishamco commented on #4329
Ya, because my aim was to check the extraction of the package itself, if is there anything we can do in the `pack.ps1` feel free to suggest the modification

[2019-09-18 23:37] sebastienros commented on #4329
I created another folder Foo, with some file in it. Added

[code]

And everything is published in the Foo folder on the destination, as expected

[2019-09-18 23:39] hishamco commented on #4329
😟 Is it a NuGet package or PackageReference issue or my issue :)

[2019-09-18 23:42] jtkech commented on #4329
Okay sorry, because content files are published. This is because in our targets file we also have a `Content Remove` to not show them all under the solution as for the `wwwroot`.

Yes the main issue was "just" that we need to 1st grab them from the localization packages.

[2019-09-19 00:14] sebastienros commented on #2632
My previous comment is based on how people will deal with the menu when building a multi-lingual website, and need different menus

[2019-09-19 03:49] lthoa opened #4330 "> I think we should add a global option as for the html encoder to use in liquid"
I think we add some encoding if I'm not wrong, let me check

_Originally posted by @hishamco in https://github.com/OrchardCMS/OrchardCore/issues/4041#issuecomment-523160166_
----------------
Please add a global option so we can choose an alternative to "HtmlEncoder.Default" anywhere.

[2019-09-19 07:23] hishamco commented on #4330
This should be move to Fluid repo

[2019-09-19 07:23] #4330 closed

[2019-09-19 07:41] hishamco commented on #4324
@jptissot you can start work on, while I'm still blocking by the environment :(

[2019-09-19 07:57] deanmarcussen opened #4331 "Can't login without https since Core3"
Is it just me, or can you not login without https since core3 when using `dotnet run`

Is that something we have done, or maybe core 3 has done?

Do we just need to update the `.vsconfig` to reflect the https port and document somewhere?

[2019-09-19 09:22] infofromca commented on #4202
maybe this is the reason.
For my situation, the fields  were explicitly rendered in the **ContentPickerField**.
by the way, I used Agency, Blog themes.

[2019-09-19 11:32] ninad-k opened #4332 "Workflows and Forms : Accessing Form Data for submitting POST HTTP request"
Created a ContactUs form with the help of the [link](https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Forms)

I want to submit the form and store the values in the SQL Server Database so I created Web API with Post method and I tried to add HTTP Request Task in the workflow but I am not able to pass any form value through Body but if I pass simple static string then the re

[2019-09-19 12:41] jptissot commented on #4324
Ok I will check this this morning

[2019-09-19 12:45] hishamco commented on #4332
@jptissot could you please have a look to this

[2019-09-19 12:52] hishamco commented on #4324
It's evening here, if the `dotnet` issue resolved, I will shoot the fix before you wake up :)

[2019-09-19 14:10] arkadiuszwojcik opened #4333 "Forms: Standalone Razor Page and ModelState validation"
Recenty I'm tasting following scenario.  In my theme project in Pages folder I created Razor Page `Contacts.cshtml`. This page contains simple form that post result to my custom wokflow that returns validation errors if any. Problem is that while rendering response `ModelState `doesn't contain those errors. I made some initial investigation and here are initial results.

1. #https://github.com/asp

[2019-09-19 14:14] jptissot commented on #2632
I am not sure I understand why we would need something special for cultures in this case. The aliases will need to be unique and the convention is specific to each project.
My convention is to add -{culture.name} to the alias. Currently doing this in our liquid templates:
[code]
My Brand content type does not have a Localization Part.. maybe that is considered a hack and maybe i should not even be

[2019-09-19 14:22] jptissot commented on #4331
Same for me. I mentionned it in the Core 3.0 update thread.

[2019-09-19 14:28] jptissot commented on #4326
Best would be to allow alt text to be defined with the media files and be localizable. Maybe it already is possible. If not, I am ok with the MediaPickerField holding the alt text.
/cc @matiasmolleja

[2019-09-19 14:33] ns8482e opened #4334 "Iterating all Parts of ContentItem in liquid"
I am trying to iterate all Parts in liquid as below - doesn't render anything

[code]
However below Razor Counter Parts works.

[code]
Any Idea how do I loop through Model.Parts.Items in liquid?

[2019-09-19 14:35] sfmskywalker commented on #4332
Are you passing a JSON content body or URL encoded form values?

[2019-09-19 14:37] deanmarcussen commented on #4326
@jptissot The way I've normally handled that, and I believe is the design intention, is that if we want metadata (alt tags) on a MediaField, we should wrap that field into an ImagePart, and place metadata on that, i.e. Caption on the Agency sample.

Then it's localizable right?
but does that mean that you have to pick the image again?

[2019-09-19 14:51] jptissot commented on #4326
I guess that could work. Create a ReusablePart called ImagePart and add a MediaField to it + a Alt Text field.

I just thought the base MediaPickerField should have at least the alt text since it's pretty common and nessesary for accessibility

[2019-09-19 15:06] hishamco commented on #4331
Related & unrelated, after updating `.vsconfig` I'm not able to run `dotnet run` in VS Code it takes long time without echo anything, any idea

[2019-09-19 15:06] Skrypt commented on #4326
I think the goal in OC is to not bind any metadata by default to the medias. It's easier to migrate medias that way. In 01 in order to be able to migrate medias you needed to have database records migrated for them to work. The goal in RC was to make media more independent of it's metadata.

What @deanmarcussen says is what needs to be documented for this specific usage.

[2019-09-19 15:12] jptissot commented on #4326
What about my idea of adding a Textbox to the MediaPickerField for alt text? The metadata would be independent from the media but be modifyable from the ContentItem edit page ?

[2019-09-19 15:25] Skrypt commented on #4326
Yeah, you should check with @matiasmolleja for this. I think we need to come up in this case with a procedure to add a Textbox to the MediaPickerField and a documentation on how to reproduce it. Because your TextField could be named "Apple" or "Oranges" ... and the Vue.js ViewComponent in that case needs to have some constants to look at to add this.

[2019-09-19 15:28] jptissot commented on #4326
I was thinking something along the lines of what we do for the LinkField. It has 2 textbox (url and text) The MediaPickerField would have the Media picker and another Textbox for alt text. I dont think we need to modify the Vue component.

[2019-09-19 15:41] Skrypt commented on #4326
Hmm ask @sebastienros what he thinks about it first.

[2019-09-19 16:32] ninad-k commented on #4332
JSON content body. Below is my Web API structure.

![image](https://user-images.githubusercontent.com/47207171/65262810-c31ad080-db28-11e9-9b43-1d13097f75fc.png)

[2019-09-19 16:46] sfmskywalker commented on #4332
I suspect that is the issue. You are validating form values, which are expected to be sent using the `application/x-www-form-urlencoded` where the content body is expected to be like

[code]

Which will be parsed into the `Request.Form` collection, which is used by the [ValidateFormFieldTask](https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Forms/Workflows/Act

[2019-09-19 18:42] matiasmolleja commented on #4326
Something like this has been discussed before:
#908  #3404
There are pros and cons. I would would not add more complexity to the field. I think that we should leverage the content part concept for that. It is a matter of adding docs about how to do that, and maybe add a content part or content type to one or several of our default themes.

It is true that this is a so common requirement that we sh

[2019-09-19 19:10] sebastienros commented on #4326
Another option would be to have a `MediaPickerWithAltTextField` class that would be used by the editor, and the dev if they know they want to access the value. But it would still not be in the public field. And we'd need to check if we can extend graphql with this new data too.

[2019-09-19 19:14] sebastienros commented on #4334
Technically your are not iterating parts, but the shapes I think.
Wither we need to expose the `Items` property on Zones in liquid, or provide a way to get a named zone in liquid.

[2019-09-19 19:21] sebastienros commented on #2632
`{% contentitem "alias:main-menu" cache-id: "main-menu" %}`

`<contentitem alias="alias:main-menu" cache-id="main-menu" />`

[2019-09-19 19:23] sebastienros commented on #4333
Can you provide a PR with your solution?

[2019-09-19 19:24] sebastienros commented on #4202
I assume the reason has been found.

[2019-09-19 19:24] #4202 closed

[2019-09-19 19:26] sebastienros commented on #4288
When we designed the menu, we wanted something like 5-6 root menu items, and everything was supposed to find its place in these ... be careful.

[2019-09-19 19:26] sebastienros commented on #4288
Also there is a link in the ContentType definition page to go directly to its template (same for parts).

[2019-09-19 19:28] sebastienros commented on #4327
You can't invoke custom objects from script tasks. They are supposed to be safe. What you need is a custom method that would be provided to the script engine, to move media. This could be done as part of a PR in the Media module, search for Global Method Provider examples.

[2019-09-19 19:29] jptissot commented on #4288
I think we should have a "UI" root menu and move the Active Theme, Templates, Layers under this menu. I find the different settings are a bit scattered especially since all those are related to the frontend .

[2019-09-19 19:30] #4289 closed

[2019-09-19 19:38] sebastienros commented on #4271
For font-awesome it was intentional, as I didn't want to ship it (licensing concerns) and it's also a lot of files. But if the licensing is not an issue to ship it then why not. And also the fact that we have to handle updates by ourselves too (harder than a version number to change).

[2019-09-19 19:38] #4324 closed

[2019-09-19 19:39] #4270 closed

[2019-09-19 20:44] ns8482e commented on #4334
I was trying to create an alternate shape that would render any content item without using default Zone location like Header or Footer.

Also,  the name or list of parts are not known as the template could be used for any content.

[2019-09-19 22:02] jtkech commented on #4329
So, seems that for package dependencies we can only retrieve their names, e.g not their versions and then their full paths. There are some coded msbuild tasks that grab more infos from the `project.assets.json` cache but they are not exposed to the related msbuild items metadata.

So right now i think we need to do some changes to have the right metadata in the `.nuspec` files. [In this doc](https

[2019-09-19 22:14] hishamco commented on #4329
IMHO we can modify `_template.nuspec` and test one of the translation packages from artifacts after CI

@jtkech you could create a PR on translation repo to test the case that you, if you need any kind of help don't be hesitate

[2019-09-19 22:29] sebastienros commented on #4329
https://devblogs.microsoft.com/nuget/nuget-contentfiles-demystified/

This article explain how to change the packages such that the files are copied correctly. It can trigger a custom msbuild target too.

[2019-09-19 22:30] jtkech commented on #4329
Okay, i'm tying to do some local tests first.

[2019-09-19 22:48] jtkech commented on #4329
@sebastienros i know this article where we retrieve some similar infos but maybe a little outdated because they talk about **project.json** before the new `csproj` system.

Files will not be copied under the project root, they can be outputed on building but in the executing folder.

but then can be copied on building but to the executing directory

[2019-09-20 01:20] jtkech commented on #4329
Just restarted some tests, okay, i can test everything locally by updating some package .nuspec files and how their files are distributed, i will let you know what happens.

[2019-09-20 03:01] jptissot opened #4338 "Assets pipeline issues"
As @deanmarcussen mentionned [here ](https://github.com/OrchardCMS/OrchardCore/pull/4336#pullrequestreview-290803707) I unknowingly included the wrong version of popper.js in TheAdmin.js script by using the assets pipeline. Which let me to investigate as to why this happenned as I had done a clean `npm install `and `gulp build`.

I found out why `popper.js@1.15` is in our [package-lock.json](https

[2019-09-20 03:04] jptissot commented on #4338
I just did another test, doing npm install from the root already installs node_modules in each referenced dependency so a quick fix would probably be to just modify the Assets.json files to reference these instead of targeting the root node_modules.

[2019-09-20 03:06] jptissot commented on #4338
We could also investigate newer assets build tools like Rollup.js or Webpack.

[2019-09-20 03:19] jtkech commented on #4329
So, i did some tests that confirms what i said above but with the additional info that it doesn't work when a translation package is referenced transitively. So, here i referenced, directly from the application, a translation package whose `.nuspec` file has this additional metadata.

    <contentFiles>
      <files include="any/any/Localization/**/*.po" buildAction="Content" copyToOutput="true" /

[2019-09-20 09:34] DaveEmmerson opened #4339 "HtmlBody can't be used as a reusable part"
I'm trying to have two HtmlBody parts, so that someone creating an instance of my content type can include some HTML content to be output in two separate sections of the resulting page.

It doesn't seem to be possible, unless I'm missing something?

Article parts:
![image](https://user-images.githubusercontent.com/2356855/65316351-b2eb0b80-db91-11e9-9b83-bac1bdc43616.png)

New Article:
![image](ht

[2019-09-20 09:37] DaveEmmerson commented on #4339
I see from another issue that if something isn't marked as reusable by whoever created it, then it probably shouldn't be marked as reusable by someone using it? In that case, should the 'reusable' check box be read only?

[2019-09-20 09:37] deanmarcussen commented on #4339
Normally we use the HtmlField when we need a second piece of html content.

I think it's probably non reusable because it can be used to generate a `BodyAspect`, which if there are two of them, would confuse the aspect arrangement.

So the primary piece of content is a HtmlPart, and other bits that make up extra content are fields

[2019-09-20 10:32] DaveEmmerson commented on #4339
@deanmarcussen ah, ok, fair enough. I've not managed to figure out how to actually render out the contents of an HTML field. Any hints? New to Orchard and getting lost in Content vs ContentItem vs ContentItem.Content, etc. :)

[2019-09-20 10:50] deanmarcussen commented on #4339
No worries.

Model.Content is where the shapes are
Model.ContentItem is the json of the content item

field accessors are
[code]

https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.ContentFields/

assuming you put the field on the content type, not one of the parts.

Dumping Model.ContentItem (or Model.ContentItem.Content - I actually can't remember of the top of my head whi

[2019-09-20 11:01] DaveEmmerson commented on #4339
Thanks 👍 That's about where I got to. So I've got { "Html": "Hello \<b>world\</b>" } and I can get the template to output literally Hello \<b>world\</b> rather than Hello **world**.

{{ Model.ContentItem.Content.DocumentsPage.Header.Html }}

That's just text rather than a shape it seems,

{{ Model.Content.HtmlBodyPart | shape_render }} that works for the HtmlBody part

I thought maybe {{ Model.Con

[2019-09-20 11:28] DaveEmmerson commented on #4339
Ah...

{{ Model.Content["DocumentsPage-Header"] | shape_render }}

https://orchardcore.readthedocs.io/en/latest/OrchardCore.Modules/OrchardCore.Templates/README/#content-field-differentiator

Thanks for looking into it for me

[2019-09-20 11:28] #4339 closed

[2019-09-20 11:41] jptissot commented on #4261
I haven't seen any other issues on my end. Feel free to close this one :) Thanks for all the comments guys!

[2019-09-20 13:22] deanmarcussen commented on #4338
I completely agree @jptissot the problem exists, because of sub-packages, which we have no control over how they choose to reference dependencies.

Also, having it how it is, makes it difficult to allow different versions of dependencies, for different projects.

For example, I have no trouble with popper being upgraded in TheAdmin, (it's a dot release, so shouldn't matter) but that will then like

[2019-09-20 13:40] ns8482e opened #4340 "Unable to build dev branch with .NET Core 3 RC1 and VS 2019"
Unable to build dev branch with .NET Core SDK 3.0 RC1 installed with VS 2019 Professional

========== Build: 93 succeeded, 58 failed, 0 up-to-date, 0 skipped ==========

I am receiving following error for NullableTypes  for Razor files (.cshtml).

obj\Debug\netcoreapp3.0\Razor\Views\Admin\Features.cshtml.g.cs(15,2,15,10): error CS8652: The feature 'nullable reference types' is currently in Preview

[2019-09-20 13:44] hishamco commented on #4340
I faced this issue too, last few days ago, after that I decided to use VS Code. Let me try your change

thanks

[2019-09-20 15:55] hishamco commented on #4340
I try it but the issue still :(

[2019-09-20 16:31] sebastienros commented on #4340
We might need to revert the change that removed these properties 3 days ago from @jtkech. But the CI doesn't complain so I wonder what makes it work for the other machines.

[2019-09-20 16:36] deanmarcussen commented on #4340
Are you guys using Visual Studio 2019, or the Visual Studio 2019 Preview 3?

I believe the recommendation from Microsoft is to use Preview 3

LangVersion preview would be required for the older VS 2019, because it doesn't support core 3

[2019-09-20 16:40] Skrypt commented on #4338
The advantages of the gulp pipeline is that it is really highly customizable. The issues you are referring to are related to the fact that in the latest changes we added child packages references. Should we move to Webpack instead of npm ... yes. I made some tests with Webpack on my webpack_hmr branch https://github.com/OrchardCMS/OrchardCore/tree/skrypt/webpack-hmr

[2019-09-20 16:50] hishamco commented on #4340
I'm using VS 2019 v 16.1.3

Ya, 16.3.x but I don't know why it doesn't work while I have the latest runtime & SDK?!!

[2019-09-20 17:29] Skrypt commented on #4338
At the same time Webpack has the same kind of approach with submodules where it uses the same main shared node_modules folder. So, here, the issue is maybe not related with gulp/npm. If one submodule needs to have a different dependency then we should not make it a submodule of the main package. But I'm guessing that the intent to use submodules was to be able to also use the same dependency versi

[2019-09-20 17:31] ns8482e commented on #4340
I am using VS 2019 Professional 16.2.5
Changing LangVersion to preview works for me

[2019-09-20 18:11] ns8482e opened #4342 "Error adding custom widget in WidgetList."
### 1. Created a custom widget WeatherWidget  as below

![image](https://user-images.githubusercontent.com/23270244/65348112-07988180-dba6-11e9-93cc-99ab95674936.png)

### 2. Created another content type WidgetCloud with "WidgetList" Part .

![image](https://user-images.githubusercontent.com/23270244/65348179-31ea3f00-dba6-11e9-89d4-b5f6789b4bac.png)

### 3 Added an alternate template for Editor s

[2019-09-20 18:35] ns8482e opened #4343 "Edit experience of editing of Widget is not consistent between ContentItem edit and Flow Edit"
In addition to #4342, when alternate shape is created for Widget - e.g. "Widget-WeatherWidget.Edit.liquid"

User experience of  editing widgets becomes inconsistent.  It's  because Flow editor takes control rendering by adding hard-coded alternate "Widget_Edit__Flow" within FlowPart_Edit shape.

For greater extensibility,  Flow module should introduce IShapeTableProvider like Menu module.
This wou

[2019-09-20 18:59] sebastienros commented on #4340
Right now it seems we either need Visual Studio Preview 3 or VSCode, only in the case when you want to use the source solution and not the Nuget packages. I would say that is fine then and it was expected.

[2019-09-20 19:02] #822 closed

[2019-09-20 19:03] #2177 closed

[2019-09-20 19:03] #3216 closed

[2019-09-20 19:12] sebastienros commented on #4340
I am leaving this open right to get some feedback on this, if this is controversial.

[2019-09-20 19:58] #1061 closed

[2019-09-20 21:59] #4333 closed

[2019-09-20 22:15] stantoxt opened #4345 "Automatically create database when tenant setup"
Why OrchardCore can not automatically create database when tenant is setup?

[2019-09-20 23:02] jptissot commented on #4338
Thing is.. Assets.json defines where the assets gets pulled from. We should not install those dependencies at the root but within each module. And the Assets.json should reference local node_modules. We could easily write a script that searches the solution for all package.json files and run npm install in those folders. Then, the build pipeline will just work because it will use local version of

[2019-09-20 23:17] sebastienros commented on #4345
Because it would require a connection string that point to a different database than the one the site will use, and an account that also has these permissions. However for Sqlite it's not required, so you can already do this.

[2019-09-21 01:45] hishamco opened #4347 "Lists Items don't filter properly"
Reproduce: Content Definition -> Content Types -> Click List Items button for any content type

Result: All the items are displayed

[2019-09-21 02:35] sebastienros opened #4349 "Mini Profiler module is broken"
Fails the app completely when enabled

[2019-09-21 02:58] hishamco commented on #4347
Oops, I didn't notice that you set this for 1.0, anyhow the fix is there

[2019-09-21 03:04] hishamco commented on #4331
FYI I'm able to run both http & https using VS Code, is this related to VS 2019?

[2019-09-21 03:12] #4347 closed

[2019-09-21 03:31] hishamco commented on #2908
@KeithRaven are your still interested to send a PR for this?

[2019-09-21 03:41] hishamco commented on #4319
I can reproduce this one, I tried this three time and it works fine. Nothing but we need to add a warning message if the deleted role was assigned by some users

[2019-09-21 03:54] jtkech commented on #4331
I tried, it also works under VS2019 with `https://localhost:44300` and `http://localhost:2918`.

With `dotnet bin/debug/netcoreapp3.0/orchardcore.cms.web.dll` it works for `https://localhost:5001`, then it works with `http://localhost:5000`, login included, but you have to restart the application otherwise it doesn't work at all, the 1st front end page is not allowed.

That said, about login i had

[2019-09-21 03:55] jtkech commented on #4331
Oh, i tried with `dotnet` but not with `dotnet run`, i will

[2019-09-21 03:57] jtkech commented on #4331
Don't use dotnet run, it's too long, i'm waiting, use in place `dotnet theDll.dll`.

[2019-09-21 03:59] jtkech commented on #4331
Okay, it also works on my side with `dotnet run`.

[2019-09-21 05:50] #4319 closed

[2019-09-21 05:51] Skrypt commented on #4319
Can't repro on latest dev either.

[2019-09-21 10:38] hishamco commented on #4331
So what's the action should be take about this one

[2019-09-21 10:39] deanmarcussen commented on #4331
@jtkech Ok, cool, I win best user id10t error for the month ;)

Totally related to Chrome user name being used too many times.

New user name and problem goes away

[2019-09-21 10:39] #4331 closed

[2019-09-21 10:44] deanmarcussen commented on #4331
No action, no bug.

Clear your Chrome cache, or don't reuse the same username over and over again when setting up test tenants.

[2019-09-21 12:08] arkadiuszwojcik commented on #4250
Yes I could and for now I will probably do it, problem is that current OrchardCore.Forms module implemantations have some problems with most basic forms setup. What I would suggest is:

1. In `Form-FlowPart.cshtml` remove part that renders this line: `widgetContent.Classes.Add("form-group");`

2. Create `FormGroup ` widged with `FlowPart`/`BagPart ` to render `<div class="form-group"..> ... </div>

[2019-09-21 12:44] arkadiuszwojcik opened #4354 "Forms: validation error class"
Recently I'm experimenting with `OrchardCore.Forms` module and I encounter few problems raported in #4250 #4275 #4333 and here is another one.  To be clear, I know it might be solved by custom implementation but I'm trying to report only those issues I'm considering to affect basic use cases so in my opinion they should be addressed in basic  `OrchardCore.Forms` module.

There is already `Validati

[2019-09-21 14:30] agriffard opened #4356 "Upgrade site to latest: Error Method not found: 'Boolean OrchardCore.Localization.IPluralRuleProvider.TryGetRule"
I upgraded one of my test sites to the latest version 1.0.0-beta3-72691 of the myget packages and this error occurs when launched:
[code]

[2019-09-21 14:41] hishamco commented on #4356
Thanks for reporting that, I remember that the reference has been changed, but let me invistigate this

[2019-09-21 14:43] agriffard commented on #4356
I tried a fresh dotnet new site and it works but I can't tell the difference between the 2 projects and why the first one has this error.

[2019-09-21 14:46] hishamco commented on #4356
I remember @sebastienros has fix and change the reference for couple localization type, nothing but if there is no straightforward way to reproduce the bug, I suggest to close it

[2019-09-21 14:47] agriffard commented on #4356
Well. I cleaned the solution properly and relaunched and now it is working.
Thank you for your help but don't waste your time, I'm closing the issue.

[2019-09-21 14:47] #4356 closed

[2019-09-21 14:49] hishamco commented on #4356
It happened with me all the time :)

[2019-09-21 15:30] emekaemego commented on #4324
Still getting this issue on `1.0.0-beta3-72691`

[2019-09-21 15:38] m3awadhi commented on #4324
@emekaemego
i am not facing this issue anymore
Try CTRL+F5  or clear your browser cache

[2019-09-21 15:47] emekaemego commented on #4324
How did I miss that? Worked.

[2019-09-21 16:00] jtkech commented on #4331
Okay cool, @Skrypt also had the same issue and he helped me to fix it on skipe.

[2019-09-21 16:26] jptissot commented on #4356
Running `dotnet clean` fixed this issue for me as well.

[2019-09-21 18:08] jptissot commented on #4250
I agree with you. I had to write most of my widgets for a form.

[2019-09-21 21:21] agriffard opened #4358 "Content items: Bulk actions and Filters UX"
Here is a test to redesign the content items page for the bulk actions and the others filters:

![media](https://user-images.githubusercontent.com/703248/65379203-93a0cb00-dcc4-11e9-81fb-1c282dd4b48f.gif)

As you may see, I have been mainly inspired by the GitHub issues UX.

The new features are:
- 'Select all' aligned vertically with the other checkboxes.
- Smaller left and right padding in the i

[2019-09-21 22:00] hishamco commented on #4358
I like what you did Antoine, great job. I'm not sure why you didn't suggest that before I start to prettify the admin UI?!!

Just few comments:
- Move the title box above the bar, like what you seen in issues page
- Style Bulk Actions like the other drop down lists, it can be visible & invisible on selection

I think we can do this before 1.0.0 if other guys agree with

/cc @Skrypt

[2019-09-21 22:12] sebastienros commented on #4358
@Skrypt did suggest it actually ;) no excuse!

It looks awesome. But definitely for 1.0, too late for RC. And it will give us some time to apply it in some other places.

I was also wondering about moving the main title in a top level header, I think @hishamco mentioned a similar layout a while ago. To free some space, and reuse the blank at the top.

[2019-09-21 22:36] hishamco commented on #4358
I can assist @agriffard on this one, to apply it everywhere after shipping RC

[2019-09-21 22:53] hishamco commented on #4316
FYI this is a good article https://khalidabuhakmeh.com/search-experiences-for-your-aspnet-core-apps-with-elasticsearch

[2019-09-22 01:02] Skrypt commented on #4358
Awesome @agriffard does the mobile version works well too or it still needs adjustments?

[2019-09-22 01:56] stantoxt commented on #4345
Thanks @sebastienros , but I think oc that use relational sql should use connetion string for default tenant, connection config should be unaware for tenant for relationsql like for sqlite.Many other website builder dont need connection string for tenant.

[2019-09-22 02:14] jptissot commented on #4147
@sebastienros isn't this already supported ? https://github.com/OrchardCMS/OrchardCore/pull/4193

[2019-09-22 03:50] #4147 closed

[2019-09-22 07:01] deanmarcussen commented on #4358
This looks fantastic, so much cleaner!

Just an idea for how to display the filters
Because they're not quite like github where you can have multiple filters, but are only a single filter on `Type`, you could swap the `Type` text for the current selection, when one is made.
Saves a bit more space possibly, but just an idea

It really does look great 😄

[2019-09-22 09:11] lahma commented on #854
[Mozilla's Observatory gives a pretty readable report](https://observatory.mozilla.org/analyze/try.orchardproject.net)

[2019-09-22 11:09] arkadiuszwojcik commented on #3273
My current solution:

[code]

Example usage:

[code]

and output:

`<img srcset="image-480.jpg 480w, image-800.jpg 800w, image-1024.jpg 1024w" src="image-1024.jpg" sizes="(max-width: 1024px) 100%, 1024px" class="some-css-class">`

[2019-09-22 13:02] hishamco commented on #3089
I will look to this after #1121 got fixed

[2019-09-22 15:39] arkadiuszwojcik commented on #4250
I investigated few forms modules from different CMS frameworks. One thing worth to note is that all modules I inspected never separate label from actual input field. So basically label is integral part of form element with option to render it or not and also placement option: before or after input field. In most cases it was also true for validation message field. I think such solution makes more

[2019-09-22 16:17] #4342 closed

[2019-09-22 16:23] sebastienros commented on #2970
Current status us that we don't require a base class anymore. It's all convention based like in aspnet.

[2019-09-22 16:28] #4354 closed

[2019-09-22 16:38] jptissot commented on #4250
Yes, This is eactly what I am doing with my custom widgets. I have a bunch of options and Label / Input are rendered within the same input. I also have support for HTML5 validation attributes.

[2019-09-22 17:01] #4349 closed

[2019-09-22 17:19] hishamco commented on #4340
Seb I suggest to close this while no action needed and add a little tip in Readme file for RC tooling

[2019-09-22 17:25] #2632 closed

[2019-09-22 17:27] sebastienros commented on #2632
As a matter of fact we can't remove the menu shape right now and replace it with a simple contentitem one, as the menu shape also adds useful alternates for menu and menu items to ease the theming. Not sure though if there is a guide to customize the theme for this specific one.

[2019-09-22 17:33] #1121 closed

[2019-09-22 17:37] #4340 closed

[2019-09-22 18:12] #4329 closed

[2019-09-22 18:14] #4261 closed

[2019-09-22 19:12] laguer71 opened #4364 "Invalid Operation Exception using Resources Tag Helper"
Hello...

I got an Invalid Operation Exception using the resources tag helper, following the documentation...

An unhandled exception has occurred while executing the request.
System.InvalidOperationException: Unable to resolve service for type 'OrchardCore.ResourceManagement.IResourceManager' while attempting to activate 'OrchardCore.ResourceManagement.TagHelpers.ResourcesTagHelper'.
   at Micros

[2019-09-22 19:23] jtkech commented on #4364
`ResourceManagement` services are registered through `AddOrchardCms` but not through `AddOrchardCore`. See in `OC.Application.Cms.Core.Targets.ServiceExtensions` where we do.

            builder.ConfigureServices(s =>
            {
                s.AddResourceManagement();

                s.AddTagHelpers<LinkTagHelper>();
                s.AddTagHelpers<MetaTagHelper>();
                s.AddTa

[2019-09-22 19:26] laguer71 commented on #4364
Thank you... its not clear from the docs.

[2019-09-22 19:33] jptissot opened #4365 "Editor / Display mode "Standard" option duplicated for ContentPickerField"
It seems the "Standard" option is duplicated for ContentPickerField in the Editor / Display mode dropdowns.

I found that [this line](https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.ContentTypes/Views/Admin/EditField.cshtml#L14) is the issue.

Because we have a field called LocalizationSetContentPickerField. The editorShapes variables looks for shapes that st

[2019-09-22 19:33] jtkech commented on #4364
I agree

Don't worries, no problem ;)

[2019-09-23 02:45] ns8482e opened #4367 "CSS classes conflict with each other when Bag and WidgetList used in one page"
While working on some of reusable widgets for Flow Page,  found that  css styles defined in widgetslist.edit.css and flows.edit.css conflict with each other.

Both CSS files defines exact same classes and behavior.

Why not reference CSS definition from widget module in flow module instead of redefining it in flow.edit.css?  As widgetslist.edit.css will always be available for Flow module as it ha

[2019-09-23 03:52] ns8482e opened #4368 "Liquid Template: Exception of type 'System.StackOverflowException' was thrown."
Liquid Templates  throws  'System.StackOverflowException' and application crashes.

`
{{ Model | shape_render }}
`
should not be allowed within liquid template and should not be saved.

As OC shape that defines above syntax tries to call itself.

[2019-09-23 05:51] nexawo opened #4369 "Embedding Orchard Module into custom project"
I want to add a module from OrchardCms and modify that module according to my scenario but the problem is when I give reference of Module into my project then some functionality of Nuget Package
stops working. Below I am adding the link of source of my project https://github.com/sudurrani/OrchardCoreWithModules

[2019-09-23 06:41] RockNHawk commented on #3615
Orchard Core's new designer is not user friendly for non-techinal user , Orchard 1.x is more user friendly for theme , and also many other CMS provied a 100% WYSIWYG page Editor.

[2019-09-23 06:45] RockNHawk commented on #922
@sebastienros @dataangel
Mongodb now supports transactions. Is it possible for Orchard to support mongodb now?

[2019-09-23 09:23] hishamco commented on #4369
What is the functionality that had been stopped?

[2019-09-23 09:25] hishamco commented on #3615
@RockNHawk could you please summarize all the UI issues that you're facing

[2019-09-23 09:27] hishamco commented on #922
You can post your question in [YesSql](https://github.com/sebastienros/yessql/) repo

[2019-09-23 09:36] hishamco commented on #4364
@agriffard could we clarify this in the docs?

[2019-09-23 09:38] hishamco commented on #4365
You could fix it if you have time

[2019-09-23 09:42] hishamco commented on #4345
@stantoxt is that mean you all the tenants data to be stored in one database?!! what if I want each tenant has it's own database, each one may has different database provider

[2019-09-23 09:46] hishamco commented on #4368
@jptissot I think we could eliminate this to avoid crash the app

[2019-09-23 11:17] RockNHawk commented on #3615
Thank you for your reply, it's not 100% WYSIWYG , but the old Orchard can , a WYSIWYG designer is more intuitive, such as this one https://elementor.com/

[2019-09-23 11:24] hishamco commented on #3615
I will to the link, but we need a screenshots to help us what could we improve at least

[2019-09-23 12:16] jptissot commented on #4365
I would but I don't want to break other stuff. Maybe some other code depends on
`|| x.EndsWith(Model.PartFieldDefinition.FieldDefinition.Name + "_Option", StringComparison.OrdinalIgnoreCase)` being present.

[2019-09-23 12:45] hishamco commented on #4365
We can do it after RC

[2019-09-23 12:49] sfmskywalker commented on #3615
@RockNHawk One flaw with a layout feature such as in O1 is that it's only really an approximation of what's to be presented on the front-end and mixes front-end with back-end concerns. Sites such as Elementor and Wix are different, because there you are working directly within the theme and the experience is actually one of designing a layout of some page.

[2019-09-23 14:05] ns8482e opened #4372 "Rendering of Widget ContentItem containing Bag throws exception"
Error while rendering "widget" content item containing Bag Part.
`
An unhandled exception occurred while processing the request.
Exception: Shape type 'Widget_Summary' not found
OrchardCore.DisplayManagement.Implementation.DefaultHtmlDisplay.ExecuteAsync(DisplayContext context) in DefaultHtmlDisplay.cs, line 125
`
To reproduce,

1. Create a widget content type "News"
2. Create a widget content typ

[2019-09-23 14:28] jptissot commented on #4372
I had the same bug, you can mitigate by implementing in your theme:

Shape name: `BagPart`

[code]

[2019-09-23 15:23] jptissot commented on #4368
Thing is, you might want to run `{{ Model | shape_render }}` after modifying the shape metadata (shape morphing)
Maybe we should have a MaxStackDepth setting somewhere that could detect this and at least not crash the application?

[2019-09-23 15:25] jptissot commented on #4368
Another option maybe would be to check the current shape and target shape in the shape_render filter and throw an error if the shapes are equivalent. However, I am not sure if we have access to the current shape in a filter (maybe via context ?)

[2019-09-23 15:57] hishamco commented on #4368
I like the second approach

[2019-09-23 16:06] sebastienros commented on #3615
Please take a look at this PR that will provide something similar to Layout https://github.com/OrchardCMS/OrchardCore/pull/4106

[2019-09-23 16:11] sebastienros commented on #4372
@jptissot can you provide a fix as a PR if you agree with the change? I would take it for rc, seems low risk and an easy bug to get into

[2019-09-23 16:12] hishamco commented on #3615
I forgot to mention that one

[2019-09-23 16:13] sebastienros commented on #4368
There is already a feature like this in Fluid. Maybe I missed this case.

[2019-09-23 17:56] deanmarcussen commented on #4372
The other fix for this is just the set the display type you want, i.e. `Detail` in the `BagPartSettings`.

Probably we could consider a WidgetSummary shape, otherwise changing the default might affect all the other BagPart default displays

[2019-09-23 18:44] sebastienros commented on #4372
We can adda Summray template that has the same content as the DEtails one. @deanmarcussen you want to do it?

[2019-09-23 19:00] ns8482e opened #4374 "WidgetList - Zone other than Content is not visible"
I am puzzled on how Zone defined on WidgetList are displayed

I created, Content and Aside zone, but only widgets added on Content zone are visible

 WidgetListDisplay driver only compare with Zones defined in LayoutShape i.e. Head, body, Tail and Content.

How do I add Aside zone? in the theme?

[2019-09-23 19:10] ns8482e commented on #4372
@deanmarcussen BagPart uses  BagPartSettings but it fallback to "Summary" only in event of null that resulted in this exception.

[2019-09-23 19:11] sebastienros commented on #4374
In the Layout file of your theme, you need to render a named zone, using `RenderSection`. You'll find examples in your existing layout.

[2019-09-23 19:13] deanmarcussen commented on #4372
I’m not near the computer tonight so if someone else can?

[2019-09-23 19:14] sebastienros commented on #4372
I will then.

[2019-09-23 19:30] ns8482e commented on #4374
So Zone in layout must match with Zones defined in Settings and Zones for widget list to be displayed?

[2019-09-23 19:37] sebastienros commented on #4374
Yes. The Layers puts widgets instances in "named" zones, and the Layout can render such named zones, where it needs to. Ideally the zones management should be available in the same widgets page. Or at least more easily accessible. And we could also point to some documentation. If you want to help with that we would appreciate a lot.

[2019-09-23 19:37] #4374 closed

[2019-09-23 19:37] ns8482e opened #4377 "Is it possible to define table schema per ContentType instead of using Document table?"
In SQL for certain sensitive content type, is it possible to define separate table? so that MS SQL user/permission can be assigned to certain group to have access to such table instead of giving full Document table access?

[2019-09-23 19:40] #4372 closed

[2019-09-23 20:19] ns8482e opened #4380 "Widget ContentType containing WidgetList displays unexpected"
Unintentionally I used WidgetList incorrectly ( assumed like a Bag collection with Zone). However as it's display behavior is different than collection, it display opposite of expectation.

1. Created Content Type "NewsBoard" with widget stereo type having WidgetList. with Content Zone and Aside Zone
2. Added Paragraph in Content Zone.
3. Added "NewsBoard" in Aside Zone and added "Paragraph" in it

[2019-09-23 20:27] ns8482e commented on #4345
Even in case of using same database for multiple tenant - at some point you may need  to have separate database - like first 50 tenants are in Database A and 50 to 100 are in database B.

[2019-09-23 21:35] carlwoodhouse opened #4381 "[GraphQL] Allow expansion of orderby on contentitemsfieldtype"
Currently we can only order on stuff in the contentitemindex, we should allow ordering by custom indexes like we do in where statements

[2019-09-23 21:42] #4367 closed

[2019-09-23 21:48] jtkech commented on #4368
Hmm, most of the time the current model in registered in the ambient values, so if it is a shape we could check its alternates / bindings, maybe there is a way to avoid it to render itself, i'm finishing something then i will take a look.

[2019-09-23 21:50] sebastienros commented on #4368
As @jptissot mentioned sometimes we really want to call render on the current shape, again. Which is why I think this is an issue in Fluid instead.

[2019-09-23 22:09] jtkech commented on #4368
Yes, when we do morphing, oh yes and then it will also change the registered model (same reference), so we would need a flag saying that it has been morphed allowing to be rendered again.

Just an idea, but okay right now i let it here as it is.

[2019-09-24 01:51] stantoxt commented on #4345
The default tenant has ability to create database,or enable a database-creation module to let the default tenant do this either in one database or separate database. A real tenant can setup its own web without database configuration (like for sqlite) from client-end (not-admin-end) .

[2019-09-24 02:05] hishamco commented on #4345
Could you please elaborate

[2019-09-24 04:14] jtkech commented on #4368
I tried different workarounds but more or less hacky ;)

One solution that works is to add a `Recursion` integer to the `ShapeMetadata` and to do the following in the liquid `ShapeRender` (maybe also in `ShapeStringify`).

Note: In the blog theme, it works with `maxRecursion = 2` without breaking the menu because each menu item morphs itself once. So, maybe a quite low value without having to make

[2019-09-24 04:19] nexawo commented on #4369
OrchardCore.Application.Targets functionality get removes when I add references for OrchardCore.Setup

[2019-09-24 04:21] nexawo commented on #4369
You can download the project from the given link and see it by yourself add the reference of OrchardCore.Setup and you will see the above mention issue

[2019-09-24 05:30] pgodwin opened #4384 "Custom Liquid Tag"
I'm attempting to write a module so that user's can "star" content items.

I've built a `TagHelper` for this
[code]
And registered it in startup.cs via `services.AddTagHelpers<StarredItemTagHelper>();`

but I can't seem to work out how to call it from a Liquid template.

I get the following error:
[code]

How do I register a custom tag with the Liquid engine?

[2019-09-24 06:31] jtkech commented on #4384
For liquid you could create a filter, we have many examples in the source code.

We also have a bridge between razor and liquid.

As i remember, if it's a self closed tag

    {% helper "tagname", attr1:"...", attr2:"..." ...  %}

For attributes use camel case and replace all `-` with `_`.

If the tag has content, use `block` in place of `helper`.

[2019-09-24 06:33] jtkech commented on #4369
i'll try to take a look tomorrow

[2019-09-24 06:55] pgodwin commented on #4384
Thanks @jtkech it worked!
`{% helper "star" %}` failed, but ` {% helper "star", class: "foo", contentItemId: "blah" %}` worked, so clearly my attributes need some work on the helper.

I think some wording for this in the documentation might be useful. I'll add a couple of lines and submit a pull request.

[2019-09-24 07:09] jtkech commented on #4369
Okay i found the issue

- First reference `OC.Module.Targets` directly and only from your setup module.

- When referencing `OC.Application.Mvc.Targets`, you don't need to reference `OC.Application.Targets`.

- In your setup module project file specify a version for the additional aspnetcore packages, i used `2.2.0` because, as you can see in the dependencies of the projects, e.g `OC.Module.Target