[2019-11-20 01:19] nazneennahar commented on #4429
hey i would like to work on this please

[2019-11-20 01:39] jtkech commented on #4838
The content items List page uses by default for each item the `Content_SummaryAdmin` template if the related content type has no stereotype (and if no more specialized alternate exists), otherwise it uses by default `Stereotype_SummaryAdmin`.

So the only way i found to repro the exact same issue was to update one of my content types by setting the `Stereotype` to `Taxonomy`. So, check if one of y

[2019-11-20 01:53] jtkech commented on #4429
Feel free to open a PR and start working on it

[2019-11-20 02:40] ryacarini commented on #4829
Hello.

I found the problem. I forgot the word "parameters". For example, in my case i have to use:

https://localhost:44300/api/queries/Articles?**parameters=**{"tipo":"Casos","limit":1}

Thanks anyway!

[2019-11-20 02:51] #4829 closed

[2019-11-20 04:52] randaratceridian commented on #4833
Unfortunately, I am no closer to figuring this out. I followed the same steps on a different computer and it installed with no issue. The difference I can find are:

- The failing one is my work computer, so is generally more locked down. But I am a local admin and this is .Net core, so I'm not clear how any policies could affect this.
- The working computer is using SQL 15 while the failing one i

[2019-11-20 06:48] hishamco commented on #4429
I already tried on this before, but during the limitation of the browsers we moved to backlog, but you are free to open a PR

[2019-11-20 07:17] Norbus commented on #4839
Sure:

@inject OrchardCore.IOrchardHelper Orchard
@addTagHelper *, OrchardCore.Media

<section class="home">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="owl-carousel owl-theme slide" id="featured">

                    @{
                        var ogloszenia = await Orchard.GetRecentContentItemsByConten

[2019-11-20 08:26] justlucky opened #4846 "DynamicCacheTagHelper Code in scope executes every time"
![abc](https://user-images.githubusercontent.com/247791/69221482-59fc1b80-0bb2-11ea-9f91-7b9db2d870e5.jpg)

[2019-11-20 08:33] #3129 closed

[2019-11-20 08:33] #3100 closed

[2019-11-20 08:43] deanmarcussen commented on #4836
yes please, I am using it for sitemaps, and it would be much better if it had
- validation
- had an example of what a fully qualifed url looked like (for anyone unsure)

[2019-11-20 08:48] barthamark commented on #2966
@sebastienros any of them, I don't have an exact goal yet, I'm just exploring the possibilities. Basically, I want to know how deep I can go using Blazor components in Orchard Core. Even if it's a SPA using webassembly or it's a ContentPart editor shape using Blazor components on Admin. For now, I didn't try using Webassembly because it's not released yet but server-side Blazor would make sense.

[2019-11-20 08:57] deanmarcussen commented on #4833
This is confusing.

SQL Server 13 is sql server 2016 , which is one of the versions I have run fine with Orchard Core.

But your failed version table listing looks very different to your working version listing.
Are you sure you ran the same recipe on both? The working version looks much more like the saas recipe (but not quite, which is strange) than the agency recipe.

However I would recommend

[2019-11-20 09:57] neman opened #4847 "You should create correct culture for Serbia on **Crowdin**"
You should create correct culture for Serbia on **Crowdin**

The correct ones are

- Serbian Latin sr-Latn-RS

- Serbian Cyrillic sr-Cyrl-RS

CS is for former state Serbia and Montenegro, legacy Culture

https://www.iso.org/obp/ui/#search/code/

_Originally posted by @neman in https://github.com/OrchardCMS/OrchardCore/issues/4475#issuecomment-538435145_

[2019-11-20 12:41] #4838 closed

[2019-11-20 14:48] hishamco commented on #4847
@neman could you move this to `OrchardCore.Translations` repo

/cc @agriffard

[2019-11-20 15:45] sallenkov opened #4848 "Create helper to load ListPart items"
Hello,
I am trying to get the list of questions based on the culture in a decoupled way.I used same approach as the Blog theme:
![image](https://user-images.githubusercontent.com/17978153/69253167-7c8f3400-0bb4-11ea-9f03-8d44273c3fdd.png)
here you can see that i have both languages
![image](https://user-images.githubusercontent.com/17978153/69253538-17880e00-0bb5-11ea-8807-a6a35c1a7980.png)
and fo

[2019-11-20 17:18] hishamco commented on #4848
Shoot it to you @jptissot :)

[2019-11-20 20:40] randaratceridian commented on #4833
Thank you Dean for your response. Unfortunately, I'm still banging my head against this issue but have more information

I tried following the same steps on a co-workers desktop and it worked with no issue, the first time. In theory, his machine should be as locked down as mine. So that eliminates some weird security configuration.

I also did a full purge of everything Orchard in the hopes it wou

[2019-11-20 21:07] LMSSonos commented on #4075
@hishamco because I had another exception related to import/export taxonomies (still debugging) I found the following steps / behavior related to this issue

 think taxonomies are exported as soon you have other content referencing it.

Try these steps
1. Start new orchard, blank site
2. Configuration > Features > Enable taxonomies
3. Content definition > Content Type > Create new type , Name: "Gr

[2019-11-20 22:56] hishamco commented on #4075
Thanks to know that, @jtkech is this a normal behavior?!!

[2019-11-21 00:17] jtkech commented on #4075
Just did a quick test, seems to work on my side.

That said in the step 4. i didn't do `Content definition > Content Type > Create new Taxonomy`.

Through the admin menu i just used `New > Taxonomy`.

[2019-11-21 01:09] #4041 closed

[2019-11-21 01:58] #4763 closed

[2019-11-21 03:08] randaratceridian commented on #4833
The good news is I’ve made some more progress, but not at the point that I want to be.
I pulled down the dev branch, built it and ran the OrchardCore.Cms.Web project the same way I have the sites created from the templates. i.e. `dotnet run --project OrchardCore.Cms.Web.csproj`. The site ran just fine, even with SQL server! So, on a positive note:

- The theory is that once OrchardCore is out of R

[2019-11-21 09:53] #4749 closed

[2019-11-21 13:13] JoshTango opened #4849 "BUG: documentation link broken"
Near the mdidle of the page there is a link to code generation templates.
The link is BROKEN.

https://orchardcore.readthedocs.io/en/dev/

[2019-11-21 13:20] hishamco commented on #4849
Could you please send a PR for this one?

[2019-11-21 13:40] neolution-ch opened #4850 "Question: How can a User confirm his email address?"
When we create a new user the email address is initially not confirmed ("EmailConfirmed" flag in documents that represent users).

How can this be changed, how can a user confirm his email address?
- The user does not get an Email (SMTP is enabled and properly configured)
- We can't find an option in the Admin to see the confirmation status (Can only be found out by browsing the tables in the data

[2019-11-21 14:32] deanmarcussen commented on #4833
That's great you've made some progress.

Somehow I think you've ended up with a copy of the myget feed in your nuget cache.

Nuget cache is located in `C:\Users\dean\.nuget\packages` or similar.

The reason i say this is because the feature for registered scripts in the agency theme was not in RC1, but is available on the dev myget feed.

Here's a link to the codegen docs
https://orchardcore.readt

[2019-11-21 14:35] hishamco commented on #4850
@jtkech did we miss this intentionally or is there something I don't know about it?

[2019-11-21 15:12] LMSSonos opened #4851 "Question: Filter return own view model"
I've created a an own Liquid filter which returns a own made view model like following:

[code]
In the filter i return something like this.

`return FluidValue.Create(new List<MyModel>{new MyModel{ TestText="asdf"}}).ToList());`

In the template I can access the result of it, but if I try to access `{{ item.TestText.Text }}` it always returns a blank string. If i output `{{ item }}` it will return

[2019-11-21 15:48] #4849 closed

[2019-11-21 15:50] deanmarcussen commented on #4851
You need to register the model for access

`TemplateContext.GlobalMemberAccessStrategy.Register<MyModel>();`

See fluid for options https://github.com/sebastienros/fluid

[2019-11-21 15:51] Skrypt commented on #4850
There's an option in security / registration to allow email confirmation on user account creation. Though the feature User registration needs to be enabled first.

[2019-11-21 15:55] deanmarcussen opened #4852 "Register ContentPartFieldDefinition for Liquid"
Can we register `ContentPartFieldDefinition` and other associated models for use with Liquid?

Was trying to add this to a taxonomy template for the blog / tags feature
`class="tags {{ Model.PartFieldDefinition.Name | html_class }}"`

but because the models aren't registered, they have no access.

Just checking if there's a reason not to?

[2019-11-21 16:29] hishamco commented on #4850
Thanks @Skrypt, I really forgot that there's a settings will be added after enabling User module

[2019-11-21 16:29] #4850 closed

[2019-11-21 16:44] agriffard commented on #4747
@hishamco Will you work on Users UI?

[2019-11-21 17:29] ns8482e commented on #4706
It seems the its growing because of `display:table-cell` in contents.css, Nice switch to flex.

Related issues #1907 #2255

Also I feel
1. Sidebar and Actions zones  should be moved to [Edit.cshtml](https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Contents/Views/Admin/Edit.cshtml)
from Contents.Edit.chstml
2. ContentsDriver should only emit Button Shapes only

[2019-11-21 17:40] Skrypt commented on #4747
Hey @agriffard I found one small issue with the "New" button in the content list where if your list of content types is quite long the pop-up menu will be quite strange. I suggest we use the same kind of pop-up menu that allows to search for an option. That way, we can display only 10 first items. Other suggestion is to use a fixed height on that pop-up menu and use a vertical slider but not sure

[2019-11-21 17:43] Skrypt commented on #4852
I'm surprised it's not there on the Model.Content.SomePart

[2019-11-21 18:43] deanmarcussen commented on #4852
Maybe I'm doing something wrong.

But I'm using the `DisplayTaxonomyFieldViewModel` and this `{{Model.PartFieldDefinition.Name}}` returns nothing.

If I register `TemplateContext.GlobalMemberAccessStrategy.Register<ContentPartFieldDefinition>();` then I can access the `Model.PartFieldDefinition`.

[2019-11-21 19:21] neman commented on #4847
I don’t have permission to do that.

[2019-11-21 20:31] sebastienros commented on #4847
Talked with @agriffard and we are ok with doing this change.

[2019-11-21 20:32] sebastienros commented on #4852
Sure

[2019-11-21 20:33] #4851 closed

[2019-11-21 20:35] #4833 closed

[2019-11-21 20:39] sebastienros commented on #4848
Your query only returned the list content item. To load its items you will need another query, that will filter content item with the `ListContentItemId` in the `ContainedPart`. There should be an index for it.

We might want to create a helper though to make it easier.
Changing the title and keeping it open.

[2019-11-21 20:43] sebastienros commented on #4839
These are due to network issues between your server and the database instance.
Are you using a proxy like istio ?

`System.IO.EndOfStreamException: Attempted to read past the end of the stream.`

[2019-11-21 20:44] sebastienros commented on #4842
Weird as it should have been done automatically, @deanmarcussen wrote some code for that.

[2019-11-21 20:46] sebastienros commented on #4795
Asking @MichaelPetrinolis if he would know how to solve this

[2019-11-21 20:47] sebastienros commented on #1184
Simple answer: It's a view model ... to be continued

[2019-11-21 20:48] sebastienros commented on #2688
For taxonomies, a generic solution would be to create an action that takes a taxonomy id in one of the url segments, like /taxonomies/4abcdefgh123/colors/blue

[2019-11-21 20:50] sebastienros commented on #4825
We need a guide for that

[2019-11-21 20:51] Skrypt commented on #4825
I am the guide 😝

[2019-11-21 20:52] sebastienros commented on #4826
I don't understand this one, can you share some details?

[2019-11-21 20:54] sebastienros commented on #4770
You could try to debug this controller: https://github.com/OrchardCMS/OrchardCore/blob/d729a2048a4390380d99e7be9f7968ff8f8e9271/src/OrchardCore.Modules/OrchardCore.XmlRpc/Controllers/HomeController.cs

And any XmlRpc handler class.

[2019-11-21 20:55] sebastienros commented on #4818
You will need to create a custom controller in your project/module. You can reuse some code form the current Media module.

[2019-11-21 20:55] #4818 closed

[2019-11-21 20:55] sebastienros commented on #4819
Also for accessibility

[2019-11-21 20:56] sebastienros commented on #4816
Duplicate of https://github.com/OrchardCMS/OrchardCore/issues/2246

[2019-11-21 20:56] #4816 closed

[2019-11-21 20:58] sebastienros commented on #4809
You can have different technical names, and still use the same display name. Then with categories they will be displayed differently. Or use the first part of the content type as a "package".

[2019-11-21 20:58] #1746 closed

[2019-11-21 21:02] randaratceridian commented on #4833
Hello @sebastienros. I am not sure why this was closed. The issue is not resolved. Please re-open it.

@deanmarcussen. You said that `dotnet new -i OrchardCore.ProjectTemplates::1.0.0-*` does not make sense. This is directly from the documentation here https://orchardcore.readthedocs.io/en/dev/docs/guides/create-cms-application/. If that is incorrect, I would suggest it get updated.

Now the worst

[2019-11-21 21:05] JoshTango commented on #4809
in other words use the old prefix strategy

[2019-11-21 21:23] artemsv opened #4853 "PublishingContext.PreviousItem is null when existing Context Item is updated"
Steps to reproduce:

1) Create simple Content Handler in the root of OrchardCore.Cms.Web project

[code]
    services.AddScoped<IContentHandler, MyContentHandler>();
[code]

[2019-11-21 21:23] sfmskywalker commented on #1184
The way I understand a shape is that it's a view model with metadata (a property that all shapes have). This metadata contains information the view engine uses to know which template to use to render the shape. When executing the selected template, the view engine passes in the shape as the model for said template.

In addition, shapes can have child shapes, allowing the system to compose an entir

[2019-11-21 21:24] LMSSonos commented on #4851
Thank you, that was it!

[2019-11-21 21:36] LMSSonos commented on #4826
Sorry for not beeing clear. Let's assume I have the following Taxonomy for the Offers
- Main
   - Sub

Now, if I run for the Offer with the Taxonomy Sub the following code

`{{ ContentItem.Content.Offer.OfferType.TermContentItemIds[0] | inherited_terms: ContentItem.Content.Offer.OfferType.TaxonomyContentItemId | reverse | join: "/" }}
`
I get the result  "**Main/Sub**"

If I want to slugify the na

[2019-11-21 21:52] arkadiuszwojcik commented on #4848
@sebastienros please add also Count helper - just count list items without loading them.

[2019-11-21 22:21] jtkech commented on #4853
When publishing an already published item the following happens.

1. We make a new draft version with Latest = true and Published = false. And we set Latest = false for the currently published item.

2. We retrieve the current published version (that will be the previous one) and set its Published to false. Then we publish the new draft version by setting its Published to true.

But, as in your ca

[2019-11-21 22:22] weedkiller commented on #2246
Since it was merged here, I am adding what I listed before for reference, I strongly recommend clicking on the link to get a sample view.. [this dynamic dashboard in ASP ](http://bit.ly/2G4hAkM)
______
Hello, I would like to request a much needed feature to allow developers to build widgets and have a drag drop widget based dashboard. Something like or similar to [this dynamic dashboard in ASP ](h

[2019-11-21 22:28] sallenkov commented on #4848
**GetRecentContentItemsByContentTypeAsync** with pagination can be a better approach for getting the ListPart

[2019-11-21 22:31] jtkech commented on #4826
Maybe `{{ ... | reverse | join: "/" | downcase }}`

[2019-11-22 03:09] huanggenwei opened #4854 "How to setting layout does not take effect on login page"

[2019-11-22 06:01] huanggenwei commented on #4854
I want to delete  {% render_section "Footer", required: false %}

[2019-11-22 06:54] Norbus commented on #4839
The PostgreSQL database is behind Keepalived and HAProxy (for HA purposes). Java-based projects in our company seem to run fine with this configuration and have no such errors.

[2019-11-22 06:55] MichaelPetrinolis commented on #4795
Does using OC Users with Microsoft Azure Authentication Provider and having a mechanism to map the AD Groups the user belongs to Local OC roles with the appropriate permissions solves your problem? If so, I am working on a PR and if I find some time I will complete it in the weekend.

[2019-11-22 07:23] LMSSonos commented on #4826
@jtkech thanks, your case works for my example, but if you have special characters you need slugify which does more than downcase

as example

- Main/a
  - sub-a
- Main/b
  - sub-b

then you want to generated **main-a/sub-a**

[2019-11-22 08:21] waelGolli opened #4855 "Forms ,Decoupled CMS"
Is there a way to use Forms in a decoupled way and how to add meta data to User model.

[2019-11-22 08:34] neolution-ch commented on #4850
Perfect, thanks! That was not clear to me.

So, if I (as an admin) create a new user, the user will never receive an email? And also has therefore no option to confirm his email address?

[2019-11-22 10:17] LMSSonos opened #4856 "Question"
To show the real example, I have following menu structure
![Unbenannt](https://user-images.githubusercontent.com/19758451/69416953-0f94af00-0d18-11ea-9fa8-4a28ae14fda9.png)

For this I created a taxonomy as follows:
- Winter (url: /winter)
  - Freeride (url: /winter/freeride)
  - Avalanche Training
  - Snowshoing
- Summer
- Outdoor

Then I create ContentItems (Type: ActivityPage) for Freeride Tour

[2019-11-22 10:36] artemsv commented on #4853
Thank you, will check. If the scenario I would like to implement works well when ContentType is Versionable checking this flag may be the best solution. Will close the issue after checking...

[2019-11-22 11:29] DariuS231 opened #4857 "Add a recipe step for Azure AD"
It would be great to be able to configure the Azure AD Authentication module via recipe step.

Something like:
[code]

[2019-11-22 12:32] dodyg commented on #4856
You can query from TaxonomyIndex

https://github.com/OrchardCMS/OrchardCore/issues/4494#issuecomment-553877942

[2019-11-22 12:40] LMSSonos commented on #4856
@dodyg thanks for your hint. But how can I have like a dynamic content item (page) which will be called if you call /winter o /winter/freeride. I'm looking for a way not having to create all these MainOverview and SubOverview pages.

ps: do you think taxonomy is the right thing here or should I go for lists (like blog template)

[2019-11-22 12:46] deanmarcussen commented on #4856
Something you are probably looking for is this https://github.com/OrchardCMS/OrchardCore/issues/2688

[2019-11-22 13:04] LMSSonos commented on #4856
@deanmarcussen thanks! that's exact what I was looking for. As it sounds, it will take still longer until this is released, so for the moment I will probably go the way to build all the pages.

[2019-11-22 13:39] DariuS231 commented on #4857
I realized the functionality was already there and only needed to be implemented.

See the PR for more details.

[2019-11-22 14:02] deanmarcussen commented on #2688
I quite liked the concept in sebros/routable

but I think it could integrate it with autoroute (without breaking)
if autoroute always took a jsonPath, then if it was at the root great, if if was at a contained item, also great. (and if the jsonPath null, assume it was at the root - non breaking)

The challenge would be to call the autoroute handler when adding / creating bag items and taxonomy ter

[2019-11-22 14:49] dodyg commented on #4856
Ah I got it - the problem you were trying to solve is preserve the nice url structure (/winter/free-ride).

If you don't care about this, then you can create a Liquid page that handles these structures via query string e.g. `trip?q=/winter/freeride`.

I would choose Taxonomy if I had your scenario.

If you are going to create these pages manually for the routing purposes, I hope you are creating a

[2019-11-22 15:04] LMSSonos commented on #4856
@dodyg the liquid page is not an option, as I want to have the nice url ;-)

I will create a ContentType `SubOverview` and this one will have the current taxonomy. Then I create a entry with route `winter/freeride` , another with route `winter/avalanche-training` etc. Then I also planned to add a templated `Content__Suboverview` where I probably use a query to get all the entries from the database

[2019-11-22 15:17] dodyg commented on #4856
Yeah that should work.

The other approach is to create a custom module to render taxonomy pages in case they grow too large.

[2019-11-22 15:58] LMSSonos commented on #4856
I tried to use modules (https://orchardcore.readthedocs.io/en/dev/docs/reference/core/Modules/) but the issue I had was that the return then renders the whole page (html), but I to write from the module only to the `{% render_body %}` of part within template. Then this would be the best way

[2019-11-22 17:29] JoshTango opened #4859 "Question on themes"
Is themes done?  If I start making my own custom theme now will it be stable for first release?
Do you have any changes planned for themes between now and first release of Orchard Core?

[2019-11-22 18:23] hishamco commented on #4859
They 're almost ready

I don't think so

/cc @sebastienros

[2019-11-22 18:27] #4852 closed

[2019-11-22 19:41] artemsv commented on #4853
Checked. Have set ```Versionable ``` flag and everything works as expected. Merci beaucoup!

[2019-11-22 19:41] #4853 closed

[2019-11-23 00:23] sebastienros commented on #1970
We should have different verbs on content item manipulation:
- Create (like POST)
  - not idempotent, always creates a new content item version
- Update (like PUT)
  - idempotent, replaces or updates a content item based on a mandatory content item version id
- Patch (like PATCH)
  - not idempotent, either creates or updates a property of the document

[2019-11-23 14:06] agriffard commented on #4747
@hishamco I will start working on Users UI.

[2019-11-23 22:32] hishamco commented on #4747
Ok this is the remaining thing I'd like to start on :), but I'm busy these days, thanks a lot @agriffard

[2019-11-24 08:45] dodyg commented on #1184
I think what makes it unclear is the role of zone in the shape (https://github.com/OrchardCMS/OrchardCore/issues/4121#issuecomment-541442390)

It's not obvious when you can use `Model.Content` or use `Model.ContentItem.Content` to access your Parts.

[2019-11-24 14:41] dodyg commented on #4121
If you are using Trumbowyg for your editor, add this option `tabToIndent : true` so you can have nested list using shift/tab-shift.

https://github.com/Alex-D/Trumbowyg/pull/923/commits/f09fe82428e3871bff8ff0cda686e0f688ecde91

[2019-11-24 14:51] paule96 commented on #4770
okay thanks. will start this evening. maybe I see something 🤷‍♀️

[2019-11-24 15:02] dodyg commented on #4121
A taxonomy discussion (https://github.com/OrchardCMS/OrchardCore/issues/4856)

[2019-11-24 19:50] paule96 commented on #4770
Okay it was broke but the work for the fix was some kind of simple 👌 so I think it is fast reviewed and merged :)

[2019-11-24 21:46] kyahyan opened #4868 "Orchard CMS - Publish to Azure"
Why this happen?
in my localhost the default is localhost:5001
it run well

Im coding here in Template.
![Screen Shot 2019-11-25 at 5 41 48 AM](https://user-images.githubusercontent.com/23460968/69502091-549e2880-0f46-11ea-938b-feb3bda93dc7.png)

and i just set it homepage

![Screen Shot 2019-11-25 at 5 40 01 AM](https://user-images.githubusercontent.com/23460968/69502129-aa72d080-0f46-11ea-9128-c

[2019-11-24 22:04] #4770 closed

[2019-11-25 06:44] dodyg opened #4871 "Accessing localized strings in a template"
Is there anyway to access localized strings from the template? e.g.

[code]

[2019-11-25 06:55] jtkech commented on #4871
There is a `t` filter => `{ Model.ContentItem.Content.Person.Name | t }`

[2019-11-25 07:25] dodyg commented on #4871
Oh great. I missed it in the doc (https://orchardcore.readthedocs.io/en/dev/docs/reference/modules/Liquid/#t)

[2019-11-25 07:25] #4871 closed

[2019-11-25 09:44] stantoxt opened #4872 "How to add quartz.net in OrchardCore"
I want to add quartz.net in OrchardCore Module,but I can not fire the job.
MyModule startup code
[code]

[2019-11-25 09:54] #4872 closed

[2019-11-25 10:23] LMSSonos opened #4873 "Question: Group content items in Admin"
I have like many pages (content items) in my project. Let's assume the structure is more or less like this

- About
  - About sub1
  - About sub2
...
  - About sub40
- Product
  - Product 1
  - Product 2
  ...
  - Product 100

I was thinking to create a new content type for the grouping with the content item AboutItems, ProductItems. These are lists containing the pages. Is that a way to go to gro

[2019-11-25 10:54] dodyg commented on #4873
Enable "Admin Menu" feature

[2019-11-25 11:00] dodyg commented on #4873
![admin-node](https://user-images.githubusercontent.com/1761249/69534941-77026700-0f83-11ea-9733-898f5d5be6d2.png)

[2019-11-25 11:02] #1715 closed

[2019-11-25 11:10] #4288 closed

[2019-11-25 11:11] agriffard commented on #1252
/cc @Skrypt

[2019-11-25 11:17] arkadiuszwojcik opened #4874 "Slugify and diacritics"
As I noticed, using slugify in recipes is quite often but there is one problem with it. Current implementation for sake of simplicity removes all diacritics from given string, but In many languages we whould like to transform them to other characters.  For example in Polish: 'ę' -> 'e', 'ś' -> 's' etc. In CMS's often articles titles are slugify to form url but without proper mapped diacritics thos

[2019-11-25 12:14] LMSSonos commented on #4873
@dodyg thanks, this helps

[2019-11-25 12:14] #4873 closed

[2019-11-25 12:14] #2809 closed

[2019-11-25 12:37] #4162 closed

[2019-11-25 12:43] #4461 closed

[2019-11-25 15:25] Skrypt opened #4875 "Alloe to disable a user account"
Basically by adding a IsDisabled param on the User class and making changes where needed.

[2019-11-25 15:30] hishamco commented on #4874
I think @neman mentioned something similar before. Am I right?

/cc @sebastienros

[2019-11-25 15:33] Skrypt commented on #4875
Duplicate of https://github.com/OrchardCMS/OrchardCore/issues/1252

[2019-11-25 15:33] #4875 closed

[2019-11-25 15:34] hishamco commented on #4874
This will be a nice feature - that can set on top of content localization module - for future releases if the team agrees

/cc @jptissot

[2019-11-25 15:35] Skrypt commented on #1252
Allow to disable a user account by adding IsDisabled param on User class and make changes where it's needed like on the Login controller to prevent login when a user is disabled.

[2019-11-25 15:52] neman commented on #4874
Yes, i mentioned #4475 where each Cyrillic char corresponds to Latin char, and it's called transliteration.
It's similar but not the same, what @arkadiuszwojcik mention here.
For example
**Ч** transliterates to **Č**
But Č can be reprezented as C without diacritic.
But also Ћ ransliterates to **Ć** which might be presented as C without diacritic
So this what @arkadiuszwojcik wrote is this second l

[2019-11-25 16:38] deanmarcussen opened #4877 "Icon picker editor is too big"
The textfield icon picker editor option looks a bit silly being full width

![icon-picker](https://user-images.githubusercontent.com/13782679/69559506-fc950f80-0fa1-11ea-80da-aad019700a4d.PNG)

[2019-11-25 19:15] Freakazoid182 opened #4880 "UseAuthorization() needs to be between UseRouting() and UseEndpoints()"
Since updating to aspnetcore 3.0.101 this error occurs when trying to perform authorization on orchard controllers.

Error message:

The 3.0.101 update now requires the UseAuthorization() middleware to be placed between UseRouting() and UseEndPoints().

This is introduced in this PR:
https://github.com/aspnet/AspNetCore/pull/14893

And fixes issue:
https://github.com/aspnet/AspNetCore/issues/14049

[2019-11-25 19:28] Skrypt commented on #4874
I think the idea is to make the url's compatible with older browsers. The idea is to avoid having HTML encoded chars like Space as '%20' or '&' as '%26'. So avoiding using diacritics in url's has always been made that way so far for that main reason ; it is easier for search engines to index with slugified url's.

[2019-11-25 19:39] a11smiles opened #4881 "@Orchard.ConsoleLog(blogPost) generates console errors"
Adding the above line generates errors in the console with the browser (Chrome) not liking the HTML encoding with the ampersands.

[2019-11-25 19:41] a11smiles opened #4882 "MarkdownToHtmlAsync creates "text" paragraph tags"
Using the code `<p>@await Orchard.MarkdownToHtmlAsync((string) blogPost.Content.MarkdownBodyPart.Markdown)</p>` takes the markdown and adds paragraph tags as _text_.  It's generating the less/greater than signs as HTML-escaped text instead of adding them as HTML.

[2019-11-25 19:49] aghili371 opened #4883 "razor layout error"
i got Errors in razor layout after update to the new version.

my dependencies:
[code]

![1](https://user-images.githubusercontent.com/24512878/69572658-ea789880-0fc4-11ea-9c96-1999310d9921.JPG)

[2019-11-25 20:23] #4881 closed

[2019-11-25 20:23] #4882 closed

[2019-11-25 21:04] aghili371 opened #4884 "wrong direction for New button in content management"
the menu of the new button should open in the right direction but it open in left direction.
![Capture](https://user-images.githubusercontent.com/24512878/69577818-81e2e900-0fcf-11ea-8146-9b90d008f28e.JPG)

[2019-11-25 21:06] sebastienros commented on #4874
I think it's fine to replace diacritics "by default" instead of removing them like in the current implementation. See `SlugService.cs`.

And maybe we should also have another service/filter like `slugify` that does transliteration.

[2019-11-25 21:17] jtkech commented on #4880
I will follow this one

Are you using the cms, because we call them, e.g `UseAuthorization` through the `OC.Users` module startup. Otherwise did you try the following?

            ...
            .AddOrchardCore()
            .Configure(app =>
            {
                app.UseAuthentication();
                app.UseAuthorization();
            });

The above helper has an optional order para

[2019-11-25 21:35] a11smiles opened #4885 "Save Draft not functioning properly"
Steps to reproduce:

1. Created a custom type definition: `blog post`
2. Added an alias part with the following pattern: `{{ ContentItem.CreatedUtc | date: "%Y/%m/%d"}}/{{ContentItem.DisplayText | slugify }}`
3. Added a preview part with the following pattern: `/blog/{{ ContentItem.Content.AliasPart.Alias }}` (NOTE: my .cshtml matches the pattern `/blog/{year:int}/{month:int}/{day:int}/{alias}`)

[2019-11-25 21:35] jtkech commented on #4880
Yes because we use the `configure` lambda of `UseEndpoints` in which we call all modules `startup.Configure()`, and `UseEndpoints` call this lambda only after having checked some services, and in `startup.Configure()` we pass an appBuilder to let modules configure the pipeline.

Note: The `OrchardCoreBuilder.Configure()` helper mentioned in my previous comment allows to define from the application

[2019-11-25 22:07] sebastienros commented on #4885
When I tried the pattern it was not working for me and I thought I have done a type. Now it makes sense why.

So CreatedUtc is set when the page is first published. But it should also have a value if there is only a draft.

[2019-11-25 22:08] a11smiles commented on #4885
But, the "Preview" part doesn't use the custom URL either.  That's the second bug to this.

[2019-11-25 23:09] hishamco commented on #4874
Seb I will close this one, coz you already created this one https://github.com/OrchardCMS/OrchardCore/issues/4151

[2019-11-25 23:10] hishamco commented on #4884
Yep, it's a UI bug

[2019-11-25 23:54] Skrypt opened #4886 "Creating content item(s) from Workflow issue"
When we draft or publish a content item from the admin UI we index(map) in database the AutoroutePart with the AutoroutePartIndexProvider. It gets saved in the AutoroutePartIndex table.
This works fine.

Though if we try to create a content item from a Workflow the AutoroutePartIndexProvider will fail to retrieve the proper value of the AutoroutePart.Path.

[code]

This line takes the contentItem.

[2019-11-26 00:08] Skrypt commented on #4886
Here some temp fix :

[code]

[2019-11-26 06:13] kiventwang opened #4888 "How can i create a customize content part"
Is there any sample about create a content part? I write a "dropdownlist" part refer to the source core “orchardcore.title”.but when I run the website found a error.
![企业微信截图_15747488473731](https://user-images.githubusercontent.com/10259697/69603895-db422b00-1056-11ea-81a2-1d65ee610386.png)

[2019-11-26 10:05] arkadiuszwojcik commented on #4874
@hishamco is it actually the same? Looks like @sebastienros meant here 2 things. One is to include Cropped Latin as part of SlugService (this is what this issue is about) and another is to have sepparate filter for transliteration.

[2019-11-26 11:34] DariuS231 opened #4889 "Feature Request: Custom Recipe Parameters support"
Would it be possible to have somehow support for Custom parameter values in the recipe?
Something like:

in the appsettings.json

[code]
in the recipe

[code]
That way we can have features fully configured after tenant setup.

[2019-11-26 11:34] stantoxt opened #4890 "Request 404 When Oc is published to iis 7.5 in virtual folder"
When I published oc to iis 7.5 in virtual folder, many requst return 404,like publish post,content preview.But everything is ok in iis 8.5

[2019-11-26 12:06] LMSSonos opened #4891 "Question: Global autoroute function/pattern"
I'm having like a general pattern using `/language/contentitem.title-slugify`. Exception is for the main language (english in this case) i just use `/contentitem.title.slugify`.

Now every content-definition I use as page which has autoroute I have to add the logic with if, then else. I was wondering if there is like a global location where I can set the default autoroute pattern in case nothing i

[2019-11-26 12:13] MichaelPetrinolis commented on #4889
you could create a custom module that executes the recipe passing a custom environment.
check IRecipeExecutor.ExecuteAsync

[2019-11-26 12:20] hishamco commented on #4874
Reopening this

[2019-11-26 12:24] hishamco commented on #4890
I think we need to investigate on this, @jtkech @Skrypt @agriffard did anyone saw this behavior before?

[2019-11-26 12:24] hishamco commented on #4889
/cc @jtkech

[2019-11-26 12:36] DariuS231 commented on #4889
@MichaelPetrinolis agree, but I think there could be a lot of value having this feature natively.

[2019-11-26 14:46] MatthijsKrempel commented on #3403
@agriffard @sebastienros  I think this can be closed.

[2019-11-26 14:48] MatthijsKrempel commented on #1982
This would be a most welcome feature

[2019-11-26 14:56] deanmarcussen commented on #3403
Closed by https://github.com/OrchardCMS/OrchardCore/pull/4259

[2019-11-26 14:56] #3403 closed

[2019-11-26 15:19] devlife opened #4892 "401 When editing taxonomy"
I have google auth integration set up and when a user (has all built in roles selected, including `Administrator`) attempts to edit an existing taxonomy they get a `401`. Digging into this further, I don't see anything in the logs.

My logging config is currently set to the following. Please let me know if I should make any adjustments to get more detailed logs.

[code]
I am currently on version `

[2019-11-26 15:58] ns8482e opened #4893 "Wysiwyg editor Insert media button not working"
I recently pulled latest code from dev, and noticed that Wysiwyg - Insert media button  is not working

[2019-11-26 16:03] PiemP opened #4894 "Lucene Query - tring to pass to "terms" dynamic values"
Hi all guys,

hope to write something understandable.

I try to run a lucene query by pass to this query some values to check if an item have at least one of the arguments connected to its.
Something like this:
![query_admin_ui](https://user-images.githubusercontent.com/2736009/69648531-cf149880-106b-11ea-813d-5ea88731f32c.jpg)

But when i run the query i find this error in my logs:
`
2019-11-26 1

[2019-11-26 16:15] Skrypt commented on #4894
I will take a look at this.

[2019-11-26 18:31] sebastienros commented on #4889
There might be an open issue for that, we have suggested it already.
In a way that we could even plug it with some kind of Forms module, or at least with your own controller. Right now the simplest solution would be to just merge the two json documents, one with the recipe, and one with the variables, then execute this merged json document. Should be very easy.

What I had looked into was to actua

[2019-11-26 19:37] jeffolmstead commented on #4694
I have seen this same effect where I don't know how I can export data, make changes, and have it re-imported. Nothing in the import file seems to make any change. If I delete the record then import, it works fine (e.g. creating new from import works, just not updating). I have tried changing the ModifiedUtc value to see if that is a factor but doesn't seem to be related.

Please note my content ty

[2019-11-26 20:57] mawendel opened #4895 "Orchard should have a ContentType for all Users"
Currently there is no way to list or link to a specific user in Orchard as other content items - as users are not actual content types.

Use case:
I want my users to be able to *invite* other users to their "Page". I would then want these ContentId's to be stored in a Team field. Just as you would store them from a ContentPicker field (or anything firmly linking them to a User object).

A dirty ha

[2019-11-26 20:59] mawendel commented on #4886
Will the hack be implementet temporarily or are we waiting for the real fix?

[2019-11-26 21:23] ns8482e commented on #1907
In PR #4870, changes has been made to have Sidebar CSS classes responsive.

[2019-11-26 23:32] hishamco commented on #4889
AFAIK there is an issue that asking for similar thing but for the setup screen

[2019-11-27 00:22] jtkech commented on #4889
Normally when a setup is executing for a tenant, its `IShellConfiguration` has been registered and updated from the config sources, if configs are in the right sections, global or tenant specific ones.

So, as we already have a `VariablesMethodProvider` => `"[js: variables('blogContentItemId')]"`.

We could have a `ConfigurationMethodProvider` => `"[js: configuration('key')]"`. A provider that wou

[2019-11-27 00:54] jtkech commented on #4890
What you can do is to try these urls locally by adding a virtual folder like this

        public void Configure(IApplicationBuilder app, IHostEnvironment env)
        {
            app.Map("/virtual", app2 =>
            {
                if (env.IsDevelopment())
                {
                    app2.UseDeveloperExceptionPage();
                }

                app2.UseStaticFiles();

[2019-11-27 02:32] Skrypt commented on #4886
This will get triaged on thursday. I need opinions of other people on that one as this looks like something that should come from YesSql. I'm currently not sure what affects `contentItem.Elements`.

[2019-11-27 08:50] sayyad84 opened #4896 "Question: File input form field"
Hi,
What is the purpose of creating File input form field without implementing Upload it? Please provide details on how to implement Upload File input in workflow or other ways.
I created a workflow module to send the field value to the server via the File.Copy command, but it doesn't seem to be the right way.

[2019-11-27 15:06] deanmarcussen commented on #4886
I looked quickly at this.

the problem is in https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Contents/Workflows/Activities/CreateContentTask.cs

[code]

that code needs to call `contentItem.Apply()`

probably the fix is something like
[code]

but I am not sure that it will cast to ContentElement, or ContentItem.

Will try and have a look but short of time thi

[2019-11-27 15:53] tessierp opened #4898 "Question"
Is it possible to use the Orchard's CMS has a gateway to store data. I've seen a lot of videos where you can use GraphQL to get data but nothing so far on pushing data to it. My intent would be to use it in headless mode to get and push data to it.

An example of this, if possible, would be greatly appreciated.

[2019-11-27 16:13] neolution-ch opened #4899 "Queries: Order results by field value in content"
I have added a date field to my content type and have created some content items based on this type. I want to create a query to get these content items and sort them based on the date field.

First I tried to create an SQL query, but since the date field value is not a database column, but a JSON property. So my query needs to use the `JSON_QUERY` keyword. I have tested the query by running it ag

[2019-11-27 16:14] #755 closed

[2019-11-27 16:18] hishamco commented on #4898
/cc @jrestall

[2019-11-27 16:20] agriffard commented on #2947
/cc @Skrypt

[2019-11-27 16:22] #4091 closed

[2019-11-27 16:30] agriffard commented on #4243
To Order and Filter the users, we need the corresponding fields in the UserIndex.

For the moment. I had to comment them in the Users UI.

/cc @Skrypt

[2019-11-27 16:43] LMSSonos opened #4900 "GetInheritedTermsAsync does not exist in OrchardCore"
I create a new View from Visual Studio and added the code snippet from https://orchardcore.readthedocs.io/en/dev/docs/reference/modules/Taxonomies/
[code]
VS tells me, that the GetInheritedTermsAsync method does not exist in the namespace OrchardCore. I assume I have to inject something or add some extension method?

[2019-11-27 17:09] JoshTango opened #4901 "Profile Pages"
Whenever you start using a CMS the first big question is how to make profile pages for the authors of content.
Does Orchard Core have a default Author page?
If so the next issue would be to make custom modules or widgets just for the profile page to put things like latest content by the author.

[2019-11-27 18:24] #4877 closed

[2019-11-27 18:24] #4706 closed

[2019-11-27 18:35] #4848 closed

[2019-11-27 19:25] Skrypt commented on #4886
Could make sense.

[2019-11-27 19:33] Skrypt commented on #4899
One solution is to map the data with a custom IndexProvider. Then you could do a query on a datetime sql server column. Though, this should be easier than requiring this as like you have experienced the SQLParser doesn't understand JSON_QUERY and thus fails to validate the SQL.

3 options :
- Implement aggregation queries in Lucene to allow ordering/grouping by month/year.
- Modify the SQLParser c

[2019-11-27 19:57] hishamco commented on #4901
I think there's an old issue opened for user profile, hope to find it ..

[2019-11-27 19:59] JoshTango commented on #4901
I just want to know what the guidance is and how to add more features to it

[2019-11-27 20:00] hishamco commented on #4901
@agriffard is there any docs talking about the extensibility ?

[2019-11-27 21:21] sebastienros commented on #4901
@JoshTango do you mean something on the admin dashboard that could be customized by each user?

[2019-11-27 21:23] sebastienros commented on #4899
@Skrypt should I remind you that you created the fields index feature? Please update your answer accordingly ;)

[2019-11-27 21:29] jrestall commented on #4898
Hi @tessierp,

We've mostly been focused on query support but there is also support for graphql mutations, which would allow you to modify content. Problem is there's no examples at this stage I believe.

So you will have to follow the graphql-dotnet docs and also look at how we've done the query side since it will be similar. You will need to start by implementing ```ISchemaBuilder``` and adding

[2019-11-28 00:12] JoshTango commented on #4901
I actually meant a public profile page

[2019-11-28 01:35] Skrypt commented on #4886
Ok just tested this and it still doesn't work. Here is why.
The DisplayText property of a contentItem is accessible by doing contentItem.DisplayText.
((JObject)contentItem.Content).Merge(propertyObject); merges the JSON that we set in the workflow create task and adds a DisplayText inside contentItem.Content which is not what it should do. I believe this is because we used to have a TitlePart that

[2019-11-28 03:31] JoshLefebvre opened #4909 "Getting error message when trying to register ObjectGraphType for custom ContentPart"
So I have create a custom ContentType called Course, with a Content part called course Part:
Here is a part of my migration.cs:
[code]
And here is my CoursePartQueryObjectType:
[code]

When I navigate to /admin/graphql I get the following Exception thrown:
"A field with the name: course is already registered for GraphType: Course (Parameter 'Name')"

Not sure where I went wrong as I am following e

[2019-11-28 04:38] hishamco commented on #4901
Seb seem this the same question that was asked during the latest standup meeting

[2019-11-28 06:55] #4888 closed

[2019-11-28 06:55] kiventwang commented on #4888
I konw it.

[2019-11-28 07:11] stantoxt commented on #4890
Thanks @hishamco @jtkech ,I will test it again.

[2019-11-28 07:53] dodyg commented on #4893
I can replicate this with version `1.0.0-rc1-10913`.

It happens at Trumbowyg editor

![xxxxx](https://user-images.githubusercontent.com/1761249/69787235-b8ce2000-11c4-11ea-938d-4b283bcb6878.png)

When you click on "Insert Media" it just shows a background fade and that's it.

![trumbogy](https://user-images.githubusercontent.com/1761249/69787265-cb485980-11c4-11ea-9341-15c229b8bc1f.png)

[2019-11-28 07:55] dodyg commented on #4900
You need to get `IOrchardHelper`.

https://github.com/OrchardCMS/OrchardCore/blob/688dbb32da17f8a3840f75485362104ea1a562b4/src/OrchardCore.Modules/OrchardCore.Taxonomies/Helper/TaxonomyOrchardHelperExtensions.cs

[2019-11-28 08:12] dodyg commented on #4899
@neolution-ch use https://orchardcore.readthedocs.io/en/dev/docs/reference/modules/SQL/#datetimefieldindex

1. Enable `Content Fields Indexing (SQL)` and `SQL Queries` features.
2. Then simply do the query directly from `DateTimeFieldIndex` table.

[2019-11-28 08:29] deanmarcussen commented on #4900
If it's normal cms mode (so with a theme), rather than decoupled the display helper is available in a view automatically as `Orchard.helper method`.

You will probably need to take a nuget reference on the Taxonomy module as well in your theme

[2019-11-28 09:06] LMSSonos commented on #4900
@dodyg thanks, this solved my issue. I use it in a filter so I had to inject it.

[2019-11-28 09:06] #4900 closed

[2019-11-28 09:41] agriffard commented on #4893
Can you please refresh your browser cache and retry?
Tested on app with 1.0.0-rc1-10913 and it works for me.

Is it an HtmlBodyPart or an HtmlField?

In fact, if you use the Wysywig editor, you should ony see one 'Insert media' button.
With the 'Trumbowyg' editor setting and the default config, there will be 3 buttons.

[2019-11-28 09:57] agriffard opened #4911 "Html and Markdown Body Edit label"
The Edit label of the Html and Body parts use this code:
`@Model.TypePartDefinition.DisplayName()`

so HtmlBody and Markdown Body are displayed above the editor when you create/edit it.

There isn't any place to change that part's DisplayName for the moment, right?

Do we change it by a T["Body"]?

[2019-11-28 11:36] deanmarcussen commented on #4842
PR in for this with yes sql https://github.com/sebastienros/yessql/pull/219

Adding the version column as @Skrypt suggested should also resolve this for you @xumix

[2019-11-28 11:40] xumix commented on #4842
@Skrypt @deanmarcussen
Thanks!

[2019-11-28 11:58] deanmarcussen commented on #4842
Reopening to track it until the yessql fix is in

[2019-11-28 12:23] dodyg opened #4912 "divided_by filter wrong result"
Version `1.0.0-rc1-10913`.

The correct result for `{{ 5 | divide_by: 2 }}` is `2` (https://shopify.github.io/liquid/filters/divided_by/)  but that's not always the case.

![divided_by](https://user-images.githubusercontent.com/1761249/69806006-97802a80-11ea-11ea-909b-325f2bbf36d1.png)

This is how I call the shape

![divided_by_2](https://user-images.githubusercontent.com/1761249/69806257-268d428

[2019-11-28 12:48] JoshTango commented on #4901
Actually to be more clear.  This profile page acts as a "bridge" into social media.  Once each author has their own profile page you can start to make social media modules and widgets to create a social media app.  I think you just need a designated user page that is for the public and managed by the user.

[2019-11-28 12:53] dodyg commented on #4893
OK refreshing browser cache works now.

![works](https://user-images.githubusercontent.com/1761249/69807741-b41e6180-11ee-11ea-9c3c-9ce8226985b9.png)

How about you @ns8482e?

[2019-11-28 13:19] eflatz opened #4913 "Css '.fixed-top' class for #mainNav in TheBlogTheme does not show on scroll down"
On scrolling down #mainNav jQuery assigns is-fixed class but main nav stays out of view port due to negative top property in the CSS declaration:

File src/OrchardCore.Themes/TheBlogTheme/wwwroot/css/clean-blog.css:

#mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;  /* this needs to be removed*/
    -webkit-t

[2019-11-28 13:20] tessierp commented on #4898
Thanks for the information @jrestall. I will need some time to look into this and probably will build a prototype without that part for now but, I do have a few questions already if you do not mind.

Am I right in assuming that I have to create a content type in the CMS's admin screen for every type of information I want to push? I presume every piece of information will end up in the Document's t

[2019-11-28 13:24] DariuS231 commented on #4857
This issue can be closed now as the PR has just been merged into dev.

[2019-11-28 13:28] #4857 closed

[2019-11-28 13:54] hishamco commented on #4901
AFAIK profile is related to the User module, but other than that could e another module(s) for social media

[2019-11-28 13:59] hishamco commented on #4912
This is related to Fluid, let me have a look ..

[2019-11-28 14:27] JoshTango commented on #4901
does the user module have a public facing page?

[2019-11-28 14:35] dodyg commented on #4912
It's a weird bug. I had to add `floor` to the statement to make sure the result is as expected.

`{% assign total_pages = Model.TotalItems | divided_by: Model.PageSize | floor %}`

[2019-11-28 15:14] hishamco commented on #4912
Please hold on .. I will a push a PR now

[2019-11-28 15:39] hishamco commented on #4912
This should be fixed in https://github.com/sebastienros/fluid/pull/164

[2019-11-28 15:51] ns8482e commented on #4893
Refreshing browser did not work for me.

I see only one button but clicking on that button does not open media

With Trumbowyg editor, I can see three buttons, - second and third button works, but "Insert Media" button doesn't work

[2019-11-28 15:52] neolution-ch commented on #4899
@dodyg Great, thank you! Had to upgrade from beta3 to rc1. But looks like all works so far. I also activated the content field indexing module. How/When will the tables be populated? They're empty for me atm...

[2019-11-28 17:09] carlwoodhouse commented on #4909
The name of the part object graph type is conflicting with the contenttype name ... (as we trim 'Part' from parts in objectgraphtypes) in graphql ... you can fix it either by renaming the Name in your CoursePartQueryObjectType to CourseDetails or something, or by chosing the collapse option from graphql in your type configuration ...

as at the moment your query is going to look like

[code]

Coll

[2019-11-28 17:27] hishamco opened #4914 "Localization settings issue"
While i'm testing my PR, I notice that whenever I enable the localization module, the localization settings doesn't load the cultures list, but the save button is there

I know the main reason for that at my side when the internet is slow, so the vue js view isn't loaded, so can we disable the button to avoid such issue or may be load the vue js from the local resource instead to pull them from CD

[2019-11-28 17:32] hishamco opened #4915 "Alert localization issue"
Since few months ago I notice a weird bug that I forgot to log, that when you change the culture from the admin site, the first two alerts shows with the previous culture, but the last one will use the current culture

I know the main reason for that we are stored a localized messages then after the post they will show up!! and that's why we have this behavior

IMHO we can store the message but no

[2019-11-28 17:50] DariuS231 commented on #4889
I can work on a PR for this.

Basically, create a  `ConfigurationMethodProvider` as @jtkech mentioned. The `ConfigurationMethodProvider` will receive the **ShellSettings** and retrieve the value to replace by `ShellSettings.ShellConfiguration["CustomPropertyKey"]`.

Would you be happy with this approach?

[2019-11-28 18:08] JoshTango opened #4916 "Problem: Add reference to theme"
I generated a site using he code templates and I generated a theme also.

When I tried to right click on the project file to add a reference to the theme there was no option to add a reference to another project.  I am using vs2019.

Is this the experience for other people as well?

[2019-11-28 18:23] agriffard commented on #4916
Did you add the theme to your solution first?
Then, it will be available tp add it as a reference.

[2019-11-28 18:32] JoshTango commented on #4916
hmmm yes your probably right, the generator did not make a solution file.
This explains it.

[2019-11-28 19:46] agriffard commented on #4911
It can be set when you edit the Part itself: /OrchardCore.ContentTypes/Admin/EditPart/HtmlBodyPart

Any other part has a label with a T[""].

Should we set the DisplayName to `Body` in the Migration?

[2019-11-28 19:49] hishamco commented on #4901
Nope, but you can extend it

[2019-11-28 19:54] hishamco commented on #4884
@agriffard could you please check the new filter bar that you created, seems it doesn't work properl for RTL languages

[2019-11-28 20:08] jrestall commented on #4898
That's correct @tessierp, for each content type you create from the admin UI, you will automatically get graphql queries generated for. Unfortunately you won't get mutations automatically so would have to develop that part.

I wouldn't worry about performance, I'm no expert but I believe everything is indexed so you won't see performance impacts as the data gets large.

[2019-11-28 20:12] carlwoodhouse commented on #4898
Out the box perf it pretty good for simple queries and the default yes sql
indexes that mean most the time your only querying subsets of the data.

If your wanting more advanced queries and custom filters you might need to
get intimate with how yessql works.

We’re running about 100k contentitems in our main graphql api which is
backed by orchardcore and the perf is very very good.

On Thu, 28 Nov

[2019-11-28 20:31] hishamco opened #4917 "Move IDataMigrationManager.UpdateAsync() to an extension method"
While i'm working on data docs, I notice that `IDataMigrationManager` has two versions of `UpdateAsync()` one accept feature and the other one accepts a list of features

IMHO the `UpdateAsync(IEumerable<string> features)` could be an extension methods instead

/cc @jtkech

[2019-11-28 20:39] agriffard commented on #4884
It is not a filter, it is the New button and I don't think I changed it at all.

[2019-11-28 20:45] JoshTango commented on #4916
I am unable to see how to make a blank solution file in vs2019

[2019-11-28 21:01] agriffard commented on #4916
File > New > Project
There is a 'Blank solution' template.

Or else, If you have just a VS open with only one csproj, it suggests you to save a solution file when you close VS.

[2019-11-28 21:13] JoshTango commented on #4916
well I used the orchard templates to generate a website and it worked.
But I can not find a way to add a solution file.

[2019-11-28 21:32] hishamco commented on #4884
I thought you was 😊, no problem I will have a look

[2019-11-28 21:33] agriffard opened #4920 "Features Demos"
It would be great to have demos to show the most used features ot the most interesting end-to-end scenarios.

A 5 min video could be a good way to demo the steps and actions to execute in VS or in admin.

If each week, we decide to keep the latest 5 min of the Tuesday meeting for this purpose, we will have 4-5 videos each month.

If the guys from Lombiq can edit the recording and upload the video

[2019-11-28 21:40] hishamco commented on #4920
I saw a new video for Tags using Taxonomies in Lompiq channel such videos is informative and cool

[2019-11-28 22:11] Skrypt commented on #4914
I think the idea is to use the admin settings related to use a CDN or local resources but I can relate to that issue while I had a power outage in here I had some things not loading properly. One thing that we should test is to try to compile OC with internet and to disconnect internet while using it locally to figure out which scripts won't load if using local resources. Make also sure to flush y

[2019-11-28 22:38] hishamco commented on #4914
I will have a try

[2019-11-29 08:38] Freakazoid182 commented on #4880
Thank you for that quick reply! Sorry for not getting back to you sooner.

This indeed solves the issue I was facing. I wasn't aware of the extension on the `OrchardCoreBuilder`.
As I can see it's technically creating a new Startup like any other module added to the builder.

The syntax does look a bit strange as it defines a middleware pipeline where you would "normally" be building the service c

[2019-11-29 09:36] hishamco commented on #4901
Related https://github.com/OrchardCMS/OrchardCore/pull/3141

[2019-11-29 10:29] carlwoodhouse commented on #4754
so you want to be able to say bring back contentitems that have these contentitems in the picker ?

[2019-11-29 10:41] LMSSonos opened #4921 "Question: Admin/Contents/ContentItems Group or Filter by Localization"
Is there a way to filter by localization or group by localization. If you have 100 Content-Items per localization it starts to get big and would be good if you just see one localization

[2019-11-29 11:24] gyanendrarijal commented on #1893
@sebastienros can you please explain a bit how we can achieve this in OrchardCore?

[2019-11-29 11:46] jtkech commented on #4880
It depends on the complexity and the level of modularity you want, knowing that the application itself behaves as a module on which you can also add separate features. But yes maybe at least one separate module with maybe separate fatures.

That said we already have modules / features for users, roles and permissions, authentication. We have an `OpenId` module, the expert is @PinpointTownes, modul

[2019-11-29 18:56] ns8482e commented on #4893
Why there is two "Wysywig" and "Trumbowyg" editor options and both technically the same javascript "Trumbowyg" ?  It confuses more than it adds any value

[2019-11-29 19:05] ns8482e commented on #4893
Looks like this error seems because of different plugin behavior represented by same toolbar button, there should be two seperate buttons - "Insert Media - url" and "Insert Media - tag"

[2019-11-30 08:33] hishamco commented on #4921
I don't think we have this today. @agriffard did you add this in the new filter bar?

There are two things we can add to make this easier:

1. Add a filter in then content items page

2. There's a feature that I asked for "Translations Matrix", probably it's 1.1 feature, this will help you to know which translation is missing for a particular content item

[2019-11-30 09:28] aghili371 commented on #4883
this is the full error message:

`AspNetCore._Areas_OverStartUP_Pages_Users_Views_Shared_Layout.<ExecuteAsync>b__19_0() in Layout.cshtml
+
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
Microsoft.AspNetCore.Razor.Runtime.TagHelpers.TagHelperExecutionContext.SetOutputContentAsync()
AspNetCore._Areas_OverStartUP_Pages_Users_Views_Shared_Layout.ExecuteAsync() in Layout.cshtml
+
<htm

[2019-11-30 12:43] hishamco opened #4925 "No description for OrchardCore.Lists docs"
https://orchardcore.readthedocs.io/en/dev/docs/reference/modules/List/

/cc @agriffard

[2019-11-30 12:47] hishamco opened #4926 "Bag part article missing in Content Parts docs"

[2019-11-30 13:09] hishamco opened #4928 "OrchardCore.Layers docs is missing"
https://orchardcore.readthedocs.io/en/dev/docs/reference/modules/Layers/

[2019-11-30 13:21] agriffard commented on #4928
Duplicate of #3111

Please check that there is no existing issue before creating one, with the 'documentation' label for example.
When I did the new docs, I even tried to link the missing docs in the corresponding page:
See TBD Layers and Zones in https://orchardcore.readthedocs.io/en/dev/docs/topics/content-management/

[2019-11-30 13:21] #4928 closed

[2019-11-30 13:21] agriffard commented on #3111
Todo in https://orchardcore.readthedocs.io/en/dev/docs/reference/modules/Layers/

[2019-11-30 13:40] hishamco commented on #4928
Ok, thanks

[2019-11-30 13:42] agriffard opened #4929 "Indices admin"
Would it be possible to display the number of the documents indexed per index on the admin page of the indices as it is done in O1?

/cc @Skrypt

[2019-11-30 16:13] JoshLefebvre commented on #4909
Unfortunately neither of these solutions worked... When I change the part name to CourseDetailsPart I instead get the following error:
`"A field with the name: courseDetails is already registered for GraphType: Course (Parameter 'Name')"`

The only thing that seems to work for me is removing the MediaField registrations in my migration.cs file:
[code]

[2019-11-30 23:11] alexpanter commented on #3553
### Example: Fetch items from Orchard CMS through provided alias ###

I can't believe that nobody wrote about this. All the answers here say that you "inject" the `IOrchardHelper` in C# code (but no clear way of how this is achieved).

Furthermore, from what I could read, the preferred way is to do `@inject OrchardCore.IOrchardHelper Orchard` in the razor page, but that is a waste of space and cle

[2019-12-01 01:31] JoshLefebvre opened #4930 "Unable to query ContentFields using GraphQL"
I have created a custom content type, with a custom part that is made up of a few contentfields in my migration.cs:

[code]

However despite creating content items with the contentfields in CourseMediaPart populated with image paths (and ensuring they are stored properly in the db), the following graphql query is always returning null:
![image](https://user-images.githubusercontent.com/22512098/69

[2019-12-01 08:02] dodyg commented on #3553
@alexpanter should I reopen this case?

[2019-12-01 17:13] giannik opened #4931 "localization files are recreated with every build ?"
when working with source code the po files in :
OrchardCore.Cms.Web\Localization
are recreated on every build, so even if i add files from crowdin they get replaced on each run.

[2019-12-01 18:16] hishamco commented on #4931
AFAIK the translation become a part of MSBuild tasks, so that's why you see this behavior.). I know it's weird to copy them each time, @jtkech why we copy them if newer?

[2019-12-01 20:39] acao commented on #4584
@jrestall this issue has been fixed in 0.17.0, had to do with performing dynamic requires without specifying extensions (GraphQLLanguageService class). please see the webpack example for details, incl the babel config. ping me in discord if you have any issues

also, enjoy the esm modules :D

[2019-12-01 21:58] jrestall commented on #4930
Hey @JoshLefebvre,

Can you try lowercase the field names just as a guess. e.g. ```.WithField("courseImageURL"```.

Otherwise you will have to debug through and see why it isn't returning a value.

[2019-12-01 22:22] alexpanter commented on #3553
@dodyg not for my sake :) I was just looking for some help, went looking here, saw some hints, and solved my problem. I only hoped that someone else might find my research useful.

[2019-12-02 01:30] JoshLefebvre commented on #4930
Tried with the lower case field name and still the same behavior. When I set a breakpoint at the line you have suggested, it seems to be unable to resolve the contentPart:

[code]

field.PartDefinitionName is set to "CourseMediaPart" and it is unable to be resolved by using contentElement.Data[name] in the image below:

![image](https://user-images.githubusercontent.com/22512098/69924372-0d012a80-

[2019-12-02 01:51] jtkech commented on #4931
We don't check the date, we use `SkipUnchangedFiles="true"` to preserve the "immutabilty" of packages files, we copy them once but if they are changed we update them on building.

To not be updated the related translation packages needs to not be referenced by the application, directly or transitively.

Here the "issue" is that `OrchardCore.Application.Cms.Targets` references all translation packa

[2019-12-02 05:43] justlucky opened #4932 "OrchardCore.Users Module NotSupportedException"
![a](https://user-images.githubusercontent.com/247791/69933427-ac6dfe00-1509-11ea-841c-81649ba019da.jpg)

throw new NotSupportedException(Resources.StoreNotIUserAuthenticationTokenStore);

[2019-12-02 07:19] jrestall commented on #4584
Thanks @acao, the webpack build is running a lot cleaner now :)

[2019-12-02 08:43] Freakazoid182 commented on #4880
Thank you for that quick reply. This will indeed work for our purpose.

I didn't expect that there would be an extension to add middleware to the Orchard service collection builder.

What we're trying to achieve is having Authorized endpoints through controller to access orchard content.

[2019-12-02 08:43] #4880 closed

[2019-12-02 08:48] Freakazoid182 commented on #4880
Thank you for that advise. I've closed the issue as there is none really anymore. There's several approaches I can consider here. I will need to consider exactly what I need to see what would be best.

Thanks again for helping out!

[2019-12-02 09:58] PiemP commented on #4841
Seems the same issue: https://github.com/OrchardCMS/OrchardCore/issues/4926

[2019-12-02 09:59] PiemP commented on #4841
Seems the same issue: https://github.com/OrchardCMS/OrchardCore/issues/4926

[2019-12-02 10:15] agriffard commented on #4926
Duplicate of #4841

[2019-12-02 10:15] #4926 closed

[2019-12-02 10:20] dodyg commented on #4899
I don't have a clue

[2019-12-02 10:54] jrestall commented on #4909
The issue is likely that you are mixing both dynamic fields (CourseImageURL) and a typed part (CoursePartQueryObjectType).

We have two ```IContentTypeBuilder ```, one for typed content parts and another for dynamic. We don't support mixing them as they will both try to add the same field name, resulting in "A field with the name: course is already registered for GraphType: Course (Parameter 'Name

[2019-12-02 11:51] deanmarcussen commented on #4899
@neolution-ch there maybe an issue in RC1 where the migration for the index fields didn't get populated. Are you sure you have the tables?

You'll possibly see an error in the logs. see https://github.com/OrchardCMS/OrchardCore/issues/4406

The solution is either upgrade to dev myget feed, or register the missing migration in your own startup.

The migration to register would be `services.AddScope

[2019-12-02 11:53] dodyg commented on #4899
We need a functionality for this. Right now one would have to do it tediously one by one.

[2019-12-02 16:28] Skrypt commented on #4899
No the module doesn't populate the tables data. That's something that needs to be done manually as it requires using the different JSON functions of each RDB.

[2019-12-02 18:56] devlife commented on #4892
Any thoughts on this?

[2019-12-02 20:01] MichaelPetrinolis commented on #4892
If you login with local credentials and edit the taxonomy, you get the same error?
If you login with google can you create a new one and edit it ?

[2019-12-02 20:35] hishamco commented on #4931
I think I talked to Sen about this one, reference certain packages is better IMHO

[2019-12-02 22:14] hishamco commented on #4932
Are you sure that the exception came from Users module, could you please check the stack trace, seems it's ASP.NET Core exception

[2019-12-03 01:32] JoshLefebvre commented on #4909
Ahhh ok was not aware of this! Anyways I have since added the dynamic fields to a separate part and all is good now besides the other issue of the dynamic fields https://github.com/OrchardCMS/OrchardCore/issues/4930 which you are currently looking into.

Thanks again for the help. I will close this issue

[2019-12-03 01:32] #4909 closed

[2019-12-03 05:43] justlucky commented on #4932
the OrchardCore.Users module has UserStore class, not implemented IUserAuthenticationTokenStore interface.

[2019-12-03 05:57] RockNHawk opened #4938 "Table 'xxx.xxx_numericfieldindex' doesn't exist"
Hi,I get the OrchardCore source code and run today (the git last commit dat is 2019-12-03 10:25), I create a ContentPart, ContentType and add a field, after this, I modified the field and check the 'Include this element in the index ' On,then I creat a new ContnetItem get this error 'Table 'orchardc_h.oc_numericfieldindex' doesn't exist.

![image](https://user-images.githubusercontent.com/3222379/

[2019-12-03 07:03] hishamco commented on #4932
Please explain your scenario, so the other folks can understand the issue and help you

[2019-12-03 07:21] dodyg commented on #4938
That's weird because `Include this element in the index` is supposed to be only relevant for Lucene index.

[2019-12-03 09:55] LMSSonos commented on #4921
That would be a very handy feature!

[2019-12-03 15:22] TFleury opened #4939 "File extension is not checked on media file renaming"
One can easily upload a forbidden file with an allowed extension, and rename it with a forbidden extension (i.e. : upload as .png then rename to .exe or .js)

[2019-12-03 15:36] TFleury opened #4941 "Inconsistency in media file extension filtering"
MediaFileStoreResolverMiddleware (only used with Azure Media Storage) introduces a file extension check that we don't have with the default media file storage.

So, with default media file storage you can serve all file extensions, but with azure media storage you are limited to allowed file extensions.

I think we should remove the check from `MediaFileStoreResolverMiddleware` because it's not it

[2019-12-03 16:02] deanmarcussen commented on #4941
Yeah, I'm fine with that. When we spoke about it Sebastien said that the original intention with the allowed file extensions was to restrict it in the admin, but still allow a developer to manually rename the file in the file system, or in this case blob, and still have the file served.

[2019-12-03 16:22] dodyg opened #4943 "A list of public OrchardCore CMS Websites"
https://fly.eg/

- Decoupled CMS (English & Arabic).
- Two custom modules

[2019-12-03 17:10] Skrypt commented on #4938
DB name prefix issue more likely. Or table name length issue. Not sure but not related with Lucene at all.

[2019-12-03 17:29] hishamco commented on #4943
Wow Egyptian Website, @dodgy are you in the Egypt?

[2019-12-03 17:33] Michelangela opened #4944 "Need an equivalent of Url.Action in Liquid"
I have an issue on my localhost if I use tenants: routing works with  an URL like https://localhost:6001/mytenant/ , but it does not work for https://localhost:6001/mytenant as it routes using the root URL, losing the tenant in the URL.

The suggestion is to have an equivalent of Url.Action(...) be implemented in Liquid.

[2019-12-03 18:29] sebastienros commented on #4943
Did you use content the localization module?

[2019-12-04 06:40] Skrypt opened #4947 "Content list filters: action button"
The action button should display aligned to the right of the top bar.
Also the "New" button won't allow to scroll if there is a lot of menu items.

[2019-12-04 10:45] lurumad commented on #4477
Same problem with .NET Core 3.1

![image](https://user-images.githubusercontent.com/1729519/70136011-6f317980-168b-11ea-9dd6-6a343ba6bb49.png)

Any ideas?

[2019-12-04 11:51] dodyg commented on #4943
@hishamco  yes, Cairo.
@sebastienros  yes.

[2019-12-04 14:29] stantoxt opened #4949 "Localization not Working When apply current theme for Login"

[2019-12-04 15:05] TFleury opened #4950 "Media file store cache management"
When the `DefaultMediaFileStoreCacheFileProvider` is enabled (with Azure Media Storage) all accessed media are stored in 'ms-cache' directory.

It's very efficient for performance, but I see some issues here :
- If a media is changed or removed, it's still available unless you manually purge cache.
- When using multiple instances, you need to manually purge cache on each of them.
- There is no dis

[2019-12-04 16:42] Skrypt commented on #4950
//cc @deanmarcussen

[2019-12-04 17:10] Skrypt opened #4951 "Document table content size issue"
Some people have reported that using the FlowPart and BagPart might cause the Document.Content column to slow down the SQL Queries. In fact, recently I looked at one DB where they had around 50k lines of JSON data for a single row. The result makes querying with _session.Query<ContentItem, ContentItemIndex>() quite slow. One solution is to create a custom index provider to map the Content Fields t

[2019-12-04 18:16] Skrypt opened #4952 "Lucene TermRangeQuery for DateTimes"
https://stackoverflow.com/questions/19655493/how-to-convert-a-lucene-net-rangequery-to-a-numericrangequery-for-date-range-sea

As explained here when we index a DateTime in Lucene it is stored as a string value.
To be able to filter the indexes with a DateTime range then we should use a TermRangeQuery instead of a NumericRangeQuery. Right now the RangeQueryProvider uses the TermRangeQuery only whe

[2019-12-04 19:27] sebastienros commented on #4951
Is it because some queries don't actually need to fetch the data but it still gets read? Do you have an example where we could repro this behavior?

[2019-12-04 19:31] sebastienros commented on #4950
When this feature was designed we realized these limitations, and postponed these on purpose for when we would find some time to improve it. So definitely a yes to find solution to these issues.

The IDistributedCache is not a valid solution IMO as it will just move the static files in memory (even if it's stored on redis for instance). The goal here is to use the fastest way to serve the content

[2019-12-04 19:35] sebastienros commented on #4477
Republishing would only be part of the solution, we need to find all the packages that we reference and are also "poisoned". Could someone try to find these packages? It should be doable by doing a publish folder, and look at any assembly and if their metadata for a timestamp that is MinValue.

[2019-12-04 19:35] sebastienros commented on #4952
Very nice

[2019-12-04 19:37] #4939 closed

[2019-12-04 19:39] #3790 closed

[2019-12-04 19:41] #4947 closed

[2019-12-04 19:42] Skrypt commented on #4951
Ask @themattkenney he has an example of this issue in one of his project. He has a database that takes around 40 seconds for doing a "SELECT TOP(5) FROM Document"

[2019-12-04 19:42] #4930 closed

[2019-12-04 19:43] #4584 closed

[2019-12-04 19:44] #4685 closed

[2019-12-04 19:45] #4886 closed

[2019-12-04 20:15] sebastienros commented on #4951
Or you are talking about a different query that is systemic in OC, other than the example you gave.

[2019-12-04 20:25] johnrom commented on #3790
I see this randomly during development and have to restart, and I've seen it randomly on an Azure instance. Can't tell if it is the cause of the service going down on Azure or if it's caused by an App Service recycling and manifesting as a startup issue, but I have to restart the web app to resolve.

I'm currently on `1.0.0-rc1-10004`

![image](https://user-images.githubusercontent.com/1881482/701

[2019-12-04 20:28] sebastienros commented on #3790
@johnrom Looks like a standard NRE on a dynamic object. We need to find which reference could be null, and is a dynamic type. From memory there are many in this file.

[2019-12-04 20:50] Skrypt commented on #4951
Yes just for filtering to mitigate querying the document table. But as I said that would not be the best solution. Another mitigation is to compress the content column data at the same time but it's still not the best approach to keep the Document queryable fast.

The best approach that is against the principle of the BagPart/FlowPart would be to externalize it's content to a different table since

[2019-12-04 21:04] sebastienros commented on #4951
So you are actually saying that this is because some queries do download the Documents when they are not necessary. And I want an example so I can investigate that.

[2019-12-04 21:50] Skrypt commented on #4951
I'll try to create a repro. Though easy way would be to have a dump of @themattkenney database to reproduce the issue.

[2019-12-05 02:40] ns8482e opened #4954 "Is it possible to inject IFileProvider in Controller or Service?"
I have a  JSON file with some data,  in  root of my module project. which gets embedded into the assembly on build. I want to read content of this file in singleton Service of the module

I found that there is "ModuleEmbeddedFileProvider" which provides implementation of IFileProvider.  I am trying to use that to read embedded content from module.

Here is how I am registering my service in module

[2019-12-05 03:02] JimBobSquarePants commented on #4827
I've opened a PR in the ImageSharp repo to fix this. Nothing to do with memory, just some incorrect source sampling.

https://github.com/SixLabors/ImageSharp/pull/1060

[2019-12-05 03:07] jtkech commented on #4954
You need to inject `IHostEnvironment` and use its `ContentRootFileProvider` that in our case is a `CompositeFileProvider` including our `ModuleEmbeddedFileProvider`.

Then you will be able to access your file under the virtual folder `Areas/YourModule/...`.

[2019-12-05 07:35] dodyg opened #4955 "Feature request: grouping field"
There are a lot of fields that doesn't need to occupy the whole width of the screen.

![grouping-elements](https://user-images.githubusercontent.com/1761249/70213403-e3c6ef80-1741-11ea-9a24-f0c19c42c60f.png)

[2019-12-05 09:04] dodyg opened #4956 "Content Picker Field is broken on the latest build"
All my Content Picker Field stops working after upgrading to `1.0.0-rc1-10998`.

![no-results](https://user-images.githubusercontent.com/1761249/70220426-3f4baa00-174f-11ea-89e9-76397274a9d4.png)

The problem happens to all Content Types that use Content Picker Field.

I am using Standard Editor, not Lucene.

[2019-12-05 10:06] DariuS231 opened #4957 "WithSettings not applying the settings"
After updating the NuGet packages to a newer version, I realized the configurations of the fields of the content types aren't being applied during migration.

I have something like:

[code]

The version we are currently using is: 1.0.0-rc1-10998

The only way I was able to set the setting of the files was by using `MergeSettings`
[code]

[2019-12-05 10:25] horlszone commented on #2029
We are also very interested in option 2 above. @sebastienros is there any way we can up vote this feature to get it onto version 1.0 :) ? Our client uses OIDC but storing passwords in Orchard is a no no.

[2019-12-05 10:54] MatthijsKrempel commented on #4842
@deanmarcussen sebastienros/yessql#219 is merged, just not pushed to NuGet yet.

[2019-12-05 11:25] dodyg opened #4958 "Admin Menu by Content Type is broken"
On `1.0.0-rc1-10998`, the admin menu link is broken after you filter the content items.

![broken-link](https://user-images.githubusercontent.com/1761249/70231181-7d9e9480-1762-11ea-9d01-d632a98667df.png)

![broken-link-2](https://user-images.githubusercontent.com/1761249/70231184-81321b80-1762-11ea-961a-06a1b884186a.png)

[2019-12-05 13:35] ns8482e commented on #4224
@sebastienros this is fixed in #4910

[2019-12-05 13:43] #4224 closed

[2019-12-05 13:59] ns8482e commented on #4709
Trumbowyg language files are not included in OrchardCore.Resources

https://alex-d.github.io/Trumbowyg/documentation/#add-localization

[2019-12-05 14:17] jagbarcelo opened #4959 "WYSIWYG editor breaks font-awesome icons"
If you edit anything using the WYSIWYG editor and insert for instance the following text:
`<i class="fab fa-twitter"></i>`
when you Publish, it is converted to:
`<em><svg class="svg-inline--fa fa-twitter fa-w-16" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d

[2019-12-05 14:58] ns8482e commented on #4954
@jtkech It worked - Thank you.

However I am curious to know that -  when I keep file at "Assets\Heros.json" it did not embed but at "Data\Heros.json" it gets embedded regardless of whether I chose to embed via Visual studio or not.

It's embedding all files except under "Assets"

Shouldn't it be opt-in strategy to embed files to avoid accidental embedding files?

[2019-12-05 16:03] Skrypt commented on #4959
I think this is normal behavior of fontawesome but I need to confirm.

[2019-12-05 16:15] PiemP commented on #4952
Hi @Skrypt,

I hope this is the right place where publish this info. I have make some test over the query with the range clause. If I have a date field on my content item and if I mark this field as Analyzed the range query doesn't work. Probably is not necessary because, the description of the Analyzed checkbox talk about the conversion of the field value to text, but I report it and you decide h

[2019-12-05 16:40] jtkech commented on #4958
Okay, i found the issue.

Yes, in each menu item by content type url we add a content type segment, but when already displaying a page listing items of a given type there is already a `contentTypeId` in the ambient route values, this ends up with 2 content types segments in the url.

Already fixed on my side, but i want to fix it in a better way, right now for these items we are using an mvc helpe

[2019-12-05 17:00] jtkech commented on #4954
We embed most of the files but not all, see in `OrchardCore.Module.Targets.props`.

    <ModuleAssetExcludes>Assets.*;Assets\**;**\*.props;**\*.targets</ModuleAssetExcludes>
    <ModuleDefaultAssetExcludes>$(ModuleAssetExcludes);**\node_modules\**;node_modules\**</ModuleDefaultAssetExcludes>
    <ModuleDefaultAssetExcludes>$(ModuleDefaultAssetExcludes);**\jspm_packages\**;jspm_packages\**</ModuleD

[2019-12-05 17:11] Skrypt commented on #4952
Ok normallly you need to "Store" this value in the index instead of "Analyze" because analyze will tokenize the words contained in the string passed to Lucene. Analyze is used for full text search scenarios whereas what you want is to find a "fixed" value. I will take a look at why there is a difference between the lt,gt vs lte,gte. It is normal though that we index a "NULL" string value if nothin

[2019-12-05 17:32] deanmarcussen commented on #4957
There are extensions for the properties you are trying to set. See
https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore.ContentManagement.Abstractions/Metadata/Settings/ContentPartFieldSettingsExtensions.cs

However I'm a little surprised that using .WithSettings as you have did not work.

`.WithSettings` is normally used for other custom settings, like the `MediaFieldSet

[2019-12-05 17:43] Skrypt commented on #4957
We need to change the documentation to reflect these changes.

[2019-12-05 17:54] deanmarcussen commented on #4957
Yeah, I'll have to check tomorrow if I am wrong, or the docs are wrong. I suspect the docs are correct, as I updated them at the time, but we could add some more examples.

[2019-12-05 18:28] ns8482e commented on #4954
Understood.

I am trying to understand why Orchard Module Target needs to include all  with exclude list?
 `<EmbeddedResource Include="**\*"`

Shouldn't it be wise to use only include list for items that orchard core needs and everything else is excluded by default?  So module developer can decide what to embed and  avoid accidental embedding sensitive dev only files if any?

[2019-12-05 18:28] PaulEpitomy opened #4961 "Localizing widgets on layers"
I cannot find a way to localize widgets that are contained in layers, I've performed the following: -
1. Add LocalizablePart to Liquid widget
2. Re-save the widget and add the localizable contents

At this point I just see multiple copies in the front end.

To get around this I have modified LayerService to de-dup based on the current culture

[code]

and in LayerFilter, changed the cache key to i

[2019-12-05 18:42] sebastienros commented on #2029
@horlszone definitely supported, and you can even use multiple ones. We provide GitHub, Twitter, Google, Facebook, Microsoft. I also just merged this PR (https://github.com/OrchardCMS/OrchardCore/pull/3488) that allows these providers to completely skip the local registration form, such that you can automate the local usernames based on the external providers.

[2019-12-05 18:42] #4941 closed

[2019-12-05 18:43] #4958 closed

[2019-12-05 19:04] sebastienros commented on #4961
We might need to update the layer filter to take the ILocalizable aspect into account if widgets have them. And if a Layer aggregates its widgets, we need to ensure that all version are stored there. Probably what you have done. Ideally without referencing the localization module. Just by resolving the culture of each widget using the aspect, and then ignoring the ones that are not for the ambient

[2019-12-05 20:39] sebastienros opened #4962 "Double-encoding in user admin"
There might be other occurences, OrchardCore.Users/Controllers/AdminController.cs uses `SelectListItems` with `.Value` on an IHtmlLocalizer. They will be double-encoded.

[2019-12-05 21:05] #4954 closed

[2019-12-05 21:08] sebastienros commented on #4842
I need to merge yessql to master

[2019-12-05 21:15] sebastienros commented on #4955
A solution could be to have a size property for all field settings, and generate a wrapper when a field editor is rendered.

Or, create a generic field wrapper shape, that could be redefined in the Admin Template feature, for specific fields using alternates. `Field_Editor__Wrapper` would then be around each field editor. So you could redefine it for specific fields. This could be empty by default

[2019-12-05 21:45] #1252 closed

[2019-12-05 22:02] jtkech commented on #4954
Yes maybe but without knowing what we could need in the future we 1st opted to include "everything", then we used some custom variables and also some standard msbuild ones to still exclude the same kind of files that are also excluded when we do a publish on a web project, bin and obj folders, source files, folders as `.vs`, `.git`, `node_modules` and so on.

    <EmbeddedResource Include="**\*" E

[2019-12-05 23:36] PaulEpitomy commented on #4961
I did think about custom layers but we have 7 layers at present and ~10 languages so this would result in 70 layers, so I'm not sure how practical that would be.

I can create a PR if it helps, could you elaborate on "_And if a Layer aggregates its widgets, we need to ensure that all version are stored there_", as I'm not sure I understand?

I present I'm only referencing the OrchardCore.ContentLo

[2019-12-05 23:48] sebastienros commented on #4961
That would work, please try to create a PR

[2019-12-06 00:35] hishamco commented on #4949
Please list the steps to reproduce the issue, AFAIK there's an issue in data annotations, but this ma another localization issue

[2019-12-06 00:43] hishamco commented on #4962
This is odd, I think we fixed this previously, seems some new changes bring the issue again :)

[2019-12-06 00:49] hishamco commented on #4943
@agriffard @sebastienros can we list Orchard Core websites in the websites or docs as "Build With ♥ using Orchard Core"?

[2019-12-06 01:08] sebastienros commented on #4943
https://showorchard.com/gallery/category/orchard-core

[2019-12-06 01:22] sebastienros commented on #4962
We have things similar issues for sure, but some are still present.

[2019-12-06 01:40] hishamco commented on #4962
I will handle this, but I'm trying to fixing a weird localization issue

[2019-12-06 03:23] jeffolmstead opened #4963 "UpdateContentItem Global Method Doesn't Alter DisplayText"
The change on #4631 made it so data was persisted to the database which is great. Using this, I have a Script that I use in a workflow which

1. Calls a query to get a content item
2. Sets the properties to update the TitlePart
3. Calls updateContentItem method

Everything works BUT the DisplayText is not updated as a result. Without setting the "DisplayText", whenever the content is next edited T

[2019-12-06 05:00] chinasqzl opened #4964 "Workflow content creation fix bug"
![image](https://user-images.githubusercontent.com/16968103/70297145-ca986e80-1827-11ea-8d2f-d7b67d6b055e.png)

![image](https://user-images.githubusercontent.com/16968103/70296708-5c06e100-1826-11ea-9002-4eaf63488a98.png)
![image](https://user-images.githubusercontent.com/16968103/70296891-de8fa080-1826-11ea-963d-22fe048ac2b7.png)

[2019-12-06 08:20] deanmarcussen commented on #4963
this is very similar to the issue fixed on https://github.com/OrchardCMS/OrchardCore/pull/4908 as the task does not update the `ContentItem.Elements` property where the parts are stored.

Can you try applying the same fix @jeffolmstead and pr if possible?

[2019-12-06 08:31] deanmarcussen commented on #4964
What we might have to do is apply both regular content via json.merge and then apply the elements additionally

something like
[code]

/cc @Skrypt

Also related https://github.com/OrchardCMS/OrchardCore/issues/4963

[2019-12-06 08:41] deanmarcussen opened #4965 "Taxonomy field editor generates bad html"
Depending on how many taxonomy terms you have in a taxonomy the field editor adds the correct number of opening divs but does not always add the correct number of closing divs.

This means that any content item parts after the field editor get rendered as part of the field editors containing div.

The issue is in this code. https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules

[2019-12-06 09:10] deanmarcussen commented on #4950
Yes, also agree that there are more improvements that can be done to reduce the limitations.

Here's a few thoughts on the limitations mentioned, plus a couple of others.

- Multiple instances, and purging. This should probably be handled by a change token, see what @jtkech has been working on here https://github.com/OrchardCMS/OrchardCore/pull/4001 and then when the distributed support is complet

[2019-12-06 09:50] deanmarcussen commented on #4957
Hmm, tested with this code and works fine.

[code]

So documentation is good.
@DariuS231 struggling to understand your issue. Have you checked logs at all? failed migration possibly?
Or migration not run, because it has already run?

[2019-12-06 09:59] LMSSonos opened #4966 "Question: Title Tag rendering with custom template"
As an example, I have a content Type called `TextPage`, it has a Title-Part and a Markdown field.
Then I added a new Template called `Content__TextPage`. In this one I add some logic to render the data like this:

[code]

In the `Layout.Liquid` file I have added following code to render the title:
`    <title>{{ "PageTitle" | shape_new | shape_stringify }}</title>`

If I navigate to a TextPage, no

[2019-12-06 10:02] deanmarcussen commented on #4956
@dodyg seems to be working fine for me.

Can you try with latest build, a new version of bootstrap was merged last night?

Any console errors?

[2019-12-06 13:41] PavelPisotskiy opened #4969 "External authentication provider OAuth with grant_type=password"
Hello, Could you please give an advice how to add external authentication provider (OAuth) with [grant_type=password](https://oauth.net/2/grant-types/password/). I need that users to be able to log in using an external user credentials (login and password) from the main login screen.

[2019-12-06 16:09] tessierp commented on #4898
Thank you very much for all your answers. Because of time constraints, for the moment I will be exploring my own custom solution for the data storage. I will be looking forward for some documentation regarding the steps required to support sending / update data through mutations.

[2019-12-06 17:55] PaulEpitomy commented on #4961
Possible fix #4968 that may require additional work for GraphQL, should GraphQL filter widgets by culture or not?

[2019-12-06 18:22] Skrypt commented on #4963
Ok we need to re-test this issue but now with other params and make sure everything works. Though TitlePart has been replaced by DisplayText. Need to see if the issue is not because you are assigning the TitlePart only.

If we all agree that TitlePart should be deprecated then the proper fix would be to stop using it and to prevent people from using it.

[2019-12-06 18:25] Skrypt commented on #4964
To be honest I need to test from source code and repro. The Owner and Author could be assigned in a Handler with custom code so there's nothing asserting that this can be repro for now.

[2019-12-06 18:26] jptissot commented on #4243
The user search is broken. I have a manager user and a search for manager returns nothing.

[2019-12-06 18:33] jeffolmstead commented on #4963
@Skrypt I didn't know TitlePart had been deprecated / removed. The issue is that "DIsplayText" does not appear in the "Content" (at least that I know of). Only "TitlePart" shows up so that is the only property you are able to update on the merge. Does that make sense? We would need to grant access to editing other fields on the ContentItem instead of just Content if you want the user to be in cont

[2019-12-06 18:33] Skrypt commented on #4956
Works fine for me and I merged latest dev last night in my website project. Though @jtkech changed the way we are retrieving paths in the ContentPicker view. If you have custom implementations the javascript has also changed so it might be only an issue where the ContentPicker doesn't find the proper path (error 404) to your API to retrieve records.

[2019-12-06 19:08] Skrypt commented on #4243
Works for me. Please open a different issue with repro or logs.

[2019-12-06 19:11] Skrypt commented on #4963
Yes that makes sense and that's why I said in my PR that the proper fix would be to move DisplayText in the Content so that it updates it with the .Merge or .Apply or else !

I need to first see if this can be done. Else if we can't then try with `contentItem.DisplayText`

[2019-12-06 19:27] ns8482e commented on #4954
@jtkech Thank you for your detail explanation, It surely helps a lot.

[2019-12-06 19:32] ns8482e commented on #4957
`.WithSettings` works for me However  I am using it in  `UpdateAsync` as below

[code]

[2019-12-06 20:17] ns8482e commented on #4955
@dodyg Have you tried to place some of the field on Sidebar using placement.json?

[2019-12-06 20:33] sebastienros commented on #4955
I don't think it's easy to create a placement file, even less for the admin, and the sidebar is a very limited solution. But I like the suggestion as it might be sufficient for some specific case.

Another extended approach on this idea, would be to create a custom template for this type (or all types) where you could define another custom zone, with the Admin Templates module, and then use the pl

[2019-12-06 21:19] LMSSonos opened #4970 "Culture in a Widget takes culture from browser and not from content item"
I have a contentitem that represents the page and that item has localization. I have localized it to DE (german) and EN (english). I added a widget which is rendered in a zone. The widget contains only `{{ Culture }}`

If I'm on an the german contentitem, my expectation is, that the outputted Culture is "de", but in my case it's "en". The reason, my browser favorite language is English, if I add G

[2019-12-06 23:07] hishamco commented on #4970
@jptissot is there an option that you made to pickup the right culture from content localization module?

[2019-12-06 23:36] jtkech commented on #4962
For infos, just did the following test

    @{
        var test = T["Your {0} draft has been saved.", "ééé"];
    }

    @Html.ActionLink(test.Value, "List", "Admin", new { area = "OrchardCore.Contents" }))
    <a href="#">@test</a>

    <div attr1 ="@test" attr2="@test.Value">
        @test
        @test.Value
    </div>

    <a href="/Admin/Contents/ContentItems">Votre brouillon de {0} a &#xE9;t

[2019-12-06 23:41] hishamco commented on #4962
Thanks for the info @jtkech, seems I will write some unit tests for that, also I will look why the `{0}` still included in some cases

[2019-12-06 23:46] sebastienros commented on #4962
@jtkech not sure you are exposing the bug. Call `.Value` and assign it to a string variable (like the code does), then call `@` on this variable.

[2019-12-06 23:47] sebastienros commented on #4962
Or maybe you found another bug, for which I thought I had added specific unit tests.

[2019-12-07 00:51] jtkech commented on #4962
It is the same, here the main thing is that the based string is not encoded, only the passed args if any, i looked at the `LocalizedHtmlString` code that uses an `HtmlFormattableString` that internally uses an `EncodingFormatProvider` that seems to only encode arguments.

This allows to use `<h3>Some text with a {0} argument</h3>` where only the passed argument is encoded. I don't say it is good,

[2019-12-07 01:22] #3075 closed

[2019-12-07 10:51] dodyg commented on #4956
![work-now](https://user-images.githubusercontent.com/1761249/70373224-00088f00-18f0-11ea-930c-c16773740f18.png)

I restarted my computer and now it works. I didn't change a thing - still on version `1.0.0-rc1-10998`.             I am going to quit programming.

[2019-12-07 10:51] #4956 closed

[2019-12-07 11:37] LMSSonos commented on #4970
I just made following test, created a new CMS with the Agency templated, added Content Localization Feature and added Localization to the LandingPage. When I launch it in German on the top, where the Layout.liquid contains following code:

`<html lang="{{ Culture.Name }}">`

it outputs

`<html lang="en">`

expectaiton was that it outputs "de"

[2019-12-07 11:53] dodyg commented on #4955
Thanks for the tips. I've never used this before. I will do some reading.

[2019-12-07 12:00] dodyg commented on #4121
I just found out about `placement.json` (https://orchardcore.readthedocs.io/en/dev/docs/reference/core/Placement/) and Custom Settings (https://orchardcore.readthedocs.io/en/dev/docs/reference/modules/CustomSettings/)

[2019-12-07 13:06] dodyg commented on #4121
For Custom Settings, read [this](https://github.com/OrchardCMS/OrchardCore/issues/4265) to learn on how to access it from your layout.

Don't call the Content Type `Site Settings`, it won't work (I tried). I use `Site Options` to create settings for things like page size for blogs, etc.

[2019-12-07 13:31] aghili371 opened #4971 "blogPost next and previous navigation"
How can i have navigation in a blogpost? i need to get the previews and next post to create the navigation blogpost page.

[2019-12-07 15:23] dodyg commented on #4971
Can you please clarify? Are you referring to providing navigation on a blog (a list of blogposts)?

[2019-12-07 16:29] dodyg commented on #4121
[This is how you use localized strings on your template](https://github.com/OrchardCMS/OrchardCore/issues/4871).

Put your `PO` files at `Localizations` folder.

![localization-string](https://user-images.githubusercontent.com/1761249/70377657-825c7780-191f-11ea-96a6-b906c0cb28f3.png)

[2019-12-07 17:59] ns8482e opened #4972 "Calculated Field"
There are places where property is auto calculated.  Like Path property in AutoroutePart or Title in TitlePart but all these example I could find in source code  are for ContentPart.

Is there a way to have calculated Field for metadata content type?  For example,  In Admin UI, creating Person content type  with Name, BirthDate and Age, where Age could be calculated field based on BirthDate entere

[2019-12-07 18:14] deanmarcussen commented on #4972
Generally you have to make a field / content part that takes a liquid pattern to do this.

Then you can call `await _liquidTemplateManager.RenderAsync(pattern, NullEncoder.Default, templateContext);` in the driver.

But you could also do this on say a TextField or DateField by implementing an editor option, where you could render the pattern, and make the pattern based on other content. So calcula

[2019-12-07 18:17] deanmarcussen commented on #4955
@ns8482e post some screenshots of using the sidebar if you have some. I've not seen it before, although Seb thought I added it when I did tabs, but it was already there.

[2019-12-07 18:29] ns8482e commented on #4972
Liquid templates are great, but then I need to create custom part. Just wondering is there any other ootb option available ?

Can the field be calculated using workflow?

[2019-12-07 18:36] Skrypt commented on #4972
You can also use a ContentFieldHandler, a ContentPartHandler, a ContentHandler to alterate the data on UpdatingAsync.

[2019-12-07 18:43] ns8482e commented on #4972
Is there Handler for Field? I could not find any code with "ContentFieldHandler"

[2019-12-07 18:48] Skrypt commented on #4970
try with your url /?culture=de

[2019-12-07 19:55] ns8482e commented on #4955
Here is how I placed some fields on sidebar.

[code]

![placement-edit](https://user-images.githubusercontent.com/23270244/70379881-701b1300-18f8-11ea-91f4-ceab13ed4251.gif)

[2019-12-07 20:00] ns8482e commented on #4955
Only drawback is, sidebar is not visible for widgets if edited within Flow/Bag or Widget list

[2019-12-07 20:15] Skrypt commented on #4972
Maybe not. I was probably wrong :)

[2019-12-07 20:58] LMSSonos commented on #4970
@Skrypt remains still <html lang="en">

[2019-12-07 21:29] aghili371 commented on #4971
@dodyg i want in the blogpost page at the end of the page, have to links on to go to next blogpost and others to go to the previous blog post.
it keeps the user stay more on the website.

[2019-12-07 21:47] hishamco commented on #4971
It's there, please check the `Blog-ListPart.liquid`

[2019-12-07 21:47] #4971 closed

[2019-12-07 22:11] aghili371 commented on #4971
it is not what i want, this is the list of blogposts.

i need in showing the blogpost page, have 2 links to next and previous
![post](https://user-images.githubusercontent.com/24512878/70381216-d038a600-1946-11ea-8fee-960a8971a1a1.png)
 posts.

[2019-12-07 22:11] ns8482e commented on #4955
Tabs only work on `Parts` not on `Sidebar` or any other local zone

[2019-12-07 22:48] hishamco commented on #4971
I think you can do similar thing using liquid or Razor

[2019-12-08 04:39] hishamco commented on #4970
This should work, unless @jptissot override the default behavior or use some settings in the content localization module

I think I need to have a look ...

[2019-12-08 05:21] Skrypt commented on #4970
That's supposed to be the behavior of the Localization provider. If it doesn't work then you probably did not add the "de" culture in the culture list settings.

[2019-12-08 06:31] hishamco commented on #4970
May be

[2019-12-08 06:34] hishamco commented on #4970
@LMSSonos

[2019-12-08 06:35] hishamco commented on #4970
Sorry I close it accidentally

@LMSSonos please let us know if you add the Dutch culture from the localization settings before doing a further investigation on this

[2019-12-08 06:48] usloog opened #4974 "Markdown Table"
![image](https://user-images.githubusercontent.com/11717508/70386043-1e918780-19cf-11ea-8b15-26e0369a5da4.png)

Why?

[2019-12-08 09:14] aghili371 commented on #4971
i think it is not a good way to get the list and then find that, if we have a query to get the current content position, it will be faster.

[2019-12-08 09:33] LMSSonos commented on #4970
Steps to reproduce
1) Created new OrchardCMS v1.0.0-rc1-10004
2) Selecting Agency Theme (sqlite)
3) Admin > Configuration > Features > Enable content localization
![image](https://user-images.githubusercontent.com/19758451/70387323-3ef81c80-19a4-11ea-984c-9dc731c23c77.png)
4) Settings > Localization > Add culture
![image](https://user-images.githubusercontent.com/19758451/70387495-ec1f6480-19a5-11

[2019-12-08 11:17] JoshTango opened #4975 "Minify in vs2019"
I have made a copy of the agency theme in the source control and wish to modify it.
I noticed a gulpfile.
How am I suppose to regenerate the .min files?

Is there a recommended solution?  What are other people doing working on this project to regenerate the min files?

Was the agency.css.min file generated on someone's computer and then uploaded into the source control?

[2019-12-08 12:39] aghili371 commented on #4883
@sebastienros Please if you have a solution inform me.
i tested most versions before 1.0.0-rc1-10680 and those working fine. but the versions after this are not working.

i can not update to new versions and my project stopped. :(

this is the correct references which I'm using:

`<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup Label="Globals">
    <SccProjectName>SAK</SccProjectName>

[2019-12-08 13:11] hishamco commented on #4971
I think you can do that using query module

[2019-12-08 13:13] hishamco commented on #4970
Thanks for the details, try to set `de` as default culture by choose the radio button in step 4

[2019-12-08 13:16] dodyg commented on #4971
You can query `ContentItemIndex` for this.

[2019-12-08 13:52] aghili371 opened #4977 "Multi language web site"
I need to add another language to my web site.

i read this help :
https://orchardcore.readthedocs.io/en/dev/docs/reference/modules/ContentLocalization/

i added this code, but it doesn't show my cultures:

[code]

with this shape it shows the cultures :
	{% shape "ContentCulturePicker" %}

if i change the culture it shows the content for that culture but after going to another page it with the ch

[2019-12-08 14:09] dodyg commented on #4977
You can find my implementation notes here https://github.com/OrchardCMS/OrchardCore/issues/4121. It contains a lot of info regarding website implementation including multi lingual implementation.

[2019-12-08 14:13] dodyg commented on #4977
Further discussion about culture switching can be found here https://github.com/OrchardCMS/OrchardCore/issues/4594

[2019-12-08 14:39] aghili371 opened #4978 "Add localization in autorote"
how can i add the localization in the autoroute pattern?

i used this but it is wrong.

 {{ ContentItem.Content.Localization.Text | slugify }}/{{ ContentItem | container | display_text | slugify }}/{{ ContentItem | display_text | slugify }}

[2019-12-08 14:43] aghili371 commented on #4978
it solved by:
{{ContentItem.Content.LocalizationPart.Culture}}

[2019-12-08 14:43] #4978 closed

[2019-12-08 14:56] hishamco commented on #4975
Nooooooo,  you just need to `npm build`

[2019-12-08 15:08] hishamco commented on #4955
@ns8482e the work that you did is amazing, but IMHO we need to design a robust and flexible solution to let us redesign (rearrange) the admin UIs, I saw some CMS allow such feature, let me search again and confirm which it already have such this feature

[2019-12-08 15:14] hishamco commented on #4972
What about those they are like Razor?

[2019-12-08 15:34] hishamco commented on #4972
I'm not sure if we can have a notion of `CalculatedField` that allow us enter expression that will be calculated each time the content item is retrieved

[2019-12-08 15:43] JoshTango commented on #4975
No I generated a theme using the theme template, then I copied in the files from the agency theme
there is no package.json

[2019-12-08 15:46] hishamco commented on #4975
If you copy it from OC source, please copy `package.json` too

[2019-12-08 15:53] JoshTango commented on #4975
I did, its weird

[2019-12-08 15:54] JoshTango commented on #4975
I need time to fiddle with it

[2019-12-08 16:13] hishamco commented on #4975
@deanmarcussen is there a better way instead of copying the `package.json` ourselves?

[2019-12-08 16:14] JoshTango commented on #4975
it says it cant find the package.json

[2019-12-08 16:24] JoshTango commented on #4975
ok maybe I solved my minify problem byt downloading and using an extension
but I cant run the theme, I get errors

[2019-12-08 19:37] Skrypt commented on #4972
You can also look at Aspects as this is probably another alternative. Search for BodyAspect for example.

[2019-12-08 20:17] dodyg commented on #4121
You can perform bulk actions by selecting more than one items. If you just select one item, the "Action" dropdown won't be visible.

![perform](https://user-images.githubusercontent.com/1761249/70395546-7d272780-1a08-11ea-8e42-4007bb13e775.png)

[2019-12-08 21:19] jtkech commented on #4883
Okay, some view features now are set through an `IAsyncActionFilter` that also needs to be an `IAsyncPageFilter` when we are in the context of a `@page` as it seems you are.

Already fixed on my side, i will do a PR soon.

[2019-12-08 21:40] LMSSonos commented on #4970
description mentioned was with `de` as default, but now tested with `en` and behavior is the same. My confusion is, that the item localization is DE, but Config.Culture does not reflect that within the layout. So my initial question is (probably I was not clear) how do I access the content item localization form the liquid template like the AgencyTheme to get the right Culture or how do I make the

[2019-12-08 22:03] jtkech commented on #4970
Yes, there are different culture providers depending on the enabled features and with different priorities.

Try to enable the `OrchardCore.ContentLocalization.ContentCulturePicker` feature, it provides a culture picker shape for the frontend that you are not forced to use, but it also adds an `ContentRequestCultureProvider` that  sets the Culture of a request from the `LocalizationPart.Culture` p

[2019-12-08 22:05] hishamco commented on #4972
I saw it when I created the `CultureAspect` but how this related?

[2019-12-08 22:07] hishamco commented on #4970
That's why I ping Jean at the beginning, coz I'm sure he did something to override the default behavior

[2019-12-08 23:30] jptissot commented on #4970
Yes, what @jtkech  mentions is correct. Maybe we should split the ContentCulturePicker and the ContentRequestCultureProvider into two features.

[2019-12-09 01:25] jptissot opened #4980 "Invalid login no longer displays error message"
A login attempt with a username that does not exist results in a redirect to the same page but the "Invalid Login attempt" message is not being displayed.

[2019-12-09 01:37] jptissot commented on #4980
https://github.com/OrchardCMS/OrchardCore/blob/1a0f6d9c8059b8ad86ba50477e79147837316220/src/OrchardCore.Modules/OrchardCore.Users/Controllers/AccountController.cs#L200

This line needs to be moved out of the if

[2019-12-09 02:44] themattkenney commented on #4951
@Skrypt @sebastienros sorry I have been on vacation away from the cell and web and just getting caught up. @sebastienros I can get you a copy of the DB to reproduce. Any recommendations would be appreciated. We are working on ways to speed it up while still using the OC document table, but with only 4,000 records and running into issues, I am concerned for a large DB.

[2019-12-09 02:46] Skrypt commented on #4951
Large DB is relative here.

[2019-12-09 04:51] Skrypt commented on #4972
Well the BodyAspect is coming from a Field normally that should be the HtmlBodyPart or the MarkdownBodyPart but the BodyAspect can be a combination of both. So it is a "calculated" Aspect. In this case we have a AgeAspect calculated on BirthDate entered.

[2019-12-09 05:51] Skrypt commented on #4970
That same conversation happened a while ago. And we decided to not change the default behavior of the Localization Middleware which works fine. If you need to override it's behavior then you can do it in a custom module per your need. Activating the ContentCulturePicker on top of it should be fine enough for most people.

[2019-12-09 07:30] jagbarcelo commented on #4959
Correct me if I'm wrong, @Skrypt, but I think that the right behaviour for fontawesome is to automatically embed itself (with SVGs using AJAX) in the client-side (browser). At the server-side nothing should be done. We should have absolute control about the HTML code edit.

Maybe it is something about the WYSIWYG editor, which behaves itself as a client (browser), and hence the changes in the gene

[2019-12-09 07:56] stantoxt commented on #4949
1. Add OrchardCore.Users/Account/Login to a theme
2. Apply Login Using site theme for login page in Admin/Settings/LoginSettings
This will cause the localization problem.
![LoginLocalization](https://github.com/stantoxt/MarkdownResource/raw/master/pictures/addlogintotheme.png)

[2019-12-09 08:00] stantoxt opened #4981 "How to use Request.Cookies in liquid"
I can't use Request.Cookies.orchauth_Default like in docs. I have tried code like  {{ Request.Cookies.orchauth_Default }} , {{ Request.Cookies["orchauth_Default"] }}.
![liquidCookies](https://github.com/stantoxt/MarkdownResource/raw/master/pictures/liquidCookies.gif)

[2019-12-09 08:00] JoshTango opened #4982 "Guidance needed for copying theme"
We need guidance for generating a new theme using the templates and then copying over one of the theme in the Orchard Core Source.

I have tried this and it failed.

[2019-12-09 08:02] JoshTango commented on #4975
you can close this as I opened a new one here:

https://github.com/OrchardCMS/OrchardCore/issues/4982

[2019-12-09 08:02] #4975 closed

[2019-12-09 08:03] stantoxt commented on #4890
If it is the problem about supported os,I published it to windows server 2008 r2 which is not supported by .net core 3.

[2019-12-09 08:14] dodyg commented on #4982
Create a new project with this configuration

[code]

[2019-12-09 08:14] dodyg commented on #4982
Structure the project this way

![theme-1](https://user-images.githubusercontent.com/1761249/70418742-ada0ad00-1a6c-11ea-9f8a-db59f290f5a8.png)

[2019-12-09 08:15] dodyg commented on #4982
For `Manifest.cs`,

[code]

[2019-12-09 08:16] dodyg commented on #4982
For `Package.Build.props`,

[code]

[2019-12-09 08:18] dodyg commented on #4982
For `_ViewImports.cshtml`,

[code]

[2019-12-09 08:19] dodyg commented on #4982
For `Layout.liquid`,

[code]

[2019-12-09 08:20] dodyg commented on #4982
- Link this theme project with your Orchard Core project.
- You will see your theme listed at the Admin section.

[2019-12-09 08:22] dodyg commented on #4981
It could be a collection. Try `Request.Cookies.orchauth_Default.first` and see if it works.

[2019-12-09 08:27] hishamco commented on #4972
Got it, thanks for the clarification

[2019-12-09 08:40] stantoxt commented on #4981
This is also not working.

[2019-12-09 09:18] stantoxt commented on #4981
It didn't execute the code  `TemplateContext.GlobalMemberAccessStrategy.Register<IRequestCookieCollection, string>((cookies, name) => cookies[name]);`
in RequestLiquidTemplateEventHandler.
[code]

[2019-12-09 10:22] hishamco commented on #4981
@agriffard is there an issue in the docs?

[2019-12-09 10:24] mikoskinen opened #4983 "IExternalLoginEventHandler & UpdateRoles problem: RolesToAdd is readonly and can't be modified"
I'm trying to implement a custom IExternalLoginEventHandler. I would like to use the custom implementation to modify user roles after Azure AD login.

The problem is that UpdateRolesContext's RolesToAdd and RolesToRemove are readonly and of size 0, so it it seems that it isn't actually possible to modify user roles.

For now I'm going around the issue using reflection:

            var field = typ

[2019-12-09 10:27] hishamco commented on #4949
Why you added the OrchardCore.Users/Account/Login to the theme?

[2019-12-09 11:04] stantoxt commented on #4949
I have to cutomize the login page.

[2019-12-09 11:47] nuno-tiago-reis commented on #4753
Sorry, I've been away for a few days and only saw your questions today.

I'm running MySql, the only other error is listed below, regarding the Alias.
I tried creating a fresh installation and the error occurred as well.
I've attached the data export from the Orchard schema.

[code]

[Orchard.zip](https://github.com/OrchardCMS/OrchardCore/files/3939460/Orchard.zip)

Let me know if you need anythin

[2019-12-09 11:57] JoshTango commented on #4982
I generated a theme using the templates at the command line.
I copied over the wwwroot, views, and recipie folder from the source control.
I renmaed my theme in the manifest.
This si all I did.
I ran it and saw my theme in the admin section.
I enabled it.
Then when I went to my home page it failed on the home page.

[2019-12-09 11:59] JoshTango commented on #4982
You should copy the guidance you just gave into documentation for how to start a theme from scrath.
I am looking for how to use the template and then copying over from source control.

[2019-12-09 12:36] JoshTango commented on #4982
This is the error I get:

An unhandled exception occurred while processing the request.
InvalidOperationException: Could not find a resource of type 'script' named 'vendor-jquery' with version 'any.
OrchardCore.ResourceManagement.ResourceManager.DoGetRequiredResources(string resourceType) in ResourceManager.cs, line 370

[2019-12-09 12:40] JoshTango commented on #4982
there is no _viewimports int he source, I wonder if there is a parent theme issue at play? is the regular bootstrap theme a parent?  Does that play into things here?

[2019-12-09 12:54] deanmarcussen commented on #4982
You're missing the registration for the `ResourceManifest.cs` in the theme you're making's `Startup.cs`.

Copy the two files, startup, and resourcemanifiest, from whichever theme you're copying over to your new theme.

[2019-12-09 13:20] JoshTango commented on #4982
thank you that makes the theme work now, when I navigate to the home page I do not get the error anymore.

However not all of theme css is working, it appears to not style properly.

[2019-12-09 13:21] JoshTango commented on #4982
In fact it appears to be the layout part of the css is not working, the colors are working, its weird

[2019-12-09 13:24] JoshTango commented on #4982
just guessing but maybe its picking up the yellow from the agency theme css but not picking up the layout which is probably defined in the regular bootstrap theme, in other words the agency theme only includes the minimal modifications that differentiate it from the regular bootstrap?

[2019-12-09 13:30] JoshTango commented on #4982
umit could also be related to the minify extension I just used, it produced a bundleconfig.json, maybe I should remove that

[2019-12-09 13:33] JoshTango commented on #4982
nope the bundelconfig was not the issue

the issue seems to be it is "hanging" and waiting for more style files to download which never do

[2019-12-09 13:46] JoshTango commented on #4982
ok found the problem, I was right,.
I am getting 404 on all.css and boostrap-oc.css

[2019-12-09 15:23] deanmarcussen commented on #4753
ok, so to me it looks like the failure of one migration is causing the failure somewhere else.

and the problem is MySql being limited to the length of characters that can go into an index.

This covers probably the issue https://stackoverflow.com/questions/8746207/1071-specified-key-was-too-long-max-key-length-is-1000-bytes

that MySql won't take an index length of the 1000 characters that the al

[2019-12-09 15:33] hishamco commented on #4949
I see, let me check if I have a time ...

[2019-12-09 15:40] hishamco commented on #4983
Why you didn't use `UserRoles`

@MichaelPetrinolis why the properties `RolesToAdd` and `RolesToRemove` are readonly with size 0?

[2019-12-09 16:11] mikoskinen commented on #4983
@hishamco I checked the AccountController's ExternalLoginSignInAsync and it seems that modifying UserRoles doesn't work. But I have to admit that I didn't try using it.

Here's how AccountController executes the IExternalLoginEventHandlers:

                foreach (var item in _externalLoginHandlers)
                {
                    try
                    {
                        await ite

[2019-12-09 17:27] PiemP opened #4985 "Admin Site - Specific content type list, allow only new content item of the selected type"
Hi everyone,

I have created a custom Admin Menu with some nodes dedicated to list a specific content type: like Admin Menu interfaces allow to do.

My issue is related about the fact that when i click over the Admin Menu node dedicated to a specific content type it send me to a page where is listed all the items related to this content type but the "New" button allow me to create every content ty

[2019-12-09 17:43] ns8482e commented on #1907
Related #4955

[2019-12-09 18:38] stantoxt commented on #4949
thanks @hishamco

[2019-12-09 19:28] aghili371 commented on #4977
@dodyg i followed the topics, but it doesn't work. i think it needs better documentation.

[2019-12-09 19:46] JoshTango commented on #4982
ok solved it, I also had to run the new recipe in my new theme
now all appears fine

[2019-12-09 20:05] LMSSonos commented on #4970
@jtkech Thanks for this hint, i added the feature and the Culture is now as I would have expected it.  So for me it solves as workaround.

@Skrypt I fully agree and was the behavior I expected

[2019-12-09 20:21] MichaelPetrinolis commented on #4983
Hi, @hishamco, it is a bug. I tested the script based scenario and did not see that those properties where readonly. @mikoskinen the handler should inspect current roles (UserRoles property) and based on the received claims should set the rolesToAdd and rolesToRemove. If multiple handlers are set up (which should not be the case), one could also inspect those properties set by other handlers to de

[2019-12-09 20:36] aghili371 commented on #4594
I'm using 		{% shape "ContentCulturePicker" %}.
is it using a cookie to save the culture?  it looks didn't save the cookie.

[2019-12-09 20:49] JoshTango opened #4986 "Improvement needed: theme manifest file variable needed"
In the theme manifest file for example using the Agency theme is this line:
    .SetUrl("~/TheAgencyTheme/vendor/jquery/jquery.min.js", "~/TheAgencyTheme/vendor/jquery/jquery.js")

The string "TheAgencyTheme" gets repeated many times.

Please create a variable for this string and reference the variable in all the lines of code.

[2019-12-09 20:56] aghili371 opened #4987 "get permission to save cookie in user browser"
Regarding European roles, the user should accept save a cookie in his browser.

is orchard save a cookie in user browser?
i have seen this message in the orchard before but it looks doesn't exist.

please if it is necessary to use, inform me where i can find this script?

[2019-12-09 21:13] aghili371 commented on #4121
how can i use menu?
 	 {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_expires_after: "00:00:01", cache_tag: "alias:main-menu" %}

i have alias main-menu-en for English version.

[2019-12-09 21:38] JoshTango opened #4988 "Possible Design Bug: reserved word needed for prefix"
While looking at the mainifest file for a theme i noticed there was no prefix word used before all the css and javascript files. For example the agency theme just uses "TheAgencyTheme" right off the root fo the website.

Maybe look at Drupal or some other site and see how they handle the routes of the theme files.

I also have a similar issue open here:
https://github.com/OrchardCMS/OrchardCore/is

[2019-12-09 22:01] jtkech commented on #4983
For database documents that are cached, we introduced a new `Load / Get` pattern, the related services exposing the 2 methods. When we `Get` a document from the tenant level cache, to be thread safe it is marked as readonly. For updating in a given scope we need to `Load` an isolated document.

This is the case for `RoleStore` that uses an `IMemoryCache`.

The problem is when a mutation go through

[2019-12-09 23:11] hishamco commented on #4977
Thanks @dodyg for your reply, hope to add some of your notes to the docs if it's possible

@aghili371 what exactly doesn't work with you?

[2019-12-09 23:12] jtkech commented on #4949
I think because in the related .po file the translations are tied to the users module. Maybe we could be more global for this kind of translations and / or when there are used in razor files that may be overridden.

    #. <h4>@T["Use a local account to log in."]</h4>
    #: OrchardCore.Users\Views\Account\Login.cshtml:21
    msgctxt "OrchardCore.Users.Views.Account.Login" <== this line
    msgid

[2019-12-09 23:19] hishamco commented on #4986
Make sense

[2019-12-09 23:21] hishamco commented on #4988
Yep, there's no prefix, but how this may help or make things easier?

[2019-12-09 23:24] hishamco commented on #4987
If am not wrong I already filed an issue long time back about cookies consent

I will search for it because this is a duplicate

[2019-12-09 23:28] hishamco commented on #4949
@jtkech the views will be overriden but I don't think the localization, furthermore the localization context still read the original resources

Correct me if I'm wrong?

[2019-12-09 23:30] #4842 closed

[2019-12-09 23:31] hishamco commented on #4594
@aghili371 please check there is a settings in the content localization module

[2019-12-09 23:32] jtkech commented on #4949
Not sure but if you explicitly tie it to a view `"OrchardCore.Users.Views.Account.Login"`

[2019-12-09 23:33] hishamco commented on #4949
Exactly, I need to check many localization scenarios after installing VS 16.4

[2019-12-09 23:35] jtkech commented on #4981
Hmm, i think because the access strategy is done on the `IRequestCookieCollection` interface, would need to be on `RequestCookieCollection` that is an internal class. I will take a look.

[2019-12-09 23:43] JoshTango commented on #4988
well you could create a name collision with a route someone wans to use.
Imagine someone invented a theme called Blog.
well this could create a name collision for blog entries.

[2019-12-09 23:51] hishamco commented on #4988
The collision and overriden may happen if both styles in the same folder

Did you try to create two tenants with the same theme, for instance Agency theme, also you could add a custom one

[2019-12-09 23:52] hishamco commented on #4988
Perhaps you are right, but we need a steps to reproduce the issue if there's

[2019-12-09 23:55] hishamco commented on #4983
After I looked to the update I stopped to say anything 😄

[2019-12-09 23:56] JoshTango commented on #4988
I personally have no issue, I am thinking from a architects perspective.
First thing architect done is look for guidance or look at compittion
What does drupal do?

[2019-12-10 00:01] hishamco commented on #4988
The prefix is useful for many scenarios, one of them is database tables, OC allow use to provide a table prefix in case more than one tenant can use the same database

Regarding the themes in Drupal I don't have a look while I know Drupal little bit, but sure for a reason

[2019-12-10 00:02] hishamco commented on #4988
For that I will close this one, but you could have a try and if there's an issue feel free to open a new issue or comment here

[2019-12-10 00:02] #4988 closed

[2019-12-10 00:07] jtkech commented on #4988
A theme (or a module) static file `~/MyTheme/SomeScript.js` is served from the virtual path `Areas/MyTheme/wwwroot/SomeScript.js`.

`MyTheme` is the theme = area = assembly name and most of the time = project name. And we can't have 2 themes / areas / ... with the same name.

[2019-12-10 00:16] hishamco commented on #4982
Thanks @dodyg for your explanation, it will be handy if you contributed to the docs if you have time

@JoshTango seems your problem is solved, so I will close this one

[2019-12-10 00:16] #4982 closed

[2019-12-10 00:27] hishamco commented on #4987
Duplicate of #3580, I think I will start on this before 1.0

[2019-12-10 00:27] #4987 closed

[2019-12-10 00:31] JoshTango commented on #4988
I wasn't worried about 2 themes with same name.
I was just wondering if there should be some common name off of the root path called styles or css or something like that but whatever

[2019-12-10 00:32] jtkech commented on #4981
Okay fixed, i will do a PR soon.

![Cookies](https://user-images.githubusercontent.com/8586360/70484679-e41e0c80-1aec-11ea-8175-ec5b0e1df65c.png)

[2019-12-10 01:06] jtkech commented on #4988
Oups, sorry if i misunderstood the concern ;)

Hmm, maybe you are thinking about a static file under your app wwwroot folder e.g

    wwwroot/MyTheme/SomeScript.js

That would be also served from `~/MyTheme/SomeScript.js`

As i remember, in this case the one under the app wwwroot folder will be served because the app static file provider has an higher priority than the static file provider that se

[2019-12-10 01:43] #4981 closed

[2019-12-10 01:44] #4889 closed

[2019-12-10 01:48] hishamco commented on #4988
You 're right

[2019-12-10 02:06] hishamco commented on #4974
Seems you forgot a line break at the first line, I prefer to check markdown docs

[2019-12-10 02:53] hishamco opened #4991 "Create programmable MSBuild Tasks"
@jtkech I'm thinking to introduce programmable MSBuild tasks that will be useful for various reasons, such as:

- Copy Translations files

- Cleanup files

- or anything you may think of

I knew we can do that in `.csproj` files, be here we can have a benefit of test ability, readability, productivity, flexibility .. etc

[2019-12-10 03:17] themattkenney commented on #4951
@Skrypt and @sebastienros  you should both have access to a private repo to see what we are experiencing.

[2019-12-10 03:53] jtkech commented on #4991
yes good idea

[2019-12-10 05:05] hishamco commented on #4949
@stantoxt how OrchardCore.Users views work with you? I got **'Microsoft.NET.Sdk.Razor' SDK is required on Themes and Modules for Razor files to be precompiled.** error during build

[2019-12-10 06:57] MatthijsKrempel commented on #4842
Awesome!

[2019-12-10 07:10] dodyg commented on #4977
Feel free to repackage anything I've written.

[2019-12-10 07:11] dodyg commented on #4121
[code]

[2019-12-10 07:13] Skrypt commented on #4951
I'll have some time more like this week-end.

[2019-12-10 07:20] MatthijsKrempel opened #4993 "Breaking AspNetCore change handling SameSite.None cookies"
Since https://github.com/aspnet/Announcements/issues/390 certain external tools are not yet compliant, that means that they can't authenticate with OpenIdConnect.
I suggest removing the code, since this reverts it back to undefined.
We will have to look into this into more detail.

cc; @PinpointTownes

[2019-12-10 07:23] dodyg commented on #4594
@aghili371  `switch_culture_url` filter will take care of the switching of the language

[code]

This https://github.com/OrchardCMS/OrchardCore/issues/4594#issuecomment-545873079 will give you a list of supported cultures in your installation enabled by the content localization module

`{{ Culture.Name }}` will give you the current culture code e.g. `en-US`.

`{{ Culture.Dir }}``` will give you `r

[2019-12-10 07:29] dodyg commented on #4594
[code]

This roughly will give you a list of supported cultures in your installation and a way to switch to that culture. You can customize it to a dropdown list, etc.

The problem right now is that there is no way to a human readable culture name from a culture code. The way around it is to have the culture code inside your localized string table (https://github.com/OrchardCMS/OrchardCore/issues/

[2019-12-10 11:13] mawendel opened #4995 "Workflow Task: Bind Form Model State not working"
The documentet task:
http://docs.orchardcore.net/en/dev/docs/reference/modules/Forms/#fixing-the-lost-field-values-issue

Seems to not be working in the dev branch.

Easy replication:
I've tried creating a new tenant with the "Coming Soon" recipe. Here the email input is supposed to be bound and refilled on errors , but it gets reset instead.

[2019-12-10 12:42] JoshTango commented on #4988
in drupal they use /themes/ off of the root
so in drupal it would be www.mysite/themes/theagencytheme/whatever.css

[2019-12-10 12:52] JoelOnGithub commented on #4695
@sebastienros the tutorial still states that the user should use `OrchardCore.Application.Cms.Core.Targets`.

Either tell the user to use `OrchardCore.Application.Cms.Targets`, or add steps to include a blank recipe.

Now the user will encounter the first error.

[2019-12-10 14:13] agriffard commented on #2403
http://docs.orchardcore.net/en/dev/docs/reference/modules/Scripting/#methods

Variables and Parameters still need to be documented.

[2019-12-10 15:06] hishamco commented on #4988
Every CMS has it's own design goals

[2019-12-10 15:10] hishamco commented on #2403
If the intend of this code documentation, I already started to document some projects some PRs are still not merged, but I will continue into to document other projects

[2019-12-10 15:14] hishamco commented on #4977
I mean hope you add some of your notes in the docs 😊

[2019-12-10 15:22] JoshTango commented on #4988
um while true, I think this is important

[2019-12-10 15:26] hishamco commented on #4988
I need you to differentiate between a tenant has it's own theme and websites that have multiple themes and one is selected

[2019-12-10 15:27] JoshTango commented on #4988
not sure precisely what you are asking.
A tenant could not be called theme.
each tenant would have a theme sub folder for its theme

[2019-12-10 15:35] hishamco commented on #4988
I mean OC doesn't need to have a themes folder unless it supports more than one theme

[2019-12-10 15:36] JoshTango commented on #4988
This issue was only related to the collision aspect and nothing else

[2019-12-10 15:40] hishamco commented on #4988
As we talked earlier there's no collision, so feel free filed an issue if you can reproduce a collision issue

[2019-12-10 15:42] stantoxt opened #4996 "How to detect current page is homepage in liquid"
I want to detect that if current page is homepage in layout.I want to use request.path equal "/" in layout. Is there any liquid value out of box?

[2019-12-10 15:47] JoshTango commented on #4988
well I think its best to have"
www.mysite.com/themes/theagencytheme

this is regardless if it supports multiple themes or not

[2019-12-10 15:51] stantoxt opened #4997 "How to use angular to create ContentItem?"
I want to create a angular project to just create contentItems.Can oc team give some idea?I think the default creation of contentitem is difficult to understand by customer or editor who just need create or edit a contentitem.

[2019-12-10 16:02] DariuS231 commented on #4957
It keeps failing on my solution. I will assume it has to do with my code and not Orchard Core. WIll close this issue then.

[2019-12-10 16:02] #4957 closed

[2019-12-10 16:04] hishamco commented on #4988
Disagree. Not necessarily to add it into the route to support multiple themes

[2019-12-10 16:11] stantoxt commented on #4949
@hishamco do you change <Project Sdk="Microsoft.NET.Sdk"> to <Project Sdk="Microsoft.NET.Sdk.Razor"> ?

[2019-12-10 16:15] hishamco commented on #4949
Nope, just copy the login view and `_ViewImports.cshtml`

[2019-12-10 16:15] DariuS231 opened #4998 "Feature request: New settings for media file picker to filter files"
It would be nice to have a setting for the Media Field to filter files.

e.g.: only allow "image/png, image/jpeg" files. will translate into:

[code]

[2019-12-10 16:18] hishamco commented on #4998
I think it was there, but removed for a reason

/cc @deanmarcussen

[2019-12-10 16:28] JoshTango commented on #4988
I think my point is lost

[2019-12-10 18:41] sebastienros commented on #4996
Does it solve your question? https://orchardcore.readthedocs.io/en/dev/docs/reference/modules/Liquid/#request

`Request.Path`

[2019-12-10 19:16] #4883 closed

[2019-12-10 19:46] sebastienros commented on #4121
@dodyg @aghili371  and the cache id and the cache tag

[2019-12-10 19:53] aghili371 opened #4999 "Disappear Admin Menu navigation in print"
i think if add  Disappear class to the admin menu in print, I will be more useful.

![print](https://user-images.githubusercontent.com/24512878/70563760-18e2a000-1b8f-11ea-887f-8f9c590b27fc.JPG)

[2019-12-10 19:59] aghili371 commented on #4977
i think it doesn't save the current language. after running in next time, it doesn't know the selected language.

[2019-12-10 20:09] hishamco commented on #4977
Do you mean the current cultures picker?

[2019-12-10 20:15] aghili371 opened #5001 "Media library crash With several subfolders"
i have a folder with more than 5000 subfolders. if i click on this folder, the website will stop. next time if i open media files, the selected folder will be that folder and the site crash again.

i think the tree sidebar is not a good solution to show the folders. it's better to show folder inside the content panel and doing pagination to show few folders every time or doing lazy loading to load

[2019-12-10 20:16] hishamco commented on #4999
Make sense

[2019-12-10 21:05] urbanit opened #5003 "Create Template "Save and Continue" should redirect to Edit Template"
Steps to reproduce:
1. Templates --> Add New
2. Type Name and press "Save and Continue"
3. Repress "Save and Continue" tries to recreate template

After step 2, should redirect to Edit Template form.

[2019-12-10 21:11] urbanit opened #5004 "Liquid style/script notation does not work inside Admin Templates"
Steps to reproduce:
1. Add new template from UI(same as Layout.liquid file) inluding style/script notations like ```{% style name:"vendor-font-awesome", version:"5" %}```
2. Add a new content template based on previous
3. Render the content -> Empty lines where style/scripts should exist.

[2019-12-10 22:53] Skrypt commented on #4999
You can create a different CSS style that will be applied on print.

`<STYLE TYPE="text/css" MEDIA="print">`

[2019-12-11 00:33] ns8482e opened #5006 "How to assign DisplayText to a Field for metadata content type when TitlePart is not used?"
I have created a Contact content type with Name and Phone# field using Admin UI ,  I am not using TitlePart for the content type. On list page all records shows as "Contact".

How do I  assign "Name"  to be a DisplayText for content item?

![image](https://user-images.githubusercontent.com/23270244/70581013-5806f600-1b7b-11ea-9db3-60e8c5702bfe.png)

[2019-12-11 00:46] sebastienros commented on #5006
We did a feature for this recently. It might be on the TitlePart settings, you can provide a custom template. And also hide the Title editor so that you can't even change it manually.

[2019-12-11 00:48] sebastienros commented on #5006
I just confirmed it.

[2019-12-11 00:48] #5006 closed

[2019-12-11 00:50] hishamco commented on #4999
Exactly

[2019-12-11 01:02] ns8482e commented on #5006
So there is no OOTB  way to show DisplayText without using TitlePart?

[2019-12-11 01:04] sebastienros commented on #5006
You don't "show" DisplayText, it's a value that has to be assigned to a content item. And we chose TitlePart to do it. But in your case it doesn't have to show an editor, just go in the setting and set which property should be copied to the DisplayText.

[2019-12-11 01:20] #4647 closed

[2019-12-11 01:21] #4163 closed

[2019-12-11 01:21] #2779 closed

[2019-12-11 01:21] #1329 closed

[2019-12-11 02:04] OlziiNaran opened #5007 "Create custom Taxonomy part"
Q:
1. I create a custom taxonomy part，called mkTaxonomy.
![TIM截图20191211095816](https://user-images.githubusercontent.com/39524174/70584653-ca6bea80-1bfc-11ea-875c-400657e586ec.jpg)
2. I Need nest taxonomy. Added taxonomy Field.
![TIM截图20191211100020](https://user-images.githubusercontent.com/39524174/70584754-10c14980-1bfd-11ea-924c-7491e11933b1.jpg)
3. But new Taxonomy Failed.
![TIM截图20191211100

[2019-12-11 02:35] ns8482e commented on #5006
Understood...  However I am still wonder why not have the DisplayText pattern available directly on ContentTypeSettingsViewModel and completely remove dependency on TitlePart?

[2019-12-11 03:00] stantoxt commented on #4996
I can use {%if Request.Path="/"  %} in layout,but is there any  {%if CurrentPage.IsHome  %}  liquid syntax and I don't if this is the best way to judge currentpage is homepage.

[2019-12-11 03:10] stantoxt commented on #4997
Is this possible create customized contentItem page to submit json formatted contentitem using ajax.

[2019-12-11 03:40] chinasqzl commented on #4965
Adding a new Edit Option to Taxonomy Field doesn't work. Such as:
TaxonomyField-TreeSelect.Option.cshtml  @deanmarcussen

[2019-12-11 07:01] dodyg commented on #5007
You can already create hierarchy of your taxonomy terms.

1. Create a taxonomy.
2. Select one or more Content Item as term(s).
3. Add your terms and organize them via drag and drop.

[2019-12-11 07:04] dodyg commented on #5001
Are you running on SSD?

[2019-12-11 07:07] dodyg commented on #4977
@aghili371 check this https://github.com/OrchardCMS/OrchardCore/issues/4594#issuecomment-563903664

[2019-12-11 09:00] dodyg commented on #4996
Yea `{% if Request.Path == "/" %}` will do the trick.

[2019-12-11 09:27] MatthijsKrempel opened #5009 "User search only works with uppercase"
When you use the OpenId module and you have a lot of users, search is a key feature.
Currently the search works against the normalized email and username and does a string.Contains.
The normalized fields are uppercase, so no match is found.

[2019-12-11 11:21] stantoxt commented on #4996
@dodyg thanks

[2019-12-11 14:54] #4996 closed

[2019-12-11 15:01] K-Bains opened #5011 "Bypass Setup Page via Code"
Q: is it possible to bypass the setup page and add the details via code? im hoping i can set up my site without any user interaction.

[2019-12-11 15:01] hishamco commented on #5001
/cc @matiasmolleja

[2019-12-11 15:03] hishamco commented on #5011
I think @MatthijsKrempel pointed to that before

[2019-12-11 15:05] hishamco commented on #4997
/cc @jrestall

[2019-12-11 15:11] agriffard commented on #5011
See #4567 but not sure it is related.

[2019-12-11 15:13] hishamco commented on #5011
Exactly

[2019-12-11 15:22] OlziiNaran commented on #5007
Okey, Thank you.

[2019-12-11 15:54] hishamco commented on #5007
@OlziiNaran please close this if your question is answered

[2019-12-11 15:56] #5007 closed

[2019-12-11 15:56] #4660 closed

[2019-12-11 17:33] JoshTango opened #5012 "ResourceManifest.cs question for theme copy"
I have generated a new theme using the templates.
Then I copied over the Agency theme files from the source control including the manifest resource files.
My natural instinct was to go into the ResouirceManifest.cs and change all the "TheAgencyTheme" strings into the name of my new theme.
It doesn't work though.
Is this because its borrowing the theme files from another module?
Hhow should I confi

[2019-12-11 18:06] deanmarcussen commented on #4965
Adding custom editors does work, but there are some fixes for it in the tags branch, and may have to rework those tweaks a bit further.

At the moment the normal editor will show as well, as any other editor option.

[2019-12-11 18:19] deanmarcussen commented on #4997
You would use the OpenId module to provide authentication for you angular app, and the Workflow ContentCreateTask would provide a good endpoint to submit the data from you angular app.

The workflow Content Create Task takes json, so suits angular

[2019-12-11 18:21] deanmarcussen commented on #5012
You should do eactly what you say you have done.

Adjust the `.SetUrl` property to point to your new theme.
and make sure the files you are pointing to exist in your new theme.

These questions better suited to gitter https://gitter.im/OrchardCMS/OrchardCore

[2019-12-11 18:21] #5012 closed

[2019-12-11 18:25] deanmarcussen commented on #4998
There isn't a setting for the field as such.

Instead we use an `AllowedFileExtensions` setting for the media app, allowing you to change which files can be uploaded to the media app.

See the end of this doc.
https://orchardcore.readthedocs.io/en/dev/docs/reference/modules/Media/

The MediaField could have a custom editor option to restrict a particular field to specific files only, but I think t

[2019-12-11 18:31] #4980 closed

[2019-12-11 18:31] #4983 closed

[2019-12-11 19:15] hishamco commented on #4998
@DariuS231 seems this answer your question

[2019-12-11 20:09] K-Bains commented on #5011
Thank you very much hopefully this will get merged soon.

[2019-12-11 20:09] #5011 closed

[2019-12-11 20:23] DariuS231 commented on #4998
@hishamco @deanmarcussen Not really, I was aware of `AllowedFileExtensions` but that is not what I was talking about.

What I meant was to limit the media file to only accept the specified type of files.

e.g.: Only allow users from uploading .gif files. they wouldn't be able to select it or if they drag and drop, they would see an error message.

[2019-12-11 20:30] hishamco commented on #4998
`AllowedFileExtensions` will allow you to do such this

[2019-12-11 20:35] DariuS231 commented on #4998
but in a global context, What about a particular field? I want other field to accept all kinds of files.

[2019-12-11 20:43] hishamco commented on #4998
Frankly I didn't try it, so I will reopen this again

[2019-12-11 20:47] sebastienros commented on #4998
The requirement makes sense. Could be a setting for the default editor.

[2019-12-11 20:53] hishamco commented on #4998
What if we use `AllowedFileExtensions` directly in the media field?

[2019-12-11 20:56] jptissot opened #5013 "Username length limit"
We should support setting a max length for usernames.

[2019-12-11 21:05] hishamco commented on #5013
Is the current length not suitable? Are there some scenarios where setting max length are useful?

You're suggestion about the max length?

[2019-12-11 23:45] vector-man opened #5015 "Question: transactions?"
How does Orchard Core handle transactions when querying? I need to limit entries into a game, so I need transactions to prevent duplicate or too many entries.

[2019-12-11 23:51] hishamco commented on #5015
Have a look to this sample https://github.com/sebastienros/yessql/blob/de07b2237c14efd1630b35eb6e6ade962902d6cd/samples/YesSql.Samples.Gating/Program.cs#L60-L73

[2019-12-12 03:27] stantoxt commented on #4997
@deanmarcussen thanks, I will have a try.

[2019-12-12 06:15] mikoskinen opened #5016 "The admin site randomly stops working: AdminMenuFilter causing Microsoft.CSharp.RuntimeBinder.RuntimeBinderException?"
We're running Orchard Core CMS on Azure App Service and we've now encountered the same issue few times: The admin-side of the site stops randomly working. The site itself still continues to work OK, but when we try to access /admin, we get an exception. After restarting the App Service, everything again works.

This is what we can see in the logs:

[code]

The stacktrace seems to point into these

[2019-12-12 09:05] chinasqzl commented on #4974
![image](https://user-images.githubusercontent.com/16968103/70697890-58c99480-1d01-11ea-854e-6d3ae4555c94.png)
![image](https://user-images.githubusercontent.com/16968103/70697956-73037280-1d01-11ea-862a-20922764889b.png)
![image](https://user-images.githubusercontent.com/16968103/70697983-844c7f00-1d01-11ea-9505-976b870d29df.png)
![image](https://user-images.githubusercontent.com/16968103/7069801

[2019-12-12 09:09] dodyg opened #5017 "How to replace an existing fluid filter"
`markdownify` filter doesn't support pipe table so I am trying to replace it with a markdig configuration

At first try, I introduce a new tag `markdownify2`. It works fine but it is annoying.
[code]

So now I am trying to replace the existing `markdownify`
[code]

[code]

This doesn't work because `if (options.FilterRegistrations.ContainsKey(name))` is always false because `options.FilterRegistra

[2019-12-12 10:01] dodyg commented on #4974
`markdownify` doesn't support markdown table. I had to add an extra filter `markdownify2` (https://github.com/OrchardCMS/OrchardCore/issues/5017)

[2019-12-12 10:05] arkadiuszwojcik commented on #4974
closely related: #3846

[2019-12-12 10:58] hishamco opened #5018 "OC shows a gregorian date and ignore the current culture"
This one from gitter  by @ampadashi

[2019-12-12 11:51] DariuS231 commented on #4998
That would imply a setting entry per file field would be required in the config file. Wouldn't that be awkward?

[2019-12-12 11:52] DariuS231 commented on #4998
What I had in mind was to add a new setting to the field editor and will then render the File Input accordingly.

[2019-12-12 12:15] hishamco commented on #4998
That's what Seb suggested above

[2019-12-12 12:17] hishamco commented on #4931
@jtkech another wired behavior I notice yesterday is whenever you add custom translations it will be overriden in each build

[2019-12-12 12:17] deanmarcussen commented on #4998
Yes exactly that @DariuS231

It would be a setting on the field and as a default setting is probably best as it would then work for both normal media field and attached.

Two settings. One bool restrict file types. The next a select for which file types to accept. The vue multiselect editor would give good for this. It should take it’s possible values from the AllowedFileExtensions

[2019-12-12 12:19] hishamco commented on #4998
I think by setting the `AllowedFileExtensions to accept property will restrict the file types

[2019-12-12 12:23] hishamco opened #5019 "Content Types Admin UI Extensibility"
After years from dealing and working with various types of CMSs, each one has it's own features, here I'd like to share some thoughts and peeks about some of the extensibility points for content types admin UI

## 1. Pages

This first extensibility point is allow developer to customize the content type pages, this could be done by two ways:

### 1.1 Override Templates

We could have a templates fo

[2019-12-12 14:50] miguelhasse commented on #2966
How about having a Blazor version of Orchard Core's back-office. It would also be nice to have a Blazor Component to render liquid pages.

[2019-12-12 16:01] papyr opened #5021 "Developer friendly modular widgets for data visualization"
In this day and age you have to be more developer friendly.

_Many new trends are forcing people to re-evaluate the use of Orchard as a CMS_, while others implement, widgets and dashboards for e.g. via Tableau, Power BI etc.

We are clearly not that segment, but what is preventing us from implementing support for easy data visualization, or drag drop widgets.

Its also fairly hard to learn and dev

[2019-12-12 16:06] papyr commented on #2246
Hello there, I saw this was being tracked.

Team this is _not just for the Admin_, **we are requesting/talking about Data/Graphical Widgets Content Types for users, managers as well for Front End and logged in users.**

It does not seem like the Orchard team is listening or understanding the user/developer requests!

Please allow use to add develop and add widgets to the front end!

[2019-12-12 16:49] devlife commented on #4892
I do not get any errors when logged in with local credentials. Let me try creating one with google credentials.

[2019-12-12 17:33] ns8482e commented on #5017
@dodyg Look  at following to see what AddLiquidFilter is doing. https://github.com/OrchardCMS/OrchardCore/blob/d729a2048a4390380d99e7be9f7968ff8f8e9271/src/OrchardCore/OrchardCore.Liquid.Abstractions/ServiceExtensions.cs#L7

It configures `LiquidOptions ` and `AddScoped` service

Try to replace existing service with your own in your module -  and replace LiquidOptions

[2019-12-12 17:51] Skrypt commented on #5016
I've had this issue in the past and I ended up disabling the Layout module and use templates to integrate my zones directly. This is a known issue.

[2019-12-12 18:06] deanmarcussen commented on #5016
is it possible the `_layoutAccessor.GetLayoutAsync()` needs a lock to prevent reentry when it's null and still getting the layout?

/cc @jtkech

[2019-12-12 18:22] sebastienros commented on #5016
Not the first time this issue is reported ... taking another quick look based on @deanmarcussen 's suggestion

[2019-12-12 18:26] deanmarcussen commented on #5016
this one isn't related to the layers module, but @Skrypt and @johnrom have also reported similar issues on https://github.com/OrchardCMS/OrchardCore/issues/3790 but relating to the layers module.

Wonder if it's related, however as it all seems to be about getting the layout accessor.

[2019-12-12 18:36] sebastienros commented on #5016
@mikoskinen what version are you using?

[2019-12-12 19:24] mikoskinen commented on #5016
@sebastienros 1.0.0-rc1-11022.

[2019-12-12 19:32] hishamco commented on #2246
Who said that, the team always listening to the feedback, features .. etc, but I'd like you to know there 're some priorities moreover there 're many things may not align the current roadmap, but nothing stop you to implement this yourself, don't forget the project is from community to community

Don't forget even if you develop such module or feature and not shipped in the core project, it could

[2019-12-12 19:35] hishamco commented on #2966
I like the idea, but not all of us like Blazor, some prefer Razor, AngularJS .. etc

[2019-12-12 19:46] sebastienros commented on #5016
I found nothing that could explain this. Could you add some null checks to narrow down what is happening. Like on layout.Navigation, and also why it goes on line 78 of the filter.

I created a PR based on my review here: https://github.com/OrchardCMS/OrchardCore/pull/5022
It would throw if the layou is null, but I don't it's this. I think it's Layout.Navigation. This property should be created on

[2019-12-12 19:58] sebastienros commented on #2246
@papyr this is a very interesting scenario, and I have helped several companies implement his with or without Orchard. However there are two things to take into account:
- every customer wants different features
- we need to focus on what matters for most users

So right now the front-end feature is not on the roadmap for these two reasons. But OC provides many services that should make it easy to

[2019-12-12 20:13] sebastienros commented on #5017
AddLiquidFilter should be able to replace an existing named filter. If it doesn't then we can change it.

[2019-12-12 20:16] sebastienros commented on #5021
Looks like a vertical module that could be built with custom front-end widget to render data. But right now it's out of scope as it's too much work. I'd suggest you start working on that if you need it.

[2019-12-12 20:22] sebastienros commented on #4931
a mitigation is to name your files differently than the ones that are copied from external modules.

Here are all the locations that are supported by default:
https://docs.orchardcore.net/en/dev/docs/reference/modules/Localize/#po-files-locations

And custom ones can be added.

I would suggest you put your file in `/Localization` using this pattern: `/Localization/[CultureName].po`. As the built-i

[2019-12-12 20:24] sebastienros commented on #5018
Did you explicitly set the default culture to fa-IR, otherwise it will take the system's one.
What "host" are you using?

[2019-12-12 20:26] sebastienros commented on #4974
We need to add this by default I assume, and optionally to provide a way to extend the markdig options by creating a custom editor that would expose most MarkDig options: https://github.com/lunet-io/markdig

[2019-12-12 20:27] #4997 closed

[2019-12-12 20:30] sebastienros commented on #5015
The default database access uses `ISession` which uses a single transaction for a request (unless others are started explicitly).

To prevent duplicates you can just call `session.Cancel()` if you find another "game" with the same properties. You could also create a custom UPDATE statement with a WHERE clause that matches the existing entry.

For limiting the number of entries, I don't think trans

[2019-12-12 20:30] #5015 closed

[2019-12-12 20:34] sebastienros commented on #5013
We can only set the same limit as the database one right now. IdentityOptions doesn't have this.
Can you provide repro steps for the issue you saw with big usernames?

[2019-12-12 20:35] sebastienros commented on #4965
Yes, please fix the current editor.

[2019-12-12 20:36] sebastienros opened #5023 "Create a guide to configure password settings"
Like http://www.ideliverable.com/blog/how-to-change-the-password-requirements-for-orchard-core-sites

At least from the configuration.

[2019-12-12 20:37] sebastienros commented on #5009
Looks like an issue with your database collation.

But I assume we could normalize the searched value before doing the comparison.

[2019-12-12 20:39] sebastienros commented on #5004
I don't understand what `Add a new content template based on previous
` means

[2019-12-12 20:40] sebastienros commented on #2403
@hishamco this is not about code docs.

[2019-12-12 20:44] brentby opened #5024 "GraphQL - MaxNumberOfResultsValidationRule invalid cast"
**Summary**

Line 32 of MaxNumberOfResultsValidationRule assumes that the first or last input parameters are of type "Int". This is okay if you are hard-coding these parameters.

If you are using input variables to your query - i.e. to support dynamic paging of results in your client app - the query will fail with an invalid cast error.

**Error & Stack Trace**
[code]

**Example / Steps to Reprodu

[2019-12-12 20:44] #4970 closed

[2019-12-12 20:46] sebastienros commented on #4985
I think it shouldn't be hard to grab the current filter and change the way the New button renders if a filter is applied.

[2019-12-12 20:48] urbanit commented on #5004
![image](https://user-images.githubusercontent.com/1871551/70747793-639c1d80-1d31-11ea-97a1-dd7069437eb1.png)

[2019-12-12 20:49] sebastienros commented on #4753
Could we instead detect that the index will be too long, and internally (yessql) use a constant hash (one that doesn't change from machine to machine) as the actual name? Or at least keep the first N letters and complete with a hash?

The YesSql dialects would have the max length for these index names, and we could compute the length of the prefix based on that and the length of the hash (of the f

[2019-12-12 20:51] urbanit commented on #5004
So, there is a "Conference" layout template that has style/script notations. And the content template use the "Conference" template as layout... The result is empty css/javascript line...

[2019-12-12 21:02] sebastienros commented on #4972
I like the idea of a "templated field". Note you could already do it with a custom workflow and existing fields. Having a field instead of an Aspect allows for querying and filtering for instance, so that's a valid request.

We could do it as an editor on the TextField, but then other fields might also want it. So I assume a compromise is to create a custom "Templated Text Field".

We could also a

[2019-12-12 21:03] #4890 closed

[2019-12-12 21:05] sebastienros commented on #4969
@MichaelPetrinolis do we have some doc to set it up?

@PavelPisotskiy have you tried to enable the existing modules we have , like Google, Twitter, ... they will show the auth button directly in the login form.

[2019-12-12 21:07] sebastienros commented on #4966
Use `{{ Model.ContentItem.DisplayText}}` to get the title.

Or to render the H1 and in the <title> tag use the shape from TitlePart:

`{{ Model.Content.TitlePart | shapre_render }}`

[2019-12-12 21:20] deanmarcussen commented on #4753
Yes, we should do that for the index/prefix name length issue.

This issue is different. Caused by the length of the string being indexed. Eg alias is 1000 characters. The index for MySQL won’t support 1000 characters so the dialect to create the index needs to be create index alias (250) (or whatever it is keeps it under 3096 bytes in utf8 collation for all columns in the index.

We can do it in

[2019-12-12 21:29] hishamco commented on #5018
According to my understanding his machine has `fa-IR` culture as default culture, but when he upload his website to a server "host" a Gregorian date shows up instead of Persian one

@ampadashi as Seb asked before if you didn't set the default culture from the admin site, the system one will be taken

[2019-12-12 21:34] hishamco commented on #2403
Ok, got it :)

[2019-12-12 21:51] ampadashi commented on #5018
@hishamco Thanks for posting my message. The default culture is set to fa-IR. Everything works well on my local machine. But, when i upload it to the shared windows server 2016 host , all dates in the fa-IR culture will be rendered using Gregorian calendar.

[2019-12-12 21:52] ampadashi commented on #5018
Windows Server 2016 x64

[2019-12-12 21:59] hishamco commented on #5018
If you 're sure, please try to print out the current UI culture in the home page, seems something wired happening here

[2019-12-12 23:46] ns8482e commented on #4972
How about having a feature like event trigger that allows user to define custom script to execute and in that script user can use any field/part that can be updated or even other content item?

[2019-12-13 02:18] sebastienros commented on #4972
That's the Workflow feature, literally

[2019-12-13 02:48] jtkech commented on #5016
Yes, here the layout is not null otherwise it would have 1st failed line 72. So, this would mean that here layout is not null but not a `ZoneHolding`.

I don't think so, it is a scoped service but maybe a concurrency issue in `.GetShapeTable()`.

By adding this in `DefaultShapeFactory.CreateAsync()`

            if (shapeType == "Layout")
            {
                shapeDescriptor = null;

[2019-12-13 02:58] ns8482e commented on #5004
In your case Content__Conference is Alternate shape for Content Shape for Content type Conference.
`Layout` is also a Shape hence setting ` {% layout "Conference" %}` in `Content__Conference`  won't work.

Instead you add alternate for "Layout" shape, e.g. Layout__Conference

[2019-12-13 03:01] jtkech commented on #5017
`AddLiquidFilter` uses `options.FilterRegistrations.Add(name, typeof(T))`.

It would have to use `options.FilterRegistrations[name] = typeof(T)`.

And to override the filter, the related module startup would have to run last, e.g by depending (in the manifest) on the feature that defines the original one.

[2019-12-13 03:36] ns8482e commented on #5004
I believe  `Content__Conference` content shape and `Conference` Layout shape are for front-end are applied from "Template" feature. Are you creating your templates in "Template" feature?

"Admin Templates" are for Admin theme not for front-end.

[2019-12-13 03:44] jtkech commented on #5004
Yes you can do that because the `layout` tag add a new layout alternate at the end of the list.

Just tried with the blog theme by adding templates through the admin UI of the `Template` feature, not the `Admin Template` as @ns8482e said that is related to override shapes for the admin theme.

So, i added a `Content__Article` template and a `Conference` layout template, a copy paste of the orginal

[2019-12-13 05:51] jtkech opened #5025 "Theme static files mixing"
For infos before i forget it.

As said on gitter

Maybe we just need that each theme, in its `ResourceManifest.cs`, registers its resources with different names, maybe the theme name as a prefix.

Here the image where you can see that `TheTheme` uses a `TheBlogTheme` satic file path.

![Theme Manifest](https://user-images.githubusercontent.com/8586360/70772053-99fa8c80-1d73-11ea-9cf7-57558e959d96.

[2019-12-13 07:07] MichaelPetrinolis commented on #4969
Unfortunately we don't support this. Password flow is usually used by apps that are trusted by the Idp ( apps that are internal in the enterprise) as the user enters his username and password in these apps. This would require a custom account controller or modifications to the existing that would post the username/password to the Idp, get back the token and ignore local users (or match somehow the

[2019-12-13 07:51] Skrypt opened #5026 "User class is not available as a Liquid allowed type."
`TemplateContext.GlobalMemberAccessStrategy.Register<User>();`

Adding this line in OrchardCore.Users startup.cs file makes it available to be used.

[2019-12-13 08:23] PavelPisotskiy commented on #4969
@sebastienros Yes, I've tried to enable the existing modules, and I've investigated how they work. But I need to integrate OC with internal system. This internal system provides OAuth authentication with grant_type=password. And I would like to log in there using standard form.

[2019-12-13 09:32] jtkech opened #5028 "Little concerns about the different localizers."
As i remember what i saw while working on #4933, see also my test and comment in #4962.

- First `IViewLocalizer` just uses an inner `IHtmlLocalizer` that uses an inner `IStringLocalizer` but whose types are based on the executing view.

- The main point is that when using the `@` razor directive on an `IViewLocalizer` that returns an `LocalizedHtmlString : IHtmlContent`, the called `WriteTo()` do

[2019-12-13 09:38] hishamco commented on #5025
This simply done by using prefix as you said, but how we can ensure that name - with prefix - is not used somewhere else?

[2019-12-13 09:40] hishamco commented on #5025
I think this is what @JoshTango is asking for in #4988

[2019-12-13 10:26] jtkech commented on #5025
Because we can't have 2 module / theme with the same name == assembly name

Not exactly, here it's not a path conflict, it's a resource resolution mixing

[2019-12-13 10:27] dodyg commented on #5017
@jtkech is there anyway to configure this? This is the main problem with my `ReplaceLiquidFilter` implementation. It runs early.

[2019-12-13 10:37] hishamco commented on #5025
Right, I thought there's a way to use to extend an existing theme

[2019-12-13 10:54] CSurieux opened #5029 "Need for a dev help on migrating from O1 with NHibernate to OCore with YesSQL"
[Sorry for cross posting, I first posted this in OrchardDoc repo but realized that it was the Orchard 1 Documentation, so I repeat my request here]

For all those as me who need to migrate their sites from Orchard 1 to OrchardCore, it would be very helpful to have some migration tips and recos for all the DB design and access.

I understand that Parts no more have dedicated DB tables (very nice) a

[2019-12-13 12:35] ns8482e commented on #5017
@dodyg  I have not tried - but my guess is - It's runs early because you configure sevice in web application and not in module-  if you create a module that depends on other modules then dependency loaded before your module.

Try creating  `ReplaceLiquidFilter ` in a module and add  Dependencies to Markdown module in Manifest.cs of your module

[2019-12-13 12:58] ns8482e commented on #4972
@sebastienros may be its related to workflow

However this could be used without workflow module  and not use workflow UI to configure. Analogous to database triggers - e.g. events./triggers for Content Type that runs under same db transaction for the content type being updated?

[2019-12-13 13:17] K-Bains opened #5030 "Importing Data."
Hi im currently trying to import data using IDataMigration however i get the following error:

if i try the same file as a recipe (in the recipe folder) via the admin page it seems to run ok and it does import all the data. Does anyone have any ideas on what could be wrong? Or is there a better way to import content items?

below is an example of my recipe file i have removed the data.

[code]

[2019-12-13 14:59] jtb637 commented on #4694
Just weighing in here too as this is something we've come across.
Our steps:

- Create a Deployment plan under Import/Export to export all content.
- Change the values of certain content item fields
- Upload the modified file.
- Expected to see those fields changed for the relevant content items, but they aren't.

I've had a quick look through your source code, and I believe this is the handler wh

[2019-12-13 17:01] deanmarcussen commented on #5030
where are you registering the `Migration` ?

It would seem you're registering it to run before the rest of the site has been setup and the content feature enabled.

Are you trying to do this as part of setting up the site?

Maybe you've run it from the Startup project, which is registering it early, before all the other migrations have run.

It would be better suited to either being a setup recipe

[2019-12-13 18:02] Skrypt commented on #4962
Should we close ? https://github.com/OrchardCMS/OrchardCore/pull/4750#issuecomment-565519632

[2019-12-13 18:03] Skrypt commented on #5028
related? https://github.com/OrchardCMS/OrchardCore/pull/4750#issuecomment-565519632

[2019-12-13 18:03] K-Bains commented on #5030
so i have a setup recipe which creates all the content types, i wanted a 2nd recipe to run which would create all the content items, im doing this in a different module and im registering my IRecipeMigrator in the startup of that module.

i followed this [tutorial](https://www.davidhayden.me/blog/recipe-migrations-in-orchard-core-cms)

[2019-12-13 18:11] deanmarcussen commented on #5030
are you registering the module in the features step of the setup recipe? Perhaps it's being registered before the Content module.

Basically the Content module is going to run a migration to create the `ContentItemIndex`, so that's going to need to run first.

Hard to say for sure what's happening without seeing all the code.

One option might be to change the `Order` property of your module that

[2019-12-13 18:18] Skrypt commented on #5025
I made a test which fails. I copied the TheAgencyTheme ResourceManifest.cs and Startup.cs files. Renamed the Namespace to match my theme name. So far no issues on the frontend when using that theme. Though, when going to the admin content list and user list I get an issue with the ResouceManager stating that it can't find the resource(s).

[2019-12-13 18:22] Skrypt commented on #5029
There is no documentation about this that I know of. But I'm pretty sure everything is faisible by using only TSQL.

[2019-12-13 18:32] JoshTango commented on #5025
I removed the ResourceManifest.cs file and have moved on

[2019-12-13 18:36] deanmarcussen commented on #5025
And yet this is interesting.

@jtkech you will know this.
Does enabling two themes mean both of their `Startup` files will be called?
Or does the `Startup` only run when it is set to current?

If it's the first, then yes, we should use better naming on the theme `ResourceManifest` files that got added recently, otherwise I don't see the problem.

[2019-12-13 18:36] Skrypt commented on #4972
That's a ContentHandler I think

[2019-12-13 18:50] sebastienros commented on #4972
I concede that many feature could be done in Workflows, but we need to provide other ways to configure them. I think @MichaelPetrinolis had come with a feature to provide special webhooks natively for instance. Or scheduled publish/archive that could be integrated directly in the editor.

Reflecting on that I think I am pushing too much into not doing more "dedicated" things by fear of having the

[2019-12-13 18:53] sebastienros commented on #4972
For instance, we could then create a Wizard to generate Content Validation workflows with specific users/roles and email templates to generate a workflow automatically. The idea being that lots of types of workflows are very common and we could "industrialize" them, exposing specific parameters to vary them.

[2019-12-13 19:05] K-Bains commented on #5030
how would i go about changing the order property for my module?

[2019-12-13 19:05] sebastienros commented on #5029
The recommendation is to generate an Orchard Core recipe file, like the ones for the Setup, that would contain your types and data. Then you don't need to care about YesSql. There are several recipe files showing how to create types and custom content items.

There is no migration for queries (I assume you mean SQL queries in this case), you'll have to understand how to create them in OC.

[2019-12-13 19:13] deanmarcussen commented on #5030
In the startup file for the module you can override the order property `public override int Order => 100;`

Really need to see some code though to understand what's going wrong for you. The Order is just an of the top of my head thought

[2019-12-13 19:18] K-Bains commented on #5030
Thanks the order did work for me. i will look into this some more.

[2019-12-13 19:18] #5030 closed

[2019-12-13 19:22] Skrypt commented on #4972
You mean Content Approbation?

[2019-12-13 19:27] sebastienros commented on #4972
@Skrypt yes, as an example of some common things people might want to do, and that can be done with WF

[2019-12-13 19:32] Skrypt commented on #4972
But for the current request "Calculated Field" could it be a simple example of how to simply apply a calculation on a ContentItem Field? A Wizard that allows you to pick X Fields of the same type and apply some "calculation" on them ; stored in a Y Field.

[2019-12-13 19:34] sebastienros commented on #4972
For a calculated field, you could select a type, a field name, and what liquid or javascript expression you want. And also a step, like published, updated, ... This would create a workflow for you. And you could change the parameters in the wizard which would then update the workflow (at least some constants in the workflow)

[2019-12-13 19:38] Skrypt commented on #4972
From the Content Type editor page!

[2019-12-13 19:40] sebastienros commented on #4972
No from the "newly created" Wizard page, selecting "Calculated Field" would give you a custom UI to select an existing content type and a field. Like the content type picker.

[2019-12-13 21:05] MichaelPetrinolis commented on #4972
@sebastienros I think you are referring to the #2323 by @jrestall regarding the web hooks module :)

[2019-12-13 21:13] jtkech commented on #5017
Yes, when a module depends on another one, its startup is run after. For modules that don't depend on each other it will just depend on an alphabetic order. But you also have an `Order` and a `ConfigureOrder` properties that you can override in your startup class.

But it seems that you are doing things from the app, so in your app startup try something like this

    public void ConfigureServices

[2019-12-13 21:23] deanmarcussen commented on #4972
Wizards are sound great.
Workflows can be a bit hard to get into so it’s a good way to make them more accessible.

Sounding a lot like a nice ui interface that takes some parameters and applies them to a small recipe step that would creat the workflow.

Should be easy to maintain if it is just wrapping a lot of what OC already has.

Would also give us a good place / way to supply sample / wizard r

[2019-12-13 21:32] jtkech commented on #4962
#4750 was just about declaration / naming conventions

[2019-12-13 22:26] jtkech commented on #5025
Yes for all enabled themes, not only the current one, after all modules startups because themes depend implicitly on all modules, but they don't depend on each other unless one theme has a `BaseTheme`. Otherwise the order of theme statups will only depend on an alphabetic order if we don't override the `Order` and / or `ConfigureOrder` properties of their startups.

Then there are different scenar

[2019-12-13 22:48] jagbarcelo opened #5033 "Localized templates"
Besides the option to use [localized strings in a template](https://github.com/OrchardCMS/OrchardCore/issues/4871) (if they are already defined), is there any other way to define localized templates?

Do we need to create our own localization [*.po files ](https://docs.orchardcore.net/en/dev/docs/reference/modules/Localize/#po-files-locations)in order to use any kind of localization in a template?

[2019-12-13 22:51] hishamco opened #5034 "Add AppVeyor build pipeline for extract PO files"
I chat with @sebatienros about PoExtractor and possibility to run it after each build and he suggested to have a different appveyor build pipeline for that, which could call the PoExtractor and connect to Crowdin

/cc @agriffard

[2019-12-13 22:54] hishamco commented on #5033
Do you mean in Liquid? Or general?

You 're free to create your own *.po files

Could you please elaborate or let us know your scenario so we can help

[2019-12-13 23:02] jtkech commented on #5028
#4750 is not related to localizer functionalities but how we declare the class fields / properties of a given localizer type, e.g a property or a private field, but without changing the localizer type.

[2019-12-14 00:18] sebastienros commented on #5033
Technically it's doable, based on alternates. The solution would be to build custom alternates strings for each supported culture. This way you could do something like `Layout-culture-en` or `Content-Page-culture-en`.

You can try with a `IShapeTableProvider` implementation like in `MenuShapes.cs` for instance.

[2019-12-14 03:00] PiemP commented on #4985
For now my approach is "minimum impact": obtain the result without touch the razor file that render the button.

This fix is already done it in the PR https://github.com/OrchardCMS/OrchardCore/pull/5020. I'm waiting for you feedback about it.

[2019-12-14 06:49] chinasqzl opened #5036 "Make AliasPart form controls hide like TitlePart"
![image](https://user-images.githubusercontent.com/16968103/70844784-d2d45780-1e80-11ea-945a-d12e6ca34319.png)

You can use Liquid, so it's as good as TitlePart.

[2019-12-14 07:54] dodyg commented on #5017
Yes this works except that you can't use `AddLiquidFilter` because it will throw `ArgumentException: An item with the same key has already been added. Key: markdownify`

So this is a complete solution on how to replace the default `markdownify` implementation with your own custom implementation. It will work for any other filter as well. It's awesome!

`Startup.cs` at the app

[code]

`ExtraFilter

[2019-12-14 07:56] dodyg commented on #4121
How to replace an existing liquid filter (https://github.com/OrchardCMS/OrchardCore/issues/5017).

[2019-12-14 10:44] aghili371 opened #5038 "Content Picker Field Doesn't fill content"
i have Players — Content Picker Field in my content type. it was working, but it doesn't show data now .

![content field](https://user-images.githubusercontent.com/24512878/70847546-ddcdbe80-1e65-11ea-95aa-f5288ab755d4.JPG)

it has a javascript error. please check this.

[2019-12-14 13:32] dodyg commented on #5038
what version are you using?

[2019-12-14 16:22] deanmarcussen commented on #5025
Thanks for the info @jtkech
I wanted to make sure that this wasn't what had been causing the odd `Resource not found with a given key` issue that's been reported a few times.

I think, based on your description, that actually this behaviour is both useful and desirable (but also good to know it happens!)

For example when using a custom admin theme that uses `TheAdmin` as a base because you want t

[2019-12-14 17:44] deanmarcussen commented on #5036
Can you provide a bit more information on what you're asking for?

[2019-12-14 19:12] jeffolmstead opened #5040 "Add Ability to Constrain Feature to a Particular Tenant(s)"
It looks like this idea has been considered in #1607 and even in the "FeatureIsAllowed" method here: https://github.com/OrchardCMS/OrchardCore/blob/7771768e434e4fe6f02e4a607f2b649838da7f5d/src/OrchardCore.Modules/OrchardCore.Features/Controllers/AdminController.cs so this issue is just putting in a placeholder that sometimes you need to restrict certain modules to appear for certain tenants only.

[2019-12-14 19:28] urbanit opened #5041 "Feature Proposal: Add Layout Part"
Adding a Layout part where it will be defined which layout should be used: could be a liquid file or liquid template.

[2019-12-14 20:45] Skrypt commented on #5041
Yes we can define a Layout in a Content-ContentTypeName.liquid or .cshtml template directly. So having a LayoutPart could allow to define the Layout file that we want to use. Though these layouts files can be defined also in the admin UI too with Templates.

Since layouts could vary from one theme to an other, this LayoutPart needs to be smart enough to fallback to a default Layout if the Layout s

[2019-12-14 22:05] urbanit opened #5042 "Feature Proposal: Replace "Main Menu" in admin menu to "Menus""
1. "Menus" content type to be creatable by default
2. Optional(?) feature to set a menu as default (should it be per locale?)

[2019-12-15 00:07] chinasqzl commented on #5036
For example, for the project number, I use liquid to generate P-2019-0001 as an alias, 0001 self-increasing，which does not need to be entered.

[2019-12-15 00:15] jtkech commented on #5017
Oh yes my mistake, i wanted to specify `ReplaceLiquidFilter` ;)

I will do a PR so that you will be able to just use `AddLiquidFilter`.

[2019-12-15 01:23] jtkech commented on #5025
Currently the 1st one that registers a resource wins, hmm, **maybe better that the last one wins** so that, without solving all scenarios, a theme would be able to override a resource of its base theme without having to use another module (because it runs before all themes).

So 1st, maybe allow to override a resource in a startup running after, easy to do in `DefineResource()`.

Then and only for

[2019-12-15 04:23] jtkech commented on #5025
Just for infos, in fact when there are multiple resources with the same name, the resource manager takes the one with the highest version, if multiple with the same version, as said it takes the 1st registered.

    // Use the highest version of all matches
    if (resource == null
        || (resourceDefinition.Version != null && new Version(resource.Version) < version))
    {
        resource =

[2019-12-15 09:25] choXberg commented on #2987
do you mean something like this:

src/OrchardCore/OrchardCore.Users.Core/Services/UserStore.cs:
[code]
the UserIndex already exists at src/OrchardCore/OrchardCore.Users.Core/Indexes/UserIndex.cs

do we need pagination too?

[2019-12-15 09:58] infofromca commented on #2784
I think @inhumator 's intention is extension and crop the image before saving to the site.
people only need to implement IImageService to upload cropped image, and do not need modify the code.

[2019-12-15 10:49] #5009 closed

[2019-12-15 10:51] aghili371 commented on #5038
The last versions have this issue. i'm using this version:1.0.0-rc1-11061
but i tested with some older version, it has an error on those versions too.

[2019-12-15 10:54] aghili371 commented on #4977
yes that is true. so if i visit the web site and selected my language, why i should change the language in the next visit on other days? i think it needs to save the currently selected culture in user browser

[2019-12-15 10:54] #4814 closed

[2019-12-15 10:56] #4747 closed

[2019-12-15 10:56] aghili371 commented on #4594
i checked the save in cookies.

[2019-12-15 11:00] #1507 closed

[2019-12-15 11:19] #5017 closed

[2019-12-15 11:28] deanmarcussen opened #5045 "Add liquid ConsoleLog and document"
Follow on from https://github.com/OrchardCMS/OrchardCore/pull/4495 to remind me.

Need to add a `ConsoleLog` liquid filter, and doc the existing Razor `ConsoleLog` helper

[2019-12-15 12:59] hishamco commented on #4747
FYI I updated the https://github.com/OrchardCMS/OrchardCore/issues/3614

[2019-12-15 13:03] hishamco commented on #4977
The language is not saved, this the behavior common for almost websites if not all, what you said is suitable for admin language

[2019-12-15 13:03] hishamco commented on #4594
I replied to the original issue

[2019-12-15 13:40] deanmarcussen commented on #5042
This one has popped up a few times and we've never been able to agree on making it creatable by default.

Last time it cropped on on another issue, the best suggestion from @sebastienros was to make a `Navigation` menu entry that would list all menus in the system, and allow creating a new one.
But leaving the `Menu` content type not creatable, so it wouldn't show up in the standard contents `new`

[2019-12-15 14:28] hishamco commented on #4827
FYI SixLabors/ImageSharp#1060 is merged, seems we need to update the package when the 1.0.0-rc version is released

[2019-12-15 14:28] #4277 closed

[2019-12-15 14:31] hishamco commented on #4757
@PinpointTownes any updates on this?

[2019-12-15 14:32] hishamco commented on #1982
@PinpointTownes I think it's the time for doing this

[2019-12-15 14:33] hishamco commented on #1981
An updates on this?

[2019-12-15 14:38] hishamco commented on #3607
@sebastienros what's the plan for this? should be a part of 1.0.0 release or not

[2019-12-15 14:39] deanmarcussen commented on #4827
Cool, that'll need a release of `ImageSharp.Web` first.

[2019-12-15 14:40] #5025 closed

[2019-12-15 14:40] deanmarcussen commented on #4827
@JimBobSquarePants any chance of a new beta release of `ImageSharp.Web` with this update to `ImageSharp` ?

[2019-12-15 14:52] PinpointTownes commented on #1982
I demonstrated how to do that in the OpenIddict 3.0 migration PR: https://github.com/OrchardCMS/OrchardCore/pull/4720. I just need to find some time to extract these changes for the current version (no promise, I'm quite busy these days).

[2019-12-15 14:55] PinpointTownes commented on #4757
@hishamco it's on my ever-growing list of things to do 😄
That said, it should be a quite simple change, so feel free to take it if you have some spare time.

[2019-12-15 15:14] deanmarcussen opened #5046 "TheTheme static file routing only works on tenants"
Something has happened in the last few commits that has stopped `TheTheme` static assets from routing correctly if they are address via the root url. e.g.
`https://site/TheTheme/css/bootstrap-oc.min.css`

Works find if you're on a tenant url. i.e. `https://site/tenantname/TheTheme/css/bootstrap-oc.min.css`

I'm on https://github.com/OrchardCMS/OrchardCore/pull/5043 at the moment, so this happened

[2019-12-15 15:17] MatthijsKrempel commented on #1982
I'll have a look Kévin.
________________________________
From: Kévin Chalet <notifications@github.com>
Sent: Sunday, December 15, 2019 3:52:49 PM
To: OrchardCMS/OrchardCore <OrchardCore@noreply.github.com>
Cc: Matthijs Krempel <matthijs.krempel@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [OrchardCMS/OrchardCore] Remove OrchardCore.OpenId.EntityFrameworkCore and OrchardCore.Open

[2019-12-15 15:29] PinpointTownes commented on #1982
@MatthijsKrempel thanks, much appreciate. For that, you'll need to:

  - Remove the two OpenID EF Core packages (core+module).

  - Port the cast-based changes from the 3.0 PR. E.g: https://github.com/OrchardCMS/OrchardCore/pull/4720/files#diff-acb7ff72bffc469850e6e8f0b9c83102R47. Ignore the `Task` -> `ValueTask`/`Task<ImmutableArray<T>>` -> `IAsyncEnumerable<T>` changes, they are for 3.0-only.

[2019-12-15 15:48] hishamco commented on #4757
I see, I will leave it to you coz I have a list of localization stuff that I need to do 😄

[2019-12-15 16:02] aghili371 opened #5049 "Order list by OrderByDescending and OrderBy method"
i want to have an ordered list but with all fields, I got the same ordered list.

[code]

my question is is it correct core?

how can i order or filter by my field? for example i have "isactive" field for "SportAcademyTerm" content type. how can i filtter for order by this field?

[2019-12-15 16:19] aghili371 commented on #4977
i checked Microsoft website, they just using culture in URLs.
`products.office.com/**en**/compare-all-microsoft-office-products?=&activetab=tab%3Aprimaryr2&market=af`

[2019-12-15 16:27] hishamco commented on #4977
Ya, this is a querstring which already supported, but I'm not sure if @jptissot is use it or he used Cookie instead

[2019-12-15 16:36] deanmarcussen commented on #5046
Must just be me. Fails on two repos, works on another. No idea why.

[2019-12-15 16:36] #5046 closed

[2019-12-15 16:48] dodyg commented on #4977
Cookie '.AspNetCore.Culture'

[2019-12-15 16:58] hishamco commented on #4977
As expected

[2019-12-15 16:59] #3985 closed

[2019-12-15 17:41] hishamco commented on #4664
@Ahmed-Galal85 I don't think the issue is related to data annotations directly, so the issue with the inner classes

 Of course the fix will work fine if the data annotation bug is fixed

[2019-12-15 19:41] giannik opened #5052 "The layout is resolved before Controller Item.Display(contentitemId) is executed"
A recent change in a filter from this pull request
https://github.com/OrchardCMS/OrchardCore/pull/4804
calls the  layoutAccessor.GetLayoutAsync() before the action is executed.
I had some code in the action that set some properties to  _httpContextAccessor.HttpContext.Items dictionairy in order to use this in a custom theme selector to set the current theme.
before this change it worked because pr

[2019-12-15 20:32] Skrypt commented on #5036
@chinasqzl But this is the TitlePart configuration page. So I updated the title of your issue to match your request.

[2019-12-15 20:35] Skrypt commented on #2987
Yes that's what he meant and yes I think it would be better to have pagination.

[2019-12-15 20:42] Skrypt commented on #5038
Please update your code to reflect recent changes in your views. I tested with the latest dev branch by using the default editor and the Lucene editor for a content picker field and it works.

[2019-12-15 20:42] #5038 closed

[2019-12-15 20:47] Skrypt commented on #5042
The reason why it's not creatable is because we make it so in our recipes but you could easily change that in your owns.

[2019-12-15 20:49] Skrypt commented on #1981
It's up for grab and I don't think anyone took it so far...

[2019-12-15 20:51] aghili371 opened #5053 "question: how can access to log information?"
OC has a log mechanism to save user activity?

if it has, how i can access that?

where i can find an example to use that for my modules?

[2019-12-15 20:51] Skrypt commented on #5049
You need to activate the ContentFieldIndex module and Query on these FieldIndexes. Or alternatively you can create your own IndexProviders for your custom content types.

[2019-12-15 20:53] Skrypt commented on #5049
Also duplicate of : https://github.com/OrchardCMS/OrchardCore/issues/4899

[2019-12-15 20:53] #5049 closed

[2019-12-15 20:55] hishamco commented on #5053
OC supports NLog & SeriLog, but you implement your own, so the logged information depends on the active logger provider

[2019-12-15 20:57] Skrypt commented on #5053
There is no events logged for user activity yet. This is an "Audit Trail" module that should be migrated from 01 which will take some time investment to complete.

[2019-12-15 21:00] hishamco commented on #5053
Aha if you mean user activity as @Skrypt said no module to provide such thing

[2019-12-15 21:01] aghili371 commented on #5053
@hishamco i'm using serilog but i need that user activity log to have more security in the project.

@Skrypt  that will be useful if we have that.

[2019-12-15 21:05] hishamco commented on #5053
You can implement your own Audit module, or tr to migrate the one from Orchard 1

[2019-12-15 22:03] choXberg commented on #2987
getting all users without pagingation could be a performance issue for big sites, but I am not sure.
we could set default parameters and wrapped return type like PagedList<IUser>:

PagedList<IUser> GetAllUsersPaged( CancellationToken cancellationToken, pageIndex =0, pageSize=50)
maybe it's better to overload the function:

IUser GetAllUsers()//Clients should be aware of performance issues for huge

[2019-12-15 22:26] papyr commented on #5021
Thanks for the response.

Its not a vertical module, just another content type widget for data visualization. DNN, site point and others already have this as a dashboard.

The C# and orchard framework lets us write the custom code, we need a container or an example on the very least to be able to add a graphing widget or plugin.

[2019-12-15 22:29] #5021 closed

[2019-12-15 22:35] papyr commented on #2246
@sebastienros thanks for the response. https://github.com/OrchardCMS/OrchardCore/issues/5021

Can you please at least put up one sample on how to build/develop/achieve a simple data graphical widget.  A simple sample, where we can plan to put 6 async widgets on a page, i.e. 2 widgets per row. The learning curve is from the terminology in core not the C# code.

@hishamco  Orchard has been around no

[2019-12-15 22:41] jtkech commented on #5052
Yes sorry, there are things that we needed to initialize earlier to provide more contextual data for some Liquid evaluations that may happen through drivers before the action is executed.

So the `RazorViewFeature` holding the `ThemeLayout` is set earlier, for infos it is a regular httpcontext feature that you can change afterwards. But if you don't want to force the layout and still pass through

[2019-12-15 23:33] Skrypt commented on #2246
AspNetBoilerPlate has more traction but for the other ones I can't agree.

[2019-12-15 23:34] Skrypt commented on #2987
Not if the request is cached.

[2019-12-16 00:11] hishamco opened #5054 "[Feature] Set Language Fallback"
As we know the ASP.NET Core has built-in fallback mechanism for the supported culture by traverse the culture hierarchy up to invariant culture, but there 're many cases where customers want to specify a language fallback for the current culture

Say the current culture is `en-UK`, the customer may set the fallback language to `en-US`, so the fallback mechanism will be:

`en-UK` -> `en-US` -> `en`

[2019-12-16 00:41] jtkech commented on #5054
As i remember the default aspnet fallback mechanism is to use the default culture that by deault is the installed culture but that we can override through the admin UI.

[2019-12-16 00:51] hishamco commented on #5054
Unless `FallbackToSupportedCultures` or `FallbackToSupportedUICultures` is set to `true`

Again there's no notion of custom language  fallback mechanism

[2019-12-16 01:08] hishamco opened #5055 "[Feature] User Impersonation"
Usually during development, and sometimes in production, it is useful to quickly login as another user.

This feature for admins only

[2019-12-16 01:11] jtkech commented on #5054
That's why i talked about the **default** aspnet fallback mechanism ;)

Hmm, i think you mean `FallBackToParentCultures` and `FallBackToParentUICultures` that any module could set in its startup, yes maybe some settings through the UI for these ones.

[2019-12-16 01:16] hishamco commented on #5054
This is doable for the **default** aspnet fallback mechanism

This is doable for the **default** aspnet fallback mechanism too, but I'd like to allow the user specify the fallback language before ASP.NET run the **default** aspnet fallback mechanism

[2019-12-16 02:16] Skrypt commented on #5054
InstalledUICulture can sometimes be null (for exemple on a Mac). So the FallBackToParentUICultures is not enough in that case.

[2019-12-16 02:49] Skrypt commented on #5054
By the way @hishamco I don't think en-UK will fallback to en-US as it is not it's parent. So it would be :

en-UK -> en -> InstalledUICulture --> (Invariant)

or

en-US -> en -> InstalledUICulture --> (Invariant)

[2019-12-16 02:53] Skrypt commented on #5054
Reading again and that's probably what you meant.

[2019-12-16 03:02] jtkech commented on #5054
@Skrypt about the `FallBackToParentUICultures` my feeling, beyond the fact that `InstalledUICulture` may be null, was that if an `IRequestCultureProvider` would select a culture but that is not supported, it will look if its parent is supported. Seems to be the case regarding the following comments.

Notice that this option is true by default.

    /// If this property is <c>true</c> and the appli

[2019-12-16 04:47] hishamco commented on #5054
You 're right, because you are thinking as what default asp.net core fallback is doing, but what I'm asking is something else, which is a feature request seen in some CMSs

[2019-12-16 05:19] Skrypt commented on #5054
To be honest now you are confusing me. From what I understand of the logic in the FallBackToParentUICultures is the fact that a parent culture can be used to localize some strings.
For example ; there are some differences between french canadian and french (France) in the way we express ourselves. So, I would use a fr-ca.po file only for overriding some terms/strings that I feel would make more se

[2019-12-16 07:41] pgy866 opened #5056 "In the Linux kernel UOS system, the login administrator has no response and cannot enter the background"
In the Linux kernel UOS system, the login administrator has no response and cannot enter the background
在LINUX内核UOS系统中，登陆管理员无反应，无法进入后台

![录屏_dde-desktop_20191216150339](https://user-images.githubusercontent.com/28694676/70887769-b0c20d00-2019-11ea-8776-90d5ae12c936.gif)

[2019-12-16 08:01] dodyg opened #5057 "How do you specify an alternate?"
I need to specify a menu in two different ways in my template, one for large screen and one for mobile. The structure of the menu is the same for both scenarios. They just have different css classes.

I have this normal menu
[code]
and I am trying to specify the mobile menu but **i cannot make it work**
[code]
I want the shape to use the template "Menu-Mobile" template but I can't make it work.

!

[2019-12-16 08:08] dodyg commented on #5057
OK found it. I have to use the value `Menu__Mobile` as the value for `alternate`.

[2019-12-16 08:18] dodyg commented on #5057
Now I am trying to figure out how to get `MenuItem-Mobile.cshtml` to be used by `Menu-Mobile.cshtml`.

[2019-12-16 08:33] dodyg commented on #5057
Modify the model meta data crashes the template

`Menu-Mobile.cshml`

[code]

[2019-12-16 08:49] Skrypt commented on #5056
This looks like a cookie issue.

[2019-12-16 08:56] deanmarcussen commented on #5056
Check the browser console for validation errors. Chrome has started restricting the no of times a password can be reused. Has caught a couple of us out.
Try a brand new never used admin password

[2019-12-16 08:58] deanmarcussen commented on #5057
What’s the crash?
Code looks good to me.
Probably don’t need to clear the alternates, just add the new one and it should pick it up

[2019-12-16 09:00] Skrypt commented on #5056
Oh yeah that might work.

[2019-12-16 09:05] giannik commented on #5052
Thanks jtkech.
To give more context i was setting the contentitem in a global variable as shown below :

//set to a global variable"
_httpContextAccessor.HttpContext.Items["CurrentContentItem"] =contentItem;

then in my custom theme selector i would inspect the contenttype property of the content item and set the theme accordingly.
This way i did not have to issue another query to get the contentt

[2019-12-16 09:11] dodyg commented on #5057
It was my dumb mistake. I wrote ` Model.MetaData` instead of `Model.Metadata`. It still doesn't pick `MenuItem-Mobile.cshtml` though.

[2019-12-16 09:41] pgy866 commented on #5056
@Skrypt @deanmarcussen
Thank you very much, I use Firefox browser to enter normally, it is indeed a problem with Google kernel browser
非常感谢，我用火狐浏览器，可以正常进入，确实是谷歌内核浏览器的问题
![录屏_dde-desktop_20191216173643](https://user-images.githubusercontent.com/28694676/70896133-1bc80f80-202b-11ea-8062-ae9cd7a3c15c.gif)