[2021-04-01 20:41] Skrypt opened #9035 "Show technical name of a Content Type"
### Is your feature request related to a problem? Please describe.
We often rename the Display Name of a Content Type and make a mistake afterward on it's technical name.
It is not displayed on the Content Type edit form anywhere else than looking at it's element created in the Parts section to reorder it's fields.

### Describe the solution you'd like
I think we should display the Display Name in

[2021-04-01 21:02] Skrypt commented on #9034
/cc @ns8482e

[2021-04-01 21:16] Skrypt commented on #8900
Here it is from 01 :

[code]

[2021-04-01 23:02] jtkech commented on #9033
@orchardc

I can't repro

What is the `HtmlWidget`? Is it a widget that you created?

Maybe it is not taken into account, and because it is the only one in the zone, the zone has not been created

Can you try to add to the Footer zone e.g. a simple Paragraph widget, to see if it works

Then add your html widget to the Content zone for testing

[2021-04-02 06:59] orchardc commented on #9033
No the HtmlWidget was the one that created by the receipt.
After I reset the database with the latest version update, and it works. Thank you jtkech and sebastienros, I'm closing this one.

[2021-04-02 06:59] #9033 closed

[2021-04-02 08:12] overstartup opened #9039 "Specified argument was out of the range of valid values. (Parameter 'index')"
i saw some ticket about this issue , but i don't know if main same or not.

After update to new version, i get this error in showing blog and my module views too.

[code]
repo:
it works with:
1- create new blog
2- add new blog post
3-create new .liquid them page "Content-Blog.liquid"
[code]
it works fine with new blog and post but old blog doesn't work.
It looks it has issue in "{{ Model.Content |

[2021-04-02 08:34] deanmarcussen commented on #9023
ok, great, that's probably enough to go on.

The content manager api needs to be fixed, so that it isn't possible to do this during one session.

[2021-04-02 08:36] deanmarcussen commented on #9039
Which version are you running? This was caused by a recent ASP.NET security update, and has been fixed in the latest dev feed.

[2021-04-02 08:38] deanmarcussen commented on #9034
Yeah just needs to be using a guid in the vue component. my bad

[2021-04-02 08:51] khalibloo opened #9040 "Setup form fails to submit on firefox when autofilling password"
### Describe the bug
During the initial setup, if password is filled from a saved login, the password validation logic isn't triggered on firefox. As such, clicking the "finish setup" button has no effect.

### To Reproduce
Steps to reproduce the behavior:
1. Using firefox, open the initial setup page
2. For the super user, use a saved login
3. Click submit
4. Form isn't submitted because password

[2021-04-02 17:41] overstartup commented on #9039
i don't know what was the previous version, but I tested with  thise version:
[code]
Even i used the older version, still it doesn't work.

[2021-04-02 18:54] Skrypt commented on #9039
Update .NET Core 5.0 to latest version and use latest version of OC.
Publish your website as self contained so that it uses the same version that you are running locally.

With these steps you should be fine.

The issue is either you are using an old version of .NET 5.0 that is not patched with the latest bits of OC. Or you are using an older version of OC with latest version of .NET 5.0.

[2021-04-02 19:10] MikeKry commented on #9023
@deanmarcussen

Great, do you think it is possible, that You will look into this anytime soon, or it is not likely?

It is breaking graphql api when duplicates are present, so I will need to handle that next week one way or another, so if You will not have time for it, maybe you could guide me on proper solution that could be pushed into OC.

[2021-04-02 19:29] MikeKry opened #9043 "UX improvement: Content deployment"
### Is your feature request related to a problem? Please describe.
Related to #9023, which actually describes bug, but this one is improvement idea.

We have been using deployment plans a lot to sync content between stage and prod environment and came to some issues described in #9023.

There is also one thing, that I think would be very useful - adding new content item status, something like "Rea

[2021-04-02 20:16] motord commented on #8448
@luis3199correia
I am having the same problem.
What is this system property you are referring to and how should it be defined?

[2021-04-02 20:26] Skrypt opened #9044 "Fix border top issue with list-group in Features list"
When filtering the features list some border-top are not diplaying on the list-group(s).

![image](https://user-images.githubusercontent.com/3228637/113451475-0c133c80-93d0-11eb-9004-ad2d2f7d1f35.png)

Apply the same technique used on the Content Type and Content Part list pages.

[2021-04-02 20:33] sebastienros opened #9045 "Razor dynamic compilation should be off in Production"
A memory dumps shows that it's still on.
It should be on only if in Development. (independent from debug/release)

[2021-04-02 20:35] sebastienros commented on #9045
@jtkech one for you. Assigned to 1.0 as it's using memory for nothing otherwise.

[2021-04-02 23:51] jtkech commented on #9045
@sebastienros

Normally this is already the case

Are you sure that the `ASPNETCORE_ENVIRONMENT` env var was not set to `Development`?

I will check it

[2021-04-02 23:52] sebastienros commented on #9045
[code]

[2021-04-03 00:04] jtkech commented on #9045
Okay, i'm checking it

[2021-04-03 00:24] jtkech commented on #9045
Yes, now i remember a little and i already thought about the fact

That currently before registering the related services we only check that the `refs` folder exists

But if in Production, normally no runtime complation happens for module embedded views, unless you have some app level views and the option to output the `refs` folder.

And because at some point we wanted to still allow app level vi

[2021-04-03 00:45] jtkech commented on #9045
Yes, before `PreserveCompilationReferences` was set to true by default which is no more the case

So we added in the web app project file (so that people don't have to think about it)

    <PreserveCompilationReferences>true</PreserveCompilationReferences>

So for now to prevent any razor compile stuff, we can control this by using

    <PreserveCompilationReferences>false</PreserveCompilationRefe

[2021-04-03 01:40] #9045 closed

[2021-04-03 04:47] giannik commented on #4316
@Sen-Gupta  is there a public repo to try out the elastic search module ?

[2021-04-03 08:43] #9000 closed

[2021-04-03 16:23] overstartup commented on #9039
@Skrypt Still same error in my PC.
these are my settings:
[code]

[2021-04-03 17:57] sebastienros opened #9060 "ImageSharp memory usage"
https://github.com/SixLabors/ImageSharp/discussions/1590

@deanmarcussen @jtkech Are we using a single ISW configuration instance, in which case the same pools are shared across tenants?

[2021-04-03 18:25] deanmarcussen commented on #9060
I would say we have not designed it that way.

But I would need to look because I have a feeling this is, under the hood, a static configuration of IS itself, rather than ISW

[2021-04-03 18:42] jtkech commented on #9039
@overstartup

Yes there is an encoding issue initiated when calling `encoder.Encode(writer, value)` on a text writer being a `ViewBufferTextWriter`, and when the first char of the string needs to be encoded, the workaround is to use `writer.Write(encoder.Encode(_value))` instead.

Can you provide a more complete trace as done here https://github.com/OrchardCMS/OrchardCore/issues/8887#issuecomment-

[2021-04-03 18:56] jtkech commented on #9060
What i can see is that we use

            options.Configuration = Configuration.Default;

And there is this
https://github.com/SixLabors/ImageSharp/blob/bb727699686cba9cf55b67c5b114bb45311e6f3f/src/ImageSharp/Configuration.cs#L24-L30

        /// <summary>
        /// A lazily initialized configuration default instance.
        /// </summary>
        private static readonly Lazy<Configuration> La

[2021-04-03 20:07] overstartup commented on #9039
@jtkech Sure
I have this issue is several places.
This is in show blog and whatever using summary.liquid:
`ArgumentOutOfRangeException: Specified argument was out of the range of valid values. (Parameter 'index')`

[code]
Show raw exception details

[code]

i have this issue in my module too.i created new method to show list simple html and field.

[code]
i have this i .cshtml
[code]
it has same e

[2021-04-03 20:28] jtkech commented on #9039
@overstartup

Okay thanks

In my trace it is initiated by the `ResourceTag`, in yours it is initiated by the `ResourceTag` but also by the `RenderSectionTag`, but same issue the common thing being `HtmlContentBuilder.WriteTo()`, so maybe some other places to update.

I will fix it soon

[2021-04-03 20:36] overstartup commented on #9039
@jtkech thanks a lot. Maybe it is useful to know, I'm using "fa" culture. It is RTL.

[2021-04-03 20:46] jtkech commented on #9039
@overstartup

Fixed on my machine, i will do a PR this night

[2021-04-03 20:47] overstartup commented on #9039
@jtkech great.i will test it.

[2021-04-04 06:31] jtkech commented on #9039
Not fully ready, will commit it tomorrow night

[2021-04-04 17:01] papyr opened #9061 "Diagram - Anatomy on Parts, Shapes, Content"
###  The documentation direly needs a simple diagram of a orchard Core CMS sample web page with visual cues...

The learning cure is steep, mainly because there are `many unfamiliar terms` or new concepts or different names in Orachrad

For e.g. in the picture below you can see _a simple visual set of arrows pointing_  we need something similar in Orchard, calling out what are the shapes, parts, c

[2021-04-04 22:19] jtkech commented on #9039
@overstartup

Fixed through #9062, you can try this PR by fetching (if you can) the `jtkech/outofrange` branch

Or wait a little in case it it will get merged soon

[2021-04-05 00:52] jtkech commented on #8785
Okay i could repro ;)

This by adding to the blog recipe the admin dashboard **and also the workflows feature**

It confirms the above comments, i will work on it

[2021-04-05 06:35] jtkech commented on #8785
I think i found a fix for this kind of issue, see my last comment in #9046

[2021-04-05 06:35] jtkech commented on #8967
Hi @jptissot,

I think i found a fix for this kind of issue, see my last comment in #9046

[2021-04-05 09:09] overstartup commented on #9039
@jtkech I will wait, because I'm using the GitHub versions. But if it takes a long time, I will do it by your branch. Anyway i reply appreciate your effort.

[2021-04-05 15:01] Skrypt commented on #9039
I can repro this issue on latest dev branch @jtkech

[2021-04-05 16:01] willnationsdev opened #9064 "WorkflowTypeIndex not available for subsequent recipe steps?"
### Describe the bug

I was using build 15800 for a while, and during that time, I built a web app that I could completely recreate on a fresh local tenant using a recipe via Blank recipe + Package Import. It would turn on a set of features, define content types, define workflows, and then create content items with forms that submit to the workflows.

I then updated to build 16039. Now, when I cre

[2021-04-05 16:06] Sen-Gupta commented on #4316
This should be pushed potentially tomorrow! Been stuck on another Solr Search Implementations!

[2021-04-05 17:20] willnationsdev opened #9065 "Liquid raw tag appears to no longer produce output?"
### Describe the bug

Any text placed inside a raw tag no longer renders.

[code]

When I click 'view source', TESTING shows up on the page, and TEST 2 is teleported to the bottom where it is supposed to be in our Layout, but `{{ TEST 3 }}` does not render. It doesn't render even if we just make it `TEST 3` without the curly braces. I also tested it with just a raw tag, without any zone stuff.

We

[2021-04-05 17:57] jtkech commented on #9064
@willnationsdev

Related to #8785 and #8967

I'm working on, i think it will be fixed by #9046

[2021-04-05 18:39] jtkech commented on #9065
Yes, looks like the liquid raw statement write nothing ;)

https://github.com/sebastienros/fluid/blob/c4c184c17b7c0ec1fc3647a24a720f9387a1fc5c/Fluid/Ast/RawStatement.cs#L19

[2021-04-05 18:43] jtkech commented on #9039
@Skrypt Yes, will be fixed by #9062

[2021-04-05 18:47] xperiandri opened #9066 "Tab key does not work on inputs in Edge Chromium"
### Describe the bug
When you try to go to the next entry on the Setup page via Tab key nothing happens

### To Reproduce
Steps to reproduce the behavior:
1. Launch Orhcard Core with empty AppData
2. Try to go to the next text entry via Tab key

### Expected behavior
Focus goes to the next text entry

### Version
Build 16037

[2021-04-05 19:42] willnationsdev commented on #9065
Lolwut. Okay. Hmmm, what are we supposed to do to inject custom markup then? Any suggestions @jtkech ?

[2021-04-05 20:06] deanmarcussen commented on #9065
Suggest to open an issue on the fluid repo and it will get fixed

[2021-04-05 22:22] #9039 closed

[2021-04-05 22:23] jtkech commented on #9039
@overstartup merged ;)

[2021-04-06 05:23] #8785 closed

[2021-04-06 05:23] #8967 closed

[2021-04-06 05:23] #9064 closed

[2021-04-06 13:11] deanmarcussen commented on #9043
Yes, we talked about doing something like a queue for deployment, when I wrote the related features, but it was dropped in favour of keeping it simple.

That doesn't mean it isn't worth revisting, so have a go and see what you come up with!

Taxonomies do sound like the way to go for your scenario.

It would be simple enough to create a deployment source for that read content items based on the ta

[2021-04-06 13:40] parisnoble commented on #6279
Hey there,

It looks like 2A is the winner.

We are going to move forward with that version then, getting one step closer to finalizing the update OC logo!

Thank you everyone for the feedback and votes.

https://twitter.com/Lombiq/status/1375420046118432773

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Which one of the new <a href="https://twitter.com/hashtag/OrchardCore?src=hash&amp;

[2021-04-06 14:08] TFleury opened #9070 "ContentFieldIndexing of TimeField fails"
### ContentFieldIndexing of TimeField fails
and prevents creating / updating content items with TimeField.

### To Reproduce
Steps to reproduce the behavior:
1. Enable "Content Fields Indexing (SQL)" feature
2. Create a ContentType with a TimeField
3. Try to create a content item of this type
4. See error

### Expected behavior
Of course, it should save.

#### Stack trace
[code]

[2021-04-06 14:36] deanmarcussen commented on #9070
Is this just SQL Azure, or did you produce on SQL2016 as well?

[2021-04-06 14:43] TFleury commented on #9070
Reproduced on MS SQL Server 2019.

I first thought it was related to SQL Azure but it was an error.

In TimeFieldIndex, Time column is mapped to `DateTime` but it should be `TimeSpan`.

I've the PR ready.

[2021-04-06 14:56] #9065 closed

[2021-04-06 16:39] overstartup commented on #9039
@Skrypt @jtkech thanks a lot :)

[2021-04-06 17:13] overstartup commented on #9039
@jtkech I tested it. This issue is solved, but I got another error.
`
**An unhandled exception occurred while processing the request.**`

[code]

[code]
Show raw exception details

[code]

[2021-04-06 17:31] MikeKry commented on #9043
@deanmarcussen

Great to hear about possibility to use Placements to update summary view, did not know about this option.

I have created today for our project this custom deployment step based on taxonomies and I expect it to be tested a lot during next weeks. so if it will be okay, I can include it in OC then.

About changing / not changing status - I will check how it will work and how others w

[2021-04-06 17:47] overstartup commented on #7200
@hishamco @Skrypt  i'm sorry to coming back late.
i tested it with Arabic (ar) and Persian (fa) it has the same issue.
i seem the issue with all HTML Editors types happen.

@Skrypt where i should put this file?

[2021-04-06 18:19] deanmarcussen commented on #9043
Cool, your other option, which would keep the deployment data away from the content item- where it probably doesn’t belong - would be to put an index on the deployment plan and index the items in the ContentStep with the version id and plan name. Then query this from a ContentsDriver when rendering SummaryAdmin.

Then when deleting the plan after publishing the indexes would be automatically delet

[2021-04-06 19:03] #8838 closed

[2021-04-06 19:04] deanmarcussen opened #9077 "Separate placement node filter for stereotypes"
from https://github.com/OrchardCMS/OrchardCore/pull/8839

Implement a placement node filter that is specifically for stereotypes, instead of being wrangled into the content type node filter provider.

[2021-04-06 19:09] deanmarcussen opened #9078 "Revert langversion back to 8"
Not properly supported by razor on aspnet core 3

from this pr https://github.com/OrchardCMS/OrchardCore/pull/9017

[2021-04-06 19:59] hishamco commented on #7200
This is an old issue Ahmad ;) could you please write down the steps to reproduce (in details)

[2021-04-06 20:07] #9078 closed

[2021-04-06 20:17] jtkech commented on #9039
@overstartup

Yes, before the `shape_stringify` was returning an html content value, now it returns a string as it was intended to do

Show us where you are using the `shape_stringify` filter, you may have to replace it with the `shape_render` filter.

[2021-04-06 21:20] overstartup commented on #9039
I used shape_stringify to format the date.
Thank you very much it is solved.

[2021-04-07 07:59] chdq0306 commented on #8422
I have got it by myself with yessql collection;
OrchardCore is not only a cms or little saas ,but a powered saas now!

[2021-04-07 09:23] deanmarcussen commented on #9060
Related https://github.com/OrchardCMS/OrchardCore/issues/7826 but the op never replied to any questions so :(

Looks like maybe we should introduce a background task to regularly clear the pools

[2021-04-07 16:56] bashuss opened #9088 "Violation of PRIMARY KEY constraint 'PK__t4h_Docu__3214EC07B34ED974'. Cannot insert duplicate key in object 'dbo.t4h_Document'. The duplicate key value is (81)."
### Describe the bug
Any Admin Interface action that would create a new entry in document table states that it was successful, but actually fails. The system stays unchanged.

This is a multi tenant setup with two mandants. Development in VS2019 and a live-preview run on the same sql server data bases. Strange enough, in both databases the document table id (primary key) is not set to auto increme

[2021-04-07 17:30] hyzx86 commented on #6554
But what should I fill in here? could you give me an example?

[2021-04-07 17:31] hyzx86 commented on #6554
https://github.com/OrchardCMS/OrchardCore/issues/8526

[2021-04-07 17:35] #6554 closed

[2021-04-07 21:34] jptissot commented on #8967
Thank you @jtkech I will try it and report back :)

[2021-04-07 22:14] jptissot commented on #8965
@sebastienros Is this syntax valid liquid (especially the elsif)

[code]

Moving the `User | is_in_role: "Volunteer"` in an assign statement and using the variable fixes the display issue.
No exception is thrown and nothing is displayed on the frontend.

[2021-04-07 22:24] jtkech commented on #8965
Also, i think you have to use `User.Name` in place of `User.Identity.Name`

[2021-04-08 01:21] jtkech commented on #9088
Which version?

Just tried it works on my side but with the last dev branch

[2021-04-08 02:20] jptissot commented on #8965
@jtkech I am pretty sure we still need `User.Identity.Name` https://github.com/OrchardCMS/OrchardCore/blob/11ce349db32e5eff496140b84d6817ced6846370/src/OrchardCore.Modules/OrchardCore.Users/Startup.cs#L241

[2021-04-08 02:22] jptissot commented on #8965
System.Exception: Shape type 'Brand' not found
https://github.com/StatCan/StatCan.OrchardCore/pull/209/checks?check_run_id=2186396514#step:7:135

This was an invalid use of the `{% shape %}` tag. We were calling the Brand shape with the ContentItem type. Now I simply call the ContentItem shape with the alias and let the DisplayManager call the right template for the shape.

[2021-04-08 02:39] jtkech commented on #8965
Oops you're right, and i updated it recently ;)

[2021-04-08 06:58] scleaver opened #9093 "ConcurrencyException thrown by OrchardCore.Contents.Workflows.Handlers.ContentsHandler"
I am pretty sure this is my issues in particular but just in case!

I am seeing some ConcurrencyException in production similar to https://github.com/OrchardCMS/OrchardCore/issues/7449 it is coming from a section of code that creates content via the API. This works perfectly fine using SQL Server locally but as soon as it is up in PRD - BOOM!

[code]
then occassionally

[code]

I did recently depl

[2021-04-08 07:04] scleaver commented on #9093
This is the code base I am on at present https://github.com/OrchardCMS/OrchardCore/tree/eda07c1a7ad92e97fcadf3aa0a823b4464142012

Looks like there has been a lot of commits since then.

[2021-04-08 07:52] #9070 closed

[2021-04-08 08:13] bashuss commented on #9088
I am quite sure that it will work in your version. It seems very much like the real trouble is that something damaged the database or keeps it out of sync somehow.
So I guess this is just a symptom of a problem that happend before.

I was the official stable RC2 version. Main Project shows 1.0.0.0

Can you check for me, if the primary key of the documents table is supposed to have auto increment t

[2021-04-08 09:03] deanmarcussen commented on #9088
The primary key should be auto increment off.

YesSql uses the Identifiers table to generate id blocks. You may want to see if something has going missing with that table.

[2021-04-08 09:26] MikeKry commented on #9043
@deanmarcussen

What do you think about extending taxonomy settings with new field "display in content item list", which would add taxonomy to adminsummary?

I have used view and placement like you suggested before and it looks like this now:
![image](https://user-images.githubusercontent.com/52829889/114002361-15335c00-985d-11eb-97b2-a04fd5e88cbd.png)

There are two options for general solution:

[2021-04-08 09:28] chdq0306 commented on #8422
已经解决了，谢谢大家，学到了很多东西。虽然不是完全按照OpenID Tokens的例子搞的，但是也学习了。

[2021-04-08 09:28] #8422 closed

[2021-04-08 10:24] MikeKry opened #9098 "UI improvement: Show title render settings"
Based on feedback from using OC, we have identified that it is useful for users to know if title is rendered on website, or it is just internal identifier in administration.

I have made a customization for this in TitlePart view and if it would make sense, I can create a PR so it could by included by default in OC. It makes sense to me, as we already have setting for rendering.

Looks like this:

[2021-04-08 12:46] bashuss commented on #9088
So I shut down both instances of orchard core and only restarted one of them from VisualStudio.
Before the Identifiers table with the same prefixes as the documents table showed just one entry with two columns:
dimension: <null>
nextval: 201
The 201 was a few ids above the last used id in document table.

I tried inserting users as shown above. The first time it failed with the same error, the sec

[2021-04-08 12:58] MikeKry opened #9101 "Remote deployment roles missing"
Roles for remote deployment can't be set, they aren't in admin at all, probably because they are not registered in startup.cs? OrchardCore.Modules/OrchardCore.Deployment.Remote/Permissions.cs

Because of this, only admin can deploy to another environment. Is there a reason for that, or can I fix it and create PR?

[2021-04-08 14:08] deanmarcussen commented on #9101
The permissions you mean? yes, just register them

[2021-04-08 16:55] #9044 closed

[2021-04-08 17:39] mariojsnunes commented on #6327
I am working with Azure App Services.
So the current solution to deploy with a Slot is to have the lucene index folders created on the slot, and activate the Lucene.Worker feature that runs IndexingBackgroundTask every minute?

[2021-04-08 18:13] #9023 closed

[2021-04-08 20:53] jptissot commented on #8967
I think it fixed the issue :)

[2021-04-08 21:02] jtkech commented on #8967
@jptissot Cool, good to know, thanks

[2021-04-08 21:45] scleaver opened #9103 "Fields are not auto welded onto the kernel"
### Describe the bug
When creating a content item via the API fields are not auto welded onto the kernel like parts are. This means that you need to either remember to create a new Field via code for every field in your content item otherwise you will not be able to save the item after editing in the Admin UI OR you might get Indexing errors when you save the item via the API.

### To Reproduce
Cr

[2021-04-08 21:46] scleaver commented on #9093
This is my code issue - closing.

[2021-04-08 21:46] #9093 closed

[2021-04-09 03:36] jtkech commented on #9088
@bashuss

Normally each instance try to lease its own range of numbers ( a block of 20 values)
https://github.com/sebastienros/yessql/blob/1d04a007d893f0287ecc721f087d4f9764f9c90f/src/YesSql.Core/Services/DbBlockIdGenerator.cs#L121

                // Ensure we overwrite the value that has been read by this
                // instance in case another client is trying to lease a range

[2021-04-09 04:40] hyzx86 commented on #6939
https://github.com/OrchardCMS/OrchardCore/pull/4554

[2021-04-09 07:33] bashuss commented on #9088
Yes, I will open a new issue there.

It is great, that you found a way to reproduce the symptom. In my opinion, it would also be necessary to have this kind of error notified to the (admin-) user. It is very frustrating, if orchard appears frozen to changes, but tells you that all is fine.

One thing still seems a bit strange to me. The way I understand your explanation, the 20 id leases is a bloc

[2021-04-09 08:39] bashuss opened #9104 "Themes with embedded images (like Agency) - ressource paths used in css url() should not be case sensitive in live environment"
### Is your feature request related to a problem? Please describe.
When working on images and css of a theme with embedded images, the development environment behaves differently regarding case sensitivity than the live site (even on windows server). This can create frustration and long searching for problem.
e.g. your image automatically gets an uppercase .JPG by your editing software, but you ar

[2021-04-09 10:21] MikeKry commented on #9101
Registered, created pr.

[2021-04-09 11:55] orchardc opened #9107 "In recent updates, the NormalizedUserName has changed all '@' into '+'"
In recent updates, the NormalizedUserName has changed all '@' into '+'

i..e previously user has login name: user@1 , now in the UserIndex table and Document table, the NormalizedUserName has changed to user+1

What is the recommendation? Because we have business logic that links to NormalizedUserName field;

Shall we manually update the UserIndex and Document tables to back to uesr@1, or shall we

[2021-04-09 13:18] Sen-Gupta commented on #4316
The PR can be seen here #9108

[2021-04-09 13:48] sebastienros opened #9109 "Document team development best practice"
Take content from @deanmarcussen 's example https://github.com/OrchardCMS/OrchardCore/discussions/7052

[2021-04-09 13:56] hishamco commented on #9109
Is there a section in docs for "Best Practices"?

/cc @agriffard

[2021-04-09 14:05] sebastienros commented on #9109
In guides will be fine

[2021-04-09 14:19] #9101 closed

[2021-04-09 15:59] Skrypt commented on #9107
Your business logic should now link to the UserId instead. NormalizedUserName is not immutable ; UserId is.

[2021-04-09 16:46] jeffolmstead commented on #8973
Just wanted to leave feedback that I had the same issues, and updating to latest release on DEV branch took care of things. @jtkech thanks for all those pull requests for the encoding issue, I think that took care of it (and some other issues i was having).

[2021-04-09 16:46] orchardc commented on #9107
Thanks @Skrypt , but there are so many cases that we need to use `User.Identity.Name` as parameter to query, now with UserId, how can we get the UserId

[2021-04-09 17:14] Skrypt commented on #9107
It should be part of the Claims. See what @kevinchalet does with OpenId.

[code]

[2021-04-09 17:18] #9032 closed

[2021-04-09 18:02] Skrypt commented on #9107
From a Query.

[code]

[2021-04-09 18:10] issue-media-group opened #9110 "Taxonomy Editor script throws an exception when using the "Tags" editor and the "unique" option selected"
@deanmarcussen

### Describe the bug
The Taxonomy Editor script (tags-editor.js) throws an exception when using the "Tags" editor and the "Unique" option.

### To Reproduce
1. Create a content type using a taxonomy that is configured to use the "Tags" editor and single select (i.e. "Unique" option)
2. Create or Edit a content item and try to select one of the tag terms.
3. A javascript exception i

[2021-04-09 18:17] Skrypt commented on #9103
Indexing errors in SQL or Lucene?

[2021-04-09 18:20] Skrypt commented on #6939
Can implement for Lucene Queries. Can't be added for SQL Queries as it's equivalent to do a second query like : `SELECT COUNT(*) FROM TABLE`

[2021-04-09 18:30] Skrypt commented on #9104
You can use Media Slugify feature in OC to mitigate these issues.

![image](https://user-images.githubusercontent.com/3228637/114225216-0f627700-9940-11eb-8036-522778fa6ae8.png)

[2021-04-09 18:47] orchardc commented on #9107
We actually found a shorter (not sure if it's better) solution :  `userManager.GetUserId(User);`

[2021-04-09 18:49] sebastienros opened #9111 "Create recipe with common widgets"
The blog theme recipe creates a few useful widgets like Paragraph, Image, HtmlContent, ...
Maybe we could create a dedicated admin recipe (not a setup one) that contains these, and allow any site to create them? Could also be a feature, which itself has different startup classes dependent on other features to create the widget, since some parts might only be available with some specific features.

[2021-04-09 18:59] jptissot commented on #9111
We did something similar to this here: https://github.com/StatCan/StatCan.OrchardCore/tree/master/src/Modules/StatCan.OrchardCore.CommonTypes

[2021-04-09 19:14] chadbengen commented on #8973
Thanks!  I'm not planning on confirming at this time since my workaround is "good enough for now".  I will assume that @jtkech  and @jeffolmstead  are right and close the bug.

[2021-04-09 19:14] #8973 closed

[2021-04-09 19:14] Skrypt commented on #9107
Works too. Encapsulates the previous.

https://source.dot.net/#Microsoft.Extensions.Identity.Core/UserManager.cs,16ac3e296ed8ac35,references
https://source.dot.net/#Microsoft.Extensions.Identity.Core/UserManager.cs,530346943c4d6a76,references

[2021-04-09 19:42] kdubious commented on #9109
I wrote something and submitted a PR, open to feedback.

[2021-04-09 19:47] willnationsdev opened #9114 "Bad link for documentation in CONTRIBUTING guide"
I don't really know how best to integrate Vue/SCSS with .NET, but I want to follow OC conventions for how modules are defined, so I thought I'd look at your guide to contributing to see how to compile the project and its assets. Only, the link to the documentation in the CONTRIBUTING.md file goes to a 404 not found page.

1. Where is the documentation for compiling?
2. The link `https://github.com

[2021-04-09 19:55] #9114 closed

[2021-04-09 19:56] orchardc commented on #9107
Thanks @Skrypt , what is the build number for this change? Is it 16084?
How to call it from the `User` object?

[2021-04-09 20:27] orchardc commented on #9107
I still think it's not as easy as using `User.Identity.Name`; the new approaches both require to make another call to get the userid.

[2021-04-09 20:43] jtkech commented on #8973
@jeffolmstead Thanks for the feedback

@chadbengen No problem

[2021-04-09 21:10] jtkech commented on #9088
Because it is not aware of this maxid, after restarting on the 1rst update it only reads the current nextval and leases a new block from it, what we could do at least before leasing a new block is to check if the current maxid >= nextval.

[2021-04-09 21:16] Skrypt commented on #9107
We could maybe expose this property on the User object. Need to see but this comes from asp.net identity.

[2021-04-09 21:41] orchardc commented on #9107
Thank you @Skrypt , since we are using UserId as the key now, it makes perfect sense to expose this property. Not sure how long it will take though?

[2021-04-10 07:25] bashuss commented on #9104
No, you do not really understand my issue. I am aware of this Linux server behavior. But I am hosting on a Windows Server.
The issue appears, as during development in VisualStudio Files in a Theme like "The Agency" are hosted directly from the wwwroot folder. You can throw in, change and rename your files at any time.
But after deployment, on the hosting server, there are no such folders for the A

[2021-04-10 09:52] deanmarcussen commented on #9107
Which `User` object are you talking about in terms of exposing the `UserId` ?

There are many.
- either current `User`, which is a `ClaimsPrincipal` and is part of the asp.net ecosystem. It can be accessed by the code @Skrypt has already given you, i.e. `httpContext.User.FindFirstValue(ClaimTypes.NameIdentifier)`
- the `IUser` which we would not want to expose the `UserId` on directly, as it's des

[2021-04-10 10:42] jeffolmstead opened #9120 "Liquid For Loop 'Non-negative number required'"
@sebastienros prior to the Liquid update in 'dev' branch, you, you could do this:

[code]

On the for loop, you did not care if 'nestedIndexSize' was less than 0, it just wouldn't render the for loop. With the latest change it will throw an error of:

[code]

To fix it you have to do something like this:

[code]

In other words, you have to put an if statement in to ensure it is greater than 0.

M

[2021-04-10 12:28] orchardc commented on #9107
Hi @deanmarcussen , @Skrypt

I noticed that in the recent upgrade, within the **NormalizedUserName** has changed all '@' into '+'
For example, previously user has login name: user@1 , now in the UserIndex table and Document table, the NormalizedUserName has changed to user+1

This causing business logic error (because we have other tables which use UserName as the key to link to the UserIndex tabl

[2021-04-10 13:31] agriffard commented on #2345
See #8266

[2021-04-10 13:31] #2345 closed

[2021-04-10 14:10] sebastienros commented on #2345
I noticed it doesn't trigger preview updates

[2021-04-10 16:06] sebastienros commented on #9120
I fixed it, will update OC now. I also found an issue when `limit` is negative, it should strip a range/enumeration from the end like `SkipLast()`.

[2021-04-10 16:16] Skrypt commented on #9107
I feel like this question is redundant. Please make a search on the issues and PR to find "UserId" term and I'm pretty sure we already answered all of these questions.

[2021-04-10 16:34] #9120 closed

[2021-04-10 16:53] orchardc commented on #9107
We end up with replacing '+' with '@' of the NormalizedUserName field in UserIndex table; also updated the Content json in the Document table. So it's back to normal - we don't mind the there is @ in the NormalizedUserName field.

@Skrypt  Do you think the upcoming upgrade will change it again ??

[2021-04-10 17:24] jtkech opened #9123 "Meeting Feedback"
- About disposing `ISession` if an exception is thrown, we have different methods to execute in a given shell scope but we always pass through the following one that uses an `using block` on this shell scope ensuring that it will be disposed, so its service provider and then any `IDisposable` services.

https://github.com/OrchardCMS/OrchardCore/blob/67462e3df7d3930acc17c91aa0f59960982f6e61/src/Orc

[2021-04-10 17:40] Skrypt commented on #9107
It won't, but using an email as an identifier is a security concern. This is why we did the change. The appropriate reaction to this is to use the UserId. Using the NormalizedUserName field as an identifier is not recommended as it is not immutable.

[2021-04-10 18:42] jtkech commented on #9123
@sebastienros

Finally, about the static `AsyncLocal<ShellScope>` we need a discussion, i'm not against removing its usage

- I already thought about making an `IShellScopeAccessor` to retrieve its service provider, but we already override the `HttpContext.RequestServices` by the following, so using an `IHttpContextAccessor` would do exactly the same as getting the `RequestServices` would just ret

[2021-04-10 18:58] orchardc commented on #9107
Hi @Skrypt , thanks for the suggestion. I have a question: isn't the NormalizedUserName used for user login (as the user name)? By changing @ to +, it also changed the user login (and user don't know it), how come NormalizedUserName is not immutable?

[2021-04-10 19:01] sebastienros commented on #9123
I am thinking that if a service needs the current scope, because it's singleton for instance, then it should be passed in a context object to the method, or it should be split in two:
- singleton service, with the state
- scoped/transient service that is actually used, resolving the singleton service

And if that doesn't work then this component should create its own scope, like background tasks d

[2021-04-10 19:06] Skrypt commented on #9107
The NormalizedUserName is not immutable by design. It's part of ASP.NET Core identity. As a user you should be able to change your UserName ... you should also be able to change your account email. So there is no issue there that those are not immutable.

The UserName should never use a @ because you can then spoof someone else account by using the email of someone else account in your UserName. T

[2021-04-10 19:16] orchardc commented on #9107
Thanks for the clarification, it is clear to me now. Important to know: is there a plan to make users be able to change their UserName (NormalizedUserName ) in OC?

[2021-04-10 19:18] Skrypt commented on #9107
They already can do that.

[2021-04-10 19:38] Skrypt commented on #9104
Ok, maybe there is something there but I'd rather keep the default behavior of a MVC project if that is.

/cc @jtkech

[2021-04-10 19:47] orchardc commented on #9107
I guess there is a way to turn this feature off? :)

[2021-04-10 20:28] jtkech commented on #9123
Yes, this is what i think

But we still need to use the AsyncLocal ShellScope e.g. to add a DeferredTask. That's why in some code where i need to use `ShellScope.AddDeferredTask()`, i also use `ShellScope.Services` if i need to retrieve the service provider.

Note: To prevent multiple async local accesses, better to use an intermediate variable `var scope = ShellScope.Current`

But sometime i let

[2021-04-10 21:11] Skrypt commented on #9107
Yes, but nothing prevents from turning this feature on. Any module could reconfigure the ASP.NET Identity middleware options. So, this was not a retained proper solution.

[2021-04-10 21:13] jtkech commented on #9104
Yes, for embedded files we are case sensitive to prevent conflicts with other files on a case sensitive file system.

But yes, for now on windows a physical file provider is always case insensitive, so idem for the part of a static file provider using physical file providers, they plan to implement a case sensitive option but not yet done.

[2021-04-10 21:16] Skrypt commented on #9104
So basically we follow what MVC does... nothing to fix here.

[2021-04-10 21:21] jtkech commented on #9104
While in dev we could make e.g. our `ModuleProjectStaticFileProvider` case sensitive, but for now we can't retrieve the exact file name from a file info, see https://github.com/dotnet/runtime/issues/14321

[2021-04-10 22:02] #9107 closed

[2021-04-10 22:03] orchardc commented on #9107
Closed as by design .

[2021-04-11 00:25] #8970 closed

[2021-04-11 08:24] orchardc commented on #9107
Hi @Skrypt ,

I looked into docs and [source code](https://github.com/OrchardCMS/OrchardCore/tree/b093ee27a538873ef5c559afa19572e9368f42b0/src/OrchardCore.Modules/OrchardCore.Users/Views), there isn't a View that supports users to update their username; although Backend Admins can do so, it can be controlled by a security role.

Is it correct or am I miss something?

Many thanks!

[2021-04-11 09:01] deanmarcussen commented on #8395
For info the current versions YesSql is tested against.
[code]

think we're safe to safe MS SQL 2016 here as well, but should probably bring it into the test matrix at some point

[2021-04-11 12:48] weirdyang commented on #6527
Check out this issue https://github.com/OrchardCMS/OrchardCore/issues/6027 the user has provided a very thorough guide on how to upload and create content

[2021-04-11 20:24] agono commented on #8840
I think the issue is in this piece of code of the AccessController of OpenId module. The Claim.Roles constant equals "roles" but OC sets claim.Type to "http://schemas.microsoft.com/ws/2008/06/identity/claims/role".
If for example add this line, you get OC roles as claims: case @"http://schemas.microsoft.com/ws/2008/06/identity/claims/role":

`private IEnumerable<string> GetDestinations(Claim claim

[2021-04-12 05:01] datdv260497 opened #9139 "Liquid in ViewPart not working"
### Describe the bug
Orchard core version: 1.0.0-rc2-16078
I create module with cmd: dotnet new ocmodulecms -n ModuleName.OrchardCore --AddPart true --PartName Test
I add liquid code  {{ Model.ContentItem | display_text }} into TestPart template.
But liquid not working for me.

### Screenshots
![image](https://user-images.githubusercontent.com/49801948/114342768-9f91fd80-9b86-11eb-97c6-2206ea60547

[2021-04-12 11:49] MikeKry opened #9147 "Lucene - fails to create folder automatically"
When you setup lucene index and access project from different computer/folder, without sharing contents of folder "App_Data\Sites\Default\Lucene" then OC fails on error when I try to rebuild index.

E.g. if you have index "Fulltext" and OC fails to build index, it is enough to manually create folder "Fulltext" in "App_Data\Sites\Default\Lucene", but I think, it should be checked and created automa

[2021-04-12 19:00] Skrypt commented on #9147
duplicate.

[2021-04-12 20:38] davidhayden opened #9150 "Search Broken?"
I upgraded one of my Orchard Core websites to a recent development release a couple of days ago and search stopped working. In particular it looks like the templates for `Search-Form.liquid` and `Search-Results.liquid` are no longer being rendered, but I haven't had time to investigate it deeply. I also noticed that I am getting errors in the backend when I attempt to add or edit a Lucene Index, b

[2021-04-12 20:43] Skrypt commented on #9150
I'd say something is wrong starting from this step :
https://docs.orchardcore.net/en/dev/docs/guides/implement-fulltext-search/#third-step-configure-search-settings

You either don't have any index field associated to the Search form or no index at all.
Also, you need to have at least added some FullText settings on a content type if your settings are set to Content.ContentItem.FullText field.

[2021-04-12 20:49] davidhayden commented on #9150
The Blog Theme Recipe sets all that up, but as mentioned, I verified everything was setup correctly.

I don't think it's a configuration issue.

[2021-04-12 21:34] agriffard commented on #9150
After creating a tenant and configuring the indexing on blogpost, rebuilding and debugging it, I can see that the model returns a Result with items but I confirm that the SearchForm and SearchResults are not rendered. (calling url `/search?Terms=man`)

Even if I add `{{ Model.Terms }} ` in TheBlogTheme\Views\Shared\Search.liquid, nothing appears.

if I add `{{ Model | json }}`, it returns:
`{"Term

[2021-04-12 22:55] jtkech commented on #9150
Fixed on my side ;)

Yes, this is because now we don't register the access strategy of each model type automatically on the fly.

So we need to register them explicitly and the search view models are missing

Will do a PR soon

[2021-04-13 00:42] jtkech commented on #6449
@Piedone

This is funny, i thought it was already fixed by #8968 but was not sure, so just tried it

It now works ;)

[2021-04-13 00:42] #6449 closed

[2021-04-13 11:28] Piedone commented on #6449
Fantastic!

[2021-04-13 11:48] agriffard commented on #9150
If `Model.SearchResults` has no results, it is not rendered at all so it does not render the `There are no such results.` in Search-Results.liquid. Ex: when the search form is empty.

[2021-04-13 15:23] Skrypt commented on #9150
Probably null handling has changed.

[2021-04-13 16:19] jtkech commented on #9150
@agriffard

Just tried it works as expected when you input at least one term that is not found, you get `There are no such results`.

When you don't input any term, this is in the controller that we only return the form shape, not the result one.

            if (string.IsNullOrWhiteSpace(viewModel.Terms))
            {
                return View(new SearchIndexViewModel
                {

[2021-04-13 16:19] #9150 closed

[2021-04-13 16:23] Skrypt commented on #9150
Form validation simply yep

[2021-04-13 21:43] agriffard opened #9160 "Liquid Page title with filter"
During meeting, we talked about #9159.
@sebastienros said there might be a way to do it in one line.

I think he refered to a ​https://github.com/sebastienros/fluid/blob/main/Fluid/Ast/FilterExpression.cs and to use it instead of an Expression:
https://github.com/OrchardCMS/OrchardCore/blob/7ff46997d7b1d094102a895195646ef66d54eb90/src/OrchardCore/OrchardCore.DisplayManagement.Liquid/Tags/RenderTit

[2021-04-13 21:58] sebastienros commented on #9160
I meant that: https://github.com/OrchardCMS/OrchardCore/blob/1ec2e9898ff37e49d4224732c8a3e0acb5ed2fa6/src/OrchardCore/OrchardCore.DisplayManagement.Liquid/LiquidViewParser.cs#L21

But it's actually not possible since it accepts a list of arguments, and arguments can't be direct filters.

[2021-04-13 21:58] #9160 closed

[2021-04-14 02:18] jptissot opened #9162 "Non draftable items should display the unpublish button"
The unpublish button is visible and can be used for types that are not draftable. This button should be hidden.

[2021-04-14 02:25] jptissot opened #9163 "Formula field"
Add a Formula field that is not editable but has a pattern similar to the `TitlePart`. This will allow us to have fields that aggregate other pieces of content.

[2021-04-14 02:31] jptissot opened #9164 "Add draft alert when adding terms to taxonomy"
### Describe the bug
When adding a term to a taxonomy the taxonomy goes into draft mode. You need to publish the taxonomy again for the terms to be accessible from the frontend. Add an alert (warning/information) that tells the user that new terms are not yet published.

[2021-04-14 02:39] jptissot opened #9165 "TitlePart pattern is cutoff when using a long pattern"
See the screenshot

![image](https://user-images.githubusercontent.com/4681586/114646392-2808bf00-9ca9-11eb-9b2c-448fe340d1b0.png)

[2021-04-14 03:55] Skrypt commented on #9165
We should maybe update these using the new Monaco editor. Else this should be an easy css fix.

[2021-04-14 03:56] Skrypt commented on #9163
Elaborate an example where it would be better than using a Liquid template pattern?

[2021-04-14 04:03] Skrypt commented on #9162
I think it is fine. When you unpublish a Content Item that is not versionable it will unpublish the current Content Item without creating a new version of this Content Item. So, if you unpublish it, it's fine, else you would require to delete these content items to unpublish them from the website. Here unpublishing a content item doesn't create a new version of the Content Item unless I'm wrong. S

[2021-04-14 04:09] #9147 closed

[2021-04-14 04:35] #9123 closed

[2021-04-14 06:50] deanmarcussen commented on #9164
Duplicate https://github.com/OrchardCMS/OrchardCore/issues/7054

[2021-04-14 06:50] #9164 closed

[2021-04-14 06:52] deanmarcussen commented on #9163
also a duplicate (and designed) of https://github.com/OrchardCMS/OrchardCore/issues/4972

[2021-04-14 13:25] jptissot commented on #9162
It's not an issue but I just assumed that an non draftable item should not have a button to make it a draft. Even if we know there are other ways to do this (scripting, workflows) that would not be enforced. I just found it counter intuitive.

[2021-04-14 15:53] Skrypt commented on #9162
So, if unpublishing a Content Item that is non-draftable makes a new ContentItemVersionId I agree, else it's not an issue.

[2021-04-14 16:05] #6327 closed

[2021-04-14 17:05] weimarcoro opened #9169 "Azure AD B2C not returning email claim causes OrchardCore not able to pass the registration view"
### OrchardCore presents a blank Email field in the registration view after successfully logged in with Azure AD B2C using OpenID protocol and implementation
The missing email claim is a known issue here:
- https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19526191-openid-connect-id-token-is-missing-email-claim
- https://github.com/MicrosoftDocs/azure-docs/issues/16566

#

[2021-04-14 18:51] jtkech commented on #9162
As i remember the version records of a non draftable items are managed internally in the same way as others

The main difference is that when editing a non draftable there is no button to save it as a draft, only a publish button, so even if they are managed internally in the same way, e.g. when you edit it we create a new temporary draft version that is then published when we click on publish, th

[2021-04-14 19:30] Skrypt commented on #9162
What if I want to still be able to unpublish a content item then? Should we have another Content Item state in that case? Something like published = 0, latest = 1. Then the item would be marked as a "draft" but it's just the same content item but marked as unpublished ...

[2021-04-14 19:42] jtkech commented on #9162
Yes i agree, you would have to delete it ;)

Hmm finally, non draftable is just that we don't suggest a save as draft button while editing, but still allowing to unpublish an active published version that you are able to re-edit and then re-publish

So i would let it as it is

[2021-04-14 20:35] Skrypt commented on #9139
Template name is probably incorrect.

[2021-04-14 20:50] hishamco commented on #9165
CSS fix may be easier and better in this case, can you do it Jasim or I will handle it?

[2021-04-14 20:53] hishamco commented on #9163
Can we close this and keep #4972 open?

[2021-04-14 21:02] #9163 closed

[2021-04-14 21:02] Skrypt commented on #9165
Go for it.

[2021-04-14 21:13] rjpowers10 opened #9173 "Nullable reference types in Razor Views"
### Describe the bug
We're trying to enable [nullable reference types](https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references) in our site. This seems to work well except for this problem we are having with Razor views.

![image](https://user-images.githubusercontent.com/68876423/114777823-1c1d0b80-9d42-11eb-9a70-408a09ad3535.png)

What's strange is that this error only happens at runt

[2021-04-14 21:19] jptissot commented on #9165
I think this occurs in other fields (Saw it with the Query editor as well @hishamco)

[2021-04-14 23:07] jtkech commented on #9173
Yes, if you remove `PreserveCompliationReferences` it is set to false by default by aspnet (before it was true by default) and then no `refs` folder is outputed, so there is no runtime compilation.

The other condition to use runtime compilation is to be in `IsDevelopment()` mode so that it is not used in production mode. But which version are you using? Recently we did a change because even if in

[2021-04-14 23:10] CrestApps opened #9174 "When using display-mode for a part, the `[PartName]-[DisplayMode].Display.cshtml` never gets called"
### Describe the bug
When using display-mode for a part, the `[PartName]-[DisplayMode].Display.cshtml` never gets called.

### To Reproduce
Steps to reproduce the behavior:
I created a custom field called NumericRangeField as [described here ](https://github.com/OrchardCMS/OrchardCore/discussions/9063).

Using a migration, I created an attachable part that that has multiple fields called `MoreFilt

[2021-04-14 23:10] jtkech commented on #9173
Historically, before, even if in production, we were allowing runtime compilation but only for razor views defined at the application level.

[2021-04-15 02:21] datdv260497 commented on #9139
I checked Html in template works normally, but liquid is not

[2021-04-15 04:20] jtkech commented on #9139
@datdv260497

Just tried it works but not e.g. under TheBlogTheme because of the following reason

In the BlogTheme the views are not using the full shape system, but a mix of rendering data directly from e.g. the content item Content json data as in the database, and of rendering a e.g. a given part / field by using the shape_render filter.

    // Use the Content json data as persisted in the db

[2021-04-15 08:51] MichaelPetrinolis commented on #9169
You could map signInNames.emailAddress to 'email' claim and then it will work as expected. 'emails' is not a standard open id claim

[2021-04-15 09:09] deanmarcussen commented on #9174
I assume this is essentially a dynamic part without drivers?

Dynamic parts do not currently support display modes

There is a pr here https://github.com/OrchardCMS/OrchardCore/pull/8935 adding support for that, just waiting for a couple of little bits of feedback to be addressed.

[2021-04-15 10:12] agriffard opened #9176 "Drop widget to empty zone"
In the Widgets admin page, it is not possible to drag and drop a widget into a zone that does not have any widgets.

[2021-04-15 12:52] rjpowers10 commented on #9173
@jtkech This is 1.0.0-rc2-16060 and my environment is DEVELOPMENT.

[2021-04-15 13:16] deanmarcussen opened #9179 "StringBuilder Pool Crashes Site"
Somethings going a little weird with the `StringBuilder` pool, and the `ViewBufferTextWriterContent`

About to head into a meeting, but the current repo is just to refresh the agency landing page a few times.

Sooner or later, there's an error in the `StringBuilderPool.GetInstance() `

[code]

When this happens, the instance coming back from the string builder has a value, i.e.

<img width="753" a

[2021-04-15 15:29] deanmarcussen commented on #9179
so a few things going on here.

definite issues with fluid 2.0.4

one render
<img width="803" alt="Screenshot 2021-04-15 at 15 31 59" src="https://user-images.githubusercontent.com/13782679/114893572-bdb96100-9e05-11eb-87c3-8f8120d79341.png">

next render

<img width="798" alt="Screenshot 2021-04-15 at 16 14 10" src="https://user-images.githubusercontent.com/13782679/114893601-c4e06f00-9e05-11eb-9

[2021-04-15 15:38] CrestApps commented on #9174
Yes I am using dynamic part without drivers here. I hope that PR gets approved soon so I can use it in my case as well.

[2021-04-15 15:39] CrestApps commented on #9174
Yes I am using dynamic part without drivers here. I hope that PR gets approved soon so I can use it in my case as well.

[2021-04-15 19:16] jtkech commented on #9179
Just after a quick look so not sure, but i think it's because the execution of some tasks in parallel, here e.g. https://github.com/lahma/fluid/blob/cbf7f887ab25c5bea4fe14791aaff770b1e09899/Fluid/Ast/ElseIfStatement.cs#L24 and that write to the writer that may be our `ViewBufferTextWriterContent`.

[2021-04-15 19:18] hishamco commented on #9165
I will have a look to the Query editor too

[2021-04-15 19:48] weimarcoro commented on #9169
@MichaelPetrinolis thanks for your answer. However, do you mean map the claims inside Azure AD B2C custom policies, right? If so, I have already tried that but there is another bug preventing that workaround to be a solution. The bug here: https://docs.microsoft.com/en-us/answers/questions/50355/unable-to-sign-on-using-custom-policy.html

[2021-04-15 20:12] jtkech commented on #9179
**Update**: Talked too quick ;)

But @sebastienros found the issue !!!

[2021-04-15 21:58] hishamco commented on #9179
@jtkech is this have been resolved by the Async methods added by Seb?

[2021-04-15 22:25] jptissot commented on #9179
I think so. I tested on my solution using the nuget pacakges and everything seems fine now.

[2021-04-15 22:31] jtkech commented on #9179
Yes i could repro the issue too and seems to be fixed by the PR of @sebastienros

But now @sebastienros has another issue, but that i can't repro on my side, so for now i can't help ;)

[2021-04-15 23:19] #7598 closed

[2021-04-15 23:19] Brendan-csel commented on #5925
Hi folks and thanks for all your work on this project.  We've going to use it to replace an old DNN website for a client.

This is one corner where I think our client is going to struggle a bit so just thought I'd add the use-case here for comparison.

In DNN role-based permissions (view and edit) can be set for pages.  By default the page-level permissions are inherited by "modules" of content on

[2021-04-16 00:24] Piedone opened #9183 "Content type alternates for TemsPart are lacking type name"
### Describe the bug
The shape alternates for TermPart that use the content type, i.e. "<content type>__TermPart" and "<content type>_Detail__TermPart", are generated without the content type (i.e. just "__TermPart" and "_Detail__TermPart").

### To Reproduce

1. Fresh setup with Blog.
2. Open https://localhost:44300/categories/travel.
3. Debug `TermShapes` and see that `contentType` on ln 24 is `

[2021-04-16 00:43] jptissot commented on #9179
I tested my site with the latest nuget packages and it seems to fix the issue.

[2021-04-16 04:44] lahma commented on #9179
What a fun issue that was, glad that Sébastien figured out the root cause. Not only fixing the issue it might even improve performance on top of the Fluid performance tweaks. The default (and weird) implementation that `TextWriter` had seemed quite sub-optimal for the use case.

[2021-04-16 07:42] deanmarcussen commented on #6183
@jtkech

20% slower to drop the cache. I think I will look to a cache expiry option (configurable), that will drop it after 5 minutes, and some events (like tag:cache) to drop it faster. Covers both bases, without the performance overhead. And not a full hash, just a date entry (because if it's calculating every 5 minutes that's still expensive)

[2021-04-16 08:16] jnucpz opened #9188 "Orchardcore with .net5.0 version can't deploy in mysql database"
Orchardcore with .net5.0 version can't deploy in mysql database ,
error happen: "The requested tenant is currently initializing". then never step into next.

[2021-04-16 09:18] deanmarcussen commented on #9188
You will need to check your log files in `App_Data\Logs`.

Likely there is a problem with the login (I tested MySql last week, and it worked fine)

[2021-04-16 10:31] ntdung commented on #9188
@jnucpz Can you try to deploy with that DB and recipe is SAAS? I can only deploy the site with that recipe with Postgre and MS SQL. The setup site run forever if I choose to setup with other recipes.

[2021-04-16 13:31] jnucpz commented on #9188
@deanmarcussen   Because it still be "The requested tenant is currently initializing"; So, the folder files App_Data\Logs and App_Data\Sites is null. just create the two folder.
I check the Mysql Database, the document and identifier record have create. But Can't be initialized.
![图片](https://user-images.githubusercontent.com/17457950/115031725-10c11000-9efb-11eb-91bc-731a92ccb69f.png)

[2021-04-16 13:59] jnucpz commented on #9188
I test the version serveral days ago, it work fine. so, the reason maybe some new changed code.

[2021-04-16 14:40] giannik commented on #9188
I am having the same issue with sql server with latest dev when trying to create a tenant.
Works well with mysql.

[2021-04-16 14:44] giannik opened #9189 "Cannot create a new tenant using sql server"
With latest dev branch when I try to create a tenant using an sql database the tenant does not get created .
There are no errors in the log and the tenant remains unitialized.
I am using the blog recipe.
Upon clicking the finish setup button it seems it gets locked and does'nt complete.
Not getting any responce back.

When using sqllite for the database it works.

Related : #9188

[2021-04-16 15:25] deanmarcussen commented on #9179
Fixed by https://github.com/OrchardCMS/OrchardCore/pull/9180

[2021-04-16 15:25] #9179 closed

[2021-04-16 16:16] deanmarcussen commented on #9188
Ok, I could repro.

@jtkech looks like something in this https://github.com/OrchardCMS/OrchardCore/pull/9005 is causing it.

Commit before seems to succeed ok.

[2021-04-16 16:16] deanmarcussen commented on #9189
Closing as duplicate of https://github.com/OrchardCMS/OrchardCore/issues/9188

[2021-04-16 16:16] #9189 closed

[2021-04-16 16:22] jtkech commented on #9188
Okay, just tried, i could repro

I will work on it this night

[2021-04-16 18:07] jtkech commented on #9188
Good progress

Now it fails during the setup (on sql server) when resolving all `IPermissionProvider`

So under the debugger i stepped into the services resolved through the above providers

It fails when resolving the `IDynamicCacheService`

Removing the registration of this service fixed the issue

Still investigating

Note: So many services are resolved through `IPermissionProvider` resolution

[2021-04-16 18:24] jptissot opened #9193 "Issue with Postgresql"
I did not have time to investigate it fully yet, but the latest dev has an issue with PostgreSql.

https://github.com/OrchardCMS/OrchardCore/runs/2364786163?check_suite_focus=true

[2021-04-16 18:29] jptissot commented on #9193
Duplicate of https://github.com/OrchardCMS/OrchardCore/issues/9188

[2021-04-16 18:29] #9193 closed

[2021-04-16 18:59] jptissot commented on #9165
Occurs on all CodeMirror fields in the admin I think.

[2021-04-16 21:53] Brendan-csel opened #9198 "NullReferenceException in BuildDisplayAsync if used content type deleted"
### Describe the bug
Deleting a used content type results in a `NullReferenceException` and complete page failure.  After playing around with some new (unfortunately home) page content the CMS user decided to "undo " their work and deleted a Content type without realizing it was still used on the home page content item.

This error not only broke the public home page - but also in the Admin conten

[2021-04-16 22:07] jptissot opened #9199 "Properties not accessible from liquid"
### Describe the bug

Blank values are returned when trying to access the Shape `Properties` property.

[code]

[code]

[2021-04-16 23:37] hishamco commented on #9165
After a quick I realise it's a bug in CodeMirror but I forgot to update you guys, but @jptissot mentioned what I wanna wrote

I need to confirm if the bug cause by other style or a CodeMirror bug

[2021-04-17 01:36] sebastienros opened #9201 "Widget parts can't be templated"
The current part alternates work only for Content stereotype. A mitigation is to define a part template for the widget's type.

We should be able to customize a part for any stereotype, independently of the type. Such that when the same part is attached to different widget types, the same template can be used.

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore.ContentM

[2021-04-17 01:39] sebastienros commented on #9201
Delete this code to fix the alternate name with a stereotype: https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore.ContentManagement.Display/ContentDisplay/ContentPartDisplayDriverTPart.cs#L46-L49

Currently 3 `_` are added, e.g. `Widget___Summary__AddressPart`

[2021-04-17 01:41] ns8482e commented on #9201
We don't need these lines

https://github.com/OrchardCMS/OrchardCore/blob/8279ca1b16b39a1dde5e26f7a19ff9cd42f93cdd/src/OrchardCore/OrchardCore.ContentManagement.Display/ContentDisplay/ContentPartDisplayDriverTPart.cs#L46-L49

As, following line altready adds prefix `_` later when alternates are generated

  `displayTypes = new[] { "_" + ctx.Shape.Metadata.DisplayType };`

[2021-04-17 01:48] sebastienros commented on #9201
Do you want to submit a PR with just this fix? We should also add a line in the Widgets documentation to mention this kind of alternate is available.

[2021-04-17 01:50] sebastienros commented on #9201
But it also need to work with dynamic parts

[2021-04-17 02:28] #9188 closed

[2021-04-17 03:10] jtkech commented on #9199
@jptissot

Yes because in the `ShapeAccessor` we don't support `Properties` as a property ;)

But the accessor also looks into the `Properties` when you want to access a given property e.g. `SomeProp`

So the following don't work

    {{ shape.Properties.SomeProp }}
    {{ shape.Properties["SomeProp"] }}

But the following works

    Test1: {{ shape["SomeProp"] }}
    Test2: {{ shape.SomeProp }}

[2021-04-17 03:59] jtkech commented on #6183
@deanmarcussen

Sorry didn't have any time as i had to fix #9188 but yes looks like a good way to go.

What i can say is that around distributed things, for me there are 2 remaining and important areas where we need to work on, Lucene indexes and Media cache, we talked about it recently with @Skrypt, we ended up that the first "work" would be to define, as it is possible, what we really want, good

[2021-04-17 09:01] #7992 closed

[2021-04-17 12:53] ns8482e commented on #9201
I'll create PR - moving code from the other PR

[2021-04-17 13:30] timeshift92 opened #9205 "Workflow task [Create Content]"
### Is your feature request related to a problem? Please describe.
when declaring a task to create content
it is necessary to get the dryness of the content from the table,
is it possible to make it autocomplete?

### Describe the solution you'd like
I selected the content type and the content properties were filled with json of the given entity

### Describe alternatives you've considered
A clear

[2021-04-17 18:27] sebastienros opened #9209 "FluidTagHelper reuse of buffers"
This code seems to use the same `ViewBufferTextWriterContent` twice which would throw an exception.

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore.DisplayManagement.Liquid/Tags/FluidTagHelper.cs#L89-L97

Either the code is wrong, or the buffer should me materialized first. Ideally we should understand how the TagHelper is working hre and add a comment.

[2021-04-17 18:34] jtkech commented on #9209
Okay maybe just a mistake or a good reason i don't remember ;)

 i will check it

[2021-04-17 20:11] deanmarcussen commented on #9201
When registered as a model with AddContentPart<TPart> L136, part.GetType() == typeof(ContentPart) prevents the coordinator from adding alternates.

A dummy driver for dynamic hard type parts might be useful to trigger the TPart driver alternates without running the risk of accidentally running dynamic part code in the coordinator

[2021-04-17 23:11] jtkech commented on #9209
So i checked that the `WriteTo()` of our `ViewBufferTextWriterContent` was not called twice, i could repro (but only by using breaking points) the `Has already been rendered` issue, the same i fixed in our `DynamicCacheShapeDisplayEvents` for shapes where we now set the shape child content with an `HtmlString` if already processed for caching.

Looking again at the mvc source code, it seems that t

[2021-04-18 01:22] overstartup opened #9216 "Issue calling post method in xamrin forms"
I have a module to Handel register users from Xamarin.
It works fine by get, but it doesn't  work by post methods.

i get this return:

[code]

i have this code in xamarin side:

[code]

and this is in orchard core side:

[code]

[2021-04-18 01:27] jptissot opened #9218 "Possible issue with Postgresql with latest version."
### Describe the bug

There seems to be an issue with postgresql with the latest version. These tests work locally but fail with PostgreSql
https://github.com/StatCan/StatCan.OrchardCore/runs/2372081966#step:7:219
[code]

[2021-04-18 02:03] jtkech commented on #9218
Yes there is a recent change when we call the contentmanager `GetAsync(multipleIds)` on multiple ids, we now call the loading / loaded events that involves the `ContentPartHandlerCoordinator`

I will first check if our all databases func test pass on the last dev

[2021-04-18 02:27] jtkech commented on #9218
All databases func test passed on our CI for the dev branch

I saw that this is the `hackathon.js` func test that fails on your CI

[2021-04-18 04:39] jtkech commented on #9218
There is the `content_item_id` liquid filter that, when applied on multiple ids, calls the contentmanager `GetAsync(multipleIds)` on multiple ids.

Only for testing can you try to remove the usage of this `content_item_id` filter in your hackathon liquid views.

    {% assign challengeSelected =  Model.ContentItem.Content.Team.Challenge.ContentItemIds | content_item_id %}

[2021-04-18 11:19] hishamco commented on #9216
I expect issue comes from using `FromBody` which expect the data come from an Html Form. One more thing why you didn't use OC APIs in users module

[2021-04-18 12:35] dewebeloper opened #9219 "Custom user registration"
What is correct way for custom user registration.
I have to extend User with FirstName, LastName and a few more fields and to create registration form where user can enter all info at once.
I tried to add fields as CustomUserSettings and create workflow (Register User task) for registration but currently I don't see way how to write down my additional fields to user.
Is this a good approach or wou

[2021-04-18 14:01] orchardc opened #9220 "Is it possbile to register a local user without email?"
Is it possible to register a local user without email?

In my scenario, only username and password are required, no email address is needed.

Many thanks!

[2021-04-18 14:09] pivielti opened #9221 "LiquidPart alternate doesn't render anything with {{ Model.Html | liquid }}"
### Description
I updated the NuGet packages from version 1.0.0-rc213527 to version 1.0.0-rc216115. after that the Alternate of the Liquid Part contained in my Theme project (LiquidPart.liquid) was rendered, but the {{ Model.Html | liquid }} that worked before doesn't render anything anymore.

When I try to see the model' data with {{ Model | json }}, i see that the liquid part is present, but imp

[2021-04-18 14:11] overstartup commented on #9216
i used it, i have same issue.

How can i use it?

i thin it needs to add some CORS headers. i don't know what i should add.
![image](https://user-images.githubusercontent.com/56995550/115148611-ade98900-a060-11eb-8139-4ca6ecede7b9.png)

[2021-04-18 15:07] deanmarcussen commented on #9216
Probably you are missing an `IgnoreAntiForgeryToken` attribute on the controller / method.

[2021-04-18 16:14] hishamco commented on #9216
May be

[2021-04-18 16:22] jtkech commented on #9221
@pivielti

Just tried it works

In the Admin you may have to go to the content type definition, edit the related content type, go to the setting of the involved part, and uncheck the Html Sanitization option

[2021-04-18 16:24] jptissot commented on #9218
@jtkech I just tried with a pg database locally and I am getting the same exception:

![image](https://user-images.githubusercontent.com/4681586/115152860-fb55fe00-a040-11eb-9bbb-8c27ad6eea2f.png)

I will investigate a bit further today.

[2021-04-18 16:39] jtkech commented on #9218
Even if you remove the usage of the `content_item_id` liquid filter ?

Does it work with sqlite or sql server ?

[2021-04-18 16:41] jptissot commented on #9218
@jtkech I just tested it manually. The issue occurs when Enabling the Hackathon Feature

[2021-04-18 17:19] jptissot opened #9222 "Exception thrown with the latest version."
Creating the ticket to not forget about this issue:
See https://github.com/StatCan/StatCan.OrchardCore/runs/2375122578?check_suite_focus=true#step:7:217

[code]

[2021-04-18 17:24] overstartup commented on #9216
@deanmarcussen @hishamco thank alot for your help. yes it needs IgnoreAntiForgeryToken . it works now

[2021-04-18 17:24] #9216 closed

[2021-04-18 17:51] jptissot commented on #9218
As discussed, this issue seems to happen because of this piece of code: https://github.com/StatCan/StatCan.OrchardCore/blob/master/src/Modules/StatCan.OrchardCore.Hackathon/Indexes/Migrations.cs#L80

Adding a Deferred task fixes the issue. https://github.com/StatCan/StatCan.OrchardCore/pull/229/files#diff-0b452c5fb3d9ac8b9ddf3f159ea6f82d566a524795c05373f38301a25bf74782R84

[2021-04-18 18:10] jptissot opened #9223 "Potential issue with fluid"
### Describe the bug

Not 100% sure what is happening. The bug seems to be intermittent. Sometimes the data does not load properly on the following page: https://github.com/StatCan/StatCan.OrchardCore/blob/master/src/Modules/StatCan.OrchardCore.Hackathon/Views/Widget-TeamDashboardWidget.liquid#L5

Sometimes the `teamContentItemId` is null when it should not be. I doubled check the database (postgr

[2021-04-18 18:14] jptissot commented on #9223
Odd thing is that this if executes properly (true) but the variable is blank ?
https://github.com/StatCan/StatCan.OrchardCore/blob/master/src/Modules/StatCan.OrchardCore.Hackathon/Views/Widget-TeamDashboardWidget.liquid#L12

[2021-04-18 18:15] jptissot commented on #9223
Reloading the page multiple times displays properly, totally random:

![image](https://user-images.githubusercontent.com/4681586/115156054-87235680-a050-11eb-8261-17af6a586892.png)

[2021-04-18 18:20] pivielti commented on #9221
@jtkech

Sorry but i don't have this option in the [LiquidPart](https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Liquid/Views/LiquidPart.cshtml). Its only [available ](https://docs.orchardcore.net/en/dev/docs/reference/core/Sanitizer/) with Html and Markdown Parts or Fields.

[2021-04-18 18:34] jtkech commented on #9221
Ah okay, i will test it with a LiquidPart this night

[2021-04-18 18:44] pivielti commented on #9221
Thank you very much !

Another element : my theme contains the **LiquidPart.liquid** width the markup
[code]

The div.w3-container is rendered, but not the Html inside... I changed the extension to use a **Razor** view instead and I adapted the markup :
[code]
Now the html is fully rendered. So i have a workaround but it is the only razor file in my theme 👎

[2021-04-18 18:57] deanmarcussen commented on #9218
Dude. That’s an async void method. Of course it will fail :(

CreateAsync with an await

[2021-04-18 19:03] deanmarcussen commented on #9221
It’s just missing the template view model registration for the LiquidPartViewModel @jtkech

[2021-04-18 19:12] jtkech commented on #9218
Oops, didn't see this

Use `public async Task<int> CreateAsync() => await CreateHackathonUsersIndexAsync()`
And also use `private async Task CreateHackathonUsersIndexAsync()`

[2021-04-18 19:13] jtkech commented on #9221
Ah okay, another one ;)

[2021-04-18 20:48] sddev-dotnet opened #9225 "Deploying Ochard Core as a headless CMS with Docker"
### Describe the bug
I am deploying a preinstalled website into a docker image for deployment to Azure Kubernetes Service. The site was previously hosted using Azure App Services, so there is a database present already. I can build and run the docker image locally (using Windows Subsystem for Linux with Ubuntu) and I have no problems, but when the container tries to run in my AKS cluster, I get th

[2021-04-18 20:57] #9221 closed

[2021-04-18 21:27] jtkech commented on #9218
@jptissot

But that's okay to still use the deferred task

So i close this one knowing that you now have another issue #9222

[2021-04-18 21:27] #9218 closed

[2021-04-18 22:23] jtkech commented on #9222
@jptissot

Just noticed that you also have a non awaited migration here https://github.com/StatCan/StatCan.OrchardCore/blob/64f6cb0e05e5aa4ed2dc718cdb82bca3c145257d/src/Themes/HackathonTheme/Migrations.cs#L25

and an async void here https://github.com/StatCan/StatCan.OrchardCore/blob/64f6cb0e05e5aa4ed2dc718cdb82bca3c145257d/src/Themes/HackathonTheme/Migrations.cs#L64

[2021-04-18 22:34] jtkech commented on #9225
For info it is in a file by defaut because we enable the related feature `OrchardCore.Contents.FileContentDefinition` in our recipes, if this feature is not enabled the definitions are in the database.

For an existing database, you need to export the definitions while the above feature is still enabled, and then import them while the above feature is not enable.

[2021-04-19 00:35] jptissot commented on #9222
Thank you, fixed :)

[2021-04-19 01:33] #5823 closed

[2021-04-19 01:54] jtkech commented on #9223
It doesn't fix the issue but in your liquid better to use `!= nil` in place of `!= null`.

[2021-04-19 08:04] parisnoble commented on #6279
Hi Everyone,

We've put together a new version.

- We've made a perfect circle version according to @Piedone 's suggestions. However, we think that the "offbeat" circle gives more character to the logo. Still, it's up to the community to decide!
- We've done changes according to @0liver 's suggestions for a different color (# 2fb1b1) and font.

Let us know what you think!

All the best,
Paris
[Orc

[2021-04-19 09:04] 0liver commented on #6279
Form 2 - Color 2 - Type 1

[2021-04-19 09:07] 0liver commented on #6279
GitHub actually has an app for Polls: https://github.com/apps/polls

But a project administrator would have to install that. @sebastienros ?

[2021-04-19 11:18] 0liver commented on #6279
I've created a visual survey for this here: https://freeonlinesurveys.com/s/EjQ5moP4

Go vote!

[2021-04-19 17:17] jptissot commented on #9222
I made a new PR to track this issue.

https://github.com/StatCan/StatCan.OrchardCore/pull/230

[2021-04-19 19:53] pivielti opened #9234 "Some parts & fields disapeared of Content Items after I migrated to the latest version"
### Description
I migrated a little website that uses SQLite DB. **In my local environment all is running fine**. But once deployed (with _dotnet publish_ command), lots of my custom content items become uneditable because the Edit page doesn't render some parts or fields. However the content definition is okay.

All the custom Content Items was created via the Admin Zone. The single development o

[2021-04-19 23:36] #9209 closed

[2021-04-19 23:56] hishamco commented on #6279
Form 2 - Color 2 - Type 1 As well ;)

[2021-04-20 12:16] jptissot commented on #9222
@jtkech I am pretty sure the bug was introduced in this pr: https://github.com/OrchardCMS/OrchardCore/pull/9005

[2021-04-20 19:24] deanmarcussen opened #9240 "Fix recipe steps docs"
https://docs.orchardcore.net/en/dev/docs/reference/modules/Recipes/#recipes-step

Shouldn't include the execution id. Its an auto generated guid.

Need to confirm that.

From this pr https://github.com/OrchardCMS/OrchardCore/pull/9137

/cc @Piedone the execution id notes just didn't seem right when I saw it

[2021-04-20 19:27] Piedone commented on #9240
What should the `executionid` be, then? Having a static value works (we've been doing that in a project for quite a while without issues). Leaving it out will cause an exception. As I said under that PR, using `[js: uuid()]` could possibly be another option but doesn't seem to be necessary.

[2021-04-20 19:30] deanmarcussen commented on #9240
empty. (I think, but have to check tomorrow.) It's normally allocated a guid in that case.

It might be better if we remove it from that step, it's more of an internal thing for the executor

[2021-04-20 19:47] Piedone commented on #9240
I probably haven't tried empty (as in `executionid: ""`) but leaving it out causes an exceptoin.

[2021-04-20 19:52] Skrypt commented on #6279
1A, 2A, 3B

[2021-04-20 20:05] jtkech commented on #9222
Yes but normally it has been fixed in the meantime but you need a version higher than rc2-16116

Just installed postgreSQL and fetched your `update_oc` branch and tried the `vuetify-saas-setup` recipe

The setup was not completing at all without any logs, as we saw for our headless recipe before the fix

Then i tried it with the last rc2-16126, and all seems to work

[2021-04-20 20:40] jtkech commented on #9222
I'm doing manually step by step what is done in the `hackathon.js` func test ;)

[2021-04-20 21:25] jtkech commented on #9222
But too complex to follow ;)

So i did a new setup with the `digital-theme-setup` recipe

And i could repro your above postgreSQL issue => `A command is already in progress`

So, i now have something to work on ;)

[2021-04-20 22:06] randaratceridian opened #9242 "Concurrency checking in Orchard Core"
Can somebody describe what concurrency checking exists in Orchard Core? I've seen a few references to it having optimistic concurrency checks, but we can't seem to make them raise an error if two editors change a page at the same time. The last one in overwrites the second.

I can see references to checkConcurrency in https://github.com/OrchardCMS/OrchardCore/issues/7449 from Oct 2020, so I assume

[2021-04-20 22:13] hishamco commented on #9242
I remembered there 's an opened issue, the content editing doesn't have concurrency check AFAIK, I will have a look to the issue and reference it

[2021-04-21 01:27] willnationsdev commented on #8166
+1 for the need to document how this feature works. Currently trying to identify what the proper format of the step is since what I thought would work didn't.

Although, I will say that, based on the error message that is displayed if it can't find a valid execution ID, it would appear that it is supposed to be the name of the extension/module/theme library, e.g. `MyOrganization.MyProject.MyLibrar

[2021-04-21 02:12] willnationsdev commented on #8166
Figured out the correct format. This ran successfully for me:

Original Recipe Header in `\Recipes` subfolder of module `MyOrg.OrchardCore.MyLib`:

[code]

Recipe Step:

[code]

The name of the actual recipe file doesn't appear to matter as it does for the IRecipeMigrator. You just have to give the name that it defines within the file since all of the files are harvested by the `IRecipeHarvester`

[2021-04-21 04:29] jptissot commented on #9223
I am pretty sure this issue stems from this fluid pr: https://github.com/sebastienros/fluid/pull/303

[2021-04-21 04:30] jptissot commented on #9222
I am pretty sure this issue stems from this fluid pr: https://github.com/sebastienros/fluid/pull/303

[2021-04-21 04:33] jptissot commented on #9222
We did some test with @jtkech and cloned the fluid repository reverted the changes https://github.com/sebastienros/fluid/pull/303 and all my tests now pass.

[2021-04-21 05:47] EricArita opened #9243 "Validation of ContentPickerField in API call"
### Describe the bug
ContentPickerField is not validated when we create a new ContentItem by calling API '.../api/content' in Postman or any SPA

### To Reproduce
Steps to reproduce the behavior:
1. I have 2 content types: Category and Product They have a 1-many relationship, 1 Category has many Products.
2. To perform this relationship, in Product type, I used a ContentPickerField namd CategoryID

[2021-04-21 05:54] hyzx86 commented on #6939
Yes, that's a better implementation and doesn't affect existing functionality

[2021-04-21 06:37] pivielti opened #9244 "Could not load file or assembly AngleSharp.Css"
### Description
Hi,

After migrating my little website to the latest version (rc2-16127) I get the exception below in the log file. It only append when the site is deployed. In my development environment all is running fine and I don't see it. I have another problem: some content' parts are not rendered anymore, maybe it's linked ?

When i run `dotnet publish -r win-x86 -c release` command to depl

[2021-04-21 08:21] doticca commented on #9234
Also noticed that some shared views cannot be found anymore on a published environment.
After remote debugging found out that ShellViewFeatureProvider is not returning any assemblies with views.

[2021-04-21 09:24] TFleury opened #9245 "Remove OrchardCore.Application.Targets dependency on YesSql"
Using the modular application scenario, you must be able to choose your data access layer, or even not use anyone.

Actually there is a dependency on YesSql and by cascade on Dapper.

Dependency graph :
`OrchardCore.Application.Targets` => `OrchardCore` => `OrchardCore.Infrastructure.Abstractions` => `OrchardCore.Data.Abstractions` => `YesSql.Core`

I think `OrchardCore.Data.Abstractions`, as an a

[2021-04-21 11:36] jptissot commented on #9234
Do you have repro steps? I was not able to reproduce this.

[2021-04-21 16:33] deanmarcussen commented on #9243
It was designed that API / ContentManager validation should not reflect UI validation rules, as there were / are too many scenarios where content created via an API may need different validation rules.

For API validation you can implement an `IContentHandler` or `IContentPartHandler` , `ValidatingAsync` method to provide the validation you would like to apply.

See https://github.com/OrchardCMS/O

[2021-04-21 18:05] doticca commented on #9234
@jptissot I am using OrchardCore to build a modular application and I am not sure if that helps but version 1.0.0-rc2-16045 is the last version for which I get results from SharedViewLocationExpanderProvider in a published to Azure App service.
My debug findings is that for versions 1.0.0-rc2-16046+ the following code (at SharedViewLocationExpanderProvider constructor) returns zero results:

[code

[2021-04-21 21:26] jptissot commented on #9223
This commit fixes the issue: https://github.com/sebastienros/fluid/commit/9066957e5117447bed4084b7d1100527058cfbdb

[2021-04-21 21:27] jptissot commented on #9222
This commit fixes the issue: https://github.com/sebastienros/fluid/commit/9066957e5117447bed4084b7d1100527058cfbdb

[2021-04-21 22:04] #9222 closed

[2021-04-21 22:04] #9223 closed

[2021-04-21 22:06] jtkech commented on #9234
@doticca About the shared views if in prod (`!IsDevelopment()` and with a `refs` folder outputed under the bin folder, yes since #9047 to prevent some razor compilation in prod, but there is a missing change, i will update it this night.

In the meantime the workaround would be to not output the `refs` folder when publishing to prod, this y removing from your app project `PreserveCompilationRefere

[2021-04-21 22:55] CrestApps opened #9252 "Widgets needs to be manually published for an update to the content-type to take effect."
### Describe the bug
I have a content-type of a Widget stereotype with couple fields. I added the widget to a zone on the page and it shows up as expected. However, if I update the Widget content-type by adding a new field, that field won't show up on the widget automatically. For the widget to see the new field, I have to edit and save the widget for the new field to show up. Is this an expected

[2021-04-22 02:00] EricArita commented on #9243
oh I got it! thank you for this useful information

[2021-04-22 02:00] #9243 closed

[2021-04-22 07:08] pivielti commented on #9234
@jtkech Sorry but the problem is not solved by your commit. I tried with rc2-16130.

I'm working on repro steps to give you soon.

[2021-04-22 07:10] doticca commented on #9234
@jtkech the issue of my comment is solved, thank you!

[2021-04-22 07:18] jtkech commented on #9234
@pivielti

No problem, so i re-open the issue

@doticca Good to know it fixed your issue, thanks

[2021-04-22 08:31] #9176 closed

[2021-04-22 17:17] sebastienros commented on #9244
Maybe try to clean the git repository completely (git clean -xdf) and rebuild

[2021-04-22 17:18] sebastienros commented on #9234
@pivielti since you also opened https://github.com/OrchardCMS/OrchardCore/issues/9244 it might be related. Please try a clean rebuild.

[2021-04-22 17:36] JoshTango opened #9257 "Asset Part - Content specific assets"
I would like a part called Asset Part made for example.
This part would allow you to add assets such as pics and videos to a content item.
They would be specific to that item only.
There would be a setting which would allow you to add one or more assets.

I imagine when the user specific assets get done there would be 3 types of assets you can use in your content.
Global assets, user specific asse

[2021-04-22 18:06] Piedone commented on #9242
I think this is what you mean, Hisham: https://github.com/OrchardCMS/OrchardCore/issues/8900

I suggest you to check out the linked issue, it contains a lot of info on what's happening if this is what you mean.

[2021-04-22 18:12] Piedone opened #9258 "ContentItem properties are reserved names but are not handled as such"
### Describe the bug

The names of the properties on `ContentItem` (e.g. `Latest`, `Author` are actually reserved names: You can't create content types or named (reusable) parts with the same names, since you'll get an exception.

### To Reproduce
1. Create a content type named "Author", for example.
2. Try to publish an item of the type.
3. Receive a "JsonReaderException: Unexpected character enc

[2021-04-22 20:45] orchardc commented on #9220
Hi @Skrypt , is it not a valid proposal?

[2021-04-22 23:57] JoshTango commented on #8869
I agree with this.

[2021-04-23 00:07] sebastienros commented on #8869
/cc @jptissot

[2021-04-23 02:01] Skrypt commented on #8869
@gianik Yes, exactly what I was thinking of. Allow/Disallow to index a field or not by adding configuration when the SQL Indexing feature is enabled.

[2021-04-23 02:36] hyzx86 commented on #6939
https://github.com/OrchardCMS/OrchardCore/pull/9259

[2021-04-23 03:44] hyzx86 commented on #6939
Although the API query method can do this,

https://github.com/OrchardCMS/OrchardCore/pull/9259

I prefer to use GraphQL, because it returns cleaner results.

Can  it be achieved through a general schema?

Classic way:
[code]
paged query
[code]

[2021-04-23 05:26] hyzx86 commented on #6939
But ，I am not very familiar with GraphQL. . Can someone help me analyze how to implement it?

[2021-04-23 07:36] pivielti commented on #9244
It works ! I cleaned the repo and the server and then redeployed all. I don't really understant why, but problem solved :-P

[2021-04-23 07:38] pivielti commented on #9234
I did a clean rebuild and also a clean deploy. Now the fields appears again. Thank you very much.

[2021-04-23 07:49] #9244 closed

[2021-04-23 10:09] agriffard opened #9262 "Admin favicon"
Using the latest packages, the LinkTagHelper for the admin favicon is not correctly rendered in the HTML source:

`<link asp-src="~/OrchardCore.Admin/favicon.ico" type="image/x-icon" rel="shortcut icon" />`

[2021-04-23 10:46] JoshTango commented on #8869
rebuild index button?

[2021-04-23 11:40] orchardc commented on #9220
Closed as thumbdown.

[2021-04-23 11:40] #9220 closed

[2021-04-23 12:35] deanmarcussen commented on #8485
Duplicate https://github.com/OrchardCMS/OrchardCore/issues/8316

[2021-04-23 12:35] #8485 closed

[2021-04-23 12:36] deanmarcussen commented on #9252
Duplicate https://github.com/OrchardCMS/OrchardCore/issues/8316

The feature to support this is designed there

[2021-04-23 12:36] #9252 closed

[2021-04-23 12:37] #9219 closed

[2021-04-23 12:38] deanmarcussen commented on #9198
Duplicate https://github.com/OrchardCMS/OrchardCore/issues/1014

[2021-04-23 12:38] #9198 closed

[2021-04-23 13:37] #9262 closed

[2021-04-23 15:27] agriffard opened #9266 "Font awesome script in TheAgency"
https://github.com/OrchardCMS/OrchardCore/blob/c141b02d43e1b96e9c04516d06c3153675f996e0/src/OrchardCore.Themes/TheAgencyTheme/Views/Layout.liquid#L13

The Liquid filter `script` is not rendered in the Head by default as it was used to be so the font-awesome icons don't appear anymore in TheAgency theme.

![image](https://user-images.githubusercontent.com/703248/115894009-17023f80-a459-11eb-983f-d3

[2021-04-23 15:37] agriffard commented on #9266
https://docs.orchardcore.net/en/dev/docs/reference/modules/Resources/#specify-location

`at:"Inline"` does not work.

[2021-04-23 16:25] sebastienros commented on #8869
This should use the same logic as Lucene, keep a cursor with the list of indexing tasks, this time in the database. I don't think it should follow the Lucene UI exactly, since there is a single index in this module. I don't think it supports multiple indexes, though it could technically be possible at least with an extra column in the tables (not the ideal for perf but will work).

But the ultimat

[2021-04-23 16:43] JoshTango commented on #8869
lets assume u do the map reduce,, wouldn't it still be nice to lessen the disk space used on the index by removing unwanted fields?

[2021-04-23 16:48] Skrypt commented on #8869
I agree, with @sebastienros

There are multiple index tables in this feature like @sebastienros says which differenciate it from Lucene. One per field type actually. I'm not sure how to implement the javascript part of it for now as I've not thinked about it at all. I need to focus on other PR's first.

[2021-04-23 18:25] jptissot opened #9269 ""Buffer has already been rendered" exception"
I have a `Menu.liquid` where we render the Items in two different lists.
[code]

This exception occurs. Removing the second for loop fixes the issue.

![image](https://user-images.githubusercontent.com/4681586/115869506-f8c22280-a40b-11eb-8504-eb91143a81cd.png)

As requested, moved the issue from https://github.com/sebastienros/fluid/issues/318

[2021-04-23 18:59] jtkech commented on #9269
Yes, it can only be rendered once, yes you need to use capture or assign intermediate vars

We already talked about releasing these view buffers at the end of of the scope

I will think about it

[2021-04-24 01:20] jtkech opened #9270 "Prevent DI Deadlock"
So the pattern that may fail is

- When injecting a service from a **constructor** that injects an `IOptions<T>` accessor and gets its `Value` in its constructor, so the `Configure()` of a related `IConfigureOptions<>` is executed, and when this `Configure()` calls an async method e.g. `GetSettingsAsync().GetAwaiter().GetResult()`.

    And if this `GetSettingsAsync()` does an async call, not `DoA

[2021-04-24 06:55] pivielti opened #9271 "{% script src="..." %} doesn't works on 1.0.0-rc2-16130"
### Description
Hi,

It seems that the liquid script tag doesn't works anymore. I have to use a workaround to see my file loaded in the Layout.liquid view of my theme.

### Layout.liquid
![image](https://user-images.githubusercontent.com/12090666/115950285-9ab04080-a4da-11eb-8f66-48fb4ad3ed58.png)

Kind regards

[2021-04-24 10:25] #9183 closed

[2021-04-25 16:11] hyzx86 commented on #6939
@jtkech Could you help me ?

[2021-04-25 17:28] Piedone commented on #9183
Thank you @deanmarcussen!

[2021-04-25 22:42] hishamco commented on #9242
I don't think that's the issue ...

[2021-04-25 22:43] hishamco commented on #9242
Here it is #4540

[2021-04-25 22:52] Piedone commented on #8900
Related: https://github.com/OrchardCMS/OrchardCore/issues/4540

[2021-04-26 00:21] hishamco opened #9278 "Create OrchardCore.Email.Core"
While I'm playing around with Emails, I realize that we miss `OrchardCore.Email.Core` something similar to feeds and other functionality. I think `OrchardCore.Email` is a OC module, but we need a set of APIs to be utilized from other ASP.NET Core apps (Orchard Core Independent), correct me if I'm wrong

/cc @agriffard @sebastienros

[2021-04-26 00:53] jtkech commented on #6939
@hyzx86

Sorry, not so familiar about this too ;)

@carlwoodhouse is the expert in this area

[2021-04-26 02:04] #9270 closed

[2021-04-26 09:43] xperiandri commented on #9066
Works in 1.0.0-rc2-16142

[2021-04-26 09:43] #9066 closed

[2021-04-26 10:07] carlwoodhouse commented on #6939
i think we need @Skrypt if we're specifically talking about the lucene implementation (ive never actually touched it ;p). I do still think we should be thinking about a general approach using graphql connections though as this is the expected/standard way of doing paging in graphql; rather then just rolling our own by tacking on a field that actually doesnt describe the graph object been returned,

[2021-04-26 11:37] #9266 closed

[2021-04-26 11:37] #9271 closed

[2021-04-26 19:17] xperiandri opened #9289 "Pressing Enter on recipe combo box item resets focus"
### Describe the bug
When you move the focus from site name to recipe combo box and press `Arrow Down` the recipe list pops up. But when you commit your choice via `Enter` focus resets to the first item on the page.

### To Reproduce
Steps to reproduce the behavior:
1. Open Setup
2. Press `Tab` to move to recipes combobox
3. Press `Arrow Down`
4. Choose any item and press `Enter`

### Expected beh

[2021-04-26 20:06] infofromca commented on #9278
#5498

[2021-04-27 12:31] Flarescape opened #9292 "SetHomepage option doesn't update flag"
I wanted to use content menu items and discovered that if I pick the page wich is set as homepage, the link is not "/" but the actual generated link from the title field.
So I thought, I'll add a check inside the template myself and therefore change the link, if the SetHomepage flag is true.
The problem is, that this flag is never true, even if the page IS the homepage, the link "/" is working and

[2021-04-27 14:07] MichaelPetrinolis opened #9295 "Shortcodes app in Monaco editor is broken"
Cannot open the shortcodes app from within monaco editor,

Steps to reproduce the behavior:
1. Add an html field to a content type
2. Use monaco editor
3. Create a new content item of that type and press alt+s or f1 and go to shortcodes command
4. A reference error is thrown
    ReferenceError: shortcodesApp is not defined
    at Object.run (Edit?returnUrl=%2FAdmin%2FContents%2FContentItems%3Fadmi

[2021-04-27 16:05] MichaelPetrinolis opened #9297 "[image] Shortcode is not rendered from HtmlField/HtmlBodyPart"
shortcodes are drawn in html field/html body part when used in widget stereotypes only.

Steps to reproduce the behavior:
1. Create a Content Type
2. Add an Html body part
3. select [image] shortcode for an image in media
4. the output contains [image]imagename.yyy[/image] instead of the <img> tag

The same shortcode from TheAgencyTheme footer widget works

[2021-04-27 16:08] mariojsnunes commented on #9060
I'm finding an issue pointing to a memory leak.

These tests were done on a P1V3 Azure Linux App Service which I think is x64.
My Orchard is setup with Azure Media on a Blob Storage private container.

![image](https://user-images.githubusercontent.com/8073622/116271694-20045100-a778-11eb-9a32-a668f4acedfb.png)
On **(1)** and **(2)** I did around ~800 image requests which caused steep increases of

[2021-04-27 17:45] deanmarcussen commented on #9297
Hmm, I couldn't repro.

I just used the Article content type from the blog theme.

Is it possible you have a template for this that is not rendering the shape?
Shortcodes are rendered automatically to the shape, but if you're rendering the `.Html` content directly, there are helpers / filters to render the shortcode.

[2021-04-27 17:51] deanmarcussen commented on #9292
The flag is not a maintained value.

You need to check the site settings for the home route value

(the problem would be that if the value was maintained then when the home route changed two content items would have the flag set)

That being said, I couldn't repro problem 2, that the wrong link is used when an item is the home page.

[2021-04-27 17:59] Flarescape commented on #9292
Ah, is see, that makes sense!
Thanks for the quick clarification!

I'll compare my content menu item template with one of the predefined themes, even if I've copied it from there some time ago.

[2021-04-27 18:16] MichaelPetrinolis commented on #9297
Thanx @deanmarcussen. I added an Html field on LandingPage content item in TheAgencyTheme, and draw it with {{ Model.ContentItem.Content.LandingPage.FieldName.Html | raw }}  I cannot find info in the documentation regarding drawing the Html and replace the shortcodes used.

[2021-04-27 18:45] mariojsnunes commented on #9060
Okay I did some more testing...
The image requests I'm experimenting have this querystring:
?ranchor=center&rmode=pad&width=180&height=180

![image](https://user-images.githubusercontent.com/8073622/116293860-336ee680-a78f-11eb-97db-d5376a97a44e.png)
1. 800 image requests - memory increase.
2. 800 image requests again - memory increased and then decreased without app service restart.
3. a few more

[2021-04-27 19:00] parisnoble commented on #6279
Hey Everyone!

We shall be ending the survey by Wednesday, 28th.

Please vote if you haven't.

here is the link again: https://freeonlinesurveys.com/s/EjQ5moP4

Secret info: we have a draw at the fonts. 50-50% is the current result for narrow and round, but we can only go with one.

Have a great week!

[2021-04-27 19:04] deanmarcussen commented on #9297
`{{ Model.ContentItem.Content.LandingPage.FieldName.Html | shortcode | raw }}`

I can't see it in the docs either, so we must add it. there is an html helper as well

[2021-04-27 22:14] JoshTango opened #9299 "Liqudi `href` filter does not work if there is a space before the tilde"
This next line will not work because there is a space before the tilda:

<img  alt="..."  src="{{ " ~/TheBlogTheme/img/post-bg.jpg" | href }}">

maybe you want to call Trim()

not sure up to you , just letting you know

[2021-04-28 02:40] Skrypt commented on #9292
One thing though that we should have done since a while is allowing to change the values of the home route from the admin UI. Probably something in the General Site Settings that could be used to change the current values.

[2021-04-28 10:13] pchoisnard opened #9303 "trumbowyg Editor error js with image"
### Describe the bug
I try to use the trumbowyg editor and I have this js error when I try to put an image from media.
The image is insert with shortcode but the option InsertMediaWithUrl has no effect
Version : 1.0.0-rc2-16145

Uncaught TypeError: trumbowyg.$ed.find(...).resizable is not a function
    destroyResizable https://localhost:44357/OrchardCore.Resources/Scripts/trumbowyg-plugins.js?v=6

[2021-04-28 11:27] andycyberian opened #9304 "Taxonony field with more than 2 layers causes tabs to break in the editor"
We recently discovered this bug when using the Taxonomy field to specify page locations and we needed to add a new nested page.
It appears when the taxonomy goes beyond one level then not enough closing divs are created in the Taxonomy Edit view which in turn causes a DOM issue that affects tabs when editing a content item.

### To Reproduce
Steps to reproduce the behavior:
1. Set up a standard si

[2021-04-28 11:27] andycyberian commented on #9304
I think this is just a one line fix and am happy to create a fork and submit a PR for review to fix this.

[2021-04-28 12:56] deanmarcussen commented on #9240
I had a look, I think there's probably some variance in what is used / what is actual.

The `ExecutionId` is passed to the recipe event handlers.

However in the step, the execution id is both required, and then replaced by a `Guid`, rather than using the provided execution id.

e.g. here
https://github.com/OrchardCMS/OrchardCore/blob/1ec2e9898ff37e49d4224732c8a3e0acb5ed2fa6/src/OrchardCore.Module

[2021-04-28 13:10] deanmarcussen commented on #9060
Probably the thing to establish here is whether there is an issue with the blob storage cache, or ImageSharp.Web

When you say

I am guessing you mean you purged the blob storage cache?
Doing this essentially changes all the file dates (as they are the date the blob cache image was written), so causes ImageSharp.Web to see them as new images, which causes resizing of these new images.
So by purgin

[2021-04-28 13:19] Piedone commented on #9240
I agree we shouldn't have to provide it but currently (latest dev) you have to, otherwise you get this in `RecipesStep`:

![image](https://user-images.githubusercontent.com/1976647/116408958-ac277e80-a833-11eb-88fb-779d3b46edcc.png)

Note that this is during setup. `RecipesStep` is executed before `RecipeExecutor`. Not sure why, actually. During a deployment to an already running tenant I'd guess

[2021-04-28 13:20] #9295 closed

[2021-04-28 14:23] #9304 closed

[2021-04-28 14:26] TFleury commented on #8416
Closed by #9149

Documented [here](https://docs.orchardcore.net/en/latest/docs/reference/modules/Admin/#customize-admin-branding)

[2021-04-28 15:47] mariojsnunes commented on #9060
By purge cache I mean cleaning the ms-cache tenant folder (which lives on the App Service FileSystem), by clicking here:
![image](https://user-images.githubusercontent.com/8073622/116410996-31f3fb80-a82d-11eb-96b3-1aa43f26f059.png)

This is the only exception I see during the testing periods:
SixLabors.ImageSharp.UnknownImageFormatException
Don't think it's related...

I'll update after doing a fe

[2021-04-28 16:17] #9245 closed

[2021-04-28 16:58] weirdyang opened #9309 "[docs] Incorrect usage of CustomSettings shown in video"
### Describe the bug

In the video, the liquid expression used to to display the `CustomSettings` is incorrect.

this doesn't work:
{{ Site.Properties.NewSetting.Content.NewSetting.Brand.Text }}

this works:
{{ Site.Properties.NewSetting.NewSetting.Brand.Text }}

### To Reproduce

1. Create a new content type with stereotype `CustomSettings`
2. Add a text field named `Brand`
3. Populate the new cu

[2021-04-28 17:20] jptissot commented on #9309
Maybe the video uses a pre-release version of this feature. The docs are correct (https://docs.orchardcore.net/en/dev/docs/reference/modules/CustomSettings/#liquid) Maybe we need to update the video as this would be a breaking change to current sites.

[2021-04-28 18:41] deanmarcussen commented on #9060
Other suggestion is to do a test without resizing the image, ie no query string

that would help isolate whether it is related to resizing or the cache middleware

[2021-04-28 19:38] hishamco commented on #8416
@deanmarcussen I think we should close this

[2021-04-28 19:41] #8416 closed

[2021-04-28 20:19] scleaver commented on #9103
When the item is created an SQL index error occurs - @deanmarcussen is aware of this issue

[2021-04-28 20:20] #8568 closed

[2021-04-28 20:21] scleaver commented on #8568
Closing issue as this was a problem in my code sorry

[2021-04-28 20:39] mariojsnunes commented on #9060
Yeah, so still with the same setup as before, but without resizing, I see no memory changes, even after multiple purges and retries.
Still need to test the resizing without blob storage.
But it's looking like an ImageSharp resizing memory leak.

[2021-04-28 21:36] sebastienros commented on #9060
We opened an issue with the size of the buffer pool that IS is using. Might be related. Not a "leak", but maybe trying to allocate some buffer under load while no more memory is available.

Or maybe the pool can't share the buffer and there is no locking mechanism, so all the thread try to get a buffer. If you were querying the same url, some code from Dean should have prevented it. Now in the oth

[2021-04-29 07:39] MRSheikh opened #9314 "Error after upgrade to ".net core SDK 3.1.408""
###
after upgrade to ".net core SDK 3.1.408" this error occurred:
`ArgumentOutOfRangeException: Specified argument was out of the range of valid values. (Parameter 'index')`

[2021-04-29 08:00] jtkech commented on #9314
It is due to an aspnetcore security patch

It is fixed in OrchardCore but only in the last dev branch

So you may have to re-use a previous sdk or use our last dev packages from the cloudsmith feed

[2021-04-29 11:35] lampersky opened #9317 "ContentItem Publish throws an error occasionally [System.NullReferenceException]"
Once in a while I'm getting this error while publishing ContentItem.
ContentItem contains few **TextField** fields, and few **DateTimeField** fields, as shown below.

![image](https://user-images.githubusercontent.com/6403130/116543645-65e32580-a8ee-11eb-91a0-269c0be3e876.png)

[code]

![image](https://user-images.githubusercontent.com/6403130/116544406-6203d300-a8ef-11eb-9975-c525d1bc97c0.png)

[2021-04-29 12:06] jptissot commented on #9317
Which version are you using?

[2021-04-29 12:41] lampersky commented on #9317
latest nightly build `1.0.0-rc2-16154`

[2021-04-29 13:37] lampersky opened #9319 "System.IO.IOException inside MediaFileStoreResolverMiddleware"
After deploying app to azure, Media module stopped working.

(we are using Azure Media Storage, and we have 4 instances in our app service plan)

![image](https://user-images.githubusercontent.com/6403130/116556667-012fc700-a8fe-11eb-9e45-28db5d08fab5.png)

![image](https://user-images.githubusercontent.com/6403130/116557411-b3678e80-a8fe-11eb-86c1-2b7fd2663930.png)

**First exception:**
[code]

!

[2021-04-29 14:14] MikeKry opened #9320 "AdminMenu: Lists item not displayed"
### Describe the bug
When Lists item is added to admin menu, it is not shown in menu.

### To Reproduce

Create admin menu, add Lists element, alone or under placeholder, none of it works

![image](https://user-images.githubusercontent.com/52829889/116565222-f416d600-a905-11eb-8cba-01a56db56a80.png)

![image](https://user-images.githubusercontent.com/52829889/116565166-e6f9e700-a905-11eb-8399-c71b

[2021-04-29 14:28] deanmarcussen commented on #9319
Did you use zip deploy?

it’s often the issue, as zip deploy isn’t writable

needs to be web deploy

[2021-04-29 14:35] MikeKry commented on #9320
setup example here:
http://try.orchardcore.fr/cb2h1vty/admin
admin / t_@$X53F

sorting works in there, but admin menu is not

[2021-04-29 15:28] lampersky commented on #9319
@deanmarcussen it was WebDeploy

![image](https://user-images.githubusercontent.com/6403130/116576862-3e04b980-a910-11eb-95ce-03ead5eedd59.png)

[2021-04-29 15:28] deanmarcussen commented on #9060
Tracked down inside ImageSharp. Fix will not be long

[2021-04-29 17:13] deanmarcussen commented on #9319
Can you have a look in scm and see if it has created the ms-cache folder under the wwwroot?

Generally this is a permissions issue. Have you mounted a shared volume, or done anything with your server configuration that would impact on drive access?

See if you can created a file manually in that folder, through scm.

And if possible paste a full exception from the logs, just in case there's someth

[2021-04-29 17:23] #9234 closed

[2021-04-29 17:23] lampersky commented on #9319
@deanmarcussen I've checked first instance, and "ms-cache" exists, and I was able to create another file manually.
![image](https://user-images.githubusercontent.com/6403130/116592489-5da3de00-a920-11eb-9754-737127f7f09a.png)

[2021-04-29 17:24] sebastienros commented on #8753
TODO: Add this discussion https://github.com/OrchardCMS/OrchardCore/discussions/9119 to the RC2 release notes

[2021-04-29 20:09] MRSheikh commented on #9314
thanks a lot but I could not upgrade to last dev branch because you are using `mysqlconnector 1.3  ` and I am using `Pomelo.entityframeworkcore.mysql` that is used mysqlconnector < 1.0 in my modules. so when I add module to orchardcore project,  mismatch error occurs.
do you have any idea ???

[2021-04-30 07:03] deanmarcussen commented on #9320
I think you just need to a `TitlePart` to your list content type, and give it a title, or it will have no display text, so doesn't know what to display it with.

[2021-04-30 08:39] lengockyquang opened #9321 "Web application is still allow authenticated user to access login page"
**### Describe the bug**
Orchard Code still allow user to access login page even if user was already login and authenticated

**### To Reproduce**
Steps to reproduce the behavior:
1. Access to login page by  route /Login
2. Login as normal user or super user
3. After application redirect user to Admin page or Home page, access login page again with /Login and it still allow us to access login page

[2021-04-30 10:20] deanmarcussen commented on #9317
There's not enough in these exception details to really try and understand or repro it.

Can you paste the log from the `App_Data` folder, rather than the exception you have from Azure.

It might contain a more useful stack trace.

It may also just be because it is running in release mode, so we might need to see something from a Debug build, if it is something you can reproduce locally.

[2021-04-30 10:23] TFleury opened #9326 "HomeController namespace in MvcModule template"
When using Mvc Module template, the generated `HomeController` namespace is`not replaced and set to `Module1.Controllers`.

[2021-04-30 10:39] #9326 closed

[2021-04-30 17:05] tropcicstefan opened #9330 "GraphQL session MARS/DataReader is open problem"
### Describe the bug
Resolving graphQLFields of content part through DataLoader causes MARS or Datareader is open exception.
### To Reproduce
Latest dev branch
Make content Part with two taxonomy fields(JournalistCategory, ArticleCategory). Make custom GraphQLObjectType that exposes those data as two `Field<ListGraphType<ContentItemInterface>, ContentItem[]>` and resolve those fields querying DB f

[2021-04-30 17:29] #9201 closed

[2021-04-30 19:17] carlwoodhouse commented on #9330
Hi you need to use ‘ResolveLockedAsync’ instead of ResolveAsync currently
when making db calls in resolvers. We’re hoping to change this behaviour
with the graphqldotnet 4 upgrade we’re working on currently.

On Fri, 30 Apr 2021 at 18:05, tropcicstefan ***@***.***>
wrote:

[2021-04-30 20:47] carlwoodhouse commented on #9330
it should be able too, all it does is force a lock to stop parallel db calls (so eliminating the mars issue) - however looking through the code as you say the list parts should use it.

Honestly its a long time since i looked at it so memory is a bit hazy .... and im away atm so cant look properly on phone. but can investigate when im back.

(again it will be fixed anyway by the graphqldotnet upli

[2021-04-30 21:06] carlwoodhouse commented on #9330
Ah ok that actually makes sense ..

In the mean time You could try resolving  the session in the method your
passing to the data loader instead of passing the session (reverting to
loadasync); not sure it will work but those you run sync after all the
fields have resolved in parallel which is what’s causing the issue

On Fri, 30 Apr 2021 at 22:01, tropcicstefan ***@***.***>
wrote:

[2021-04-30 21:19] tropcicstefan commented on #4227
Would you like me to put O1 version in, like @Skrypt referenced...

[code]

Or maybe change it into something like
```$("body").on("submit", "form[method='post']", function (e) {```

[2021-04-30 22:26] tropcicstefan commented on #9330
nope, same thing.
One last question I promise :D
If I use something like caching store service that will simulate DataLoader.And I resolve that CachingService from Resolver, can ISession be injected into that service in constructor from DI, or should I also resolve ISession in Resolver and just pass it as method argument?

[2021-04-30 22:26] tropcicstefan commented on #9330
Nope, same thing. one last question I promise, if i use like a caching store service, should i inject isession in constructor of cache

[2021-05-01 03:41] Greg712144 commented on #5108
Hello All,

I'm running into the same issue now even two years later as I am just learning about using the workflow activities. Has there been any update on this? I mean in regards to adding the attachment feature.

[2021-05-01 07:18] tropcicstefan commented on #9330
I tried passing context or service provider and in both cases error is still occurring.
I'll switch back to LockedAsyncFieldResolver but I had similar problem with it back in october with this piece of code, when querying content type that has two resolvers like below (with different query). Do you see any problem here?

[code]

[code]

[2021-05-01 09:06] deanmarcussen commented on #4227
yes please thank you

[2021-05-01 14:12] jptissot opened #9333 "Layer content reference "The collection was modified""
### Describe the bug
Rendering a widget in a layer zone that references content that also renders in the same zone throws exeption.

I have a Widget that has a content picker and the template renders the items.

[code]
[code]

If I place the `ContentReference` widget in a layer zone called `Modal` and reference content that also outputs to the same `Modal` zone. I get the exception below.

### Scr

[2021-05-01 15:03] #8446 closed

[2021-05-02 23:55] Flarescape commented on #9292
Ok I've checked it and I'm using the exact same views as the ones in the agency theme for content menu items.
Maybe it's just on my side, but display_url outputs the generated URL, even if it's the homepage.
So it's not `/`, it's `/xyz`, if the title is XYZ.

@Skrypt In this specific case, it wouldn't help that much, but in general it's a great idea and should be an easy one to implement.
Maybe ju

[2021-05-03 06:15] MRSheikh commented on #9314
**I upgrade these packages respectively for all of my modules and that works fine:**
`---> Ef core 5.0
---> Pomelo.EntityFrameworkCore.MySql 5.0
---> OrchardCore 1.0.0-rc2-16160
`

[2021-05-03 06:15] #9314 closed

[2021-05-03 06:20] jtkech commented on #9314
Cool 👍

[2021-05-03 12:18] weirdyang commented on #4227
Can this be solved using lodash denounce method?

[2021-05-03 13:20] weirdyang commented on #8980
@gabrielacosta,
The issue is you have not created the tenant, but your appsettings.json has configuration for it.

create a new occms
first install the templates:
`dotnet new -i OrchardCore.ProjectTemplates::1.0.0-*`
then navigate to a folder:
`dotnet new occms -n MySite`
launch the site, select `blog` or `saas`
navigate to features and activate `tenants` feature:

![image](https://user-images.git

[2021-05-03 13:25] weirdyang commented on #8980
See https://github.com/OrchardCMS/OrchardCore/pull/5422 for how to preconfigure it:

[2021-05-03 15:28] OrchardSkills commented on #6279
![OrchardCore](https://user-images.githubusercontent.com/59172485/116896890-e907c280-abf1-11eb-9238-1a95d3938353.png)

[2021-05-03 15:53] Piedone commented on #6279
We're past that one (see the original post) now.

[2021-05-03 18:04] parisnoble commented on #6279
Hi everyone,

Here's is how we are going to proceed (according to the results of the survey):
- logo with regular circle
- green for color (shown in our pdf)
- narrow display font (Orchard)

We have stepped into the final steps of the Orchard rebranding and shall be posting you with the updates soon!

[2021-05-03 18:12] Piedone opened #9348 "Recipe commands for tenant operations"
### Is your feature request related to a problem? Please describe.
Currently, you can manage tenants via the UI or the API. This proposal is about adding tenant management commands, to be used from recipes as well, allowing you to set up a multi-tenant app with ease. This is particularly useful for local development.

### Describe the solution you'd like
I'd add `tenant create` and `tenant setup`

[2021-05-03 19:51] Skrypt opened #9350 "Codegen template framework target"
Currently these templates are not using multi-targetting.
We should probably update them to do so.

https://github.com/OrchardCMS/OrchardCore/blob/439982c5abea8e7615455d59b7b48810dedee13e/src/Templates/OrchardCore.ProjectTemplates/content/OrchardCore.Templates.Cms.Module/OrchardCore.Templates.Cms.Module.csproj#L4

/cc @agriffard

[2021-05-03 19:52] #2658 closed

[2021-05-03 19:52] #3550 closed

[2021-05-03 19:52] #4568 closed

[2021-05-03 19:52] #9009 closed

[2021-05-03 23:00] Skrypt commented on #9103
Yeah, it's a known issue. But assuming we should wield the Field to the Content Type would be quite dangerous somehow. This means that potentially you could store data on wrong fields for example if you made a Typo in your code. The thing we are missing then is the ability to know which field(s) are allowed and then drop the ones that are not.

Leaving this one to @deanmarcussen 😉

[2021-05-03 23:15] Skrypt commented on #9321
I'm not sure if it's an issue at all to be honest. The only thing is that we can login to a different account when we are already authenticated. The redirection to the home page is not what everyone will require either ; some people will want it to be redirected to their custom frontend user dashboard ... This is per case.

[2021-05-03 23:16] Skrypt commented on #4227
Yes, please contribute 😄

[2021-05-04 03:32] rserj opened #9351 "OrchardCoreBuilder.ConfigureServices inconsistent behavior"
I use `OrchardCoreBuilder.ConfigureServices((services, serviceProvider) =>`
 extension. It's get called many times during Setup/Autosetup
(I think it happens when Features get enabled and Orchard rebuilding the whole Shell's Blueprint is this right? ) and sometimes I can not extract the configuration section for shell/tenant

[code]
- Sometimes during Setup `redisConnection` is null the same behav

[2021-05-04 03:33] rserj commented on #9351
cc: @jtkech

[2021-05-04 05:19] jtkech commented on #5821
@Piedone

Yes it executes all commands but all or part of them may have been batched through `  BatchCommands()`, see https://github.com/sebastienros/yessql/blob/47702652f14931e18dd13f4480d71f5ef5eadd10/src/YesSql.Core/Session.cs#L724

[2021-05-04 08:03] jtkech commented on #9348
We always have a default tenant but that may be uninitialized,  and a tenant can be setup even if the default is not yet setup, we do this in unit tests. Unless if a tenant  depends on another one, e.g. an open id client depending on an open id server supported by e.g. the default tenant.

Maybe better to always have the default tenant running before doing the setup of other ones, this is what the

[2021-05-04 08:38] datdv260497 commented on #9139
![image](https://user-images.githubusercontent.com/49801948/116978618-29e50180-acee-11eb-9732-e5ea5f8c9662.png)
![image](https://user-images.githubusercontent.com/49801948/116978815-6ca6d980-acee-11eb-8d84-34be9cc18605.png)
![image](https://user-images.githubusercontent.com/49801948/116978891-81836d00-acee-11eb-84ec-d819b36933ab.png)
Hmm, It not working for me. Liquid not run when I add part templ

[2021-05-04 08:45] jtkech commented on #9351
Yes during setup we use an internal shell with an internal shell settings at some point, but normally in a given scope you should get the same values, I will take a look tommorow

In place of testing `ShellScope.Context.IsActivated` try to check if `ShellScope.Context.Settings.State` is not initializing or just is running, because during setup a shell is activated multiple time while still being i

[2021-05-04 09:14] lampersky commented on #9317
@deanmarcussen it's weird but I've downloaded all those logs, and for some reason, logs are collected from `2021-04-29 14:00:07.3412` :-O

Maybe there were some problems with file system access in Azure.
Here is what I found inside **internal-nlog.txt** maybe this will shed some light on the problem.

[code]

I've found that 4 different ContentItems were edited and had same problems.

![image](htt

[2021-05-04 10:33] Piedone commented on #5821
Great then!

[2021-05-04 10:37] rserj commented on #9351
Yeh, I saw the feature OrchardCore.Redis.DataProtection, thank you

As I remember it was in Running State and I still couldn't get section values but can be mistaken.
What I know is `ShellScope.Context.Settings.State != serviceProvider.GetRequiredService<ShellSettings>().State`

Thank you very much

[2021-05-04 11:22] deanmarcussen commented on #9103
Yes, so something I have seen as well.

Needs a little thought. Here's why though
`ContentManager.NewAsync()` calls activated in the part handler coordinator
https://github.com/OrchardCMS/OrchardCore/blob/a6ede09c77bbe888fcc6a030ef5721b0a960226d/src/OrchardCore/OrchardCore.ContentManagement/Handlers/ContentPartHandlerCoordinator.cs#L44

which activates the Parts, welding them on.

What it doesn't

[2021-05-04 11:32] jtkech commented on #9351
Okay, calling the modules `ConfigureServices()` (and the ones defined through our app level helpers) means that we are building the shell, so here it can't be activated, you are not executing in a scope context but in a tenant / shell context, the one we are composing, so the `Context` prop of `ShellScope` may be null.

What happens is that during a setup, or through some other services e.g. when

[2021-05-04 11:45] jtkech commented on #9139
Just took a look at the cms module template code

Looks like the sample part name is `MyTestPart`

Also just remembered taht there was a typo somewhere, in one place `TestPart` was used in place of `MyTestPart`

So maybe retry it with the last dev packages from the cloudsmith feeds and / or with the `TestPart` name

[2021-05-04 11:56] agriffard commented on #9139
The module template has been changed recently in #9334

[2021-05-04 12:08] jtkech commented on #9139
Okay thanks @agriffard

The missing liquid registration that has been added may explain the issue here

            services.Configure<TemplateOptions>(o =>
            {
                o.MemberAccessStrategy.Register<MyTestPartViewModel>();
            });

[2021-05-04 12:37] deanmarcussen commented on #9257
I think you want to use the `MediaAttachedField` for this. It allows attaching media from the library to a specific content item.

[2021-05-04 12:38] #9110 closed

[2021-05-04 12:40] JoshTango commented on #9257
I will rea the documentation for this.
But I don't want other users to see the media file

[2021-05-04 12:41] deanmarcussen commented on #9258
Duplicate https://github.com/OrchardCMS/OrchardCore/issues/1514

[2021-05-04 12:41] #9258 closed

[2021-05-04 12:43] deanmarcussen commented on #1514
We currently validate with `ToSafeName` for this

Should be reasonably easy to add validation for the other content item properties which are as @Piedone says are "reserved".

[2021-05-04 12:43] lampersky commented on #6475
I experienced same issue on safari **<14.1** (14.1 was released 26.IV.2021).
**StartDate** and **EndDate** are DateTime fields and are rendered as shown below:
![image](https://user-images.githubusercontent.com/6403130/117003722-7ed04a00-ace5-11eb-8e2b-57eb46999da0.png)
"Can I use" is declaring that FF and IE are not compatible.
https://caniuse.com/?search=datetime-local

[2021-05-04 12:47] JoshTango commented on #9257
Do you mean the media filed?
I don't see an attached anywhere?

[2021-05-04 12:48] JoshTango commented on #9257
I think what is needed is a content specific folder.
So a folder in the media library called content with a sub folder of contentitem_id

[2021-05-04 12:51] JoshTango commented on #9257
In fact I would probably envision a field type called MediaUpload.
Then you would click the upload button in the content editor and choose your file to upload and it would go straight into the contentitem subfolder

[2021-05-04 12:59] #8802 closed

[2021-05-04 13:58] lampersky commented on #8409
@jtkech I'm closing this issue.

I've tried few options:
1) I've implemented **IFastBackgroundService** but this is only partial solution, because it still requires changing **AzureSignalR** implementation a bit, which is not good to me because I don't want to maintain own **AzureSignalR** version,
2) I've started manually HeartBeat service at tenant level and changed my module as always on, but t

[2021-05-04 13:58] #8409 closed

[2021-05-04 14:01] datdv260497 commented on #9139
Thanks so much, @jtkech . I added liquid registration and this problem resolved.

[2021-05-04 14:03] #9139 closed

[2021-05-04 16:19] Skrypt commented on #9103
The DisplayManager.BuildEditorAsync method if I remember correctly does the same thing.

[2021-05-04 16:23] jptissot commented on #9103
I wonder if the same is true for content created via workflows / scripting.

[2021-05-04 16:28] Skrypt commented on #9103
Probably. Somehow it would make sense that the events triggered work by themselves. It seems strange to need to use the DisplayManager in an API call to weld fields on content parts ...

[2021-05-04 16:29] Skrypt commented on #9103
@deanmarcussen It was probably lazy loaded intentionally.

[2021-05-04 17:01] rserj commented on #9351
@jtkech Thank you for detailed explanation

[2021-05-04 17:01] #9351 closed

[2021-05-04 17:04] Skrypt commented on #9103
There was a request a while back about doing a JSON Schema validation on API's. Maybe this would be part of the solution.

[2021-05-04 19:44] sebastienros commented on #6279
You mean this?

![image](https://user-images.githubusercontent.com/1165805/117060978-7a506500-acd6-11eb-9a7f-b87e74210b42.png)

[2021-05-04 23:01] Piedone commented on #9348
Hmm, interesting. I did know about Auto Setup but didn't occur to me to use it as such. I think it nicely covers the use-case, even one particularity of using a non-SQLite DB.

What we do in our team is that while you can set up your dev env with SQLite, for parity with the prod env SQL Server is recommended. While with the default SQL Server config the connection string can be the same for everyo

[2021-05-04 23:01] #9348 closed

[2021-05-05 05:20] weirdyang commented on #8771
Is this the right way to register IRecipeHandlers?

[code]

[2021-05-05 07:30] deanmarcussen commented on #9348
For infos @Piedone we find both user secrets and key vault configuration useful for that cross dev environment / configuration.

Where user secrets can be used to provide dev specific configuration, and / or the same with keyvault.

As user secrets loads in after the standard `appsettings.Development.json`, it provides some good overrides.

[2021-05-05 08:00] orchardc opened #9358 "Find user by data fields in CustomUserSettings?"
### Is your feature request related to a problem? Please describe.
Currenlty, we can find user by UserId, UserName, Claim and LoginInfo.

### Describe the solution you'd like
Is it possible to find user by CustomUserSettings?

[2021-05-05 12:40] Piedone commented on #9348
That's a good idea too, thanks Dean.

[2021-05-05 16:27] deanmarcussen commented on #9358
You would need to write an `IIndexProvider` for the values you want to index on in your custom user settings.

Something like
[code]

[2021-05-05 16:27] #9358 closed

[2021-05-05 17:07] hishamco commented on #9350
They are using the `$(TargetFramework)` which is refer to the app target framework if I'm not wrong. Unless there's a variable called `$(TargetFrameworks)`

[2021-05-05 17:21] Skrypt commented on #9350
In source code we use the Directory.Build.props to define these modules to be using multi-targetting now. So, if I want to create a module from templates while using source code I need to edit the .csproj and remove the `<TargetFramework>` lines. Not much an issue since most dev will find the issue quickly. Though, if the .csproj was including something like

`<TargetFrameworks>$(TemplateTargetPac

[2021-05-05 17:26] xperiandri opened #9361 "Preview page loads resources from /OrchardCore.ContentPreview/Preview/Index"
### Describe the bug
All paths on the preview page are prepended with `/OrchardCore.ContentPreview/Preview/Index`
Why does this happen and how to remove that?

### Expected behavior
Preview page loads all links from the paths declared in links

Version 1.0.0-RC2-16169

[2021-05-05 17:31] Skrypt commented on #9350
Ok found it. We are allowing choices to target netcoreapp3.1 or net5.0 when using the new feature of Visual Studio. But we have no option for multi-targetting. Need to see if it's a limitation with `dotnet new` templates.

[2021-05-05 18:03] deanmarcussen commented on #9350
I think you only really need to do multi target builds if you are packaging for consumption by both target apps.

I do have a few external nuget packages like that, but most of our site modules are fine on the target the project is using. We wouldn’t multi target the project is what I mean.

so just trying to understand the use case for the templates to provide the feature?

[2021-05-05 18:57] hishamco commented on #9350
This will be replaced by `$(TargetFramework)`

[2021-05-05 18:59] Skrypt commented on #9350
I just noticed that when I am creating a module from these templates that the framework target mismatch because I'm multi-targetting my Nuget Package solution. That's mainly why. Maybe I'm wrong in multi-targetting my Nuget package solution but I believe that if OC allows it then why wouldn't I be able to do it also on the Nuget package solution?

[2021-05-05 19:44] TFleury opened #9362 "OpenId don't handles inherited (ImpliedBy) permissions"
Testing Application access with OpenId module with Client Credentials flow, it appears that ImpliedBy permission are not honored.

### To Reproduce

1. Create a tenant with at least one content
2. Enable "OpenID Authorization Server" & "OpenID Token Validation"
3. Create a role for your app and check "Access content via the api" & "Publish or unpublish content for others"
(note the "Edit content f

[2021-05-05 19:45] deanmarcussen commented on #9350
It’s allowed, of course, but it seems a bit unusual/ unnecessary to multi target a web/project solution.

It’s only going to want to run on one framework - the one you deploy to? Unless I’m missing something? So would just double build times for no reason.

necesary for published libraries of course, so there is a use case.

[2021-05-06 06:25] lampersky commented on #9319
@deanmarcussen maybe it will be usuful, "Purge All" gives me this exception:

[code]

![image](https://user-images.githubusercontent.com/6403130/117251122-83f7db00-ae44-11eb-9016-1cd187b572ac.png)

[2021-05-06 07:38] lampersky commented on #9319
few more related exceptions

![image](https://user-images.githubusercontent.com/6403130/117259277-2cf70380-ae4e-11eb-9876-bb9cd06a4d09.png)

![image](https://user-images.githubusercontent.com/6403130/117259817-b60e3a80-ae4e-11eb-9471-563acc677db9.png)

[2021-05-06 09:07] intellimedhu opened #9363 "Cancelling the transaction not works as expected"
I have do the following in the same transaction:

1. Create a **new version** from a ContentItem
2. Create a new User

I call `ISession.CancelAsync()` when exception is thrown but a new version from a content item is created as latest and unpublished. As if user creation would commit the transaction. (Without creating a new user it works as expected.)

### To Reproduce

[code]

### Expected behavi

[2021-05-06 09:18] jtkech commented on #9363
You don't await `CreateUserAsync()`

[2021-05-06 09:23] intellimedhu commented on #9363
You're right, it's a misspell, sorry. However the problem still exists.

[2021-05-06 09:43] jtkech commented on #9363
Yes the user store call directly a session commit, as i remember it is related on how the related aspnetcore services work

In fact now it does a `_session.SaveChangesAsync()` that does a flush as i remember, but normally if you do a session cancel, the transaction should not be committed, at some point it was commited but it has been changed to keep the cancel state even after a flush, i will che

[2021-05-06 10:00] intellimedhu commented on #9363
Ok, thanks!

version: 1.0.0-rc2-16169

One more thing, probably related to this issue: I do the user creation first then updating the content item. When the user is created and an exception is thrown I try to delete the user in two ways:

1:
[code]
The problem is the same: user deletion will commit the transaction, so CancelAsync makes no sense.

2.
[code]
Content changes will be rolled back, but

[2021-05-06 10:11] deanmarcussen commented on #9363
For infos @jtkech this is a behaviour we have talked about needing to change.

While EF/Identity would do this by default, EF/Identity, by default, difer in that they do not treat a the DbContext as a per request, i.e. cancellable, single transaction oer the whole request, by default.
It's something you can work into EF, but isn't done in the default patterns.

So to fit with the way we have chose

[2021-05-06 10:18] jtkech commented on #9363
@deanmarcussen

Okay seems that we could change it

But still an issue that cancel doesn't prevent the transaction to be committed

We already fixed this use case with @sebastienros

I'll try to take a look on it tomorrow

[2021-05-06 11:37] lampersky commented on #9319
Steps to reproduce:
1) latest dev OC,
2) deploy to azure (web deploy), **This bug can't be reproduced locally!**,
3) enable feature "Azure Media Storage" it depends on "Media Cache",
4) configure appsettings
[code]
5) import few images to nested directories,
6) go to `Admin/MediaCache` and click on "Purge All",
7) disable browser cache
![image](https://user-images.githubusercontent.com/6403130/117

[2021-05-06 12:35] Piedone commented on #7044
This was most possibly an issue with the Audit Trail code.

[2021-05-06 12:35] #7044 closed

[2021-05-06 12:36] Piedone commented on #93
Related: https://github.com/OrchardCMS/OrchardCore/issues/1514

[2021-05-06 13:37] deanmarcussen commented on #9319
Why is the home volume pointing at C: ?

Is that something you have changed yourself?

Can you check your environment variables in kudo.

I would have expected the `Home` environment variable to be the D: on Azure.

I'm not ruling out an issue with the OC code, but this still feels like a configuration in azure issue, as this all just works on all our sites.

Feel free to reach out to me on gitter

[2021-05-06 13:55] parisnoble commented on #6279
Hi everyone,

As @sebastienros commented above, that is the version.

Please find attached the final version of the rebranding.

If all is good, then we shall export all the files for the community, and the new logo, colors, and fonts are ready to use!

So please let us know if everything is ok!

[Orchard core_rebranding_4.pdf](https://github.com/OrchardCMS/OrchardCore/files/6435083/Orchard.core_r

[2021-05-06 13:59] lampersky commented on #9319
everything here is set by default, the only thing here is that I'm using azure "premium v3" plan, and as you can see HOME is pointing to `C:`
![image](https://user-images.githubusercontent.com/6403130/117310722-d60c2100-ae83-11eb-97db-e50fcecbc5a9.png)

![image](https://user-images.githubusercontent.com/6403130/117310111-4bc3bd00-ae83-11eb-9474-44488fcb8666.png)

those are new plans on azure:
![im

[2021-05-06 14:28] Piedone commented on #6279
Looks good to me!

[2021-05-06 15:13] rjpowers10 opened #9365 "ContentTypePartDefinitionDisplayDriver<TPart>"
### Is your feature request related to a problem? Please describe.
Pretty minor, but I noticed that there is a generic `ContentPartFieldDefinitionDisplayDriver<TField>` but no generic `ContentTypePartDefinitionDisplayDriver<TPart>`.

[ContentPartFieldDefinitionDisplayDriver](https://github.com/OrchardCMS/OrchardCore/blob/e8c8553dec2d383ad0d053ae694db8c28c1f2bd5/src/OrchardCore/OrchardCore.ContentT

[2021-05-06 17:32] sebastienros commented on #9330
Try to lock on the session object by yourself, and also use `GetAwaiter().GetResult()` in the `LoadTaxContentItems` method though this might cause a thread pool exhaustion on high loads. This looks like this method is not awaited by GraphQL.NEt which is something we had to deal with by the past, so hopefully the new version fixes it.

[2021-05-06 17:37] sebastienros commented on #9333
@deanmarcussen says you are rendering two things in the same zone (same list of shapes). While the zone is iterated to be rendered, something else is added to it.
You can't add something to the "Modal" zone while you are rendering "Modal". You should create a distinct one.

[2021-05-06 17:44] sebastienros commented on #6475
Please define the actual issue with repro steps. Even if datetime-local is not supported on the browser, it should still work fine. You just don't have a nice editor from what I understand.

[2021-05-06 17:46] sebastienros commented on #9103
We should weld the fields. Unless we (I) saw an issue that will be revealed once it's done.

[2021-05-06 17:47] sebastienros commented on #9361
That's how Preview works, with a custom controller that renders a fake content item from shared memory instead of the database. It generates a custom html that will inject the fake rendered content item in it, and check the state in local storage.

[2021-05-06 17:49] xperiandri commented on #9361
But scripts must be loaded from the root

[2021-05-06 17:49] sebastienros commented on #9350
We don't need to multi-target custom projects. It's "just us" in the OC repository. If users still want to target something else then they change the csproj.

[2021-05-06 17:54] sebastienros commented on #6279
We should have this document available in a branding folder, including other reusable assets (vectorized and not). The a docs page that references the files. then we can start updating the sites and templates.

@parisnoble can you create a PR with the files? Or share it with someone who would do it?

[2021-05-06 17:56] Piedone commented on #6279
I'd open a PR to update the branding info in the docs once we have this finalized.

[2021-05-06 17:59] deanmarcussen commented on #9361
How are you rendering this script link?

The resource tag helpers manage this fine.

[2021-05-06 18:00] sebastienros commented on #9319
Create a new website or new app service plan and this should go away. This is a common enough issue that I have seen that in other dotnet apps not related with Orchard. Sometime it's prevent the app from starting if the issue happens with the dotnet runtime.

[2021-05-06 18:05] Skrypt commented on #9350
It's usefull if you want to migrate from netcoreapp3.1 to net50 and build it with the CI to test if things are broken or not. Then decide to move to net50 once everything works.

[2021-05-06 18:13] sebastienros opened #9369 "Media permissions"
Create dynamic permissions for each first level folder:

- List files
- Serve files (requires custom middleware, if we don't have a custom one already)
- Edit (add, delete) files

When rendering or editing files in the admin, check for current user permissions.

[2021-05-06 18:56] lampersky commented on #9319
@deanmarcussen suggests to try without "media azure", so I've created another app, but without "media azure" and "media cache" and everything works as expected, so it looks like "media cache" related issue

![image](https://user-images.githubusercontent.com/6403130/117350772-3d8a9680-aead-11eb-87b0-f758e0f03ca5.png)

[2021-05-06 19:15] sebastienros commented on #9319
@lampersky Thanks for confirming it's not an azure issue.

[2021-05-06 19:19] parisnoble commented on #6279
We shall send @Piedone all the files (vectorized, jpeg, monochrome, fonts, etc) to upload them and after that, they will be all ready to use!

[2021-05-06 19:21] 0liver commented on #6279
Thank you, Paris, for all your hard work to give Orchard Core a new, unified face!

As you mentioned in [this comment](https://github.com/OrchardCMS/OrchardCore/issues/6279#issuecomment-827843427), the decision between the two fonts was very tight. It was for me, too - neither of the two proposed ones really resonate with me. The one that's been chosen now looks too narrow in my eyes, especially i

[2021-05-06 19:21] lampersky commented on #9319
@sebastienros if there is anything I can do to help investigate this issue, just let me know

[2021-05-06 19:35] sebastienros commented on #9319
Did you manage to repro locally with the blob storage feature enabled?

[2021-05-06 19:35] 0liver commented on #6279
Maybe Lucida Grande?

![image](https://user-images.githubusercontent.com/164360/117355465-e5569300-aeb2-11eb-9238-369e6f5ac9b0.png)

[2021-05-06 19:40] lampersky commented on #9319
as mentioned [here](https://github.com/OrchardCMS/OrchardCore/issues/9319#issuecomment-833454307), this can be only observed on azure deployed version, I deployed many versions Release/Debug, and both are affected

locally everything works like a charm

[2021-05-06 20:23] Skrypt commented on #8771
@willnationsdev Please do a PR :wink:

[2021-05-06 20:56] sebastienros commented on #9319
@deanmarcussen could it be related to the stream not disposed issue that was recently fixed in IS ?

[2021-05-06 21:11] deanmarcussen commented on #9319
@sebastienros i don’t think so. This seems to be related to source images, rather than cache images, which was the is issue.
It’s also a different error to what we would see when is had left a stream open.

I am wondering about the cancellation token from the http request again and may suggest some code to try tomorrow- without a way to repro it will have to be some trial and error as I don’t see

[2021-05-06 21:17] willnationsdev commented on #8771
@Skrypt I thought someone was adding a secrets module that would allow the encryption keys to automatically be migrated across tenants without the need for refreshing the tokens. Is that not the case? I have just been using my deployment step as a stopgap until that feature I merged.

[2021-05-06 21:32] hishamco commented on #1210
Closed with the respect of #9369

[2021-05-06 21:32] #1210 closed

[2021-05-06 21:32] hishamco commented on #6645
Closed with the respect of #9369

[2021-05-06 21:32] #6645 closed

[2021-05-06 21:36] #9350 closed

[2021-05-06 21:36] lampersky commented on #9319
@deanmarcussen ping me tomorrow and let's do some screen sharing, I have debbuger connected to my deploeyed version, this way you could "touch" this weird issue

[2021-05-06 21:37] Skrypt commented on #8771
The Workflow Liquid TagHelper?

[2021-05-06 22:02] willnationsdev commented on #8771
Ohhhh, right, yes. I can probably do, although, I don't recall ever successfully being able to compile the OC repo. Will have to try and get that working first. Don't wanna submit a blind PR. XD

[2021-05-06 22:35] jtkech commented on #9319
@deanmarcussen

Don't remember the details so maybe not related, but just retrieved one of my comments here, related to a cancelled request, if it may help https://github.com/OrchardCMS/OrchardCore/pull/8750/files#r588218960

[2021-05-06 23:16] jtkech commented on #9363
@intellimedhu @deanmarcussen

Yes i can repro, indeed `SaveChangesAsync()` commit the transaction, yes we already saw that the user store was commiting earlier but let it as is because normally when creating a user we don't save another entity.

Yes, i don't see any problem to commit the transaction at the end of the scope as done for other documents

So look like we should do a PR to remove these

[2021-05-07 07:49] #1514 closed

[2021-05-07 08:39] agriffard opened #9374 "Taxonomy filters not displayed"
When you enable Taxonomy filters and select Tags and/or Categories in the settings (for example in a Blog after fresh setup), no taxonomies filters are displayed in the Content items list.

/cc @deanmarcussen

[2021-05-07 08:52] lampersky commented on #9319
few more facts:
1) restarting web app fixes issue temporarily,
2) when you click on "purge all" media library stops working again.

I recorded video:

https://user-images.githubusercontent.com/6403130/117424621-436e8f00-af22-11eb-96fe-af6dbf2259de.mp4

[2021-05-07 09:04] lampersky commented on #9319
this line:
`var isFileCached = await _mediaFileStoreCache.IsCachedAsync(subPathValue);`
from:
MediaFileStoreResolverMiddleware:66

is returning TRUE after purging :-O

[2021-05-07 10:18] xperiandri commented on #9361
[code]

[2021-05-07 10:21] xperiandri commented on #9361
I use WebOptimizer

[2021-05-07 10:21] xperiandri commented on #9361
[code]

[2021-05-07 12:23] #9374 closed

[2021-05-07 13:58] marlon-tucker opened #9379 "Minor security issue: Internal File Path Disclosure"
Hello,

A customer of ours has had a pen test undertaken of a system we have built for them, one of the issues that has been raised is the Media module can potentially expose internal file paths, letting a would be attacker find out what OS the server is using and gaining them knowledge about the file structure being used by the web application.

![image](https://user-images.githubusercontent.com/

[2021-05-07 14:36] hishamco commented on #9379
The media path could be useful for server side logging but exposing such thing is a security bug

[2021-05-07 14:51] deanmarcussen commented on #9361
`<script asp-src="~/some.js"></script> will work fine with preview.

[2021-05-07 19:37] weirdyang commented on #8478
I encountered this the other day, I realised this is because the objects are stored as  jObjects.
so for example:

A http request comes in with a body like:

[code]

and you set it to workflow property - `MyData` using `JSON.parse(readBody())`

if you do `{{ Workflow.Properties.MyData | json }}`, you'll get this:

[code]

To access the values, you will need to use the keys eg. `{{ Workflow.Propert

[2021-05-08 09:05] jtkech commented on #9319
@lampersky If @deanmarcussen can repro, for sure he will fix it ;)

[2021-05-08 10:33] deanmarcussen commented on #9379
Yes, the media file stores are supposed to try catch all exceptions, and rethrow them as a `FileStoreException` to prevent this. so an operation isn't being try catched correctly, and needs to be updated

[2021-05-08 10:46] deanmarcussen commented on #9319
This is currently reproducable as either an azure issue, or a `PhysicalFileProvider` on azure issue.

Add a very long file name (+80 chars), then delete the file through `File.Delete`, after finding it with  a physical file provider (or via ftp, so more likely azure related, but only seems so far reproducable when using a `PhysicalFileProvider` to find the files (ie. it doesn't reproduce (so far)

[2021-05-08 11:02] lengockyquang commented on #9321
You can refer https://dev.to as an example, Route '/enter' is their login page, after login success, i can't go back to the login page. I think i would be awesome if orchard core provides some configurations for admin to control this behaviour :D

[2021-05-08 11:25] Piedone commented on #9027
This would also be quite useful when migrating sites to Orchard and you want to keep old URLs working.

[2021-05-08 14:44] deanmarcussen commented on #9321
I suggest a small piece of custom middleware to handle your required redirect before it reaches the controller.

As @Skrypt says it's per case, and much more easily handled with custom middleware, than us trying to please everyone.

[2021-05-08 19:11] hishamco commented on #3607
Seems the PR will take so long, I suggest to minimize the requirements or split them into smal manageable PRs as follows:

1. First PR

- [ ] Introduce Data Localization Abstractions & Implementations APIs
- [ ] `DataLocalizer` should read the data from the database as: Key, Context, Value(s) and Culture
- [ ] Add `OrchardCore.DataLocalization` Module as a separated feature that can be enabled or

[2021-05-08 19:21] hishamco commented on #3607
Some of my thoughts about the admin screen:

- Categorize the screen according the `ILocaliationDataProvider` implementations say

  Content Types:
  1. Article    Content Types    Article       en
  2. Article    Content Types    Article       fr
  3. Article    Content Types    Artículo    es
  ....

Content Fields:
  1. Summary    Content Types - Article    Summary    en
  2. Summary    Content

[2021-05-09 14:05] jptissot commented on #9205
I think this would be a good enhancement. I am working on building a feature that would allow site administrators to output the json format of a content type.

[2021-05-09 14:18] jptissot commented on #9199
I think we should support both, for backwards compatibility?

At a minimum, we should update all references to `.Properties` in the docs if we choose to keep it like it is. https://docs.orchardcore.net/en/dev/docs/reference/modules/Liquid/#shape_add_properties

[2021-05-09 17:30] #9289 closed

[2021-05-10 02:25] Skrypt commented on #3607
Yeah, I agree with you that First PR should also provide some UI. Will review the PR tomorrow to see where we are at.

[2021-05-10 03:01] timeshift92 commented on #9205
yes I meant it, sorry the translator sometimes does not translate correctly

[2021-05-10 03:02] timeshift92 commented on #9205
thanks, as a beginner, I may not know the exact structure of the content, this feature would make life easier for newbies like me =)

[2021-05-10 05:09] MRSheikh opened #9394 "KendoUI script error after upgrade to latest dev branch"
I developed some modules on Kendo UI framework and that works fine. after upgrade to the latest dev branch, this error occurred on my page:
`Uncaught TypeError: jQuery(...).kendoLoader is not a function`
I think this is because ResorceManagement class moved `<script src="/OrchardCore.Resources/Scripts/jquery.js"></script>` to the end of page.
how can I set `OrchardCore.Resources` scripts inserted

[2021-05-10 05:14] jtkech commented on #9199
Okay, will do a PR asap ;)

[2021-05-10 05:31] jtkech commented on #9394
If your resource is defined through a resource manifest

The script tag helper has a new `Position` attribute that you could set to `Last` so that your resource will be registered after.

[2021-05-10 07:19] MikeKry opened #9395 "Admin dashboard: does not work on tenant?"
### Describe the bug
I can create and unpublish dashboard widgets, but can not modify or delete. It has happened to me on 2 projects and only difference between others is that they run more tenants (with Tenants feature enabled). When there is only default tenant, everything is ok.

What happens is that if I click on Edit button:
![image](https://user-images.githubusercontent.com/52829889/11761966

[2021-05-10 08:34] #8939 closed

[2021-05-10 11:32] MRSheikh commented on #9394
yes I know that but how to move build-in ` OrchardCore.Resources/jquery.js ` in to head or remove that ??

[2021-05-10 14:54] Skrypt commented on #3607
@hishamco Please edit your post and add these Steps in your main first post so that we can keep track of the progress by looking at this issue.

[2021-05-10 15:13] Skrypt commented on #3607
We have also Content Parts in Content Types so I wonder if we should create a UI treeview to translate these also.

[2021-05-10 15:15] lampersky commented on #9319
I isolated the problem outside of OC.
Will share small repro repo later today.

[2021-05-10 17:13] sebastienros commented on #9319
@deanmarcussen @lampersky this is sad, but also very nice that you found a repro. Hopefully it will ensure it can be fixed in aspnet core and/or in Azure App Service.

[2021-05-10 19:39] gvkries commented on #6667
Actually this is even worse: If you have a group of radio buttons or checkboxes with the same name, the value of all checkboxes or radio buttons are changed to the selected value when the form is re-dispayed.

[2021-05-10 20:15] lampersky commented on #9319
Here is a minimal repro [repo](https://github.com/lampersky/PhysicalFileProviderRepro), maybe there is a way to minimize it more. I deployed it to azure and was able to see same exceptions.

https://user-images.githubusercontent.com/6403130/117718507-7348bb80-b1dc-11eb-8696-d16b453b1e9e.mp4

it would be good if anybody could confirm

[2021-05-10 22:28] orchardc opened #9413 ""Database is locked" error when using ChangeEmailAsync or SetEmailAsync with custom action"
### Describe the bug
I think this is very much repeatable...if a custom update follows with **_userService.ChangeEmailAsync** or **_userManager.SetEmailAsync**
It will always throw SQLite "database is locked" error

In a HttpPost action,
`public async Task<IActionResult> ChangeEmail(string email)
{
  if (await _userService.ChangeEmailAsync(user, model.Email,
                        (key, message)

[2021-05-11 02:12] jptissot commented on #9395
My guess is that the `remove-for` does not work with tenants
https://github.com/OrchardCMS/OrchardCore/blob/60520b5ced04c189823628dad3ed5f1e6fd8b8ca/src/OrchardCore.Modules/OrchardCore.AdminDashboard/Views/Dashboard.DeleteButton.cshtml#L2

[2021-05-11 08:13] parisnoble commented on #6279
Hi Everyone,
We've done a few adjustments to the display fonts. Please check.

It is important to know, that the wider the font we choose the wider the overall logo will become, which can limit the usage of the logo in digital.

We still believe that Oswald (the previous narrow font would work best), however, it is up to you to choose the final one.

Looking forward to hearing from you!

[Orchard

[2021-05-11 15:26] 0liver commented on #6279
### Here's the survey

https://freeonlinesurveys.com/s/IpDVCeSG

**Please go vote!**

[2021-05-11 18:31] jptissot opened #9420 "Notify task not displaying correctly on the login page"
### Describe the bug

I added a workflow http filter on the login page with a NotifyTask.

![image](https://user-images.githubusercontent.com/4681586/117866505-3674d700-b265-11eb-9b66-484d7891bcc7.png)

 The notify task does not display properly on the login page :
![image](https://user-images.githubusercontent.com/4681586/117866213-e138c580-b264-11eb-88ae-4e4267602dae.png)

`console_log` filter o

[2021-05-12 10:19] weirdyang commented on #9394
https://docs.orchardcore.net/en/dev/docs/reference/modules/Resources/

You can do it programmatically or use the liquid positioning at: head

[2021-05-12 11:21] weirdyang commented on #8771
Just a heads up, this only updates the token. If you wish to update the full URL, e.g.for cases where you change the app name, you will need to generate it using Url.Action, and the area parameter set to OrchardCore.Workflows.

[2021-05-12 11:28] MichaelPetrinolis commented on #9394
@jtkech here is what I encountered while playing with Kendo in custom admin Theme. In the Layout.cshtml I add Kendo js/css as resources which has been registered in a custom module. I have set Kendo's jQuery version as Dependency for kendo js. I add kendo at=Head but jQuery is loaded at=Foot. I add a script tag explicitly for jQuery at=Head, the same thing. That's because the jquery-cookie is regi

[2021-05-12 13:18] agriffard commented on #9289
@sebastienros To answer your question about the Bootstrap dropdown and the ability to go the next element by pressing `Tab` once you selected a recipe (without pressing Enter): It does not seem possible because the `Tab ` button allows to navigate between the options inside the dropdown menu when displayed.

[2021-05-12 15:05] davidhayden opened #9422 "Import/Export Custom User Settings"
It doesn't appear that importing and exporting custom user settings is possible.

Not only would I like to import/export custom user settings via a deployment plan, but I'd also like to add custom user settings for the "admin" user as part of the setup recipe.

cc: @deanmarcussen

[2021-05-12 17:49] jptissot opened #9423 "Add documentation for the href filter"
I noticed that we do not have documentation for the href liquid filter. Creating this issue to remember to document it.

[2021-05-12 20:45] davidhayden opened #9424 "HtmlBodyPart attached to Taxonomy Content Type fails to display"
When I attach an HtmlBodyPart to the Taxonomy content type it doesn't display the part when I render a taxonomy content item.

Not only does it not render the part, but when I display the taxonomy in the template via `{{ Model.ContentItem.Content }}`, the JSON displayed doesn't even acknowledge that there is an HtmlBodyPart associated with it. This is most curious as all the other parts (TitlePart

[2021-05-12 20:51] davidhayden commented on #9424
Ignore. I was working on the wrong tenant. Of course I would notice this after I submitted the issue and not before ;)

[2021-05-12 20:51] #9424 closed

[2021-05-13 08:05] deanmarcussen commented on #9422
@davidhayden the custom user settings content type definition is available for deployment via the standard content type deployments (in the same way the custom settings content type definition can be deplyed).

However I suspect you want to import/export the actual settings, for the actual user.

We don't currently have import / export for users.

There are commands to create users https://github.

[2021-05-13 08:05] deanmarcussen commented on #9422
See also https://github.com/OrchardCMS/OrchardCore/issues/5558

[2021-05-13 08:11] deanmarcussen commented on #5558
Rereading this. Making a note here of the steps which are not secret related, shouldn't use generic site settings, and can be added now @hishamco if you want to?

Some settings do not have a deployment step to import (IRecipeStepHandler) and export (IDeploymentSource) them:

- [ ] FacebookLogin: Has no secret. Has its own recipe step. Should not be managed by generic site settings.
- [ ] GoogleAna

[2021-05-13 12:47] ns8482e opened #9428 "Avoid compiling precompiled cshtml from nuget package"
### Describe the bug
As Per https://github.com/OrchardCMS/OrchardCore/issues/6565#issuecomment-655208040

If module is referenced as nuget package e.g. `OrchardCore.Application.Cms.Targets` and if nuget package includes precompiled `Views.dll`, In development views are not served from Views.dll, instead it re-compiles all embedded  `cshtml` resulted in slow start in development.

[2021-05-13 14:50] davidhayden commented on #9422
Thanks @deanmarcussen! I appreciate the detail.

You're correct in that my needs are pretty simple here. I need to import the actual settings for the existing admin user as part of the setup recipe. I can create a custom recipe handler for my needs in the interim.

Just so I understand, will the work you're doing provide a solution for my simple scenario in the future? Eventually I'd like to be ab

[2021-05-13 17:35] sebastienros commented on #9428
Please send a PR if you know how to fix it. Kind of bad that it has to recompile all views.

[2021-05-13 17:35] #8111 closed

[2021-05-13 18:40] ns8482e commented on #9428
Yes I have fix ready will create PR Soon

[2021-05-13 18:40] webmedia1012 commented on #8115
Ok I think I know where this is but, when I go to Add Part, all the parts (alias etc) are there except for Preview, then I go check the Configuration ->features the Preview is enabled, am I missing something else? Thanks guys !

[2021-05-13 19:58] jtkech commented on #9394
If A at Foot depends on B at Head, B should stay at Head

I found the issue, i tried it it works, will do a PR this night ;)

[2021-05-13 20:11] jtkech commented on #9428
In dev mode we can check the module assembly location, if not in the current execution directory it means it is loaded from the local package storage. I thought we were already using it, but maybe i only used it for module dynamic compilation.

[2021-05-13 20:14] MichaelPetrinolis commented on #9394
@jtkech I made a PR with a fix

[2021-05-13 20:22] jtkech commented on #8115
Hmm, be sure that the Preview feature is enabled, in the Features page if you see an `Enabled` button, it doesn't mean that the feature is enabled but that you need to click on it to enable it

[2021-05-13 20:23] MichaelPetrinolis commented on #9394
Sorry, didn't see the comment in the PR

[2021-05-13 20:29] Skrypt commented on #9394
@jtkech

A (at head) depends on B (at foot) = B should be at head before A.

But what if I have C (at foot) which also depends on B (at foot) and that it needs to be (at foot) ...
I think we are running in circle trying to find how we should handle dependencies when they should be handle with defered scripts. Of course, these leaves out inline scripts but there is surely a workaround for these too

[2021-05-13 20:39] jtkech commented on #9394
Yes this is how it is intended to work when we combine a location with another one

        public RequireSettings AtLocation(ResourceLocation location)
        {
            // if head is specified it takes precedence since it's safer than foot
            Location = (ResourceLocation)Math.Max((int)Location, (int)location);
            return this;
        }

But If A at Foot depends on B at Head

[2021-05-13 21:10] webmedia1012 commented on #8115
I see disabled button , that means it's enabled correct? It's so weird, also just to test, I setup a quick project and created a new site, selecting CMS headless (same setup with our website) and I can see the preview part, but with the current site I cannot. Is there a package I'm missing maybe?

[2021-05-13 21:20] jtkech commented on #8115
Can you see this part in the page that lists all existing parts, content definition => content parts, if so edit it to see if it is still marked as `Attachable`

[2021-05-13 21:34] Skrypt commented on #9394
Ok, I find this kind of odd to be honest. This means that in any view I could change where JQuery is declared by declaring a script that has a dependency on it and that I want to render at foot. Which could potentially break other global scripts which would require it to be at foot?

[2021-05-13 22:19] agriffard commented on #9395
Everything works for me, tenant or not.

[2021-05-14 04:39] webmedia1012 commented on #8115
did you say content definition? that's the one on the app_data/default correct? would it make any difference if I disabled it and move it to the database? but let me look.

[2021-05-14 04:45] webmedia1012 commented on #8115
Ok nevermind it's not even on the content definition. unless theres content definition inside of the admin

[2021-05-14 07:09] MikeKry commented on #9395
@agriffard

I tried it on mutiple projects with rc2-16020 version of OC.

Example can be seen also here:
http://try.orchardcore.fr/cb2h1vty/admin
admin / t_@$X53F

Where it runs on tenant if I am right and dashboard edit / delete does not work

[2021-05-14 10:35] #9395 closed

[2021-05-14 14:20] jtkech commented on #8115
@webmedia1012

I was talking about this admin page

![Preview1](https://user-images.githubusercontent.com/8586360/118283868-1b59cf80-b4d0-11eb-8858-9368c3d9c27c.png)

And then this setting

![Preview2](https://user-images.githubusercontent.com/8586360/118283890-21e84700-b4d0-11eb-9430-216a0760b089.png)

[2021-05-14 14:51] #9428 closed

[2021-05-14 15:58] MikeKry commented on #8840
@agono  I tried that if it would help, but when switch actually gets to role claim, it has empty scopes in principal (used just simple throw, I did not debug it..):

![image](https://user-images.githubusercontent.com/52829889/118296583-6f1ee580-b4dd-11eb-94ce-51fa878a8081.png)

there are no scopes:
![image](https://user-images.githubusercontent.com/52829889/118296699-8cec4a80-b4dd-11eb-9ea0-66e37a

[2021-05-14 18:08] webmedia1012 commented on #8115
thank you so much @jtkech here's my complete part list.
![capture_cms](https://user-images.githubusercontent.com/2730217/118311433-bfc61c80-b4a4-11eb-9d34-640271f04ffb.PNG)

[2021-05-14 18:10] webmedia1012 commented on #8115
.. and here's my preview on features.

![image](https://user-images.githubusercontent.com/2730217/118311561-eb490700-b4a4-11eb-92fd-db8e43d47625.png)

[2021-05-14 18:39] jtkech commented on #8115
Oh yes, now i remember, when this feature was done the preview part was not there, it has been added afterwards but only on the dev branch, so i assume you use the packages from the Nuget feed, you would need to use the dev packages from the cloudsmith feed, or wait for our incoming version 1.0 to be published on the Nuget feed.

[2021-05-14 18:46] webmedia1012 commented on #8115
Ah ok that makes sense now, yes I use the nuget package feed, how do I switch to dev packages is it going to mess up some of the dependencies? Thanks so much @jtkech

[2021-05-14 18:56] webmedia1012 commented on #8115
I upgraded and this is what I got, how to I correct this?
![image](https://user-images.githubusercontent.com/2730217/118316252-7200e280-b4ab-11eb-9a6c-024e5d5d51ba.png)

[2021-05-14 19:01] jtkech commented on #8115
See in our repo under the root folder, there is a `Nuget.config` file with a commented out line

Under the root of your solution you need a `Nuget.config` file specifying the cloudsmith feed

    <add key="OrchardCore" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />

[2021-05-14 19:15] webmedia1012 commented on #8115
Oh ok easy enough lol.. thanks let me try and report back if this is successful will close this out.

[2021-05-15 01:57] Skrypt opened #9440 "Darkmode Admin Menu : submenu font color when item is active"
![image](https://user-images.githubusercontent.com/3228637/118344945-4f98b480-b4ff-11eb-82e3-283e2714302f.png)

The font color should not be black.

[2021-05-15 07:08] MRSheikh commented on #9394
thanks. I found that some `<script>` on my pages `depends-on='jQuery'` and so that, Orchardcore added `jquery.js` automatically on my pages. I removed all `depends-on='jQuery'` and added `jquery.min.js` manually and then Kendo-Ui components work fine !!

**I think everyone who wants to use  Kendo-Ui components should be aware of these notes:**
1- just only one `jquery.js` should be added to the pa

[2021-05-15 07:25] jtkech commented on #9394
See also #9437

It will fix the fact that if a script at foot depends on jquery it forces jquery to be at foot even it was specified at head

[2021-05-15 08:19] MRSheikh commented on #9394
thanks.

[2021-05-15 11:06] grimxreaper commented on #9440
Hi, would this be fixed in your CSS file? If so, could I take a stab at this for my first contrib to this repo?

[2021-05-15 11:27] hishamco commented on #9440
@grimxreaper check the dark theme in the admin theme

[2021-05-15 13:11] barthamark opened #9444 "Content fields on named parts are not indexed in SQL"
### Describe the bug

Content field values are not indexed if those are attached to a content part used as a named part on a content item. Fields attached directly to the content type, however, are indexed as expected.

### To Reproduce

Prerequisites: Make sure SQL field indexing feature is enabled.

Steps to reproduce the behavior:
1. Go to Admin UI > Content > Content Parts
2. Create a Content

[2021-05-15 15:23] hishamco commented on #9444
/cc @Skrypt

[2021-05-15 16:15] Skrypt commented on #9444
Probably in the same spirit of the existing module but as a feature of that module. Indexing these records fills up the database quick. It's always better to have custom indexing providers per content type / content part so that it can be fine tuned. Not against the idea, I think it would be a good addition. This and other suggestions that has been made over time for this module. We should probabl

[2021-05-15 18:17] KshitizGIT commented on #9035
Hi @Skrypt ,
I made some changes to the code to make the output look like this. Instead of adding hint for the Technical Name, I added is as a readonly field, to make it consistent with the edit page of Content Part.
![contentpart](https://user-images.githubusercontent.com/8330582/118374060-d1f5a700-b5d9-11eb-9693-3260452b711d.PNG)

If this is what you suggested, I can send in the PR..

[2021-05-16 06:00] #9394 closed

[2021-05-16 06:22] jtkech commented on #8115
Yes, you can use the last version, some migrations will run so do a backup before, your app_data folder / database.

[2021-05-16 15:48] hishamco commented on #8613
@Skrypt is this totally done by the PR #8775?

[2021-05-17 00:00] Skrypt commented on #8613
We can close and open a new issue to states that we need to add more unit test.

[2021-05-17 00:00] #8613 closed

[2021-05-17 00:00] Skrypt opened #9449 "Lucene Queries : Add more unit tests."
Add more unit tests for Lucene Queries.

Related with : #8613

TODO : List unit tests to add.

[2021-05-17 01:03] JoshTango commented on #9257
Now if I use this mediafield part i noticed it creates a sub folder with the content item id and puts the file in this sub folder is this correct?

[2021-05-17 01:04] JoshTango commented on #9257
Is there something that will stop other users from seeing these files in their  media library if they dont have permission to see this content item?

[2021-05-17 02:38] JoshTango commented on #9257
I think maybe we can close this.

[2021-05-17 12:09] JoshTango commented on #9257
Ok I have tested this out and I am happy.  I know how their is a seperate content item folder for all associated media files.

[2021-05-17 12:09] #9257 closed

[2021-05-17 15:12] JoshTango commented on #4901
I've actually worked on making one now.

[2021-05-17 15:12] #4901 closed

[2021-05-17 19:20] webmedia1012 commented on #8115
Hi @jtkech  thanks again. After I changed the nuget.config on my root to include this..
 <add key="OrchardCore" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />

and went to Manage nuget package on my project, I saw the rc-16202 version but when I installed it.. I get this error,
do I need to 1. remove the dlls from the old version? 2. I've removed old version from project

[2021-05-17 19:25] webmedia1012 commented on #8115
Ok it worked after clearing nuget cache. I just clicked it to see to see what happens and it worked! lol - thanks for all the help.

[2021-05-17 19:25] #8115 closed

[2021-05-18 02:47] hoanghai1212 commented on #9303
please fix this bug, I can't not inject image to my post now

[2021-05-18 08:10] agriffard commented on #5558
I will make a PR for the missing steps @deanmarcussen @hishamco .

[2021-05-18 11:51] KshitizGIT opened #9471 "Content Items created inside BagPart are not listable."
I created a content type called "Skill" that is  Creatable and Listable. Then I created another ContentType called "Person" in which I added a BagPart. In the BagPart, I added Skill as a allow content item..

Now, I create a "Person" content item and add some "Skill" content item from the "Person". These "Skill" content items are not listed via the "List" button of Content Type.

[2021-05-18 12:23] Diman96 opened #9473 "String concatenation via + no longer works in Liquid"
Priviosly I work with "+" when i need to concat string on Liquid page, when I updated packages, now it fails to parse this
    ` {% assign common_Info = "alias:common-info-" + Culture.Name %}`
and instead of this I must use
    `{% assign common_Info = "alias:common-info-" | append: Culture.Name %}`
Is it intended behavior and must I rewrite all my code?

Version 1.0.0-rc2-16209

[2021-05-18 12:26] Diman96 commented on #9473
looks like no one operator works even substraction a number doesn't work
`{{ forloop.index - 1 }}`

[2021-05-18 12:32] jtkech commented on #9473
Yes ;)

Try the filter `| minus: 1`

[2021-05-18 12:41] Diman96 commented on #9473
okey, @jtkech  how to rewrite `{% if forloop.index%2 != 0 %}  order-md-2 {% endif %}`?
when i use  `{% if forloop.index | modulo: 2 != 0 %}  order-md-2 {% endif %}` this does not work

[2021-05-18 14:31] XpandIT-RFID opened #9474 "Recipe text is saved on the Database with � [Encoding]"
### Recipe text not being encoded correctly

### To Reproduce
Steps to reproduce the behavior:
When I add a field of text that has for exemple a "ç or á" it will not do the encoding correctly and will save in the database with �.
This is a big problem for example in Portugal.
I also tried to use ` [js: html('string with ç or á')]` and still it didn't work.

Recipe.json:
![image](https://user-image

[2021-05-18 15:30] jtkech commented on #9473
Hmm, would need to try it

Try to assign a var before `{%assign test = forloop.index | modulo: 2 }` and then `{% test  != 0 %}`

[2021-05-18 16:03] Diman96 commented on #9473
@jtkech Why was it changed to this approach? What are the advantages of Liquid over Razor in order to use such "simple" shortcuts? Because I think more about rewriting everything on Razor, I'm afraid in a year I will wake up and see that if-else constructions have become illegal on Liquid.

[2021-05-18 16:12] jtkech commented on #9473
About not using `+` it is to be more strict with regard to fluid specifications

About the filter in the If statement not sure, maybe an issue

[2021-05-18 16:12] jptissot commented on #9473
@Diman96 I think Fluid 2.0 was refactored to be inline with the liquid spec. The liquid spec does not allow using filters in if statements.

[2021-05-18 16:13] jtkech commented on #9473
@jptissot Thanks, was not sure about the filter ;)

[2021-05-18 16:27] deanmarcussen commented on #9471
Items contained in a bag part are considered `Contained` items, and as a result are not listed in the UI.

The UI only lists parent items which can, in this case, contain other items.

If you want / require listable items, rather than items which are bagged into a primary content item, you may prefer the `ListPart`

[2021-05-18 16:50] KshitizGIT commented on #9471
Thanks, that makes sense. Thus closing the bug.

[2021-05-18 16:50] #9471 closed

[2021-05-18 17:21] Diman96 commented on #9473
Thanks, I'll keep that in mind.

[2021-05-18 17:21] #9473 closed

[2021-05-18 18:24] MRSheikh commented on #9474
add `;CharSet=utf8;` in to end of your ConnectionString. I think this resolves your issue.

[2021-05-18 18:36] jptissot opened #9477 "console_log filter should render in the FootScript"
When using a framework such as Vue, rendering a script inline can cause console errors, we should probably inject the script at the FootScript zone

[2021-05-18 19:06] sebastienros commented on #6279
@0liver where are the results?

[2021-05-18 19:08] 0liver commented on #6279
I would leave it up to @parisnoble call it an end and publish them.

[2021-05-18 21:07] webmedia1012 opened #9478 "Can't find on Admin how to edit/add Content Definition that was imported into the database?"
Hi guys,
After days of struggling to update the OrchardCore to latest version and been able to finally get to work, I found the problem that was nothing to do with the versioning, but the Preview, is set on ContentDefinition, since I've already imported our content definition long time ago to avoid overwriting it everytime we deploy, I don't know how to edit them, I can't find a functionality in t

[2021-05-18 21:09] webmedia1012 commented on #9478
In addition can I do it on the database table? if yes, which particular table or field do I need to edit?

[2021-05-19 03:50] microwales commented on #5355
Hey Guys,
Lets ignore trolls.
I have this issues even though installed the package from nuggets. Apparently a very old version was installed. Once I installed latest 1.0.0-rc2-13450, the error cleared off. Hope this help someone.

be respectful when using a software written by others for free.

[2021-05-19 03:55] Skrypt commented on #9478
In the admin you are supposed to be able to edit those Content Types without needing to import the settings. It's in the admin left menu : Content --> Content Definition. Your Content Definitions can be found in the Document table in your database. It can also be found inside a ContentDefinition.json file inside the App_Data folder. There can be one per tenant if the "File Content Definition" feat

[2021-05-19 04:15] Skrypt commented on #5355
Well we moved to cloudsmith Nuget packages repository. And the instructions about adding a Nuget feed has been removed from that documentation ... These .gif are now quite old. I've made them 2 ~ 3 years ago but they are still relevant for some I think. Maybe the documentation was crap at that time because it was not accurate but that's truely a shame that some people act like this. At the same ti

[2021-05-19 04:38] Skrypt opened #9480 "SQL Queries : support JSON functions"
I'm pretty sure we could implent this as a common method for every DB as they all support it and they are quite similar.

/cc @lampersky

[2021-05-19 06:49] lampersky commented on #9480
If you are using db like **SQL Server**, **MySQL >= 8** or **Oracle** then you could use JSON functions right away.
The problem is with [postgreSQL](https://www.postgresql.org/docs/9.5/functions-json.html), where the syntax is a bit odd and differs from other db engines.

This feature request is more about extending **YesSql** by adding some additional **TemplateFunction**s, because from **OC** po

[2021-05-19 07:57] deanmarcussen commented on #9477
Hmm, sounds like a good idea, but injecting it into the `Footer` would mean that it was unusable from the `Footer` - because you can't render something inside a zone that is in the process of being rendered (it would try to modify its own collection).

Can you use the zone filter to move it to the `Footer` when you know you are not already rendering the `Footer` ?

You may need / want to assign th

[2021-05-19 09:19] pchoisnard commented on #9474
You can use javascript encoded like  é -> \u00e9

[2021-05-19 10:24] XpandIT-RFID commented on #9474
Seems to only work with MySql, I am using Sql Server

[2021-05-19 10:26] XpandIT-RFID commented on #9474
I will have to do this for a lot of pages :/ it will be a pain to change all words to javascript encoded, Portuguese uses a lot of accentuation an such

[2021-05-19 10:38] deanmarcussen opened #9485 "TheBlogTheme is rendering jQuery twice since latest theme update"
`TheBlogTheme` is rendering jquery twice (just a cut and paste looks like)

The manifest lists
[code]

/cc @agriffard

[2021-05-19 11:21] #9485 closed

[2021-05-19 11:27] #9365 closed

[2021-05-19 12:40] deanmarcussen commented on #9474
Is this solely related with content created via recipes?

Was the content exported from a deployment step (import/export)?

i.e. does a deployment step correctly encode content?

[2021-05-19 12:43] XpandIT-RFID commented on #9474
Yeah only happens when I deploy via recipe, I can then go to the content type and change the text.

[2021-05-19 12:44] XpandIT-RFID commented on #9474
It may be because of the Collation of the SQL Database, I am trying to change it from AS to IS, I don't know if that will solve it though.

[2021-05-19 12:56] deanmarcussen commented on #9477
Support is better than it was last time I looked https://caniuse.com/es6-module

[2021-05-19 12:57] #9297 closed

[2021-05-19 13:05] jptissot commented on #9477
Cool, not really a dependency order issue but an issue with having a script tag in a vue template.

[2021-05-19 14:10] Skrypt opened #9489 "Recaptcha Login Filter not working"
https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.ReCaptcha/ReCaptchaLoginFilter.cs

This should be using AddAsync(shape).

[2021-05-19 15:07] marlon-tucker opened #9491 "Jint does not seem to handle Json.NET linq objects as one would expect. Affecting the workflow scripting activity."
### Describe the bug

The Orchard docs state both `queryStringAsJson` and `requestFormAsJson` should return the respective item as a JSON object. Looking at the code, each return a `JObject` type in the `GlobalMethod` delegate. However Jint does not appear to be correctly translating this object into a javasrcript object that can be worked with inside the scripting engine.

I attempted to inspect

[2021-05-19 15:57] webmedia1012 commented on #9478
@Skrypt  thank you so much I'll try this and report back!

[2021-05-19 16:08] #9489 closed

[2021-05-19 19:01] Skrypt commented on #9477
Well if everything is ran as defered then it naturally can execute inline scripts declared in the body of the page if all your scripts are declared at head.

[2021-05-19 20:27] lampersky commented on #9480
@Skrypt I've added support for those functions:
- JSON_VALUE,
- JSON_MODIFY.

I've tested them with:
- PostgreSQL 13.2,
- MySQL 8.0.23,
- SQL Server 12.0.2000.8 and SQL Server 15.0.4102.2,
- SQLite 3.33.0.

It would be good to add support for **ISJSON** too, but to be honest I'm not sure how to add **postgreSQL** equivalent without custom **plpgsql** function :-P

https://github.com/sebastienros/y

[2021-05-19 20:41] webmedia1012 commented on #9478
@Skrypt I found it! it's on document as suggested, now can I just go ahead and update it to include Preview? I believe that's the only thing I had to do , or are there dependent tables that I need to be aware off?

Thanks so much!

[2021-05-19 20:58] mroskamp opened #9493 "Placement is inconsistent between fields directly on a content type vs. fields on another content part"
### Describe the bug
Using placement to place fields is inconsistent depending on whether the field is on the default part for the content item, or on another part attached to the content type. I would expect the fields to all be placed consistently, regardless of whether they're on the default part or another part. Instead, the placement is either ignoring or hiding fields that are defined on a s

[2021-05-19 21:57] mroskamp opened #9494 "Runtime error when placing a ListPart"
### Describe the bug
If placement information is defined for the ListPart, a runtime error occurs when viewing it.

### To Reproduce
Steps to reproduce the behavior:
1. From the admin panel, go to Content -> Content Definitions -> Content Types
2. Create a new "GroceryItem" content type with a TitlePart
3. Create a new "ShoppingList" content type with a ListPart
4. Edit the ListPart on the "Shoppi

[2021-05-20 02:58] Skrypt commented on #9480
All good. Thank you, will review it.

[2021-05-20 02:59] Skrypt commented on #9478
Should work by updating the database record and restarting the tenant.

[2021-05-20 08:51] luis3199correia opened #9499 "Orchard setup in an AKS pod"
When I'm doing the setup in an AKS pod, I'm getting a 503 bad gateway(nginx), and I think this is a problem in my pod. So, I need to know the needed settings to my pod to not to get this error again.
AKS v1.18.14
nginx v1.19.6

[2021-05-20 11:29] Skrypt commented on #9499
Not an Orchard Core bug. It's an AKS specific issue. Don't open duplicates please.

Duplicate of https://github.com/OrchardCMS/OrchardCore/discussions/9484

[2021-05-20 11:56] #9035 closed

[2021-05-20 12:11] luis3199correia commented on #9499
I agree, and I apologize for the duplicate ticket. But this is a critical issue, and I need to know, on Orchard’s side, what settings the pod must have in order for there to be no such issues. I looked in the documentation and didn't find any information about deploying Orchard in AKS pod.

[2021-05-20 13:08] Skrypt commented on #9499
Your AKS pod is like a Docker Swarm distribution which will require to contain at least one instance of each services required to run Orchard Core. So namely, a Database provider like SQL Server, MySQL, PostgreSQL and an Orchard Core website. You could also use SQLite which would remove the need of a container for your database provider.

That said, the Orchard Core container will need to expose i

[2021-05-20 14:19] jptissot commented on #9477
It executes them but vue gives a bunch of console errors about a script tag being in the main part of the screen.

[2021-05-20 14:26] #9499 closed

[2021-05-20 15:23] jptissot commented on #9499
We have an open source helm chart that hosts OC with a Postgresql db as well here: https://github.com/StatCan/charts/tree/master/stable/orchard-cms

[2021-05-20 16:56] xperiandri commented on #9473
@sebastienros that all looks quite strange... In terms of usability

[2021-05-20 17:03] sebastienros commented on #9473
@xperiandri 🤷‍♂️
Please file an issue here: https://github.com/Shopify/liquid

The idea is that if we don't standardize on the language, then we can't point to common documentation and samples, or be able to use different implementations. For instance when users try to switch from an engine to Fluid.

[2021-05-20 17:17] xperiandri commented on #9473
Reasonable, thanks

[2021-05-20 18:04] webmedia1012 commented on #9478
@Skrypt  Thank you very much, I'm closing this.. also if anyone run into this, the trick is that the ContentDefinition on that table is huge! and will be truncated if you use a regular query, converting to XML (cast as xml) works great ! just a tip for anyone that might run into this.

[2021-05-20 18:18] #6828 closed

[2021-05-20 18:28] Piedone commented on #5610
Demo video: https://www.youtube.com/watch?v=g_V7ny3LxY0

[2021-05-20 19:13] sfmskywalker commented on #9491
Yeah makes sense. Or perhaps even simpler (for the user) is to just register a function called e.g. `queryString(name: string): string | string[]`  that returns the query string value by name. If there are multiple values, perhaps return them as an array of strings.

In Elsa I do something similar:

[code]

[2021-05-20 19:14] #9103 closed

[2021-05-20 20:07] Skrypt commented on #9491
@sfmskywalker Have you thought about when a form is sent with a Content-Type header like "application/x-www-form-urlencoded" ?

[2021-05-20 21:53] marlon-tucker commented on #9491
Personally I believe Jint needs some ability to have custom type formatting which can translate objects to the "native" types that the Jint engine understands.

Json.Net is a extremely widespread library, and the above mistake in code is going to be a common occurrence.

I understand under the hood Jint relies on reflection, which covers most Clr instances reasonably well. However when that Clr in

[2021-05-20 21:56] sebastienros commented on #9491
@marlon-tucker pretty sure it does already.

[2021-05-20 22:13] jptissot commented on #9491
Maybe we should add this method in the OC codebase:
https://github.com/StatCan/StatCan.OrchardCore/blob/master/src/Modules/StatCan.OrchardCore.Scripting/FormsGlobalMethodsProvider.cs#L44

[2021-05-20 22:18] Skrypt commented on #9491
Here is the issue I get when using application/json with the reCaptcha :

![MicrosoftTeams-image](https://user-images.githubusercontent.com/3228637/119055846-b4d52580-b997-11eb-9843-797c418c42a3.png)

[2021-05-20 22:44] Skrypt opened #9508 "Workflow : Recaptcha with application/json header Content-Type fails."
Here is the issue I get when using application/json with the reCaptcha :

![MicrosoftTeams-image](https://user-images.githubusercontent.com/3228637/119055846-b4d52580-b997-11eb-9843-797c418c42a3.png)

So basically I'm trying to validate the recaptcha with it's data-callback method to get it's validation token. Send it to the Workflow as g-recaptcha-response form value so that it passes. As soon as

[2021-05-20 23:40] #8470 closed

[2021-05-21 02:25] jptissot opened #9510 "Ability to add dynamic key to `HttpContext.Items` using Liquid"
We currently have the https://docs.orchardcore.net/en/dev/docs/reference/modules/Liquid/#httpcontext_add_items tag.

This however does not support adding a key coming from a variable. Maybe we should add another filter or tag that supports adding items to the `HttpContext` collection with the key coming from a variable.

[2021-05-21 04:58] jptissot commented on #9333
What if a template that I am referencing via a content picker renders something in the same zone I am rendering? Would it be possible to insert the value at the end of the zone ?

[2021-05-21 05:21] Skrypt commented on #9508
Ok found the issue by myself. When using reCaptcha the form POST must have a header Content-Type set to "application/x-www-form-urlencoded". Then my issue was about how I was building my form in Angular.

[2021-05-21 05:51] Skrypt commented on #9491
@marlon-tucker how do you post your form? Is it an Angular application or a standard form post from HTML?

I couldn't find how to bind the form data from the FORM POST in Angular because I basically was not settings the form post HttpParams in Angular.

Content-Type = application/x-www-form-urlencoded
Set property task = requestFormAsJson()

[code]

Content-Type = application/json
Set property tas

[2021-05-21 07:23] zl2fxy opened #9511 "workflow jsfunction has a error in running"
### Describe the bug

I would expect to see the value of the field in the notification but I'm currently seeing the following string:
System.Func\u00603[Jint.Native.JsValue,Jint.Native.JsValue[],Jint.Native.JsValue]

I use the workflow module to find this problem about .Value,So I had to create a new task using liquid to set a Property,but i think it is bad. I use the latest version of OC
 ##5208

[2021-05-21 07:30] zl2fxy commented on #9511
for Example：
![image](https://user-images.githubusercontent.com/19570956/119098955-feca1400-ba48-11eb-865a-7349226b2389.png)
task:
![image](https://user-images.githubusercontent.com/19570956/119099258-50729e80-ba49-11eb-8a06-ef1297284857.png)

[2021-05-21 07:44] #9199 closed

[2021-05-21 08:06] deanmarcussen commented on #9333
technically possible @jptissot but weird, because zones (all shapes) support both being in the zone, and the position in the zone, so realizing the collection first, then adding an extra to it, would leave it unsorted and weird.

The solution here, is probably to use placement to locate it. Because placement is applied before rendering, getting around the issue entirely.

Or as suggested above use

[2021-05-21 08:33] deanmarcussen opened #9512 "Documents are still persisted after an unhandled exception is thrown"
### Describe the bug

### To Reproduce
Steps to reproduce the behavior:

- enlist an entity for save with `_session.Save(entity)`
- throw an unhandled exception
- entity is still commited by the `RegisterBeforeDispose` in the shell scope

### Expected behavior

We've resolved this ourselves with some exception handling middleware, which specifically calls `await _session.CancelAsync()`

Should we

[2021-05-21 08:48] marlon-tucker commented on #9491
@Skrypt We're just using a normal html form. We have been able to retrieve single form values by using the `requestForm('fieldName')` function in the workflow but the `requestFormAsJson()` method does not work at the moment.

However, I think the name of that method is misleading you slightly. It does not mean it will try to parse the form from an `application/json` content type. It just means it

[2021-05-21 11:05] sfmskywalker commented on #9491
I agree- ideally, the activity looks at the content type header and constructs an appropriate Content model.
In fact, that's what I do here:  https://github.com/elsa-workflows/elsa-core/blob/master/src/activities/Elsa.Activities.Http/Middleware/HttpEndpointMiddleware.cs#L76

Notice that `contentParser` that was select here: https://github.com/elsa-workflows/elsa-core/blob/master/src/activities/Els

[2021-05-21 11:20] jtkech commented on #9512
Normally if an exception is thrown, `BeforeDisposeAsync()` is not called, unless the exception is catched before.

But the shell scope (used in an using block) will be disposed, its service provider will be disposed, so `ISession` will be disposed and then commit the transaction

If so, what we can do is to catch any exception in the shell scope using block, and in the catch block call delegates w

[2021-05-21 12:16] jptissot commented on #9508
@Skrypt there are valid use cases for sending json (I think). Maybe the recaptcha could be sent in a header like we can do for the requestVerificationToken ?

[2021-05-21 13:24] deanmarcussen commented on #9512
Ok, just checked and the issue for us maybe related to some `ProblemDetail` middleware not rethrowing exception, i.e. converting an `Exception` into a `ProblemsDto` instead.

See what you need for https://github.com/OrchardCMS/OrchardCore/pull/9509 and it maybe that we can also register a handler / or exception from the `ProblemDetail` middleware, rather than having to cancel the session ourselves

[2021-05-21 14:30] lampersky opened #9515 "can't inject UserManager<IUser> into IUserEventHandler"
I've created simple **user event handler** inside my module, and I'm able to inject any of my custom classes, but the problem is with injecting **UserManager<IUser>**. App won't start. There is a kind of infinite loop. Is there any known limitation? Or is it a bug?

You can repro this using latest DEV OC (OrchardCore.Cms.Web + OrchardCore.Mvc.HelloWorld).

https://user-images.githubusercontent.com

[2021-05-21 14:52] deanmarcussen commented on #9515
You're just going to end up in an infite loop trying to do that.

Because the user manager depends on the user store, which depends on the handlers. so circular references.

try this
[code]

[2021-05-21 15:04] lampersky commented on #9515
Thank you @deanmarcussen.
So it is a known limitation.

[2021-05-21 15:04] #9515 closed

[2021-05-21 17:13] jptissot commented on #3475
Docs here: https://docs.orchardcore.net/en/dev/docs/reference/modules/Queries/#scripting

[2021-05-21 17:13] #3475 closed

[2021-05-21 17:16] jptissot commented on #9508
For reference: https://github.com/StatCan/StatCan.OrchardCore/blob/master/src/Modules/StatCan.OrchardCore.VueForms/Assets/vue-forms.js#L84

[2021-05-21 17:38] sebastienros opened #9516 "Pre-Setup check"
- Validate that the selected database + prefix doesn't already have a Documents table
- Validate that the App_Data folder doesn't already exists for the specified tenant name

This should prevent most issues related to failed setups.

[2021-05-21 18:55] Skrypt commented on #9508
The AntiforgeryToken is passed as a form input then. Not the request header.

[2021-05-21 21:10] jtkech commented on #9512
So, i tried my suggested change, it doesn't totally fix the issue because the aspnetcore exception middleware catches the exception before the shell scope can do it. So i needed to support this case, and to keep the suggested change in case there is no pilpeline as for a bg task.

[2021-05-21 22:01] #9508 closed

[2021-05-21 22:02] #9363 closed

[2021-05-21 22:02] #9413 closed

[2021-05-22 04:28] Skrypt opened #9519 "Workflow ReCaptcha : reportError not working"
When the ReCaptcha is not valid this method is reached but it never gets added to the Workflow FaultMessage.

`reportError("ReCaptcha", S["Failed to validate captcha"]);`

[2021-05-22 07:16] MRSheikh opened #9520 "admin menu on local intranet wait for fonts.googleapis.com ..."
I run Orchardcore on my local intranet and when I change some setting in the admin menu, it's waiting for `looking up for fonts.googleapis.com`
I disabled UseCDN :
` public void ConfigureServices(IServiceCollection services)
        {
            services.AddOrchardCms().AddMvc().ConfigureServices(tenantServices => {
                tenantServices.PostConfigure<ResourceManagementOptions>(o => o.Us

[2021-05-22 13:46] MikeKry opened #9521 "Improvement idea: Culture picker"
I was thinking about improving culture picker, based on some user experience.

There are two things that I think would be nice to have:
1) When creating item, allow user to pick other than default culture:
![image](https://user-images.githubusercontent.com/52829889/119228694-84ff5c80-bb14-11eb-9608-b87a4e94683f.png)
This should not be hard, it could be only some View change, as it already works, w

[2021-05-22 15:50] Skrypt commented on #9520
This would require that we download all the fonts and serve them from the themes themselves instead of using the Google font API url.

[2021-05-22 22:14] jtkech commented on #8619
Yes, a separate module with no deps and that `OC.Contents` would depend on, or `ShapeAttributes` in `OC.DisplayManagement`, and maybe also for the `CardContainer.cshtml` and `Card.cshtml` and all future ones.

Hmm, maybe better to use a module, if easier to add future views.

[2021-05-23 08:46] deanmarcussen commented on #8619
I think maybe I will move them to `ShapeAttributes`

Because `DisplayManagement` would technically fail without them.

Originally I only did them as views, as easier to see what the code is, to override them. But really they are all very simple shapes, mostly built with `TagBuilder` anyway, so still easy as a `ShapeAttribute`

I will do a pr soon

[2021-05-24 13:14] jersiovic opened #9533 "User.Identity.Name is null despite using valid OpenId bearer token with claim for name"
### Describe the bug
Using a bearer token provided by openid module which contains a claim with the user name, when User.Identity.Name is accessed its value is null despite a claim for name is present at User.Claims.
It seems that current configuration Is not mapping properly claims to User.Identity model.

### To Reproduce
Steps to reproduce the behavior:
1. Check out last bits o Orchard dev bran

[2021-05-24 13:17] jersiovic commented on #9533
@kevinchalet may be the answer you gave here is related with this problem https://github.com/openiddict/openiddict-core/issues/1227 However I've not been able to do sth with that answer at Orchard source