[2020-11-02 13:53] jptissot commented on #7452
@sebastienros you can see a failing test here: https://github.com/OrchardCMS/OrchardCore/commit/4d1a223fdf675e3efe99da8014c419ffbcf5de15

[2020-11-02 14:36] deanmarcussen opened #7486 "Javascript error when admin dark mode disabled"
Just a console error when the enable dark mode setting is disabled.

<img width="1554" alt="Screenshot 2020-11-02 at 14 35 17" src="https://user-images.githubusercontent.com/13782679/97880171-bc452200-1d18-11eb-93fa-1225e2e33de1.png">

Goes away when enabled.

[2020-11-02 14:52] Newmski commented on #6474
With the upcoming release of .NET 5, which offers lots of improvements for Blazor, I am looking to create a fully functional multitenant Blazor WASM application.

Are there any plans to move this issue (or #[6505](https://github.com/OrchardCMS/OrchardCore/issues/6505#issue-645073122)) forward?

[2020-11-02 14:53] jptissot commented on #7486
I was just going to report this 😁

Cypress tests would have failed, just sayin ;) We should merge those soon

[2020-11-02 14:53] jptissot commented on #7486
/cc @Skrypt

[2020-11-02 15:07] jptissot commented on #6474
I think some folks have started experimenting with blazor here: https://github.com/BlazingOrchard

[2020-11-02 15:43] deanmarcussen commented on #6221
Can we revive this for some design?

It's the biggest blocker for us in using database liquid templates, as without some version control, it's too risky.

Design options
- Should this just be part of audit trail - it has the extension points, and diff functionality.
- Alternative is to create a version database document for each template, which can contain it's versions. (perhaps limited to the qu

[2020-11-02 16:13] sebastienros commented on #6221
We don't need audit trail for that, but at the same time audit trail might need to store the changes in any case. So then why not integrate with it, and then add the UI from the templates to be able to restore previous versions. Just have to think about permission access. And audit trail would provide automatic pruning I assume, and maybe diffs.

Or to accelerate the development, it can also be do

[2020-11-02 17:06] mariojsnunes opened #7487 "Possible regression: RoleManager CreateAsync"
Hello,

I have some tests working on 1.0.0-rc2-14774 that no longer work on 1.0.0-rc2-15222.

Consider the following code which creates a role and adds the current user to it:
[code]

This is failing with the error:

This error happens when we run the tests on **sqlite**. But it's working fine on the web environment using SqlServer.

Might this have something to do with #5249 ?

[2020-11-02 17:17] Piedone commented on #6221
I'd definitely handle this with Audit Trail. However, Templates being stored in a single document will become an issue in any case, both the document growing continuously and both having to implement custom Audit Trail events as opposed to just relying on content events for example. This bothered me before too but probably it's a separate discussion.

That being said, I think with Templates this c

[2020-11-02 17:19] Skrypt commented on #7486
Me bad programmer 🙈

[2020-11-02 17:56] willnationsdev commented on #7455
@Skrypt @Piedone I convinced my boss to go with the data migration approach, so I think we're good. I'll comment here with the results whenever we get it implemented (probably in 1-3 weeks, depending on the sprint) to let you know if the approach worked well for us. Thanks so much for all your feedback and suggestions!

[2020-11-02 18:14] sebastienros commented on #6221
Agreed it's better to have single documents, maybe a custom table (for anything that handles versions, low access, and custom index, maybe even a custom feature to reuse these services), but it won't rely on content events since it's not a content item. But it doesn't mean there shouldn't be custom event for the audit trail feature to work with it.

[2020-11-02 18:19] Skrypt commented on #6221
I've seen also the usage of Git directly in a CMS to handle Version Control of templates. Somehow you have the choice to create templates from the Admin UI but also from the file system. Having them in the database allows to have a single source of truth for all tenants in a distributed system but having them stored in a common private Git repository could also work.

[2020-11-02 18:38] deanmarcussen commented on #6221
For me, it's looking for something simple, that is a respectable enough pattern, that has way less features than audit trail might, but would allow audit trail to replace it.

Audit trail is heavier, both in feature set, and general feel.

Whereas for the basic site, there is just a need to be able to click a button, see a list of the previous versions (from before the customer broke the template)

[2020-11-02 18:39] deanmarcussen commented on #6221
p.s. we need to unblock the yessql pr so we can start looking at custom tables ;)

[2020-11-02 19:17] MikeKry opened #7490 "Invalid route error - can't remove/edit"
When:
Invalid route is filled in AutoRoutePart

Then:
OrchardCore CMS fails to render Content items list with error

![image](https://user-images.githubusercontent.com/52829889/97909086-f0840700-1d47-11eb-99b4-2d45c00c86d7.png)

Also:
It is not possible to remove invalid item, only if user remembers edit link of that content item

full exception:

<details>
  <summary>Click to expand!</summary>

R

[2020-11-02 19:38] deanmarcussen commented on #7490
Which version of Orchard Core @MikeKry ?

I fixed this here https://github.com/OrchardCMS/OrchardCore/pull/6065/files

So would be disappointed if it has returned :(

[2020-11-02 19:51] #7486 closed

[2020-11-02 19:57] xkuzel06 commented on #7490
@deanmarcussen
1.0.0-rc2-14859
Not sure how to get nuget version from pull request, but considering date of merge, I guess your fix should be included in it.

[2020-11-02 20:00] xkuzel06 commented on #7490
Anyway, this happened to me multiple times in past, e.g. with activation of some feature etc..  Maybe there could be some maintenance mode in which last changes could be reverted.

Or maybe it would be possible to implement some check if next request will not cause exception and save only if its ok.

[2020-11-02 20:03] MikeKry commented on #7490
@deanmarcussen
1.0.0-rc2-14859
Not sure how to get nuget version from pull request, but considering date of merge, I guess your fix should be included in it.

Anyway, this happened to me multiple times in past, e.g. with activation of some feature etc.. Maybe there could be some maintenance mode in which last changes could be reverted.

Or maybe it would be possible to implement some check if next

[2020-11-02 21:04] jtkech commented on #7487
Yes, the shared roles list (read only) is only updated if the session is committed successfully, so only at the end of the curent scope. For some reasons, for roles it was not the case before, but now roles also use this pattern, e.g. here it prevents from adding to the user a role that may not be persisted if the session fails

So here the roles list is not yet updated, you would need to update t

[2020-11-02 22:54] chaaboah opened #7492 "Status 403 Forbidden on Admin - Manage Content if no Creatable content type"
Hello,

The issue happens when I'm logged as Admin and there is no 'Creatable' content type defintion.
In that case the Admin receives a 403 forbidden instead of listing the existing content types.
I did some investigation and this was introduced after this PR https://github.com/OrchardCMS/OrchardCore/pull/7104
To solve this i think the method

[code]

should fall back to AuthorizeAsync instead of

[2020-11-02 23:35] Skrypt commented on #7492
I will test it.

[2020-11-02 23:41] Skrypt commented on #7492
Ok make a PR I agree with the proposed changes.

[2020-11-03 00:58] rsatter opened #7494 "dotnet new ocmodulecms has errors"
I was following the documentation (https://docs.orchardcore.net/en/dev/docs/getting-started/templates/) and ran the command using v1.0.0-rc2-15293
dotnet new ocmodulecms -n ModuleSiteCreator.OrchardCore --AddPart true --PartName SiteCreator

The project was created without any of the nugget packages. I add the OrchardCore.Module.Targets which fixed the missing NuGet packages.

The template had 2 e

[2020-11-03 02:50] chaaboah commented on #7492
Thx for the PR :)

[2020-11-03 03:05] jtkech commented on #7494
@rsatter good catch, thanks

[2020-11-03 03:13] #7492 closed

[2020-11-03 04:24] #7494 closed

[2020-11-03 06:46] hishamco commented on #7487
Is this mean that Roles page broken as well?!! @mariojsnunes is it working on the latest bits?

[2020-11-03 09:52] jagbarcelo opened #7497 "Wrong html entities in <title> tag after PR 7463"
We have spotted an issue with [PR 7463](https://github.com/OrchardCMS/OrchardCore/pull/7463).

Before this change, our <title> tags with special characters were rendered just fine (plain raw text). Now we have them shown as hex html entities but the **&** character is being escaped, so they are not rendered properly:

![image](https://user-images.githubusercontent.com/6704109/97969705-b99e0780-1dc

[2020-11-03 10:13] hishamco commented on #7497
Encoding issue, I will fix this

[2020-11-03 10:50] mariojsnunes commented on #7487
Thanks @jtkech that worked!
@hishamco yes I am working on the latest version. I didn't find any issue with the Roles page.
The issue was doing these actions programmatically, and one right after the other.

[2020-11-03 10:50] #7487 closed

[2020-11-03 11:06] giannik commented on #7449
Found out the culprit with the MARS issue. It was a non awaited call in one of my modules, as you said.
Closing the issue, eventually will figure out the type part settings and will report my findings.
Thank you @jtkech

[2020-11-03 14:50] jeffolmstead commented on #7451
As commented on Gitter, my breaking example is:

[code]

Thanks for tackling this.

[2020-11-03 16:57] davidhayden opened #7501 "Should Search be a separate feature?"
When I enable Lucene it unexpectedly assumes I am planning to offer search functionality on the website, which may never be the case. It registers a "/search" route, adds some search specific admin menu options, and displays the following message when I navigate to the "/search" route:

"Search is not configured."

In O1 the **Search** and **Admin Content Search** features are separate from Lucene

[2020-11-03 18:14] jptissot commented on #7501
I agree. Let's make it a separate feature.

[2020-11-03 18:27] sebastienros commented on #7451
how is Jeff's bug related to full text? I assumed the recursion limit was only applied to full text generation which is recursive. Unless it has also been implemented to shape display, in which case the key should take the display type into account. But I assume a counter works too, as long as it's a setting.

[2020-11-03 18:42] deanmarcussen commented on #7451
It slipped in because I tested the other content filters at the same time, and discovered the issue with the `build_display` filter.

I used a counter rather than a display type, as there's been times (in Razor) I've built the display type twice, and then mutated the shapes to display differently (breadcrumbs, tiles, and list items).

So I set it at 20 - which feels really high, but this was about

[2020-11-03 19:18] jagbarcelo commented on #7501
The route should also be configurable so that multilanguage sites could customise it. Instead of a fixed `/search` page, maybe (depending on the configurations of each site) it would rather make sense to have `/en/search`, `/fr/chercher` and `/es/buscar`

[2020-11-03 19:27] Skrypt commented on #7501
I agree on the proposition. I believe the search form was added even before we added the culture options on the Lucene indexes. I suggest we create an entire module for Lucene so that it can be extended easily by anyone using abstractions.

[2020-11-03 19:28] sebastienros commented on #7497
How is your title rendered since you mention that it's fine in the Blog Theme with `<title>{{ "PageTitle" | shape_new | shape_stringify }}</title>`

[2020-11-03 19:31] jtkech commented on #7497
See my last comment in #7498

[2020-11-03 19:32] jagbarcelo commented on #7497
I meant that TheBlogTheme is correct in using `<title>{{ "PageTitle" | shape_new | shape_stringify }}</title>`, not that the output of that was correct (which was not).

[2020-11-03 19:35] sebastienros commented on #7497
@jagbarcelo thanks for the confirmation. Checking @jtkech 's answer now.

[2020-11-03 20:05] xkuzel06 commented on #7490
@deanmarcussen

Adding some more examples:
* "localhost:8000/" + "/"  -  ok
* "localhost:8000/" + "something//other  -  error

so problem is only in path after base path (localhost:8000/"

[2020-11-03 20:07] MikeKry commented on #7490
@deanmarcussen

Adding some more examples:

"localhost:8000/" + "/" - ok
"localhost:8000/" + "something//other - error
so problem is only in path after base path (localhost:8000/"

[2020-11-03 20:10] MichaelPetrinolis commented on #7377
@sebastienros @deanmarcussen I made some changes in the PR trying to have a common validation logic in one place for AliasPart and AutoroutePart. Pls tell me if you prefer to leave the code as it was before.

[2020-11-03 20:24] deanmarcussen commented on #7490
@MikeKry I can't repro the issue on the latest dev.

Errors in the path are correctly validated.

![Screenshot 2020-11-03 at 20 19 04](https://user-images.githubusercontent.com/13782679/98036389-de6e9b00-1e11-11eb-9a0a-a78ef36513f3.png)

If you can update to the latest and still repro please re open

[2020-11-03 22:19] f1software opened #7504 "Adding a New Custom Authentication Scheme for Admin?"
I can add a new authentication scheme and apply it to a particular api action as  below but this does not work when for a route like www.example.com/tenant1/admin.  In this case the original CookieAuthenticaionHandler runs first and terminates the pipeline with a 302 redirect to Login.

Is it possible to replace the existing auth scheme without adding an [Authorize] attribute to every Orchard cont

[2020-11-04 11:12] MikeKry commented on #7490
It is still broken on new version, but there are two different use cases

* manual edit as in your screenshot is validated OK
* auto generate with "refresh the path" is not validated
e.g.
![image](https://user-images.githubusercontent.com/52829889/98104520-d3aa1980-1e96-11eb-9d19-481f6541e952.png)
![image](https://user-images.githubusercontent.com/52829889/98104545-da389100-1e96-11eb-9a20-02f1c545

[2020-11-04 11:13] MikeKry commented on #7490
@deanmarcussen

Also, i can not reopen this issue.

[2020-11-04 12:13] deanmarcussen commented on #7490
Ok, so we might need to validate the output of the liquid pattern.

No options here for returning an invalid path to the user, as it is calculated in the handler.

We could
- Validate output of the liquid (can't validate the liquid pattern itself, as the `Model.DisplayText` may contain invalid characters), and strip (with log) invalid characters from the output.
- Validate at autoroute entry level

[2020-11-04 15:37] nuno-tiago-reis opened #7508 "Custom Recipe Parameters"
Hello, I was reading the pull request #4922 and I have a question. I'm trying to use this feature to change the value of my OpenId Connection authority according to the environment I'm on. Does this allow me to retrieve configurations from the main appsettings.json file or only the one that is generated by Orchard and is placed in the App_Data folder?

Another question is that whenever I use the c

[2020-11-04 16:26] deanmarcussen commented on #7449
@jtkech reopening this as am getting similar MARS related issues.

Here's a repro
- sql server (local)
- blog recipe
- export content definitions
- disable file content definition store
- import content definitions
- enable module with multiple migrations

MARS error.
When migration is tweaked a bit can turn into an open data reader exception (so it is like we had last time with missing awaits.

H

[2020-11-04 16:29] deanmarcussen commented on #7508
it works for all the `appsettings.json` files.

But it only works for single key, i.e. `"authority": "[js: configuration('Host')]"

It would be a nice pr to improve it to allow access to section keys.

[2020-11-04 16:32] PiemP commented on #7284
Yes, my needs start from this necessity. My boss ask me to hide default **Media library** link and create a new ones in the first level of the admin menu. I want try to maintain the permission applied to the original **Media library** link and when I try to do this from recipe I have received the error above.

the `Permission` Name field is unique or not? Could be used as an identifier?

Thank you

[2020-11-04 16:52] Nic-84 commented on #7333
Thank you Dean and Sebastien for your input, I really appreciate it! I am going to abandon the idea/concept that I had above, as it clearly causes issues. I am still very new to working with Orchard and working with Razor pages, so I am still investigating ways to make ideas work. I am going to try Dean's suggestion of specifying the nested page structure using the alias, or maybe a combination of

[2020-11-04 17:03] Skrypt commented on #7284
Ok I will take a look at this today as it seems logical to have this working from recipes and admin UI.

[2020-11-04 17:05] nuno-tiago-reis commented on #7508
Okay but then the error itself is strange, shouldn't it say that there is not matching key?

[2020-11-04 17:06] PiemP commented on #7284
@Skrypt I have created a branch to do this from admin UI and recipe...but I'm not sure to do the right things...

[2020-11-04 17:07] Skrypt commented on #7284
Link?

[2020-11-04 17:11] PiemP commented on #7284
WIP don't be too rough with me 😅 https://github.com/PiemP/OrchardCore/tree/adminmenu_link_permission

[2020-11-04 17:41] Skrypt commented on #7284
Can you create a Pull Request?

[2020-11-04 17:43] PiemP commented on #7284
OK, give me some other time to fix the code

[2020-11-04 17:43] Skrypt commented on #7284
Nevermind I will do it.

[2020-11-04 17:51] jptissot opened #7510 "Idea: Allow shortcodes in SiteTitle"
This would allow us to have Multilingual titles in this single field by using the `[locale]` shortcode.

[2020-11-04 17:52] jptissot commented on #7449
I ran into this as well this morning.

Repro steps:

- Create a module with a migration that adds a role via a recipe migration and content types via the `ContentDefinitionManager`.
- If the recipe is executed before the `ContentDefinitionManager`, the exception is shown. If the recipe is executed after, no exception occur.

This also happens with feature dependencies.
- Feature 1 creates a migrat

[2020-11-04 18:04] Skrypt commented on #7284
You can now fix it on top of https://github.com/OrchardCMS/OrchardCore/tree/skrypt/admin-menu-permissions

[2020-11-04 18:07] Skrypt commented on #7284
Looks good to me. Maybe some renaming.

[2020-11-04 18:11] PiemP commented on #7284
mmm I have made some mistake...how can I commit some changes to the pull request?

[2020-11-04 18:27] Skrypt commented on #7284
You can checked this branch on your fork then create a PR with it.
I will close this one afterward.

[2020-11-04 18:41] PiemP commented on #7284
I hope to have do all well with this PR over a PR 😅

[2020-11-04 18:43] Skrypt commented on #7284
Well it's a branch so I can close my PR and work on yours so that your get attributed your contributions.

[2020-11-04 18:53] infofromca opened #7513 "cache of DefaultShapeTableManager"
in the DefaultShapeTableManager .cs , should we replace IMemoryCache with IDistributedCache?

[2020-11-04 19:02] #7510 closed

[2020-11-04 20:24] agriffard commented on #6136
Fixed by #7470

[2020-11-04 20:24] #6136 closed

[2020-11-04 21:16] Nic-84 commented on #7333
I wanted to give another update on this. I discovered a way to get around the trouble I was having. As long as I nest my images deeper than the depth that my page nesting goes, the images work fine. So if my page structure is set up to have three levels, like page-level-one/page-level-two/page-level-three, then I need to make sure my image director goes at least three levels deep, like media/img/r

[2020-11-04 22:05] scleaver opened #7514 "Slightly punchier crosshairs for crop center"
Can I offer up a slightly easier to see crosshairs for the crop center UI?

Original version (i'm slightly red green colour blind and can hardly see this - it is over the spaceman's helmet visor for those like me):
<img width="1238" alt="Screen Shot 2020-11-05 at 7 28 39 am" src="https://user-images.githubusercontent.com/2867511/98172459-2e964c00-1f3d-11eb-883f-90e73d46e0d5.png">

My suggestion -

[2020-11-04 22:14] jtkech commented on #7449
Yes, maybe different issues here but not so easy to repro, may be good to have a testing app to be able to repro each individual issue, and / or don't hesitate to ping me on skipe.

But "Good" new, I just could reproduce the `MultipleActiveResultSets` issue by adding a role through a migration recipe, maybe because roles are managed differently because of the related aspnetcore services, so at som

[2020-11-04 23:03] Skrypt commented on #7514
It's always a question of tastes. If you want this to be visible in all cases you need to use 2 different colors. A dark border/stroke around the icon would make this visible in all cases. I agree with using a black/white crosshair for making this with most images.

[2020-11-04 23:24] scleaver commented on #7514
ok - original crosshair but in white with added 1px black border size increased to 30px:
<img width="285" alt="Screen Shot 2020-11-05 at 9 23 32 am" src="https://user-images.githubusercontent.com/2867511/98178595-b897e200-1f48-11eb-8700-292464d9a38e.png">
<img width="222" alt="Screen Shot 2020-11-05 at 9 23 26 am" src="https://user-images.githubusercontent.com/2867511/98178600-ba61a580-1f48-11eb-8

[2020-11-05 00:07] scleaver commented on #7514
I'll handle this one in the next few days. So it sounds like the preference is to add a black border to the existing icon, increase size and change colour to white.

[2020-11-05 00:35] scleaver commented on #7501
Most sites I have worked on the site-wide search box is within the header and the results are on a specific page (clients have varying preferences for URL but really it doesn't matter).

Occasionally, a specific content type like news or blog will also have it's own content type specific search where it's important that the results are presented within the same page layout as the news or blog sect

[2020-11-05 01:32] scleaver opened #7515 "TitlePart hints without a pattern is sometimes misleading"
Came across some issues with TitlePart hints with certain settings may mislead content editors. The reason I cam across this cause I was testing a site and thought "I don't remember setting a pattern for the title generation" and then I went and checked the settings.

#### Test 1
**Option:** Title is editable and required
**Pattern:** EMPTY
**Hint:** `The title of the content item. It will be auto

[2020-11-05 01:37] jptissot commented on #7515
I agree with these suggestions.

[2020-11-05 01:43] Skrypt commented on #7501
I think we are defining a different Search scope here. The current search form is a simple global search form to use with a single indexed column in Lucene. Of course, this is a simple example and it is way too simple for most common use cases. I think, we should be able to disable it because this is a feature that should be designed differently, maybe in the form of a Lucene Search form builder,

[2020-11-05 01:58] #7451 closed

[2020-11-05 03:32] #7497 closed

[2020-11-05 05:33] jtkech commented on #7449
@jptissot @deanmarcussen

Just did a PR #7516, not sure at 100% so if you can give it a try to see if it fixes your issues

[2020-11-05 06:08] #5599 closed

[2020-11-05 07:14] giannik commented on #7449
Tried the pr with my case  , using in part type settings editor :
[code]
but did not resolve issue.

[2020-11-05 07:56] jtkech commented on #7449
@giannik

Yes, i think it is another use case as `NewAsync()` is getting definitions that you are updating, so let's @jptissot and @deanmarcussen try their use cases first, then tomorrow i will try to understand what happens in your case.

[2020-11-05 08:43] jagbarcelo commented on #7448
I found out that the root issue was our theme liquid summary template for Pages: **Content-Page.Summary.liquid**

Turns out, there was a variable there that was not checked against `nil` before being used, thus raising the NullReferenceException in a `strip_html` operation, and finally making the whole search-results page ending with an error.

Despite of the problem being on our theme implementat

[2020-11-05 09:10] chinasqzl opened #7518 "Background tasks, time zones should be converted"
![image](https://user-images.githubusercontent.com/16968103/98220126-d2f1b000-1f88-11eb-9251-6d5532a15986.png)
![image](https://user-images.githubusercontent.com/16968103/98220575-72af3e00-1f89-11eb-9a16-5d64e82f7b76.png)

China UTC Plus 8, 8 a.m ： 0 8 * * *
now ： 0 0 * * *

[2020-11-05 11:23] PiemP opened #7519 "Admin menu link - icon picker: background single icon dark"
If you try to add an icon to a admin menu link I see this page:
![admin_menu_icon](https://user-images.githubusercontent.com/2736009/98235063-9b234200-1f61-11eb-8563-3b72a76a1f2c.jpg)

[2020-11-05 11:39] deanmarcussen commented on #7519
Yes, I saw that issue yesterday as well.

Does it happen with the TextField icon picker as well? or is it just a regression on the admin menu icon picker?

[2020-11-05 11:41] PiemP commented on #7519
I check this

[2020-11-05 11:54] arunendapally opened #7520 ""{{something}} are not working" is replaced to "{something} are not working""
I have an issue when calling the below method, "{{" are getting replaced with "{" when I passed parameters
count = 2
singular = "{{something}} is not working"
plural = "{{something}} are not working"
localizer.Plural((int)count, this._message, this._pluralMessage).Value << this returns "{something} are not working" but i am expecting "{{something}} are not working" as I have a regex match and repl

[2020-11-05 12:01] PiemP commented on #7519
Seem happen only in the admin menu link interface:
![iconpicker_bg](https://user-images.githubusercontent.com/2736009/98238643-fefc3980-1f66-11eb-8877-568328a3535c.jpg)

[2020-11-05 12:14] PiemP commented on #7284
can I push other code modifications to the PR in the same way used yesterday? Thank you

[2020-11-05 13:52] deanmarcussen commented on #7102
Fixed by https://github.com/OrchardCMS/OrchardCore/pull/7119

[2020-11-05 13:52] #7102 closed

[2020-11-05 14:05] #5494 closed

[2020-11-05 14:46] netwavebe commented on #7520
It does a string.Format() to be able to write `localizer.Plural(count, "ball", "{0} balls", count)` here:

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore.Localization.Core/PortableObject/PortableObjectStringLocalizer.cs#L61

Your passing in double braces, used to prevent unwanting formatting so `String.Format("public {0} {1} {{ get; private set; }}"` becomes `public

[2020-11-05 15:18] sebastienros commented on #7520
You might need 4 braces to escape the two of them. But we need to investigate if this should be taken as a bug or by design. Maybe filing an issue in aspnet too, I'll follow up.

[2020-11-05 15:38] netwavebe commented on #7520
@sebastienros https://docs.microsoft.com/en-us/dotnet/standard/base-types/composite-formatting?redirectedfrom=MSDN#escaping-braces

[2020-11-05 17:02] deanmarcussen commented on #7514
Yeah I'm not attached to the current picker. Just went with the existing `$pink` color the media app uses, because I couldn't see the white on an image I was using.

Ideas sound good

[2020-11-05 17:44] #7375 closed

[2020-11-05 18:06] Nic-84 commented on #7333
Sorry, another update on this. So, I am stepping back on my wildcards in my page routing. The level three page with the "/{text1}/{text2}/{slug}" route is now messing up all of the CSS/JS file references as well. This blows apart the admin side and it doesn't work with this. So I am going to resort back to setting up a specific razor page file for each specific section of my site that has sub page

[2020-11-05 18:07] deanmarcussen commented on #7449
@jtkech tried with my scenario.

Without your branch fails.
With your branch works :)

[2020-11-05 18:07] #7437 closed

[2020-11-05 18:11] MrCull opened #7524 "The README file in this repo has a bad link - [404:NotFound]"
The markup version of the readme that is displayed for the main page in this repo contains the following link:
Status code [404:NotFound] - Link: https://github.com/OrchardCMS/OrchardCore/blob/dev/LICENSE.txt
(The link in the readme’s raw markdown may appear in a different format to the link above)
This is the link under the licence image near the top of this repo’s readme file.

This bad link was

[2020-11-05 18:13] sebastienros commented on #7418
This has to be a breaking change since templates will need to be updated. But that's an easy thing to document.

[2020-11-05 18:16] sebastienros commented on #7450
Fine to keep javascript as long as it's bound to the same permissions (admin?) as creating/altering templates.
If we can't prevent, or if it's better to let it accessible to users, then change it to a json document.

[2020-11-05 18:39] sebastienros commented on #7298
IF we really want to be able to use po files for dynamic localization, until we have an editor, then we need to introduce the new ILocalizer service type. Something like `D[dynamicString]`

[2020-11-05 18:40] #7455 closed

[2020-11-05 18:47] sebastienros commented on #6221
Single document per version, with Published/Latest just like content items. In a separate collection. Still a single query to load and cache all the templates.

[2020-11-05 18:47] MRSheikh opened #7525 "Uncaught TypeError: jQuery(...).kendoComboBox is not a function"
hi.
i wrote a module and add `kendo.all.js`  and other Kendo Ui  bundles to my project within implementing IResourceManifestProvider:

[code]

and in to my Index view i use <script> tag helper and call kendo combobox but javascript error occured on my page:

[code]

[2020-11-05 19:41] jptissot commented on #7525
Use DependsOn for your scripts ?

[2020-11-05 20:02] craftyweb opened #7526 "Is placement possible in the User editor?"
Hi,

I made a CustomerModel to attach to the User entity. I was wondering if it is possible to place the editor of this model in separated tabs like you can do with fields and parts in placement.

Now it’s just showing below the default fields of the User.

![AC3F8EB6-1514-4415-AB6C-B6EED8FEC52D](https://user-images.githubusercontent.com/61787638/98290439-f7aa4f80-1fa9-11eb-94c8-6da33e7708b0.jpeg)

[2020-11-05 21:17] hishamco commented on #7524
Fixed in https://github.com/OrchardCMS/OrchardCore/commit/ab224a2453d8284dcbc715c9c2fa2d192c8f78a0

Thanks for reporting this

[2020-11-05 21:17] #7524 closed

[2020-11-05 21:59] jtkech commented on #7449
@deanmarcussen good to know!

@jptissot can you try it to confirm when you will have time

@giannik i tried the same kind of loop using `UpdateEditorAsync()` in our `FlowPartSettingsDisplayDriver`, with sql server and type definitions in the database, i can't repro, it works even without my change in the related PR

So it seems that something else happens, maybe in a custom handler, I could help i

[2020-11-06 06:44] giannik commented on #7449
thanks @jtkech Ill try to make a testing app in the weekend and send it here.

[2020-11-06 07:11] jtkech commented on #7449
@giannik cool, thanks

@jptissot can you try #7516 if you have time, it works for @deanmarcussen, would be good to confirm it also fixes your issue ;)

[2020-11-06 07:26] jagbarcelo opened #7529 "Block search indexing with 'noindex'"
I've just titled this issue the same as [this ](https://support.google.com/webmasters/answer/93710?hl=en) Google's page.

Some pages in our site (and I suppose any other site too) should be prevented from being included in search engine indexes.
For instance, the [thank-you page](https://docs.orchardcore.net/en/dev/docs/reference/modules/Forms/#adding-a-thank-you-page) after the form submission (i

[2020-11-06 07:35] 4kvikram opened #7530 "Support for .Net Core 5?"
Hi All,

We have a project in pipeline and during evaluation, we tried to run OrchardCore with .Net Core 5 and we faced issues.

Question:

Is there a planned update for OrchardCore in near future to support Net Core 5?

[2020-11-06 08:06] jptissot commented on #7530
See https://github.com/OrchardCMS/OrchardCore/pull/6999

[2020-11-06 09:14] cqkisyouq opened #7531 "Don't force IMediaCreatingEventHandler implementations to copy the input stream"
successful:
[code]
error->Cannot access a disposed object.Object name: 'ReferenceReadStream'.
[code]
I just want to deal with path, but now I have to copy stream once.

[2020-11-06 09:40] deanmarcussen commented on #7531
Yes, it was designed to allow the image to be modified, i.e. into a new image.

So it requires a new stream on output, to ensure correct disposal of the original stream.

There might be better ways to do it, but this ensured no possibility of memory leaks.

[2020-11-06 09:50] cqkisyouq commented on #7531
@deanmarcussen I just want to rewrite the file name. Is there a better way to handle it?

[2020-11-06 11:12] deanmarcussen commented on #7490
Slight note, when we decide what the preference is here, we also need to add `{` and `}` to the list of `InvalidCharactersForPath`

[2020-11-06 11:14] deanmarcussen commented on #7526
I don't see why not. Have you tried it?

[2020-11-06 12:05] deanmarcussen commented on #7529
You pretty much have all the options covered

You could also exclude those pages with a `robots.txt` - I tend to work with that rather than having a `meta` tag, but equally I have a robots meta tag field, so it can be done either way - it's just a field, and the field template has a meta tag helper. i.e. `<meta asp-name="robots"` etc

My preference is to exclude them from the sitemap in the first

[2020-11-06 12:09] giannik commented on #7449
@jtkech The error occurs from the workflows module here :
[code]

and specifically from this line when return is called :

 https://github.com/OrchardCMS/OrchardCore/blob/7a2e676b44dd1c9070c9b8495e6a6c07aa99c941/src/OrchardCore.Modules/OrchardCore.Workflows/Services/WorkflowManager.cs#L124

[2020-11-06 12:22] jagbarcelo commented on #7529
Just a warning about excluding those pages via robots.txt (picked from Google's article cited above):
![image](https://user-images.githubusercontent.com/6704109/98365447-bca02e80-2032-11eb-814e-065553450b39.png)

Thanks for your comments. I'll have a look at that issue about non-routable pages.

[2020-11-06 13:22] SteeveDumais opened #7533 "On deletion of media (.svg and .ico) files an error indicating file is locked is thrown"
When I try to delete an .svg or a .ico file an error indicating that the file is locked and the file is not deleted.  This happens both when the files are stored in an azure blob or locally on the serer.

System.IO.IOException: The process cannot access the file 'C:\Dayforce\DayforceHub\Dayforce\Dayforce.Cms.Web\Configurations\Sites\Default\Media\asdf\ico-add.svg' because it is being used by anoth

[2020-11-06 14:45] jptissot opened #7534 "[docs] Add cypress testing documentation to OC docs"
Reminder for myself to move cypress documentation in the docs.

[2020-11-06 16:08] craftyweb commented on #7526
@deanmarcussen
Yes I've tried it by placing the name of the shape defined in the driver:

Customer_Edit

And place this in placement.json like

"Customer_Edit": [
    {
      "place": "#Customer:0"
    }
  ]

I think there is something wrong with the way I want it to place in placement.json so I was wondering if you guys could help me with the right solution (if it is possible).

[2020-11-06 18:23] rjpowers10 opened #7538 "ResetPasswordViewModel requires an email address to be provided as the user identifier"
[ResetPasswordViewModel](https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Users/ViewModels/ResetPasswordViewModel.cs) requires that an email address be provided as the user identifier. But looking at how the property is used [here](https://github.com/OrchardCMS/OrchardCore/blob/7a2e676b44dd1c9070c9b8495e6a6c07aa99c941/src/OrchardCore.Modules/OrchardCore.Users/

[2020-11-06 18:26] MRSheikh commented on #7525
i edit <script> tag s to
`<script asp-name="kendo1" depends-on="jquery"></script>
<script asp-name="kendo2" depends-on="jquery"></script>
<script asp-name="kendo3" depends-on="jquery"></script>
<script asp-name="kendo4" depends-on="jquery"></script>
<script asp-name="kendo5" depends-on="jquery"></script>`
and it works fine!!!
thanks a lot jptissot .

[2020-11-06 18:28] #7525 closed

[2020-11-06 18:47] jtkech commented on #7449
@jptissot can you try #7516 if you have time, it works for @deanmarcussen, would be good to confirm it also fixes your issue ;)

@giannik yes the `NewAsync()` and `UpdateEditorAsync()` in your loop in your `ContentTypePartDefinitionDisplayDriver` will trigger workflow events, i will think about this use case this night.

**Do you have any workflow using a `ContentUpdatedEvent`**?

[2020-11-06 18:47] sebastienros commented on #7538
Maybe a security measure to ensure you know which email was used. Could you check on the ASP.NET repository default templates if they use the same technique, I would assume they do.

[2020-11-06 19:01] sebastienros commented on #7452
Please update with https://www.nuget.org/packages/Jint/3.0.0-beta-1914

[2020-11-06 19:10] rjpowers10 commented on #7538
@sebastienros Perhaps you're right, although you also have to provide the reset token. Maybe knowing the email address is an extra level of security.

I didn't find an definitive answer, but [this sample](https://github.com/dotnet/aspnetcore/blob/1e1293ad01061adc036ac7c6e8e1e0263a6065fa/src/Identity/samples/IdentitySample.Mvc/Models/AccountViewModels/ResetPasswordViewModel.cs#L13) also uses the em

[2020-11-06 19:20] giannik commented on #7449
No i dont have any code using  *ContentUpdatedEvent. *
*As seen in the return call which gets called when **no workflow matches
the event.*

On Fri, Nov 6, 2020 at 8:47 PM Jean-Thierry Kéchichian <
notifications@github.com> wrote:

[2020-11-06 20:09] rjpowers10 opened #7540 "UserService.FindByUsernameOrEmailAsync could find a user other than the one intended"
[UserService.FindByUsernameOrEmailAsync](https://github.com/OrchardCMS/OrchardCore/blob/7a2e676b44dd1c9070c9b8495e6a6c07aa99c941/src/OrchardCore/OrchardCore.Users.Core/Services/UserService.cs#L213) first tries to find a user by username, then by email address.

However, what should happen in this scenario, where the email address of one user is the username of another? I was able to create these u

[2020-11-06 20:15] jtkech commented on #7449
@giannik okay thanks, i assume this is why i was not able to repro as i didn't enable the `WorkFlows` feature, hmm maybe i've some ideas, i will re-try it this night.

[2020-11-06 20:25] rjpowers10 opened #7541 "Deleting a content type while there is still at least one content item of that type makes the front end unusable"
1. Create a fresh site using the blog theme
2. Delete the "blog post" content type
3. Try to view the homepage

This may be considered user error, but could this be handled more gracefully?

[code]

[2020-11-06 20:29] sebastienros commented on #7540
Reset password should only use emails.

[2020-11-06 20:30] sebastienros commented on #7540
At least we need to review we are still on par with what ASP.NET Identity UI is doing.

[2020-11-06 20:33] rjpowers10 commented on #7540
Related to #7538

[2020-11-06 20:36] rjpowers10 commented on #7540
Looks like the reset password feature is the only caller of `UserService.FindByUsernameOrEmailAsync`, so it could potentially be changed to strictly be an email lookup.

[2020-11-06 21:02] kevinchalet commented on #7540
@rjpowers10 thanks for reporting that.

I tried locally, and luckily, this issue doesn't allow stealing an account, as there's the generated user token is correctly attached to the second account (to which the reset token is tied based on its user ID, not the username/email address).

That said, it's a major issue anyway, as it allows an attacker to prevent someone from resetting his/her password

[2020-11-06 21:23] rjpowers10 opened #7542 "Send a confirmation email after password reset"
I noticed that [ResetPasswordController.ResetPassword](https://github.com/OrchardCMS/OrchardCore/blob/7a2e676b44dd1c9070c9b8495e6a6c07aa99c941/src/OrchardCore.Modules/OrchardCore.Users/Controllers/ResetPasswordController.cs#L121) doesn't send a confirmation email. Usually you get an email that says something like "Your password has been changed. If you requested this change then no further action

[2020-11-06 21:25] rjpowers10 commented on #7538
Depending on what happens with #7540 this could be correct behavior.

[2020-11-06 22:37] jtkech commented on #7449
@giannik "Good" new, just tried, now i can repro ;)

What i can see right now, is that on each loop `TriggerWorkflowEventAsync()` really does 2 database queries, this is not the case when we get multiple times a content item or a document as type definitions where we return an already loaded object.

[2020-11-07 02:17] #7452 closed

[2020-11-07 03:51] jtkech commented on #7449
@giannik okay i think i found a little issue on YesSql side

There is a case where the document version is incremented but the related `UpdateDocumentCommand` is not enlisted, i will open an issue and maybe a PR on Yesql.

Meanwhile, for your use case you can use the following workaround in the `OC.ContentTypes` module startup

    services.Configure<DocumentOptions>(typeof(ContentDefinitionRecord

[2020-11-07 07:33] giannik commented on #7449
@jtkech thank you very very much.
I dont mind wating for the yessql update.
Must buy you a beer.

[2020-11-07 14:31] kevinchalet commented on #7138
PKCE is already fully supported by the OpenID module (support has been added to ASOS/OpenIddict in April 2016).

What's not offered yet by the OpenID module is the ability to either:
  - **Force** PKCE globally. This can be done by setting this option to `true`: https://github.com/openiddict/openiddict-core/blob/c5a02a3b17f51be2c993942eb953d899163d8cc0/src/OpenIddict.Server/OpenIddictServerOptions

[2020-11-07 14:35] kevinchalet commented on #7137
@hung-doan I initially opted for X.509 certificates as they are perfect containers for private keys. Generation and storage works generally well, but certain "hostile" environments like Azure's free instances indeed make using X.509 certificates a real PITA.

Moving to raw RSA keys instead of X.509 RSA certificates is certainly an option. Would you like to send a PR?

[2020-11-07 14:38] kevinchalet commented on #7137
Note: it may also be a good opportunity to store the keys in the database rather than on the file system.

Note 2: keep using this method to ensure we stay "user-profile-loading-disabled"-friendly: https://github.com/OrchardCMS/OrchardCore/blob/954a90dd383fba9fa114c6320bb3774f28dcb6b7/src/OrchardCore.Modules/OrchardCore.OpenId/Services/OpenIdServerService.cs#L583-L605

[2020-11-07 19:13] giannik commented on #7449
also when trying to add a new tenant from the admin and setting it up i get the following error :
Also applied the pull #7516   but still the same. Think it has to do with @jptissot case.

![image](https://user-images.githubusercontent.com/1516981/98449649-d11d1d80-213d-11eb-81fc-223f0e1e21f8.png)

[2020-11-07 22:16] jtkech commented on #7449
@giannik

It doesn't find `tbl_ContentItemIndex`, not related to a single shared `Document`

So better to open another issue.

Sorry I can't repro. Which setup recipe? Does it happen every time you create a tenant or only once?

---

So, maybe i will merge #7516 as it fixes the issue of @deanmarcussen

For your original issue it will be fixed through sebastienros/yessql#287

Merging #7516 will clo

[2020-11-07 22:37] giannik commented on #7449
sure , will open it as a new issue.

[2020-11-07 23:38] jtkech opened #7545 "YesSql check concurrency issue"
Related to the original issue of @giannik in #7449

I recently did this PR sebastienros/yessql#287 in the YesSql repo

I built YesSql locally to try it, I can confirm that it fixes the the original issue of @giannik in #7449 .

To be able to build OC in this context i needed to do some adaptations as currently we don't reference the last dev of YesSql. E.g. `StoreFactory.CreateAsync()` replaced by

[2020-11-08 01:56] jtkech commented on #7449
@giannik

Okay i found a temporary fix for your original issue (not the last different one), i integrated it in #7516 so that we don't have to wait for an update of YsSql

[2020-11-08 03:59] #7449 closed

[2020-11-08 03:59] #7545 closed

[2020-11-08 09:29] giannik opened #7547 "Create new tenant during setup crashes"
Using latest dev branch with sql server express database I am creating a new tenant from the admin with following settings (using blog recipe) :

![image](https://user-images.githubusercontent.com/1516981/98461488-29dbcd00-21b5-11eb-8196-76c42f0ae81b.png)

**Then during setup when completing the installation it crashes with following message :**

![image](https://user-images.githubusercontent.com/

[2020-11-08 15:40] jptissot commented on #7449
@jtkech I just tested this today and it fixes the issue I was having.

[2020-11-08 18:31] jtkech commented on #7449
@jptissot cool, thanks for testing ;)

[2020-11-08 21:26] jtkech commented on #7547
`Invalid serial number for shell descriptor`

It happens when you setup a tenant but a document table already exists in the database and with a shell descriptor document, so with an higher version than the one we are setting up

[2020-11-09 07:12] 4m-world opened #7553 "Custom part not shown"
I built a custom module for SEO which adds meta for content items, however, when I enable the Module it is not shown under content parts, I tried to follow different sample module code and implementation from Orchard Core official modules with no luck.

Below code that I implement could advise where is my mistake:

Model:
[code]

View Model:
[code]
Drivers:

[code]
Indexes:
[code]

Migrations:
[co

[2020-11-09 09:11] giannik commented on #7547
thanks @jtkech ,
there was something wrong with my recipe !!
Thanks for the pointer.

[2020-11-09 09:11] #7547 closed

[2020-11-09 10:36] deanmarcussen commented on #7553
I think you're missing `.Attachable()` in the `AlterPartDefinition` migration

[2020-11-09 10:45] jaketyb opened #7554 "Question: Is it possible to get the date/time a User last logged in?"
Hi,

I would like to know if it's possible to retrieve login audit data for a particular user, for example date/time last logged in, and maybe even login history. The aim of which is to detect which users are more active than others.

I can't seem to find any property on the 'User' model which provides this information.

Thanks.

[2020-11-09 13:50] rjpowers10 commented on #7542
This one probably falls under "nice to have", but not high priority right now.

[2020-11-09 14:35] deanmarcussen commented on #7526
For placement to work there you need a `Match`. Just specifying `place` is not enough.

But we don't have any differentiators by default on `User` shapes, or anything to `Match` on.

Plus, I was working on something yesterday, and realised tabs don't quite work with users, because they don't have a `ContentItemId`

However, this pr fixes that https://github.com/OrchardCMS/OrchardCore/pull/7556
and

[2020-11-09 15:23] hishamco commented on #7554
Have a look to Audit Trail module, I think it provide a rich details info, @Piedone correct me if I'm wrong

[2020-11-09 15:36] Piedone commented on #7554
Yes, this will be (is) available with Audit Trail: https://github.com/OrchardCMS/OrchardCore/pull/6679

[2020-11-09 15:36] #7554 closed

[2020-11-09 16:09] rjpowers10 opened #7557 "ContentItems not being indexed - problem with ShellScope.AddDeferredTask?"
Here's my scenario

1. Early on in my recipe I enable OrchardCore.Lucene and OrchardCore.Indexing in a "feature" step
2. Then my recipe configures LuceneSettings
3. Then in my recipe I have a "lucene-index" step to configure my index
4. At the last point in my recipe, I have a separate "feature" step to enable my own modules

I did this because my own modules will create content items in their mig

[2020-11-09 16:54] juchom opened #7558 "Orchard throws with a Module containing migrations"
I'm hitting an issue with this scenario.

Create a VS solution with two projects:
ASP.Net Empty project -> MyWebsite.Backend
Class Library (.net core) -> MyWebsite.Backend.BaseModule

Here is MyWebsite.Backend files:

MyWebsite.Backend.csproj

[code]

Program.cs

[code]

Startup.cs

[code]

Add a folder Recipes and the following file mywebsite.recipe.json

[code]

In BaseModule project

MyWebsite.

[2020-11-09 17:36] mariojsnunes opened #7559 "Media should have server-side pagination"
Related to #5001
When entering a folder, all files or sub-folders are requested and then paginated on the client-side.

Maybe this is the norm in CMSs, but it will lead to issues like the one referenced. I haven't tested, but I guess it would crash when there are many files as well.

@deanmarcussen you mentioned it is possible to add pagination to media and blob storage, can you share that researc

[2020-11-09 18:13] deanmarcussen commented on #7558
Ok, thanks for posting here. Was too much to see what you were doing on gitter.

I think the approach is wrong. I would suggest adding the dependencies to your `Manifest.cs`

[code]

This should correctly order your dependencies, and activate them from the main recipe, as this module is activated there.

[2020-11-09 18:29] juchom commented on #7558
Doing this suppose that I know what I need in advance, which is not the case.

I try to find a way to work with Orchard with other developers.

Starting a new project from the blank, I thought I could create an empty module, create a startup recipe with it enabled by default.

Then each time I update my orchard configuration or content definitions, I would export it, version the migration and depl

[2020-11-09 18:34] jtkech commented on #7557
@rjpowers10

Yes, there are some related issues in the sense that there are all using custom **migrations** recipes e.g. #7449, #7558. For some good reasons (e.g. database issues), normally when executing a recipe, each recipe step is executed in its own scope, which is not the case of a **migration** recipe. Originaly, migrations and then migrations recipes were intended to only update the type d

[2020-11-09 18:49] rjpowers10 commented on #7557
@jtkech What you're saying is consistent with what I'm seeing. If I create a content item within a normal recipe (not a migration) then it gets indexed as I expect. It's only the content items created in a migration recipe that have the issue.

Thanks for looking into this. It's not critical for us because we can just force the item to be indexed by publishing it again.

[2020-11-09 18:50] jtkech commented on #7558
@juchom

Yes, as suggested by @deanmarcussen you still need to update the manifest if your module has new dependencies relying on the services of another new module.

If, after updating the manifest dependencies, it still doesn't work, for infos i'm working on the following

There are some related issues in the sense that there are all using custom **migrations** recipes e.g. #7449, #7557. For som

[2020-11-09 19:16] juchom commented on #7558
Thanks for your replies,

So when enabling a feature in Orchard, I export it as a recipe in my module and I also add it to the Dependencies in Manifest.cs, I can run from scratch the whole module & migrations.

Thanks a lot for your help!

[2020-11-09 19:19] netwavebe opened #7560 "Can't create new users anymore, stuck in loop"
Just updated to the latest bits on dev, can't create new users anymore.

Code is stuck in this loop:
https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore.Users.Core/Services/UserStore.cs#L87

Not sure why. A new UserId is generated correctly but the query still finds it.

[2020-11-09 19:20] netwavebe commented on #7560
/cc @deanmarcussen

[2020-11-09 19:26] jtkech commented on #7558
Normally only the one your module relies on

Okay so i close this issue, feel free to re-open another issue if you have any other problem ;)

[2020-11-09 19:26] #7558 closed

[2020-11-09 19:37] rjpowers10 opened #7561 "Admin permissions - intention of the "manage settings" permission"
I want to give a particular role _very_ restricted access to the admin panel. This role should only be able to edit one custom setting that I have defined. To do this, I

1. Grant permission to "Access admin panel" under OrchardCore.Admin
2. Grant permission to _my custom permission_
3. Require _my custom permission_ to edit _my custom setting_

At first glance this seems like it will work. A user

[2020-11-09 20:34] sebastienros commented on #7560
Because assigning a new userid to the object and then doing a query will store the new value before doing the query?
It should be assigned to a local variable and tested against it, then assign it to the user.

[2020-11-09 22:23] scleaver opened #7562 "Invalid column name 'UserId' after applying 1.0.0-rc2-15400"
After applying 1.0.0-rc2-15400 to an existing site and logging in with OpenId config the following error occurs and users can not login also seems to happen on if you then login with a local account too  - may be related to #7560

[code]

[2020-11-09 22:29] scleaver commented on #7560
Adding to this issue... the user seems to be created but is caught in loop. If you exit out and go back to the users page, the user is in the list but on clicking the edit button the user is not found.

[2020-11-10 00:06] Skrypt commented on #7562
Looks like the WorkflowManager causing the issue. Though if the database migration would have executed properly it should not have happened.

[2020-11-10 02:43] sebastienros commented on #7562
Or it's a workflow that creates a user?

[2020-11-10 03:09] scleaver commented on #7562
@sebastienros there is no workflow that create a user. This error throws as the existing user is returning from an external openid provider.

[2020-11-10 03:11] sebastienros commented on #7562
Would explain too, since we need to create a local user account in this case also. So definitely the issue I fixed. I am merging it since everyone else is sleeping.

[2020-11-10 03:11] #7560 closed

[2020-11-10 04:41] scleaver commented on #7562
Thanks, @sebastienros really appreciate it

[2020-11-10 06:07] 4m-world commented on #7553
@deanmarcussen it did not work too which is a bit wierd, even I tried to use the module template and it did not work appear under parts.

[2020-11-10 06:30] jtkech commented on #7557
@rjpowers10

Okay, i think i know how to fix it, i will do a PR tomorrow

[2020-11-10 07:09] scleaver commented on #7562
@sebastienros unfortunately this didn't fix the issue will have to look further into it.

[2020-11-10 07:37] deanmarcussen commented on #7562
Did I break it?

@scleaver can you check that the `UserIndex` table now has a `UserId` column?

If it doesn't, or if the values are empty, the migration has failed.

Check the `Document` table for the `OrchardCore.Data.Migration.Records.DataMigrationRecord, OrchardCore.Data` and try reseting the `"OrchardCore.Users.Migrations","Version":6` to `"OrchardCore.Users.Migrations","Version":4` which shou

[2020-11-10 07:44] scleaver commented on #7562
@deanmarcussen ok so yeah there is no userid column on that userindex and the user migrations is on 4. Can't see any migration errors in the log though

[2020-11-10 07:48] Skrypt commented on #7562
If you are using a Nuget package solution it should have worked unless maybe you extended the OrchardCore.Users module?

[2020-11-10 07:59] deanmarcussen commented on #7562
`YesSql.Commands.CreateIndexCommand.ExecuteAsync`

I can see from the log you gave it's trying to run, and then failing during a flush, possibly triggered by workflows.

I need a little more time to understand.

- can you login normally?
- start the site normally

[2020-11-10 08:08] deanmarcussen commented on #7562
Also try changing your log level to `Information`

It should log the migrations that are being run at startup.

We need to see that it is trying to run.
[code]

My concern is that it hasn't properly flushed the migration commands, but last time I looked at YesSql table commands (i.e. create the UserId column) they were not queued, but executed directly against the table as commanded (some time ago

[2020-11-10 08:12] Skrypt commented on #7562
We need to know what is doing the Workflow that gets triggered to understand better. It could be simply that the migration tries to execute on table records that is getting also updated by a Workflow at the same time. So this would be a session scope issue. But definitely here the code seems to have a UserId and the database doesn't so I'd suggest you disable the Workflow feature first and restart

[2020-11-10 08:59] InfDev opened #7566 "Unable to log into backend after deployment with specified username and password"
Unable to log into backend after deployment with specified username and password: recipe "Blog", Sqlite. Source: dev branch on 8:30 AM Tuesday, November 10, 2020 (GMT)

[2020-11-10 09:01] scleaver commented on #7562
Ok thanks guys for your help here. I will download the DB and try it locally so I can see what's happening.

I also notice the autoroute is not up to the correct version either.

[2020-11-10 09:07] deanmarcussen commented on #7562
That's your problem.

If `Autoroute` fails, then it will never get to the migration for users.
(I've seen this before)

Possible causes are an older version of sql (2014 and below from memory), which doesn't support one of the commands on the autoroute migrations.

Or slightly incorrect login credentials (dbo not assigned).

Let me know which one it is, as we have some more notes somewhere

[2020-11-10 09:18] Skrypt commented on #7566
What have you deployed exactly? Can you check if you have a UserId in your UserIndex table in your database?

[2020-11-10 09:47] InfDev commented on #7566
Id	DocumentId	NormalizedUserName	NormalizedEmail	IsEnabled	UserId
1	18	INFDEV	ALEX.SHLYAKHTO@GMAIL.COM	1	4760y8arzsm2m3c9v2j8xz1jnm

[2020-11-10 09:56] InfDev commented on #7566
Source includes latest commit # 7565. Recompiled and reinstalled 3 times

[2020-11-10 10:10] scleaver commented on #7562
It is Azure SQL so it won't be 2014

I'll get back to you

[2020-11-10 10:16] scleaver commented on #7562
My connection string is just the normal Azure SQL specified one... anything not recommended in it below?

`Server=tcp:XXXX.database.windows.net,1433;Initial Catalog=XXX;Persist Security Info=False;User ID=XXXX;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;`

[2020-11-10 10:32] juchom commented on #7558
Hello,

The solution of using Dependencies works fine when enabling features.

When disabling a feature I can't use anymore the Dependencies and I face the same issue.

[2020-11-10 11:05] deanmarcussen commented on #7562
Check this issue https://github.com/sebastienros/yessql/issues/201

[2020-11-10 11:20] 4m-world commented on #7553
I don't know if this the cause of the issue or not but when I applied the following:
- add .Attachable()  as per @deanmarcussen feedback above.
- and included the feature attribute in the manifest
the parts become visible in the parts section, despite that the feature was visible under features list, I assume based on Feature attribute at the startup file.

[2020-11-10 11:20] #7553 closed

[2020-11-10 11:50] scleaver commented on #7562
User has the default schema name dbo so it isn't that issue.

[2020-11-10 12:45] deanmarcussen commented on #7566
We're going to need a bit more information here to help you.

- What did you deploy and were did it get deployed?
- Did it work locally?
- What did your logs report?
- What error do you recieve when trying to login?

[2020-11-10 12:49] juchom opened #7569 "Creating a ContentType with migration doesn't apply all properties"
I created a simple ContentType from the admin menu called Customer, I added a TextField and a MediaField.

The type is defined like this.

[code]

An incremental migration works fine, but starting from scratch, the type is created but this part of the code is ignored, leaving this options unchecked:

[code]

[2020-11-10 12:52] scleaver commented on #7562
Ok guys, looks like it might be an issue with custom migrations that is halting all migrations.

[2020-11-10 13:12] deanmarcussen commented on #7562
There is something about the nature of logging errors during migrations that is tricky.

Log level Information can help diagnosing because it might you a clearer picture of what is happening before they go into an error state

[2020-11-10 13:27] scleaver commented on #7562
Thanks @deanmarcussen, @sebastienros, and @Skrypt for helping me to sort this out. It was snot the OC code but something to do with a recipe we used in a custom migrations step. I am closing this now.

[2020-11-10 13:28] #7562 closed

[2020-11-10 13:33] InfDev commented on #7566
1. I cloned the repo today (dev branch).
2. Compiled in Release config and published to directory.
3. Copied it to another directory on the same computer and connected it to IIS.

LOG:
[code]

[2020-11-10 14:02] deanmarcussen commented on #7566
`The key {d2372acc-8bad-4fc7-8ab8-a4171b68e6cf} was not found in the key ring`

This suggests that your cookies are not working properly.

I assume it worked correctly when you ran it in debug before publishing?

Have you checked you have given the correct permissions for IIS to the directory you copied it to?

[2020-11-10 14:37] sebastienros commented on #7566
I posted a link to a SO answer in gitter yesterday, same issue with ios. Can someone find it and paste it here?

[2020-11-10 14:52] sebastienros commented on #7566
https://stackoverflow.com/questions/40783170/neither-user-profile-nor-hklm-registry-available-using-an-ephemeral-key-reposit

[2020-11-10 15:39] snovak7 opened #7571 "Taxonomy Term ContentPart with NumberField is not saved"
So I have a ContentItem with a ContentType "Taxonomy" and a Taxonomy field...
Then I have in ContentItem defined that Taxonomy of "Tags" ContentType which is in use... I can easily add, edit those ContentItems of ContentType Tag... especially a Number Field which is part of a new ContentPart which is applied to "Tag"... When this item is edited as a ContentItem it works. But when you want to edit

[2020-11-10 16:17] deanmarcussen commented on #7571
The issue sounds very similar to this fix for Menus https://github.com/OrchardCMS/OrchardCore/pull/7381/files

[2020-11-10 16:50] deanmarcussen commented on #7561
Duplicate https://github.com/OrchardCMS/OrchardCore/issues/5328

[2020-11-10 21:31] Skrypt opened #7576 "Media Gallery : Implement owned media"
Now that we have the UserId next step logical would be to insert back the ManageOwn permission on the Media Gallery and to implement a specific folder for each users based on the UserId. If the user has ManageOwn permission he should be able to only see his own folder in the Media Gallery and on the Media Gallery Picker Field and so on ...

/cc @deanmarcussen

[2020-11-10 21:35] hishamco commented on #7576
Ya it's the time to do it

[2020-11-10 23:29] Skrypt opened #7577 "Admin Menu permissions not evaluated correctly (UserId regression)"
Now that we have the UserId we should be evaluating it instead of the UserName.

[2020-11-11 00:05] jptissot opened #7580 "Switch CI to github actions"
Remove the AppVeyor and Travis dependencies in favor of github actions

[2020-11-11 00:16] sebastienros commented on #7580
Let's start with Linux first and keep appveyor, to make the transition simpler

[2020-11-11 00:58] jtkech commented on #7569
Can you show us your `Create() / CreateAsync()` method and other `UpdateFromXAsync()`, from scratch normally this is the create method that does all you need and then return 4 to skip other migration steps

[2020-11-11 01:21] #7577 closed

[2020-11-11 02:23] #7557 closed

[2020-11-11 02:41] jtkech opened #7585 "Remaining Owner set to User.Identity.Name"
In the `AdminController` of `OC.Contents`, there are 5 remaining places where an owner is set to `User.Identity.Name`

I didn't do a PR as i'm not sure if they should be replaced with `User.FindFirstValue(ClaimTypes.NameIdentifier)`

[2020-11-11 04:44] #7585 closed

[2020-11-11 09:11] scleaver commented on #7298
@Skrypt so are you going to take this? Seems like it is more in depth than I originally thought!

[2020-11-11 10:26] juchom commented on #7569
I made a repo here with all the files: https://github.com/juchom/OCRepro/

The issue is only happening in this particular case, if I change the company name used for namespaces it works well...

[2020-11-11 11:15] InfDev commented on #7566
I solved the problem.

**The thing is that for the backend, login is possible only via the https protocol.
In IIS on my local machine, I used IIS Express Development Certificate.**

Thanks you.

[2020-11-11 11:15] #7566 closed

[2020-11-11 12:33] #7571 closed

[2020-11-11 16:01] Skrypt commented on #7298
Will try to make time for it. Could take some time though.

[2020-11-11 18:41] jtkech commented on #7569
Usually, in `CreateAsync()` we do all what is needed and return in your case 4 to skip all others migration steps.

Yes, in the Document table there is a data migration record with the migrations types, including their namespaces, and their versions, see below, so yes, changing the namespace will triger again the migration from the beginning

    {"DataMigrationClass":"OrchardCore.Markdown.Migrati

[2020-11-11 19:16] juchom commented on #7569
Actually if you clone the repo and hit F5, do the setup process, are you able to create a Customer content?

[2020-11-11 19:23] jtkech commented on #7569
Didn't try it yet, i will do it this night and will let you know ;)

[2020-11-11 19:26] juchom commented on #7569
Ok thanks a lot, this is very nice

[2020-11-11 20:39] #7530 closed

[2020-11-11 20:41] #7427 closed

[2020-11-11 20:50] #2112 closed

[2020-11-11 22:14] jtkech commented on #7569
@juchom

Okay just tried it, just needed to add a missing dependency, **then it was working**.

**Your module manifest needs a dependency on `OrchardCore.ContentTypes` so that the right features odering is computed**, even if you enable it through your main setup recipe, it's important e.g. for the order of services registrations (but not only, e.g. also for shape precedences), e.g. if a module A

[2020-11-12 07:54] juchom commented on #7569
Thanks a lot @jtkech !

I understand a bit more how the startup process work (even if I will have to read your comment again to be very clear).

[2020-11-12 07:54] #7569 closed

[2020-11-12 13:54] deanmarcussen opened #7595 "Upgrade data protection azure to the dotnetstandard azure library"
As noted over here https://github.com/OrchardCMS/OrchardCore/pull/6999

we need to upgrade the aspnet library for data protection to use the azure dotnetstandard library

[2020-11-12 15:03] jptissot opened #7597 "Creating tenants with Global environment variable does not save info in the appsettings.json of the tenant"
I have these environment set in a powershell console

[code]
If I setup a site / tenants while these are set, the ConnectionString and DatabaseProvider do not get output in the appsettings.json file of the tenant.

[code]
if I create the same site without the environment variables set, this get's output:
[code]

If I stop and run the site without the environment variables set, the `test2` site doe

[2020-11-12 15:37] tropcicstefan opened #7598 "Custom query schema parsing not working"
I think method BuildSchemaBasedFieldType inside LuceneQueryFieldTypeProvider.cs and SqlQueryFieldTypeProvider.cs is wrong because [official json ](https://json-schema.org/learn/miscellaneous-examples.html)schema should look something like this&nbsp;
[code]
and line where code tries to get type specifically "child["type"]" will throw error of "System.InvalidOperationException: 'Cannot access child

[2020-11-12 15:55] jtkech commented on #7597
Without saying it is okay in this case, yes it works as intended

Config source data are not mutable by the app, you need another tool (e.g. any editor to change an appsettings), one exception is our apsettings under the tenant folder that we can mutate through the admin acting as a config tool.

Config sources have different precedences, by default we keep the precedences of regular config source

[2020-11-12 16:35] 4m-world opened #7600 "Incorrect SQL Query result at Content Level"
I wrote a SQL query to retrieve content-type based on a taxonomy, in my case blog posts under a specific category, the issue I face is as follows: Running the query in the query windows retrieves the correct content however in the content template the received content is not relevant to the taxonomy.

### SQL Query
[code]

### Query Parameters

`
{ "termId": "42nksr2j68csmrafgaz0dcz9xa", "limit":5

[2020-11-12 16:52] jptissot commented on #7597
I understand what you are saying. And maybe it's ok that it works like this. I What I found strange is that I was seeing the ConnectionString and DatabaseProvider prefilled in the tenant setup page. But these values were not persisted, simply because they were coming from an environment variable. I would have assume that we should take a snapshot of these values when creating a tenant and write th

[2020-11-12 17:04] deanmarcussen opened #7603 "How to handle the owner id with recipemigrations"
Pulled over from the discussion here https://github.com/OrchardCMS/OrchardCore/discussions/7575#discussioncomment-127219

There's a couple of scenarios we may need to take into account with the `UserId` / `Owner`

During a setup recipe, the `AdminUserId` is available as a js property.

However people are also trying to use `RecipeMigrator` to setup content this is fine, but it potentially leaves t

[2020-11-12 17:15] jtkech commented on #7597
If i understand correctly

Normally if the value is persisted in the appsettings under the tenant folder, it will have precedence and then can't be no more changed e.g. through a root appsettings or an env variable

[2020-11-12 17:55] sebastienros commented on #7600
The queries you pasted and the one on the screenshot don't match. One is filtering on DocumentId, the other on ContentItemId.
If you are filtering specific versions (latest, published) then you should select the "DocumentId" and use the check box to return the Documents.

[2020-11-12 17:59] #7595 closed

[2020-11-12 18:08] sebastienros commented on #7518
The nextStartTime (from cron rule) should be assumed local time.

[2020-11-12 18:08] sebastienros commented on #7518
@chinasqzl do you want to try and submit a PR to fix it?

[2020-11-12 18:12] sebastienros commented on #7520
I just verified and you need to use 4 braces to render 2.

[2020-11-12 18:12] #7520 closed

[2020-11-12 18:15] sebastienros commented on #7531
It's not supported right now. Do you want to provide a PR that would handle it in the context property?

[2020-11-12 18:15] 4m-world commented on #7600
Apologies I pasted the wrong code it the same as in the screenshot, on the ContentId level, as I tried different options to verify the output.

BlogCategories is a SQL query as in the screenshot.

I tried both options the output varied between query screen and at rendered content under Term-Category.cshtml

[2020-11-12 18:18] sebastienros commented on #7490
Add validation in the driver once the pattern is evaluated.

@MikeKry to you want to try and create a PR for that?

[2020-11-12 18:23] sebastienros commented on #7529
Since the setting is already there in the part, I assume this issue can be closed.

[2020-11-12 18:23] #7529 closed

[2020-11-12 18:26] sebastienros commented on #7533
Does it repro consistently? Only with these extensions? Did you just upload these files?

[2020-11-12 18:31] sebastienros commented on #7137
@deanmarcussen is already working on a feature/service to store secret in various stores. Including certificates. Database will be supported. So this might be the solution to use this service instead of adding a custom way here. This way you get the UI and deployment steps of these secrets for free.

[2020-11-12 18:46] sebastienros commented on #7559
The files are already paginated on the server IFAIR. @matiasmolleja can you confirm?

[2020-11-12 18:51] sebastienros commented on #7561
Makes sense, we need a separate permission.
Closing as a duplicate though.

[2020-11-12 18:51] #7561 closed

[2020-11-12 18:54] mariojsnunes commented on #7559
I don't think so, as seen here:
https://github.com/OrchardCMS/OrchardCore/blob/8a2fa21102f62e478680daacf504d0e6ac7e0929/src/OrchardCore.Modules/OrchardCore.Media/Controllers/AdminController.cs#L105

[2020-11-12 19:01] deanmarcussen commented on #7559
Regarding #5001

- never repro'd
- 5000 folders of one root folder is something I would suggest should be split into more sub folders.

Before looking at it in detail I'd prefer to see a repro, i.e. rather than thinking there might be an issue, if you want to get a zip file of folder/file arrangements to prove it is a problem, that would be helpful.

[2020-11-12 19:01] deanmarcussen commented on #7559
`GetDirectoryContentAsync` btw takes a parameter if you want to get subfolders.

we don't use it here in the admin controller.

[2020-11-12 19:17] SteeveDumais commented on #7533
Its consistent and only happens with these extensions.  I have tried others.,

[2020-11-12 20:23] jptissot commented on #7580
Closed in https://github.com/OrchardCMS/OrchardCore/pull/7581

[2020-11-12 20:23] #7580 closed

[2020-11-13 02:14] HengzheLi opened #7606 "The homepage could not be changed when another contentitem was set to homepage"
Not sure if I missed something:
Repo steps:
* Add AutoRout part to two different content types
* Set as homepage to one of the content type's contentitem
* Set as homepage to another contentitem of another content type.

OC return me that setting is successfully completed.

But when I edit again the latest "homepage" content item, the "Set as homepage" checkbox is not checked. And the old content

[2020-11-13 03:25] HengzheLi commented on #7606
I think I found the root cause.
The failure ContentType has not TitlePart, and the default route pattern for AutoRoutePart is {{ ContentItem.DisplayText | slugify }}. I guess TitlePart will give a value to a ContentItem's DisplayText and there is no code in my test to do this. So this will lead to AutoRoutePart's Part value is empty then SetHomeRoute will be skipped in AutoRoutePartHandler.cs.

[2020-11-13 03:25] #7606 closed

[2020-11-13 03:27] josephwambura opened #7608 "SqliteException: SQLite Error 1: 'no such table: AutoroutePartIndex'"
![image](https://user-images.githubusercontent.com/10076231/99025198-56a73000-2579-11eb-9cf7-285256c38807.png)

[2020-11-13 03:29] josephwambura commented on #7608
`Microsoft.Data.Sqlite.SqliteException.ThrowExceptionForRC(int rc, sqlite3 db)
Microsoft.Data.Sqlite.SqliteCommand.PrepareAndEnumerateStatements(Stopwatch timer)+MoveNext()
Microsoft.Data.Sqlite.SqliteCommand.GetStatements(Stopwatch timer)+MoveNext()
Microsoft.Data.Sqlite.SqliteDataReader.NextResult()
Microsoft.Data.Sqlite.SqliteCommand.ExecuteReader(CommandBehavior behavior)
Microsoft.Data.Sqlite

[2020-11-13 03:31] josephwambura opened #7609 "SqliteException: SQLite Error 1: 'no such table: WorkflowTypeIndex'."
![image](https://user-images.githubusercontent.com/10076231/99025429-dfbe6700-2579-11eb-918d-10193d740688.png)

[2020-11-13 03:32] josephwambura commented on #7609
Microsoft.Data.Sqlite.SqliteException.ThrowExceptionForRC(int rc, sqlite3 db)
Microsoft.Data.Sqlite.SqliteCommand.PrepareAndEnumerateStatements(Stopwatch timer)+MoveNext()
Microsoft.Data.Sqlite.SqliteCommand.GetStatements(Stopwatch timer)+MoveNext()
Microsoft.Data.Sqlite.SqliteDataReader.NextResult()
Microsoft.Data.Sqlite.SqliteCommand.ExecuteReader(CommandBehavior behavior)
Microsoft.Data.Sqlite.

[2020-11-13 06:12] cqkisyouq commented on #7531
@sebastienros Yes,I hope so.

[2020-11-13 07:58] scleaver opened #7611 "Recipe error"
Seeing this in the logs ona. blank site... need to investigate:

[code]

[2020-11-13 08:42] deanmarcussen commented on #7609
Duplicate https://github.com/OrchardCMS/OrchardCore/issues/7609

[2020-11-13 08:42] #7609 closed

[2020-11-13 08:43] deanmarcussen commented on #7608
It looks like you have a failed migration at some point during your setup and some tables have not been created correctly.

Which version of OC?

Do you have any custom migrations?

Can you check with a clean setup if you have any error messages in the log files `App_Data/logs` during the setup process

[2020-11-13 09:46] leonardder commented on #4418
Is this code testable somewhere? I'm considering importing old wordpress data from an xml into Orchard.

[2020-11-13 11:25] hishamco opened #7612 "Cypress Docs"
@jptissot could we have a starter docs for how to functional test OC using Cypress, I'm impressed by your demo on last standup, but seems I miss something to make the tests run

[2020-11-13 14:08] mariojsnunes opened #7614 "Unknown connection type: Microsoft.Data.Sqlite.SqliteConnection"
Hi,
My tests started breaking in a non-deterministic way after updating from 1.0.0-rc2-**15309** to 1.0.0-rc2-**15457**.
Throws this error: Unknown connection type: Microsoft.Data.Sqlite.SqliteConnection

The YesSql version was updated, might it have something to do with that?
I found a commit related to this: https://github.com/sebastienros/yessql/commit/ed59267a8f0a099bd5caf349422ec8959ba8dde9

[2020-11-13 14:10] NogginBox opened #7615 "Recipe null reference in FeatureStep"
I'm getting a null reference when running a recipe with a Feature step. I created the recipe using an export deployment.

The error is in `OrchardCore.Features.Recipes.Executors.FeatureStep` in this method:

[code]

In this line step.Disable is null:
[code]

My feature step looks like this:
[code]
There is no disable section.

[2020-11-13 14:16] NogginBox commented on #7615
You could fix this by changing the lines to:
[code]
Or, by looking at the code that creates the step object and making sure that neither Enable or Disable are null?

[2020-11-13 14:29] hishamco commented on #7614
Could you move this to YesSQL repo

[2020-11-13 14:30] hishamco commented on #7615
Could you please provide a PR? Then the team can review your changes

[2020-11-13 14:35] mariojsnunes commented on #7614
Sure, here it is https://github.com/sebastienros/yessql/issues/292

[2020-11-13 14:38] hishamco commented on #7614
Thanks

[2020-11-13 14:47] jptissot commented on #7612
### Run once:
[code]
The tests assume you the root tenant is setup as a SaaS tenant, the cms:setup command sets this up for you.

### Build & Run OC in a console:
[code]

### In another console, run cypress UI:
[code]

Then, you can run the unit tests as much as you want.

[2020-11-13 14:57] hishamco commented on #7612
Is this required OC instance up & running?

[2020-11-13 14:58] jptissot commented on #7612
npm run cms:build
// Hosts oc in release mode
npm run cms:host

this will build and host the CMS site. Yes

[2020-11-13 14:58] jptissot commented on #7612
npm run cms:setup will delete your  OrchardCore.Cms.Web/App_Data  folder and set a default tenant to be the SaaS tenant.

[2020-11-13 15:16] hishamco commented on #7612
Wow!! finally it works .. thanks a lot Jean Phillipe, I will keep this open for documentation, if you want to start this or I will do it in your behalf

@agriffard where shall we add this?

[2020-11-13 15:29] jptissot commented on #7612
I had this issue opened: https://github.com/OrchardCMS/OrchardCore/issues/7534

[2020-11-13 15:31] hishamco commented on #7612
So closing this ;)

[2020-11-13 15:31] #7612 closed

[2020-11-13 16:11] sebastienros commented on #7614
New packages should be published soon on nuget. We will also be able to change on MiniProfiler wraps the connections

[2020-11-13 16:16] jptissot opened #7617 "Investigate nuget package symbols"
Investigate how to add symbols to the nuget files published to cloudsmith (unless they are already there)

Something to try is to add `--include-symbols -p:SymbolPackageFormat=snupkg` to the `dotnet pack` command but I am not sure these will be included to the push ?

[2020-11-13 16:18] deanmarcussen opened #7619 "Role editing permissions"
From some notes on https://github.com/OrchardCMS/OrchardCore/pull/1054

[2020-11-13 16:23] deanmarcussen commented on #1025
Fixed by https://github.com/OrchardCMS/OrchardCore/pull/1054

[2020-11-13 16:23] #1025 closed

[2020-11-13 16:28] jptissot commented on #7617
See: https://github.com/NuGet/Home/issues/4142#issuecomment-350069305
[code]

[2020-11-13 16:46] mariojsnunes commented on #7559
So I've run the following experiment:
- Clean install with the Blog Recipe on my localmachine
- Duplicate the images a bunch of times on the media folder (~6k images)
GetMediaItems request took 600ms
content-length: 2019079

- Duplicate the images again (~12k images)
GetMediaItems request took 1200ms
content-length: 4177567

On the browser devtools, you can see the request payload on the network t

[2020-11-13 16:59] deanmarcussen opened #7620 "Custom settings needs a fix to support parts"
as we recently had to do for menus, taxonomies

[2020-11-13 17:18] Skrypt commented on #7603
Question is also if we should have a "system" user account for migrating things like Workflows which can also end up most of the time not having any "Owner" assigned to. Globally, a content item should never end up having a "null" Owner else it becomes an orphan and it's more complex to reassign those to a specific Owner from UI afterward. Of course there will always be exceptions so we do not enf

[2020-11-13 17:45] Skrypt commented on #7617
/cc @jtkech

[2020-11-13 18:38] leonardder opened #7622 "Disabling the user module makes CMS unusable"
I just decided to do something unexpected which I probably shouldn't have done, namely disabling the user module. Instantly got the following internal server error afterwards:

[code]

This made my site unusable. Honestly, I'd expect essential modules to be force enabled (i.e. no ability to disable it)

[2020-11-13 20:00] jtkech commented on #7617
@jptissot @Skrypt

Look at the `Directory.Build.targets/props` files we have under the modules / themes folders

We already have

    <PropertyGroup>
      <AllowedOutputExtensionsInPackageBuildOutputFolder>$(AllowedOutputExtensionsInPackageBuildOutputFolder);.pdb</AllowedOutputExtensionsInPackageBuildOutputFolder>
    </PropertyGroup>

And the following meaning all is embedded including source fi

[2020-11-13 20:01] jptissot commented on #7617
So, no need to include the `snupkg` files ?

[2020-11-13 20:18] #7620 closed

[2020-11-13 20:20] jtkech commented on #7617
Yes we don't need for now

But maybe better to use `snupkg` as suggested in #7237

So if it get merged we will have to also publish symbol packages

[2020-11-13 20:26] jptissot opened #7623 "Bracket can get removed from field when running a recipe"
If you fill a TextField starting with `[` and ending with `]` and export it. Add it to a recipe in your module. When the field is imported, the starting `[` and last `]` are removed.

Before export:
![image](https://user-images.githubusercontent.com/4681586/99117880-829bd300-25c4-11eb-9d92-5f3a7c6c8e48.png)

After import:
![image](https://user-images.githubusercontent.com/4681586/99117912-91828580

[2020-11-13 20:28] jptissot commented on #7617
I don't think cloudsmith supports snupkg. But I might be missing something:
https://help.cloudsmith.io/docs/nuget-feed#current-limitations

[2020-11-13 20:28] #7615 closed

[2020-11-13 20:44] jtkech commented on #7617
Yes, `symbol server is not yet supported`

Here it's a "little" + in the pros and cons to keep them embedded

[2020-11-13 20:51] jtkech commented on #7612
@jptissot

Is it possible to run the app in another working directory? So that a new `App_Data` is created elsewhere

As we do when running our web app through some unit tests

[2020-11-13 20:53] jptissot commented on #7612
Yes that should be easy, all the testing framework needs is a running app. Nothing more.

[2020-11-13 22:27] jptissot opened #7625 "MarkdownBody editor fullscreen issue"
The markdown editor is hidden by the admin's navbar when in fullscreen mode
![image](https://user-images.githubusercontent.com/4681586/99127085-75d3ab00-25d5-11eb-970e-b293f15f260d.png)

/cc @Skrypt

[2020-11-13 22:58] #7515 closed

[2020-11-13 23:04] sebastienros commented on #7615
Don't forget to assign issues to a milestone so we don't loose track of it

[2020-11-14 00:38] chinasqzl commented on #7518
OK

[2020-11-14 01:22] jptissot commented on #7615
Ok will do :)

[2020-11-14 02:59] chinasqzl commented on #7518
i do not what to do...

[2020-11-14 06:32] hishamco commented on #7625
Ya this obvious could happen, I will fix this, perhaps the same may happen for other editors

[2020-11-14 06:48] hishamco commented on #7622
Make sense, even roles module should raise an exception

[2020-11-14 10:14] hishamco commented on #7617
If I'm not wrong @lahma already did that for Fluid, so I think he could help in this one

[2020-11-14 10:43] deanmarcussen commented on #7559
No crash ? Great 👍

So same workaround you have to do in windows explorer to stop it crashing when you put too many files in one folder?

The difficulty with pagination is there are many underlying operating system limitations.

I don't know how you'd handle it with a file system, or if it is even possible.

Now blob storage is a different scenario again, because it's not file system based.

We ge

[2020-11-14 11:31] hishamco commented on #7625
I thought it's a `z-index` issue, but seems it's something else ;) I will push a fix soon ...

[2020-11-14 11:40] #7614 closed

[2020-11-14 12:37] mariojsnunes commented on #7559
Thanks for this, yeah, I also use Azure Storage.
I realise now with Azure Storage it won't affect the site performance as it doesn't read the filesystem, and there are separate blob containers for each tenant.
Now I think this is less of a problem than I thought originally. Being aware of the limitations should just be enough.

Another problem I found is that when renaming/moving media, the media

[2020-11-14 13:54] mariojsnunes opened #7628 "Add warning when renaming Media files that Media Pickers will break"
After renaming or moving media, the media pickers using that media are not updated and keep the old broken links.

Other CMSs like Umbraco have a virtual media library (I guess OC1 too) and do not allow physical renaming of files, so this is never an issue.

Some implementation thoughts:
- Have a media picker index with: ContentId, MediaField Name, Path
- After rename/move, query index by path and

[2020-11-14 15:20] jardg opened #7629 "Remove the localized error descriptions from the authorization controller"
I'm using an API controller with authentication. My OC site default culture is spanish. If I make a request using as authorization header an expired access token I get a 500 internal error as status code instead of the 401 with the localized error_description in the header.

This is the error I get:

   at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpHeaders.ThrowInvalidHeaderCharact

[2020-11-14 15:21] deanmarcussen commented on #7559
A useful discussion, glad we have come to a conclusion.

Let's keep it open. I think the outcome is that it's worth changing the interfaces to support `IAsyncEnumerable`, now that at least one implementation has support for it.

Not so much for the possibility of a GPRC implementation, but it could be better in terms of threading.

And easier to do now, than later.

[2020-11-14 15:39] KannanKrish opened #7630 ".net 5 Upgrade"
While I upgrade to .net 5 asp.net core to my project I am getting

**System.MissingMethodException: Method not found: 'Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer.WithCulture(System.Globalization.CultureInfo)'**

I want to know Orchard Core supported .net 5?

[2020-11-14 15:51] hishamco commented on #7630
FYI `WithCulture` has been removed in .NET. For more information follow up with #6999

[2020-11-14 15:51] #7630 closed

[2020-11-14 16:07] MikeKry commented on #7490
@sebastienros
I could give it a try, but it will take some time to study related architecture patterns, maybe some tips would be helpful.

[2020-11-14 16:13] MikeKry opened #7632 "ListPart - reassign existing items"
Hi, I wanted to try ListPart for creating some sort of Blog post listings, but I have noticed a little problem.

I have created content type "Blog" and "Blog post", when you create some blog posts under Blog, they are stored separately in DB as content items, that is OK. But if you delete Blog (parent item), Blog posts will stay in DB but there is no way to assign them to another instance of Blog.

[2020-11-14 16:16] hishamco commented on #7629
@kevinchalet is this should be reported in OpenIdDict?

[2020-11-14 16:29] kevinchalet commented on #7629
Yeah, please post it on https://github.com/openiddict/openiddict-core 👍

[2020-11-14 16:29] deanmarcussen commented on #7630
@KannanKrish Orchard Core is running against .net core 5, as of last week.

You will need the preview feed. See the docs here to configure the preview feed. https://docs.orchardcore.net/en/dev/docs/getting-started/preview-package-source/

It is not currently built against .net core 5.

@hishamco if you're going to close peoples issues please give them the correct information

[2020-11-14 16:35] MikeKry opened #7633 "Error in content items - Object reference not set"
Hi, during development I ran into following problem:
![image](https://user-images.githubusercontent.com/52829889/99152006-6caf1080-269f-11eb-9e13-97e7da643b5c.png)

After some investigation I think I know where is the problem:
* In database is stored some content type, but it is not in ContentDefinition.json - e.g. when more people work on same solution
* Someone performs codename change in Conten

[2020-11-14 16:42] hishamco commented on #7629
Or you could move it @kevinchalet coz you have access to both repos ;)

[2020-11-14 16:43] kevinchalet commented on #7629
@hishamco unfortunately, you can't move issues between 2 repos belonging to different organizations 😭

[2020-11-14 16:46] KannanKrish commented on #7630
@deanmarcussen Thanks, friend. Once I upgraded to the preview feed it is working fine.

[2020-11-14 16:46] hishamco commented on #7630
@deanmarcussen sorry If I close this accidently, but all of us know that `WithCulture` is removed in .NET 5.0, moreover @agriffard opened a PR to upgrade to .NET but not merged yet!!

[2020-11-14 16:49] hishamco commented on #7630
@deanmarcussen how it's Orchard Core is running but not built against .net core 5?

[2020-11-14 16:51] hishamco commented on #7629
Oh really, I though you can, thanks for the confirmation :(

[2020-11-14 17:26] lahma commented on #7617
Yeah basically Fluid and others which rely on MyGet just skip publishing symbols against MyGet (non-release branch build). Downside is not getting the symbols of course but I'd consider NuGet main distribution medium and even then knowing how to take advantage of symbols requires a bit more effort anyway.

Here's the [Fluid PR](https://github.com/sebastienros/fluid/pull/213/files) for reference, m

[2020-11-14 17:55] jardg commented on #7629
Sorry for the inconvenience. Reported the issue on OpenIdDict https://github.com/openiddict/openiddict-core/issues/1164

[2020-11-14 18:36] Skrypt commented on #7632
This would require a modal to open up with a list of content items (filtered by content types allowed on the ListPart) and also excluding the current content items added in the current displayed list. Then with a table header which would allow to select all items in that content items list and a checkbox on each of the items to cherry pick one or multiple of them ...

This list of content items sh

[2020-11-14 21:12] Skrypt commented on #7633
By design. Solution is to make everyone use the content definition stored in the database. Or update your ContentDefinition.json.

[2020-11-14 21:43] Skrypt commented on #7628
I think the "virtual media library" has been removed in OC because we did not want it to have a dependency on the SQL storage. Doing this also has it's own flaws. One that comes to my mind is that it is quite a lot less performant than using the storage directly. If some media items should not be renamed then I suggest using the Attached Media field which will store medias in a "managed" folder. W

[2020-11-15 01:59] Skrypt opened #7638 "CI - Can't merge PR if only documentation is modified"
Should at least return a succesfull build so that we can squash/merge the PR.

[2020-11-15 13:26] Tsjerno commented on #6364
Added some code to fix the issues
See https://github.com/OrchardCMS/OrchardCore/pull/7646

[2020-11-15 13:41] #7377 closed

[2020-11-15 14:06] MikeKry commented on #7633
@Skrypt

Ok, so it is not possible to show at least some more user friendly error? E.g. "Could not parse content definition for Blog content type"?

Because json representation has its advantages over storing configuration in DB (e.g. versioning, management in other editors etc.)

[2020-11-15 14:48] Sherif-Ahmed opened #7648 "Limit serving static files to enabled modules only?"
Right now, if I have a disabled (not enabled) module, I can serve the static files related to it?
Is this the intended behavior?
It would be nice to limit the static files to enabled modules only.

[2020-11-15 17:29] draxtor opened #7649 "Content localization within decoupled website"
Hello,
I've created decoupled website using Asp.Net Core 3.1
I'm using orchard core nugets:
![image](https://user-images.githubusercontent.com/3110724/99191743-f4178500-276e-11eb-9b90-8dab654cf959.png)
2 abstraction nugets I've installed out of despair, I don't know what they do I was looking for ILocalizationService which is mentioned on the internet somewhere.

I turned on all localization featu

[2020-11-15 17:45] deanmarcussen commented on #7633
https://docs.orchardcore.net/en/dev/docs/guides/content-definitions/

[2020-11-15 17:59] Skrypt commented on #7633
@MikeKry Yes, of course, eventually a more user friendly error message could be considered. Though it is not an issue as it would also throw an exception like it already does. To fix your issue you need to use properly the ContentDefinition.json file (I think you understand that part). Then, the remaining is not a priority and will land in the backlog tasks.

[2020-11-15 17:59] hishamco commented on #7649
Try to install Content Localization module if you interested in localizable content items

[2020-11-15 18:00] #7649 closed

[2020-11-15 19:17] MarcBruins opened #7650 "Unable to use MVC in orchard framework application"
It seems that orchard is not finished setting up the shellsettings for the tenants before the view is rendered.
I've adjusted the `multitenantapplication` in the [Orchard.Samples](https://github.com/OrchardCMS/OrchardCore.Samples) to a MVC example.

To enable it, i took the following steps:

- Add `services.AddMvc` to the startup ConfigureServices(this is a different on then the AddMvc from orchar

[2020-11-15 20:24] Tsjerno commented on #1981
I will add the scopes, working on improvements of openID

[2020-11-15 21:28] Tsjerno commented on #1981
How to deal with the standard scopes like email, roles? Changing the code, breaks my current applications where these scopes are used. Or does everyone needs to add this scopes manually to the scopes list?

[2020-11-15 21:50] kevinchalet commented on #1981
Standard scopes can be created using the scopes controller. OpenIddict itself doesn't make any difference between "custom" scopes and "standard" ones, except `openid` and `offline_access`, that are a bit special.

[2020-11-16 00:54] kevinchalet commented on #7629
To fix that, we had to remove localized error descriptions from OpenIddict 3.0 rc1. We'll need to do a similar thing with the error returned by `AccessController.cs` when migrating to 3.0 rc1.

Was the master branch updated to use the 5.0 .NET SDK?

[2020-11-16 02:39] Skrypt opened #7651 "Docker Buildkit : Tracking feature"
Our CI could make use eventually of either Buildkit or buildx feature in Github Actions.
Here is the issue to track for this feature :

https://github.com/microsoft/Windows-Containers/issues/34

[2020-11-16 07:41] scleaver opened #7652 "Version of AssetUrl within OrchardHelper for non-image assets"
Need a helper extension equivalent of AssetUrl but for non-image assets mike PDFs and such so they don't unnecessarily get a token added to thier url. Would be good to include the option to append version.

Not sure what to call it... AssetUrl would have been good and then use ImageUrl specifically for images but bit late to change :)  - maybe MediaUrl.

[2020-11-16 09:24] niranjankala opened #7654 "Unable to build dev branch with VS 2019 16.9.0 Preview 1.0"
Microsoft Visual Studio Enterprise 2019 Preview
Version 16.9.0 Preview 1.0
VisualStudio.16.Preview/16.9.0-pre.1.0+30709.64
Microsoft .NET Framework
Version 4.8.04084
Installed Version: Enterprise

**Errors:**
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0579	Duplicate 'System.Reflection.AssemblyVersionAttribute' attribute	OrchardCore.Media.Core	D:\DevWorkSpaces\GitHub\Orch

[2020-11-16 09:33] agriffard commented on #7654
A recent fix moved the OrchardCore.Media folder one level upper.
You must have kept an old folder like this: `src\OrchardCore.Modules\OrchardCore.Media\OrchardCore.Media\bin\` => Delete it.

[2020-11-16 10:33] mahyarmot opened #7656 "Upgrading from Orchard V. 1.9.2 to Orchard Core"
Hi, we do have a running website on Orchard v. 1.9.2 and we are not trying to consider if we can upgrade it or not. According to the project docs, roadmaps and issues, I couldn't find responses to my questions below:

1- Is it possible to upgrade the site to the latest Core version?
2- Will Orchard CMS continue and other new versions be released?

Thanks

[2020-11-16 11:38] Flarescape commented on #7656
For question 1:
No! There is no simple way to upgrade a O1 to a OC website.
It's because the modules wouldn't work anymore simply because of .NET Core and a completely different architecture of OC Modules itself.
Further the complete DB changed and the Layout Editor is no longer existing in the way O1 has it.

For question 2:
I don't know the exact developement plans for O1 but i guess that there

[2020-11-16 11:49] mahyarmot commented on #7656
Many thanks, @Flarescape. Marked as Closed.

[2020-11-16 11:49] #7656 closed

[2020-11-16 11:52] Flarescape opened #7657 "WebP: Upgrade SixLabors.ImageSharp and add WebP support to config"
Because WebP image format is a big performance boost and becoming more and more of a default image format in browsers, i followed SixLabors in the process to integrade WebP support in their project.
As you can see here: https://github.com/SixLabors/ImageSharp/pull/1271

Since yesterday there is a first version of WebP suppport that should be merged in the master soon(or it is already).
It's marked

[2020-11-16 13:10] MarcBruins commented on #7650
Is there a workaround somebody can think of? Maybe bootstrap the shellsettings initilization earlier or manually to force in the controller to be ready before the view is rendered?

I would also like to contribute to orchard, but this seems to be targetting orchardcore at the heart which is a bit much for a first step.

[2020-11-16 13:14] jagbarcelo opened #7658 "How to retrive the final url in a custom Pager_Next_Link.liquid file?"
I'm trying to implement the `https://schema.org/SiteNavigationElement` into my theme (i.e. structured data, or microdata) and so I'm trying to customise the Pager shape into something a little more complex.

So far I have a `ListPart.liquid` file which starts with this:

[code]

At a second level, I have created a `Pager_Next.liquid` file (and `Pager_Previous.liquid` too, which is basically the sa

[2020-11-16 13:34] craftyweb commented on #7526
@deanmarcussen Thanks! this works very well. Closing this now.

[2020-11-16 13:34] #7526 closed

[2020-11-16 14:15] Flarescape commented on #7632
I've had a much "bigger" problem with this behavior.
When you delete a blog with blog posts, the blog is deleted but the blog posts not.
If you want to create a new blog and try to add a blog post with the same url as one of the blog posts from the old blog, it's not possible because "a content item with the same link already exists", and it's not possible to delete the old blog post through the U

[2020-11-16 14:17] deanmarcussen commented on #7657
Thats exciting @Flarescape I've been looking forward to that pr for sometime as well.

It's not merged yet, so please report back here when it is merged.

In terms of updating Orchard Core, we'll have to wait for a full release to NuGet

But when it is merged you should be able to get it from the ImageSharp myget feed https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp

I don't

[2020-11-16 14:18] MarcBruins commented on #7650
So i've found out that the shellsettings are not loaded at all for the default tenant even when the view loading is done later in the process. I've did a task run with a delay for 10 seconds on returning the view to see if the shellsettings were loaded, they were not.

It is however loading if i go the specific tenant page. It is however only loading the settings for that tenant(which is probably

[2020-11-16 14:20] agriffard commented on #7632
You can check `Listable` in the Blog Post Content definition and you will be able to list and delete them.

[2020-11-16 14:28] deanmarcussen commented on #7650
@MarcBruins I think the problem is probably with your service registration.

But the link to the samples project you attached above doesn't seem to have any commits in it, so it's hard to suggest your exact issue.

Can you commit something on a branch there, so that it is visible what issue you are struggling with?

[2020-11-16 14:36] jptissot opened #7661 "Publish Draft action does not update Generated Title"
Maybe this is the correct behavior. I noticed that using the "Publish Draft" action will not trigger an update to the Title when generated using a pattern.

[2020-11-16 14:44] #7638 closed

[2020-11-16 14:55] MarcBruins commented on #7650
Oh sorry forgot to push the commit, now it's available(Commit is here: https://github.com/MarcBruins/OrchardCore.Samples/commit/be58609557a2e1c1776d5d058ab27a0bddf719f5)

[2020-11-16 15:36] Flarescape commented on #7632
@agriffard Oh ok, thank you for this tip.
I thought that they would still not show in the overview because they only exist in the "scope" of the blog content item.

[2020-11-16 15:50] #7654 closed

[2020-11-16 17:08] deanmarcussen commented on #7395
Fixed by https://github.com/OrchardCMS/OrchardCore/pull/7468

[2020-11-16 17:08] #7395 closed

[2020-11-16 17:09] #7514 closed

[2020-11-16 17:10] deanmarcussen commented on #7633
Duplicate https://github.com/OrchardCMS/OrchardCore/issues/6751

Closing this as we have too many issues trying to track the same thing, and the design is on https://github.com/OrchardCMS/OrchardCore/issues/6751

[2020-11-16 17:10] #7633 closed

[2020-11-16 17:10] deanmarcussen commented on #7541
Duplicate https://github.com/OrchardCMS/OrchardCore/issues/6751

Closing as the other issue has been designed.

[2020-11-16 17:10] #7541 closed

[2020-11-16 18:43] sebastienros commented on #7514
I have this image, the current crosshair doesn't work

![image](https://user-images.githubusercontent.com/1165805/99294202-992a7000-27f8-11eb-9db5-2fe9e242ceca.png)

[2020-11-16 18:46] jptissot opened #7663 "Placement issue with validation"
I have placed fields / parts in different tabs like this.
![image](https://user-images.githubusercontent.com/4681586/99294336-eff07380-2811-11eb-8d03-9121eb711040.png)
![image](https://user-images.githubusercontent.com/4681586/99294373-fbdc3580-2811-11eb-88a1-dcd0a4e38dc5.png)

Some of the fields are marked as required. If I save the form without filling the fields, the placement is broken like th

[2020-11-16 18:51] agriffard commented on #7514
I suggest to use this image:

![image](https://user-images.githubusercontent.com/703248/99294968-17146880-2845-11eb-9149-bec87d68cd28.png)

[2020-11-16 18:55] Skrypt commented on #7658
Url's are generated from inside the Shape render itself there is not "getter" for them as of now.
I think it would be simpler if you could simply pass attributes when creating the Pager shape.

[2020-11-16 18:59] Skrypt commented on #7514
And the week is only starting 🤣

[2020-11-16 19:01] Skrypt commented on #7661
It should

[2020-11-16 19:06] Skrypt commented on #7663
Should be easy fix

[2020-11-16 19:21] jagbarcelo commented on #7658
I tried that in the first place, but since there is no way to add extra tags such as `<span itemprop="name">` I decided to go this way. It seems it's a dead end too. I think that if custom shapes are available, they should provide all the "getters" down the way until the deeper/final tag is reached.
Any workarounds or should I give up completely on my attempt to achieve this?

[2020-11-16 19:22] MarcBruins commented on #7650
@deanmarcussen as you can see not much has changed only the steps i described in the initial post.There is no other service being registrated then `AddOrchardCore().AddMvc().WithTenats()` and a `AddMvc()` call.

[2020-11-16 20:17] Skrypt commented on #7658
Try with {% shape_type Model "Pager_Next" %}

[2020-11-16 20:20] Skrypt commented on #7658
Pager_Next_Link is not an internal shape. Try with Pager_Link instead.

[2020-11-16 20:26] deanmarcussen commented on #7663
Should be an easy pr for you then @skrypt ;)

[2020-11-16 20:34] Skrypt commented on #7663
I'm sure you can fix this faster than me. But looks like when the Validation fails it returns the entire BuildEditor Shape without building the tabs. Maybe it is more complex than I think it is. But normally should be just about moving some code lines around.

[2020-11-16 21:00] deanmarcussen commented on #7663
Bit of cut n paste then 👍

[2020-11-16 21:20] jagbarcelo commented on #7658
Now we have this:
![image](https://user-images.githubusercontent.com/6704109/99308994-0f5ebf00-2859-11eb-8e8f-01fc3fdcd062.png)
![image](https://user-images.githubusercontent.com/6704109/99309042-20a7cb80-2859-11eb-88e0-0a5409f209c5.png)
In the `Pager_Link.liquid` file I've inserted a `<pre>` to dump the whole json of the Model, but the output of that piece is just a group of empty braces:
`[[]]`

[2020-11-16 21:48] sebastienros commented on #7638
I think we should remove the mandatory checks then, and re-introduce the list of files that don't trigger a build.

[2020-11-16 22:00] jtkech opened #7664 "Autoroute Document Atomicity and Size"
- Updating any content item (with an autoroute) also update the same shared `AutorouteDocument`, **so here atomicity is important**, locally and across running instances.

- For the same reason the `AutorouteDocument` **may become too big, and then saving a content item may be too long**, e.g. with one million of content items, updating only one content item would take around one minute.

[2020-11-16 22:30] Skrypt commented on #7658
Okay I will need to try and debug this.

[2020-11-17 00:31] issue-media-group opened #7665 "/api/lucene/documents endpoint fails when a TaxonomyField is part of a ContentType"
To replicate:

1. Import the attached recipe whichcreates content types for "Tag", "Article Type", "Test Lucene API"

https://localhost:5001/api/lucene/documents?indexName=Articles&query={%20%22query%22:%20{%20%22match_all%22:%20{}%20}%20}

[2020-11-17 05:20] jtkech commented on #7650
Quite all the things are executed in a tenant container composed of modules / features (we have at least a `Default` tenant), so quite all registrations / pipeline configs need to be done in the context of a tenant, as done by a module / feature startup when it is enabled. The application behaves as a module whose features are always enabled, we have helpers to register / config things from the ap

[2020-11-17 08:43] Skrypt commented on #7658
Okay this probably currently only works with Pager and not PagerSlim. I'm debugging this right now and it will surely require some more development to make alternate templates work.

[2020-11-17 11:23] Flarescape commented on #7657
Perfect, thank you!
I'll do that. 👍

As i've read in the thread around the pr, the feature will be optional because it's in an "experimental" state, so i think it maybe needs a explicit config in MediaImageSharpConfiguration.cs to use it.
But let's see when it's officially merged!

[2020-11-17 12:56] vitalybrandes opened #7668 "Creating content type from code, Field WithDisplayName is not defined"
Creating Content type and parts from the code

[code]

The conent type created but, instead DispalyName i get "TextField"
As well the  .Listable() .Versionable() .Creatable()  .Securable() not checked

![image](https://user-images.githubusercontent.com/61165619/99392795-f7cd1800-28e4-11eb-9b35-d85ecf117c02.png)

I am creating different content type from different modules,
for test i combine all in

[2020-11-17 14:11] jptissot opened #7669 "CustomUserSettings not accessible in liquid"
According to the docs, accessing the UserProfile content type with a CustomUserSettings steretotype should be possible by using the following line : `{{ User.Properties.UserProfile.Content.UserProfile.FirstName.Text }}` But this does not work.

I think the issue is that only the `HttpContext.User` is loaded and not the user entity.

/cc @deanmarcussen

[2020-11-17 14:23] deanmarcussen commented on #7669
That is quite right and correct @jptissot and the docs are wrong.

It should be
`{{ theUser.Properties.UserProfile.Content.UserProfile.FirstName.Text }}`

where we are assuming `theUser` is part of a user workflow event.

Can you update the docs?

If you want the `FirstName` property in the claims have a look at the `OrchardCore.Demo` project example claims factory.

And write a guide ;)

[2020-11-17 14:30] jptissot commented on #7669
Thanks for the answer! I will make a liquid filter to load user's properties in liquid pages.

[2020-11-17 14:32] DannyT commented on #4418
@leonardder You can have a look at this: https://github.com/DannyT/DannyT.OrchardCoreMigrator

But to be honest I've not touched it since and it wasn't the finest code in the first place. I do intend to pick it back up and get my neglected blog over to OC eventually though....

[2020-11-17 14:32] deanmarcussen commented on #7669
Claims! don't load it from the db. inject it into the claims

[2020-11-17 14:55] deanmarcussen commented on #7669
@MichaelPetrinolis reaching out for some advice.

We have a new feature for creating custom user properties from content types, but no way to map them to a user claim without implementing a custom claims factory, i.e. as per `DemoUserClaimsPrincipalFactory`.

I know you wrote a script option for the external login providers, to assist with claims etc.

What do you think about a hook in the `Defaul

[2020-11-17 15:56] jptissot commented on #7669
Let's start a separate issue(s) for the Claims mapping. For now, I added a user_properties filter that exposes the User.Properties dictionary in liquid

[2020-11-17 15:57] jptissot opened #7671 "Map claims to CustomUserSettings"
From the discussion started here:
https://github.com/OrchardCMS/OrchardCore/issues/7669#issuecomment-728981913

@MichaelPetrinolis reaching out for some advice.

We have a new feature for creating custom user properties from content types, but no way to map them to a user claim without implementing a custom claims factory, i.e. as per DemoUserClaimsPrincipalFactory.

I know you wrote a script opti

[2020-11-18 01:03] #7629 closed

[2020-11-18 05:03] jtkech commented on #7668
Does your module manifest file define a dependency on `OrchardCore.ContentTypes`?

[2020-11-18 05:10] #7663 closed

[2020-11-18 06:19] Skrypt commented on #7658
Ok I sorted this out. A Pager_Link output as a TagBuilder not a Shape. This is why you get nothing from your Pager_Link.liquid file. If you want to understand why ; look at ActionLink Shape.

I've fixed the Shape alternates but it would require a refactoring of the ActionLink to return a Shape if we would want to customize them. That's a lot of work for just adding a `<span>`. Can I know why you r

[2020-11-18 06:46] jagbarcelo commented on #7658
Yes, this is just SEO. An `itemtype="http://schema.org/SiteNavigationElement"` (see https://schema.org/SiteNavigationElement) can have a chiild `itemprop="url"` (being of type https://schema.org/URL). After checking again these pages for more examples (and others sources) it might be unnecessary to have a third level (which made a third tag needed, thus I picked the `<span>` tag for being dummy/un

[2020-11-18 07:01] Skrypt commented on #7658
Remember that in the documentation they say that if you want to have a Shape alternate you must use the PagerId parameter of the Pager or PagerSlim shapes.

[2020-11-18 07:05] Skrypt commented on #7658
SEO on the Pager remains a task to do. I added some way to make links to be nofollow but there is many ways to achieve proper SEO on those pagers. I keep a note that a SiteNavigationElement could be something we add by default eventually.

[2020-11-18 07:14] MichaelPetrinolis commented on #7671
@jptissot you can extend the IExternalLoginEventHandler with an UpdateProfile method that returns a JSON object and has the same parameters as GenerateUserName. Then in UsersController, where we update the roles, we could also merge this JSON object to the UserProfile and save it. Just use the same logic regarding priority of the admin panel script and a registered handler through a module.

@dean

[2020-11-18 07:19] Skrypt commented on #7671
Question I've had is. Is it a common thing to add every User properties to Claims? Example, would an address or phone number would make sense to be kept inside a Claim?

[2020-11-18 08:02] MichaelPetrinolis commented on #7671
The application should add claims that are needed to validate/identify the user. There should be a UserProfileService to retrieve the extra data. Like OpenId Connect. There is the id_token that when requested has user claims, and there is the userinfo endpoint to obtain user information through the access_token.

[2020-11-18 08:16] jagbarcelo commented on #7658
It works now. Not having to add a third level (with the `<span>` tag), made it much simpler because we didn't have to create a `Pager_Link.liquid` at all (thus, use the default OC shape). The final result (as a reference for anyone in the future) is this:

**ListPart.liquid**
[code]

**Pager_Next.liquid**
[code]

**Pager_Previous.liquid**
[code]

And that's it.

PS: This simpler scenario even work

[2020-11-18 08:18] Skrypt commented on #7671
So it makes a Query to some persistency storage "And/or a cached dictionnary" every time right?

[2020-11-18 08:25] Skrypt commented on #7658
I'd need to try the exact same thing that you did there. I tried with the Blog List and I was not able to use Pager_Next.liquid at all. I need to check what we do in the List module. Really feels not consistent from one place to an other.

[2020-11-18 08:29] jagbarcelo commented on #7658
Yes, we did not want different Pagers for each ContentType, so we went directly into creating a global `ListPart.liquid` file, that I we assumed would apply for every 'listable' content type.

[2020-11-18 09:20] #7652 closed

[2020-11-18 09:21] vitalybrandes commented on #7668
Nope,
but this feature enabled in the system by recipe.

[2020-11-18 10:44] 4m-world commented on #7600
After investigating further into the case it appears there is an issue with query output when I tried to perform it from the Term or TermItem template.

I ran the query inside a custom liquid page the content retrieved correctly and rendered correctly.

I do not know shall I keep this ticket open or close?!

[2020-11-18 10:57] hung-doan commented on #6725
@sebastienros I used the `_session.Cancel()` as a work around and found 2 issues:
1. I received two notification: one is the default success message; one for my custom error message.
=> Which cause the confusion to users.
Is there any way to only show my error notification ?.

![image](https://user-images.githubusercontent.com/11371581/99521028-764db680-29c6-11eb-8b85-20a54f9cc6ad.png)

2. `_sessi

[2020-11-18 12:20] jptissot commented on #7625
@agriffard should the editor display the toobar when in full screen mode ?

[2020-11-18 12:27] agriffard commented on #7625
Yes, it should:
https://simplemde.com/

[2020-11-18 12:32] hishamco commented on #7625
@jptissot I will have a look

[2020-11-18 12:59] mariojsnunes commented on #7628
Yeah I undestand the performance implications. And I agree OC shouldn't have this enabled by default.
I wouldn't mind having this implementation on my codebase, or maybe it could even be another OC module.
I'll try my hand at it, then share the code for a possible OC module.
Thanks for the inputs 👍

[2020-11-18 13:32] kevinchalet commented on #7671
@kevinchalet ?

Great idea! While we're at it, we'll likely want a similar thing to determine what claims should go in the access tokens. Or maybe it should be a single script returning the list of destinations for each claim? (id_token, id_token AND access_token, access_token or nothing).

[2020-11-18 14:01] KannanKrish opened #7680 "Issue on Localization"
I followed the setup https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-5.0

I have asp.net core 5 projects. In all module, I want to use RESX localization functionality.  How to setup?

But not working. How to resolve this issue.

[2020-11-18 14:04] jptissot commented on #7625
Reopening because the toolbar should be displayed in full screen mode

[2020-11-18 14:14] SteeveDumais commented on #7533
I found the issue we were calling RetrieveFileStreamAsync.  This was the call that was locking the file.  I modified the call to close the stream and now everything works

[2020-11-18 14:14] #7533 closed

[2020-11-18 14:33] jtkech commented on #7668
Yes but maybe not in the right order, a module A having a dependency on a module B ensures e.g. that services registrations of the module B are executed before module A, that handlers / drivers of module B run first, that shape templates of module A have an higher precedence, and so on. And, maybe related to this issue, that migrations of module B run before migrations of module A

[2020-11-18 14:48] jtkech commented on #6725
We have some helpers that we already use in some places, allowing to execute things through delegates, but only if the session was not canceled, and moreover only if the session was committed sucessfully. There are useful when doing things not directly related to the ambient session, but still correlated to a content item being updated, as in your case ;)

We already added recently this pattern in

[2020-11-18 16:14] sebastienros commented on #7533
@SteeveDumais so this one in a module of yours?

[2020-11-18 16:38] PiemP opened #7681 "PagerShapes KeyNotFoundException"
Hello guys,

Today, when I try to understand why a button is not translated, I have found this on my log file:
[code]
The problem coming from thi line of code:
[code]

I could make a PR about it and replace `Properties` with `TryGetValue` on the `PagerShapes.cs` file.
Thank you.

[2020-11-18 16:42] Skrypt commented on #7681
Ok we face some NRE's here when we want to make alternates working back. I did change that code last night and it should be working because I reverted it to what it was before. The TryGetValue here will fail because on line 125 we get the entire Shape and not just Shape.Pager. I will try to fix this today again.

[2020-11-18 17:07] Skrypt commented on #7681
Ok I just tried and everything works fine with Pager and PagerSlim. Though, did you create a Pager-CurrentPage.liquid file in a theme or somewhere?

[2020-11-18 17:09] PiemP commented on #7681
No, I'm only list some content items in the backend

[2020-11-18 17:12] Skrypt commented on #7681
Clean your logs and try to go to the Blog page and Content Item page in the admin. Blog will use PagerSlim and Content Item will use full Pager. If you still get the log entry let me know. But first merge latest dev.

[2020-11-18 17:27] PiemP commented on #7681
Seems all ok!
Thank you @Skrypt

[2020-11-18 17:28] #7681 closed

[2020-11-18 21:35] #7680 closed

[2020-11-18 21:42] hishamco commented on #7625
Ok it's in my plate ;)

[2020-11-19 05:09] #7239 closed

[2020-11-19 05:23] #7658 closed

[2020-11-19 05:40] Skrypt commented on #6770
Should we close this one if functional test works fine on the CI? I assume that the issue comes from a custom IndexProvider since the table concerned is "exam" and we don't have this in OC. Looks like a failed migration that happened.

[2020-11-19 05:51] Skrypt commented on #2609
There are enhancements coming in but at least it works, so remaining can be done later on.

[2020-11-19 05:51] #2609 closed

[2020-11-19 05:55] #6770 closed

[2020-11-19 06:01] Skrypt commented on #7081
Not sure why this is assigned to 1.0. I just wanted to document my experience with Ubuntu desktop here. I'm not sure this is worth creating a documentation for this as this information could change over time.

[2020-11-19 07:30] scleaver opened #7686 "Permissons changes after recent update"
I recently updated an OC site form RC2 to close to the current dev release. After the update a content manager with the role of "editor" emailed me to say they can only see 4 of the 25 pages in the system.

I am wondering if there have been some permission changes that did not have a proper migrations execution... looks like might be related to this permission "List content item(s) owned by all us

[2020-11-19 07:57] deanmarcussen commented on #7686
Permission changes, i.e. the default stereotypes applied to roles, only get applied when the module is activated.

So new permissions,  applied to a `GetDefaultStereotypes`, do not get applied to old sites.

None of the changes we've done recently to permissions were applied via a migration, so yes that explains the issue.

See the `RoleUpdater : IFeatureEventHandler` to understand.

We might want

[2020-11-19 08:22] juchom opened #7687 "Issue using AAD for authentication and Orchard for authorization"
Hello,

I followed this documentation [Use Azure AD as an external identity provider](https://docs.orchardcore.net/en/dev/docs/guides/azuread-integration/)

My user can login and are created with the script in the doc:

[code]

Now, if I try to add some Roles to my user I have the error below, because the user doesn't have an email.

![image](https://user-images.githubusercontent.com/17902415/9963

[2020-11-19 14:43] jptissot commented on #7687
You need to expose the Email claim in your Azure AD app integration. That way, the email is automatically populated.

[2020-11-19 15:30] juchom commented on #7687
The problem is not with the email, it populates well the Username with the script just above.

The probem is that the script only populate the username and not the email.

And in order to be able to assign roles to my user the email address is a required field.

I'm not sure, if this is a bug of the Users module because email field is optional in case of external provider or an error in the docume

[2020-11-19 15:57] jptissot commented on #7687
Make sure you have checked these settings in the User Registration Settings page. This will map the email properly.
![image](https://user-images.githubusercontent.com/4681586/99690223-e7887a80-2a55-11eb-8b08-7ed9085326f1.png)

[2020-11-19 16:37] juchom commented on #7687
The script only map the mail address to this UserName field ->  context.userName = claim.value;

Not to the email field

[2020-11-19 18:03] jptissot commented on #7687
The "Do not ask email address" checkbox is what I am referring to.

[2020-11-19 18:11] sebastienros commented on #7597
By design

[2020-11-19 18:11] #7597 closed

[2020-11-19 18:13] sebastienros commented on #7611
I believe that your json is wrong on line 164, position 16 ;)

Check for a property name with a "," in it

[2020-11-19 18:13] #7611 closed

[2020-11-19 18:14] #7608 closed

[2020-11-19 18:17] jptissot opened #7691 "Database connection strings should be not be displayed in the admin"
When a connection string is defined in an environment variable, the value is displayed in the Tenants creation page.

[code]
![image](https://user-images.githubusercontent.com/4681586/99706688-70f57800-2a69-11eb-8091-fa32ca570bbc.png)

Connection strings should not be displayed if coming from an environment variable.

[2020-11-19 18:20] sebastienros commented on #7603
We need to use SuperUser  in this case

[2020-11-19 18:22] sebastienros commented on #7598
Honestly I don't think anyone has ever tried it. I was even for removing this, or at least moving the field to somewhere less visible. If you think you can fix it please provide a PR, and if you can contribute a little bit of documentation that would help. Thanks.

[2020-11-19 18:27] sebastienros commented on #7623
Fix the recipe handler custom script substitution. Something that looks for `[ js :` by looking for the first thing that is not `Char.IsLetter` and it should be a `:`. If not, then don't do any substitution.

[2020-11-19 18:46] sebastienros commented on #7622
Looks like the Roles module also needs to register `services.TryAddSingleton<ILookupNormalizer, UpperInvariantLookupNormalizer>();` like the Users module is doing.

[2020-11-19 18:48] #7559 closed

[2020-11-19 19:43] agriffard commented on #6926
@jtkech Does this mean it will only be fixed when we switch to 5.0?

[2020-11-19 20:04] MichaelPetrinolis commented on #7687
The script is for setting the username. Use the log() function in the script and check if a claim for email is retrieved. the upn stands for User Principal Name and not the email. It might be a bug that introduced later. The "Do not ask email address" does not ask user for the email if there is an email claim, otherwise it should not create the user, as the email field is mandatory.

[2020-11-19 21:15] hishamco commented on #7691
I think there's an eye icon if I remembered to hide the connection string value

[2020-11-19 21:39] Skrypt commented on #7691
Yeah but you should not see it at all

[2020-11-19 22:48] hishamco commented on #7691
Ya but you could toggle it

[2020-11-19 23:05] jptissot commented on #7691
No they should not appear. It's a security issue

[2020-11-19 23:14] hishamco commented on #7691
But this may lead to a typo which will break the installation, unless we did a quick connection test to ensure that the connection will break the installation process

[2020-11-20 00:39] jtkech commented on #6926
Yes, or before but by using an opt-in switch

[2020-11-20 01:55] scleaver commented on #7686
It was an easy fix - Just tick `Allow` for the role on `List content item(s) owned by all users` of the `OrchardCore.Contents Feature`. I might keep this open as it probably should be addressed for all those migrating from release candidate 2.

[2020-11-20 02:30] Skrypt commented on #7686
Yes, we added this permission because it totally makes sense to restrict users to only see their own content. They probably can see now the other content items, but that doesn't mean they will be able to edit them unless they have the permission now.

[2020-11-20 02:40] Skrypt commented on #7691
Testing connectionStrings, I think, is a different topic.

[2020-11-20 02:46] hishamco commented on #7691
So if I made a mistake accidently while I'm writing the connection string the installation will be broken, can you tell me know how we can resolve this issue while the connection is hidden?!!

[2020-11-20 04:05] Skrypt commented on #7691
If you explicitly added the connectionstring to the appsetting.json file then I assume that you know what you are doing. The idea is that if someone adds a connectionstring there, that's because he doesn't want it to be configurable per tenant.

[2020-11-20 05:56] webmedia1012 opened #7694 "Container in storage is not showing the uploaded media"
Just a question as to why the container on my storage Azure is not automatically uploading the image from /media/, I've setup the azure CDN enabled on cms admin, and made the json settings based on what's on the documentation. I placed the appsettings.json under the app_data/sites/default folder is this the correct location to place those settings? ie..

[code]

Thank you guys as always.

[2020-11-20 06:30] Skrypt commented on #7694
Technically the App_Data/Site/TenantName/Media folder is now replaced with your Azure Blob Storage. So it's not going to synchronize it even if physically the medias are there. You need to upload these images on the blob storage by yourself.

[2020-11-20 09:33] jagbarcelo commented on #3665
I just wanted to throw my two cents on this idea with someting else none of you mentioned. Every http request from the client provides the `Accept-Language` header. Such as, for instance, `Accept-Language: es,es-ES;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6`

Would it be too difficult for the admin pages just to ignore the cookie set at the public website about language and localization
`AspNetCore.Cu

[2020-11-20 10:19] juchom commented on #7687
Thanks for your replies, but I have no issue creating the user, everything is set correctly:

![image](https://user-images.githubusercontent.com/17902415/99788145-f9831f80-2b20-11eb-9cf3-de17e783fa5f.png)

My problem is I can't modify Roles on a User because the email field is mandatory.

If I understand the script, it creates a user with a userName coming from the UPN claim (which is an email add

[2020-11-20 12:13] SteeveDumais commented on #7533
No RetrieveFileStreamAsync is in orchard core we just called from our code, then we closed the file stream in our code and everything seems to work fine

[2020-11-20 12:18] MichaelPetrinolis commented on #7687
It is an email address, but it is not the email claim, that's what @jptissot said and that's why I asked you to dump the received claims.
Ensure the list of claims you receive from AzureAD contains the email claim.

check
https://openid.net/specs/openid-connect-basic-1_0-28.html for email Standard Claim
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19526191-openid-con

[2020-11-20 12:59] juchom commented on #7687
Sorry I didn't get it, so here are the claims I'm receiving:

[code]

You are correct, I'm not receiving the email claim. First problem is here.

Second problem, Orchard did not ask me any email and have created the user.

[2020-11-20 13:23] #7540 closed

[2020-11-20 13:37] rjpowers10 commented on #7538
Obsolete. #7613 removed `IUserService.FindByUsernameOrEmailAsync`.

[2020-11-20 13:37] #7538 closed

[2020-11-20 13:52] MichaelPetrinolis commented on #7687
And this is an issue, it should not create the user.

[2020-11-20 14:24] juchom commented on #7687
For the first problem I can confirm the issue on the doc, it is missing the step to add the optional email claim when creating the AD App.

When the app is adding the email claim, the user is well created, both fields are populated and I can manage the roles from Orchard.

Since there is two issue, do you want to split this issue and create a second one for the second problem?

[2020-11-20 14:32] MichaelPetrinolis commented on #7687
yes please. You can also make a PR for the docs on how you solved the first issue.

[2020-11-20 16:01] juchom opened #7697 "Orchard is not asking for an email when the email claim is not available"
When you use an external provider and configure registration to no ask email address, Orchard is not asking for an email and it create a user without email.

With this configuration

![image](https://user-images.githubusercontent.com/17902415/99820904-aa091780-2b51-11eb-829b-e3b227336ed5.png)

It creates a user like this

![image](https://user-images.githubusercontent.com/17902415/99821119-e89ed20

[2020-11-20 16:22] agriffard opened #7698 "Use nameof in Permission names when possible"
As @kevinchalet did in the OpenId permissions.

Sometimes, the name is not exactly the same than the permission itself.
Ex: `Permission ManageMedia = new Permission("ManageMediaContent")`
https://github.com/OrchardCMS/OrchardCore/blob/b1c7d032f349809e6ae3eb6d60194860f5c680f3/src/OrchardCore.Modules/OrchardCore.Media/Permissions.cs#L10

[2020-11-20 16:53] OrchardSkills opened #7699 "OpenID Connect Module needs a mechanism to save new permissions through a recipe."
New OpenID Connect update has breaking changes.

In the OpenID Connect Module the app details and server settings must be saved manually. It will then add the new permissions. There needs to be a way to add these new settings through the recipe. Documentation is also need to explain these new permissions.

<img width="947" alt="OpenIDConnect-UnauthorizedClient" src="https://user-images.githubuserc

[2020-11-20 17:02] davidhayden opened #7700 "Icon Picker Styling Issue for Admin Menu Items"
If I create a new website from scratch using the Blog Theme and edit the custom Blog Admin Menu item to change its icon, the icons are all black squares.

![icon-picker-issue](https://user-images.githubusercontent.com/96801/99825468-128dcf80-2b25-11eb-982c-88d146d4d228.png)

One can easily fix this by modifying the [admin-menu-icon-picker.css](https://github.com/OrchardCMS/OrchardCore/blob/b1c7d03

[2020-11-20 17:05] #7687 closed

[2020-11-20 17:09] agriffard commented on #7700
This is an optical illusion: Blinking dots at each intersection.

[2020-11-20 17:34] kevinchalet commented on #7699
Permissions are automatically inferred from the enabled flows and there's no plan to make that more configurable in OrchardCore, where such granularity is not needed.

Updates of OpenID recipes will be added as part of https://github.com/OrchardCMS/OrchardCore/pull/7646.

[2020-11-20 17:34] #7699 closed

[2020-11-20 18:06] deanmarcussen commented on #7697
@MichaelPetrinolis worth noting here, that the default `UserValidator` in `Identity` doesn't validate the email address, as part of `Create` etc al, unless the `Identity` option `RequireUniqueEmail` is on.

Not sure where the regression is here, but for infos I am hoping to replace the default validator here https://github.com/OrchardCMS/OrchardCore/pull/7645 forcing the requirement for an email a

[2020-11-20 18:18] Skrypt commented on #3665
Yes, having a separate cookie for admin and frontend is part of the solution. Though, in the admin when we edit/create a content item and we pick a culture from the LocalizationPart, some elements like the Wysiwyg editors needs to take the LocalizationPart.Culture in consideration. So, even if we set a different cookie, here we have exceptions because of the LocalizationPart.

[2020-11-20 18:32] webmedia1012 commented on #7694
@Skrypt thank you sir, after moving the said config to root directory (where startup.cs) is located, everythiing works, please update documentation to explicitly mention where these settings should be, but looks like I was the only one who didn''t get right the first time lol.

Thank you and cheers!!

[2020-11-20 18:32] #7694 closed

[2020-11-20 18:52] #1845 closed

[2020-11-20 19:12] davidhayden opened #7702 "Recipes need to account for AdminUrlPrefix when creating Admin Menus"
The blog theme recipe creates a few admin menu links that don't work if the settings have specified a custom AdminUrlPrefix. This is because "Admin" is hardcoded in the URL. Here is a snippet from the [blog link](https://github.com/OrchardCMS/OrchardCore/blob/df011d387465e352ff86a2da79c678648fb9c766/src/OrchardCore.Themes/TheBlogTheme/Recipes/blog.recipe.json#L1314).

`"LinkUrl": "[js: 'Admin/Cont

[2020-11-20 19:26] Skrypt commented on #7702
This would require that we be able to evaluate current effective appsettings on a tenant returned by the JavaScriptEngine (Jint).

[2020-11-20 20:08] davidhayden commented on #7702
I don't think we need to go as far as exposing appsettings.

We could just provide AdminUrlPrefix or AdminOptions like we do for modules that need to have access to the admin prefix.

[2020-11-20 20:48] Skrypt commented on #7702
That could work.

[2020-11-20 21:32] Flarescape opened #7703 "Workflow: Http Response Task results in blank site if shape_ filters are used"
As the title of this issue already describes, the response of a Http Response Task is empty if i try to use one of the shape filters, like shape_new, shape_render, shape_stringify, etc. even if there is normal and valid text, xml or json around it.
Version: dev

[2020-11-21 05:57] jtkech commented on #7694
@webmedia1012

Just for info, in the appsettings under the tenant folder you should not use the `OrchardCore` section nor a child section with the tenant name e.g. `Default`, as it is a tenant specific config file, so here only the `OrchardCore_Media_Azure` section

[2020-11-21 06:04] jtkech commented on #7700
@agriffard

i didn't see it immediately, but blinking dots at each intersection is amazing ;)

[2020-11-21 06:15] jtkech commented on #7702
@Skrypt @davidhayden

We already have a `ConfigurationMethodProvider` so as i remember maybe we can already use

    "[js:configuration('OrchardCore_Admin').AdminUrlPrefix]"

[2020-11-21 06:18] Skrypt commented on #7702
We could if the setting was always there. The idea is the the AdminOptions defaults to the `/admin` path.

[2020-11-21 06:35] jtkech commented on #7702
Oops okay

Hmm, maybe we could change the `ConfigurationMethodProvider` to do a bind on an object instance, so that, if there is no config, we get the default value that is `Admin`. But not sure we can do that here as we would need a typed object

[2020-11-21 08:41] MarcBruins commented on #7650
Thanks JKTech that indeed helps and i works smoothly now. I've moved the service registration to a tenant level. It is however still a bit confusing for me to know when we are in a tenant context and when not.

What I understand is whenever something is tenant specific use ```  services
            .AddOrchardCore()
            .AddMvc()
            .ConfigureServices(tenantServices =>

[2020-11-21 09:53] jtkech commented on #7650
Most of the things are done in a tenant context, a module startup is executed in the context of a given tenant but only if the module / feature is enabled for this tenant (a module can have multiple startups each tied to a feaure), what is defined from the application with our helpers is also executed in a tenant context, and always executed for each tenant, as a module being always enabled.

We c

[2020-11-21 10:05] deanmarcussen commented on #7508
@nuno-tiago-reis I realised why you're getting the `configuration is not defined` error

Currently it will only work inside the recipe steps section, not the variables section.

I will tweak that, along with the key accessor limitations I already mentioned.

[2020-11-21 11:52] agriffard commented on #7603
I'd like to remind a feature that would be really useful:
Allow to declare parameters from a the setup (like ARM templates) and use them in the recipe.

See also #3966 to use the culture and #495 for a Setup Wizard.

[2020-11-21 16:54] #7508 closed

[2020-11-21 16:56] #7702 closed

[2020-11-21 17:03] #7284 closed

[2020-11-22 09:23] deanmarcussen opened #7710 "Rework docs for configuration method provider"
Regarding pr https://github.com/OrchardCMS/OrchardCore/pull/7706

**So i think that the examples in the doc of the admin prefix value (or default) should be Admin with no leading slash**

I agree @jtkech

[2020-11-22 15:19] 4m-world opened #7711 "Create new user 502 error message"
Today I deployed an OC web site to AccuWebHosting plan, the deployment went fine with some minor fixes related to application startup.

Finally, when the app run and application installation was complete, the following issue did appear when I tried to create a new user account:
- first, the create user screen took very long in the processing, after a while following error message is shown:
[code]

[2020-11-22 17:38] 4m-world opened #7712 "Admin content server side rendering"
I've created a web site that includes a custom content of pages where the web site consist of 14 pages per language (2 languages), while editing the content OC stopped from listing content under contents/uses/taxonomies.  system log showed the following error related to array size under OrchardCore.ResourceManagement\ResourceManager.cs

Noting that all other page elements work normally

[code]

[c

[2020-11-22 19:23] #7710 closed

[2020-11-22 21:34] davidhayden opened #7715 "Do we want important features dependent on shortcodes feature?"
I decided to disable the shortcodes feature on a client website because I wanted to see if it was responsible for mangling sample code in a knowledge base that included brackets ("[" and "]"), only to realize that disabling shortcodes meant I had to disable the Content Fields and HTML features that have a dependency on it.

Is there a reason we have a hard dependency on the nice-to-have shortcodes

[2020-11-22 22:48] Skrypt commented on #7715
I think the best approach to this would be to add something like a `<code>[ something ]</code>`  that would escape the shortcodes to try to render.

[2020-11-22 23:04] MikeAlhayek opened #7717 "NotSupportedException: No IUserTwoFactorTokenProvider<TUser> named 'Default' is registered with .NET 5"
I am trying to use OrchardCore on a .net 5 project outside the CMS. After a user registers I get the following exception

I tried adding the following setting to the startup

[code]
and even tried
[code]

But still get the same problem after the user registers.

I am using `OrchardCore.Application.Mvc.Targets 1.0.0-rc2-15508`

Here is the full stack trace
[code]

[2020-11-22 23:07] EternityTeam opened #7718 "Duplicate event handler"
https://github.com/OrchardCMS/OrchardCore/blob/4ff39ce3b0d818c3bd441797b3fd4a5b90eb2e54/src/OrchardCore.Modules/OrchardCore.Users/Startup.cs#L185 same as line 201

[2020-11-22 23:19] Skrypt commented on #7717
Can't really tell what you did wrong if we don't see your entire code.

[2020-11-23 00:05] CrestApps commented on #7717
@Skrypt  the project can be found here https://github.com/CrestApps/CrestApps.Core

[2020-11-23 01:29] Skrypt commented on #7717
Ok so typically MVC app.

[2020-11-23 05:25] jtkech commented on #7718
@EternityTeam

Good catch! Do you want to provide a PR to fix it?

[2020-11-23 05:51] 4m-world opened #7719 "Deployment to IIS on shared host"
Some lessons learned from deploying an OC project to a shared host that would be great to be included in the deployment docs.

- Add a `web.config` to the project if it does not exist in the project

- Set hosting model to `outofprocess`
- turn on the stdoutlog and make sure that to point to accessible/writable path
- change the process form targeting the out `.exe' file to target `dotnet` and pas

[2020-11-23 06:59] JohnnyZhang0628 opened #7721 "Jquery CDN load failed"
I 'm  .net developer from china. Due to network , CDN scripts can't load success.Please  add a picker in SetUpPage.Thanks

[2020-11-23 06:59] #7718 closed

[2020-11-23 08:18] Skrypt commented on #7721
https://github.com/OrchardCMS/OrchardCore/pull/7707

[2020-11-23 08:24] Skrypt commented on #7721
See
https://github.com/OrchardCMS/OrchardCore/pull/7599
https://github.com/OrchardCMS/OrchardCore/pull/7707

[2020-11-23 08:39] JohnnyZhang0628 commented on #7721
@Skrypt Thanks reply. Besides using `hishamco/use-cdn` branch ,are there other ways?The `dev` branch will consider to add the function?

[2020-11-23 08:46] Skrypt commented on #7721
We will discuss about it this week with @sebastienros
I will try to take some time tomorrow to test the PR and see if everything could work with it.
Yes, it will eventually be merged in the dev branch.
The issue we have with a CDN setting on the setup is that now we need to define if it should be enabled or not by default. Also, it feels like this option should be configurable from the appsettings

[2020-11-23 08:51] JohnnyZhang0628 commented on #7721
@Skrypt Thanks Reply.I looking foward to next version  ASAP.

[2020-11-23 08:54] deanmarcussen commented on #7721
Reopening this as for all the complaints about it, we have no issue tracking it.

workarounds

add this to your startup project.
[code]

or after setup, navigate to
`https://localhost:5001/Admin/Settings/general` and disable the 'Use Framework CDN'`

[2020-11-23 09:10] 4m-world opened #7722 "Queries: SQL Query Limit results in an exception"
When adding "limit" to a SQL query on the production system raise an exception with SQL and MySQL database, I tried to overwrite the query by using SQL `Top` expression but it did not recognize the message

Where a query called from a liquid template.

Note: when I remove the limit from the query it works without problems, except this not the required behaviour

Query v1
[code]

Query v2

[code]
2

[2020-11-23 09:15] JohnnyZhang0628 commented on #7721
@deanmarcussen Thanks.The problem has solved :smiley:.
![image](https://user-images.githubusercontent.com/28375774/99945231-382e0980-2daf-11eb-8339-9bac2677786e.png)

[2020-11-23 10:30] intellimedhu opened #7723 "Update SiteSettings in a job"
`SiteSettings` update doesn't take effect if it's set in a background task (or through an API request). Is it a bug or should I store my custom settings in another record?

[2020-11-23 13:49] 4m-world commented on #7722
**Update: ** the issue take place when calling the query using Queries extension despite the limit parameter set inside the original query or passed as a parameter, while on the other hand, the query run without any problem from the query window.

[2020-11-23 13:55] Skrypt commented on #7722
The number of rows provided for a TOP or FETCH clauses row count parameter must be an integer.

[2020-11-23 16:01] 4m-world commented on #7711
issue related to #7560 and was resolved after updating to the latest OC package

[2020-11-23 16:01] #7711 closed

[2020-11-23 16:03] davidhayden commented on #7715
If it ignored `code` blocks that would certainly help.

I think the problem is bigger though.

I should be able to disable the shortcodes feature without disabling all my CMS editors. If I disable shortcodes, I disable all Content Fields, HtmlBodyPart, MarkdownPart, and possibly other important features.

I should be able to opt-out of shortcode processing in a field, like HTML Sanitizing. This is

[2020-11-23 16:11] deanmarcussen commented on #7715
For infos @davidhayden

The reason we (I) integrated shortcodes, as a non optional feature, was primarily because they provide a default behaviour to include media files into content.

i.e. without them you cannot use media from the media library inside any html content blocks.

To be fair, when we first implemented all we had was the `[image]` tag, which wouldn't mangle other `[` ...

[2020-11-23 16:15] 4m-world commented on #7722
@Skrypt I did pass an integer and I tried to set the limit within the query itself not passing it and it had the same exception, now after updating OC to latest build 15520 the issue resolved for a value stored in the query, however, passed value is not recognized as an integer and raises the same exception.

It worth to mention, that this only took place on the production server and using MS SQL

[2020-11-23 16:24] MarcBruins commented on #7650
Thanks so much, this clears it up for me. 👍

[2020-11-23 16:24] #7650 closed

[2020-11-23 16:36] agriffard commented on #1610
Shell Settings has an Identifier:
https://github.com/OrchardCMS/OrchardCore/blob/efa351a3ebd2cf32a18ca089ffcfa3b8984b902b/src/OrchardCore/OrchardCore.Abstractions/Shell/ShellSettings.cs#L41

Can this be closed @kevinchalet ?

[2020-11-23 16:37] agriffard commented on #6889
Answered.

[2020-11-23 16:37] #6889 closed

[2020-11-23 16:40] kevinchalet commented on #1610
@agriffard looks like it's very recent so I suspect none of the code paths we discussed have been updated to benefit from it. Things like cookie names in the Users module or tenant audiences in the OpenID module would be great candidates.

Also, do we know why a `string` rather than a `GUID`, that would have less encoding implications?

[2020-11-23 16:45] agriffard opened #7727 "Shell Settings and Tenants"
Can we clarify why the tenant informations are stored/accessed with a Class called `ShellSettings`?

Does anything prevent us from naming them `TenantSettings`? Same for all other `Shell...` classes.

That would be clearer for everyone trying to understand how Tenants work.

https://docs.orchardcore.net/en/dev/docs/glossary/#tenant

[2020-11-23 16:50] agriffard commented on #7727
I didn't find any issue raising the question and people are sometimes asking it in the chat.

I was looking at https://www.finbuckle.com/MultiTenant/Docs and their concepts/presentation might be interesting to explore.

[2020-11-23 17:00] davidhayden commented on #7715
Maybe something changed or I'm experiencing something strange @deanmarcussen , because attributes in all sample code are completely swallowed up by the shortcode processor. If I have an attribute in sample code in an HTML Field, like `[HttpGet]`, the shortcode processor removes it completely from the code. In order to display it, I have to escape it as `[[HttpGet]]`, which I shouldn't have to do.

[2020-11-23 17:16] deanmarcussen commented on #7715
I don't think anything has changed @davidhayden - was just explaining why it is not an optional feature.

But what might be a nice feature for @sebastienros shortcodes processor, is to return the value, if there is no shortcode registered against that name - not sure of the practicalities of that within the parser (particularly with the nested examples above)

[2020-11-23 20:10] Skrypt commented on #7722
Ok keeping this issue open for investigation.

[2020-11-23 20:33] Skrypt commented on #7727
This is a discussion I had a while ago with @jtkech and it is named ShellSettings because it comes from 01.
Renaming it might take some time.

[2020-11-24 01:03] HengzheLi commented on #7727
A similar issue about the difference between Shell and Tenant. https://github.com/OrchardCMS/OrchardCore/issues/3969. However it didn't explain every detail, but it still can be a short reference for some one who have a query for Tenant and Shell.

[2020-11-24 01:20] agriffard commented on #7727
@jtkech I f I wanted to create a PR with these changes (renaming ShellSettings into Tenant), would you have some directions to give?

[2020-11-24 02:49] jtkech commented on #7727
@agriffard

I've no closed opinion because I already suggested it => `TenantHost`, `TenantContext`, `TenantScope`, `TenantOptions`, `TenantSettings`, `TenantConfiguration` ... I also suggested to not use the term `Modular` => `ITenantEvents`, `TenantContainerMiddleware`, `TenantRouterMiddleware` ...

But see #5961

[2020-11-24 02:59] jtkech commented on #1610
@kevinchalet @agriffard

I introduced it but not for the same purpose ;) It's not to identify a given tenant, It's for consistency checking when we update its shell settings, so it changes each time we update the shell settings of a given tenant.

                settings = await _shellSettingsManager.LoadSettingsAsync(settings.Name);

                // Consistency: We may have been the last to a

[2020-11-24 07:51] deanmarcussen opened #7731 "Use RenderWhen in some display drivers"
We should update some of the display drivers, particularly the `Add Content to deplyment plan` and other deployment related display drivers

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Contents/Deployment/AddToDeploymentPlan/AddToDeploymentPlanContentDriver.cs

to use the new `RenderWhen` syntax, to do their authorization checks after the shapes are place

[2020-11-24 08:26] #7600 closed

[2020-11-24 09:47] #7727 closed

[2020-11-24 13:44] jptissot commented on #7450
Antoine fixed the exception but this should remain open to find a safer way to pass the settings to the client

[2020-11-24 14:48] kevinchalet commented on #1610
@jtkech hum, then maybe `Version`, `Timestamp` or `ConcurrencyCheck` would have been better names? If we decide to introduce a real ID property later, having both `Id` and `Identifier` will be very confusing.

[2020-11-24 15:45] jeffolmstead opened #7736 "Creating User with Email Confirmed Checked Doesn't Retain Email Confirmed"
When creating a new user, you can check the "Email confirmed" check box (for my example I didn't assign any Roles) and have the "Is Enabled" toggle checked, then upon saving, you will find that it still has the "Send verification email" button and the "Email confirmed" checkbox hasn't been checked.

If you edit the User and check the "Email confirmed" checkbox, then press "Save", it will retain it

[2020-11-24 16:20] #6204 closed

[2020-11-24 16:43] cerveser opened #7737 "Error on setup: InvalidOperationException: Invalid serial number for shell descriptor"
Hi all,
I followed the instructions on: https://docs.orchardcore.net/en/dev/docs/getting-started/
On Visual Studio 2019 using the nuget package: OrchardCore.Application.Cms.Targets 1.0.0-rc2-13450
The database used was MySQL.
I get the error: "InvalidOperationException: Invalid serial number for shell descriptor" after filling in the setup page.

I only managed to fix this by copy pasting the "Dat

[2020-11-24 17:06] PiemP opened #7738 "Content List - delete modal button localization missing"
Hi all,

I have checked the source code on the dev branch and missing the localization of the button in the content item delete modal.

I have a PR ready for it.

[2020-11-24 17:46] jptissot commented on #7737
This usually occurs when something goes wrong during setup. Is there more information in the `App_Data/logs` folder?

[2020-11-24 19:28] cerveser commented on #7737
No that folder doesn't exist. The site works only because I've added the map: DataProtection-Keys from another version to App_Data\Sites\Default

[2020-11-24 19:52] jptissot commented on #7737
You might want to use the latest dev feed to see if the issue is resolved.

[2020-11-24 19:57] 4m-world commented on #7560
After updating to the latest OC 15520 it resolved the issue of the deadlock when creating a new user account, however, now a new issue came up where {{ Model.ContentItem.Owner }} returns a unique identifier in place of the username.

[2020-11-24 20:02] deanmarcussen commented on #7560
That is correct, it is a design change.

[2020-11-24 20:23] cerveser commented on #7737
ok it works when I use 1.0.0-rc2-15525

[2020-11-24 20:24] #7737 closed

[2020-11-24 20:51] deanmarcussen opened #7741 "Update Migrations to use new YesSql syntax"
Update the migrations to use `AlterIndexTable`

Just to ensure that any collections, or naming conventions will be used correctly.

[2020-11-24 23:52] #7738 closed

[2020-11-25 00:07] arkadiuszwojcik commented on #7245
@ns8482e I had this issue using this code directly in my `LiquidPage `Content Definition (simple `LiquidPart `wrapper in my project) so no `FlowPart`, `Layers` were involved. And my `LiquidPage ` is rendered directly in main Layout.

[2020-11-25 01:05] 4m-world commented on #7560
@deanmarcussen  it is an excellent decision, my question now how I retrieve the user information?

[2020-11-25 01:30] jptissot commented on #7560
@4m-world we just merged something this afternoon. See https://docs.orchardcore.net/en/dev/docs/reference/modules/Liquid/#user_id-filter

I will be renaming the https://docs.orchardcore.net/en/dev/docs/reference/modules/Liquid/#get_users-filter shortly

[2020-11-25 01:46] 4m-world commented on #7560
So now to get Content owner it will be something like this?
{% assign user = Model.ContentItem.Owner | get_users %}
{{ user.UserName }}
right?

[2020-11-25 02:11] jptissot commented on #7560
Yes. I just renamed the filter to `users_by_id` but that should work yes :)

[2020-11-25 02:15] jptissot commented on #7669
Closed by #7570

[2020-11-25 02:16] jptissot commented on #7691
Yes, but the exception is usually the "invalid serial for shell" generic message.

[2020-11-25 02:20] Skrypt opened #7743 "Pager : unit tests"
- [ ] Assert that we can create shape alternates with all Pager different shapes (internal or not) ; Pager and PagerSlim

[2020-11-25 02:22] Skrypt commented on #7691
Ok, we should then do a connection test step and throw if it fails before anything.

[2020-11-25 02:31] Skrypt opened #7744 "Github Actions : Use Chrome for functional tests"
![Capture d’écran de 2020-11-24 21-28-06](https://user-images.githubusercontent.com/3228637/100175281-0e064580-2e9c-11eb-9cf7-7d9323ea3598.png)

As you can see here in this screenshot we are using Electron to make our functional tests. We should probably use Chrome to avoid specific exceptions and to cover a wider range of browsers.

/cc @jptissot

[2020-11-25 02:37] Skrypt opened #7746 "Dockerfile: dotnet publish failing"
Update Dockerfile to use latest dotnet SDK 5.0 for building OC.

[2020-11-25 03:05] jptissot commented on #7691
Ok, let's do another issue

[2020-11-25 03:19] #7669 closed

[2020-11-25 03:52] #7744 closed

[2020-11-25 04:05] #7691 closed

[2020-11-25 04:21] #7746 closed

[2020-11-25 05:00] jtkech commented on #1610
@kevinchalet i agree, i will do it

[2020-11-25 05:24] aaronamm opened #7750 "Should we create a new PR to make Orchard support Entity Framework?"
Hello, everyone.

When we want to add a new feature to Orchard website and make it as a new custom module.
Sometime, it is valid to use a traditional relation database system and use Entity Framework as ORM for data access layer.

I am not sure if you like the idea to add a new custom module e.g. OrchardCore.EF to make Orchard supports EF and provide DbContext to other modules or not.

Here is the

[2020-11-25 08:01] hishamco commented on #7750
OC is heavily using YesSQL, but this didn't prevent to explore what you did

Thanks

[2020-11-25 08:08] hishamco commented on #7750
After a quick look seems what you did is `OrchardDbContext` which is a good start, but as I said before OC is heavily using YesSQL, so I will keep this open to hear from others, but if you want to make some progress we can add this to OCC after propose a good design

Feel free to open issue in [OrchardCoreContrib](https://github.com/OrchardCoreContrib/OrchardCoreContrib) if you are interested, bec

[2020-11-25 08:24] SharadKamate opened #7751 "does not implement interface member 'IOpenIddictApplicationManager.CreateAsync(OpenIddictApplicationDescriptor, CancellationToken)'"
This same issue we are facing for multiple interfaces.

[2020-11-25 08:24] chinasqzl opened #7752 "chrome: Bad Request - Request Too Long"
![image](https://user-images.githubusercontent.com/16968103/100201048-815e9480-2f3a-11eb-996a-ba3220d4cbc8.png)

Request Headers :
:authority: localhost:44300
:method: GET
:path: /blog
:scheme: https
accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9
accept-encoding: gzip, deflate, br
accept-language: zh-C

[2020-11-25 08:36] ziyadsv opened #7755 "Create content by using SQL query"
can we create create ContentItemIndex and Documetn by using Sql query?

How the DocumentId and ContentItemIndexId will create by using sql query?

[2020-11-25 08:36] PiemP opened #7756 "Admin menu permission: cannot create and populate list type"
Hi all,

I'm trying to test the permission picker with the admin's menues but I receive this error and I don't understand where it come from:
[code]

[2020-11-25 08:41] PiemP commented on #7756
To repro have to add a permission to a menu item link or placeholder or try to import an Admin's menu recipe.

I'm pretty sure to have tested this situations...I don't know why this happen.

[2020-11-25 08:51] aaronamm commented on #7750
@hishamco Thank you for your suggestion. I will open an issue to [OrchardCoreContrib](https://github.com/OrchardCoreContrib/OrchardCoreContrib).

I hope to hear other people opinion as well. Thanks for keeping this PR open.

[2020-11-25 09:03] deanmarcussen commented on #7751
You will need to upgrade your build SDK to .Net 5.

We are still build an ASP.NET Core 3 runtime, but due to a bug in the v3 SDK the build SDK had to be bumped to 5.

Depending on whether you are using dotnet build or Visual Studio 2019, you will either need to just update the SDK to 5, or update Visual Studio to the latest.

[2020-11-25 09:04] deanmarcussen commented on #7723
Can you share your code. It's possible you are using the incorrect methods for updating.

[2020-11-25 09:54] chinasqzl commented on #7752
After clearing cookies, the problem is solved. How to avoid this problem?

[2020-11-25 10:32] deanmarcussen opened #7758 "Custom cancellation token for deleting media cache files"
Follow up on pr https://github.com/OrchardCMS/OrchardCore/pull/7489

[2020-11-25 11:17] hishamco commented on #7750
Also [this](https://github.com/OrchardCMS/OrchardCore/discussions/7716#discussioncomment-137167) a very good clarification from @jtkech

[2020-11-25 11:33] PiemP commented on #7756
I presume the problem come from the `Permission` (OrchardCore.Infrastructure.Abstractions) class, in the specific for this property:
[code]

[2020-11-25 11:42] #7723 closed

[2020-11-25 12:12] PiemP commented on #7756
Ok,

I can confirm. If I change `ImpliedBy` definition from `IEnumarable<Permission>` to `IList<Permission>` the code return to work. I waiting about your feedback to understand if I can proceed with a PR about it.

[2020-11-25 12:17] jptissot commented on #7755
I don't think you can do this easily at the moment. If you can I don't know how. The issue is that there are many other indexes and yessql is the layer that updates them. I suggest you look into using recipes to create content. Or use an api.

[2020-11-25 12:40] Skrypt commented on #7755
I strongly advise not using directly SQL Queries to create content items. Use the ContentManager else your content items won't be indexed in Lucene. We have Handlers (events) that are executed when someone does ContentManager.Create() ...
Using the REST API will also trigger the event handlers. So, you can use SQL Queries but be aware that some things won't work properly.

[2020-11-25 13:36] deanmarcussen commented on #7756
I think that would be quite a major (hopefully unnecessary change to the interface).

Does the error occur both when
- adding a permission which uses implied by to a menu placeholder
- deserializing during a admin menu recipe?

[2020-11-25 13:39] PiemP commented on #7756
Yes

Yes

[2020-11-25 13:48] deanmarcussen commented on #7758
So I looked at this, but couldn't quite see where a custom cancellation token could be used

[code]

[2020-11-25 13:54] PiemP commented on #7756
I have used the Deployment plan functionality to extract json definition of and admin menu to show the difference between the use of `IEnumerable` in `ImpliedBy`:
[code]
And `IList`:
[code]

[2020-11-25 14:06] NogginBox commented on #7450
@jptissot if this ticket is to remain open, but it has been fixed, can it be moved to a later milestone?

[2020-11-25 14:07] #7504 closed

[2020-11-25 14:16] jptissot commented on #7450
I update the title / description with the two issues. The first issue is resolved but we should still fix the second.

[2020-11-25 14:18] f1software opened #7759 "Dealing with Blocked Third Party Cookies"
How would you build an Orchard Core App that must run in an iframe on another domain and requires authentication and must work with third party cookies blocked?

We've considered adding another path segment to the url to hold the session Id but this means we have to modify every url in all the admin pages. Is there an easy way to do this in Orchard Core?

[2020-11-25 14:29] jtkech commented on #7504
@f1software

`StartupBase` has an `Order` and a `ConfigureOrder` properties that you can override

Try to override the `Order` property with a negative value, start with `-1`

[2020-11-25 16:15] jtkech commented on #7758
@deanmarcussen

I will think about it if i have time this night

Maybe something like this

            myTimeBasedToken.Register(() =>
            {
                // some stuff;
            });

[2020-11-25 16:20] #7751 closed

[2020-11-25 16:56] johnden12 opened #7763 "Azure DataProtection not finding Key in Key Ring"
I am trying to configure and test the use of Orchard Core in a Service Fabric Environnement. I have enabled Azure DataProtection and AzureShells to ensure that no configuration is dependant on information within the Service Fabric cluster as this will get deleted in the event of a cluster restart.

In order to simulate this, I stop the service, delete the app_data folder and restart it. The AzureS

[2020-11-25 17:26] deanmarcussen commented on #7763
Generally the data protection module would have created the key that isn't being found, so it seems odd, that it creates it, but then doesn't find it.

How did the xml file get into blob storage?
i.e. was it created by the module, or did you copy it in from the existing App_Data folder?

I'm assuming you have enabled the module through the admin?

[2020-11-25 18:11] stevo-knievo commented on #4598
The following code worked for me if you have custom code in the core startup project. (Nuget: OrchardCore.Application.Cms.Core.Targets, 1.0.0-rc2-15520)

[code]

And I guess scoped is the recommend and only option, correct?

Now I'm wondering if it is considered best practices to use modules for custom code and leave the core project blank.

Thanks in advance.

[2020-11-25 18:34] MikeKry opened #7764 "GraphQL, Workflow - Content event and http request"
Hi,
I think there is a problem in workflow, when you define "Content updated" event which results to HttpGet request to client app, there is no way to access data with graphql (request will timeout). There is a workaround with "Commit transaction task", but that results in another bug (described in here #6413).

![image](https://user-images.githubusercontent.com/52829889/100268246-0060c680-2f55-11

[2020-11-25 19:28] johnden12 commented on #7763
@deanmarcussen  Once I have started the Service Fabric cluster and deployed the OrchardCore application, I enabled the module via the admin interface. It was the module that automatically generated the file, and since it was the module that created the file, I am assuming that the azure blob configuration is correct for the dataprotection elements?

Once the module is enabled the site reloads, I a

[2020-11-25 19:37] SteeveDumais opened #7768 "Media Library allows Directory Traversal for azure blob"
Create a new media folder at the root folder?  Call it "..\notGoingToShowUp",  Save the folder.  The folder will get created but will never be visible

[2020-11-25 19:40] Skrypt commented on #7768
Please update to latest dev I'm pretty sure this was fixed.

[2020-11-25 19:54] Skrypt commented on #7768
![Peek 25-11-2020 14-48](https://user-images.githubusercontent.com/3228637/100275534-11e2a800-2f2e-11eb-8f2e-3ac1c9da26e4.png)

[2020-11-25 20:08] Skrypt opened #7769 "Admin Theme : extensibility"
Allow extending module styles with admin SASS mixins, funcs, vars.

- [ ] Create a npm package with Admin SASS assets.
- [ ] Create documentation on how to use SASS assets from a Nuget package solution custom Orchard Core module.

[2020-11-25 20:10] SteeveDumais commented on #7768
You are creating media.  When you press the add folder button then the
folder name should be "..\something".  Also your media should be azure

On Wed, Nov 25, 2020 at 2:54 PM Jasmin Savard <notifications@github.com>
wrote:

[2020-11-25 20:16] Skrypt opened #7770 "Admin Theme : "bootswatch""
- [ ] Add an option on themes to allow selecting a different styles "bootswatch".
- [ ] Admin Theme documentation.

Need some thinking since now we can do this in the admin by adding new theme variants directly in the admin.scss by using :

[code]

Each bootswatch should now also include it's own "darkmode" styles. We should be able to define that a "bootswatch" is a different .css file which has

[2020-11-25 20:20] Skrypt commented on #7768
Ok so what you are suggesting here is that we can create folders outside of the /media container path?

[2020-11-25 20:25] Skrypt commented on #7768
Ok I confirm that I can repro. We should not be able to create folders by using a path.

[2020-11-25 21:30] SteeveDumais commented on #7768
There is code when using the file store (not azure) that looks to make sure
that the path is under the root.  There is no such thing currently for the
sure blob implementation

On Wed., Nov. 25, 2020, 3:25 p.m. Jasmin Savard, <notifications@github.com>
wrote:

[2020-11-25 22:04] sebastienros commented on #6781
IsList, IsNotLike and NotContains are available in yessql

[2020-11-25 22:24] jtkech commented on #4598
@stevo-knievo

Yes, `AddOrchardCms()` now returns an `OrchardCoreBuilder` so that we can use `ConfigureServices()` on it directly

So, the above helper allow to add registrations when building a given tenant container, and where you can register scoped services but also transient services and singleton services. Here a singleton is a tenant singleton whose lifetime is the lifetime of the related t

[2020-11-25 23:33] Skrypt opened #7772 "Theme assets : gulp build"
Our TheBlog and TheAgency themes have been updated recently but we forgot to do a `gulp build` to execute their gulpfile.js.
When working on building other module assets there is more files getting updated than what it should.

[2020-11-25 23:35] #7772 closed

[2020-11-26 10:55] MikeKry commented on #7764
Solved this problem in client app by background task, so maybe we can close this as fixing Commit transaction should fix also this problem.

[2020-11-26 11:10] aaronamm commented on #7750
@hishamco
FYI, here the code that consumes OrchardCore.EF module.
https://github.com/codesanook/Codesanook.ThailandAdministrativeDivisionTool/blob/develop/Controllers/HomeController.cs

Service filter to auto commit a transaction.
https://github.com/codesanook/Codesanook.ThailandAdministrativeDivisionTool/blob/develop/Filters/TransactionActionServiceFilter.cs

A database migration
https://github.c

[2020-11-26 11:26] deanmarcussen commented on #5214
Reopening, so we can remember to implement the index suggestion

[2020-11-26 11:37] hishamco commented on #7750
I understand what you refer to, but if you look closely to the link I sent before, you will realize that ContentTypes, Contents, ContentManagement and others are rely on YesSQL, that is why I suggested to open an issue in OCC to see if we can abstract this

[2020-11-26 13:23] aaronamm commented on #7750
@hishamco  Okay, I will open issue at OrchardCore Contrib project.
Thanks for prompt reply.

[2020-11-26 16:07] deanmarcussen commented on #7768
This sounded interesting, but I can't repro

- The recent changes from @netwavebe https://github.com/OrchardCMS/OrchardCore/pull/7662 prevent those characters
- I removed that change, they don't act as a traversal, allowing you to get out of the blob's root container, as blob doesn't support tree walking, in that way i.e. ../
- So the only strangeness I could repro was that a folder could be creat

[2020-11-26 16:16] deanmarcussen commented on #7763
Yes, sounds like blob is connecting ok.

This bit I don't understand. By the time you're using blob, the `App_Data\Sites\Default\Data-Protection-Keys` folder, is useless, and the folder and contents can be removed.

It shouldn't get recreated.

You also said you were deleting the entire `App_Data` folder at some point.

Doing that should put you back into running Setup.

You'll need to have at lea

[2020-11-26 16:25] MikeAlhayek opened #7775 "Is there a way to enable/disable features when adding tenants?"
I am trying to use the SaaS recipe to create a multi-tenant application. Currently, it seems that I have to create a predefined receipt in order to create a tenant which is fine is most cases. But what if I want to use the recipe as the starting guide then add/remove some features as needed?

I think it may be very useful to allow the user to check/uncheck features from the control panel directly.

[2020-11-26 16:34] deanmarcussen commented on #7756
I can't repro @PiemP

What existing permission can I recreate this with?

`"Name": "Publish_StaticPage" - this looks like a custom permission?

and this `"$type": "System.Linq.EmptyPartition` looks like you are using an iterator to add the impliedby, rather than just an array syntax, which maybe the issue.

Can you share the code for your custom permission?

[2020-11-26 16:36] PiemP commented on #7756
Publish_StaticPage is a normal permission created wit a content type... StaticPage is the technical name of my custom type.

[2020-11-26 16:54] SteeveDumais commented on #7768
It looks like #7662  is only for moveMedia

You need to be using azure blobs
Click the add folder button
enter ../folder name
This will save a folder outside your default
Also try the escape character equivalent of / such as

Encoding and double encoding:

%2e%2e%2f represents ../ %2e%2e/ represents ../ ..%2f represents ../  %2e%2e%5c represents ..\ %2e%2e\ represents ..\  ..%5c represents ..\  %2

[2020-11-26 17:00] johnden12 commented on #7763
This might the issue.

All applications on a service fabric cluster (default & recommended configuration) are deleted if the cluster stops. This is due to the fact that the virtual machines participating in the cluster use local SSD for performance reasons.

This is what I am trying to simulate in order to ensure that I can recover the content and information from OrchardCore when the service fabr

[2020-11-26 17:10] netwavebe commented on #7768
https://github.com/OrchardCMS/OrchardCore/pull/7662 affects creating folders. See the file changes. It also effects both file system and Azure.

[2020-11-26 17:15] PiemP commented on #7756
For example, looking at the `BlogTheme`, you can find "Publish_Article" that have to work like "Publish_StaticPage"

[2020-11-26 17:19] deanmarcussen commented on #7756
Ok, I can repro.

The issue is with DynamicPermissions, which use a `.Select()` iterator, which won't deserialize.

However, I think it is wrong to be serialising permissions.

Permissions are a static class, provided by a provider.

When they are serialized like this, it is possible for the permission in the provider to change, but a serialized version with different values, to remain.

The right

[2020-11-26 17:28] Skrypt commented on #7775
When you add a tenant through DI you can specify which assemblies you want to include in your tenant. These modules needs to be referencing OrchardCore.Module.Target simply.

[2020-11-26 17:38] deanmarcussen commented on #7763
Let's clear that up then.

Shells, and DataProtection allow you to move those pieces of data outside the `App_Data`.

That's it, other things still use it. Notably lucene. And/Or Media depending on whether you use blob storage.

In terms of cluster restarts.

Make sure you always have an empty App_Data folder. Otherwise Orchard Core will try and run Setup again.

Or use the `ORCHARD_APPDATA` envir

[2020-11-26 17:42] PiemP commented on #7756
Probably is a problem with the javascript function that search over all permissions. I test it another time.

It's a doubt that I have when I start the PR about this functionality: can we trust the permission name to be a key?

In this moment your solution could have sense. I think about the evaluation of the actual permission related to the `MenuItem`. In this moment the code use `Permission` cla

[2020-11-26 18:10] deanmarcussen commented on #7756
Yes you can trust the permission name to be the key

Only move the Link and Placeholder nodes to do this via a lookup.

They perform a lookup based on name, and include the permission returned.

If the permission is not found, do not include it. (could happen when permissions are removed, or features turned of).

Another reason not to serialize them.

You dont need to change MenuItem.

If you star

[2020-11-26 18:12] deanmarcussen commented on #7768
@SteeveDumais it´s not possible to traverse up with blob storage using any syntax. ever.

you could have traverse down. but @netwavebe has fixed that.

Please try with the latest dev, and report back.

[2020-11-26 18:35] #7768 closed

[2020-11-26 19:07] #7519 closed

[2020-11-26 20:43] PiemP commented on #7756
Use permission name instead of `Permission` in the edit/create of a link or a placeholder  doesn't solve this issue. When we use a recipe or the backend interfaces to create/edit a link or a placeholder we save a `MenuItem` related to an `AdminMenu`. Saving a `MenuItem` we have to serialize its permissions and when we serialize its the `ImpliedBy` property, we have the exception (if we have added

[2020-11-26 20:53] #7700 closed

[2020-11-26 21:02] Skrypt commented on #7775
And I've read back your post there and this is a feature that has been asked before. Restrict modules per tenant.

[2020-11-27 01:44] stevo-knievo commented on #4598
@jtkech
Thank you so much for your detailed reply.

Currently, I'm having a headless CMS with two custom API-endpoints/services. So I'm not really building a feature at the moment. But out of curiosity, I moved everything into a module (separate project) and re-wired it. But I couldn't get it to work.

I was wondering if there is an example somewhere that explains how to use modules in the context

[2020-11-27 01:51] aaronamm opened #7778 "Should we change package-lock.json to yarn-lock.json and use yarn workspaces?"
I found that `OrchardCore.Apis.GraphQL` use Webpack and when it build we will have node packages inside that module.
This means if later we add more Webpack in other modules, we will have many duplicated Node packages inside each module.

It would be nice if we could add yarn workspace and centralize installation of  node packages to the root folder of OrchardCore project.

In addition after we ha

[2020-11-27 01:58] aaronamm commented on #7750
@hishamco  I have already opened an issue to  OrchardCoreContrib. Here is the link: https://github.com/OrchardCoreContrib/OrchardCoreContrib/issues/3

[2020-11-27 03:25] Skrypt commented on #7778
I like the idea of workspaces. Though, I don't think it is necessary as everything works fine as it is right now. If you want to do it, you can create a Pull Request that will get reviewed to make sure everything is still working. I personally don't think the effort is worth it since this is not going to build assets better in the end. The advantages are really low vs the time it will take to do.

[2020-11-27 05:43] jtkech commented on #4598
@stevo-knievo

There are different things to know, your module need to define some properties, usually in a `Manifest.cs` file, your module project needs to reference the `OrchardCore.Module.Targets` package, and so on, look at this doc
https://docs.orchardcore.net/en/dev/docs/getting-started/templates/#new-module-from-visual-studio-manual-way

[2020-11-27 06:09] johnden12 commented on #7763
That was my original configuration, I setup the `ORCHARD_APPDATA` to use à mounted azure fileshare, however every time the cluster restarted orchard core didn't seem to find the App_Data information and presented the setup screen. Hence I started looking at other options.

I will try it out with both the mounted fileshare & Azure Shells and Dataprotection, to see if this works.

[2020-11-27 06:20] chinasqzl opened #7779 "Content list, need Edit permissions?"
![image](https://user-images.githubusercontent.com/16968103/100417251-6ff0c600-30bb-11eb-8292-e089ec0c7e10.png)
@Skrypt

[2020-11-27 06:34] Skrypt commented on #7779
Yes, this means that the user should have either "Edit Content for others" or "Edit own content" permission which is what this list is for.

[2020-11-27 06:40] chinasqzl commented on #7779
![image](https://user-images.githubusercontent.com/16968103/100418726-39687a80-30be-11eb-9017-2003e3399751.png)
![image](https://user-images.githubusercontent.com/16968103/100418802-543aef00-30be-11eb-8eb7-60adb40de6ee.png)
Do you understand?

[2020-11-27 06:41] chinasqzl commented on #7779
![image](https://user-images.githubusercontent.com/16968103/100419015-a1b75c00-30be-11eb-836c-0d96f0adf090.png)

[2020-11-27 06:52] Skrypt commented on #7779
Not sure I understand. I can see that these are "project" content items. You added an admin menu that list those "Projects".

Then on the second screenshot you display a project. Not sure either, we don't have this in OC.

On the third screenshot you show the content item list which only allows to view the content item.
I want you to check if your current user has the proper permissions on the con

[2020-11-27 06:54] Skrypt commented on #7779
You will need to add some explanation to me. I will use Google translate. Just write it in mandarin or chinese I don't make the difference yet 😄

[2020-11-27 07:08] chinasqzl commented on #7779
点击项目，跳转到了DetailAdmin,而不是Edit页。所以不需要有Edit权限。

[2020-11-27 07:12] chinasqzl commented on #7779
![image](https://user-images.githubusercontent.com/16968103/100421254-fbba2080-30c2-11eb-9ac3-7cc0e2dfe3be.png)

[2020-11-27 07:15] chinasqzl commented on #7779
![Uploading image.png…]()

[2020-11-27 07:24] chinasqzl commented on #7779
![image](https://user-images.githubusercontent.com/16968103/100422081-91a27b00-30c4-11eb-9a72-9cdc297516d1.png)

[2020-11-27 07:24] Skrypt commented on #7779
The "Content Items" menu item displays now as soon as you have at least one content type that has the Edit permission.
This is why I added the permission on the List action too. So that it be consistent. Now, if we remove this permission on the Action, we need to think about using a new permission maybe instead of the EditContent one. I will think about it.

[2020-11-27 07:26] chinasqzl commented on #7779
Thank you.

[2020-11-27 07:29] Skrypt commented on #7779
Or remove it. Actually maybe that would be the only solution for your use case.

[2020-11-27 07:42] chinasqzl commented on #7779
#7289

[2020-11-27 07:45] Skrypt commented on #7779
Yeah more like a Global permission on the "List" action. Something not related with EditContent.
Something that says : Can view the "Content Items" list ... ViewContentList

[2020-11-27 07:47] Skrypt commented on #7779
I'll take a look tomorrow. I'm out for tonight.

[2020-11-27 07:49] chinasqzl commented on #7779
![image](https://user-images.githubusercontent.com/16968103/100424013-f14e5580-30c7-11eb-8634-e8229313082d.png)
这里也要调整，没有编辑权限该怎么跳转。

[2020-11-27 08:00] Skrypt commented on #7779
I think this one is fine? Now, if you are using this url to display your AdminDetails view instead of the actual content item editor page, we need to think about something else. Or maybe, I'm missing something. It's late, I'll think about it tomorrow 😉

[2020-11-27 09:09] chinasqzl commented on #7779
在仓库管理中，进出库完成，不可更改、修改、删除。为此，我改动如下：
1.完成的库存移动内容，所有人不可操作
![image](https://user-images.githubusercontent.com/16968103/100430384-af2a1180-30d1-11eb-8436-d227120d488b.png)
2.完成的库存移动内容，AdminRouteValues -> DetailAdmin Page
![image](https://user-images.githubusercontent.com/16968103/100430666-0cbe5e00-30d2-11eb-9a14-cc0ba981a2cd.png)
3.保存，跳转到AdminRouteValues
![image](https://user-images.githubusercontent.c

[2020-11-27 09:19] chinasqzl commented on #7779
内容保存后，满足条件（比如发布），所有人，包括管理员，不可修改，删除。

[2020-11-27 09:42] Skrypt commented on #7779
Ok, this is a nice trick to make content items readonly. We should maybe have some generic way to do this. Going to sleep on it 😉

[2020-11-27 13:13] giantpenguin opened #7781 "How to get contained item Url in Razor Summary view"
This is the snippet to render a BlogPost's link in liquid (Content-BlogPost.Summary.liquid):

`    {% a display_for:Model.ContentItem %}
        <h2 class="post-title">
            {{ Model.ContentItem.DisplayText }}
        </h2>
        <h3 class="post-subtitle">
            {{ Model.ContentItem.Content.BlogPost.Subtitle.Text }}
        </h3>
    {% enda %}
`
How can we do similar in Summary vie

[2020-11-27 13:40] Piedone commented on #6867
I think now it's safe to say that Discussions work and they were also improved quite a lot by GitHub.

So if all good then would you change the Forum link to it on the website @agriffard? Maybe by keeping a button like Chat. Also, if anybody has an objection, I'd create an issue template as discussed previously, i.e.

I don't think changing existing issues is needed.

I've disabled the option to s

[2020-11-27 13:42] jptissot opened #7783 "Localization do not get copied if using net5.0"
I switched our solution to net5.0 and the Orchard's tranlations files are no longer being copied on build. I traced the code and think this might be related to this line:

https://github.com/OrchardCMS/OrchardCore/blob/569e256b1aeb86c3321c5233562cea19ee94be9c/src%2FOrchardCore%2FOrchardCore.Application.Cms.Core.Targets%2FOrchardCore.Application.Cms.Core.Targets.csproj#L10

Which still targets netc

[2020-11-27 15:12] hishamco commented on #6867
I think issues suited if there's a bug, but we could move others to discussion

I think it's good to mark the best answer, to avoid see the entire thread without know which is the best answer. I'm not sure if there's away to hide the answered discussions if it's belong to Q & A category?

[2020-11-27 15:15] hishamco commented on #7783
/cc @jtkech the one who keeps his hands on such things, especially if it's localization related ;)

[2020-11-27 15:37] deanmarcussen commented on #7781
`<a display-for="@Model.ContentItem">@Model.ContentItem.Content.BlogPost.Subtitle.Text</>`

and a tag helper reference in your `_ViewImports.cshtml` file

`@addTagHelper *, OrchardCore.Contents.TagHelpers`

and a direct reference to `OrchardCore.Contents.TagHelpers` nuget package.

[2020-11-27 15:39] deanmarcussen commented on #6867
What we do need @Piedone is a way to turn discussions into issues, when something is agreed on, and we want them to do a pr about it.

I didn't see a button, if you know of one?

[2020-11-27 15:42] hishamco commented on #6867
Ya linking issues with PRs is very useful, I didn't see such feature in discussions, unless you have a permission to enable this feature - if it's exist -

[2020-11-27 16:12] OrchardSkills commented on #5065
Any update on this issue?

[2020-11-27 16:30] hishamco commented on #5065
@OrchardSkills It's in backlog, but I will try to have a look if I have a time

[2020-11-27 17:25] aaronamm commented on #7778
@Skrypt  I understand your point. However, if we deploy OrchardCore to Azure App and we can have many node projects, centralize node packages with yarn workspaces can save disk space for us  to use it with other App Service in the same plan.

To summarize, I will create a PR but I need to inform you that workspace does not work with a normal App Service deploy e.g. Kudu. This is because lake of fi

[2020-11-27 17:37] MikeKry opened #7785 "GraphQL complexity settings"
Hi,
I have troubles with graphql complexity settings.. Just wondering if we could create setting to disable complexity check?
I think that inserting null here https://github.com/carlwoodhouse/OrchardCore/blob/ec51978bdce77796af090ecd464c69d38faf1cf7/src/OrchardCore.Modules/OrchardCore.Apis.GraphQL/GraphQLMiddleware.cs#L169

would solve the problem (skip complexity check).

UC:
Given:
* Content Ite

[2020-11-27 18:06] Piedone commented on #6867
I mean issues remain, of course, just changing existing discussion-like issues (like discussed previously) is not really necessary because why bother. So no swapping out issues with discussions :).

The other way around is not possible, so you can't turn discussions into issues (as far as I remember this was deliberate by GitHub) but you can open an issue by referencing a discussion:
![image](http

[2020-11-27 18:11] hishamco commented on #6867
I forgot there's a filter ;)

Thanks

[2020-11-27 19:04] CrestApps opened #7786 "Admin menu is throwing exception when adding "Content Menu Item""
I created a site using SaaS recipe. Then I enabled the Menu and AdminMenu modules.

Under Content >> Menu. I added a new menu. Then "Edited" the menu to add menu items. I clicked on "Add Menu Item" then clicked on "Add" button under the "Content Menu Item" section on the right. Then I get this error

[code]

[2020-11-27 19:50] Skrypt commented on #7786
Can't repro

[2020-11-27 20:14] CrestApps commented on #7775
@Skrypt, I feel that the function is there for the most part. I think it is only missing the ability to lock/unlock features using checkbox option in the UI. The add screen would show a list of features that are set to be unlocked by default, then the user is able to manually check/uncheck items from that list as they need. Similarly, lock/unlock feature from the edit screen.

[2020-11-28 01:24] HengzheLi opened #7788 ".Stereotype and .WithDisplayName don't work in migration"
I created my own content type with stereotype is CustomSettings. Below is my code from my Migration.cs
[code]
After I setup a new tenant with this feature enabled, I can see the content type ManagerSettings was created. But the content type's Stereotype is empty and the DisplayName of above fields are not set.

[2020-11-28 01:52] HengzheLi commented on #7788
This post https://github.com/OrchardCMS/OrchardCore/issues/7569#issuecomment-725690935 help me resolving the issue.

[2020-11-28 01:52] #7788 closed

[2020-11-28 08:42] jtkech commented on #7783
@hishamco @jptissot

Okay i think i know why and how to fix it, i will do this week end ;)

[2020-11-28 09:27] jtkech commented on #7788
Cool then ;)

[2020-11-28 10:18] giantpenguin commented on #7781
Thank @deanmarcussen!

But it does not render the link, just the text.
I have this in the Summary.cshtml:
<h4 class="service-heading"><a display-for="@Model.ContentItem">@Model.ContentItem.DisplayText</a></h4>

Just see the @Model.ContentItem.DisplayText's text value, no link under it.
What else should I do?

[2020-11-28 16:47] giannik opened #7791 "admin theme layout.cshtml has jquery-ui dependency"
jquery-ui script and style is loaded from layout page in the admin theme.
But seems that its only needed where sorted is used . Specifically :

- Admin Menus
- Menu Part
- Taxonomy Part
- DateField (for jQuery-ui-i18n)
- Datetime field (for jQuery-ui-i18n)

Submitting a pull request to lighten initial page load and load it where needed.

[2020-11-28 18:47] MikeKry opened #7794 "Content items - Actions error"
Bulk actions on content item list do not work, falls on concurrency exception, or just do nothing when you try to publish/unpublish/delete item. (using MSSQL)

![image](https://user-images.githubusercontent.com/52829889/100523674-7a41bb80-31b2-11eb-90c8-ae48957b87d4.png)

[2020-11-28 19:03] jptissot commented on #7794
Which version are you running ?

[2020-11-28 19:05] MikeKry commented on #7794
@jptissot

just updated to version with new yessql, works fine, sorry..

Closing

[2020-11-28 19:05] #7794 closed

[2020-11-28 21:19] TimF5 opened #7797 "Imagesharp.web > rxy querystring param has no effect."
Hi,

I'm using OrchardCore as a headless CMS with multiple tenants. In a tenant, when i view an image from _Content > Media Library_ (i.e. https://{mysite}/media/{folder}/xxx.jpg) that works fine.

When i crop the image using one of the SupportedSizes (i.e. https://{mysite}/media/{folder}/xxx.jpg?width=50&height=100&rmode=crop) that works fine too.

However, when i add rxy as param to the querystr

[2020-11-28 21:30] TimF5 opened #7798 "Image anchor points not exposed in graphql"
Hi,

I created a ContentPart with a markdownfield and two media fields. In the settings of the media fields i checked "Allow media text" and "Allow anchors". In my ContentType with that ContentPart all works fine and as expected through the UI. I can enter media text and i can set an anchor point on an image.

However, when i run a GraphQL query on my ContentType i can only expose "Paths" and "Url

[2020-11-28 21:35] agriffard opened #7799 "Codemirror: too much space between two lines"
![image](https://user-images.githubusercontent.com/703248/100526528-ef6cbb00-31c9-11eb-8eea-90692aecd035.png)

[2020-11-28 21:43] hishamco commented on #7799
I will try to have a look ...

[2020-11-28 21:54] agriffard opened #7801 "Shortcodes categories: Order alphabetically"
![image](https://user-images.githubusercontent.com/703248/100526800-9fdbbe80-31cc-11eb-89be-2f1c25a42a80.png)

[2020-11-28 23:23] Skrypt commented on #7799
These styles comes from _codemirror.scss file which are applied globally. If it's not getting applied that's because there is something overriding these styles.

[2020-11-28 23:29] Skrypt commented on #7799
Can't repro. The spaces are fine. There is a natural margin-bottom on `<p></p>` html paragraphs. If you want to have a "newline" you type `shift + enter` instead of `enter`.

[2020-11-28 23:39] agriffard commented on #7799
You are showing me screenshots with trumbowyg, not with codemirror.

You can repro with a Standard Editor on Html Field or HtmlBodyPart.

[2020-11-29 00:45] #7799 closed

[2020-11-29 05:46] kdubious opened #7805 "Sitemap does not include child routes in bag"
The sitemap tool does not seem to pull the items from a Bag, even though the Autoroute settings are configured for the parent and children.

[2020-11-29 05:48] jtkech commented on #7783
@jptissot

So i created and packed a little project `OrchardCore.Test.Targets` targeting `netcoreapp3.1` and using the same kind of `PackagePath` pointing to simple `.props` and `.targets` files, just to show a message to check if there are executed

    <ItemGroup>
      <None Include="OrchardCore.Test.Targets.props" Pack="true">
        <PackagePath>build\$(TargetFramework)\OrchardCore.Test.Targ

[2020-11-29 09:19] Skrypt commented on #7081
I tried this back this week and it worked "Published self contained".

[2020-11-29 09:21] #7081 closed

[2020-11-29 11:51] agriffard opened #7806 "Admin Title"
The title of the site, in the upper left of the admin, is not styled like previously.

Before:
![image](https://user-images.githubusercontent.com/703248/100540958-07cbec80-3241-11eb-8138-e24d9b5f0b7e.png)
Now:
![image](https://user-images.githubusercontent.com/703248/100540989-38138b00-3241-11eb-8be2-9d65fef80549.png)

Could it be possible to find also a way to add a link to /admin?
By clicking th

[2020-11-29 13:40] agriffard opened #7807 "Workflows: Dark mode"
Worflows connections are not correctly display on Dark mode:

![image](https://user-images.githubusercontent.com/703248/100543497-ce9b7880-3250-11eb-8bc3-fdecaa489463.png)

Light mode:

![image](https://user-images.githubusercontent.com/703248/100543469-b592c780-3250-11eb-950d-11d4ecf2828c.png)

[2020-11-29 13:51] agriffard commented on #7806
I guess this is to handle the changes for the Dark mode but it woud be better to have another font (at least a bit bolder) and color on light mode to easily understand it is a link.

[2020-11-29 14:31] kdubious commented on #7781
Your “a” tag needs an “href” attribute.

[2020-11-29 14:53] giantpenguin commented on #7781
Thank @kdubious!
But that is what I want, I do not know what expression to assign to the href attribute to gain the similar result of liquid way.
<a href="WHAT should be here???">@Model.ContentItem.DisplayText</a>

[2020-11-29 19:29] hishamco commented on #7807
@Skrypt could please fix this or I will do it if you are busy with other PRs

[2020-11-29 21:04] #7801 closed

[2020-11-30 00:04] Skrypt commented on #7781
{% a display_for: Model %}
{% enda %}

[2020-11-30 00:09] #7807 closed

[2020-11-30 01:50] #7752 closed

[2020-11-30 09:02] deanmarcussen commented on #7781
If this isn't working please share your code.

For infos @kdubious the `display-for` tag helper writes the href attribute

[2020-11-30 10:52] deanmarcussen commented on #7797
Yes that won't work.

rxy requires a tokenized query string see https://docs.orchardcore.net/en/dev/docs/reference/modules/Media/#query-string-tokens

From your other issue you are using graphql, so I will close this one and comment there about what we may need

[2020-11-30 10:52] #7797 closed

[2020-11-30 10:56] deanmarcussen commented on #7798
Also related to https://github.com/OrchardCMS/OrchardCore/issues/7797

To use anchors for graphql we would probably need to expose a helper method, for graphql, which exposes token generation.

It would probably need to take arguments, and might also want to expose the profile name feature as an argument.

I imagine the design would be similar to what we have for `renderHtml` on content items, but

[2020-11-30 11:56] jptissot commented on #7783
@jtkech Thank you for looking into it. Repository is [here](https://github.com/StatCan/StatCan.OrchardCore) if you want to try it. It was not installing the localization files on build for me.

[2020-11-30 12:40] aaronamm commented on #7750
@hishamco
Here is a query that I need to issue both EF query and YesSql.
https://github.com/codesanook/Codesanook.ThailandAdministrativeDivisionTool/blob/develop/Controllers/HomeController.cs#L30
I can't make only one database round trip with SQL join.
Therefore, I need to make two database round trip and make LINQ query in a memory.

[2020-11-30 13:12] jptissot opened #7816 "Codemirror double scrollbar issue"
![image](https://user-images.githubusercontent.com/4681586/100614166-b4f74100-32e3-11eb-84b3-fda472426b54.png)
/cc @Skrypt

[2020-11-30 13:18] hishamco commented on #7750
I think you can do similar thing with YesSQL querying APIs

[2020-11-30 13:50] jtkech commented on #7783
@jptissot it works if you reference translation packages, e.g. the `OC.Translations.All` one ;)

    <ItemGroup>
      <PackageReference Include="OrchardCore.Translations.All" Version="1.0.0-rc2-108003" />
    </ItemGroup>

It is referenced by `OC.Application.Cms.Targets` but not by `OC.Application.Cms.Core.Targets`, so you have to reference it yourself, in you main application, it also works if r

[2020-11-30 14:59] EternityTeam opened #7817 "AdminUI issues with bootstrap-select"
![20201130225246](https://user-images.githubusercontent.com/14150259/100624903-e7924f80-335e-11eb-99be-65c8f2448bdc.png)

The new TheAdmin.css cause this issue .
ver: 1.0.0-rc2-15539

[2020-11-30 15:08] hishamco commented on #7817
Is this happing with the dev branch, there are many styles improvement done after RC2

[2020-11-30 15:15] EternityTeam commented on #7817
yes,I used 1.0.0-rc2-15510 before I update to 1.0.0-rc2-15539.
There is no such issue in 1.0.0-rc2-15510 .

[2020-11-30 15:41] hishamco commented on #7817
Is this happing with the dev branch, there are many styles improvement done after RC2

[2020-11-30 17:02] hishamco commented on #7750
Have a look to https://github.com/sebastienros/yessql/blob/b8c4c7d554c2944831ce1e8f962b6e180e5cfcc5/test/YesSql.Tests/CoreTests.cs#L1468