[2019-06-27 22:47] jtkech commented on #3797
@Skrypt did you try #3851 to see (if you have time, not urgent for me) if it fixes your issue?

[2019-06-27 22:49] jtkech commented on #3860
Not sure at all but if you have time (not urgent for me) can you try it with #3864. Hmm, and / or with #3851.

[2019-06-27 22:50] jtkech commented on #3855
So i reopen it in case it is worth to try something.

[2019-06-27 22:56] Skrypt commented on #3860
For some reason I did not get this issue logged today after removing that line from MediaApplication.cshtml that is used on frontend website.

[2019-06-27 23:22] jtkech commented on #3860
Ah okay, hmm but this is the mvc layout, putting it to null or empty is just to prevent a view from being themed, i'll try to understand.

[2019-06-28 05:54] deanmarcussen commented on #3855
@jtkech Initial tests look good.

The site I needed large uploads on went live yesterday so hopefully today I get a bit of downtime and a chance to tinker with the attribute to see it working in all scenarios

[2019-06-28 09:38] barthamark opened #3865 "Static files generated before build are not registered by the module static file provider on the first build"
I have a BeforeTargets="BeforeBuild" script defined in my module's csproj file that executes a Gulp task which generates a bunch of js files taking more than 4 seconds to finish. These files are not accessible by the web application only after rebuilding the solution. However, if the script finishes quickly (couple milliseconds) then it will be fine after the first build.

[code]

[2019-06-28 23:16] jtkech commented on #3855
Cool 👍

[2019-06-29 00:21] jtkech commented on #3865
Try to do it before our target where we use `EmbeddedResource` and remove duplicates.

    <Target Name="NpmInstall" BeforeTargets="EmbeddModuleAssets">
      <Exec Command="npm install" />
      <Exec Command="gulp" />
    </Target>

Hmm, maybe the `EmbeddedResource` need to be re-evaluated, if so (and only in this case), and assuming that the gulp outputs are all under the module `wwwroot`, try

[2019-06-29 17:07] aghili371 commented on #3847
it solved by this code:

[code]
[code]
$
@Skrypt  @jtkech  thank you very much

[2019-06-29 17:07] #3847 closed

[2019-06-30 05:02] RajasekarPR opened #3867 "WidgetList UI Misalignment"
Getting below html widget when adding in widget list part. The below UI is not at all good.
![image](https://user-images.githubusercontent.com/39621436/60392519-41fffe80-9b22-11e9-9e22-c684b3a2ccd5.png)

Kindly do the needful.

[2019-06-30 06:01] RajasekarPR opened #3868 "Orchard Core Myget Feed Not working"
![image](https://user-images.githubusercontent.com/39621436/60392946-9909d180-9b2a-11e9-8991-402950342db6.png)

[2019-06-30 13:05] aghili371 opened #3869 "Set value to list field in code side"
i have content type with some listed fields. i need to  set value for these fileds. how i can set value for these:

my content type:
[code]

my code in controller action:
[code]

how i should do coding here:
`contentItem.Content.RegisterInAcademy.TearmID.Text = PlaceId;
`

[2019-06-30 17:40] aghili371 opened #3870 "set icon for menu in module"
how can i set icon in this code?

[code]

[2019-06-30 18:00] hishamco commented on #3870
You can use `AddClass()` for the menu item, have a look to pre-defined modules

[2019-06-30 18:07] aghili371 commented on #3870
@hishamco where i can find the list of icons?

[2019-06-30 20:28] hishamco commented on #3870
You to remember the font-awesome classes 😉

[2019-06-30 21:03] aghili371 commented on #3869
it solved. thank you very much @Skrypt
[code]

[2019-06-30 21:03] #3869 closed

[2019-07-01 14:15] RajasekarPR opened #3871 "Error while creating or setting permissions on container media."
Getting below issue while launching :

OrchardCore.FileStorage.FileStoreException:
   at OrchardCore.FileStorage.AzureBlob.BlobFileStore+<<-ctor>b__7_0>d.MoveNext (OrchardCore.FileStorage.AzureBlob, Version=1.0.0.0, Culture=neutral, PublicKeyToken=nullOrchardCore.FileStorage.AzureBlob, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null: C:\projects\orchardcore\src\OrchardCore\OrchardCore.FileSt

[2019-07-01 22:38] jtkech commented on #3191
@numgithub can you try it again with the dev branch where we now commit the session automatically before disposing the shell scope.

[2019-07-01 22:39] jtkech commented on #3721
@barthamark can you try it again with the dev branch where we now commit the session automatically before disposing the shell scope.

[2019-07-02 12:49] mmdqq opened #3872 "how to use webpack-dev-middleware in a custom module with the HMR (Hotmodule reloader) connected"
how to use webpack-dev-middleware in a custom module with the HMR (Hotmodule reloader) connected
I use Microsoft.AspNetCore.SpaServices ,this run OK in a single MVC project,but error in orchardcore
![image](https://user-images.githubusercontent.com/4881282/60556575-9bf80280-9d74-11e9-9c8b-16321ee5be0d.png)
![image](https://user-images.githubusercontent.com/4881282/60556582-a914f180-9d74-11e9-983c-

[2019-07-02 14:49] carlwoodhouse commented on #3766
I'll provide a pr for this to remove periods from configuration keys if we want - but how do we wanna handle the fact it will break existing config files ?

/cc @sebastienros @jtkech

[2019-07-02 19:18] #3853 closed

[2019-07-02 19:19] #3852 closed

[2019-07-02 19:20] #3797 closed

[2019-07-02 19:20] #3585 closed

[2019-07-02 19:20] #3849 closed

[2019-07-03 00:57] jtkech commented on #3766
Okay, need more thinkings but if you start something i will help.

- In place of `IConfiguration`, we now use `IShellConfiguration` for orchard configs that are intended to be under a main section named `OrchardCore`, we don't use anymore the `Modules` section, and through the code we don't have to specify this `OrchardCore` main section, it is done automatically.

- Note: We allow tenant specific

[2019-07-03 07:03] RajasekarPR commented on #3868
It's working fine.

[2019-07-03 07:03] #3868 closed

[2019-07-03 07:24] RajasekarPR commented on #3871
It's working fine now.

[2019-07-03 07:24] #3871 closed

[2019-07-03 07:25] RajasekarPR opened #3874 "Trumbowyg removes form element"
@jonvee @sebastienros Currently, the trumbowyg editor removes the form html element. Is there any settings to disable this.

Kindly advice on this.

[2019-07-03 19:30] jptissot opened #3876 "Add Recipe step for site cultures"
It would be useful to be able to import / export site cultures as part of a recipe.

[2019-07-04 07:57] neolution-ch commented on #2112
@sebastienros is it possible to investigate this further? At the moment it seems to be impossible to use an own or a third party IServiceProvider with OrchardCore. Scrutor, the library @0lukasz0 suggested consists only of extension methods for Microsoft Dependency Injection. If you need to use more advanced DI features **you have to use** a third party container (such as Autofac, DryIoc, Structure

[2019-07-04 13:36] infofromca opened #3877 "is there any liquid expression of display-for?"
for example: use .liquid file to express
`<h2><a display-for="@Model.TitlePart.ContentItem">@Model.Title</a></h2>`

[2019-07-04 14:45] LMSSonos commented on #3766
@nuno-tiago-reis I'm trying to make the same as you did. I made following steps

1) added nuget: OrchardCore.Media.Azure and OrchardCore.DataProtection.Azure
2) appsettings.json (in root of solution) added
"OrchardCore": {
    "OrchardCore.DataProtection.Azure": {
      "ConnectionString": "xxx",
      "ContainerName": "dataprotection"
    },
    "OrchardCore.Media.Azure": {
      "ConnectionStrin

[2019-07-04 19:11] sebastienros commented on #3877
Found it on this page: https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Liquid/

`{{ Model.ContentItem | display_url }}`

[2019-07-04 19:11] #3877 closed

[2019-07-04 19:13] sebastienros commented on #2112
If you mean with the modular framework only, then I think we should look into this. At least be able to switch the implementation of the multi-tenant one if the way it's done is not compatible with other DI containers. However it won't be a priority for us, so I would recommend you start taking a look at how to change things on your own and submit a PR. Feel free to ask anything if you have questi

[2019-07-04 19:15] sebastienros commented on #3872
Can you try to ask this question on gitter? You may find some more help: https://gitter.im/OrchardCMS/OrchardCore

[2019-07-04 19:15] #3872 closed

[2019-07-04 19:16] #3870 closed

[2019-07-04 19:16] sebastienros commented on #3867
Can you me more specific about the repro steps? Thanks

[2019-07-04 19:17] sebastienros commented on #3865
fixed?

[2019-07-04 19:21] sebastienros commented on #3850
Can you ask this question on the forum? https://gitter.im/OrchardCMS/OrchardCore

[2019-07-04 19:21] #3850 closed

[2019-07-04 19:22] #3765 closed

[2019-07-04 19:22] sebastienros commented on #438
CustomSettings is code driven, not metadata driven. Or an I wrong?

[2019-07-04 19:23] sebastienros commented on #3846
We could add custom editors that are dedicated for Markdig, and provide some custom options. The default editor would still use Markdig but with default options.

[2019-07-04 19:24] sebastienros commented on #3842
No repro, closing, until someone else can repro

[2019-07-04 19:24] #3842 closed

[2019-07-04 19:25] sebastienros commented on #178
Yes, please work on this if you can. I assume the same features could be migrated. You might want to start with a small subset though to get some feedback in case OC provides better ways to do this (it might as a document is represented fully in json).

[2019-07-04 19:26] sebastienros commented on #3839
I assume you can filter the middleware to not be used in the admin. Or maybe it's an issue because on the ajax calls?

[2019-07-04 19:36] #3796 closed

[2019-07-04 19:43] #3117 closed

[2019-07-04 20:50] jtkech commented on #2112
Okay no problem, i don't remember anything on autofac but i can help on how we create isolated child container per tenant, how we clone host / app level services to each tenant container, and so on.

[2019-07-04 21:00] jtkech commented on #3766
At least you have to enable the related modules through the admin.

For data protection the default one do somewhere

    options.XmlRepository = new FileSystemXmlRepository(directory, loggerFactory);

Then `OrchardCore.DataProtection.Azure` is intended to run after (startup `Order` of 10) and to do.

    options.XmlRepository = new AzureBlobXmlRepository(blobRefFactory);

After enabling `OC.DataP

[2019-07-05 09:17] LMSSonos commented on #3766
Thanks for your help. I wasn't aware that this is required to activate first in the admin. The reason is, if you deploy it as zip (new deployment method on azure), you won't be able to write tu App_Data, so OrchardCore will fail in that deployment. So I was hoping by adding these packages I could reconfigure Orchard to write everything to the blob storage.

[2019-07-05 11:33] neolution-ch commented on #2112
We use the CMS and also the Framework. The current problem is that we want to add custom authentication with our own ASP.NET Core Identity implementation for pages that are separated from the CMS but still run in the same app. With DryIoc it would be possible to add a condition to the resolver that then decides if the current request needs the Orchard Identity or our own Identity.

In a "normal" A

[2019-07-05 12:36] hishamco commented on #2112
What if you register them as `IEnumerable<>` and query for your own implementation, you can use a static property to avoid querying each time

[2019-07-05 13:10] psijkof commented on #3712
Then maybe we should see if we could integrate with other IDaaS providers like auth0, okta, etc...?

[2019-07-05 14:00] neolution-ch commented on #2112
@hishamco Good thought, will try this as a workaround. But ideally, I would prefer the resolver to make the decision to not violate the dependency inversion principle.

[2019-07-05 15:29] MichaelPetrinolis commented on #3712
@psijkof you can use the OpenID connect client to link local users with another IDaaS provider

[2019-07-05 16:23] hishamco commented on #2112
AFAIK the current implementation allow registering multiple instance for the same type. I think this may solve the issue with sort of service locator pattern, but if you prefer constructor injection over others to return single instance I will ask you how Dryloc can help to decide which is suitable implementation after resolving?

[2019-07-05 16:52] Skrypt commented on #3860
I need to make more tests to make sure the issue is fixed at the right place. I disabled the Layer module since last week after moving my zones to Liquid templates. I need to enable back the Layer module and see if the issue gets logged back. So far, disabling the Layer module fixed this issue.

[2019-07-05 21:10] juniordev19 opened #3880 "Changing the value of the CreatedUtc field for a ContentItem object"
Is it possible to change the CreatedUTC value of ContentItem?
I'm trying to change this field in the database table, but the new value is not synchronized with the site.

[2019-07-05 22:13] jptissot opened #3881 "Lucene Boolean Query does not match ElasticSearch documentation."
I was trying to run a boolean query following the example in the elastic search docs.

[code]
However, this query was not returning anything. I looked at the code and noticed that the [implementation](https://github.com/OrchardCMS/OrchardCore/blob/d729a2048a4390380d99e7be9f7968ff8f8e9271/src/OrchardCore/OrchardCore.Lucene.Core/QueryProviders/BooleanQueryProvider.cs#L47) for the boolean query only

[2019-07-05 22:41] Skrypt commented on #3880
You need to use the CommonPart on the Content Type and modify the CreatedDate from that CommonPart since it is how we permit changing the Owner and Creation Date of a content item.

[2019-07-06 00:28] jptissot opened #3882 "Add permission for SearchController"
There should be a permission securing the Lucene SearchController.
For now add a simple permission. We should add a permission per index in the future.

[2019-07-06 00:57] jtkech commented on #2112
@neolution-ch some infos

- Most things run in a tenant context, we can have multiple tenants but at least one, the `Default` tenant, a tenant being composed of modules / themes. For each tenant we precreate a `ShellContext` which holds a service provider and a pipeline that are created on a 1st request. Then, on this service provider we can create child scoped providers, e.g on a request, that is

[2019-07-06 08:12] aghili371 opened #3884 "different layout design"
i have menu in default page with background and in other pages without background.

default page:
![bg](https://user-images.githubusercontent.com/24512878/60753832-af0b0c80-9fd8-11e9-8d07-077c6f95bf2b.JPG)

other pages:
![no bg](https://user-images.githubusercontent.com/24512878/60753827-a7e3fe80-9fd8-11e9-8b8f-3eea05196a6d.JPG)
how i can manage this design in layout page? i'm using liquid design.

[2019-07-06 11:03] juniordev19 commented on #3880
How should I do this if I installed the Orchard Core as a nuget package?

[2019-07-06 17:25] Skrypt commented on #3880
You need to change the CreatedUtc value in the ContentItemIndex table (where the data is mapped) and also in the Document Content Column (where the data is reduced as JSON).

[2019-07-07 14:05] dodyg commented on #3553
asp-append-version is now available !

https://github.com/OrchardCMS/OrchardCore/pull/3581

[2019-07-07 14:21] dodyg commented on #3553
This is no longer available at/after version `1.0.0-beta3-71772`.
[code]

 Configure it via  [configuration file instead](https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Media/)

[2019-07-07 14:38] dodyg opened #3885 "Bug in js asp-append-version implementation"
Build `1.0.0-beta3-71772`

![src](https://user-images.githubusercontent.com/1761249/60769871-4bb2d480-a0d5-11e9-9895-0dab05bfff5e.png)

`asp-append-version` in the current implementation only work if developer uses `asp-src` instead of a plain `src`.

This is in contrast on how the feature works in normal ASP.NET Core Tag helper which can create confusion. It is also in contrast to how it works in

[2019-07-07 16:11] deanmarcussen commented on #3885
Yes, good spot. I see what's going on there.

The Orchard Script TagHelper is taking over from the MVC one, when it shouldn't, which means it's getting queued in the `ResourceManager` to be placed later in the foot of the body, but because you do not call `<resources type="FootScript" />` it isn't getting rendered.

The use of `asp-src` is intentional, to differentiate between the two tag helpers,

[2019-07-08 10:17] barthamark commented on #3721
It seems that it's working. I was testing with the latest preview NuGet packages and there was no exceptions during the Migrations and the taxonomy was created successfully. Thanks! I'll close this issue now.

[2019-07-08 10:17] #3721 closed

[2019-07-08 13:31] deanmarcussen opened #3887 "Routing for Feature Controller"
I have a module with a Controller decorated with the `[Admin]` attribute.

I tried to split the module into two `Features` but now I can no longer access the Controller (returns a 404)

[code]

no longer generates a good route, but adding
[code]
and removing the `[Admin]` attribute, and adding the `[Feature("MyFeature")]` attribute to the Controller generates a good route on the front end, but sti

[2019-07-08 14:10] jtkech commented on #3887
The `Area` is always tied to the module (all modules are under an `Areas` virtual folder), then, to validate a controller only if a given feature is enabled, you have to decorate it with the feature attribute.

[2019-07-08 14:35] Skrypt commented on #3887
I think that if he adds the [admin] attribute it will always pass in the AdminFilter.cs class. Though I'm not sure why it returns a 404. I may be totally wrong but that's my first guess that something happens in AdminFilter.cs.

[2019-07-08 15:05] jtkech commented on #3887
I was meaning that it can't work if the area is set to a feature name that is not equal to the module name.

[2019-07-08 15:11] deanmarcussen commented on #3887
So after getting this weeks nuget packages this has started working fine, by just adding the `[Feature]` attribute to the `Controller` along with the `[Admin]` attribute - no need to add any `route.MapAreaRoute`

I suspect a rebuild after pulling the latest nuget may have sorted it.

[2019-07-08 15:11] #3887 closed

[2019-07-08 15:49] deanmarcussen opened #3889 "Without localization module Admin Modified Dates are incorrect"
The localization module isn't enabled by default by most (all?) of the recipes which seems to cause the `TimeSpan` shapes to always return the singular, and never the plural version of a TimeSpan.

With localization off (the default) modifed date in admin is 1 week
![localization-off](https://user-images.githubusercontent.com/13782679/60823712-14f5c080-a1a0-11e9-8133-509ac9a9723a.PNG)

When turned

[2019-07-08 15:51] deanmarcussen commented on #3585
Could we reopen this?

Just to update the Widget templates in TheBlog and Agency theme to use the new `liquid` filter

[2019-07-08 16:04] jptissot opened #3890 "ContainedPart not listed by contentDefinitionManager"
I was trying to implement a part handler for the List `ContainedPart`. The issue I am facing is that `_contentDefinitionManager.GetTypeDefinition(context.ContentItem.ContentType).Parts`  does not contain the `ContainedPart` and my Handler is not being called.

[2019-07-08 16:07] Skrypt commented on #3887
So this controller is only accessible in the admin right?

[2019-07-08 16:23] Skrypt commented on #3889
Good point. I think thought that we still need to support the use cases where the Localization module is disabled even if we would enable it by default. I need to look by @jtkech will probably do it before me 😉

[2019-07-08 16:24] Skrypt commented on #3585
Open a different issue / PR for this.

[2019-07-08 16:26] Skrypt commented on #3890
You mean you are trying to get the parent content item?

[2019-07-08 16:52] jptissot commented on #3890
I am trying to create a Handler like this:

[code]

but it never gets called because the HandlerCoordinator uses the list of Parts from
`_contentDefinitionManager.GetTypeDefinition(context.ContentItem.ContentType).Parts` which does not contain the ContainedPart.

[2019-07-08 16:54] jptissot commented on #3890
Doing this worked:

[code]

[2019-07-08 18:01] deanmarcussen opened #3892 "Update Agency and Blog Theme to use liquid filter"
Related to https://github.com/OrchardCMS/OrchardCore/issues/3585

We should update the Agency and Blog Theme Widget Templates to use the new `liquid` filter that @jtkech  wrote, to fix the issue with images not being rendered, when using one of the `Widget-Paragraph` or similar templates

Will PR

[2019-07-08 19:36] jtkech commented on #3887
Yes would be good. Hmm, easy to affect an area per feature but this is when building a module that virtual paths (`Areas/TheModule/...`) are built (e.g for views), and at this point we are not aware of its features.

[2019-07-08 20:18] jptissot commented on #3876
The is already a way, I will document it.

[code]

[2019-07-08 20:43] Skrypt commented on #3887
Not necessarly it's features but if someone adds an "Areas" folder in it's module we should probably parse it simply and create the Area.

[2019-07-08 20:59] jtkech commented on #3887
Okay, need more thinkings but i see what you mean ;)

[2019-07-09 07:27] deanmarcussen commented on #3887
Ok, so I try this again this morning, and for anyone else coming across this, what I find is

If you are using `Features` in a module the `Controller` has to be decorated with the `[Feature]` attribute for correct routes to be built - without the attribute decoration routes don't seem to get built.

The `[Admin]` attribute works fine, so long as the `[Feature]` attribute is added as well.

[2019-07-09 14:30] jtkech commented on #3887
Yes, when at least one feature attribute is used, the module attribute itself doesn't define anymore a feature. Then the convention is to set the 1st feature id to the module assembly name, this is not mandatory but it allows to not decorate all controllers, those that are not decorated being tied to this 1st feature (considered as the main feature of the module).

[2019-07-09 14:39] rserj commented on #2072
I face the same issue.
I'm lunching Orchard Core on AWS Fargate, it will be REALLY convenient to be able to pul Orchard core from Dockerhub and lunch it in Development mode/enviroment for troubleshooting.

[2019-07-09 15:02] aderderian commented on #2468
How are we looking on this item? Our team could use this on a site we're working on now. Should we pull this branch or start on a new one?

[2019-07-09 19:56] #3876 closed

[2019-07-10 07:24] Skrypt commented on #3860
@jtkech I enabled back the Layer module without using any zones or content in those zones and I can see in my logs that it started back logging the error reported here. Next step is to merge your PR and test it on Azure.

[2019-07-10 08:35] deanmarcussen opened #3899 "Document IShellConfiguration"
@jtkech has given a helpful description of `IShellConfiguration` and the options for using various `appsettings.json` in https://github.com/OrchardCMS/OrchardCore/issues/3766

I would like to document that, with further details, (being aware some details may change due to https://github.com/OrchardCMS/OrchardCore/issues/3766) in one of the `readme.md` files

Any suggestions on where it should go?

[2019-07-10 09:59] deanmarcussen commented on #2310
This could close - fixed in https://github.com/OrchardCMS/OrchardCore/pull/3095

[2019-07-10 15:10] #2310 closed

[2019-07-10 18:15] neolution-ch opened #3900 "Use custom ASP.NET Core Identity implementation"
More of a question than an issue:

We're trying to add a custom ASP.NET Core Identity implementation to an OrchardCore CMS (not SaaS) site and are experiencing all sorts of problems. It should be used to authenticate requests to Razor Pages that are in the same project next to the CMS pages. But since the user database is from an external source we can't manage the users in Orchard.

Is it even po

[2019-07-10 18:24] #3892 closed

[2019-07-10 19:06] Skrypt commented on #3900
/cc @PinpointTownes

[2019-07-10 20:51] jtkech commented on #3860
Okay cool, let me know

[2019-07-10 21:45] jtkech commented on #3899
I don't see any non core module for a more generic doc on `IShellConfiguration`.

So, maybe a readme under `src\OrchardCore\OrchardCore\Environment\Shell` that can be updated in the future with more advanced infos e.g on how mutable sources work and can be overridden.

But anyway starting with a guide looks good.

[2019-07-11 02:41] Skrypt opened #3901 "Resources Integrity hash is html encoded"
In latest dev when I publish on Azure I get my integrity checks to fail because those hash gets html encoded.

Example that's for bootstrap-bundle asset :

[code]

(+ is html encoded to `&#x2B;`)

[2019-07-11 02:57] jtkech commented on #3901
Is it since a recent commit?

[2019-07-11 03:47] jtkech commented on #3901
i can repro under the admin, right now it's the same if revert back the commits until 8 days ago.

[2019-07-11 03:50] Skrypt commented on #3901
I think it comes from LiquidViewTemplate.cs but I could be wrong.

[2019-07-11 04:33] Skrypt commented on #3901
Hmm, it comes from the fact that now we do

[code]

This means that a Liquid template will always be Html Encoded.  We need to find a way to specify that we want to exclude html encoding from Fluid for things that comes from the ResourceManagement.

[2019-07-11 09:59] PinpointTownes commented on #3900
@neolution-ch I assume you mean "custom stores" when you say "custom ASP.NET Core Identity implementation", right?

If so, you'll likely have to roll your own Users module, as the default one relies on the YesSql stores/models from `OrchardCore.Users.Core`.

I'm pretty sure we mentioned decoupling the Users module from YesSql - similarly to what we did in the OpenID module - but I'm not aware of a

[2019-07-11 10:01] PinpointTownes commented on #3900
https://github.com/OrchardCMS/OrchardCore/issues/1401

[2019-07-11 11:11] AmrTealeb opened #3902 "Implementation notes for Workflow wireup"
We are trying to wire up the workflows in our project
First i want to choose a workflow type, instantiate it and pass some values to it
So i created this workflow using the designer
![Design](https://user-images.githubusercontent.com/6418490/61045774-ce8ca580-a3db-11e9-97bd-4931cb87dbd1.png)

Then i write some code to:

1. Get workflow type by id
2. Crete new workflow
3. Create workflow execution

[2019-07-11 12:29] carlwoodhouse commented on #3766
thanks for the comments @jtkech - the explanation is useful; i'll add to my todo list to take a crack if no one gets there first .. but a long way down, have quite a bit of graphql stuff to sort first ;)

[2019-07-11 14:21] neolution-ch commented on #2112
@hishamco E.g. based on the namespace of the class that requests the dependency. There are lots of options with DryIoc (https://bitbucket.org/dadhi/dryioc/wiki/RegisterResolve)

@jtkech Thank you very much, I got some time to go through the code to look for a solution. I noted the following:

There is the `OrchardCore.Modules.IStartup` interface which kind of looks like the `Microsoft.AspNetCore.H

[2019-07-11 14:36] neolution-ch commented on #3900
@PinpointTownes yes this it 😉 What would you recommend as a workaround if we want to implement our scenario today? A custom authentication middleware?

[2019-07-11 19:02] PinpointTownes commented on #3900
A custom Users module based on the built-in one would work.
Or you could consider contributing and making it stores-agnostic so you wouldn't have to maintain your own one 😄

[2019-07-11 19:10] #3900 closed

[2019-07-11 19:13] sebastienros commented on #3902
Can you share the full stack trace of the exception?

/cc @sfmskywalker

[2019-07-11 19:17] #3860 closed

[2019-07-11 19:18] sebastienros commented on #2468
There is no branch for this right now. If you want to start working on it, just create a PR. The idea is to create a custom Editor for the taxonomy field. Take a look at the "PredefinedValue" editor for the TextField which shows an example.

[2019-07-11 19:19] sebastienros commented on #3890
Is `ContainedPart` defined in DI? Is it also registered in a migration as a Content part?

[2019-07-11 19:20] sebastienros commented on #3889
Agreed, it should work without this module. Maybe some wrong default that triggers a bug.

[2019-07-11 19:21] #3885 closed

[2019-07-11 19:23] sebastienros commented on #3880
In the admin, open the Content Type Definitions, seek the one you want to change, then click "Add Parts" and then select "Common Part". Now when you edit one of these content items you should see a new editor that lets you change the Creation Date.

[2019-07-11 19:24] sebastienros commented on #3884
You can use a custom alternate for the Layout of the home page. `Layout-Home.liquid` or something similar. Otherwise there is a liquid filter that you can set in a content item template to override the name of the layout.

[2019-07-11 19:25] #3882 closed

[2019-07-11 19:28] #3881 closed

[2019-07-11 19:51] #3628 closed

[2019-07-11 20:06] hishamco commented on #2112
As expected, I thought there are variant ways to resolve the dependencies from the constructor. With that I think the better way is to use `IStartup` as mentioned above

[2019-07-11 20:41] johnrom opened #3904 "CustomSettings ContentPart not easily available via ISite.As<MySettings>();"
My description from Gitter:

I hit my head numerous times because it actually instantiates a default version of that content part with fields and everything when you do this, but this is not possible. Instead, there is a CustomSettingsService which is hard-coded into the OrchardCore.CustomSettings module

Easier solution from @jtkech :

[code]

I think this is kind of a weird approach, so I asked

[2019-07-11 21:50] sfmskywalker commented on #3902
There probably won’t be a stack trace of the workflow manager catches and swallows any exceptions, which I believe it does. Instead of rethrowing it sets the workflow’s status to Faulted.

@amrtealeb is there any chance you could share your source code with me? If not I’ll try and reproduce over the weekend and see what’s going on.

[2019-07-11 21:55] Skrypt opened #3906 "YoutubeField not always required"
When the YoutubeField is not required then the YoutubeFieldDisplayDriver still expect that we send him a value and does a NRE issue on this line :

`var uri = new Uri(model.RawAddress);`

[2019-07-11 21:56] sfmskywalker commented on #3902
Actually your code above should suffice.

[2019-07-11 21:59] sfmskywalker commented on #3902
I do wonder what the type of `Input.Content` is, as well as its value?

[2019-07-11 21:59] Skrypt opened #3908 "NumericField (selectbox) not required issue"
When a numeric field is set to `select` editor and to `not required` we should provide a null value in the selectbox.

[2019-07-11 22:15] Skrypt opened #3910 "Recaptcha styling unnecessary styling"
[code]

Here we are using a `col` outside of a `row` so we are using an offset to adjust margins... bad practice. We can now simply use w-md-75 but I think there is no use of sizing here.

[2019-07-11 22:21] Skrypt opened #3912 "Admin scripts cache busting"
We should add asp-append-version on admin scripts that are subject of updates/enhancements.

[2019-07-11 22:43] jtkech commented on #3901
So, this is the mvc `TagBuilder` (used in `ResourceDefinition`) that encodes its attributes on its `IHtmlContent.WriteTo()`. Maybe this is not an issue, i think that the browser html decode it before using it.

If in the in the `ResourceManifest` i removed the `+` from the `SetCdnIntegrity`, i get a `Failed to find a valid digest in the 'integrity' attribute for resource ... with computed SHA-256

[2019-07-11 22:47] Skrypt commented on #3901
I had errors on Azure where using the Html encoded hash was returning the same `Failed to find a valid digest in the 'integrity' attribute for resource ... with computed SHA-256 integrity.` error and thus was preventing me from downloading it.

[2019-07-11 23:12] jtkech commented on #3901
Ah okay.

But on localhost i have the issue if i remove the `+`.

How did you fix it on your side?

Hmm, i will try to do a tag builder wrapper that doesn't encode the integrity attribute.

[2019-07-12 00:28] Skrypt commented on #3901
I removed the integrity check hash on the ResourceManager for now.

[2019-07-12 00:29] jtkech commented on #3901
Okay, i found a fix, i will do a PR

[2019-07-12 08:02] orchardc opened #3916 "Use Liquid to list all pages title, order by published date?"
How to use liquid page to list all Pages(Content Type) title, order by published date?

I'm thinking something like below, but it doesn't work?

![image](https://user-images.githubusercontent.com/16193516/61112441-bd976f00-a483-11e9-8d56-f511a14bf86b.png)

[2019-07-12 08:04] orchardc commented on #3916
Page is just a simple content type as defined below:

![image](https://user-images.githubusercontent.com/16193516/61112549-051dfb00-a484-11e9-8a27-b690118d3c81.png)

[2019-07-12 08:27] agriffard commented on #3916
Create a SQL query that returns the content items where the type is `Page`.
Use the `query `Liquid filter witht the name of the query to get the results.

https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Queries/#liquid-templates

[2019-07-12 08:44] orchardc commented on #3916
Thanks @agriffard ,  I'm good on sql but but no clue which box to fill in?
It's very helpful if you could provide an example.

![image](https://user-images.githubusercontent.com/16193516/61115051-8330d080-a489-11e9-99d8-b8c5eb1f8b77.png)

[2019-07-12 09:10] agriffard commented on #3916
cf https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Queries/#examples

Here is an example of a query that returns all published Blog Posts:

[code]
By selecting the "Return documents" options, the content items associated with the resulting DocumentId values are loaded.

[2019-07-12 09:22] orchardc commented on #3916
Get it, thanks mate!

[2019-07-12 09:22] #3916 closed

[2019-07-12 09:36] dodyg commented on #3553
https://github.com/OrchardCMS/OrchardCore/issues/3899  (Document IShellConfiguration) is useful

[2019-07-12 10:07] dodyg commented on #3553
https://github.com/OrchardCMS/OrchardCore/issues/3885 is fixed.

![fixed](https://user-images.githubusercontent.com/1761249/61120567-8f268d80-a49d-11e9-93e3-75639c8d4986.png)

[2019-07-12 19:27] jptissot opened #3917 "SQLite database locking when executing workflow"
When an exception occurs as part of a `CreateContentTask` or a `createContenItem()` call during a workflow, the sqlite database locks up.

We created a custom `YesSql.Indexes.IndexProvider` that was throwing a NRE if some value was null. When this happens during the execution of a workflow, the sqlite database locks up and the workflow instance never gets created.

I was able to find the issue by

[2019-07-12 21:43] Skrypt opened #3918 "Media Library broken : use proper CDN"
https://vuejs.org/js/vue.js is down so is our script link.

[code]

![image](https://user-images.githubusercontent.com/3228637/61160193-8d27f300-a4cc-11e9-964e-26153a7a94a0.png)

[2019-07-12 21:50] sfmskywalker commented on #3902
I looked into it, and I have a couple of observations and questions.

I tried setting up the exact same workflow as depicted \, however I failed to find the activity displayed as "Validate Content" where I could set a minimum and maximum. Is this a custom activity?

I continued setting up the workflow without the "Validate Content" activity and copied your code into a controller, then executed tha

[2019-07-12 21:54] orchardc opened #3919 "Bug rendering Layout.cshtml on Windows Server 2016 with IIS - menu disappears!"
There seems a bug when rendering the **Layout.cshtml** on Windows Server 2016 running IIS, and **The menu bar doesn't show up**. - see the code highlighted below, it should render the main-menu but it isn't.

![image](https://user-images.githubusercontent.com/16193516/61160129-4ea72e00-a4f6-11e9-8bbb-d78db05d7b8d.png)

However the same site works fine in Windows 10 with IIS express (Visual Studio

[2019-07-12 22:02] Skrypt commented on #3919
First thing is to provide us with exception logs from your server which should lead to the cause.

[2019-07-12 22:12] orchardc commented on #3919
Hi @Skrypt , where can I find the exception logs ?

[2019-07-12 22:55] Skrypt commented on #3919
`\src\OrchardCore.Cms.Web\App_Data\logs`

[2019-07-13 10:03] deanmarcussen commented on #3912
@Skrypt Was just going to roll through all the admin scripts (I'm about halfway through so far) and add `asp-append-version` to them all so it's done. I see you have also already started to do the same 😄 I'll try and get the ones I've done so far into a PR so we don't cross efforts?

[2019-07-13 10:07] orchardc opened #3923 "Create a liquid page in Visual studio, then use it on the portal?"
I know you can create a liquid page in the Admin panel as shown below; however, is there a way to create same liquid page using visual studio then directly used on the portal? i.e. http://localhost:1234/myLiquidPage

![image](https://user-images.githubusercontent.com/16193516/61170245-20f5cf80-a55e-11e9-96cc-3d83038692db.png)

[2019-07-13 10:46] deanmarcussen opened #3924 "Theme Template cache busting"
We should update also update the theme templates to use `asp-append-version`

[2019-07-13 10:48] deanmarcussen commented on #3169
This can close now from PR https://github.com/OrchardCMS/OrchardCore/pull/3581

[2019-07-13 10:49] deanmarcussen opened #3925 "Media Thumbnails Cache Busting"
We should also update the media library to support cache busting when it delivers the thumbnails

[2019-07-13 12:02] deanmarcussen opened #3926 "Style tag helper dependencies"
Just came across in the AdminMenus `List.cshtml`

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.AdminMenu/Views/Menu/List.cshtml

[code]

The Style Tag Helper uses `dependencies`, whereas the Script Tag Helper uses `depends-on` to set css dependencies, so it needs to needs to be
[code]

Rather than just fixing that in the admin menus should we update the St

[2019-07-13 15:25] Skrypt commented on #3923
Yes, please refer to documentation and Theme examples.

[2019-07-13 15:26] #3169 closed

[2019-07-13 15:29] Skrypt commented on #3912
Don't worry I just created the issue because yesterday I was going through all the changes I made for myself and made separated PR's for each of them.

If we do media thumbnails make sure that it won't affect also the ImageSharp cache on every publish of the app.

[2019-07-13 15:58] orchardc commented on #3923
Thanks Skrypt, can it be specific please?

I look at both agency and blog theme samples, but still can't find out exactly how? It would be great if you could provide more hints?

[2019-07-13 16:07] dodyg commented on #3553
I am watching this https://github.com/OrchardCMS/OrchardCore/issues/3902 because the orchard core workflow looks powerful enough to be integrated in general business application/module.

[2019-07-13 16:32] dodyg commented on #3902
Is it possible to have the workflow defined in code? Because it seems to me at the moment that it can only be configured via the designer which serialize the workflow in json.

[2019-07-13 17:05] AmrTealeb commented on #3902
Thank you for your reply
Validate Content is a custom activity
I tried using _workflowManager.StartWorkflowAsync  for a HttpRequestEvent and it works fine but i have some questions here
When i run `await _workflowManager.StartWorkflowAsync(workflowType, startActivity);`  inside a controller method how does my payload get passed to the StartWorkflowAsyync method?

[2019-07-13 18:06] deanmarcussen opened #3929 "Remove is-cache folder from publish"
Currently `dotnet publish` will include all the files from the `is-cache` folder.

We should probably exclude those by default and just allow it to publish the `wwwroot` folder

I think it's probably something like

[code]

Maybe not necessary if we go with https://github.com/OrchardCMS/OrchardCore/pull/3517 as that moves all the caching to the tenants folder

[2019-07-13 19:50] Skrypt commented on #3923
https://orchardcore.readthedocs.io/en/latest/OrchardCore.Modules/OrchardCore.Templates/README/#liquid

See this page for understanding how the templates needs to be named.

[2019-07-14 04:07] jtkech commented on #3926
Yes would be better.

There are 6 other places to update, do a find of `depends-on` on all `*.cshtml`.

I also did a find of `depends_on` on all `*.liquid` but with no result.

[2019-07-14 07:38] orchardc commented on #3923
Hi @Skrypt , I think my question is, say: for a custom MVC theme, I can create a controller and a view in visual studio, i.e. Views/Account/Index.cshtml, then the Index.cshtml can be directly accessed after active the custom theme. User can access my view by going to /account/index

But when adding a Liquid page in visual studio, say: Index.liquid , how to let users access this page directly?? Thi

[2019-07-14 09:39] sfmskywalker commented on #3902
@dodyg You can certainly define a workflow in code. You'd instantiate a new `WorkflowType`, set its `Activities` and `Transitions` properties, and persist it. For example, the following code defines a workflow type consisting of an HTTP Request Event, an HTTP Response Action, a transition connecting the two, and persisting it so it can be instantiated:

[code]

[2019-07-14 09:42] aghili371 commented on #3775
@sebastienros  please merge this pull.i think it's ready.

[2019-07-14 09:45] sfmskywalker commented on #3902
@AmrTealeb

There's a 3rd argument that takes a dictionary representing your payload (called `input`). Here's the full method signature:

`Task<WorkflowExecutionContext> StartWorkflowAsync(WorkflowType workflowType, ActivityRecord startActivity = null, IDictionary<string, object> input = null, string correlationId = null)`

[2019-07-14 10:00] dodyg commented on #3902
@sfmskywalker OK great. Let me try this out and add some helper functions to type the properties creation. `JObject.FromObject` is super flexible but prone to typos.

[2019-07-14 10:03] sfmskywalker commented on #3902
@dodyg I gave your question some more thought, and realized that I might have missed an important aspect to your question: would it be possible to define a workflow in code and have it participate in the workflow triggering system, without having to persist it? The short answer to that would be 'no', because your workflow defined in code wouldn't be available to the workflow manager otherwise.

Ho

[2019-07-14 10:47] dodyg commented on #3902
I am investigating of the suitability of using the Orchard Core workflow in a business application. If the persistence is a requirement, it should not a deal breaker as long as we find a way to override the persistence mechanism to other storage other than YesSql.

I think one of the main appeal of a workflow system is its accessibility to expert users. Having a workflow without a web design reall

[2019-07-14 13:01] aghili371 opened #3931 "how can i use content fields in query condition?"
i have usarname field in content "RegisterInTest"

i'm using this code to filter list for this user name:
[code]

how i can set this condition?

`            query = query.With<ContentItemIndex>(x => x.username== "ahmad")`

[2019-07-14 20:59] jtkech commented on #3931
See #3133.

[2019-07-14 21:12] aghili371 commented on #3884
could you please send this filter for me?

[2019-07-14 21:27] jtkech commented on #3923
So for testing in `TheBlogTheme` i created this controller.

    using Microsoft.AspNetCore.Mvc;

    namespace TheBlogTheme.Controllers
    {
        public class DemoController : Controller
        {
            public IActionResult Index()
            {
                return View();
            }
        }
    }

Then, you can put an `Index.cshtml` or an `Index.liquid` as i did under `Views/De

[2019-07-14 21:35] jtkech commented on #3884
This is the `LayoutTag` that you can use like this

    {% layout "Layout2" %}

[2019-07-14 21:58] orchardc commented on #3923
This is amazing, thanks @jtkech ! :)

[2019-07-14 21:58] #3923 closed

[2019-07-14 22:52] hishamco commented on #3889
This happen because `NullStringLocalizer` doesn't support pluralization, I will send a PR for this soon ..

[2019-07-15 12:07] carlwoodhouse opened #3934 "[GraphQL] Schema generation is not thread safe"
Currently multiple threads can try and create the schema until it is cached, this can cause exceptions to be thrown as it causes duplicate keys in some dictionaries.

[2019-07-15 12:58] agriffard opened #3936 "ContentCulturePicker redirect: Localized content not found"
I tried the ContentCulturePicker:
- Enable the Content localization module.
- Added fr-FR and En culture.
- Set fr-FR as default culture.
- Define Content Type `Article` with Title, Autoroute, Localization and Flow parts.
- Create article with `fr-FR` culture and title ArticleFR.
- Localize it into `En` culture with title ArticleEn.
- Add the fr .po files in App-Data\Localization.
- Add this in Th

[2019-07-15 13:06] agriffard commented on #3936
/cc @jptissot

[2019-07-15 15:32] jptissot commented on #3936
I saw this issue when I did not have the feature enabled in the modules or if you are on a page that has no translation.
This #3894 pr adds options to select the default redirect and sets the localization cookie.

[2019-07-15 15:36] jptissot commented on #3936
From the url you posted, it looks like the ContentCulturePicker feature is not enabled since you should get a smaller url (defined in Startup)

[2019-07-15 15:41] agriffard commented on #3936
OK, thank you.
Indeed, the feature 'Content Culture Picker' was not enable.
It was not obvious for me that it was a separate feature.

[2019-07-15 15:41] #3936 closed

[2019-07-15 19:29] OksXen commented on #3288
@sebastienros - When I enter an incorrect connection string in the Initital Set Up Page, it allows me to click on "Finish Setup" button and then the page goes to a blank page "This page isn’t working" -(Chrome).

The error message in the log file is:
 "Login failed for user 'occms_test'.  Reason: The password of the account must be changed.".

I'm using a DEV Branch (Fork).
Should I be seeing a de

[2019-07-15 19:40] OksXen opened #3937 "SQL Server: There is no error message after clicking the Finish Setup."
Identical issue is:  Closed but can't reproduce.
https://github.com/OrchardCMS/OrchardCore/issues/1528

[2019-07-15 19:43] OksXen commented on #3937
This is the DSN:
Data Source=DEV-MSSQL01-VM.cms.9c9media.net\DEVSQL01;Initial Catalog=occms_test;User ID=occms_test;Password=d>'X*5aBb;"L&

Log File:

2019-07-15 15:33:24.3493|Default|80000032-0000-f900-b63f-84710c7967bb||Microsoft.AspNetCore.Server.IIS.Core.IISHttpServer|ERROR|Connection ID "17942340917054668845", Request ID "80000032-0000-f900-b63f-84710c7967bb": An unhandled exception was throw

[2019-07-16 11:08] jptissot commented on #3508
@agriffard How can I generate the po / pot files for my modules ?

[2019-07-16 11:23] hishamco commented on #3508
@jptissot if am not wrong there's a tool that scan the modules to extract the resources.. give me few minutes to look and send the link

[2019-07-16 11:26] hishamco commented on #3508
Have a look https://github.com/lukaskabrt/PoExtractor

[2019-07-16 11:29] jptissot commented on #3508
@hishamco thanks! I will have a look.

[2019-07-16 11:29] agriffard commented on #3508
Yes, exactly:
`dotnet tool install --global PoExtractor.OrchardCore`
Then
`extractpo-oc C:\Path\OrchardCore C:\temp\OrchardCore --liquid`

[2019-07-16 12:00] jptissot opened #3938 "Documentation: How to generate pot files for your modules"
As mentionned https://github.com/OrchardCMS/OrchardCore/issues/3508#issuecomment-511777660

dotnet tool install --global PoExtractor.OrchardCore
Then
extractpo-oc C:\Path\OrchardCore C:\temp\OrchardCore --liquid

[2019-07-16 12:13] agriffard commented on #3938
We could add it on the Localization doc page:
https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Localization/

[2019-07-16 13:48] Flarescape opened #3939 "Custom blog post query (Missing detailed lucene and sql query documentation)"
(copied my question from gitter)

Hello everyone,
i'm sorry if the following question is already answered somewhere, but i was not able to find some examples for this.
I've looked into the documentation for lucene and sql queries in orchard, but i'm not completely sure, whats the best solution.

I'm trying to query all blog posts from a specific blog for a classic "recent blog posts" solution.
Fir

[2019-07-16 14:34] dodyg commented on #3939
You can check this case

https://github.com/OrchardCMS/OrchardCore/issues/3540

[2019-07-16 16:04] Flarescape commented on #3939
@dodyg Thank you! Unfortunately it's still not documented and i don't really get the benefit of this field if i can do it right in the query without using the parameters.

[2019-07-16 19:55] domonkosgabor opened #3940 "Brackets displays wrongly for right to left display style"
The following HTML code:
[code]
renders the page in the way:
`(hello (world`
However if I add the LRM character after the last bracket (HTML entity: `&#x200E;`) the brackets display well.

Are there any solutions to this issue? I think it's not a valid scenario to add this content after every text, when the dir of the html is rtl.

[2019-07-16 20:39] domonkosgabor opened #3941 "Mention Orchard Core Training Demo module in the Guides"
Lombiq has an [Orchard Core Training Demo](https://github.com/Lombiq/Orchard-Training-Demo-Module) module for training purposes guiding you to become an Orchard developer. It could be helpful to mention this module somewhere in the documentation of Orchard Core.
Maybe the best place to mention this module could be under the Tutorials section [of the Guides page](https://orchardcore.readthedocs.io/

[2019-07-17 06:10] wonazhidaoK opened #3942 "Unable to resolve service for type ' ' while attempting to activate ' '."

[2019-07-17 07:59] carlwoodhouse commented on #3937
`Keyword not supported: '"l&;connect timeout'.`

shouldnt that be `Connection Timeout` in a sql connection string?

[2019-07-17 09:01] OksXen commented on #3937
Yes - it could be. Except, it was not passed in as part of the sql connection string when I got the error.

[2019-07-17 10:40] dodyg commented on #3939
You don't need the parameter. You can hard code the `{ size : 10 }` to limit the number of results you get.

[2019-07-17 11:27] Flarescape commented on #3939
@dodyg So it's currently useless?

I am very grateful for your help.
Since you obviously already know the new Queries better, could you help me with my actual problem? (Filter on specific blog)

[2019-07-17 12:42] Flarescape opened #3943 "Create MetaTag with Liquid (Documentation missing?)"
I've tried this `{% meta name:"test", content:"test" %}` and debuged the MetaTagHelper.cs.
The tag is generated but doesn't show up at `{% resources type: "Meta" %}` in the `<head>` tag of the Layout.liquid

This question is similar to this one (no answer): #3824

[2019-07-17 13:14] Kinani commented on #3902
If I'm going to include Workflows in a business application (not CMS). Should I go with Elsa-Workflows or Orchard.Workflows?

[2019-07-17 13:27] hishamco commented on #3508
@agriffard can we add these commands to README.mk for the localization module?

[2019-07-17 15:06] Flarescape opened #3944 "Boolean switch unuseable inside flow part"
As the title says, the boolean field switch does not work inside a flow part.
The switch does nothing on click.

[2019-07-17 15:32] Flarescape opened #3945 "Vue content picker error even if not used"
I have a ContentItem with a FlowPart that is empty.
For this FlowPart there is only one widget with a ContentPicker available.
As i've said, even if the flow part is empty on a new content item, this error occurs:
![image](https://user-images.githubusercontent.com/1375119/61389215-cb505880-a8b8-11e9-90ba-58553c7cc76d.png)

[2019-07-17 15:49] Skrypt commented on #3945
/cc @jptissot

[2019-07-17 15:52] Skrypt commented on #3942
Please provide repro steps else this is too vague for us.

[2019-07-17 15:57] Skrypt commented on #3937
The exception could be handled more gracefully but at this point we rely on getting the SQL connection to return the exception simply because it is more accurate.  Though, we could eventually do a connection test to validate the form before moving forward with anything else.

[2019-07-17 16:06] dodyg commented on #3553
If you creating a module and want to create a menu section on the admin panel, implement a INavigationProvider

[code]

and add it at your module startup

[code]

[2019-07-17 16:15] dodyg commented on #3939
I assume you have multiple blogs. The problem with Lucene index on the BlogPostItem is that doesn't know which blog your blog post belongs to. So you have to add this information yourself on each blog post.

1. For your blog post definition, create text field (name it e.g. BlogId) with drop down input that contains text that contains identification (e.g. "cooking blog", "tech blog", "x blog")
2. M

[2019-07-17 16:28] johnrom commented on #3904
Since there is more functionality via Custom Settings than a helper can provide, I've updated the documentation instead.

[2019-07-17 18:07] #3910 closed

[2019-07-17 18:08] #3908 closed

[2019-07-17 18:09] #3906 closed

[2019-07-17 18:18] #3918 closed

[2019-07-17 19:01] AmrTealeb commented on #3902
I did a new implementation for WorkflowTypeStore to save data in SQL server, how can i register my new class to be used for IWorkflowTypeStore interface?
I tried this in my Startupcs file but didn't work
`services.AddScoped<IWorkflowTypeStore, WorkflowTypeSqlStore>();`

[2019-07-17 20:15] domonkosgabor opened #3947 "Rendering stylesheets with style tag helper from widgets"
Let's say you have a `MyWidget` content type with the `Widget` stereotype. Add this widget to a layer, like `Always`.

Now add a shape to the theme to customize the way and look of this widget. Let's call the shape template to `Widget-MyWidget.cshtml`.
The widget has its own styling, that I only want to render when we are on a page where the widget is visible so let's include the stylesheet using

[2019-07-17 20:40] Piedone commented on #3947
Is this unique to widgets or does this happen with all shapes not injected into the Content zone?

[2019-07-17 21:12] domonkosgabor commented on #3947
With all shapes not injected into the Content zone, the Widget stereotype is not needed.

[2019-07-17 21:17] jtkech commented on #3902
Try to add in your module manifest a dependency on the workflow feature so that your startup will run after the workflow one, this way i think you will be able to really override the default implementation.

[2019-07-17 21:32] jtkech commented on #3943
Just tried it works, do you have this line in your layout and in the right place

    {% resources type: "Meta" %}

This is where all your meta tags will be rendered, e.g if you define a meta tag in another view, this is here that it will be rendered. Otherwise, if you define it at the right place from the beginning, you can just use regular html meta tags and maybe with some liquid syntax to defi

[2019-07-17 21:36] jtkech commented on #3824
You first need to be in a view whose model holds a content item, this is true most of the time. Then you need to have this line at the right place in your layout.cshtml / liquid.

    {% resources type: "Meta" %}

[2019-07-18 00:40] Skrypt commented on #3553
@dodyg What's the goal of this topic. Are these all things that should be added to a documentation about decoupled CMS? Else maybe a readme.md file would be more appropriate than adding a lot of different topics in a single issue?

[2019-07-18 00:43] Skrypt commented on #3939
I think this issue is a duplicate of something we discussed on a different issue. If not then open an issue about it but I think the proper resolution of this issue would be to add the parent Id of a List item in the Index.

[2019-07-18 01:02] #3942 closed

[2019-07-18 01:21] Skrypt commented on #3904
Alright, I thought too that a helper would help but looks like not. 😉

[2019-07-18 06:34] neolution-ch commented on #3900
We ended up using the default Authentication middleware but with a separate AuthenticationScheme. That was enough for our needs 👍

[2019-07-18 07:29] orchardc opened #3948 "The Blog content and SEO??"
Hi,

For the blog theme, after you create a blog article, how to optimize SEO to ensure **every new blog post will be crawled and indexed by Google**?

Thanks!

[2019-07-18 07:46] dodyg commented on #3948
As long as your https://www.robotstxt.org/ allows Google to crawl your site, it will find them.

[2019-07-18 07:48] dodyg commented on #3939
@Skrypt that would solve this issue elegantly.

[2019-07-18 07:51] orchardc commented on #3948
Thanks @dodyg, Please correct me if I'm wrong but I thought the Blog post are Dynamic content (generate in the fly and load data from database via Liquid); how that is crawled?

[2019-07-18 07:52] dodyg opened #3949 "Add parent id of a list item in Lucene index"
In the scenario of having multiple blogs in a site, there is no easy way to query the specific BlogPost Content Items that belong to a specific blog.

https://github.com/OrchardCMS/OrchardCore/issues/3939#issuecomment-512620314

[2019-07-18 07:57] dodyg commented on #3902
You can use Orchard Core Framework for business application just fine. @AmrTealeb  is trying out OrchardCore.Workflows in business application. I am investigating esla-workflow. I suspect you can go either way but trying it out in a test project is the only way to find out.

[2019-07-18 08:40] deanmarcussen commented on #3948
Site crawls from Google work by crawling the html on the site, so anything that google can see because it has a link in an html page, google will find.

Refer https://support.google.com/webmasters/answer/70897?hl=en

See also https://github.com/OrchardCMS/OrchardCore/pull/3229

[2019-07-18 08:41] dodyg commented on #3553
My goal is to be able to figure how to implement a decoupled CMS  with a custom module that is well integrated with the rest of the CMS.

The problem is my knowledge is still patchy so I am just putting notes here of all the new things I am figuring out. When I finally figure out how Orchard Core Framewor/CMS works, I will write a guide based on these notes.

[2019-07-18 08:43] orchardc commented on #3948
Thanks @deanmarcussen , That is correct and my understanding is that the Blog post is dynamic page, rather than static pages.  So how Google can crawl the site??

[2019-07-18 08:46] dodyg commented on #3948
Google doesn't care whether it is a static or dynamic page. When it finds the blog posts linked from your main blog, it will follow and index them.

[2019-07-18 08:50] orchardc commented on #3948
Thanks @dodyg , does it mean we don't have to use sitemaps ? Instead just listing all Blog posts on the homepage?

I'd expect a Orchard module that can optimize the SEO.

[2019-07-18 09:29] dodyg commented on #3948
Sitemaps (https://support.google.com/webmasters/answer/156184) would help but I am not sure if such Orchard module exists yet. Regardless, Google will find your blog posts.

[2019-07-18 12:34] Skrypt opened #3950 "Content item unpublished date modified not changed"
When unpublishing a content item the date of modification is not changed.

[2019-07-18 12:45] domonkosgabor commented on #3947
And I also raised this issue in Gitter as well: https://gitter.im/OrchardCMS/OrchardCore?at=5d2f3338eab6cd776385d287

[2019-07-18 17:04] AmrTealeb commented on #3902
@jtkech Thank you, i did this and it works.
Is there a way i make the CMS use my implementation for IWorkflowTypeStore and IWorkflowStore ?

[2019-07-18 19:33] sebastienros commented on #3950
But should it be?

[2019-07-18 19:33] sebastienros commented on #3950
Is it in O1?

[2019-07-18 19:33] #3948 closed

[2019-07-18 19:35] sebastienros commented on #3553
Until @dodyg 's site is done, I am fine with this issue as a public note taking tool. It also helps us understand how users try to solve their solutions and let us react to it.

[2019-07-18 19:35] sebastienros commented on #3949
We talked about it recently, there might already be an issue for it.

[2019-07-18 19:36] sebastienros commented on #3939
Duplicate of #3949

[2019-07-18 19:36] #3939 closed

[2019-07-18 19:38] #3904 closed

[2019-07-18 19:38] #3824 closed

[2019-07-18 19:39] #3943 closed

[2019-07-18 19:40] sebastienros commented on #3937
That's a good idea. We could provide a custom handler or query for each db provider because each will need custom logic to verify the database is available.

[2019-07-18 19:43] sebastienros commented on #3940
/cc @hishamco

[2019-07-18 19:48] sebastienros commented on #3940
My feeling is that in a truly rtl translation the parentheses would not be in this location.

[2019-07-18 19:56] Skrypt commented on #3950
Well depends if we don't consider that unpublishing is a change.

[2019-07-18 19:56] #3884 closed

[2019-07-18 19:57] sebastienros commented on #3931
Duplicate of #1485

[2019-07-18 19:57] #3931 closed

[2019-07-18 20:00] sebastienros commented on #3775
Someone please comment on this issue after tomorrow so we don't forget about it.

[2019-07-18 20:02] sebastienros commented on #3912
During last meeting I mentioned have cache busting be the default, or at least have a setting to be able to make it the default, or disable it, or use whatever is defined in the tags. The same way we handle the CDN versions. Would it make sense?

[2019-07-18 20:03] sebastienros commented on #3917
Thanks for the repro

[2019-07-18 20:32] Skrypt commented on #3912
Yes we made both PR's before having your opinion about it so I guess the PR needs to be refactored taking this in consideration.

[2019-07-18 20:47] deanmarcussen commented on #3912
That sounds like a good idea.
Another site setting would work, on by default, but can be turned off, and the tag helpers and `ResourceManager` could override it.

We should also update the tags that only reference a cdn-src to be `asp-append-version="false"`, so that the `ShellFileVersionProvider` doesn't have to noop the absolute urls.

[2019-07-18 21:09] hishamco commented on #3940
@domonkosgabor the above render is expected because English is LTR writing, but if you replace with Arabic text for instance it should render without any issue

[2019-07-18 21:30] hishamco commented on #3940
One more thing before I forget, closed parathesis may not like the one in the example above, especially if it comes at the end

[2019-07-19 07:16] MohitNaroliya opened #3952 "Couldn't able to add flow part widgets in the landing page"
I am trying to add a Flowpart in the landing page but not showing the section of selected widget in preview and also in saved landing page content view. I have tried below process to add flowpart on landing page -
* First added flow part in the landing page content type.
* than trying to add a new landing page with the HTML widget flow part.
* than click on preview but not showing the added widget

[2019-07-19 10:41] domonkosgabor commented on #3940
@hishamco thank you for your answer, it's clear now.

[2019-07-19 10:41] #3940 closed

[2019-07-19 16:42] sfmskywalker commented on #3902
@Kinani I recommend going with OrchardCore.Workflows for now, as Elsa is not ready yet for prime time. After that however, things might be different.

[2019-07-19 16:49] Kinani commented on #3902
Okay, thank you all for your great contributions.

[2019-07-19 20:16] #3926 closed

[2019-07-19 21:11] aghili371 opened #3954 "content picker issu"
why the content picker doesn't render in add new or edit content?
it was working, just i updated the references to the new version.

![c](https://user-images.githubusercontent.com/24512878/61565766-4c0a8280-aa7a-11e9-8277-e3fd9fd9dc48.JPG)

[2019-07-19 21:21] aghili371 commented on #3635
it still doesn't work.

[2019-07-19 21:28] aghili371 commented on #3435
i used "properties " to save extra fields, it works fine but when i want to have listed and edit the information, it was difficult to use.
i created new content type "user info" and i added the field here.

the problem is how to connect this content type and "user register info".

i you set an extra field in the identity of the user to get the user id, it will be great.

i can get the username by

[2019-07-19 22:46] aghili371 commented on #3775
the "ContentCulturePicker" need to set permission, too.

[2019-07-20 01:59] Skrypt commented on #3954
The controller of the ContentPicker is now marked with the attribute [Admin] so it is accessible only if your user has the permission to access the admin.

[2019-07-20 11:54] OksXen commented on #3937
- related 500 error page issue, after clicking on "Finish Setup"
https://github.com/OksXen/OrchardCore/issues/1

[2019-07-20 15:35] deanmarcussen commented on #3855
@jtkech ok, it took a bit of figuring out, to repro the original issue on https://github.com/OrchardCMS/OrchardCore/issues/3263, to be sure that the changes you suggested fixed it, mostly because I tend to use IISExpress or IIS.

Both IIS and IISExpress are InProcess hosted by default, and `IHttpMaxRequestBodySizeFeature` is a kestrel only feature, so under IIS & IISExpress it is always null, so t

[2019-07-20 22:48] jtkech commented on #3855
Okay.

Hmm, maybe in the attribute implementation we could have just one config value, e.g our `MaxRequestBodySize`, for both `FormOptions.MultipartBodyLengthLimit` and `IHttpMaxRequestBodySizeFeature.MaxRequestBodySize`, and that would be an upper limit for security.

Then still use our `MaxFileSize`, intended to be lower, in the media controller to not return a 404.

[2019-07-20 23:48] hishamco commented on #3635
@aghili371 the localized date-picker should should the name of the Persian days, months and years if the culture set to `fa-IR`, don't confuse with Persian calendar which is still not integrated with the date-picker

[2019-07-21 10:11] deanmarcussen commented on #3855
So my mistake, it's not a `404` returned, it depends again (no one size fits all!) on whether is hosted by IIS or Kestrel. IIS gives a `413 (Request Entity Too Large)`, whereas Kestrel just throws an Exception and returns a `500`.

I think an upper limit for security might defeat the security purpose of `MaxRequestBodySize`, and would still not give a user friendly error running InProcess on IIS,

[2019-07-21 11:18] hishamco commented on #3950
Changing the publish status is a change as I see in many CMSs such as Drupal

[2019-07-21 11:29] hishamco commented on #3937
It would be nice if we move the verification into YesSQL layer, if sound is good I can create a PR for it

[2019-07-21 11:48] hishamco opened #3956 "Install extra components alert in VS 2019"
![Features](https://user-images.githubusercontent.com/3237266/61590756-4e79f300-abc6-11e9-8518-1447b1518dc4.png)

@sebastienros is this what you mean in the latest community standup, after adding .editorConfig?

[2019-07-21 17:10] yueqiniu opened #3957 "Content Picker doesn't work , What's the reason?"
Here are the steps I set up，But no content was displayed after configuration. Is there anything wrong with my configuration？

**pic-1**

![image](https://user-images.githubusercontent.com/5414777/61594296-d4288d80-ac1c-11e9-91d2-cbd6e376be2e.png)

**pic-2**

![image](https://user-images.githubusercontent.com/5414777/61594298-dd195f00-ac1c-11e9-900e-2c33a1b7aa3f.png)

**pic-3**

![image](https://us

[2019-07-21 21:17] themattkenney commented on #3952
I have the same issue on standard themes or custom I verified on https://try.orchardproject.net/.

[2019-07-21 21:33] jtkech commented on #3855
Okay but i'm lost ;) So i let you decide, here only some suggestions.

- Anyway we need `options.Filters.Add(typeof(AutoValidateAntiforgeryTokenAttribute), 1000);` with the order parameter for this filter that we use globally, so that it doesn't conflict with the usage of another action attribute as e.g `RequestSizeLimitAttribute` or `RequestFormLimitsAttribute`.

- First if `InProcess`, as i unde

[2019-07-21 21:55] jtkech commented on #3952
If you use the default shape template views, all parts / fields of a given content item will be rendered. But when a shape is overridden e.g by a theme, you have to look in the related view template code.

E.g `TheBlogTheme/Views/Content-Article.liquid` is not using the standard way to render child content zones as you can see in `OC.Contents/Views.Content.cshtml`. Instead it explicitly grabs data

[2019-07-21 22:28] jtkech commented on #3957
Just tried, it works on my side, but i use the last dev, which version do you use?

![BlogPosts](https://user-images.githubusercontent.com/8586360/61597978-7f364880-ac17-11e9-8182-0f8d3b241f67.png)

[2019-07-22 00:15] themattkenney commented on #3952
Thank you for the info @jtkech? This will help us update our custom theme. ? Will OC be updating the agency theme to allow the FlowPart by default? We could add it and do a PR if so.

[2019-07-22 02:52] jtkech commented on #3952
Sorry, i don't think so, you would have to render it by yourself, e.g by just adding in the `LandingPage` database template => `{{ Model.Content.FlowPart | shape_render }}` (need to be tried).

Then you will be able to override the default `FlowPart.cshtml` and the widgets as needed. Overriding in liquid the default `FlowPart.cshtml` would not be easy, but it only adds a `<section class="flow">` a

[2019-07-22 03:31] yueqiniu commented on #3957
I just downloaded the latest version，is working properly . Thank you very much !

[2019-07-22 03:31] #3957 closed

[2019-07-22 09:27] Kinani commented on #3902
I tried to include OrchardCore.Workflows as advised, so far what i did:
- Calling `.AddOrchardCore().AddMvc()` in `ConfigureServices`
- `app.UseOrchardCore();` in `Configure`
- Referencing OrchardCore.Application.Mvc.Targets, OrchardCore.Workflows

I get the following Exception

[2019-07-22 10:48] szilardcsere89 opened #3958 "BagPart's contained content types are overwritten by modules"
I have a content type definition where the type has a BagPart and I add a type to the contained content types. My configuration in the module is the following:

[code]

When I'd like to use this module **in another one** I can't extend the contained types of the bag only overwrite them:

[code]

Finally, the contained content types are not merged and contain only "TypeB". How should I use it if I'

[2019-07-22 13:12] Piedone opened #3959 "Clear up "default theme" terminology"
Currently "the default [site] theme" and "The Default Theme" are two different things and I think it could use some clarity. This has bugged me for a while :).

- It's not clear why the currently active theme is called "default" on the admin UI. Granted it can be overridden programmatically but this is not clear from the admin UI. If the terminology is sound it could use some clarification (like w

[2019-07-22 14:02] barthamark commented on #1212
@sebastienros what's your opinion on this? I'll start implementing this in YesSQL if you think this is the right approach.

[2019-07-22 18:07] Flarescape commented on #3943
@jtkech thanks for your answer!
My idea is a little bit more "complex".
I have a `ContentPart` which has two text fields.
This part should be added to a `ContentItem` named `"Page"`. (should be a normal content page)

So, if you create a new `"Page"` and enter some values inside this two part fields, the liquid alternate behind the part should create meta tags out of these values.
Currently the li

[2019-07-22 19:43] jtkech commented on #3959
I agree ;)

[2019-07-22 20:37] jtkech commented on #3943
Okay so it should work.

Can you share your testing code, your alternate using `{% meta name:"test", content:"test" %}` and your layout including `{% resources type: "Meta" %}`.

[2019-07-23 07:31] deanmarcussen commented on #3924
Should we update the theme templates (and the media picker for the html and markdown editor) to use the liquid `append_version` filter by default, or should we as per https://github.com/OrchardCMS/OrchardCore/issues/3912
add a `OrchardCore.Media` `appsettings.json`  to control cache busting via a default setting?

[2019-07-23 08:51] deanmarcussen opened #3962 "Handle MaxFileSize in javascript"
Related to https://github.com/OrchardCMS/OrchardCore/pull/3961 and https://github.com/OrchardCMS/OrchardCore/issues/3263

We should update the media app to use `jquery.fileupload-validate.js` to validate the max file size before trying to upload to the server.

Will give a better error to the user, regardless of the hosting option (`InProcess`, `OutOfProcess`, IIS, Kestrel etc)

[2019-07-23 13:19] dodyg commented on #3553
It's not clear on how to create a shared _layout.cshtml for a module while integrating it with the OrchardCore Admin theme.

I am aiming for something like

-- OrchardCore.Admin Theme
--- Module._Layout
---- The rest of the views in the module inherits from Module._Layout

Right now if I create a module _Layout, all the admin themes are not included.

[2019-07-23 13:57] dodyg commented on #3553
OK progress

[code]

This one seems to get access to the Layout page of the theme however now it generates
[code]

[2019-07-23 14:28] dodyg opened #3963 "Nested layout for custom module"
I am creating a custom module and I want the pages in the admin section of the custom module to share common layout inside the theme layout.

[=========Admin Theme Layout =========]
...... [=======Module Shared Layout =====]
...............           [========Views========]

Does such feature exist?

I've read https://github.com/OrchardCMS/OrchardCore/issues/993 but the solution there is confusing

[2019-07-23 14:31] dodyg commented on #3553
I created a case for this custom module nested layout https://github.com/OrchardCMS/OrchardCore/issues/3963

[2019-07-23 14:34] Skrypt commented on #3963
I think only one Layout file is accepted / tested so far. Everything else would be a hack of some sort. since you can change the Layout I would suggest you consider having 2 different Layout files simply.

[2019-07-23 15:42] dodyg commented on #3963
I just need to share common UI elements/partial views because it's an admin section. In normal ASP.NET Core app I just use layout to achieve it. I am not sure how to do that in Orchard Core.

I have full control on the front end because I use the decoupled approach. This one is for the admin part of the module.

[2019-07-23 20:29] aghili371 opened #3964 "Logout and change password menu item in admin theme"
1-in mobile view, the user name and logout menu are hidden. these are should be shown at the top of the page.

2-the seceond problem, i don't know why we don't have change password in the admin page. i think i we select service receipt, this menu and external login are shown in the layout.

it's really useful to have change password in admin layout.

[2019-07-23 21:03] #3775 closed

[2019-07-23 21:03] #3855 closed

[2019-07-24 08:53] agriffard opened #3966 "Add setup culture in available recipe parameters"
Retrieve the culture specified in the setup (ex: by using this in the querystring ?culture=fr-FR or by using the appsettings default culture) and make it available in the recipe parameters.

It will allow to use it in a recipe step that adds and sets the default culture in the Localization settings dynamically.

[2019-07-24 15:50] Flarescape commented on #3943
Before i post all my code here, i tried the simpler way to test, if this actually works!
So i added the liquid meta tag helper directly under the supposed "section".

The head tag of my Layout.liquid:
[code]

The HTML output:
![image](https://user-images.githubusercontent.com/1375119/61807442-d582d180-ae39-11e9-9f31-9490755b721d.png)

As you can see, there is no meta tag underneath the title.
I've

[2019-07-24 16:19] jtkech commented on #3943
Meta tags need to run before the resources tag. When rendering a view that belongs to the `Content` zone of the `ThemeLayout`, in fact its code is pre-executed before being effectively rendered by the theme layout.

In your test, `{% meta name:"test", content:"test123" %}` needs to run first.

[2019-07-24 16:45] Flarescape commented on #3943
Thats nice to know, thanks!
So in my case, if i have my ContentPart with the two text fields and the alternate with my two dynamically filled meta tags, i have to display this part in the Head_Meta section ?

So this is my current solution:
**The Part:**

![image](https://user-images.githubusercontent.com/1375119/61811671-49c17300-ae42-11e9-80d7-285b70e9f9be.png)
--------------------------------

[2019-07-24 17:33] deanmarcussen commented on #3725
Also the bootstrap-bundle integrity values in `ResourceManifest.cs` are incorrect, and the script is blocked.

Will check the others as well

[2019-07-24 19:30] jptissot commented on #3954
I think this is due to the js not existing on the cdn. I think this was fixed recently. Can you update and see if the issue persists ?

[2019-07-24 19:32] jptissot commented on #3945
We should probably cleanup all the js initializers to target some classes or data attributes instead of injecting <script> tags in the body.

[2019-07-24 19:39] jtkech commented on #3943
Okay, just tried it works.

So i created an `SEOMetadat` part as you and added it to the `Article` type.

In `Content-Article.liquid` i added this to render the part

    {{ Model.Content.SEOMetadat | shape_render }}

Note: This is not necessary if the theme use the default way to render the child shapes of parts / fields of a content item, but `TheBlogTheme` templates only use the data they need

[2019-07-24 19:46] #3934 closed

[2019-07-24 20:08] Flarescape commented on #3943
@jtkech oh wow, i see my fault ...thank you so so much!

I misunderstood the rendering of the part.
I thought, that if i add the part to a random content type it works, but for sure i have to modify it's liquid to actually render the part...that's what i was missing...sry!

But again, thank you very much for your help and also it's now documented with an example!

[2019-07-25 06:20] HengzheLi opened #3969 "How to understand the "Shell"?"
Can I understand the Shell is an instance of an OchardCore? But I saw the ShellHost class, it seems that the Shell could have more than one at runtime. So what does a Shell mean?
Does it somehow equal to Tenant? I can understand the Tenant well. But the Shell, it confuses me.

[2019-07-25 09:20] nkev commented on #161
@jptissot Did you find out how to localize taxanomies the official way? Still no official documentation on this as far as I can see. I am also getting confused with taxanomies in general, even looking at other (old) issue posts. A simple step-by-step example would really help everyone.

[2019-07-25 10:14] HengzheLi commented on #3969
Then, why recreate a new term: Shell instead of continuing to use the term: Tenant

[2019-07-25 11:16] deanmarcussen commented on #3969
So the tenant host is not exactly a tenant, i.e. you won't see it in the list of tenants.
It is a `Shell`, which can manage other `Shells` , which might be tenants

(I think)

[2019-07-25 12:50] deanmarcussen opened #3970 "Reload current tenant when resource site settings are changed"
When changing the resource settings (cdn / debug mode etc) the current tenant is not reloaded, so the settings don't take effect.

1. Could either reload the tenant for all the default site settings changes or
2. Move the resource settings to a different menu item.

[2019-07-25 14:12] HengzheLi commented on #3969
ah, this makes more sense

[2019-07-25 16:44] hishamco commented on #3966
I didn't get what you mean here

AFAIK the default culture and supported cultures are added to the recipes. Is this what you mean or there's something else?

[2019-07-25 17:39] aghili371 commented on #3870
i tested font-awesome classes, but it still doesn't work.
        builder.Add(T["لیست ثبت نام مدرسه فوتبال"], T["لیست ثبت نام مدرسه فوتبال"], list => list
                    .Action("listRegisterInAcademy", "Admin", new { area = "Academy.OrchardCore" })
                    .LocalNav()
                    .AddClass("fa-facebook")
                    .Permission(Permissions.ManageAcademy)

[2019-07-25 17:46] hishamco commented on #3870
No need to add the `fa` prefix if I'm not wrong

[2019-07-25 17:50] aghili371 commented on #3870
i have tested .AddClass("facebook") but it doesn't work

[2019-07-25 17:55] hishamco commented on #3870
Try `.AddClass("user")` and let me know if it shows up

[2019-07-25 18:14] Flarescape commented on #3939
Hi!

After a few tries i got i kind of working with an sql query.
The bigger problem was/is, that i want only a specific amount (last 2 blog posts) and that `TOP ` is not supported.
I've looked into the documentation and found out, that i should use `LIMIT ` instead.
This was my approach with `LIMIT` and a parameter (like it's in the documentation):
[code]
This always throws an exception: `An erro

[2019-07-25 19:14] sebastienros commented on #3966
@hishamco there is a set of special variables in the recipes that are passed by the called, so you can use these values in the recipe. When executed from the setup controller, we pass all the form values to the recipes. I assume @agriffard means that we should also pass the "current" culture that was used, so the recipe could use it to configure the default culture of the site. It could have been

[2019-07-25 19:15] #3969 closed

[2019-07-25 19:15] aghili371 commented on #3870
no, it doesn't work

[2019-07-25 19:16] #3970 closed

[2019-07-25 19:20] #3725 closed

[2019-07-25 19:23] #3912 closed

[2019-07-25 19:26] sebastienros commented on #3959
Basic sounds good to me.

[2019-07-25 19:29] Piedone commented on #3959
What about how to call the current site theme? (I.e. something like "current" as it's also in the code, or keep "default" as it's on the UI.)

[2019-07-25 19:32] sebastienros commented on #1212
CQRS? Ok to add the list of commands that are executed by the schemabuilder inside a specific document of YesSQL, and we can then use it to list all the available tables, and then delete them.

[2019-07-25 19:34] sebastienros commented on #3958
we might need an overload of `ContentContentTypes` that allows to merge the items. Or change the behavior to only merge and add another method like `ClearContentTypes`. Please provide a PR for that.

[2019-07-25 19:35] sebastienros commented on #3902
It might need a storage abstraction so that yessql would only be a custom implementation.

[2019-07-25 19:38] sebastienros commented on #3952
This could be the purpose of an article related to Flow Part, how to render it and customize the widget templates. There is not much that can be done generically here in this theme.

[2019-07-25 19:38] #3952 closed

[2019-07-25 19:39] sebastienros commented on #3956
Yes, if the solution worked for you before this change, we need to remove the components that it tries to install from the list.

[2019-07-25 19:41] #3950 closed

[2019-07-25 19:47] #3899 closed

[2019-07-25 19:51] #3889 closed

[2019-07-25 19:53] #885 closed

[2019-07-25 22:40] Skrypt commented on #3969
A `Shell` is doing way more thing than just providing tenants ... 😉

[2019-07-25 22:47] hishamco opened #3973 "Add Content-Language Header"
Localization again 😄, while `Accept-Language` header is useful for the request, `Content-Language` is very useful too for the response, there's no support for this yet. I already started a PR in AspNetCore meanwhile, I suggest to add this as a feature for a Localization Module. after that we can integrate with the `RequestLocalizationMiddleware`

If sound is good, I will send a PR for this one

/c

[2019-07-25 23:41] Skrypt opened #3974 "ContentStep should not _session.CommitAsync()"
Since the Shell scope is now doing it on dispose.
Related : #3089
I tested the recipes with #3089 and it works fine.
We need to test some use cases and make sure removing this _session.CommitAsync() will not break any thing.

[2019-07-25 23:56] Skrypt commented on #3973
Some reading :
https://www.w3.org/International/questions/qa-http-and-lang

[2019-07-26 00:02] hishamco commented on #3973
Thanks, AFAIK send the `Content-Language` header via response is way better that using meta tag

[2019-07-26 00:51] Skrypt commented on #3635
Create a SiteSettingsCalendarSelector that would override the DefaultCalendarSelector that uses the calendar that comes from the current culture.

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore/Localization/DefaultCalendarSelector.cs#L14

[2019-07-26 00:57] hishamco commented on #3635
As we discussed in gitter, if date picker should uses the `SiteSettingsCalendarSelector` unless overriding need. For instance if the `SiteSettingsCalendarSelector` provides `GregorianCalendar`, may I will override that and use `HijriCalendar` for specific date pickers

[2019-07-26 15:02] cjcheetham opened #3975 "Reset password 'New Password Confirmation' field not validated"
1) Click "Reset Password" in login view
2) Enter email
3) Click "Reset your Orchard password" link in email
4) Enter new password and a different password in the "New password confirmation" field and select Reset password.

The password is reset despite the "New password" and "New password confirmation" being different.

[2019-07-26 15:33] barthamark commented on #1212
Not sure if I understand this. What commands to be executed by the schemabuilder inside a specific document?
My idea is to store the table names in a document (so one single document dedicated to store table names) and when deleting a tenant this document would be fetched and the list of table names would be used. Is this what you meant?

[2019-07-27 08:52] barthamark opened #3976 "Content Items with multiple stereotypes can't be displayed"
When you add multiple stereotypes to a content type you won't be able to edit or display it anymore since the shape type what is looked for contains the full stereotype list including the comma separator.

E.g. add `Widget, Test` stereotypes and either try creating an item or display it using FlowPart (if one of the stereotypes is Widget). An exception will be thrown:

[code]

[2019-07-27 09:08] barthamark commented on #3976
I might misunderstood the hint under the Stereotype editor. Also based on the code it seems multiple stereotypes are not supported. Never tried this scenario before, not even in Orchard 1.x. If that is the case then we can close this issue.

[2019-07-27 10:14] aghili371 opened #3977 "it's possible to add extra css ,js file to admin them?"
How can I add extra CSS or js file in admin theme?
I don’t want to create a new admin theme.

[2019-07-27 19:05] giannik opened #3979 "iis crash messages in production"
Upon deployment to a production web site I am getting the following error messages (stackoverflow) in windows event log :
![image](https://user-images.githubusercontent.com/1516981/61998524-29035280-b0ba-11e9-9948-83ba85fbc39a.png)

After more thorough investigation I discovered that when running under IIS the following exceptions were thrown from orchard : Looks like some threading issues in Auto

[2019-07-28 00:20] Skrypt commented on #3977
Every .js file that are added in the /Assets/js folder of TheAdmin theme will be bundled by the gulp pipeline. Though if you want to customize some admin views you will also require to modify the TheAdmin theme. I strongly suggest that you create a new Admin theme by copying the TheAdmin theme and renaming it for doing this. Else you will run into merge conflicts if we change anything the the TheA

[2019-07-28 00:23] Skrypt commented on #3979
How many items you have in your AutoroutePartIndex table and are you using it in a custom module? Because normally these records are cached on the server and should be retrieve pretty fast unless something tries to update/create/remove them concurrently.

[2019-07-28 06:19] giannik commented on #3979
This is just a simple Page content type with autoroute part. The autoroutepartIndex table has only 20 records and every path is unique.
Maybe this pr  https://github.com/OrchardCMS/OrchardCore/pull/3930 from @jtkech resolves this ??

[2019-07-28 18:27] Skrypt commented on #3979
Ok, so we need to be able to repro. Give us the more information you can about your deployment environment and how you compile/deploy so we can repro and isolate this bug.

[2019-07-28 18:44] aghili371 commented on #3977
so i have to create new admin them.

[2019-07-28 19:57] domonkosgabor opened #3980 "Client-side validation of the form elements"
In Orchard 1.x, you have the ability to add validation rules to form elements when building the form.
For example, you can have the required, minimum and max length attributes, use a custom validation message and decide to show a custom validation message instead. We can also add a regular expression here too.

In Orchard Core, you cannot have validation for the input fields in this way when using

[2019-07-28 20:13] domonkosgabor opened #3981 "Unify form items display views of the Forms module"
By using the built-in Tag Helpers in .NET Core, you can have a quite clean and smart way to bind different HTML elements to a model expression in your Razor view.

Of course, you don't need to use the new Tag Helpers, you can construct your own HTML elements by binding the different attributes to your elements as you can do that before, like:
`<input id="@id" name="@name" type="@type" class="form-

[2019-07-29 00:21] jtkech commented on #3977
Just for infos in your theme manifest you will need the admin tag and you can specify that your theme is based on `TheAdmin` theme so that you don't need to override again all the views.

    ...
    Tags = new [] { "admin" },
    BaseTheme = "TheAdmin"
    ...

[2019-07-29 15:53] Flarescape opened #3982 "Deleted fields not removed from Document table json"
I really don't know if this is on purpose, but i noticed that if you add a field to a content type, create content of that type and then remove the field, it will remain in the json of the document table entry.
Even the previous value of the field is saved forever.

[2019-07-29 17:11] sebastienros commented on #3982
It is intended/by design. It could be an issue though in some cases where you just want to get rid of some content. In this case we would need a custom pruning tool that would process every content item to remove such dangling node.

[2019-07-29 17:38] Skrypt opened #3983 "Lucene Content Picker"
When enabling the module, the editor option on a content picker doesn't appear. You need to rebuild the solution or reload the tenant for this to work. Also, it is a little ambiguous for knowing that we require a TitlePart for this to work and it seems that the TitlePart is always indexed in Lucene but if we look at the TitlePart indexing settings there's nothing checked.

[2019-07-30 00:33] petedavis opened #3984 "Move default themes to a samples "opt-in" nuget package"
When building an OC website from nuget packages with a custom theme, you cannot opt-out of having the default themes included in the build release when using the OrchardCore.Application.Cms.Targets package.

Propose creating a OrchardCore.Application.Cms.Samples.Targets package and moving TheTheme, TheBlogTheme, TheComingSoonTheme, and TheAgencyTheme over to the samples package?

Or leave OrchardC

[2019-07-30 11:19] Diman96 opened #3985 "OpenID Connect Settings are not applied from recipe and are not exported into deployment plan"
I use exemple recipe from SaaS recipe and add modules
`"OrchardCore.OpenId",
"OrchardCore.OpenId.Management",
OrchardCore.OpenId.Server"`
and i take exemple recipe step from documentation
[code]
When I launch the site with this recipe OpenID server settings remain default. Also, I can't get the OpenID server settings through the deployment plan with the OpenID server settings.

[2019-07-30 12:42] Flarescape opened #3986 "SQL parameters (limit) not working with ms sql database"
On Gitter, @deanmarcussen and I found out, that parameters are not working with **MS SQL database**.
Exact same example working fine with **SQLite**.

Template:
[code]

Parameters:
[code]

Final SQL Query:
[code]

Error in `AdminController` at this line:
[code]

Error:

`An error occured while executing the SQL query: Incorrect syntax near '@limit'.`

[2019-07-30 12:45] Flarescape commented on #3986
From @deanmarcussen:
Yes, there's something about the generated sql `exec sp_executesql N'SELECT TOP @limit * FROM [ContentItemIndex] WHERE [DisplayText] LIKE ''Main Menu'';',N'@limit bigint',@limit=2` which sql server doesn't like.

[2019-07-30 12:55] deanmarcussen commented on #3986
Generated sql needs to be
`exec sp_executesql N'SELECT TOP (@limit) * FROM [ContentItemIndex] WHERE [DisplayText] LIKE ''Main Menu'';',N'@limit bigint',@limit=2`

Note the brackets around the variable name

[2019-07-30 13:05] Flarescape commented on #3982
Alright, thank's, i really wasn't sure about this behavior.
The "strange" thing about this is, that if you add a field, let's say of type `Media`, remove it and than add a new field of type `Date` then this happens in the database:

Media (added and published):
`..."LandingPage":{"Image":{`**`"Paths":["refs/ref_image.jpg"]`**`}}...`

Media (removed and published):
`..."LandingPage":{"Image":{`**`"

[2019-07-30 15:03] infofromca commented on #451
https://www.strathweb.com/2019/01/collectible-assemblies-in-net-core-3-0/

[2019-07-30 16:14] xperiandri commented on #3985
@PinpointTownes do you have any ideas?

[2019-07-30 16:34] Flarescape opened #3987 "Hint text for link text will not be saved"
I've created a part with a field of type `Link`.
Now if i edit the link field and add a hint to the link text(not placeholder), the hint isn't saved.

Adding a hint to the link url field only also causes a style problem:
![image](https://user-images.githubusercontent.com/1375119/62157602-dc17ba00-b30d-11e9-9b42-b99b3a297a52.png)

[2019-07-30 17:00] #3986 closed

[2019-07-30 19:10] Narnain commented on #2029
@sebastienros @PinpointTownes Is there any update on this?

I see a lot of security related issues are scheduled for RC.

[2019-07-30 19:14] PinpointTownes commented on #2029
@Narnain nope. Would you be interested in contributing?

[2019-07-30 19:16] PinpointTownes commented on #3985
`"name": "openidsettings"` -> `"name": "OpenIdServerSettings"` maybe?

[2019-07-30 19:24] Narnain commented on #2029
@PinpointTownes I would be happy to help where I can.  I see petedavis's comment and mention of a meeting.  Are there any notes or an overview of a plan?

[2019-07-30 19:47] szilardcsere89 commented on #3958
#3978

[2019-07-31 11:53] Piedone commented on #3947
Just to add, the solution described under https://github.com/OrchardCMS/OrchardCore/issues/3198#issuecomment-464502611 is not bulletproof. It'll make the shapes execute multiple times and also can't be used with conditional resource inclusions: if you e.g. include a stylesheet in the shape now, then that state will be "cached" (I don't know what actually happens) and the stylesheet will remain inc

[2019-07-31 12:19] PiemP opened #3989 "Import from Remote Client Microsoft.AspNetCore.Antiforgery.AntiforgeryValidationException: The required antiforgery cookie "..." is not present"
Sorry guys for this question but I can't come out from this problem. I'm try to use Import/Export of Orchard Core to move some data from my old platform to an Orchard Core installation but when I try to post my data I found this message on Orchard log:
`Microsoft.AspNetCore.Antiforgery.AntiforgeryValidationException: The required antiforgery cookie "..." is not present`
I've looked at the code in

[2019-07-31 14:59] Flarescape opened #3990 "Media field and content picker not displayed/working/initialized (js) in current dev branch"
beta-3-71912

![image](https://user-images.githubusercontent.com/1375119/62222964-7cc0b500-b3b4-11e9-8e20-6722eedddbc6.png)

[2019-07-31 17:09] johnrom opened #3991 "Add Scheduled Publish functionality"
Orchard 1 "Publish Later" documentation: https://docs.orchardproject.net/en/latest/Documentation/Saving-scheduling-and-publishing-drafts/

Wondering how we might implement this important content management facility. Should it be in Core? Should it be a module?

- There is already `bool ContentItem.Published` and `DateTime ContentItem.PublishedUtc`. It might make sense to leverage this existing Pub

[2019-07-31 18:05] Skrypt commented on #3990
/cc @jptissot

[2019-07-31 19:21] giannik commented on #3979
Ok, so it has to do with some dependency injections issues in some custom display drivers,
Closing the issue.

[2019-07-31 19:21] #3979 closed

[2019-08-01 19:11] sebastienros commented on #3991
I suggest to do a custom part, that would be added to the content types we want to be able to schedule. And it would use another module that manages scheduled tasks.

It might be related to this issue https://github.com/OrchardCMS/OrchardCore/issues/3187

[2019-08-01 19:13] sebastienros commented on #3989
@deanmarcussen could it be due to the AFT filter order change?

[2019-08-01 19:15] #3958 closed

[2019-08-01 19:19] sebastienros commented on #3984
We can add more metapackages, and it makes sense to have one without themes as most sites will have their own. Not sure it should even have the safe mode one, might not be necessary like it was in o1.

So yes, we could have an empty cms meta package. `Core` or `Empty`, `Blank`, `NoThemes` ... suggestions? Core seems redundant with Orchard Core maybe, or the way we name the projects that are not mo

[2019-08-01 19:20] sebastienros commented on #3977
TODO: Create a guide on how to create a custom admin theme.

[2019-08-01 19:24] sebastienros commented on #3980
This should be defined on each widget. With an option to use it or not. Doesn't have to be using jquery though, it might conflict with the theme, as it will need to use some custom js. There could be some theming issues otherwise. But at the same time, any client-side validation will require some common framework to render the issues consistently,

[2019-08-01 19:25] sebastienros commented on #3976
By design you can have only one stereotype. We don't apply validation right now as it's any string. We could ensure it's a single word, no spaces or commas.

[2019-08-01 19:26] sebastienros commented on #1212
What I mean is instead of storing the created tables, store all the commands (create table, add column, delete table, ...) that the schema builder executed. This way we can still compute all the existing tables, but also what columns are available, and so on.

[2019-08-01 19:27] sebastienros commented on #3975
It should at least be checked on the server side.

[2019-08-01 19:37] sebastienros commented on #3635
- should it be an option of the field to chose which picker to use?
- should the date picker always match the current calendar, at least with its default settings, (if not point 1)?

I see online that there are different date pickers based on the calendar. Maybe we should have an international date picker that can adapt to the current culture, or/and provide custom editor for the date field that l

[2019-08-01 19:40] sebastienros commented on #3973
I think this article is more descriptive of the issue: https://www.w3.org/International/questions/qa-text-processing-vs-metadata

It explains why the `lang` attribute and the `content-language` header are different.

[2019-08-01 22:54] #3987 closed

[2019-08-02 07:19] deanmarcussen commented on #3989
@sebastienros I can't repro, but maybe there is still some thinking to do about that choice of 1000, I will make some further notes on https://github.com/OrchardCMS/OrchardCore/pull/3993

For this issue, @PiemP I think you are using the beta3 from NuGet. The `AntiforgeryValidationExpection` is an issue that was fixed in https://github.com/OrchardCMS/OrchardCore/pull/3622 which is in the MyGet dev

[2019-08-02 08:02] PiemP commented on #3989
Thank you guys....

:bow: sorry sorry sorry...It's my fault. I've made a PUT request not a POST request and Orchard correctly give me an error. :bow:

Now my application work correctly.

[2019-08-02 08:02] #3989 closed

[2019-08-02 08:18] zl2fxy opened #3996 "Add Settings to FieldDefinition, MergeSettings()"
I add Settings to FieldDefinition,using ContentPartFieldDefinitionBuilder.MergeSettings(),
i try add a  data that type is Array or List,it will union OldValue and NewValue rather than replacing，because it set rules of merger at OrchardCore.ContentManagement.Metadata.Builders.ContentBuilderSettings.JsonMergeSettings.
and i try use WithSettings(),it can't set Name of Settings，it accepts only one par

[2019-08-02 08:21] MohitNaroliya opened #3997 "Lucene Query doesn't work with custom module"
I trying to execute a Lucene query to check content item json value and followed below process to execute -
* First enabled Lucene modules.
* Than added a index by Lucene Indices menu.
* Executed a query with match all template but not found any result.
I did rebuild and executed many times and not works at all.

[2019-08-02 10:06] #3997 closed

[2019-08-02 15:26] johnrom commented on #3991
@sebastienros does that it would or wouldn't use `PublishedUtc`? if it doesn't then I'm not sure what the point of PublishedUtc would be, since I think most sorts would want to use the scheduled publish time.

[2019-08-02 16:52] sebastienros commented on #3991
PublishedUtc is the time when it "was" last published. CreatedUtc is the date it was created or first published. A scheduled publishing task module would call `ContentMAnager.PublishAsync()` on this content item which would itself update the `PublisedUtc` value. I suggest you look at O1.

[2019-08-02 19:00] SpencerWaz commented on #3479
@sebastienros You could do the integration tests in docker with a CI specific docker-compose file that uses the sqlserver, mysql etc. images

[2019-08-02 20:01] sebastienros commented on #3537
Note that the storage provider service should not have an method to retrieve the public url, only the media provider (both ways). This is because only the media provider should handle the cdn url. This is also necessary so that the media service can provide the correct value of the url property in graphql.

[2019-08-02 20:25] OksXen opened #3999 "System.Exception: Shape type 'Navigation' not found"
System.Exeption is thrown after enabling 'Navigation' on '/Admin/Dashboard/Settings/Modules/ ' in a Blank Website.

Error Message is below is from the log file.

[code]

[2019-08-03 11:59] PinpointTownes commented on #2029
I'm not aware of anything concrete, but I'm sure it was at least mentioned at some point during a review. Sounds like a good question for @sebastienros 😄

[2019-08-03 12:25] aghili371 opened #4000 "date picker localize css problem"
i set in Persian localization the localize for date picker but it looks wrong in show UI.

![local](https://user-images.githubusercontent.com/24512878/62411886-6c9a1700-b5fa-11e9-8c31-d24b4050b094.JPG)

[2019-08-03 12:25] aghili371 commented on #3954
i think it solved now

[2019-08-03 12:29] aghili371 commented on #3776
any new news for this ability?

[2019-08-03 14:35] hishamco commented on #3776
If you need a temp solution you can use LINQ as I mentioned above, or wait until this feature implemented out of the box

[2019-08-05 08:08] bakintunde commented on #3900
Hi @neolution-ch , could you share some more details on what you did?
How do you keep users for razor pages logically separate from admin users?
Also where did you have to plugin your code for the separate authenticationscheme?
Thanks.

[2019-08-05 14:37] neolution-ch commented on #3900
Nothing fancy or special 🤔 [this article](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-2.2&tabs=aspnetcore2x) pretty much discusses all parts involved.

We just added a second cookie authentication with the `AddCookie()` extension which we use with the overload to define a custom auth scheme string. To use it, we added the `AuthorizeA

[2019-08-06 06:12] hishamco commented on #4000
Good catch .. this is a good shoot to me 😄

[2019-08-06 07:27] hishamco commented on #4000
This should be look like this

![datepicker](https://user-images.githubusercontent.com/3237266/62519698-c84fe480-b834-11e9-999d-bfa7cf45eca0.png)

[2019-08-06 15:07] topdeveloper1001 opened #4004 "graphql module issue."
I tried to setup headless orchardcore cms to use graphql api.
I enabled graphql module, but when I try to use graphql there are some duplicated version errors.
[localhost-1565103628206.log](https://github.com/OrchardCMS/OrchardCore/files/3472900/localhost-1565103628206.log)
anyone can help me?

[2019-08-06 15:10] carlwoodhouse commented on #4004
seen this on prod sites in azure too but never locally, some graphiql issue (think it might have started when we added the explorer @jrestall).

To be clear this just effects the graphiql tool in admin, not the actual graphql api

[2019-08-06 15:11] carlwoodhouse commented on #4004
might also be what @sebastienros referred too on the last podcast about graphql not working in tryorchard ? @agriffard

[2019-08-06 15:11] topdeveloper1001 commented on #4004
this issue is occurred in local host

[2019-08-06 15:13] topdeveloper1001 commented on #4004
i referenced following video.
https://www.youtube.com/watch?v=4o9zG17cfa0

[2019-08-06 17:42] Flarescape opened #4005 "Predefined list(enumeration) dropdown change doesn't trigger preview refresh"
I have a custom widget with a predefined list as dropdown.
The widget has a custom template which outputs different html depending on the dropdown selection.
If i start the preview functionality and change the dropdown value, the preview doesn't refresh the site.

[2019-08-06 18:06] #4004 closed

[2019-08-06 18:24] lorddev opened #4006 "How do I add a sidebar to the Blog theme?"
I see no "Widgets" section to install a sidebar (see http://docs.orchardproject.net/en/latest/Documentation/Managing-widgets/). Can you provide documentation on how to add a Sidebar (recent blogs or archive, for example) to the Blog theme in Orchard Core?

[2019-08-06 22:01] sebastienros commented on #4005
You might be able to provide a fix. Look at the other fields, they are calling jquery event when the values change.

[2019-08-06 22:22] #3938 closed

[2019-08-06 23:02] jrestall commented on #4004
We use the production build of react even in development so I would have expected to have seen this before since there shouldn't be any difference between dev and prod. Can look into it if you can provide more steps to reproduce.

[2019-08-07 03:20] Skrypt commented on #4005
As far as I remember when the values are changed in the Vue.js component but are not saved on every change made to the predefined list values/settings. Though if you would change the value selected it should normally work. Maybe something is missing, I never really looked at what the Preview code is doing but I believe it is calling a refresh of the render of the entire page in an IFrame so I susp

[2019-08-07 08:07] cellpaddding opened #4008 "The DisplayText is null"
In Create Content Task:
{
  "DisplayText":"test",
  ...........
}

I debug in ContentItemIndex,I find that the value of DisplayText is null.

[2019-08-07 12:18] Flarescape commented on #4005
@sebastienros @Skrypt i'll take a closer look at it and let you know, if i find a solution.

[2019-08-07 13:18] infofromca opened #4009 "Use interface to abstract all of kinds of parts"
https://github.com/OrchardCMS/OrchardCore.Commerce/issues/37

[2019-08-07 15:04] #4009 closed

[2019-08-07 17:37] jptissot opened #4010 "Seeing this exception very often"
[code]

I added the NetEscapades.AspNetCore.SecurityHeaders middleware to my project. I'm not sure if that causes any conflicts.

[2019-08-07 18:15] topdeveloper1001 commented on #3114
Hi @sebastienros
I tried to custom api module to headless cms.
at first i added new module named CustomApi to my orchardcore cms.
i followed this guide.
https://orchardcore.readthedocs.io/en/dev/docs/guides/create-modular-application-mvc/
but http://localhost:5000/CustomApi/Home/Index return "not found".
could you help me?

[2019-08-07 18:28] Skrypt commented on #4010
Probably a middleware order issue. It seems that your ISession is Disposed() when it's called by your SecurityHeaders middleware.

[2019-08-08 01:34] cellpaddding opened #4011 "SQLite Error 6: 'database table is locked: ContainedPartIndex'."
SQLite Error 6: 'database table is locked: ContainedPartIndex'.

[2019-08-08 01:40] sebastienros commented on #4011
Repro?

[2019-08-08 03:14] jtkech commented on #4011
And which version, master (nuget) or dev (myget feed)?

[2019-08-08 05:55] davidxchen commented on #3403
How do you re-enable the recipes module? I just accidentally disabled mine. Now, the whole site is showing a blank page.

[2019-08-08 10:22] mobinzk opened #4013 "Media field issue with white space character on the filename"
There seems to be an issue with MediaField for when selecting an image that has white space on the filename. e.g. Profile/profile 1.png.
Selecting the image is fine and can successfully save the content item but after going back to edit the content item, the image doesn't get display and instead I get `Not Found, It will be discarded on saving`.

I've debugged this and found when js tries to get t

[2019-08-08 14:56] jptissot opened #4014 "[Question] about storage / Localization files"
I am deploying an instance of OC on kubernetes. We currently do not plan on scaling across pods (low traffic site).
The `App_Data` folder is mounted to a persistent volume claim to persist the Tenants and Asset files created at runtime.
Since the Localization folder is included in the docker image and is localed under `App_Data/Localization` it get's hidden when we mount the PV to App_Data.

Some

[2019-08-08 16:44] marlon-tucker opened #4015 "Increase Z-Index of "Add Widget" dropdown when editing a content item"
Hello,

Using `1.0.0-beta3-71936`

We have added quite a number of custom widgets to our Orchard system, and as such the drop down menu goes underneath the admin header bar at the top which means the top widget in the list can't be selected.

Also is there any chance of this list being sorted alphabetically opposed to in activation order please.

![image](https://user-images.githubusercontent.com/

[2019-08-08 17:29] hishamco opened #4016 "String.Format is not applied on localized strings"
I quote this from gitter on behalf of @netwavebe

The {0} field is required.
The {0} field is required.
The Title field is required.
This is for two ContentPickerField and one TaxonomyField. I see this line in TaxonomyDriver:

The parameter does contain the correct name. "S" seems to be "NullStringLocalizer", but formatting is not applied there? Looks to me like the arguments are ignored completel

[2019-08-08 17:30] hishamco commented on #4016
I will take a deep look why the format got lost here ..

[2019-08-08 19:17] sebastienros commented on #4015
Do you want to create a PR, at least for the widgets ordering?
And if you have some ideas to make this selected better we are open for it too. Like a real popup, and bonus points if we can use custom thumbnail shapes for each of them.

[2019-08-08 19:17] sebastienros commented on #4015
@matiasmolleja I think you are looking for things to do, right ;)

[2019-08-08 19:29] sebastienros commented on #4014
c.f. we have the same issue in our docker images then: https://hub.docker.com/r/orchardproject/orchardcore-cms-linux/

[2019-08-08 19:33] sebastienros commented on #4014
Mitigation, implement a custom `ILocalizationFileLocationProvider` in a module that returns another static folder.

This could also be an issue if the deployment step contains seed data in the App_data.

[2019-08-08 19:35] sebastienros commented on #4014
We might need a different folder were we put file that are read-only, and not served publicly.

[2019-08-08 19:36] sebastienros commented on #4014
We might need to review this issue https://github.com/OrchardCMS/OrchardCore/issues/3508 such that the localization files are not exported in App_Data then.

[2019-08-08 19:37] sebastienros commented on #4013
probably missing some encoding

[2019-08-08 19:39] sebastienros commented on #3403
@jtkech can you check what is the manual operation to do to re-enable it from the db?

[2019-08-08 19:47] sebastienros commented on #4010
I need to know which exception is first.

[2019-08-08 19:49] #3114 closed

[2019-08-08 19:50] sebastienros commented on #4008
We would love it if you could give more details about how you are hitting these issues, preferably with repro steps so we can either understand what you are doing wrong, or see it locally so we can be sure about the fix.

[2019-08-08 19:51] sebastienros commented on #4006
You need to add a custom Zone (RenderSection) in your layout, then add the name of this zone to the Zones settings, and it will be availble. Open the Layoutfile of your theme and look for "Footer" for instance.

[2019-08-08 19:51] #4006 closed

[2019-08-08 19:54] #3954 closed

[2019-08-08 19:55] sebastienros commented on #3999
Can you provide some repro steps?

[2019-08-08 19:56] sebastienros commented on #3996
Can you try to rephrase? Maybe with an example? It's not clear what you are trying to do.

[2019-08-08 20:16] #3532 closed

[2019-08-09 00:16] jtkech commented on #3403
Sorry jut came back.

In the `ShellDescriptor` table re-add

    {"Id":"OrchardCore.Recipes","AlwaysEnabled":false},

In the `ShellState` table replace

    {"Id":"OrchardCore.Recipes","InstallState":"Up","EnableState":"Down"},

With

    {"Id":"OrchardCore.Recipes","InstallState":"Up","EnableState":"Up"},

[2019-08-09 02:47] Skrypt opened #4018 "OC Modules Areas / SubAreas"
Just a quick reminder that we should support Areas in OrchardCore modules. Right now each module is an Area. Though when you create an Area folder in an OC module right now this is not supported and quite buggy.

Open discussion on the topic. Should it be supported by folder convention like normally in MVC or should we just keep one module = one area.

/cc @jtkech @sebastienros

[2019-08-09 08:12] Skrypt opened #4020 "Nuget Package : Lucene Indexing slow"
Need to find repro

[2019-08-09 09:52] mobinzk commented on #4013
Manage to debug this and the issue was with one of our custom modules. The media field itself doesn't have any issues.

[2019-08-09 09:52] #4013 closed

[2019-08-09 10:31] RajasekarPR opened #4021 "Expand and Collapse not working in WidgetListPart"
@sebastienros Expand and collapse are not working When I try to add bagpart to widget.

Kindly do the needful.

[2019-08-09 12:19] themattkenney commented on #4020
We noticed quite a slow down on CRUD operations with the Lucerne module on.

[2019-08-09 12:34] themattkenney commented on #4018
For us we added areas to one of our custom modules. On our local machines they work fine, but when you deploy to Azure they fail. We added areas to make code separation cleaner in this module as we added more views. Without knowledge that this didn’t work it was a very confusing bug to find Azure and I can see other devs struggling once they deploy to an Azure web app.

[2019-08-09 12:35] themattkenney commented on #4018
The only way we finally figured out what was causing the issue is when @Skrypt let us know this wasn’t supported as the errors on Azure were very generic and hard to track down.

[2019-08-09 13:04] petedavis commented on #3984
The reason that I thought `Core` so that the `OrchardCore.Application.Cms.Targets` would then take a dependency on a new `OrchardCore.Application.Cms.Core.Targets` package, and the themes. Where the Cms.Core.Targets would be everything but themes.

So to opt out of the themes, you can just change `OrchardCore.Application.Cms.Targets` to `OrchardCore.Application.Cms.Core.Targets`

i.e. it is the co

[2019-08-09 15:24] maroonedsia opened #4022 "Upgrade to .NET Core 3.0"
Hi,

Reading the roadmap, OrchardCore RC is planned to be released in Q3 2019.
Now that .NET Core 3.0 will be also released in Q3 2019 (probably September) too, do you have a plan to upgrade and release your RC with .NET Core 3.0?

Thank you!

[2019-08-09 15:27] maroonedsia commented on #4022
I think this pull request has the answer: https://github.com/OrchardCMS/OrchardCore/pull/3398/commits

I blame bad naming for not being able to find it before! :P :D

[2019-08-09 16:46] Skrypt commented on #3974
I'm closing since I was adding the _session.CommitAsync() in that PR from a suggestion made by @jtkech made before he made the shell scope changes.

[2019-08-09 16:46] #3974 closed

[2019-08-09 19:20] Skrypt commented on #4021
Can you show us a screenshot because I'm not sure of what you mean.

[2019-08-09 19:28] sebastienros commented on #4021
Can you also try to do a CTRL+F5 to refresh the scripts?
Also if you can still repro the issue, what version?

[2019-08-09 19:32] Skrypt commented on #4015
https://getbootstrap.com/docs/4.3/layout/overview/#z-index
According to this using a z-index of 1000 on dropdown menu is the standard in BS4.
The issue is that the header is using a z-index of 1020 `$zindex-sticky:` which seems the appropriate var to use in this case. I guess we should then simply use 1000 for every `$zindex-sticky:` item then.

[2019-08-09 19:47] #4015 closed

[2019-08-09 19:55] Skrypt commented on #4005
Ok, I can't repro the issue when adding a TextField with a Predefined List. The preview works appropriately.

![orchard](https://user-images.githubusercontent.com/3228637/62805478-1b889800-babe-11e9-82d9-25481f25438e.gif)

[2019-08-09 19:57] #4005 closed

[2019-08-09 20:21] Skrypt commented on #3944
A BagPart content item boolean field switch doesn't work.
Repro :

![screencapture-localhost-44300-Admin-Contents-ContentTypes-Acme-Create-2019-08-09-16_17_17](https://user-images.githubusercontent.com/3228637/62806552-33155000-bac1-11e9-9ec1-444535e49e1b.png)

Here is the rendered Bootstrap switch :

[code]

If I'm removing the 2 hidden inputs that are placed in between the checkbox and the label

[2019-08-09 20:24] Skrypt commented on #3944
I tested the preview here with the predefined lists to make sure it's working with a BagPart and it worked.

[2019-08-09 20:44] sebastienros commented on #3944
maybe a conflict when there is another one on the page like in the screenshot?

[2019-08-09 20:50] #3794 closed

[2019-08-09 20:51] #4016 closed

[2019-08-09 20:51] Skrypt commented on #3944
Not related to having an other one. I added it on the main content type to see the difference in the HTML rendered but it was not working for the one in the BagPart before I added the one on the main content type.

[2019-08-09 20:53] Skrypt commented on #3944
There is clearly an issue when the hidden inputs are appended since we can see that they are duplicates.

[2019-08-09 20:54] sebastienros commented on #4022
We announced the plan to ship RC with .NET Core 3.0 on Sept 23rd.
And ship an RTM after that, probably together with a service release of .ASP.NET 3.1 that would contain bug fixes.

[2019-08-09 20:54] #4022 closed

[2019-08-09 20:54] Skrypt commented on #3944
Here is the HTML of the main content type one :

[code]

[2019-08-09 21:09] sebastienros commented on #3984
Ok then, nobody else commented so feel free to create this meta package. It should be as easy as copying current file and tweak the references.

[2019-08-09 21:13] #4000 closed

[2019-08-09 21:20] Skrypt commented on #3944
It's not coming from the contentpreview.edit.js.

[2019-08-10 02:57] jtkech commented on #4018
Because a module is already an area, we would need to implement a subarea system with the related attributes, view location expanders and so on. Hmm, maybe not so easy but i'm open to work on it when i will have time and if it becomes a demand and get included in the roadmap.

[2019-08-10 02:59] jtkech commented on #3984
@petedavis good idea ! Then because of the transitive reference don't forget `PrivateAssets="none"`.

[2019-08-10 08:58] #3187 closed

[2019-08-10 14:47] hishamco commented on #4014
What if we create the localization folder during enabling localization module with suitable permissions, also provide away to import language packs at runtime, similar to what I described in the issues that @sebastienros refers to

[2019-08-10 14:59] hishamco commented on #3638
Seems what I asked for is happened https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.ContentLocalization/Manifest.cs#L16 but I forgot to close this 😉

[2019-08-10 14:59] #3638 closed

[2019-08-10 15:46] hishamco commented on #3962
Is anyone started on this or can I make a PR for it?

[2019-08-10 17:21] deanmarcussen commented on #3962
I haven't, so unless anyone else if, go for it 😄

I noticed the other day that it doesn't use the bootstrap alert modals you did, when deleting items, so if you're up for it, that'd be cool too.

[2019-08-10 17:25] hishamco commented on #3962
Sure

I will have a look to this too

[2019-08-10 21:37] bakintunde commented on #3963
@dodyg - has this been resolved? It would require being familiar with oc's displaymanagement features. The training demo module helped me with that.

That markup looks small enough to copy over to every page where it's required.

But in any case, you might want to look at the [training demo module](https://github.com/Lombiq/Orchard-Training-Demo-Module)'s [ShapeInjectionFilter.cs](https://github.c

[2019-08-11 04:32] Skrypt commented on #2778
Solution is to use Exists Queries.
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-exists-query.html

[2019-08-11 14:54] jptissot commented on #4014
I like that idea @hishamco We could embed the po files in the assembly and when enabling the localization module, copy them to the tenant folder under App_Data ?

[2019-08-11 15:01] hishamco commented on #4014
But we need to take care about setting the right permission for `App_Data`, coz @sebastienros already has a doubt about exporting language packs directly into the `App_Data` folder for security purpose 😄

[2019-08-11 16:00] deanmarcussen commented on #4014
If you look at `ModularPoFileLocationProvider.cs` you'll see it already supports loading localization po files from embed'd assemblies.

For your current scenario @jptissot it wouldn't be difficult to implement one that searched one of your modules in the same way it currently searches `App_Data`, so you could just contain the localization files in a module.

Until the nuget localization packages

[2019-08-12 02:45] xiaogewujiu opened #4026 "Using jQuery plug-in in module to report errors"
Hello! When I use the jQuery plug-in in my new module, when I put the plug-in method outside of the "ready" method, the plug-in method works well, but when I put the plug-in method inside the "ready" method, $(...) XXX is not a function.
![XK OG$41NDF3O$PG@4BZ6J](https://user-images.githubusercontent.com/52649684/62848091-70215280-bd0c-11e9-8128-0236a82c9176.png)
![)Q( 3IX74({ RN$8491U{UE](https:/

[2019-08-12 03:32] jtkech commented on #4021
Okay i could repro.

I added to the `Paragraph` widget type a bag part of `BlogPost` type, then i added a `Paragraph` through the layers page and created in its bag part 2 posts. Then i could expand and collapse these `BlogPost`. So it works through the layers page.

Then i tried to do the same but through a `WidgetListPart` that i added to the `Article` type. Then, in an `Article` i could add a `

[2019-08-12 14:44] deanmarcussen commented on #4026
Yes, because jQuery is being loaded at the foot of the theme layout, so after your inline script.

If you use
[code]

this should trigger the Orchard Core script tag helper which will load your script into the foot after jQuery.

Note - you need a reference to `OrchardCore.ResourceManagment` and this line `
@addTagHelper *, OrchardCore.ResourceManagement` in the `_ViewImports.cshtml` file of your

[2019-08-12 16:24] PiemP commented on #3191
I would like to say sorry for my written english.

I'm working on beta 3 Nuget package version 71077 with .NET Core version 2.2.203

I've created a controller that use ContentManager to filter some ContentType by taxonomy term with it's view to present filtered items. Now I want to use it as a widget and add it to a page. I've a couple a question: It's right use ContentManager to filter item by ta

[2019-08-12 19:58] jtkech commented on #3191
Yes, thanks.

It clearly shows that the session does a map on the `TaxonomyIndexProvider` after having disposed the shell scope (and its service provider). This has been fixed in the dev branch by committing the session before disposing the shell scope.

[2019-08-12 21:57] aghili371 commented on #3964
@hishamco do you have time to solve this?

[2019-08-13 00:08] hishamco commented on #3964
I have something to do, but I 'll have a look to it ..

[2019-08-13 04:30] jtkech commented on #3870
@aghili371

    .AddClass("icon-class-fa")
    .AddClass("icon-class-fa-user")

[2019-08-13 07:35] Skrypt opened #4028 "Make Lucene sort on multiple fields"
Right now we can sort only on a single field. We should be able to sort by multiple fields like this :

[code]

[2019-08-13 12:32] ampadashi opened #4030 "Default culture does not apply (in Localization settings)"
The default culture of my application is en-US. When I add fa-IR culture and set it as default, the language of the admin panel will not be changed. The only way to change the language is to remove en-US culture from website which is not a good idea. Even when I add ?culture=fa-ir to the address, it will changed the language of the current page only.

[2019-08-13 12:40] ampadashi opened #4031 "The translation of "Template for a {0} content item in detail views" this phrase will not apply in fa-IR translation."
I've just finished the translation for Persian language. The translation of the phrase "Template for a {0} content item in detail views" doesn't apply when i set  fa-IR culture as default.

[2019-08-13 12:47] ampadashi commented on #4028
There's another important problem in sorting fields using lucene query. If you make a numeric field, Lucene will not be able to sort with that field.

[2019-08-13 12:51] ampadashi opened #4032 "Editing LTR contents from RTL admin panel and vice versa."
The current HTML editor in Orchard Core doesn't let us to change the direction of the html text. So, in multilingual websites, when we create LTR content, we will not be able to edit it from RTL admin panel and vice versa.

[2019-08-13 17:03] Skrypt commented on #4028
I will check but I think there is an issue with everything indexed as a numeric value including range queries who doesn't work as of now.

[2019-08-13 17:03] Flarescape commented on #4005
@Skrypt this only happens to me if the dropdown is inside a widget which is dynamically added to a flow part.
I don't know if that matters, but it's not about the dropdown value itself.
As i've sayed, the value of the dropdown is used to render different html. (liquid if)

[2019-08-13 17:08] Skrypt commented on #4005
I tried with a Flowpart and the value gets also updated. If you have a Liquid "if" it should also work fine as I think the page gets refreshed entirely in the preview. Please provide repro steps with a clean dev branch source code project or join us on Skype/Gitter.

[2019-08-13 17:12] Skrypt commented on #4030
This is not an issue it's working as expected. What you need is a culture picker in the admin which is probably missing an implementation. The proper solution for you is to keep both culture set in OC and to change the priority of cultures in your browser settings by setting fa-IR as the default culture of your browser and to keep en-US as a second choice for now.

[2019-08-13 17:13] #4028 closed

[2019-08-13 17:19] sebastienros commented on #4030
To explain what @Skrypt said differently, even if you set IR as the default language instead of EN, the admin will take what your browser requests first, and we suppose that you have set en before ir in your browser. This is the accept-language header that your browser sends. To be able to force an admin language we need to implement a custom culture picker for the admin, which would have a higher

[2019-08-13 17:47] xumix commented on #3304
What is the preferred way to store and use Orchard's AntiForgeryToken with SPA's like React and Angular? `orchantiforgery_Default` is HttpOnly so I can't access it within my app

[2019-08-13 17:50] Skrypt commented on #3304
@Html.AntiForgeryToken() and then use javasctipt to read this value

[2019-08-13 17:53] Skrypt commented on #4031
Please look in Crowdin translations to find this specific string for your culture. If it's missing then it means that it's simply missing. Look for how to contribute on translation with @agriffard

[2019-08-13 18:16] #3984 closed

[2019-08-13 18:23] xumix commented on #3304
@Skrypt I don't have any views in my app, so I can't use this helper. Even if I add it - it is not secure without the cookie.

[2019-08-13 18:33] Skrypt commented on #3304
Ok, and you say you can't expose `orchantiforgery_Default` because it is HttpOnly.
I think we closed the issue because it's not related to OC directly but more related with how to handle this with ASP.NET MVC. The documentation link looks like explaining how to achieve this, have you tried it yet?

[2019-08-13 18:41] hishamco commented on #4032
As @Skrypt said we already did this before, be sure your culture is set to `fa-IR` to make the editor support RTL

[2019-08-13 18:45] xumix commented on #3304
@Skrypt sure I did look at the docs, will this approach work https://docs.microsoft.com/en-us/aspnet/core/security/anti-request-forgery?view=aspnetcore-2.2#angularjs ?
I'm going to use the token within several apps so I must set the
`options.HeaderName` and `options.CookieName` for the Antiforgery

[2019-08-13 18:48] hishamco commented on #4032
FYI https://github.com/OrchardCMS/OrchardCore/pull/3575

[2019-08-13 18:54] ampadashi commented on #4032
what i mean is to set for example only fa-IR culture which is rtl and be able to manage both rtl and ltr content items using it. Just like other CMSs like Wordpress, Joomla or DNN

[2019-08-13 19:04] Skrypt commented on #3304
I can't say as I've never tried but it seems like the appropriate documentation. I think there is someone who customized OC a lot for SPA usage please look at the community standing videos on Youtube for details. I need to investigate more to see if it would not be duplicate work.

[2019-08-13 19:08] ampadashi commented on #4031
I’ve just finished translating to persian and the status is now 100%. All the phrases have been translated by me carefully. but, this one has not been applied after download the language pack from Crawdin and set it up. I think there’s some kind of problem.

[2019-08-13 19:10] hishamco commented on #4032
Nothing stop you for doing that, nothing but the default flow depends on culture text direction. For instance `fa-IR` culture will flow the direction to RTL, but still you can write `en`

If that is not the case, let us know your scenario

[2019-08-13 19:12] Skrypt commented on #4032
I need to test to understand better. Maybe something that would be related again with admin culture picker.

[2019-08-13 19:14] ampadashi commented on #4030
I usually use google chrome and in its settings, when we move up the Persian language to the top, the language of the browser will change to persian too which it’s not desired. Mostly, Iranian users prefer to set English as the default language of their browsers. So, We must be able to use fa-IR culture without changing the language of the browser. Please let me know your comments.

[2019-08-13 19:32] ampadashi commented on #4032
Hisham, suppose that we have a content type contains content localization part and we create one content item for en-US culture and also localized version of this item for fa-IR. Suppose that the default culture of the admin is fa-IR, so, the language is Persian. When we try to edit the en-US version of this content item with fa-IR culture set, the direction of the inputs must be changed to ltr au

[2019-08-13 19:34] ampadashi commented on #4032
Jasmin, is there any culture picker for admin panel letting us change the current culture of admin panel easily from every page?

[2019-08-13 19:42] ampadashi opened #4034 "Direction of the culture select option element in RTL cultures"
The direction of the culture select option menu in settings > localization mute be LTR in all the cultures. No matter what the direction of the current culture is.
The options in the select menu are written in english and cannot be read easily when the direction of the culture is RTL. So, in all cultures the direction of that select option menu must be LTR.

[2019-08-13 20:07] sebastienros commented on #4030
As suggested then you need a culture picker feature in the admin such that each user will be able to chose the version of the admin.

Another solution, which would not be incompatible, is to add a new setting to select which culture should be used for the admin, with a higher priority than the accept-language header. But a lower one than an eventual culture picker.

[2019-08-13 20:18] Skrypt commented on #4032
No there is none so far. But what you are describing seems like an issue to me. If you are editing a content item that is "fa-IR" it should show the Wysiwyg editor as LTR even if you would use a admin culture picker.

[2019-08-13 21:38] maroonedsia commented on #4022
Thank you, @sebastienros! :-)

[2019-08-13 22:07] sebastienros commented on #4032
Looks like the direction of the editor should depend on the content item's culture and not the admin culture (Thread).

We should introduce some metadata for the culture of a content item so the html editor (and others) don't have a dependency on the localization part. `LocalizationAspect` or something like this in the Localization.Abstractions project.

Then also change the text fields and markdo

[2019-08-14 00:38] hishamco commented on #4032
Amir I just understand the issue right now, because you didn't tell at the first thread it's content localization related

As @sebastienros said that editor should aware about the content localization

So Seb can we do this before 1.0.0 or shall we shift it to 1.1?

[2019-08-14 00:50] sebastienros commented on #4032
Can be done before. Nothing is blocking it.

[2019-08-14 01:29] hishamco commented on #4032
The localization set of is very handy to guide us which culture we are working with, so the direction of the editors should respect that, but this need to override the default behavior

[2019-08-14 01:43] sebastienros commented on #4032
Design:

- Create a `CultureAspect` class in the Localization.Abstractions project. It has a `CultureInfo Culture` property.
- Implement `GetContentItemAspectAsync` in `LocalizationPartHandler` to return a `CultureAspect` with its culture the one of the Localization part.
- In the Html editor (and other ones) call

[code]

Then use the `CultureInfo` RTL property to use in the editor.

[2019-08-14 03:01] ampadashi commented on #4030
I think it’s a good idea. With this solution, even if we set more that two cultures, we can switch easily.

[2019-08-14 06:34] sivakumar715 opened #4036 "Navigation & menu in orchard core"
In the Orchard 1.x , We have feature called **Navigation and Menu** and can be able to add menus/sub menus easily. We can able to use the menu items in the custom menu widget.
http://docs.orchardproject.net/en/latest/Documentation/Navigation-and-menus/

Under Navigation Menu:
![image](https://user-images.githubusercontent.com/54092242/62999154-2c088c00-be8b-11e9-8abd-6960fd08e10c.png)

Under Custo

[2019-08-14 08:58] deanmarcussen commented on #4036
Do you mean like this (sample from the blog theme) ?

![oc-menu](https://user-images.githubusercontent.com/13782679/63007188-12aa1480-be78-11e9-8233-8fb6e0920118.PNG)

The docs for menu are available at https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Menu/

For the widget question, you can now render the menu with a Razor tag helper, or Liquid filter, so you can choose ho

[2019-08-14 10:30] hishamco commented on #4030
@sebastienros what if we tweak the localization middleware little bit by enforcing that localization settings default culture get served first if the localization module is enabled otherwise localization middleware will work as usual.

FYI no need to introduce culture picker in my case

If sound is good I can send a PR for it

[2019-08-14 10:55] hishamco commented on #4032
@sebastienros why `GetContentItemAspectAsync()`  not called?!! When it should called?

BTW I find a simpler way to changed direction of the editors by looking into a culture for the associated content item for the rendered field

[2019-08-14 12:16] jersiovic opened #4037 "Default PermissionStereotypes are used anywhere?"
Method  IPermissionProvider.GetDefaultStereotypes() that all the PermissionProvider implements looks that is useful for nothing. I didn't find any place in the code referencing it. Am I wrong?

Is there any plan of using it in the next future?

[2019-08-14 12:34] jersiovic opened #4038 "Remove Superuser permissions"
I'm trying without success to suppress SuperUserHandler service because I don't want superuser admin has permissions for certain things.
In order to do so, in my custom module Startup.cs file I didthe following:

[code]
To be sure SuperUserHandler is registered previous to that code I added "OrchardCore.Users" as a dependency of my custom module.
In fact, debugging I see that it effectively the ha

[2019-08-14 13:41] hishamco commented on #4032
Seems a new code change introduced a **Content Culture Picker** feature, which register the `LocalizationPart`, this made me crazy 😄 I spent a lot of time on this

I'm not sure if this a better way to register `LocalizationPart`, I expect it will be register on enabling a content localization module

/cc @jptissot

[2019-08-14 19:05] bakintunde opened #4040 "Some thoughts on enhancing OC's permissions"
A couple of thoughts on enhancements around content permissions for OC

Permissions could become primarily, a function of three things:

1. **Which specific content items a user/subject has access to**: OC does not have this at the moment. This can be driven using a new construct called **_groups_** that can be defined in a hierarchical manner to denote team structures

2. **What they can do with

[2019-08-14 21:31] bakintunde commented on #4040
cc
@Skrypt
@jean
@deanmarcussen
@petedavis
@sebastienros

[2019-08-15 05:38] jean commented on #4040
Some feedback ..

In the following I'm referencing DCWorkflow, an implementation that has served Plone well for about 20 years.
Some links:

- Good high-level description: [DCWorkflow's hidden gems](http://www.martinaspeli.net/articles/dcworkflows-hidden-gems)
- Reference docs: [Workflow](https://docs.plone.org/external/plone.app.dexterity/docs/advanced/workflow.html)
- Training material: [Plone W

[2019-08-15 09:59] hishamco commented on #4031
I will have a look to this one and come back to you

[2019-08-15 10:01] hishamco commented on #4034
I will have a look to this one

[2019-08-15 10:33] hishamco commented on #4034
Not all the cultures are written in English, we use `DisplayName`

![CulturePicker](https://user-images.githubusercontent.com/3237266/63089597-0b126a80-bf61-11e9-8888-9a63c8735452.png)

IMHO the culture picker is fine for me as person who reading & writing from RTL

[2019-08-15 10:48] hishamco commented on #4031
@ampadashi could please have a look to `OrchardCore.Templates.pot` in crowdin, if the above localized string is there?

[2019-08-15 10:53] hishamco commented on #4031
FYI I'm not able to edit this in Arabic, if that's your case, I need to ping @agriffard to check what's going on here

[2019-08-15 11:03] hishamco commented on #3572
Seems @jptissot  is already implement this one

[2019-08-15 11:51] #3572 closed

[2019-08-15 12:18] agriffard commented on #4031
The localization of these strings are not working in any language. Ex in French:
![image](https://user-images.githubusercontent.com/703248/63093652-5d09bf00-bf66-11e9-88fe-afc7584e8137.png)

They are loaded here: https://github.com/OrchardCMS/OrchardCore/blob/24bc9c898eb146b1d60d587a81a02cef1025aac7/src/OrchardCore.Modules/OrchardCore.Templates/Settings/TemplateContentTypeDefinitionDriver.cs#L34
b

[2019-08-15 12:27] hishamco commented on #4031
@agriffard if the localization strings in the `.po` file, I will have a look to this issue

[2019-08-15 12:34] agriffard commented on #4031
Yes they are in OrchardCore.Templates.po:

[code]

[2019-08-15 12:43] hishamco commented on #4031
OK, just leave the other things to me, thanks a lot

[2019-08-15 13:43] lthoa opened #4041 "UTF-8 encode"
Content stored in MySql server is UTF-8 but display in HTML source is UTF-8 encoded. How to fix this? Thanks!

**In MySql:**
![image](https://user-images.githubusercontent.com/6874322/63098225-99f0a880-bf9c-11e9-8cee-baba7f2b1c6d.png)

**Display in source code:**
![image](https://user-images.githubusercontent.com/6874322/63098408-12f00000-bf9d-11e9-8d5f-79820e89c858.png)

[2019-08-15 13:49] xumix commented on #2112
Pinging this again since this really limits my usage with Orchard, Microsoft DI cannot even resolve a collection of services if the have multiple registrations.
This code in `IStartup` also does not work
[code]

[2019-08-15 14:56] hishamco commented on #4031
@agriffard again it's a copy paste issue, look to my PR, absolutely you will remember similar issue happened in the past

[2019-08-15 15:11] agriffard commented on #4031
Good catch

[2019-08-15 15:23] ampadashi commented on #4034
When the defult culture is fa-IR, it’s really hard to find the en-US culture😉

[2019-08-15 15:26] hishamco commented on #4034
Why? What's the difference?

Screenshot

[2019-08-15 16:51] sebastienros commented on #2112
I don't understand this, can you provide an example?

Have you tried to clone the source and see what changes we should do to enable this? I don't think any "core" contributor will have time to look into this, but if you are willing to work on that I don't any reason not to do some changes here.

[2019-08-15 16:52] sebastienros commented on #4041
Can you provide some repro steps? Also does it work correctly with other databases?

[2019-08-15 16:54] #4031 closed

[2019-08-15 19:27] sebastienros commented on #4037
If it was not used the roles would not be created with their default permissions. Found it here:
https://github.com/OrchardCMS/OrchardCore/blob/d729a2048a4390380d99e7be9f7968ff8f8e9271/src/OrchardCore.Modules/OrchardCore.Roles/Services/RoleUpdater.cs#L90

[2019-08-15 19:35] sebastienros commented on #4030
What you are suggesting is the same as me if:
- We add a checkbox in the settings to "Use the default culture for the admin interface"
- Create a new culture provider named `DefaultCultureAdminProvider` that would be registered before the accept header one.

[2019-08-15 19:40] sebastienros commented on #4036
Maybe we used to have a link in the admin that would only list the menus, but even in this case it wouldn't have Listable. So I think we should have it Creatable.

So either create a link to List/Manage the menus in the Content section, or make Menu both Creatable and Listable.

[2019-08-15 19:41] #4026 closed

[2019-08-15 19:57] sebastienros commented on #3607
To detect the missing localized strings, we need a custom interface (like IStringLocalizer and IHtmlLocalizer) like `IDynamicStringLocalizer`. By calling this service for dynamic strings, we can do

[code]

We can let the user enter custom strings, and we also can create translation strings providers that can tell the admin page what strings are available. For instance, `ContentTypeTranslationProv

[2019-08-15 20:02] sebastienros commented on #3508
I can't find an advantage of having them as embedded resources as the dlls would still be copied on the filesystem and deployed.

[2019-08-15 20:04] sebastienros commented on #4014
I think to solve this issue we should just support another `localization` folder to put po files in. And probably change the documentation to suggest to put the files there, unless they need to be tenant specific, in which case they will be in the app_data, as they would be part of the tenant's state.

The language packages can just export their files in the `localization` folder too.

[2019-08-15 20:06] sebastienros commented on #3508
Depends on https://github.com/OrchardCMS/OrchardCore/issues/4014

Then have the po files extracted in the localization folder. These packages are not modules/features.

[2019-08-15 20:06] sebastienros commented on #4014
We might need to change the csproj to automate the fact that the localization folder will need to be deployed like the wwwroot is.

[2019-08-15 20:38] arkadiuszwojcik opened #4046 "LayoutTag bug or incorrect documentation"
LayoutTag usage in documentation is shown as:

`{% layout "CustomLayout" %}`

but this is not working. What will work is:

`{% layout "Layout__CustomLayout" %}`

so either it is error in documentation or LayoutTag should internaly append "Layout__" string.

[2019-08-16 01:25] hishamco commented on #4030
It could be checkbox, I was thinking to add it as `LocalizationOption` in the code, and it's on by default unless you don't like the behavior you can override it

While it's scheduled for 1.0.x, I will send a PR at that time

[2019-08-16 02:15] hishamco commented on #3607
The current implementation is return the same localization string if its missing which is the default behavior AFAIK in AspNetCore, so we can use `LocalizedString.ResourceNotFound` property to collect the missing resources in `ContentTypeDefinitionDataLocalizer` and list them in the admin per content type

[2019-08-16 04:20] lthoa commented on #4041
You can see here : https://lastella.edu.vn in source code. Some parts display with UTF-8 anh many parts display in encode.

MySql was set to UTF-8 charset and it work good.

[2019-08-16 04:25] hishamco opened #4049 "DatePicker UI issue"
![DatePicker](https://user-images.githubusercontent.com/3237266/63143456-09938180-bff7-11e9-8409-335c15fbd47e.png)

[2019-08-16 04:54] sebastienros commented on #4041
Repro steps means how should we do on our computer to reproduce the issue. For instance I assume you are using a module to render these. Or are you rendering them from your own template?

[2019-08-16 06:23] lthoa commented on #4041
The same problem if using origine Agency template built-in Orchard Code and update with Vietnamese content. Even the Admin page, HTML source code also displays heterogeneous if we using Vietnamses language UI (set culture to vi)

[2019-08-16 09:10] xumix commented on #2112
@sebastienros I have multiple registered `IService` interfaces, when I'm trying to inject them like `Component(IService[] services)` I have errors that they are not registered. If I register them as `IService[]` - it works.
I'll look into required changes for Autofac integration

[2019-08-16 11:37] arkadiuszwojcik commented on #2112
@xumix instead of `Component(IService[] services)` try: `Component(IEnumerable<IService> services)`

[2019-08-16 13:33] Piedone commented on #3981
On a broader topic this is something that would need unification across the whole solution. I.e. if there is a taghelper for something then let's use that everywhere instead of Html helpers.

[2019-08-16 15:17] xumix commented on #2112
@arkadiuszwojcik the problem is not only this, but also inability to use autofac modules etc

[2019-08-16 15:43] EternityTeam opened #4052 "Administrator menu is not displayed when multi-tenant path prefix is used"
![QQ截图20190816234201](https://user-images.githubusercontent.com/14150259/63179828-92ee9680-c07f-11e9-8c33-7a1e59976f68.png)

[2019-08-16 17:19] sebastienros commented on #4030
This would mean to change it by code and I think it should be simpler for users. Also the current default is totally fine. The new behavior should be triggered by a gesture.

[2019-08-16 17:22] sebastienros commented on #2112
@xumix how is your PR solving this issue

[2019-08-16 17:53] xumix commented on #2112
@sebastienros It allows registering a standard `IServiceProviderFactory<TContainerBuilder` withing orchard configuration, so the `IServiceProvider` that is built for shells and modules is created via this factory `.AddOrchardCms(b => b.UseServiceProviderFactory(new AutofacProviderFactory()))`

[2019-08-16 17:55] ampadashi commented on #4030
Hisham, in a cms, i think it’s so important to be able to apply default culture without changing browser settings. It’s an important issue and it’s better to solve it the version 1, as soon as possible.

[2019-08-16 17:56] xumix commented on #2112
Another option would be finding `Configure{0}Container` methods inside main Startup class and then resolving the factory from the main service collection but this involves much reflection work and basically copying `ConvetionBasedStartup` class code.

[2019-08-17 01:40] hishamco commented on #4030
Yes it's, by changing this property via the admin, like what we did in localization settings

Seems you didn't see my comment **and it's on by default**

I am not authorized to schedule the tasks

[2019-08-17 14:58] agriffard opened #4058 "Change parent admin menu for Lucene and SQL Queries and for Lucene indices"
The parent admin menu for Lucene and SQL Queries and for Lucene indices should be something else than "Site" because it is too vague.

I suggest to make Queries a parent menu in which we will add:
- The current Queries menu and call it All queries.
- The Lucene queries menu with the name "Test Lucene query"
- The Sql queries menu with the name "Test Sql query"

and make a menu Indexing for "Lucene

[2019-08-18 00:35] domonkosgabor opened #4059 "Unify FlowPart css usage instead of having a bootstrap-grid-ext.min.css file in multiple theme"
The TheAgencyTheme and the TheBlogTheme use the bootstrap-grid-ext.css stylesheet to support the styles that you can provide when adding a widget to a content type that has a FlowPart attached. Every time when you set up your page with a theme, you have the ability to set the alignment and the percent of the item.

But why is this stylesheet only available for these two themes? To personalize the

[2019-08-18 02:28] infofromca opened #4061 "can we abstract Azure Blob Storage as a module"
so the OrchardCore.DataProtection.Azure and OrchardCore.Media.Azure can use it .
in future for keyvault ,  media service....

[2019-08-18 14:12] infofromca commented on #1350
stripe off this module, IMO

[2019-08-18 15:49] sebastienros commented on #1350
Yes, we are removing it. It's not maintained anymore and the devs have started another project. But it's nice to show that the modular framework can also work without something else than MVC.

[2019-08-18 15:49] #1350 closed

[2019-08-18 17:28] #4049 closed

[2019-08-19 01:16] #2778 closed

[2019-08-19 03:49] bakintunde commented on #4040
Thanks for the feedback.

I realize there's a lot of stuff here. I will try to unpack this into the different user stories in view later but I'll put my responses inline here for now. These ideas are still preliminary.

The proposed "groups" and "content item access rules" are to extend OC's permissions capability to achieve limiting a set of users to sets of content items unlike now where users w

[2019-08-19 05:04] hishamco commented on #4052
Could you please provide the steps to reproduce the issue?

[2019-08-19 05:06] hishamco commented on #4041
Did you try to use UTF-8 Collation for the MySQL database?

[2019-08-19 05:21] lthoa commented on #4041
I have many apps using MySql UTF-8 and I sure MySql was set to run with UTF-8 charset. I think we need check YesSql

[2019-08-19 05:31] hishamco commented on #4041
I don't think YesSQL will change the collation, could you try to use YesSQL sample with your database to ensure if there's a bug in YesSQL or not

[2019-08-19 05:48] RajasekarPR commented on #4021
@sebastienros Will this be fixed in next release ?

Since we are depend on this widgets on our application.

[2019-08-19 07:46] hishamco commented on #4034
Moving this after 1.0.0

[2019-08-19 07:48] hishamco commented on #4030
@ampadashi you can implement this by yourself if you are on harry, believe it or not there 're a lot of things we should do before 1.0.0 release, the important thing is stability and bug free as much as we can

[2019-08-19 08:20] lthoa commented on #4041
**Startup.cs**
![image](https://user-images.githubusercontent.com/6874322/63249713-34e6cc80-c294-11e9-9d4a-5ec0c163b9fa.png)

**HomeController.cs**
![image](https://user-images.githubusercontent.com/6874322/63249800-6069b700-c294-11e9-9358-1f34568b3b85.png)

**Index.cshtml**
![image](https://user-images.githubusercontent.com/6874322/63249851-7d05ef00-c294-11e9-92ec-cb53eb9a1f17.png)

**And result

[2019-08-19 08:27] hishamco commented on #4041
I 'm not sure, could you please create a repo for this sample including database scripts, I will check it myself

[2019-08-19 08:34] lthoa commented on #4041
This sample simply rendering some strings directly from the MVC web page, do not use the database.

[2019-08-19 09:00] hishamco commented on #4041
I see seems it's encoding issue

[2019-08-19 09:29] hishamco commented on #4041
![vi](https://user-images.githubusercontent.com/3237266/63254670-cfd3ac80-c27c-11e9-8318-e251ca0a50d3.png)

There's no issue related to OrchardCore nor YesSQL, if you talking about the html output, these are html entities because your are using extra symbols

[2019-08-19 09:35] EternityTeam commented on #4052
I've tested that it's okay for new tenants to have URL prefix, possibly because of upgrades from existing tenants. Thank you for your reply.

[2019-08-19 09:35] #4052 closed

[2019-08-19 09:58] jersiovic commented on #4037
Oh sorry thank you.
So, if I add new default permissions for an streotype I need to add code to migrations of the module adding also those permissions if the featured was installed previously. Cause this code is only called by IFeatureEventHandler.Installed

[2019-08-19 10:22] jersiovic commented on #4037
It would be nice I could get through dependency injection RoleUpdater on migrations for  calling RoleUpdater.AddDefaultRolesForFeatureAsync to avoid duplicated code.
Currently only way is requesting all IFeatureEventHandlers and looking for the one it is the RoleUpdater.
An alternative would be to invoke Installed feature event on migrations, but this could cause not desired side effects cause in

[2019-08-19 12:12] sivakumar715 commented on #4036
Thanks for the quick update @deanmarcussen @sebastienros . Please let us know once the Menu content type updated with Creatable and Listable.

[2019-08-19 12:12] #4036 closed

[2019-08-19 12:39] dodyg commented on #3963
Thanks. Let me check the links.

[2019-08-19 12:43] LMSSonos opened #4064 "Layers don't support User object"
I tried to use the User.Identity object in a Layer page. That object seems not to exist there. In the templates it works as expected.

[2019-08-19 13:05] agriffard opened #4065 "Use GitHub instead of Github"
Typo reported on Crowdin.

[2019-08-19 13:08] AmrTealeb commented on #3902
I was trying to run this workflow
![Design_2](https://user-images.githubusercontent.com/6418490/63267765-06b4bd00-c293-11e9-97e9-f59987aa4d60.png)
using this code
`await _workflowManager.StartWorkflowAsync(workflowType, activities.First(), input);`

but the status is Faulted and the error message is "Error Specified argument was out of the range of valid values. Parameter name: column Actual value

[2019-08-19 13:58] agriffard commented on #425
Could be closed when @Skrypt 's indexing and analyzers PRs are merged.

May be we should also add default Search settings in the recipe.

Some kind of Search form or widget would be great too in the Blog Theme (but a Search link could be enough).

Allow to Search in the admin, like in O1, could be postponed or explained in another issue.

[2019-08-19 16:03] jptissot opened #4067 "[Bug] TextField: PredefinedList does not allow setting Option with blank value"
Repro:

1. Add a TextField with the Type of editor as a `Predefined List`.
2. Try to add an option that has a blank value.
3. Save the field options
4. Go back to the field options, the `Predefined List` no longer has the option with a blank value

No error message is displayed

However, setting the option via a recipe works but is removed as soon as you go into the field settings.

[2019-08-19 16:21] jptissot commented on #4067
![bug](https://user-images.githubusercontent.com/4681586/63281955-cdbd1e00-c27b-11e9-8247-c336029a8b47.gif)

[2019-08-19 17:40] #4067 closed

[2019-08-20 03:53] lthoa commented on #4041
It is true that there is no problem regarding OrchardCore as well as YesSql, this is an issue of ASPNET Core.
UTF-8 character set does not require HTML encoding,  all browsers display UTF-8 well in the page source and user interface. HTML encoding increases the webpage size more 2-3 times.
My applications using the old ASP.NET platform do not encounter this problem.

[2019-08-20 06:51] JanEggers opened #4071 "[Question]: replace Orchard Storage Implementation"
hi there.

I am currently building an app based on ms orleans and need some configuration UI.

The idea is that I use the UI part of Orchard to configure the Grains inside the Orleans cluster.

So what I would like to try is create static Content Types that match the grain state i need to configure and then override OrchardCore.ContentManagement.Abstractions/IContentManager
to call into my orleans

[2019-08-20 10:52] jean commented on #4040
TL;DR: I believe that setting permissions once globally is a major limitation of Orchard, DCWorkflow provides an example of setting permissions per state and per item, and I'm trying to explain what DCWorkflow does.

----

OK, I'm going to use item-state for the type of state I'm talking about.
In DCWorkflow this is the only type of state that exists, but Orchard we also have to consider activity-

[2019-08-20 15:39] ampadashi commented on #4030
@hishamco ok, i try. thanks;)

[2019-08-20 15:58] lahma opened #4073 "Upgrade ImageSharp.Web"
[The PR to reduce allocations](https://github.com/SixLabors/ImageSharp.Web/pull/69) was merged, need to wait for release.

[2019-08-20 16:30] jptissot commented on #3402
@sebastienros  I just tried a repro, everything seems to work fine on latest dev

1. Setup new tenant with blank recipe
2. Login to admin, enable taxonomy module
3. Create TaxType ContentType with TitlePart
4. Create new Taxonomy and assign the TermType to the Taxonomy.
5. Save Draft taxonomy
6. Create a bunch of terms

[2019-08-20 16:32] jptissot commented on #3402
[TaxonomiesRecipe.zip](https://github.com/OrchardCMS/OrchardCore/files/3521642/TaxonomiesRecipe.zip)

[2019-08-20 16:37] jptissot commented on #3402
What I did find however is that when Running a DeploymentPlan for a taxonomy, the terms do not get exported properly in the json. IE: The child terms are not exported at all.
Also, if you try to import the zip I just posted, the Taxonomy ContentItem is not restored.

[2019-08-20 16:38] Skrypt commented on #4041
It could be because of encoding we use with Liquid templates. They are using now HtmlEncoder.Default. But I'm surprised because here you say that this happens with a Razor template.

[2019-08-20 16:41] jptissot commented on #3402
Just tried this on our dev instance deployed on kubernetes (which is using Postgresql) and everything works as expected (we mount a Volume to `/App_Data`.

[2019-08-20 16:45] jptissot opened #4075 "Taxonomies Deployment Plans"
Found when testing #3402

Taxonomies are not properly exported when using Deployment Plans. Child Terms are not exported in the recipe.
Importing a taxonomy also does not work when using the "Import Package" feature of the Orchard Admin.

[2019-08-20 16:47] jptissot commented on #3402
@idontbyte Maybe a write permission issue on the App_Data folder ?

[2019-08-20 16:51] jptissot commented on #3405
@Skrypt I would be curious to see if this is still an issue. I have seen something similar in workflows (i forget exactly what I was doing) But if I remember correctly, Sebastien or Jean-Thierry fixed something in the Shell or YesSql that fixed the issue.

[2019-08-20 17:23] Skrypt commented on #3405
I think the issues still remains. We need to check in the RecipeExecutor if it can import drafts (content items with a ContentItemVersionId). We need to first verify if it makes sense to import those drafts. I don't remember exactly what it was doing in 01. Though here the issue is that when we are importing content items it lists also the drafted content items and tries to add duplicates since we

[2019-08-20 17:24] deanmarcussen commented on #4041
Maybe try with `@Html.Raw()` or is that too simplistic?

[2019-08-20 17:34] sebastienros commented on #4041
I think this is because the default `HtmlEncoder` in ASP.NET Core is much less permissive and doesn't take any risk. Look at this piece of code we are using in the benchmarks to opt-in the dash char:

https://github.com/aspnet/Benchmarks/blob/master/src/Benchmarks/Startup.cs#L142-L146

I think you should do the same thing with the range of unicode characters you want to allow.

[2019-08-20 17:36] sebastienros commented on #4041
However there is no option to change it globally for our liquid templates, we use the default html encoder for anything that is outputted as html. It can be changed too but most templates are rendered internally so you can't set the option. I think we should add a global option as for the html encoder to use in liquid.

[2019-08-20 18:18] jptissot commented on #4071
@jpiquot probably has input on this https://github.com/OrchardCMS/OrchardCore/issues/2875

[2019-08-20 19:26] hishamco commented on #4041
I think we add some encoding if I'm not wrong, let me check

[2019-08-20 21:49] aghili371 opened #4076 "problem in run action by jquery"
i wanna call the action from my module by jquery, but it can not run the method and i get "  Bad Request 400 Bad Request" message.

i have this method:
[code]
this jquery:

[code]

[2019-08-20 22:53] hishamco commented on #3576
@agriffard is this issue still happening?

[2019-08-20 22:58] jptissot commented on #4076
I think the URL is not the right one. If you want /SubScription as a url, you need to map that route to your controller in the `Startup.cs` of your module

[2019-08-20 23:24] jtkech commented on #4076
Also it would not work if you are in a prefixed tenant (not the default one) and / or under a virtual folder.

In that case, e.g in a razor view, you would have to init e.g a data attribute with the value returned by an url action, and then retrieve this generated url in your script.

Anyway i think it's better to do it this way.

[2019-08-21 01:10] zzquilt opened #4077 "Typo in roadmap RC Setpember 2019"

[2019-08-21 02:21] lthoa commented on #4041
Adding:
services.Configure<WebEncoderOptions>(options =>
{
      options.TextEncoderSettings = new TextEncoderSettings(UnicodeRanges.All);
});
https://github.com/aspnet/HttpAbstractions/issues/315

into ConfigureServices it works with strings rendered by the MVC controller, but with liquid it doesn't work.

[2019-08-21 02:32] #4014 closed

[2019-08-21 02:36] Skrypt commented on #4041
That's because it is hardcoded
https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore.DisplayManagement.Liquid/LiquidViewTemplate.cs#L114

[2019-08-21 04:48] sebastienros commented on #4041
We could use the same options instance

[2019-08-21 08:16] hishamco commented on #4077
Fixed.. thanks

[2019-08-21 08:16] #4077 closed

[2019-08-21 09:28] sivakumar715 opened #4079 "Custom Widget with BagPart of Link Menu Item under Layers"
I have custom widget with BagPart of Link Menu Item. It's working fine by adding the custom widget in any content item and shows only Name & Url which is expected. But, In the Layers, additionally Title & layer of the widgets are displaying along with this. Is this expected?

**Custom widget in Content item with WidgetsListPart :**
![image](https://user-images.githubusercontent.com/54092242/634201

[2019-08-21 11:27] RajasekarPR commented on #4021
@jtkech @sebastienros Meanwhile, this issue is not happening in Layers Module.

[2019-08-21 14:11] Flarescape opened #4080 "Broke layers by deleting content definition"
Hi!

I have a `layer` called `header` in which i added a `widget`.
I've deleted the `widget content definition`, because i didn't need it anymore and now i can't open the `layer` overview because it throws a `NullReferenceException`.

It's similar to this: #1014

[2019-08-21 14:31] deanmarcussen commented on #4080
I think the content type definition lookup is based on the technical name, so you maybe able to ressurect the definition by creating another with the same `technical name`, and then removing the widget from the layers list and then deleting again.

Note you may also need to add the parts back into the widget, which isn't ideal.

Solution 3 from #1014 sounds like the easier way forward

[2019-08-21 14:41] orchardc opened #4081 "How to programmatically create a custom Content Type instance?"
Assume I have defined a custom "ContentType", call MyPage, which contains the following 3 elements: Description, Image, Title.

Fields
- Description
- Image

Parts
- Title

**Question: How to programmatically create this content type instance in a custom module**? i.e. create a new MyPage instance.

Many thanks!

[2019-08-21 15:19] hishamco commented on #3609
@jptissot I think you implemented this one only, Am I right?

[2019-08-21 17:10] aghili371 commented on #4076
I'm using the default, it's in my theme module. and I'm using a liquid layout. any solution to get url in liquid layout?

[2019-08-21 17:13] jptissot commented on #4010
Just saw the same kind of exception again. A Tenant crashed when we tried to update the smtp settings and I had to hard restart the docker image for the tenant to appear again.

[code]

[2019-08-21 17:18] jptissot commented on #4010
I spoke too soon, Exceptions occuring again with basic navigation

[code]

[2019-08-21 17:33] Flarescape commented on #4080
Ok, that's definitely the better solution.
I just deleted it directly in the db :D

[2019-08-21 17:38] sebastienros commented on #4010
Same question, do you have the timestamps for each exception?

[2019-08-21 17:49] Flarescape opened #4082 "Autoroute for content item inside bag part does not work"
I don't know if this behavior is intended, but if you create a content item with a bag part which can hold content items with the autoroute part attached, the route will not be registered.
If you publish the content item with the bag part, which should publish the new content items inside the bag part too and afterwards open the bag part content via it's autoroute you get a 404 page not found.

[2019-08-21 17:58] Skrypt commented on #4082
I think there's an issue already reported/triaged for this.

[2019-08-21 18:06] Flarescape commented on #4082
Thanks, didn't saw that one.
So for now i have to find some other solution!

I think my workaround will be, that the bag part only contains content items with a simple content picker which holds the actual content item.

[2019-08-21 18:24] sebastienros commented on #4082
The mitigation is to use a Content Item Picker field in one of the bag items.

Duplicate

[2019-08-21 18:24] #4082 closed

[2019-08-21 18:24] #4080 closed

[2019-08-21 18:31] AmrTealeb commented on #3902
@sfmskywalker
Also i have another question about the workflow in previous comment
When i run it the status is always either Finished or Faulted and never Idle or Halted
Shouldn't the Signal Event halt the workflow until the signal is provided?

[2019-08-21 18:33] aghili371 commented on #4076
when i copy method url it calls the method:
https://localhost:5001/SubScription

but in jqury, it doesn't work and i got error alert.

   $.ajax({
                        type: "POST",
                        url: "https://localhost:5001/SubScription",
                        contentType: "application/json; charset=utf-8",
                        data: '{"email":"' + $("#email").val() + '" }',

[2019-08-21 18:34] Flarescape commented on #4082
@sebastienros Thank you! I just did it that way and it seems to work for my purpose.

[2019-08-21 19:15] hishamco commented on #3698
Seems this commit https://github.com/OrchardCMS/OrchardCore/pull/4039/commits/cd771b82cc50b36952923fce401eec4cd40450f7 will fix the issue

[2019-08-21 19:52] jtkech commented on #4076
I think you need an antiforgery token, normally in a form it is auto generated otherwise i think there is an helper to generate it yourself.

    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8F..." />

Then in your script you have to retrieve it an use it

    function moveNode(AdminMenuId, nodeToMoveId, destinationNodeId, position) {
        var url = "@Url.Action("MoveNode",

[2019-08-21 20:18] jtkech commented on #4079
Yes, we only use the render title option through the `LayerMetadata` when wrapping a widget.

Then, when using layers, we need layer rules because rendering a widget is not tied to rendering a given content item, we need instead to define a rule as the predefined `Always` rule meaning that the widget will be shown in any front end themed page.

[2019-08-21 21:23] sfmskywalker commented on #3902
@AmrTealeb A workflow will be halted when execution enters an event activity (such as Signal) *only* if it's not the start of the workflow. If an event is the start of a workflow, the workflow will execute when the event is triggered. The reason it works this way is to allow an event on a workflow to actually cause that workflow to run when the event is triggered, and to halt the workflow when an

[2019-08-21 23:30] Skrypt commented on #4020
It was taking around 7 seconds to do a Publish when there was 1 index and 14 seconds when there was 2 indices. I was suspecting that it was rebuilding the entire index on every publish. I've not been able to repro on the latest branch I worked on.

LuceneIndexingService.cs
[code]

This method here process a specific index or all of them (for background tasks). Though, when publishing a single cont

[2019-08-22 00:35] tmccal2 opened #4083 "Install in Postgresql 10 Fails with InvalidOperationException (Beta 3)"
I ran a beta 3 of OrchardCore and I have encountered this error while installing OrchardCore, resulting in a blank page.
[code]

[2019-08-22 00:39] sebastienros commented on #4083
And it repros constantly? Have you tried with Sqlite too?

[2019-08-22 00:40] tmccal2 commented on #4083
I have tried it with Sqlite and it installed successfully.

[2019-08-22 00:42] sebastienros commented on #4083
As an action I think we should start running the functional tests on PostgresQL too, and maybe on MSSQL and MySQL. AppVeyor supports that.

Example here:
https://github.com/sebastienros/yessql/blob/dev/appveyor.yml#L9-L31

[2019-08-22 01:03] jptissot commented on #4083
I often see this exception as well. Usually it happens if you try to setup a tenant and you make a mistake (forget to set the table prefix for example) this will fail.  Any subsequent attempts to setup the tenant without restarting the site will result in this exception being thrown.

[2019-08-22 01:46] tmccal2 commented on #4083
I have just installed with PSQL 10 setting a prefix. That installation was successful.

[2019-08-22 06:39] hishamco commented on #3371
If is that we need to close this one

[2019-08-22 06:53] jonvee commented on #3507
The select widget in Forms is not complete. I can open a separate issue, but wasn't sure if it was being discussed or handled by someone already.

[2019-08-22 09:51] chinasqzl opened #4084 "How do I rewrite Message alternates?"
I've added Message.cshtml under the theme, but it doesn't work.

[2019-08-22 09:51] chinasqzl opened #4085 "How do I rewrite Message alternates?"
I've added Message.cshtml under the theme, but it doesn't work.

[2019-08-22 09:52] chinasqzl commented on #4085
![image](https://user-images.githubusercontent.com/16968103/63505151-9497de80-c505-11e9-8487-7e6457f11bb8.png)

[2019-08-22 09:53] #4084 closed

[2019-08-22 09:56] #4085 closed

[2019-08-22 12:54] sivakumar715 commented on #4079
Thanks @jtkech for the quick reply.
 I agree with your comment , displaying **Render title & layer rule** for the custom widget in layers sections. But, **Render title & layer rule** are displaying even for the Bag part of Link Menu Item (which is not a widget). Please confirm, is this expected?

![image](https://user-images.githubusercontent.com/54092242/63516065-de82c380-c509-11e9-9dc5-c4323c009

[2019-08-22 13:21] hishamco commented on #2779
I think almost the modules missing that, I will fix this one

[2019-08-22 17:16] jptissot commented on #4010
Talked offline with @sebastienros and found a couple of issues. See https://github.com/sebastienros/yessql/issues/194  for one of the issues.

Second issue being a connection issue between Orchard and the Postgresql database. I am testing OC running on kubernetes using Istio as a service mesh and with mutual tls enabled, I often see  EndOfStreamException in the logs. Disabling mutual tls removes t

[2019-08-22 17:16] #4010 closed

[2019-08-22 19:00] aghili371 commented on #4076
@jtkech  unfortunately, it doesn't works. I'm using liquid layout theme. so i can not use "
`    var url = "@Url.Action("MoveNode", "Node", new { area = "OrchardCore.AdminMenu"})";
`

[2019-08-22 19:20] sebastienros commented on #4076
There is a liquid tag for that:

https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.Liquid/#antiforgerytoken

[2019-08-22 19:20] #4076 closed

[2019-08-22 19:24] sebastienros commented on #4040
@jean can you try to find a recorded video of the User Actions feature in O1 that uses Workflows and is exactly what you are describing?

Does anyone know when/where we demoed it ?

[2019-08-22 19:26] sebastienros commented on #4079
Makes sense, good catch.

[2019-08-22 19:28] sebastienros commented on #3507
@jonvee feel free to start a new issue with what's missing

[2019-08-22 19:28] #3507 closed

[2019-08-22 19:29] sebastienros commented on #3371
No we need to add the declaration to the interface for it to be complete.

[2019-08-22 19:30] aghili371 commented on #4076
sorry, but it still doesn't call the post action. just it calls get action and can don't send the parameter to action.

[2019-08-22 19:30] sebastienros commented on #4083
So the issue is that it ALWAYS fails when there is no prefix?

[2019-08-22 19:31] sebastienros commented on #4020
@themattkenney I am closing the issue, but will reopen if you can describe some repro steps.

[2019-08-22 19:31] #4020 closed

[2019-08-22 19:33] sebastienros commented on #3698
Didn't we merge this PR already? You are pointing to a commit and can't find where it's from

[2019-08-22 19:36] sebastienros commented on #3609
No action to take, we already have a content item picker that handles that, and the domain should be handled with standard redirections (url rewrite)

[2019-08-22 19:36] #3609 closed

[2019-08-22 19:38] sebastienros commented on #4081
Either with a Recipe migration (example in Menu module) or with custom code in a Migration.cs file, example in https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Lists/Migrations.cs

[2019-08-22 19:38] #4081 closed

[2019-08-22 19:39] sebastienros commented on #2885
@hishamco did you just create a new Label UI/UX, I don't recall we did this one

[2019-08-22 19:41] sebastienros commented on #4061
Do you mean to be able to reuse the Azure configuration across different azure services? Or reuse the same Blob Storage configuration for other modules that are dependent on blobs?

[2019-08-22 19:42] #3576 closed

[2019-08-22 19:44] #3402 closed

[2019-08-22 19:44] sebastienros commented on #3402
@idontbyte if you can still repro please share some steps and reopen this issue

[2019-08-22 19:47] hishamco commented on #3698
Nope, here is the PR #4039

[2019-08-22 19:48] hishamco commented on #2885
Yep, to classify those UI related bugs, coz I need to close many of them

[2019-08-22 19:49] sebastienros commented on #4037
Correct, a migration could help. We just need to call the service to add specific permissions to specific roles, but also be careful that some permissions might have been enabled/disabled manually. So a call in a migration should only reflect changes that can't be opposite to the current state. For new permissions it's easy.

[2019-08-22 19:57] sebastienros commented on #4059
The decision was intentionally made for the opposite logic, if you need Flows AND you use Bootstrap then you can copy this file in your theme. Or you can also create a custom one if you don't use bootstrap. Otherwise it requires you to change the default template, which might be less obvious to do, and also would make you have to follow any change that is done to this one.

Another option would be

[2019-08-22 19:58] sebastienros commented on #4058
"Test Lucene queries"

[2019-08-22 20:18] sebastienros commented on #2885
Don't create tags, or tag items aggressively. We have weekly triage meetings and use the updated time to find the issues we need to look into, and today it was a pain to find what to look at because tens of them had been updated.

[2019-08-22 22:26] hishamco commented on #2885
Sorry, my aim was to classify the issues to filter them easily, hope to catch you guys next week on the triage

[2019-08-23 00:11] jptissot opened #4087 "GitHub Issue labeling"
Discussion on how to organize github issues.

[2019-08-23 00:14] jptissot commented on #4087
Would it be possible to implement issue and pr templates for this project. We could have templates for bug, questions, etc .. and the templates could automatically tag the issues with a triage tag. Thoughts ?

[2019-08-23 00:35] jptissot commented on #4083
It's when the prefix already exists in the db.

When this happens the tenant is stuck in a bad state and an app restart is needed (restart the docker container) to be able to setup the tenant successfully.

Repro:
- New tenant, try to set it up when the table prefix is already taken.
- Tenant creation errors out
- Go back to Tenant settings, add table prefix
- Try to setup again. Setup will fail w

[2019-08-23 01:35] os1r1s110 opened #4089 "Feature request - add user permissions (not only via roles)"
Sorry if this is already available and I haven't seen it. I'd like to know if it would  be possible to not only add roles to a user from which permissions would be "inherited" but also specify permissions directly for specific user(s).

This would add flexibility that would prevent having to create "over-specialized" roles just to effectively have some specific permissions applied to user(s)

[2019-08-23 04:20] lthoa opened #4090 "Page Title for sub pages in Agency theme"
In Layout.liquid page of the Agency theme we have:
**<title>{% page_title Site.SiteName %}</title>**

If we create a page of Content Types (e.g: ContentDetail, template is Content__ContentDetail) with permalink and page title, when open the created page then page title always render only the SiteName, of course.

My temporary solution is:
Change in Layout.liquid to:
**<title>{% render_section "Pag

[2019-08-23 05:34] hishamco commented on #4087
May be I label many issues aggressively, my aim was to classify them, but seems this made an issue while the last triage

I suggest to create more labels for modules such as `Orchard.Users`, `Orchard.Localization` .. etc. Also we could create a templates for bugs as @jptissot mentioned

[2019-08-23 08:01] jean commented on #4040
@sebastienros [Orchard 1 - User Task Workflow](https://www.youtube.com/watch?v=iioKQkXUwXA) which was [linked by @bakintunde](https://gitter.im/OrchardCMS/OrchardCore?at=5d5f5a8b142faa4fbd530d4c) demonstrates creating buttons for users to trigger workflow actions, but doesn't touch on state-based permissions.

Orchard implements an activity-based workflow system (which is basically visual scriptin

[2019-08-23 08:15] zclmoon opened #4091 "Swagger not work well"
Hi There,

I was trying to add a swagger module into my project build with OC. I failed after few hours try.

Here goes the startup of the new swagger OC module.

`    public class Startup : StartupBase
    {
        private readonly string _tenantName;

        public Startup(ShellSettings shellSettings)
        {
            _tenantName = shellSettings.Name;
        }

        public override vo

[2019-08-23 09:14] deanmarcussen commented on #4091
Are you using a tenant prefix, i.e. a multi tenant?

I'm not sure the swagger middleware would support that natively, so you may have to add the tenant name to the `c.RoutePrefix = `

[2019-08-23 09:21] infofromca opened #4092 "cron for second and year"
we can consider this lib:
https://github.com/jcoutch/NCrontab-Advanced/commits/master

#1711
#2528

[2019-08-23 10:29] jean commented on #4040
@bakintunde

What would be nice is if there were a `UserPart` that one could add to any content type definition, to enable items to represent users that can log in.

I disagree that the goal is to _model organizational/team structures_. I think it is to _manage permissions_ in a scalable way. The group defines the set of users who get certain roles on certain content items in certain item states.

[2019-08-23 12:48] Jetski5822 commented on #4091
I did this like two years ago https://github.com/Jetski5822/ECom/blob/master/src/ECom.Modules/ECom.Swagger/Startup.cs at an experiment.

dunno if it still works.

[2019-08-23 13:17] bakintunde commented on #4089
Sounds related to the discussion at  #4040.
Is there anything you'd like to add there?

[2019-08-23 16:03] os1r1s110 commented on #4089
Not sure to see how it directly relates to content items permissions... I saw #4040 is about permissions enhancements but it didn't really seem to mention anything about adding a link between user and permissions to the existing user - > role - > permission link

[2019-08-23 16:27] LMSSonos opened #4093 "Wrong sequence/order when redering parts through Model.Content"
I have a LandingPage with 2 Parts, lets assume IntroPart and BlogPart (configured in that seqeunce). Then I have

The template Content__LandingPage contains only following code:
` {{ Model.Content | shape_render }}`

The LandingPage__IntroPart and LandingPage__BlogPart template contain something like that
[code]

With that setup I want that each part has it's own html-render logic, so I can reuse

[2019-08-23 16:31] sebastienros commented on #4093
I don't think we are applying the order that is specified in the content type definition for the front-end. I think it's just for the admin. For the front end we use Placement rules, including `placement.info` files. With this you will set the order of each shape. You can even hide them. And you won't need to create a custom template.

[2019-08-23 17:10] jonvee opened #4094 "Forms Module - Select Widget not working/complete"
When using the Forms Module, the Select Widget only has fields for Name and ID. There is no means to add options or add an actual select element to the form.
My current workaround is adding a liquid widget to the form and hard coding the html.

I only briefly looked at the source code and it appears unfinished.

[2019-08-23 17:21] jptissot commented on #4094
I had the same issue. I ended up creating a SelectInput type with a bag of SelectOption type and implementing the templates myself.

[2019-08-23 17:28] bakintunde commented on #4089
You're right. That specific case is not mentioned in the issue yet.
But it might be great to incorporate it into the mix as both issues talk about enhancements to permissions.
Better to consider as many sides in the approach so we can collaborate on the related issues.
I could incorporate it in any case.

Thanks.

[2019-08-23 18:59] jptissot opened #4095 "ContentCulturePicker documentation"
Add liquid examples to Content Localization documentation

[2019-08-23 19:00] jptissot opened #4096 "Guide: How to localize the Agency theme"
Write a guide on how to localize the Agency Theme

[2019-08-23 19:08] hishamco commented on #4096
It would be nice if we can do it for both Razor & Liquid

[2019-08-24 02:53] chinasqzl opened #4097 "metadata.AdminRouteValues，EditorRouteValues Same"
![image](https://user-images.githubusercontent.com/16968103/63631621-ffa7f900-c65c-11e9-8c24-3032c4c1a7e2.png)

metadata.AdminRouteValues，EditorRouteValues Same
{"Action", "Edit"}   =>  {"Action", "Display"}
？？

[2019-08-24 06:54] lahma commented on #4092
I've heard [Quartz.NET](https://www.quartz-scheduler.net/) also offers a nice set of features and database-backed  persistence 😉

[2019-08-24 08:42] dodyg commented on #3553
`IPermissionProvider` now asks for `Task<IEnumerable<Permission>> GetPermissionsAsync()`

An example is here
https://github.com/OrchardCMS/OrchardCore/blob/c65ed0958abe5ea4da4a523cace6bf430f80870a/src/OrchardCore.Modules/OrchardCore.Apis.GraphQL/Permissions.cs

[2019-08-24 08:53] dodyg commented on #3553
This is super cool `Adds Liquid Razor Extension Method & Markdown Helper parses liquid`
https://github.com/OrchardCMS/OrchardCore/pull/3992

It makes writing blog post in markdown and attaching images much easier.

[2019-08-24 08:53] dodyg commented on #3553
Oops.

[2019-08-24 13:19] AmrTealeb commented on #3902
@sfmskywalker
Thank you for your help
I removed the `HttpRequestEvent ` , now when i run the workflow it is `Halted` as expected
but when i trigger the event using
`await _workflowManager.ResumeWorkflowAsync(workflow, activity, input);`
The workflow is `Faulted` with error message
`Unable to cast object of type 'OrchardCore.DisplayManagement.Liquid.LiquidViewTemplate' to type 'Esprima.Ast.Program'

[2019-08-24 16:26] agriffard commented on #3508
If we manage to generate some .nupkg packages with .po files inside (ex: OrchardCore.Translations.Fr) and reference it in an app, will it work when we publish it?

/cc @jtkech

[2019-08-25 17:11] infofromca opened #4100 "make the function of autoroute in widget enable (disable)"
when i use `
 https://localhost:44300/Contents/ContentItems/47h74wd94nj3pt0rfmsepzz05a`

it can not render the shape,when it is a widget.
-------------
but  it can be showed when it is contentType.
-----
sometimes I need to show contentItem  for the widget.

[2019-08-25 20:14] jptissot commented on #4100
What are you trying to do? You are trying to render a content item but it's a widget?

[2019-08-25 20:51] jtkech commented on #3508
There are different ways but based on the above comments a solution would be.

- A localization package could hold po files (not embedded in the assembly but part of the package) and **an msbuild script** so that, when building an application that references it, the po files would be copied to the app `Localization` folder.

- Then, output this folder on publishing, as it is already done and with

[2019-08-26 07:03] dodyg commented on #3553
This is the website I've been working all these time

https://www.silverkeytech.com/

[2019-08-26 07:37] LatinaAtanasova commented on #3553
Well done! :)

[2019-08-26 07:59] deanmarcussen commented on #4097
Yes, the default Editor and Admin Controller are able to use the same Controller Action.

However you can override the default `ContentItemMetadata` Aspect on a content type / part to provide different route values for any of the actions
- CreateRouteValues
- EditorRouteValues
- AdminRouteValues
- DisplayRouteValues
- RemoveRouteValues

This would allow you to use a custom controller, rather than

[2019-08-26 10:13] infofromca commented on #4100
I think so. but maybe it is difficult

[2019-08-27 06:56] #4097 closed

[2019-08-27 07:26] arkadiuszwojcik commented on #4090
How do you render ContentDetail? I had simillar problem and had to render whole shape to make title appear in header. My code is:

`{% shape_remove_item Model.Content "ArticlePart" %}`
`{{ Model.Content | shape_render }}`

but when I was using code like this:

`{{ Model.Content.MarkdownBodyPart | shape_render }}`

it didn't work.

My guess is that TitlePart have to go through some shape processing

[2019-08-27 08:13] dodyg commented on #3553
Will do

[2019-08-27 11:57] Flarescape opened #4104 "Liquid date format not working with time in seconds"
Today I came across a strange, very specific problem.
Like many examples online, i just wanted to add days to a date "now".
The problem is, that the date parse works fine until you want to parse it back from seconds.
I've tried multiple solutions, but nothing will be displayed if you want to parse it back to a normal date or something.
This is the example i've found online:
[code]

_--copied from

[2019-08-27 14:24] hishamco commented on #4104
If this a bug, please move it to Fluid repo, I will check it then

[2019-08-27 15:36] hishamco commented on #4096
Please let me know if you need help on this one

[2019-08-27 16:04] hishamco commented on #4096
I asked in gitter can we do it in both Razor & Liquid?

[2019-08-27 16:29] hishamco commented on #4096
Is there any docs for localization a website in OrchardCore, if NO, I think we need to do it

[2019-08-27 16:39] hishamco commented on #3508
What if we could imported via Admin section?

[2019-08-27 18:49] urbanit opened #4105 "Migrating to Tasks 2.0.0"
Should we upgrade tasks to version 2.0.0?
[https://code.visualstudio.com/docs/editor/tasks#_convert-from-010-to-200](https://code.visualstudio.com/docs/editor/tasks#_convert-from-010-to-200)

[2019-08-27 18:55] urbanit commented on #4105
If so, possible candidate:
[https://github.com/urbanit/OrchardCore/blob/tasks_2/.vscode/tasks.json](https://github.com/urbanit/OrchardCore/blob/tasks_2/.vscode/tasks.json)

[2019-08-27 18:56] hishamco commented on #4105
Is there useful things that allow us to migrate?

[2019-08-27 19:04] LMSSonos commented on #4093
Thanks for the information. Is there any documentation/example about the ```placement.info``` i tried to search the repo but could not find a helpful example. The other idea working around is to use a Bag and add the parts into the bag here the sorting looks good. I used then

[code]

[2019-08-27 20:28] urbanit commented on #4105
It wouldbe useful in Multi-root Workspaces in VS Code..

[2019-08-28 02:18] lthoa commented on #4090
ContentDetail is a Content Types created in Admin page and Content__ContentDetail is template of the ContentDetail.

![image](https://user-images.githubusercontent.com/6874322/63820766-ac8fb800-c974-11e9-9a13-a1d34fc304d5.png)

You render ContentDetail by create a page from menu New/ContentDetail

![image](https://user-images.githubusercontent.com/6874322/63820776-ba453d80-c974-11e9-9bef-ba55c03f4

[2019-08-28 03:29] mattcrossmarc opened #4107 "Guidance on stateless configuration"
I'm working on building an OrchardCore based web application that will be hosted in AWS on autoscaling containers where state is not preserved.

I understand the need to store data protection keys centrally and plan to use this provider to store them in AWS SSM:

https://aws.amazon.com/blogs/developer/aws-ssm-asp-net-core-data-protection-provider/

And, from the comment linked below, it sounds lik

[2019-08-28 09:03] deanmarcussen commented on #4107
Orchard Core will work well on AWS, I've had it running on EC2 instances for a POC.

However Distributed services for Orchard Core is still a work in progress by @jtkech . See https://github.com/OrchardCMS/OrchardCore/pull/2247 for some details on the wip, and what issues multiple instances have (namely caching redistribution, often for the admin)

2. S3 will work well as a abstracted media storag

[2019-08-28 12:53] PiemP opened #4109 "Taxonomy field required validation doesn't work with unique options"
I'm sorry for my written english.

I'm on dev branch and I'm trying to use the funcionality of taxonomy module. When I edit my content type with its taxonomy field I have see that required validation check doesn't work when unique option is selected.

I have checked the TaxonomyFieldDriver.cs file and I have seen this code where I believe come out the problem.

[code]

[2019-08-28 13:29] Habbni opened #4110 "Pager does not work in 1.0.0-beta3-72198"
Hi,
is this a known issue? the pager html is being rendered, but the (prev/next page) links are not being generated.

this can be reproduced easily: just load up a new application with build 72198. Change the blogs list size to 2. Enter three posts. Try the pager - nothing happens.

it stopped working somewhere between the beta3 release and the current dev 1.0.0-beta3-72198 i suppose

[2019-08-28 15:34] deanmarcussen commented on #4110
Yes, I can repro.

It's since https://github.com/OrchardCMS/OrchardCore/pull/3930

@jtkech for info I think it's recognising /blog as the homeroute in `AutoRouteRoute`, and returning.

The pager seems fine on a page which is not the homeroute

[2019-08-28 16:01] jtkech commented on #4110
Okay thanks, need to leave, i'll fix it this night.

[2019-08-28 17:19] jptissot opened #4112 "[Workflows] Http Request Event should not store tenant prefix"
When exporting a workflow with the Http Request Event, the url is exported with the tenant prefix. We have to manually edit the exported json to remove the prefix. It would be better if the tenant prefix was not stored.

[2019-08-28 18:36] jeremycook opened #4113 "Configure App_Data folder location?"
Is it possible to configure OC to look elsewhere for the App_Data folder? We tend to keep config and data, separate from code. This is also the best way to guarantee that App_Data doesn't get accidentally blown away when using Web Deploy. (So sad when that happens.)

This is a common config for me:

* example.com/
    * App_Data/
    * website/
        * wwwroot/
        * ExampleSite.dll

[2019-08-28 21:31] jeremycook commented on #1212
As much as I like the uniformity of requiring a prefix. I also like tables without prefixes when there will only be one tenant per database. So tracking generated tables seems best since it allows for the option to not prefix tables (and is the safest, of course).

[2019-08-28 21:38] #4113 closed

[2019-08-28 21:42] #4110 closed

[2019-08-28 22:12] jeremycook opened #4119 "Order of group on Admin Features page"
The groups of features on the Admin Features page appear in some (seemingly) random order. I just created the default tenant and these are how the groups are sorted.

1. Application
2. Configuration
3. Infrastructure
4. Content Management
5. Api
6. ...

[2019-08-28 23:35] sebastienros commented on #4104
Until OC is updated with this new version, you can reference the version `1.0.0-beta-9588` of the package from your own project and it will use this one instead.

[2019-08-29 00:57] sebastienros commented on #2894
Replaced by #4120

[2019-08-29 01:30] #3753 closed

[2019-08-29 12:08] dodyg opened #4121 "Implementation notes for traditional CMS"
In the vein of https://github.com/OrchardCMS/OrchardCore/issues/3553, I am starting another website using the traditional CMS model.

* I start with a blank theme.
* Sqlite
* Multi Language website (English and Arabic)

[2019-08-29 19:25] hishamco commented on #4121
If you need any kind of help in Arabic, ping me :)

[2019-08-29 19:41] #2894 closed

[2019-08-29 19:42] sebastienros commented on #4119
Should it be ordered alphabetically?

[2019-08-29 19:44] sebastienros commented on #4107
My only concern is with `tenants.json`. If you had to create tenants dynamically that would be an issue. I think we should provide an implementation to support it before RC /cc @jtkech .

[2019-08-29 19:45] sebastienros commented on #4109
Do you want to submit a PR that would fix it?

[2019-08-29 19:48] jeremycook commented on #2029
I am interested in pt. 2: "I want a local users database but I don't want to support password authentication. For that, my users have to log in using one or multiple external providers." We have an existing idp and that I want to run all authentication through. Is this possible today? If not, if you guide me I'd be happy to work on making this possible.

[2019-08-29 20:03] sebastienros commented on #4061
You can already define these settings for each module that uses Azure.

Example:
https://orchardcore.readthedocs.io/en/dev/OrchardCore.Modules/OrchardCore.DataProtection.Azure/

[2019-08-29 20:03] #4061 closed

[2019-08-29 20:04] sebastienros commented on #4090
Is the question answered?

[2019-08-29 20:07] sebastienros commented on #4093
https://orchardcore.readthedocs.io/en/dev/OrchardCore/OrchardCore.DisplayManagement/#placement-files

[2019-08-29 20:07] #4093 closed

[2019-08-29 20:16] sebastienros commented on #4100
There is already an issue about, someone will add a link here. The idea is that it will require more changes to be able to do it, and if you need to link to sub items then you can use a Content Picker Field instead.

[2019-08-29 20:16] #4100 closed

[2019-08-29 20:17] #4089 closed

[2019-08-29 20:18] sebastienros commented on #4091
Please let us know if the recommendations work for you

[2019-08-29 20:23] sebastienros commented on #4087
Labels are nice as long as they are used/useful. We don't have clear owners for them, so they don't really add value for now, we don't even use the existing ones. Adding more would just be more work.

Change my mind

[2019-08-29 20:25] sebastienros commented on #4087
Templates, why not. But simple ones.

[2019-08-29 20:30] Jetski5822 commented on #4087
Not a fan of templates;

Issue labels - we need to trim back to only the ones we use

[2019-08-29 20:32] agriffard commented on #472
Can we imagine to have a UI like this to manage the fields and parts in a content type definition?
A list of fields and parts on the left and on click, allow to edit the selected one:
https://i.octopus.com/blog/2019-08/octopus-release-2019.8/deployment-process-sidebar.gif

[2019-08-29 20:34] hishamco commented on #4087
I can do that, believe me it's easier to classify the issue by modules at least as well as bugs

[2019-08-29 20:36] jptissot commented on #4087
I was thinking 1 template for question (which would apply the question label), 1 template for bugs and 1 for feature request.

[2019-08-29 20:44] jptissot opened #4123 "Should ISlugService be moved in another Project"
It is currently in the Liquid module but I feel this belongs somewhere else?

https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Liquid/Services/SlugService.cs

[2019-08-29 21:02] hishamco commented on #4123
If it will play nicely with AutoRoute, I can suggest to move there

[2019-08-29 21:14] jeremycook commented on #4119
Yeah, alphabetically seems like the least surprising order.

[2019-08-29 22:02] sebastienros commented on #4119
Please create the PR if you find some time

[2019-08-29 22:03] sebastienros commented on #472
Have you looked at the Drupal one actually? There are some YT videos you can probably watch and link here.